﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.VCoolViewModel
@{
    string BaseCrudeName = "";
    if (Model.CooSpiralList.Any())
    {
        BaseCrudeName = Model.CooSpiralList[0].crude;
    }
}

@{
    if (Model.CooSpiralList.Any())
    {
        <div class="task-box">
            <div class="wrapper-table collapse in" id="collapseJuly" style="height:320px;overflow:scroll;">
                <table class="table table-hover display" cellspacing="0">
                    <thead>
                        <tr>
                            @{int j = 0;}
                            <th style="width:100px">Yield(%wt)</th>

                            @foreach (var item in Model.CooSpiralList.GroupBy(x => x.crude))
                            {
                                <th style="width:150px" class="@item.Key.ToUpper().Replace(" ", "_").Replace(")", string.Empty).Replace("(", string.Empty)">@item.Key</th>
                            }
                            @foreach (var item in Model.CooSpiralList.GroupBy(x => x.crude))
                            {
                                if (item.Key != BaseCrudeName)
                                {
                                    <th style="width:150px" class="@item.Key.ToUpper().Replace(" ", "_").Replace(")", string.Empty).Replace("(", string.Empty)">Delta @BaseCrudeName - @item.Key</th>
                                    <input name="crude_compare.comparison_json[@(j)].selectedCrude" type="hidden" value="@item.Key" />
                                    <input name="crude_compare.comparison_json[@(j)].isChecked" id="@(item.Key.ToUpper().Replace(" ", "_").Replace(")", string.Empty).Replace("(", string.Empty) + "s")" type="hidden" value="Y" />
                                    j++;
                                }
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @{int i = 0; int index = 0;}
                        @foreach (var item in Model.CooSpiralList.OrderBy(x => x.crude).GroupBy(a => a.header))
                        {
                            <tr>
                                <td>@item.Key</td>
                                @foreach (var z in Model.CooSpiralList.Where(a => a.header == item.Key).Distinct())
                                {
                                    <td class="@z.crude.ToUpper().Replace(" ", "_").Replace(")", string.Empty).Replace("(", string.Empty)">@z.value</td>
                                }
                                @foreach (var z in Model.CooSpiralList.Where(a => a.header == item.Key).Distinct())
                                {
                                    if (z.crude != BaseCrudeName)
                                    {

                                        var base_value = Model.CooSpiralList.Where(a => a.crude == BaseCrudeName && a.header == z.header).FirstOrDefault() == null ? "0" : Model.CooSpiralList.Where(a => a.crude == BaseCrudeName && a.header == z.header).FirstOrDefault().value;
                                        var values = string.IsNullOrEmpty(base_value) || base_value == "N/A" || string.IsNullOrEmpty(z.value) || z.value == "N/A" ? "N/A" : (Convert.ToDouble(!string.IsNullOrEmpty(base_value) ? base_value : "0") - Convert.ToDouble(!string.IsNullOrEmpty(z.value) ? z.value : "0")).ToString();
                                        <td class="@z.crude.ToUpper().Replace(" ", "_").Replace(")", string.Empty).Replace("(", string.Empty)">@values</td>

                                        <input name="crude_compare.yield[@(index)].order" type="hidden" value="@(i + 1)">
                                        <input name="crude_compare.yield[@(index)].yield" type="hidden" value="@(item.Key)">
                                        <input name="crude_compare.yield[@(index)].base_value" type="hidden" value="@(base_value)">
                                        <input name="crude_compare.yield[@(index)].compare_crude" type="hidden" value="@(z.crude)">
                                        <input name="crude_compare.yield[@(index)].compare_value" type="hidden" value="@(z.value)">
                                        <input name="crude_compare.yield[@(index)].delta_value" type="hidden" value="@(values)">
                                        index++;
                                    }
                                }
                            </tr>
                            i++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    else
    {
        <p>No data!!!</p>
    }
}