﻿@using System.Web.UI.WebControls;
@using DevExpress.Web.Office;
@model string
@{
    Layout = "~/Areas/CPAIMVC/Views/Shared/_FinalCAMLayout.cshtml";
}

<style>
    body {
        zoom: 75%;
    }
</style>

<script>
    document.getElementsByTagName("BODY")[0].onresize = function () {
        if (msieversion()) {
            $('#spreadsheet').css({ 'height': '100%', 'width': '130%' });
            $('body').css({ 'height': '125vh', 'width': '100%', "overflow": "hidden" });
        }
        else {
            $('body').css({ 'height': '125vh' });
        }
    };
    document.getElementsByTagName("BODY")[0].onload = function () {
        if (msieversion()) {
            $('#spreadsheet').css({ 'height': '100%', 'width': '130%' });
            $('body').css({ 'height': '125vh', 'width': '100%', "overflow": "hidden" });
        }
        else {
            $('body').css({ 'height': '125vh' });
        }
    };

    function msieversion() {
        if (navigator.appName == 'Microsoft Internet Explorer' || !!(navigator.userAgent.match(/Trident/) || navigator.userAgent.match(/rv:11/)) || (typeof $.browser !== "undefined" && $.browser.msie == 1))  // If Internet Explorer, return version number
        {
            return true;
        }
        else {
            return false;
        }
    }
</script>

@{
    try
    {
        var fileName = Model ?? string.Empty;
        var filePath = Path.Combine(AppDomain.CurrentDomain.BaseDirectory, fileName);

        DocumentManager.HibernationStoragePath = Server.MapPath("~/App_Data/HibernationStorage/"); //Required setting
        DocumentManager.HibernateTimeout = TimeSpan.FromMinutes(30); //Optional setting
        DocumentManager.HibernatedDocumentsDisposeTimeout = TimeSpan.FromDays(1); //Optional setting
        DocumentManager.HibernateAllDocumentsOnApplicationEnd = true; //Optional setting
        DocumentManager.EnableHibernation = true; //Required setting to turn the hibernation on

        @Html.DevExpress().Spreadsheet(
     settings =>
     {
         settings.Name = "spreadsheet";
         settings.Width = Unit.Percentage(100);
         settings.Height = Unit.Percentage(100);
         settings.ActiveTabIndex = 1;
         settings.ShowConfirmOnLosingChanges = false;
         settings.RibbonMode = SpreadsheetRibbonMode.None;
         settings.ShowFormulaBar = false;
         settings.ShowSheetTabs = true;
         settings.SettingsDocumentSelector.EditingSettings.AllowRename = false;
         settings.ReadOnly = true;
         settings.Init = (s, e) =>
         {
             MVCxSpreadsheet spreadsheet = (MVCxSpreadsheet)s;
             //DocumentManager.CloseAllDocuments();
             DocumentManager.CloseDocument("spreadsheet");
         };
         settings.PreRender = (s, e) =>
         {
             MVCxSpreadsheet spreadsheet = (MVCxSpreadsheet)s;
             spreadsheet.Document.LoadDocument(filePath);
             foreach (var Worksheet in spreadsheet.Document.Worksheets)
             {
                 Worksheet.ActiveView.Zoom = 50;
                 Worksheet.ActiveView.ShowGridlines = false;
             }
         };
     }).GetHtml()

    }
    catch (Exception ex)
    {
        var fileName = Model;
        var filePath = Path.Combine(AppDomain.CurrentDomain.BaseDirectory, fileName);
        @String.Format("Cannot load file '{0}' on path '{1}', See more details: {2}", fileName, filePath, ex.Message)
    }
}

<script>
    $(document).ready(function () {
        $("#spreadsheet").dblclick(function () {
            $('.dx-dialog').hide();
            $('.dxpcModalBackLite').hide();
        });
        //$(".k-spreadsheet-action-bar").remove();
        //document.body.style.zoom = "50%";
    });

    window.alert = function () { };
</script>