﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.VCoolViewModel
@{
    ViewBag.Title = "Crude Purchasing";

    if (Model.pageMode == null)
    {
        Model.pageMode = "EDIT";
    }
    if (Model.buttonMode == null)
    {
        Model.buttonMode = "AUTO";
    }

    List<SelectListItem> tpc_plan_month = new List<SelectListItem>();
    List<SelectListItem> loading_month = new List<SelectListItem>();
    loading_month.Add(new SelectListItem { Text = "Jan", Value = "Jan" });
    loading_month.Add(new SelectListItem { Text = "Feb", Value = "Feb" });
    loading_month.Add(new SelectListItem { Text = "Mar", Value = "Mar" });
    loading_month.Add(new SelectListItem { Text = "Apr", Value = "Apr" });
    loading_month.Add(new SelectListItem { Text = "May", Value = "May" });
    loading_month.Add(new SelectListItem { Text = "Jun", Value = "Jun" });
    loading_month.Add(new SelectListItem { Text = "Jul", Value = "Jul" });
    loading_month.Add(new SelectListItem { Text = "Aug", Value = "Aug" });
    loading_month.Add(new SelectListItem { Text = "Sep", Value = "Sep" });
    loading_month.Add(new SelectListItem { Text = "Oct", Value = "Oct" });
    loading_month.Add(new SelectListItem { Text = "Nov", Value = "Nov" });
    loading_month.Add(new SelectListItem { Text = "Dec", Value = "Dec" });
    tpc_plan_month = loading_month;

    List<SelectListItem> tpc_plan_year = new List<SelectListItem>();
    List<SelectListItem> loading_year = new List<SelectListItem>();
    int year = DateTime.Now.Year;
    int max_year = year + 5;
    int min_year = year - 5;
    for (int i = max_year; i >= min_year; i--)
    {
        loading_year.Add(new SelectListItem { Text = i + "", Value = i + "", Selected = (i == year) ? true : false });
    }
    tpc_plan_year = loading_year;
    string month_now = DateTime.Now.ToString("MMM");
}

<style>
    .modal-lg {
        width: 100%;
        padding: 17px;
        padding-right: 0px;
        max-height:250px;
    }

    .modal-dialog {
        margin: 0 auto;
    }

    .table > tbody > tr > td {
        vertical-align: middle;
    }

    .bootbox {
        padding: 100px;
    }
</style>

<div class="wrapper-detail">
    <div>
        <h1>@ViewBag.Title</h1>
    </div>
    <form action="" method="post" enctype="multipart/form-data">
        <h2>Request Information</h2>
        <hr />
        @Html.HiddenFor(m => m.comment.reason_for_purchasing, Model.comment.reason_for_purchasing)
        @Html.HiddenFor(m => m.comment.lp_run_note, Model.comment.lp_run_note)
        @Html.HiddenFor(m => m.crude_info.supplier)
        @Html.HiddenFor(m => m.comment.evpc)

        <div class="form-horizontal">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Name</label>
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.requester_info.name, new { @class = "form-control", @readonly = "true" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Purchase No.</label>
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.requester_info.purchase_no, new { @class = "form-control", @readonly = "true" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Area / Unit</label>
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.requester_info.area_unit, new { @class = "form-control essential", @readonly = "true" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Workflow Status</label>
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.requester_info.workflow_status, new { @class = "form-control essential", @readonly = "true" })
                            @*@Html.HiddenFor(model => model.requester_info.workflow_status)*@
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Create Date/Time</label>
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.requester_info.date_purchase, new { @class = "form-control essential input-date-picker date_purchase", @readonly = "true" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" style="display:none;">
                        <label class="col-md-3 control-label">Workflow Priority</label>
                        <div class="col-md-6">
                            @Html.DropDownListFor(model => model.requester_info.workflow_priority, new SelectList(Model.ddlPriority, "Value", "Text", Model.requester_info.workflow_priority), "-- Select --", new { @class = "form-control", @style = "display:none" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h2>Crude Information</h2>
        <hr />
        <div class="form-horizontal">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label">TPC Plan<span style="color:red">*</span></label>
                        <div class="col-md-3">
                            @if (Model.pageMode == "EDIT")
                            {
                                if (!string.IsNullOrEmpty(Model.crude_info.tpc_plan_month))
                                {
                                    @Html.DropDownListFor(model => model.crude_info.tpc_plan_month, new SelectList(tpc_plan_month, "Value", "Text", Model.crude_info.tpc_plan_month), new { @class = "form-control essential" })
                                }
                                else
                                {
                                    @(Model.crude_info.tpc_plan_month = null)
                                    @Html.DropDownListFor(model => model.crude_info.tpc_plan_month, new SelectList(tpc_plan_month, "Value", "Text", month_now), new { @class = "form-control essential" })
                                }
                            }
                            else
                            {
                                if (!string.IsNullOrEmpty(Model.crude_info.tpc_plan_month))
                                {
                                    @Html.DropDownListFor(model => model.crude_info.tpc_plan_month, new SelectList(tpc_plan_month, "Value", "Text", Model.crude_info.tpc_plan_month), new { @class = "form-control essential", @disabled = "disabled" })
                                }
                                else
                                {
                                    @(Model.crude_info.tpc_plan_month = null)
                                    @Html.DropDownListFor(model => model.crude_info.tpc_plan_month, new SelectList(tpc_plan_month, "Value", "Text", month_now), new { @class = "form-control essential", @disabled = "disabled" })
                                }
                            }

                        </div>
                        <div class="col-md-3">

                            @if (Model.pageMode == "EDIT")
                            {
                                if (!string.IsNullOrEmpty(Model.crude_info.tpc_plan_year))
                                {
                                    @Html.DropDownListFor(model => model.crude_info.tpc_plan_year, new SelectList(tpc_plan_year, "Value", "Text", Model.crude_info.tpc_plan_year), new { @class = "form-control essential" })
                                }
                                else
                                {
                                    @(Model.crude_info.tpc_plan_year = null)
                                    @Html.DropDownListFor(model => model.crude_info.tpc_plan_year, tpc_plan_year, new { @class = "form-control essential" })
                                }
                            }
                            else
                            {
                                if (!string.IsNullOrEmpty(Model.crude_info.tpc_plan_year))
                                {
                                    @Html.DropDownListFor(model => model.crude_info.tpc_plan_year, new SelectList(tpc_plan_year, "Value", "Text", Model.crude_info.tpc_plan_year), new { @class = "form-control essential", @disabled = "disabled" })
                                }
                                else
                                {
                                    @(Model.crude_info.tpc_plan_year = null)
                                    @Html.DropDownListFor(model => model.crude_info.tpc_plan_year, tpc_plan_year, new { @class = "form-control essential", @disabled = "disabled" })
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Loading</label>
                        <div class="col-md-6">
                            @if (Model.pageMode == "EDIT")
                            {
                                <input type="text" id="tempLoadingDates" value="@Model.tempLoadingDate" class="form-control essential input-date-picker" placeholder="DD-MMM-YYYY to DD-MMM-YYYY" maxlength="26" />
                            }
                            else
                            {
                                <input type="text" id="tempLoadingDates" value="@Model.tempLoadingDate" class="form-control essential input-date-picker" placeholder="DD-MMM-YYYY to DD-MMM-YYYY" maxlength="26" disabled />
                            }
                        </div>
                        @Html.HiddenFor(m => m.tempLoadingDate, Model.tempLoadingDate)
                        @*<div class="col-md-3">
                            @if (Model.pageMode == "EDIT")
                            {
                                if (!string.IsNullOrEmpty(Model.crude_info.loading_month))
                                {
                                    @Html.DropDownListFor(model => model.crude_info.loading_month, new SelectList(loading_month, "Value", "Text", Model.crude_info.loading_month), new { @class = "form-control " })
                                }
                                else
                                {
                                    @(Model.crude_info.loading_month = null)
                                    @Html.DropDownListFor(model => model.crude_info.loading_month, new SelectList(loading_month, "Value", "Text", month_now), new { @class = "form-control" })
                                }
                            }
                            else
                            {
                                if (!string.IsNullOrEmpty(Model.crude_info.loading_month))
                                {
                                    @Html.DropDownListFor(model => model.crude_info.loading_month, new SelectList(loading_month, "Value", "Text", Model.crude_info.loading_month), new { @class = "form-control", @disabled = "disabled" })
                                }
                                else
                                {
                                    @(Model.crude_info.loading_month = null)
                                    @Html.DropDownListFor(model => model.crude_info.loading_month, new SelectList(loading_month, "Value", "Text", month_now), new { @class = "form-control", @disabled = "disabled" })
                                }
                            }


                        </div>
                        <div class="col-md-3">
                            @if (Model.pageMode == "EDIT")
                            {
                                if (!string.IsNullOrEmpty(Model.crude_info.loading_year))
                                {
                                    @Html.DropDownListFor(model => model.crude_info.loading_year, new SelectList(loading_year, "Value", "Text", Model.crude_info.loading_year), new { @class = "form-control essential" })
                                }
                                else
                                {
                                    @(Model.crude_info.loading_year = null)
                                    @Html.DropDownListFor(model => model.crude_info.loading_year, loading_year, new { @class = "form-control" })
                                }
                            }
                            else
                            {
                                if (!string.IsNullOrEmpty(Model.crude_info.loading_year))
                                {
                                    @Html.DropDownListFor(model => model.crude_info.loading_year, new SelectList(loading_year, "Value", "Text", Model.crude_info.loading_year), new { @class = "form-control essential", @disabled = "disabled" })
                                }
                                else
                                {
                                    @(Model.crude_info.loading_year = null)
                                    @Html.DropDownListFor(model => model.crude_info.loading_year, loading_year, new { @class = "form-control", @disabled = "disabled" })
                                }
                            }
                        </div>*@
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Purchase By</label>
                        <div class="col-md-6">
                            <div class="radio">
                                @if (Model.pageMode == "EDIT")
                                {
                                    if (Model.crude_info.purchased_by == "M" || string.IsNullOrEmpty(Model.crude_info.purchased_by))
                                    {
                                        <input id="rdoManual" name="PurchaseBy" type="radio" checked="checked" onchange="checkPurchase()" />
                                    }
                                    else
                                    {
                                        <input id="rdoManual" name="PurchaseBy" type="radio" onchange="checkPurchase()" />
                                    }
                                    <label for="rdoManual">Manual</label>
                                    if (Model.crude_info.purchased_by == "P")
                                    {
                                        <input id="rdoCrudePurchase" name="PurchaseBy" type="radio" checked="checked" onchange="checkPurchase()" />
                                    }
                                    else
                                    {
                                        <input id="rdoCrudePurchase" name="PurchaseBy" type="radio" onchange="checkPurchase()" />
                                    }
                                    <label for="rdoCrudePurchase">Crude Purchase</label>
                                }
                                else
                                {
                                    if (Model.crude_info.purchased_by == "M" || string.IsNullOrEmpty(Model.crude_info.purchased_by))
                                    {
                                        <input id="rdoManual" name="PurchaseBy" type="radio" checked="checked" onchange="checkPurchase()" disabled />
                                    }
                                    else
                                    {
                                        <input id="rdoManual" name="PurchaseBy" type="radio" onchange="checkPurchase()" disabled />
                                    }
                                    <label for="rdoManual">Manual</label>
                                    if (Model.crude_info.purchased_by == "P")
                                    {
                                        <input id="rdoCrudePurchase" name="PurchaseBy" type="radio" checked="checked" onchange="checkPurchase()" disabled />
                                    }
                                    else
                                    {
                                        <input id="rdoCrudePurchase" name="PurchaseBy" type="radio" onchange="checkPurchase()" disabled />
                                    }
                                    <label for="rdoCrudePurchase">Crude Purchase</label>
                                }

                            </div>
                            @Html.HiddenFor(model => model.crude_info.purchased_by, Model.crude_info.purchased_by)
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Select Crude Purchased</label>
                        <div class="col-md-6">
                            @if (Model.pageMode == "EDIT")
                            {
                                <a href="javascript:void(0);" id="OpenModal" style="display:none;" data-toggle="modal" onclick="OpenModal()" data-target=".bs-example-modal-lg"><span class="glyphicon glyphicon-search" aria-hidden="true" style="top: 15px;"></span></a>
                                <a href="javascript:void(0);" id="CloseModal"><span class="glyphicon glyphicon-search" aria-hidden="true" style="top: 15px;cursor:not-allowed"></span></a>
                            }
                            else
                            {
                                <a href="javascript:void(0);"><span class="glyphicon glyphicon-search" aria-hidden="true" style="top: 15px;cursor:not-allowed"></span></a>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Crude Name<span style="color:red">*</span></label>
                        @{
                            var crude_mode_m = Model.crude_info.purchased_by == "M" || Model.crude_info.purchased_by == "" ? "" : "display:none;";
                            var crude_mode_p = Model.crude_info.purchased_by == "P" ? "" : "display:none;";
                        }
                        <div class="col-md-6 show_dropdown" style="@(crude_mode_m)">
                            @if (Model.pageMode == "EDIT")
                            {
                                @Html.DropDownList("crude_name", new SelectList(Model.ddlCrudeName, "Value", "Text", Model.crude_info.crude_name), "-- Select --", new { @class = "form-control essential", @onchange = "GetCountry();" })
                            }
                            else
                            {
                                @Html.DropDownList("crude_name", new SelectList(Model.ddlCrudeName, "Value", "Text", Model.crude_info.crude_name), "-- Select --", new { @class = "form-control essential", @disabled = "disabled" })
                            }
                        </div>
                        <div class="col-md-6 show_textbox" style="@(crude_mode_p)">
                            <input type="text" id="crude_name_text" class="form-control" readonly="readonly" value="@Model.crude_info.crude_name" />
                        </div>
                        @Html.HiddenFor(m => m.crude_info.crude_name, Model.crude_info.crude_name)
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Purchase Type<span style="color:red">*</span></label>
                        <div class="col-md-6">
                            @if (Model.pageMode == "EDIT")
                            {
                                @Html.DropDownList("purchase_type", new SelectList(Model.ddlPurchaseType, "Value", "Text", Model.crude_info.purchase_type), "-- Select --", new { @class = "form-control essential" })
                            }
                            else
                            {
                                @Html.DropDownList("purchase_type", new SelectList(Model.ddlPurchaseType, "Value", "Text", Model.crude_info.purchase_type), "-- Select --", new { @class = "form-control essential", @disabled = "disabled" })
                            }
                            @Html.HiddenFor(m => m.crude_info.purchase_type, Model.crude_info.purchase_type)
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Country/Origin<span style="color:red">*</span></label>
                        <div class="col-md-6 show_dropdown" style="@(crude_mode_m)">
                            @if (Model.pageMode == "EDIT")
                            {
                                if (!string.IsNullOrEmpty(Model.crude_info.origin))
                                {
                                    @Html.DropDownList("origin", new SelectList(Model.ddlCountry, "Value", "Text", Model.crude_info.origin), "-- Select --", new { @class = "form-control essential" })
                                    //@Html.DropDownList("origin", Model.ddlCountry, "-- Select --", new { @class = "form-control essential"@*, @onchange = "SetOrigin();"*@ })
                                }
                                else
                                {
                                    @Html.DropDownList("origin", new List<SelectListItem> { new SelectListItem { Text = "-- Select --", Value = "" } }, new { @class = "form-control essential"@*, @onchange = "SetOrigin();"*@ })
                                }
                            }
                            else
                            {
                                @Html.DropDownListFor(model => model.crude_info.origin, Model.ddlCountry, "-- Select --", new { @class = "form-control", @disabled = "disabled" })
                            }
                        </div>
                        <div class="col-md-6 show_textbox" style="@(crude_mode_p)">
                            <input type="text" id="origin_text" class="form-control" readonly="readonly" value="@Model.crude_info.origin" />
                        </div>
                        @Html.HiddenFor(m => m.crude_info.origin, Model.crude_info.origin)
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Purchase Method<span style="color:red">*</span></label>
                        <div class="col-md-6">
                            @if (Model.pageMode == "EDIT")
                            {
                                @Html.DropDownList("purchase_method", new SelectList(Model.ddlPurchaseMethod, "Value", "Text", Model.crude_info.purchase_method), "-- Select --", new { @class = "form-control essential" })
                            }
                            else
                            {
                                @Html.DropDownList("benchmark_price", new SelectList(Model.ddlPurchaseMethod, "Value", "Text", Model.crude_info.purchase_method), "-- Select --", new { @class = "form-control essential", @disabled = "disabled" })
                            }
                            @Html.HiddenFor(m => m.crude_info.purchase_method, Model.crude_info.purchase_method)
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Purchase Date<span style="color:red">*</span></label>
                        <div class="col-md-6">
                            @if (Model.pageMode == "EDIT")
                            {
                                <input type="text" id="purchase_date" value="@Model.crude_info.purchase_date" class="form-control essential input-date-picker" placeholder="DD-MMM-YYYY" maxlength="11" />
                            }
                            else
                            {
                                <input type="text" id="purchase_date" value="@Model.crude_info.purchase_date" class="form-control essential input-date-picker" placeholder="DD-MMM-YYYY" maxlength="11" disabled />
                            }
                        </div>
                        @Html.HiddenFor(m => m.crude_info.purchase_date, Model.crude_info.purchase_date)
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Discharging Date<span style="color:red">*</span></label>
                        <div class="col-md-6">
                            @if (Model.pageMode == "EDIT")
                            {
                                <input type="text" id="tempDischargingDates" value="@Model.tempDischargingDate" class="form-control essential input-date-picker" placeholder="DD-MMM-YYYY to DD-MMM-YYYY" maxlength="26" />
                            }
                            else
                            {
                                <input type="text" id="tempDischargingDates" value="@Model.tempDischargingDate" class="form-control essential input-date-picker" placeholder="DD-MMM-YYYY to DD-MMM-YYYY" maxlength="26" disabled />
                            }
                        </div>
                        @Html.HiddenFor(m => m.tempDischargingDate, Model.tempDischargingDate)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Benchmark Price<span style="color:red">*</span></label>
                        <div class="col-md-6">
                            @if (Model.pageMode == "EDIT")
                            {
                                @Html.DropDownList("benchmark_price", new SelectList(Model.ddlBenchmarkPrice, "Value", "Text", Model.crude_info.benchmark_price), "-- Select --", new { @class = "form-control essential", @onchange = "CalFormulaPrice();" })
                            }
                            else
                            {
                                @Html.DropDownList("benchmark_price", new SelectList(Model.ddlBenchmarkPrice, "Value", "Text", Model.crude_info.benchmark_price), "-- Select --", new { @class = "form-control essential", @disabled = "disabled" })
                            }
                            @Html.HiddenFor(m => m.crude_info.benchmark_price, Model.crude_info.benchmark_price)
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Premium<span style="color:red">*</span>($/bbl)</label>
                        <div class="col-md-6">
                            @if (Model.pageMode == "EDIT")
                            {
                                @Html.TextBoxFor(model => model.crude_info.premium, new { @class = "form-control essential 4-digits", @onkeypress = "CalFormulaPrice(); return ValidateNumberDigit(event);" })
                            }
                            else
                            {
                                @Html.TextBoxFor(model => model.crude_info.premium, new { @class = "form-control essential 4-digits", @readonly = "true", @onkeypress = "return ValidateNumberDigit(event);" })
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Incoterm<span style="color:red">*</span></label>
                        <div class="col-md-6">
                            @if (Model.pageMode == "EDIT")
                            {
                                @Html.DropDownList("incoterm", new SelectList(Model.ddlIncoterm, "Value", "Text", Model.crude_info.incoterm), "-- Select --", new { @class = "form-control essential", @onchange = "CalFormulaPrice();" })
                            }
                            else
                            {
                                @Html.DropDownList("incoterm", new SelectList(Model.ddlIncoterm, "Value", "Text", Model.crude_info.incoterm), "-- Select --", new { @class = "form-control essential", @disabled = "disabled" })
                            }
                            @Html.HiddenFor(model => model.crude_info.incoterm, Model.crude_info.incoterm)
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Formula Price</label>
                        <div class="col-md-6">
                            @if (Model.pageMode == "EDIT")
                            {
                                @Html.TextBoxFor(model => model.crude_info.formula_price, new { @class = "form-control essential", @readonly = "true" })
                            }
                            else
                            {
                                @Html.TextBoxFor(model => model.crude_info.formula_price, new { @class = "form-control essential", @readonly = "true" })
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Quantity (KBBL)</label>
                        <div class="col-md-6">
                            @if (Model.pageMode == "EDIT")
                            {
                                @Html.TextBoxFor(model => model.crude_info.quantity_kbbl_max, new { @class = "form-control essential 4-digits Quantity ", @onkeypress = "return ValidateNumberDigit(event);" })
                            }
                            else
                            {
                                @Html.TextBoxFor(model => model.crude_info.quantity_kbbl_max, new { @class = "form-control essential 4-digits Quantity ", @readonly = "true" })
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Quantity (kT)</label>
                        <div class="col-md-6">
                            @if (Model.pageMode == "EDIT")
                            {
                                @Html.TextBoxFor(model => model.crude_info.quantity_kt_max, new { @class = "form-control essential", @onkeypress = "return ValidateNumberDigit(event);", @readonly = "true" })
                            }
                            else
                            {
                                @Html.TextBoxFor(model => model.crude_info.quantity_kt_max, new { @class = "form-control essential", @readonly = "true" })
                            }
                        </div>
                    </div>
                </div>
            </div>

            <!-- Add Supplier (DropDownList) And LP Max Purchase Price (Textbox) -->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Supplier</label>
                        <div class="col-md-6">
                            @if (Model.pageMode == "EDIT")
                            {
                                @Html.DropDownListFor(m => m.crude_info.supplier, new SelectList(Model.ddlSupplier, "Value", "Text", Model.ddlSupplier), "", new { @class = "form-control ns_supplier compet_supplier" })
                            }
                            else
                            {
                                @Html.DropDownListFor(m => m.crude_info.supplier, new SelectList(Model.ddlSupplier, "Value", "Text", Model.ddlSupplier), "", new { @class = "form-control ns_supplier compet_supplier", @disabled = "disabled" })
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label">LP Max Purchase Price</label>
                        <div class="col-md-6">
                            @if (Model.pageMode == "EDIT")
                            {
                                @Html.TextBoxFor(m => m.crude_info.premium_maximum, new { @class = "form-control ns_latest_lp_plan_price", @type = "number", @step = "any" })
                            }
                            else
                            {
                                @Html.TextBoxFor(m => m.crude_info.premium_maximum, new { @class = "form-control ns_latest_lp_plan_price", @type = "number", @step = "any", @disabled = "disabled" })
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <h2 id="showCommentError" style="display:none;"><span class="label label-danger">Comment from CMCS, Please input Value.</span></h2>
                        <h2 id="hideCommentError">Comment from CMCS</h2>
                        <div class="col-md-12">
                            @Html.TextAreaFor(m => m.comment.cmcs_request, new { @class = "form-control txtExplanation" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="wrapper-button" id="buttonDiv">
            @if (Model.buttonMode == "AUTO")
            {
                <input type="submit" value="SAVE DRAFT" class="btn btn-default" onclick="OpenBoxBungerPrompt('Comment :', 'SaveDraft'); return false;" />
                <input type="submit" value="SUBMIT" class="btn btn-default" name="action:Submit" onclick="OpenBoxBungerPrompt('Comment :', 'Submit'); return false;" />
                <input type="submit" value="SAVE DRAFT" id="btnSaveDraft" style="display: none;" name="action:SaveDraft" />
                <input type="submit" value="SUBMIT" id="btnSubmit" style="display: none;" name="action:Submit" />
                <input type="submit" value="BACK" id="btnBack" class="btn btn-default" name="action:Back" />
            }
            else
            {
                @Html.Hidden("hdfEventClick")
                @Html.Raw(@Model.buttonCode)
            }
        </div>
    </form>
</div>



<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h3 class="modal-title" id="myLargeModalLabel">Select Crude Purchased</h3> <div class="text-center" id="showLoding" style="display:none;"><i class="fa fa-spin fa-spinner"></i> Loading...</div>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">

                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-6">
                                <label for="inputEmail3" class="col-md-3 control-label">Date Purchase</label>
                                <div class="col-md-7">
                                    <div class="box-date">
                                        <input type="text" id="sDatePurchase" class="form-control input-date-picker" placeholder="DD/MM/YYYY to DD/MM/YYYY" maxlength="26" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="inputEmail3" class="col-md-3 control-label">Feedstock</label>
                                <div class="col-md-7">
                                    @Html.DropDownList("feedstock", ViewBag.getFeedstock as List<SelectListItem>, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-6">
                                <label for="inputEmail3" class="col-md-3 control-label">Name</label>
                                <div class="col-md-7">
                                    @Html.DropDownList("product", ViewBag.getProduct as List<SelectListItem>, "", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="inputEmail3" class="col-md-3 control-label">Supplier</label>
                                <div class="col-md-7">
                                    @Html.DropDownList("supplier", ViewBag.getSupplier as List<SelectListItem>, "", new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-3 text-center"></div>
                            <div class="col-md-3 text-center">
                                <input type="submit" id="btnSearch" class="btn btn-primary" onclick="CrudePurchasedResult();" value="Search" />
                            </div>
                            <div class="col-md-3 text-center">
                                <button type="submit" onclick="ClearData();" class="btn btn-default">Clear All</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="task-box">
                    <div class="wrapper-table collapse in" id="collapseJuly">
                        <table id="searchResultTable" class="table table-hover display" cellspacing="0">
                            <thead>
                                <tr>
                                    <th style="width:65px;font-size:medium;"></th>
                                    <th style="width:150px;font-size:medium;">Date</th>
                                    <th style="width:150px;font-size:medium;">Purchase no</th>
                                    <th style="width:100px;font-size:medium;">Feedstock</th>
                                    <th style="width:300px;font-size:medium;">Name</th>
                                    <th style="width:300px;font-size:medium;">Supplier</th>
                                    <th style="width:150px;font-size:medium;">Quantity</th>
                                    <th style="width:370px;font-size:medium;">Margin</th>
                                    <th style="width:90px;font-size:medium;">Created by</th>
                                </tr>
                            </thead>
                            <tbody id="test"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@if (TempData["res_message"] != null)
            {
                if (TempData["returnPage"] != null)
                {
        <script type="text/javascript">
            OpenBoxPopupLink((@Html.Raw(Json.Encode(TempData["res_message"]))), @Html.Raw(Json.Encode(TempData["returnPage"]))).done(function() {
                $("#EventButton").val("0");
            });
        </script>
    }
    else
    {
        <script type="text/javascript">
            OpenBoxPopup(@Html.Raw(Json.Encode(TempData["res_message"])));
        </script>
    }
}

<script>
    // CONFIRMATION BEFORE SAVE //
    function OpenBoxBungerPrompt(MSG, Event) {
        if (Event != "SaveDraft" && Event != "SaveAndPreview" && Event != "Submit") {
            if ($("#hdfEventClick").length != 0) {
                $("#hdfEventClick").val(Event);
            }
        }

        SetValue();

        if (Event.toUpperCase() == "SUBMIT") {
            if (!ValidateEssential()) return false;

            bootbox.confirm({
                message: "Are you sure to submit?",
                buttons: {
                    confirm: {
                        label: 'Yes',
                    },
                    cancel: {
                        label: 'No',
                    }
                },
                callback: function (result) {
                    if (result) {
                        $('form').attr('target', '_self');
                        if (Event == "SUBMIT") {
                            $("#btnMANUAL").click();
                        } else {
                            $("#btnSubmit").click();
                        }
                        LoadingProcess();
                    }
                }
            });
        }

            // CASE: SAVE DRAFT
        else {
            $('form').attr('target', '_self');
            if (Event == "Upload") {
                $("#btnUpload").click();
            } else if (Event == "SaveDraft") {
                $("#btnSaveDraft").click();
            } else if (Event == "Submit") {
                $("#btnSubmit").click();
            } else {
                $("#btnMANUAL").click();
            }
            LoadingProcess();
        }
            }

    function SetValue(){
        $("#crude_info_purchase_type").val($("#purchase_type").val());
        $("#crude_info_purchase_method").val($("#purchase_method").val());
        $("#crude_info_benchmark_price").val($("#benchmark_price").val());
        $("#crude_info_incoterm").val($("#incoterm").val());
        $("#crude_info_purchase_date").val($("#purchase_date").val());
        $("#tempDischargingDate").val($("#tempDischargingDates").val());
        $("#tempLoadingDate").val($("#tempLoadingDates").val());
        if ($("#crude_info_purchased_by").val() == "M") {
            $("#crude_info_crude_name").val($("#crude_name").val());
            $("#crude_info_origin").val($("#origin").val());
        } else {
            $("#crude_info_crude_name").val($("#crude_name_text").val());
            $("#crude_info_origin").val($("#origin_text").val());
}
}

    var table = $('#searchResultTable').DataTable({
        "scrollY": "350px",
        "scrollX": true,
        "scrollCollapse": true,
        "orderable": false,
        "bSort": false,
    });
    $(function () {

        checkPurchase();
        //SetOrigin();
        // SEARCH ASSAY DATE //
        $('#tempDischargingDates').dateRangePicker(
            {
                autoClose: true,
                singleDate: false,
                showShortcuts: false,
                format: 'DD-MMM-YYYY',
                time: { enabled: false }
            });
        $('#tempLoadingDates').dateRangePicker(
                {
                    autoClose: true,
                    singleDate: false,
                    showShortcuts: false,
                    format: 'DD-MMM-YYYY',
                    time: { enabled: false }
                });
        $('#purchase_date').dateRangePicker(
            {
                autoClose: true,
                singleDate: true,
                showShortcuts: false,
                format: "DD-MMM-YYYY",
                time: { enabled: false },
            });

        $('#sDatePurchase').dateRangePicker(
            {
                autoClose: true,
                singleDate: false,
                showShortcuts: false,
                format: 'DD-MMM-YYYY',
                time: { enabled: false }
            });

        $('.4-digits').change(function () {
            if (!isNaN(parseFloat(this.value)))
                this.value = parseFloat(this.value.replace(/,/g,'')).toLocaleString('en-US', {maximumFractionDigits: 4});

            CalFormulaPrice();

            return this;
        });

        $(".Quantity").change(function () {
            if ($("#crude_info_quantity_kbbl_max").val() != "") {
                if (isNaN(parseFloat($("#crude_info_quantity_kbbl_max").val())))
                    $("#crude_info_quantity_kt_max").val("0");
                else {
                    $("#crude_info_quantity_kt_max").val(parseFloat($("#crude_info_quantity_kbbl_max").val().replace(/,/g,'') * 0.13).toLocaleString('en-US', {maximumFractionDigits: 4}));
                }
            }
        });
    });

    function OpenModal() {
        setTimeout(function () {
            table.columns.adjust().draw();
        }, 500);
    }

    //Clear data
    function ClearData() {
        $("#sDatePurchase").val("");
        $("#feedstock").val("");
        $("#product").val("");
        $("#supplier").val("");
    }

    function checkPurchase() {
        if ($('#rdoManual').prop('checked')) {
            $('#crude_info_purchased_by').val('M');
            $("#OpenModal").hide();
            $("#CloseModal").show();
            $(".show_textbox").hide();
            $(".show_dropdown").show();
            $("#comment_reason_for_purchasing").val("");
            $("#comment_lp_run_note").val("");
            disableByManual(false);
        }
        else if ($('#rdoCrudePurchase').prop('checked')) {
            $('#crude_info_purchased_by').val('P');
            $("#OpenModal").show();
            $("#CloseModal").hide();
            $(".show_textbox").show();
            $(".show_dropdown").hide();
            disableByManual(true);
        }

        if ("@Model.pageMode" != "EDIT") {
            disableByManual(true);
        }
    }

    function disableByManual(disable) {
        $("#crude_name").prop('disabled', disable);
        $("#purchase_type").prop('disabled', disable);
        $("#origin").prop('disabled', disable);
        $("#purchase_method").prop('disabled', disable);
        $("#purchase_date").prop('disabled', disable);
        $("#tempDischargingDates").prop('disabled', disable);
        $("#benchmark_price").prop('disabled', disable);
        $("#crude_info_premium").prop('readonly', disable);
        $("#incoterm").prop('disabled', disable);
        $("#crude_info_quantity_kbbl_max").prop('readonly', disable);
        $("#tempLoadingDates").prop('disabled', disable);
    }

    function ValidateEssential() {
        RemoveValidateEssential();
        var i = 0;

        //var editorContent = tinyMCE.get('comment_cmcs_request').getContent();
        //if (editorContent == '')
        //{
        //    $("#showCommentError").show();
        //    $("#hideCommentError").hide();
        //    i++;
        //}
        //else
        //{
        //    $("#showCommentError").hide();
        //    $("#hideCommentError").show();
        //}

        $(".essential").each(function () {
            if ($.trim($(this).val()) == "" && document.getElementById($(this).attr("id")).disabled != true) {
                i++;
                addValidMessageError($("#" + $(this).attr("id")), "Please input Value.");
            }
        });

        if (i > 0)
            return false;
        return true;
    }

    function RemoveValidateEssential() {
        $(".essential").removeClass("input-error");
    }

    function CrudePurchasedResult() {
        //var onLoads = bootbox.dialog({ message: '<div class="text-center"><i class="fa fa-spin fa-spinner"></i> Loading...</div>', closeButton: false });
        var sDatePurchase = $("#sDatePurchase").val();
        var sFeedstock = $("#feedstock").val();
        var sProduct = $("#product").val();
        var sSupplier = $("#supplier").val();
        $("#showLoding").show();
        //onLoads.modal('show');
        $.ajax({
            url: '@Url.Action("CrudePurchasedResult", "VCool")',
            data: { "sDatePurchase": sDatePurchase, "sFeedstock": sFeedstock, "sProduct": sProduct, "sSupplier": sSupplier },
            cache: false,
            type: "GET",
            success: function (data) {
                //push data to table
                var markup = "";

                for (var i = 0; i < data.CrudePurchaseTransaction.length; i++) {
                    markup += '<tr class="drafts" style="cursor: pointer;">';
                    markup += '<td  style="width:65px;font-size:medium;" data-dismiss="modal"  onclick=\'LoadDataCrudePurchase("' + data.CrudePurchaseTransaction[i].Transaction_id_Encrypted + '", "' + data.CrudePurchaseTransaction[i].supplier_name +'")\'><span>Select</span></td>';
                    markup += '<td  style="width:150px;font-size:medium;" class="clickable-row" >' + data.CrudePurchaseTransaction[i].date_purchase + '</td>';
                    markup += '<td  style="width:150px;font-size:medium;" class="clickable-row" >' + data.CrudePurchaseTransaction[i].purchase_no + '</td>';
                    markup += '<td  style="width:100px;font-size:medium;" class="clickable-row" >' + data.CrudePurchaseTransaction[i].feed_stock + '</td>';
                    markup += '<td  style="width:300px;font-size:medium;" class="clickable-row" >' + data.CrudePurchaseTransaction[i].product_name + '</td>';
                    markup += '<td  style="width:300px;font-size:medium;" class="clickable-row" >' + data.CrudePurchaseTransaction[i].supplier_name + '</td>';
                    markup += '<td  style="width:150px;font-size:medium;" class="clickable-row" >' + data.CrudePurchaseTransaction[i].volumes + '</td>';
                    markup += '<td  style="width:370px;font-size:medium;" class="clickable-row" >' + data.CrudePurchaseTransaction[i].margin + '</td>';
                    markup += '<td  style="width:90px;font-size:medium;" class="clickable-row" >' + data.CrudePurchaseTransaction[i].create_by + '</td>';
                    markup += '</tr>';
                }

                var table = $('#searchResultTable').DataTable();
                table.rows().remove().draw();
                table.rows.add($(markup)).draw();
                //onLoads.modal('hide');
                $("#showLoding").hide();
            },
            error: function (reponse) {
                alert("error : " + reponse.error());
            }
        });
    }

    function LoadDataCrudePurchase(TransactionID, supplier_name) {
        var onLoads = bootbox.dialog({ message: '<div class="text-center"><i class="fa fa-spin fa-spinner"></i> Loading...</div>', closeButton: false });
        onLoads.modal('show');
        $.ajax({
            url: '@Url.Action("LoadDataCrudePurchase", "VCool")',
            data: { "TransactionID": TransactionID },
            cache: false,
            type: "GET",
            success: function (data) {
                var incoterms = "";
                document.getElementById("crude_info_crude_name").value = data.crude_name;
                document.getElementById("crude_name_text").value = data.crude_name;
                document.getElementById("crude_info_purchase_type").value = data.term;
                document.getElementById("purchase_type").value = data.term;
                document.getElementById("crude_info_origin").value = data.origin;
                document.getElementById("origin").value = data.origin;
                document.getElementById("origin_text").value = data.origin;
                document.getElementById("crude_info_purchase_method").value = data.purchase;
                document.getElementById("purchase_method").value = data.purchase;
                document.getElementById("crude_info_purchase_date").value = data.date_purchase;
                document.getElementById("purchase_date").value = data.date_purchase;
                document.getElementById("comment_evpc").value = data.reason;
                if (data.loading_period.date_from != "") {
                    document.getElementById("tempLoadingDates").value = data.loading_period.date_from + " to " + data.loading_period.date_to;
                    document.getElementById("tempLoadingDate").value = data.loading_period.date_from + " to " + data.loading_period.date_to;
                }
                if (data.discharging_period.date_from != "") {
                    document.getElementById("tempDischargingDates").value = data.discharging_period.date_from + " to " + data.discharging_period.date_to;
                    document.getElementById("tempDischargingDate").value = data.discharging_period.date_from + " to " + data.discharging_period.date_to;
                }
                for (var i = 0; i < data.offers_items.length; i++) {
                    if(data.offers_items[i].final_flag == "Y"){
                        document.getElementById("crude_info_benchmark_price").value = data.offers_items[i].bechmark_price;
                        document.getElementById("benchmark_price").value = data.offers_items[i].bechmark_price;
                        document.getElementById("crude_info_incoterm").value = data.offers_items[i].incoterms;
                        document.getElementById("crude_info_supplier").value = data.offers_items[i].supplier;
                        document.getElementById("incoterm").value = data.offers_items[i].incoterms;
                        incoterms = data.offers_items[i].incoterms;
                        document.getElementById("crude_info_quantity_kbbl_max").value = data.offers_items[i].quantity_max;
                        document.getElementById("crude_info_quantity_kt_max").value = data.offers_items[i].quantity_max * 0.13;
                        for (var j = 0; j < data.offers_items[i].round_items.length; j++) {
                            if (data.offers_items[i].round_items[j].round_value[0] != "") {
                                document.getElementById("crude_info_premium").value = data.offers_items[i].round_items[j].round_value[0];
                            }
                        }
                    }
                }

                $("#comment_reason_for_purchasing").val(data.explanation);
                $("#comment_lp_run_note").val(data.notes);

                var editor = tinyMCE.get('comment_cmcs_request');
                if (editor) {
                    if (data.notes && data.notes !== 'null') {
                        editor.setContent('<p>' + data.notes + '</p>');
                    }
                    else {
                        editor.setContent('<p></p>');
                    }
                }

                $("#crude_info_formula_price").val($("#crude_info_benchmark_price").val() + "+" + $("#crude_info_premium").val() + " " + incoterms);
                onLoads.modal('hide');
            },
            error: function (reponse) {
                alert("error : " + reponse.error());
            }
        });
    }

    function GetCountry(){
        var crude_name = $('#crude_name').find("option:selected").text();
        $.ajax({
            url: '@Url.Action("GetCountryRef", "DocumentManagement")',
            data: { "crude": crude_name },
            cache: false,
            type: "GET",
            success: function (data) {
                var markup = "<option value='' selected >-- Select --</option>";

                $('#origin').attr("disabled", false);
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=" + data[x].Value + " >" + data[x].Text + "</option>";
                }
                $('#origin').html(markup).show();
            },
            error: function (reponse) {
                alert("error : " + reponse.error());
            }
        });
    }

    function CalFormulaPrice() {
        if ($("#benchmark_price").val() != "" && $("#crude_info_premium").val() != "" && $("#incoterm").val() != "") {
            $("#crude_info_formula_price").val($("#benchmark_price").val() + "+" + $("#crude_info_premium").val() + " " + $("#incoterm").val());
        } else {
            $("#crude_info_formula_price").val("");
        }
    }

    tinymce.init({
        selector: '#comment_cmcs_request',
        theme: 'modern',
        plugins: ['textcolor colorpicker'],
        height: 150,
        menubar: false,
        toolbar: " undo redo | bold italic underline | numlist | forecolor | removeformat | spellchecker",
        statusbar: true,
        image_advtab: true,
        paste_data_images: true,
        readonly: "@Model.pageMode" == "EDIT" ? false : true,
        textcolor_map: [
            "000000", "Black",
            "993300", "Burnt orange",
            "333300", "Dark olive",
            "003300", "Dark green",
            "003366", "Dark azure",
            "000080", "Navy Blue",
            "333399", "Indigo",
            "333333", "Very dark gray",
            "800000", "Maroon",
            "FF6600", "Orange",
            "808000", "Olive",
            "008000", "Green",
            "008080", "Teal",
            "0000FF", "Blue",
            "666699", "Grayish blue",
            "808080", "Gray",
            "FF0000", "Red",
            "FF9900", "Amber",
            "99CC00", "Yellow green",
            "339966", "Sea green",
            "33CCCC", "Turquoise",
            "3366FF", "Royal blue",
            "800080", "Purple",
            "999999", "Medium gray",
            "FF00FF", "Magenta",
            "FFCC00", "Gold",
            "FFFF00", "Yellow",
            "00FF00", "Lime",
            "00FFFF", "Aqua",
            "00CCFF", "Sky blue",
            "993366", "Red violet",
            "FFFFFF", "White",
            "FF99CC", "Pink",
            "FFCC99", "Peach",
            "FFFF99", "Light yellow",
            "CCFFCC", "Pale green",
            "CCFFFF", "Pale cyan",
            "99CCFF", "Light sky blue",
            "CC99FF", "Plum"
        ]
    });
</script>