﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.VCoolViewModel
@{
    ViewBag.Title = "Run LP";
    var txtreadonly = ViewBag.Title == "Approve LP Run" ? 1 : 0;
    if (Model.pageMode != null)
    {
        txtreadonly = Model.pageMode.ToUpper() == "READ" || Model.pageMode.ToUpper() == "EDIT_REASON" || Model.crude_info.purchased_by == "P" ? 1 : 0;
    }
    if (Model.buttonMode == null)
    {
        Model.buttonMode = "AUTO";
    }
    if (Request.QueryString["Tran_Req_ID"] != null)
    {
        Model.reqID = Request.QueryString["Tran_Req_ID"].ToString();
    }
    else
    {
        Model.reqID = string.IsNullOrEmpty(Model.reqID) ? "" : Model.reqID;
    }
    int txtExplanation_readmode = (Model.pageMode == "READ") ? 1 : 0;
}

<div class="wrapper-detail">
    <div>
        <h1>@ViewBag.Title</h1>
    </div>
    <form action="" method="post" enctype="multipart/form-data">
        @Html.HiddenFor(a => a.taskID, Model.taskID)
        @Html.HiddenFor(a => a.reqID, Model.reqID)
        @Html.HiddenFor(a => a.purno, Model.purno)
        @Html.HiddenFor(a => a.crude_info.discharging_date_from, Model.crude_info.discharging_date_from)
        @Html.HiddenFor(a => a.crude_info.discharging_date_to, Model.crude_info.discharging_date_to)
        @Html.HiddenFor(a => a.crude_info.benchmark_price, Model.crude_info.benchmark_price)
        @Html.HiddenFor(a => a.crude_info.crude_name, Model.crude_info.crude_name)
        @Html.HiddenFor(a => a.crude_info.crude_ref, Model.crude_info.crude_ref)
        @Html.HiddenFor(a => a.crude_info.formula_price, Model.crude_info.formula_price)
        @Html.HiddenFor(a => a.crude_info.incoterm, Model.crude_info.incoterm)
        @Html.HiddenFor(a => a.crude_info.loading_date_from, Model.crude_info.loading_date_from)
        @Html.HiddenFor(a => a.crude_info.loading_date_to, Model.crude_info.loading_date_to)
        @Html.HiddenFor(a => a.crude_info.origin, Model.crude_info.origin)
        @Html.HiddenFor(a => a.crude_info.purchased_by, Model.crude_info.purchased_by)
        @Html.HiddenFor(a => a.crude_info.purchase_date, Model.crude_info.purchase_date)
        @Html.HiddenFor(a => a.crude_info.purchase_method, Model.crude_info.purchase_method)
        @Html.HiddenFor(a => a.crude_info.purchase_type, Model.crude_info.purchase_type)
        @Html.HiddenFor(a => a.crude_info.quantity_kbbl_max, Model.crude_info.quantity_kbbl_max)
        @Html.HiddenFor(a => a.crude_info.quantity_kt_max, Model.crude_info.quantity_kt_max)
        @Html.HiddenFor(a => a.crude_info.supplier, Model.crude_info.supplier)
        @Html.HiddenFor(a => a.crude_info.tpc_plan_month, Model.crude_info.tpc_plan_month)
        @Html.HiddenFor(a => a.crude_info.tpc_plan_year, Model.crude_info.tpc_plan_year)
        @Html.HiddenFor(a => a.requester_info.reason_reject_SCEP_SH, Model.requester_info.reason_reject_SCEP_SH)
        @Html.HiddenFor(a => a.comment.cmcs_request, Model.comment.cmcs_request)
        @Html.HiddenFor(a => a.comment.evpc, Model.comment.evpc)
        @Html.HiddenFor(a => a.tempCrudeYield)
        <h2>Request Information</h2>
        <hr />
        <div class="form-horizontal">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Name</label>
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.requester_info.name, new { @class = "form-control essential_submit", @readonly = "true" })

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Purchase No.</label>
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.requester_info.purchase_no, new { @class = "form-control essential_submit", @readonly = "true" })

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Area / Unit</label>
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.requester_info.area_unit, new { @class = "form-control essential_submit", @readonly = "true" })

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Workflow Status</label>
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.requester_info.workflow_status_description, new { @class = "form-control essential_submit", @readonly = "true" })
                            @Html.HiddenFor(model => model.requester_info.workflow_status)
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Create Date/Time</label>
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.requester_info.date_purchase, new { @class = "form-control essential_submit input-date-picker date_purchase", @readonly = "true" })

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" style="display:none;">
                        <label class="col-md-3 control-label">Workflow Priority</label>
                        <div class="col-md-6">
                            @Html.DropDownListFor(model => model.requester_info.workflow_priority, new SelectList(Model.ddlPriority, "Value", "Text", Model.requester_info.workflow_priority), "-- Select --", new { @class = "form-control", @style = "display:none" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h2>Crude Information</h2>
        <hr />
        <div class="task-box">
            <div class="wrapper-table collapse in" id="collapseJuly">
                <table id="CrudeInformation" class="table table-hover display" cellspacing="0">
                    <thead>
                        <tr>
                            <th rowspan="2" style="width:100px">Crude Name</th>
                            <th rowspan="2" style="width:50px">Country</th>
                            <th rowspan="2" style="width:250px">Discharging Date</th>
                            <th rowspan="2" style="width:250px">Loading Date</th>
                            @*<th rowspan="2" style="width:100px">Propose Type</th>*@
                            <th rowspan="2" style="width:100px">Buying Type</th>
                            @*<th colspan="2" style="width:200px">Former</th>*@
                            <th colspan="3" style="width:200px">Proposed price and volume</th>
                            @*<th rowspan="2" style="width:50px">Country</th>*@
                            <th rowspan="2" style="width:50px">Final CAM</th>
                        </tr>
                        <tr>
                            @*<th style="width:100px">Formula Price ($/bbl)</th>
                    <th style="width:100px">Volume (kT)</th>*@
                            <th style="width:100px">Formula Price ($/bbl)</th>
                            <th style="width:100px">Volume (kT)</th>
                            <th style="width:100px">Volume (kbbl)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Model.crude_info.crude_name</td>
                            <td>@Model.crude_info.origin</td>
                            <td>@Model.tempDischargingDate</td>
                            @*<td>OPEN</td>*@
                            <td>@Model.tempLoadingDate</td>
                            <td>@Model.crude_info.purchase_type</td>
                            @*<td></td>
                    <td></td>*@
                            <td>@Model.crude_info.formula_price</td>
                            <td>@Model.crude_info.quantity_kt_max</td>
                            <td>@Model.crude_info.quantity_kbbl_max</td>
                            @*<td>@Model.crude_info.origin</td>*@
                            @*<td><a href="javascript:void(0)" onclick="OpenModal()" data-toggle="modal" data-target=".bs-example-modal-lg2">[View]</a></td>*@
                            <td><a target="_blank" href="FinalCAM?tempFinalCAM=@(Model != null && !string.IsNullOrEmpty(Model.tempFinalCAM_Encrypt) ? Model.tempFinalCAM_Encrypt : string.Empty)" >[View]</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <h2>Brief Market Situation / Reason for purchasing</h2>
                    <div>
                        @Html.TextAreaFor(m => m.comment.reason_for_purchasing, new { @class = "form-control txtExplanation" })
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <h2>Note</h2>
                    <div>
                        @Html.TextAreaFor(m => m.comment.lp_run_note, new { @class = "form-control txtExplanation" })
                    </div>
                </div>
            </div>
        </div>

        <h2>LP Result Summary</h2>
        <hr />
        <div class="task-box">
            <div class="wrapper-table collapse in" id="collapseJuly">
                <table id="ResultSummary" class="table table-hover display" cellspacing="0">
                    <thead>
                        <tr>
                            <th rowspan="2" style="width:150px">Crude Name</th>
                            <th colspan="3" style="width:150px">Maximum Buying Price ($/bbl)</th>
                            <th rowspan="2" style="width:250px">LP Processing Period</th>
                        </tr>
                        <tr>
                            <th style="width:150px">Benchmark price</th>
                            <th style="width:150px">Premium</th>
                            <th style="width:150px">Incoterm</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Model.crude_info.crude_name</td>
                            <td>@Model.crude_info.benchmark_price</td>

                            @if ((TempData["isSCEP_SH"].Equals(true) ? 1 : 0) == 1)
                            {
                                <td>@Html.TextBoxFor(model => model.crude_info.premium_maximum, new { @class = "form-control essential_submit 4-digits", @onkeypress = "return ValidateNumberDigit(event);", @readonly = "true" })</td>
                                <td>@Model.crude_info.incoterm</td>
                                <td>@Html.TextBoxFor(model => model.ProcessingPeriodDate, new { @class = "form-control essential_submit input-date-picker ", @placeholder = "DD-MMM-YYYY to DD-MMM-YYYY", @maxlength = "26", @readonly = "true" })</td>
                            }
                            else {
                                if (Model.pageMode == "EDIT" || Model.pageMode == "EDIT_REASON")
                                {
                                    <td>@Html.TextBoxFor(model => model.crude_info.premium_maximum, new { @class = "form-control essential_submit 4-digits", @onkeypress = "return ValidateNumberDigit(event);", @required = "required" })</td>
                                }
                                else
                                {
                                    <td>@Html.TextBoxFor(model => model.crude_info.premium_maximum, new { @class = "form-control essential_submit 4-digits", @onkeypress = "return ValidateNumberDigit(event);", @readonly = "true" })</td>
                                }
                                <td>@Model.crude_info.incoterm</td>
                                if (Model.pageMode == "EDIT" || Model.pageMode == "EDIT_REASON")
                                {
                                    <td>@Html.TextBoxFor(model => model.ProcessingPeriodDate, new { @class = "form-control essential_submit input-date-picker ", @placeholder = "DD-MMM-YYYY to DD-MMM-YYYY", @maxlength = "26" })</td>
                                }
                                else
                                {
                                    <td>@Html.TextBoxFor(model => model.ProcessingPeriodDate, new { @class = "form-control essential_submit input-date-picker ", @placeholder = "DD-MMM-YYYY to DD-MMM-YYYY", @maxlength = "26", @readonly = "true" })</td>
                                }
                            }
                            
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <h2 id="showCommentSummaryError" style="display:none;"><span class="label label-danger">Summary LP Run Result, Please input Value.</span></h2>
                    <h2 id="hideCommentSummaryError">Summary LP Run Result <span style="color:red">*</span></h2>
                    <div>
                        @Html.TextAreaFor(m => m.comment.lp_run_summary, new { @class = "form-control txtExplanation" })
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <h2>Short Summary For Mobile (Maximum 200 Chars)</h2>
                    <div>
                        @Html.TextAreaFor(m => m.comment.lp_run_summary_mobile, new { @class = "form-control txtExplanation", @maxlength = "10" })
                    </div>
                </div>
            </div>
        </div>

        <div class="form-horizontal">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-2 control-label">Attach Files</label>
                            @if (Model.pageMode == "EDIT")
                            {
                                <button id="uploadSupportingDocumentFile" class="btn btn-default" type="button" onclick="UploadFileSupportingDocument()">Select Files</button>
                                <input type="file" id="fileSupportingDocumentFile" name="fileSupportingDocumentFile" multiple="multiple" style="display:none;" accept=".doc, .docx, .xls, .xlsx, .ppt, .pptx, .pdf, .msg" />
                            }
                        </div>
                    </div>
                </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div id="fileSupportingDocumentUploaded"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-horizontal">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="checkbox">
                            @if (Model.pageMode == "EDIT" || Model.pageMode == "EDIT_REASON")
                            {
                                if (Model.CrudeYield == "Y")
                                {
                                    <input id="CrudeYields" name="CrudeYields" type="checkbox" checked>
                                }
                                else
                                {
                                    <input id="CrudeYields" name="CrudeYields" type="checkbox">
                                }
                            }
                            else
                            {
                                if (Model.CrudeYield == "Y")
                                {
                                    <input id="CrudeYields" name="CrudeYields" type="checkbox" disabled checked>
                                }
                                else
                                {
                                    <input id="CrudeYields" name="CrudeYields" disabled type="checkbox">
                                }
                            }
                            <label for="CrudeYields">Crude yield comparison</label>
                            @Html.HiddenFor(a => a.CrudeYield, Model.CrudeYield)
                        </div>
                    </div>
                </div>
                <div class="col-sm-6"></div>
            </div>
            <div id="showCrudeYield">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-md-2 control-label">Base Crude</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.crude_info.crude_name, new { @class = "form-control", @readonly = "true" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6"></div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-md-2 control-label">Crude Name</label>
                            <div align="center" class="col-md-4">
                                @Html.ListBoxFor(m => m.Selected, Model.ddlCrudeName, new { @class = "form-control", @multiple = "multiple", @size = 10, @id = "ddlCrudeNameList" })
                            </div>
                            <div align="center" class="col-md-2">
                                <br /><br />
                                @if (Model.pageMode == "EDIT" || Model.pageMode == "EDIT_REASON")
                                {
                                    <input id="btnMoveToSelect" type="button" class="btn btn-default" value=">>" /><br /><br />
                                    <input id="btnDeleteFromSelect" type="button" class="btn btn-default" value="<<" /><br /><br />
                                }
                                else
                                {
                                    <input id="btnMoveToSelect" type="button" class="btn btn-default" value=">>" disabled/><br /><br />
                                    <input id="btnDeleteFromSelect" type="button" class="btn btn-default" value="<<" disabled/><br /><br />
                                }

                            </div>
                            <div align="center" class="col-md-4">
                                @Html.ListBoxFor(m => m.Selected, Model.SelectedCrudeNameList, new { @class = "form-control", @multiple = "multiple", @size = 10, @id = "ddlSelectedCrudeNameList" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-6">
                                @if (Model.pageMode == "EDIT" || Model.pageMode == "EDIT_REASON")
                                {
                                    <input id="btnGenerate_LP" type="button" value="Generate" class="btn btn-primary" />
                                }
                                else
                                {
                                    <input id="btnGenerate_LP" type="button" value="Generate" class="btn btn-primary" disabled />
                                }
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div id="divCompareSelCrude" class="col-sm-12">

                    </div>
                    @if (Model.crude_compare != null && Model.crude_compare.comparison_json != null && Model.crude_compare.comparison_json.Any())
                    {
                        <div class="col-sm-12" id="divCompareSelCrude_old">
                            @foreach (var comparison in Model.crude_compare.comparison_json)
                            {
                                <table class="col-md-2" style="border:1px;">
                                    <thead><tr><th></th></tr></thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    @if (Model.pageMode == "EDIT" || Model.pageMode == "EDIT_REASON")
                                                    {
                                                        if (comparison.isChecked == "Y")
                                                        {
                                                            <input type="checkbox" id="@(comparison.selectedCrude.ToUpper().Replace(" ", "_").Replace(")", string.Empty).Replace("(", string.Empty))" class="isYieldChecked" checked="checked" onchange="showTable('@(comparison.selectedCrude.ToUpper().Replace(" ", "_").Replace(")", string.Empty).Replace("(", string.Empty))')" />
                                                        }
                                                        else
                                                        {
                                                            <input type="checkbox" id="@(comparison.selectedCrude.ToUpper().Replace(" ", "_").Replace(")", string.Empty).Replace("(", string.Empty))" class="isYieldChecked" onchange="showTable('@(comparison.selectedCrude.ToUpper().Replace(" ", "_").Replace(")", string.Empty).Replace("(", string.Empty))')" />
                                                        }
                                                    }
                                                    else
                                                    {
                                                        if (comparison.isChecked == "Y")
                                                        {
                                                            <input type="checkbox" id="@(comparison.selectedCrude.ToUpper().Replace(" ", "_").Replace(")", string.Empty).Replace("(", string.Empty))" class="isYieldChecked" checked="checked" onchange="showTable('@(comparison.selectedCrude.ToUpper().Replace(" ", "_").Replace(")", string.Empty).Replace("(", string.Empty))')" disabled />
                                                        }
                                                        else
                                                        {
                                                            <input type="checkbox" id="@(comparison.selectedCrude.ToUpper().Replace(" ", "_").Replace(")", string.Empty).Replace("(", string.Empty))" class="isYieldChecked" onchange="showTable('@(comparison.selectedCrude.ToUpper().Replace(" ", "_").Replace(")", string.Empty).Replace("(", string.Empty))')" disabled />
                                                        }
                                                    }
                                                    <label for="@comparison.selectedCrude.ToUpper().Replace(" ", "_").Replace(")", string.Empty).Replace("(", string.Empty)">@(comparison.selectedCrude)</label>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            }
                        </div>
                        <div class="col-sm-12" id="divCompareCrude_old">
                            <div class="task-box">
                                <div class="wrapper-table collapse in" id="collapseJuly" style="height:320px;overflow:scroll;">
                                    <table class="table table-hover display" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th style="width:100px">Yield(%wt)</th>
                                                <th style="width:150px">@Model.crude_info.crude_name</th>
                                                @{int j = 0;}
                                                @{ List<string> crude_ch_N = new List<string>();}
                                                @foreach (var comparison in Model.crude_compare.comparison_json)
                                                {
                                                    if (comparison.isChecked == "Y")
                                                    {
                                                        <th style="width:150px" class="@comparison.selectedCrude.ToUpper().Replace(" ", "_").Replace(")", string.Empty).Replace("(", string.Empty)">@(comparison.selectedCrude)</th>
                                                    }
                                                    else
                                                    {
                                                        <th style="width:150px; display:none;" class="@comparison.selectedCrude.ToUpper().Replace(" ", "_").Replace(")", string.Empty).Replace("(", string.Empty)">@(comparison.selectedCrude)</th>
                                                        crude_ch_N.Add(comparison.selectedCrude);
                                                    }
                                                    <input name="crude_compare.comparison_json[@(j)].selectedCrude" type="hidden" value="@(comparison.selectedCrude)" />
                                                    <input name="crude_compare.comparison_json[@(j)].isChecked" id="@(comparison.selectedCrude.ToUpper().Replace(" ", "_").Replace(")", string.Empty).Replace("(", string.Empty) + "s")" type="hidden" value="@comparison.isChecked" />
                                                    j++;
                                                }
                                                @foreach (var comparison in Model.crude_compare.comparison_json)
                                                {
                                                    if (comparison.isChecked == "Y")
                                                    {
                                                        <th style="width:150px" class="@comparison.selectedCrude.ToUpper().Replace(" ", "_").Replace(")", string.Empty).Replace("(", string.Empty)">Delta @Model.crude_info.crude_name - @comparison.selectedCrude</th>
                                                    }
                                                    else
                                                    {
                                                        <th style="width:150px; display:none;" class="@comparison.selectedCrude.ToUpper().Replace(" ", "_").Replace(")", string.Empty).Replace("(", string.Empty)">Delta @Model.crude_info.crude_name - @comparison.selectedCrude</th>
                                                    }
                                                }
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{ string old_order = "";}
                                            @{ bool isFirst = true;}
                                            @{ int index_hidden = 0;}
                                            @{ List<string> Delta_list_name = new List<string>();}
                                            @{ List<string> Delta_list = new List<string>();}
                                            <tr>
                                                @foreach (var yield in Model.crude_compare.yield)
                                                {
                                                    <input name="crude_compare.yield[@(index_hidden)].order" type="hidden" value="@(yield.order)" />
                                                    <input name="crude_compare.yield[@(index_hidden)].yield" type="hidden" value="@(yield.yield)">
                                                    <input name="crude_compare.yield[@(index_hidden)].base_value" type="hidden" value="@(yield.base_value)">
                                                    <input name="crude_compare.yield[@(index_hidden)].compare_crude" type="hidden" value="@(yield.compare_crude)">
                                                    <input name="crude_compare.yield[@(index_hidden)].compare_value" type="hidden" value="@(yield.compare_value)">
                                                    <input name="crude_compare.yield[@(index_hidden)].delta_value" type="hidden" value="@(yield.delta_value)">
                                                    index_hidden++;

                                                    if (old_order != yield.order && !isFirst)
                                                    {
                                                        int index = 0;
                                                        foreach (var item in Delta_list)
                                                        {
                                                            if (!crude_ch_N.Contains(Delta_list_name[index]))
                                                            {
                                                                <td class="@Delta_list_name[index++].ToUpper().Replace(" ", "_").Replace(")", string.Empty).Replace("(", string.Empty)">@item</td>
                                                            }
                                                            else
                                                            {
                                                                <td class="@Delta_list_name[index++].ToUpper().Replace(" ", "_").Replace(")", string.Empty).Replace("(", string.Empty)" style="display:none;">@item</td>
                                                            }
                                                        }
                                                        Delta_list.Clear();
                                                        @:</tr>
                                                        @:<tr>
                                                        isFirst = true;
                                                    }

                                                    if (isFirst)
                                                    {
                                                        <td>@yield.yield</td>
                                                        <td>@yield.base_value</td>
                                                        isFirst = false;
                                                    }
                                                    if (!crude_ch_N.Contains(yield.compare_crude))
                                                    {
                                                        <td class="@yield.compare_crude.ToUpper().Replace(" ", "_").Replace(")", string.Empty).Replace("(", string.Empty)">@yield.compare_value</td>
                                                    }
                                                    else
                                                    {
                                                        <td class="@yield.compare_crude.ToUpper().Replace(" ", "_").Replace(")", string.Empty).Replace("(", string.Empty)" style="display:none;">@yield.compare_value</td>
                                                    }
                                                    Delta_list.Add(yield.delta_value);
                                                    Delta_list_name.Add(yield.compare_crude);
                                                    old_order = yield.order;
                                                }
                                            @{ int index_last = 0; }
                                                @foreach (var item in Delta_list)
                                                {
                                                    if (!crude_ch_N.Contains(Delta_list_name[index_last]))
                                                    {
                                                        <td class="@Delta_list_name[index_last++].ToUpper().Replace(" ", "_").Replace(")", string.Empty).Replace("(", string.Empty)">@item</td>
                                                    }
                                                    else
                                                    {
                                                        <td class="@Delta_list_name[index_last++].ToUpper().Replace(" ", "_").Replace(")", string.Empty).Replace("(", string.Empty)" style="display:none;">@item</td>
                                                    }
                                                }
                                                @{ Delta_list.Clear(); }
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                                                    }
                                                    <div id="divCompareCrude" class="col-sm-12">

                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <h2 id="showCommentError" style="display:none;"><span class="label label-danger">@ViewBag.Comment, Please input Value.</span></h2>
                                        <h2 id="hideCommentError">@ViewBag.Comment @*<span style="color:red">*</span>*@</h2>
                                        <hr />
                                        <div class="form-horizontal">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            @Html.TextAreaFor(m => m.comment.scep, new { @class = "form-control txtExplanation essential-tiny" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="wrapper-button" id="buttonDiv">
                                            @if (Model.comment.lp_run_attach_file != "")
                                            {
                                                @Html.Hidden("fileSupportingDocument", Model.comment.lp_run_attach_file as object)
                                            }
                                            else
                                            {
                                                @Html.Hidden("fileSupportingDocument")
                                            }
                                            @if (Model.buttonMode == "AUTO")
                                            {
                                                <input type="submit" value="SAVE DRAFT" class="btn btn-default" onclick="OpenBoxBungerPrompt('Comment :', 'SaveDraft'); return false;" />
                                                <input type="submit" value="SUBMIT" class="btn btn-default" name="action:Submit" onclick="OpenBoxBungerPrompt('Comment :', 'Submit'); return false;" />
                                                <input type="submit" value="SAVE DRAFT" id="btnSaveDraft" style="display: none;" name="action:SaveDraft" />
                                                <input type="submit" value="SUBMIT" id="btnSubmit" style="display: none;" name="action:Submit" />
                                                <input type="submit" value="BACK" id="btnBack" class="btn btn-default" name="action:Back" />
                                            }
                                            else
                                            {
                                                @Html.Hidden("hdfEventClick")
                                                @Html.Raw(@Model.buttonCode)
                                            }
                                        </div>

                                    </form>
                                </div>

<div class="modal fade bs-example-modal-lg2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" @*style="width: 90%; padding: 10px; padding-right: 0px;"*@ role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h3 class="modal-title" id="myLargeModalLabel">Final CAM</h3>
            </div>
            <div class="modal-body" style="height: 800px;">
                @if (Model != null && !string.IsNullOrEmpty(Model.tempFinalCAM))
                {
                    @Html.Partial("GenerateView", Model.tempFinalCAM ?? string.Empty)
                }
                else
                {
                    @Html.Raw("Cannot load the final CAM document, this crude and country is not found in COOL system.")
                    <br />
                    @Html.Raw("For more information, please contact administrator.")
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" style="float:right;" data-dismiss="modal">Close</button>
                @if (Model != null && !string.IsNullOrEmpty(Model.tempFinalCAM))
                {
                    <button type="button" class="btn btn-primary clickable-file" style="float:right;" data-dismiss="modal" data-href="@Model.tempFinalCAM">Print</button>
                }
            </div>
        </div>
    </div>
</div>

@if (TempData["res_message"] != null)
{
    if (TempData["returnPage"] != null)
    {
        <script type="text/javascript">
            OpenBoxPopupLink((@Html.Raw(Json.Encode(TempData["res_message"]))), @Html.Raw(Json.Encode(TempData["returnPage"]))).done(function() {
                $("#EventButton").val("0");
            });
        </script>
    }
    else
    {
            <script type="text/javascript">
                OpenBoxPopup(@Html.Raw(Json.Encode(TempData["res_message"])));
            </script>
    }
}


@* For attach files *@
<script>

        // DOCUMENT READY //
    $(function () {
        LoadFileSupportingDocument();
    });

    // SAVE ITEM: FILE SUPPORTING DOCUMENT //
    function SaveFileSupportingDocument() {
        $('#fileSupportingDocument').val('');
        var supportingDocument = "";
        $('.SupportingDocument').each(function () {
            var supportingDocumentType = $(this).closest('tr').find('.SupportingDocumentType').val();
            supportingDocument += $(this).attr('value') + "|";
        });
        $('#fileSupportingDocument').val(supportingDocument);
    }

    // LOAD ITEM: FILE SUPPORTING DOCUMENT //
    function LoadFileSupportingDocument() {
        if ($('#fileSupportingDocument').val()) {
            var ItemFile = $('#fileSupportingDocument').val().split("|");
            for (var i = 0; i < ItemFile.length; i++) {
                if (ItemFile[i] != "") {
                    $('#fileSupportingDocumentUploaded').append(MakeUploadFileSupportingDocument(ItemFile[i]));
                }
            }
            DeleteFileSupportingDocument();
        }

    }
    // UPLOAD FILE SUPPORTING DOCUMENT //
    function UploadFileSupportingDocument() {
        $("#fileSupportingDocumentFile").click();
    }

    $('#fileSupportingDocumentFile').change(function (e) {
        var files = e.target.files;
        if (files.length > 0) {
            if (window.FormData !== undefined) {
                for (var x = 0; x < files.length; x++) {
                    var data = new FormData();
                    data.append("file" + x, files[x]);
                    $.ajax({
                        type: "POST",
                        url: getWebSitePath() + "/Web/Api/UploadFileAPI.aspx?Type=CRUDE|F10000063",
                        contentType: false,
                        processData: false,
                        data: data,
                        success: function (response) {
                            var index = response.indexOf('<!DOCTYPE html>');
                            var json = response.substring(0, index);
                            var data = JSON.parse(json.trim());
                            $('#fileSupportingDocumentUploaded').append(MakeUploadFileSupportingDocument(data.file_path));
                            DeleteFileSupportingDocument();
                        },
                        error: function (event, queueID, fileObj, errorObj) {
                            alert(errorObj.type + ' Error: ' + errorObj.info);
                            if (fileObj.size > 4194304) { alert('File size too large.'); }
                            else { alert('Someting wrong.'); }
                        }
                    });
                    data = null;
                }
            } else {
                alert("This browser doesn't support HTML5 file uploads!");
            }
        }
        $(this).val('');
    });

    // DELETE ITEM: FILE SUPPORTING DOCUMENT //
    function DeleteFileSupportingDocument() {
        $('.glyphicon-remove').click(function () {
            $(this).parent().parent().parent().parent().remove();
        });
    }

    var doc_count = 0;
    // MAKE ITEM: FILE SUPPORTING DOCUMENT //
    function MakeUploadFileSupportingDocument(filePath) {
        var i = 0, length = filePath.length;
        var tmpFilePath = filePath;
        for (i; i < length; i++) {
            tmpFilePath = tmpFilePath.replace("/", "|").replace("\\", "|")
        }
        var fullFileName = tmpFilePath.split("|");
        var fileName = fullFileName[fullFileName.length - 1];
        var itemFileSupportingDocument = '<div id=\"' + filePath + '\" class=\"uploadifyQueue\" >';
        itemFileSupportingDocument += '<table><tr><td>';
        itemFileSupportingDocument += '<div class=\"uploadifyQueueItem SupportingDocument\" value=\"' + filePath + '\"  style="margin-right:20px;">';
        @if (Model.pageMode == "EDIT")
        {
            <text>
            itemFileSupportingDocument += '<div class="cancel">';
            itemFileSupportingDocument += '<span class="glyphicon glyphicon-remove"></span>';
            itemFileSupportingDocument += '</div>';
            </text>
        }
        itemFileSupportingDocument += '<a target="_blank" href="' + getWebSitePath() + "/" + filePath + '">' + fileName + '</a>';
        itemFileSupportingDocument += '</div>';
        itemFileSupportingDocument += '</td><td>';
        itemFileSupportingDocument += '</td><tr><table>';
        return itemFileSupportingDocument;
    }

        $('.glyphicon-remove').click(function () {
            $(this).parent().parent().parent().parent().remove();
        });
</script>

<script type="text/javascript">
    window.addEventListener('load', function() {
        if($('#crude_info_premium_maximum').val() != '' && $('#crude_info_premium_maximum').val() != ' ' && $('#crude_info_premium_maximum').val() != null && $('#crude_info_premium_maximum').val() != undefined){

        }
        else{
            $('#crude_info_premium_maximum').val('@Model.crude_info.premium');
        }
    }, false);

    $(".clickable-row").click(function () {
        window.document.location = $(this).data("href");
    });

    $(".clickable-file").click(function () {
        var path = getWebSitePath();
        window.document.location = path + '/' + $(this).data("href");
    });

    // GET WEB SITE PATH //
    function getWebSitePath() {
        var _location = document.location.toString();
        var applicationNameIndex = _location.indexOf('/', _location.indexOf('://') + 3);
        var applicationName = _location.substring(0, applicationNameIndex) + '/';
        var webFolderIndex = _location.indexOf('/', _location.indexOf(applicationName) + applicationName.length);
        var webFolderFullPath = _location.substring(0, webFolderIndex).toString().replace('/CPAIMVC', '');
        return webFolderFullPath;
    }

    function OpenModal() {
        $("#spreadsheet_SSTC_T1").click();
        $("#spreadsheet_SSTC_T0").click();

        //setTimeout(function () {
        //    $("#spreadsheet_SSTC_T0").click();
        //}, 200);
    }

    var selectCrudeArr = new Array();
    $('#btnGenerate_LP').click(function(){
        selectCrudeArr = new Array();
        selectCrudeArr.push($("#crude_info_crude_name").val());
        $("#ddlSelectedCrudeNameList").children().each(function(){
            selectCrudeArr.push($(this).attr("value"));
        });
        //selectCrudeArr = $("#ddlSelectedCrudeNameList");
        var urlSearch = "@Html.Raw( @Url.Action("CompareCrude", "VCool"))";
        $.ajax({
            data: { selectCrude: selectCrudeArr },
            url: urlSearch,
            type: 'POST',
            success: function(data) {
                $('#divCompareCrude').html(data);
                $('#divCompareCrude_old').html("");
                var markup = "";
                for (var i = 0; i < selectCrudeArr.length; i++) {
                    if (i!=0) {
                        markup += '<table class="col-md-2" style="border:1px;">';
                        markup += '<thead><tr><th></th></tr></thead><tbody><tr><td>';
                        markup += '<div class="checkbox">';
                        markup += '<input type="checkbox" id="' + selectCrudeArr[i].replace(/ /gi, "_").replace(/[-!$%^&*()+|~=`{}\[\]:";'<>?,.\/]/g, "").toUpperCase() + '" class="isYieldChecked" checked="checked" onchange="showTable(\'' + selectCrudeArr[i].replace(/ /gi, "_").replace(/[-!$%^&*()+|~=`{}\[\]:";'<>?,.\/]/g, "").toUpperCase() +'\')" />';
                        markup += '<label for="' + selectCrudeArr[i].replace(/ /gi, "_").replace(/[-!$%^&*()+|~=`{}\[\]:";'<>?,.\/]/g, "").toUpperCase()+'">'+selectCrudeArr[i]+'</label>';
                        markup += '</div>';
                        markup += '</td></tr></tbody></table>';
                    }
                }
                $('#divCompareSelCrude').html(markup).show();
                $("#divCompareSelCrude_old").html("");
            }
        });
    });

    //function updateCrudeYield() {
    //    if ($("#CrudeYields").prop('checked') == true) {
    //        $("#CrudeYield").val("Y");
    //    } else {
    //        $("#CrudeYield").val("N");
    //    }
    //}

    $('.4-digits').change(function () {
        if (!isNaN(parseFloat(this.value)))
            this.value = parseFloat(this.value.replace(/,/g,'')).toLocaleString('en-US', {maximumFractionDigits: 4});
        return this;
    });

    function YieldChecked() {
        var temp = "";
        $('.isYieldChecked').each(function () {
            var id = $(this).attr('id');
            temp += $(this).attr('id') + ":";
            if ($("#" + id).prop('checked') == true) {
                temp +=  "Y|";
            } else {
                temp += "N|";
            }
        });
        $("#tempCrudeYield").val(temp);
    }

    function showTable(cls) {
        console.log(cls);
        if ($("#" + cls).prop('checked') == true) {
            $("#" + cls + "s").val("Y");
            $("." + cls).show();
        }
        else{
            $("." + cls).hide();
            $("#" + cls + "s").val("N");
        }
    }

    function ValidateEssential() {
        RemoveValidateEssential();
        var i = 0;
        //var editorContent = tinyMCE.get('comment_lp_run_summary').getContent();
        //if (editorContent == '') {
        //    $("#showCommentSummaryError").show();
        //    $("#hideCommentSummaryError").hide();
        //    i++;
        //}
        //else {
        //    $("#showCommentSummaryError").hide();
        //    $("#hideCommentSummaryError").show();
        //}

        //var editorContentComment = tinyMCE.get('comment_scep').getContent();
        //if (editorContentComment == '') {
        //    $("#showCommentError").show();
        //    $("#hideCommentError").hide();
        //    i++;
        //}
        //else {
        //    $("#showCommentError").hide();
        //    $("#hideCommentError").show();
        //}

        $(".essential").each(function () {
            if ($.trim($(this).val()) == "" && document.getElementById($(this).attr("id")).disabled != true) {
                i++;
                addValidMessageError($("#" + $(this).attr("id")), "Please input Value.");
            }
        });

        var essential_cmcs_request = $('#comment_scep').hasClass('essential-tiny');
        if (essential_cmcs_request) {
            var editor_cmcs_request = tinyMCE.get('comment_scep');
            if (editor_cmcs_request) {
                var content_cmcs_request = editor_cmcs_request.getContent();
                if (content_cmcs_request == '')
                {
                    $("#showCommentError").show();
                    $("#hideCommentError").hide();
                    i++;
                }
                else
                {
                    $("#showCommentError").hide();
                    $("#hideCommentError").show();
                }
            }
        }

        if (i > 0)
            return false;
        return true;
    }

    function RemoveValidateEssential() {
        $(".essential").removeClass("input-error");
    }

    function ValidateEssentialSubmit() {
        RemoveValidateEssentialSubmit();
        var i = 0;

        $(".essential_submit").each(function () {
            if ($.trim($(this).val()) == "" && document.getElementById($(this).attr("id")).disabled != true) {
                i++;
                addValidMessageError($("#" + $(this).attr("id")), "Please input Value.");
            }
        });
        if (i > 0)
            return false;
        return true;
    }

    function RemoveValidateEssentialSubmit() {
        $(".essential_submit").removeClass("input-error");
    }

    function OpenBoxBungerPrompt(MSG, Event) {
        SaveFileSupportingDocument();
        if (Event != "SaveDraft" && Event != "SaveAndPreview" && Event != "Submit") {
            if ($("#hdfEventClick").length != 0) {
                $("#hdfEventClick").val(Event);
            }
        }

        //YieldChecked();
        if (Event.toUpperCase() == "SUBMIT" || Event.toUpperCase() == "APPROVE") {
            if (!ValidateEssentialSubmit()) return false;
            RemoveValidateEssentialSubmit();
            debugger;
            if($('#crude_info_premium_maximum').val() != '' && $('#crude_info_premium_maximum').val() != null && $('#crude_info_premium_maximum').val() != undefined){
                if($('#crude_info_premium_maximum').val() < '@Model.crude_info.premium'){
                    bootbox.confirm({
                        message: "Maximum Buying Purchase Price Less than propose price [" + $('#crude_info_premium_maximum').val() + "] < [@Model.crude_info.premium] <br><b>Are you sure to submit?</b> ",
                        buttons: {
                            confirm: {
                                label: 'Yes',
                            },
                            cancel: {
                                label: 'No',
                            }
                        },
                        callback: function (result) {
                            if (result) {
                                $('form').attr('target', '_self');
                                $("#btnMANUAL").click();
                                LoadingProcess();
                            }
                        }
                    });
                }
                else{
                    bootbox.confirm({
                        message: "Are you sure to submit?",
                        buttons: {
                            confirm: {
                                label: 'Yes',
                            },
                            cancel: {
                                label: 'No',
                            }
                        },
                        callback: function (result) {
                            if (result) {
                                $('form').attr('target', '_self');
                                $("#btnMANUAL").click();
                                LoadingProcess();
                            }
                        }
                    });
                }
            }
        }
        else if (Event.toUpperCase() == "REJECT") {
            //if (!ValidateEssential()) return false;   // edit 2017/12/26

            bootbox.prompt(MSG, function (result) {
                if (result === null || result === "") {
                    //Do nothing (cancel button pressed)
                    if (result === "") {
                        OpenBoxPopup("Please Key Reason for Reject.");
                    }
                    $('#EventButton').val("0");
                } else {
                    $("[name='requester_info.reason_reject_SCEP_SH']").val(result);
                    debugger;
                    $('form').attr('target', '_self');
                    if (Event == "SaveDraft") {
                        $("#btnSaveDraft").click();
                    } else {
                        $("#btnMANUAL").click();
                    }
                    LoadingProcess();
                }
            });
        }
        else if (Event.toUpperCase() == "SAVE DRAFT") {
            if (!ValidateEssentialSubmit()) return false;
            RemoveValidateEssentialSubmit();

            $('form').attr('target', '_self');
            if (Event == "SaveDraft") {
                $("#btnSaveDraft").click();
            } else {
                $("#btnMANUAL").click();
            }
            LoadingProcess();
        }
        else {
            $('form').attr('target', '_self');
            if (Event == "SaveDraft") {
                $("#btnSaveDraft").click();
            } else {
                $("#btnMANUAL").click();
            }
            LoadingProcess();
        }
    }

    $('#CrudeYields').click(function () {
        if ($('#CrudeYields').prop('checked')) {
            $('#showCrudeYield').show();
        }
        else {
            $('#showCrudeYield').hide();
            //$('#ddlSelectedCrudeNameList option').each(function () {
            //    $(this).appendTo('#ddlCrudeNameList')
            //});
        }

        if ($("#CrudeYields").prop('checked') == true) {
            $("#CrudeYield").val("Y");
        } else {
            $("#CrudeYield").val("N");
        }
    });
    function funcMoveListItem(varOriginDdl, varDestDdl) {
        if ($("#" + varOriginDdl).val() != undefined) {
            var varOptionItem = $("#" + varOriginDdl).val();
            if (varDestDdl == "ddlSelectedCrudeNameList") {
                $("#" + varDestDdl).find('option').prop("selected", "");
                selectCrudeArr.push($('#ddlCrudeNameList option:selected').val())
                $('#ddlCrudeNameList option:selected').appendTo('#ddlSelectedCrudeNameList');
            }
            else {
                $("#" + varDestDdl).find('option').prop("selected", "");
                var removeItem = $('#ddlSelectedCrudeNameList option:selected').val();
                selectCrudeArr = jQuery.grep(selectCrudeArr, function(value) {
                    return value != removeItem;
                });
                $('#ddlSelectedCrudeNameList option:selected').appendTo('#ddlCrudeNameList');
            }
            $("#" + varOriginDdl + " :selected").remove();
        }
        var varKeyList = "";
        if ($("#ddlSelectedCrudeNameList option").length > 0) {
            $("#ddlSelectedCrudeNameList option").each(function () {
                varKeyList += $(this).val() + ",";
            });
            var split = varKeyList.split(",");
            var x = split.slice(0, split.length - 1);
        }
        $("#KeyNames").val(x);
    };
    $("#btnMoveToSelect").click(function () {
        funcMoveListItem("ddlCrudeNameList", "ddlSelectedCrudeNameList");
    });
    $("#btnDeleteFromSelect").click(function () {
        funcMoveListItem("ddlSelectedCrudeNameList", "ddlCrudeNameList");
    });

    $(function () {
        selectCrudeArr.push($("#ddlCrudeNameList option[value='@Model.crude_info.crude_name']").val());
        var ddl = document.getElementById('ddlSelectedCrudeNameList');
        for (i = 0; i < ddl.options.length; i++) {
            selectCrudeArr.push(ddl.options[i].value);
        }
        $("#ddlCrudeNameList option[value='@Model.crude_info.crude_name']").remove();
        @if (Model.pageMode == "READ")
        {
            @:$('#crude_info_premium').prop('readonly', true);
                    @:$('#ProcessingPeriodDate').prop('readonly', true);
                    @:$('#CrudeYield').prop('disabled', true);
                }
        else
        {
            @:loadDatePicker();
                }

        if ($("#CrudeYield").val() == "Y") {
            $('#showCrudeYield').show();
        }
        else {
            $('#showCrudeYield').hide();
        }
    });

    function loadDatePicker() {
        if($('#ProcessingPeriodDate').prop('readonly') == true){

        }
        else{
            $('#ProcessingPeriodDate').dateRangePicker(
            {
                autoClose: true,
                singleDate: false,
                showShortcuts: false,
                format: 'DD-MMM-YYYY',
                time: { enabled: false }
            });
        }
    }

    tinymce.init({
        selector: '#comment_reason_for_purchasing,#comment_lp_run_note',
        theme: 'modern',
        plugins: ['textcolor colorpicker'],
        height: 150,
        menubar: false,
        toolbar: " undo redo | bold italic underline | numlist | forecolor | removeformat | spellchecker",
        statusbar: true,
        image_advtab: true,
        paste_data_images: true,
        readonly: true,
        textcolor_map: [
            "000000", "Black",
            "993300", "Burnt orange",
            "333300", "Dark olive",
            "003300", "Dark green",
            "003366", "Dark azure",
            "000080", "Navy Blue",
            "333399", "Indigo",
            "333333", "Very dark gray",
            "800000", "Maroon",
            "FF6600", "Orange",
            "808000", "Olive",
            "008000", "Green",
            "008080", "Teal",
            "0000FF", "Blue",
            "666699", "Grayish blue",
            "808080", "Gray",
            "FF0000", "Red",
            "FF9900", "Amber",
            "99CC00", "Yellow green",
            "339966", "Sea green",
            "33CCCC", "Turquoise",
            "3366FF", "Royal blue",
            "800080", "Purple",
            "999999", "Medium gray",
            "FF00FF", "Magenta",
            "FFCC00", "Gold",
            "FFFF00", "Yellow",
            "00FF00", "Lime",
            "00FFFF", "Aqua",
            "00CCFF", "Sky blue",
            "993366", "Red violet",
            "FFFFFF", "White",
            "FF99CC", "Pink",
            "FFCC99", "Peach",
            "FFFF99", "Light yellow",
            "CCFFCC", "Pale green",
            "CCFFFF", "Pale cyan",
            "99CCFF", "Light sky blue",
            "CC99FF", "Plum"
        ]
    });

    tinymce.init({
        selector: '#comment_scep',
        theme: 'modern',
        plugins: ['textcolor colorpicker'],
        height: 150,
        menubar: false,
        toolbar: " undo redo | bold italic underline | numlist | forecolor | removeformat | spellchecker",
        statusbar: true,
        image_advtab: true,
        paste_data_images: true,
        readonly: @txtExplanation_readmode,
        textcolor_map: [
            "000000", "Black",
            "993300", "Burnt orange",
            "333300", "Dark olive",
            "003300", "Dark green",
            "003366", "Dark azure",
            "000080", "Navy Blue",
            "333399", "Indigo",
            "333333", "Very dark gray",
            "800000", "Maroon",
            "FF6600", "Orange",
            "808000", "Olive",
            "008000", "Green",
            "008080", "Teal",
            "0000FF", "Blue",
            "666699", "Grayish blue",
            "808080", "Gray",
            "FF0000", "Red",
            "FF9900", "Amber",
            "99CC00", "Yellow green",
            "339966", "Sea green",
            "33CCCC", "Turquoise",
            "3366FF", "Royal blue",
            "800080", "Purple",
            "999999", "Medium gray",
            "FF00FF", "Magenta",
            "FFCC00", "Gold",
            "FFFF00", "Yellow",
            "00FF00", "Lime",
            "00FFFF", "Aqua",
            "00CCFF", "Sky blue",
            "993366", "Red violet",
            "FFFFFF", "White",
            "FF99CC", "Pink",
            "FFCC99", "Peach",
            "FFFF99", "Light yellow",
            "CCFFCC", "Pale green",
            "CCFFFF", "Pale cyan",
            "99CCFF", "Light sky blue",
            "CC99FF", "Plum"
        ]
    });

    //for
    tinymce.init({
        selector: '#comment_lp_run_summary',
        theme: 'modern',
        plugins: ['textcolor colorpicker'],
        height: 150,
        menubar: false,
        toolbar: " undo redo | bold italic underline | numlist | forecolor | removeformat | spellchecker",
        statusbar: true,
        image_advtab: true,
        paste_data_images: true,
        @*readonly: @(((txtExplanation_readmode == 1 ? true : false) || !(bool)TempData["isSCEP_SH"]) ? 1 : 0),*@
        readonly: @(((txtExplanation_readmode == 1 ? true : false) || (bool)TempData["isSCEP_SH"]) ? 1 : 0),
        textcolor_map: [
            "000000", "Black",
            "993300", "Burnt orange",
            "333300", "Dark olive",
            "003300", "Dark green",
            "003366", "Dark azure",
            "000080", "Navy Blue",
            "333399", "Indigo",
            "333333", "Very dark gray",
            "800000", "Maroon",
            "FF6600", "Orange",
            "808000", "Olive",
            "008000", "Green",
            "008080", "Teal",
            "0000FF", "Blue",
            "666699", "Grayish blue",
            "808080", "Gray",
            "FF0000", "Red",
            "FF9900", "Amber",
            "99CC00", "Yellow green",
            "339966", "Sea green",
            "33CCCC", "Turquoise",
            "3366FF", "Royal blue",
            "800080", "Purple",
            "999999", "Medium gray",
            "FF00FF", "Magenta",
            "FFCC00", "Gold",
            "FFFF00", "Yellow",
            "00FF00", "Lime",
            "00FFFF", "Aqua",
            "00CCFF", "Sky blue",
            "993366", "Red violet",
            "FFFFFF", "White",
            "FF99CC", "Pink",
            "FFCC99", "Peach",
            "FFFF99", "Light yellow",
            "CCFFCC", "Pale green",
            "CCFFFF", "Pale cyan",
            "99CCFF", "Light sky blue",
            "CC99FF", "Plum"
        ]
    });

    tinymce.init({
        selector: '#comment_lp_run_summary_mobile',
        theme: 'modern',
        plugins: ['textcolor colorpicker'],
        height: 150,
        menubar: false,
        toolbar: " undo redo | bold italic underline | numlist | forecolor | removeformat | spellchecker",
        statusbar: true,
        image_advtab: true,
        paste_data_images: true,
        readonly: @(((txtExplanation_readmode == 1 ? true : false) || (bool)TempData["isSCEP_SH"]) ? 1 : 0),
        max_chars: 200,
        setup: function(ed) {
            var allowedKeys = [8, 37, 38, 39, 40, 46]; // backspace, delete and cursor keys
            ed.on('keyDown', function(e) {
                if (allowedKeys.indexOf(e.keyCode) != -1) return true;
                if ( this.contentDocument.body.innerText.length + 1 > this.settings.max_chars){
                    ed.preventDefault();
                    ed.stopPropagation();
                    return false;
                }
            });
        },
        textcolor_map: [
            "000000", "Black",
            "993300", "Burnt orange",
            "333300", "Dark olive",
            "003300", "Dark green",
            "003366", "Dark azure",
            "000080", "Navy Blue",
            "333399", "Indigo",
            "333333", "Very dark gray",
            "800000", "Maroon",
            "FF6600", "Orange",
            "808000", "Olive",
            "008000", "Green",
            "008080", "Teal",
            "0000FF", "Blue",
            "666699", "Grayish blue",
            "808080", "Gray",
            "FF0000", "Red",
            "FF9900", "Amber",
            "99CC00", "Yellow green",
            "339966", "Sea green",
            "33CCCC", "Turquoise",
            "3366FF", "Royal blue",
            "800080", "Purple",
            "999999", "Medium gray",
            "FF00FF", "Magenta",
            "FFCC00", "Gold",
            "FFFF00", "Yellow",
            "00FF00", "Lime",
            "00FFFF", "Aqua",
            "00CCFF", "Sky blue",
            "993366", "Red violet",
            "FFFFFF", "White",
            "FF99CC", "Pink",
            "FFCC99", "Peach",
            "FFFF99", "Light yellow",
            "CCFFCC", "Pale green",
            "CCFFFF", "Pale cyan",
            "99CCFF", "Light sky blue",
            "CC99FF", "Plum"
        ]
    });

</script>
