﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.VCoolViewModel
@{
    //ViewBag.Title = "Title PCAFinalPrice";
    int readmode = (Model.pageMode == "EDIT") ? 0 : 1;
    readmode = (bool)TempData["isEVPC"] ? 1 : 0;

    int checkEVPC = (bool)TempData["isEVPC"] ? 0 : 1;
}
@if (TempData["res_message"] != null)
{
    if (TempData["returnPage"] != null)
    {
        <script type="text/javascript">
            OpenBoxPopupLink((@Html.Raw(Json.Encode(TempData["res_message"]))), @Html.Raw(Json.Encode(TempData["returnPage"]))).done(function() {
                $("#EventButton").val("0");
            });
        </script>
    }
    else
    {
        <script type="text/javascript">
            OpenBoxPopup(@Html.Raw(Json.Encode(TempData["res_message"])));
        </script>
    }
}
<style>
    .modal-lg{
        
    }
</style>
<div class="wrapper-detail">
    <div>
        <h1 style="font-weight: bold;">@ViewBag.Title</h1>
    </div>
    <form action="" id="formpost" method="post">
        <div class="form-horizontal">
            @Html.HiddenFor(a => a.taskID)
            @Html.HiddenFor(a => a.reqID)
            @Html.HiddenFor(a => a.purno)
            @Html.HiddenFor(model => model.requester_info.reason_reject_CMCS_SH, Model.requester_info.reason_reject_CMCS_SH)

            @if (Model.stateModel != "1" && Model.PageStatus == "VIEW")
            {
                @Html.HiddenFor(model => model.crude_info.purchase_result)
                @Html.HiddenFor(model => model.crude_info.benchmark_price)
                @Html.HiddenFor(model => model.crude_info.final_benchmark_price)
                @Html.HiddenFor(model => model.crude_info.incoterm)
                @Html.HiddenFor(model => model.crude_info.final_incoterm)
                @Html.HiddenFor(model => model.crude_info.supplier)
                @Html.HiddenFor(model => model.crude_info.premium)
                @Html.HiddenFor(model => model.crude_info.final_premium)
                @Html.HiddenFor(model => model.crude_info.discharging_date_from)
                @Html.HiddenFor(model => model.crude_info.discharging_date_to)
                @Html.HiddenFor(model => model.comment.cmcs_request)
            }
            <div class="row">
                <h2>Request Information</h2>
                <hr />
                <div class="form-group">
                    <div class="col-md-6">
                        <label class="col-md-3 control-label">Name</label>
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.requester_info.name, new { @class = "form-control essential_submit", @readonly = "true" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="col-md-3 control-label">Purchase No.</label>
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.requester_info.purchase_no, new { @class = "form-control essential_submit", @readonly = "true" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <label class="col-md-3 control-label">Area/Unit Create</label>
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.requester_info.area_unit, new { @class = "form-control essential_submit", @readonly = "true" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="col-md-3 control-label">Workflow Status</label>
                        <div class="col-md-6">
                            @if (Model.requester_info.workflow_status == "CONSENSUS APPROVAL")
                            {
                                @Html.TextBoxFor(model => model.requester_info.status_sc_description, new { @class = "form-control essential_submit", @readonly = "true" })
                                @Html.HiddenFor(model => model.requester_info.status_sc)
                            }
                            else
                            {
                                @Html.TextBoxFor(model => model.requester_info.workflow_status_description, new { @class = "form-control essential_submit", @readonly = "true" })
                                @Html.HiddenFor(model => model.requester_info.workflow_status)
                            }
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <label class="col-md-3 control-label">Date/Time</label>
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.requester_info.date_purchase, new { @class = "form-control essential_submit", @readonly = "true" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" style="display:none;">
                            <label class="col-md-3 control-label">Workflow Priority</label>
                            <div class="col-md-6">
                                @Html.DropDownListFor(model => model.requester_info.workflow_priority, new SelectList(Model.ddlPriority, "Value", "Text", Model.requester_info.workflow_priority), "-- Select --", new { @class = "form-control", @style = "display:none" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <h2>Crude Information</h2>
                    <hr />
                    <table id="CrudeInformation" class="table table-hover display" cellspacing="0">
                        <thead>
                            <tr>
                                <th rowspan="2" style="width:100px">Crude Name</th>
                                <th rowspan="2" style="width:100px">Country</th>
                                <th rowspan="2" style="width:100px">Buying Type</th>
                                <th rowspan="2" style="width:100px">Loading Month</th>
                                <th rowspan="2" style="width:250px">Discharging Date</th>
                                <!--<th rowspan="2" style="width:100px">Country</th>-->
                                <!--<th rowspan="2" style="width:100px">LP Result</th>-->
                                <!--<th rowspan="2" style="width:100px">Final CAM</th>-->
                                <th colspan="3" style="width:300px">Proposed By CMCS</th>
                                <th colspan="1" style="width:100px">Recommended by SCEP</th>
                                <!--<th rowspan="2" style="width:250px">Discharging Date</th>-->
                                <th rowspan="2" style="width:100px">LP Result</th>
                                <th rowspan="2" style="width:100px">Final CAM</th>
                            </tr>
                            <tr>
                                <th style="width:100px">Propose Price($/bbl)</th>
                                <th style="width:100px">Volume (kbbl)</th>
                                <th style="width:100px">Volume (kT)</th>
                                <th style="width:100px">Maximum Buying Price($/bbl)</th>
                        </thead>
                        <tbody>
                            <tr>

                                @Html.HiddenFor(model => model.crude_info.crude_ref)
                                @Html.HiddenFor(model => model.crude_info.loading_date_from)
                                @Html.HiddenFor(model => model.crude_info.loading_date_to)
                                @Html.HiddenFor(model => model.crude_info.origin)
                                @Html.HiddenFor(model => model.crude_info.purchased_by)
                                @Html.HiddenFor(model => model.crude_info.purchase_method)
                                @Html.HiddenFor(model => model.crude_info.tpc_plan_month)
                                @Html.HiddenFor(model => model.crude_info.tpc_plan_year)
								@Html.HiddenFor(model => model.crude_info.discharging_date_from)
								@Html.HiddenFor(model => model.crude_info.discharging_date_to)
								@Html.HiddenFor(model => model.crude_info.benchmark_price)
								@Html.HiddenFor(model => model.crude_info.premium_maximum)                                
                                @Html.HiddenFor(model => model.crude_info.incoterm)
                                @Html.HiddenFor(model => model.crude_info.premium)
                                <td>
                                    @Html.HiddenFor(model => model.crude_info.crude_name)
                                    @Model.crude_info.crude_name
                                </td>
                                <td>
                                    @Html.HiddenFor(model => model.crude_info.origin)
                                    @Model.crude_info.origin
                                </td>
                                <td>
                                    @Html.HiddenFor(model => model.crude_info.purchase_type)
                                    @Model.crude_info.purchase_type
                                </td>
                                <td>
                                    @Html.HiddenFor(model => model.tempLoadingDate)
                                    @Model.tempLoadingDate
                                </td>
                                <td>@Html.TextBoxFor(model => model.tempDischargingDate, new { @class = "form-control essential_submit input-date-picker ", @placeholder = "DD-MMM-YYYY to DD-MMM-YYYY", @maxlength = "26" })</td>
                                @*<td>
                        @Html.HiddenFor(model => model.crude_info.origin)
                        @Model.crude_info.origin
                    </td>*@
                                @*<td><a href="javascript:void(0)" data-toggle="modal" data-target=".bs-example-modal-lg">[View]</a></td>
                    <td><a href="javascript:void(0)" onclick="OpenModal()" data-toggle="modal" data-target=".bs-example-modal-lg2">[View]</a></td>*@
                                <td>
                                    @Html.HiddenFor(model => model.crude_info.formula_price)
                                    @Model.crude_info.formula_price
                                </td>
                                <td>
                                    @Html.HiddenFor(model => model.crude_info.quantity_kbbl_max)
                                    @Model.crude_info.quantity_kbbl_max
                                </td>
                                <td>
                                    @Html.HiddenFor(model => model.crude_info.quantity_kt_max)
                                    @Model.crude_info.quantity_kt_max
                                </td>
                                <td>
                                    @string.Format("{0}+{1} {2}", Model.crude_info.benchmark_price, Model.crude_info.premium_maximum, Model.crude_info.incoterm)
                                </td>
                                @*<td>@Html.TextBoxFor(model => model.tempDischargingDate, new { @class = "form-control essential_submit input-date-picker ", @placeholder = "DD-MMM-YYYY to DD-MMM-YYYY", @maxlength = "26" })</td>*@
                                <td><a href="javascript:void(0)" data-toggle="modal" data-target=".bs-example-modal-lg">[View]</a></td>
                                @*<td><a href="javascript:void(0)" onclick="OpenModal()" data-toggle="modal" data-target=".bs-example-modal-lg2">[View]</a></td>*@
                                <td><a target="_blank" href="FinalCAM?tempFinalCAM=@(Model != null && !string.IsNullOrEmpty(Model.tempFinalCAM_Encrypt) ? Model.tempFinalCAM_Encrypt : string.Empty)">[View]</a></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            @if (Model.stateModel == "1")
            {
                if (Model.date_history.history.Count() > 0)
                {
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-6">
                            <table id="ETAHistoryDate" class="table table-hover display" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Group</th>
                                        <th>Discharging Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                        @foreach (var item in Model.date_history.history)
                                        {
                                            <tr>
                                                <td>@item.user_group</td>
                                                <td>@item.date_history</td>
                                            </tr>
                                        }
                                            
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                } 
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-6">
                            <h2>Brief Market Situation / Reason for purchasing<span style="color:red">*</span></h2>
                            <div>
                                @Html.TextAreaFor(model => model.comment.reason_for_purchasing, new { @class = "form-control txtExplanationROnly" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h2>Note<span style="color:red">*</span></h2>
                            <div>
                                @Html.TextAreaFor(model => model.comment.lp_run_note, new { @class = "form-control txtExplanationROnly" })
                            </div>
                        </div>
                    </div>
                </div>
                @Html.HiddenFor(model => model.crude_info.purchase_result)
                @Html.HiddenFor(model => model.crude_info.supplier)
                @Html.HiddenFor(model => model.crude_info.benchmark_price)
                @Html.HiddenFor(model => model.crude_info.final_benchmark_price)
                @Html.HiddenFor(model => model.crude_info.premium)
                @Html.HiddenFor(model => model.crude_info.final_premium)
                @Html.HiddenFor(model => model.crude_info.premium_maximum)
                @Html.HiddenFor(model => model.crude_info.incoterm)
                @Html.HiddenFor(model => model.crude_info.final_incoterm)
                @Html.HiddenFor(model => model.crude_info.purchase_date)
            }
            else if(Model.stateModel == "2")
            {
                <div class="row">
                    <h2>Final actual price</h2>
                    <hr />
                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="col-md-3 control-label">Purchase@*<span style="color:red">*</span>*@</label>
                            <div class="col-md-6">
                                @if (Model.pageMode == "EDIT" && !((bool)TempData["isCMCS"]) && !((bool)TempData["isEVPC"]))
                                {
                                    if (Model.crude_info != null && !string.IsNullOrEmpty(Model.crude_info.purchase_result))
                                    {
                                        @Html.DropDownListFor(model => model.crude_info.purchase_result, new SelectList(Model.ddlPurchaseResult, "Value", "Text", Model.crude_info.purchase_result), "--Select--", new { @class = "form-control essential_submit FAP" })
                                    }
                                    else
                                    {
                                        // BEGIN: DEFAULT PURCHASE RESULT BY PREMIUM AND preMIUM MAXIMUM VALUE //
                                        var premium = Convert.ToDecimal((Model.crude_info != null && !string.IsNullOrEmpty(Model.crude_info.premium) ? Model.crude_info.premium : "0"));
                                        var premium_maximum = Convert.ToDecimal((Model.crude_info != null && !string.IsNullOrEmpty(Model.crude_info.premium_maximum) ? Model.crude_info.premium_maximum : "0"));
                                        if (premium <= premium_maximum)
                                        {
                                            Model.crude_info.purchase_result = "Yes";
                                        }
                                        else
                                        {
                                            Model.crude_info.purchase_result = "No";
                                        }
                                        // END: DEFAULT PURCHASE RESULT BY PREMIUM AND preMIUM MAXIMUM VALUE //
                                        @Html.DropDownListFor(model => model.crude_info.purchase_result, new SelectList(Model.ddlPurchaseResult, "Value", "Text", Model.crude_info.purchase_result), "--Select--", new { @class = "form-control essential_submit FAP" })
                                    }
                                }
                                else
                                {
                                    if (Model.crude_info != null && !string.IsNullOrEmpty(Model.crude_info.purchase_result))
                                    {
                                        @Html.DropDownListFor(model => model.crude_info.purchase_result, new SelectList(Model.ddlPurchaseResult, "Value", "Text", Model.crude_info.purchase_result), "--Select--", new { @class = "form-control essential_submit FAP", @disabled = "disabled" })
                                    }
                                    else
                                    {
                                        @Html.DropDownListFor(model => model.crude_info.purchase_result, new SelectList(Model.ddlPurchaseResult, "Value", "Text"), "--Select--", new { @class = "form-control essential_submit FAP", @disabled = "disabled" })
                                    }
                                    @Html.HiddenFor(model => model.crude_info.purchase_result)
                                }                                
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="col-md-3 control-label">Supplier<span style="color:red">*</span></label>
                            <div class="col-md-6">
                                @if (Model.pageMode == "EDIT" && !((bool)TempData["isCMCS"]) && !((bool)TempData["isEVPC"]))
                                {
                                    if (Model.crude_info != null && !string.IsNullOrEmpty(Model.crude_info.supplier))
                                    {
                                        @Html.DropDownListFor(model => model.crude_info.supplier, new SelectList(Model.ddlSupplier, "Value", "Text", Model.crude_info.supplier), "--Select--", new { @class = "form-control essential_submit FAP" })
                                    }
                                    else
                                    {
                                        @Html.DropDownListFor(model => model.crude_info.supplier, new SelectList(Model.ddlSupplier, "Value", "Text"), "--Select--", new { @class = "form-control essential_submit FAP" })
                                    }
                                }
                                else
                                {
                                    if (Model.crude_info != null && !string.IsNullOrEmpty(Model.crude_info.supplier))
                                    {
                                        @Html.DropDownListFor(model => model.crude_info.supplier, new SelectList(Model.ddlSupplier, "Value", "Text", Model.crude_info.supplier), "--Select--", new { @class = "form-control essential_submit FAP", @disabled = "disabled" })
                                    }
                                    else
                                    {
                                        @Html.DropDownListFor(model => model.crude_info.supplier, new SelectList(Model.ddlSupplier, "Value", "Text"), "--Select--", new { @class = "form-control essential_submit FAP", @disabled = "disabled" })
                                    }
                                    @Html.HiddenFor(model => model.crude_info.supplier)
                                }                                
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="col-md-3 control-label">Benchmark Price<span style="color:red">*</span></label>
                            <div class="col-md-6">
                                @if (Model.pageMode == "EDIT" && !((bool)TempData["isCMCS"]) && !((bool)TempData["isEVPC"]))
                                {
                                    if (Model.crude_info != null && !string.IsNullOrEmpty(Model.crude_info.final_benchmark_price))
                                    {
                                        @Html.DropDownListFor(model => model.crude_info.final_benchmark_price, new SelectList(Model.ddlBenchmarkPrice, "Value", "Text", Model.crude_info.final_benchmark_price), "--Select--", new { @class = "form-control essential_submit FAP" })
                                    }
                                    else
                                    {
                                        Model.crude_info.final_benchmark_price = null;
                                        @Html.DropDownListFor(model => model.crude_info.final_benchmark_price, new SelectList(Model.ddlBenchmarkPrice, "Value", "Text", Model.crude_info.benchmark_price), "--Select--", new { @class = "form-control essential_submit FAP" })
                                    }
                                }
                                else
                                {
                                    if (Model.crude_info != null && !string.IsNullOrEmpty(Model.crude_info.final_benchmark_price))
                                    {
                                        @Html.DropDownListFor(model => model.crude_info.final_benchmark_price, new SelectList(Model.ddlBenchmarkPrice, "Value", "Text", Model.crude_info.final_benchmark_price), "--Select--", new { @class = "form-control essential_submit FAP", @disabled = "disabled" })
                                    }
                                    else
                                    {
                                        Model.crude_info.final_benchmark_price = null;
                                        @Html.DropDownListFor(model => model.crude_info.final_benchmark_price, new SelectList(Model.ddlBenchmarkPrice, "Value", "Text", Model.crude_info.benchmark_price), "--Select--", new { @class = "form-control essential_submit FAP", @disabled = "disabled" })
                                    }
                                    @Html.HiddenFor(model => model.crude_info.final_benchmark_price)
                                }                                
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="col-md-3 control-label">Premium($/bbl)<span style="color:red">*</span></label>
                            <div class="col-md-6">
                                @if ((Model.pageMode == "EDIT" || Model.pageMode == "EDIT_REASON") && !((bool)TempData["isCMCS"]) && !((bool)TempData["isEVPC"]))
                                {
                                    if (Model.crude_info != null && !string.IsNullOrEmpty(Model.crude_info.final_premium))
                                    {
                                        @Html.TextBoxFor(model => model.crude_info.final_premium, new { @class = "form-control essential_submit 4-digits FAP", @onkeypress = "return ValidateNumberDigit(event);" })
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(model => model.crude_info.final_premium, new { @class = "form-control essential_submit 4-digits FAP", @onkeypress = "return ValidateNumberDigit(event);", @Value = Model.crude_info.premium })
                                    }
                                }
                                else
                                {
                                    if (Model.crude_info != null && !string.IsNullOrEmpty(Model.crude_info.final_premium))
                                    {
                                        @Html.TextBoxFor(model => model.crude_info.final_premium, new { @class = "form-control essential_submit 4-digits FAP", @readonly = "readonly", @onkeypress = "return ValidateNumberDigit(event);" })
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(model => model.crude_info.final_premium, new { @class = "form-control essential_submit 4-digits FAP", @readonly = "readonly", @onkeypress = "return ValidateNumberDigit(event);", @Value = Model.crude_info.premium })
                                    }
                                }                             
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="col-md-3 control-label">Incoterm<span style="color:red">*</span></label>
                            <div class="col-md-6">
                                @if (Model.pageMode == "EDIT" && !((bool)TempData["isCMCS"]) && !((bool)TempData["isEVPC"]))
                                {
                                    if (Model.crude_info != null && !string.IsNullOrEmpty(Model.crude_info.final_incoterm))
                                    {
                                        @Html.DropDownListFor(model => model.crude_info.final_incoterm, new SelectList(Model.ddlIncoterm, "Value", "Text", Model.crude_info.final_incoterm), "--Select--", new { @class = "form-control essential_submit FAP" })
                                    }
                                    else
                                    {
                                        Model.crude_info.final_incoterm = null;
                                        @Html.DropDownListFor(model => model.crude_info.final_incoterm, new SelectList(Model.ddlIncoterm, "Value", "Text", Model.crude_info.incoterm), "--Select--", new { @class = "form-control essential_submit FAP" })
                                    }
                                }
                                else
                                {
                                    if (Model.crude_info != null && !string.IsNullOrEmpty(Model.crude_info.final_incoterm))
                                    {
                                        @Html.DropDownListFor(model => model.crude_info.final_incoterm, new SelectList(Model.ddlIncoterm, "Value", "Text", Model.crude_info.final_incoterm), "--Select--", new { @class = "form-control essential_submit FAP", @readonly = "readonly", @disabled = "disabled" })
                                    }
                                    else
                                    {
                                        Model.crude_info.final_incoterm = null;
                                        @Html.DropDownListFor(model => model.crude_info.final_incoterm, new SelectList(Model.ddlIncoterm, "Value", "Text", Model.crude_info.incoterm), "--Select--", new { @class = "form-control essential_submit FAP", @readonly = "readonly", @disabled = "disabled" })
                                    }
                                    @Html.HiddenFor(model => model.crude_info.final_incoterm)
                                }
                            </div>
                        </div>
                        <div class="col-md-6">
                            @Html.HiddenFor(model => model.crude_info.purchase_date)
                        </div>
                    </div>
                </div>
            }
            else if (Model.stateModel == "3")
            {
                <div class="row">
                    <h2>Final actual price</h2>
                    <hr />
                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="col-md-3 control-label">Purchase<span style="color:red">*</span></label>
                            <div class="col-md-6">
                                @if (!(bool)TempData["isCMCS"])
                                {
                                    if (Model.crude_info != null && !string.IsNullOrEmpty(Model.crude_info.purchase_result))
                                    {
                                        @Html.DropDownListFor(model => model.crude_info.purchase_result, new SelectList(Model.ddlPurchaseResult, "Value", "Text", Model.crude_info.purchase_result), "--Select--", new { @class = "form-control essential_submit FAP" })
                                    }
                                    else
                                    {
                                        if ((bool)TempData["isCMCS"])
                                        {
                                            @Html.DropDownListFor(model => model.crude_info.purchase_result, new SelectList(Model.ddlPurchaseResult, "Value", "Text"), "--Select--", new { @class = "form-control essential_submit" })
                                        }
                                        else {
                                            @Html.DropDownListFor(model => model.crude_info.purchase_result, new SelectList(Model.ddlPurchaseResult, "Value", "Text"), "--Select--", new { @class = "form-control essential_submit FAP" })
                                        }
                                    }
                                }
                                else
                                {
                                    if (Model.crude_info != null && !string.IsNullOrEmpty(Model.crude_info.purchase_result))
                                    {
                                        @Html.DropDownListFor(model => model.crude_info.purchase_result, new SelectList(Model.ddlPurchaseResult, "Value", "Text", Model.crude_info.purchase_result), "--Select--", new { @class = "form-control essential_submit FAP", @disabled = "disabled" })
                                    }
                                    else
                                    {
                                        @Html.DropDownListFor(model => model.crude_info.purchase_result, new SelectList(Model.ddlPurchaseResult, "Value", "Text"), "--Select--", new { @class = "form-control essential_submit FAP", @disabled = "disabled" })
                                    }
                                    @Html.HiddenFor(model => model.crude_info.purchase_result)
                                }
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="col-md-3 control-label">Supplier<span style="color:red">*</span></label>
                            <div class="col-md-6">
                                @if (false@*Model.pageMode == "EDIT" || Model.pageMode == "EDIT_REASON"*@)
                                {
                                    if (Model.crude_info != null && !string.IsNullOrEmpty(Model.crude_info.supplier))
                                    {
                                        @Html.DropDownListFor(model => model.crude_info.supplier, new SelectList(Model.ddlSupplier, "Value", "Text", Model.crude_info.supplier), "--Select--", new { @class = "form-control essential_submit FAP" })
                                    }
                                    else
                                    {
                                        @Html.DropDownListFor(model => model.crude_info.supplier, new SelectList(Model.ddlSupplier, "Value", "Text"), "--Select--", new { @class = "form-control essential_submit FAP" })
                                    }
                                }
                                else
                                {
                                    if (Model.crude_info != null && !string.IsNullOrEmpty(Model.crude_info.supplier))
                                    {
                                        @Html.DropDownListFor(model => model.crude_info.supplier, new SelectList(Model.ddlSupplier, "Value", "Text", Model.crude_info.supplier), "--Select--", new { @class = "form-control essential_submit FAP", @disabled = "disabled" })
                                    }
                                    else
                                    {
                                        @Html.DropDownListFor(model => model.crude_info.supplier, new SelectList(Model.ddlSupplier, "Value", "Text"), "--Select--", new { @class = "form-control essential_submit FAP", @disabled = "disabled" })
                                    }
                                    @Html.HiddenFor(model => model.crude_info.supplier)
                                }
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="col-md-3 control-label">Benchmark Price<span style="color:red">*</span></label>
                            <div class="col-md-6">
                                @if (false@*Model.pageMode == "EDIT" || Model.pageMode == "EDIT_REASON"*@)
                                {
                                    if (Model.crude_info != null && !string.IsNullOrEmpty(Model.crude_info.final_benchmark_price))
                                    {
                                        @Html.DropDownListFor(model => model.crude_info.final_benchmark_price, new SelectList(Model.ddlBenchmarkPrice, "Value", "Text", Model.crude_info.final_benchmark_price), "--Select--", new { @class = "form-control essential_submit FAP" })
                                    }
                                    else
                                    {
                                        Model.crude_info.final_benchmark_price = null;
                                        @Html.DropDownListFor(model => model.crude_info.final_benchmark_price, new SelectList(Model.ddlBenchmarkPrice, "Value", "Text", Model.crude_info.benchmark_price), "--Select--", new { @class = "form-control essential_submit FAP" })
                                    }
                                }
                                else
                                {
                                    if (Model.crude_info != null && !string.IsNullOrEmpty(Model.crude_info.final_benchmark_price))
                                    {
                                        @Html.DropDownListFor(model => model.crude_info.final_benchmark_price, new SelectList(Model.ddlBenchmarkPrice, "Value", "Text", Model.crude_info.final_benchmark_price), "--Select--", new { @class = "form-control essential_submit FAP", @disabled = "disabled" })
                                    }
                                    else
                                    {
                                        Model.crude_info.final_benchmark_price = null;
                                        @Html.DropDownListFor(model => model.crude_info.final_benchmark_price, new SelectList(Model.ddlBenchmarkPrice, "Value", "Text", Model.crude_info.benchmark_price), "--Select--", new { @class = "form-control essential_submit FAP", @disabled = "disabled" })
                                    }
                                    @Html.HiddenFor(model => model.crude_info.final_benchmark_price)
                                }
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="col-md-3 control-label">Premium($/bbl)<span style="color:red">*</span></label>
                            <div class="col-md-6">
                                @if (false@*Model.pageMode == "EDIT" || Model.pageMode == "EDIT_REASON"*@)
                                {
                                    if (Model.crude_info != null && !string.IsNullOrEmpty(Model.crude_info.final_premium))
                                    {
                                        @Html.TextBoxFor(model => model.crude_info.final_premium, new { @class = "form-control essential_submit 4-digits FAP", @onkeypress = "return ValidateNumberDigit(event);" })
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(model => model.crude_info.final_premium, new { @class = "form-control essential_submit 4-digits FAP", @onkeypress = "return ValidateNumberDigit(event);", @Value = Model.crude_info.premium })
                                    }
                                }
                                else
                                {
                                    if (Model.crude_info != null && !string.IsNullOrEmpty(Model.crude_info.final_premium))
                                    {
                                        @Html.TextBoxFor(model => model.crude_info.final_premium, new { @class = "form-control essential_submit 4-digits FAP", @readonly = "readonly", @onkeypress = "return ValidateNumberDigit(event);" })
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(model => model.crude_info.final_premium, new { @class = "form-control essential_submit 4-digits FAP", @readonly = "readonly", @onkeypress = "return ValidateNumberDigit(event);", @Value = Model.crude_info.premium })
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="col-md-3 control-label">Incoterm<span style="color:red">*</span></label>
                            <div class="col-md-6">
                                @if (false@*Model.pageMode == "EDIT" || Model.pageMode == "EDIT_REASON"*@)
                                {
                                    if (Model.crude_info != null && !string.IsNullOrEmpty(Model.crude_info.final_incoterm))
                                    {
                                        @Html.DropDownListFor(model => model.crude_info.final_incoterm, new SelectList(Model.ddlIncoterm, "Value", "Text", Model.crude_info.final_incoterm), "--Select--", new { @class = "form-control essential_submit FAP" })
                                    }
                                    else
                                    {
                                        Model.crude_info.final_incoterm = null;
                                        @Html.DropDownListFor(model => model.crude_info.final_incoterm, new SelectList(Model.ddlIncoterm, "Value", "Text", Model.crude_info.incoterm), "--Select--", new { @class = "form-control essential_submit FAP" })
                                    }
                                }
                                else
                                {
                                    if (Model.crude_info != null && !string.IsNullOrEmpty(Model.crude_info.final_incoterm))
                                    {
                                        @Html.DropDownListFor(model => model.crude_info.final_incoterm, new SelectList(Model.ddlIncoterm, "Value", "Text", Model.crude_info.final_incoterm), "--Select--", new { @class = "form-control essential_submit FAP", @disabled = "disabled" })
                                    }
                                    else
                                    {
                                        Model.crude_info.final_incoterm = null;
                                        @Html.DropDownListFor(model => model.crude_info.final_incoterm, new SelectList(Model.ddlIncoterm, "Value", "Text", Model.crude_info.incoterm), "--Select--", new { @class = "form-control essential_submit FAP", @disabled = "disabled" })
                                    }
                                    @Html.HiddenFor(model => model.crude_info.final_incoterm)
                                }
                            </div>
                        </div>
                        <div class="col-md-6">
                            @Html.HiddenFor(model => model.crude_info.purchase_date)
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="row">
                    <h2>Final actual price</h2>
                    <hr />
                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="col-md-3 control-label">Purchase<span style="color:red">*</span></label>
                            <div class="col-md-6">
                                @if (Model.crude_info != null && !string.IsNullOrEmpty(Model.crude_info.purchase_result))
                                {
                                @Html.DropDownListFor(model => model.crude_info.purchase_result, new SelectList(Model.ddlPurchaseResult, "Value", "Text", Model.crude_info.purchase_result), "--Select--", new { @class = "form-control essential_submit FAP", @disabled = "disabled" })
                                }
                                else
                                {
                                @Html.DropDownListFor(model => model.crude_info.purchase_result, new SelectList(Model.ddlPurchaseResult, "Value", "Text"), "--Select--", new { @class = "form-control essential_submit FAP", @disabled = "disabled" })
                                }
                                @Html.HiddenFor(model => model.crude_info.purchase_result)
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="col-md-3 control-label">Supplier<span style="color:red">*</span></label>
                            <div class="col-md-6">
                                @if (Model.crude_info != null && !string.IsNullOrEmpty(Model.crude_info.supplier))
                                {
                                    @Html.DropDownListFor(model => model.crude_info.supplier, new SelectList(Model.ddlSupplier, "Value", "Text", Model.crude_info.supplier), "--Select--", new { @class = "form-control essential_submit FAP", @disabled = "disabled" })
                                }
                                else
                                {
                                    @Html.DropDownListFor(model => model.crude_info.supplier, new SelectList(Model.ddlSupplier, "Value", "Text"), "--Select--", new { @class = "form-control essential_submit FAP", @disabled = "disabled" })
                                }
                                @Html.HiddenFor(model => model.crude_info.supplier)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="col-md-3 control-label">Benchmark Price<span style="color:red">*</span></label>
                            <div class="col-md-6">
                                @if (Model.crude_info != null && !string.IsNullOrEmpty(Model.crude_info.final_benchmark_price))
                                {
                                    @Html.DropDownListFor(model => model.crude_info.final_benchmark_price, new SelectList(Model.ddlBenchmarkPrice, "Value", "Text", Model.crude_info.final_benchmark_price), "--Select--", new { @class = "form-control essential_submit FAP", @disabled = "disabled" })
                                }
                                else
                                {
                                    Model.crude_info.final_benchmark_price = null;
                                    @Html.DropDownListFor(model => model.crude_info.final_benchmark_price, new SelectList(Model.ddlBenchmarkPrice, "Value", "Text", Model.crude_info.benchmark_price), "--Select--", new { @class = "form-control essential_submit FAP", @disabled = "disabled" })
                                }
                                @Html.HiddenFor(model => model.crude_info.final_benchmark_price)
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="col-md-3 control-label">Premium($/bbl)<span style="color:red">*</span></label>
                            <div class="col-md-6">
                                    @Html.TextBoxFor(model => model.crude_info.final_premium, new { @class = "form-control essential_submit 4-digits FAP", @onkeypress = "return ValidateNumberDigit(event);", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="col-md-3 control-label">Incoterm<span style="color:red">*</span></label>
                            <div class="col-md-6">
                                @if (Model.crude_info != null && !string.IsNullOrEmpty(Model.crude_info.final_incoterm))
                                {
                                    @Html.DropDownListFor(model => model.crude_info.final_incoterm, new SelectList(Model.ddlIncoterm, "Value", "Text", Model.crude_info.final_incoterm), "--Select--", new { @class = "form-control essential_submit FAP", @disabled = "disabled" })
                                }
                                else
                                {
                                    Model.crude_info.final_incoterm = null;
                                    @Html.DropDownListFor(model => model.crude_info.final_incoterm, new SelectList(Model.ddlIncoterm, "Value", "Text", Model.crude_info.incoterm), "--Select--", new { @class = "form-control essential_submit FAP", @disabled = "disabled" })
                                }
                                @Html.HiddenFor(model => model.crude_info.final_incoterm)
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="col-md-3 control-label">Purchased Date<span style="color:red">*</span></label>
                            <div class="col-md-6">
                                @if (Model.pageMode == "EDIT")
                                {
                                    if ((bool)TempData["isEVPC"])
                                    {
                                        @Html.TextBoxFor(model => model.crude_info.purchase_date, new { @class = "form-control essential_submit input-date-picker ", @placeholder = "DD-MMM-YYYY", @maxlength = "11", @readonly = "true" })
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(model => model.crude_info.purchase_date, new { @class = "form-control essential_submit input-date-picker purchase_date", @placeholder = "DD-MMM-YYYY", @maxlength = "11" })
                                    }
                                }
                                else
                                {
                                    @Html.TextBoxFor(model => model.crude_info.purchase_date, new { @class = "form-control essential_submit input-date-picker ", @placeholder = "DD-MMM-YYYY", @maxlength = "11", @readonly = "true" })
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }

            @if (Model.requester_info.status_sc == "WAITING EDIT ETA DATE")
            {
                <h2>SCSC Comment</h2>
                <hr />
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-12">
                                    @Html.TextAreaFor(m => m.comment.cmcs_request, new { @class = "form-control txtExplanationROnly" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            

            @if (Model.stateModel == "1")
            {
                <div>
                    <h2>SCEP Comment</h2>
                    <div>
                        @Html.TextAreaFor(model => model.comment.scep, new { @class = "form-control txtExplanationROnly essential-tiny" })
                    </div>
                </div>
                <br />
                <div class="row">
                    <h2>CMCS Comment</h2>
                    <hr />
                    <h3 id="show_cmcs_propose_discharge_error" style="display:none;"><span class="label label-danger">CMCS Comment on proposed discharge date, Please input Value.</span></h3>
                    <h3 id="hide_cmcs_propose_discharge_error">CMCS Comment on proposed discharge date</h3>
                    <div>
                        @Html.TextAreaFor(model => model.comment.cmcs_propose_discharge, new { @class = "form-control txtExplanation essential-tiny" })
						@Html.HiddenFor(m => m.comment.scsc)
                    </div>
                </div>
            }
            else if (Model.stateModel == "2") //Propose final price and volume
            {
                <div class="row">
                    <h2>CMCS Comment</h2>
                    <hr />
                    <div class="form-group">
                        <h3 class="col-md-3" style="display:none;"><lable>CMCS Comment on request date</lable><p/><span class="control-label label label-danger">Please input Value</span></h3>
                        <h3 class="col-md-3"><lable>CMCS Comment on request date</lable></h3>
                        <div class="col-md-9">
                            @Html.TextAreaFor(model => model.comment.cmcs_request, new { @class = "form-control txtExplanationROnly" })
                        </div>
                    </div>
                    <div class="form-group">
                        <h3 class="col-md-3" style="display:none;"><lable>CMCS Comment on proposed discharge date</lable><p /><span class="control-label label label-danger">Please input Value</span></h3>
                        <h3 class="col-md-3"><lable>CMCS Comment on proposed discharge date</lable></h3>
                        <div class="col-md-9">
                            @Html.TextAreaFor(model => model.comment.cmcs_propose_discharge, new { @class = "form-control txtExplanationROnly" })
                        </div>
                    </div>
                    <div class="form-group">
                        <h3 id="show_cmcs_propose_final_error" class="col-md-3" style="display:none;"><lable>CMCS Comment on proposed final price</lable><p /><span class="control-label label label-danger">Please input Value</span></h3>
                        <h3 id="hide_cmcs_propose_final_error" class="col-md-3"><lable>CMCS Comment on proposed final price</lable></h3>
                        <div class="col-md-9">
                            @if ((bool)TempData["isCMCS"])
                            {
                                @Html.TextAreaFor(model => model.comment.cmcs_propose_final, new { @class = "form-control txtExplanation essential-tiny" })
                            }
                            else
                            {
                                @Html.TextAreaFor(model => model.comment.cmcs_propose_final, new { @class = "form-control txtExplanationROnly essential-tiny" })
                            }                            
                        </div>
                    </div>
                </div>
            }
            else if (Model.stateModel == "3") //Propose final price and volume
            {
                if ((bool)TempData["isEVPC"])
                {
                    <div class="row">
                        <h2>Staff Comment</h2>
                        <hr />
                        <div class="form-group">
                            <div class="col-md-6">
                                <h3 style="display:none;"><lable>CMCS Comment on request date</lable><span class="control-label label label-danger" style="margin:10px;">Please input Value</span></h3>
                                <h3><lable>CMCS Comment on request date</lable></h3>
                                @Html.TextAreaFor(model => model.comment.cmcs_request, new { @class = "form-control txtExplanationROnly" })
                            </div>
                            <div class="col-md-6">
                                <h3 id="show_cmcs_propose_discharge_error" style="display:none;"><lable>CMCS Comment on proposed discharge date</lable><span class="control-label label label-danger" style="margin:10px;">Please input Value</span></h3>
                                <h3 id="hide_cmcs_propose_discharge_error"><lable>CMCS Comment on proposed discharge date</lable></h3>
                                @Html.TextAreaFor(model => model.comment.cmcs_propose_discharge, new { @class = "form-control txtExplanationROnly" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <h3 style="display:none;"><lable>TN Comment</lable><span class="control-label label label-danger" style="margin:10px;">Please input Value</span></h3>
                                <h3><lable>TN Comment</lable></h3>
                                @Html.TextAreaFor(model => model.comment.tn, new { @class = "form-control txtExplanationROnly" })
                            </div>
                            <div class="col-md-6">
                                <h3 style="display:none;"><lable>CMCS Comment on proposed final price</lable><span class="control-label label label-danger" style="margin:10px;">Please input Value</span></h3>
                                <h3><lable>CMCS Comment on proposed final price</lable></h3>
                                @Html.TextAreaFor(model => model.comment.cmcs_propose_final, new { @class = "form-control txtExplanationROnly" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h2>VP Comment</h2>
                        <hr />
                        <div class="form-group">
                            <div class="col-md-6">
                                <h3 style="display:none;"><lable>CMVP Comment</lable><span class="control-label label label-danger" style="margin:10px;">Please input Value</span></h3>
                                <h3><lable>CMVP Comment</lable></h3>
                                @Html.TextAreaFor(model => model.comment.cmvp, new { @class = "form-control txtExplanationROnly" })
                            </div>
                            <div class="col-md-6">
                                <h3 style="display:none;"><lable>SCVP Comment</lable><span class="control-label label label-danger" style="margin:10px;">Please input Value</span></h3>
                                <h3><lable>SCVP Comment</lable></h3>
                                @Html.TextAreaFor(model => model.comment.scvp, new { @class = "form-control txtExplanationROnly" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <h3 style="display:none;"><lable>TNVP Comment</lable><span class="control-label label label-danger" style="margin:10px;">Please input Value</span></h3>
                                <h3><lable>TNVP Comment</lable></h3>
                                @Html.TextAreaFor(model => model.comment.tnvp, new { @class = "form-control txtExplanationROnly" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h2>EVPC Comment</h2>
                        <hr />
                        <h3 id="show_evpc_error" style="display:none;"><lable>EVPC Comment</lable><span class="control-label label label-danger" style="margin:10px;">Please input Value</span></h3>
                        <h3 id="hide_evpc_error"><lable>EVPC Comment</lable></h3>
                        <div>
                            @Html.TextAreaFor(model => model.comment.evpc, new { @class = "form-control txtExplanation essential-tiny" })
                        </div>
                    </div>
                }
                else
                {
                    <div class="row">
                        <h2>CMCS Comment</h2>
                        <hr />
                        <div class="form-group">
                            <h3 class="col-md-3" style="display:none;"><lable>CMCS Comment on request date</lable><p /><span class="control-label label label-danger">Please input Value</span></h3>
                            <h3 class="col-md-3"><lable>CMCS Comment on request date</lable></h3>
                            <div class="col-md-9">
                                @Html.TextAreaFor(model => model.comment.cmcs_request, new { @class = "form-control txtExplanationROnly" })
                            </div>
                        </div>
                        <div class="form-group">
                            <h3 class="col-md-3" style="display:none;"><lable>CMCS Comment on proposed discharge date</lable><p /><span class="control-label label label-danger">Please input Value</span></h3>
                            <h3 class="col-md-3"><lable>CMCS Comment on proposed discharge date</lable></h3>
                            <div class="col-md-9">
                                @Html.TextAreaFor(model => model.comment.cmcs_propose_discharge, new { @class = "form-control txtExplanationROnly" })
                            </div>
                        </div>
                        <div class="form-group">
                            <h3 id="show_cmcs_propose_final_error" class="col-md-3" style="display:none;"><lable>CMCS Comment on proposed final price</lable><p /><span class="control-label label label-danger">Please input Value</span></h3>
                            <h3 id="hide_cmcs_propose_final_error" class="col-md-3"><lable>CMCS Comment on proposed final price</lable></h3>
                            <div class="col-md-9">
                                @if ((bool)TempData["isCMCS"])
                                {
                                    @Html.TextAreaFor(model => model.comment.cmcs_propose_final, new { @class = "form-control txtExplanationROnly essential-tiny" })
                                }
                                else
                                {
                                    @Html.TextAreaFor(model => model.comment.cmcs_propose_final, new { @class = "form-control txtExplanation essential-tiny" })
                                }                                
                            </div>
                        </div>
                    </div>
                }
            }
            else if (Model.stateModel == "4")
            {
                if ((bool)TempData["isEVPC"])
                {
                    <div class="row">
                        <h2>Staff Comment</h2>
                        <hr />
                        <div class="form-group">
                            <div class="col-md-6">
                                <h3 style="display:none;"><lable>CMCS Comment on request date</lable><span class="control-label label label-danger" style="margin:10px;">Please input Value</span></h3>
                                <h3><lable>CMCS Comment on request date</lable></h3>
                                @Html.TextAreaFor(model => model.comment.cmcs_request, new { @class = "form-control txtExplanationROnly" })
                            </div>
                            <div class="col-md-6">
                                <h3 id="show_cmcs_propose_discharge_error" style="display:none;"><lable>CMCS Comment on proposed discharge date</lable><span class="control-label label label-danger" style="margin:10px;">Please input Value</span></h3>
                                <h3 id="hide_cmcs_propose_discharge_error"><lable>CMCS Comment on proposed discharge date</lable></h3>
                                @Html.TextAreaFor(model => model.comment.cmcs_propose_discharge, new { @class = "form-control txtExplanationROnly" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <h3 style="display:none;"><lable>TN Comment</lable><span class="control-label label label-danger" style="margin:10px;">Please input Value</span></h3>
                                <h3><lable>TN Comment</lable></h3>
                                @Html.TextAreaFor(model => model.comment.tn, new { @class = "form-control txtExplanationROnly" })
                            </div>
                            <div class="col-md-6">
                                <h3 style="display:none;"><lable>CMCS Comment on proposed final price</lable><span class="control-label label label-danger" style="margin:10px;">Please input Value</span></h3>
                                <h3><lable>CMCS Comment on proposed final price</lable></h3>
                                @Html.TextAreaFor(model => model.comment.cmcs_propose_final, new { @class = "form-control txtExplanationROnly" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h2>SCEP Comment</h2>
                        <hr />
                        <div>
                            @Html.TextAreaFor(model => model.comment.scep, new { @class = "form-control txtExplanation essential-tiny" })
                        </div>
                    </div>
                    <div class="row">
                        <h2>SCSC Comment</h2>
                        <hr />
                        <div>
                            @Html.TextAreaFor(model => model.comment.scsc, new { @class = "form-control txtExplanation essential-tiny" })
                        </div>
                    </div>
                    <div class="row">
                        <h2>EVPC Comment</h2>
                        <hr />
                        <h3 id="show_evpc_error" style="display:none;"><lable>EVPC Comment</lable><span class="control-label label label-danger" style="margin:10px;">Please input Value</span></h3>
                        <h3 id="hide_evpc_error"><lable>EVPC Comment</lable></h3>
                        <div>
                            @if (Model.pageMode == "VIEW")
                            {
                                @Html.TextAreaFor(model => model.comment.evpc, new { @class = "form-control txtExplanationROnly essential-tiny" })
                            }
                            else
                            {
                                @Html.TextAreaFor(model => model.comment.evpc, new { @class = "form-control txtExplanationEVPC essential-tiny" })
                            }                           
                        </div>
                    </div>
                }
            }
            <div class="row">
                <hr />
                <div class="wrapper-button" id="buttonDiv">
                    @if (Model.comment.lp_run_attach_file != "")
                    {
                        @Html.Hidden("fileSupportingDocument", Model.comment.lp_run_attach_file as object)
                    }
                    else
                    {
                        @Html.Hidden("fileSupportingDocument")
                    }
                    @Html.Hidden("hdfEventClick")
                    @Html.Raw(@Model.buttonCode)
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h3 class="modal-title" id="myLargeModalLabel">LP Result</h3>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                <label class="col-md-3">Maximum buying price ($/bbl) :</label>
                                <label class="col-md-9">@Model.crude_info.formula_price</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label class="col-md-3">Rusult Summary :</label>
                                <div class="col-md-9">
                                    @Html.TextAreaFor(m => m.comment.lp_run_summary, new { @class = "form-control txtExplanationROnly" })
                                </div>
                            </div>
                         </div>
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Attach Files</label>
                                    @if (Model.pageMode == "EDIT" && (bool)TempData["isCanEditAttachFile"])
                                    {
                                        <button id="uploadSupportingDocumentFile" class="btn btn-default" type="button" onclick="UploadFileSupportingDocument()">Select Files</button>
                                        <input type="file" id="fileSupportingDocumentFile" name="fileSupportingDocumentFile" multiple="multiple" style="display:none;" accept=".doc, .docx, .xls, .xlsx, .ppt, .pptx, .pdf, .msg" />
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div id="fileSupportingDocumentUploaded" class="col-md-9 col-md-offset-3"></div>
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" style="float:right;" data-dismiss="modal">Close</button>
            </div>
            </div>
    </div>
</div>

<div class="modal fade bs-example-modal-lg2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" style="width: 80%; padding: 17px; padding-right: 0px; " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h3 class="modal-title" id="myLargeModalLabel">Final CAM</h3>
            </div>
            <div class="modal-body" style="height:500px">
                @if (Model != null && !string.IsNullOrEmpty(Model.tempFinalCAM))
                {
                    @Html.Partial("GenerateView", Model.tempFinalCAM ?? string.Empty)
                }
                else
                {
                    @Html.Raw("Cannot load the final CAM document, this crude and country is not found in COOL system.")
                    <br />
                    @Html.Raw("For more information, please contact administrator.")
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" style="float:right;" data-dismiss="modal">Close</button>
                @if (Model != null && !string.IsNullOrEmpty(Model.tempFinalCAM))
                {
                    <button type="button" class="btn btn-primary clickable-file" style="float:right;" data-dismiss="modal" data-href="@Model.tempFinalCAM">Print</button>
                }
            </div>
        </div>
    </div>
</div>

@* For attach files *@
<script>

        // DOCUMENT READY //
    $(function () {
        LoadFileSupportingDocument();
    });

    // SAVE ITEM: FILE SUPPORTING DOCUMENT //
    function SaveFileSupportingDocument() {
        $('#fileSupportingDocument').val('');
        var supportingDocument = "";
        $('.SupportingDocument').each(function () {
            var supportingDocumentType = $(this).closest('tr').find('.SupportingDocumentType').val();
            supportingDocument += $(this).attr('value') + "|";
        });
        $('#fileSupportingDocument').val(supportingDocument);
    }

    // LOAD ITEM: FILE SUPPORTING DOCUMENT //
    function LoadFileSupportingDocument() {
        if ($('#fileSupportingDocument').val()) {
            var ItemFile = $('#fileSupportingDocument').val().split("|");
            for (var i = 0; i < ItemFile.length; i++) {
                if (ItemFile[i] != "") {
                    $('#fileSupportingDocumentUploaded').append(MakeUploadFileSupportingDocument(ItemFile[i]));
                }
            }
            DeleteFileSupportingDocument();
        }

    }
    // UPLOAD FILE SUPPORTING DOCUMENT //
    function UploadFileSupportingDocument() {
        $("#fileSupportingDocumentFile").click();
    }

    $('#fileSupportingDocumentFile').change(function (e) {
        var files = e.target.files;
        if (files.length > 0) {
            if (window.FormData !== undefined) {
                for (var x = 0; x < files.length; x++) {
                    var data = new FormData();
                    data.append("file" + x, files[x]);
                    $.ajax({
                        type: "POST",
                        url: getWebSitePath() + "/Web/Api/UploadFileAPI.aspx?Type=CRUDE|F10000063",
                        contentType: false,
                        processData: false,
                        data: data,
                        success: function (response) {
                            var index = response.indexOf('<!DOCTYPE html>');
                            var json = response.substring(0, index);
                            var data = JSON.parse(json.trim());
                            $('#fileSupportingDocumentUploaded').append(MakeUploadFileSupportingDocument(data.file_path));
                            DeleteFileSupportingDocument();
                        },
                        error: function (event, queueID, fileObj, errorObj) {
                            alert(errorObj.type + ' Error: ' + errorObj.info);
                            if (fileObj.size > 4194304) { alert('File size too large.'); }
                            else { alert('Someting wrong.'); }
                        }
                    });
                    data = null;
                }
            } else {
                alert("This browser doesn't support HTML5 file uploads!");
            }
        }
        $(this).val('');
    });

    // DELETE ITEM: FILE SUPPORTING DOCUMENT //
    function DeleteFileSupportingDocument() {
        $('.glyphicon-remove').click(function () {
            $(this).parent().parent().parent().parent().remove();
        });
    }

    var doc_count = 0;
    // MAKE ITEM: FILE SUPPORTING DOCUMENT //
    function MakeUploadFileSupportingDocument(filePath) {
        var i = 0, length = filePath.length;
        var tmpFilePath = filePath;
        for (i; i < length; i++) {
            tmpFilePath = tmpFilePath.replace("/", "|").replace("\\", "|")
        }
        var fullFileName = tmpFilePath.split("|");
        var fileName = fullFileName[fullFileName.length - 1];
        var itemFileSupportingDocument = '<div id=\"' + filePath + '\" class=\"uploadifyQueue\" >';
        itemFileSupportingDocument += '<table><tr><td>';
        itemFileSupportingDocument += '<div class=\"uploadifyQueueItem SupportingDocument\" value=\"' + filePath + '\"  style="margin-right:20px;">';
        @if (Model.pageMode == "EDIT" && (bool)TempData["isCanEditAttachFile"])
        {
            <text>
            itemFileSupportingDocument += '<div class="cancel">';
            itemFileSupportingDocument += '<span class="glyphicon glyphicon-remove"></span>';
            itemFileSupportingDocument += '</div>';
            </text>
        }
        itemFileSupportingDocument += '<a target="_blank" href="' + getWebSitePath() + "/" + filePath + '">' + fileName + '</a>';
        itemFileSupportingDocument += '</div>';
        itemFileSupportingDocument += '</td><td>';
        itemFileSupportingDocument += '</td><tr><table>';
        return itemFileSupportingDocument;
    }

        $('.glyphicon-remove').click(function () {
            $(this).parent().parent().parent().parent().remove();
        });
</script>

<script>
    $(".clickable-row").click(function () {
        window.document.location = $(this).data("href");
    });

    $(".clickable-file").click(function () {
        var path = getWebSitePath();
        window.document.location = path + '/' + $(this).data("href");
    });

    // GET WEB SITE PATH //
    function getWebSitePath() {
        var _location = document.location.toString();
        var applicationNameIndex = _location.indexOf('/', _location.indexOf('://') + 3);
        var applicationName = _location.substring(0, applicationNameIndex) + '/';
        var webFolderIndex = _location.indexOf('/', _location.indexOf(applicationName) + applicationName.length);
        var webFolderFullPath = _location.substring(0, webFolderIndex).toString().replace('/CPAIMVC', '');
        return webFolderFullPath;
    }

    function OpenModal() {
        $("#spreadsheet_SSTC_T1").click();
        $("#spreadsheet_SSTC_T0").click();

                //setTimeout(function () {
                //    $("#spreadsheet_SSTC_T0").click();
                //}, 200);
    }

    $(function () {
        $('.4-digits').change(function () {
            if (!isNaN(parseFloat(this.value)))
                this.value = parseFloat(this.value).toLocaleString('en-US', {maximumFractionDigits: 4});
            return this;
        });

        $('#tempDischargingDate').each(function () {
            $(this).dateRangePicker({
                autoClose: true,
                showShortcuts: false,
                startOfWeek: 'monday',
                format: 'DD-MMM-YYYY',
            });
        });

        tinymce.init({
            selector: '.txtExplanation',
            theme: 'modern',
            plugins: ['textcolor colorpicker  '],
            height: 150,
            menubar: false,
            toolbar: " undo redo | bold italic underline | numlist | forecolor | removeformat | spellchecker",
            statusbar: true,
            image_advtab: true,
            paste_data_images: true,
            readonly: @readmode,
            textcolor_map: [
			    "000000", "Black",
			    "993300", "Burnt orange",
			    "333300", "Dark olive",
			    "003300", "Dark green",
			    "003366", "Dark azure",
			    "000080", "Navy Blue",
			    "333399", "Indigo",
			    "333333", "Very dark gray",
			    "800000", "Maroon",
			    "FF6600", "Orange",
			    "808000", "Olive",
			    "008000", "Green",
			    "008080", "Teal",
			    "0000FF", "Blue",
			    "666699", "Grayish blue",
			    "808080", "Gray",
			    "FF0000", "Red",
			    "FF9900", "Amber",
			    "99CC00", "Yellow green",
			    "339966", "Sea green",
			    "33CCCC", "Turquoise",
			    "3366FF", "Royal blue",
			    "800080", "Purple",
			    "999999", "Medium gray",
			    "FF00FF", "Magenta",
			    "FFCC00", "Gold",
			    "FFFF00", "Yellow",
			    "00FF00", "Lime",
			    "00FFFF", "Aqua",
			    "00CCFF", "Sky blue",
			    "993366", "Red violet",
			    "FFFFFF", "White",
			    "FF99CC", "Pink",
			    "FFCC99", "Peach",
			    "FFFF99", "Light yellow",
			    "CCFFCC", "Pale green",
			    "CCFFFF", "Pale cyan",
			    "99CCFF", "Light sky blue",
			    "CC99FF", "Plum"
            ]
        });

        tinymce.init({
            selector: '.txtExplanationROnly',
            theme: 'modern',
            plugins: ['textcolor colorpicker  '],
            height: 150,
            menubar: false,
            toolbar: " undo redo | bold italic underline | numlist | forecolor | removeformat | spellchecker",
            statusbar: true,
            image_advtab: true,
            paste_data_images: true,
            readonly: true,
            textcolor_map: [
			    "000000", "Black",
			    "993300", "Burnt orange",
			    "333300", "Dark olive",
			    "003300", "Dark green",
			    "003366", "Dark azure",
			    "000080", "Navy Blue",
			    "333399", "Indigo",
			    "333333", "Very dark gray",
			    "800000", "Maroon",
			    "FF6600", "Orange",
			    "808000", "Olive",
			    "008000", "Green",
			    "008080", "Teal",
			    "0000FF", "Blue",
			    "666699", "Grayish blue",
			    "808080", "Gray",
			    "FF0000", "Red",
			    "FF9900", "Amber",
			    "99CC00", "Yellow green",
			    "339966", "Sea green",
			    "33CCCC", "Turquoise",
			    "3366FF", "Royal blue",
			    "800080", "Purple",
			    "999999", "Medium gray",
			    "FF00FF", "Magenta",
			    "FFCC00", "Gold",
			    "FFFF00", "Yellow",
			    "00FF00", "Lime",
			    "00FFFF", "Aqua",
			    "00CCFF", "Sky blue",
			    "993366", "Red violet",
			    "FFFFFF", "White",
			    "FF99CC", "Pink",
			    "FFCC99", "Peach",
			    "FFFF99", "Light yellow",
			    "CCFFCC", "Pale green",
			    "CCFFFF", "Pale cyan",
			    "99CCFF", "Light sky blue",
			    "CC99FF", "Plum"
            ]
        });

        //for evpc comment
        tinymce.init({
            selector: '.txtExplanationEVPC',
            theme: 'modern',
            plugins: ['textcolor colorpicker  '],
            height: 150,
            menubar: false,
            toolbar: " undo redo | bold italic underline | numlist | forecolor | removeformat | spellchecker",
            statusbar: true,
            image_advtab: true,
            paste_data_images: true,
            readonly: !@readmode,
            textcolor_map: [
			    "000000", "Black",
			    "993300", "Burnt orange",
			    "333300", "Dark olive",
			    "003300", "Dark green",
			    "003366", "Dark azure",
			    "000080", "Navy Blue",
			    "333399", "Indigo",
			    "333333", "Very dark gray",
			    "800000", "Maroon",
			    "FF6600", "Orange",
			    "808000", "Olive",
			    "008000", "Green",
			    "008080", "Teal",
			    "0000FF", "Blue",
			    "666699", "Grayish blue",
			    "808080", "Gray",
			    "FF0000", "Red",
			    "FF9900", "Amber",
			    "99CC00", "Yellow green",
			    "339966", "Sea green",
			    "33CCCC", "Turquoise",
			    "3366FF", "Royal blue",
			    "800080", "Purple",
			    "999999", "Medium gray",
			    "FF00FF", "Magenta",
			    "FFCC00", "Gold",
			    "FFFF00", "Yellow",
			    "00FF00", "Lime",
			    "00FFFF", "Aqua",
			    "00CCFF", "Sky blue",
			    "993366", "Red violet",
			    "FFFFFF", "White",
			    "FF99CC", "Pink",
			    "FFCC99", "Peach",
			    "FFFF99", "Light yellow",
			    "CCFFCC", "Pale green",
			    "CCFFFF", "Pale cyan",
			    "99CCFF", "Light sky blue",
			    "CC99FF", "Plum"
            ]
        });

        if(@readmode == 1 || @Model.stateModel != 1){
            if(@readmode == 1){
                $('.FAP').each (function(){
                    $(this).prop('disabled', true);
                });
            }
            $('#tempDischargingDate').each(function () {
                $(this).prop('disabled', true);
            });
        }
    });
    function OpenBoxBungerPrompt(MSG, Event) {
        SaveFileSupportingDocument();
        if (Event != "SaveDraft" && Event != "Submit") {
            if ($("#hdfEventClick").length != 0) {
                $("#hdfEventClick").val(Event);
            }
        }
        if (Event.toUpperCase() == "SUBMIT" || Event.toUpperCase() == "APPROVE") {
            if (!ValidateEssentialSubmit()) return false;
            RemoveValidateEssentialSubmit();
            bootbox.confirm({
                message: "Are you sure to submit?",
                buttons: {
                    confirm: {
                        label: 'Yes',
                    },
                    cancel: {
                        label: 'No',
                    }
                },
                callback: function (result) {
                    if (result) {
                        $('form').attr('target', '_self');
                        $("#btnMANUAL").click();
                        LoadingProcess();
                    }
                }
            });
        }
        else if (Event.toUpperCase() == "REJECT") {
            //if (!ValidateEssential()) return false;
            if(@checkEVPC == 1){
                bootbox.prompt(MSG, function (result) {
                    if (result === null || result === "") {
                        if (result === "") {
                            OpenBoxPopup("Please Key Reason for Reject.");
                        }
                        $('#EventButton').val("0");
                    } else {
                        $("[name='requester_info.reason_reject_CMCS_SH']").val(result);
                        debugger;
                        $('form').attr('target', '_self');
                        if (Event == "SaveDraft") {
                            $("#btnSaveDraft").click();
                        } else {
                            $("#btnMANUAL").click();
                        }
                        LoadingProcess();
                    }
                });
            }
            else{
                bootbox.confirm({
                    message: "Are you sure to submit?",
                    buttons: {
                        confirm: {
                            label: 'Yes',
                        },
                        cancel: {
                            label: 'No',
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $('form').attr('target', '_self');
                            $("#btnMANUAL").click();
                            LoadingProcess();
                        }
                    }
                });
            }

            //$('form').attr('target', '_self');
            //if (Event == "SaveDraft") {
            //    $("#btnSaveDraft").click();
            //} else {
            //    $("#btnMANUAL").click();
            //}
            //LoadingProcess();
        }
        // CASE: SAVE DRAFT
        else {
            $('form').attr('target', '_self');
            if (Event == "SaveDraft") {
                $("#btnSaveDraft").click();
            } else {
                $("#btnMANUAL").click();
            }
            LoadingProcess();
        }
    }

    function ValidateEssential() {
        RemoveValidateEssential();
        var i = 0;

        var essential_cmcs_request = $('#comment_cmcs_request').hasClass('essential-tiny');
        if (essential_cmcs_request) {
            var editor_cmcs_request = tinyMCE.get('comment_cmcs_request');
            if (editor_cmcs_request) {
                var content_cmcs_request = editor_cmcs_request.getContent();
                if (content_cmcs_request == '')
                {
                    $("#show_cmcs_request_error").show();
                    $("#hide_cmcs_request_error").hide();
                    i++;
                }
                else
                {
                    $("#show_cmcs_request_error").hide();
                    $("#hide_cmcs_request_error").show();
                }
            }
        }

        var essential_cmcs_propose_discharge = $('#comment_cmcs_propose_discharge').hasClass('essential-tiny');
        if (essential_cmcs_propose_discharge) {
            var editor_cmcs_propose_discharge = tinyMCE.get('comment_cmcs_propose_discharge');
            if (editor_cmcs_propose_discharge) {
                var content_cmcs_propose_discharge = editor_cmcs_propose_discharge.getContent();
                if (content_cmcs_propose_discharge == '')
                {
                    $("#show_cmcs_propose_discharge_error").show();
                    $("#hide_cmcs_propose_discharge_error").hide();
                    i++;
                }
                else
                {
                    $("#show_cmcs_propose_discharge_error").hide();
                    $("#hide_cmcs_propose_discharge_error").show();
                }
            }
        }

        var essential_cmcs_propose_final = $('#comment_cmcs_propose_final').hasClass('essential-tiny');
        if (essential_cmcs_propose_final) {
            var editor_cmcs_propose_final = tinyMCE.get('comment_cmcs_propose_final');
            if (editor_cmcs_propose_final) {

                var content_cmcs_propose_final = editor_cmcs_propose_final.getContent();
                if (content_cmcs_propose_final == '')
                {
                    $("#show_cmcs_propose_final_error").show();
                    $("#hide_cmcs_propose_final_error").hide();
                    i++;
                }
                else
                {
                    $("#show_cmcs_propose_final_error").hide();
                    $("#hide_cmcs_propose_final_error").show();
                }
            }
        }

        var essential_tn = $('#comment_tn').hasClass('essential-tiny');
        if (essential_tn) {
            var editor_tn = tinyMCE.get('comment_tn');
            if (editor_tn) {
                var content_tn = editor_tn.getContent();
                if (content_tn == '')
                {
                    $("#show_tn_error").show();
                    $("#hide_tn_error").hide();
                    i++;
                }
                else
                {
                    $("#show_tn_error").hide();
                    $("#hide_tn_error").show();
                }
            }
        }

        var essential_evpc = $('#comment_evpc').hasClass('essential-tiny');
        if (essential_evpc) {
            var editor_evpc = tinyMCE.get('comment_evpc');
            if (editor_evpc) {
                var content_evpc = editor_evpc.getContent();
                if (content_evpc == '')
                {
                    $("#show_evpc_error").show();
                    $("#hide_evpc_error").hide();
                    i++;
                }
                else
                {
                    $("#show_evpc_error").hide();
                    $("#hide_evpc_error").show();
                }
            }
        }

        var essential_scvp = $('#comment_scvp').hasClass('essential-tiny');
        if (essential_scvp) {
            var editor_scvp = tinyMCE.get('comment_scvp');
            if (editor_scvp) {
                var content_scvp = editor_scvp.getContent();
                if (content_scvp == '')
                {
                    $("#show_scvp_error").show();
                    $("#hide_scvp_error").hide();
                    i++;
                }
                else
                {
                    $("#show_scvp_error").hide();
                    $("#hide_scvp_error").show();
                }
            }
        }

        var essential_tnvp = $('#comment_tnvp').hasClass('essential-tiny');
        if (essential_tnvp) {
            var editor_tnvp = tinyMCE.get('comment_tnvp');
            if (editor_tnvp) {
                var content_tnvp = editor_tnvp.getContent();
                if (content_tnvp == '')
                {
                    $("#show_tnvp_error").show();
                    $("#hide_tnvp_error").hide();
                    i++;
                }
                else
                {
                    $("#show_tnvp_error").hide();
                    $("#hide_tnvp_error").show();
                }
            }
        }

        var essential_cmvp = $('#comment_cmvp').hasClass('essential-tiny');
        if (essential_cmvp) {
            var editor_cmvp = tinyMCE.get('comment_cmvp');
            if (editor_cmvp) {
                var content_cmvp = editor_cmvp.getContent();
                if (content_cmvp == '')
                {
                    $("#show_cmvp_error").show();
                    $("#hide_cmvp_error").hide();
                    i++;
                }
                else
                {
                    $("#show_cmvp_error").hide();
                    $("#hide_cmvp_error").show();
                }
            }
        }

        $(".essential").each(function () {
            if ($.trim($(this).val()) == "" && document.getElementById($(this).attr("id")).disabled != true) {
                i++;
                addValidMessageError($("#" + $(this).attr("id")), "Please input Value.");
            }
        });
        if (i > 0)
            return false;
        return true;
    }

    function RemoveValidateEssential() {
        $(".essential").removeClass("input-error");
    }

    function ValidateEssentialSubmit() {
        RemoveValidateEssentialSubmit();
        var i = 0;

        $(".essential_submit").each(function () {
            if ($.trim($(this).val()) == "" && document.getElementById($(this).attr("id")).disabled != true) {
                i++;
                addValidMessageError($("#" + $(this).attr("id")), "Please input Value.");
            }
        });
        if (i > 0)
            return false;
        return true;
    }

    function RemoveValidateEssentialSubmit() {
        $(".essential_submit").removeClass("input-error");
    }

    $(function () {
        $('.purchase_date').dateRangePicker(
        {
            autoClose: true,
            singleDate: true,
            showShortcuts: false,
            format: "DD-MMM-YYYY",
            time: { enabled: false }
        });
    });
</script>