﻿@using System.Globalization
@using System.Collections
@using System.Linq
@using ProjectCPAIEngine.Areas.CPAIMVC.ViewModels

@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.VCoolReportViewModel
@{
    ViewBag.Title = "Historical Report";

    var dateTimeFormat = new CultureInfo("en-US").DateTimeFormat;
    var tpc_month_from = Enumerable.Range(0, 12).Select(c => new SelectListItem { Text = dateTimeFormat.MonthNames[c], Value = dateTimeFormat.AbbreviatedMonthNames[c] }).ToList();
    tpc_month_from.Insert(0, new SelectListItem { Text = "All", Value = "All" });
    var tpc_month_to = tpc_month_from;
    
    var tpc_year_from = Enumerable.Range(DateTime.Now.Year - 5, 11).OrderByDescending(c=>c).Select(c => new SelectListItem { Text = c.ToString(), Value = c.ToString() }).ToList();
    tpc_year_from.Insert(0, new SelectListItem { Text = "All", Value = "All" });
    var tpc_year_to = tpc_year_from;
}

<style>
    .status {
        display: block;
        font-family: 'HelvethaicaMonX-65Med';
        font-size: 20px;
        color: #0a7ab1;
        padding-top: 5px;
    }
    .modal-lg {
        width: 100%;
        padding: 17px;
        padding-right: 0px;
        max-height: 250px;
    }
    .modal-dialog {
        margin: 0 auto;
    }
    .table > tbody > tr > td {
        vertical-align: middle;
    }
    .ui-menu .ui-menu-item {
        font-size: 13px;
    }
    .custom-dropdown {
        font-size: 14px !important;
    }
    .page-header.search-result {
        margin-top: 0px !important;
    }
    .trimright {
        padding-right: 0px !important;
    }
    .trimleft {
        padding-left: 0px !important;
    }
    #searchReportTable > thead>tr>th{
        padding:3px !important;
    }
</style>

<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>
@using (Html.BeginForm("ReportResult", "VCool", FormMethod.Post, new { @class = "form-horizontal", @name = "searchReportForm", @id = "searchReportForm" }))
{
    <div class="form-horizontal">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Criteria.CrudeName, "Crude Name", new { @class = "col-md-3 control-label" })
                    <div class="col-md-7">
                        @Html.DropDownListFor(model => model.Criteria.CrudeName, new SelectList(Model.CrudeNames, "Text", "Text", Model.Criteria.CrudeName), string.Empty, new { @class = "form-control essential" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Criteria.Country, "Country", new { @class = "col-md-3 control-label" })
                    <div class="col-md-7">
                        @Html.DropDownListFor(model => model.Criteria.Country, new SelectList(Model.Countries, "Text", "Text", Model.Criteria.Country), string.Empty, new { @class = "form-control essential" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Criteria.Supplier, "Supplier", new { @class = "col-md-3 control-label" })
                    <div class="col-md-7">
                        @Html.DropDownListFor(model => model.Criteria.Supplier, Model.Suppliers, string.Empty, new { @class = "form-control essential" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Criteria.TPCMonthFrom, "TPC Month From", new { @class = "col-md-3 control-label" })
                    <div class="col-md-7 trimleft trimright">
                        <div class="col-md-6 trimleft">
                            <div class="col-md-11 trimleft trimright">
                                <div class="col-md-6 trimright">
                                    @Html.DropDownListFor(model => model.Criteria.TPCMonthFrom, new SelectList(tpc_month_from, "Value", "Text", Model.Criteria.TPCMonthFrom), new { @class = "form-control essential" })
                                </div>
                                <div class="col-md-6 trimright">
                                    @Html.DropDownListFor(model => model.Criteria.TPCYearFrom, new SelectList(tpc_year_from, "Value", "Text", Model.Criteria.TPCYearFrom), new { @class = "form-control essential" })
                                </div>
                            </div>
                            <div class="col-md-1" style="text-align: center;">
                                @Html.Label("To", new { @class = "control-label" })
                            </div>
                        </div>
                        <div class="col-md-6 trimright">
                            @{
                                object htmlAttributes = new { @class = "form-control essential", disabled = "disabled" };
                                if (string.IsNullOrEmpty(Model.Criteria.TPCMonthTo) || string.IsNullOrEmpty(Model.Criteria.TPCYearTo) || Model.Criteria.TPCMonthTo.Equals("All") || Model.Criteria.TPCYearTo.Equals("All"))
                                {
                                    //Reset TPCMonthYearTo case not selected togeter
                                    Model.Criteria.TPCMonthTo = string.Empty;
                                    Model.Criteria.TPCYearTo = string.Empty;
                                }
                                if (!string.IsNullOrEmpty(Model.Criteria.TPCMonthFrom) && !string.IsNullOrEmpty(Model.Criteria.TPCYearFrom) && !Model.Criteria.TPCMonthFrom.Equals("All") && !Model.Criteria.TPCYearFrom.Equals("All"))
                                {
                                    htmlAttributes = new { @class = "form-control essential" };
                                }
                            }
                            <div class="col-md-6 trimleft">
                                @Html.DropDownListFor(model => model.Criteria.TPCMonthTo, new SelectList(tpc_month_to, "Value", "Text", Model.Criteria.TPCMonthTo), htmlAttributes)
                            </div>
                            <div class="col-md-6 trimleft">
                                @Html.DropDownListFor(model => model.Criteria.TPCYearTo, new SelectList(tpc_year_to, "Value", "Text", Model.Criteria.TPCYearTo), htmlAttributes)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Criteria.LoadingDates, "Loading Date", new { @class = "col-md-3 control-label" })
                    <div class="col-md-7">
                        @Html.TextBoxFor(model => model.Criteria.LoadingDates, new { @class = "form-control essential input-date-picker", type = "text", placeholder = "DD-MMM-YYYY to DD-MMM-YYYY", maxlength = "26" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Criteria.DischargingDates, "Discharging Date", new { @class = "col-md-3 control-label" })
                    <div class="col-md-7">
                        @Html.TextBoxFor(model => model.Criteria.DischargingDates, new { @class = "form-control essential input-date-picker", type = "text", placeholder = "DD-MMM-YYYY to DD-MMM-YYYY", maxlength = "26" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Criteria.ActualPurchase, "Actual Purchase", new { @class = "col-md-3 control-label" })
                    <div class="col-md-7">
                        @Html.DropDownListFor(model => model.Criteria.ActualPurchase, Model.ActualPurchases, "-- Select --", new { @class = "form-control essential custom-dropdown" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="pull-right">
            <button type="submit" class="btn btn-primary">Search</button>
            <button type="reset" class="btn btn-primary" onclick="resetForm()" style="display:none;">Clear All</button>
        </div>
    </div>
}

<div class="page-header search-result">
    <h1>Search Result</h1>
</div>

<table id="searchReportTable" class="table table-hover display" cellspacing="0" style="width: 100%;">
    <thead>
        <tr>
            <th rowspan="2" style="width: 60px">TN Comment</th>
            <th rowspan="2" style="width:200px">Crude Name</th>
            <th rowspan="2" style="width:200px">Country</th>
            <th rowspan="2" style="width:200px">Supplier</th>
            <th rowspan="2" style="width:114px">TPC Month</th>
            <th colspan="2" style="width:160px">Proposed</th>
            <th colspan="2" style="width:160px">Actual</th>
            <th rowspan="2" style="width: 60px">Purchase (Yes/No)</th>
            <th rowspan="2" style="width:100px">Purchased Date</th>
        </tr>
        <tr>
            <th style="width: 80px">Price ($/bbl)</th>
            <th style="width: 80px">Volumn (kbbl)</th>
            <th style="width: 80px">Price ($/bbl)</th>
            <th style="width: 80px">Volumn (kbbl)</th>
        </tr>
    </thead>
    <tbody id="reportResults">
        @if (Model.VCoolReportResults != null && Model.VCoolReportResults.Any())
        {
            foreach (var result in Model.VCoolReportResults)
            {
                <tr class="drafts" style="cursor: pointer;">
                    <td style="width: 60px"> <a href="javascript:void(0);" style="cursor:pointer" data-href="'@result.TransactionID'" onclick="openModalTNComment('@result.TransactionID')"><span class="glyphicon glyphicon-search"></span></a> </td>
                    <td style="width:200px">@result.CrudeName</td>
                    <td style="width:200px">@result.Country</td>
                    <td style="width:200px">@(!string.IsNullOrEmpty(result.Supplier) ? result.Supplier : (!string.IsNullOrEmpty(result.SupplierImport) ? result.SupplierImport : string.Empty))</td>
                    <td style="width:114px">@result.TPCMonthYear</td>
                    <td style="width: 80px">@result.ProposedPrice</td>
                    <td style="width: 80px">@result.Volumn</td>
                    <td style="width: 80px">@result.ActualPrice</td>
                    <td style="width: 80px">@result.Volumn</td>
                    <td style="width: 60px">@result.ActualPurchase</td>
                    <td style="width:100px">@result.PurchaseDate.Value.ToString(CoolViewModel.FORMAT_DATE, new System.Globalization.CultureInfo("en-US"))</td>
                </tr>
            }
        }
    </tbody>
</table>

<div class="modal fade .bs-example-modal-lg" id="resultTNComment" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h3 class="modal-title" id="myLargeModalLabel">TN Comment</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center" id="showLoading" style="display:none;"><i class="fa fa-spin fa-spinner"></i>Loading...</div>
                        @Html.TextArea("txtTNComment", new { @class = "form-control txtExplanation" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <script type="text/javascript">
        OpenBoxPopup(@Html.Raw(Json.Encode(Model.ErrorMessage)));
    </script>
}

<script>
    var inputLoadingDatesId = '@(Html.IdFor(model => model.Criteria.LoadingDates))';
    var inputDischargingDatesId = '@(Html.IdFor(model => model.Criteria.DischargingDates))';

    var inputTPCMonthFromId = '@(Html.IdFor(model => model.Criteria.TPCMonthFrom))';
    var inputTPCYearFromId = '@(Html.IdFor(model => model.Criteria.TPCYearFrom))';
    var inputTPCMonthToId = '@(Html.IdFor(model => model.Criteria.TPCMonthTo))';
    var inputTPCYearToId = '@(Html.IdFor(model => model.Criteria.TPCYearTo))';
    
    $(function () {
        $('#' + inputLoadingDatesId).dateRangePicker( { autoClose: true, singleDate: false, showShortcuts: false, format: 'DD-MMM-YYYY', time: { enabled: false } });
        $('#' + inputDischargingDatesId).dateRangePicker({ autoClose: true, singleDate: false, showShortcuts: false, format: 'DD-MMM-YYYY', time: { enabled: false } });
        $('#' + inputTPCMonthFromId + ',#' + inputTPCYearFromId).change(function () {
            var $tpcMonthFrom = $('#' + inputTPCMonthFromId);
            var $tpcYearFrom = $('#' + inputTPCYearFromId);
            var $tpcMonthTo = $('#' + inputTPCMonthToId);
            var $tpcYearTo = $('#' + inputTPCYearToId);

            //reset
            $tpcMonthTo.children().show();
            $tpcYearTo.children().show();

            var monthFromIndex = $tpcMonthFrom.prop('selectedIndex');
            var yearFromIndex = $tpcYearFrom.prop('selectedIndex');
            if (monthFromIndex > 0 && yearFromIndex > 0) {
                //เมื่อเลือกเดือนต้นและปีต้น อนุญาตให้เลือกเดือนและปีหลังได้
                $tpcMonthTo.prop("disabled", false);
                $tpcYearTo.prop("disabled", false); 
                
                setTPCYearTo();
                setTPCMonthTo();
            }
            else {
                $tpcMonthTo.prop("disabled", true).prop('selectedIndex', 0);
                $tpcYearTo.prop("disabled", true).prop('selectedIndex', 0); 
            }
        });
        $('#' + inputTPCYearToId).change(function () {
            var isReset = setTPCMonthTo();
            if (isReset) {
                var $tpcMonthFrom = $('#' + inputTPCMonthFromId);
                var $tpcMonthTo = $('#' + inputTPCMonthToId);

                var monthFromIndex = $tpcMonthFrom.prop('selectedIndex');
                if (monthFromIndex > 0) {
                    $tpcMonthTo.prop('selectedIndex', monthFromIndex);
                }
            }
        });

        $.widget("custom.combobox", {
            _create: function () {
                this.wrapper = $("<div>")
                    .attr("id", "ddlCrudeName")
                    .insertAfter(this.element);

                this.element.hide();
                this._createAutocomplete();
            },

            _createAutocomplete: function () {
                var selected = this.element.children(":selected"),
                    value = selected.val() ? selected.text() : "";
                var wasOpen = false;

                this.input = $("<input>")
                    .appendTo(this.wrapper)
                    .val(value)
                    .attr("style", "background: url(../../Content/images/bg/bg-select.png) no-repeat 98% 10px; background-color: white;")
                    .attr("placeholder", "-- Select --")
                    .addClass("form-control")
                    .autocomplete({
                        delay: 0,
                        minLength: 0,
                        source: $.proxy(this, "_source")
                    });

                this._on(this.input, {
                    autocompleteselect: function (event, ui) {
                        ui.item.option.selected = true;
                        $(ui.item.option.parentNode).val(ui.item.value).change();
                        ui.item.value = ui.item.label;
                        this._trigger("select", event, {
                            item: ui.item.option
                        });
                    },
                    autocompletechange: "_removeIfInvalid",
                    "mousedown": function () {
                        wasOpen = this.input.autocomplete("widget").is(":visible");
                    },
                    "click": function () {
                        this.input.trigger("focus");
                        // Close if already visible
                        if (wasOpen) {
                            return;
                        }
                        // Pass empty string as value to search for, displaying all results
                        this.input.autocomplete("search", "");
                    }

                });
            },

            _source: function (request, response) {
                var matcher = new RegExp("^" + $.ui.autocomplete.escapeRegex(request.term), "i");
                response(this.element.children("option").map(function () {
                    var text = $(this).text();
                    var value = $(this).val();

                    if (this.value && (!request.term || matcher.test(text)))
                        return {
                            label: text,
                            value: value,
                            option: this
                        };
                }).slice(0, 10));
            },

            _removeIfInvalid: function (event, ui) {
                // Selected an item, nothing to do
                if (ui.item) {
                    return;
                }

                // Search for a match (case-insensitive)
                var value = this.input.val(),
                    valueLowerCase = value.toLowerCase(),
                    valid = false;
                this.element.children("option").each(function () {
                    if ($(this).text().toLowerCase() === valueLowerCase) {
                        this.selected = valid = true;
                        return false;
                    }
                });

                // Clear value
                if (value == "") {
                    this.input.val("")
                    this.element.val("");
                    this.input.autocomplete("instance").term = "";
                }

                // Found a match, nothing to do
                if (valid) {
                    return;
                }

                // Remove invalid value
                this.input.val("")
                this.element.val("");
                this.input.autocomplete("instance").term = "";
            },

            _destroy: function () {
                this.wrapper.remove();
                this.element.show();
            }
        });

        $("#Criteria_CrudeName").combobox();
        $("#Criteria_Country").combobox();
        $("#Criteria_Supplier").combobox();


        var table = $('#searchReportTable').DataTable({
            "autoWidth": false,
            "columnDefs": [
                //Disble sort on Action Colum
                { "targets": [0], "width": "60" },
                { "targets": [1], "width":"200" },
                { "targets": [2], "width":"200" },
                { "targets": [3], "width":"200" },
                { "targets": [4], "width":"114" },
                { "targets": [5], "width": "80" },
                { "targets": [6], "width": "80" },
                { "targets": [7], "width": "80" },
                { "targets": [8], "width": "80" },
                { "targets": [9], "width": "60" },
                { "targets":[10], "width":"100" },
            ],
            "scrollCollapse": true,
            "orderable": false,
            "bSort": false,
            //"scrollY": "350px",
            //"scrollX": true,
        });
        $('#searchReportTable_length>label>select').css('padding-top', '0px');
        setTimeout(function () {
            table.columns.adjust().draw();
        }, 500);

        //Render TPCMonthYearTo after search
        setTPCYearTo();
        setTPCMonthTo();
    });

    function setTPCMonthTo() {
        var $tpcMonthFrom = $('#' + inputTPCMonthFromId);
        var $tpcYearFrom = $('#' + inputTPCYearFromId);
        var $tpcMonthTo = $('#' + inputTPCMonthToId);
        var $tpcYearTo = $('#' + inputTPCYearToId);

        var monthFromIndex = $tpcMonthFrom.prop('selectedIndex');
        var monthToIndex = $tpcMonthTo.prop('selectedIndex');
        var yearFromIndex = $tpcYearFrom.prop('selectedIndex');
        var yearToIndex = $tpcYearTo.prop('selectedIndex');

        $tpcMonthTo.children().show();
        //ถ้าช่วงปีเดียวกัน เดือนหลังต้องไม่น้อยกว่าเดือนต้น
        if (yearToIndex == yearFromIndex) {
            for (var i = 0; i < monthFromIndex - 1; i++) {
                $tpcMonthTo.children().eq(i + 1).hide();
            }

            //ถ้าเดือนหลังที่เลือกมีค่าน้อยกว่าเดือนต้น ในปีเดียวกัน ให้เลือกเดือนหลังใหม่
            if (monthToIndex < monthFromIndex && yearToIndex == yearFromIndex) {
                $tpcMonthTo.prop('selectedIndex', 0);
                return true;
            }
        }
        return false;
    }
    function setTPCYearTo() {
        var $tpcYearFrom = $('#' + inputTPCYearFromId);
        var $tpcYearTo = $('#' + inputTPCYearToId);

        var yearFromIndex = $tpcYearFrom.prop('selectedIndex');
        var yearToIndex = $tpcYearTo.prop('selectedIndex');

        $tpcYearTo.children().show();

        //ซ่อนปีหลังที่มีเลขปีน้อยกว่า
        var lenYearFrom = $tpcYearTo.children().length;
        for (var i = yearFromIndex; i < lenYearFrom; i++) {
            $tpcYearTo.children().eq(i + 1).hide();
        }
        //ถ้าปีหลังที่เลือกมีค่าน้อยกว่าปีต้น ให้เลือกปีหลังใหม่ (ค่าน้อยมี Index ตำแหน่งสูงกว่า)
        if (yearToIndex > yearFromIndex) {
            $tpcYearTo.prop('selectedIndex', 0);
            return true;
        }
        return false;
    }

    function resetForm() {
        document.getElementById("searchReportForm").reset();
        $('#' + inputLoadingDatesId).data('dateRangePicker').clear();
        $('#' + inputDischargingDatesId).data('dateRangePicker').clear();
    }

    function openModalTNComment(transactionId) {
        tinymce.get('txtTNComment').setContent('');
        $.ajax({
            url: '@Url.Action("LoadTNComment", "VCool")',
            data: { "transactionId": transactionId },
            cache: false,
            type: "GET",
            complete: function (xhr) {
                $('#showLoading').hide();
            },
            success: function (result, status, xhr) {
                if (result.success) {
                    $('#resultTNComment').modal({ backdrop: 'static', keyboard: false });
                    tinymce.get('txtTNComment').setContent(result.comment);
                }
                else if (result.message != ''){
                    OpenBoxPopup(result.message);
                }
            },
            error: function (xhr, status, error) {
                //alert("error : " + reponse.error());
            }
        });
    }

    tinymce.init({
        selector: '#txtTNComment',
        theme: 'modern',
        plugins: ['textcolor colorpicker'],
        height: 260,
        menubar: false,
        toolbar: " undo redo | bold italic underline | numlist | forecolor | removeformat | spellchecker",
        statusbar: true,
        image_advtab: true,
        paste_data_images: true,
        readonly: true,
        textcolor_map: [
            "000000", "Black",
            "993300", "Burnt orange",
            "333300", "Dark olive",
            "003300", "Dark green",
            "003366", "Dark azure",
            "000080", "Navy Blue",
            "333399", "Indigo",
            "333333", "Very dark gray",
            "800000", "Maroon",
            "FF6600", "Orange",
            "808000", "Olive",
            "008000", "Green",
            "008080", "Teal",
            "0000FF", "Blue",
            "666699", "Grayish blue",
            "808080", "Gray",
            "FF0000", "Red",
            "FF9900", "Amber",
            "99CC00", "Yellow green",
            "339966", "Sea green",
            "33CCCC", "Turquoise",
            "3366FF", "Royal blue",
            "800080", "Purple",
            "999999", "Medium gray",
            "FF00FF", "Magenta",
            "FFCC00", "Gold",
            "FFFF00", "Yellow",
            "00FF00", "Lime",
            "00FFFF", "Aqua",
            "00CCFF", "Sky blue",
            "993366", "Red violet",
            "FFFFFF", "White",
            "FF99CC", "Pink",
            "FFCC99", "Peach",
            "FFFF99", "Light yellow",
            "CCFFCC", "Pale green",
            "CCFFFF", "Pale cyan",
            "99CCFF", "Light sky blue",
            "CC99FF", "Plum"
        ]
    });
</script>
