﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.VCoolViewModel

@{
    var txtreadonly = Model.pageMode == "READ" ? 1 : 0;
}

@using (Html.BeginForm())
{
    <div class="wrapper-detail">
        <div>
            <h1>Check technical impact</h1>
        </div>
        <form action="" method="post" enctype="multipart/form-data">
            @Html.HiddenFor(a => a.date_history.history[0].date_history, Model.date_history.history[0].date_history)
            @Html.HiddenFor(a => a.date_history.history[0].order, Model.date_history.history[0].order)
            @Html.HiddenFor(a => a.date_history.history[0].user_group, Model.date_history.history[0].user_group)
            @Html.HiddenFor(a => a.taskID, Model.taskID)
            @Html.HiddenFor(a => a.reqID, Model.reqID)
            @Html.HiddenFor(a => a.purno, Model.purno)
            @Html.HiddenFor(a => a.crude_info.discharging_date_from, Model.crude_info.discharging_date_from)
            @Html.HiddenFor(a => a.crude_info.discharging_date_to, Model.crude_info.discharging_date_to)
            @Html.HiddenFor(a => a.crude_info.benchmark_price, Model.crude_info.benchmark_price)
            @Html.HiddenFor(a => a.crude_info.crude_name, Model.crude_info.crude_name)
            @Html.HiddenFor(a => a.crude_info.crude_ref, Model.crude_info.crude_ref)
            @Html.HiddenFor(a => a.crude_info.formula_price, Model.crude_info.formula_price)
            @Html.HiddenFor(a => a.crude_info.incoterm, Model.crude_info.incoterm)
            @Html.HiddenFor(a => a.crude_info.loading_date_from, Model.crude_info.loading_date_from)
            @Html.HiddenFor(a => a.crude_info.loading_date_to, Model.crude_info.loading_date_to)
            @Html.HiddenFor(a => a.crude_info.origin, Model.crude_info.origin)
            @Html.HiddenFor(a => a.crude_info.purchased_by, Model.crude_info.purchased_by)
            @Html.HiddenFor(a => a.crude_info.purchase_date, Model.crude_info.purchase_date)
            @Html.HiddenFor(a => a.crude_info.purchase_method, Model.crude_info.purchase_method)
            @Html.HiddenFor(a => a.crude_info.purchase_type, Model.crude_info.purchase_type)
            @Html.HiddenFor(a => a.crude_info.quantity_kbbl_max, Model.crude_info.quantity_kbbl_max)
            @Html.HiddenFor(a => a.crude_info.quantity_kt_max, Model.crude_info.quantity_kt_max)
            @Html.HiddenFor(a => a.crude_info.supplier, Model.crude_info.supplier)
            @Html.HiddenFor(a => a.crude_info.tpc_plan_month, Model.crude_info.tpc_plan_month)
            @Html.HiddenFor(a => a.crude_info.tpc_plan_year, Model.crude_info.tpc_plan_year)
            @Html.HiddenFor(a => a.comment.cmcs_request, Model.comment.cmcs_request)
            @Html.HiddenFor(a => a.comment.evpc, Model.comment.evpc)
            @Html.HiddenFor(a => a.comment.tnvp, Model.comment.tnvp)
            <h2>Request Information</h2>
            <hr />
            <div class="form-horizontal">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Name</label>
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.requester_info.name, new { @class = "form-control essential_submit", @readonly = "true" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Purchase No.</label>
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.requester_info.purchase_no, new { @class = "form-control essential_submit", @readonly = "true" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Area / Unit</label>
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.requester_info.area_unit, new { @class = "form-control essential_submit", @readonly = "true" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Workflow Status</label>
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.requester_info.status_tn_description, new { @class = "form-control essential_submit", @readonly = "true" })
                                @Html.HiddenFor(model => model.requester_info.status_tn)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Create Date/Time</label>
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.requester_info.date_purchase, new { @class = "form-control essential_submit input-date-picker date_purchase", @readonly = "true" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" style="display:none;">
                            <label class="col-md-3 control-label">Workflow Priority</label>
                            <div class="col-md-6">
                                @Html.DropDownListFor(model => model.requester_info.workflow_priority, new SelectList(Model.ddlPriority, "Value", "Text", Model.requester_info.workflow_priority), "-- Select --", new { @class = "form-control", @style = "display:none" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h2>Crude Information</h2>
            <hr />
            <div class="task-box">
                <div class="wrapper-table collapse in" id="collapseJuly">
                    <table id="CrudeInformation" class="table table-hover display" cellspacing="0">
                        <thead>
                            <tr>
                                <th rowspan="2" style="width:100px">Crude Name</th>
                                <th rowspan="2" style="width:100px">Buying Type</th>
                                <th rowspan="2" style="width:100px">Loading Month</th>
                                <th rowspan="2" style="width:100px">Final CAM</th>
                                <th colspan="2" style="width:200px">Proposed By CMCS</th>
                                <th rowspan="2" style="width:200px">Proposed Discharging Period</th>
                            </tr>
                            <tr>
                                <th style="width:100px">Volume (kbbl)</th>
                                <th style="width:100px">Volume (kT)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Model.crude_info.crude_name</td>
                                <td>@Model.crude_info.purchase_type</td>
                                <td>@Model.tempLoadingDate</td>
                                @*<td><a href="javascript:void(0)" onclick="OpenModal()" data-toggle="modal" data-target=".bs-example-modal-lg2">[View]</a></td>*@
                                <td><a target="_blank" href="FinalCAM?tempFinalCAM=@(Model != null && !string.IsNullOrEmpty(Model.tempFinalCAM_Encrypt) ? Model.tempFinalCAM_Encrypt : string.Empty)">[View]</a></td>
                                <td>@Model.crude_info.quantity_kbbl_max</td>
                                <td>@Model.crude_info.quantity_kt_max</td>
                                <td>@Model.tempDischargingDate</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <h2 id="show_tn_error" style="display:none;"><span class="label label-danger">TN Comment, Please input Value.</span></h2>
                <h2 id="hide_tn_error">TN Comment</h2>
                <hr />
                <div>
                    @Html.TextAreaFor(model => model.comment.tn, new { @id = "tn_comment", @class = "form-control txtExplanation essential-tiny" })
                </div>
            </div>
            <div class="wrapper-button" id="buttonDiv">
                @if (Model.buttonMode == "AUTO")
                {
                    @*<input id="btnDraft_TN" type="submit" value="DRAFT" class="btn btn-primary" name="action:SaveDraft"/>
                        <input id="btnSubmit_TN" type="submit" value="SUBMIT" class="btn btn-primary" name="action:Submit" />*@

                    @*<input type="submit" value="SAVE DRAFT" class="btn btn-default" onclick="OpenBoxBungerPrompt('Comment :', 'SaveDraft'); return false;" />
                        <input type="submit" value="SUBMIT" class="btn btn-default" name="action:Submit" onclick="OpenBoxBungerPrompt('Comment :', 'Submit'); return false;" />
                        <input type="submit" value="SAVE DRAFT" id="btnSaveDraft" style="display: none;" name="action:SaveDraft" />
                        <input type="submit" value="SUBMIT" id="btnSubmit" style="display: none;" name="action:Submit" />*@
                    <input type="submit" value="BACK" id="btnBack" class="btn btn-default" name="action:Back" />
                }
                else
                {
                    @Html.Hidden("hdfEventClick")
                    @Html.Raw(@Model.buttonCode)
                }
            </div>
        </form>
    </div>
}

<div class="modal fade bs-example-modal-lg2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" style="width: 80%; padding: 17px; padding-right: 0px; " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h3 class="modal-title" id="myLargeModalLabel">Final CAM</h3>
            </div>
            <div class="modal-body" style="height:500px">
                @if (Model != null && !string.IsNullOrEmpty(Model.tempFinalCAM))
                {
                    @Html.Partial("GenerateView", Model.tempFinalCAM ?? string.Empty)
                }
                else
                {
                    @Html.Raw("Cannot load the final CAM document, this crude and country is not found in COOL system.")
                    <br />
                    @Html.Raw("For more information, please contact administrator.")
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" style="float:right;" data-dismiss="modal">Close</button>
                @if (Model != null && !string.IsNullOrEmpty(Model.tempFinalCAM))
                {
                    <button type="button" class="btn btn-primary clickable-file" style="float:right;" data-dismiss="modal" data-href="@Model.tempFinalCAM">Print</button>
                }
            </div>
        </div>
    </div>
</div>

@if (TempData["res_message"] != null)
            {
                if (TempData["returnPage"] != null)
                {
        <script type="text/javascript">
                        OpenBoxPopupLink((@Html.Raw(Json.Encode(TempData["res_message"]))), @Html.Raw(Json.Encode(TempData["returnPage"]))).done(function() {
                            $("#EventButton").val("0");
                        });
        </script>
    }
    else
    {
        <script type="text/javascript">
                        OpenBoxPopup(@Html.Raw(Json.Encode(TempData["res_message"])));
        </script>
    }
}
<script>

    $(".clickable-row").click(function () {
        window.document.location = $(this).data("href");
    });

    $(".clickable-file").click(function () {
        var path = getWebSitePath();
        window.document.location = path + '/' + $(this).data("href");
    });
        
    // GET WEB SITE PATH //
    function getWebSitePath() {
        var _location = document.location.toString();
        var applicationNameIndex = _location.indexOf('/', _location.indexOf('://') + 3);
        var applicationName = _location.substring(0, applicationNameIndex) + '/';
        var webFolderIndex = _location.indexOf('/', _location.indexOf(applicationName) + applicationName.length);
        var webFolderFullPath = _location.substring(0, webFolderIndex).toString().replace('/CPAIMVC', '');
        return webFolderFullPath;
    }

    function OpenModal() {
        $("#spreadsheet_SSTC_T1").click();
        $("#spreadsheet_SSTC_T0").click();

        //setTimeout(function () {
        //    $("#spreadsheet_SSTC_T0").click();
        //}, 200);
                        }

    function OpenBoxBungerPrompt(MSG, Event) {

        if (Event != "SaveDraft" && Event != "SaveAndPreview" && Event != "Submit") {
            if ($("#hdfEventClick").length != 0) {
                $("#hdfEventClick").val(Event);
            }
        }

        if (Event.toUpperCase() == "SUBMIT" || Event.toUpperCase() == "APPROVE") {
            if (!ValidateEssentialSubmit()) return false;
            RemoveValidateEssentialSubmit();

            bootbox.confirm({
                message: "Are you sure to submit?",
                buttons: {
                    confirm: {
                        label: 'Yes',
                    },
                    cancel: {
                        label: 'No',
                    }
                },
                callback: function (result) {
                    if (result) {
                        $('form').attr('target', '_self');
                        $("#btnMANUAL").click();
                        LoadingProcess();
                    }
                }
            });
        }
        else if (Event.toUpperCase() == "REJECT") {
            if (!ValidateEssential()) return false;

            $('form').attr('target', '_self');
            if (Event == "SaveDraft") {
                $("#btnSaveDraft").click();
            } else {
                $("#btnMANUAL").click();
            }
            LoadingProcess();
        }
        // CASE: SAVE DRAFT
        else {
            $('form').attr('target', '_self');
            if (Event == "SaveDraft") {
                $("#btnSaveDraft").click();
            } else {
                $("#btnMANUAL").click();
            }
            LoadingProcess();
        }
    }

    function ValidateEssential() {
        var i = 0;
        var essential_tn_request = $('#tn_comment').hasClass('essential-tiny');
        if (essential_tn_request) {
            var editor_tn = tinyMCE.get('tn_comment');
            if (editor_tn) {
                var content_tn = editor_tn.getContent();
                if (content_tn == '') {
                    $("#show_tn_error").show();
                    $("#hide_tn_error").hide();
                    i++;
                }
                else {
                    $("#show_tn_error").hide();
                    $("#hide_tn_error").show();
                }
            }

            if (i > 0)
                return false;
            return true;
        }

    }

    function RemoveValidateEssential() {
        $(".essential").removeClass("input-error");
    }

    function ValidateEssentialSubmit() {
        RemoveValidateEssentialSubmit();
        var i = 0;

        $(".essential_submit").each(function () {
            if ($.trim($(this).val()) == "" && document.getElementById($(this).attr("id")).disabled != true) {
                i++;
                addValidMessageError($("#" + $(this).attr("id")), "Please input Value.");
            }
        });
        if (i > 0)
            return false;
        return true;
    }

    function RemoveValidateEssentialSubmit() {
        $(".essential_submit").removeClass("input-error");
    }

    $(function () {
        $('#requester_info_workflow_priority').prop('disabled', true);
        tinymce.init({
            selector: 'TextArea',
            theme: 'modern',
            plugins: ['textcolor colorpicker  '],
            height: 200,
            menubar: false,
            toolbar: " undo redo | bold italic underline | numlist | forecolor | removeformat | spellchecker",
            statusbar: true,
            image_advtab: true,
            paste_data_images: true,
            readonly: @txtreadonly,
            textcolor_map: [
                "000000", "Black",
                "993300", "Burnt orange",
                "333300", "Dark olive",
                "003300", "Dark green",
                "003366", "Dark azure",
                "000080", "Navy Blue",
                "333399", "Indigo",
                "333333", "Very dark gray",
                "800000", "Maroon",
                "FF6600", "Orange",
                "808000", "Olive",
                "008000", "Green",
                "008080", "Teal",
                "0000FF", "Blue",
                "666699", "Grayish blue",
                "808080", "Gray",
                "FF0000", "Red",
                "FF9900", "Amber",
                "99CC00", "Yellow green",
                "339966", "Sea green",
                "33CCCC", "Turquoise",
                "3366FF", "Royal blue",
                "800080", "Purple",
                "999999", "Medium gray",
                "FF00FF", "Magenta",
                "FFCC00", "Gold",
                "FFFF00", "Yellow",
                "00FF00", "Lime",
                "00FFFF", "Aqua",
                "00CCFF", "Sky blue",
                "993366", "Red violet",
                "FFFFFF", "White",
                "FF99CC", "Pink",
                "FFCC99", "Peach",
                "FFFF99", "Light yellow",
                "CCFFCC", "Pale green",
                "CCFFFF", "Pale cyan",
                "99CCFF", "Light sky blue",
                "CC99FF", "Plum"
            ]
        });
    });
</script>
