﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.HedgingFrameworkViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/CPAIMVC/Views/Shared/_Layout.cshtml";
    int list = 1;
}
@if (TempData["ReponseMessage"] != null)
{
    // if POST check Response and Disble background layout of Modal Popup
    <script>
        $(document).ready(function () {
            $('#resultPopup').modal({ backdrop: 'static', keyboard: false });
            $('#resultPopup').modal('show');
        });
    </script>
}
<div class="wrapper-detail">
    <div>
        <h1 style="font-weight: bold;">Annual Hedging Framework Entry</h1>
    </div>
    <form action="" id="formpost" method="post">
        @Html.HiddenFor(model => model.hedgingFramework_Detail.Status)
        @if (Model.hedgingFramework_Detail.Status != "NEW" || Model.hedgingFramework_Detail.Status != "COPY")
        {
            @Html.HiddenFor(model => model.hedgingFramework_Detail.OrderID)
        }
        @Html.HiddenFor(model => model.pageMode, Model.pageMode)
        @Html.HiddenFor(model => model.hedgingFramework_Detail.IsChange)
        <div class="form-horizontal">
            <div class="row">
                <div class="form-group">
                    <div class="col-md-6">
                        <label class="col-md-3 control-label">Active date<span style="color:red">*</span></label>
                        <div class="col-md-6">
                            <div class="box-date">
                                @Html.TextBoxFor(model => model.hedgingFramework_Detail.ActiveDate, new { @class = "form-control input-date-picker request ", @placeholder = "DD/MM/YYYY to DD/MM/YYYY", @maxlength = "24" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 text-right">
                        <label class="control-label">Status: @Model.hedgingFramework_Detail.Status</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <label class="col-md-3 control-label">Underlying<span style="color:red">*</span></label>
                        <div class="col-md-6">
                            @if (Model.hedgingFramework_Detail.Underlying == null)
                            {
                                <div class="box-date">
                                    @Html.DropDownListFor(model => model.hedgingFramework_Detail.Underlying, new SelectList(Model.ddlUnderlying, "Value", "Text", Model.hedgingFramework_Detail.Underlying), "---Please Select Dropdown---", new { @class = "form-control request", @onchange = "selectunderlying();" })
                                </div>
                            }
                            else
                            {
                                <div class="box-date">
                                    @Html.HiddenFor(model => model.hedgingFramework_Detail.Underlying)
                                    @Html.DropDownListFor(model => model.hedgingFramework_Detail.Underlying, new SelectList(Model.ddlUnderlying, "Value", "Text", Model.hedgingFramework_Detail.Underlying), new { @class = "form-control request", @onchange = "selectunderlying();  updateDropdown(this);", @readonly = "true", @disabled = "disabled" })
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <label class="col-md-3 control-label">Description<span style="color:red">*</span></label>
                        <div class="col-md-9">
                            <div class="box-date">
                                @Html.TextBoxFor(model => model.hedgingFramework_Detail.Description, new { @class = "form-control request" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th rowspan="2" style="width:200px">Hedge Type</th>
                            <th rowspan="2" style="width:100px">Type</th>
                            <th rowspan="2" style="width:250px">Title</th>
                            <th rowspan="2">Volume</th>
                            @if (@Model.hedgingFramework_Detail.DetailData != null)
                            {
                                <th colspan="4">Price <label id="labelunit">(@Model.hedgingFramework_Detail.DetailData[0].PriceUnit)</label></th>
                            }
                            else
                            {
                                <th colspan="4">Price <label id="labelunit"></label></th>
                            }
                            <th rowspan="2">Delete</th>
                        </tr>
                        <tr>
                            <th></th>
                            <th>1</th>
                            <th>2</th>
                            <th>3</th>
                        </tr>
                    </thead>
                    <tbody id="DBList">
                        @for (int i = 0; i < Model.hedgingFramework_Detail.DetailData.Count(); i++)
                        {
                            if (i == 0)
                            {
                                <tr id='DBList_Head_0' class="DataList">
                                    <td>
                                        @Html.HiddenFor(model => model.hedgingFramework_Detail.DetailData[0].Order, new { @value = "1" })
                                        @Html.HiddenFor(model => model.hedgingFramework_Detail.DetailData[0].ValueType, new { @value = "FIX" })
                                        @Html.TextBoxFor(model => model.hedgingFramework_Detail.DetailData[0].HedgeType, new { @class = "form-control", @readonly = "true" })
                                    </td>
                                    <td>@Html.TextBoxFor(model => model.hedgingFramework_Detail.DetailData[0].Type, new { @class = "form-control", @readonly = "true" })</td>
                                    <td>@Html.TextBoxFor(model => model.hedgingFramework_Detail.DetailData[0].Title, new { @class = "form-control request", type = "text" })</td>
                                    <td>
                                        @Html.TextBoxFor(model => model.hedgingFramework_Detail.DetailData[0].Volume, new { @class = "form-control request", type = "number" })
                                        @Html.DropDownListFor(model => model.hedgingFramework_Detail.DetailData[0].VolumeUnit, new SelectList(Model.ddlVolumeUnit, "Value", "Text", Model.hedgingFramework_Detail.DetailData[0].VolumeUnit), new { @class = "form-control request" })

                                    </td>
                                    <td>
                                        <label class="control-label">Year</label><br />
                                        <label class="control-label">Remark</label>
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(model => model.hedgingFramework_Detail.DetailData[0].Price1, new { @class = "form-control request", type = "text", @onchange = "checktype(0,this);" })
                                        @Html.TextBoxFor(model => model.hedgingFramework_Detail.DetailData[0].Price1Remark, new { @class = "form-control" })
                                        @Html.HiddenFor(model => model.hedgingFramework_Detail.DetailData[0].PriceUnit)
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(model => model.hedgingFramework_Detail.DetailData[0].Price2, new { @class = "form-control", type = "text", @onchange = "checktype(0,this);" })
                                        @Html.TextBoxFor(model => model.hedgingFramework_Detail.DetailData[0].Price2Remark, new { @class = "form-control" })
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(model => model.hedgingFramework_Detail.DetailData[0].Price3, new { @class = "form-control", type = "text", @onchange = "checktype(0,this);" })
                                        @Html.TextBoxFor(model => model.hedgingFramework_Detail.DetailData[0].Price3Remark, new { @class = "form-control" })
                                    </td>
                                    <td></td>
                                </tr>
                            }
                            else if (Model.hedgingFramework_Detail.DetailData[i].Type == "PRICE")
                            {
                                <tr id='DBList_Head_@i' class="DataList">
                                    <td>
                                        @Html.HiddenFor(model => model.hedgingFramework_Detail.DetailData[i].Order)
                                        @Html.HiddenFor(model => model.hedgingFramework_Detail.DetailData[i].RowID)
                                        @Html.HiddenFor(model => model.hedgingFramework_Detail.DetailData[i].ValueType)
                                        @Html.HiddenFor(model => model.hedgingFramework_Detail.DetailData[i].HedgeType)
                                    </td>
                                    <td>@Html.TextBoxFor(model => model.hedgingFramework_Detail.DetailData[i].Type, new { @class = "form-control", @readonly = "true"})</td>
                                    <td>@Html.TextBoxFor(model => model.hedgingFramework_Detail.DetailData[i].Title, new { @class = "form-control request", type = "text" })</td>
                                    <td>
                                        @Html.TextBoxFor(model => model.hedgingFramework_Detail.DetailData[i].Volume, new { @class = "form-control", type = "number", @disabled = "disabled" })
                                        @Html.DropDownListFor(model => model.hedgingFramework_Detail.DetailData[i].VolumeUnit, new SelectList(Model.ddlVolumeUnit, "Value", "Text", Model.hedgingFramework_Detail.DetailData[i].VolumeUnit), new { @class = "form-control", @disabled = "disabled" })
                                    </td>
                                    <td>
                                        <label class="control-label">Year</label><br />
                                        <label class="control-label">Remark</label>
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(model => model.hedgingFramework_Detail.DetailData[i].Price1, new { @class = "form-control request", type = "number", @onchange = "checktype(" + i + ",this);" })
                                        @Html.TextBoxFor(model => model.hedgingFramework_Detail.DetailData[i].Price1Remark, new { @class = "form-control" })
                                        @Html.HiddenFor(model => model.hedgingFramework_Detail.DetailData[i].PriceUnit)
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(model => model.hedgingFramework_Detail.DetailData[i].Price2, new { @class = "form-control", type = "number", @onchange = "checktype(" + i + ",this);" })
                                        @Html.TextBoxFor(model => model.hedgingFramework_Detail.DetailData[i].Price2Remark, new { @class = "form-control" })
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(model => model.hedgingFramework_Detail.DetailData[i].Price3, new { @class = "form-control", type = "number", @onchange = "checktype(" + i + ",this);" })
                                        @Html.TextBoxFor(model => model.hedgingFramework_Detail.DetailData[i].Price3Remark, new { @class = "form-control" })
                                    </td>
                                    @if (Model.hedgingFramework_Detail.Status == "DRAFT" && i != 0)
                                    {
                                        <td><input type="image" src="../../Web/Images/icon-delete.gif" onclick="delList(@i); return false;"></td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                </tr>
                            }
                            else
                            {
                                <tr id='DBList_Sub_@i' class="DataList">
                                    <td>
                                        @Html.HiddenFor(model => model.hedgingFramework_Detail.DetailData[i].Order)
                                        @Html.HiddenFor(model => model.hedgingFramework_Detail.DetailData[i].RowID)
                                        @Html.HiddenFor(model => model.hedgingFramework_Detail.DetailData[i].ValueType)
                                        @Html.DropDownListFor(model => model.hedgingFramework_Detail.DetailData[i].HedgeType, new SelectList(Model.ddlHegingType, "Value", "Text", Model.hedgingFramework_Detail.DetailData[i].HedgeType), new { @class = "form-control request", @onchange = "updateSub(" + i + ")" })
                                    </td>
                                    <td>@Html.TextBoxFor(model => model.hedgingFramework_Detail.DetailData[i].Type, new { @class = "form-control", @readonly = "true" })</td>
                                    <td>@Html.TextBoxFor(model => model.hedgingFramework_Detail.DetailData[i].Title, new { @class = "form-control request", type = "text" })</td>
                                    <td>
                                        @Html.TextBoxFor(model => model.hedgingFramework_Detail.DetailData[i].Volume, new { @class = "form-control request", type = "number" })
                                        @Html.DropDownListFor(model => model.hedgingFramework_Detail.DetailData[i].VolumeUnit, new SelectList(Model.ddlVolumeUnit, "Value", "Text", Model.hedgingFramework_Detail.DetailData[i].VolumeUnit), new { @class = "form-control request" })
                                    </td>
                                    <td>
                                        <label class="control-label">Year</label><br />
                                        <label class="control-label">Remark</label>
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(model => model.hedgingFramework_Detail.DetailData[i].Price1, new { @class = "form-control request", type = "text", @onchange = "checktype(" + i + ",this);" })
                                        @Html.TextBoxFor(model => model.hedgingFramework_Detail.DetailData[i].Price1Remark, new { @class = "form-control" })
                                        @Html.HiddenFor(model => model.hedgingFramework_Detail.DetailData[i].PriceUnit)
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(model => model.hedgingFramework_Detail.DetailData[i].Price2, new { @class = "form-control", type = "text", @onchange = "checktype(" + i + ",this);" })
                                        @Html.TextBoxFor(model => model.hedgingFramework_Detail.DetailData[i].Price2Remark, new { @class = "form-control" })
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(model => model.hedgingFramework_Detail.DetailData[i].Price3, new { @class = "form-control", type = "text", @onchange = "checktype(" + i + ",this);" })
                                        @Html.TextBoxFor(model => model.hedgingFramework_Detail.DetailData[i].Price3Remark, new { @class = "form-control" })
                                    </td>
                                    @if (Model.hedgingFramework_Detail.Status == "DRAFT" && i != 0)
                                    {
                                        <td><input type="image" src="../../Web/Images/icon-delete.gif" onclick="delList(@i); return false;"></td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="form-group">
                    <input type="button" id="buttonAdd" value="Add" class="btn btn-success" onclick="AddHeadList(); return false;" />
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-1">
                        <label class="col-md-3 control-label">Remark<span style="color:red">*</span></label>
                    </div>
                    <div class="col-md-11">
                        @if (Model.hedgingFramework_Detail.Status == "CANCEL")
                        {
                            @Html.TextAreaFor(model => model.hedgingFramework_Detail.Remark, new { @class = "form-control request", @style = "min-height: 123px; max-width: 100%;", @readonly = "true" })
                        }
                        else
                        {
                            @Html.TextAreaFor(model => model.hedgingFramework_Detail.Remark, new { @class = "form-control request", @style = "min-height: 123px; max-width: 100%;" })
                        }
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    @if (Model.hedgingFramework_Detail.Status == "CANCEL")
                    {
                        <div class="col-md-1">
                            <h3>Cancel Remark<span style="color:red">*</span></h3>
                        </div>
                        <div class="col-md-11">
                            @Html.TextAreaFor(model => model.hedgingFramework_Detail.CancelReamark, new { @class = "form-control ta_remark", @style = "min-height: 123px; max-width: 100%;", @readonly = "true" })
                        </div>
                    }
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-sm-8 center-block">
                        @if (Model.hedgingFramework_Detail.Status == "DRAFT" || Model.hedgingFramework_Detail.Status == "NEW" || Model.hedgingFramework_Detail.Status == "COPY")
                        {
                            <input type="submit" value="SAVE DRAFT" class="btn btn-default" id="btnsavedraft" onclick="savedraft(); return false" />
                            <input type="button" value="SUBMIT" class="btn btn-default" id="btnsubmit" onclick="test(); return false;" />
                        }
                        else if (Model.hedgingFramework_Detail.Status == "SUBMIT")
                        {
                            <input type="button" value="EDIT" class="btn btn-default" id="btnsubmit" onclick="test(); return false;" />
                            <input type="button" value="CANCEL" class="btn btn-default" id="btncancel" onclick="cancelaf()" />
                        }
                        @if (Model.hedgingFramework_Detail.Status == "DRAFT")
                        {
                            <input type="button" value="CANCEL" class="btn btn-default" id="btncancel" onclick="cancelaf()" />
                        }
                        <input type="submit" value="SUBMIT" id="btnSubmit" style="display: none;" name="action:Submit" />
                        <input type="submit" value="SAVE DRAFT" id="btnSaveDraft" style="display: none;" name="action:SaveDraft" />

                    </div>
                    <div class="col-sm-3 col-sm-offset-1">
                        @if (Model.hedgingFramework_Detail.Status == "NEW")
                        {
                            <input type="reset" value="CLEAR" class="btn btn-default" />
                        }
                        @Html.ActionLink("BACK", "Search", new { controller = "Hedgingframework" }, htmlAttributes: new { @class = "btn btn-default" })
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="cancelPopup" tabindex="-1" role="dialog" style="display:none">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2>Cancel Remark</h2>
                    </div>
                    <div class="modal-body text-center">
                        @Html.TextAreaFor(model => model.hedgingFramework_Detail.CancelReamark, new { @class = "form-control tac_mark", @style = "min-height: 123px; max-width: 100%;" })
                    </div>
                    <div class="modal-footer">
                        <input type="button" value="OK" class="btn btn-default" onclick="validatecancel(); return false;" />
                        <input type="button" value="BACK" class="btn btn-default" onclick="backmodal()" />
                        <input type="submit" value="CANCEL" id="btnCancel" style="display: none;" name="action:Cancel" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal fade" id="resultPopup" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <p>
                    @TempData["ReponseMessage"]
                </p>
            </div>
            <div class="modal-footer">

                @if (TempData["ReponseStatus"] != null && TempData["ReponseStatus"].ToString().ToUpper() == "FALSE")
                {
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                }
                else
                {
                    @Html.ActionLink("Close", "ViewDetail", "HedgingFramework", new { OrderID = TempData["OrderID"] }, htmlAttributes: new { @class = "btn btn-default" });
                }
            </div>
        </div>
    </div>
</div>

<script>
    var list = @Model.hedgingFramework_Detail.DetailData.Count();
    var showunit = "";
    var hideunit = "";

    function closed(){
        $('#resultPopup').modal('hide');
    }
    function backmodal(){
        $('#hedgingFramework_Detail_CancelReamark').val("");
        $('#cancelPopup').modal('hide');
    }
    function cancelaf(){
        $('#cancelPopup').modal('show');
    }

    $(function () {
        $('#labelunit').val(showunit);
        $('#hedgingFramework_Detail_ActiveDate').dateRangePicker(
        {
            autoClose: true,
            startOfWeek: 'monday',
            format: 'DD/MM/YYYY',
        }).bind('datepicker-change', function (e) {
            $('#hedgingFramework_Detail_IsChange').val("1");
        });

        $('#formpost').on('keyup keypress', function(e) {
            var keyCode = e.keyCode || e.which;
            if (keyCode === 13) {
                e.preventDefault();
                return false;
            }
        });

        @if (Model.hedgingFramework_Detail.Status == "NEW" || Model.hedgingFramework_Detail.Status == "COPY")
        {
            @:$('#hedgingFramework_Detail_DetailData_0__PriceUnit').val(showunit);
            @:var unit = $("#hedgingFramework_Detail_Underlying option:selected").val();
            @:var singunit = unit.split("|");
            @:showunit = singunit[1];
            @:hideunit = singunit[2];
            @:$('#labelunit').text("(" + singunit[1] + ")");

            @:$("#labelunit").on('change', 'select', function() {
                @:$(this).find("select option").removeAttr("selected");
                @:$(this).find("option:selected").attr("selected", "selected");
            @:});
            @:if ($('#labelunit').text() == "(undefined)"){
                @:$('#labelunit').text("()");
            @:}
        }
        else if (Model.hedgingFramework_Detail.Status == "CANCEL")
        {
            @:('#hedgingFramework_Detail_ActiveDate').prop("disabled",true);
                    @:('#hedgingFramework_Detail_Underlying').prop("disabled",true);
                    @:('#hedgingFramework_Detail_Description').prop("disabled",true);
                    @:for (var row = 0; row <= list; row++)
                        {
                @:$('#hedgingFramework_Detail_DetailData_'+row+'__HedgeType').prop("disabled",true);
                        @:$('#hedgingFramework_Detail_DetailData_'+row+'__Type').prop("disabled",true);
                        @:$('#hedgingFramework_Detail_DetailData_'+row+'__Title').prop("disabled",true);
                        @:$('#hedgingFramework_Detail_DetailData_'+row+'__Volume').prop("disabled",true);
                        @:$('#hedgingFramework_Detail_DetailData_'+row+'__VolumeUnit').prop("disabled",true);
                        @:$('#hedgingFramework_Detail_DetailData_'+row+'__Price1').prop("disabled",true);
                        @:$('#hedgingFramework_Detail_DetailData_'+row+'__Price2').prop("disabled",true);
                        @:$('#hedgingFramework_Detail_DetailData_'+row+'__Price3').prop("disabled",true);
                        @:$('#hedgingFramework_Detail_DetailData_'+row+'__Price1Remark').prop("disabled",true);
                        @:$('#hedgingFramework_Detail_DetailData_'+row+'__Price2Remark').prop("disabled",true);
                        @:$('#hedgingFramework_Detail_DetailData_'+row+'__Price3Remark').prop("disabled",true);
                    }
            @:$('#buttonAdd').hide();
            @:('#hedgingFramework_Detail_Remark').prop("disabled",true);
        }
        @if (Model.hedgingFramework_Detail.Status != "CANCEL" || Model.hedgingFramework_Detail.Status != "NEW" || Model.hedgingFramework_Detail.Status != "COPY")
        {
            @:showunit = $('#hedgingFramework_Detail_DetailData_0__PriceUnit').val();
            @:for (var row = 0; row <= list; row++){
                @:var ans = $("#hedgingFramework_Detail_DetailData_" + row + "__Type").val();
                @:if (ans == "PRICE")
                @:{
                    @:$('#hedgingFramework_Detail_DetailData_' + row + '__Volume').prop('readonly', true);
                    @:$('#hedgingFramework_Detail_DetailData_' + row + '__VolumeUnit').prop('disabled', true);
                    @:$('#hedgingFramework_Detail_DetailData_' + row + '__Volume').val("");
                    @:$('#hedgingFramework_Detail_DetailData_' + row + '__VolumeUnit').val("");
                @:}
            @:}
        }
    });

    function savedraft(){
        var FocusCtrl = "";
        if ($.trim($("#hedgingFramework_Detail_ActiveDate").val()) == "") {
            addValidMessageError($('.hedg_acdate'), "Please input Value.");
            if (FocusCtrl == "") FocusCtrl = '#hedgingFramework_Detail_ActiveDate';
        }
        if ($.trim($("#hedgingFramework_Detail_Underlying").val()) == "") {
            addValidMessageError($('.ddl_under'), "Please input Value.");
            if (FocusCtrl == "") FocusCtrl = '#hedgingFramework_Detail_Underlying';
        }
        if (FocusCtrl != "")
        {
            $(FocusCtrl).focus();
            return false;
        }
        else{
            $("#btnSaveDraft").click();
        }
    }

    function checktype(row,e){
        var ans = $("#hedgingFramework_Detail_DetailData_"+ row +"__Type").val();
        if(ans == "VOLUME"){
            $(e).prop('type', 'text');
            var value = $(e).val();
            $(e).val(value+"%");
        }
        else{
            $(e).prop('type', 'number');
        }
    }

    function test(){
        debugger;
        if(!validatebeforesave()){
            return false;
        }
        else{
            $("#btnSubmit").click();
        }
    }

    function validatecancel(){
        var FocusCtrl = "";
        if ($.trim($("#@Html.IdFor(model => model.hedgingFramework_Detail.CancelReamark)").val()) == "") {
            addValidMessageError($('.tac_mark'), "Please input Value.");
            if (FocusCtrl == "") FocusCtrl = '#@Html.IdFor(model => model.hedgingFramework_Detail.CancelReamark)';
        }
        if (FocusCtrl != "")
        {
            $(FocusCtrl).focus();
            return false;
        }
        else{
            $("#btnCancel").click();
        }
    }

    function validatebeforesave() {
        $(".request").removeClass("input-error");
        var FocusCtrl = "";
        var i = 0;
        $(".request").each(function () {
            if ($.trim($(this).val()) == "") {
                i++;
                addValidMessageError($("#" + $(this).attr("id")), "Please input Value.");
                if (FocusCtrl == "") FocusCtrl = $("#" + $(this).attr("id"));
            }
        });
        for(var j = 1;j <= list;j++){
            if($('#hedgingFramework_Detail_DetailData_'+ j +'__Type').val() == "VOLUME"){
                if($('#hedgingFramework_Detail_DetailData_'+ j +'__Volume').val() == ""){
                    i++;
                    addValidMessageError($('#hedgingFramework_Detail_DetailData_'+ j +'__Volume'), "Please input Value.");
                    if (FocusCtrl == "") FocusCtrl = $('#hedgingFramework_Detail_DetailData_'+ j +'__Volume');
                }
                if($('#hedgingFramework_Detail_DetailData_'+ j +'__VolumeUnit').val() == ""){
                    i++;
                    addValidMessageError($('#hedgingFramework_Detail_DetailData_'+ j +'__VolumeUnit'), "Please input Value.");
                    if (FocusCtrl == "") FocusCtrl = $('#hedgingFramework_Detail_DetailData_'+ j +'__VolumeUnit');
                }
            }
        }
        if (FocusCtrl != "") $(FocusCtrl).focus();
        if (i > 0) return false;
        return true;
    }

    function selectunderlying(){
        var unit = $("#hedgingFramework_Detail_Underlying option:selected").val();
        var singunit = unit.split("|");
        showunit = singunit[1];
        hideunit = singunit[2];
        $('#labelunit').text("("+showunit+")");
        for(var i = 0 ; i <= list ; i++){
            var ans = $("#hedgingFramework_Detail_DetailData_"+ i +"__Type").val();
            $('#hedgingFramework_Detail_DetailData_'+ i +'__PriceUnit').val(singunit[1]);
            if(ans == "VOLUME"){
                $('#hedgingFramework_Detail_DetailData_'+ i +'__VolumeUnit').val(singunit[2]);
            }
        }
    }

    function updateSub(row,e){
        var value = $('#hedgingFramework_Detail_DetailData_'+row+'__HedgeType option:selected').val();
        $('#hedgingFramework_Detail_DetailData_'+(row+1)+'__HedgeType').val(value);
    }

    function delList(row) {
        $("#DBList_Head_" + row).remove();
        $("#DBList_Sub_" + (row+1)).remove();
        updateIndex();
    }

    function updateIndex() {
        var i = 0;
        $('#DBList tr').each(function() {
            var newObject = $(this);
            newObject.find('input[name$=".Order"]').attr('name', 'hedgingFramework_Detail.DetailData[' + i + '].Order');
            newObject.find('select[name$=".HedgeType"]').attr('name', 'hedgingFramework_Detail.DetailData[' + i + '].HedgeType')
            newObject.find('select[name$=".HedgeType"]').attr('id', 'hedgingFramework_Detail_DetailData_'+ i + '__HedgeType')
            newObject.find('select[name$=".HedgeType"]').attr('onchange', 'updateSub('+i+')')
            newObject.find('input[name$=".Type"]').attr('name', 'hedgingFramework_Detail.DetailData[' + i + '].Type')
            newObject.find('input[name$=".ValueType"]').attr('name', 'hedgingFramework_Detail.DetailData[' + i + '].ValueType')
            newObject.find('input[name$=".Title"]').attr('name', 'hedgingFramework_Detail.DetailData[' + i + '].Title');
            newObject.find('input[name$=".Title"]').attr('id', 'hedgingFramework_Detail_DetailData_' + i + '__Title');
            newObject.find('select[name$=".VolumeUnit"]').attr('name', 'hedgingFramework_Detail.DetailData[' + i + '].VolumeUnit')
            newObject.find('input[name$=".Volume"]').attr('name', 'hedgingFramework_Detail.DetailData[' + i + '].Volume');
            newObject.find('input[name$=".Volume"]').attr('id', 'hedgingFramework_Detail_DetailData_' + i + '__Volume');
            newObject.find('input[name$=".Price1"]').attr('name', 'hedgingFramework_Detail.DetailData[' + i + '].Price1');
            newObject.find('input[name$=".Price1"]').attr('id', 'hedgingFramework_Detail_DetailData_' + i + '__Price1');
            newObject.find('input[name$=".Price2"]').attr('name', 'hedgingFramework_Detail.DetailData[' + i + '].Price2');
            newObject.find('input[name$=".Price3"]').attr('name', 'hedgingFramework_Detail.DetailData[' + i + '].Price3');
            newObject.find('input[name$=".Price1Remark"]').attr('name', 'hedgingFramework_Detail.DetailData[' + i + '].Price1Remark');
            newObject.find('input[name$=".Price2Remark"]').attr('name', 'hedgingFramework_Detail.DetailData[' + i + '].Price2Remark');
            newObject.find('input[name$=".Price3Remark"]').attr('name', 'hedgingFramework_Detail.DetailData[' + i + '].Price3Remark');
            newObject.find('input[name$=".Order"]').attr('name', 'hedgingFramework_Detail.DetailData[' + i + '].Order');
            newObject.find('input[name$=".Order"]').attr('id', 'hedgingFramework_Detail_DetailData_' + i + '__Order');
            $('#hedgingFramework_Detail_DetailData_'+i+'__Order').val(i+1);
            i++;
        });
    }

    function AddHeadList() {
        var index = list++;
        var unit = $('#labelunit').text();
        var newObject = "";
        newObject += '<td><input id="hedgingFramework_Detail_DetailData_'+index+'__Order" name="hedgingFramework_Detail.DetailData['+index+'].Order" type="hidden" value="'+ (index+1) +'">';
        newObject += '<input id="hedgingFramework_Detail_DetailData_'+index+'__ValueType" name="hedgingFramework_Detail.DetailData['+index+'].ValueType" type="hidden" value="FIX">';
        newObject += '<select class="form-control" id="hedgingFramework_Detail_DetailData_'+index+'__HedgeType" name="hedgingFramework_Detail.DetailData['+index+'].HedgeType" onchange="updateSub('+index+')">'+
        @foreach (var option in Model.ddlHegingType)
        {
            @:'<option value="@option.Value">@option.Text</option>' +
        }
        '</select></td>';
        newObject += '<td><input class="form-control" id="hedgingFramework_Detail_DetailData_'+index+'__Type" name="hedgingFramework_Detail.DetailData['+index+'].Type" readonly="true" type="text" value="VOLUME"></td>';
        newObject += '<td><input class="form-control request" id="hedgingFramework_Detail_DetailData_'+index+'__Title" name="hedgingFramework_Detail.DetailData['+index+'].Title" type="text"></td>';
        newObject += '<td>';
        newObject += '<input class="form-control request" id="hedgingFramework_Detail_DetailData_'+index+'__Volume" name="hedgingFramework_Detail.DetailData['+index+'].Volume" type="number">';
        newObject += '<select class="col-sm-1 form-control ddl_volumeunit" id="hedgingFramework_Detail_DetailData_'+index+'__VolumeUnit" name="hedgingFramework_Detail.DetailData['+index+'].VolumeUnit">'+
        @foreach (var option in Model.ddlVolumeUnit)
        {
            @:'<option value="@option.Value">@option.Text</option>' +
        }
        '</select></td>';
        newObject += '<td>';
        newObject += '<label class="control-label">Year</label><br>';
        newObject += '<label class="control-label">Remark</label>';
        newObject += '</td>';
        newObject += '<td>';
        newObject += '<input class="form-control request" id="hedgingFramework_Detail_DetailData_'+index+'__Price1" name="hedgingFramework_Detail.DetailData['+index+'].Price1" type="number" onchange="checktype('+index+',this);">';
        newObject += '<input class="form-control" id="hedgingFramework_Detail_DetailData_'+index+'__Price1Remark" name="hedgingFramework_Detail.DetailData['+index+'].Price1Remark" type="text">';
        newObject += '<input id="hedgingFramework_Detail_DetailData_'+index+'__PriceUnit" name="hedgingFramework_Detail.DetailData['+index+'].PriceUnit" type="hidden" value="'+showunit+'">';
        newObject += '</td>';
        newObject += '<td>';
        newObject += '<input class="form-control" id="hedgingFramework_Detail_DetailData_'+index+'__Price2" name="hedgingFramework_Detail.DetailData['+index+'].Price2" type="number" onchange="checktype('+index+',this);">';
        newObject += '<input class="form-control" id="hedgingFramework_Detail_DetailData_'+index+'__Price2Remark" name="hedgingFramework_Detail.DetailData['+index+'].Price2Remark" type="text">';
        newObject += '</td>';
        newObject += '<td>';
        newObject += '<input class="form-control" id="hedgingFramework_Detail_DetailData_'+index+'__Price3" name="hedgingFramework_Detail.DetailData['+index+'].Price3" type="number" onchange="checktype('+index+',this);">';
        newObject += '<input class="form-control" id="hedgingFramework_Detail_DetailData_'+index+'__Price3Remark" name="hedgingFramework_Detail.DetailData['+index+'].Price3Remark" type="text">';
        newObject += '</td>';
        if (index != 0) {
            newObject += '<td><input type="image" src="../../Web/Images/icon-delete.gif" onclick="delList(' + index + '); return false;"></td>';
        } else {
            newObject += '<td></td>';
        }
        $("#DBList").append("<tr id='DBList_Head_" + index + "' class='DataList'>" + newObject + "</tr>");
        $("#hedgingFramework_Detail_DetailData_"+(index+1)+"__VolumeUnit").val(hideunit);
        AddSubList(++index);
        updateIndex();
    }

    function AddSubList(index){
        list++;
        newObject = "";
        newObject += '<td><input id="hedgingFramework_Detail_DetailData_'+index+'__Order" name="hedgingFramework_Detail.DetailData['+index+'].Order" type="hidden" value="'+ (index+1) +'">';
        newObject += '<input id="hedgingFramework_Detail_DetailData_'+index+'__ValueType" name="hedgingFramework_Detail.DetailData['+index+'].ValueType" type="hidden" value="FIX">';
        newObject += '<input id="hedgingFramework_Detail_DetailData_'+index+'__HedgeType" name="hedgingFramework_Detail.DetailData['+index+'].HedgeType" type="hidden" value="@Model.ddlHegingType[0].Value"></td>';
        newObject += '<td><input class="form-control" id="hedgingFramework_Detail_DetailData_'+index+'__Type" name="hedgingFramework_Detail.DetailData['+index+'].Type" readonly="true" type="text" value="PRICE"></td>';
        newObject += '<td><input class="form-control request" id="hedgingFramework_Detail_DetailData_'+index+'__Title" name="hedgingFramework_Detail.DetailData['+index+'].Title" type="text"></td>';
        newObject += '<td>';
        newObject += '<input class="form-control" id="hedgingFramework_Detail_DetailData_'+index+'__Volume" name="hedgingFramework_Detail.DetailData['+index+'].Volume" type="number" readonly>';
        newObject += '<select class="col-sm-1 form-control" id="hedgingFramework_Detail_DetailData_'+index+'__VolumeUnit" name="hedgingFramework_Detail.DetailData['+index+'].VolumeUnit" disabled>'+
        @foreach (var option in Model.ddlVolumeUnit)
        {
            @:'<option value="@option.Value">@option.Text</option>' +
        }
        '</select></td>';
        newObject += '<td>';
        newObject += '<label class="control-label">Year</label><br>';
        newObject += '<label class="control-label">Remark</label>';
        newObject += '</td>';
        newObject += '<td>';
        newObject += '<input class="form-control request" id="hedgingFramework_Detail_DetailData_'+index+'__Price1" name="hedgingFramework_Detail.DetailData['+index+'].Price1" type="number" onchange="checktype('+index+',this);">';
        newObject += '<input class="form-control" id="hedgingFramework_Detail_DetailData_'+index+'__Price1Remark" name="hedgingFramework_Detail.DetailData['+index+'].Price1Remark" type="text">';
        newObject += '<input id="hedgingFramework_Detail_DetailData_'+index+'__PriceUnit" name="hedgingFramework_Detail.DetailData['+index+'].PriceUnit" type="hidden" value="'+showunit+'">';
        newObject += '</td>';
        newObject += '<td>';
        newObject += '<input class="form-control" id="hedgingFramework_Detail_DetailData_'+index+'__Price2" name="hedgingFramework_Detail.DetailData['+index+'].Price2" type="number" onchange="checktype('+index+',this);">';
        newObject += '<input class="form-control" id="hedgingFramework_Detail_DetailData_'+index+'__Price2Remark" name="hedgingFramework_Detail.DetailData['+index+'].Price2Remark" type="text">';
        newObject += '</td>';
        newObject += '<td>';
        newObject += '<input class="form-control" id="hedgingFramework_Detail_DetailData_'+index+'__Price3" name="hedgingFramework_Detail.DetailData['+index+'].Price3" type="number" onchange="checktype('+index+',this);">';
        newObject += '<input class="form-control" id="hedgingFramework_Detail_DetailData_'+index+'__Price3Remark" name="hedgingFramework_Detail.DetailData['+index+'].Price3Remark" type="text">';
        newObject += '</td>';
        newObject += '<td></td>';
        $("#DBList").append("<tr id='DBList_Sub_" + index + "' class='DataList'>" + newObject + "</tr>");
        $('#hedgingFramework_Detail_DetailData_'+ index +'__VolumeUnit').val("");
    }
</script>
