﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.CrudeImportPlanViewModel
@{
    string actionName = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString().ToUpper();
    ViewBag.Title = "Search";

    var sType = "Crude";
    var page_title = "";

    if (Session["menu_action"] != null)
    {
        sType = "Crude";

        var menu_action = Session["menu_action"].ToString();
        if (menu_action.ToString() == "all")
        {
            sType = "Product/Component";
        }


    }

    page_title = "Search " + sType + " Import Plan";

}

<style>
    .dateRangePicker {
        z-index: 1151 !important;
    }

    .datepicker {
        z-index: 1151 !important;
    }

    .fixH45 {
        height: 45px;
        vertical-align: middle;
    }

    .nonSpace {
        margin-left: 0px;
        padding-left: 0px;
        margin-right: 0px;
        padding-right: 0px;
    }

    .nonSpaceRight {
        margin-right: 0px;
        padding-right: 0px;
    }

    div.container {
        padding: 5px 15px;
        margin: 10px auto;
        margin-top: 0px;
    }



    /*container body-content*/
    .ft_container table tr th {
        background-color: #fff;
        vertical-align: middle;
        border: none;
        font-family: 'HelvethaicaMonX-65Med';
        text-align: center;
        border-radius: 5px;
        border: 1px solid #CCCCCC;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
        font-size: 20px;
        position: relative;
    }

    .ui-autocomplete {
        max-height: 200px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
        z-index: 9999999;
        font-size: 9pt;
    }

    .numberOnly {
        text-align: right;
    }
</style>






<div class="page-header">
    <h1>@page_title</h1>
</div>

@using (Html.BeginForm("Search", "CrudeImportPlan", FormMethod.Post, new { @class = "form-horizontal" }))
{
    if (Session["menu_action"] == null)
    {

    }
    else if (Session["menu_action"].ToString() == "book")
    {
        <div class="row">

            <div class="form-group col-xs-6">
                <label class="control-label col-sm-4">Arraival Month From:</label>
                <div class="col-sm-8 clearfix">
                    @Html.TextBoxFor(model => model.crude_Search.sCrudeName, htmlAttributes: new { @class = "form-control", @onfocus = "getAutoCompleteJSON('txt_sCrudeName')", @placeholder = "All...", @autocomplete = "off", @id = "txt_sCrudeName" })
                    @Html.HiddenFor(model => model.json_Crude, htmlAttributes: new { @id = "hid_sCrudeName" })
                    @Html.HiddenFor(model => model.json_CrudeAuto, htmlAttributes: new { @id = "hid_sCrudeNameAuto" })

                </div>

            </div>
            <div class="form-group col-xs-6">
                <label class="control-label col-sm-4">To: </label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.crude_Search.sSupplier, htmlAttributes: new { @class = "form-control", @onfocus = "getAutoCompleteJSON('txt_sSupplier')", @placeholder = "All...", @autocomplete = "off", @id = "txt_sSupplier" })
                    @Html.HiddenFor(model => model.json_Supplier, htmlAttributes: new { @id = "hid_sSupplier" })
                    @Html.HiddenFor(model => model.json_SupplierAuto, htmlAttributes: new { @id = "hid_sSupplierAuto" })

                </div>
            </div>

        </div>
    }
    else
    {
        <div class="row">

            <div class="form-group col-xs-6">
                <label class="control-label col-sm-4">@sType :</label>
                <div class="col-sm-8 clearfix">
                    @Html.TextBoxFor(model => model.crude_Search.sCrudeName, htmlAttributes: new { @class = "form-control", @onfocus = "getAutoCompleteJSON('txt_sCrudeName')", @placeholder = "All...", @autocomplete = "off", @id = "txt_sCrudeName", @style = "background: url(../../content/images/bg/bg-select.png) no-repeat 98% 10px; background-color: white;" })
                    @Html.HiddenFor(model => model.json_Crude, htmlAttributes: new { @id = "hid_sCrudeName" })
                    @Html.HiddenFor(model => model.json_CrudeAuto, htmlAttributes: new { @id = "hid_sCrudeNameAuto" })

                </div>

            </div>
            <div class="form-group col-xs-6">
                <label class="control-label col-sm-4">Supplier: </label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.crude_Search.sSupplier, htmlAttributes: new { @class = "form-control", @onfocus = "getAutoCompleteJSON('txt_sSupplier')", @placeholder = "All...", @autocomplete = "off", @id = "txt_sSupplier", @style = "background: url(../../content/images/bg/bg-select.png) no-repeat 98% 10px; background-color: white;" })
                    @Html.HiddenFor(model => model.json_Supplier, htmlAttributes: new { @id = "hid_sSupplier" })
                    @Html.HiddenFor(model => model.json_SupplierAuto, htmlAttributes: new { @id = "hid_sSupplierAuto" })

                </div>
            </div>
            <div class="form-group col-xs-6">
                <label class="control-label col-sm-4 ">Incoterms: </label>
                <div class="col-sm-8 clearfix">
                    @Html.TextBoxFor(model => model.crude_Search.sIncoterm, htmlAttributes: new { @class = "form-control", @onfocus = "getAutoCompleteJSON('txt_sIncoterm')", @placeholder = "All...", @autocomplete = "off", @id = "txt_sIncoterm", @style = "background: url(../../content/images/bg/bg-select.png) no-repeat 98% 10px; background-color: white;" })
                    @Html.HiddenFor(model => model.json_Incoterm, htmlAttributes: new { @id = "hid_sIncoterm" })
                </div>
            </div>
            <div class="form-group col-xs-6">
                <label class="control-label col-sm-4 ">Exported: </label>
                <div class="col-sm-8 clearfix">
                    @Html.DropDownListFor(model => model.crude_Search.sExportSTS, new SelectList(Model.ddl_BLStatus, "Value", "Text", Model.crude_Search.sExportSTS), new { @class = "form-control", @keyname = "ddlTripStatus", @id = "ddlTripStatus" })
                    @*@Html.CheckBoxFor(model => model.crude_Search.sExportSTS, htmlAttributes: new { @id = "chkExpSTS", @keyname = "chkExpSTS" })*@
                </div>
            </div>
        </div>
    }


    <div class="form-group">

        <div class="col-md-12">
            <div class="col-md-4 pull-left">
                @if (Session["menu_action"] == null)
                {

                }
                else if (Session["menu_action"].ToString() == "plan")
                {
                    @Html.ActionLink("Add", "Create_plan", new { controller = "CrudeImportPlan" }, new { @class = "btn btn-success" })
                }
                else if (Session["menu_action"].ToString() == "book")
                {
                    //@Html.ActionLink("Add", "Create_book", new { controller = "CrudeImportPlan" }, new { @class = "btn btn-success" })
                }
                else if (Session["menu_action"].ToString() == "all")
                {
                    @Html.ActionLink("Add", "Create_all", new { controller = "CrudeImportPlan" }, new { @class = "btn btn-success" })
                }

            </div>
            <div class="col-md-4 text-center">
                @*@if (ViewBag.action_search)
                    {*@
                <button type="submit" class="btn btn-primary">Search</button>
                @*}*@
            </div>
            <div class="col-md-4 text-right">
                @*@Html.ActionLink("Select", "Create", new { controller = "CrudeImportPlan" }, new { @class = "btn btn-info" })*@
                <button type="button" class="btn btn-info" onclick="selectClick()">Select</button>
            </div>
        </div>

    </div>
}

<div class="page-header">
    <h1>Search Result</h1>
</div>
<div>
    <table id="searchResultTable" class="table " cellspacing="0" style="width:2000px; font-size:13pt">
        <thead>
            <tr>
                <td style="width:0px"></td>
                <td><input type="checkbox" id="chkall" name="chkall" onchange="chkItemAll_CheckChange(this)" /></td>
                <th>Arraival Month</th>
                <th>Trip No.</th>
                <th>Vessel</th>
                <th>@sType</th>
                <th>Supplier</th>
                <th>Formula Pirce</th>
                <th>Incoterm</th>
                <th>QTY KBBL</th>
                <th>QTY KT</th>
                <th>Tolerance (+/-,%)</th>
                <th>LoadPort</th>
                <th>Loading Date</th>
                <th>Discharge LayCan</th>
                <th>Actual ETA</th>
                <th>GT&C</th>
                <th>ArraivalDate</th>
                @*<th>ACTION</th>*@
            </tr>
        </thead>
        <tbody>
            @if (Model.crude_Search == null)
            {

                <tr class="waiting">
                    <td colspan="11">Waiting for search</td>
                </tr>

            }
            else
            {
                if (Model.crude_Search.sSearchData != null && Model.crude_Search.sSearchData.Count > 0)
                {
                    foreach (var v in Model.crude_Search.sSearchData)
                    {
                        <tr>
                            <td style="width:0px"></td>
                            <td>
                                @if (ViewBag.tempTrip == v.h_TripNo)
                                {
                                    <input type="checkbox" style="display:none" id="chkitem" name="chkitem" />
                                }
                                else
                                {
                                    ViewBag.tempTrip = v.h_TripNo;
                                    <input type="checkbox" id="chkitem" name="chkitem" />
                                }

                            <td>
                                @v.h_ArraivalDate<br />
                                @if (string.IsNullOrEmpty(v.ExportStatus))
                                {
                                    <label style="color:blue"></label>
                                }
                                else
                                {
                                    <label style="color:blue">Exported</label>
                                }
                            </td>
                            <td><label keyname="tripno">@v.h_TripNo</label></td>
                            <td>@v.h_Vessel</td>
                            <td>@v.h_CrudeName</td>
                            <td>@v.h_Supplier</td>
                            <td>@v.h_FormulaPirce</td>
                            <td>@v.h_Incoterm</td>
                            <td>@v.h_QTY_Kbbl</td>
                            <td>@v.h_QTY_KT</td>

                            <td>@v.h_Tolerance</td>
                            <td>@v.h_LoadPort</td>
                            <td>@v.h_LodingDate</td>
                            <td>@v.h_DischargeLayCanDate</td>
                            <td>@v.h_Actual_ETA</td>
                            <td>@v.h_GT_C</td>
                            <td>@v.h_ArraivalDateNum</td>
                        </tr>
                    }
                }
            }

            
        </tbody>
    </table>


    @*<br />
    <br />
    <table id="tblCustomers" class="table table-hover display" style="width:1000px">
        <thead>
            <tr>
                <th width="150px" style="font-size:12pt" keyname="OC_Crude">xxx</th>
                <th width="150px" style="font-size:12pt" keyname="OC_Supplier">Supplier</th>
                <th width="80px" style="font-size:12pt" keyname="OC_Incoterm">Incoterms</th>
                <th width="120px" style="font-size:12pt" keyname="OC_QTYBBL">Net QTY (BBL)</th>
                <th width="120px" style="font-size:12pt" keyname="OC_QTYMT">Net QTY (MT)</th>
                <th width="120px" style="font-size:12pt" keyname="OC_QTYML">Net QTY (ML)</th>
                <th width="120px" style="font-size:12pt" keyname="OC_GQTYBBL">Gross QTY (BBL)</th>
                <th width="120px" style="font-size:12pt" keyname="OC_GQTYMT">Gross QTY (MT)</th>
                <th width="120px" style="font-size:12pt" keyname="OC_GQTYML">Gross QTY (ML)</th>
                <th width="130px" style="font-size:12pt" keyname="OC_BLDate">BL Date</th>
                <th width="180px" style="font-size:12pt" keyname="OC_InsurRate">Insurance Rate</th>
                <th width="120px" style="font-size:12pt" keyname="OC_Price">Customs Price(USD)</th>
                <th width="120px" style="font-size:12pt" keyname="OC_UnitPrice">Unit</th>
                <th width="120px" style="font-size:12pt" keyname="OC_AmountFreight">Freight Amount (USD)</th>
                <th width="120px" style="font-size:12pt" keyname="OC_AmountInsurance">Insurance Amount (USD)</th>
            </tr>
        </thead>
        <tbody>
            <tr>

            </tr>
        </tbody>
    </table>
    <br /><br /><br />*@
</div>
<script>
    function setPage() {
        var obj = window.parent.document.getElementById('ContentPlaceHolder1_iFrameDir');
        if (obj != null) {
            $(obj).attr('scrolling', 'yes');
        }
    }

    function selectClick() {
        var sTrip = "";
        $('#searchResultTable tr').each(function (i, v) {
            var chkitem = $(this).find("input[id*='chkitem']");

            if (chkitem.is(":checked")) {
                if (sTrip != "")
                    sTrip += ",";

                sTrip += $(this).find("label[keyname='tripno']").html();
            }

        });


        debugger;

        if (sTrip == "") {
            alert("Please select data !");
            return;
        }

        var obj = window.parent.document.getElementById('ContentPlaceHolder1_iFrameDir');
        if (obj != null) {
            var url = $(location).attr('href');
            url = url.replace('/Search', '/Create?t=' + sTrip);
            obj.src = url;
        } else {
            window.location = '/CPAIMVC/CrudeImportPlan/Create?t=' + sTrip;
        }

    }

    function getAutoCompleteJSON(ctrlID) {

        var dataTemp = "";
        if (ctrlID == "txt_sCrudeName" || ctrlID == "surveyorCrude") {
            dataTemp = $("#hid_sCrudeNameAuto").val();
        }
        else if (ctrlID == "txt_sSupplier") {
            dataTemp = $("#hid_sSupplierAuto").val();
        }
        else if (ctrlID == "txt_sIncoterm") {
            dataTemp = $("#hid_sIncoterm").val();
        }
        else if (ctrlID == "surveyorVessel") {
            dataTemp = $("#hid_sIncoterm").val();
        }
        else if (ctrlID == "") {
            dataTemp = '[{"value":"Test"}]';
        }

        var availableData = JSON.parse(dataTemp);

        //alert(availableData.length);

        //alert($(".companyCodeJsonData").val());
        $("#" + ctrlID).autocomplete({

            source: function (request, response) {

                var results = $.ui.autocomplete.filter(availableData, request.term);
                response(results.slice(0, 10));

            },
            minLength: 0,
        }).click(function () {
            $(this).autocomplete("search");
        });
    }


    function chkItemAll_CheckChange(objChkAll) {
        var sts = false;
        if ($('#chkall:checked').length == 1)
            sts = true;

        var countrow = $('#searchResultTable tr').length;
        $('#searchResultTable tr').each(function (i, v) {
            if (i > 0) {
                $(this).closest('tr').find('input:checkbox').each(function (a, b) {
                    var objname = $(this).attr('name');
                    if (objname == "chkitem") {
                        $(this).prop('checked', sts);
                    }
                });
            }

        });
    }

    var _objSetPage = null;

    $(document).ready(function () {
        $('#searchResultTable').DataTable({
            "columnDefs": [
                {
                    "targets": [0], "visible": false,
                    "orderable": false
                },
                {
                    "targets": [17], "visible": false,
                },
                {
                    "targets": [2],
                    orderData: [17]
                }
            ]
        });

        $('#searchResultTable').width(2300);

        setPage();
        //_objSetPage = setTimeout(setPage, 1000);


        setTextDDL();

        setReBody();

        setTableCustom();
    });

    function setTableCustom() {
        try {
            //$('#tblCustomers').fxdHdrCol({
            //    fixedCols: 3,
            //    height: 450,
            //    width: 1700,
            //    colModal: [

            //       { width: 150, align: 'center' },
            //        , { width: 150, align: 'center' },
            //    , { width: 150, align: 'center' },

            //    ]
            //    , sort: false
            //});
            //$(function () {
            //    $('#tblCustomers').fxdHdrCol({
            //        fixedCols: 3,
            //        width: 1000,
            //        height: 250,
            //        colModal: [
            //          { width: 150, align: 'center' },
            //          { width: 150, align: 'center' },
            //          { width: 80, align: 'center' },
            //          { width: 120, align: 'center' },
            //          { width: 120, align: 'center' },
            //          { width: 120, align: 'center' },
            //          { width: 120, align: 'center' },
            //          { width: 120, align: 'center' },
            //          { width: 120, align: 'center' },
            //          { width: 130, align: 'center' },
            //          { width: 180, align: 'center' },
            //          { width: 120, align: 'center' },
            //          { width: 120, align: 'center' },
            //          { width: 120, align: 'center' },
            //          { width: 120, align: 'center' }

            //        ],
            //        sort: false
            //    });
            //})

        } catch (e) {
            alert("setTableCustom Error :" + e);
        }


    }

    function setTextDDL() {
        try {
            $("#ddlTripStatus option").each(function (i) {
                if ($(this).text() == 'select')
                    $(this).text('All');
            });

        } catch (e) { }
    }


</script>