﻿@using System.Web.UI.WebControls;
@model string
@{
    Layout = "~/Areas/CPAIMVC/Views/Shared/_PatialLayout.cshtml";
}
<style>
    body {
        height: 100vh;
    }
</style>
@{
    try
    {
        var fileCAM = Model;
        var fileName = ProjectCPAIEngine.Areas.CPAIMVC.Controllers.CoolController.GetFileNameByPath(fileCAM);
        var filePath = Path.Combine(AppDomain.CurrentDomain.BaseDirectory, "Web", "FileUpload", "COOL", fileName);

        @*var workbook = Telerik.Web.Spreadsheet.Workbook.Load(filePath);
            workbook.Sheets.First().ShowGridLines = false;

            @(Html.Kendo().Spreadsheet()
            .Name("spreadsheet")
            .HtmlAttributes(new { style = "width:100%;height:100vh;" })
            .Toolbar(false)
            .Sheetsbar(true)
            .BindTo(workbook));*@

        @Html.DevExpress().Spreadsheet(
        settings =>
        {
            settings.Name = "spreadsheet";
            settings.Width = Unit.Percentage(100);
            settings.Height = Unit.Percentage(100);
            settings.ActiveTabIndex = 1;
            settings.ShowConfirmOnLosingChanges = false;
            settings.RibbonMode = SpreadsheetRibbonMode.None;
            settings.ShowFormulaBar = false;
            settings.ShowSheetTabs = true;
            settings.ReadOnly = true;
            settings.FullscreenMode = true;
            settings.Init = (s, e) =>
            {
                MVCxSpreadsheet spreadsheet = (MVCxSpreadsheet)s;
                DevExpress.Web.Office.DocumentManager.CloseAllDocuments();
            };
            settings.PreRender = (s, e) =>
            {
                MVCxSpreadsheet spreadsheet = (MVCxSpreadsheet)s;
                spreadsheet.Document.LoadDocument(filePath);
                foreach (var Worksheet in spreadsheet.Document.Worksheets)
                {
                    Worksheet.ActiveView.Zoom = 100;
                    Worksheet.ActiveView.ShowGridlines = false;
                }
            };
        }).GetHtml()
    }
    catch (Exception ex)
    {
        var fileName = ProjectCPAIEngine.Areas.CPAIMVC.Controllers.CoolController.GetFileNameByPath(Model);
        var filePath = Path.Combine(AppDomain.CurrentDomain.BaseDirectory, "Web", "FileUpload", "CAM", fileName);

        @String.Format("Cannot load file '{0}' on path '{1}', See more details: {2}.", fileName, filePath, ex.Message)
    }
}

<script>
    $(function () {
        $(".k-spreadsheet-action-bar").remove();
    });
</script>