﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.CamTemplateViewModel
@{
    ViewBag.Title = "Search";
}

<form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
    @Html.HiddenFor(m => m.CamTemplate_Detail.CamCode, Model.CamTemplate_Detail.CamCode)
    <div class="page-header">
        <h1>CAM TEMPLATE</h1>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label class="col-md-2 control-label">CAM CODE :</label>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.CamTemplate_Search.sCamCode, htmlAttributes: new { @class = "form-control" })
                </div>

                <label class="col-md-2 control-label">VERSION :</label>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.CamTemplate_Search.sVersion, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="pull-left">
            @if (ViewBag.action_create)
            {
                @Html.ActionLink("Add", "Create", new { controller = "CamTemplate" }, new { @class = "btn btn-success" })
            }
        </div>
        <div class="pull-right">
            @if (ViewBag.action_search)
            {
                @*<button type="submit" class="btn btn-primary">Search</button>*@
                <button type="submit" id="btnSearch" class="btn btn-primary" name="action:SearchResult">Search</button>
                <button type="submit" id="btnDelete" style="display: none;" name="action:DeleteResult" />
            }
        </div>
    </div>
    <div class="page-header">
        <h1>Search Result</h1>
    </div>
    <table id="searchResultTable" class="table table-hover display" cellspacing="0">
        <thead>
            <tr>
                <th>CAM CODE</th>
                <th>VERSION</th>
                <th>REASON</th>
                <th>UPDATED DATE</th>
                <th>UPDATED BY</th>
                <th>ACTION</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.CamTemplate_Search == null)
            {

                <tr class="waiting">
                    <td colspan="7">Waiting for search</td>
                </tr>

            }
            else
            {
                if (Model.CamTemplate_Search.sSearchData.Count > 0)
                {
                    foreach (var v in Model.CamTemplate_Search.sSearchData.OrderByDescending(x => x.dCamCode))
                    {
                        <tr>
                            <td>@v.dCamCode</td>
                            <td>@v.dVersion</td>
                            <td>@v.dReason</td>
                            <td>@v.dUpdatedDate</td>
                            <td>@v.dUpdatedBy</td>

                            <td width="150px">
                                @if (ViewBag.action_view)
                                {
                                    <a href="@Url.Action("ViewDetail", "CamTemplate", new { CamCode = @v.dCamCode })" title="View Detail">
                                        <img alt="Widget View" src="@Url.Content("../../Content/images/1480695949_file.png")">
                                    </a>
                                }
                                @if (ViewBag.action_edit)
                                {
                                    <a href="@Url.Action("Edit", "CamTemplate", new { CamCode = @v.dCamCode })" title="Edit">
                                        <img alt="Widget View" src="@Url.Content("../../Content/images/1480695860_edit.png")">
                                    </a>
                                    <a title="Delete" style="cursor: pointer;">
                                        <img class="clickable-delete" data-href="@v.dCamCode" alt="Widget View" src="@Url.Content("../../Content/images/Delete-file-icon.png")">
                                    </a>
                                }
                            </td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
    @if (TempData["ReponseMessage"] != null)
    {
        <script type="text/javascript">
            OpenBoxPopup(@Html.Raw(Json.Encode(TempData["ReponseMessage"])));
        </script>
    }
</form>
<script>
    // CANCEL ACTION //
    $(".clickable-delete").click(function () {
        var data = $(this).data("href");
        if (data.length > 0) {
            var CamCode = data;
            $("#CamTemplate_Detail_CamCode").val(CamCode);
        }

        bootbox.confirm({
            message: "Are you sure to delete?",
            buttons: {
                confirm: {
                    label: 'Yes',
                },
                cancel: {
                    label: 'No',
                }
            },
            callback: function (result) {
                if (result) {
                    $("#btnDelete").click();
                    LoadingProcess();
                }
            }
        });
    });

    $(document).ready(function () {
        var table = $('#searchResultTable').DataTable({
            "columnDefs": [
                //Disble sort on Action Colum
                {
                    "targets": [5],
                    "orderable": false
                }
            ]
        });

        table.order([[1, 'desc']]).draw();
    });
</script>
