﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.SchedulerCMCSViewModel
@{
    ViewBag.Title = "Activity";
    var count_index = Model.schs_activity_grid_model == null ? 0 : Model.schs_activity_grid_model.Count;

    string start_date = Request.QueryString["StartDate"];
    string end_date = Request.QueryString["EndDate"];
    string date_param_search = "";
    if (!string.IsNullOrEmpty(start_date) && !string.IsNullOrEmpty(end_date))
    {
        date_param_search = "&DateSearch=" + start_date + "_" + end_date;
    }
}

@section HeadStyle {

    <link href="~/Content/SchedulerCMCS/css/dhtmlxcalendar.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/SchedulerCMCS/css/dhtmlxscheduler.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/SchedulerCMCS/css/vessel-page.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/vessel-page.css" />

    <style>
        .color_box {
            float: right;
            width: 30px;
            height: 30px;
            margin: 2px;
            border: 1px solid rgba(0, 0, 0, .2);
            display: inline-block;
            border-radius: 10px 10px 10px 10px;
        }
        .main-content-area { padding-top: 30px !important; overflow: hidden; }
		.chart { overflow: auto; }
		#scheduler_here { height: 400px; margin-top: -60px; }
		.dhx_scheduler_timeline { width: 30445px; }
		.dhx_scheduler_mTimeline { width: 5000px; }
		.chart { margin-bottom: 20px; padding-left: 0px; }
		.dhx_cal_event_line { height: 47px !important; margin-top: 15px; }
		.dhx_matrix_cell, .dhx_matrix_scell { vertical-align: top; }
		.dhx_cal_navline { display: none; }
		.colorpickerplus { max-width: 202px; }
		.dhx_matrix_scell { padding-top: 30px; }

        /* ซ่อน text ใน event อันที่ 2 */
		.data-table tr:nth-child(1) .dhx_cal_event_line .text-activity { visibility: hidden; }
		.data-table tr:nth-child(1) .dhx_cal_event_line .btn-action { visibility: hidden; }
		.data-table tr:nth-child(1) .dhx_cal_event_line:first-child .text-activity { visibility: visible; }
		.data-table tr:nth-child(1) .dhx_cal_event_line:nth-child(8) .btn-action { visibility: visible; }
    </style>
   
}

@section HeadScript {
    <script type="text/javascript" src="~/Content/js/moment.js"></script>
    @*<script type="text/javascript" src="~/Content/SchedulerCMCS/js/dhtmlxcalendar.js"></script>*@
    <script type="text/javascript" src="~/Content/SchedulerCMCS/js/dhtmlxscheduler.js"></script>
    <script type="text/javascript" src="~/Content/SchedulerCMCS/js/dhtmlxscheduler_minical.js"></script>
    <script type="text/javascript" src="~/Content/SchedulerCMCS/js/dhtmlxscheduler_timeline.js"></script>
}

<script type="text/javascript" charset="utf-8">
    $(function () {
        var count_index = @count_index;
        if (count_index <= 0) {
            addActivity();
        }

        @if (Request.QueryString["DateSearch"] != null)
        {
            @:var start_date = '@Request.QueryString["DateSearch"].SplitWord("_")[0]';
            @:var end_date = '@Request.QueryString["DateSearch"].SplitWord("_")[1]';
            @:$("#btnBack").attr("onclick", "location.href='@Url.Action("Search", "SchedulerCMCS", new { Type = Convert.ToString(Session["Schedule_Type"]) })&StartDate="+start_date+"&EndDate="+end_date+"&MultiVesselID='");
        }
    });

    function init() {
        debugger;
        scheduler.config.multi_day = true;
        scheduler.config.readonly = true;
        scheduler.config.multisection = true;
        scheduler.config.xml_date = "%Y-%m-%d %H:%i";
        scheduler.locale.labels.timeline_tab = "Day";
        scheduler.locale.labels.mTimeline_tab = "Month";
        scheduler.config.select = true;

        // template bar in event & tooltip
        var format = scheduler.date.date_to_str("%d %M");
        var formattoopltip = scheduler.date.date_to_str("%H:%i %D, %j %F %Y");
        var count = 0;
        var activity = @Html.Raw(Json.Encode((Model.activity_info).Select(m => new { std = m.start_date, ste = m.end_date })));
        scheduler.templates.event_bar_text = function (sd, ed, ev) {
            count++;
            var html = "";
            var flag = false;
            if (ev.activity_info != null) {
                for (var i = 0; i < ev.activity_info.length; i++) {
                    var activity_info = ev.activity_info[i];
                    //html += "<div class='boxdetial " + activity_info.activity + "'><span class='box-color' style='background-color:" + activity_info.activity_color + ";'></span><span class='activity-name'>" + activity_info.activity + "</span><span class='totaltime'>" + activity_info.date + " (" + activity_info.activity_start + " - " + activity_info.activity_end + ")</span></div>";
                    if(activity[i].ste == null)
                    {
                        html += "<div class='boxdetial " + activity_info.activity + "'><span class='box-color' style='background-color:" + activity_info.activity_color + ";'></span><span class='activity-name'>" + activity_info.activity + "</span><span class='totaltime'>" + activity[i].std + "</span></div>";
                    }else{
                        html += "<div class='boxdetial " + activity_info.activity + "'><span class='box-color' style='background-color:" + activity_info.activity_color + ";'></span><span class='activity-name'>" + activity_info.activity + "</span><span class='totaltime'>" + activity[i].std + "-" + activity[i].ste + "</span></div>";
                    } 
                }
                flag = true;
            }

            var template;
            if (flag) {
                template = "<span class='eventtext'>" + ev.text + "</span><span class='textdate'>" + format(sd) + " - " + format(ed) +
                    "</span><div class='tooltipbox' id='" + ev.id + "tooltip'><div class='boxdetial'><span class='box-color' style='background-color:" + ev.color + ";'></span><span class='activity-name textbold'>" + ev.text + "</span><span class='totaltime textbold'>" + format(sd) + " - " + format(ed) + "</span></div>" + html + "</div>";
            } else {
                template = "<span class='eventtext'>" + ev.text + "</span><span class='textdate'>" + format(sd) + " - " + format(ed) + "</span><div class='tooltipbox' id='" + ev.id + "tooltip'><div class='boxdetial'><span class='box-color' style='background-color:" + ev.color + ";'></span><span class='activity-name textbold'>" + ev.text + "</span><span class='totaltime textbold'>" + format(sd) + " - " + format(ed) + "</span></div></div>";
            }

            return template;
        }

        //var sections = [
     	//	{ key: 1, label: "Phubai Pattra 2 (8,720.43 m3)" }
        //];

        var sections = JSON.parse('@Html.Raw(Model.schs_cmsc_trans_vessel_json)');
        // timeline config
        scheduler.attachEvent("onTemplatesReady", function () {
            scheduler.xy.scale_height = 25;
        });

        scheduler.createTimelineView({
            name: "timeline",
            x_unit: "minute",
            x_date: "%H:%i",
            x_step: 60,
            x_size: 720, //โชว์จำนวนชั่วโมงในรายวัน
            x_start: 0,
            event_dy: 'full',
            y_unit: sections,
            y_property: "section_id",
            render: "bar",
            second_scale: {
                x_unit: "day",
                x_date: "Day %j"
            }
        });

        var monthtimeline = "mTimeline";
        scheduler.createTimelineView({
            name: monthtimeline,
            x_unit: "day",
            x_date: "%j",
            x_step: 1,
            x_size: 31,
            event_dy: 'full',
            y_unit: sections,
            y_property: "section_id",
            render: "bar",
            second_scale: {
                x_unit: "month",
                x_date: "%m / %Y"
            }
        });

        var ev_id;
        scheduler.attachEvent("onClick", function (id, e) {
            ev_id = id;
            return true;
        });

        //โชว์จำนวนวันในรายเดือน
        scheduler.attachEvent("onBeforeViewChange", function (old_mode, old_date, mode, date) {
            var year = date.getFullYear();
            var month = (date.getMonth() + 1);
            var d = new Date(year, month, 0);
            scheduler.matrix[monthtimeline].x_size = d.getDate() * 4 + 2;
            return true;
        });
        scheduler.date['add_' + monthtimeline] = function (date, step) {
            if (step > 0) {
                step = 1;
            } else if (step < 0) {
                step = -1;
            }
            return scheduler.date.add(date, step, "month")
        };
        scheduler.date[monthtimeline + '_start'] = scheduler.date.month_start;

        var data_test = [
			{
			    text: "Import MTBE from 1 or 2 ports SG to TOP Sriracha ... (ETA Sriracha)",
			    start_date: "2017-06-06 06:00",
			    end_date: "2017-06-10 00:00",
			    section_id: "1",
			    color: "#f5727a"
			}
        ];

        var date_schs = '@Model.schs_activitys_model.date'.split("/");
        scheduler.init('scheduler_here', new Date(parseInt(date_schs[2]), (parseInt(date_schs[1]) - 1), parseInt(date_schs[0])), "timeline");
        var data = JSON.parse('@Html.Raw(Model.schs_activitys_model.sch_activity_timeline_model_json)');
        debugger;
        console.log(data);
        scheduler.parse(data, "json");
    }

    function show(target) {
        if (document.getElementById(target).style.display == 'block') {
            document.getElementById(target).style.display = 'none';
        } else {
            document.getElementById(target).style.display = 'block';
        }
    }

    function OnScrollDiv(div) {
        var navline = document.getElementById("navline");
        var vesselname = document.getElementById("vesselname");
        var panel = document.getElementsByClassName("dhx_matrix_scell");
        for (var i = 0, len = panel.length; i < len; i++) {
            panel[i].style.left = +div.scrollLeft + "px";
        }
        navline.style.left = + div.scrollLeft + "px";
        vesselname.style.left = + div.scrollLeft + "px";
    }

    function addActivity() {
        var i = $("#table_tbody_activity > tr").length;
        var html = '<tr>';
        html += '<td>' + (i + 1) + ' <input id="schs_activity_grid_model_' + i + '__act_order" name="schs_activity_grid_model[' + i + '].act_order" type="hidden" value="' + (i + 1) + '"></td>';
        html += '<td><select class="form-control act_code" id="schs_activity_grid_model_' + i + '__act_code" name="schs_activity_grid_model[' + i + '].act_code" onchange="onActivityChanged(this,' + i + ')" style="float: left; width: 200px;">' +
                    @if(Model.vesselActivity != null)
	                {
	                    foreach (var v in Model.vesselActivity)
	                    {
	                        @:'<option value="@v.Value">@v.Text</option>' +
	                    }
	                }
	                '</select>' +
                    '<div id="activity_color_box_' + i + '" name="activity_color_box_' + i + '" class="color_box"></div>' +
                    '<input class="form-control act_color" id="schs_activity_grid_model_' + i + '__act_color" name="schs_activity_grid_model[' + i + '].act_color" type="hidden" >' +
                '</td>';
        html += '<td><select class="form-control" id="schs_activity_grid_model_' + i + '__act_portName" name="schs_activity_grid_model[' + i + '].act_portName" style="width: 130px;">' +
                @if (Model.portName != null)
                {
                    foreach (var v in Model.portName)
                    {
                        @:'<option value="@v.Value">@v.Text</option>' +
                    }
                }
                '</select>' +
                '</td>';
        html += '<td><input type="text" class="form-control input-date-picker act_date_start" id="schs_activity_grid_model_' + i + '__act_date_start" name="schs_activity_grid_model[' + i + '].act_date_start" placeholder="DD/MM/YYYY HH:mm" maxlength="24" style="width: 140px;"></td>'
        html += '<td><input type="text" class="form-control input-date-picker act_date_end" id="schs_activity_grid_model_' + i + '__act_date_end" name="schs_activity_grid_model[' + i + '].act_date_end" placeholder="DD/MM/YYYY HH:mm" maxlength="24" style="width: 140px;"></td>'
        //html += '<td><input type="text" class="form-control act_time" id="schs_activity_grid_model_' + i + '__act_time" name="schs_activity_grid_model[' + i + '].act_time" placeholder="HH:mm" maxlength="24"></td>'
        html += '<td><input type="text" class="form-control act_ref" id="schs_activity_grid_model_' + i + '__act_ref" name="schs_activity_grid_model[' + i + '].act_ref" placeholder="Reference" maxlength="24"></td>'
        html += '</tr>';

        $("#table_tbody_activity").append(html);
        $('#schs_activity_grid_model_' + i + '__act_date_start').dateRangePicker({
                singleDate: true,
            singleMonth: true,
            startOfWeek: 'monday',
            startDate: '@Model.schs_detail.date_start.SplitWord(" ")[0]',
            endDate: '@Model.schs_detail.date_end.SplitWord(" ")[0]',
            format: 'DD/MM/YYYY HH:mm',
            time: {
                    enabled: true
            }
                });
        $('#schs_activity_grid_model_' + i + '__act_date_end').dateRangePicker({
                singleDate: true,
            singleMonth: true,
            startOfWeek: 'monday',
            startDate: '@Model.schs_detail.date_start.SplitWord(" ")[0]',
            endDate: '@Model.schs_detail.date_end.SplitWord(" ")[0]',
            format: 'DD/MM/YYYY HH:mm',
            time: {
                    enabled: true
            }
                });

                //$('#schs_activity_grid_model_' + i + '__act_time').dateRangePicker({
                //    singleDate: true,
                //    singleMonth: true,
                //    singleTime: true,
                //    format: 'HH:mm',
                //    time: {
                //        enabled: true
                //    }
                //});
            }

    function delActivity() {
        if ($("#table_tbody_activity > tr").length > 1) {
            $("#table_tbody_activity > tr").last().remove();
        }
    }

    function onActivityChanged(e, row) {
        var selectedValue = $('option:selected', e).val();
        setControlActivity(selectedValue, row);
    }

    function setControlActivity(selectActitvityDDL, row) {
        var values = selectActitvityDDL.split('|');
        var act_status = values[0];
        var act_color = values[1];
        var act_ID = values[2];
        $('#activity_color_box_' + row).css('background-color', "");
        $('#sch_activitys_model_sch_activity_grid_model_' + row + '__act_color').val("");
        if (act_color != "") {
            $('#activity_color_box_' + row).css('background-color', act_color);
            $('#schs_activity_grid_model_' + row + '__act_color').val(act_color);
        }

        $('#schs_activity_grid_model_' + row + '__act_ref').val('');
        if (act_status == "Y") {
            //$('#sch_activitys_model_sch_activity_grid_model_' + row + '__act_ref_status').val('Y');
            $('#schs_activity_grid_model_' + row + '__act_ref').prop("readonly", false);
        } else {
            //$('#sch_activitys_model_sch_activity_grid_model_' + row + '__act_ref_status').val('N');
            $('#schs_activity_grid_model_' + row + '__act_ref').prop("readonly", true);
        }
    }

    window.onbeforeunload = function (evt) {
        var btnclick = false;
        if ($('#EventButton').val() == "0") {
            btnclick = true;
        }
        if (btnclick) {
            return "If you leave this page, your information will not be updated.";
        }

    }

    function OpenBoxBungerPrompt(MSG, Event) {
        if (Event.toUpperCase() == "EDIT ACTIVITY") {
            if (!ValidateBeforeSave(Event.toUpperCase()))
                return false;
        }

        $('#EventButton').val("1");
        $('form').attr('target', '_self');

        if (Event != "Submit") {
            if ($("#hdfEventClick").length != 0) {
                $("#hdfEventClick").val(Event);
            }
        }
        $('form').attr('target', '_self');
        if (Event == "Submit") {
            //$("#btnSubmit").click();
        } else {
            $("#btnMANUAL").click(); //alert("Save");
        }
        LoadingProcess();

    }

    function ValidateBeforeSave() {
        ReMoveValidateClass();
        var FocusCtrl = "";
        var i = 0;
        var arrActivity = [];
        var arrActivityDate = [];
        var startDate = "@Html.Raw(Model.schs_detail.date_start)";
        var endDate = "@Html.Raw(Model.schs_detail.date_end)";
        //.schs_detail.date_start

        // Activity Items
        if ($('#table_tbody_activity tr').length <= 0) {
            i++;
            if (FocusCtrl == "") FocusCtrl = '#table_tbody_activity tr';
            OpenBoxPopup('Please add Activity');
            return;
        } else {
            //act_code
            $(".act_code").each(function () {
                var value = $(this).val();
                debugger;
                if (value == "") {
                    i++;
                    addValidMessageError($("#" + $(this).attr("id")), "Please input Value.");
                    if (FocusCtrl == "") FocusCtrl = $("#" + $(this).attr("id"));
                } else {
                    arrActivity.push(value);
                }
            });

            var idx_date = 0;
            $(".act_date_start").each(function () {
                var value = $(this).val();
                if (value == "") {
                    i++;
                    addValidMessageError($("#" + $(this).attr("id")), "Please input Value.");
                    if (FocusCtrl == "") FocusCtrl = $("#" + $(this).attr("id"));
                } else {
                    //value = $(this).val() + " " + $("#schs_activity_grid_model_" + idx_date + "__act_time").val();
                    if(moment(value, 'DD/MM/YYYY HH:mm',true).isValid() == false) {
                        i++;
                        addValidMessageError($("#" + $(this).attr("id")), "Date format is incorrect.");
                        if (FocusCtrl == "") FocusCtrl = $("#" + $(this).attr("id"));
                    } else {
                        arrActivityDate.push(value);
                    }
                }
                idx_date++;
            });
            //$(".act_date_end").each(function () {
            //    debugger;
            //    var value = $(this).val();
            //    if (value == "") {
            //        i++;
            //        addValidMessageError($("#" + $(this).attr("id")), "Please input Value.");
            //        if (FocusCtrl == "") FocusCtrl = $("#" + $(this).attr("id"));
            //    } else {
            //        //value = $(this).val() + " " + $("#schs_activity_grid_model_" + idx_date + "__act_time").val();
            //        if(moment(value, 'DD/MM/YYYY HH:mm',true).isValid() == false) {
            //            i++;
            //            addValidMessageError($("#" + $(this).attr("id")), "Date format is incorrect.");
            //            if (FocusCtrl == "") FocusCtrl = $("#" + $(this).attr("id"));
            //        } else {
            //            arrActivityDate.push(value);
            //        }
            //    }
            //    idx_date++;
            //});

            //$(".act_time").each(function () {
            //    var value = $(this).val();
            //    if (value == "") {
            //        i++;
            //        addValidMessageError($("#" + $(this).attr("id")), "Please input Value.");
            //        if (FocusCtrl == "") FocusCtrl = $("#" + $(this).attr("id"));
            //    }
            //});

            //if (arrActivity.length > 0 && i == 0) {
            //    debugger;
            //    if(hasDupes(arrActivity) == true) {
            //        i++;
            //        if (FocusCtrl == "") FocusCtrl = '#table_tbody_activity tr';
            //        OpenBoxPopup('Activity is duplicate');
            //        return;
            //    }
            //}

            //if(arrActivityDate.length > 0 && i == 0)
            //{
            //    debugger;
            //    if(isDateIncorrect(arrActivityDate,startDate,endDate) == true) {
            //        i++;
            //        if (FocusCtrl == "") FocusCtrl = '#table_tbody_activity tr';
            //        OpenBoxPopup('Activity date is incorrect');
            //        return;
            //    }
            //}

            var idx_ref = 0;
            $(".act_ref").each(function () {
                var value = $('#schs_activity_grid_model_'+idx_ref+'__act_code').val().split('|')[0];
                if ($('#schs_activity_grid_model_'+idx_ref+'__act_code').val().split('|')[0] == 'Y') {
                    if ($(this).val() == "") {
                        i++;
                        addValidMessageError($("#" + $(this).attr("id")), "Please input Value.");
                        if (FocusCtrl == "") FocusCtrl = $("#" + $(this).attr("id"));
                    }
                }
                idx_ref++;
            });
        }

        //debugger;
        if (FocusCtrl != "") $(FocusCtrl).focus();
        if (i > 0)
            return false;
        return true;
    }

    function hasDupes(arr) {
        /* temporary object */
        var uniqOb = {};
        /* create object attribute with name=value in array, this will not keep dupes*/
        for (var i in arr)
            uniqOb[arr[i]] = "";
        /* if object's attributes match array, then no dupes! */
        if (arr.length == Object.keys(uniqOb).length)
            return false; //alert('NO dupes');
        else
            return true; //alert('HAS dupes');


    }

    function isDateIncorrect(arr, stratDate, endDate) {
        var arrayLength = arr.length;
        if(arrayLength == 0)
            return true;

        var sDate = moment(stratDate, 'DD/MM/YYYY HH:mm',true);
        var eDate = moment(endDate, 'DD/MM/YYYY HH:mm',true);
        for (var i = 0; i < arrayLength; i++) {

            var aDate = moment(arr[i], 'DD/MM/YYYY HH:mm',true);
            var aDateNext;
            if(i<arrayLength-1)
            {
                aDateNext = moment(arr[i+1], 'DD/MM/YYYY HH:mm',true);
            }
            else if(i == arrayLength-1)
            {
                aDateNext = eDate;
            }
            if(aDate < sDate)
            {
                return true;
            }
            else if(aDate > eDate)
            {
                return true;
            }

            if(aDateNext <= aDate)
            {
                return true;
            }
        }

        return false;
    }

    function ReMoveValidateClass() {
        $(".act_code").removeClass("input-error");
        $(".act_date_start").removeClass("input-error");
        $(".act_date_end").removeClass("input-error");
        //$(".act_time").removeClass("input-error");
        $(".act_ref").removeClass("input-error");
    }
</script>

@if (TempData["res_message"] != null)
{
    if (TempData["returnPage"] != null)
    {
        <script type="text/javascript">
            OpenBoxPopupLink((@Html.Raw(Json.Encode(TempData["res_message"]))), @Html.Raw(Json.Encode(TempData["returnPage"]))).done(function() {
                $("#EventButton").val("0");
            });
        </script>
    }
    else
    {
        <script type="text/javascript">
            OpenBoxPopup(@Html.Raw(Json.Encode(TempData["res_message"]))).done(function() {
                $("#EventButton").val("0");
            });
        </script>
    }
}


<body onload="init();">        
    <div class="chart" onscroll="OnScrollDiv(this)">
        <div id="scheduler_here" class="dhx_cal_container">
            <div id="navline" class="dhx_cal_navline">
                <div class="dhx_cal_date" style="display:none;"></div>
                <div class="dhx_cal_tab" name="timeline_tab"></div>
                <div class="dhx_cal_tab" name="mTimeline_tab"></div>                        
            </div>
            <div id="vesselname" class="text-vesselname">Vessel Name</div>
            <div class="dhx_cal_header"></div>
            <div class="dhx_cal_data"></div>
        </div>
    </div>
    @using (Html.BeginForm("Activity", "SchedulerCMCS", FormMethod.Post, new Dictionary<string, object> { { "name", "createForm" }, { "id", "createForm" }, { "enctype", "multipart/form-data" }, { "data-toggle", "validator" } }))
    {
        @Html.Hidden("hdfNoteAction")
        if (TempData["res_message"] == null)
        {
            @Html.Hidden("EventButton", "0")
        }
        else
        {
            @Html.Hidden("EventButton", "1")
        }

        @Html.HiddenFor(m => m.schs_Transaction_id, Model.schs_Transaction_id)
        @Html.HiddenFor(m => m.schs_Req_transaction_id, Model.schs_Req_transaction_id)
        @Html.HiddenFor(m => m.schs_Doc_no, Model.schs_Doc_no)
        @Html.HiddenFor(m => m.schs_Type, Model.schs_Type)
        @Html.HiddenFor(m => m.schs_Status, Model.schs_Status)

        <div class="form-group row">
            <label class="col-xs-2 control-label" style="font-size: 30pt; font:bold;">Activity</label>
            <div class="col-xs-10">
                <table id="table_activity" class="table table-hover table-striped table-bordered" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="col-md-1">No.</th>
                            <th class="col-md-2">Activity</th>
                            <th class="col-md-2">Port Name</th>
                            <th class="col-md-2">Date start</th>
                            <th class="col-md-2">Date end</th>
                            @*<th class="col-md-1">Time</th>*@
                            <th class="col-md-3">Reference</th>
                        </tr>                        
                    </thead>
                    <tbody id="table_tbody_activity">
                        @if (Model.schs_activity_grid_model != null)
                        {                            
                            for (int i = 0; i < Model.schs_activity_grid_model.Count; i++)
                            {
                                <tr>
                                    <td>@Model.schs_activity_grid_model[i].act_order@Html.HiddenFor(m => m.schs_activity_grid_model[i].act_order)</td>
                                    <td>                                        
                                        @Html.DropDownListFor(m => m.schs_activity_grid_model[i].act_code, new SelectList(Model.vesselActivity, "Value", "Text", Model.schs_activity_grid_model[i].act_code), new { @class = "form-control dropdown_color act_code", @onchange = "onActivityChanged(this," + i + ")", @style = "float: left; width: 200px;" })
                                        <div id="activity_color_box_@i" name="activity_color_box_@i" class="color_box" style="background-color: @Model.schs_activity_grid_model[i].act_color;"></div>
                                        @Html.HiddenFor(m => m.schs_activity_grid_model[i].act_color, new { @class = "form-control act_color" })
                                    </td>
                                    <td>
                                        @Html.DropDownListFor(m => m.schs_activity_grid_model[i].act_portName, new SelectList(Model.portName, "Value", "Text", Model.schs_activity_grid_model[i].act_portName), new { @class = "form-control" , @style = "width: 130px;" })
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(m => m.schs_activity_grid_model[i].act_date_start, new { @class = "form-control input-date-picker act_date", @placeholder = "DD/MM/YYYY HH:mm", @style = "width: 140px;" })
                                        <script>
                                            $('#' + '@Html.IdFor(m => m.schs_activity_grid_model[i].act_date_start)').dateRangePicker({
                                                singleDate: true,
                                                singleMonth: true,
                                                startDate: '@Model.schs_detail.date_start.SplitWord(" ")[0]',
                                                endDate: '@Model.schs_detail.date_end.SplitWord(" ")[0]',
                                                startOfWeek: 'monday',
                                                format: 'DD/MM/YYYY HH:mm',
                                                time: {
                                                    enabled: true
                                                }
                                            });                                            
                                        </script>
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(m => m.schs_activity_grid_model[i].act_date_end, new { @class = "form-control input-date-picker act_date", @placeholder = "DD/MM/YYYY HH:mm", @style = "width: 140px;" })
                                        <script>
                                            $('#' + '@Html.IdFor(m => m.schs_activity_grid_model[i].act_date_end)').dateRangePicker({
                                                singleDate: true,
                                                singleMonth: true,
                                                startDate: '@Model.schs_detail.date_start.SplitWord(" ")[0]',
                                                endDate: '@Model.schs_detail.date_end.SplitWord(" ")[0]',
                                                startOfWeek: 'monday',
                                                format: 'DD/MM/YYYY HH:mm',
                                                time: {
                                                    enabled: true
                                                }
                                            });
                                        </script>
                                    </td>
                                    @*<td>
                                        @Html.TextBoxFor(m => m.schs_activity_grid_model[i].act_time, new { @class = "form-control act_time" })
                                        <script>                                            
                                            $('#' + '@Html.IdFor(m => m.schs_activity_grid_model[i].act_time)').dateRangePicker({
                                                singleDate: true,
                                                singleMonth: true,
                                                singleTime: true,
                                                format: 'HH:mm',
                                                time: {
                                                    enabled: true
                                                }
                                            });
                                        </script>
                                    </td>*@
                                    <td>
                                        @if (Model.schs_activity_grid_model[i].act_ref_status == "Y")
                                        {
                                            @Html.TextBoxFor(m => m.schs_activity_grid_model[i].act_ref, new { @class = "form-control act_ref", @placeholder = "Reference" })
                                        }
                                        else if (Model.schs_activity_grid_model[i].act_ref_status == "N")
                                        {
                                            @Html.TextBoxFor(m => m.schs_activity_grid_model[i].act_ref, new { @class = "form-control act_ref", @readonly = "true", @placeholder = "Reference" })
                                        }

                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <div class="row">
                    <input type="button" value="Add Activity" class="btn btn-success" onclick="addActivity(); return false;" />
                    <input type="button" value="Delete Activity" class="btn btn-default" onclick="delActivity(); return false;" />
                </div>
            </div>
        </div>
        <div class="wrapper-button row">
            <div class="col-md-12">
                @if (ViewBag.ButtonMode == "AUTO")
                {
                    <input type="submit" value="SUBMIT" class="btn btn-default" name="action:Submit" onclick="OpenBoxBungerPrompt('Comment :', 'EDIT ACTIVITY'); return false;" />
                    <input type="button" class="btn btn-default" id="btnBack" onclick="location.href='@Url.Action("Search","SchedulerCMCS",new {Type=Convert.ToString(Session["Schedule_Type"]) })'" value="BACK" />
                    <input type="submit" value="SUBMIT" id="btnSubmit" style="display: none;" name="action:Submit" />
                }
                else
                {
                    @Html.Hidden("hdfEventClick")
                    @Html.Raw(@ViewBag.ButtonCode)
                }
            </div>
        </div>
    }
</body>
