﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.SchedulerCMCSViewModel

@{
    if (ViewBag.PageMode == null)
    {
        ViewBag.PageMode = "EDIT";
    }
    if (ViewBag.ButtonMode == null)
    {
        ViewBag.ButtonMode = "AUTO";
    }
    int txtExplanation_readmode = (ViewBag.PageMode == "EDIT") ? 0 : 1;

    int load_port_count = Model.schs_load_ports == null ? 0 : Model.schs_load_ports.Count;
    int dis_post_count = Model.schs_dis_ports == null ? 0 : Model.schs_dis_ports.Count;
}

@section HeadStyle {
    <link rel="stylesheet" type="text/css" href="~/Content/css/vessel-page.css" />
}

@section HeadScript {
    <link href="~/Content/SchedulerCMCS/css/dhtmlxcalendar.css" rel="stylesheet" type="text/css" />
}

<script type="text/javascript" charset="utf-8">
    $(function () {
        var loadport_count = @load_port_count;
        if (loadport_count == 0) {
            addPort();
        }

        var disport_count = @dis_post_count;
        if (disport_count == 0) {
            addDischarge();
        }

        $('#schs_tempDateTo').attr('readonly', true);

        //$("#schs_tempDateFrom").dateRangePicker({
        //    singleDate : true,
        //    singleMonth: true,
        //    startOfWeek: 'monday',
        //    startDate: "",
        //    endDate: "",
        //    format: 'DD/MM/YYYY HH:mm',
        //    time: {enabled: true}
        //}).bind('datepicker-change', function (e) {
        //    $('#schs_tempDateTo').attr('readonly', false);
        //    if (typeof $("#schs_tempDateTo").data('dateRangePicker') != "undefined") {
        //        $("#schs_tempDateTo").data('dateRangePicker').destroy();
        //    }
        //    $("#schs_tempDateTo").dateRangePicker({
        //        singleDate : true,
        //        singleMonth: true,
        //        startOfWeek: 'monday',
        //        startDate: $(this).val().split(" ")[0],
        //        format: 'DD/MM/YYYY HH:mm',
        //        time: {enabled: true}
        //    });
        //    var date_from = $(this).val().split(" ")[0].split("/");
        //    var date_to = $("#schs_tempDateTo").val().split(" ")[0].split("/");
        //    var time_from = new Date(parseInt(date_from[2]), parseInt(date_from[1]) - 1, parseInt(date_from[0])).getTime();
        //    var time_to = new Date(parseInt(date_to[2]), parseInt(date_to[1]) - 1, parseInt(date_to[0])).getTime();
        //    if (time_from > time_to) {
        //        $('#schs_tempDateTo').val("");
        //    }
        //});

        $("#schs_tempDateFrom").dateRangePicker({
            //singleDate : true,
            //singleMonth: true,
            startOfWeek: 'monday',
            startDate: "",
            endDate: "",
            format: 'DD/MM/YYYY HH:mm',
            time: {enabled: true}
        }).bind('datepicker-change', function (e) {

        });

        @if (Request.QueryString["DateSearch"] != null)
        {
            @:var start_date = '@Request.QueryString["DateSearch"].SplitWord("_")[0]';
            @:var end_date = '@Request.QueryString["DateSearch"].SplitWord("_")[1]';
            @:$("#btnBack").attr("onclick", "location.href='@Url.Action("Search", "SchedulerCMCS", new { Type = Convert.ToString(Session["Schedule_Type"]) })&StartDate="+start_date+"&EndDate="+end_date+"&MultiVesselID='");
        }
    });

    function addPort() {
        var i = $("#table_tbody_port > tr").length;
        var html = '<tr>';
        html += '<td>' + (i + 1) + '</td>';
        html += '<td><select class="form-control dup_portname" id="schs_load_ports_' + i + '__port" name="schs_load_ports[' + i + '].port">' +
                    @if(Model.portName != null)
                    {
                        foreach (var v in Model.portName)
                        {
                            @:'<option value="@v.Value">@v.Text</option>' +
                        }
                    }
                    '</select>' +
                '</td>';
        html += '<td id="row_name_' + i + '"><div><select class="form-control" id="schs_load_ports_' + i + '__schs_crude_0__crude" name="schs_load_ports[' + i + '].schs_crude[0].crude">' +
                    @if(Model.product != null)
                    {
                        foreach (var v in Model.product)
                        {
                            @:'<option value="@v.Value">@v.Text</option>' +
                        }
                    }
                    '</select></div>' +
                    '<input type="image" src="../Web/Images/btn-add-member.png" onclick="addPortDetail(' + i + '); return false;">&nbsp;&nbsp;&nbsp;<input type="image" src="../Web/Images/btn-delete.png" onclick="delPortDetail(' + i + '); return false;">' +
                '</td>';
        html += '<td id="row_qyt_' + i + '"><div><input class="form-control vali_qty" id="schs_load_ports_' + i + '__schs_crude_0__qty" name="schs_load_ports[' + i + '].schs_crude[0].qty" step="any" onkeypress="return isNumber(event);"></div></td>';
        html += '<td id="row_nominate_' + i + '"><div><input type="text" class="form-control input-date-picker date-range-detail vali_nomi" id="schs_load_ports_' + i + '__schs_crude_0__nominate_date" name="schs_load_ports[' + i + '].schs_crude[0].nominate_date" placeholder="Select date" maxlength="24"></div></td>';
        html += '<td id="row_received_' + i + '"><div><input type="text" class="form-control input-date-picker date-range-detail vali_rece" id="schs_load_ports_' + i + '__schs_crude_0__received_date" name="schs_load_ports[' + i + '].schs_crude[0].received_date" placeholder="Select date" maxlength="24"></div></td>';
        html += '</tr>';
        $("#table_tbody_port").append(html);

        $('#schs_load_ports_' + i + '__schs_crude_0__nominate_date').dateRangePicker({
            startOfWeek: 'monday',
            format: 'DD/MM/YYYY'
        });
        $('#schs_load_ports_' + i + '__schs_crude_0__received_date').dateRangePicker({
            startOfWeek: 'monday',
            format: 'DD/MM/YYYY'
        });
    }

    function addPortDetail(row) {
        var i = $("#row_name_" + row + " > div").length;
        var html_name = '<div><select class="form-control" id="schs_load_ports_' + row + '__schs_crude_' + i + '__crude" name="schs_load_ports[' + row + '].schs_crude[' + i + '].crude"">' +
                    @if(Model.product != null)
                    {
                        foreach (var v in Model.product)
                        {
                            @:'<option value="@v.Value">@v.Text</option>' +
                        }
                    }
                    '</select></div>';
        $("#row_name_" + row).children("div").last().after(html_name);

        var html_qyt = '<div><input class="form-control" id="schs_load_ports_' + row + '__schs_crude_' + i + '__qty" name="schs_load_ports[' + row + '].schs_crude[' + i + '].qty" step="any" type="number"></div>';
        $("#row_qyt_" + row).children("div").last().after(html_qyt);

        var html_nominate = '<div><input type="text" class="form-control input-date-picker date-range-detail" id="schs_load_ports_' + row + '__schs_crude_' + i + '__nominate_date" name="schs_load_ports[' + row + '].schs_crude[' + i + '].nominate_date" placeholder="Select date" maxlength="24"></div></td>';
        $("#row_nominate_" + row).children("div").last().after(html_nominate);

        var html_received = '<div><input type="text" class="form-control input-date-picker date-range-detail" id="schs_load_ports_' + row + '__schs_crude_' + i + '__received_date" name="schs_load_ports[' + row + '].schs_crude[' + i + '].received_date" placeholder="Select date" maxlength="24"></div></td>';
        $("#row_received_" + row).children("div").last().after(html_received);

        $('#schs_load_ports_' + row + '__schs_crude_' + i + '__nominate_date').dateRangePicker({
            startOfWeek: 'monday',
            format: 'DD/MM/YYYY'
        });
        $('#schs_load_ports_' + row + '__schs_crude_' + i + '__received_date').dateRangePicker({
            startOfWeek: 'monday',
            format: 'DD/MM/YYYY'
        });
    }

    function delPortDetail(row) {
        if (($("#row_name_" + row).children().length - 2) > 1) {
            $("#row_name_" + row).children("div").last().remove();
            $("#row_qyt_" + row).children("div").last().remove();
            $("#row_nominate_" + row).children("div").last().remove();
            $("#row_received_" + row).children("div").last().remove();
        }
    }

    function delPort() {
        //delete last row of load port unless it has 1.
        if ($("#table_tbody_port > tr").length > 1) {
            $("#table_tbody_port > tr").last().remove();
            $("#table_tbody_port > div").last().remove();
        }
    }

    function addDischarge() {
        var i = $("#table_tbody_discharge > tr").length;
        var html = '<tr>';
        html += '<td>' + (i + 1) + '</td>';
        html += '<td><select class="form-control dup_disportname" id="schs_dis_ports_' + i + '__port" name="schs_dis_ports[' + i + '].port">' +
                    @if(Model.portName != null)
                    {
                        foreach (var v in Model.portName)
                        {
                            @:'<option value="@v.Value">@v.Text</option>' +
                        }
                    }
                    '</select>' +
                '</td>';
        html += '</tr>';
        $("#table_tbody_discharge").append(html);
    }

    function delDischarge() {
        if ($("#table_tbody_discharge > tr").length > 1) {
            $("#table_tbody_discharge > tr").last().remove();
            $("#table_tbody_discharge > div").last().remove();
        }
    }
</script>

<!--For Alert Message Click button ohter -->
@if (TempData["res_message"] != null)
{
    if (TempData["returnPage"] != null)
    {
        <script type="text/javascript">
            OpenBoxPopupLink((@Html.Raw(Json.Encode(TempData["res_message"]))), @Html.Raw(Json.Encode(TempData["returnPage"]))).done(function() {
                $("#EventButton").val("0");
            });
        </script>
    }
    else
    {
        <script type="text/javascript">
            OpenBoxPopup(@Html.Raw(Json.Encode(TempData["res_message"]))).done(function() {                
                $("#EventButton").val("0");
            });
        </script>
    }
}
<!-- Popup and Event Click  -->
<script type="text/javascript">
    @*tinymce.init({
        selector: '#schs_detail_note',
        theme: 'modern',
        plugins: ['textcolor colorpicker  '],
        height: 200,
        menubar: false,
        toolbar: " undo redo | bold italic underline | numlist | forecolor | removeformat | spellchecker",
        statusbar: true,
        image_advtab: true,
        paste_data_images: true,
        readonly: @txtExplanation_readmode,
        textcolor_map: [
			"000000", "Black",
			"993300", "Burnt orange",
			"333300", "Dark olive",
			"003300", "Dark green",
			"003366", "Dark azure",
			"000080", "Navy Blue",
			"333399", "Indigo",
			"333333", "Very dark gray",
			"800000", "Maroon",
			"FF6600", "Orange",
			"808000", "Olive",
			"008000", "Green",
			"008080", "Teal",
			"0000FF", "Blue",
			"666699", "Grayish blue",
			"808080", "Gray",
			"FF0000", "Red",
			"FF9900", "Amber",
			"99CC00", "Yellow green",
			"339966", "Sea green",
			"33CCCC", "Turquoise",
			"3366FF", "Royal blue",
			"800080", "Purple",
			"999999", "Medium gray",
			"FF00FF", "Magenta",
			"FFCC00", "Gold",
			"FFFF00", "Yellow",
			"00FF00", "Lime",
			"00FFFF", "Aqua",
			"00CCFF", "Sky blue",
			"993366", "Red violet",
			"FFFFFF", "White",
			"FF99CC", "Pink",
			"FFCC99", "Peach",
			"FFFF99", "Light yellow",
			"CCFFCC", "Pale green",
			"CCFFFF", "Pale cyan",
			"99CCFF", "Light sky blue",
			"CC99FF", "Plum"
        ]
    });*@

    window.onbeforeunload = function (evt) {
        var btnclick = false;
        if ($('#EventButton').val() == "0") {
            btnclick = true;
        }
        if (btnclick) {
            return "If you leave this page, your information will not be updated.";
        }
    }

    function OpenBoxBungerPrompt(MSG, Event) {
        if (Event.toUpperCase() == "SAVEDRAFT") {
            if (!ValidateBeforeSaveDraft())
                return false;
        }

        if (Event.toUpperCase() == "SUBMIT" || Event.toUpperCase() == "EDIT SCHEDULE" ) {
            if (!ValidateBeforeSave(Event.toUpperCase()))
                return false;
        }

        $('#EventButton').val("1");
        $('form').attr('target', '_self');

        if (Event != "SaveDraft" && Event != "SaveAndPreview" && Event != "Submit") {
            if ($("#hdfEventClick").length != 0) {
                $("#hdfEventClick").val(Event);
            }
        }

        if (Event.toUpperCase() == "CANCEL") {
            bootbox.prompt(MSG, function (result) {
                if (result === null) {
                    //Do nothing (cancel button pressed)
                    $('#EventButton').val("0");
                } else {
                    $("#hdfNoteAction").val(result);
                    $('form').attr('target', '_self');
                    if (Event == "SaveDraft" || Event == "SaveAndPreview") {
                        $("#btnSaveDraft").click();
                    } else if (Event == "Submit") {
                        $("#btnSubmit").click();
                    } else {
                        $("#btnMANUAL").click();
                    }
                    LoadingProcess();
                }
            });
        } else {
            $('form').attr('target', '_self');
            if (Event == "SaveDraft" || Event == "SaveAndPreview") {
                $("#btnSaveDraft").click();
            } else if (Event == "Submit") {
                $("#btnSubmit").click();
            } else {
                $("#btnMANUAL").click();
            }
            LoadingProcess();
        }
    }

    function ValidateBeforeSaveDraft() {
        ReMoveValidateClass();
        var FocusCtrl = "";
        var i = 0;

        //Vessel
        var ddlVessel=$('#@Html.IdFor(m => m.schs_detail.vessel)').val();
        if( !ddlVessel ) {
            i++;
            addValidMessageError($('#@Html.IdFor(m => m.schs_detail.vessel)'), "Please input Value.");
            if (FocusCtrl == "") FocusCtrl = '#@Html.IdFor(m => m.schs_detail.vessel)';
        }
        //TC
        var inputTC = $('#@Html.IdFor(m => m.schs_detail.tc)').val();
        if( !inputTC ) {
            i++;
            addValidMessageError($('#@Html.IdFor(m => m.schs_detail.tc)'), "Please input Value.");
            if (FocusCtrl == "") FocusCtrl = '#@Html.IdFor(m => m.schs_detail.tc)';
        }

        //Date From
        if( !$('#@Html.IdFor(m => m.schs_tempDateFrom)').val() ) {
            i++;
            addValidMessageError($('#@Html.IdFor(m => m.schs_tempDateFrom)'), "Please input Value.");
            if (FocusCtrl == "") FocusCtrl = '#@Html.IdFor(m => m.schs_tempDateFrom)';
        }

        //debugger;
        if (FocusCtrl != "") $(FocusCtrl).focus();
        if (i > 0)
            return false;
        return true;
    }

    function ValidateBeforeSave() {
        ReMoveValidateClass();
        var FocusCtrl = "";
        var i = 0;

        //Vessel
        var ddlVessel=$('#@Html.IdFor(m => m.schs_detail.vessel)').val();
        if( !ddlVessel ) {
            i++;
            addValidMessageError($('#@Html.IdFor(m => m.schs_detail.vessel)'), "Please input Value.");
            if (FocusCtrl == "") FocusCtrl = '#@Html.IdFor(m => m.schs_detail.vessel)';
        }

        //TC
        var inputTC = $('#@Html.IdFor(m => m.schs_detail.tc)').val();
        if( !inputTC ) {
            i++;
            addValidMessageError($('#@Html.IdFor(m => m.schs_detail.tc)'), "Please input Value.");
            if (FocusCtrl == "") FocusCtrl = '#@Html.IdFor(m => m.schs_detail.tc)';
        }

        //Date From
        if( !$('#@Html.IdFor(m => m.schs_tempDateFrom)').val() ) {
            i++;
            addValidMessageError($('#@Html.IdFor(m => m.schs_tempDateFrom)'), "Please input Value.");
            if (FocusCtrl == "") FocusCtrl = '#@Html.IdFor(m => m.schs_tempDateFrom)';
        }

        //Time From
        @*if( !$('#@Html.IdFor(m => m.schs_tempTimeFrom)').val() ) {
            i++;
            addValidMessageError($('#@Html.IdFor(m => m.schs_tempTimeFrom)'), "Please input Value.");
            if (FocusCtrl == "") FocusCtrl = '#@Html.IdFor(m => m.schs_tempTimeFrom)';
        }*@

        //Date To
        @*if( !$('#@Html.IdFor(m => m.schs_tempDateTo)').val() ) {
            i++;
            addValidMessageError($('#@Html.IdFor(m => m.schs_tempDateTo)'), "Please input Value.");
            if (FocusCtrl == "") FocusCtrl = '#@Html.IdFor(m => m.schs_tempDateTo)';
        }*@

        //Time To
        @*if( !$('#@Html.IdFor(m => m.schs_tempTimeTo)').val() ) {
            i++;
            addValidMessageError($('#@Html.IdFor(m => m.schs_tempTimeTo)'), "Please input Value.");
            if (FocusCtrl == "") FocusCtrl = '#@Html.IdFor(m => m.schs_tempTimeTo)';
        }*@

        //Port
        if ($('#table_tbody_port tr').length <= 0) {
            i++;
            if (FocusCtrl == "") FocusCtrl = '#table_port tr';
            OpenBoxPopup('Please add Port');
            return;
        }
        else
        {
            //check dup dis/port
            var HaveDup = false;
            $('.dup_portname').each(function () {
                var Sup = $(this).find("option:selected").text();
                count = 0;
                $('.dup_portname').each(function () {
                    if (Sup == $(this).find("option:selected").text()) {
                        count++;
                    }
                    if (count > 1) { HaveDup = true; }
                });
            });
            if (HaveDup) {
                i++;
                if (FocusCtrl == "") FocusCtrl = '#table_port';
                OpenBoxPopup('Load Port is duplicate!!!');
                return;
            }
            $('.vali_qty').each(function () {
                if ($(this).val() == "") {
                    i++;
                    addValidMessageError($('#' + $(this).attr("id")), "Please input Qty.");
                    if (FocusCtrl == "") FocusCtrl = '#' + $(this).attr("id");
                }
            });
            $('.vali_nomi').each(function () {
                if ($(this).val() == "") {
                    i++;
                    addValidMessageError($('#' + $(this).attr("id")), "Please input Qty.");
                    if (FocusCtrl == "") FocusCtrl = '#' + $(this).attr("id");
                }
            });
            $('.vali_rece').each(function () {
                if ($(this).val() == "") {
                    i++;
                    addValidMessageError($('#' + $(this).attr("id")), "Please input Qty.");
                    if (FocusCtrl == "") FocusCtrl = '#' + $(this).attr("id");
                }
            });
        }

        //Discharge Port
        if ($('#table_tbody_discharge tr').length <= 0) {
            i++;
            if (FocusCtrl == "") FocusCtrl = '#table_tbody_discharge tr';
            OpenBoxPopup('Please add Discharge Port');
            return;
        }
        else
        {
            //check dup portname
            var HaveDup = false;
            $('.dup_disportname').each(function () {
                var Sup = $(this).find("option:selected").text();
                count = 0;
                $('.dup_disportname').each(function () {
                    if (Sup == $(this).find("option:selected").text()) {
                        count++;
                    }
                    if (count > 1) { HaveDup = true; }
                });
            });

            if (HaveDup) {
                i++;
                if (FocusCtrl == "") FocusCtrl = '#table_tbody_discharge';
                OpenBoxPopup('Discharge Port is duplicate!!!');
                return;
            }
        }

        //debugger;
        if (FocusCtrl != "") $(FocusCtrl).focus();
        if (i > 0)
            return false;
        return true;
    }

    function ReMoveValidateClass() {
        $("#@Html.IdFor(m => m.schs_detail.vessel)").removeClass("input-error");

        @*$("#@Html.IdFor(m => m.schd_tempLaycan)").removeClass("input-error");
        $("#@Html.IdFor(m => m.schd_tempDate)").removeClass("input-error");
        $("#@Html.IdFor(m => m.schd_tempSailing)").removeClass("input-error");

        $("#@Html.IdFor(m => m.schd_vendorColorValue)").removeClass("input-error");

        $(".prd_name").removeClass("input-error");
        $(".prd_spec").removeClass("input-error");
        $(".prd_qty").removeClass("input-error");
        $(".prd_unit").removeClass("input-error");*@

        //$(".dp_portname").removeClass("input-error");
    }

    function isNumber(e) {
        var charCode = (e.which) ? e.which : e.keyCode;
        if ((charCode >= 48 && charCode <= 57) || charCode == 46){
            return true;
        }
        return false;
    }

</script>

<div class="wrapper-detail row">
    <div class="col-xs-12">
        @*<h2 class="title">Add new schedule</h2>*@
        <h2 class="title">@ViewBag.Title</h2>
        @using (Html.BeginForm("Index", "SchedulerCMCS", FormMethod.Post, new Dictionary<string, object> { { "name", "createForm" }, { "id", "createForm" }, { "enctype", "multipart/form-data" }, { "data-toggle", "validator" } }))
        {
          <!--For Alert Message Click button ohter -->
            @Html.Hidden("hdfNoteAction")
            if (TempData["res_message"] == null)
            {
                @Html.Hidden("EventButton", "0")
            }
            else
            {
                @Html.Hidden("EventButton", "1")
            }

            @Html.HiddenFor(m => m.schs_Transaction_id, Model.schs_Transaction_id)
            @Html.HiddenFor(m => m.schs_Req_transaction_id, Model.schs_Req_transaction_id)
            @Html.HiddenFor(m => m.schs_Doc_no, Model.schs_Doc_no)
            @Html.HiddenFor(m => m.schs_Type, Model.schs_Type)
            @Html.HiddenFor(m => m.schs_Status, Model.schs_Status)
            <div class="form-horizontal">
                <div class="form-group row">
                    <label class="col-xs-2 control-label">Task ID</label>
                    <div class="col-xs-4">
                        @Html.TextBoxFor(m => m.schs_Transaction_id, new { @class = "form-control", @readonly = "true" })
                    </div>
                    <label class="col-xs-2 control-label">Doc No.</label>
                    <div class="col-xs-4">
                        @Html.TextBoxFor(m => m.schs_Doc_no, new { @class = "form-control", @readonly = "true" })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xs-2 control-label">Vessel Name<span style="color:red">*</span></label>
                    <div class="col-xs-4">
                        @if (ViewBag.PageMode == "EDIT")
                        {
                            if (Model.schs_detail != null)
                            {
                                @Html.DropDownListFor(m => m.schs_detail.vessel, new SelectList(Model.vessel, "Value", "Text", Model.schs_detail.vessel), "--- Please Select ---", new { @class = "form-control" })
                            }
                            else
                            {
                                @Html.DropDownListFor(m => m.schs_detail.vessel, Model.vessel, "--- Please Select ---", new { @class = "form-control" })
                            }
                        }
                        else
                        {
                            if (Model.schs_detail != null)
                            {
                                @Html.DropDownListFor(m => m.schs_detail.vessel, Model.vessel, Model.schs_detail.vessel, new { @class = "form-control", @disabled = "disabled" })
                                @Html.HiddenFor(m => m.schs_detail.vessel, Model.schs_detail.vessel)
                            }
                            else
                            {
                                @Html.DropDownList("freight", new SelectList(Model.vessel, "Value", "Text", ""), "", new { @class = "form-control", @disabled = "disabled" })
                            }
                        }                        
                    </div>
                    <label class="col-xs-2 control-label">TC<span style="color:red">*</span></label>
                    <div class="col-xs-4">
                        @if (ViewBag.PageMode == "EDIT")
                        {
                            @Html.TextBoxFor(m => m.schs_detail.tc, new { @class = "form-control", @step = "any", @maxlength = "4", @min = 0, @onkeypress = "return isNumber(event);" })
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.schs_detail.tc, new { @class = "form-control", @readonly = "true" })
                        }                        
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xs-2 control-label">Voyage Period<span style="color:red">*</span></label>
                    @*<label class="col-xs-1 control-label">From</label>*@
                    @Html.HiddenFor(m => m.schs_detail.date_start)
                    <div class="col-xs-4">
                        @if (ViewBag.PageMode == "EDIT")
                        {
                            @Html.TextBoxFor(m => m.schs_tempDateFrom, new { @class = "form-control input-date-picker", @placeholder = "DD/MM/YYYY HH:mm to DD/MM/YYYY HH:mm" })                            
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.schs_tempDateFrom, new { @class = "form-control input-date-picker", @placeholder = "DD/MM/YYYY HH:mm to DD/MM/YYYY HH:mm", @readonly = "true" })                            
                        }
                    </div>
                    @*<label class="col-xs-1 control-label">Time</label>
                    <div class="col-xs-1">
                        @if (ViewBag.PageMode == "EDIT")
                        {
                            @Html.TextBoxFor(m => m.schs_tempTimeFrom, new { @class = "form-control", @placeholder = "HH:mm" })                            
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.schs_tempTimeFrom, new { @class = "form-control", @placeholder = "HH:mm", @readonly = "true" })                            
                        }
                    </div>*@
                </div>
                @*<div class="form-group row">
                    <label class="col-xs-2 control-label"></label>
                    <label class="col-xs-1 control-label">To</label>
                    @Html.HiddenFor(m => m.schs_detail.date_end)
                    <div class="col-xs-3">
                        @if (ViewBag.PageMode == "EDIT")
                        {
                            @Html.TextBoxFor(m => m.schs_tempDateTo, new { @class = "form-control input-date-picker", @placeholder = "DD/MM/YYYY HH:mm", @style = "width: 230px;" })                            
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.schs_tempDateTo, new { @class = "form-control input-date-picker", @placeholder = "DD/MM/YYYY HH:mm", @style = "width: 230px;", @readonly = "true" })                            
                        }
                    </div>
                    @*<label class="col-xs-1 control-label">Time</label>
                    <div class="col-xs-1">
                        @if (ViewBag.PageMode == "EDIT")
                        {
                            @Html.TextBoxFor(m => m.schs_tempTimeTo, new { @class = "form-control", @placeholder = "HH:mm" })                            
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.schs_tempTimeTo, new { @class = "form-control", @placeholder = "HH:mm", @readonly = "true" })                            
                        }
                    </div>

                </div>*@
                <div class="form-group row">
                    <label class="col-xs-2 control-label">Load port</label>
                    <div class="col-xs-10">
                        <table id="table_port" class="table table-hover table-striped table-bordered" cellspacing="0">
                            <thead>
                                <tr>
                                    <th rowspan="2" class="col-md-1">Port No.</th>
                                    <th rowspan="2" class="col-md-2">Port Name</th>
                                    <th colspan="4" class="col-md-8">Crude</th>
                                </tr>
                                <tr>
                                    <th class="col-md-2">Name</th>
                                    <th class="col-md-1">Qty (bbls)</th>
                                    <th class="col-md-3">Nominate Date</th>
                                    <th class="col-md-3">Received Date</th>
                                </tr>
                            </thead>
                            <tbody id="table_tbody_port">
                                @if (ViewBag.PageMode == "EDIT")
                                {
                                    if (Model.schs_load_ports != null)
                                    {
                                        for (int i = 0; i < Model.schs_load_ports.Count; i++)
                                        {
                                            <tr>
                                                <td>@(i + 1)</td>
                                                <td>@Html.DropDownListFor(m => Model.schs_load_ports[i].port, new SelectList(Model.portName, "Value", "Text", Model.schs_load_ports[i].port), new { @class = "form-control dup_portname" })</td>                                            
                                                <td id="row_name_@i">
                                                    @for (int j = 0; j < Model.schs_load_ports[i].schs_crude.Count; j++)
                                                    {
                                                        @Html.Raw("<div>")
                                                        @Html.DropDownListFor(m => Model.schs_load_ports[i].schs_crude[j].crude, new SelectList(Model.product, "Value", "Text", Model.schs_load_ports[i].schs_crude[j].crude), new { @class = "form-control" })
                                                        @Html.Raw("</div>")
                                                    }
                                                    <input type="image" src="../Web/Images/btn-add-member.png" onclick="addPortDetail(@i); return false;">&nbsp;&nbsp;&nbsp;<input type="image" src="../Web/Images/btn-delete.png" onclick="delPortDetail(@i); return false;">
                                                </td>
                                                <td id="row_qyt_@i">
                                                    @for (int j = 0; j < Model.schs_load_ports[i].schs_crude.Count; j++)
                                                    {
                                                        @Html.Raw("<div>")
                                                        @Html.TextBoxFor(m => Model.schs_load_ports[i].schs_crude[j].qty, new { @class = "form-control vali_qty", @onkeypress = "return isNumber(event);" })
                                                        @Html.Raw("</div>")
                                                    }
                                                </td>
                                                <td id="row_nominate_@i">
                                                    @for (int j = 0; j < Model.schs_load_ports[i].schs_crude.Count; j++)
                                                    {
                                                        @Html.Raw("<div>")
                                                        @Html.TextBoxFor(m => Model.schs_load_ports[i].schs_crude[j].nominate_date, new { @class = "form-control input-date-picker date-range-detail vali_nomi", @placeholder = "Select date" })
                                                        @Html.Raw("</div>")
                                                        <script>
                                                            $('#' + '@Html.IdFor(m => m.schs_load_ports[i].schs_crude[j].nominate_date)').dateRangePicker({
                                                                startOfWeek: 'monday',
                                                                format: 'DD/MM/YYYY'
                                                            });                                                            
                                                        </script>
                                                    }
                                                </td>
                                                <td id="row_received_@i">
                                                    @for (int j = 0; j < Model.schs_load_ports[i].schs_crude.Count; j++)
                                                    {
                                                        @Html.Raw("<div>")
                                                        @Html.TextBoxFor(m => Model.schs_load_ports[i].schs_crude[j].received_date, new { @class = "form-control input-date-picker date-range-detail vali_rece", @placeholder = "Select date" })
                                                        @Html.Raw("</div>")
                                                        <script>
                                                            $('#' + '@Html.IdFor(m => m.schs_load_ports[i].schs_crude[j].received_date)').dateRangePicker({
                                                                startOfWeek: 'monday',
                                                                format: 'DD/MM/YYYY'
                                                            });                                                           
                                                        </script>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    }
                                }                                
                            </tbody>                          
                        </table>
                        <div>
                            <input type="button" value="Add Port" class="btn btn-success" onclick="addPort(); return false;" />
                            <input type="button" value="Delete Port" class="btn btn-default" onclick="delPort(); return false;" />
                        </div>
                    </div>
                </div>
                <div class="form-group row"></div>
                <div class="form-group row">
                    <label class="col-xs-2 control-label">Discharge port</label>
                    <div class="col-xs-10">
                        <table id="table_discharge" class="table table-hover table-striped table-bordered" cellspacing="0">
                            <thead>
                                <tr>
                                    <th class="col-md-1">Port No.</th>
                                    <th class="col-md-9">Port Name</th>
                                </tr>
                            </thead>
                            <tbody id="table_tbody_discharge">
                                @if (ViewBag.PageMode == "EDIT")
                                {
                                    if (Model.schs_dis_ports != null)
                                    {
                                        for (int i = 0; i < Model.schs_dis_ports.Count; i++)
                                        {
                                        <tr>                                            
                                            <td>@(i + 1)</td>
                                            <td>@Html.DropDownListFor(m => Model.schs_dis_ports[i].port, new SelectList(Model.portName, "Value", "Text", Model.schs_dis_ports[i].port), new { @class = "form-control dup_disportname" })</td>
                                        </tr>
                                        }
                                    }
                                }                                
                            </tbody>            
                        </table>
                        <div>
                            <input type="button" value="Add Port" class="btn btn-success" onclick="addDischarge(); return false;" />
                            <input type="button" value="Delete Port" class="btn btn-default" onclick="delDischarge(); return false;" />
                        </div>
                    </div>
                </div>
                <br>
                <div class="form-group row">                    
                    <label class="col-xs-2 control-label">Note</label>
                    <div class="col-xs-10">
                        @Html.TextAreaFor(m => m.schs_detail.note, new { @class = "form-control" })
                    </div>                    
                </div>
            </div>
            <div class="wrapper-button" id="buttonDiv">
                @if (ViewBag.ButtonMode == "AUTO")
                {
                    <input type="submit" value="SAVE DRAFT" class="btn btn-default" onclick="OpenBoxBungerPrompt('Comment :', 'SaveDraft'); return false;" />
                    <input type="submit" value="SUBMIT" class="btn btn-default" name="action:Submit" onclick="OpenBoxBungerPrompt('Comment :', 'Submit'); return false;" />
                    <input type="button" class="btn btn-default" id="btnBack" onclick="location.href='@Url.Action("Search", "SchedulerCMCS", new { Type = Convert.ToString(Session["Schedule_Type"]) })'" value="BACK" />
                    <input type="submit" value="SAVE DRAFT" id="btnSaveDraft" style="display: none;" name="action:SaveDraft" />
                    <input type="submit" value="SUBMIT" id="btnSubmit" style="display: none;" name="action:Submit" />
                }
                else
                {
                    @Html.Hidden("hdfEventClick")
                    @Html.Raw(@ViewBag.ButtonCode)
                }   
            </div>
        }
    </div>    
</div>


