﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.SchedulerCMCSViewModel

@{
    ViewBag.Title = "Scheduler - Search";

    string start_date = Request.QueryString["StartDate"];
    string end_date = Request.QueryString["EndDate"];
    string date_param_search = "";
    if (!string.IsNullOrEmpty(start_date) && !string.IsNullOrEmpty(end_date))
    {
        date_param_search = "&DateSearch=" + start_date + "_" + end_date;
    }
}

@section HeadStyle {   

    @*<link href="~/Content/SchedulerCMCS/css/dhtmlxcalendar.css" rel="stylesheet" type="text/css" />*@
    <link href="~/Content/SchedulerCMCS/css/dhtmlxscheduler.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/SchedulerCMCS/css/vessel-page.css" rel="stylesheet" type="text/css" />
@*<link rel="stylesheet" type="text/css" href="~/Content/css/vessel-page.css" />*@

    <style>
        .main-content-area {
            padding-top: 30px !important;
            overflow: hidden;
        }
        .dhx_matrix_scell {
            float: left;
            padding-top: 27px;
        }
        .chart {
            overflow: auto;
        }
        
        #scheduler_here {
            height: 400px;
        }

        .dhx_cal_event_line { height: 47px !important; margin-top: 15px; }

        .dhx_scheduler_timeline {
            width: 30445px;
        }

        .dhx_scheduler_mTimeline {
            width: 5000px;
        }

        .chart {
            margin-bottom: 20px;
            padding-left: 0px;
            margin-left: 15px;
        }

        .dhx_cal_dbl_date {
            display: block;
            position: absolute;
            left: 400px;
            top: 3px !important;
        }

        .dhx_cal_dbl_date .label {
            font-family: 'HelvethaicaX-45Li';
            font-size: 18px;
            padding-top: 0px;
            color: #767676;
            border: 0;
            background-color: transparent;
        }

        .dhx_cal_dbl_date input {
            width: 220px;
            display: inline;
        }

        .dhx_cal_dbl_search {
            display: block;
            position: absolute;
            left: 730px;
            top: 3px !important;
        }

        .dhx_cal_dbl_search .label {
            font-family: 'HelvethaicaX-45Li';
            font-size: 18px;
            padding-top: 0px;
            color: #767676;
            border: 0;
            background-color: transparent;
        }
        
        .dhx_cal_tab[name="timeline_tab"] {
            left: 0px !important;
        }

        .dhx_cal_tab[name="mTimeline_tab"] {
            left: 80px !important;
        }

        .myFont {
          font-size:20px;
        }
    </style>
}

@section HeadScript {
    <script type="text/javascript" src="~/Content/js/moment.js"></script>
    @*<script type="text/javascript" src="~/Content/SchedulerCMCS/js/dhtmlxcalendar.js"></script>*@
    <script type="text/javascript" src="~/Content/SchedulerCMCS/js/dhtmlxscheduler.js"></script>
    <script type="text/javascript" src="~/Content/SchedulerCMCS/js/dhtmlxscheduler_minical.js"></script>
    <script type="text/javascript" src="~/Content/SchedulerCMCS/js/dhtmlxscheduler_timeline.js"></script>
}

<script type="text/javascript" charset="utf-8">
    var myCalendar;

    $(document).ready(function () {
        $('#select-date').dateRangePicker({
            startOfWeek: 'monday',
            format: 'DD/MM/YYYY'
        });

        setTimeout(function () {
            $("[name='mTimeline_tab']").click();
        }, 1000);

        $("#select-vessel").select2({
            placeholder: "Vessel"
        });

        $('#select-vessel').change(function () {
            $('.select2-search__field').keydown(function (e) {
                if ($(this).val() == "") {
                    if (e.keyCode == 8) {
                        return false;
                    }
                }
            });
        });

        $('#grdSchedule').DataTable({
            "ordering": false,
            "bLengthChange": false,
            "searching": false,
            "bInfo": false,
        });

        $(".clickable-row").click(function () {
            window.document.location = $(this).data("href");
        });
    });

	function setSens(id, k) {
	    // update range
	    if (k == "min") {
	        myCalendar.setSensitiveRange(byId(id).value, null);
	    } else {
	        myCalendar.setSensitiveRange(null, byId(id).value);
	    }
	}
	function byId(id) {
	    return document.getElementById(id);
	}

	function init() {
	    scheduler.config.multi_day = true;
	    scheduler.config.readonly = true;
	    scheduler.config.multisection = true;
	    scheduler.config.xml_date = "%Y-%m-%d %H:%i";
	    scheduler.locale.labels.timeline_tab = "Day";
	    scheduler.locale.labels.mTimeline_tab = "Month";
	    scheduler.config.select = true;

	    // template bar in event & tooltip
	    var format = scheduler.date.date_to_str("%d %M");
	    var formattoopltip = scheduler.date.date_to_str("%H:%i %D, %j %F %Y");
	    var count = 0;
	    var activity = @Html.Raw(Json.Encode((Model.activity_info).Select(m => new { name = m.tcNumber, std = m.start_date, ste = m.end_date, activity = m.activity })));
        
	    scheduler.templates.event_bar_text = function (sd, ed, ev) { 
	        count++;
	        var html = "";
	        var flag = false;
	        if (ev.activity_info != null) {
	            for (var i = 0; i < ev.activity_info.length; i++) {
	                var activity_info = ev.activity_info[i];
	                for(var j =0; j < @Model.activity_info.Count();j++)
	                {
	                    var chkb = 0;
	                    if(activity[j].name == ev.text && activity_info.activity == activity[j].activity)
	                    {
	                        //html += "<div class='boxdetial " + activity_info.activity + "'><span class='box-color' style='background-color:" + activity_info.activity_color + ";'></span><span class='activity-name'>" + activity_info.activity + "</span><span class='totaltime'>" + activity_info.date + " (" + activity_info.activity_start + " - " + activity_info.activity_end + ")</span></div>";
	                        if(activity[j].ste == null)
	                        {
	                            html += "<div class='boxdetial " + activity_info.activity + "'><span class='box-color' style='background-color:" + activity_info.activity_color + ";'></span><span class='activity-name'>" + activity_info.activity + "</span><span class='totaltime'>" + activity[j].std + "</span></div>"; 
	                        }else{
	                            html += "<div class='boxdetial " + activity_info.activity + "'><span class='box-color' style='background-color:" + activity_info.activity_color + ";'></span><span class='activity-name'>" + activity_info.activity + "</span><span class='totaltime'>" + activity[j].std + "-" + activity[j].ste + "</span></div>"; 
	                        } 
	                    }  
	                } 
	            }
	            flag = true;
	        }
	        var template;
	        if (flag) { 
	            template = "<span class='eventtext'>" + ev.text + "</span><span class='textdate'>" + format(sd) + " - " + format(ed) + "</span><div class='tooltipbox' id='" + ev.id + "tooltip'><div class='boxdetial'><span class='box-color' style='background-color:" + ev.color + ";'></span><span class='activity-name textbold'>" + ev.text + "</span><span class='totaltime textbold'>" + format(sd) + " - " + format(ed) + "</span></div>" + html + "</div>";
	        } else {
	            template = "<span class='eventtext'>" + ev.text + "</span><span class='textdate'>" + format(sd) + " - " + format(ed) + "</span><div class='tooltipbox' id='" + ev.id + "tooltip'><div class='boxdetial'><span class='box-color' style='background-color:" + ev.color + ";'></span><span class='activity-name textbold'>" + ev.text + "</span><span class='totaltime textbold'>" + format(sd) + " - " + format(ed) + "</span></div></div>";
	        }
	        return template;
	    }
	    var sections = JSON.parse('@Html.Raw(Model.schs_cmsc_trans_vessel_json)');

	    // timeline config
	    scheduler.attachEvent("onTemplatesReady", function () {
	        scheduler.xy.scale_height = 25;
	    });

	    scheduler.createTimelineView({
	        name: "timeline",
	        x_unit: "minute",
	        x_date: "%H:%i",
	        x_step: 60,
	        x_size: 720, //โชว์จำนวนชั่วโมงในรายวัน
	        x_start: 0,
	        event_dy: 'full',
	        y_unit: sections,
	        y_property: "section_id",
	        render: "bar",
	        second_scale: {
	            x_unit: "day",
	            x_date: "Day %j"
	        }
	    });

	    var monthtimeline = "mTimeline";
	    scheduler.createTimelineView({
	        name: monthtimeline,
	        x_unit: "day",
	        x_date: "%j",
	        x_step: 1,
	        x_size: 31,
	        event_dy: 'full',
	        y_unit: sections,
	        y_property: "section_id",
	        render: "bar",
	        second_scale: {
	            x_unit: "month",
	            x_date: "%m / %Y"
	        }
	    });

	    var ev_id;
	    scheduler.attachEvent("onClick", function (id, e) {
	        ev_id = id;
	        return true;
	    });

	    //โชว์จำนวนวันในรายเดือน
	    scheduler.attachEvent("onBeforeViewChange", function (old_mode, old_date, mode, date) {
	        var year = date.getFullYear();
	        var month = (date.getMonth() + 1);
	        var d = new Date(year, month, 0);
	        scheduler.matrix[monthtimeline].x_size = d.getDate() * 4 + 2;
	        return true;
	    });
	    scheduler.date['add_' + monthtimeline] = function (date, step) {
	        if (step > 0) {
	            step = 1;
	        } else if (step < 0) {
	            step = -1;
	        }
	        return scheduler.date.add(date, step, "month")
	    };
	    scheduler.date[monthtimeline + '_start'] = scheduler.date.month_start;

	    var myDate = $('#select-date').val().split(" to ")[0].split("/");
	    scheduler.init('scheduler_here', new Date(parseInt(myDate[2]), (parseInt(myDate[1]) - 1), parseInt(myDate[0])), "timeline");
	    var data = JSON.parse('@Html.Raw(Model.schs_cmsc_trans_timeline_json)');
	    

	    var data_test = [
    		{ text: "Domestics PX 5 KT (by SMPC)", start_date: "2017-04-01 00:00", end_date: "2017-04-01 16:30", section_id: "1", color: "#6592c6" },
			{
			    text: "Import MTBE from 1 or 2 ports SG to TOP Sriracha ... (ETA Sriracha)", start_date: "2017-04-01 06:00", end_date: "2017-04-02 00:00", section_id: "2", color: "#f5727a",
			    activity_1: "Activity Name 02", activity_1_start: "08:00", activity_1_end: "10:00", activity_1_color: "#ef721e",
			    activity_2: "Activity Name 03", activity_2_start: "10:00", activity_2_end: "11:00", activity_2_color: "#fabb2e",
			    activity_3: "Activity Name 04", activity_3_start: "11:00", activity_3_end: "15:00", activity_3_color: "#91ab23",
			    activity_4: "Activity Name 05", activity_4_start: "15:00", activity_4_end: "19:00", activity_4_color: "#233622",
			    activity_5: "Activity Name 06", activity_5_start: "19:00", activity_5_end: "22:00", activity_5_color: "#43a4ce",
			    activity_6: "Activity Name 07", activity_6_start: "22:00", activity_6_end: "23:00", activity_6_color: "#002170",
			    activity_7: "Activity Name 08", activity_7_start: "23:00", activity_7_end: "00:00", activity_7_color: "#6e3270"
			},
			{ activity: "true", start_date: "2017-04-01 08:00", end_date: "2017-04-01 10:00", section_id: "2", color: "#ef721e" },
			{ activity: "true", start_date: "2017-04-01 10:00", end_date: "2017-04-01 11:00", section_id: "2", color: "#fabb2e" },
			{ activity: "true", start_date: "2017-04-01 11:00", end_date: "2017-04-01 15:00", section_id: "2", color: "#91ab23" },
			{ activity: "true", start_date: "2017-04-01 15:00", end_date: "2017-04-01 19:00", section_id: "2", color: "#233622" },
			{ activity: "true", start_date: "2017-04-01 19:00", end_date: "2017-04-01 22:00", section_id: "2", color: "#43a4ce" },
			{ activity: "true", start_date: "2017-04-01 22:00", end_date: "2017-04-01 23:00", section_id: "2", color: "#002170" },
			{ activity: "true", start_date: "2017-04-01 23:00", end_date: "2017-04-02 00:00", section_id: "2", color: "#6e3270" },
    		{ text: "Domestics PX 5 KT (by SMPC)", start_date: "2017-04-01 02:00", end_date: "2017-04-01 17:15", section_id: "3", color: "#cd5b5d" },
			{ text: "Domestics PX 5 KT (by SMPC)", start_date: "2017-04-01 09:00", end_date: "2017-04-02 06:30", section_id: "4", color: "#c69c6d" },
			{ text: "Import MTBE from 1 or 2 ports SG (ETA Sriracha)", start_date: "2017-04-01 03:00", end_date: "2017-04-01 13:00", section_id: "5", color: "#5fb8a3" },
			{ text: "Domestics PX 5 KT (by SMPC)", start_date: "2017-04-01 13:00", end_date: "2017-04-01 20:00", section_id: "5", color: "#6592c6" },
			{ text: "Domestics PX 5 KT (by SMPC)", start_date: "2017-04-01 02:00", end_date: "2017-04-12 17:15", section_id: "6", color: "#cd5b5d" }
	    ]
	    console.log(data);
	    scheduler.parse(data, "json");
	}

	function show(target) {
	    if (document.getElementById(target).style.display == 'block') {
	        document.getElementById(target).style.display = 'none';
	    } else {
	        document.getElementById(target).style.display = 'block';
	    }
	}

	function OnScrollDiv(div) {
	    var navline = document.getElementById("navline");
	    var vesselname = document.getElementById("vesselname");
	    var panel = document.getElementsByClassName("dhx_matrix_scell");
	    for (var i = 0, len = panel.length; i < len; i++) {
	        panel[i].style.left = +div.scrollLeft + "px";
	    }
	    navline.style.left = +div.scrollLeft + "px";
	    vesselname.style.left = +div.scrollLeft + "px";
	}

	function Search() {
	    var dateVal = $("#select-date").val();
	    var dateSplit = dateVal.split(" ");

	    SubmitSearch(dateSplit[0], dateSplit[2]);
	}

	function SubmitSearch(dateFrom, dateTo) {
	    if (dateFrom == "" || dateTo == "") {
	        return;
	    } else if (moment(dateFrom, 'DD/MM/YYYY', true).isValid() == false || moment(dateTo, 'DD/MM/YYYY', true).isValid() == false) {
	        OpenBoxPopup("Date format is incorrect.");
	        return;
	    } else if (moment(dateFrom, 'DD/MM/YYYY', true).year() <= moment(new Date()).add(-10, 'years').year()) {
	        OpenBoxPopup("Date start do not less than 10 years");
	        return;
	    } else {
	        $.urlParam = function (name) {
	            var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
	            return results[1] || 0;
	        }

	        var pType = decodeURIComponent($.urlParam('Type'));
	        //alert(pType);
	        var pDateFrom = dateFrom;
	        //alert(pDateFrom);
	        var pDateTo = dateTo;
	        //alert(pDateTo);

	        var vessel = "";

	        $("#select-vessel option:selected").each(function () {
	            vessel = vessel + $(this).val() + "|";
	        });

	        var pVessel = vessel.substr(0, vessel.length - 1);

	        var url = '@Url.Action("Search", "SchedulerCMCS")';
	        window.location.href = url + "?Type=" + pType + "&StartDate=" + pDateFrom + "&EndDate=" + pDateTo + "&MultiVesselID=" + pVessel;
	    }
	}

    function chkChecked() {
        var dupChk = document.getElementsByName("dup");
        var dubCopyHref = document.getElementsByName("dubCopy");
        var status = true;
        if (dupChk.checked) {
            return true;
        }
    }

    function onCheckDup() {
        var dupLinkField = document.getElementsByName("dupLinkField");
        var dupChk = document.getElementsByName("dup");
        var dubCopyHref = document.getElementsByName("dubCopy");
        for (var i = 0; i < dupLinkField.length; i++) {
            if (dupChk[i].checked) {
                dubCopyHref[0].setAttribute('href', dupLinkField[i].value);
                break;
            } else {
                dubCopyHref[0].setAttribute('href', "#");
            }
        }
    }

</script>

<body onload="init();">
    <div class="chart" onscroll="OnScrollDiv(this)">
        <div id="scheduler_here" class="dhx_cal_container">
            <div id="navline" class="dhx_cal_navline">
                <div class="dhx_cal_date" style="display:none;"></div>
                <div class="dhx_cal_tab" name="timeline_tab"></div>
                <div class="dhx_cal_tab" name="mTimeline_tab"></div>
                <div class="dhx_cal_dbl_date">
                    <span class="label">Date: </span>
                    <input type="text" id="select-date" class="form-control input-date-picker" value="@Model.schs_searchStartEndDate" placeholder="Select date" maxlength="24">
                </div>
                <div class="dhx_cal_dbl_search">
                    <span class="label">Vessel: </span>
                    @Html.DropDownListFor(model => model.schs_searchMultiVesselID, Model.vessel as List<SelectListItem>, new { @class = "form-control", @multiple = "multiple", @id = "select-vessel", style = "width: 300px;" })
                    <span class="glyphicon glyphicon-search btn-search" style="font-size: 14pt; cursor: pointer;" onclick="Search();return false;"></span>
                </div>
            </div>
            <div id="vesselname" class="text-vesselname">Vessel Name</div>
            <div class="dhx_cal_header"></div>
            <div class="dhx_cal_data"></div>
        </div>
    </div>

    <div class="wrapper-table">
        <div class="form-group">
            <div class="col-md-6 pull-left">
                <div class="wrapper-button">
                    <button class="btn-supplier" onclick="window.location.href='@Url.Action("Index", "SchedulerCMCS")?Type=GVanQz8ylOU=@date_param_search'">Add New Schedule<span>+</span></button>
                    @Html.ActionLink("Export", "VesselUtilizationReport", new {  }, htmlAttributes: new { @class = "btn btn-default" })
                </div>
            </div>
            <div class="col-md-6 text-right">
                <div id="dupBtn">
                    <a class="btn btn-info" href="#" id="dubCopy" name="dubCopy" role="button" onclick="chkChecked()">Copy</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="page-header">
        <h1>Schedule (DRAFT,CANCEL)</h1>
    </div>
    <div class="task-box">
        <div class="wrapper-table collapse in" id="collapseJuly">
            <table id="grdSchedule" class="table table-hover table-striped table-bordered" cellspacing="0">
                <thead>
                    <tr>
                        <th class="col-md-2">Date/Status</th>
                        <th class="col-md-2">Doc No.</th>
                        <th class="col-md-2">Vessel name</th>
                        <th class="col-md-2">TC</th>
                        <th class="col-md-2">Note</th>
                        <th class="col-md-1">Reason</th>
                        <th class="col-md-1">Duplicate</th>
                    </tr>
                </thead>
                <tbody>

                    @if (Model.schs_cmsc_trans_grid_view_model == null)
                    {
                        <tr class="waiting" data-href="#">
                            <td colspan="7">Waiting for search</td>
                        </tr>
                    }
                    else
                    {
                        if (Model.schs_cmsc_trans_grid_view_model.Count > 0)
                        {
                            foreach (var v in Model.schs_cmsc_trans_grid_view_model)
                            {
                                var newStatus = v.scht_status == "WAITING CERTIFIED" ? "WAITING ENDORSED" : v.scht_status;
                                <tr class="drafts" style="cursor: pointer;">
                                    <td class="clickable-row" data-href="@Url.Action("Index","SchedulerCMCS")?TranID=@v.Transaction_id_Encrypted&Type=@v.Type_Encrypted&Tran_Req_ID=@v.Req_transaction_id_Encrypted&DocNO=@v.Doc_no_Encrypted&Status=@v.scht_status_Encrypted@date_param_search">@v.scht_Datetime<span>@newStatus</span></td>
                                    <td class="clickable-row" data-href="@Url.Action("Index","SchedulerCMCS")?TranID=@v.Transaction_id_Encrypted&Type=@v.Type_Encrypted&Tran_Req_ID=@v.Req_transaction_id_Encrypted&DocNO=@v.Doc_no_Encrypted&Status=@v.scht_status_Encrypted@date_param_search">@v.scht_Doc_no</td>
                                    <td class="clickable-row" data-href="@Url.Action("Index","SchedulerCMCS")?TranID=@v.Transaction_id_Encrypted&Type=@v.Type_Encrypted&Tran_Req_ID=@v.Req_transaction_id_Encrypted&DocNO=@v.Doc_no_Encrypted&Status=@v.scht_status_Encrypted@date_param_search">@v.scht_vasselName</td>
                                    <td class="clickable-row" data-href="@Url.Action("Index","SchedulerCMCS")?TranID=@v.Transaction_id_Encrypted&Type=@v.Type_Encrypted&Tran_Req_ID=@v.Req_transaction_id_Encrypted&DocNO=@v.Doc_no_Encrypted&Status=@v.scht_status_Encrypted@date_param_search">@v.scht_tc</td>
                                    <td class="clickable-row" data-href="@Url.Action("Index","SchedulerCMCS")?TranID=@v.Transaction_id_Encrypted&Type=@v.Type_Encrypted&Tran_Req_ID=@v.Req_transaction_id_Encrypted&DocNO=@v.Doc_no_Encrypted&Status=@v.scht_status_Encrypted@date_param_search">@v.scht_note</td>
                                    <td class="clickable-row" data-href="@Url.Action("Index","SchedulerCMCS")?TranID=@v.Transaction_id_Encrypted&Type=@v.Type_Encrypted&Tran_Req_ID=@v.Req_transaction_id_Encrypted&DocNO=@v.Doc_no_Encrypted&Status=@v.scht_status_Encrypted@date_param_search">@v.scht_reson</td>
                                    <td>
                                        <input type="hidden" name="dupLinkField" class="form-control" value="@Url.Action("Index","SchedulerCMCS")?TranID=@v.Transaction_id_Encrypted&Type=@v.Type_Encrypted&Tran_Req_ID=@v.Req_transaction_id_Encrypted&DocNO=@v.Doc_no_Encrypted&Status=@v.scht_status_Encrypted&isDup=true" hidden="hidden" />
                                        <input name="dup" type="checkbox" value="true" onclick="onCheckDup();" />
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr class="waiting">
                                <td colspan="7">Data not found</td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
        </div>
    </div>


</body>
