﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.PurchaseEntryVesselReport
@{
    ViewBag.Title = "Purchase Entry Vessel Report";
    var mod = Model;
    Layout = "";
}
<style>
label{
    font-size: 10pt !important;
}
span{
    font-size: 10pt !important;
}
.break-word {
            width:300px; 
            overflow-wrap: break-word;
        }
</style>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Purchase Entry Vessel - Report</title>

    <script src="~/Scripts/modernizr-2.6.2.js"></script>

    <link rel="stylesheet" type="text/css" href="~/Content/js/plugins/AdminLTE/morris/morris.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/js/plugins/AdminLTE/dist/AdminLTE.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap-colorpicker/css/spectrum.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/thaioil.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/datepicker.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/daterangepicker.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/App.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/js/jquery.uploadify/jquery.uploadify.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/js/plugins/select2/select2.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="~/Content/css/bootstrap-treeview.min.css" rel="stylesheet" />
    <!--For Freeze head table-->
    <link rel="stylesheet" type="text/css" href="~/Content/css/fixed_table_rc.css" media="all" />
</head>
<body>
    <div class="main-content-area">
        <div class="main-content">
            <div class="main-content-area">
                <div class="container body-content">
                    <div style="width: 100%;padding-left:50px;padding-right:50px;">
                        <h2>Purchase Entry Vessel Report</h2>
                        <br />

                        @using (Html.BeginForm("ExportToExcel", "PurchaseEntryVessel", FormMethod.Post, new { @class = "form-horizontal" }))
                        {
                            <div class="form-group">
                                <div class="row">
                                    <table class="table" style="border-collapse:collapse;width:50%">
                                        <tbody>
                                            <tr>
                                                <td style="text-align:left;border:solid;border-width:1.5px;padding:2px;width:30%">
                                                    <label>Trip No. / BL Date:</label>
                                                </td>
                                                <td style="text-align:center;border:solid;border-width:1.5px;padding:2px;width:35%">
                                                    <label Style="margin-left:10px;margin-right:10px">@Model.sTripNo</label>
                                                </td>
                                                <td style="text-align:center;border:solid;border-width:1.5px;padding:2px;width:35%">
                                                    <label Style="margin-left:10px;margin-right:10px">@Model.sBLDate</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="text-align:left;border:solid;border-width:1.5px;padding:2px;width:30%">
                                                    <label>Crude Type / Due Date:</label>
                                                </td>
                                                <td style="text-align:center;border:solid;border-width:1.5px;padding:2px;width:35%">
                                                    <label Style="margin-left:10px;margin-right:10px">@Model.sMetNum</label>
                                                </td>
                                                <td style="text-align:center;border:solid;border-width:1.5px;padding:2px;width:35%">
                                                    <label Style="margin-left:10px;margin-right:10px">@Model.sDueDate</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="text-align:left;border:solid;border-width:1.5px;padding:2px;width:30%">
                                                    <label>Vessel / Receipt Date:</label>
                                                </td>
                                                <td style="text-align:center;border:solid;border-width:1.5px;padding:2px;width:35%">
                                                    <label Style="margin-left:10px;margin-right:10px">@Model.sVesselName</label>
                                                </td>
                                                <td style="text-align:center;border:solid;border-width:1.5px;padding:2px;width:35%">
                                                    <label Style="margin-left:10px;margin-right:10px">@Model.sPostingDate</label>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>

                                <div class="row">
                                    <table id="quantityTable" class="table" style="border-collapse:collapse;width:50%">
                                        <thead>
                                            <tr>
                                                <th style="width:100px;text-align:center;border:solid;border-width:1.5px;padding:2px;width:30%">
                                                    <span>Quantity</span>
                                                </th>
                                                <th style="width:200px;text-align:center;border:solid;border-width:1.5px;padding:2px;width:35%">
                                                    <span>B/L</span>
                                                </th>
                                                <th style="width:200px;text-align:center;border:solid;border-width:1.5px;padding:2px;width:35%">
                                                    <span>
                                                        Outturn
                                                    </span>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.QuantityList != null)
                                            {
                                                foreach (var qty in Model.QuantityList)
                                                {
                                                    <tr>
                                                        <td style="text-align:center;border:solid;border-width:1.5px;padding:2px;">
                                                            <label>@qty.QuantityUnit</label>
                                                        </td>
                                                        <td style="text-align:right;border:solid;border-width:1.5px;padding:2px;">
                                                            <label Style="margin-left:10px;margin-right:10px">@qty.QtyBL</label>
                                                        </td>
                                                        <td style="text-align:right;border:solid;border-width:1.5px;padding:2px;">
                                                            <label Style="margin-left:10px;margin-right:10px">@qty.QtyOutTurn</label>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>

                                <div class="row">
                                    <table id="PriceTable" class="table" style="border-collapse:collapse;width:100%">
                                        <thead>
                                            <tr>
                                                <th style="width:18.35%;border:solid;border-width:1.5px;padding:2px;"></th>
                                                <th style="width:15.14%;text-align:center;border:solid;border-width:1.5px;padding:2px;"><span>Unit Price (USD/BBL)</span></th>
                                                <th style="width:25.69%;text-align:center;border:solid;border-width:1.5px;padding:2px;" colspan="2"><span>Supplier</span></th>
                                                <th style="width:13.76%;text-align:center;border:solid;border-width:1.5px;padding:2px;"><span>Total (USD)</span></th>
                                                <th style="width:7.34%;text-align:center;border:solid;border-width:1.5px;padding:2px;"><span>ROE (BL/Date)</span></th>
                                                <th style="width:21.10%;text-align:center;border:solid;border-width:1.5px;padding:2px;" colspan="2"><span>Total (THB)</span></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td style="text-align:left;border:solid;border-width:1.5px;padding:2px;">
                                                    <span style="text-align:right;">1. FOB</span>
                                                </td>
                                                <td style="text-align:right;border:solid;border-width:1.5px;padding:2px;">
                                                    <label>@Model.PriceList.FOBPriceUSD</label>
                                                </td>
                                                <td colspan="2" style="text-align:left;border:solid;border-width:1.5px;padding:2px;">
                                                    <label class="break-word">@Model.PriceList.FOBSupplier</label>
                                                </td>
                                                <td style="text-align:right;border:solid;border-width:1.5px;padding:2px;">
                                                    <label>@Model.PriceList.FOBTotalUSD</label>
                                                </td>
                                                <td style="text-align:right;border:solid;border-width:1.5px;padding:2px;">
                                                    <label>@Model.PriceList.FOBROE</label>
                                                </td>
                                                <td colspan="2" style="text-align:right;border:solid;border-width:1.5px;padding:2px;">
                                                    <label>@Model.PriceList.FOBTotalTHB</label>
                                                </td>
                                            </tr>
                                            @if (Model.FreightList.Count() > 0)
                                            {
                                                var i = 0;
                                                foreach (var item in Model.FreightList)
                                                {
                                                    <tr>
                                                        @if (i == 0)
                                                        {
                                                            <td style="text-align:left;border:solid;border-width:1.5px;padding:2px;"><span>2. FRT</span></td>
                                                            <td style="text-align:right;border:solid;border-width:1.5px;padding:2px;">
                                                                <label>@Model.PriceList.FRTPriceUSD</label>
                                                            </td>
                                                        }
                                                        else
                                                        {
                                                            <td style="border:solid;border-width:1.5px;padding:2px;"></td>
                                                            <td style="border:solid;border-width:1.5px;padding:2px;"></td>
                                                        }
                                                        <td colspan="2" style="text-align:left;border:solid;border-width:1.5px;padding:2px;">
                                                            <label class="break-word">@item.FRTSupplierTxt</label>
                                                        <td style="text-align:right;border:solid;border-width:1.5px;padding:2px;">
                                                            <label>@item.FRTTotalUSD</label>
                                                        </td>
                                                        <td style="text-align:right;border:solid;border-width:1.5px;padding:2px;">
                                                            <label>@item.FRTROE</label>
                                                        </td>
                                                        <td colspan="2" style="text-align:right;border:solid;border-width:1.5px;padding:2px;">
                                                            <label>@item.FRTTotalTHB</label>
                                                        </td>
                                                    </tr>
                                                    i++;
                                                }
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td style="text-align:left;border:solid;border-width:1.5px;padding:2px;"><span>2. FRT</span></td>
                                                    <td style="border:solid;border-width:1.5px;padding:2px;"></td>
                                                    <td colspan="2" style="border:solid;border-width:1.5px;padding:2px;"></td>
                                                    <td style="border:solid;border-width:1.5px;padding:2px;"></td>
                                                    <td style="border:solid;border-width:1.5px;padding:2px;"></td>
                                                    <td colspan="2" style="border:solid;border-width:1.5px;padding:2px;"></td>
                                                </tr>
                                            }
                                            <tr>
                                                <td style="border:solid;border-width:1.5px;padding:2px;"></td>
                                                <td style="border:solid;border-width:1.5px;padding:2px;"></td>
                                                <td colspan="2" style="text-align:left;border:solid;border-width:1.5px;padding:2px;">
                                                    <span>Total FRT</span>
                                                </td>
                                                <td style="text-align:right;border:solid;border-width:1.5px;padding:2px;">
                                                    <label>@Model.PriceList.FRTTotalUSD</label>
                                                </td>
                                                <td style="border:solid;border-width:1.5px;padding:2px;"></td>
                                                <td colspan="2" style="text-align:right;border:solid;border-width:1.5px;padding:2px;">
                                                    <label>@Model.PriceList.FRTTotalTHB</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="border:solid;border-width:1.5px;padding:2px;"></td>
                                                <td style="border:solid;border-width:1.5px;padding:2px;"></td>
                                                <td colspan="2" style="text-align:left;border:solid;border-width:1.5px;padding:2px;">
                                                    <span>Total FOB + FRT</span>
                                                </td>
                                                <td style="text-align:right;border:solid;border-width:1.5px;padding:2px;">
                                                    <label>@Model.PriceList.FOBFRTTotalUSD</label>
                                                </td>
                                                <td style="border:solid;border-width:1.5px;padding:2px;"></td>
                                                <td colspan="2" style="text-align:right;border:solid;border-width:1.5px;padding:2px;">
                                                    <label>@Model.PriceList.FOBFRTTotalTHB</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="text-align:left;border:solid;border-width:1.5px;padding:2px;">
                                                    <span>3. INS.</span>
                                                </td>
                                                <td style="text-align:right;border:solid;border-width:1.5px;padding:2px;">
                                                    <label>@Model.PriceList.INSPriceUSD</label>
                                                </td>
                                                <td colspan="2" style="text-align:left;border:solid;border-width:1.5px;padding:2px;">
                                                    <span>INSURANCE</span>
                                                </td>
                                                <td style="text-align:right;border:solid;border-width:1.5px;padding:2px;">
                                                    <label>@Model.PriceList.INSTotalUSD</label>
                                                </td>
                                                <td style="border:solid;border-width:1.5px;padding:2px;"></td>
                                                <td colspan="2" style="border:solid;border-width:1.5px;padding:2px;"></td>
                                            </tr>
                                            <tr>
                                                <td style="text-align:right;border:solid;border-width:1.5px;padding:2px;">
                                                    <label>@Model.PriceList.InsuranceRate</label>
                                                </td>
                                                <td style="border:solid;border-width:1.5px;padding:2px;"></td>
                                                <td colspan="2" style="text-align:left;border:solid;border-width:1.5px;padding:2px;">
                                                    <span>STAMP DUTY</span>
                                                </td>
                                                <td style="text-align:right;border:solid;border-width:1.5px;padding:2px;">
                                                    <label>@Model.PriceList.StampDutyTotalUSD</label>
                                                </td>
                                                <td style="border:solid;border-width:1.5px;padding:2px;"></td>
                                                <td colspan="2" style="border:solid;border-width:1.5px;padding:2px;"></td>
                                            </tr>
                                            <tr>
                                                <td style="text-align:right;border:solid;border-width:1.5px;padding:2px;">
                                                    <label>@Model.PriceList.InsStampDutyRate</label>
                                                </td>
                                                <td style="border:solid;border-width:1.5px;padding:2px;"></td>
                                                <td colspan="2" style="border:solid;border-width:1.5px;padding:2px;"></td>
                                                <td style="border:solid;border-width:1.5px;padding:2px;"></td>
                                                <td style="border:solid;border-width:1.5px;padding:2px;"></td>
                                                <td colspan="2" style="border:solid;border-width:1.5px;padding:2px;"></td>
                                            </tr>
                                            <tr>
                                                <td style="text-align:left;border:solid;border-width:1.5px;padding:2px;">
                                                    <span>LOSS (GAIN)</span>
                                                </td>
                                                <td style="text-align:right;border:solid;border-width:1.5px;padding:2px;">
                                                    <label>@Model.PriceList.LossGain</label>
                                                </td>
                                                <td colspan="2" style="text-align:left;border:solid;border-width:1.5px;padding:2px;">
                                                    <span>MRC INSURANCE</span>
                                                </td>
                                                <td style="text-align:right;border:solid;border-width:1.5px;padding:2px;">
                                                    <label>@Model.PriceList.MRCInsTotalUSD</label>
                                                </td>
                                                <td style="text-align:right;border:solid;border-width:1.5px;padding:2px;">
                                                    <label>@Model.PriceList.MRCInsROE</label>
                                                </td>
                                                <td colspan="2" style="text-align:right;border:solid;border-width:1.5px;padding:2px;">
                                                    <label>@Model.PriceList.MRCInsTotalTHB</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="text-align:left;border:solid;border-width:1.5px;padding:2px;">
                                                    <span>TOTAL CIF VALUE</span>
                                                </td>
                                                <td style="text-align:right;border:solid;border-width:1.5px;padding:2px;">
                                                    <label>@Model.PriceList.TotalCIFPriceUSD</label>
                                                </td>
                                                <td colspan="2" style="border:solid;border-width:1.5px;padding:2px;"></td>
                                                <td style="text-align:right;border:solid;border-width:1.5px;padding:2px;">
                                                    <label>@Model.PriceList.TotalCIFTotalUSD</label>
                                                </td>
                                                <td style="border:solid;border-width:1.5px;padding:2px;"></td>
                                                <td colspan="2" style="text-align:right;border:solid;border-width:1.5px;padding:2px;">
                                                    <label>@Model.PriceList.TotalCIFTotalTHB</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="text-align:left;border:solid;border-width:1.5px;padding:2px;"><span>REMARK </span></td>
                                                <td style="text-align:left;border:solid;border-width:1.5px;padding:2px;"><span>DIFF </span></td>
                                                <td colspan="2" style="text-align:left;border:solid;border-width:1.5px;padding:2px;"><span>FOB </span></td>
                                                <td style="text-align:right;border:solid;border-width:1.5px;padding:2px;">
                                                    <label>@Model.PriceList.RemarkFOBUSD</label>
                                                </td>
                                                <td style="border:solid;border-width:1.5px;padding:2px;"></td>
                                                <td colspan="2" style="text-align:right;border:solid;border-width:1.5px;padding:2px;">
                                                    <label>@Model.PriceList.RemarkFOBTHB</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="border:solid;border-width:1.5px;padding:2px;"></td>
                                                <td style="border:solid;border-width:1.5px;padding:2px;"></td>
                                                <td colspan="2" style="text-align:left;border:solid;border-width:1.5px;padding:2px;"><span>FRT </span></td>
                                                <td style="text-align:right;border:solid;border-width:1.5px;padding:2px;">
                                                    <label>@Model.PriceList.RemarkFRTUSD</label>
                                                </td>
                                                <td style="border:solid;border-width:1.5px;padding:2px;"></td>
                                                <td colspan="2" style="text-align:right;border:solid;border-width:1.5px;padding:2px;">
                                                    <label>@Model.PriceList.RemarkFRTTHB</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="border:solid;border-width:1.5px;padding:2px;"></td>
                                                <td style="border:solid;border-width:1.5px;padding:2px;"></td>
                                                <td colspan="2" style="text-align:left;border:solid;border-width:1.5px;padding:2px;"><span>INS </span></td>
                                                <td style="text-align:right;border:solid;border-width:1.5px;padding:2px;">
                                                    <label>@Model.PriceList.RemarkINSUSD</label>
                                                </td>
                                                <td style="border:solid;border-width:1.5px;padding:2px;"></td>
                                                <td colspan="2" style="text-align:right;border:solid;border-width:1.5px;padding:2px;">
                                                    <label>@Model.PriceList.RemarkINSTHB</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="border:solid;border-width:1.5px;padding:2px;"></td>
                                                <td style="border:solid;border-width:1.5px;padding:2px;"></td>
                                                <td colspan="2" style="text-align:left;border:solid;border-width:1.5px;padding:2px;"><span>IMPORT DUTY </span></td>
                                                <td style="text-align:right;border:solid;border-width:1.5px;padding:2px;">
                                                    <label>@Model.PriceList.RemarkImportDutyUSD</label>
                                                </td>
                                                <td style="text-align:right;border:solid;border-width:1.5px;padding:2px;">
                                                    <label>@Model.PriceList.RemarkImportDutyROE</label>
                                                </td>
                                                <td colspan="2" style="text-align:right;border:solid;border-width:1.5px;padding:2px;">
                                                    <label>@Model.PriceList.RemarkImportDutyTHB</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="border:solid;border-width:1.5px;padding:2px;"></td>
                                                <td style="border:solid;border-width:1.5px;padding:2px;"></td>
                                                <td colspan="2" style="text-align:left;border:solid;border-width:1.5px;padding:2px;"><span>TOTAL </span></td>
                                                <td style="text-align:right;border:solid;border-width:1.5px;padding:2px;">
                                                    <label>@Model.PriceList.RemarkTotalUSD</label>
                                                </td>
                                                <td style="border:solid;border-width:1.5px;padding:2px;"></td>
                                                <td colspan="2" style="text-align:right;border:solid;border-width:1.5px;padding:2px;">
                                                    <label>@Model.PriceList.RemarkTotalTHB</label>
                                                </td>
                                            </tr>
                                            @if (Model.PriceSupplierList != null)
                                            {

                                                foreach (var item in Model.PriceSupplierList)
                                                {
                                                    <tr>
                                                        <td style="text-align:left;border:solid;border-width:1.5px;padding:2px;" nowrap>
                                                            <label>@item.txtSupplierName</label>
                                                        </td>
                                                        <td style="text-align:right;border:solid;border-width:1.5px;padding:2px;">
                                                            <label>@item.VolumeBBL</label>
                                                        </td>
                                                        <td style="text-align:right;border:solid;border-width:1.5px;padding:2px;">
                                                            <label>@item.PriceUnitUSD</label>
                                                        </td>
                                                        <td style="text-align:center;border:solid;border-width:1.5px;padding:2px;">
                                                            <label>@item.PriceStatus</label>
                                                        </td>
                                                        <td style="text-align:right;border:solid;border-width:1.5px;padding:2px;">
                                                            <label>@item.PriceTotalUSD</label>
                                                        </td>
                                                        <td style="text-align:right;border:solid;border-width:1.5px;padding:2px;">
                                                            <label>@item.ROE</label>
                                                        </td>
                                                        <td style="text-align:right;border:solid;border-width:1.5px;padding:2px;">
                                                            <label>@item.PriceTotalTHB</label>
                                                        </td>
                                                        <td style="text-align:center;color:red;border:solid;border-width:1.5px;padding:2px;;border-color:black">
                                                            <label>@item.InvoiceNo</label>
                                                        </td>
                                                    </tr>
                                                }
                                                <tr>
                                                    <td style="text-align:center;border:solid;border-width:1.5px;padding:2px;"><span>Total</span></td>
                                                    <td style="text-align:right;border:solid;border-width:1.5px;padding:2px;">
                                                        <label>@Model.PriceSupplierList[0].NetTotalVolumeBBL</label>
                                                    </td>
                                                    <td colspan="2" style="border:solid;border-width:1.5px;padding:2px;"></td>
                                                    <td style="text-align:right;border:solid;border-width:1.5px;padding:2px;">
                                                        <label>@Model.PriceSupplierList[0].NetTotalPriceBBLUSD</label>
                                                    </td>
                                                    <td style="border:solid;border-width:1.5px;padding:2px;"></td>
                                                    <td colspan="2" style="text-align:right;border:solid;border-width:1.5px;padding:2px;">
                                                        <label>@Model.PriceSupplierList[0].NetTotalPriceBBLTHB</label>
                                                    </td>
                                                </tr>
                                            }

                                        </tbody>
                                    </table>
                                </div>

                                @*<br />
    <div>
        <input id="btnExcel" type="button" class="btn btn-success" value="Export to Excel" onclick="funcTest()" />
        </div>*@

                            </div>
                        }
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
</html>
