﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.PortViewModel
@{
    ViewBag.Title = "Search PORT";
}

@using (Html.BeginForm("Search", "Port", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="page-header">
        <h1>Port</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label col-sm-2">PORT ID:</label>
                <div class="col-sm-4">
                    @Html.TextBoxFor(model => model.port_Search.sPortID, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">PORT NAME:</label>
                <div class="col-sm-4">
                    @Html.TextBoxFor(model => model.port_Search.sPortName, htmlAttributes: new { @class = "form-control" })
                </div>

                <label class="control-label col-sm-2">CREATE TYPE:</label>
                <div class="col-sm-4">
                    @Html.DropDownListFor(model => model.port_Search.sCreateType, new SelectList(Model.ddl_CreateType, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">SYSTEM:</label>
                <div class="col-sm-4">
                    @Html.DropDownListFor(model => model.port_Search.sSystem, new SelectList(Model.ddl_System, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                </div>

                <label class="control-label col-sm-2">STATUS:</label>
                <div class="col-sm-4">
                    @Html.DropDownListFor(model => model.port_Search.sStatus, new SelectList(Model.ddl_Status, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="pull-left">
                    @if (ViewBag.action_create)
                    {
                        @Html.ActionLink("Add", "Create", new { controller = "Port" }, new { @class = "btn btn-success" })
                    }
                </div>
                <div class="pull-right">
                    @if (ViewBag.action_search)
                    {
                        <button type="submit" class="btn btn-primary">Search</button>
                    }
                </div>
            </div>
        </div>
    </div>
}

<div class="page-header">
    <h1>Search Result</h1>
</div>
<table id="searchResultTable" class="table table-hover display" cellspacing="0">
    <thead>
        <tr>
            <th>PORT ID</th>
            <th>PORT NAME</th>
            <th>REMARK</th>
            <th>SYSTEM</th>
            <th>CREATE TYPE</th>
            <th>STATUS</th>
            <th>ACTION</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.port_Search == null)
        {

            <tr class="waiting">
                <td colspan="7">Waiting for search</td>
            </tr>

        }
        else
        {
            if (Model.port_Search.sSearchData.Count > 0)
            {
                foreach (var v in Model.port_Search.sSearchData)
                {
                    <tr>
                       
                        <td>@v.dPortID</td>
                        <td>@v.dPortName</td>
                        <td>@v.dRemark</td>
                        <td>@v.dSystem</td>
                        <td>@v.dCreateType</td>
                        <td>@v.dStatus</td>
                        <td width="100px">
                            @if (ViewBag.action_view)
                            {
                                <a href="@Url.Action("ViewDetail", "Port", new { portID = @v.dPortID })" title="View Detail">
                                    <img alt="Widget View" src="@Url.Content("../../Content/images/1480695949_file.png")"></a>
                            }
                            @if (ViewBag.action_edit)
                            {
                                <a href="@Url.Action("Edit", "Port", new { portID = @v.dPortID })" title="Edit">
                                    <img alt="Widget View" src="@Url.Content("../../Content/images/1480695860_edit.png")"></a>
                            }
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $('#searchResultTable').DataTable({
            "columnDefs": [
                //Disble sort on Action Colum
                {
                    "targets": [6],
                    "orderable": false
                }
            ]
        });
    });
</script>