﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.HedgingTicketViewModel
  
<div class="form-horizontal">
    <div class="row">
        <div class="form-group">
            <div class="col-md-6">
                <label class="col-sm-4 control-label">Deal no.</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.search_deal.deal_no, htmlAttributes: new { @class = "form-control", @id = "sdeal_no" })
                </div>
            </div>
            <div class="col-md-6">
                <label class="col-sm-4 control-label">Deal Date</label>
                <div class="col-sm-8">
                    <div class="box-date">
                        @Html.TextBoxFor(model => model.search_deal.deal_date, new { @class = "form-control input-date-picker", @placeholder = "DD/MM/YYYY to DD/MM/YYYY", @id = "sdeal_date" })
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <label class="col-sm-4 control-label">Deal type<span style="color:red">*</span></label>
                <div class="col-sm-8">
                    @Html.DropDownListFor(model => model.search_deal.sDeal_type, new SelectList(Model.search_deal.deal_type, "Value", "Text"), "-- Select --", new { @class = "form-control", @id = "sdeal_type" })
                    <span id="spnDeal_type" style="color:red;display:none;">Deal type is require</span>
                </div>
            </div>
            <div class="col-md-6">
                <label class="col-sm-4 control-label">Tool<span style="color:red">*</span></label>
                <div class="col-sm-8">
                    @Html.DropDownListFor(model => model.search_deal.sTool, new SelectList(Model.search_deal.tool, "Value", "Text"), "-- Select --", new { @class = "form-control", id = "sTool" })
                    <span id="spnTool" style="color:red;display:none;">Tool is require</span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6">
                <label class="col-sm-4 control-label">Underlying<span style="color:red">*</span></label>
                <div class="col-sm-8">
                    @Html.DropDownListFor(model => model.search_deal.sUnderlying, new SelectList(Model.search_deal.underlying, "Value", "Text"), "-- Select --", new { @class = "form-control", id = "sUnderlying" })
                    <span id="spnUnderlying" style="color:red;display:none;">Underlying is require</span>
                </div>
            </div>
            <div class="col-md-6">
                <label class="col-sm-4 control-label">Hedge Type<span style="color:red">*</span></label>
                <div class="col-sm-8">
                    @Html.DropDownListFor(model => model.search_deal.sHedgeType, new SelectList(Model.search_deal.hegingType, "Value", "Text"), "-- Select --", new { @class = "form-control", id = "sHegingType" })
                    <span id="spnHegingType" style="color:red;display:none;">Hedge Type is require</span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <label class="col-sm-4 control-label">VS</label>
                <div class="col-sm-8">
                    @Html.DropDownListFor(model => model.search_deal.sVS, new SelectList(Model.search_deal.vS, "Value", "Text"), "-- Select --", new { @class = "form-control", id = "sVS" })
                </div>
            </div>
            <div class="col-md-6">
                <input type="submit" value="SEARCH" class="button btn-default" onclick="SearchDeal();return false;" />
            </div>
        </div>
        <div class="col-sm-12">

            <table id="datatable" class="table table-bordered">
                <thead>
                    <tr>
                        <th>Deal no.</th>
                        <th>Deal date</th>
                        <th>Deal Type</th>
                        <th>Tool</th>
                        <th>Underlying</th>
                        <th>Hedge Type</th>
                        <th>Annual Active Date</th>
                        <th>Annual Id</th>
                        <th><input name="select_box" id="checkall" type="checkbox" value="true" onclick="selectall();" /></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.search_deal.search_deal_list == null)
                    {
                        <tr class="waiting">
                            <td colspan="9">Waiting for search</td>
                        </tr>
                    }
                </tbody>
            </table>
             
        </div>
    </div>
    @Html.HiddenFor(m => m.pageMode)
    @Html.HiddenFor(m =>m.systemType)
</div>
<script>
    $(document).ready(function () {
        if ('@ViewBag.SearchDeal' == "TRUE")
        {
            SearchDeal();
        }
        $('#sdeal_date').dateRangePicker(
        {
            autoClose: true,
            startOfWeek: 'monday',
            format: 'DD/MM/YYYY',
        });
    });

    function selectall() {
        if (document.getElementById('checkall').checked) {
            $("#checkall").checked
            $('input[name="checklist"]').prop('checked', true);
        }
        else {
            $('input[name="checklist"]').prop('checked', false);
        }
    }

    function SearchDeal() {
        $('#spnDeal_type').css('display', 'none');
        $('#spnTool').css('display', 'none');
        $('#spnUnderlying').css('display', 'none');
        $('#spnHegingType').css('display', 'none');
        if ($('#sdeal_type').val() == "" || $('#sTool').val() == "" || $('#sUnderlying').val() == "" || $('#sHegingType').val() == "") {
            $('#spnDeal_type').css('display', 'block');
            $('#spnTool').css('display', 'block');
            $('#spnUnderlying').css('display', 'block');
            $('#spnHegingType').css('display', 'block');
            if ($('#sdeal_type').val() != "") {
                $('#spnDeal_type').css('display', 'none');
            }
            if ($('#sTool').val() != "") {
                $('#spnTool').css('display', 'none');
            }
            if ($('#sUnderlying').val() != "") {
                $('#spnUnderlying').css('display', 'none');
            }
            if ($('#sHegingType').val() != "") {
                $('#spnHegingType').css('display', 'none');
            }
        } else {
            LoadingProcess();
            var value = {
                deal_no: $('#sdeal_no').val(),
                deal_Date: $('#sdeal_date').val(),
                deal_Type: $('#sdeal_type').val(),
                tool: $('#sTool').val(),
                underlying: $('#sUnderlying').val(),
                vS: $('#sVS').val(),
                hegingType: $('#sHegingType').val(),
                systemType: $('#systemType').val(),
            }
            var urlSearch = "@Html.Raw( @Url.Action("SearchDeal", "HedgingTicket"))";
            HideLoadingBox();
            $.ajax({
                type: "POST",
                url: urlSearch,
                data: JSON.stringify(value),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    AddResult(data.search_deal.search_deal_list, data.dealList)
                }
            });
        }
    }

    function AddResult(deallist, oldDeal) { 
        console.log(oldDeal); 
            $('#datatable').DataTable({
                "destroy": true,
                "data": deallist,
                searching: false, paging: true,
                "columns": [
                    { "data": null, "className": "dt-body-center", "mRender": function (data) { return data.deal_no } },
                    { "data": null, "className": "dt-body-center", "mRender": function (data) { return data.deal_date } },
                    { "data": null, "className": "dt-body-center", "mRender": function (data) { return data.deal_type } },
                    { "data": null, "className": "dt-body-center", "mRender": function (data) { return data.tool } },
                    { "data": null, "className": "dt-body-center", "mRender": function (data) { return data.underlying } },
                    { "data": null, "className": "dt-body-center", "mRender": function (data) { return data.hedging_type } },
                    { "data": null, "className": "dt-body-center", "mRender": function (data) { return data.date_active } },
                    { "data": null, "className": "dt-body-center", "mRender": function (data) { return data.annual_id } },
                    {
                        //"data": null, "className": "dt-body-center", "bSortable": false, "mRender": function (data) {
                        //    var checkboxlist = '<input type="checkbox" name="checklist" value="' + data.annual_id + '"  onchange="funcChkAnnual(this.value);">';
                        //    return checkboxlist;
                        //}
                        "data": null, "className": "dt-body-center", "bSortable": false, "mRender": function (data) {
                             
                            var checkboxlist = "";
                            if (oldDeal != null)
                            {
                                for (var j = 0; j < oldDeal.length; j++) {
                                    if (data.deal_no == oldDeal[j]) {
                                        checkboxlist = '<input type="checkbox" id="' + data.deal_no + '" name="checklist" value="' + data.annual_id + ' " checked>';
                                        break;
                                    }
                                    else {
                                        checkboxlist = '<input type="checkbox" id="' + data.deal_no + '" name="checklist" value="' + data.annual_id + '">';
                                    }
                                }
                            } else
                            {
                                checkboxlist = '<input type="checkbox" id="' + data.deal_no + '" name="checklist" value="' + data.annual_id + '">';
                            }                            
                            return checkboxlist;
                        }
                    }
                ],
                "columnDefs": [
                {
                    "targets": [7],
                    "visible": false,
                },
                ]
            }); 
    }
     
</script>