﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.VehicleViewModel
@{
    ViewBag.Title = "Search Vehicle";
}

@using (Html.BeginForm("Search", "Vehicle", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="page-header">
        <h1>Vehicle</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label col-sm-2">VEH ID :</label>
                <div class="col-sm-4">
                    @Html.TextBoxFor(model => model.veh_Search.sVehicleID, htmlAttributes: new { @class = "form-control" })
                </div>

                <label class="control-label col-sm-2">VEH NAME :</label>
                <div class="col-sm-4">
                    @Html.TextBoxFor(model => model.veh_Search.sVehicleName, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">VEH TEXT :</label>
                <div class="col-sm-4">
                    @Html.TextBoxFor(model => model.veh_Search.sVehicleText, htmlAttributes: new { @class = "form-control" })
                </div>

                <label class="control-label col-sm-2">CREATE TYPE :</label>
                <div class="col-sm-4">
                    @Html.DropDownListFor(model => model.veh_Search.sCreateType, new SelectList(Model.ddl_CreateType, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">SYSTEM :</label>
                <div class="col-sm-4">
                    @Html.DropDownListFor(model => model.veh_Search.sSystem, new SelectList(Model.ddl_CtrlSystem, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                </div>

                <label class="control-label col-sm-2">TYPE :</label>
                <div class="col-sm-4">
                    @Html.DropDownListFor(model => model.veh_Search.sType , new SelectList(Model.ddl_CtrlType, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">CREATE DATE :</label>
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.veh_Search.sCreateDate, new { @id = "date-range-start", @class = "form-control input-date-picker date-range-start ", @placeholder = "DD/MM/YYYY to DD/MM/YYYY", @maxlength = "24" })
                </div>

                <label class="control-label col-sm-2">STATUS :</label>
                <div class="col-sm-4">
                    @Html.DropDownListFor(model => model.veh_Search.sStatus, new SelectList(Model.ddl_Status, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="pull-left">
                    @if (ViewBag.action_create)
                    {
                        @Html.ActionLink("Add", "Create", new { controller = "Vehicle" }, new { @class = "btn btn-success" })
                    }
                </div>
                <div class="pull-right">
                    @if (ViewBag.action_search)
                    {
                        <button type="submit" class="btn btn-primary">Search</button>
                    }
                </div>
            </div>
        </div>
    </div>
}

<div class="page-header">
    <h1>Search Result</h1>
</div>
<table id="searchResultTable" class="table table-hover display" cellspacing="0">
    <thead>
        <tr>
            <th>VEH ID</th>
            <th>VEH NAME</th>
            <th>VEH TEXT</th>
            <th>CREATE TYPE</th>
            <th>SYSTEM</th>
            <th>TYPE</th>
            <th>CREATE DATE</th>
            <th>STATUS</th>
            <th>ACTION</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.veh_Search == null)
        {

            <tr class="waiting">
                <td colspan="9">Waiting for search</td>
            </tr>

        }
        else
        {
            if (Model.veh_Search.sSearchData.Count > 0)
            {
                foreach (var v in Model.veh_Search.sSearchData)
                {
                    <tr>
                       
                        <td>@v.dVehicleID</td>
                        <td>@v.dVehicleName</td>
                        <td>@v.dVehicleText</td>
                        <td>@v.dCreateType</td>
                        <td>@v.dSystem</td>
                        <td>@v.dType</td>
                        <td>@v.dCreateDate</td>
                        <td>@v.dStatus</td>
                        <td width="100px">
                            @if (ViewBag.action_view)
                            {
                                <a href="@Url.Action("View", "Vehicle", new { VehicleID = @v.dVehicleID  })" title="View Detail">
                                    <img alt="Widget View" src="@Url.Content("../../Content/images/1480695949_file.png")">
                                </a>
                            }
                            @if (ViewBag.action_edit)
                            {
                                <a href="@Url.Action("Edit", "Vehicle", new { VehicleID = @v.dVehicleID })" title="Edit">
                                    <img alt="Widget View" src="@Url.Content("../../Content/images/1480695860_edit.png")">
                                </a>
                            }
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>

<script>
    $(function () {
        $('#date-range-start').dateRangePicker(
        {
            startOfWeek: 'monday',
            format: 'DD/MM/YYYY',
        });
        //$('#laycanDateSelect').dateRangePicker(
        //{
        //    startOfWeek: 'monday',
        //    format: 'DD-MM-YYYY',
        //});
        //$('#example').DataTable();
    });


    $(document).ready(function () {
        $('#searchResultTable').DataTable({
            "columnDefs": [
                //Disble sort on Action Colum
                {
                    "targets": [8],
                    "orderable": false
                }
            ]
        });
    });
</script>