﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@ViewBag.Title</title>
    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />*@
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    
    <link rel="stylesheet" type="text/css" href="~/Content/js/plugins/AdminLTE/morris/morris.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/js/plugins/AdminLTE/dist/AdminLTE.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap-colorpicker/css/spectrum.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/thaioil.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/datepicker.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/daterangepicker.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/App.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/js/jquery.uploadify/jquery.uploadify.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/js/plugins/select2/select2.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/dataTables.bootstrap.min.css" />
    <link href="~/Content/font-awesome-4.0.1/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="~/Content/css/bootstrap-treeview.min.css" rel="stylesheet" />
    <!--For Freeze head table-->
    <link rel="stylesheet" type="text/css" href="~/Content/css/fixed_table_rc.css" media="all" />
    <!--For Insert stylesheet form view-->
    @RenderSection("HeadStyle", required: false)

    <style type="text/css">
        .btn-default {
            color: #fff;
            background-color: #808080;
            border-color: #cccccc;
        }

            .btn-default:hover,
            .btn-default:focus,
            .btn-default:active,
            .btn-default.active,
            .open .dropdown-toggle.btn-default {
                color: #808080;
                background-color: #ebebeb;
                border-color: #adadad;
            }

            .btn-default:active,
            .btn-default.active,
            .open .dropdown-toggle.btn-default {
                background-image: none;
            }
    </style>
    <style type="text/css">
        .PriceOfferTable {
            width: 100%;
        }

            .PriceOfferTable .HeaderTable td {
                /*background-color: silver;*/
                text-align: center;
                font-weight: bold;
                vertical-align: middle;
            }

        .uploadifyQueueItem {
            width: 550px;
        }

        .uploadifyQueueItemExpain {
            width: 550px;
        }

        .fileName {
            cursor: pointer;
        }

        .glyphicon-remove {
            cursor: pointer;
        }

        .ui-autocomplete-loading {
            background: white url("~/Content/images/ui-anim_basic_16x16.gif") right center no-repeat;
        }

        .acidjs-css3-treeview,
.acidjs-css3-treeview *
{
    padding: 0;
    margin: 0;
    list-style: none;
}
 
.acidjs-css3-treeview label[for]::before,
.acidjs-css3-treeview label span::before
{
    content: "\25b6";
    display: inline-block;
    margin: 2px 0 0;
    width: 13px;
    height: 13px;
    vertical-align: top;
    text-align: center;
    color: #e74c3c;
    font-size: 8px;
    line-height: 13px;
}
 
.acidjs-css3-treeview li ul
{
    margin: 0 0 0 22px;
}
 
.acidjs-css3-treeview *
{
    vertical-align: middle;
}
 
.acidjs-css3-treeview
{
    font: normal 11px/16px "Segoe UI", Arial, Sans-serif;
}
 
.acidjs-css3-treeview li
{
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
 
.acidjs-css3-treeview input[type="checkbox"]
{
    display: none;
}
 
.acidjs-css3-treeview label
{
    cursor: pointer;
}
 
.acidjs-css3-treeview label[for]::before
{
    -webkit-transform: translatex(-24px);
    -moz-transform: translatex(-24px);
    -ms-transform: translatex(-24px);
    -o-transform: translatex(-24px);
    transform: translatex(-24px);
}
 
.acidjs-css3-treeview label span::before
{
    -webkit-transform: translatex(16px);
    -moz-transform: translatex(16px);
    -ms-transform: translatex(16px);
    -o-transform: translatex(16px);
    transform: translatex(16px);
}
 
.acidjs-css3-treeview input[type="checkbox"][id]:checked ~ label[for]::before
{
    content: "\25bc";
}
 
.acidjs-css3-treeview input[type="checkbox"][id]:not(:checked) ~ ul
{
    display: none;
}
 
.acidjs-css3-treeview label:not([for])
{
    margin: 0 8px 0 0;
}
 
.acidjs-css3-treeview label span::before
{
    content: "";
    border: solid 1px #1375b3;
    color: #1375b3;
    opacity: .50;
}
 
.acidjs-css3-treeview label input:checked + span::before
{
    content: "\2714";
    box-shadow: 0 0 2px rgba(0, 0, 0, .25) inset;
    opacity: 1;
}

    </style>


    <script type="text/javascript" src="~/Content/js/jquery-1.12.2.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- <script type="text/javascript" src="js/jquery-3.1.0.min.js"></script> -->
    <script type="text/javascript" src="~/Content/js/tinymce.min.js"></script>
    <script type="text/javascript" src="~/Content/js/moment.js"></script>
    <script type="text/javascript" src="~/Content/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.js"></script>
    <script type="text/javascript" src="~/Content/bootstrap-colorpicker/js/spectrum.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.daterangepicker.min.js"></script>
    <script type="text/javascript" src="~/Content/js/bootbox.min.js"></script>
    <script type="text/javascript" src="~/Content/js/App.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.uploadify/swfobject.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.uploadify/jquery.uploadify.js"></script>
    <script type="text/javascript" src="~/Content/js/plugins/select2/select2.min.js"></script>
    <script type="text/javascript" src="~/Content/js/plugins/dist/prettify.js"></script>
    <script type="text/javascript" src="~/Content/js/plugins/dist/js/bootstrap-multiselect.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Content/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/js/plugins/AdminLTE/raphale.js"></script>
    <script type="text/javascript" src="~/Content/js/plugins/AdminLTE/morris/morris.min.js"></script>

    <link href="~/Content/plunk-colorpicker/jquery.simplecolorpicker.css" rel="stylesheet" />
    <link href="~/Content/plunk-colorpicker/jquery.simplecolorpicker-regularfont.css" rel="stylesheet" />
    <link href="~/Content/plunk-colorpicker/jquery.simplecolorpicker-glyphicons.css" rel="stylesheet" />
    <link href="~/Content/plunk-colorpicker/jquery.simplecolorpicker-fontawesome.css" rel="stylesheet" />
    <script src="~/Content/plunk-colorpicker/jquery.simplecolorpicker.js"></script>
    <script src="~/Content/js/bootstrap-treeview.min.js"></script>
    <script src="~/Content/js/bootstrap-datepicker.js"></script>

    <!--For Vlidate-->
    <script src="~/Content/js/jquery.validate.min.js"></script>
    <script src="~/Content/js/additional-methods.min.js"></script>

    <!--For Insert Javascript form view-->
    @RenderSection("HeadScript", required: false)

    <!--For Freeze head table-->
    <script type="text/javascript" src="~/Content/js/fixed_table_rc.js"></script>

    <script type="text/javascript">       
        function OpenBoxPopup(MSG) {
            bootbox.alert(MSG, function () {
            });
        }

        function LoadingProcess() {
            bootbox.dialog({
                message: "Processing...",
                title: "Loading"
            });
        }

        function HideLoadingBox() {
            $('.bootbox-close-button').click();
        }

        function OpenBoxPopupLink(MSG, LinkRedirect) {
            bootbox.alert(MSG, function () {
                window.location = LinkRedirect;
            });
        }

        function OpenBoxConfirm(MSG, CallBackFunction) {
            bootbox.confirm(MSG, function (result) {
                if (result) { window[CallBackFunction](); }
            });
        }
        function OpenBoxPrompt(MSG, CallBackFunction) {
            bootbox.prompt(MSG, function (result) {
                if (result === null || result === "") {
                    if (result === "") {
                        OpenBoxPopup("Please Key Note.");
                    }
                } else {
                    window[CallBackFunction](result);
                }
            });
        }

        function OpenNewTab(url) {
            window.open(url, '_blank');
        }

        //function for validate input

        //for number and decimal
        function ValidateNumberDigit(evt, element) {
            var charCode = (evt.which) ? evt.which : event.keyCode
            if (
                (charCode != 45 || $(element).val().indexOf('-') != -1) &&      // “-” CHECK MINUS, AND ONLY ONE.
                (charCode != 46 || $(element).val().indexOf('.') != -1) &&      // “.” CHECK DOT, AND ONLY ONE.
                (charCode != 8) &&      //CHECK BACKSPACE.
                (charCode < 48 || charCode > 57))
                return false;

            return true;
        }


        //for ONLY number.
        function ValidateNumber(e) {
            var evt = (e) ? e : window.event;
            var charCode = (evt.keyCode) ? evt.keyCode : evt.which;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;
        };


        //for not allow Thai character
        function ValidateChar(e) {

            if ((event.keyCode >= 65 && event.keyCode <= 90) || (event.keyCode >= 97 && event.keyCode <= 122)) //48-57(ตัวเลข) ,65-90(Eng ตัวพิมพ์ใหญ่ ) ,97-122(Eng ตัวพิมพ์เล็ก)
            {
                return true;
            }
            else {
                return false;
            }
        }

    </script>

    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

</head>
<body>
    @if (Session["User"] == null )
    {
        <script type="text/javascript">
         <!--
            function Redirect() {
                window.location = "../../web/Login.aspx";
            }
            Redirect();
         //-->
        </script>
    }
    <div class="overlay"></div>
    <div class="header">
        <div class="wrapper-main">
            <div class="logo">
                <a href="~/Web/MainBoards.aspx"><span>Thaioil</span></a>
            </div>
            <div class="admin-name">
                <span><img src="@ViewData["empImage"]" alt=""></span>
                <h3> @ViewData["lbUserName"]</h3>
                <p>
                @Html.ActionLink("Logout", "toLogout", new { Controller = "Home" })
                </p>
            </div>
        </div>
    </div>
    <div class="main-content">
        <div class="heading-sec">
            <div class="row">
                <div class="col-xs-10">
                    <div class="othermenu-sec">
                        <ul class="nav navbar-nav">
                            @Html.Raw(ViewData["HTMLMENU"])
                        </ul>
                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="box-date pull-right">
                        <div class="date">@ViewData["lbHeaderDay"]</div>
                        <div class="year">@ViewData["lbHeaderDate"]</div>
                        <!-- <div class="time">08:43 AM</div> -->
                    </div>
                </div>
            </div>
  
        </div>

        <div class="main-content-area">
            <div class="container body-content">
                @RenderBody()
            </div>
        </div>
        </div>

    @RenderSection("ContentOption", required: false)
        <div class="footer">
            © Copyright 2016 a company of Thai Oil Group. All rights reserved.
        </div>
        <script type="text/javascript">
            $(document).ready(function () {
            $('.menu-options').click(function(){
                $('body').addClass('menu-show');
                $('.side-menus').fadeIn();
                $('.overlay').fadeIn();
            });
            $('.menu-close').click(function(){
                $('body').removeClass('menu-show');
                $('.side-menus').fadeOut();
                $('.overlay').fadeOut();
                $('.has-submenu1').removeClass('open');
                $('.has-submenu2').removeClass('open');
                $('.bg-sub-menu2').fadeOut("fast");
            });
            $('.has-submenu1>a').click(function(){
                if ($(this).parent().hasClass('open')){
                  $(this).parent().removeClass('open');
                }else{
                  $('.has-submenu1').removeClass('open');
                  $(this).parent().addClass('open');
                }
            });
            $('.has-submenu2').click(function(){
                $('.has-submenu2').removeClass('open');
                $(this).addClass('open');
                $('.bg-sub-menu2').fadeIn('fast');
            });
             $('.parent-menu>li>a').click(function(){
                $('.bg-sub-menu2').fadeOut('fast');
                $('.has-submenu2').removeClass('open');
            });

            $('td.edit input').click(function(){
                if($(this).is(':checked')) {
                    $('td.edit').parent().removeClass('selected');
                    $(this).parent().parent().parent().addClass('selected');
                }else{
                    $(this).parent().parent().parent().removeClass('selected');
                }
            });
            //$('.dropdown-toggle').dropdown();
            //$('.btn-supplier').click(function(){
            //  $('#priceOffer tbody:last').append('<tr> <td class="edit"> <div class="radio"> <input type="radio" id="radioboxtable0" name="test01"> <label for="radioboxtable0"></label> </div> <label>Edit</label> </td> <td class="dropdown"> <div class="dropdown"> <a id="drop01" data-target="#" href="#" data-toggle="dropdown" role="button"> Scaninavian Bunkering </a> <ul class="dropdown-menu" aria-labelledby="drop01"> <li><a href="#">Supplier Name 01</a></li> <li><a href="#">Supplier Name 02</a></li> <li><a href="#">Supplier Name 03</a></li> <li><a href="#">Supplier Name 04</a></li> <li><a href="#">Supplier Name 05</a></li> </ul> </div> </td> <td> <textarea></textarea> </td> <td> <textarea></textarea> </td> <td> <textarea></textarea> </td> <td> <textarea></textarea> </td> <td> <textarea></textarea> </td> <td> <textarea></textarea> </td> <td> <textarea></textarea> </td> <td> <textarea></textarea> </td> <td> <textarea></textarea> </td> <td> <textarea></textarea> </td> <td> <textarea></textarea> </td> </tr>');
            //});


        });

        (function ($) {
            $(document).ready(function () {
                $('ul.dropdown-menu [data-toggle=dropdown]').on('click', function (event) {
                    event.preventDefault();
                    event.stopPropagation();
                    $(this).parent().siblings().removeClass('open');
                    $(this).parent().toggleClass('open');
                });

               
            });
        })(jQuery);
        </script>
    </body>
</html>