﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.CharteringSearchViewModel
@{
    ViewBag.Title = "Search";
    Layout = "~/Areas/CPAIMVC/Views/Shared/_Layout.cshtml";
    string type = Request.QueryString["Type"] != null ? Request.QueryString["Type"].ToString() : Session["Charter_Type"] != null ? Session["Charter_Type"].ToString() : "";
    string typeDecrypt = ViewBag.TypeDecrypt;
}

<style type="text/css">
    .clearIcon {
        cursor: pointer;
        color: red;
    }

    .createByField {
        font-family: Arial,sans-serif;
        font-size: 12px;
    }

    .select.input-sm {
        width: 50px;
    }
</style>

<div class="wrapper-detail">
    <div>
        <h1>Search Charter Out</h1>
    </div>
    @using (Html.BeginForm("SearchResult", "CharterOut", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <div class="row">
            <div class="form-group">
                <div class="col-md-4">
                    <label for="inputEmail3" class="col-md-3 control-label">Date</label>
                    <div class="col-md-7">
                        <div class="box-date">
                            @Html.TextBox("sDate", null, new { @class = "form-control input-date-picker", @id = "date-range-start" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="inputEmail3" class="col-md-3 control-label">Vessel</label>
                    <div class="col-md-7">
                        @Html.DropDownListFor(model => model.vessel, ViewBag.getVessel as List<SelectListItem>, "Select All", new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="inputEmail3" class="col-md-3 control-label">Charterer</label>
                    <div class="col-md-7">
                        @Html.DropDownListFor(model => model.charterer, ViewBag.getChaterer as List<SelectListItem>, "Select All", new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-4">
                    <label for="inputEmail3" class="col-md-3 control-label">Laycan</label>
                    <div class="col-md-7">
                        <div class="box-date">
                            @Html.TextBox("sLaycan", null, new { @class = "form-control input-date-picker", @id = "laycanDateSelect" })
                        </div>
                    </div>
                </div>
                @if (ViewBag.TypeDecrypt != "VESSEL")
                {
                    <div class="col-md-4">
                        <label for="inputEmail3" class="col-md-3 control-label">Broker</label>
                        <div class="col-md-7">
                            @Html.DropDownListFor(model => model.broker, ViewBag.getBroker as List<SelectListItem>, "Select All", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label for="inputEmail3" class="col-md-3 control-label">Owner</label>
                        <div class="col-md-7">
                            @Html.TextBox("owner", null, new { @class = "form-control" })
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-md-4" style="display: none;">
                        <label for="inputEmail3" class="col-md-3 control-label">Broker</label>
                        <div class="col-md-7">
                            @Html.DropDownListFor(model => model.broker, ViewBag.getBroker as List<SelectListItem>, "Select All", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-4" style="display: none;">
                        <label for="inputEmail3" class="col-md-3 control-label">Owner</label>
                        <div class="col-md-7">
                            @Html.TextBox("owner", null, new { @class = "form-control" })
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-12">
                    <label for="inputEmail3" class="col-md-1 control-label">Created by</label>
                    <div class="col-md-10  createByField">
                        @*@Html.DropDownListFor(model => model.userList, ViewBag.getUsers as List<SelectListItem>, new { @class = "form-control", multiple = "multiple", @id = "Createby" })*@
                        @Html.DropDownListFor(model => model.userList, new SelectList(ViewBag.getUsers, "Value", "Text"), new { @class = "form-control", @multiple = "multiple", @id = "Createby" })
                        @Html.HiddenFor(m => m.sCreateBy, Model.sCreateBy)


                        <script type="text/javascript">
                            $("#Createby").select2();
                        </script>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-4 pull-left">
                       
                        @if (@typeDecrypt == "CRUDE")
                        {
                            <a class="btn btn-success" href="~/CPAIMVC/CharterOut?Type=@type" id="addBtn" name="addBtn" role="button">Add</a>
                        }
                        else
                        {
                            <a class="btn btn-success" href="~/CPAIMVC/CharterOut/CharterOutCMMT?Type=@type" id="addBtn" name="addBtn" role="button">Add</a>
                        }
                    </div>
                    <div class="col-md-4 text-center">
                        <button type="submit" class="btn btn-primary">Search</button>
                        <button type="button" value="Reset" class="btn btn-default" onclick="resetForm()">Clear All</button>
                    </div>
                    <div class="col-md-4 text-right">
                        <div id="dupBtn">
                            <a class="btn btn-info" href="#" id="dubCopy" name="dubCopy" role="button" onclick="chkChecked()">Copy</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

     }

            <div class="page-header">
                <h1>Search Result</h1>
            </div>
            <div class="task-box">
                <div class="wrapper-table collapse in" id="collapseJuly">
                    <table id="example" class="table table-hover table-striped table-bordered" cellspacing="0">
                        <thead>
                            <tr>
                                @if (ViewBag.TypeDecrypt != "VESSEL")
                                {
                                    <th>Date/Status</th>
                                    <th>Document No.</th>
                                    <th>Vessel Name</th>
                                    <th>Laycan</th>
                                    <th>Broker</th>
                                    <th>Charterer</th>
                                    <th>Created by</th>
                                    <th>Copy</th>
                                }
                                else
                                {
                                    <th>Date/Status</th>
                                    <th>Document No.</th>
                                    <th>Vessel Name</th>
                                    <th>Laycan</th>
                                    <th>Charterer</th>
                                    <th>Created by</th>
                                    <th>Copy</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.CharteringTransaction == null)
                            {
                                <tr class="waiting" data-href="http://myspace.com">
                                    <td colspan="8">Waiting for search</td>
                                </tr>
                            }
                            else
                            {
                                if (Model.CharteringTransaction.Count > 0)
                                {
                                    foreach (var v in Model.CharteringTransaction)
                                    {
                                        var newStatus = v.status == "WAITING CERTIFIED" ? "WAITING ENDORSED" : v.status;
                                        <tr class="drafts" style="cursor: pointer;">
                                            @if (@v.type != "CRUDE")
                                            {
                                                <td class="clickable-row" data-href="../CharterOut/CharterOutCMMT?TranID=@v.Transaction_id_Encrypted&Tran_Req_ID=@v.Req_transaction_id_Encrypted&PURNO=@v.Purchase_no_Encrypted&Reason=@v.reason_Encrypted&Type=@v.type_Encrypted">@v.date_purchase <span>@newStatus</span></td>
                                                <td class="clickable-row" data-href="../CharterOut/CharterOutCMMT?TranID=@v.Transaction_id_Encrypted&Tran_Req_ID=@v.Req_transaction_id_Encrypted&PURNO=@v.Purchase_no_Encrypted&Reason=@v.reason_Encrypted&Type=@v.type_Encrypted">@v.purchase_no</td>
                                                <td class="clickable-row" data-href="../CharterOut/CharterOutCMMT?TranID=@v.Transaction_id_Encrypted&Tran_Req_ID=@v.Req_transaction_id_Encrypted&PURNO=@v.Purchase_no_Encrypted&Reason=@v.reason_Encrypted&Type=@v.type_Encrypted">@v.vessel</td>
                                                <td class="clickable-row" data-href="../CharterOut/CharterOutCMMT?TranID=@v.Transaction_id_Encrypted&Tran_Req_ID=@v.Req_transaction_id_Encrypted&PURNO=@v.Purchase_no_Encrypted&Reason=@v.reason_Encrypted&Type=@v.type_Encrypted">@v.laycan_from to @v.laycan_to</td>
                                                if (ViewBag.TypeDecrypt != "VESSEL")
                                                {
                                                    <td class="clickable-row" data-href="../CharterOut/CharterOutCMMT?TranID=@v.Transaction_id_Encrypted&Tran_Req_ID=@v.Req_transaction_id_Encrypted&PURNO=@v.Purchase_no_Encrypted&Reason=@v.reason_Encrypted&Type=@v.type_Encrypted">@v.broker_name</td>
                                                }
                                                <td class="clickable-row" data-href="../CharterOut/CharterOutCMMT?TranID=@v.Transaction_id_Encrypted&Tran_Req_ID=@v.Req_transaction_id_Encrypted&PURNO=@v.Purchase_no_Encrypted&Reason=@v.reason_Encrypted&Type=@v.type_Encrypted">@v.cust_name</td>
                                                <td class="clickable-row" data-href="../CharterOut/CharterOutCMMT?TranID=@v.Transaction_id_Encrypted&Tran_Req_ID=@v.Req_transaction_id_Encrypted&PURNO=@v.Purchase_no_Encrypted&Reason=@v.reason_Encrypted&Type=@v.type_Encrypted">@v.create_by</td>
                                                <td>
                                                    <input type="hidden" name="dupLinkField" class="form-control" value="../CharterOut/CharterOutCMMT?TranID=@v.Transaction_id_Encrypted&Tran_Req_ID=@v.Req_transaction_id_Encrypted&PURNO=@v.Purchase_no_Encrypted&Reason=@v.reason_Encrypted&Type=@v.type_Encrypted&isDup=true" hidden="hidden" />
                                                    <input name="dup" type="checkbox" value="true" onclick="myFunction();" />
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="clickable-row" data-href="../CharterOut?TranID=@v.Transaction_id_Encrypted&Tran_Req_ID=@v.Req_transaction_id_Encrypted&PURNO=@v.Purchase_no_Encrypted&Reason=@v.reason_Encrypted&Type=@v.type_Encrypted">@v.date_purchase <span>@newStatus</span></td>
                                                <td class="clickable-row" data-href="../CharterOut?TranID=@v.Transaction_id_Encrypted&Tran_Req_ID=@v.Req_transaction_id_Encrypted&PURNO=@v.Purchase_no_Encrypted&Reason=@v.reason_Encrypted&Type=@v.type_Encrypted">@v.purchase_no</td>
                                                <td class="clickable-row" data-href="../CharterOut?TranID=@v.Transaction_id_Encrypted&Tran_Req_ID=@v.Req_transaction_id_Encrypted&PURNO=@v.Purchase_no_Encrypted&Reason=@v.reason_Encrypted&Type=@v.type_Encrypted">@v.vessel</td>
                                                <td class="clickable-row" data-href="../CharterOut?TranID=@v.Transaction_id_Encrypted&Tran_Req_ID=@v.Req_transaction_id_Encrypted&PURNO=@v.Purchase_no_Encrypted&Reason=@v.reason_Encrypted&Type=@v.type_Encrypted">@v.laycan_from to @v.laycan_to</td>
                                                if (ViewBag.TypeDecrypt != "VESSEL")
                                                {
                                                    <td class="clickable-row" data-href="../CharterOut?TranID=@v.Transaction_id_Encrypted&Tran_Req_ID=@v.Req_transaction_id_Encrypted&PURNO=@v.Purchase_no_Encrypted&Reason=@v.reason_Encrypted&Type=@v.type_Encrypted">@v.broker_name</td>
                                                }
                                                <td class="clickable-row" data-href="../CharterOut?TranID=@v.Transaction_id_Encrypted&Tran_Req_ID=@v.Req_transaction_id_Encrypted&PURNO=@v.Purchase_no_Encrypted&Reason=@v.reason_Encrypted&Type=@v.type_Encrypted">@v.cust_name</td>
                                                <td class="clickable-row" data-href="../CharterOut?TranID=@v.Transaction_id_Encrypted&Tran_Req_ID=@v.Req_transaction_id_Encrypted&PURNO=@v.Purchase_no_Encrypted&Reason=@v.reason_Encrypted&Type=@v.type_Encrypted">@v.create_by</td>
                                                <td>
                                                    <input type="hidden" name="dupLinkField" class="form-control" value="../CharterOut?TranID=@v.Transaction_id_Encrypted&Tran_Req_ID=@v.Req_transaction_id_Encrypted&PURNO=@v.Purchase_no_Encrypted&Reason=@v.reason_Encrypted&Type=@v.type_Encrypted&isDup=true" hidden="hidden" />
                                                    <input name="dup" type="checkbox" value="true" onclick="myFunction();" />
                                                </td>
                                            }
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr class="waiting">
                                        <td colspan="7">Data not found</td>
                                    </tr>
                                }
                            }

                        </tbody>
                    </table>
                </div>
            </div>
            <script>
                // BINDING CRUDE NAME INTO AUTO COMPLETE BOX
                var sCreateBy = "@Model.sCreateBySelected";
                if (sCreateBy !== null) {
                    var areaList = sCreateBy.split("|");
                    $("#Createby").val(areaList).trigger("change");
                }
                else {
                    $("#Createby").val(null).trigger("change");
                }

                $('input[type="checkbox"]').on('change', function () {
                    $('input[name="' + this.name + '"]').not(this).prop('checked', false);
                });
                $(".clickable-row").click(function () {
                    window.document.location = $(this).data("href");
                });
                function myFunction() {
                    var dupLinkField = document.getElementsByName("dupLinkField");
                    var dupChk = document.getElementsByName("dup");
                    var dubCopyHref = document.getElementsByName("dubCopy");
                    for (var i = 0; i < dupLinkField.length; i++) {
                        if (dupChk[i].checked) {
                            dubCopyHref[0].setAttribute('href', dupLinkField[i].value);
                            break;
                        } else {
                            dubCopyHref[0].setAttribute('href', "#");
                        }

                    }

                }

                function chkChecked() {
                    var dupChk = document.getElementsByName("dup");
                    var dubCopyHref = document.getElementsByName("dubCopy");
                    var status = true;
                    if (dupChk.checked) {
                        return true;
                    }

                }

                function resetForm() {
                    //document.getElementById("searchForm").reset();
                    $("#Createby").select2("val", "");
                    $("#date-range-start").val('');
                    $('#vessel').val('');
                    $("#charterer").val('');
                    $('#laycanDateSelect').val('');
                    $("#broker").val('');
                    $('#owner').val('');
                    //$('#owner').val('');
                }


                $('#Createby').change(function () {
                    $('.select2-search__field').keydown(function (e) {

                        if ($(this).val() == "") {
                            if (e.keyCode == 8) {
                                return false;
                            }
                        }
                    });
                });

                $(function () {
                    $('#date-range-start').dateRangePicker(
                    {
                        startOfWeek: 'monday',
                        format: 'DD/MM/YYYY',
                    });
                    $('#laycanDateSelect').dateRangePicker(
                    {
                        startOfWeek: 'monday',
                        format: 'DD/MM/YYYY',
                    });
                    $('#example').DataTable({
                        "ordering": false,
                        "columnDefs": [
                            { "width": "130px", "targets": 0 },
                            { "width": "120px", "targets": 1 },
                            { "width": "130px", "targets": 2 }
                        ]
                    });
                });
            </script>

        </div>
