﻿@using ProjectCPAIEngine.Utilities;
@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.UsersViewModel

<style type="text/css">
    .clearIcon {
        cursor: pointer;
        color: red;
    }

    .createByField {
        font-family: Arial,sans-serif;
        font-size: 12px;
    }

    .select.input-sm {
        width: 50px;
    }

    .ui-menu .ui-menu-item {
        font-size: 13px;
    }
</style>
<style>
    .ui-autocomplete {
        max-height: 150px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
    }
    /* IE 6 doesn't support max-height
    * we use height instead, but this forces the menu to always be this tall
    */
    * html .ui-autocomplete {
        height: 150px;
    }

    .error-requite {
        border-color: #dd4b39;
    }

    .duplicate {
        border: 1px solid red;
        color: red;
    }
</style>
@if (TempData["ReponseStatus"] != null)
{
    // if POST check Response and Disble background layout of Modal Popup
<script>
        $(document).ready(function () {
            $('#resultPopup').modal({ backdrop: 'static', keyboard: false });
            $('#resultPopup').modal('show');
        });
</script>
}

<form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
    <div class="page-header">
        <h2>@ViewBag.Title</h2>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="col-md-2 control-label">User</label>
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.userList, new SelectList(Model.ddl_User, "Value", "Text"), new { @class = "form-control", @multiple = "multiple", @id = "userList" })
                    @Html.HiddenFor(model => model.sUser, new { @id = "sUser" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label col-md-2">USER GROUP :</label>
                <div class="col-md-8">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>System</th>
                                <th>Effective Date</th>
                            </tr>
                        </thead>
                        <tbody id="systemArr">
                            @Html.HiddenFor(model => model.users_Detail.UsersID)
                            @for (int i = 0; i < Model.users_Detail.Control.Count; i++)
                            {
                                <tr>
                                    <td>
                                        @Html.DropDownListFor(model => model.users_Detail.Control[i].UserGroupSystem, new SelectList(Model.ddl_UserGroupSystem, "Value", "Text", Model.users_Detail.Control[i].UserGroupSystem), "-- Select --", new { @class = "form-control user-class", @required = "required" })
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(model => model.users_Detail.Control[i].UserAffectEndDate, htmlAttributes: new { @class = "form-control input-date-picker", @required = "required" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="6">
                                    <input type="button" value="Add" class="btn btn-success" onclick="addSystemRow(); return false;" />
                                    <input type="button" value="Delete" class="btn btn-primary" onclick="delSystemRow(); return false;" />
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <div class="text-center">
                        <button type="submit" id="btnSubmit" class="hidden">SAVE</button>
                        <button type="button" onclick="validate()" class="btn btn-primary">SAVE</button>
                        <button type="reset" value="Reset" class="btn btn-default" onclick="resetForm()">Clear All</button>
                        @Html.ActionLink("BACK", "Search", new { controller = "Users" }, htmlAttributes: new { @class = "btn btn-default" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- Result Popup -->
<div class="modal fade" id="resultPopup" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <p>
                    @TempData["ReponseMessage"]
                </p>
            </div>
            <div class="modal-footer">
                @if (TempData["ReponseStatus"] != null && TempData["ReponseStatus"].ToString().ToUpper() == "FALSE")
                {
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                }
                else
                {
                @Html.ActionLink("Close", "Search", new { controller = "Users" }, htmlAttributes: new { @class = "btn btn-default" })
                }
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script language="javascript" type="text/javascript">
    // BINDING AREA INTO AUTO COMPLETE BOX
    var sUser = $("#sUser").val();
    if (sUser !== null && sUser != "") {
        var userList = sUser.split("|");
        $("#userList").val(userList).trigger("change");
    }
    else {
        $("#userList").val(null).trigger("change");
    }

    // AREA AUTO COMPLETE BOX
    $("#userList").select2();
    $("#userList").on("change", function () {
        var userList = $("#userList").val();
        if (userList !== null) {
            userList = userList.join("|");
        }
        $("#sUser").val(userList);
    });
</script>
<script>
    $(function () {
        addDateClass();
    });

    function addSystemRow() {
        var i = $("#systemArr tr").length;
        //var UserGroupSystem = $("#users_Detail_Control_" + i + "__UserGroupSystem").val();
        var newHTML = '<tr>' +
            '<td><select class="form-control user-class" id="users_Detail_Control_' + i + '__UserGroupSystem" name="users_Detail.Control[' + i + '].UserGroupSystem" onchange="GetUserGroup(' + i + ')" required="required">' +
            '<option value="">-- Select --</option>' +
            @if(Model.ddl_UserGroupSystem != null) {
                foreach (var option in Model.ddl_UserGroupSystem)
                {
                    @:'<option value="@option.Value">@option.Text</option>' +
                }
            }
            '</select></td>' +
            '<td><input class="form-control input-date-picker" id="users_Detail_Control_' + i + '__UserAffectEndDate" name="users_Detail.Control[' + i + '].UserAffectEndDate" type="text" value="" required="required"></td>' +
            '</tr>';
        $("#systemArr").append(newHTML);
        addDateClass();
    }

    function delSystemRow() {
        if ($("#systemArr > tr").length > 1) {
            $("#systemArr > tr").last().remove();
        }
    }

    function addDateClass(e) {
        $(".input-date-picker").each(function () {
            if ($(this).data("dateRangePicker") != undefined) {
                $(this).data('dateRangePicker').destroy();
            }
            $(this).dateRangePicker({
                startOfWeek: 'monday',
                format: "DD/MM/YYYY",
                startDate: new Date(),
                //endDate: end_date,
                //format: 'DD/MM/YYYY HH:mm',
                //time: { enabled: true }
            });
        });
    }

    function validate() {
        var sUser = $("#sUser").val();
        if (sUser !== null && sUser != "") {
            var countDup = 0;
            var arr = [];
            $(".user-class").each(function () {
                var value = $(this).val();
                if (arr.indexOf(value) == -1)
                    arr.push(value);
                else
                {
                    $(this).addClass("duplicate");
                    countDup++;
                }
            });
            if (countDup == 0) {
                $("#btnSubmit").click();
            }
        }
        else {
            alert("Please Input User.");
            return false;
        }
    }
</script>
