﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.UsersViewModel
@{
    ViewBag.Title = "Search PORT";
}

@using (Html.BeginForm("Search", "Users", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="page-header">
        <h1>Users Management</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label col-sm-2">USER ID:</label>
                <div class="col-sm-4">
                    @Html.TextBoxFor(model => model.users_Search.sUsersID, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">FIRST NAME:</label>
                <div class="col-sm-4">
                    @Html.TextBoxFor(model => model.users_Search.sFirstNameEN, htmlAttributes: new { @class = "form-control" })
                </div>

                <label class="control-label col-sm-2">LAST NAME:</label>
                <div class="col-sm-4">
                    @Html.TextBoxFor(model => model.users_Search.sLastNameEN, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">USER LOGIN:</label>
                <div class="col-sm-4">
                    @Html.TextBoxFor(model => model.users_Search.sUsersLogin, htmlAttributes: new { @class = "form-control" })
                </div>

                <label class="control-label col-sm-2">SECTION HEAD:</label>
                <div class="col-sm-4">
                    @Html.TextBoxFor(model => model.users_Search.sSectionHead, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">COMPANY:</label>
                <div class="col-sm-4">
                    @Html.DropDownListFor(model => model.users_Search.sCompany, new SelectList(Model.ddl_Company, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                </div>

                <label class="control-label col-sm-2">AD LOGIN:</label>
                <div class="col-sm-4">
                    @Html.DropDownListFor(model => model.users_Search.sADLogin, new SelectList(Model.ddl_ADLogin, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">STATUS:</label>
                <div class="col-sm-4">
                    @Html.DropDownListFor(model => model.users_Search.sStatus, new SelectList(Model.ddl_Status, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="pull-left">
                    @if (ViewBag.action_create)
                    {
                        @Html.ActionLink("Add", "Create", new { controller = "Users" }, new { @class = "btn btn-success" })
                    }
                </div>
                <div class="pull-right">
                    @if (ViewBag.action_search)
                    {
                        <button type="submit" class="btn btn-primary">Search</button>
                    }
                </div>
            </div>
        </div>
    </div>
}

<div class="page-header">
    <h1>Search Result</h1>
</div>
<table id="searchResultTable" class="table table-hover display" cellspacing="0">
    <thead>
        <tr>
            <th>USERS ID</th>
            <th>TITLE</th>
            <th>FIRST NAME</th>
            <th>LAST NAME</th>
            <th>USERS LOGIN</th>
            <th>COMPANY</th>
            <th>AD LOGIN FLAG</th>
            <th>STATUS</th>
            <th>ACTION</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.users_Search == null)
        {

            <tr class="waiting">
                <td colspan="7">Waiting for search</td>
            </tr>

        }
        else
        {
            if (Model.users_Search.sSearchData.Count > 0)
            {
                foreach (var v in Model.users_Search.sSearchData)
                {
                    <tr>
                        <td>@v.dUsersID</td>
                        <td>@v.dTitleEN</td>
                        <td>@v.dFirstNameEN</td>
                        <td>@v.dLastNameEN</td>
                        <td>@v.dUsersLogin</td>
                        <td>@v.dCompany</td>
                        <td>@v.dADLogin</td>
                        <td>@v.dStatus</td>
                        <td width="100px">
                            @if (ViewBag.action_view)
                            {
                                <a href="@Url.Action("ViewDetail", "Users", new { id = @v.dUsersLogin  + "/" })" title="View Detail">
                                    <img alt="Widget View" src="@Url.Content("../../Content/images/1480695949_file.png")">
                                </a>
                            }
                            @if (ViewBag.action_edit)
                            {
                                <a href="@Url.Action("Edit", "Users", new { id = @v.dUsersLogin + "/" })"  title="Edit">
                                    <img alt="Widget View" src="@Url.Content("../../Content/images/1480695860_edit.png")">
                                </a>
                            }
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $('#searchResultTable').DataTable({
            "columnDefs": [
                //Disble sort on Action Colum
                {
                    "targets": [8],
                    "orderable": false
                }
            ]
        });
    });
</script>