﻿@using ProjectCPAIEngine.Utilities
@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.HedgeSteeringCommitteeViewModel
@{
    ViewBag.Title = "Hedged Steering Committee Framework Entry";
}

<style>
    .fa {
        margin: 4px;
    }

    .action_edit {
        display: inline-block;
    }

        .action_edit.active {
            display: none;
        }

        .action_edit.disabled {
            visibility: hidden;
        }

    .action_delete {
        display: inline-block;
    }

        .action_delete.active {
            display: none;
        }

        .action_delete.disabled {
            visibility: hidden;
        }

    .action_history {
        display: inline-block;
    }

        .action_history.active {
            display: none;
        }

        .action_history.disabled {
            visibility: hidden;
        }

    .action_save {
        display: none;
    }

        .action_save.active {
            display: inline-block;
        }

        .action_save.disabled {
            visibility: hidden;
        }

    .action_cancel {
        display: none;
    }

        .action_cancel.active {
            display: inline-block;
        }

        .action_cancel.disabled {
            visibility: hidden;
        }
</style>

<!-- INITIALIZATION SCRIPT -->
<script type="text/javascript">
    // RETREVE PAGE MODE //
    var page_mode = '@(Model.pageMode)';
    // RESPONSE DIALOG //
    @{
        if (TempData["res_message"] != null)
        {
            if (TempData["returnPage"] != null)
            {
                <text>
                OpenBoxPopupLink((@Html.Raw(Json.Encode(TempData["res_message"]))), @Html.Raw(Json.Encode(TempData["returnPage"]))).done(function() { $("#EventButton").val("0");});
                </text>
            }
            else
            {
                <text>
                OpenBoxPopup(@Html.Raw(Json.Encode(TempData["res_message"])));
                </text>
            }
        }
    }
</script>

@using (Html.BeginForm("", "HedgeSteeringCommittee", FormMethod.Post, new { @class = "form-horizontal", @name = "entryForm", @id = "entryForm" }))
{
    <div class="page-header">
        <h1>@ViewBag.Title</h1>
    </div>

    <div class="form-horizontal">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 control-label">Reference No.</label>
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.reference_no, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 control-label">Status</label>
                    <div class="col-md-6">
                        @if (Model.status == "INACTIVE")
                        {
                            <input type="checkbox" class="checkboxStatus" onchange="OnChangeStatus();" value="INACTIVE">
                        }
                        else
                        {
                            <input type="checkbox" class="checkboxStatus" id="chkActive" checked onchange="OnChangeStatus();" value="ACTIVE">
                        }
                        @Html.HiddenFor(model => model.status)
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 control-label">Trading Book</label>
                    <div class="col-md-6">
                        @if (!string.IsNullOrEmpty(Model.trading_book))
                        {
                            @Html.DropDownListFor(model => model.trading_book, new SelectList(Model.ddlTrading, "Value", "Text", Model.trading_book), "-- Select --", new { @class = "form-control essential-before" })
                        }
                        else
                        {
                            @Html.DropDownListFor(model => model.trading_book, new SelectList(Model.ddlTrading, "Value", "Text"), "-- Select --", new { @class = "form-control essential-before" })
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 control-label">Hedging Type</label>
                    <div class="col-md-6">
                        @if (!string.IsNullOrEmpty(Model.hedge_type))
                        {
                            @Html.DropDownListFor(model => model.hedge_type, new SelectList(Model.ddlHedgeType, "Value", "Text", Model.hedge_type), "-- Select --", new { @class = "form-control essential-before" })
                        }
                        else
                        {
                            @Html.DropDownListFor(model => model.hedge_type, new SelectList(Model.ddlHedgeType, "Value", "Text"), "-- Select --", new { @class = "form-control essential-before" })
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 control-label">Approved Date</label>
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.approved_date, new { @class = "form-control input-date-picker", @placeholder = "DD/MM/YYYY", @maxlength = "26" })
                    </div>
                </div>
            </div>
            <div class="col-md-6" style="padding-left:10px;">
                <div class="form-group">
                    <div class="checkbox">
                        @if (Model.m1_m == "Y")
                        {
                            <input type="checkbox" class="form-control" name="m1_m_temp" id="m1_m_temp" onclick="update_m1_m()" checked />
                        }
                        else
                        {
                            <input type="checkbox" class="form-control" name="m1_m_temp" id="m1_m_temp" onclick="update_m1_m()" />
                        }
                        <label for="m1_m_temp"><b>M-1 / M</b></label>
                        @Html.HiddenFor(m => m.m1_m)
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 control-label">Tenor Period</label>
                    <div class="col-md-6">
                        <div class="input-group input-daterange">
                            @Html.TextBoxFor(m => m.tenor_from, new { @class = "form-control", @placeholder = "MM/YYYY", @maxlength = "18" })
                            <div class="input-group-addon">to</div>
                            @Html.TextBoxFor(m => m.tenor_to, new { @class = "form-control", @placeholder = "MM/YYYY", @maxlength = "18" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="col-md-3">
                        <div class="checkbox">
                            @if (Model.m1_m == "Y")
                            {
                                <input type="checkbox" class="form-control" name="time_spread_temp" id="time_spread_temp" onclick="update_time_spread()" checked />
                            }
                            else
                            {
                                <input type="checkbox" class="form-control" name="time_spread_temp" id="time_spread_temp" onclick="update_time_spread()" />
                            }
                            <label for="time_spread_temp">Time Spread</label>
                            @Html.HiddenFor(m => m.time_spread)
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="radio">
                            @if (Model.consecutive == null || Model.consecutive == "" || Model.consecutive == "C")
                            {
                                <input type="radio" id="radioConsecutive" name="Consecutive" class="form-control" checked="checked" onchange="OnChangeConsecutive()" />
                            }
                            else
                            {
                                <input type="radio" id="radioConsecutive" name="Consecutive" class="form-control" onchange="OnChangeConsecutive()" />
                            }
                            <label for="radioConsecutive" style="margin-right:10px;">Consecutive</label>
                            @if (Model.consecutive == "N")
                            {
                                <input type="radio" id="radioNonConsecutive" name="Consecutive" class="form-control" checked="checked" onchange="OnChangeConsecutive()" />
                            }
                            else
                            {
                                <input type="radio" id="radioNonConsecutive" name="Consecutive" class="form-control" onchange="OnChangeConsecutive()" />
                            }
                            <label for="radioNonConsecutive">Non Consecutive</label>
                        </div>
                        @Html.HiddenFor(model => model.consecutive)
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="col-md-9">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title" style="font-size: 20px;">Select Template</h4>
                            </div>
                            <div class="panel-body" style="text-align: center;">
                                <div class="radio">
                                    @if (Model.template == null || Model.template == "" || Model.template == "N")
                                    {
                                        <input type="radio" id="rdoNormalTemplate" name="templates" value="N" class="form-control" checked="checked" />
                                    }
                                    else
                                    {
                                        <input type="radio" id="rdoNormalTemplate" name="templates" value="N" class="form-control" />
                                    }
                                    <label for="rdoNormalTemplate" style="margin-right:15px;">Normal</label>
                                    @if (Model.template == "T")
                                    {
                                        <input type="radio" id="rdoTerminateTemplate" name="templates" value="T" class="form-control" checked="checked" />
                                    }
                                    else
                                    {
                                        <input type="radio" id="rdoTerminateTemplate" name="templates" value="T" class="form-control" />
                                    }
                                    <label for="rdoTerminateTemplate" style="margin-right:15px;">Terminate</label>

                                    @if (Model.template == "R")
                                    {
                                        <input type="radio" id="rdoRe-StructureTemplate" name="templates" value="R" class="form-control" checked="checked" />
                                    }
                                    else
                                    {
                                        <input type="radio" id="rdoRe-StructureTemplate" name="templates" value="R" class="form-control" />
                                    }
                                    <label for="rdoRe-StructureTemplate">Re-Structure</label>
                                </div>
                                @Html.HiddenFor(m => m.template)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 control-label">Total Volume</label>
                    <div class="col-md-6">
                        <div class="input-group">
                            @Html.TextBoxFor(m => m.total_volume, new { @class = "form-control", @style = "text-align: center;", @readonly = "readonly" })
                            <span name="span.@(Html.NameFor(model => model.unit_price))" class="input-group-addon">
                                @if (!string.IsNullOrEmpty(Model.unit_price))
                                {
                                    @Html.Raw(Model.unit_price);
                                }
                                else
                                {
                                    @Html.Raw("N/A");
                                }
                            </span>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>


    if (Model.template == null || Model.template == "" || Model.template == "N")
    {
        <div id="nomal-template">
            <div class="page-header">
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border" style="width:auto!important;padding-right:0!important;"><h2>Main Choice</h2></legend>
                    @Html.EditorFor(model => model.hedge_steering_committee_main_choice, "HedgeSteeringCommitteeMainChoice")
                </fieldset>
            </div>
            <div class="page-header">
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border" style="width:auto!important;padding-right:0!important;"><h2>Tool</h2></legend>
                    @Html.EditorFor(model => model.hedge_steering_committee_tool, "HedgeSteeringCommitteeTool")
                </fieldset>
            </div>
            <div class="page-header">
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border" style="width:auto!important;padding-right:0!important;"><h2>Extend Choice</h2></legend>
                    @Html.EditorFor(model => model.hedge_steering_committee_extend_choice, "HedgeSteeringCommitteeExtendChoice")
                </fieldset>
            </div>
        </div>
    }



    <!-- Note -->
    <div class="form-group">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="col-md-3 control-label">Note :</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    @Html.TextAreaFor(model => model.note, htmlAttributes: new { @class = "form-control", @style = "min-height: 80px;" })
                </div>
            </div>
        </div>
    </div>

    <!-- Attach File -->
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Attach File :</label>
                    </div>
                </div>
            </div>
            <div class="row essential-file-before" style="padding-top: 15px;">
                <div class="col-md-2">
                    <div class="form-group">
                        <button id="uploadDocumentFile" class="button-control btn btn-default" type="button" onclick="UploadFileDocument()">Select File</button>
                        <input type="file" id="DocumentFile" name="DocumentFile" style="display:none;" accept=".doc, .docx, .xls, .xlsx, .ppt, .pptx, .pdf, .msg" />
                    </div>
                </div>
                <div id="fileDocumentUploaded" class="col-md-10"></div>
            </div>
            @Html.HiddenFor(m => m.attach_file)
        </div>

    <!-- Action Hedge Annual -->
    <div class="form-group">
        <div class="pull-right">
            <button type="button" class="btn btn-default">EXPORT EXCEL</button>
            <button type="button" class="btn btn-default">EXPORT PDF</button>
            @Html.ActionLink("BACK", "Search", new { controller = "HedgeSteeringCommittee" }, new { @class = "btn btn-default" })
        </div>
        <section class="section-control">
            @if (Model.buttonMode == "AUTO")
            {
                <center>
                    <button type="button" id="DraftHedgeAnnual" name="button.DraftHedgeAnnual" class="button-control btn btn-success validate-button" data-toggle="modal" data-target=".bs-save-modal-hegde-annual" data-action="draft" style="background:#0a7ab1;" onclick="return OnPrepareSaveHedgeAnnual()">SAVE DRAFT</button>
                    <button type="button" id="SubmitHedgeAnnual" name="button.SubmitHedgeAnnual" class="button-control btn btn-success validate-button" data-toggle="modal" data-target=".bs-save-modal-hegde-annual" data-action="submit" style="background:#0a7ab1; margin-right: -350px;" onclick="return OnPrepareSaveHedgeAnnual()">SUBMIT</button>
                </center>
            }
            else
            {
                <center>
                    <button type="button" name="button.ManualHedgeAnnual" class="button-control btn btn-success" data-toggle="modal" data-target=".bs-save-modal-hegde-annual" data-action="manual" style="background:#0a7ab1;display:none" onclick="return OnPrepareSaveHedgeAnnual()">SAVE DRAFT</button>
                    @Html.Hidden("hdfEventClick")
                    @Html.Raw(@Model.buttonCode)
                </center>
            }
        </section>
    </div>

    if (Model.pageMode == "EDIT")
    {
           <!-- Model Note for Submit -->
        <div name="model.hedge_annual" id="myModal" class="modal fade bs-save-modal-hegde-annual" tabindex="-1" role="dialog" aria-labelledby="note-label">
            <div class="modal-dialog modal-lg" role="document" style="width:900px">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Note for Submit</h4>
                    </div>
                    <div class="modal-body">
                        @Html.HiddenFor(model => model.status)

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Subject</label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(m => m.hedge_steering_committee_submit_note.subject, new { @class = "form-control essential" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Approved Date</label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(m => m.hedge_steering_committee_submit_note.approved_date, new { @class = "form-control input-date-picker essential", @placeholder = "DD/MM/YYYY", @maxlength = "10" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Reference No.</label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(m => m.hedge_steering_committee_submit_note.ref_no, new { @class = "form-control essential" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Note</label>
                                    <div class="col-md-9">
                                        @Html.TextAreaFor(m => m.hedge_steering_committee_submit_note.note, new { @class = "form-control essential", @style = "width:100%;" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Attach File</label>
                                    <div class="col-md-9 essential-file" style="padding-top: 7px;padding-bottom: 7px;">
                                        <button class="btn btn-default" type="button" onclick="UploadFileDocument_note()">Select File</button>
                                        <input type="file" id="DocumentFileNote" name="DocumentFile" style="display:none;" accept=".doc, .docx, .xls, .xlsx, .ppt, .pptx, .pdf, .msg" />
                                        <div id="fileDocumentUploaded_note"></div>
                                    </div>
                                    @Html.HiddenFor(m => m.hedge_steering_committee_submit_note.attach_file)
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        @if (Model.buttonMode == "AUTO")
                        {
                            <input type="submit" style="display: none;" name="action:SaveHedgeAnnual" />
                                <button type="button" class="btn btn-primary" onclick="OpenBoxBungerPrompt('Comment :', 'SaveHedgeAnnual');">OK</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        }
                        else
                        {
                            <input type="submit" style="display: none;" name="action:ManualHedgeAnnual" />
                                <button type="button" class="btn btn-primary" onclick="OpenBoxBungerPrompt('Comment :', 'ManualHedgeAnnual');">OK</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    }

}

<!-- PAGE EVENT -->
<script type="text/javascript">

    // CONFIRMATION BEFORE SAVE //
    function OpenBoxBungerPrompt(MSG, Event) {
        // VALIDATE BEFORE SAVE //
        //if (Event == "SaveHedgeSteeringCommittee") {
        //    if (!ValidateEssential()) return false;
        //}

        // CASE: ADD HEDGE STEERING COMMITTEE //
        //if (Event == "SaveHedgeSteeringCommittee") {
        //    $("[name='action:SaveHedgeSteeringCommittee']").click();
        //}
        //else if (Event == "SAVE DRAFT") {
        //    $("#hdfEventClick").val(Event);
        //    $("[name='button.ManualHedgeSteeringCommittee']").click();
        //}
        //else if (Event == "SUBMIT") {
        //    $("#hdfEventClick").val(Event);
        //    $("[name='button.ManualHedgeSteeringCommittee']").click();
        //}
        //else { //DRAFT
        //    $("[name='action:MANUAL']").click();
        //}
    }

</script>

<!-- TABLE EVENT -->
<script type="text/javascript">

</script>

<!-- COMPONENT -->
<script type="text/javascript">

    $('#approved_date').dateRangePicker(
        {
            autoClose: true,
            singleDate: true,
            showShortcuts: false,
            format: 'DD/MM/YYYY',
            time: { enabled: false }
        });
    $('#tenor_from').dateRangePicker(
        {
            autoClose: true,
            singleDate: true,
            showShortcuts: false,
            format: 'MM/YYYY',
            time: { enabled: false }
        }).bind("datepicker-change", function(t) {
        var days = '@(Model.tenor_to ?? "0")';
        var dateFormat = 'MM/YYYY';
        var datePurchase = $(this).val();
        var dateApproval = moment(datePurchase, dateFormat).add(parseInt(days),'days').format(dateFormat);

        $('#tenor_to').val(dateApproval);
        $('#tenor_to').data('dateRangePicker').destroy();
        $('#tenor_to').dateRangePicker(
            {
                autoClose: true,
                singleDate: true,
                showShortcuts: false,
                format: dateFormat,
                time: { enabled: false },
                startDate: datePurchase
            }
        );
    });
    $('#tenor_to').dateRangePicker(
        {
            autoClose: true,
            singleDate: true,
            showShortcuts: false,
            format: 'MM/YYYY',
            time: { enabled: false },
            startDate: $('#tenor_from').val()
        });

    function OnChangeStatus() {
        if ($(".checkboxStatus").is(":checked")) {
            $('#status').val("ACTIVE");
        } else {
            $('#status').val("INACTIVE");
        }
    }

    function OnChangeConsecutive() {
        if ($('#radioConsecutive').prop('checked')) {
            $('#consecutive').val('C');
        }
        else if ($('#radioNonConsecutive').prop('checked')) {
            $('#consecutive').val('N');
        }
    }

    $("[name='templates']").change(function () {
        $('#template').val(document.querySelector('input[name="templates"]:checked').value);
        if (document.querySelector('input[name="templates"]:checked').value == "N") {
            $("#nomal-template").show();
        }
        else {
            $("#nomal-template").hide();
        }
    });

    $("[name='hedge_steering_committee_main_choice.main_volume']").change(function () {
        var TotalVolume = 0.0;
        var MainVolume = 0.0;
        var ExtendVolume = 0.0;

        if ($("[name='hedge_steering_committee_main_choice.main_volume']").val() != "") {
            MainVolume = $("[name='hedge_steering_committee_main_choice.main_volume']").val();
        }

        if ($("[name='hedge_steering_committee_tool.total_extend_volume']").val() != "") {
            ExtendVolume = $("[name='hedge_steering_committee_tool.total_extend_volume']").val();
        }

        TotalVolume = eval(MainVolume) + eval(ExtendVolume);

        $('#total_volume').val(TotalVolume);
    });

    $("[name='hedge_steering_committee_tool.total_extend_volume']").change(function () {
        var TotalVolume = 0.0;
        var MainVolume = 0.0;
        var ExtendVolume = 0.0;

        if ($("[name='hedge_steering_committee_main_choice.main_volume']").val() != "") {
            MainVolume = $("[name='hedge_steering_committee_main_choice.main_volume']").val();
        }

        if ($("[name='hedge_steering_committee_tool.total_extend_volume']").val() != "") {
            ExtendVolume = $("[name='hedge_steering_committee_tool.total_extend_volume']").val();
        }

        TotalVolume = eval(MainVolume) + eval(ExtendVolume);

        $('#total_volume').val(TotalVolume);
    });

</script>

<!-- UTILITIES -->
<script type="text/javascript">

</script>

<!-- FILE EVENT -->
<script type="text/javascript">

    $(function () {
        LoadFileDocument();
        LoadFileDocumentNote();
    });


    // GET WEB SITE PATH //
    function getWebSitePath() {
        var _location = document.location.toString();
        var applicationNameIndex = _location.indexOf('/', _location.indexOf('://') + 3);
        var applicationName = _location.substring(0, applicationNameIndex) + '/';
        var webFolderIndex = _location.indexOf('/', _location.indexOf(applicationName) + applicationName.length);
        var webFolderFullPath = _location.substring(0, webFolderIndex).toString().replace('/CPAIMVC', '');
        return webFolderFullPath;
    }

    function UploadFileDocument_note() {
        $("#DocumentFileNote").click();
    }

    function UploadFileDocument() {
        $("#DocumentFile").click();
    }

    $('#DocumentFile').change(function (e) {
        var files = e.target.files;
        if (files.length > 0) {
            if (window.FormData !== undefined) {
                for (var x = 0; x < files.length; x++) {
                    var data = new FormData();
                    data.append("file" + x, files[x]);
                    $.ajax({
                        type: "POST",
                        url: getWebSitePath() + "/Web/Api/UploadFileAPI.aspx?Type=CRUDE|F10000073",
                        contentType: false,
                        processData: false,
                        data: data,
                        success: function (response) {
                            var index = response.indexOf('<!DOCTYPE html>');
                            var json = response.substring(0, index);
                            var data = JSON.parse(json.trim());
                            $('#fileDocumentUploaded').append(MakeUploadFilDocument(data.file_path));
                        },
                        error: function (event, queueID, fileObj, errorObj) {
                            alert(errorObj.type + ' Error: ' + errorObj.info);
                            if (fileObj.size > 4194304) { alert('File size too large.'); }
                            else { alert('Someting wrong.'); }
                        }
                    });
                    data = null;
                }
            } else {
                alert("This browser doesn't support HTML5 file uploads!");
            }
        }
        $(this).val('');
    });

    $('#DocumentFileNote').change(function (e) {
        var files = e.target.files;
        if (files.length > 0) {
            if (window.FormData !== undefined) {
                for (var x = 0; x < files.length; x++) {
                    var data = new FormData();
                    data.append("file" + x, files[x]);
                    $.ajax({
                        type: "POST",
                        url: getWebSitePath() + "/Web/Api/UploadFileAPI.aspx?Type=CRUDE|F10000073",
                        contentType: false,
                        processData: false,
                        data: data,
                        success: function (response) {
                            var index = response.indexOf('<!DOCTYPE html>');
                            var json = response.substring(0, index);
                            var data = JSON.parse(json.trim());
                            $('#fileDocumentUploaded_note').append(MakeUploadFilDocumenNote(data.file_path));
                        },
                        error: function (event, queueID, fileObj, errorObj) {
                            alert(errorObj.type + ' Error: ' + errorObj.info);
                            if (fileObj.size > 4194304) { alert('File size too large.'); }
                            else { alert('Someting wrong.'); }
                        }
                    });
                    data = null;
                }
            } else {
                alert("This browser doesn't support HTML5 file uploads!");
            }
        }
        $(this).val('');
    });

    var doc_count = 0;
        // MAKE ITEM: FILE DOCUMENT //
    function MakeUploadFilDocument(filePath) {
            delete_file();
            var itemFileSupportingDocument = '<p>';
            itemFileSupportingDocument += '<a href="' + getWebSitePath() + "/" + filePath + '" style="color:#e21789">';
            itemFileSupportingDocument += '<span class="glyphicon glyphicon-link" style="padding-left:3px; padding-top:3px;"></span>';
            itemFileSupportingDocument += ' Download File';
            itemFileSupportingDocument += '</a>';
            if ("@Model.pageMode" === "EDIT") {
                itemFileSupportingDocument += ' | ';
                itemFileSupportingDocument += '<a href="javascript:void(0);" onclick="delete_file()" data-toggle="tooltip" title="Remove File"><i class="fa fa-trash-o" aria-hidden="true" style="color:#0a7ab1"></i> Remove File</a>';
            }
            itemFileSupportingDocument += '</p>';
            $("#attach_file").val(filePath);
            return itemFileSupportingDocument;
    }

        // MAKE ITEM: FILE DOCUMENT //
        function MakeUploadFilDocumenNote(filePath) {
            delete_file_note();
            var itemFileSupportingDocument = '<p>';
            itemFileSupportingDocument += '<a href="' + getWebSitePath() + "/" + filePath + '" style="color:#e21789">';
            itemFileSupportingDocument += '<span class="glyphicon glyphicon-link" style="padding-left:3px; padding-top:3px;"></span>';
            itemFileSupportingDocument += ' Download File';
            itemFileSupportingDocument += '</a>';
            if ("@Model.pageMode" === "EDIT") {
                itemFileSupportingDocument += ' | ';
                itemFileSupportingDocument += '<a href="javascript:void(0);" onclick="delete_file_note()" data-toggle="tooltip" title="Remove File"><i class="fa fa-trash-o" aria-hidden="true" style="color:#0a7ab1"></i> Remove File</a>';
            }
            itemFileSupportingDocument += '</p>';
            $("#hedge_steering_committee_submit_note_attach_file").val(filePath);
            return itemFileSupportingDocument;
        }

        // LOAD ITEM: FILE SUPPORTING DOCUMENT //
        function LoadFileDocument() {
            if ($('#attach_file').val() !== "") {
                $('#fileDocumentUploaded').append(MakeUploadFilDocument($('#attach_file').val()));
            }
        }

        function delete_file() {
            $('#fileDocumentUploaded').empty();
            $("#attach_file").val("");
        }

        // LOAD ITEM: FILE SUPPORTING DOCUMENT //
        function LoadFileDocumentNote() {
            if ($('#hedge_steering_committee_submit_note_attach_file').val() !== "") {
                $('#fileDocumentUploaded_note').append(MakeUploadFilDocumenNote($('#hedge_steering_committee_submit_note_attach_file').val()));
            }
        }

        function delete_file_note() {
            $('#fileDocumentUploaded_note').empty();
            $("#hedge_steering_committee_submit_note_attach_file").val("");
        }
</script>

<!-- MODAL EVENT-->
<script type="text/javascript">
        $("[name='model.hedge_annual']").on("show.bs.modal", function (event) {
            if (!ValidateEssentialBefore()) return false; // stops modal from being shown
            var button = $(event.relatedTarget); // Button that triggered the modal
            var button_action = button.data('action'); // Extract info from data-* attributes

            var modal = $(this);
            modal.find("[name='action']").val(button_action);
        })

        function ValidateEssential() {
            RemoveValidateEssential();
            var i = 0;

            $(".essential").each(function () {
                if ($.trim($(this).val()) == "") {
                    if ($(this).attr("readonly") !== "readonly" && $(this).attr("disabled") !== "disabled") {
                        i++;
                        addValidMessageError($("#" + $(this).attr("id")), "Please input Value.");
                    }
                }
            });

            if ($('#hedge_annual_submit_note_attach_file').val() == "") {
                i++;
                $(".essential-file").css("border", "2px solid #fe5e5e");
                $(".essential-file").css("border-radius", "7px");
            }
            else {
                $(".essential-file").css("border", "");
                $(".essential-file").css("border-radius", "");
            }

            if (i > 0)
                return false;
            return true;
        }

        function RemoveValidateEssential() {
            $(".essential").removeClass("input-error");
        }

        function ValidateEssentialBefore() {
            RemoveValidateEssentialBefore();
            var i = 0;

            $(".essential-before").each(function () {
                if ($.trim($(this).val()) == "") {
                    if ($(this).attr("readonly") !== "readonly" && $(this).attr("disabled") !== "disabled") {
                        i++;
                        addValidMessageError($("#" + $(this).attr("id")), "Please input Value.");
                    }
                }
            });

            if (i > 0)
                return false;
            return true;
        }

        function RemoveValidateEssentialBefore() {
            $(".essential-before").removeClass("input-error");
        }
</script>

<!-- FINALIZATION SCRIPT -->
<script type="text/javascript">
    $(function () {
        $(".checkboxStatus").bootstrapToggle({
            on: 'ACTIVE',
            off: 'INACTIVE',
        });

        $("input").each(function () {
            $(this).on("keyup keypress", function (e) {
                var keyCode = e.keyCode || e.which;
                if (keyCode === 13) {
                    e.preventDefault();
                    return false;
                }
            });
        });
    });
</script>