﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.HedgeSteeringCommitteeSearchViewModel
@{
    ViewBag.Title = "Hedged Steering Committee Framework";
}

@using (Html.BeginForm("SearchResult", "HedgeSteeringCommittee", FormMethod.Post, new { @class = "form-horizontal", @name = "searchForm", @id = "searchForm" }))
{
    <div class="page-header">
        <h1>@ViewBag.Title</h1>
    </div>

    <div class="form-horizontal">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 control-label">Reference No.</label>
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.reference_no, new { @class = "form-control"})
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 control-label">Tenor</label>
                    <div class="col-md-6">
                        <div class="input-group input-daterange">
                            @Html.TextBoxFor(m => m.tenor_from, new { @class = "form-control", @placeholder = "MM/YYYY", @maxlength = "18" })
                            <div class="input-group-addon">to</div>
                            @Html.TextBoxFor(m => m.tenor_to, new { @class = "form-control", @placeholder = "MM/YYYY", @maxlength = "18" })
                        </div>
                        @*@Html.TextBoxFor(m => m.tenor_from, new { @class = "form-control input-date-picker", @placeholder = "MM/YYYY to MM/YYYY", @maxlength = "18" })*@
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 control-label">Trading Book</label>
                    <div class="col-md-6">
                        @Html.DropDownListFor(m => m.trading_book, new SelectList(Model.ddlTrading, "Value", "Text", Model.trading_book), "-- Select All --", new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 control-label">Package Name</label>
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.package_name, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 control-label">Approved Date</label>
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.approved_date, new { @class = "form-control input-date-picker search-input", @placeholder = "DD-MMM-YYYY to DD-MMM-YYYY", @maxlength = "26" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 control-label">Update Date</label>
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.update_date, new { @class = "form-control input-date-picker search-input", @placeholder = "DD-MMM-YYYY to DD-MMM-YYYY", @maxlength = "26" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 control-label">Hedging Type</label>
                    <div class="col-md-6">
                        @Html.DropDownListFor(m => m.hedge_type, new SelectList(Model.ddlHedgeType, "Value", "Text", Model.hedge_type), "-- Select All --", new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 control-label">Update By</label>
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.update_by, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 control-label">Intrument</label>
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.intrument, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 control-label">Status</label>
                    <div class="col-md-6">
                        @Html.DropDownListFor(m => m.status, new SelectList(Model.ddlStatus, "Value", "Text", Model.status), "-- Select All --", new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 control-label">Exceed Annual FW</label>
                    <div class="col-md-6">
                        <div class="checkbox">
                            @if (Model.exceed_annual_fw == "Y")
                            {
                                <input type="checkbox" class="form-control" name="exceed_annual_fw_temp" id="exceed_annual_fw_temp" onclick="update_exceed_annual()" checked />
                            }
                            else
                            {
                                <input type="checkbox" class="form-control" name="exceed_annual_fw_temp" id="exceed_annual_fw_temp" onclick="update_exceed_annual()"  />
                            }
                            <label for="exceed_annual_fw_temp"></label>
                                @Html.HiddenFor(m => m.exceed_annual_fw)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="pull-left">
            @Html.ActionLink("New", "Create", new { controller = "HedgeSteeringCommittee" }, new { @class = "btn btn-success" })
        </div>
        <div class="pull-right">
            @Html.ActionLink("Copy", "Copy", new { controller = "HedgeSteeringCommittee" }, new { @class = "btn btn-success" })
        </div>
        <center>
            <button type="submit" class="btn btn-primary">Search</button>
            <button type="button" class="btn btn-default" onclick="clear_input()">Clear All</button>
        </center>
    </div>
}

<div class="page-header">
    <h1>Search Result</h1>
</div>

<table id="searchResultTable" class="table table-hover display" cellspacing="0">
    <thead>
        <tr>
            <th>Reference No.</th>
            <th>Trading Book</th>
            <th>Year</th>
            <th>Approved Date</th>
            <th>Tenor</th>
            <th>Hedging Type</th>
            <th>Desc</th>
            <th>Intrument</th>
            <th>Package Name</th>
            <th>Update Date</th>
            <th>Update By</th>
            <th>Version</th>
            <th>Status</th>
            <th>Exceed Annual FW</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<script>

    $(document).ready(function () {
        $('#searchResultTable').DataTable({
            "columnDefs": [
                {
                    "targets": [2],
                    "orderable": false
                }
            ],
            "scrollCollapse": true,
            "orderable": false,
            "bSort": false,
        });
    });

    $('#tenor_from').dateRangePicker(
        {
            autoClose: true,
            singleDate: true,
            showShortcuts: false,
            format: 'MM/YYYY',
            time: { enabled: false },
            date: { enabled: false }
        });

    $('#tenor_to').dateRangePicker(
        {
            autoClose: true,
            singleDate: true,
            showShortcuts: false,
            format: 'MM/YYYY',
            time: { enabled: false },
            date: { enabled: false }
        });
    $('#approved_date').dateRangePicker(
            {
                autoClose: true,
                singleDate: false,
                showShortcuts: false,
                format: 'DD/MM/YYYY',
                time: { enabled: false },
                date: { enabled: false }
    });
    $('#update_date').dateRangePicker(
        {
            autoClose: true,
            singleDate: false,
            showShortcuts: false,
            format: 'DD/MM/YYYY',
            time: { enabled: false },
            date: { enabled: false }
        });

    function update_exceed_annual() {
        if (document.getElementById("exceed_annual_fw_temp").checked) {
            $("#exceed_annual_fw").val("Y");
        }
        else
        {
            $("#exceed_annual_fw").val("N");
        }
    }
</script>