﻿@using ProjectCPAIEngine.Utilities;
@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.CoolCAMComparisonViewModel
@{
    ViewBag.Title = "CAM Comparison";
    Layout = "~/Areas/CPAIMVC/Views/Shared/_Layout.cshtml";
    string type = ViewBag.Type == null ? "CRUDE" : ViewBag.Type;
    string typeDecrypt = ViewBag.TypeDecrypt;
    if (Model.pageMode == null)
    {
        Model.pageMode = "READ";
    }
}

<script>
    var header_height = $(".header").height() + $("#Expert_title").height() + 110;
    document.getElementsByTagName("BODY")[0].onresize = function () {
        if (msieversion()) {
            $('#show_cam').css({ 'height': '720px', 'width': '142%' });
            $('#spreadsheet').css({ 'height': '100%' });
        } else {
            $('#show_cam').css({ 'height': '650px', 'width': '100%' });
            $('#spreadsheet').css({ 'height': '100%' });
        }
    };
    document.getElementsByTagName("BODY")[0].onload = function () {
        if (msieversion()) {
            $('#show_cam').css({ 'height': '720px', 'width': '142%' });
            $('#spreadsheet').css({ 'height': '100%' });
        } else {
            $('#show_cam').css({ 'height': '650px', 'width': '100%' });
            $('#spreadsheet').css({ 'height': '100%' });
        }
    };

    function msieversion() {
        if (navigator.appName == 'Microsoft Internet Explorer' || !!(navigator.userAgent.match(/Trident/) || navigator.userAgent.match(/rv:11/)) || (typeof $.browser !== "undefined" && $.browser.msie == 1)) {
            return true;
        }
        else {
            return false;
        }
    }
</script>



<style type="text/css">
    .table > tbody > tr > td {
        vertical-align: middle;
    }

        .table > tbody > tr > td > div {
            float: left;
            padding: 5px;
            min-width: 50px;
        }

    div.tooltip-inner {
        text-wrap: normal;
        text-align: left;
        font-size: inherit;
        width: auto;
        height: auto;
        max-width: 400px;
        max-height: none;
    }

    span.draft:before {
        content: '\f111'; /*'\f057';*/
        display: inline-block;
        color: #ff6a6a;
        font: normal normal normal 14px/1 FontAwesome;
        font-style: normal;
        font-variant-ligatures: normal;
        font-variant-caps: normal;
        font-variant-numeric: normal;
        font-weight: normal;
        font-stretch: normal;
        font-size: inherit;
        line-height: 1;
        font-family: FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    span.submit:before {
        content: '\f111';
        display: inline-block;
        color: #ffa500;
        font: normal normal normal 14px/1 FontAwesome;
        font-style: normal;
        font-variant-ligatures: normal;
        font-variant-caps: normal;
        font-variant-numeric: normal;
        font-weight: normal;
        font-stretch: normal;
        font-size: inherit;
        line-height: 1;
        font-family: FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    span.approved:before {
        content: '\f111'; /*'\f058';*/
        display: inline-block;
        color: #2e8b57;
        font: normal normal normal 14px/1 FontAwesome;
        font-style: normal;
        font-variant-ligatures: normal;
        font-variant-caps: normal;
        font-variant-numeric: normal;
        font-weight: normal;
        font-stretch: normal;
        font-size: inherit;
        line-height: 1;
        font-family: FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    span.cancel:before {
        content: '\f014';
        display: inline-block;
        color: #e21789;
        font: normal normal normal 14px/1 FontAwesome;
        font-style: normal;
        font-variant-ligatures: normal;
        font-variant-caps: normal;
        font-variant-numeric: normal;
        font-weight: normal;
        font-stretch: normal;
        font-size: inherit;
        line-height: 1;
        font-family: FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    span.inactive:before {
        content: '\f111'; /*'\f056';*/
        display: inline-block;
        color: gray;
        font: normal normal normal 14px/1 FontAwesome;
        font-style: normal;
        font-variant-ligatures: normal;
        font-variant-caps: normal;
        font-variant-numeric: normal;
        font-weight: normal;
        font-stretch: normal;
        font-size: inherit;
        line-height: 1;
        font-family: FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    span.file-doc:before {
        content: '\f1c2';
        display: inline-block;
        color: dodgerblue;
        font: normal normal normal 14px/1 FontAwesome;
        font-style: normal;
        font-variant-ligatures: normal;
        font-variant-caps: normal;
        font-variant-numeric: normal;
        font-weight: normal;
        font-stretch: normal;
        font-size: inherit;
        line-height: 1;
        font-family: FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    span.file-xls:before {
        content: '\f1c3';
        display: inline-block;
        color: green;
        font: normal normal normal 14px/1 FontAwesome;
        font-style: normal;
        font-variant-ligatures: normal;
        font-variant-caps: normal;
        font-variant-numeric: normal;
        font-weight: normal;
        font-stretch: normal;
        font-size: inherit;
        line-height: 1;
        font-family: FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    span.file-ppt:before {
        content: '\f1c4';
        display: inline-block;
        color: orangered;
        font: normal normal normal 14px/1 FontAwesome;
        font-style: normal;
        font-variant-ligatures: normal;
        font-variant-caps: normal;
        font-variant-numeric: normal;
        font-weight: normal;
        font-stretch: normal;
        font-size: inherit;
        line-height: 1;
        font-family: FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    span.file-pdf:before {
        content: '\f1c1';
        display: inline-block;
        color: red;
        font: normal normal normal 14px/1 FontAwesome;
        font-style: normal;
        font-variant-ligatures: normal;
        font-variant-caps: normal;
        font-variant-numeric: normal;
        font-weight: normal;
        font-stretch: normal;
        font-size: inherit;
        line-height: 1;
        font-family: FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    span.file-msg:before {
        content: '\f003';
        display: inline-block;
        color: orange;
        font: normal normal normal 14px/1 FontAwesome;
        font-style: normal;
        font-variant-ligatures: normal;
        font-variant-caps: normal;
        font-variant-numeric: normal;
        font-weight: normal;
        font-stretch: normal;
        font-size: inherit;
        line-height: 1;
        font-family: FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    span.file-other:before {
        content: '\f016';
        display: inline-block;
        color: gray;
        font: normal normal normal 14px/1 FontAwesome;
        font-style: normal;
        font-variant-ligatures: normal;
        font-variant-caps: normal;
        font-variant-numeric: normal;
        font-weight: normal;
        font-stretch: normal;
        font-size: inherit;
        line-height: 1;
        font-family: FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .ui-autocomplete {
        max-height: 200px;
        /*overflow-y: auto;*/
        /* prevent horizontal scrollbar */
        /*overflow-x: hidden;*/
        overflow-y: auto;
        overflow-x: hidden;
        width: 400px;
        font-size: 10pt;
    }
    /* IE 6 doesn't support max-height
    * we use height instead, but this forces the menu to always be this tall
    */
    * html .ui-autocomplete {
        height: 200px;
    }
</style>
@*@using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", @name = "searchForm", @id = "searchForm" }))*@
<form id="frm-example" action="" method="post" enctype="multipart/form-data" class="form-horizontal">
    <div class="page-header">
        <h1>@ViewBag.Title</h1>
    </div>
    @Html.Hidden("hdfNoteAction")
    @Html.HiddenFor(m => m.pageMode, Model.pageMode)
    @Html.HiddenFor(m => m.buttonMode, Model.buttonMode)
    @Html.HiddenFor(m => m.buttonCode, Model.buttonCode)
    @Html.HiddenFor(m => m.reqID, Model.reqID)
    @Html.HiddenFor(m => m.taskID, Model.taskID)
    @Html.HiddenFor(m => m.rowData, Model.rowData)
     
    

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-md-3 control-label">Assay Reference No.</label>
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.sAssayRef, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-md-3 control-label">Crude Name</label>
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.sCrudeName, new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-md-3 control-label">Country</label>
                <div class="col-md-6">
                    @Html.DropDownListFor(model => model.sCountry, new SelectList(Model.country, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-md-3 control-label">Crude Categories</label>
                <div class="col-md-6">
                    @Html.DropDownListFor(model => model.sCrudeCategories, new SelectList(Model.crudeCategories, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-md-3 control-label">Crude Kerogen Type</label>
                <div class="col-md-6">
                    @Html.DropDownListFor(model => model.sCrudeKerogen, new SelectList(Model.crudeKerogen, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-md-3 control-label">Crude Characteristic</label>
                <div class="col-md-6">
                    @Html.DropDownListFor(model => model.sCrudeCharacteristic, new SelectList(Model.crudeCharacteristic, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-md-3 control-label">Crude Maturity</label>
                <div class="col-md-6">
                    @Html.DropDownListFor(model => model.sCrudeMaturity, new SelectList(Model.crudeMaturity, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <div class="col-md-12 text-center">
                <input type="submit" id="btnSearch" class="btn btn-primary" style="width:125px" name="action:CAMComparisonResult" value="Search" />
                @if (Model.pageMode == "EDIT")
                {
                    <button type="button" class="btn btn-success"  style="width:125px;" onclick="CKCheckbox()">Compare</button>
                    <input type="submit" id="btnCompare" class="btn btn-success" style="width:125px; display:none;" name="action:CAMComparisonExcel" onclick="getSelected()" value="Compare" />
                }     
                
                @if (Model.pageMode == "VIEW" && !string.IsNullOrEmpty(Model.fileName))
                {
                    <button type="button" class="btn btn-success clickable-file" style="width:125px" data-dismiss="modal" data-href="@Model.fileUrl">Print</button>
                }           
            </div>
        </div>
    </div>
    
    @if (Model.pageMode == "EDIT")
    {
        <div>
            <h1>Search Result</h1>
        </div>
        <div class="task-box">
            <div class="wrapper-table collapse in col-sm-12">
                <table id="CAMComparisonResultTable" class="table table-hover display" cellspacing="0">
                    <thead>
                        <tr>
                            <th rowspan="1" style="width:47px">Action</th>
                            <th rowspan="1" style="width:441px">Crude Name</th>
                            <th rowspan="1" style="width:173px">Country</th>
                            <th rowspan="1" style="width:335px">Assay Ref.</th>
                        </tr>
                    </thead>
                    <tbody style="width: 1060px;">
                        @if (Model.CoolCAMComparisonTransaction != null && Model.CoolCAMComparisonTransaction.Any())
                        {
                            foreach (var item in Model.CoolCAMComparisonTransaction)
                            {
                                <tr class="drafts" style="cursor: pointer;">
                                    <td style="width:50px">@item.products|@item.origin|@item.assay_ref</td>
                                    <td>
                                        @item.products
                                    </td>
                                    <td>
                                        @item.origin
                                    </td>
                                    <td>
                                        @item.assay_ref
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <pre id="example-console-rows" style="display:none;"></pre>
        </div>
    }    

    @if (Model.pageMode == "VIEW")
    {
        <div>
            <h1>Compared Data</h1>
        </div>
        <div class="task-box">
            <div id="show_cam" class="task-box" style="zoom:70%">

                @if (Model != null)
                {
                    if (!string.IsNullOrEmpty(Model.fileName))
                    {
                        @Html.Partial("GenerateView", Model.fileName)
                    }
                }
            </div>
        </div>
    }
    
</form>
@if (TempData["res_message"] != null)
{
    if (TempData["returnPage"] != null)
    {
        <script type="text/javascript">
            OpenBoxPopupLink((@Html.Raw(Json.Encode(TempData["res_message"]))), @Html.Raw(Json.Encode(TempData["returnPage"]))).done(function() {
                $("#EventButton").val("0");
            });
        </script>
    }
    else
    {
        <script type="text/javascript">
            OpenBoxPopup(@Html.Raw(Json.Encode(TempData["res_message"])));
        </script>
    }
}
<link href="~/Content/js/plugins/datatables/extensions/Checkboxes/css/dataTables.checkboxes.css" rel="stylesheet" />
<script src="~/Content/js/plugins/datatables/extensions/Checkboxes/js/dataTables.checkboxes.js"></script>
<script type="text/javascript">
    $(".clickable-row").click(function () {
        window.document.location = $(this).data("href");
    });

    $(".clickable-file").click(function () {
        var path = getWebSitePath();
        window.document.location = path + '/' + $(this).data("href");
    });

    function CKCheckbox() {
        //var numberOfChecked = $('.dt-checkboxes').filter(':checked').length
        var numberOfChecked = table.column(0).checkboxes.selected().count();
        if (numberOfChecked <= 0) {
            OpenBoxPopup("Please select at least a crude.");
        }
        else if (numberOfChecked > 4)
        {
            OpenBoxPopup("Can't select more then 4 crudes.");
        }
        else
        {
            $("#btnCompare").click();
        }
    }
        
    // GET WEB SITE PATH //
    function getWebSitePath() {
        var _location = document.location.toString();
        var applicationNameIndex = _location.indexOf('/', _location.indexOf('://') + 3);
        var applicationName = _location.substring(0, applicationNameIndex) + '/';
        var webFolderIndex = _location.indexOf('/', _location.indexOf(applicationName) + applicationName.length);
        var webFolderFullPath = _location.substring(0, webFolderIndex).toString().replace('/CPAIMVC', '');
        return webFolderFullPath;
    }

            var table;
            function getSelected() {
                var form = this;
                var selectedIds = table.column(0).checkboxes.selected();
                $('#example-console-rows').text(selectedIds.join(","));
                $('#rowData').val($('#example-console-rows').text());
            }

            // CANCEL ACTION //
            $(".clickable-cancel").click(function () {
                var data = $(this).data("href").split('|');
                if (data.length > 1) {
                    var taskID = data[0];
                    var reqID = data[1];
                    $("#taskID").val(taskID);
                    $("#reqID").val(reqID);
                }

                bootbox.prompt({
                    title: "Reason for cancel : The transaction cannot be reused.",
                    inputType: 'textarea',
                    maxlength: 1000,
                    callback: function (result) {
                        if (result) {
                            $("#hdfNoteAction").val(result);
                            $("#btnCancel").click();
                            LoadingProcess();
                        }
                    }
                });
            });

            // LINK ACTION //
            $(".clickable-row").click(function () {
                window.document.location = $(this).data("href");
            });

            // DOWNLOAD FILE ACTION //
            $(".clickable-file").click(function () {
                var path = getWebSitePath();
                window.document.location = path + '/' + $(this).data("href");
            });

            // GET WEB SITE PATH //
            function getWebSitePath() {
                var _location = document.location.toString();
                var applicationNameIndex = _location.indexOf('/', _location.indexOf('://') + 3);
                var applicationName = _location.substring(0, applicationNameIndex) + '/';
                var webFolderIndex = _location.indexOf('/', _location.indexOf(applicationName) + applicationName.length);
                var webFolderFullPath = _location.substring(0, webFolderIndex).toString().replace('/CPAIMVC', '');
                return webFolderFullPath;
            }

            // DOCUMENT READY
            $(function () {
                // SEARCH RESULT DATATABLE //
                table = $('#CAMComparisonResultTable').DataTable({
                    'columnDefs': [
                        {
                            'targets': 0,
                            'checkboxes': {
                                'selectRow': true
                            }
                        }
                    ],
                    "columns": [
                        { "data": "Transaction_id_Encrypted" },
                        { "data": "products" },
                        { "data": "origin" },
                        { "data" :"assay_ref" }],
                    'select': {
                        'style': 'multi'
                    },
                    "scrollY": "700px",
                    "scrollX": true,
                    "scrollCollapse": true,
                    "orderable": false,
                    "bSort": false,
                    // SET TOOLTIP STATUS OF EXPERT UNIT //
                    "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                        $('[data-toggle="tooltip"]').tooltip({ 'html': 'true', 'position': 'fixed' });
                    },
                    "fnDrawCallback": function (oSettings) {
                        $('[data-toggle="tooltip"]').tooltip({ 'html': 'true', 'position': 'fixed' });
                    }
                });

                setTimeout(function () {
                    table.columns.adjust().draw();
                }, 1000);
            });

</script>
