﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.CoolViewModel
@{
    ViewBag.Title = "Generate final CAM";

    if (Model.pageMode == null)
    {
        Model.pageMode = "EDIT";
    }
    if (Model.buttonMode == null)
    {
        Model.buttonMode = "AUTO";
    }
    if (Request.QueryString["Tran_Req_ID"] != null)
    {
        Model.reqID = Request.QueryString["Tran_Req_ID"].ToString();
    }
    else
    {
        Model.reqID = string.IsNullOrEmpty(Model.reqID) ? "" : Model.reqID;
    }
    string type = ViewBag.Type == null ? "CRUDE" : ViewBag.Type;
    if (Model.taskID == null)
    {
        Model.taskID = "Draft";
    }

    if (Model.purno == null)
    {
        Model.purno = "";
    }
}

<style>
    .header .wrapper-main {
        width: 95%;
        margin-left: 2.5%;
        margin-right: auto;
        margin-bottom: 0;
        margin-top: 0;
    }

    .form-control {
        border-radius: 0px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .main-content {
        width: 95%;
        margin: 0 auto;
    }

    .container {
        width: auto;
        padding: 0;
    }
</style>

<script>
    var header_height = $(".header").height() + $("#Expert_title").height() + 110;
    document.getElementsByTagName("BODY")[0].onresize = function() {
        $('.comment-box').css('height', ($(window).height() - header_height));
        if(msieversion()){
            $('#show_cam').css({ 'height': '115%', 'width': '142.8%' });
            $('#spreadsheet').css({ 'height': '100%' });
        } else {
            $('#show_cam').css({ 'height': '90%', 'width': '100%' });
            $('#spreadsheet').css({ 'height': '100%' });
        }
    };
    document.getElementsByTagName("BODY")[0].onload = function() {
        $('.comment-box').css('height', ($(window).height()- header_height));
        if(msieversion()){
            $('#show_cam').css({ 'height': '115%', 'width': '142.8%' });
            $('#spreadsheet').css({ 'height': '100%'});
        } else {
            $('#show_cam').css({ 'height': '90%', 'width': '100%' });
            $('#spreadsheet').css({ 'height': '100%' });
        }
    };

    function msieversion() {
        if (navigator.appName == 'Microsoft Internet Explorer' ||  !!(navigator.userAgent.match(/Trident/) || navigator.userAgent.match(/rv:11/)) || (typeof $.browser !== "undefined" && $.browser.msie == 1))
        {
            return true;
        }
        else
        {
            return false;
        }
    }
</script>


<div class="wrapper-detail">
    <div>
        <h1 style="margin-top: 10px; margin-bottom: -10px; display:inline-block;">@ViewBag.Title</h1>
        <a target="_blank" class="button btn btn-primary pull-right" href="ExtendExcel?tempExtendExcel=@(Model != null && !string.IsNullOrEmpty(Model.data.draft_cam_file) ? Model.data.draft_cam_file : string.Empty)" style="display:inline-block; margin-right:350px; margin-top: 10px;">Extend</a>
    </div>
    <hr style="margin-top:10px;margin-bottom:10px;" />
    <form action="" method="post" enctype="multipart/form-data">
        @Html.Hidden("hdfNoteAction")
        @Html.Hidden("EventButton", "0")
        @Html.HiddenFor(m => m.pageMode, Model.pageMode)
        @Html.HiddenFor(m => m.buttonMode, Model.buttonMode)
        @Html.HiddenFor(m => m.buttonCode, Model.buttonCode)
        @Html.HiddenFor(m => m.reqID, Model.reqID)
        @Html.HiddenFor(m => m.taskID, Model.taskID)
        <div class="row">
            <div class="col-md-9 comment-box" style="overflow-y: hidden; overflow-x:hidden;">
                <p class="bg-primary" style="padding-left:.2cm;font-weight:bold;border-bottom:5px solid #e21789;margin-bottom:0px;">CRUDE ACCAPTANCE MATRIX (CAM)</p>
                <div id="show_cam" style="width:143%;zoom:60%">
                    @if (Model.data != null)
                    {
                        if (!string.IsNullOrEmpty(Model.data.draft_cam_file))
                        {
                            @Html.Partial("GenerateView", Model.data.draft_cam_file)
                        }
                        else if(!string.IsNullOrEmpty(Model.data.final_cam_file))
                        {
                            @Html.Partial("GenerateView", Model.data.final_cam_file)
                        }
                    }
                </div>
            </div>
            <div class="col-md-3 comment-box" style="padding-left: 25px; margin:0;overflow-x: hidden;overflow-y: auto;">
            @if (Model.data != null)
            {
                    <div class="bg-primary"><p style="padding-left:.2cm;font-weight:bold;border-bottom:5px solid #e21789;">Requester Information</p></div>
                    <div class="row" style="background-color:#eff0f1;margin-top:-.25cm;margin-left:.1px;margin-right:.1px;margin-bottom:-.25cm;">
                        <div class="col-md-4"><p style="padding-left:.2cm;">Name</p></div>
                        <div class="col-md-8"><p style="padding-left:.2cm;">@Model.data.name</p></div>
                        <hr />
                    </div>
                    <div class="row" style="background-color:#eff0f1;margin-top:-.25cm;margin-left:.1px;margin-right:.1px;">
                        <div class="col-md-4"><p style="padding-left:.2cm;">Area / Unit</p></div>
                        <div class="col-md-8"><p style="padding-left:.2cm;">@Model.data.area_unit</p></div>
                    </div>
                    <div class="row" style="background-color:#eff0f1;margin-top:-.25cm;margin-left:.1px;margin-right:.1px;">
                        <div class="col-md-4"><p style="padding-left:.2cm;">Create Date</p></div>
                        <div class="col-md-8"><p style="padding-left:.2cm;">@Model.data.date_purchase</p></div>
                    </div>


                if (Model.data.workflow_status == "WAITING CREATE FINAL CAM" && (bool)TempData["isSCEP"] && Model.areas != null)
                {
                    <div class="bg-primary"><p style="padding-left:.2cm;font-weight:bold;border-bottom:5px solid #e21789;"></p></div>
                    for (int i = 0; i < Model.areas.area.Count; i++)
                    {
                        @Html.HiddenFor(m => m.areas.area[i].name, Model.areas.area[i].name)
                        @Html.HiddenFor(m => m.areas.area[i].isSelected, Model.areas.area[i].isSelected)
                        @Html.HiddenFor(m => m.areas.area[i].unit, Model.areas.area[i].unit)
                        <div class="checkbox">
                            @if (Model.areas.area[i].isSelected == "Y")
                            {
                                <input type="checkbox" id="checkbox_@(i)" name="checkbox_@(i)" checked="checked" onclick="ChangeStatusisSelected(@(i))" />
                            }
                            else
                            {
                                <input type="checkbox" id="checkbox_@(i)" name="checkbox_@(i)" onclick="ChangeStatusisSelected(@(i))" />
                            }
                            <label for="checkbox_@(i)">Reject @Model.areas.area[i].name</label>
                        </div>
                    }
                }
                else
                {
                    if (Model.areas != null && Model.areas.area != null && Model.areas.area.Any())
                    {
                        for (int i = 0; i < Model.areas.area.Count; i++)
                        {
                            @Html.HiddenFor(m => m.areas.area[i].name, Model.areas.area[i].name)
                            @Html.HiddenFor(m => m.areas.area[i].isSelected, Model.areas.area[i].isSelected)
                            for (int j = 0; j < Model.areas.area[i].unit.Count; j++)
                            {
                                @Html.HiddenFor(m => m.areas.area[i].unit[j].key)
                                @Html.HiddenFor(m => m.areas.area[i].unit[j].name)
                                @Html.HiddenFor(m => m.areas.area[i].unit[j].isSelected_expert)
                                @Html.HiddenFor(m => m.areas.area[i].unit[j].isSelected_expert_sh)
                            }
                        }
                    }

                }
                <div class="bg-primary"><p style="padding-left:.2cm;font-weight:bold;border-bottom:5px solid #e21789;">Admin Comment</p></div>
                if (((bool)TempData["isSCEP"] && (Model.data.workflow_status == "WAITING CREATE FINAL CAM")) || ((bool)TempData["SCEP_SH"] && !(Model.data.workflow_status == "WAITING CREATE FINAL CAM")))
                {
                    if ((Model.pageMode == "EDIT" || Model.pageMode == "EDIT_REASON") && Model.data.created_by.ToLower() != "migrate")
                    {
                        @Html.TextAreaFor(m => m.comment_final_cam, new { @class = "form-control", @style = "min-height: 123px; max-width: 100%;margin-top:-.25cm;margin-bottom:.25cm;" })
                    }
                    else
                    {
                        @Html.TextAreaFor(m => m.comment_final_cam, new { @class = "form-control", @style = "min-height: 123px; max-width: 100%;margin-top:-.25cm;margin-bottom:.25cm;", @readonly = "readonly" })
                    }
                }
                else
                {
                    @Html.TextAreaFor(m => m.comment_final_cam, new { @class = "form-control", @style = "min-height: 123px; max-width: 100%;margin-top:-.25cm;margin-bottom:.25cm;", @readonly = "readonly" })
                }
                <div class="wrapper-button" id="buttonDiv">

                    @if (Model.buttonMode == "AUTO")
                    {
                        <input type="submit" value="SAVE DRAFT" class="btn btn-default" onclick="OpenBoxBungerPrompt('Comment :', 'SaveDraft'); return false;" />
                        <input type="submit" value="SUBMIT" class="btn btn-default" name="action:Submit" onclick="OpenBoxBungerPrompt('Comment :', 'Submit'); return false;" />
                        <input type="submit" value="SAVE DRAFT" id="btnSaveDraft" style="display: none;" name="action:SaveDraft" />
                        <input type="submit" value="SUBMIT" id="btnSubmit" style="display: none;" name="action:Submit" />
                    }
                    else
                    {
                        @Html.Hidden("hdfEventClick")
                        @Html.Raw(@Model.buttonCode)
                    }
                </div>
            }
            </div>
        </div>
    </form>
</div>

@if (TempData["res_message"] != null)
{
    if (TempData["returnPage"] != null)
    {
        <script type="text/javascript">
                OpenBoxPopupLink((@Html.Raw(Json.Encode(TempData["res_message"]))), @Html.Raw(Json.Encode(TempData["returnPage"]))).done(function() {
                    $("#EventButton").val("0");
                });
        </script>
    }
    else
    {
        <script type="text/javascript">
                OpenBoxPopup(@Html.Raw(Json.Encode(TempData["res_message"])));
        </script>
    }
}

<script>

    //$(function() {
    //    $(".comment-box").height(($(window).height()*67.8)/100);
    //});

    function ChangeStatusisSelected(i) {
        if ($("#checkbox_" + i).prop("checked")) {
            $("#areas_area_" + i + "__isSelected").val("Y");
        } else {
            $("#areas_area_" + i + "__isSelected").val("N");
        }
    }


    // CONFIRMATION BEFORE SAVE //
    function OpenBoxBungerPrompt(MSG, Event) {

        // SAVE FILE SUPPORTING DOCUMENT //
        var area_index = $("#area_index").val();
        for (i = 0; i < area_index; i++) {
            var unit_index = $("#unit_index_" + i).val();
            for (j = 0; j < unit_index; j++) {
                SaveFileSupportingDocument(i, j);
            }
        }

        // BUTTON ACTION //
        $('#EventButton').val("1");
        if (Event == "SaveAndPreview") {
            //$("#btnGenPDF").click();
            setTimeout(function () {
                $('form').attr('target', '_self');
                $("#btnSaveDraft").click();
            }, 1000);
        }
        $('form').attr('target', '_self');

        if (Event != "SaveDraft" && Event != "SaveAndPreview" && Event != "Submit") {
            if ($("#hdfEventClick").length != 0) {
                $("#hdfEventClick").val(Event);
            }
        }

        // CASE: SUBMIT
        if (Event.toUpperCase() == "SUBMIT") {

            var ck = true;
            if ($("#comment_final_cam").val() == "") {
                document.getElementById("comment_final_cam").style.borderColor = "red";
                ck = false;
            } else {
                document.getElementById("comment_final_cam").style.borderColor = "";
            }

            if (ck) {
                bootbox.confirm({
                    message: "Are you sure to submit?",
                    buttons: {
                        confirm: {
                            label: 'Yes',
                        },
                        cancel: {
                            label: 'No',
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $('form').attr('target', '_self');
                            if (Event == "SUBMIT") {
                                $("#btnMANUAL").click();
                            } else {
                                $("#btnSubmit").click();
                            }
                            LoadingProcess();
                        } else{
                            $('#EventButton').val("0");
                        }
                    }
                });
            }
        }
        // CASE: APPROVE
        else if (Event.toUpperCase() == "APPROVE") {
            var ck = true;
            if ($("#comment_final_cam").val() == "") {
                document.getElementById("comment_final_cam").style.borderColor = "red";
                ck = false;
            } else {
                document.getElementById("comment_final_cam").style.borderColor = "";
            }
            if (ck) {
                $("#btnMANUAL").click();
                LoadingProcess();
            } else{
                $('#EventButton').val("0");
            }
        }

        //CASE: CANCEL
        else if(Event.toUpperCase() == "CANCEL"){
            bootbox.prompt({
                title: MSG,
                inputType: 'textarea',
                maxlength: 1000,
                callback:  function (result) {
                    if (result === null) {
                        //Do nothing (cancel button pressed)
                        $('#EventButton').val("0");
                    } else {
                        $("#hdfNoteAction").val(result);
                        $('form').attr('target', '_self');
                        $("#btnMANUAL").click();
                        LoadingProcess();
                    }
                }
            });   
        }
            // CASE: SAVE DRAFT
        else {
            $('form').attr('target', '_self');
            if (Event == "Upload") {
                $("#btnUpload").click();
            } else if (Event == "SaveDraft") {
                $("#btnSaveDraft").click();
            } else if (Event == "Submit") {
                $("#btnSubmit").click();
            } else {
                $("#btnMANUAL").click();
            }
            LoadingProcess();
        }
    }

    $(function(){
        //document.body.style.zoom = "75%";
        $("#show_cam").css("zoom", "60%");
        $('#spreadsheet_WBC').attr('style', 'height: 130% !important; width: 150%');
        $('#spreadsheet_ScrollContent').attr('style', 'width: 250% !important; height: 1500% !important;');

    });
</script>