﻿@using System.Web.UI.WebControls;
@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.CoolTimeReport
@{
    ViewBag.Title = "TimeReport";

    if (TempData["isSearch"] == null)
    {
        TempData["isSearch"] = false;
    }

    List<SelectListItem>
    month = new List<SelectListItem>
        ();
    month.Add(new SelectListItem { Text = "January", Value = "Jan" });
    month.Add(new SelectListItem { Text = "February", Value = "Feb" });
    month.Add(new SelectListItem { Text = "March", Value = "Mar" });
    month.Add(new SelectListItem { Text = "April", Value = "Apr" });
    month.Add(new SelectListItem { Text = "May", Value = "May" });
    month.Add(new SelectListItem { Text = "June", Value = "Jun" });
    month.Add(new SelectListItem { Text = "July", Value = "Jul" });
    month.Add(new SelectListItem { Text = "August", Value = "Aug" });
    month.Add(new SelectListItem { Text = "September", Value = "Sep" });
    month.Add(new SelectListItem { Text = "October", Value = "Oct" });
    month.Add(new SelectListItem { Text = "November", Value = "Nov" });
    month.Add(new SelectListItem { Text = "December", Value = "Dec" });

    List<SelectListItem>
        year = new List<SelectListItem>
            ();
    int _year = DateTime.Now.Year;
    int max_year = _year + 5;
    int min_year = _year - 5;
    for (int i = max_year; i >= min_year; i--)
    {
        if (i >= 2017)
        {
            year.Add(new SelectListItem { Text = i + "", Value = i + "", Selected = (i == _year) ? true : false });
        }
    }
    string month_now = DateTime.Now.ToString("MMM");

    int crudeCount = 0;
    string tempDataSum = "";
    string tempHeaderAvg = "";
    string tempDataAvg = "";
    if (Model.coolTimeReportData != null)
    {
        if (Model.coolTimeReportData.workingTime != null)
        {
            tempDataSum += Model.coolTimeReportData.timeA_sumAvg.ToString("0.00") + ",";
            tempDataSum += Model.coolTimeReportData.timeB_sumAvg.ToString("0.00") + ",";
            tempDataSum += Model.coolTimeReportData.timeC_sumAvg.ToString("0.00") + ",";
            tempDataSum += Model.coolTimeReportData.timeD_sumAvg.ToString("0.00") + ",";
            tempDataSum += Model.coolTimeReportData.timeTotal_sumAvg.ToString("0.00") + ",";

            foreach (var item in Model.coolTimeReportData.workingTime)
            {
                tempHeaderAvg += item.month + ",";
                tempDataAvg += item.timeTotal_avg.ToString("0.00") + ",";
                crudeCount = crudeCount + item.workTimeDetail.Count();
            }

        }
    }
}

<script src="~/Content/js/ChartJs/ChartJs.js"></script>
<script src="~/Content/js/ChartJs/ChartJsUtils.js"></script>
<style>
    canvas {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
</style>



<style type="text/css">
    .ui-autocomplete {
        max-height: 200px;
        /*overflow-y: auto;*/
        /* prevent horizontal scrollbar */
        /*overflow-x: hidden;*/
        overflow-y: auto;
        overflow-x: hidden;
        width: 400px;
        font-size: 10pt;
    }
    /* IE 6 doesn't support max-height
                    * we use height instead, but this forces the menu to always be this tall
                    */
    * html .ui-autocomplete {
        height: 200px;
    }
</style>
<form id="coolTimeReport" action="" method="post" enctype="multipart/form-data" class="form-horizontal">
    @Html.HiddenFor(m => m.file_name, Model.file_name)
    <div class="page-header">
        <h1>@ViewBag.Title</h1>
    </div>

    <div class="form-horizontal">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-2 control-label">From:</label>
                    <div class="col-md-5">
                        @Html.DropDownListFor(model => model.period_month_from, new SelectList(month, "Value", "Text", month_now), new { @class = "form-control essential" })
                    </div>
                    <div class="col-md-5">
                        @Html.DropDownListFor(model => model.period_year_from, year, new { @class = "form-control essential" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-2 control-label">To:</label>
                    <div class="col-md-5">
                        @Html.DropDownListFor(model => model.period_month_to, new SelectList(month, "Value", "Text", month_now), new { @class = "form-control essential" })
                    </div>
                    <div class="col-md-5">
                        @Html.DropDownListFor(model => model.period_year_to, year, new { @class = "form-control essential" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-2 control-label">Crude Name :</label>
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.crude_name, new { @class = "form-control" })
                        **Time report data is available from November 2017 onward.
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="form-group">
            <div class="col-md-12 text-center">
                <input type="submit" id="btnSearch" class="btn btn-primary" name="action:SearchTimeReport" value="Search" />
                @if (Model.coolTimeReportData != null && Model.coolTimeReportData.columnCount >= 1)
                {
                    <input type="submit" id="btnPrintExcel" class="btn btn-primary" name="action:PrintTimeReport" value="Export File" />
                }
            </div>
        </div>
    </div>


    @if(Model.coolTimeReportData != null && Model.coolTimeReportData.columnCount >= 1)
    {
        <div class="task-box">
            <hr />
            Time Report from Jul'17 to Aug'17<br />
            @Model.coolTimeReportData.timeReportTitle<br />
            Crude: All<br />
            Step A: เวลาของขั้นตอนหลังจาก ที่ SCEP submit draft CAM ถึงระยะเวลาที่ SCEP section head approve draft CAM<br />
            Step B: เวลาของขั้นตอนหลังจาก ที่ SCEP section head approve draft CAM ถึงระยะเวลาที่ Expert section head คนสุดท้าย comment and approve<br />
            Step C: เวลาของขั้นตอนหลังจาก Expert section head comment and approve ถึงระยะเวลาที่ SCEP admin submit Final CAM<br />
            Step D: เวลาของขั้นตอนหลังจาก SCEP admin conclude Final CAM ถึงระยะเวลาที่ SCEP section head approve Final CAM<br />
            No. Crude: @crudeCount

            <h1>Average time per step</h1>
            <div class="col-md-6 text-center">
                <canvas id="canvas0" style="display: block;"></canvas>
            </div>
            <div class="col-md-6 text-center">
                <canvas id="canvas1" style="display: block;"></canvas>
            </div>
            <h1>Summary</h1>
            <h3>Number of crude and working time</h3>
            <div class="col-md-12">
                <table id="searchResultTable1" class="table table-hover display" cellspacing="0">
                    <thead>
                        <tr>
                            <th rowspan="2" style="width:100px;font-size:medium">Date/Status</th>
                            <th rowspan="2" style="width:150px;font-size:medium">Crude</th>
                            <th rowspan="2" style="width:100px;font-size:medium">Average working time per crude (days)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.coolTimeReportData != null)
                        {
                            if (Model.coolTimeReportData.numberOfCrude != null)
                            {
                                foreach (var item in Model.coolTimeReportData.numberOfCrude)
                                {
                                    <tr>
                                        <td>@item.month</td>
                                        <td>@item.numberOfCam</td>
                                        <td>@item.avgWorkingTime.ToString("0.00")</td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>

            <h3>Working time (Each Step)</h3>
            <div class="col-md-12">
                <table id="searchResultTable2" class="table table-hover display" cellspacing="0">
                    <thead>
                        <tr>
                            <th rowspan="2" style="width:100px;font-size:medium">Month</th>
                            <th rowspan="2" style="width:150px;font-size:medium">Crude</th>
                            <th colspan="4" style="width:100px;font-size:medium">Working time (hrs)</th>
                            <th rowspan="2" style="width:100px;font-size:medium">Total</th>
                        </tr>
                        <tr>
                            <th rowspan="1" style="width:100px;font-size:medium">A</th>
                            <th rowspan="1" style="width:100px;font-size:medium">B</th>
                            <th rowspan="1" style="width:100px;font-size:medium">C</th>
                            <th rowspan="1" style="width:100px;font-size:medium">D</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.coolTimeReportData != null)
                        {
                            if (Model.coolTimeReportData.workingTime != null)
                            {
                                foreach (var item in Model.coolTimeReportData.workingTime)
                                {
                                    var monthOld = "";
                                    foreach (var itemDetail in item.workTimeDetail)
                                    {
                                        <tr>
                                            @if (monthOld != item.month)
                                            {
                                                <td>@item.month</td>
                                            }
                                            else
                                            {
                                                <td></td>
                                            }
                                            <td style="cursor:pointer;"><b data-toggle="modal" data-target="#myModal" onclick="randomizeData('@itemDetail.crudeName','@itemDetail.timeA.ToString(" 0.00")|@itemDetail.timeB.ToString("0.00")|@itemDetail.timeC.ToString("0.00")|@itemDetail.timeD.ToString("0.00")|@itemDetail.timeTotal.ToString("0.00")')">@itemDetail.crudeName</b></td>
                                            <td>@itemDetail.timeA.ToString("0.00")</td>
                                            <td>@itemDetail.timeB.ToString("0.00")</td>
                                            <td>@itemDetail.timeC.ToString("0.00")</td>
                                            <td>@itemDetail.timeD.ToString("0.00")</td>
                                            <td>@itemDetail.timeTotal.ToString("0.00")</td>
                                        </tr>
                                        monthOld = item.month;
                                    }
                                    <tr>
                                        <td></td>
                                        <td>AVG</td>
                                        <td>@item.timeA_avg.ToString("0.00")</td>
                                        <td>@item.timeB_avg.ToString("0.00")</td>
                                        <td>@item.timeC_avg.ToString("0.00")</td>
                                        <td>@item.timeD_avg.ToString("0.00")</td>
                                        <td>@item.timeTotal_avg.ToString("0.00")</td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>

            <h3>Expert comment working time</h3>
            <div class="col-md-12">
                <table id="searchResultTable3" class="table table-hover display" cellspacing="0" style="display: block;overflow-x: auto;">
                    <thead>
                        <tr>
                            <th rowspan="2" style="font-size:medium">Month</th>
                            <th rowspan="2" style="font-size:medium">Crude</th>
                            @if (Model.coolTimeReportData != null)
                            {
                                <th colspan="@Model.coolTimeReportData.columnCount" style="font-size:medium">Working time (hrs)</th>
                            }
                            else
                            {
                                <th colspan="1" style="font-size:medium">Working time (hrs)</th>
                            }
                            <th rowspan="2" style="font-size:medium">Total</th>
                        </tr>
                        <tr>
                            @if (Model.coolTimeReportData != null)
                            {
                                if (Model.coolTimeReportData.expertWorkingTime != null)
                                {
                                    foreach (var item in Model.coolTimeReportData.expertWorkingTime)
                                    {
                                        foreach (var itemDetail in item.expertWorkTimeDetail.Select(x => x.columnName).Distinct())
                                        {
                                            <th rowspan="1" style="width:100px;font-size:medium">@Html.DisplayFor(x => itemDetail)</th>
                                        }
                                        break;
                                    }
                                }
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.coolTimeReportData != null)
                        {
                            if (Model.coolTimeReportData.expertWorkingTime != null)
                            {
                                var monthOld = "";
                                foreach (var itemMonth in Model.coolTimeReportData.expertWorkingTime.Select(x => x.month).Distinct())
                                {
                                    foreach (var item in Model.coolTimeReportData.expertWorkingTime.Where(x => x.month == itemMonth))
                                    {
                                        <tr>
                                            @if (monthOld != item.month)
                                            {
                                                <td>@item.month</td>
                                            }
                                            else
                                            {
                                                <td></td>
                                            }
                                            <td>@item.crudeName</td>
                                            @foreach (var itemDetail in item.expertWorkTimeDetail.Where(x => x.crudeKey == @item.crudeKey))
                                            {
                                                if (itemDetail.timeValue != 0)
                                                {
                                                    <td>@itemDetail.timeValue.ToString("0.00")</td>
                                                }
                                                else
                                                {
                                                    <td>-</td>
                                                }
                                            }
                                            @if (@item.expertWorkTimeDetail.Where(x => x.crudeKey == @item.crudeKey).Max(d => d.timeValue) != 0)
                                            {
                                                <td>@item.expertWorkTimeDetail.Where(x => x.crudeKey == @item.crudeKey).Max(d => d.timeValue).ToString("0.00")</td>
                                            }
                                            else
                                            {
                                                <td>-</td>
                                            }
                                        </tr>
                                        monthOld = item.month;
                                    }
                                    <tr>
                                        <td></td>
                                        <td>AVG</td>
                                        @foreach (var itemAvg in Model.coolTimeReportData.expertWorkingTime.Where(x => x.month == itemMonth))
                                        {
                                            foreach (string vColumnName in itemAvg.expertWorkTimeDetail.Select(x => x.columnName).Distinct())
                                            {
                                                if (itemAvg.expertWorkTimeDetail.Where(x => x.columnName == vColumnName && x.timeValue != 0).Select(y => y.timeValue).FirstOrDefault() != 0)
                                                {
                                                    <td>
                                                        @itemAvg.expertWorkTimeDetail.Where(x => x.columnName == vColumnName && x.timeValue != 0).Select(y => y.timeValue).Average().ToString("0.00")
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td></td>
                                                }
                                            }

                                            <td>@(itemAvg.expertWorkTimeDetail.Where(x => x.timeValue != 0).Any() ? itemAvg.expertWorkTimeDetail.Where(x => x.timeValue != 0).Select(y => y.timeValue).Max().ToString("0.00") : "")</td>
                                            break;
                                        }
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>

            <h3>Expert section head approve working time</h3>
            <div class="col-md-12">
                <table id="searchResultTable3" class="table table-hover display" cellspacing="0" style="display: block;overflow-x: auto;">
                    <thead>
                        <tr>
                            <th rowspan="2" style="font-size:medium">Month</th>
                            <th rowspan="2" style="font-size:medium">Crude</th>
                            @if (Model.coolTimeReportData != null)
                            {
                                <th colspan="@Model.coolTimeReportData.columnCount" style="font-size:medium">Working time (hrs)</th>
                            }
                            else
                            {
                                <th colspan="1" style="font-size:medium">Working time (hrs)</th>
                            }
                            <th rowspan="2" style="font-size:medium">Total</th>
                        </tr>
                        <tr>
                            @if (Model.coolTimeReportData != null)
                            {
                                if (Model.coolTimeReportData.expertWorkingTime != null)
                                {
                                    foreach (var item in Model.coolTimeReportData.expertWorkingTime)
                                    {
                                        foreach (var itemDetail in item.expertWorkTimeDetail.Select(x => x.columnName).Distinct())
                                        {
                                            <th rowspan="1" style="width:100px;font-size:medium">@Html.DisplayFor(x => itemDetail)</th>
                                        }
                                        break;
                                    }
                                }
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.coolTimeReportData != null)
                        {
                            if (Model.coolTimeReportData.expertWorkingTime != null)
                            {
                                var monthOld = "";
                                foreach (var itemMonth in Model.coolTimeReportData.expertWorkingTime.Select(x => x.month).Distinct())
                                {
                                    foreach (var item in Model.coolTimeReportData.expertWorkingTime.Where(x => x.month == itemMonth))
                                    {
                                        <tr>
                                            @if (monthOld != item.month)
                                            {
                                                <td>@item.month</td>
                                            }
                                            else
                                            {
                                                <td></td>
                                            }
                                            <td>@item.crudeName</td>
                                            @foreach (var itemDetail in item.expertWorkTimeDetail.Where(x => x.crudeKey == @item.crudeKey))
                                            {
                                                if (itemDetail.timeValueSH != 0)
                                                {
                                                    <td>@itemDetail.timeValueSH.ToString("0.00")</td>
                                                }
                                                else
                                                {
                                                    <td>-</td>
                                                }
                                            }
                                            @if (@item.expertWorkTimeDetail.Where(x => x.crudeKey == @item.crudeKey).Max(d => d.timeValueSH) != 0)
                                            {
                                                <td>@item.expertWorkTimeDetail.Where(x => x.crudeKey == @item.crudeKey).Max(d => d.timeValueSH).ToString("0.00")</td>
                                            }
                                            else
                                            {
                                                <td>-</td>
                                            }
                                        </tr>
                                        monthOld = item.month;
                                    }
                                    <tr>
                                        <td></td>
                                        <td>AVG</td>
                                        @foreach (var itemAvg in Model.coolTimeReportData.expertWorkingTime.Where(x => x.month == itemMonth))
                                        {
                                            foreach (string vColumnName in itemAvg.expertWorkTimeDetail.Select(x => x.columnName).Distinct())
                                            {
                                                if (itemAvg.expertWorkTimeDetail.Where(x => x.columnName == vColumnName && x.timeValueSH != 0).Select(y => y.timeValueSH).FirstOrDefault() != 0)
                                                {
                                                    <td>
                                                        @itemAvg.expertWorkTimeDetail.Where(x => x.columnName == vColumnName && x.timeValueSH != 0).Select(y => y.timeValueSH).Average().ToString("0.00")
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td></td>
                                                }
                                            }
                                            <td>@(itemAvg.expertWorkTimeDetail.Where(x => x.timeValueSH != 0).Any() ? itemAvg.expertWorkTimeDetail.Where(x => x.timeValueSH != 0).Select(y => y.timeValueSH).Max().ToString("0.00") : "")</td>
                                            break;
                                        }
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        @*<div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Graph</h4>
                            </div>*@
                        <div class="modal-body">
                            <canvas id="canvas" style="display: block;"></canvas>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    }
    else if ((bool)TempData["isSearch"])
    {
        <hr />
        <p class="bg-info" style="padding: 5px;text-align: center;">Data not found for selected period.</p>
    }
</form>
<script>
    var barChartData = {
        labels: ["A", "B", "C", "D", "Total"],
        datasets: [{
            backgroundColor: [
                window.chartColors.red,
                window.chartColors.orange,
                window.chartColors.yellow,
                window.chartColors.green,
                window.chartColors.blue,
            ],
            data: [
                0,
                0,
                0,
                0,
                0
            ]
        }]
    };

    var barChartData0 = {
        labels: ['A', 'B', 'C', 'D', 'Total'],
        datasets: [{
            backgroundColor: [
                window.chartColors.red,
                window.chartColors.orange,
                window.chartColors.yellow,
                window.chartColors.green,
                window.chartColors.blue,
            ],
            data: [@tempDataSum]
        }]
    };

    var color = Chart.helpers.color;
    var barChartData1 = {
        labels: generateLabels(),
        datasets: [{
            type: 'line',
            fill: false,
            backgroundColor: color(window.chartColors.blue).alpha(0.2).rgbString(),
            borderColor: window.chartColors.blue,
            data: [@tempDataAvg]
        }, {
            type: 'bar',
            fill: false,
            backgroundColor: color(window.chartColors.blue).alpha(0).rgbString(),
            data: [@tempDataAvg]
        }]
    };

    window.onload = function () {
        var ctx = document.getElementById("canvas").getContext("2d");
        window.myBar = new Chart(ctx, {
            type: 'bar',
            data: barChartData,
            options: {
                responsive: true,
                legend: {
                    display: false,
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Working Time (hrs)'
                }
            }
        });

        var ctx0 = document.getElementById("canvas0").getContext("2d");
        window.myBar0 = new Chart(ctx0, {
            type: 'bar',
            data: barChartData0,
            options: {
                responsive: true,
                legend: {
                    display: false,
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Average time (hrs)'
                }
            }
        });

        var ctx1 = document.getElementById("canvas1").getContext("2d");
            window.myBar1 = new Chart(ctx1, {
                type: 'bar',
                data: barChartData1,
            options: {
                responsive: true,
                legend: {
                    display: false,
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Total (hrs)'
                }
            }
        });
    };

    function randomizeData(name, type) {
        var dataArr = type.split("|");
        var i = 0;
        barChartData.datasets.forEach(function (dataset) {
            dataset.label = name;
            dataset.data = dataset.data.map(function () {
                result = dataArr[i]
                i++;
                return result;
            });
        });
        window.myBar.update();
    }

    function generateLabels() {
        var labels = [];
        var headerAvgData = '@tempHeaderAvg';
        var substr = headerAvgData.split(',');
        substr.forEach(function (item) { if (item.length != 0) { labels.push(item); } });
        return labels;
    }

    // Define a plugin to provide data labels
    Chart.plugins.register({
        afterDatasetsDraw: function (chart, easing) {
            // To only draw at the end of animation, check for easing === 1
            var ctx = chart.ctx;

            chart.data.datasets.forEach(function (dataset, i) {
                var meta = chart.getDatasetMeta(i);
                if (!meta.hidden) {
                    meta.data.forEach(function (element, index) {
                        // Draw the text in black, with the specified font
                        ctx.fillStyle = 'rgb(0, 0, 0)';

                        var fontSize = 16;
                        var fontStyle = 'normal';
                        var fontFamily = 'HelvethaicaMonX-65Med';
                        ctx.font = Chart.helpers.fontString(fontSize, fontStyle, fontFamily);

                        // Just naively convert to string for now
                        var dataString = dataset.data[index].toString();

                        // Make sure alignment settings are correct
                        ctx.textAlign = 'center';
                        ctx.textBaseline = 'middle';

                        var padding = 5;
                        var position = element.tooltipPosition();
                        ctx.fillText(dataString, position.x, position.y - (fontSize / 2) - padding);
                    });
                }
            });
        }
    });
</script>
