﻿﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.GraphBoardViewModel
@{
    ViewBag.Title = "Spot VLCC Chartering VS Market";
}

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<style type="text/css">
    .clearIcon {
        cursor: pointer;
        color: red;
    }

    .Selectfield {
        font-family: Arial,sans-serif;
        font-size: 12px;
    }

    .select.input-sm {
        width: 50px;
    }

    .table thead > tr > th {
        font-size: 16px;
    }

    .table tr > td {
        font-size: 14px;
    }

    .DisplayNone {
        display: none;
    }
</style>
<div class="wrapper-detail">
    <div>
        <h1 style="font-weight: bold;">Spot VLCC Chartering VS Market</h1>
    </div>
    <div class="form-group">
        <div class="row">

            <div class="col-md-5">
                <label class="col-md-4">On Subject Date</label>
                <div class="col-md-8">
                    <div class="box-date">
                        @Html.TextBox("datePurchaseField", null, new { @class = "form-control input-date-picker", @id = "date-range-start" })
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <label class="col-md-2">Ship Name.</label>
                <div class="col-md-6 Selectfield">
                    @Html.DropDownListFor(model => model.lstVessel, null, new { @class = "form-control ddlShipname", @multiple = "multiple", @id = "ddlShipname" })
                </div>
            </div>
        </div>
       <hr />
            <div class="row">
                <div class="col-md-3">
                    <label class="col-md-4 ">TD</label>
                    <div class="col-md-8 Selectfield">
                        @Html.DropDownListFor(model => model.lstTD, null, new { @class = "form-control", @multiple = "multiple", @id = "ddlTD" })
                    </div>
                </div>
                @*<div class="col-md-5">
                    <label class="col-md-4">Voy no.</label>
                    <div class="col-md-8 Selectfield">
                        @Html.DropDownListFor(model => model.lstVoyNo, null, new { @class = "form-control ddlVoyNo", @multiple = "multiple", @id = "ddlVoyNo" })
                    </div>
                </div>*@
                <div class="col-md-4">
                    <label class="col-md-4 ">STATUS</label>
                    <div class="col-md-8 Selectfield">
                        @Html.DropDownListFor(model => model.lstSTATUS, null, new { @class = "form-control", @multiple = "multiple", @id = "ddlSTATUS" })
                    </div>
                </div>
                <div class="col-md-5" >
                    <label class="col-md-2" style="display:none">Charter In.</label>
                    <div class="col-md-8 Selectfield" style="display:none">
                        @Html.DropDownListFor(model => model.lstCharterIn, null, new { @class = "form-control ddlCharterIn", @multiple = "multiple", @id = "ddlCharterIn" })
                    </div>
                    <div class="col-md-2">
                        <span class="glyphicon glyphicon-search searchIcon" onclick="SearchGraph(false);return false;" style="cursor: pointer;"></span>
                    </div>
                </div>


            </div>
        </div>
            <div class="box box-primary">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="canvas-wrapper">
                            <div id="ContentGraph" style="height:500px;"> </div>
                            <table id="TableData" class="table table-hover table-striped table-bordered" cellspacing="0" >
                                <thead>
                                    <tr>
                                        @*<th style="text-align:center;display:none"></th>*@
                                        <th style="text-align:center;width:100px;">Date/Status</th>
                                        <th style="text-align:center;width:40px;">BITR<br />TD2</th>
                                        <th style="text-align:center;width:40px;">BITR<br />TD3</th>
                                        <th style="text-align:center;width:40px;">BITR<br />TD15</th>
                                        <th style="text-align:center;width:40px;">Market<br />Ref.</th>
                                        <th style="text-align:center;width:40px;">TOP<br />Fixture<br />(A)</th>
                                        <th style="text-align:center;width:80px;">Ship<br />Name</th>
                                        <th style="text-align:center;width:80px;">Ship<br />Broker</th>
                                        <th style="text-align:center;width:80px;">Ship<br />Owner</th>
                                        <th style="text-align:center;width:40px;">Dem<br />(K$/d)</th>
                                        <th style="text-align:center;width:40px;">Flat<br />Rate</th>
                                        <th style="text-align:center;width:80px;">Deviation/<br />WRPM/<br />Armguard</th>
                                        <th style="text-align:center;width:60px;">Laycan<br />Load</th>
                                        <th style="text-align:center;width:50px;">20 days<br />before<br />1st day</th>
                                        <th style="text-align:center;width:50px;">Avg WS<br />3 day<br />around (B)</th>
                                        <th style="text-align:center;width:50px;">WS<br />Saving<br />(B)-(A)</th>
                                        <th style="text-align:center;width:50px;">Saving<br />($)</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th colspan="15" style="text-align:right"></th>
                                        <th>AVG<br /><span style="float:right;" id="spanTotalAvg">@Html.Raw(Model.TotalAvg)</span></th>
                                        <th>SUM<br /><span style="float:right;" id="spanTotalSum">@Html.Raw(Model.TotalSum)</span></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 " style="text-align:right;">
                        @*<input type="submit" class="button btn-default" onclick="AddTDVal();return false;" value="Add TD" />*@
                        <input type="submit" class="button btn-default" onclick="AddFixture();return false;" value="Add Fixture" />
                        <input type="submit" class="button btn-default" onclick="SearchGraph(true);return false;" value="Export Excel" />
                    </div>
                </div>
            </div>
        </div>
<script>

            $(function () {
                SetControlddl();
            });
            var _table
            window.onload = function () {
                _table =  $('#TableData').DataTable({
                    "ordering": false ,
                    "searching": true,
                    "info":     false,
                    //"scrollX": true,
                    "createdRow": function ( row, data, index ) {
                        //$('td', row).eq(16).addClass('DisplayNone');
                    },

                });
                var GraphDateData= @Html.Raw(Json.Encode(@Model.GraphDate));
                var TDData =  @Html.Raw(Json.Encode(@Model.TDData));
                var TotalAvg =  @Html.Raw(Json.Encode(@Model.TotalAvg));
                var TotalSum =  @Html.Raw(Json.Encode(@Model.TotalSum));
                var MinYAxis = @Html.Raw(Json.Encode(@Model.MinYAxis));
                var strTD = @Html.Raw(Json.Encode(@Model.selectTD));
                GennerateGraph(GraphDateData,MinYAxis);
                SetDataToTable(TDData,TotalAvg,TotalSum);

                if(strTD != null)
                {
                    var arTD = strTD.split(",");
                    $("#ddlTD").val(arTD).trigger('change');
                }
            }


            //function GetVoyCharterIn(DateVal){
            //    var lstShip = $('#ddlShipname').val();
            //    LoadingProcess();
            //    var req= {DateSearch:DateVal,ShipName:lstShip}
            //    $.ajax({
            //        type: "POST",
            //        url: "GraphBoard/getVoyCharterInEvt",
            //        data: JSON.stringify(req) ,
            //        dataType: "json",
            //        contentType: "application/json; charset=utf-8",

            //        success: function (data) {
            //            $(".ddlVoyNo").empty();
            //            var optionhtml1 = '<option value="' +
            //             0 + '">' + "--Select State--" + '</option>';
            //            $(".ddlVoyNo").append(optionhtml1);

            //            $.each(data, function (i) {

            //                var optionhtml = '<option value="' +
            //            data[i].Value + '">' +data[i].Text + '</option>';
            //                $(".ddlVoyNo").append(optionhtml);
            //            });
            //            GetPurchCharterIn();
            //            HideLoadingBox();
            //        }
            //    });
            //}

    function GetPurchCharterIn(DateVal){

                var lstShip = $('#ddlShipname').val();
                LoadingProcess();
                var req= {DateSearch:DateVal,ShipName:lstShip}

                $.ajax({
                    type: "POST",
                    url: "GraphBoard/getPurchCharterInEvt",
                    data: JSON.stringify(req) ,
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",

                    success: function (data) {
                        $(".ddlCharterIn").empty();
                        //var optionhtml1 = '<option value="' +
                        // 0 + '">' + "--Select State--" + '</option>';
                        //$(".ddlCharterIn").append(optionhtml1);
                        $.each(data, function (i) {
                            var optionhtml = '<option value="' +
                            data[i].Value + '">' +data[i].Text + '</option>';
                            $(".ddlCharterIn").append(optionhtml);
                        });

                        HideLoadingBox();
                    }
                });
            }


            function SearchGraph(BoolExcel){
                LoadingProcess();
                var VoyNO = "";
                var TD ="";
                var CharterIn ="";
                var Status ="";
                $('.select2-selection__choice').each(function () {
                    if($(this).attr("title").indexOf("TD")>=0){
                        if (TD == "") {
                            TD += $(this).attr("title");
                        } else {
                            TD +="|"+ $(this).attr("title");
                        }
                    }
                    else if($(this).attr("title").indexOf("APPROVE")>=0){
                        if (Status == "") {
                            Status += $(this).attr("title");
                        } else {
                            Status +="|"+ $(this).attr("title");
                        }
                    }
                    else if($(this).attr("title").indexOf("CANCEL")>=0){
                        if (Status == "") {
                            Status += $(this).attr("title");
                        } else {
                            Status +="|"+ $(this).attr("title");
                        }
                    }
                    else if($(this).attr("title").indexOf("TCE")>=0){
                        if (VoyNO == "") {
                            VoyNO += $(this).attr("title");
                        } else {
                            VoyNO +="|"+ $(this).attr("title");
                        }
                    }
                    else if($(this).attr("title").indexOf("CHRT")>=0){
                        if (CharterIn == "") {
                            CharterIn += $(this).attr("title");
                        } else {
                            CharterIn +="|"+ $(this).attr("title");
                        }
                    }
                });

                var lstShip = $('#ddlShipname').val();
                var req= {DateSearch:$('#date-range-start').val(),VoyCharter:VoyNO,TD:TD,ShipName:lstShip,CharterIn:CharterIn,Status:Status,GenExcel:BoolExcel}
                $.ajax({
                    type: "POST",
                    url: "GraphBoard/getGraphData",
                    data: JSON.stringify(req),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        GennerateGraph(data.GraphDate, data.MinYAxis);
                        SetDataToTable(data.TDData, data.TotalAvg, data.TotalSum);
                        SetDataToDDL("ddlCharterIn",data.lstCharterIn);
                        SetDataToDDL("ddlShipname",data.lstVessel);

                        HideLoadingBox();
                        if(data.ActionMSG!="" && !BoolExcel)alert(data.ActionMSG);
                        else if(BoolExcel){
                            window.open(data.ActionMSG,'_blank');
                        }
                    }
                });
            }



            function SetDataToTable(TRData,TotalAvg,TotalSum){
                _table.clear().draw();

                var TotalRow = 0;
                var TotalAvgWSSaveing = 0;
                var TotalSumWSSaveing = 0;
                var TotalSumSaveIn = 0;

                $.each(TRData, function(i, item) {
                    var row = _table.row.add([
                        //item.ParamVal
                        item.DateTD + '</br><span>'+item.chi_data_id+ '</span>' +'</br><a href="'+ EditFixtureURL(item.ParamVal)+'" ><span><b>'+ item.Status+'</b></span></a>'
                        ,item.TD2
                        ,item.TD3
                        ,item.TD15
                        ,item.TD
                        ,item.TOPFix
                        ,item.ShipName
                        ,item.ShipBroker
                        ,item.ShipOwner
                        ,item.Dem
                        ,item.Flatrate
                        ,item.Deviation
                        ,item.LaycanLoad
                        ,item.Target20Day
                        ,item.AvgWS3day
                        ,item.WSSaveing
                        ,item.SaveIn
                    ]).draw( false );

                //    if(item.chi_data_id != "")
                //    {
                //        //console.log(item.chi_data_id +":"+item.Status);
                //        var strNumWS = item.WSSaveing.replace(/\,/g, '');
                //        var NumWS = parseFloat(strNumWS);
                //        TotalSumWSSaveing = TotalSumWSSaveing + NumWS;
                //        //console.log("TotalSumWSSaveing : "+TotalSumWSSaveing);

                //        var strNumSaveIn = item.SaveIn.replace(/\,/g, '');
                //        //console.log("strNumSaveIn : "+strNumSaveIn);
                //        var NumSaveIn = parseFloat(strNumSaveIn);
                //        //console.log("NumSaveIn : "+NumSaveIn);
                //        TotalSumSaveIn = TotalSumSaveIn + NumSaveIn;
                //        //console.log("TotalSumSaveIn : "+TotalSumSaveIn);
                //        TotalRow++;
                //    }

                //    $('td', row).eq(5).addClass('highlight');
                });

                //if(TotalRow > 0)
                //{
                //    TotalAvgWSSaveing = TotalSumWSSaveing / TotalRow;
                //}

                //    // Update footer

                //$('#totalAvg').html(format(TotalAvgWSSaveing,2));
                //$('#totalSum').html(format(TotalSumSaveIn,2));


                //SetEventpopup();
                //$(".paginate_button").click(function() {SetEventpopup();});
                console.log("TotalAvg : "+ TotalAvg);
                $('#spanTotalAvg').html(TotalAvg);
                console.log("TotalSum : "+ TotalSum);
                $('#spanTotalSum').html(TotalSum);
            }
            function SetEventpopup(){
                $(".table tr").click(function() {
                    EditFixture($(this).closest('tr').children('td:eq(16)').text());
                });
            }

            function format(num, fix) {
                var p = num.toFixed(fix).split(".");
                return p[0].split("").reduceRight(function(acc, num, i, orig) {
                    if ("-" === num && 0 === i) {
                        return num + acc;
                    }
                    var pos = orig.length - i - 1
                    return  num + (pos && !(pos % 3) ? "," : "") + acc;
                }, "") + (p[1] ? "." + p[1] : "");
            }

            function GennerateGraph(DataGraph, MinYAxis){
                Highcharts.chart('ContentGraph', {
                    chart: {
                        type: 'spline',
                        zoomType: 'xy'
                    },
                    title: {
                        text: 'Spot VLCC Chartering VS Market'
                    },
                    subtitle: {
                        text: ''
                    },
                    xAxis: {
                        type: 'datetime',
                        dateTimeLabelFormats: { // don't display the dummy year
                            //month: '%e. %b',
                            //year: '%b'
                        },
                        title: {
                            text: 'Date'
                        }
                        //categories: labelsJson
                    },
                    yAxis: {
                        title: {
                            text: 'World-Scale'
                        },
                        min: MinYAxis
                    },
                    tooltip: {
                        headerFormat: '<b>{series.name}</b><br>',
                        pointFormat: '{point.x:%e. %b}: {point.y:.2f} '
                    },
                    plotOptions: {
                        spline: {
                            marker: {
                                enabled: false
                            }
                        }
                    },

                    //plotOptions: {
                    //    spline: {
                    //        marker: {
                    //            radius: 4,
                    //            lineColor: '#666666',
                    //            lineWidth: 1,
                    //            enabled: false
                    //        }
                    //    }
                    //},
                    series:DataGraph
                });
            }

            function SetDataToDDL(name, data)
            {
                var ddlName = "."+name;
                $(ddlName).empty();

                $.each(data, function (i) {
                    var optionhtml = '<option value="' +
                    data[i].Value + '">' +data[i].Text + '</option>';
                    $(ddlName).append(optionhtml);
                });
            }
            function SetControlddl(){
                $('#date-range-start').dateRangePicker(
                   {
                       startOfWeek: 'monday',
                       format: 'DD/MM/YYYY',
                   }).bind('datepicker-change', function (evt, obj) {
                       //GetVoyCharterIn($(this).val());
                       //GetPurchCharterIn($(this).val());
                       SearchGraph(false);
                   });

                $("#date-range-start").on('change', function(){

                    SearchGraph(false);

                });

                //$("#ddlVoyNo").select2();
                //$('#ddlVoyNo').change(function () {
                //    $('.select2-search__field').keydown(function (e) {

                //        if ($(this).val() == "") {
                //            if (e.keyCode == 8) {
                //                return false;
                //            }
                //        }
                //    });
                //});
                $("#ddlTD").select2();
                $('#ddlTD').change(function () {
                    $('.select2-search__field').keydown(function (e) {

                        if ($(this).val() == "") {
                            if (e.keyCode == 8) {
                                return false;
                            }
                        }
                    });
                });

                $("#ddlSTATUS").select2();
                $('#ddlSTATUS').change(function () {
                    $('.select2-search__field').keydown(function (e) {

                        if ($(this).val() == "") {
                            if (e.keyCode == 8) {
                                return false;
                            }
                        }
                    });
                });

                $("#ddlShipname").select2();
                $('#ddlShipname').change(function () {
                    $('.select2-search__field').keydown(function (e) {

                        if ($(this).val() == "") {
                            if (e.keyCode == 8) {
                                return false;
                            }
                        }
                    });
                    //GetVoyCharterIn($('#date-range-start').val());
                    //GetPurchCharterIn($('#date-range-start').val());
                    SearchGraph(false);
                });

                $("#ddlCharterIn").select2();
                $('#ddlCharterIn').change(function () {
                    $('.select2-search__field').keydown(function (e) {

                        if ($(this).val() == "") {
                            if (e.keyCode == 8) {
                                return false;
                            }
                        }
                    });
                });
            }

            function AddFixture(){
                //window.location.href ="/CPAIMVC/GraphBoard/AddFixture";
                window.location.href ='@Url.Action("AddFixture", "GraphBoard")';
            }

            function EditFixture(ItemID){
                if(ItemID!=""){
                    //window.location.href ="/CPAIMVC/GraphBoard/AddFixture"+ItemID;
                    window.location.href ='@Url.Action("AddFixture", "GraphBoard")'+ItemID;
                }
            }

            function EditFixtureURL(ItemID){
                if(ItemID!=""){
                    //window.location.href ="/CPAIMVC/GraphBoard/AddFixture"+ItemID;
                   return '@Url.Action("AddFixture", "GraphBoard")'+ItemID;
                }
            }

            function AddTDVal(){
                window.location.href ="/CPAIMVC/GraphBoard/AddTD";
            }
</script>