﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.CharterInViewModel

 
<table class="table table-bordered PriceOfferTable">
    <thead>
        <tr>
            <th rowspan="2">Port No.</th>
            <th rowspan="2">Port Name</th>
            <th colspan="2">Crude Type</th>
            <th colspan="3">Volume</th>
            <th rowspan="2">Loading Date</th>
        </tr>
        <tr>
            <th>Grade</th>
            <th>Supplier</th>
            <th>KB</th>
            <th>KT</th>
            <th>+ - (%)</th>
        </tr>
    </thead>
    <tbody id="tblLoadPort2">
        @if (Model.pageMode == "EDIT")
        {
            if (Model.chi_cargo_detail_TripNo != null)
            {
                if (Model.chi_cargo_detail_TripNo.chi_load_ports != null)
                {
                    for (int i = 0; i < Model.chi_cargo_detail_TripNo.chi_load_ports.Count; i++)
                    {
                        <tr>
                            <td style="text-align: center; vertical-align: middle;">
                                @Html.LabelFor(m => m.chi_cargo_detail_TripNo.chi_load_ports[i].order_port, Model.chi_cargo_detail_TripNo.chi_load_ports[i].order_port)
                                @Html.HiddenFor(m => m.chi_cargo_detail_TripNo.chi_load_ports[i].order_port, Model.chi_cargo_detail_TripNo.chi_load_ports[i].order_port)
                            </td>
                            <td>
                                @*@Html.DropDownListFor(m => m.chi_cargo_detail.chi_load_ports[i].portName, new SelectList(Model.portName, "Value", "Text", Model.chi_cargo_detail.chi_load_ports[i].portName), new { @class = "form-control lp_portname", @disabled = "disabled" })*@
                                @Html.TextBoxFor(m => m.chi_cargo_detail_TripNo.chi_load_ports[i].portName, Model.chi_cargo_detail_TripNo.chi_load_ports[i].portName, new { @class = "form-control", @readonly = "true" })
                                @Html.HiddenFor(m => m.chi_cargo_detail_TripNo.chi_load_ports[i].port, Model.chi_cargo_detail_TripNo.chi_load_ports[i].port)
                                @*@Html.HiddenFor(m => m.chi_cargo_detail.chi_load_ports[i].portName, Model.chi_cargo_detail.chi_load_ports[i].portName)*@
                            </td>
                            <td>
                                @*@Html.DropDownListFor(m => m.chi_cargo_detail.chi_load_ports[i].crudeName, new SelectList(Model.materials, "Value", "Text", Model.chi_cargo_detail.chi_load_ports[i].crudeName), new { @class = "form-control lp_crude", @disabled = "disabled" })*@
                               @Html.TextBoxFor(m => m.chi_cargo_detail_TripNo.chi_load_ports[i].crudeName, Model.chi_cargo_detail_TripNo.chi_load_ports[i].crudeName, new { @class = "form-control", @readonly = "true" })
                                 @Html.HiddenFor(m => m.chi_cargo_detail_TripNo.chi_load_ports[i].crude, Model.chi_cargo_detail_TripNo.chi_load_ports[i].crude)
                                @*@Html.HiddenFor(m => m.chi_cargo_detail.chi_load_ports[i].crudeName, Model.chi_cargo_detail.chi_load_ports[i].crudeName)*@
                            </td>
                            <td>
                                @*@Html.DropDownListFor(m => m.chi_cargo_detail.chi_load_ports[i].supplierName, new SelectList(Model.vendor, "Value", "Text", Model.chi_cargo_detail.chi_load_ports[i].supplierName), new { @class = "form-control lp_supplier", @disabled = "disabled" })*@
                               @Html.TextBoxFor(m => m.chi_cargo_detail_TripNo.chi_load_ports[i].supplierName, Model.chi_cargo_detail_TripNo.chi_load_ports[i].supplierName, new { @class = "form-control", @readonly = "true" })
                                 @Html.HiddenFor(m => m.chi_cargo_detail_TripNo.chi_load_ports[i].supplier, Model.chi_cargo_detail_TripNo.chi_load_ports[i].supplier)
                                @*@Html.HiddenFor(m => m.chi_cargo_detail.chi_load_ports[i].supplierName, Model.chi_cargo_detail.chi_load_ports[i].supplierName)*@
                            </td>
                            <td>
                                @Html.TextBoxFor(m => m.chi_cargo_detail_TripNo.chi_load_ports[i].kbbls, Model.chi_cargo_detail_TripNo.chi_load_ports[i].kbbls, new { @class = "form-control lp_kbbls", @type = "number", @step = "any", @readonly = "true" })
                            </td>
                            <td>
                                @Html.TextBoxFor(m => m.chi_cargo_detail_TripNo.chi_load_ports[i].ktons, Model.chi_cargo_detail_TripNo.chi_load_ports[i].ktons, new { @class = "form-control lp_ktons", @type = "number", @step = "any", @readonly = "true" })
                            </td>
                            <td>
                                @Html.TextBoxFor(m => m.chi_cargo_detail_TripNo.chi_load_ports[i].tolerance, Model.chi_cargo_detail_TripNo.chi_load_ports[i].tolerance, new { @class = "form-control lp_tolerance", @type = "number", @step = "any", @readonly = "true" })
                            </td>
                            <td>
                                @Html.TextBoxFor(m => m.chi_cargo_detail_TripNo.chi_load_ports[i].date, Model.chi_cargo_detail_TripNo.chi_load_ports[i].date, new { @class = "form-control lp_date" , @readonly = "true" })
                            </td>
                        </tr>
                    }
                }
            }
            else
            {
                @*<tr>
                    <td style="text-align: center; vertical-align: middle;">
                        1
                    </td>
                    <td>
                        @Html.DropDownListFor(m => m.chi_cargo_detail.chi_load_ports[0].port, Model.portName, new { @class = "form-control lp_portname" })
                    </td>
                    <td>
                        @Html.DropDownListFor(m => m.chi_cargo_detail.chi_load_ports[0].crude, Model.materials, new { @class = "form-control lp_crude" })
                    </td>
                    <td>
                        @Html.DropDownListFor(m => m.chi_cargo_detail.chi_load_ports[0].supplier, Model.vendor, new { @class = "form-control lp_supplier" })
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.chi_cargo_detail.chi_load_ports[0].kbbls, new { @class = "form-control lp_kbbls", @type = "number", @step = "any" })
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.chi_cargo_detail.chi_load_ports[0].ktons, new { @class = "form-control lp_ktons", @type = "number", @step = "any" })
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.chi_cargo_detail.chi_load_ports[0].tolerance, new { @class = "form-control lp_tolerance", @type = "number", @step = "any" })
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.chi_cargo_detail.chi_load_ports[0].date, new { @class = "form-control lp_date" })
                    </td>
                </tr>*@
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            }
        }
        else
        {
            if (Model.chi_cargo_detail_TripNo != null)
            {
                for (int i = 0; i < Model.chi_cargo_detail_TripNo.chi_load_ports.Count; i++)
                {
                    <tr>
                        <td style="text-align: center; vertical-align: middle;">
                            @Html.LabelFor(m => m.chi_cargo_detail_TripNo.chi_load_ports[i].order_port, Model.chi_cargo_detail_TripNo.chi_load_ports[i].order_port)
                            @Html.HiddenFor(m => m.chi_cargo_detail_TripNo.chi_load_ports[i].order_port, Model.chi_cargo_detail_TripNo.chi_load_ports[i].order_port)
                        </td>
                        <td>
                            @*@Html.DropDownListFor(m => m.chi_cargo_detail.chi_load_ports[i].port, Model.portName, Model.portName.Single(x => x.Value == Model.chi_cargo_detail.chi_load_ports[i].port).Text, new { @class = "form-control lp_portname", @disabled = "disabled" })*@
                            @*@Html.DropDownListFor(m =>m.chi_cargo_detail_TripNo.chi_load_ports[i].portName, Model.portName, Model.chi_cargo_detail_TripNo.chi_load_ports[i].portName, new { @class = "form-control lp_portname", @disabled = "disabled" })*@
                            
                            @Html.TextBoxFor(m => m.chi_cargo_detail_TripNo.chi_load_ports[i].portName, Model.chi_cargo_detail_TripNo.chi_load_ports[i].portName, new { @class = "form-control", @readonly = "true" })
                            @Html.HiddenFor(m => m.chi_cargo_detail_TripNo.chi_load_ports[i].port, Model.chi_cargo_detail_TripNo.chi_load_ports[i].port)  
                        </td>
                        <td>
                           @* @Html.DropDownListFor(m => m.chi_cargo_detail.chi_load_ports[i].crude, Model.materials, Model.materials.Single(x => x.Value == Model.chi_cargo_detail.chi_load_ports[i].crude).Text, new { @class = "form-control lp_crude", @disabled = "disabled" })*@
                           @*@Html.DropDownListFor(m => m.chi_cargo_detail_TripNo.chi_load_ports[i].crudeName, Model.materials, Model.chi_cargo_detail_TripNo.chi_load_ports[i].crudeName, new { @class = "form-control lp_portname", @disabled = "disabled" })*@
                           @Html.TextBoxFor(m => m.chi_cargo_detail_TripNo.chi_load_ports[i].crudeName, Model.chi_cargo_detail_TripNo.chi_load_ports[i].crudeName, new { @class = "form-control", @readonly = "true" })
                           @Html.HiddenFor(m => m.chi_cargo_detail_TripNo.chi_load_ports[i].crude, Model.chi_cargo_detail_TripNo.chi_load_ports[i].crude) 
                        </td>
                        <td>
                           @* @Html.DropDownListFor(m => m.chi_cargo_detail.chi_load_ports[i].supplier, Model.vendor, Model.vendor.Single(x => x.Value == Model.chi_cargo_detail.chi_load_ports[i].supplier).Text, new { @class = "form-control lp_supplier", @disabled = "disabled" })*@
                           @* @Html.DropDownListFor(m => m.chi_cargo_detail_TripNo.chi_load_ports[i].supplierName, Model.vendor, Model.chi_cargo_detail_TripNo.chi_load_ports[i].supplierName, new { @class = "form-control lp_portname", @disabled = "disabled" })*@ 
                           @Html.TextBoxFor(m => m.chi_cargo_detail_TripNo.chi_load_ports[i].supplierName, Model.chi_cargo_detail_TripNo.chi_load_ports[i].supplierName, new { @class = "form-control", @readonly = "true" })
                           @Html.HiddenFor(m => m.chi_cargo_detail_TripNo.chi_load_ports[i].supplier, Model.chi_cargo_detail_TripNo.chi_load_ports[i].supplier) 
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.chi_cargo_detail_TripNo.chi_load_ports[i].kbbls, Model.chi_cargo_detail_TripNo.chi_load_ports[i].kbbls, new { @class = "form-control lp_kbbls", @readonly = "true" })
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.chi_cargo_detail_TripNo.chi_load_ports[i].ktons, Model.chi_cargo_detail_TripNo.chi_load_ports[i].ktons, new { @class = "form-control lp_ktons", @readonly = "true" })
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.chi_cargo_detail_TripNo.chi_load_ports[i].tolerance, Model.chi_cargo_detail_TripNo.chi_load_ports[i].tolerance, new { @class = "form-control lp_tolerance", @readonly = "true" })
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.chi_cargo_detail_TripNo.chi_load_ports[i].date, Model.chi_cargo_detail_TripNo.chi_load_ports[i].date, new { @class = "form-control lp_date", @readonly = "true" })
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>



