﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.CharteringSearchViewModel
@{
    ViewBag.Title = "Search";
    Layout = "~/Areas/CPAIMVC/Views/Shared/_Layout.cshtml";
    string type = Request.QueryString["Type"] != null ? Request.QueryString["Type"].ToString() : Session["Charter_Type"] != null ? Session["Charter_Type"].ToString() : "";
    string typeDecrypt = ViewBag.TypeDecrypt;
}

<style type="text/css">
    .clearIcon {
        cursor: pointer;
        color: red;
    }

    .createByField {
        font-family: Arial,sans-serif;
        font-size: 12px;
    }

    .select.input-sm {
        width: 50px;
    }
</style>

<div class="wrapper-detail">
    <div>
        <h1>Search Charter In</h1>
    </div>
    @using (Html.BeginForm("SearchResult", "CharterIn", FormMethod.Post, new { @class = "form-horizontal", @name = "searchForm", @id = "searchForm" }))
    {
        <div class="row">
            <div class="form-group">
                <div class="col-md-4">
                    <label for="inputEmail3" class="col-md-3 control-label">Date</label>
                    <div class="col-md-8">
                        <div class="box-date">
                            @*@Html.TextBox("datePurchaseField", null, new { @class = "form-control input-date-picker", @id = "date-range-start" })*@
                            @Html.TextBoxFor(m => m.sDate, new { @id = "sDate", @class = "form-control input-date-picker ", @placeholder = "DD/MM/YYYY to DD/MM/YYYY", @maxlength = "24" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="inputEmail3" class="col-md-3 control-label">Vessel</label>
                    <div class="col-md-7">
                        @*@Html.DropDownListFor(model => model.vessel, ViewBag.getVessel as List<SelectListItem>, "Select All", new { @class = "form-control" })*@     
                        @if (@typeDecrypt == "CRUDE")
                        {
                            @Html.DropDownListFor(model => model.sVessel, new SelectList(Model.vessel, "Value", "Text"), "Select All", new { @class = "form-control" })
                        }
                        else
                        {
                            @Html.TextBoxFor(model => model.sVessel, new { @class = "form-control" })
                        }
                    </div>
                </div>
                @if (@typeDecrypt != "CRUDE")
                {
                <div class="col-md-4">
                    <label for="inputEmail3" class="col-md-3 control-label">Charterer</label>
                    <div class="col-md-7">
                        @Html.DropDownListFor(model => model.sCharterer, new SelectList(Model.charterer, "Value", "Text"), "Select All", new { @class = "form-control" })                        
                    </div>
                </div>
                }
                @*<div class="col-md-4">
                    <label for="inputEmail3" class="col-md-3 control-label">Flat Rate</label>
                    <div class="col-md-7">
                        @Html.TextBox("flatRate", null, new { @class = "form-control", @placeholder = "(USD/Ton)" })
                    </div>
                </div>*@
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-4">
                    <label for="inputEmail3" class="col-md-3 control-label">Laycan</label>
                    <div class="col-md-8">
                        <div class="box-date">
                            @*@Html.TextBox("laycan", null, new { @class = "form-control input-date-picker", @id = "laycanDateSelect" })*@
                            @Html.TextBoxFor(m => m.sLaycan, new { @id = "sLaycan", @class = "form-control input-date-picker ", @placeholder = "DD/MM/YYYY to DD/MM/YYYY", @maxlength = "24" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="inputEmail3" class="col-md-3 control-label">Broker</label>
                    <div class="col-md-7">
                        @*@Html.DropDownListFor(model => model.broker, ViewBag.getBroker as List<SelectListItem>, "Select All", new { @class = "form-control" })*@
                        @Html.DropDownListFor(model => model.sBroker, new SelectList(Model.broker, "Value", "Text"), "Select All", new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="inputEmail3" class="col-md-3 control-label">Owner</label>
                    <div class="col-md-7">
                           @Html.TextBoxFor(model => model.sOwner, new { @class = "form-control" })                        
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-12">
                    <label for="inputEmail3" class="col-md-1 control-label">Created by</label>
                    <div class="col-md-10 createByField">
                        @*@Html.DropDownListFor(model => model.userList, ViewBag.getUsers as List<SelectListItem>, new { @class = "form-control", @multiple = "multiple", @id = "Createby" })*@
                        @*@Html.DropDownListFor(model => model.sCreateBy, Model.created_by as List<SelectListItem>, new { @class = "form-control", @multiple = "multiple", @id = "sCreateBy" })*@
                        @Html.DropDownListFor(model => model.sCreateBy, new SelectList(Model.created_by, "Value", "Text"), new { @class = "form-control", @multiple = "multiple", @id = "sCreateBy" })
                        @Html.HiddenFor(model => model.sCreateBySelected, new { @id = "sCreateBySelected" })
                        
                         @*@Html.DropDownListFor(model => model.userList, new SelectList(Model.createdByUser, "Value", "Text"), new { @class = "form-control", @multiple = "multiple", @id = "Createby" })*@
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                <div class="col-md-4 pull-left">
                    @if (@typeDecrypt=="CRUDE")
                    {
                    <a class="btn btn-success" href="~/CPAIMVC/CharterIn?Type=@type" id="addBtn" name="addBtn" role="button">Add</a>
                    }
                    else
                    {
                        <a class="btn btn-success" href="~/CPAIMVC/CharterIn/CharterInCMMT?Type=@type" id="addBtn" name="addBtn" role="button">Add</a>
                    }
                </div>
                <div class="col-md-4 text-center">
                    <button type="submit" class="btn btn-primary">Search</button>
                    <button type="button" value="Reset" class="btn btn-default" onclick="resetForm()">Clear All</button>
                </div>
                <div class="col-md-4 text-right">
                    <div id="dupBtn">
                    <a class="btn btn-info" href="#" id="dubCopy" name="dubCopy" role="button" onclick="chkChecked()">Copy</a>
                    </div>
                </div>
            </div>
        </div>

    }

    <div class="page-header">
        <h1>Search Result</h1>
    </div>
    <div class="task-box">
        <div class="wrapper-table collapse in" id="collapseJuly">
            <table id="example" class="table table-hover table-striped table-bordered" cellspacing="0">
                <thead>
                    <tr>
                        <th>Date/Status</th>
                        <th>Document No.</th>
                        <th>Vessel Name</th>
                        <th>Laycan</th>
                        @if (@typeDecrypt == "CRUDE")
                        {
                            <th>Broker/Charterer</th>
                        }
                        else
                        {
                            <th>Broker</th>
                            <th>Charterer</th>
                        }                        
                        <th>Owner</th>
                        <th>Created by</th>
                        <th>Copy</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.CharteringTransaction == null)
                    {
                        if (@typeDecrypt == "CRUDE")
                        {
                            <tr class="waiting" data-href="http://myspace.com">
                                <td colspan="8">Waiting for search</td>
                            </tr>
                        }
                        else
                        {
                            <tr class="waiting" data-href="http://myspace.com">
                                <td colspan="9">Waiting for search</td>
                            </tr>
                        }
                    }
                    else
                    {
                        if (Model.CharteringTransaction.Count > 0)
                        {
                            foreach (var v in Model.CharteringTransaction)
                            {
                                var newStatus = v.status == "WAITING CERTIFIED" ? "WAITING ENDORSED" : v.status;
                                var laycanDate = String.IsNullOrEmpty(v.laycan_from) ? "" : v.laycan_from + " to " + v.laycan_to;
                                <tr class="drafts" style="cursor: pointer;">
                                    @if (@v.type != "CRUDE")
                                    {
                                        <td class="clickable-row" data-href="../CharterIn/CharterInCMMT?TranID=@v.Transaction_id_Encrypted&Tran_Req_ID=@v.Req_transaction_id_Encrypted&PURNO=@v.Purchase_no_Encrypted&Reason=@v.reason_Encrypted&Type=@v.type_Encrypted">@v.date_purchase <span> @newStatus </span></td>
                                        <td class="clickable-row" data-href="../CharterIn/CharterInCMMT?TranID=@v.Transaction_id_Encrypted&Tran_Req_ID=@v.Req_transaction_id_Encrypted&PURNO=@v.Purchase_no_Encrypted&Reason=@v.reason_Encrypted&Type=@v.type_Encrypted">@v.purchase_no</td>
                                        <td class="clickable-row" data-href="../CharterIn/CharterInCMMT?TranID=@v.Transaction_id_Encrypted&Tran_Req_ID=@v.Req_transaction_id_Encrypted&PURNO=@v.Purchase_no_Encrypted&Reason=@v.reason_Encrypted&Type=@v.type_Encrypted">@v.vessel</td>
                                        <td class="clickable-row" data-href="../CharterIn/CharterInCMMT?TranID=@v.Transaction_id_Encrypted&Tran_Req_ID=@v.Req_transaction_id_Encrypted&PURNO=@v.Purchase_no_Encrypted&Reason=@v.reason_Encrypted&Type=@v.type_Encrypted">@laycanDate</td>
                                        <td class="clickable-row" data-href="../CharterIn/CharterInCMMT?TranID=@v.Transaction_id_Encrypted&Tran_Req_ID=@v.Req_transaction_id_Encrypted&PURNO=@v.Purchase_no_Encrypted&Reason=@v.reason_Encrypted&Type=@v.type_Encrypted">@v.cust_short</td>
                                        <td class="clickable-row" data-href="../CharterIn/CharterInCMMT?TranID=@v.Transaction_id_Encrypted&Tran_Req_ID=@v.Req_transaction_id_Encrypted&PURNO=@v.Purchase_no_Encrypted&Reason=@v.reason_Encrypted&Type=@v.type_Encrypted">@v.charterer_name</td>
                                        <td class="clickable-row" data-href="../CharterIn/CharterInCMMT?TranID=@v.Transaction_id_Encrypted&Tran_Req_ID=@v.Req_transaction_id_Encrypted&PURNO=@v.Purchase_no_Encrypted&Reason=@v.reason_Encrypted&Type=@v.type_Encrypted">@v.owner</td>
                                        <td class="clickable-row" data-href="../CharterIn/CharterInCMMT?TranID=@v.Transaction_id_Encrypted&Tran_Req_ID=@v.Req_transaction_id_Encrypted&PURNO=@v.Purchase_no_Encrypted&Reason=@v.reason_Encrypted&Type=@v.type_Encrypted">@v.create_by</td>
                                        <td>
                                            <input type="hidden" name="dupLinkField" class="form-control" value="../CharterIn/CharterInCMMT?TranID=@v.Transaction_id_Encrypted&Tran_Req_ID=@v.Req_transaction_id_Encrypted&PURNO=@v.Purchase_no_Encrypted&Reason=@v.reason_Encrypted&Type=@v.type_Encrypted&isDup=true" hidden="hidden" />
                                            <input name="dup" type="checkbox" value="true" onclick="myFunction();" />
                                        </td>
                                    }
                                    else
                                    {

                                        <td class="clickable-row" data-href="../CharterIn?TranID=@v.Transaction_id_Encrypted&Tran_Req_ID=@v.Req_transaction_id_Encrypted&PURNO=@v.Purchase_no_Encrypted&Reason=@v.reason_Encrypted&Type=@v.type_Encrypted">@v.date_purchase <span> @newStatus </span></td>
                                        <td class="clickable-row" data-href="../CharterIn?TranID=@v.Transaction_id_Encrypted&Tran_Req_ID=@v.Req_transaction_id_Encrypted&PURNO=@v.Purchase_no_Encrypted&Reason=@v.reason_Encrypted&Type=@v.type_Encrypted">@v.purchase_no</td>
                                        <td class="clickable-row" data-href="../CharterIn?TranID=@v.Transaction_id_Encrypted&Tran_Req_ID=@v.Req_transaction_id_Encrypted&PURNO=@v.Purchase_no_Encrypted&Reason=@v.reason_Encrypted&Type=@v.type_Encrypted">@v.vessel</td>
                                        <td class="clickable-row" data-href="../CharterIn?TranID=@v.Transaction_id_Encrypted&Tran_Req_ID=@v.Req_transaction_id_Encrypted&PURNO=@v.Purchase_no_Encrypted&Reason=@v.reason_Encrypted&Type=@v.type_Encrypted">@laycanDate</td>
                                        <td class="clickable-row" data-href="../CharterIn?TranID=@v.Transaction_id_Encrypted&Tran_Req_ID=@v.Req_transaction_id_Encrypted&PURNO=@v.Purchase_no_Encrypted&Reason=@v.reason_Encrypted&Type=@v.type_Encrypted">@v.cust_name</td>
                                        <td class="clickable-row" data-href="../CharterIn?TranID=@v.Transaction_id_Encrypted&Tran_Req_ID=@v.Req_transaction_id_Encrypted&PURNO=@v.Purchase_no_Encrypted&Reason=@v.reason_Encrypted&Type=@v.type_Encrypted">@v.owner</td>
                                        <td class="clickable-row" data-href="../CharterIn?TranID=@v.Transaction_id_Encrypted&Tran_Req_ID=@v.Req_transaction_id_Encrypted&PURNO=@v.Purchase_no_Encrypted&Reason=@v.reason_Encrypted&Type=@v.type_Encrypted">@v.create_by</td>
                                        <td>
                                            <input type="hidden" name="dupLinkField" class="form-control" value="../CharterIn?TranID=@v.Transaction_id_Encrypted&Tran_Req_ID=@v.Req_transaction_id_Encrypted&PURNO=@v.Purchase_no_Encrypted&Reason=@v.reason_Encrypted&Type=@v.type_Encrypted&isDup=true" hidden="hidden" />
                                            <input name="dup" type="checkbox" value="true" onclick="myFunction();" />
                                        </td>
                                    }
                                </tr>
                            }
                        }
                        else
                        {     
                            if (@typeDecrypt == "CRUDE")
                            {
                                <tr class="waiting">
                                    <td colspan="8">Data not found</td>
                                </tr>
                            }
                            else
                            {
                                <tr class="waiting">
                                    <td colspan="9">Data not found</td>
                                </tr>
                            }
                        }
                    }

                </tbody>
            </table>
        </div>
        </div>
        </div>

        <script>
            // BINDING CRUDE NAME INTO AUTO COMPLETE BOX
            var sCreateBy = $("#sCreateBySelected").val();
            if (sCreateBy !== null) {
                var areaList = sCreateBy.split("|");
                $("#sCreateBy").val(areaList).trigger("change");
            }
            else {
                $("#sCreateBy").val(null).trigger("change");
            }



                $('input[type="checkbox"]').on('change', function () {
                    $('input[name="' + this.name + '"]').not(this).prop('checked', false);
                });
                $(".clickable-row").click(function () {
                    window.document.location = $(this).data("href");
                });
                function myFunction() {
                    var dupLinkField = document.getElementsByName("dupLinkField");
                    var dupChk = document.getElementsByName("dup");
                    var dubCopyHref = document.getElementsByName("dubCopy");
                    for (var i = 0; i < dupLinkField.length; i++) {
                        if (dupChk[i].checked) {
                            dubCopyHref[0].setAttribute('href', dupLinkField[i].value);
                            break;
                        } else {
                            dubCopyHref[0].setAttribute('href', "#");
                        }

                    }

                }

                function chkChecked() {
                    var dupChk = document.getElementsByName("dup");
                    var dubCopyHref = document.getElementsByName("dubCopy");
                    var status = true;
                    if (dupChk.checked) {
                        return true;
                    }

                }

                function resetForm() {                   
                    $("#sDate").val('');
                    $('#sVessel').val('');
                    $("#sLaycan").val('');
                    $('#sBroker').val('');
                    $("#sOwner").val('');
                    $("#sCharterer").val('');
                    $("#sCreateBy").select2("val", "");

                   // document.getElementById("searchForm").reset();
                }
                $(function () {
                    $('#sDate').dateRangePicker(
                    {
                        startOfWeek: 'monday',
                        format: 'DD-MM-YYYY',
                    });
                    $('#sLaycan').dateRangePicker(
                    {
                        startOfWeek: 'monday',
                        format: 'DD-MM-YYYY',
                    });
                    $('#example').DataTable({
                        "ordering": false,
                        "columnDefs": [
                            { "width": "130px", "targets": 0 },
                            { "width": "120px", "targets": 1 }
                        ]
                    });

                });
                $("#sCreateBy").select2();
                $('#sCreateBy').change(function () {

                    var create = "";
                    $("#sCreateBy option:selected").each(function () {
                        create = create + $(this).val() + "|";
                        //console.log($(this).val());
                    });
                    //console.log(create);
                    $("#sCreateBySelected").val(create.substr(0, create.length - 1));

                    $('.select2-search__field').keydown(function (e) {

                        if ($(this).val() == "") {
                            if (e.keyCode == 8) {
                                return false;
                            }
                        }
                    });
                });
              
                
        </script>
