﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.HedgingPreDealViewModel
@{
    ViewBag.Title = "Search";
    string type = ViewBag.TypeDecrypt;
    string typeDecrypt = ViewBag.TypeDecrypt;
}

<style type="text/css">
    .clearIcon {
        cursor: pointer;
        color: red;
    }

    .createByField {
        font-family: Arial,sans-serif;
        font-size: 12px;
    }

    .select.input-sm {
        width: 50px;
    }
</style>

@if (TempData["ReponseStatus"] != null && TempData["ReponseStatus"].ToString().ToUpper() == "FALSE")
{
    <script>
        $(document).ready(function () {
            $('#resultPopup').modal({ backdrop: 'static', keyboard: false });
            $('#resultPopup').modal('show');
        });
    </script>
}

<!-- Result Popup -->
<div class="modal fade" id="resultPopup" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <p>
                    @TempData["ReponseMessage"]
                </p>
            </div>
            <div class="modal-footer">
                @if (TempData["ReponseStatus"] != null && TempData["ReponseStatus"].ToString().ToUpper() == "FALSE")
                {
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                }
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="wrapper-detail">
    <div>
        <h1>Search Deal Key-in</h1>
    </div>
    @using (Html.BeginForm("Search", "HedgingPreDeal", FormMethod.Post, new { @id = "searchForm", @class = "form-horizontal" }))
    {
        @Html.HiddenFor(model => model.systemType)
        <div class="row">
            <div class="form-group">
                <div class="col-md-6">
                    <label class="col-md-3 control-label">Deal Date</label>
                    <div class="col-md-6">
                        <div class="box-date">
                            @Html.TextBoxFor(m => m.HedgingPreDeal_Search.sDeal_Date, new { @id = "sDate", @class = "form-control input-date-picker ", @placeholder = "DD/MM/YYYY to DD/MM/YYYY", @maxlength = "24" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="col-md-3 control-label">Pre Deal No.</label>
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.HedgingPreDeal_Search.sPre_Deal_no, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-6">
                    <label class="col-md-3 control-label">Status</label>
                    <div class="col-md-6 createByField">
                        @Html.HiddenFor(model => model.HedgingPreDeal_Search.sStatusSelected, htmlAttributes: new { @id = "sStatusSelected" })
                        @Html.DropDownListFor(model => model.ddlStatus, null, new { @class = "form-control", @multiple = "multiple", @id = "sStatus" })
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="col-md-3 control-label">Hedge Type</label>
                    <div class="col-md-6">
                        @Html.DropDownListFor(m => m.HedgingPreDeal_Search.sHedged_Type, new SelectList(Model.ddlHedged_Type, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-6">
                    <label class="col-md-3 control-label">Trade For</label>
                    <div class="col-md-6">
                        @Html.DropDownListFor(m => m.HedgingPreDeal_Search.sTrade_For, new SelectList(Model.ddlTrade_For, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="col-md-3 control-label">Tool</label>
                    <div class="col-md-6">
                        @Html.DropDownListFor(m => m.HedgingPreDeal_Search.sTool, new SelectList(Model.ddlTool, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-6">
                    <label class="col-md-3 control-label">Company</label>
                    <div class="col-md-6">                       
                        @Html.DropDownListFor(m => m.HedgingPreDeal_Search.sSeller, new SelectList(Model.ddlCompany, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="col-md-3 control-label">Counterparty</label>
                    <div class="col-md-6">                       
                        @Html.DropDownListFor(m => m.HedgingPreDeal_Search.sBuyer, new SelectList(Model.ddlCounterParty, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-6">
                    <label class="col-md-3 control-label">Underlying</label>
                    <div class="col-md-6">
                        @Html.DropDownListFor(m => m.HedgingPreDeal_Search.sUnderlying, new SelectList(Model.ddlUnderlying, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="col-md-3 control-label">VS</label>
                    <div class="col-md-6">
                        @Html.DropDownListFor(m => m.HedgingPreDeal_Search.sVS, new SelectList(Model.ddlUnderlying, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-6">
                    <label class="col-md-3 control-label">Create By</label>
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.HedgingPreDeal_Search.sCreate_by, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="col-md-3 control-label">Deal No.</label>
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.HedgingPreDeal_Search.sDeal_no, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <div class="col-md-4 pull-left">
                    @*@if (ViewBag.action_create)
                    {*@
                        <a class="btn btn-success" href="~/CPAIMVC/HedgingDeal?Type=@type" id="addBtn" name="addBtn" role="button">Add</a>
                    @*}*@
                </div>
                <div class="col-md-4 text-center">
                    @*@if (ViewBag.action_search)
                    {*@
                        <button type="submit" class="btn btn-primary">Search</button>
                    @*}*@
                    <button type="reset" value="Reset" class="btn btn-default" onclick="resetForm()">Clear All</button>
                </div>
                <div class="col-md-4 text-right">
                </div>
            </div>
        </div>
    }

    <div class="page-header">
        <h1>Search Result</h1>
    </div>
    <div class="task-box">
        <div class="wrapper-table collapse in" id="collapseJuly">
            <div style="width:100%;overflow-x:scroll;">
                <table id="searchResultTable" class="table table-borderedy">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Date/Status</th>
                            <th>Pre Deal No.</th>
                            <th>Hedge Type</th>
                            <th>Trade For</th>
                            <th>Tool</th>
                            <th>Company</th>
                            <th>Counterparties</th>
                            <th>Underlying</th>
                            <th>Created By</th>
                            <th>Deal No.</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.HedgingPreDeal_Search == null || Model.HedgingPreDeal_Search.sSearchData == null)
                        {
                            <tr class="waiting">
                                <td colspan="11">Waiting for search</td>
                            </tr>
                        }
                        else
                        {
                            if (Model.HedgingPreDeal_Search.sSearchData.Count > 0)
                            {
                                var k = 0;
                                foreach (var v in Model.HedgingPreDeal_Search.sSearchData)
                                {
                                    <tr>
                                        @if (v.detail.Count > 1)
                                        {
                                            <td><span type="button" style="font-family: 'Glyphicons Halflings'!important;" class="glyphicon glyphicon-plus-sign" data-toggle="collapse" data-target=".@v.dPre_Deal_no" /></td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }
                                        <td style="cursor: pointer;" class="clickable-row" data-href="../HedgingDeal/Edit?TranID=@v.hTransactionIdEncrypted&Tran_Req_ID=@v.hTransactionRequestEncrypted&PURNO=@v.hPreDealEncrypted&Type=@v.hTypeEncrypted&System=@v.hSystemEncrypted&Screen_Type=@v.hScreenTypeEncrypted">@v.dDate<span>@v.dPreDeal_Status</span></td>
                                        <td>@v.dPre_Deal_no</td>
                                        <td>@v.dHedged_Type</td>
                                        <td>@v.dTrade_For</td>
                                        <td>@v.dTool</td>
                                        <td>@v.dSeller</td>
                                        <td>@v.dBuyer</td>
                                        <td>@v.dUnderlying</td>
                                        <td>@v.dCreate_by</td>
                                        @if (v.detail.Count > 0)
                                        {
                                            <td style="cursor: pointer;" class="clickable-row" data-href="../HedgingDeal/Edit?TranID=@v.detail[0].hTransactionIdEncrypted&Tran_Req_ID=@v.detail[0].hTransactionRequestEncrypted&PURNO=@v.detail[0].hDealNoEncrypted&Type=@v.detail[0].hTypeEncrypted&System=@v.detail[0].hSystemEncrypted&Screen_Type=@v.detail[0].hScreenTypeEncrypted">@v.detail[0].deal_no<span>@v.detail[0].status</span></td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }
                                    </tr>
                                    for (int i = 1; i < v.detail.Count; i++)
                                    {
                                        <tr class="collapse @v.detail[i].ref_pre_deal_no">
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td style="cursor: pointer;" class="clickable-row" data-href="../HedgingDeal/Edit?TranID=@v.detail[i].hTransactionIdEncrypted&Tran_Req_ID=@v.detail[i].hTransactionRequestEncrypted&PURNO=@v.detail[i].hDealNoEncrypted&Type=@v.detail[i].hTypeEncrypted&System=@v.detail[i].hSystemEncrypted&Screen_Type=@v.detail[i].hScreenTypeEncrypted">@v.detail[i].deal_no<span>@v.detail[i].status</span></td>
                                        </tr>
                                    }
                                    k++;
                                }
                            }
                            else
                            {
                                <tr class="waiting">
                                    <td colspan="11">Data not found</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {

        var strTD = @Html.Raw(Json.Encode(@Model.HedgingPreDeal_Search.sStatusSelected));
        if(strTD != null)
        {
            var arTD = strTD.split("|");
            $("#sStatus").val(arTD).trigger('change');
        }

        $('#sDate').dateRangePicker(
        {
            startOfWeek: 'monday',
            format: 'DD-MM-YYYY',
        });
        
        $('#searchResultTable').DataTable({
            searching: false,
            paging: true,
            "bSort": false
        });        

    });

    $(".clickable-row").click(function () {
        window.document.location = $(this).data("href");
    });    

    $("#sStatus").select2();
    $('#sStatus').change(function () {

        var create = "";
        $("#sStatus option:selected").each(function () {
            create = create + $(this).val() + "|";
        });

        $("#sStatusSelected").val(create.substr(0, create.length - 1));

        $('.select2-search__field').keydown(function (e) {

            if ($(this).val() == "") {
                if (e.keyCode == 8) {
                    return false;
                }
            }
        });
    });
</script>