﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.CrudeBookingPriceViewModel

        <div class="page-header">
            <h1 style="font-size: 50px;"><strong>Crude Import Plan</strong></h1>
        </div>
        <div class="wrapper-detail">
            <h2 class="title">
                <span class="note">Crude Booking Price</span>
            </h2>

            <table>
                <tr>
                    <td>
                        <label class="control-label">Trip No. Period From</label>
                    </td>
                    <td width="20px">&nbsp;</td>
                    <td>
                        <select class="form-control">
                            <option>Jan</option>
                            <option>Feb</option>
                            <option>Mar</option>
                            <option>Apr</option>
                            <option>May</option>
                            <option>Jun</option>
                            <option>Jul</option>
                            <option>Aug</option>
                            <option>Sep</option>
                            <option selected="selected">Oct</option>
                            <option>Nov</option>
                            <option>Dec</option>
                        </select>
                    </td>
                    <td>
                        <input type="text" class="form-control" value="2014" />
                    </td>
                    <td width="50px">&nbsp;</td>
                    <td>
                        <label class="control-label">To</label>
                    </td>
                    <td width="20px">&nbsp;</td>
                    <td>
                        <select class="form-control">
                            <option>Jan</option>
                            <option selected="selected">Feb</option>
                            <option>Mar</option>
                            <option>Apr</option>
                            <option>May</option>
                            <option>Jun</option>
                            <option>Jul</option>
                            <option>Aug</option>
                            <option>Sep</option>
                            <option>Oct</option>
                            <option>Nov</option>
                            <option>Dec</option>
                        </select>
                    </td>
                    <td>
                        <input type="text" class="form-control" value="2015" />
                    </td>
                    <td width="50px">&nbsp;</td>
                    <td>
                        <input type="button" ID="btnSubmit" class="btn btn-success" value="Display" />
                    </td>
                </tr>
            </table>
            <br />
            <div ID="pnlCrudeBookingPrice">
                <ul class="nav nav-tabs">
                    <li><a data-toggle="tab" href="#Oct16">Oct'14</a></li>
                    <li><a data-toggle="tab" href="#Nov16">Nov'14</a></li>
                    <li><a data-toggle="tab" href="#Dec16">Dec'14</a></li>
                    <li class="active"><a data-toggle="tab" href="#Jan17">Jan'15</a></li>
                    <li><a data-toggle="tab" href="#Feb17">Feb'15</a></li>
                    <li><a data-toggle="tab" href="#Mar17">Mar'15</a></li>
                </ul>
                <div class="tab-content">
                    <div id="Oct16" class="tab-pane fade">
                    </div>
                    <div id="Nov16" class="tab-pane fade">
                        <br />
                        <table>
                            <tr>
                                <td style="padding: 10px; background-color: #ccffcc; border-radius: 10px; border-collapse: separate; vertical-align: top;">
                                    <table>
                                        <tr>
                                            <td>
                                                <label class="control-label">
                                                    CIP Last Updated
                                                </label>
                                            </td>
                                            <td width="20px">&nbsp;</td>
                                            <td>
                                                <input type="text" class="form-control" value="20 Nov 2014" disabled />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label class="control-label">Price Last Updated</label>
                                            </td>
                                            <td width="20px">&nbsp;</td>
                                            <td>
                                                <input type="text" class="form-control" value="19 Dec 2014" disabled />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td width="20">&nbsp;</td>
                                <td rowspan="3" style="padding: 10px; background-color: #ccffcc; border-radius: 10px; border-collapse: separate; vertical-align: top;">
                                    <table>
                                        <tr>
                                            <td>&nbsp;</td>
                                            <td width="20">&nbsp;</td>
                                            <td class="control-label">
                                                <label class="control-label">
                                                    Oct&#39;14
                                                </label>
                                            </td>
                                            <td class="control-label">
                                                <label class="control-label">
                                                    Nov&#39;14
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>OSP MURBAN</td>
                                            <td>&nbsp;</td>
                                            <td>
                                                <input type="text" class="form-control1" value="50.11" />
                                            </td>
                                            <td>
                                                <input type="text" class="form-control1" value="50.11" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>OSP UPPER ZAKUM</td>
                                            <td>&nbsp;</td>
                                            <td>
                                                <input type="text" class="form-control1" value="25.11" />
                                            </td>
                                            <td>
                                                <input type="text" class="form-control1" value="25.11" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>MOPs HSFO</td>
                                            <td>&nbsp;</td>
                                            <td>
                                                <input type="text" class="form-control1" value="25.11" />
                                            </td>
                                            <td>
                                                <input type="text" class="form-control1" value="25.11" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>OSP QUATA LAND</td>
                                            <td>&nbsp;</td>
                                            <td>
                                                <input type="text" class="form-control1" value="25.11" />
                                            </td>
                                            <td>
                                                <input type="text" class="form-control1" value="25.11" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="10" colspan="4"></td>
                                        </tr>
                                        <tr>
                                            <td colspan="4">
                                                <div class="wrapper-table">
                                                    <div class="wrapper-button">
                                                        <a href="#" class="btn-supplier">Add Crude<span>+</span></a>
                                                        <a href="#" class="btn-offer">Refresh Price</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td width="20">&nbsp;</td>
                                <td rowspan="3" style="padding: 10px; background-color: #ccffcc; border-radius: 10px; border-collapse: separate; vertical-align: top;">
                                    <table>
                                        <tr>
                                            <td width="20">&nbsp;</td>
                                            <td width="20">&nbsp;</td>
                                            <td nowrap="nowrap" class="control-label">
                                                <label class="control-label">
                                                    1-31 Oct 14
                                                </label>
                                            </td>
                                            <td>
                                                <input id="date-range-nov" class="form-control input-date-picker" type="text" value="1-30 Nov 14" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>OMAN</td>
                                            <td>&nbsp;</td>
                                            <td>
                                                <input class="form-control" type="text" value="50.11" />
                                            </td>
                                            <td>
                                                <input class="form-control" type="text" value="50.11" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>DUBAI</td>
                                            <td>&nbsp;</td>
                                            <td>
                                                <input class="form-control" type="text" value="50.11" />
                                            </td>
                                            <td>
                                                <input class="form-control" type="text" value="50.11" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>BR</td>
                                            <td>&nbsp;</td>
                                            <td>
                                                <input class="form-control" type="text" value="50.11" />
                                            </td>
                                            <td>
                                                <input class="form-control" type="text" value="50.11" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td height="10" colspan="3"></td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">
                                                <div class="wrapper-table">
                                                    <div class="wrapper-button">
                                                        <button class="btn-supplier" href="#">
                                                            Add Crude<span>+</span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>&nbsp;</td>
                                        </tr>
                                    </table>
                                <td rowspan="3" style="padding: 10px; border-radius: 10px; border-collapse: separate; vertical-align: top;">&nbsp;</td>
                                <td rowspan="3" style="vertical-align: bottom;">
                                    <div class="wrapper-button" style="vertical-align: bottom;">
                                        <button class="btn btn-success">Update Price</button>
                                        </div>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="padding: 10px; background-color: #ccffcc; border-radius: 10px; border-collapse: separate;">
                                    <table>
                                        <tr>
                                            <td>
                                                <label class="control-label">
                                                    BKK Bank Holidays
                                                </label>
                                            </td>
                                            <td width="20px">&nbsp;</td>
                                            <td>
                                                <input type="text" class="form-control" value="14 Nov 2014" disabled />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label class="control-label">
                                                    NY Bank Holidays
                                                </label>
                                            </td>
                                            <td width="20px">&nbsp;</td>
                                            <td>
                                                <input type="text" class="form-control" value="5 Nov 2014" disabled />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td></td>
                            </tr>
                        </table>
                        <br />
                        <div class="wrapper-table">
                            <table class="table1">
                                <thead>
                                    <tr class="border-bottom">
                                        <th colspan="16">CRUDE PAYMENT</th>
                                        <th colspan="3">FREIGHT PAYMENT</th>
                                        <th rowspan="3">Completed Discharge</th>
                                        <th colspan="2" rowspan="2">SUVEYOR PAYMENT</th>
                                        <th rowspan="3">Remark</th>
                                    </tr>
                                    <tr class="border-bottom">
                                        <!--CRUDE PAYMENT-->
                                        <th rowspan="2">Trip No.</th>
                                        <th rowspan="2">Vessel</th>
                                        <th rowspan="2">Crude Type</th>
                                        <th rowspan="2" nowrap="nowrap">
                                            <font color="blue">P(rovisional)</font>
                                            <br />
                                            <font color="black">A(ctual)</font>
                                            <br />
                                            <font color="#e21789">F (orecast)</font>
                                        </th>
                                        <th rowspan="2">Supplier</th>
                                        <th rowspan="2">B/L Date</th>
                                        <th rowspan="2">Due/Paid Date</th>
                                        <th rowspan="2">B/L Quantity (BBL)</th>
                                        <th rowspan="2">Pricing Formula</th>
                                        <th rowspan="2" nowrap="nowrap">Incoterms</th>
                                        <th nowrap="nowrap" rowspan="2"><font color="blue">Pro.</font>/Actual<br /> (US$/BBL)</th>
                                        <th rowspan="2" nowrap="nowrap">
                                            Total Amount<br />
                                            USD or BAHT For PA
                                        </th>
                                        <th colspan="2">Exchange Rate</th>
                                        <th rowspan="2">Total In Baht</th>
                                        <th rowspan="2">Endorsed/Approved Date</th>

                                        <!--FREIGHT PAYMENT-->
                                        <th rowspan="2">Freight (US$)</th>
                                        <th rowspan="2" nowrap="nowrap">
                                            Due/Paid<br />
                                            Date
                                        </th>
                                        <th rowspan="2">Endorsed/Approved Date</th>

                                        <!--Vessel-->
                                        <!--STS PAYMENT : SRIRACHA ENERGY-->
                                    </tr>
                                    <tr class="border-bottom">
                                        <th nowrap="nowrap">as Agreement</th>
                                        <th nowrap="nowrap">as BOT</th>
                                        <th>&nbsp;</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>2014/00080</td>
                                        <td>TATEYAMA</td>
                                        <td>MURBAN</td>
                                        <td>P</td>
                                        <td>PTT Public Company Limited</td>
                                        <td nowrap="nowrap">08 Nov 2014</td>
                                        <td nowrap="nowrap">08 Dec 2015</td>
                                        <td>499,999</td>
                                        <td>DB</td>
                                        <td>FOB</td>
                                        <td>50.0000</td>
                                        <td class="align-right">24,999,950.00</td>
                                        <td>32.5000</td>
                                        <td></td>
                                        <td>812,498,375.00</td>
                                        <td>
                                            C. 11 Dec 2014<br />
                                            A. 11 Dec 2014
                                        </td>
                                        <td>999,999</td>
                                        <td nowrap="nowrap">31 Jul 2014</td>
                                        <td nowrap="nowrap">21 Jul 2014</td>
                                        <td></td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td></td>
                                    </tr>
                                    <tr class="border-bottom">
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>A</td>
                                        <td>&nbsp;</td>
                                        <td nowrap="nowrap" class="yellow-bg">15 Dec 2014</td>
                                        <td nowrap="nowrap">22 Dec 2014</td>
                                        <td class="yellow-bg">498,765</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>51.0000</td>
                                        <td class="align-right" style="padding: 0px;">
                                            <table width="100%">
                                                <tr>
                                                    <td style="text-align: right;">25,437,015.00</td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align: right;"><font color="red">437,065.00</font></td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td>31.2500</td>
                                        <td>&nbsp;</td>
                                        <td>
                                            <table width="100%">
                                                <tr>
                                                    <td style="text-align: right;">794,906,718.75</td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align: right;"><font color="red">437,065.00</font></td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td>C. 24 Dec 2014<br /> A. 24 Dec 2014</td>
                                        <td>&nbsp;</td>
                                        <td nowrap="nowrap">&nbsp;</td>
                                        <td nowrap="nowrap">&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="Dec16" class="tab-pane fade">
                        <br />
                        <table>
                            <tr>
                                <td style="padding: 10px; background-color: #ccffcc; border-radius: 10px; border-collapse: separate; vertical-align: top;">
                                    <table>
                                        <tr>
                                            <td>
                                                <label class="control-label">
                                                    CIP Last Updated
                                                </label>
                                            </td>
                                            <td width="20px">&nbsp;</td>
                                            <td>
                                                <input type="text" class="form-control" value="20 Dec 2014" disabled />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label class="control-label">Price Last Updated</label>
                                            </td>
                                            <td width="20px">&nbsp;</td>
                                            <td>
                                                <input type="text" class="form-control" value="19 Jan 2015" disabled />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td width="20">&nbsp;</td>
                                <td rowspan="3" style="padding: 10px; background-color: #ccffcc; border-radius: 10px; border-collapse: separate; vertical-align: top;">
                                    <table>
                                        <tr>
                                            <td>&nbsp;</td>
                                            <td width="20">&nbsp;</td>
                                            <td class="control-label">
                                                <label class="control-label">
                                                    Nov&#39;14
                                                </label>
                                            </td>
                                            <td class="control-label">
                                                <label class="control-label">
                                                    Dec&#39;14
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>MURBAN</td>
                                            <td>&nbsp;</td>
                                            <td>
                                                <input type="text" class="form-control1" value="50.11" />
                                            </td>
                                            <td>
                                                <input type="text" class="form-control1" value="50.11" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>UPPER ZAKUM</td>
                                            <td>&nbsp;</td>
                                            <td>
                                                <input type="text" class="form-control1" value="25.11" />
                                            </td>
                                            <td>
                                                <input type="text" class="form-control1" value="25.11" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>HSFO</td>
                                            <td>&nbsp;</td>
                                            <td>
                                                <input type="text" class="form-control1" value="25.11" />
                                            </td>
                                            <td>
                                                <input type="text" class="form-control1" value="25.11" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>QUATA LAND</td>
                                            <td>&nbsp;</td>
                                            <td>
                                                <input type="text" class="form-control1" value="25.11" />
                                            </td>
                                            <td>
                                                <input type="text" class="form-control1" value="25.11" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="10" colspan="4"></td>
                                        </tr>
                                        <tr>
                                            <td colspan="4">
                                                <div class="wrapper-table">
                                                    <div class="wrapper-button">
                                                        <a href="#" class="btn-supplier">Add Crude<span>+</span></a>
                                                        <a href="#" class="btn-offer">Refresh Price</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td width="20">&nbsp;</td>
                                <td rowspan="3" style="padding: 10px; background-color: #ccffcc; border-radius: 10px; border-collapse: separate; vertical-align: top;">
                                    <table>
                                        <tr>
                                            <td width="20">&nbsp;</td>
                                            <td width="20">&nbsp;</td>
                                            <td nowrap="nowrap" class="control-label">
                                                <label class="control-label">
                                                    1-30 Nov 14
                                                </label>
                                            </td>
                                            <td>
                                                <input id="date-range-dec" class="form-control input-date-picker" type="text" value="1-31 Dec 14" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>OMAN</td>
                                            <td>&nbsp;</td>
                                            <td>
                                                <input class="form-control" type="text" value="50.11" />
                                            </td>
                                            <td>
                                                <input class="form-control" type="text" value="50.11" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>DUBAI</td>
                                            <td>&nbsp;</td>
                                            <td>
                                                <input class="form-control" type="text" value="50.11" />
                                            </td>
                                            <td>
                                                <input class="form-control" type="text" value="50.11" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>BR</td>
                                            <td>&nbsp;</td>
                                            <td>
                                                <input class="form-control" type="text" value="50.11" />
                                            </td>
                                            <td>
                                                <input class="form-control" type="text" value="50.11" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td height="10" colspan="3"></td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">
                                                <div class="wrapper-table">
                                                    <div class="wrapper-button">
                                                        <button class="btn-supplier" href="#">
                                                            Add Crude<span>+</span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>&nbsp;</td>
                                        </tr>
                                    </table>
                                <td rowspan="3" style="padding: 10px; border-radius: 10px; border-collapse: separate; vertical-align: top;">&nbsp;</td>
                                <td rowspan="3" style="vertical-align: bottom;">
                                    <div class="wrapper-button" style="vertical-align: bottom;">
                                        <button class="btn btn-success">Update Price</button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="padding: 10px; background-color: #ccffcc; border-radius: 10px; border-collapse: separate;">
                                    <table>
                                        <tr>
                                            <td>
                                                <label class="control-label">
                                                    BKK Bank Holidays
                                                </label>
                                            </td>
                                            <td width="20px">&nbsp;</td>
                                            <td>
                                                <input type="text" class="form-control" value="5,10 Dec 2014" disabled />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label class="control-label">
                                                    NY Bank Holidays
                                                </label>
                                            </td>
                                            <td width="20px">&nbsp;</td>
                                            <td>
                                                <input type="text" class="form-control" value="2,16 Dec 2014" disabled />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td></td>
                            </tr>
                        </table>
                        <br />
                        <div class="wrapper-table">
                            <table class="table1">
                                <thead>
                                    <tr class="border-bottom">
                                        <th colspan="16">CRUDE PAYMENT</th>
                                        <th colspan="3">FREIGHT PAYMENT</th>
                                        <th rowspan="3">Completed Discharge</th>
                                        <th rowspan="3">Remark</th>
                                    </tr>
                                    <tr class="border-bottom">
                                        <!--CRUDE PAYMENT-->
                                        <th rowspan="2">Trip No.</th>
                                        <th rowspan="2">Vessel</th>
                                        <th rowspan="2">Crude Type</th>
                                        <th rowspan="2" nowrap="nowrap">
                                            <font color="blue">P(rovisional)</font>
                                            <br />
                                            <font color="black">A(ctual)</font>
                                            <br />
                                            <font color="#e21789">F (orecast)</font>
                                        </th>
                                        <th rowspan="2">Supplier</th>
                                        <th rowspan="2">B/L Date</th>
                                        <th rowspan="2">Due/Paid Date</th>
                                        <th rowspan="2">B/L Quantity (BBL)</th>
                                        <th rowspan="2">Pricing Formula</th>
                                        <th rowspan="2" nowrap="nowrap">Incoterms</th>
                                        <th nowrap="nowrap" rowspan="2"><font color="blue">Pro.</font>/Actual<br /> (US$/BBL)</th>
                                        <th rowspan="2" nowrap="nowrap">
                                            Total Amount<br />
                                            USD or BAHT For PA
                                        </th>
                                        <th colspan="2">Exchange Rate</th>
                                        <th rowspan="2">Total In Baht</th>
                                        <th rowspan="2">Endorsed/Approved Date</th>

                                        <!--FREIGHT PAYMENT-->
                                        <th rowspan="2">Freight (US$)</th>
                                        <th rowspan="2" nowrap="nowrap">
                                            Due/Paid<br />
                                            Date
                                        </th>
                                        <th rowspan="2">Endorsed/Approved Date</th>

                                        <!--Vessel-->
                                        <!--STS PAYMENT : SRIRACHA ENERGY-->
                                    </tr>
                                    <tr class="border-bottom">
                                        <th nowrap="nowrap">as Agreement</th>
                                        <th nowrap="nowrap">as BOT</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>2014/00090</td>
                                        <td>TAIZAN</td>
                                        <td>MURBAN</td>
                                        <td>A</td>
                                        <td>BP Singapore Pte Limited</td>
                                        <td nowrap="nowrap">17 Dec 2014</td>
                                        <td nowrap="nowrap">13 Jan 2015</td>
                                        <td>499,999</td>
                                        <td>DB</td>
                                        <td>CFR</td>
                                        <td>50.0000</td>
                                        <td class="align-right">24,999,950.00</td>
                                        <td>32.5000</td>
                                        <td></td>
                                        <td>812,498,375.00</td>
                                        <td>
                                            C. 11 Jan 2015<br />
                                            A. 11 Jan 2015
                                        </td>
                                        <td>999,999</td>
                                        <td nowrap="nowrap">31 Jul 2014</td>
                                        <td nowrap="nowrap">21 Jul 2014</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr class="blue-font border-bottom">
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>DAS</td>
                                        <td>A</td>
                                        <td>ITOCHU PETROLEUM CO.,(SINGAPORE) PTE LTD.</td>
                                        <td nowrap="nowrap">31 Dec 2014</td>
                                        <td nowrap="nowrap">30 Jan 2015</td>
                                        <td>300,000</td>
                                        <td>DB</td>
                                        <td class="green-bg">&nbsp;</td>
                                        <td class="green-bg">48.0000</td>
                                        <td class="align-right green-bg">14,400,000.00</td>
                                        <td class="green-bg">&nbsp;</td>
                                        <td class="green-bg">&nbsp;</td>
                                        <td class="green-bg">&nbsp;</td>
                                        <td class="green-bg">&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td nowrap="nowrap">&nbsp;</td>
                                        <td nowrap="nowrap">&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>2014/00091</td>
                                        <td>SUZUKA</td>
                                        <td>ARAB LIGHT</td>
                                        <td>P</td>
                                        <td>PTT Public Company Limited</td>
                                        <td nowrap="nowrap">23 Dec 2014</td>
                                        <td nowrap="nowrap">22 Jan 2015</td>
                                        <td>460,999</td>
                                        <td>OSP</td>
                                        <td>CFR</td>
                                        <td>45.0000</td>
                                        <td class="align-right">20,744,955.00</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td nowrap="nowrap">
                                            C. 16 Jan 2015<br />
                                            A. 16 Jan 2015
                                        </td>
                                        <td>???</td>
                                        <td>???</td>
                                        <td>???</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr class="blue-font border-bottom">
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td class="green-bg pink-font">A</td>
                                        <td class="green-bg">&nbsp;</td>
                                        <td class="green-bg">&nbsp;</td>
                                        <td class="green-bg">&nbsp;</td>
                                        <td class="green-bg">&nbsp;</td>
                                        <td class="green-bg">&nbsp;</td>
                                        <td class="green-bg">&nbsp;</td>
                                        <td class="green-bg">44.0000</td>
                                        <td class="align-right green-bg" style="padding: 0px;">
                                            <table width="100%">
                                                <tr>
                                                    <td style="text-align: right;">20,283,956.00</td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align: right;"><font color="red">(460,999.00)</font></td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td class="green-bg">&nbsp;</td>
                                        <td class="green-bg">&nbsp;</td>
                                        <td class="green-bg">&nbsp;</td>
                                        <td class="green-bg">&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="Jan17" class="tab-pane fade in active">
                        <br />
                        <table>
                            <tr>
                                <td style="padding: 10px; background-color: #ccffcc; border-radius: 10px; border-collapse: separate; vertical-align: top;">
                                    <table>
                                        <tr>
                                            <td>
                                                <label class="control-label">
                                                    CIP Last Updated
                                                </label>
                                            </td>
                                            <td width="20px">&nbsp;</td>
                                            <td>
                                                <input type="text" class="form-control" value="09 Jan 2015" disabled />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label class="control-label">Price Last Updated</label>
                                            </td>
                                            <td width="20px">&nbsp;</td>
                                            <td>
                                                <input type="text" class="form-control" value="19 Jan 2015" disabled />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td width="20">&nbsp;</td>
                                <td rowspan="3" style="padding: 10px; background-color: #ccffcc; border-radius: 10px; border-collapse: separate; vertical-align: top;">
                                    <table>
                                        <tr>
                                            <td>&nbsp;</td>
                                            <td width="20">&nbsp;</td>
                                            <td class="control-label">
                                                <label class="control-label">
                                                    Dec&#39;14
                                                </label>
                                            </td>
                                            <td class="control-label">
                                                <label class="control-label">
                                                    Jan&#39;15 (EST)
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>MURBAN</td>
                                            <td>&nbsp;</td>
                                            <td>
                                                <input type="text" class="form-control1" value="50.11" />
                                            </td>
                                            <td>
                                                <input type="text" class="form-control1" value="50.11" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>UPPER ZAKUM</td>
                                            <td>&nbsp;</td>
                                            <td>
                                                <input type="text" class="form-control1" value="25.11" />
                                            </td>
                                            <td>
                                                <input type="text" class="form-control1" value="25.11" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>HSFO</td>
                                            <td>&nbsp;</td>
                                            <td>
                                                <input type="text" class="form-control1" value="25.11" />
                                            </td>
                                            <td>
                                                <input type="text" class="form-control1" value="25.11" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>QUATA LAND</td>
                                            <td>&nbsp;</td>
                                            <td>
                                                <input type="text" class="form-control1" value="25.11" />
                                            </td>
                                            <td>
                                                <input type="text" class="form-control1" value="25.11" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="10" colspan="4"></td>
                                        </tr>
                                        <tr>
                                            <td colspan="4">
                                                <div class="wrapper-table">
                                                    <div class="wrapper-button">
                                                        <a href="#" class="btn-supplier">Add Crude<span>+</span></a>
                                                        <a href="#" class="btn-offer">Refresh Price</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td width="20">&nbsp;</td>
                                <td rowspan="3" style="padding: 10px; background-color: #ccffcc; border-radius: 10px; border-collapse: separate; vertical-align: top;">
                                    <table>
                                        <tr>
                                            <td width="20" nowrap="nowrap">&nbsp;</td>
                                            <td width="20">&nbsp;</td>
                                            <td nowrap="nowrap" class="control-label">
                                                <label class="control-label">
                                                    1-31 Dec 14
                                                </label>
                                            </td>
                                            <td>
                                                <input id="date-range" class="form-control input-date-picker" type="text" value="1-17 Jan 15" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>OMAN</td>
                                            <td>&nbsp;</td>
                                            <td>
                                                <input class="form-control" type="text" value="50.11" />
                                            </td>
                                            <td>
                                                <input class="form-control" type="text" value="50.11" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>DUBAI</td>
                                            <td>&nbsp;</td>
                                            <td>
                                                <input class="form-control" type="text" value="50.11" />
                                            </td>
                                            <td>
                                                <input class="form-control" type="text" value="50.11" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>BR</td>
                                            <td>&nbsp;</td>
                                            <td>
                                                <input class="form-control" type="text" value="50.11" />
                                            </td>
                                            <td>
                                                <input class="form-control" type="text" value="50.11" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td height="10" colspan="3"></td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">
                                                <div class="wrapper-table">
                                                    <div class="wrapper-button">
                                                        <button class="btn-supplier" href="#">
                                                            Add Crude<span>+</span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>&nbsp;</td>
                                        </tr>
                                    </table>
                                </td>
                                <td rowspan="3" style="padding: 10px; border-radius: 10px; border-collapse: separate; vertical-align: top;">&nbsp;</td>
                                <td rowspan="3" style="vertical-align: bottom;">
                                    <div class="wrapper-button" style="vertical-align: bottom;">
                                        <button class="btn btn-success">Update Price</button>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="padding: 10px; background-color: #ccffcc; border-radius: 10px; border-collapse: separate;">
                                    <table>
                                        <tr>
                                            <td>
                                                <label class="control-label">
                                                    BKK Bank Holidays
                                                </label>
                                            </td>
                                            <td width="20px">&nbsp;</td>
                                            <td>
                                                <input type="text" class="form-control" value="2,3 Jan 2015" disabled />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label class="control-label">
                                                    NY Bank Holidays
                                                </label>
                                            </td>
                                            <td width="20px">&nbsp;</td>
                                            <td>
                                                <input type="text" class="form-control" value="2,16 Jan 2015" disabled />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td></td>
                            </tr>
                        </table>
                        <br />
                        <div class="wrapper-table">
                            <table class="table1">
                                <thead>
                                    <tr class="border-bottom">
                                        <th colspan="16">CRUDE PAYMENT</th>
                                        <th colspan="3">FREIGHT PAYMENT</th>
                                        <th rowspan="3">Completed Discharge</th>
                                        <th rowspan="3">Remark</th>
                                    </tr>
                                    <tr class="border-bottom">
                                        <!--CRUDE PAYMENT-->
                                        <th rowspan="2">Trip No.</th>
                                        <th rowspan="2">Vessel</th>
                                        <th rowspan="2">Crude Type</th>
                                        <th rowspan="2" nowrap="nowrap">
                                            <font color="blue">P(rovisional)</font>
                                            <br />
                                            <font color="black">A(ctual)</font>
                                            <br />
                                            <font color="#e21789">F (orecast)</font>
                                        </th>
                                        <th rowspan="2">Supplier</th>
                                        <th rowspan="2">B/L Date</th>
                                        <th rowspan="2">Due/Paid Date</th>
                                        <th rowspan="2">B/L Quantity (BBL)</th>
                                        <th rowspan="2">Pricing Formula</th>
                                        <th rowspan="2">Incoterms</th>
                                        <th rowspan="2" nowrap="nowrap">
                                            <font color="blue">Pro.</font>/Actual<br />
                                            (US$/BBL)
                                        </th>
                                        <th rowspan="2" nowrap="nowrap">
                                            Total Amount<br />
                                            USD or BAHT For PA
                                        </th>
                                        <th colspan="2">Exchange Rate</th>
                                        <th rowspan="2">Total In Baht</th>
                                        <th rowspan="2">Endorsed/Approved Date</th>

                                        <!--FREIGHT PAYMENT-->
                                        <th rowspan="2">Freight (US$)</th>
                                        <th rowspan="2" nowrap="nowrap">
                                            Due/Paid<br />
                                            Date
                                        </th>
                                        <th rowspan="2">Endorsed/Approved Date</th>

                                        <!--Vessel-->
                                        <!--STS PAYMENT : SRIRACHA ENERGY-->
                                    </tr>
                                    <tr class="border-bottom">
                                        <th nowrap="nowrap">as Agreement</th>
                                        <th nowrap="nowrap">as BOT</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="blue-font border-bottom">
                                        <td>2015/00001</td>
                                        <td>ALJALAA</td>
                                        <td>UDANG</td>
                                        <td>P</td>
                                        <td>ITOCHU PETROLEUM CO.,(SINGAPORE) PTE LTD.</td>
                                        <td nowrap="nowrap">16 Jan 2014</td>
                                        <td nowrap="nowrap">15 Feb 2015</td>
                                        <td>85,000</td>
                                        <td>DTD</td>
                                        <td>FOB</td>
                                        <td class="green-bg">56.1234</td>
                                        <td class="align-right green-bg">4,770,489.00</td>
                                        <td class="green-bg">&nbsp;</td>
                                        <td class="green-bg">&nbsp;</td>
                                        <td class="green-bg">&nbsp;</td>
                                        <td class="green-bg">&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr class="last-row blue-font">
                                        <td class="white">2015/00002</td>
                                        <td class="white">EUROPROGRESS</td>
                                        <td class="white">WALIO MIX CRUDE</td>
                                        <td class="green-bg">F</td>
                                        <td class="green-bg">ITOCHU PETROLEUM CO.,(SINGAPORE) PTE LTD.</td>
                                        <td class="green-bg" nowrap="nowrap">29 Jan 2014</td>
                                        <td nowrap="nowrap" class="green-bg">28 Feb 2015</td>
                                        <td class="green-bg">36,000</td>
                                        <td class="green-bg">DTD</td>
                                        <td class="green-bg">CFR</td>
                                        <td class="green-bg">50.0000</td>
                                        <td class="align-right green-bg">1,800,000.00</td>
                                        <td class="green-bg">&nbsp;</td>
                                        <td class="green-bg">&nbsp;</td>
                                        <td class="green-bg">&nbsp;</td>
                                        <td class="green-bg">&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="Feb17" class="tab-pane fade">
                    </div>
                    <div id="Mar17" class="tab-pane fade">
                    </div>
                </div>



            </div>

            <br />
            <br />
            <br />

            <br />
            <br />
            <br />

        </div>

<script type="text/javascript">
    $(document).ready(function () {

        $('#btnSubmit').click(function () {
            $('#pnlCrudeBookingPrice').show();
        });

        $('.menu-options').click(function () {
            $('body').addClass('menu-show');
            $('.side-menus').fadeIn();
            $('.overlay').fadeIn();
        });
        $('.menu-close').click(function () {
            $('body').removeClass('menu-show');
            $('.side-menus').fadeOut();
            $('.overlay').fadeOut();
            $('.has-submenu1').removeClass('open');
            $('.has-submenu2').removeClass('open');
            $('.bg-sub-menu2').fadeOut("fast");
        });
        $('.has-submenu1>a').click(function () {
            if ($(this).parent().hasClass('open')) {
                $(this).parent().removeClass('open');
            } else {
                $('.has-submenu1').removeClass('open');
                $(this).parent().addClass('open');
            }
        });
        $('.has-submenu2').click(function () {
            $('.has-submenu2').removeClass('open');
            $(this).addClass('open');
            $('.bg-sub-menu2').fadeIn('fast');
        });
        $('.parent-menu>li>a').click(function () {
            $('.bg-sub-menu2').fadeOut('fast');
            $('.has-submenu2').removeClass('open');
        });

        // $('#date-range').dateRangePicker({});
        $('#date-range').dateRangePicker(
        {
            startOfWeek: 'monday'
        });
        $('#date-range-nov').dateRangePicker(
        {
            startOfWeek: 'monday'
        });
        $('#date-range-dec').dateRangePicker(
        {
            startOfWeek: 'monday'
        });
        $('#date-range-jan').dateRangePicker(
        {
            startOfWeek: 'monday'
        });
        $('#date-single').dateRangePicker(
        {
            autoClose: true,
            singleDate: true,
            showShortcuts: false
        });
        $('#date-table').dateRangePicker(
        {
            autoClose: true,
            singleDate: true,
            showShortcuts: false
        });

        tinymce.init({
            selector: '#explaination',
            height: 200,
            menubar: false
        });

        $('td.edit input').click(function () {
            if ($(this).is(':checked')) {
                $('td.edit').parent().removeClass('selected');
                $(this).parent().parent().parent().addClass('selected');
            } else {
                $(this).parent().parent().parent().removeClass('selected');
            }
        });
        $('.dropdown-toggle').dropdown();
        $('.btn-supplier').click(function () {
            $('#priceOffer tbody:last').append('<tr> <td class="edit"> <div class="radio"> <input type="radio" id="radioboxtable0" name="test01"> <label for="radioboxtable0"></label> </div> <label>Edit</label> </td> <td class="dropdown"> <div class="dropdown"> <a id="drop01" data-target="#" href="#" data-toggle="dropdown" role="button"> Scaninavian Bunkering </a> <ul class="dropdown-menu" aria-labelledby="drop01"> <li><a href="#">Supplier Name 01</a></li> <li><a href="#">Supplier Name 02</a></li> <li><a href="#">Supplier Name 03</a></li> <li><a href="#">Supplier Name 04</a></li> <li><a href="#">Supplier Name 05</a></li> </ul> </div> </td> <td> <textarea></textarea> </td> <td> <textarea></textarea> </td> <td> <textarea></textarea> </td> <td> <textarea></textarea> </td> <td> <textarea></textarea> </td> <td> <textarea></textarea> </td> <td> <textarea></textarea> </td> <td> <textarea></textarea> </td> <td> <textarea></textarea> </td> <td> <textarea></textarea> </td> <td> <textarea></textarea> </td> </tr>');
        });


    });
</script>

