﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.SchedulerViewModel
@{
    Layout = "~/Areas/CPAIMVC/Views/Shared/_Layout.cshtml";

    if (ViewBag.PageMode == null)
    {
        ViewBag.PageMode = "EDIT";
    }
    if (ViewBag.ButtonMode == null)
    {
        ViewBag.ButtonMode = "AUTO";
    }
    int txtExplanation_readmode = (ViewBag.PageMode == "EDIT") ? 0 : 1;

    string vendorColorCurrent = Model.schd_vendorColorDefualt;
    if (Model.sch_detail != null)
    {
        vendorColorCurrent = String.IsNullOrEmpty(Model.sch_detail.vendor_color) ? Model.schd_vendorColorDefualt : Model.sch_detail.vendor_color;
    }

}

@section HeadStyle {
<script src="~/Content/dhtmlxGantt_v4.2.1/codebase/dhtmlxgantt.js" type="text/javascript" charset="utf-8"></script>
<link href="~/Content/dhtmlxGantt_v4.2.1/codebase/dhtmlxgantt.css" rel="stylesheet" type="text/css" media="screen" title="no title" charset="utf-8"/>
<script src="~/Content/dhtmlxCalendar/codebase/dhtmlxcalendar.js"></script>
@*<link rel="stylesheet" type="text/css" href="~/Content/css/vessel-page-activity.css" />*@
<link rel="stylesheet" type="text/css" href="~/Content/css/ganttchart.css" />
<link href="~/Content/dhtmlxCalendar/codebase/dhtmlxcalendar.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="~/Content/css/prettify.css" />

<style>
	.year {
		display: none;
	}
	#dayhide {
		display: none;
	}
	/***** ปรับขนาด activity *****/
	.fn-gantt .bar {
		height: 38px;
		margin: -92px 3px 3px 0px;
	}
	.fn-gantt .bar .fn-label {
		font-size: 20px;
		line-height: 15px;
		padding-top: 4px;
	}
	.fn-gantt .bar .fn-label span {
		font-size: 16px;
	}
	.fn-gantt .leftPanel .name, .fn-gantt .leftPanel .desc {
		height: 40px;
	}
	.fn-gantt .leftPanel .fn-label {
		line-height: 42px;
	}    
    .gantt_task_content{
        color:#000 !important;
    }   
</style>

<style>
    .color_box {
        float: left;
        width: 30px;
        height: 30px;
        margin: 2px;
        border: 1px solid rgba(0, 0, 0, .2);
        display: inline-block;
        border-radius: 10px 10px 10px 10px;
    }

    .dropdown_color{
        float: left;
        display: inline-block;
    }
    
</style>

<style type="text/css">
    .red .gantt_cell, .odd.red .gantt_cell,
    .red .gantt_task_cell, .odd.red .gantt_task_cell {
        background-color: #FDE0E0;
    }

    .green .gantt_cell, .odd.green .gantt_cell,
    .green .gantt_task_cell, .odd.green .gantt_task_cell {
        background-color: #BEE4BE;
    }

    .gantt_section_time {
        text-align: left !important;
    }

    .dhtmlxcalendar_material {
        z-index: 99999 !important;
    }

    #date_start {
        display: inline !important;
        background-color: #ffffff;
        margin-left: 10px;
    }

    #date_end {
        display: inline !important;
        background-color: #ffffff;
    }

    #uploadSupportingDocumentFile {
        margin-left: 10px;
    }

    #act {
        margin-left: 10px;
    }

    .h {
        display: none;
    }
</style>

<style>
    .gantt_grid_head_add {
        display: inherit !important;
    }

    .gantt_add {
        display: none !important;
    }

    .gantt_blank{
        display: none !important;
    }
</style>
}

@section HeadScript {
   <script type="text/javascript" src="~/Content/js/jquery.fn.gantt.js"></script>
   <script type="text/javascript" src="~/Content/js/moment.js"></script> 
   <script src="~/Content/dhtmlxGantt_v4.2.1/codebase/dhtmlxgantt_tooltip.js"></script>
}

<script type="text/javascript">
    var myCalendar;
    var listActivity = [];
    var json_data = { "data": [] };
    @{
        if (Model.vesselActivity != null)
        {
            foreach (var item in Model.vesselActivity)
            {
                <text>
                    var dataActivity = { "key": "@item.Value", "label": "@item.Text" };
                    listActivity.push(dataActivity);
                </text>
                }
            }

            if (Model.sch_activitys != null)
            {
                Model.sch_activitys = Model.sch_activitys.OrderBy(i => Convert.ToInt32(i.order)).ToList();
                for (int i = 0; i < Model.sch_activitys.Count; i++)
                {
                <text>
                var sch_activitys_id = "@(i + 2)";
                    var sch_activitys_order = "@Model.sch_activitys[i].order";
                    var sch_activitys_activity = "@Model.sch_activitys[i].activity";
                    var sch_activitys_activity_name = "@Model.sch_activitys[i].activity_name";
                    var sch_activitys_other_activity = "@Model.sch_activitys[i].other_activity";
                    var sch_activitys_activity_color = "@Model.sch_activitys[i].activity_color";
                    var sch_activitys_start_date = "@Model.sch_activitys[i].start_date";
                    var sch_activitys_date = "@Model.sch_activitys[i].date";
                    var sch_activitys_explanationAttach = "@Model.sch_activitys[i].explanationAttach";
                    var sch_activitys_act_note = "@Model.sch_activitys[i].act_note";
                    var sch_activitys_parent = 0;
                    var sch_activity_text = "";

                    if (sch_activitys_activity_name == "Other") {
                        sch_activity_text = sch_activitys_activity_name + " : " + sch_activitys_other_activity;
                    } else {
                        sch_activity_text = sch_activitys_activity_name;
                    }

                    var data = {
                    //MODEL PROPERTY
                    "order": sch_activitys_order,
                    "activity": sch_activitys_activity,
                    "activity_name": sch_activitys_activity_name,
                    "other_activity": sch_activitys_other_activity,
                    "activity_color": sch_activitys_activity_color,
                    "start_date": sch_activitys_start_date,
                    "date_start_show": sch_activitys_start_date,
                    "date": sch_activitys_date,
                    "explanationAttach": sch_activitys_explanationAttach,
                    "act_note": sch_activitys_act_note,
                    //CONSTRUCTOR PROPERTY
                    "id": sch_activitys_id,
                    "text": sch_activity_text,
                    "color": sch_activitys_activity_color,
                    "file": sch_activitys_explanationAttach,
                    "note": sch_activitys_act_note,
                    "end_date": sch_activitys_date,
                    "date_end_show": sch_activitys_date,
                    "parent": sch_activitys_parent,
                };
                json_data.data.push(data);
                 </text>
                }
        }
    }
    </script>


@using (Html.BeginForm("Activity", "Scheduler", FormMethod.Post, new Dictionary<string, object>{ { "name", "createForm" }, { "id", "createForm" }, { "enctype", "multipart/form-data" }, { "data-toggle", "validator" } }))
{
    <!--For Alert Message Click button ohter -->
    @Html.Hidden("hdfNoteAction")
    if (TempData["res_message"] == null)
    {
        @Html.Hidden("EventButton", "0")
    }
    else
    {
        @Html.Hidden("EventButton", "1")
    }

    @Html.HiddenFor(m => m.schd_Transaction_id, Model.schd_Transaction_id)
    @Html.HiddenFor(m => m.schd_Req_transaction_id, Model.schd_Req_transaction_id)
    @Html.HiddenFor(m => m.schd_Doc_no, Model.schd_Doc_no)
    @Html.HiddenFor(m => m.schd_Type, Model.schd_Type)
    @Html.HiddenFor(m => m.schd_Status, Model.schd_Status)

    <div class="form-horizontal">
        <div class="page-header">
            <h1>Activity Schedule</h1>
        </div>

        <div class="row">
            <div class="form-group">
                <!-- Vessel -->
                <label class="col-md-2 control-label">Vessel Name :</label>
                <div class="col-md-4">
                    @if (Model.sch_detail != null)
                    {
                        @Html.Raw(Model.vessel.Find(i => i.Value == Model.sch_detail.vessel).Text)
                        @Html.HiddenFor(m => m.sch_detail.vessel, Model.sch_detail.vessel)
                    }
                    else {
                        @Html.Raw("--")
                    }
                </div>

                <!-- Date -->
                <label class="col-md-2 control-label">Period :</label>
                <div class="col-md-4">
                    @if (Model.sch_detail != null)
                    {
                        @Html.Raw(string.Format("{0} to {1}", Model.sch_detail.date_start, Model.sch_detail.date_end))
                        @Html.HiddenFor(m => m.sch_detail.date_start, Model.sch_detail.date_start)
                        @Html.HiddenFor(m => m.sch_detail.date_end, Model.sch_detail.date_end)
                    }
                    else
                    {
                        @Html.Raw("--")
                    }
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <!-- Charterer -->
                <label class="col-md-2 control-label">Charterer :</label>
                <div class="col-md-4" style="display: inline-flex;">
                    @if (Model.sch_detail != null)
                    {
                        @Html.HiddenFor(m => m.sch_detail.vendor, Model.sch_detail.vendor)
                        <div style="margin-right:10px;">@Html.Raw(Model.sch_detail.vendor_name)</div>
                        <div id="vendor_color_box" name="vendor_color_box" class="color_box" style="background-color: @Model.sch_detail.vendor_color;"></div>
                    }
                    else
                    {
                        @Html.Raw("--")
                    }
                </div>

                <!-- Laycan -->
                <label class="col-md-2 control-label">Laycan :</label>
                <div class="col-md-4">
                    @if (Model.sch_detail != null)
                    {
                        @Html.Raw(string.Format("{0} to {1}", Model.sch_detail.laycan_from, Model.sch_detail.laycan_to))
                        @Html.HiddenFor(m => m.sch_detail.laycan_from, Model.sch_detail.laycan_from)
                        @Html.HiddenFor(m => m.sch_detail.laycan_to, Model.sch_detail.laycan_to)
                    }
                    else
                    {
                        @Html.Raw("--")
                    }
                </div>
            </div>
        </div>

        <div style="
                    text-align: right;
                    margin-right: 12px;
                    margin-bottom: 9px;
                   ">
            <a href="javascript:void(0)" style="margin-left:2px;margin-right:2px;"><i class="fa fa-search-plus fa-5" onclick="setScaleConfig('+')" aria-hidden="true"></i></a>
            <a href="javascript:void(0)" style="margin-left:2px;margin-right:2px;"><i class="fa fa-search-minus fa-5" onclick="setScaleConfig('-')" aria-hidden="true"></i></a>
        </div>

        <!-- Gantt Chart -->
        <input type="file" id="fileSupportingDocumentFile" name="fileSupportingDocumentFile" multiple="multiple" style="display:none;" accept=".doc, .docx, .xls, .xlsx, .ppt, .pptx, .pdf, .msg, .jpg, .png, .gif, .svg, .jpeg" />
        <div id="gantt_here" name="gantt_here" style="width:100%; height:450px;"></div>
        <div id="gantt_data" name="gantt_data" style="display:none"></div>

        <!-- Button -->
        <div class="wrapper-button row">
            <div class="col-md-12">
                @if (ViewBag.ButtonMode == "AUTO")
                {
                    <input type="submit" value="SUBMIT" class="btn btn-default" name="action:Submit" onclick="OpenBoxBungerPrompt('Comment :', 'SAVE ACTIVITY'); return false;" />                    
                    <input type="button" class="btn btn-default" id="btnExcel" onclick="location.href='@Url.Action("Search","Scheduler",new {Type=Convert.ToString(Session["Schedule_Type"]) })'" value="EXCEL" />
                    <input type="button" class="btn btn-default" id="btnPDF" onclick="location.href='@Url.Action("Search","Scheduler",new {Type=Convert.ToString(Session["Schedule_Type"]) })'" value="PDF" />
                    <input type="button" class="btn btn-default" id="btnBack" onclick="location.href='@Url.Action("Search","Scheduler",new {Type=Convert.ToString(Session["Schedule_Type"]) })'" value="BACK" />
                    <input type="submit" value="SUBMIT" id="btnSubmit" style="display: none;" name="action:Submit" />
                }
                else
                {
                    @Html.Hidden("hdfEventClick")
                    @Html.Raw(@ViewBag.ButtonCode)
                }

            </div>
        </div>
    </div>

}

<!--For Alert Message Click button ohter -->
@if (TempData["res_message"] != null)
{
    if (TempData["returnPage"] != null)
    {
        <script type="text/javascript">
            OpenBoxPopupLink((@Html.Raw(Json.Encode(TempData["res_message"]))), @Html.Raw(Json.Encode(TempData["returnPage"]))).done(function() { $("#EventButton").val("0");    });
        </script>
    }
    else
    {
        <script type="text/javascript">
            OpenBoxPopup(@Html.Raw(Json.Encode(TempData["res_message"]))).done(function() { $("#EventButton").val("0"); });
        </script>
    }
}

    <!-- Popup and Event Click  -->
    <script type="text/javascript">
        window.onbeforeunload = function (evt)
        {
            var btnclick = false;
            if ($('#EventButton').val() == "0")
            {
                btnclick = true;
            }
            if (btnclick)
            {
                return "If you leave this page, your information will not be updated.";
            }
        }

        function OpenBoxBungerPrompt(MSG, Event)
        {
            var message = 'Are you sure to update activity schedule?';

            if (Event.toUpperCase() != "SUBMIT") {
                if ($("#hdfEventClick").length != 0)
                {
                    $("#hdfEventClick").val(Event);
                }
            }

            $('#EventButton').val("1");
            $('form').attr('target', '_self');
            
            prepareScheduleActivity();           
            bootbox.confirm({
                message: message,
                buttons: {
                    confirm: {
                        label: 'Yes',
                    },
                    cancel: {
                        label: 'No',
                    }
                },
                callback: function (result) {
                    if (result) {
                        $('form').attr('target', '_self');
                        if (Event.toUpperCase() == "SUBMIT") {
                            $("#btnSubmit").click();
                        } else {
                            $("#btnMANUAL").click();
                        }
                        LoadingProcess();
                    }
                }
            });
        }
        
        function prepareScheduleActivity() 
        {     
            var fieldSet = "";                
            var gantt_data = gantt.getTaskByTime();
            var gantt_data_sort = [];

            for (var i in gantt_data){
                if (gantt_data.hasOwnProperty(i)){
                    gantt_data[i].id=i;
                    gantt_data_sort.push(gantt_data[i]);
                }
            }
            var fieldToSort="$index";
            gantt_data_sort.sort(function(a,b){
                return a[fieldToSort] - b[fieldToSort];
            });

            gantt_data = gantt_data_sort;
            if (gantt_data.length > 0) 
            {
                var index = 0;
                for (var i = 0; i < gantt_data.length; i++)
                {   

                    var order = i;
                    var state_date = ('0'+gantt_data[i].start_date.getDate()).slice(-2) +'/'+ ('0'+(gantt_data[i].start_date.getMonth()+1)).slice(-2) + '/' + gantt_data[i].start_date.getFullYear() + ' ' + ('0'+gantt_data[i].start_date.getHours()).slice(-2) + ':' + ('0'+gantt_data[i].start_date.getMinutes()).slice(-2);
                    var end_date = ('0'+gantt_data[i].end_date.getDate()).slice(-2) +'/'+ ('0'+(gantt_data[i].end_date.getMonth()+1)).slice(-2) + '/' + gantt_data[i].end_date.getFullYear() + ' ' + ('0'+gantt_data[i].end_date.getHours()).slice(-2) + ':' + ('0'+gantt_data[i].end_date.getMinutes()).slice(-2);

                    var sch_activitys_order = parseValue(order);    
                    var sch_activitys_start_date = parseValue(state_date);
                    var sch_activitys_date = parseValue(end_date);
                    var sch_activitys_id = parseValue(gantt_data[i].id);

                    var sch_activitys_activity = parseValue(gantt_data[i].activity);
                    var sch_activitys_activity_name = parseValue(gantt_data[i].activity_name);
                    var sch_activitys_other_activity = parseValue(gantt_data[i].other_activity);
                    var sch_activitys_activity_color = parseValue(gantt_data[i].color);
                    var sch_activitys_explanationAttach = parseValue(gantt_data[i].file);
                    var sch_activitys_act_note = parseValue(gantt_data[i].note);
                    var sch_activitys_parent = parseValue(gantt_data[i].parent);
                    
                    fieldSet += "<input type='text' id='sch_activitys_" + index + "__id' name='sch_activitys[" + index + "].id' value='" + sch_activitys_id + "' />";
                    fieldSet += "<input type='text' id='sch_activitys_" + index + "__order' name='sch_activitys[" + index + "].order' value='" + sch_activitys_order + "' />";
                    fieldSet += "<input type='text' id='sch_activitys_" + index + "__activity' name='sch_activitys[" + index + "].activity' value='" + sch_activitys_activity + "' />";
                    fieldSet += "<input type='text' id='sch_activitys_" + index + "__activity_name' name='sch_activitys[" + index + "].activity_name' value='" + sch_activitys_activity_name + "' />";
                    fieldSet += "<input type='text' id='sch_activitys_" + index + "__other_activity' name='sch_activitys[" + index + "].other_activity' value='" + sch_activitys_other_activity + "' />";
                    fieldSet += "<input type='text' id='sch_activitys_" + index + "__activity_color' name='sch_activitys[" + index + "].activity_color' value='" + sch_activitys_activity_color + "' />";
                    fieldSet += "<input type='text' id='sch_activitys_" + index + "__start_date' name='sch_activitys[" + index + "].start_date' value='" + sch_activitys_start_date + "' />";
                    fieldSet += "<input type='text' id='sch_activitys_" + index + "__date' name='sch_activitys[" + index + "].date' value='" + sch_activitys_date + "' />";
                    fieldSet += "<input type='text' id='sch_activitys_" + index + "__explanationAttach' name='sch_activitys[" + index + "].explanationAttach' value='" + sch_activitys_explanationAttach + "' />";
                    fieldSet += "<input type='text' id='sch_activitys_" + index + "__act_note' name='sch_activitys[" + index + "].act_note' value='" + sch_activitys_act_note + "' />";
                    index++;                 
                }                
            }
            $("#gantt_data").children().remove();
            $("#gantt_data").append(fieldSet);
        }

    </script>

    <!-- File Upload-->
    <script type="text/javascript">
        // GET WEB SITE PATH //
        function getWebSitePath() {
            var _location = document.location.toString();
            var applicationNameIndex = _location.indexOf('/', _location.indexOf('://') + 3);
            var applicationName = _location.substring(0, applicationNameIndex) + '/';
            var webFolderIndex = _location.indexOf('/', _location.indexOf(applicationName) + applicationName.length);
            var webFolderFullPath = _location.substring(0, webFolderIndex).toString().replace('/CPAIMVC', '');
            return webFolderFullPath;
        }

        // UPLOAD FILE SUPPORTING DOCUMENT //
        function UploadFileSupportingDocument() {
            $("#fileSupportingDocumentFile").click();
        }

        function setup_file_upload(data) {
            $('#pUploadfile').empty();
            $('#namefile').empty();
            if (data != null && data != "" && data != undefined) {
                var filenameLenght = data.length;
                var filename = data.substring(46,filenameLenght);
                $('#namefile').append(filename);
                $('#pUploadfile').append('<a href="' + getWebSitePath() + '/' + data + '" title="' + data + '"' +
                    ' target="_blank" >' +
                    ' Download File' +
                    '</a>' + ' | ' + '<a href="javascript:void(0)" onclick="delete_file()" >Delete File</a>');
            }
        };

        function delete_file() {
            $('#pUploadfile').empty();
            $('#namefile').empty();
            $('#fileUpload').val("");
        }

        $('#fileSupportingDocumentFile').change(function (e) {
            var files = e.target.files;
            if (files.length > 0) {
                if (window.FormData !== undefined) {
                    for (var x = 0; x < files.length; x++) {
                        var data = new FormData();
                        data.append("file" + x, files[x]);
                        $.ajax({
                            type: "POST",
                            url: getWebSitePath() + "/Web/Api/UploadFileAPI.aspx?Type=CRUDE|F10000009",
                            contentType: false,
                            processData: false,
                            data: data,
                            success: function (response) {
                                var index = response.indexOf('<!DOCTYPE html>');
                                var json = response.substring(0, index);
                                var data = JSON.parse(json.trim());
                                $('#fileUpload').val(data.file_path);
                                setup_file_upload(data.file_path);
                            },
                            error: function (event, queueID, fileObj, errorObj) {
                                alert(errorObj.type + ' Error: ' + errorObj.info);
                                if (fileObj.size > 4194304) { alert('File size too large.'); }
                                else { alert('Someting wrong.'); }
                            }
                        });
                        data = null;
                    }
                } else {
                    alert("This browser doesn't support HTML5 file uploads!");
                }
            }
            $(this).val('');
        });
    </script>

    <!-- Gantt Config -->
    <script type="text/javascript">   
        var isLoad = false;    

        var colHeader = '<div class="gantt_grid_head_cell gantt_grid_head_add" onclick="gantt.createTask()"></div>';
        var colContent = function(task){
            if (task.file !== "") {
                return ('<i class="fa fa-pencil fa-5 gantt_button_grid gantt_grid_edit" style="margin-left:5px;margin-right:5px;font-size:20px;color:#ffa011" onclick="onActionTask('+task.id+', \'edit\')"></i>' +
                        '<i class="fa fa-trash-o fa-5 gantt_button_grid gantt_grid_delete" style="margin-left:5px;margin-right:5px;font-size:20px;color:red" onclick="onActionTask('+task.id+', \'delete\')"></i>' +
                        '<i class="fa fa-paperclip fa-5 gantt_button_grid gantt_grid_download" style="margin-left:5px;margin-right:5px;font-size:20px;color:#E91E63" onclick="onActionTask('+task.id+', \'download\')"></i>' );
            }
            else {
                return ('<i class="fa fa-pencil fa-5 gantt_button_grid gantt_grid_edit" style="margin-left:5px;margin-right:5px;font-size:20px;color:#ffa011" onclick="onActionTask('+task.id+', \'edit\')"></i>' +
                        '<i class="fa fa-trash-o fa-5 gantt_button_grid gantt_grid_delete" style="margin-left:5px;margin-right:5px;font-size:20px;color:red" onclick="onActionTask('+task.id+', \'delete\')"></i>');
            }		    
		};

        gantt.locale.labels["section_activity_name"] = "Activity";
        gantt.locale.labels["section_file"] = "File";
        gantt.locale.labels["section_time"] = "Time";
        gantt.locale.labels["section_note"] = "Note";
        
        gantt.config.order_branch = true;
        gantt.config.tooltip_hide_timeout = 0;
        gantt.templates.tooltip_text = function(start,end,task){
            if(task.note == "" || task.note == null)
            { 
                return "<b>Note : - </b>";
            }else
            {
                return "<b>Note : "+ task.note +"</b>";
            }            
        };

        gantt.init("gantt_here"); 
        gantt.config.order_branch = true;
        //gantt.config.order_branch_free = true;
        gantt.config.drag_move = false;
        gantt.config.drag_links = false;
        gantt.config.drag_progress = false;
        gantt.config.drag_resize = false;
        gantt.config.grid_width = 500;
        gantt.config.columns=[
            { name:"text", label: "Activity", tree: true, width: "180px", resize: true },
            { name:"date_start_show", label:"Start time", align: "center", width: "110px", resize: true },
            { name:"date_end_show", label: "End time", align: "center", width: "110px", resize: true },
            { name:"action", label:colHeader, width: "100px", template:colContent, resize: true },
            { name:"text", label: "", tree: true, width: "*" },
        ];


        gantt.form_blocks["my_file"] = {
            render: function (sns) {
                return "<div class='dhx_cal_ltext' style='height:45px;'>"
                    + "<button id='uploadSupportingDocumentFile' class='btn btn-default' type='button' onclick='UploadFileSupportingDocument()'>Select Files</button><input type='text' id='fileUpload' style='display:none;'>"
                    + '<label id="pUploadfile"></label></div>'
                    + '<div style="padding-left: 90px;"><label id="namefile"></label></div>';
            },
            set_value: function (node, value, task, section) {
                node.childNodes[1].value = value || "";
                setup_file_upload(value);
            },
            get_value: function (node, task, section) {
                setup_file_upload($('#fileUpload').val());
                return $('#fileUpload').val();
            },
            focus: function (node) {
                var a = node.childNodes[1];
                a.select();
                a.focus();
            }
        };

        gantt.form_blocks["my_time"] = {
            render: function (sns) {
                return "<div class='dhx_cal_ltext'>"
                    + "<input type='text' id='date_start' onclick='setSens(\"date_end\", \"max\");' class='form-control input-date-picker' style='width: 175px;' > - <input type='text' id='date_end' onclick='setSens(\"date_start\", \"min\");' class='form-control input-date-picker' style='width: 175px;' >"
                    + "</div>";
            },
            set_value: function (node, value, task, section) {
                var isNew = parseValue(task.$new);
                console.log(isNew);

                var date_start = parseDate($("#sch_detail_date_start").val(),"dd/MM/yyyy");
                var date_end = parseDate($("#sch_detail_date_end").val(),"dd/MM/yyyy");
                
                if (isNew == true) {
                    value = date_start;
                    task.end_date = date_end;
                }
                var state_date = ('0' + value.getDate()).slice(-2) + '/' + ('0' + (value.getMonth() + 1)).slice(-2) + '/' + value.getFullYear() + ' ' + ('0' + value.getHours()).slice(-2) + ':' + ('0' + value.getMinutes()).slice(-2);
                var end_date = ('0' + task.end_date.getDate()).slice(-2) + '/' + ('0' + (task.end_date.getMonth() + 1)).slice(-2) + '/' + task.end_date.getFullYear() + ' ' + ('0' + task.end_date.getHours()).slice(-2) + ':' + ('0' + task.end_date.getMinutes()).slice(-2);

                node.childNodes[1].value = value;
                node.childNodes[2].value = task.end_date;

                doOnLoad(state_date, end_date);
            },
            get_value: function (node, task, section) {

                var date_start_val = $("#date_start").val();
                var date_start = date_start_val.split('/');
                var time_start = date_start[2].split(' ');
                var times_start = time_start[1].split(':');
                var mydate_start = new Date(time_start[0], date_start[1] - 1, date_start[0], times_start[0], times_start[1]);

                var date_end_val = $("#date_end").val();
                var date_end = date_end_val.split('/');
                var time_end = date_end[2].split(' ');
                var times_end = time_end[1].split(':');
                var mydate_end = new Date(time_end[0], date_end[1] - 1, date_end[0], times_end[0], times_end[1]);

                task.date_start_show = $("#date_start").val();
                task.date_end_show = $("#date_end").val(); 
                task.end_date = mydate_end;
                return mydate_start;
            },
            focus: function (node) {
                var a = node.childNodes[1];
                a.select();
                a.focus();
            }
        };
        
        gantt.form_blocks["my_activity"] = {
            render: function (sns) {
                var markup = "<div class='dhx_cal_ltext' style='height:60px;'>"
                markup += "<select id='act' class='form-control col-md-6' style='width:350px;' onchange='onActivityLightboxChanged(this)'>";
                for (var i = 0; i < listActivity.length; i++) {

                    markup += "<option value='" + listActivity[i].key + "'>" + listActivity[i].label + "</option>";
                }
                markup += "</select>";
                markup += "<div id='activity_color_box_lightbox' name='activity_color_box_lightbox' style='margin-top: 0px;' class='color_box col-md-6'></div>";
                markup += "<input type='text' id='activity_name' style='display:none;'>";
                markup += "<input type='text' id='activity_color' style='display:none;'>";
                markup += "<input type='text' id='activity_id' style='display:none;'>";
                markup += "</div>";
                markup += "<textarea id='activity_other' style='height:70px;width:87%;margin-left:90px;margin-top:-20px;' class='gantt_cal_ltext textarea'></textarea>";
                return markup;
            },
            set_value: function (node, value, task, section) {
                node.childNodes[1].value = value || "";
                node.childNodes[2].value = task.color;
                node.childNodes[3].value = task.activity;
                node.childNodes[4].value = task.other_activity;
                setLightboxValue(task.activity, task.other_activity);
                setControlActivityTextLightbox(task.activity, value);
            },
            get_value: function (node, task, section) {
                task.color = $("#activity_color").val();
                task.activity = $("#activity_id").val();
                if ($("#activity_name").val() == "Other") {
                    task.text = $("#activity_name").val() + " : " + $("#activity_other").val();
                } else {
                    task.text = $("#activity_name").val();
                }
                task.other_activity = $("#activity_other").val();
                return $("#activity_name").val();
            },
            focus: function (node) {
                var a = node.childNodes[1];
                a.select();
                a.focus();
            }
        };

        gantt.attachEvent("onRowDragEnd", function(id, target) {
           
            console.log(id);
            console.log(target);
            drag_id = null;
            gantt.render();
            
        });
        
        gantt.attachEvent("onLightbox", function (task_id) {
            $('.gantt_wrap_section').last().addClass("h");

            if (!isLoad) {
                var h_a = $('.gantt_cal_larea').height();
                h_a = h_a - 40;
                $('.gantt_cal_larea').height(h_a);

                var h_f = $('.gantt_cal_light_full').height();
                h_f = h_f - 40;
                $('.gantt_cal_light_full').height(h_f);

                isLoad = true;
            }
        });

        gantt.attachEvent("onLightboxSave", function (id, item) {
            var date_start = parseDate($("#sch_detail_date_start").val(), "dd/MM/yyyy");
            var date_end = parseDate($("#sch_detail_date_end").val(), "dd/MM/yyyy"); 
            date_end.setHours(23,59,59,0);

            if (!(item.start_date >= date_start && item.start_date <= date_end) && !(item.end_date >= date_start && item.end_date <= date_end)) {
                dhtmlx.message({ type: "error", text: "The start and end date are invalid!" });
                return false;
            }

            if (!(item.start_date >= date_start && item.start_date <= date_end)) {
                dhtmlx.message({ type: "error", text: "The start date is invalid!" });
                return false;
            }

            if (!(item.end_date >= date_start && item.end_date <= date_end)) {
                dhtmlx.message({ type: "error", text: "The end date is invalid!" });
                return false;
            }

            if (!item.activity) {
                dhtmlx.message({ type: "error", text: "Please choose an activity!" });
                return false;
            }
            if (item.activity_name == "Other" && !item.other_activity) {
                dhtmlx.message({ type: "error", text: "Please enter other activity description!" });
                return false;
            }
            return true;
        });
        
        gantt.config.lightbox.sections = [
            { name: "activity_name", height: 200, map_to: "activity_name", type: "my_activity" },
            { name: "file", height: 200, map_to: "file", type: "my_file" },
            { name: "time", height: 200, map_to: "start_date", type: "my_time" },
            { name: "note", height: 70, map_to: "note", type: "textarea", focus: false },
            { name: "time", height: 1, map_to: "a", type: "time", time_format: ["%d", "%m", "%Y", "%H:%i"] },

        ];

        gantt.templates.task_class  = function(start, end, task){
            if (task.color !== "") {
                return task.color;
            }
        };

        gantt.parse(json_data);        

        function onActionTask(id, action) {
            switch (action) {
                case "edit":
                    gantt.showLightbox(id);
                    break;
                case "delete":
                    gantt.confirm({
                        title: gantt.locale.labels.confirm_deleting_title,
                        text: gantt.locale.labels.confirm_deleting,
                        callback: function(res){
                            if(res)
                                gantt.deleteTask(id);
                        }
                    });
                    break;
                case "download":
                    var task = gantt.getTask(id);
                    var file = task.file;
                    window.open(getWebSitePath() + '/' + file, '_blank');
                    break;
            }
        }

        function onActivityLightboxChanged(e) {
            var selectedValue = $('option:selected', e).val();
            var selectedText = $('option:selected', e).text();
            if (selectedText == "Other") {
                $("#activity_other").show();
            } else {
                $("#activity_other").hide();
                $("#activity_other").val("");
            }
            setControlActivityValueLightbox(selectedValue);
            setControlActivityTextLightbox(selectedValue, selectedText);

        }

        function setControlActivityValueLightbox(selectActitvityDDL) {
            var values = selectActitvityDDL.split('|');

            var act_status = values[0];
            var act_color = values[1];
            var act_ID = values[2];

            $('#activity_color_box_lightbox').css('background-color', "");
            $('#activity_color').val("");

            if (act_color != "") {
                $('#activity_color_box_lightbox').css('background-color', act_color);
                $('#activity_color').val(act_color);
            }
        }

        function setControlActivityTextLightbox(selectedValue, selectedText) {
            $('#activity_name').val("");
            if (selectedText != "") {
                $('#activity_name').val(selectedText);
            }
            $('#activity_id').val("");
            if (selectedValue != "") {
                $('#activity_id').val(selectedValue);
            }

            if ($.trim(selectedText) == "Other") {
                $("#activity_other").show();
                //
            } else {
                $("#activity_other").hide();
                $("#activity_other").val("");
            }
        }

        function setLightboxValue(activity, other) {
            $("#activity_other").val(other);
            var dd = document.getElementById('act');
            if (activity == undefined || activity == "") {
                dd.selectedIndex = 0;
                $('#activity_color_box_lightbox').css('background-color', "");
                $('#activity_color').val("");
            } else {
                setOption(document.getElementById('act'), activity);
                setControlActivityValueLightbox($.trim(activity));
            }
        }

        function setOption(selectElement, value) {
            var options = selectElement.options;
            for (var i = 0, optionsLength = options.length; i < optionsLength; i++) {
                if (options[i].value == value) {
                    selectElement.selectedIndex = i;
                    return true;
                }
            }
            return false;
        }

</script>

    <!-- Gantt Event -->
    <script type="text/javascript">
        var count_value = 0;
        function setScaleConfig(value) 
        {
            console.log(count_value);
            if (value == "+" && count_value > 0) 
            {
                count_value--;
            } 
            else if(value == "-" && count_value < 4) 
            {
                count_value++;
            } 
            else if (value == "1")
            {
                count_value = 1;
            }
                
            switch (count_value + "") 
            {
                case "0":
                    var minuteScaleTemplate = function (date) {
                        var dateToStr = gantt.date.date_to_str("%H:%i");
                        var minn = gantt.date.add(date, 1, "minute");
                        return dateToStr(minn);
                    };

                    gantt.config.fit_tasks = true;
                    gantt.config.scale_unit = "day";
                    gantt.config.date_scale = "%F %d";
                    gantt.config.min_column_width = 50;
                    gantt.config.scale_height = 54;
                    gantt.templates.date_scale = null;
                    gantt.config.subscales = [
                        { unit: "minute", step: 30, template: minuteScaleTemplate }
                    ];
                    break;
                case "1":
                    gantt.config.fit_tasks = true;
                    gantt.config.scale_unit = "day";
                    gantt.config.date_scale = "%F %d";
                    gantt.config.min_column_width = 50;
                    gantt.config.scale_height = 54;
                    gantt.config.subscales = [
                        { unit: "hour", step: 1, date: "%H:%i" }
                    ];
                    break;
                case "2":
                    gantt.config.fit_tasks = true;
                    gantt.config.scale_unit = "day";
                    gantt.config.date_scale = "%F %d";
                    gantt.config.min_column_width = 50;
                    gantt.config.scale_height = 54;
                    gantt.config.subscales = [
                        { unit: "hour", step: 3, date: "%H:%i" }
                    ];
                    break;
                case "3":
                    gantt.config.scale_unit = "day";
                    gantt.config.step = 1;
                    gantt.config.date_scale = "%d %M";
                    gantt.config.subscales = [];
                    gantt.config.scale_height = 27;
                    gantt.templates.date_scale = null;
                    break;
                //case "4":
                //    var weekScaleTemplate = function (date) {
                //        var dateToStr = gantt.date.date_to_str("%d %M");
                //        var endDate = gantt.date.add(gantt.date.add(date, 1, "week"), -1, "day");
                //        return dateToStr(date) + " - " + dateToStr(endDate);
                //    };

                //    gantt.config.scale_unit = "week";
                //    gantt.config.step = 1;
                //    gantt.templates.date_scale = weekScaleTemplate;
                //    gantt.config.scale_height = 50;
                //    gantt.config.subscales = [
                //        { unit: "day", stgep: 1, date: "%D" }
                //    ];
                //    break;
                //case "5":
                //    gantt.config.scale_unit = "month";
                //    gantt.config.date_scale = "%F, %Y";
                //    gantt.config.scale_height = 50;
                //    gantt.templates.date_scale = null;
                //    gantt.config.subscales = [
                //        { unit: "day", step: 1, date: "%j, %D" }
                //    ];
                //    break;
                case "4":
                    gantt.config.scale_unit = "year";
                    gantt.config.step = 1;
                    gantt.config.date_scale = "%Y";
                    gantt.config.min_column_width = 50;

                    gantt.config.scale_height = 90;
                    gantt.templates.date_scale = null;

                    gantt.config.subscales = [
                        { unit: "month", step: 1, date: "%M" }
                    ];
                    break;
            }
            gantt.render();
        }

        setScaleConfig('1');
    </script>

    <!-- Utility Event -->
    <script type="text/javascript">
        function doOnLoad(start_date, end_date) {
            myCalendar = new dhtmlXCalendarObject(["date_start", "date_end"]);
            myCalendar.setDateFormat("%d/%m/%Y %H:%i");
            byId("date_start").value = start_date;
            byId("date_end").value = end_date;
            }

        function byId(id) {
                return document.getElementById(id);
        }
    
        function setSens(id, k) {
            var date_start = parseDate($("#sch_detail_date_start").val(), "dd/MM/yyyy");
            var date_end = parseDate($("#sch_detail_date_end").val(), "dd/MM/yyyy"); 
            date_end.setHours(23,59,59,0);

            var state_date = ('0' + date_start.getDate()).slice(-2) + '/' + ('0' + (date_start.getMonth() + 1)).slice(-2) + '/' + date_start.getFullYear() + ' ' + ('0' + date_start.getHours()).slice(-2) + ':' + ('0' + date_start.getMinutes()).slice(-2);
            var end_date = ('0' + date_end.getDate()).slice(-2) + '/' + ('0' + (date_end.getMonth() + 1)).slice(-2) + '/' + date_end.getFullYear() + ' ' + ('0' + date_end.getHours()).slice(-2) + ':' + ('0' + date_end.getMinutes()).slice(-2);

            var date_val = byId($.trim(id)).value
            var date = date_val.split('/');
            var time = date[2].split(' ');
            var times = time[1].split(':');
            var mydate = new Date(time[0], date[1] - 1, date[0], times[0], times[1]);

            if (k == "min") {
                myCalendar.setSensitiveRange(byId($.trim(id)).value, end_date);
            } else {
                myCalendar.setSensitiveRange(state_date, byId($.trim(id)).value);
            }
        }

        function parseValue(value) {
            if (typeof(value) !== "undefined" && (value) !== "undefined" && (value) !== null) { return value } else { return "" };
        }

        function parseDate(date, format) {
            var y_index;
            var y_length;
            var y_value;
            if (format.indexOf("yyyy") >= 0) {
                y_index = format.indexOf("yyyy");
                y_length = 4;
                y_value = date.substring(y_index, (y_index + y_length));
            }
            else if(format.indexOf("yy") >= 0) {
                y_index = format.indexOf("yy");
                y_length = 2;
                y_value = date.substring(y_index, (y_index + y_length));
            }
            else if(format.indexOf("y") >= 0) {
                y_index = format.indexOf("y");
                y_length = 1;    
                y_value = date.substring(y_index, (y_index + y_length));
            }
            else {
                y_index = -1;
                y_length = 0;    
                y_value = "1900";
            }

            var m_index;
            var m_length;
            var m_value;
            if (format.indexOf("MMM") >= 0) {
                m_index = format.indexOf("MMM");
                m_length = 3;
                m_value = date.substring(m_index, (m_index + m_length));
            }
            else if(format.indexOf("MM") >= 0) {
                m_index = format.indexOf("MM");
                m_length = 2;
                m_value = date.substring(m_index, (m_index + m_length));
            }
            else if(format.indexOf("M") >= 0) {
                m_index = format.indexOf("M");
                m_length = 1;
                m_value = date.substring(m_index, (m_index + m_length));
            }
            else {
                m_index = -1
                m_length = 0;
                m_value = "1";
            }

            var d_index;
            var d_length;
            var d_value;
            if(format.indexOf("dd") >= 0) {
                d_index = format.indexOf("dd");
                d_length = 2;
                d_value = date.substring(d_index, (d_index + d_length));
            }
            else if(format.indexOf("d") >= 0) {
                d_index = format.indexOf("d");
                d_length = 1;
                d_value = date.substring(d_index, (d_index + d_length));
            }
            else {
                d_index = -1
                d_length = 0;
                d_value = "1";
            }
        
            return new Date(eval(y_value),(eval(m_value)-1), eval(d_value));
        }
    </script>
