﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.SchedulerViewModel


@{
    Layout = "~/Areas/CPAIMVC/Views/Shared/_Layout.cshtml";

    if (ViewBag.PageMode == null)
    {
        ViewBag.PageMode = "EDIT";
    }
    if (ViewBag.ButtonMode == null)
    {
        ViewBag.ButtonMode = "AUTO";
    }
    int txtExplanation_readmode = (ViewBag.PageMode == "EDIT") ? 0 : 1;

    string type = ViewBag.Type == null ? "CRUDE" : ViewBag.Type;    // Type User
    // Set task ID 
    if (ViewBag.TaskID == null)
    {
        ViewBag.TaskID = "Draft";
    }
    if (ViewBag.PURNO == null)
    {
        ViewBag.PURNO = "";
    }

    if (Request.QueryString["Tran_Req_ID"] != null)
    {
        TempData["Tran_Req_ID"] = Request.QueryString["Tran_Req_ID"].ToString();
    }

    if (Request.QueryString["PURNO"] != null)
    {
        TempData["PURNO"] = Request.QueryString["PURNO"].ToString();
    }

    if (Request.QueryString["Reason"] != null)
    {
        TempData["Reason"] = Request.QueryString["Reason"].ToString();
    }
}

@section HeadStyle {

    @*<link rel="stylesheet" type="text/css" href="~/Content/css/jquery.ganttView.css" />
        <link rel="stylesheet" type="text/css" href="~/Content/css/chartbutton.css" />*@
    <link rel="stylesheet" type="text/css" href="~/Content/css/vessel-page.css" />


    @*<script type="text/javascript" src="~/Content/js/date.js"></script>
        <script type="text/javascript" src="~/Content/js/jquery.ganttView.js"></script>
        <script type="text/javascript" src="~/Content/js/datachart.js"></script>
        <script type="text/javascript" src="~/Content/js/chartbutton.js"></script>*@
}

<div class="wrapper-detail">
    <h2 class="title">@ViewBag.Title</h2>

  


    @using (Html.BeginForm("Detail", "Scheduler", FormMethod.Post, new Dictionary<string, object>
            { { "name", "createForm" }, { "id", "createForm" }, { "enctype", "multipart/form-data" }, { "data-toggle", "validator" } }))
    {

          <!--For Alert Message Click button ohter -->
        @Html.Hidden("hdfNoteAction")
        if (TempData["res_message"] == null)
        {
            @Html.Hidden("EventButton", "0")
        }
        else
        {
            @Html.Hidden("EventButton", "1")
        }

        @Html.HiddenFor(m => m.schd_Transaction_id_Encrypted, Model.schd_Transaction_id_Encrypted)
        @Html.HiddenFor(m => m.schd_Req_transaction_id_Encrypted, Model.schd_Req_transaction_id_Encrypted)
        @Html.HiddenFor(m => m.schd_Purchase_no_Encrypted, Model.schd_Purchase_no_Encrypted)
        @Html.HiddenFor(m => m.schd_Type_Encrypted, Model.schd_Type_Encrypted)
        @Html.HiddenFor(m => m.schd_Status_Encrypted, Model.schd_Status_Encrypted)

        <div class="form-horizontal">
            <!-- transaction ID -->
            <div class="row">
                <div class="form-group">
                    <label class="col-md-4 control-label">Task ID</label>
                    <div class="col-md-8">
                        @Html.TextBox("txtTaskID", ViewBag.TaskID as string, new { @class = "form-control", @readonly = "true" })
                    </div>
                </div>
            </div>
            <!-- purchase no -->
            <div class="row">
                <div class="form-group">
                    <label class="col-md-4 control-label">Purchase No.</label>
                    <div class="col-md-8">
                        @Html.TextBox("txtPURNO", ViewBag.PURNO as string, new { @class = "form-control", @readonly = "true" })
                    </div>
                </div>
            </div>
            <!-- Vessel Name -->
            <div class="row">
                <div class="form-group">
                    <label class="col-md-4 control-label">Vessel Name<span style="color:red">*</span></label>
                    <div class="col-md-8">
                       
                        @if (ViewBag.PageMode == "EDIT")
                        {
                            if (Model.sch_detail != null)
                            {
                                @Html.DropDownListFor(m => m.sch_detail.vessel, new SelectList(Model.vessel, "Value", "Text", Model.sch_detail.vessel), "--- Please Select ---", new { @class = "form-control" })
                            }
                            else
                            {
                                @Html.DropDownListFor(m => m.sch_detail.vessel, Model.vessel, "--- Please Select ---", new { @class = "form-control" })
                            }
                        }
                        else
                        {
                            if (Model.sch_detail != null)
                            {
                                @Html.DropDownListFor(m => m.sch_detail.vessel, new SelectList(Model.vessel, "Value", "Text", Model.sch_detail.vessel), new { @class = "form-control", @disabled = "disabled" })
                                @Html.HiddenFor(m => m.sch_detail.vessel, Model.sch_detail.vessel)
                            }
                            else
                            {
                                @Html.DropDownList("vessel", new SelectList(Model.vessel, "Value", "Text", ""), new { @class = "form-control", @disabled = "disabled" })
                            }
                        }
                    </div>
                </div>
            </div>
            <!-- Laycan -->
            <div class="row">
                <div class="form-group">
                    <label class="col-md-4 control-label">Laycan<span style="color:red">*</span></label>
                    <div class="col-md-8">
                        @if (ViewBag.PageMode == "EDIT")
                        {
                            @Html.TextBoxFor(m => m.schd_tempLaycan, new { @class = "form-control input-date-picker schd_tempLaycan", @placeholder = "DD/MM/YYYY to DD/MM/YYYY" })
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.schd_tempLaycan, new { @class = "form-control schd_tempLaycan", @readonly = "true" })
                        }
                        <span class="days-unit" id="spanLaycan">Day</span>
                    </div>
                </div>
            </div>
            <!-- Date -->
            <div class="row">
                <div class="form-group">
                    <label class="col-md-4 control-label">Date<span style="color:red">*</span></label>
                    <div class="col-md-8">
                        @if (ViewBag.PageMode == "EDIT")
                        {
                            @Html.TextBoxFor(m => m.schd_tempDate, new { @class = "form-control input-date-picker schd_tempDate", @placeholder = "DD/MM/YYYY to DD/MM/YYYY" })
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.schd_tempDate, new { @class = "form-control schd_tempDate", @readonly = "true" })
                        }
                        
                    </div>
                </div>
            </div>
            <!-- Salling -->
            <div class="row">
                <div class="form-group">
                    <label class="col-md-4 control-label">Salling<span style="color:red">*</span></label>
                    <div class="col-md-8">
                        @if (ViewBag.PageMode == "EDIT")
                        {
                            @Html.TextBoxFor(m => m.schd_tempSailing, new { @class = "form-control input-date-picker schd_tempSailing", @placeholder = "DD/MM/YYYY to DD/MM/YYYY" })
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.schd_tempSailing, new { @class = "form-control schd_tempSailing", @readonly = "true" })
                        }
                        <span class="days-unit" id="spanSalling">Day</span>
                    </div>
                </div>
            </div>
            <!-- Estimated Freight Calculation -->
            <div class="row">
                <div class="form-group">
                    <label class="col-md-4 control-label">Estimated Freight Calculation<span style="color:red">*</span></label>
                    <div class="col-md-8">
                        
                        @if (ViewBag.PageMode == "EDIT")
                        {
                            if (Model.sch_detail != null)
                            {
                                @Html.DropDownListFor(m => m.sch_detail.freight, new SelectList(Model.freight, "Value", "Text", Model.sch_detail.freight), "--- Please Select ---", new { @class = "form-control" })
                            }
                            else
                            {
                                @Html.DropDownListFor(m => m.sch_detail.freight, Model.freight, "--- Please Select ---", new { @class = "form-control" })
                            }
                        }
                        else
                        {
                            if (Model.sch_detail != null)
                            {
                                @Html.DropDownListFor(m => m.sch_detail.freight, new SelectList(Model.freight, "Value", "Text", Model.sch_detail.freight), new { @class = "form-control", @disabled = "disabled" })
                                @Html.HiddenFor(m => m.sch_detail.freight, Model.sch_detail.freight)
                            }
                            else
                            {
                                @Html.DropDownList("freight", new SelectList(Model.freight, "Value", "Text", ""), "", new { @class = "form-control", @disabled = "disabled" })
                            }
                        }
                    </div>
                </div>
            </div>
            <!-- Laytime -->
            <div class="row">
                <div class="form-group">
                    <label class="col-md-4 control-label">Laytime<span style="color:red">*</span></label>
                    <div class="col-md-8">
                        @if (ViewBag.PageMode == "EDIT")
                        {
                            @Html.TextBoxFor(m => m.sch_detail.laytime, new { @class = "form-control inputhours" })
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.sch_detail.laytime, new { @class = "form-control inputhours", @readonly = "true" })
                        }
                        <span class="hours-unit">Hrs</span>
                    </div>
                </div>
            </div>
            <!-- User Customer -->
            <div class="row">
                <div class="form-group">
                    <label class="col-md-4 control-label">User Customer<span style="color:red">*</span></label>
                    <div class="col-md-8">
                        @if (ViewBag.PageMode == "EDIT")
                        {
                            if (Model.sch_detail != null)
                            {
                                @Html.DropDownListFor(m => m.sch_detail.vendor, new SelectList(Model.customer, "Value", "Text", Model.sch_detail.vendor), "--- Please Select ---", new { @class = "form-control" })
                            }
                            else
                            {
                                @Html.DropDownListFor(m => m.sch_detail.vendor, Model.customer, "--- Please Select ---", new { @class = "form-control" })
                            }
                        }
                        else
                        {
                            if (Model.sch_detail != null)
                            {
                                @Html.DropDownListFor(m => m.sch_detail.vendor, new SelectList(Model.customer, "Value", "Text", Model.sch_detail.vendor), new { @class = "form-control", @disabled = "disabled" })
                                @Html.HiddenFor(m => m.sch_detail.vendor, Model.sch_detail.vendor)
                            }
                            else
                            {
                                @Html.DropDownList("vendor", new SelectList(Model.customer, "Value", "Text", ""), new { @class = "form-control", @disabled = "disabled" })
                            }
                        }
                        
                    </div>
                </div>
            </div>
            <!-- Product -->
            <div class="row">
                <div class="form-group">
                    <label class="col-md-4 control-label">Product<span style="color:red">*</span></label>
                    <div class="col-md-8">
                        <div class="row">
                            <table class="table table-bordered PriceOfferTable">
                                <thead>
                                    <tr>
                                        <th class="col-xs-4">Name</th>
                                        <th class="col-xs-4">Spec</th>
                                        <th class="col-xs-2">Qty</th>
                                        <th class="col-xs-2">Unit</th>
                                    </tr>
                                </thead>
                                <tbody id="tblProduct">
                                    @if (ViewBag.PageMode == "EDIT")
                                    {
                                        if (Model.sch_detail != null)
                                        {
                                            // กรณีมี ข้อมูล ให้ทำการแก้ไขได้
                                            if (Model.sch_detail.sch_products != null)
                                            {
                                                for (int i = 0; i < Model.sch_detail.sch_products.Count; i++)
                                                {
                                                    <tr>
                                                        <td style="text-align: center; vertical-align: middle;">
                                                            @Html.DropDownListFor(m => m.sch_detail.sch_products[i].name, new SelectList(Model.product, "Value", "Text", Model.sch_detail.sch_products[i].name), new { @class = "form-control prd_name" })
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(m => m.sch_detail.sch_products[i].spec, Model.sch_detail.sch_products[i].spec, new { @class = "form-control prd_spec" })
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(m => m.sch_detail.sch_products[i].qty, Model.sch_detail.sch_products[i].qty, new { @class = "form-control prd_qty" })
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(m => m.sch_detail.sch_products[i].unit, Model.sch_detail.sch_products[i].unit, new { @class = "form-control prd_unit" })
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        }
                                        else
                                        {
                                            // กรณีไม่มี ข้อมูล ให้ทำการเพิ่มได้
                                            <tr>
                                                <td style="text-align: center; vertical-align: middle;">
                                                    @Html.DropDownListFor(m => m.sch_detail.sch_products[0].name, new SelectList(Model.product, "Value", "Text", ""), new { @class = "form-control prd_name" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.sch_detail.sch_products[0].spec, "", new { @class = "form-control prd_spec" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.sch_detail.sch_products[0].qty, "0", new { @class = "form-control prd_qty" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.sch_detail.sch_products[0].unit, "", new { @class = "form-control prd_unit" })
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        // สำหรับแสดง อ่านอย่างเดียว
                                        if (Model.sch_detail != null)
                                        {
                                            for (int i = 0; i < Model.sch_detail.sch_products.Count; i++)
                                            {
                                                <tr>
                                                    <td style="text-align: center; vertical-align: middle;">
                                                        @Html.DropDownListFor(m => m.sch_detail.sch_products[i].name, new SelectList(Model.product, "Value", "Text", Model.sch_detail.sch_products[i].name), new { @class = "form-control prd_name", @disabled = "disabled" })
                                                        @Html.HiddenFor(m => m.sch_detail.sch_products[i].name, Model.sch_detail.sch_products[i].name)
                                                    </td>
                                                    <td>
                                                        @Html.LabelFor(m => m.sch_detail.sch_products[i].spec, Model.sch_detail.sch_products[i].spec, new { @class = "form-control prd_spec" })
                                                    </td>
                                                    <td>
                                                        @Html.LabelFor(m => m.sch_detail.sch_products[i].qty, Model.sch_detail.sch_products[i].qty, new { @class = "form-control prd_qty" })
                                                    </td>
                                                    <td>
                                                        @Html.LabelFor(m => m.sch_detail.sch_products[i].unit, Model.sch_detail.sch_products[i].unit, new { @class = "form-control prd_unit" })
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                     @if (ViewBag.PageMode == "EDIT" || ViewBag.PageMode == "ADD")
                     {
                        <div class="row">

                            <input type="button" value="Add Product" class="btn btn-success" onclick="addProduct(); return false;" />
                            <input type="button" value="Delete Product" class="btn btn-default" onclick="delProduct(); return false;" />
                        </div>
                     }
                    </div>
                </div>
            </div>
            <!-- Load Port -->
            <div class="row">
                <div class="form-group">
                    <label class="col-md-4 control-label">Load Port<span style="color:red">*</span></label>
                    <div class="col-md-8">
                        <div class="row">
                            <table class="table table-bordered PriceOfferTable">
                                <thead>
                                    <tr>
                                        <th class="col-xs-4">Port No.</th>
                                        <th class="col-xs-8">Port Name</th>
                                    </tr>
                                </thead>
                                <tbody id="tblLoadPort">
                                @if (ViewBag.PageMode == "EDIT" || ViewBag.PageMode == "ADD")
                                {
                                    if (Model.sch_detail != null)
                                    {
                                        // กรณีมี ข้อมูล ให้ทำการแก้ไขได้
                                        if (Model.sch_detail.sch_load_ports != null)
                                        {
                                            for (int i = 0; i < Model.sch_detail.sch_load_ports.Count; i++)
                                            {
                                                <tr>
                                                    <td style="text-align: center; vertical-align: middle;">
                                                        @Html.LabelFor(m => m.sch_detail.sch_load_ports[i].order, Model.sch_detail.sch_load_ports[i].order)
                                                    </td>
                                                    <td>
                                                        @Html.DropDownListFor(m => m.sch_detail.sch_load_ports[i].port, new SelectList(Model.portName, "Value", "Text", Model.sch_detail.sch_load_ports[i].port), new { @class = "form-control lp_portname" })
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }
                                    else
                                    {
                                        // กรณีไม่มี ข้อมูล ให้ทำการเพิ่มได้
                                        <tr>
                                            <td style="text-align: center; vertical-align: middle;">
                                                1
                                            </td>
                                            <td>
                                                @Html.DropDownListFor(m => m.sch_detail.sch_load_ports[0].port, new SelectList(Model.portName, "Value", "Text", null), new { @class = "form-control lp_portname" })
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    // สำหรับแสดง อ่านอย่างเดียว
                                    if (Model.sch_detail != null)
                                    {
                                        for (int i = 0; i < Model.sch_detail.sch_load_ports.Count; i++)
                                        {
                                            <tr>
                                                <td style="text-align: center; vertical-align: middle;">
                                                    @Html.LabelFor(m => m.sch_detail.sch_load_ports[i].order, Model.sch_detail.sch_load_ports[i].order)
                                                </td>
                                                <td>
                                                    @Html.DropDownListFor(m => m.sch_detail.sch_load_ports[i].port, Model.portName, Model.portName.Single(x => x.Value == Model.sch_detail.sch_load_ports[i].port).Text, new { @class = "form-control lp_portname", @disabled = "disabled" })
                                                    @Html.HiddenFor(m => m.sch_detail.sch_load_ports[i].port, Model.sch_detail.sch_load_ports[i].port)
                                                </td>
                                            </tr>
                                        }
                                    }

                                }
                                </tbody>
                            </table>
                        </div>
                    @if (ViewBag.PageMode == "EDIT")
                    {
                        <div class="row">
                            <input type="button" value="Add Port" class="btn btn-success" onclick="addLoadPort(); return false;" />
                            <input type="button" value="Delete Port" class="btn btn-default" onclick="delLoadPort(); return false;" />
                        </div>
                    }
                    </div>
                </div>
                </div>
            <!-- Dis Port -->
            <div class="row">
                <div class="form-group">
                    <label class="col-md-4 control-label">Discharge Port<span style="color:red">*</span></label>
                    <div class="col-md-8">
                        <div class="row">
                            <table class="table table-bordered PriceOfferTable">
                                <thead>
                                    <tr>
                                        <th class="col-xs-4">Port No.</th>
                                        <th class="col-xs-8">Port Name</th>
                                    </tr>
                                </thead>
                                <tbody id="tblDisPort">
                                    @if (ViewBag.PageMode == "EDIT")
                                    {
                                        if (Model.sch_detail != null)
                                        {
                                            // กรณีมี ข้อมูล ให้ทำการแก้ไขได้
                                            if (Model.sch_detail.sch_dis_ports != null)
                                            {
                                                for (int i = 0; i < Model.sch_detail.sch_dis_ports.Count; i++)
                                                {
                                                    <tr>
                                                        <td style="text-align: center; vertical-align: middle;">
                                                            @Html.LabelFor(m => m.sch_detail.sch_dis_ports[i].order, Model.sch_detail.sch_dis_ports[i].order)
                                                        </td>
                                                        <td>
                                                            @Html.DropDownListFor(m => m.sch_detail.sch_dis_ports[i].port, new SelectList(Model.portName, "Value", "Text", Model.sch_detail.sch_dis_ports[i].port), new { @class = "form-control dp_portname" })
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        }
                                        else
                                        {
                                            // กรณีไม่มี ข้อมูล ให้ทำการเพิ่มได้
                                            <tr>
                                                <td style="text-align: center; vertical-align: middle;">
                                                    1
                                                </td>
                                                <td>
                                                    @Html.DropDownListFor(m => m.sch_detail.sch_dis_ports[0].port, new SelectList(Model.portName, "Value", "Text", null), new { @class = "form-control dp_portname" })
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        // สำหรับแสดง อ่านอย่างเดียว
                                        if (Model.sch_detail != null)
                                        {
                                            for (int i = 0; i < Model.sch_detail.sch_dis_ports.Count; i++)
                                            {
                                                <tr>
                                                    <td style="text-align: center; vertical-align: middle;">
                                                        @Html.LabelFor(m => m.sch_detail.sch_dis_ports[i].order, Model.sch_detail.sch_dis_ports[i].order)
                                                    </td>
                                                    <td>
                                                        @Html.DropDownListFor(m => m.sch_detail.sch_dis_ports[i].port, Model.portName, Model.portName.Single(x => x.Value == Model.sch_detail.sch_dis_ports[i].port).Text, new { @class = "form-control dp_portname", @disabled = "disabled" })
                                                        @Html.HiddenFor(m => m.sch_detail.sch_dis_ports[i].port, Model.sch_detail.sch_dis_ports[i].port)
                                                    </td>
                                                </tr>
                                            }
                                        }

                                    }
                                </tbody>
                            </table>
                        </div>
@if (ViewBag.PageMode == "EDIT" || ViewBag.PageMode == "ADD")
{
                        <div class="row">
                            <input type="button" value="Add Dis/Port" class="btn btn-success" onclick="addDisPort(); return false;" />
                            <input type="button" value="Delete Port" class="btn btn-default" onclick="delDisPort(); return false;" />
                        </div>
}
                    </div>
                </div>
            </div>
            <!-- Note -->
            <div class="row">
                <div class="form-group">
                    <label class="col-md-4 control-label">Note</label>
                    <div class="col-md-8">
                        @if (ViewBag.PageMode == "EDIT")
                        {
                            @Html.TextAreaFor(m => m.sch_detail.note, new { @class = "form-control", @style = "min-height:109px;padding-top:10px;padding-bottom:10px;" })
                        }
                        else
                        {
                            @Html.TextAreaFor(m => m.sch_detail.note, new { @class = "form-control", @style = "min-height:109px;padding-top:10px;padding-bottom:10px;", @readonly = "true" })
                        }
                    </div>
                </div>
            </div>
            <!-- Button -->
            <div class="wrapper-button row">
                <div class="col-md-12">
                    @if (ViewBag.ButtonMode == "AUTO")
                    {
                        <input type="submit" value="SAVE DRAFT" class="btn btn-default" onclick="OpenBoxBungerPrompt('Comment :', 'SaveDraft'); return false;" />
                        <input type="submit" value="SUBMIT" class="btn btn-default" name="action:Submit" onclick="OpenBoxBungerPrompt('Comment :', 'Submit'); return false;" />
                        <input type="button" class="btn btn-default" id="btnBack" onclick="location.href='@Url.Action("Index","Scheduler")'" value="Back" />
                        <input type="submit" value="SAVE DRAFT" id="btnSaveDraft" style="display: none;" name="action:SaveDraft" />
                        <input type="submit" value="SUBMIT" id="btnSubmit" style="display: none;" name="action:Submit" />
                    }
                    else
                    {
                        @Html.Hidden("hdfEventClick")
                        @Html.Raw(@ViewBag.ButtonCode)
                    }
                    
                </div>
            </div>
        </div>
       
    }
</div>

<!--For Alert Message Click button ohter -->
@if (TempData["res_message"] != null)
{
    if (TempData["returnPage"] != null)
    {
        <script type="text/javascript">
            OpenBoxPopupLink((@Html.Raw(Json.Encode(TempData["res_message"]))), @Html.Raw(Json.Encode(TempData["returnPage"]))).done(function() {
                $("#EventButton").val("0");
            });
        </script>
    }
    else
    {
        <script type="text/javascript">
            OpenBoxPopup(@Html.Raw(Json.Encode(TempData["res_message"]))).done(function() {
                $("#EventButton").val("0");
            });
        </script>
    }
}

<script type="text/javascript">

    window.onbeforeunload = function (evt) {
        var btnclick = false;
        if ($('#EventButton').val() == "0") {
            btnclick = true;
        }
        if (btnclick) {
            return "If you leave this page, your information will not be updated.";
        }

    }



    //****** Load Port  *******/
    function addLoadPort() {
        var i = $("#tblLoadPort tr").length;
        var newPort = "<tr><td style='text-align: center; vertical-align: middle;'>" + (i + 1) + "</td>";
        newPort += '<td><select class="form-control lp_portname" id="sch_detail_sch_load_ports_0__port" name="sch_detail.sch_load_ports[0].port">' +
         @foreach (var option in Model.portName)
            {
                @:'<option value="@option.Value">@option.Text</option>' +
            }
        '</select></td>';
        newPort += '</tr>';
        newPort = newPort.replace(/_0_/g, "_" + i + "_");
        newPort = newPort.replace(/\[0\]/g, "[" + i + "]");
        $("#tblLoadPort").append(newPort);
    }
    function delLoadPort() {
        //delete last row of load port.
        $("#tblLoadPort > tr").last().remove();
    }

    //****** Dis Port  *******/
    function addDisPort() {
        var i = $("#tblDisPort tr").length;
        var newPort = "<tr><td style='text-align: center; vertical-align: middle;'>" + (i + 1) + "</td>";
        newPort += '<td><select class="form-control dp_portname" id="sch_detail_sch_dis_ports_0__port" name="sch_detail.sch_dis_ports[0].port">' +
         @foreach (var option in Model.portName)
        {
            @:'<option value="@option.Value">@option.Text</option>' +
            }
        '</select></td>';
        newPort += '</tr>';
        newPort = newPort.replace(/_0_/g, "_" + i + "_");
        newPort = newPort.replace(/\[0\]/g, "[" + i + "]");
        $("#tblDisPort").append(newPort);
    }
    function delDisPort() {
        //delete last row of load port.
        $("#tblDisPort > tr").last().remove();
    }

    //****** Product  *******/
    function addProduct() {
        var i = $("#tblProduct tr").length;
        var newPort = "<tr>";
        newPort += '<td><select class="form-control prd_name" id="sch_detail_sch_products_0__name" name="sch_detail.sch_products[0].name">' +
         @foreach (var option in Model.product)
        {
            @:'<option value="@option.Value">@option.Text</option>' +
            }
        '</select></td>';
        newPort += '<td>@Html.TextBoxFor(m => m.sch_detail.sch_products[0].spec, "", new { @class = "form-control prd_spec" })</td>';
        newPort += '<td>@Html.TextBoxFor(m => m.sch_detail.sch_products[0].qty, "0", new { @class = "form-control prd_qty" })</td>';
        newPort += '<td>@Html.TextBoxFor(m => m.sch_detail.sch_products[0].unit, "", new { @class = "form-control prd_unit" })</td>';
        newPort += '</tr>';
        newPort = newPort.replace(/_0_/g, "_" + i + "_");
        newPort = newPort.replace(/\[0\]/g, "[" + i + "]");
        $("#tblProduct").append(newPort);
    }
    function delProduct() {
        //delete last row of load port.
        $("#tblProduct > tr").last().remove();
    }

    // สำหรับคำนวนจำนวนวัน
    function getDiffDay(dateFrom, dateTo)
    {
        var plus = 1; //สำหรับนับจำนวนวัน หากเลือกวันเริ่มต้นกับสิ้นสุดวันเดียวกัน
        var DateDiff = {

            inDays: function (d1, d2) {
                var t2 = d2.getTime();
                var t1 = d1.getTime();

                return parseInt((t2 - t1) / (24 * 3600 * 1000));
            },

            inWeeks: function (d1, d2) {
                var t2 = d2.getTime();
                var t1 = d1.getTime();

                return parseInt((t2 - t1) / (24 * 3600 * 1000 * 7));
            },

            inMonths: function (d1, d2) {
                var d1Y = d1.getFullYear();
                var d2Y = d2.getFullYear();
                var d1M = d1.getMonth();
                var d2M = d2.getMonth();

                return (d2M + 12 * d2Y) - (d1M + 12 * d1Y);
            },

            inYears: function (d1, d2) {
                return d2.getFullYear() - d1.getFullYear();
            }
        }

        //var dString = "May, 20, 1984";

        var d1 = new Date(dateFrom);
        var d2 = new Date(dateTo);

        //document.write("<br />Number of <b>days</b> since " + dString + ": " + DateDiff.inDays(d1, d2));
        //document.write("<br />Number of <b>weeks</b> since " + dString + ": " + DateDiff.inWeeks(d1, d2));
        //document.write("<br />Number of <b>months</b> since " + dString + ": " + DateDiff.inMonths(d1, d2));
        //document.write("<br />Number of <b>years</b> since " + dString + ": " + DateDiff.inYears(d1, d2));

        return DateDiff.inDays(d1, d2) + plus;
    }

    function setDayTextSpan(spanId, dateFrom, dateTo)
    {
        if (dateFrom == "" || dateTo == "" || spanId == "")
            return;

        var day = getDiffDay(dateFrom, dateTo);
        var dayShow = "";
        if (day > 1)
            dayShow = day + " Days";
        else
            dayShow = day + " Day";

        $("#" + spanId).html(dayShow);
    }

    function OpenBoxBungerPrompt(MSG, Event) {
        if (Event.toUpperCase() == "SUBMIT") {
            //if (!ValidateBeforeSave())
            //    return false;
        }

        $('#EventButton').val("1");
        $('form').attr('target', '_self');
        if (Event == "SaveAndPreview") {
            $("#btnGenPDF").click();
        }

        if (Event != "SaveDraft" && Event != "SaveAndPreview" && Event != "Submit") {
            if ($("#hdfEventClick").length != 0) {
                $("#hdfEventClick").val(Event);
            }
        }

        bootbox.prompt(MSG, function (result) {
            if (result === null) {
                //Do nothing (cancel button pressed)
                $('#EventButton').val("0");
            } else {
                $("#hdfNoteAction").val(result);
                $('form').attr('target', '_self');
                if (Event == "SaveDraft" || Event == "SaveAndPreview") {
                    $("#btnSaveDraft").click();
                } else if (Event == "Submit") {
                    $("#btnSubmit").click();
                } else {
                    $("#btnMANUAL").click();
                }
                LoadingProcess();
            }
        });
    }

    $(document).ready(function () {

         
        @*@Html.Raw(
        "$('#schd_tempDate').dateRangePicker(" +
        "{" +
            "startOfWeek: 'monday'," +
            "format: \"DD/MM/YYYY\"" +
        "});")*@


        @*@Html.Raw(
        "$('#schd_tempLaycan').dateRangePicker(" +
        "{" +
            "startOfWeek: 'monday'," +
            "format: \"DD/MM/YYYY\"" +
        "});")*@

         @*@Html.Raw(
        "$('#schd_tempLaycan').dateRangePicker(" +
         " {"+
             "startOfWeek: 'monday',"+
              "format: 'DD/MM/YYYY'"+
          "}).bind('datepicker-change', function(evt, obj) {"+
             "setDayTextSpan(\"panLaycan\", obj.date1, obj.date2)"+
            "});");*@


        @*@Html.Raw(
        "$('#schd_tempSailing').dateRangePicker(" +
        "{" +
            "startOfWeek: 'monday'," +
            "format: \"DD/MM/YYYY\"" +
        "});")*@
        @*@Html.Raw(
        "$('#schd_tempSailing').dateRangePicker(" +
         " {"+
             "startOfWeek: 'monday',"+
              "format: 'DD/MM/YYYY'"+
          "}).bind('datepicker-change', function(evt, obj) {"+
             "setDayTextSpan(\"spanLaycan\", obj.date1, obj.date2)" +
            "});");

            }*@

        $('#schd_tempLaycan').dateRangePicker(
          {
              startOfWeek: 'monday',
              format: 'DD/MM/YYYY'
          }).bind('datepicker-change', function (evt, obj) {
              setDayTextSpan("spanLaycan", obj.date1, obj.date2)
          });

        $('#schd_tempLaycan').blur(function () {
            if (!$.trim(this.value).length) { // zero-length string AFTER a trim
                $('#spanLaycan').html("Day");
            }
        });


        $('#schd_tempDate').dateRangePicker(
         {
             startOfWeek: 'monday',
             format: 'DD/MM/YYYY'
         });

        $('#schd_tempSailing').dateRangePicker(
            {
                startOfWeek: 'monday',
                format: 'DD/MM/YYYY'
            }).bind('datepicker-change', function (evt, obj) {
                setDayTextSpan("spanSalling", obj.date1, obj.date2)
            });

        $('#schd_tempSailing').blur(function () {
            if (!$.trim(this.value).length) { // zero-length string AFTER a trim
                $('#spanSalling').html("Day");
            }
        });

    });

</script>
