﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.SchedulerViewModel

@{
    Layout = "~/Areas/CPAIMVC/Views/Shared/_Layout.cshtml";

    if (ViewBag.PageMode == null)
    {
        ViewBag.PageMode = "EDIT";
    }
    if (ViewBag.ButtonMode == null)
    {
        ViewBag.ButtonMode = "AUTO";
    }
    int txtExplanation_readmode = (ViewBag.PageMode == "EDIT") ? 0 : 1;

    string vendorColorCurrent = Model.schd_vendorColorDefualt;
    if (Model.sch_detail != null)
    {
        vendorColorCurrent = String.IsNullOrEmpty(Model.sch_detail.vendor_color) ? Model.schd_vendorColorDefualt : Model.sch_detail.vendor_color;
    }

}

@section HeadStyle {

    @*<link rel="stylesheet" type="text/css" href="~/Content/css/jquery.ganttView.css" />
        <link rel="stylesheet" type="text/css" href="~/Content/css/chartbutton.css" />*@
    <link rel="stylesheet" type="text/css" href="~/Content/css/vessel-page.css" />


    @*<script type="text/javascript" src="~/Content/js/date.js"></script>
        <script type="text/javascript" src="~/Content/js/jquery.ganttView.js"></script>
        <script type="text/javascript" src="~/Content/js/datachart.js"></script>
        <script type="text/javascript" src="~/Content/js/chartbutton.js"></script>*@

    <style>
        .color_box {
            float: left;
            width: 30px;
            height: 30px;
            margin: 2px;
            border: 1px solid rgba(0, 0, 0, .2);
            display: inline-block;
            border-radius: 10px 10px 10px 10px;
        }

        .simplecolorpicker {
            width: 30px;
            margin: 2px;
            border-radius: 10px 10px 10px 10px;
        }

        .unit-other-option {
            width: 100px;
            display: inline;
        }

        .unit-other-text-active {
            width: 154px;
            display: inline;
        }

        .unit-other-text-unactive {
            display: none;
        }

        .cargo_name {
            width: 100%;
        }

        .cargo_qty {
            width: 100%;
        }

        .cargo_tolerance {
            width: 100%;
        }

        .cargo_unit {
            width: 100%;
        }

        .unit-other-option {
            width: 100px;
            display: inline;
        }

        .lp_portname {
            width: 100%;
        }

        .dp_portname {
            width: 100%;
        }
    </style>
}

<div class="wrapper-detail">
    <h2 class="title">@ViewBag.Title</h2>

    @using (Html.BeginForm("Index", "Scheduler", FormMethod.Post, new Dictionary<string, object>
            { { "name", "createForm" }, { "id", "createForm" }, { "enctype", "multipart/form-data" }, { "data-toggle", "validator" } }))
    {

          <!--For Alert Message Click button ohter -->
        @Html.Hidden("hdfNoteAction")
        if (TempData["res_message"] == null)
        {
            @Html.Hidden("EventButton", "0")
        }
        else
        {
            @Html.Hidden("EventButton", "1")
        }

        @Html.HiddenFor(m => m.schd_Transaction_id, Model.schd_Transaction_id)
        @Html.HiddenFor(m => m.schd_Req_transaction_id, Model.schd_Req_transaction_id)
        @Html.HiddenFor(m => m.schd_Doc_no, Model.schd_Doc_no)
        @Html.HiddenFor(m => m.schd_Type, Model.schd_Type)
        @Html.HiddenFor(m => m.schd_Status, Model.schd_Status)

        <div class="form-horizontal">

            <!-- transaction ID, purchase no -->
            <div class="row">
                <div class="form-group">

                    <!-- transaction ID -->
                    <label class="col-md-2 control-label">Task ID</label>
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.schd_Transaction_id, new { @class = "form-control", @readonly = "true" })
                    </div>

                    <!-- purchase no -->
                    <label class="col-md-2 control-label">Document No.</label>
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.schd_Doc_no, new { @class = "form-control", @readonly = "true" })
                    </div>
                </div>
            </div>

            <!-- Schedule Type -->
            <div class="row">
                <div class="form-group">
                    <label class="col-md-2 control-label">Schedule Type<span style="color:red">*</span></label>
                    <div class="col-md-4">

                        @if (ViewBag.PageMode == "EDIT")
                        {
                            if (Model.sch_detail != null)
                            {
                                @Html.DropDownListFor(m => m.sch_detail.schedule_type, new SelectList(Model.scheduleType, "Value", "Text", Model.sch_detail.schedule_type), new { @class = "form-control", @onchange = "ScheduleTypeShowHide()", @style = "float: left; display: inline - block;" })
                            }
                            else
                            {
                                @Html.DropDownListFor(m => m.sch_detail.schedule_type, Model.scheduleType, new { @class = "form-control", @onchange = "ScheduleTypeShowHide()", @style = "float: left; display: inline - block;" })
                            }
                        }
                        else
                        {
                            if (Model.sch_detail != null)
                            {
                                @Html.DropDownListFor(m => m.sch_detail.schedule_type, Model.scheduleType, Model.sch_detail.schedule_type, new { @class = "form-control", @disabled = "disabled", @style = "float: left; display: inline - block;" })
                                @Html.HiddenFor(m => m.sch_detail.schedule_type, Model.sch_detail.schedule_type)
                            }
                            else
                            {
                                @Html.DropDownList("vessel", new SelectList(Model.scheduleType, "Value", "Text", ""), new { @class = "form-control", @disabled = "disabled", @style = "float: left; display: inline - block;" })
                            }
                        }
                        <div id="otherColor" class="color_box" style="background-color: #0172b8;"></div>
                    </div>
                    <!-- Detail -->
                    <div id="divOthers" class="col-md-4">
                        @if (ViewBag.PageMode == "EDIT")
                        {
                            @Html.TextBoxFor(m => m.sch_detail.detail, new { @class = "form-control", @style = "float: left; display: inline - block;", @maxlength = "500" })
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.sch_detail.detail, new { @class = "form-control", @style = "float: left; display: inline - block;", @readonly = "true" })
                        }
                        @Html.DropDownListFor(model => model.sch_detail.color, new SelectList(Model.ddl_Color, "Value", "Text", 1), new { @class = "colorpicker-picker-option-selected colorPi", @required = "required" })
                        @Html.HiddenFor(model => model.sch_detail.color, htmlAttributes: new { @id = "colorPi" })
                        <script>
                            function setDefaultColorPickerField(color) {
                                $('.colorpicker-picker-option-selected').simplecolorpicker({ picker: true, theme: 'glyphicons' });
                                $('.colorPi').simplecolorpicker('selectColor', color);
                            }
                            setDefaultColorPickerField($('#colorPi').val());
                        </script>
                    </div>
                </div>
            </div>

            <!-- Vessel Name, Date -->
            <div class="row">
                <div class="form-group">
                    <!-- Vessel Name -->
                    <label class="col-md-2 control-label">Vessel Name<span style="color:red">*</span></label>
                    <div class="col-md-4">

                        @if (ViewBag.PageMode == "EDIT")
                        {
                            if (Model.sch_detail != null)
                            {
                                @Html.DropDownListFor(m => m.sch_detail.vessel, new SelectList(Model.vessel, "Value", "Text", Model.sch_detail.vessel), "--- Please Select ---", new { @class = "form-control" })
                            }
                            else
                            {
                                @Html.DropDownListFor(m => m.sch_detail.vessel, Model.vessel, "--- Please Select ---", new { @class = "form-control" })
                            }
                        }
                        else
                        {
                            if (Model.sch_detail != null)
                            {
                                @Html.DropDownListFor(m => m.sch_detail.vessel, Model.vessel, Model.sch_detail.vessel, new { @class = "form-control", @disabled = "disabled" })
                                @Html.HiddenFor(m => m.sch_detail.vessel, Model.sch_detail.vessel)
                            }
                            else
                            {
                                @Html.DropDownList("vessel", new SelectList(Model.vessel, "Value", "Text", ""), new { @class = "form-control", @disabled = "disabled" })
                            }
                        }
                    </div>

                    <!-- Date -->
                    <label class="col-md-2 control-label">Period<span style="color:red">*</span></label>
                    <div class="col-md-4">
                        @if (ViewBag.PageMode == "EDIT")
                        {
                            @Html.TextBoxFor(m => m.schd_tempDate, new { @class = "form-control input-date-picker schd_tempDate", @placeholder = "DD/MM/YYYY to DD/MM/YYYY", @maxlength = "24" })
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.schd_tempDate, new { @class = "form-control schd_tempDate", @readonly = "true" })
                        }

                    </div>
                </div>
            </div>

            <div id="divSchedule">
                <!-- Laycan, User Customer -->
                <div class="row">
                    <div class="form-group">
                        <!-- Laycan -->
                        <label class="col-md-2 control-label">Laycan<span style="color:red">*</span></label>
                        <div class="col-md-4">
                            @if (ViewBag.PageMode == "EDIT")
                            {
                                @Html.TextBoxFor(m => m.schd_tempLaycan, new { @class = "form-control input-date-picker schd_tempLaycan", @placeholder = "DD/MM/YYYY to DD/MM/YYYY", @maxlength = "24" })
                            }
                            else
                            {
                                @Html.TextBoxFor(m => m.schd_tempLaycan, new { @class = "form-control schd_tempLaycan", @readonly = "true" })
                            }
                            <span class="days-unit" id="spanLaycan">@Model.schd_dayLaycan</span>
                        </div>

                        <!-- Charterer -->
                        <label class="col-md-2 control-label">Charterer<span style="color:red">*</span></label>
                        <div class="col-md-4">
                            @if (ViewBag.PageMode == "EDIT")
                            {
                                if (Model.sch_detail != null)
                                {
                                    @Html.DropDownListFor(m => m.schd_vendorColorValue, new SelectList(Model.customer, "Value", "Text", Model.sch_detail.vendor), "--- Please Select ---", new { @class = "form-control", @style = "float: left; display: inline - block;" })
                                    <div id="vendor_color_box" name="vendor_color_box" class="color_box" style="background-color: @vendorColorCurrent;"></div>
                                }
                                else
                                {
                                    @Html.DropDownListFor(m => m.schd_vendorColorValue, Model.customer, "--- Please Select ---", new { @class = "form-control", @style = "float: left; display: inline - block;" })
                                    <div id="vendor_color_box" name="vendor_color_box" class="color_box" style="background-color: @vendorColorCurrent;"></div>
                                }
                            }
                            else
                            {
                                if (Model.sch_detail != null)
                                {
                                    @Html.DropDownListFor(m => m.schd_vendorColorValue, Model.customer, Model.sch_detail.vendor, new { @class = "form-control", @style = "float: left; display: inline - block;", @disabled = "disabled" })
                                    @Html.HiddenFor(m => m.schd_vendorColorValue, Model.schd_vendorColorValue)
                                    <div id="vendor_color_box" name="vendor_color_box" class="color_box" style="background-color: @vendorColorCurrent;"></div>
                                }
                                else
                                {
                                    @Html.DropDownList("vendor", new SelectList(Model.customer, "Value", "Text", ""), new { @class = "form-control", @style = "float: left; display: inline - block;", @disabled = "disabled" })
                                    <div id="vendor_color_box" name="vendor_color_box" class="color_box" style="background-color: @vendorColorCurrent;"></div>
                                }
                            }
                        </div>
                    </div>
                </div>

                <!-- Estimated Freight Calculation -->
                <div class="row">
                    <div class="form-group">

                        <!-- Estimated Freight Calculation -->
                        <label class="col-md-2 control-label">Estimated Freight Calculation</label>
                        <div class="col-md-4">
                            @Html.TextBoxFor(m => m.sch_detail.freight, new { @class = "form-control", @readonly = "true" ,@style= "Width:150px;float: left;" })
                            @*@if (ViewBag.PageMode == "EDIT")
                            {
                                if (Model.sch_detail != null)
                                {
                                    @Html.DropDownListFor(m => m.sch_detail.freight, new SelectList(Model.freight, "Value", "Text", Model.sch_detail.freight), "--- Please Select ---", new { @class = "form-control", @style = "float: left;", @onchange = "onChangeFreightCal(this)" })
                                }
                                else
                                {
                                    @Html.DropDownListFor(m => m.sch_detail.freight, Model.freight, "--- Please Select ---", new { @class = "form-control", @style = "float: left;", @onchange = "onChangeFreightCal(this)" })
                                }
                            }
                            else
                            {
                                if (Model.sch_detail != null)
                                {
                                    @Html.DropDownListFor(m => m.sch_detail.freight, Model.freight, Model.sch_detail.freight, new { @class = "form-control", @disabled = "disabled", @style = "float: left;", @onchange = "onChangeFreightCal(this)" })
                                    @Html.HiddenFor(m => m.sch_detail.freight, Model.sch_detail.freight)
                                }
                                else
                                {
                                    @Html.DropDownList("freight", new SelectList(Model.freight, "Value", "Text", ""), "", new { @class = "form-control", @disabled = "disabled", @style = "float: left;", @onchange = "onChangeFreightCal(this)" })
                                }
                            }*@
                            <input type="hidden" id="h_freight_row_id"><input type="hidden" id="h_freight_req_trans_id">
                            <div id="btn_link_freight_cal" name="btn_link_freight_cal" class="color_box" onclick="getFreightCalculation()"><span class="glyphicon glyphicon-link" style="padding-left: 3px; padding-top: 3px;"></span></div>
                        
                        @if (ViewBag.PageMode == "EDIT")
                        {
                            <div id="dupBtn" class="col-md-2">
                                <a class="btn btn-info" onclick="onShowFreightModal()">Select Freight</a>
                            </div>
                        }
                        </div>
                        <div class="col-md-2">
                            <div class="checkbox control-label">
                                <input id="sch_detail_tentative" name="sch_detail.tentative" type="checkbox" />
                                <label for="sch_detail_tentative">Tentative</label>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Cargo -->
                <div class="row">
                    <div class="form-group">
                        <label class="col-md-2 control-label">Cargo<span style="color:red">*</span></label>
                        <div class="col-md-10">
                            <div class="row">
                                <table class="table table-bordered PriceOfferTable">
                                    <thead>
                                        <tr>
                                            <th class="col-md-1">No.</th>
                                            <th class="col-md-3">Cargo</th>
                                            <th class="col-md-2">Quantity</th>
                                            <th class="col-md-1">Tolerance (+/-)(%)</th>
                                            <th class="col-md-3">Unit</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tblCargo">
                                        @if (ViewBag.PageMode == "EDIT")
                                        {
                                            if (Model.sch_detail != null && Model.sch_detail.sch_cargo != null)
                                            {
                                                // กรณีมี ข้อมูล ให้ทำการแก้ไขได้
                                                for (int i = 0; i < Model.sch_detail.sch_cargo.Count; i++)
                                                {
                                                    <tr>
                                                        <td td style="text-align: center; vertical-align: middle;">@Model.sch_detail.sch_cargo[i].order</td>
                                                        <td style="text-align: center; vertical-align: middle;">
                                                            @Html.DropDownListFor(m => m.sch_detail.sch_cargo[i].cargo, new SelectList(Model.cargo_list, "Value", "Text", Model.sch_detail.sch_cargo[i].cargo), new { @class = "form-control cargo_name" })
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(m => m.sch_detail.sch_cargo[i].qty, Model.sch_detail.sch_cargo[i].qty, new { @class = "form-control cargo_qty", @type = "text", @onfocus = "funcNumberfocus(this.id)" ,@onblur = "funcNumberblur(this.id)" })
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(m => m.sch_detail.sch_cargo[i].tolerance, Model.sch_detail.sch_cargo[i].tolerance, new { @class = "form-control cargo_tolerance", @type = "number", @step = "any", @onkeypress = "return event.charCode >= 46" })
                                                        </td>
                                                        <td>
                                                            @if (Model.sch_detail.sch_cargo[i].unit == "OTHER")
                                                            {
                                                                @Html.DropDownListFor(m => m.sch_detail.sch_cargo[i].unit, new SelectList(Model.cargo_unit, "Value", "Text", Model.sch_detail.sch_cargo[i].unit), new { @class = "form-control cargo_unit unit-other-option", @onchange = "onChangeUnitCargo(this);" })
                                                                @Html.TextBoxFor(model => model.sch_detail.sch_cargo[i].others, new { @class = "form-control unit-other-text-active" })
                                                            }
                                                            else
                                                            {
                                                                @Html.DropDownListFor(m => m.sch_detail.sch_cargo[i].unit, new SelectList(Model.cargo_unit, "Value", "Text", Model.sch_detail.sch_cargo[i].unit), new { @class = "form-control cargo_unit", @onchange = "onChangeUnitCargo(this);" })
                                                                @Html.TextBoxFor(model => model.sch_detail.sch_cargo[i].others, new { @class = "form-control unit-other-text-unactive" })
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                            else
                                            {
                                                // กรณีไม่มี ข้อมูล ให้ทำการเพิ่มได้
                                                <tr>
                                                    <td>1</td>
                                                    <td>
                                                        @Html.DropDownListFor(m => m.sch_detail.sch_cargo[0].cargo, new SelectList(Model.cargo_list, "Value", "Text", ""), new { @class = "form-control cargo_name" })
                                                    </td>
                                                    <td>
                                                        @Html.TextBoxFor(m => m.sch_detail.sch_cargo[0].qty, "0", new { @class = "form-control cargo_qty", @type = "text", @onfocus = "funcNumberfocus(this.id)", @onblur = "funcNumberblur(this.id)" })
                                                    </td>
                                                    <td>
                                                        @Html.TextBoxFor(m => m.sch_detail.sch_cargo[0].tolerance, "", new { @class = "form-control cargo_tolerance", @type = "number", @step = "any", @onkeypress = "return event.charCode >= 46" })
                                                    </td>
                                                    <td>
                                                        @Html.DropDownListFor(m => m.sch_detail.sch_cargo[0].unit, Model.cargo_unit, new { @class = "form-control cargo_unit", @onchange = "onChangeUnitCargo(this);" })
                                                        @Html.TextBoxFor(model => model.sch_detail.sch_cargo[0].others, new { @class = "form-control check50 unit-other-text-unactive" })
                                                    </td>

                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            // สำหรับแสดง อ่านอย่างเดียว
                                            if (Model.sch_detail != null && Model.sch_detail.sch_cargo != null)
                                            {
                                                for (int i = 0; i < Model.sch_detail.sch_cargo.Count; i++)
                                                {
                                                    <tr>
                                                        <td>@Model.sch_detail.sch_cargo[i].order</td>
                                                        <td style="text-align: center; vertical-align: middle;">
                                                            @Html.DropDownListFor(m => m.sch_detail.sch_cargo[i].cargo, new SelectList(Model.cargo_list, "Value", "Text", Model.sch_detail.sch_cargo[i].cargo), new { @class = "form-control cargo_name", @disabled = "disabled" })
                                                            @Html.HiddenFor(m => m.sch_detail.sch_cargo[i].cargo, Model.sch_detail.sch_cargo[i].cargo)
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(m => m.sch_detail.sch_cargo[i].qty, Model.sch_detail.sch_cargo[i].qty, new { @class = "form-control cargo_qty", @type = "text", @onfocus = "funcNumberfocus(this.id)", @onblur = "funcNumberblur(this.id)", @disabled = "disabled" })
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(m => m.sch_detail.sch_cargo[i].tolerance, Model.sch_detail.sch_cargo[i].tolerance, new { @class = "form-control cargo_tolerance", @type = "number", @disabled = "disabled" })
                                                        </td>
                                                        <td>
                                                            @Html.HiddenFor(m => m.sch_detail.sch_cargo[i].unit, Model.sch_detail.sch_cargo[i].unit)
                                                            @Html.HiddenFor(m => m.sch_detail.sch_cargo[i].others, Model.sch_detail.sch_cargo[i].others)
                                                            @if (Model.sch_detail.sch_cargo[i].unit == "OTHER")
                                                            {
                                                                @Html.DropDownListFor(m => m.sch_detail.sch_cargo[i].unit, new SelectList(Model.cargo_unit, "Value", "Text", Model.sch_detail.sch_cargo[i].unit), new { @class = "form-control cargo_unit unit-other-option", @disabled = "disabled" })
                                                                @Html.TextBoxFor(model => model.sch_detail.sch_cargo[i].others, new { @class = "form-control unit-other-text-active" })
                                                            }
                                                            else
                                                            {
                                                                @Html.DropDownListFor(m => m.sch_detail.sch_cargo[i].unit, new SelectList(Model.cargo_unit, "Value", "Text", Model.sch_detail.sch_cargo[i].unit), new { @class = "form-control cargo_unit", @disabled = "disabled" })
                                                                @Html.TextBoxFor(model => model.sch_detail.sch_cargo[i].others, new { @class = "form-control unit-other-text-unactive" })
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                            @if (ViewBag.PageMode == "EDIT" || ViewBag.PageMode == "ADD")
                            {
                                <div class="row">

                                    <input type="button" value="Add Cargo" class="btn btn-success" onclick="addCargo(); return false;" />
                                    <input type="button" value="Delete Cargo" class="btn btn-default" onclick="delCargo(); return false;" />
                                </div>
                            }
                        </div>
                    </div>
                </div>

                <!-- Load Port -->
                <div class="row">
                    <div class="form-group">
                        <label class="col-md-2 control-label">Load Port<span style="color:red">*</span></label>
                        <div class="col-md-10">
                            <div class="row">
                                <table class="table table-bordered PriceOfferTable">
                                    <thead>
                                        <tr>
                                            <th class="col-xs-4">Port No.</th>
                                            <th class="col-xs-8">Port Name</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tblLoadPort">
                                        @if (ViewBag.PageMode == "EDIT" || ViewBag.PageMode == "ADD")
                                        {
                                            if (Model.sch_detail != null && Model.sch_detail.sch_load_ports != null && Model.sch_detail.sch_load_ports.Count() > 0)
                                            {
                                                // กรณีมี ข้อมูล ให้ทำการแก้ไขได้
                                                for (int i = 0; i < Model.sch_detail.sch_load_ports.Count; i++)
                                                {
                                                    <tr>
                                                        <td style="text-align: center; vertical-align: middle;">
                                                            @Html.LabelFor(m => m.sch_detail.sch_load_ports[i].order, Model.sch_detail.sch_load_ports[i].order)
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(m => m.sch_detail.sch_load_ports[i].port, new { @class = "form-control lp_portname", @maxlength = "500" })
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                            else
                                            {
                                                // กรณีไม่มี ข้อมูล ให้ทำการเพิ่มได้
                                                <tr>
                                                    <td style="text-align: center; vertical-align: middle;">
                                                        1
                                                    </td>
                                                    <td>
                                                        @Html.TextBoxFor(m => m.sch_detail.sch_load_ports[0].port, new { @class = "form-control lp_portname", @maxlength = "500" })
                                                    </td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            // สำหรับแสดง อ่านอย่างเดียว
                                            if (Model.sch_detail != null && Model.sch_detail.sch_load_ports != null && Model.sch_detail.sch_load_ports.Count() > 0)
                                            {
                                                for (int i = 0; i < Model.sch_detail.sch_load_ports.Count; i++)
                                                {
                                                    <tr>
                                                        <td style="text-align: center; vertical-align: middle;">
                                                            @Html.LabelFor(m => m.sch_detail.sch_load_ports[i].order, Model.sch_detail.sch_load_ports[i].order)
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(m => m.sch_detail.sch_load_ports[i].port, new { @class = "form-control lp_portname", @disabled = "disabled" })
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                            @if (ViewBag.PageMode == "EDIT")
                            {
                                <div class="row">
                                    <input type="button" value="Add Port" class="btn btn-success" onclick="addLoadPort(); return false;" />
                                    <input type="button" value="Delete Port" class="btn btn-default" onclick="delLoadPort(); return false;" />
                                </div>
                            }
                        </div>
                    </div>
                </div>

                <!-- Dis Port -->
                <div class="row">
                    <div class="form-group">
                        <label class="col-md-2 control-label">Discharge Port<span style="color:red">*</span></label>
                        <div class="col-md-10">
                            <div class="row">
                                <table class="table table-bordered PriceOfferTable">
                                    <thead>
                                        <tr>
                                            <th class="col-xs-4">Port No.</th>
                                            <th class="col-xs-8">Port Name</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tblDisPort">
                                        @if (ViewBag.PageMode == "EDIT")
                                        {
                                            if (Model.sch_detail != null && Model.sch_detail.sch_dis_ports != null && Model.sch_detail.sch_dis_ports.Count() > 0)
                                            {
                                                // กรณีมี ข้อมูล ให้ทำการแก้ไขได้
                                                for (int i = 0; i < Model.sch_detail.sch_dis_ports.Count; i++)
                                                {
                                                    <tr>
                                                        <td style="text-align: center; vertical-align: middle;">
                                                            @Html.LabelFor(m => m.sch_detail.sch_dis_ports[i].order, Model.sch_detail.sch_dis_ports[i].order)
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(m => m.sch_detail.sch_dis_ports[i].port, new { @class = "form-control dp_portname", @maxlength = "500" })
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                            else
                                            {
                                                // กรณีไม่มี ข้อมูล ให้ทำการเพิ่มได้
                                                <tr>
                                                    <td style="text-align: center; vertical-align: middle;">
                                                        1
                                                    </td>
                                                    <td>
                                                        @Html.TextBoxFor(m => m.sch_detail.sch_dis_ports[0].port, new { @class = "form-control dp_portname", @maxlength = "500" })
                                                    </td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            // สำหรับแสดง อ่านอย่างเดียว
                                            if (Model.sch_detail != null && Model.sch_detail.sch_dis_ports != null)
                                            {
                                                for (int i = 0; i < Model.sch_detail.sch_dis_ports.Count; i++)
                                                {
                                                    <tr>
                                                        <td style="text-align: center; vertical-align: middle;">
                                                            @Html.LabelFor(m => m.sch_detail.sch_dis_ports[i].order, Model.sch_detail.sch_dis_ports[i].order)
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(m => m.sch_detail.sch_dis_ports[i].port, new { @class = "form-control dp_portname", @disabled = "disabled" })
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                            @if (ViewBag.PageMode == "EDIT" || ViewBag.PageMode == "ADD")
                            {
                                <div class="row">
                                    <input type="button" value="Add Port" class="btn btn-success" onclick="addDisPort(); return false;" />
                                    <input type="button" value="Delete Port" class="btn btn-default" onclick="delDisPort(); return false;" />
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>

            <!-- Note -->
            <div class="row">
                <div class="form-group">
                    <label class="col-md-2 control-label">Note</label>
                    <div class="col-md-10">
                        @if (ViewBag.PageMode == "EDIT")
                        {
                            @Html.TextAreaFor(m => m.sch_detail.note, new { @class = "form-control", @style = "min-height:109px;padding-top:10px;padding-bottom:10px;" })
                        }
                        else
                        {
                            @Html.TextAreaFor(m => m.sch_detail.note, new { @class = "form-control", @style = "min-height:109px;padding-top:10px;padding-bottom:10px;", @readonly = "true" })
                        }
                    </div>
                </div>
            </div>

            <div class="row">
                <h2>Attach File</h2>
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <button id="btn_upload_MultiFile" class="btn btn-success" type="button" onclick="addAttachFile('SCHEDULER','F10000009')"><span class="glyphicon glyphicon-upload" aria-hidden="true"></span>Select File</button><b id="b_file_other">PDF, Word, Excel, Image, Outlook</b>
                                    <input type="file" name="upload_MultiFile" id="upload_MultiFile" onchange="ValidateSingleInput(this,_DocFileExtensions);" multiple="multiple" accept=".msg,application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" style="display:none;" />
                                    <div id="filesUploaded"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Button -->
            <div class="wrapper-button row">
                <div class="col-md-12">
                    @*@Html.HiddenFor(m => m.ButtonCode, Model.ButtonCode)*@

                    @if (ViewBag.hdfFileUpload != "|")
                    {
                        @Html.Hidden("hdfFileUpload", ViewBag.hdfFileUpload as object)
                    }
                    else
                    {
                        @Html.Hidden("hdfFileUpload")
                    }

                    @if (ViewBag.ButtonMode == "AUTO")
                    {
                        <input type="submit" value="SAVE DRAFT" class="btn btn-default" onclick="OpenBoxBungerPrompt('Comment :', 'SaveDraft'); return false;" />
                        <input type="submit" value="SUBMIT" class="btn btn-default" name="action:Submit" onclick="OpenBoxBungerPrompt('Comment :', 'Submit'); return false;" />
                        <input type="button" class="btn btn-default" id="btnBack" onclick="location.href='@Url.Action("Search","Scheduler",new {Type=Convert.ToString(Session["Schedule_Type"]) })'" value="BACK TO HOME" />
                        <input type="submit" value="SAVE DRAFT" id="btnSaveDraft" style="display: none;" name="action:SaveDraft" />
                        <input type="submit" value="SUBMIT" id="btnSubmit" style="display: none;" name="action:Submit" />
                    }
                    else
                    {
                        @Html.Hidden("hdfEventClick")
                        @Html.Raw(@ViewBag.ButtonCode)
                    }

                </div>
            </div>

        </div>

    }

    @*modal*@
    <div class="modal fade " id="modal_freight" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width:90%;">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="panel panel-info">
                        <div class="panel-heading"><b id="b_headname_modal">Freight Search</b></div>
                        <div class="panel-body">
                            <div class="row" style="margin-bottom: 10px;">
                                <label class="col-md-1 control-label">Date</label>
                                <div class="col-md-3">
                                    @Html.TextBoxFor(model => Model.chot_modal_date, new { @class = "form-control input-date-picker" })
                                </div>
                                <label class="col-md-1 control-label">Vessel</label>
                                <div class="col-md-3">
                                    @Html.DropDownListFor(model => model.chot_modal_vessel, Model.vessel, "-- Select All --", new { @class = "form-control" })
                                </div>
                                <label class="col-md-1 control-label">Charterer</label>
                                <div class="col-md-3">
                                    @Html.DropDownListFor(model => model.chot_modal_charterer, Model.charterer_list, "-- Select All --", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row" style="margin-bottom: 10px;">
                                <label class="col-md-1 control-label">Laycan</label>
                                <div class="col-md-3">
                                    @Html.TextBoxFor(model => model.chot_modal_laycan, new { @class = "form-control input-date-picker" })
                                </div>
                                <label class="col-md-1 control-label">Laytime</label>
                                <div class="col-md-3">
                                    @Html.TextBoxFor(model => model.chot_modal_laytime, new { @class = "form-control" })
                                </div>
                                <label class="col-md-1 control-label">Cargo</label>
                                <div class="col-md-3">
                                    @Html.DropDownListFor(model => model.chot_modal_cargo, Model.cargo_list, "-- Select All --", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row" style="margin-bottom: 10px;">
                                <div class="col-md-12 text-center">
                                    <button class="btn btn-primary" onclick="onClickSearchFreight()">Search</button>
                                </div>
                            </div>
                            <div class="row">
                                <table id="table_freight_search" class="table table-hover table-striped table-bordered" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Freight No.</th>
                                            <th>Vessel Name</th>
                                            <th>Laycan </th>
                                            <th>Charterer</th>
                                            <th>Created by</th>
                                            <th>Last Update</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="waiting">
                                            <td colspan="7">Waiting for search</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!--For Alert Message Click button ohter -->
@if (TempData["res_message"] != null)
{
    if (TempData["returnPage"] != null)
    {
        <script type="text/javascript"> 
            OpenBoxPopupLink((@Html.Raw(Json.Encode(TempData["res_message"]))), @Html.Raw(Json.Encode(TempData["returnPage"]))).done(function() {
                $("#EventButton").val("0");
            });
        </script>
    }
    else
    {
        <script type="text/javascript">
            if(@Html.Raw(Json.Encode(TempData["res_message"])) == "Duplicate Period. Please select new Period.")
            { 
                addValidMessageError($('#schd_tempDate'), "Please input Value.");
                $('#schd_tempDate').focus();
            }
            OpenBoxPopup(@Html.Raw(Json.Encode(TempData["res_message"]))).done(function() { 
                $("#EventButton").val("0");
            });
        </script>
    }
}
<!-- Popup and Event Click  -->
<script type="text/javascript">
            window.onbeforeunload = function (evt) {
                var btnclick = false;
                if ($('#EventButton').val() == "0") {
                    btnclick = true;
                }
                if (btnclick) {
                    return "If you leave this page, your information will not be updated.";
                }

            }

            function OpenBoxBungerPrompt(MSG, Event) {
                SaveFileUpload();
                funcDeleteComma();
                if (Event.toUpperCase() == "SAVEDRAFT") {
                    if (!ValidateBeforeSaveDraft())
                        return false;
                }

                if (Event.toUpperCase() == "SUBMIT" || Event.toUpperCase() == "SAVE SCHEDULE") {
                    if (!ValidateBeforeSave(Event.toUpperCase()))
                        return false;
                }

                $('#EventButton').val("1");
                $('form').attr('target', '_self');


                if (Event != "SaveDraft" && Event != "SaveAndPreview" && Event != "Submit") {
                    if ($("#hdfEventClick").length != 0) {
                        $("#hdfEventClick").val(Event);
                    }
                }
                if (Event.toUpperCase() == "CANCEL") {
                    bootbox.prompt(MSG, function (result) {
                        if (result === null) {
                            //Do nothing (cancel button pressed)
                            $('#EventButton').val("0");
                        } else {
                            $("#hdfNoteAction").val(result);
                            $('form').attr('target', '_self');
                            if (Event == "SaveDraft" || Event == "SaveAndPreview") {
                                $("#btnSaveDraft").click();
                            } else if (Event == "Submit") {
                                $("#btnSubmit").click();
                            } else {
                                $("#btnMANUAL").click();
                            }
                            LoadingProcess();
                        }
                    });
                } else {
                    $('form').attr('target', '_self');
                    if (Event == "SaveDraft" || Event == "SaveAndPreview") {
                        $("#btnSaveDraft").click();
                    } else if (Event == "Submit") {
                        $("#btnSubmit").click();
                    } else {
                        $("#btnMANUAL").click();
                    }
                    LoadingProcess();
                }
            }

            function setColorPickerField() {
                $('.colorpicker-picker-option-selected').simplecolorpicker({
                    picker: true,
                    theme: 'glyphicons'
                });
            }

            function changecolorPicker(value) {
                var objHidden = document.getElementById("mva_Detail_Control_" + count + "__VACColor");
                objHidden.value = value;
            }
</script>

<!-- Add/Delete Data in table  -->
<script type="text/javascript">
    //****** Load Port  *******/
    function addLoadPort() {
        var i = $("#tblLoadPort tr").length;
        var newPort = "<tr><td style='text-align: center; vertical-align: middle;'>" + (i + 1) + "</td>";
        newPort += '<td><input class="form-control lp_portname" id="sch_detail_sch_load_ports_' + i + '__port" name="sch_detail.sch_load_ports[' + i + '].port" ></td>';
        newPort += '</tr>';
        $("#tblLoadPort").append(newPort);
        CheckLengthCtrl();
    }

    function delLoadPort() {
        //delete last row of load port.
        if ($("#tblLoadPort > tr").length > 1) {
            $("#tblLoadPort > tr").last().remove();
        }
    }

    //****** Dis Port  *******/
    function addDisPort() {
        var i = $("#tblDisPort tr").length;
        var newPort = "<tr>";
        newPort += "<td style='text-align: center; vertical-align: middle;'>" + (i + 1) + "</td>";
        newPort += '<td><input class="form-control dp_portname" id="sch_detail_sch_dis_ports_' + i + '__port" name="sch_detail.sch_dis_ports[' + i + '].port" ></td>';
        newPort += '</tr>';
        $("#tblDisPort").append(newPort);
        CheckLengthCtrl();
    }

    function delDisPort() {
        //delete last row of load port.
        if ($("#tblDisPort > tr").length > 1) {
            $("#tblDisPort > tr").last().remove();
        }
    }

    //****** Cargo  *******/
    function addCargo() {
        var i = $("#tblCargo tr").length;
        var newPort = '<tr><td style="text-align: center; vertical-align: middle;">' + (i + 1) + '</td><td><select class="form-control cargo_name" id="sch_detail_sch_cargo_' + i + '__cargo" name="sch_detail.sch_cargo[' + i + '].cargo">' +
            @foreach(var option in Model.cargo_list) {
                @: '<option value="@option.Value">@option.Text</option>' +
            }
        '</select></td>';
        newPort += '<td><input class="form-control cargo_qty cd_txt" id="sch_detail_sch_cargo_' + i + '__qty" name="sch_detail.sch_cargo[' + i + '].qty" type="text" onfocus="funcNumberfocus(this.id)" onblur="funcNumberblur(this.id)"></td>';
        newPort += '<td><input class="form-control cargo_tolerance cd_txt" id="sch_detail_sch_cargo_' + i + '__tolerance" name="sch_detail.sch_cargo[' + i + '].tolerance" step="any" type="number" ></td>';
        newPort += '<td><select class="form-control cargo_unit" id="sch_detail_sch_cargo_' + i + '__unit" name="sch_detail.sch_cargo[' + i + '].unit" onchange="onChangeUnitCargo(this);">' +
            @foreach(var option in Model.cargo_unit) {
                @: '<option value="@option.Value">@option.Text</option>' +
            }
        '</select><input class="form-control cg_Other cd_txt unit-other-text-unactive" id="sch_detail_sch_cargo_' + i + '__others" name="sch_detail.sch_cargo[' + i + '].others" step="any" ></td>';
        newPort += '</tr>';
        $("#tblCargo").append(newPort);
        CheckLengthCtrl();
    }
     
    function funcNumberfocus(id)
    {
        $('#'+id).val($('#'+id).val().replace(/,/g, ''));
    }

    function funcNumberblur(id)
    {
        var value = parseFloat($('#'+id).val().replace(/,/g, ''));
        if (!isNaN(value)) {
            if (value > 999999999999) {
                value = 999999999999;
            } 
            var tmp = $('#'+id).val().split(".");
            var lng = tmp.length;
            var digit = 0;
            if (lng > 1) {
                digit = tmp[1].length;
            }
            $('#'+id).val(value.toLocaleString('en-US', { minimumFractionDigits: digit, maximumFractionDigits: digit }));
        }
        else
            $('#'+id).val("");
    }
     

    function delCargo() {
        //delete last row of load port.
        if ($("#tblCargo > tr").length > 1) {
            $("#tblCargo > tr").last().remove();
        }
    }

    function onChangeUnitCargo(id) {
        var unit_row = $(id).attr("id").split("_")[4];
        if ($(id).val() == "OTHER") {
            $("#sch_detail_sch_cargo_" + unit_row + "__others").removeClass("unit-other-text-unactive");
            $("#sch_detail_sch_cargo_" + unit_row + "__others").addClass("unit-other-text-active");
            $(id).addClass("unit-other-option");
        } else {
            $("#sch_detail_sch_cargo_" + unit_row + "__others").addClass("unit-other-text-unactive");
            $(id).removeClass("unit-other-option");
        }
    }

    function onChangeFreightCal() {
        var freidght_id = $("#sch_detail_freight");
        if (freidght_id.val() != "") {
            $("#btn_link_freight_cal").css("background-color", "#AED6F1");
            $.ajax({
                url: '@Url.Action("FreightCalAjax", "Scheduler")',
                type: "GET",
                data: {
                    DOCNO: freidght_id.val()
                },
                complete: function(response) {
                    if (response.status == 200) {
                        var obj = $.parseJSON(response.responseJSON);
                        $("#h_freight_row_id").val(obj.row_id);
                        $("#h_freight_req_trans_id").val(obj.req_trans_id);
                    }
                }
            });

        } else {
            $("#btn_link_freight_cal").css("background-color", "");
            $("#h_freight_row_id").val("");
            $("#h_freight_req_trans_id").val("");
        }
    }

    function getFreightCalculation() {
        if ($("#h_freight_row_id").val() != "" || $("#h_freight_req_trans_id").val() != "") {
            window.open('@Url.Action("Create", "EstimateFreightCalculation")' + '?TranID=' + $("#h_freight_row_id").val() + '&Tran_Req_ID=' + $("#h_freight_req_trans_id").val(), '_blank');
        }
    }
</script>

<!-- Function for Date   -->
<script type="text/javascript">
    // Calculate day from date between
    function getDiffDay(dateFrom, dateTo) {
        var plus = 1; //สำหรับนับจำนวนวัน หากเลือกวันเริ่มต้นกับสิ้นสุดวันเดียวกัน
        var DateDiff = {

            inDays: function(d1, d2) {
                var t2 = d2.getTime();
                var t1 = d1.getTime();

                return parseInt((t2 - t1) / (24 * 3600 * 1000));
            },

            inWeeks: function(d1, d2) {
                var t2 = d2.getTime();
                var t1 = d1.getTime();

                return parseInt((t2 - t1) / (24 * 3600 * 1000 * 7));
            },

            inMonths: function(d1, d2) {
                var d1Y = d1.getFullYear();
                var d2Y = d2.getFullYear();
                var d1M = d1.getMonth();
                var d2M = d2.getMonth();

                return (d2M + 12 * d2Y) - (d1M + 12 * d1Y);
            },

            inYears: function(d1, d2) {
                return d2.getFullYear() - d1.getFullYear();
            }
        }

        //var dString = "May, 20, 1984";

        var d1 = new Date(dateFrom);
        var d2 = new Date(dateTo);


        return DateDiff.inDays(d1, d2) + plus;
    }

    // Set text day to spanId
    function setDayTextSpan(spanId, dateFrom, dateTo) {
        if (dateFrom == "" || dateTo == "" || spanId == "")
            return;

        var day = getDiffDay(dateFrom, dateTo);
        var dayShow = "";
        if (day > 1)
            dayShow = day + " Days";
        else
            dayShow = day + " Day";

        $("#" + spanId).html(dayShow);
    }

    // string date format("DD/MM/YYYY")
    function convertSrtingToDate(strDate) {
        if (strDate != "") {
            var parts = strDate.split('/');
            //please put attention to the month (parts[0]), Javascript counts months from 0:
            // January - 0, February - 1, etc
            return mydate = new Date(parts[2], parts[1], parts[0]);
        } else {
            return Date.now();
        }
    }


    @if(ViewBag.PageMode == "EDIT") {
        @Html.Raw(
            "$('#schd_tempDate').dateRangePicker(" +
            "{" +
            "startOfWeek: 'monday'," +
            "format: \"DD/MM/YYYY\"" +
            "});");

        @Html.Raw(
            "$('#schd_tempLaycan').dateRangePicker(" +
            " {" +
            "startOfWeek: 'monday'," +
            "format: \"DD/MM/YYYY\"" +
            "}).bind('datepicker-change', function(evt, obj) {" +
            "setDayTextSpan(\"spanLaycan\", obj.date1, obj.date2)" +
            "});");
    }

    $("#schd_tempLaycan").on('change keydown paste input', function() {
        setDay("Laycan");
    });

    function setDay(control) {
        var dateVal = $("#schd_temp" + control).val();
        if (!$.trim(dateVal).length) { // zero-length string AFTER a trim
            $('#span' + control).html("Day");
        } else {
            var dateSplit = dateVal.split(" ");
            setDayTextSpan("span" + control, convertSrtingToDate(dateSplit[0]), convertSrtingToDate(dateSplit[2]));
        }
    }
</script>

<!-- Function Main  -->
<script type="text/javascript">
    //$(document).on("pageload",function(){
    //    setDay("Sailing");
    //    setDay("Laycan");
    //});

    $(document).ready(function () {
        LoadFileUpload();
        // Selected Customer change color 

        $("#schd_vendorColorValue").change(function() {
            var values = $('option:selected', this).val().split('|');
            var color = values[0];
            var vendor_code = values[1];
            $("#vendor_color_box").css('background-color', color);
        });

        @if(Model.sch_detail != null) {
            if (Model.sch_detail.tentative == true) {
                @: $("#sch_detail_tentative").attr("checked", "checked");
                @: $("#sch_detail_tentative").attr("value", "true");
            }
            else {
                @: $("#sch_detail_tentative").removeAttr("checked");
                @: $("#sch_detail_tentative").attr("value", "false");
            }
        }

        $("#sch_detail_tentative").change(function() {
            if ($(this).is(":checked")) {
                $(this).attr("checked", "checked");
                $(this).attr("value", "true");
            } else {
                $(this).removeAttr("checked");
                $(this).attr("value", "false");
            }
        });

        CheckLengthCtrl();
        onChangeFreightCal();
        ScheduleTypeShowHide();
        setColorPickerField();

        setDay("Laycan");


    });
</script>

<!-- Validate  -->
<script type="text/javascript"> 

    function funcDeleteComma()
    {
        $(".cargo_qty").each(function() {
            $(this).val($(this).val().replace(/,/g, '')); 
        });
    }

    function CheckLengthCtrl() {
        CheckLength('@Html.IdFor(m => m.sch_detail.note)', '1000');
        $('.cargo_tolerance').each(function() {
            CheckLength(this.id, '1000');
        });
        $('.cargo_qty').each(function() {
            CheckLength(this.id, '20');
        });
        $('.cargo_unit').each(function() {
            CheckLength(this.id, '10');
        });

        CheckDateFormatFT('schd_tempLaycan');
        CheckDateFormatFT('schd_tempDate');
    }

    function ReMoveValidateClass() {
        $("#@Html.IdFor(m => m.sch_detail.vessel)").removeClass("input-error");

        $("#@Html.IdFor(m => m.schd_tempLaycan)").removeClass("input-error");
        $("#@Html.IdFor(m => m.schd_tempDate)").removeClass("input-error");

        $("#@Html.IdFor(m => m.schd_vendorColorValue)").removeClass("input-error");

        $(".cargo_name").removeClass("input-error");
        $(".cargo_tolerance").removeClass("input-error");
        $(".cargo_qty").removeClass("input-error");
        $(".cargo_unit").removeClass("input-error");
        $(".lp_portname").removeClass("input-error");
        $(".dp_portname").removeClass("input-error");
        $(".unit-other-text-active").removeClass("input-error");
    }

    function ValidateBeforeSaveDraft() {
        ReMoveValidateClass();
        var FocusCtrl = "";
        var i = 0;
        var ddlScheduleType = $('#@Html.IdFor(m => m.sch_detail.schedule_type)').val();

        //Vessel
        var ddlCustomer = $('#@Html.IdFor(m => m.sch_detail.vessel)').val();
        if (!ddlCustomer) {
            i++;
            addValidMessageError($('#@Html.IdFor(m => m.sch_detail.vessel)'), "Please input Value.");
            if (FocusCtrl == "") FocusCtrl = '#@Html.IdFor(m => m.sch_detail.vessel)';
        }

        if ($.trim($("#@Html.IdFor(m => m.schd_tempDate)").val()) == "") {
            i++;
            addValidMessageError($('.schd_tempDate'), "Please input Value.");
            if (FocusCtrl == "") FocusCtrl = '#@Html.IdFor(m => m.schd_tempDate)';
        }

        //debugger;
        if (FocusCtrl != "") $(FocusCtrl).focus();
        if (i > 0)
            return false;
        return true;
    }

    function ValidateBeforeSave() {
        ReMoveValidateClass();
        var FocusCtrl = "";
        var i = 0;
        var ddlScheduleType = $('#@Html.IdFor(m => m.sch_detail.schedule_type)').val();

        //Vessel
        var ddlCustomer = $('#@Html.IdFor(m => m.sch_detail.vessel)').val();
        if (!ddlCustomer) {
            i++;
            addValidMessageError($('#@Html.IdFor(m => m.sch_detail.vessel)'), "Please input Value.");
            if (FocusCtrl == "") FocusCtrl = '#@Html.IdFor(m => m.sch_detail.vessel)';
        }

        if ($.trim($("#@Html.IdFor(m => m.schd_tempDate)").val()) == "") {
            i++;
            addValidMessageError($('.schd_tempDate'), "Please input Value.");
            if (FocusCtrl == "") FocusCtrl = '#@Html.IdFor(m => m.schd_tempDate)';
        }

        //schd_tempDate
        if (ddlScheduleType == "Schedule") {

            //Charterer
            var ddlCustomer = $('#@Html.IdFor(m => m.schd_vendorColorValue)').val();
            if (!ddlCustomer) {
                i++;
                addValidMessageError($('#@Html.IdFor(m => m.schd_vendorColorValue)'), "Please input Value.");
                if (FocusCtrl == "") FocusCtrl = '#@Html.IdFor(m => m.schd_vendorColorValue)';
            }

            //Laycan
            if ($.trim($("#@Html.IdFor(m => m.schd_tempLaycan)").val()) == "") {
                i++;
                addValidMessageError($('.schd_tempLaycan'), "Please input Value.");
                if (FocusCtrl == "") FocusCtrl = '#@Html.IdFor(m => m.schd_tempLaycan)';
            }

            // Cargo

            //cargo_qty
            $(".cargo_qty").each(function() { 
                if ($.trim($(this).val()) == "") {
                    i++;
                    addValidMessageError($("#" + $(this).attr("id")), "Please input Value.");
                    if (FocusCtrl == "") FocusCtrl = $("#" + $(this).attr("id"));
                }
            });
            //cargo_tolerance
            $(".cargo_tolerance").each(function() {
                if ($.trim($(this).val()) == "") {
                    i++;
                    addValidMessageError($("#" + $(this).attr("id")), "Please input Value.");
                    if (FocusCtrl == "") FocusCtrl = $("#" + $(this).attr("id"));
                }
            });
            //unit-other-text-active
            $(".unit-other-text-active").each(function() {
                if ($.trim($(this).val()) == "") {
                    i++;
                    addValidMessageError($("#" + $(this).attr("id")), "Please input Value.");
                    if (FocusCtrl == "") FocusCtrl = $("#" + $(this).attr("id"));
                }
            });

            // Load Port
            //check dup lp_portname
            var HaveDup = false;
            $('.lp_portname').each(function() {
                if ($.trim($(this).val()) == "") {
                    i++;
                    addValidMessageError($("#" + $(this).attr("id")), "Please input Value.");
                    if (FocusCtrl == "") FocusCtrl = $("#" + $(this).attr("id"));
                }

                var Sup = $(this).val();
                count = 0;
                $('.lp_portname').each(function() {
                    if (Sup == $(this).val()) {
                        count++;
                    }
                    if (count > 1) {
                        HaveDup = true;
                    }
                });
            });
            //console.log('HaveDup:'+HaveDup);
            if (HaveDup) {
                i++;
                if (FocusCtrl == "") FocusCtrl = '#tblLoadPort';
                OpenBoxPopup('Load Port is duplicate!!!');
                return;
            }

            // Dis port
            //check dup dp_portname
            var HaveDup = false;
            $('.dp_portname').each(function() {
                if ($.trim($(this).val()) == "") {
                    i++;
                    addValidMessageError($("#" + $(this).attr("id")), "Please input Value.");
                    if (FocusCtrl == "") FocusCtrl = $("#" + $(this).attr("id"));
                }

                var Sup = $(this).val();
                count = 0;
                $('.dp_portname').each(function() {
                    if (Sup == $(this).val()) {
                        count++;
                    }
                    if (count > 1) {
                        HaveDup = true;
                    }
                });
            });
            //console.log('HaveDup:'+HaveDup);
            if (HaveDup) {
                i++;
                if (FocusCtrl == "") FocusCtrl = '#tblDisPort';
                OpenBoxPopup('Discharge Port is duplicate!!!');
                return;
            }
        } else if (ddlScheduleType == "Others") {
            //Detail
            var ddlCustomer = $('#@Html.IdFor(m => m.sch_detail.detail)').val();
            if (!ddlCustomer) {
                i++;
                addValidMessageError($('#@Html.IdFor(m => m.sch_detail.detail)'), "Please input Value.");
                if (FocusCtrl == "") FocusCtrl = '#@Html.IdFor(m => m.sch_detail.detail)';
            }
        }

        //debugger;
        if (FocusCtrl != "") $(FocusCtrl).focus();
        if (i > 0)
            return false;
        return true;
    }
</script>

<!-- ShowHide  -->
<script type="text/javascript">
    function ScheduleTypeShowHide() {
        //Vessel
        $("#divSchedule").show();
        $("#divOthers").hide();
        var ddlScheduleType = $('#@Html.IdFor(m => m.sch_detail.schedule_type)').val();
        if (ddlScheduleType == "Schedule") {
            $("#divSchedule").show();
            $("#divOthers").hide();
            $("#otherColor").hide();
            $(".icon").hide();
        } else {
            $("#divSchedule").hide();
            $("#divOthers").hide();
            $("#otherColor").show();
            $(".icon").hide();

            if (ddlScheduleType == "Tank Cleaning") {
                $("#otherColor").css('background-color', 'yellow');
            }
            if (ddlScheduleType == "Maintenance") {
                $("#otherColor").css('background-color', 'red');
            }
            if (ddlScheduleType == "Off-Hire") {
                $("#otherColor").css('background-color', 'black');
            }
            if (ddlScheduleType == "Others") {
                $("#divOthers").show();
                $("#otherColor").hide();
                $(".icon").show();
            }
        }
    }
</script>

<!-- UploadFile  -->
<script type="text/javascript">
    function MakeUploadTag(fileName) {
        var i = 0,
            length = fileName.length;
        var TmpFilename = fileName;
        for (i; i < length; i++) {
            TmpFilename = TmpFilename.replace("/", "|").replace("\\", "|")
        }
        var spltVal = TmpFilename.split("|");
        var htmlTag = '<div id=\"' + fileName + '\" class=\"uploadifyQueue\" style width=\"450px\">';
        htmlTag += '<div class=\"uploadifyQueueItem FileAttach\" value=\"' + fileName + '\">';
        @if(ViewBag.pageMode == "EDIT") {
            @: htmlTag += '<div class="cancel">';
            @: htmlTag += '<span class="glyphicon glyphicon-remove removeAttach"></span>';
            @: htmlTag += '</div>';
        }
        htmlTag += '<a target=\"_blank\" href=\"../../' + fileName + '\">' + spltVal[spltVal.length - 1] + '</a>';
        htmlTag += '</div>';
        htmlTag += '</div>';
        return htmlTag;
    }

    function MakeUploadTagExplan(fileName, MSG) {
        var i = 0,
            length = fileName.length;
        var TmpFilename = fileName;
        for (i; i < length; i++) {
            TmpFilename = TmpFilename.replace("/", "|").replace("\\", "|")
        }
        var spltVal = TmpFilename.split("|");
        var htmlTag = '<div id=\"' + fileName + '\" class=\"uploadifyQueue\" style width=\"450px\">';
        htmlTag += '<table><tr><td>';
        htmlTag += '<div class=\"uploadifyQueueItem ExplanAttach\" value=\"' + fileName + '\">';
        @if(ViewBag.pageMode == "EDIT") {
            @: htmlTag += '<div class="cancel">';
            @: htmlTag += '<span class="glyphicon glyphicon-remove removeExplanAttach"></span>';
            @: htmlTag += '</div>';
        }
        htmlTag += '<a target=\"_blank\" href=\"../../' + fileName + '\">' + spltVal[spltVal.length - 1] + '</a>';
        htmlTag += '</div>';
        htmlTag += '</div>';
        htmlTag += '</td><td width="10px;"></td><td vertical-align: middle;>';
        @if(ViewBag.pageMode == "EDIT") {
            @: htmlTag += '<input class="form-control txtUpload" style="width:400px; vertical-align: middle;" value=\"' + MSG + '\" id="txtUpload" ></input>';
        }
        else {
            @: htmlTag += '<input class="form-control txtUpload" style="width:400px; vertical-align: middle;" value=\"' + MSG + '\" id="txtUpload" readonly="true" ></input>';
        }
        htmlTag += '</td><tr><table>';
        return htmlTag;
    }

    var _ImageFileExtensions = [".jpg", ".jpeg", ".bmp", ".gif", ".png", ".tiff"];
    var _DocFileExtensions = [".doc", ".docx", ".xls", ".xlsx", ".pdf", ".msg"];

    function ValidateSingleInput(oInput, _validFileExtensions) {
        if (oInput.type == "file") {
            var sFileName = oInput.value;
            if (sFileName.length > 0) {
                var blnValid = false;
                for (var j = 0; j < _validFileExtensions.length; j++) {
                    var sCurExtension = _validFileExtensions[j];
                    if (sFileName.substr(sFileName.length - sCurExtension.length, sCurExtension.length).toLowerCase() == sCurExtension.toLowerCase()) {
                        blnValid = true;
                        break;
                    }
                }

                if (!blnValid) {
                    alert("allowed extensions are: " + _validFileExtensions.join(", "));
                    oInput.value = "";
                    return false;
                }
            }
        }
        return true;
    }

    function onShowFreightModal() {
        $('#modal_freight').modal('show');
        $('#chot_modal_date').val('');
        $('#chot_modal_vessel').val('');
        $('#chot_modal_charterer').val('');
        $('#chot_modal_laycan').val('');
        $('#chot_modal_laytime').val('');
        $('#chot_modal_cargo').val('');
        $('#table_freight_search').DataTable({
            "searching": true,
            "bSort": false,
            "jQueryUI": false,
            "destroy": true,
            "autoWidth": false,
            "data": []
        });
    }
    $("#chot_modal_laycan").dateRangePicker({
        autoClose: true,
        showShortcuts: false,
        format: "DD/MM/YYYY"
    });
    $("#chot_modal_date").dateRangePicker({
        autoClose: true,
        singleDate: true,
        showShortcuts: false,
        format: "DD/MM/YYYY"
    });

    function onClickSearchFreight() {
        var obj_search = {
            datestr: $("#chot_modal_date").val(),
            vessel: $("#chot_modal_vessel").val(),
            charterer: $("#chot_modal_charterer").val(),
            laycan: $("#chot_modal_laycan").val(),
            laytime: $("#chot_modal_laytime").val(),
            cargo: $("#chot_modal_cargo").val()
        }
        var data = getDataAjax(obj_search, "getFreightDataList");

        $('#table_freight_search').DataTable({
            "searching": true,
            "bSort": false,
            "jQueryUI": false,
            "destroy": true,
            "autoWidth": false,
            "data": data,
            "columns": [
                        { "data": null, "className": "dt-body-center", "mRender": function (data) { return data.chot_fcl_date; } },
                        { "data": null, "className": "dt-body-center", "mRender": function (data) { return '<a href="javascript:void(0)" onclick="onShowFreightData(\'' + data.chot_fcl_no + '\');">' + data.chot_fcl_no; } },
                        { "data": null, "className": "dt-body-center", "mRender": function (data) { return data.chot_fcl_vessel; } },
                        { "data": null, "className": "dt-body-center", "mRender": function (data) { return data.chot_fcl_laycan; } },
                        { "data": null, "className": "dt-body-center", "mRender": function (data) { return data.chot_fcl_charterer; } },
                        { "data": null, "className": "dt-body-center", "mRender": function (data) { return data.chot_fcl_create_by; } },
                        { "data": null, "className": "dt-body-center", "mRender": function (data) { return data.chot_fcl_update_date; } },
            ]
        });
    }

    function getDataAjax(obj, fnc) {
        var data;
        $.ajax({
            url: '@Url.Action("FUNCTIONS", "Scheduler")'.replace("FUNCTIONS", fnc),
            type: 'POST',
            data: obj,
            dataType: 'json',
            async: false,
            complete: function (_data) {
                data = _data.responseJSON;
            },
            error: function (response) {
                console.log(response);
            }
        });
        return data;
    }

    function onShowFreightData(no) {
        $('#modal_freight').modal('hide');
        $('#sch_detail_freight').val(no);
        onChangeFreightCal();
    }

</script>
<script src="~/Content/js/uploadFile.js"></script>