﻿
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="~/Content/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/bootstrap-combined.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/thaioil.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/daterangepicker.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/vessel-page-activity.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/ganttchart.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/prettify.css" />
    <script src="https://code.jquery.com/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Content/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/js/moment.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.daterangepicker.min.js"></script>
    <!--<script type="text/javascript" src="js/gistfile.js"></script>-->
    <style>
        * {
            -webkit-box-sizing: initial;
            -moz-box-sizing: initial;
            box-sizing: initial;
        }

        .year {
            display: none;
        }

        #dayhide {
            display: none;
        }
    </style>
</head>
<body>
    <div class="overlay"></div>
    <div class="header">
        <div class="wrapper-main">
            <div class="logo">
                <a href="#"><span>Thaioil</span></a>
            </div>
            <div class="menu-options"><span class="menu-action"><i></i></span></div>
            <div class="admin-name">
                <span> <img src="images/profile.jpg" alt=""> </span>
                <h3>Jeremy Salleega</h3>
                <p><a href="#">Sign out</a></p>
            </div>
        </div>
    </div>
    <div class="side-menus">
        <div class="wrapper">
            <div class="menu-close">CLOSE</div>
            <ul class="parent-menu">
                <li class="has-submenu1">
                    <a href="#">MASTER DATA</a>
                    <div class="sub-menu1">
                        <ul>
                            <li><a href="#">Customer</a></li>
                            <li><a href="#">Vendor / Supplier</a></li>
                            <li><a href="#">Crude</a></li>
                            <li><a href="#">Product</a></li>
                            <li><a href="#">Credit</a></li>
                            <li><a href="#">Distribution Channel</a></li>
                            <li><a href="#">Shipping Point</a></li>
                            <li><a href="#">Payment Term</a></li>
                            <li><a href="#">Vessel</a></li>
                            <li><a href="#">Port / Jetty</a></li>
                            <li><a href="#">Deal Status</a></li>
                            <li><a href="#">Calendar / Holiday</a></li>
                            <li><a href="#">User</a></li>
                            <li><a href="#">User Roles</a></li>
                            <li><a href="#">User Permission</a></li>
                            <li><a href="#">Change Password</a></li>
                            <li><a href="#">Broker</a></li>
                            <li><a href="#">BITR TD2, TD3, TD15</a></li>
                            <li><a href="#">Accounting Group</a></li>
                            <li><a href="#">DOEB</a></li>
                            <li><a href="#">World Scale</a></li>
                        </ul>
                    </div>
                </li>
                <li class="has-submenu1">
                    <a href="#">PRICING</a>
                    <div class="sub-menu1">
                        <ul>
                            <li><a href="#">Currency Code</a></li>
                            <li><a href="#">Exchange Rates</a></li>
                            <li class="has-submenu2">
                                <a href="#">Benchmark Price</a>
                                <div class="sub-menu2">
                                    <p class="title">Pricing / <span>Benchmark Price</span></p>
                                    <ul>
                                        <li><a href="#">Mitsui</a></li>
                                        <li><a href="#">Argus</a></li>
                                        <li><a href="#">ICIS</a></li>
                                        <li><a href="#">MOPs - Platts / Reuters</a></li>
                                        <li><a href="#">EPPO</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="has-submenu1">
                    <a href="#">CHARTERING</a>
                    <div class="sub-menu1">
                        <ul>
                            <li><a href="#">Pre-deals</a></li>
                            <li><a href="#">Request new charter<br>(Choose Cargo)</a></li>
                            <li><a href="#">Bunker Purchase</a></li>
                            <li><a href="#">Freight Calculation<br>(Sub screen)</a></li>
                            <li class="has-submenu2">
                                <a href="#">Reports</a>
                                <div class="sub-menu2">
                                    <p class="title">Chartering / <span>Reports</span></p>
                                    <ul>
                                        <li><a href="#">Chartering In Report</a></li>
                                        <li><a href="#">Chartering Out Report</a></li>
                                        <li><a href="#">Compare Fixing WS with BITR TD2 (Graph)</a></li>
                                        <li><a href="#">Benefit / Loss (Million Dollars) Compare actual fix rate with </a></li>
                                        <li><a href="#">BITR TD2 Average (Graph)</a></li>
                                        <li><a href="#">TC Performance per Voyage (Graph)</a></li>
                                        <li><a href="#">Benefit / Loss Time Charter (Graph)</a></li>
                                        <li><a href="#">Bunker / Gas Oil Purchase Report</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="has-submenu1">
                    <a href="#">VESSEL MANAGEMENT</a>
                    <div class="sub-menu1">
                        <ul>
                            <li><a href="#">Pre-deals</a></li>
                            <li><a href="#">Request new<br>Chartering In</a></li>
                            <li><a href="#">Request new<br>Chartering Out</a></li>
                            <li><a href="#">Vessel request</a></li>
                            <li><a href="#">Bunker Purchase</a></li>
                            <li><a href="#">Freight Calculation</a></li>
                            <li class="has-submenu2">
                                <a href="#">Reports</a>
                                <div class="sub-menu2">
                                    <p class="title">Vessel Management / <span>Reports</span></p>
                                    <ul>
                                        <li><a href="#">Chartering In Report</a></li>
                                        <li><a href="#">Chartering Out Report</a></li>
                                        <li><a href="#">Bunker / Gas Oil Purchase Report</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="has-submenu1">
                    <a href="#">HEDGING</a>
                    <div class="sub-menu1">
                        <ul>
                            <li><a href="#">Pre-Hedging</a></li>
                            <li><a href="#">Hedging Entry</a></li>
                            <li><a href="#">Update Contract Status</a></li>
                            <li><a href="#">Hedging Framework config</a></li>
                            <li class="has-submenu2">
                                <a href="#">Reports</a>
                                <div class="sub-menu2">
                                    <p class="title">Hedging / <span>Reports</span></p>
                                    <ul>
                                        <li><a href="#">Query the historical of trade information</a></li>
                                        <li><a href="#">Compare  historical information</a></li>
                                        <li><a href="#">Query the current/historical of market prices</a></li>
                                        <li><a href="#">Trade ticket confirmation form</a></li>
                                        <li><a href="#">Paper settlement report</a></li>
                                        <li><a href="#">MTM Raw Data</a></li>
                                        <li><a href="#">Credit Rating</a></li>
                                        <li><a href="#">M-1/M Crude Price Portion Monitor</a></li>
                                        <li><a href="#">Timely Confirmation Requirement Report + Graph</a></li>
                                        <li><a href="#">Deal Summary</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="has-submenu1">
                    <a href="#">NEW CRUDE MASTER</a>
                    <div class="sub-menu1">
                        <ul>
                            <li><a href="#">Request new crude</a></li>
                            <li><a href="#">Crude Oil Assay</a></li>
                            <li><a href="#">Crude Oil Quality<br>Monitoring Report</a></li>
                            <li><a href="#">Cam comparison report</a></li>
                            <li><a href="#">Crude Ranking report</a></li>
                            <li><a href="#">Crude Acceptance Matrix</a></li>
                            <li><a href="#">Crude Oil Listing</a></li>
                        </ul>
                    </div>
                </li>
                <li class="has-submenu1">
                    <a href="#">CRUDE PURCHASE</a>
                    <div class="sub-menu1">
                        <ul>
                            <li><a href="#">TPC Plan</a></li>
                            <li><a href="#">Request crude purchase</a></li>
                            <li><a href="#">Crude Purchase</a></li>
                            <li class="has-submenu2">
                                <a href="#">Reports</a>
                                <div class="sub-menu2">
                                    <p class="title">Crude Purchase / <span>Reports</span></p>
                                    <ul>
                                        <li><a href="#">LP Run Tracking Report</a></li>
                                        <li><a href="#">Crude Purchase Report</a></li>
                                        <li><a href="#">Historical Crude Purchase</a></li>
                                        <li><a href="#">Workflow Tracking Report</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="has-submenu1">
                    <a href="#">CRUDE IMPORT PLAN</a>
                    <div class="sub-menu1">
                        <ul>
                            <li><a href="#">Crude Planning</a></li>
                            <li><a href="#">Crude Booking</a></li>
                            <li><a href="#">Purchase Entry</a></li>
                            <li><a href="#">Swap Crude</a></li>
                            <li><a href="#">Borrow Crude</a></li>
                            <li><a href="#">Clear Line Crude</a></li>
                            <li><a href="#">Thoughput Fee</a></li>
                            <li class="has-submenu2">
                                <a href="#">Reports</a>
                                <div class="sub-menu2">
                                    <p class="title">Crude Import Plan / <span>Reports</span></p>
                                    <ul>
                                        <li><a href="#">Summary Vat Crude Report</a></li>
                                        <li><a href="#">Landed Cost</a></li>
                                        <li><a href="#">Insurance</a></li>
                                        <li><a href="#">Borrow Crude / Swap Crude / Crude Clear Line / Throughput Fee</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
            <div class="bg-sub-menu2"></div>
        </div>
    </div>
    <div class="main-content">
        <div class="heading-sec">
            <div class="row">
                <div class="col-xs-8">
                    <div class="heading-profile">
                        <ol class="breadcrumb">
                            <li><a href="#">Home</a></li>
                            <li>Vessel Management</li>
                            <li></li>
                        </ol>
                        <h2>VESSEL SCHEDULE / BOOKING</h2>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="box-date">
                        <div class="date">Wed</div>
                        <div class="year">JUL 14, 2016</div>
                        <div class="time">08:43 AM</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-content-area">
            <div class="tab-month">
                <h4>Today</h4><span class="borderright"></span>
                <span class="data-month">JULY 2016</span>
                <a class="btn-prevmonth"></a><a class="btn-nextmonth"></a>
                <input type="text" id="select-date" class="form-control input-date-picker" value="" placeholder="Select date">
            </div>
            <div class="chart">
                <h3>Vessel Name</h3>
                <div class="gantt"></div>
            </div>
            <div class="wrapper-detail row">
                <div class="col-xs-6">
                    <h2 class="title">Add new schedule</h2>
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="form-group">
                                <label class="col-xs-5 control-label">Vessel Name</label>
                                <div class="col-xs-7">
                                    <select class="form-control">
                                        <option>Phubai Pattra 5</option>
                                        <option>Test 1</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-5 control-label">Laycan</label>
                                <div class="col-xs-7">
                                    <input type="text" class="form-control" value="DD.MM.YYYY - DD.MM.YYYY" disabled>
                                    <span class="days-unit">5 Days</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label class="col-xs-5 control-label">Date</label>
                                <div class="col-xs-7">
                                    <input type="text" id="select-date2" class="form-control btn-selectdate input-date-picker" value="" placeholder="DD.MM.YYYY - DD.MM.YYYY">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-5 control-label">Salling</label>
                                <div class="col-xs-7">
                                    <input type="text" class="form-control" value="DD.MM.YYYY - DD.MM.YYYY" disabled>
                                    <span class="days-unit">8 Days</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label class="col-xs-5 control-label">Estimated Freight Calculation</label>
                                <div class="col-xs-7">
                                    <select class="form-control">
                                        <option>CHRT-1607-04 ds</option>
                                        <option>Test 1</option>
                                        <option>Test 2</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-5 control-label">Laytime</label>
                                <div class="col-xs-7">
                                    <input type="text" class="form-control inputhours" value="1.25">
                                    <span class="hours-unit">Hrs</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label class="col-xs-5 control-label">User Customer</label>
                                <div class="col-xs-7">
                                    <select class="form-control">
                                        <option>Phubai Pattra 5</option>
                                        <option>Phubai Pattra 4</option>
                                        <option>Phubai Pattra 2</option>
                                        <option>Phubai Pattra 1</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-5 control-label">Note</label>
                                <div class="col-xs-7">
                                    <textarea class="form-control" style="min-height:109px;padding-top:10px;padding-bottom:10px;"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="btn-addmore"><a href=""><img src="images/icon-add-more.png"> Add more schedule</a></div>
                    </div>
                </div>

                <div class="col-xs-6">
                    <h2 class="title" style="padding: 20px 0 0;">Add new activity</h2>
                    <div class="form-horizontal add-new-activity">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-xs-6">
                                    <div class="number-title">1</div>
                                    <label class="control-label">Activity Name</label>
                                </div>
                                <div class="col-xs-6 input-right">
                                    <input type="text" class="form-control" value="Activity Name">
                                </div>
                                <div class="col-xs-6">
                                    <div class="number-title blank"> </div>
                                    <label class="control-label">Select date</label>
                                </div>
                                <div class="col-xs-6 input-right">
                                    <input type="text" id="select-date3" class="form-control btn-selectdate input-date-picker" value="" placeholder="DD.MM.YYYY HH:mm - DD.MM.YYYY HH:mm">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-6">
                                    <div class="number-title">2</div>
                                    <label class="control-label">Activity Name</label>
                                </div>
                                <div class="col-xs-6 input-right">
                                    <input type="text" class="form-control" value="Activity Name">
                                </div>
                                <div class="col-xs-6">
                                    <div class="number-title blank"> </div>
                                    <label class="control-label">Select date</label>
                                </div>
                                <div class="col-xs-6 input-right">
                                    <input type="text" id="select-date4" class="form-control btn-selectdate input-date-picker" value="" placeholder="DD.MM.YYYY HH:mm - DD.MM.YYYY HH:mm">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-6">
                                    <div class="number-title">3</div>
                                    <label class="control-label">Activity Name</label>
                                </div>
                                <div class="col-xs-6 input-right">
                                    <input type="text" class="form-control" value="Activity Name">
                                </div>
                                <div class="col-xs-6">
                                    <div class="number-title blank"> </div>
                                    <label class="control-label">Select date</label>
                                </div>
                                <div class="col-xs-6 input-right">
                                    <input type="text" id="select-date5" class="form-control btn-selectdate input-date-picker" value="" placeholder="DD.MM.YYYY HH:mm - DD.MM.YYYY HH:mm">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-6">
                                    <div class="number-title">4</div>
                                    <label class="control-label">Activity Name</label>
                                </div>
                                <div class="col-xs-6 input-right">
                                    <input type="text" class="form-control" value="Activity Name">
                                </div>
                                <div class="col-xs-6">
                                    <div class="number-title blank"> </div>
                                    <label class="control-label">Select date</label>
                                </div>
                                <div class="col-xs-6 input-right">
                                    <input type="text" id="select-date6" class="form-control btn-selectdate input-date-picker" value="" placeholder="DD.MM.YYYY HH:mm - DD.MM.YYYY HH:mm">
                                </div>
                            </div>


                        </div>
                        <div class="btn-addmore"><a href=""><img src="images/icon-add-more.png"> Add more activity</a></div>
                    </div>
                </div>
                <!--  -->

            </div>
            <div class="wrapper-button row">
                <div class="col-xs-12">
                    <button class="btn btn-success">Submit schedule</button>
                    <button class="btn btn-default">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <div class="footer">© Copyright 2011 a company of Thai Oil Group. All rights reserved.</div>

    <script src="~/Content/js/jquery.fn.gantt.js"></script>
    <script src="~/Content/js/moment.min.js"></script>
    <script src="~/Content/js/prettify.js"></script>

    <script type="text/javascript">
    $(document).ready(function(){
        $('.menu-options').click(function(){
            $('body').addClass('menu-show');
            $('.side-menus').fadeIn();
            $('.overlay').fadeIn();
        });
        $('.menu-close').click(function(){
            $('body').removeClass('menu-show');
            $('.side-menus').fadeOut();
            $('.overlay').fadeOut();
            $('.has-submenu1').removeClass('open');
            $('.has-submenu2').removeClass('open');
            $('.bg-sub-menu2').fadeOut("fast");
        });
        $('.has-submenu1>a').click(function(){
            if ($(this).parent().hasClass('open')){
              $(this).parent().removeClass('open');
            }else{
              $('.has-submenu1').removeClass('open');
              $(this).parent().addClass('open');
            }
        });
        $('.has-submenu2').click(function(){
            $('.has-submenu2').removeClass('open');
            $(this).addClass('open');
            $('.bg-sub-menu2').fadeIn('fast');
        });
         $('.parent-menu>li>a').click(function(){
            $('.bg-sub-menu2').fadeOut('fast');
            $('.has-submenu2').removeClass('open');
        });

        $('td.edit input').click(function(){
            if($(this).is(':checked')) {
                $('td.edit').parent().removeClass('selected');
                $(this).parent().parent().parent().addClass('selected');
            }else{
                $(this).parent().parent().parent().removeClass('selected');
            }
        });
        $('.dropdown-toggle').dropdown();
        $('.btn-supplier').click(function(){
          $('#priceOffer tbody:last').append('<tr> <td class="edit"> <div class="radio"> <input type="radio" id="radioboxtable0" name="test01"> <label for="radioboxtable0"></label> </div> <label>Edit</label> </td> <td class="dropdown"> <div class="dropdown"> <a id="drop01" data-target="#" href="#" data-toggle="dropdown" role="button"> Scaninavian Bunkering </a> <ul class="dropdown-menu" aria-labelledby="drop01"> <li><a href="#">Supplier Name 01</a></li> <li><a href="#">Supplier Name 02</a></li> <li><a href="#">Supplier Name 03</a></li> <li><a href="#">Supplier Name 04</a></li> <li><a href="#">Supplier Name 05</a></li> </ul> </div> </td> <td> <textarea></textarea> </td> <td> <textarea></textarea> </td> <td> <textarea></textarea> </td> <td> <textarea></textarea> </td> <td> <textarea></textarea> </td> <td> <textarea></textarea> </td> <td> <textarea></textarea> </td> <td> <textarea></textarea> </td> <td> <textarea></textarea> </td> <td> <textarea></textarea> </td> <td> <textarea></textarea> </td> </tr>');
        });


    });
    </script>
    <script type="text/javascript">
        $('#select-date').dateRangePicker(
        {
            autoClose: true,
            singleDate : true,
            showShortcuts: false,
            format: 'DD-MM-YYYY',
        });
        $('#select-date2').dateRangePicker(
        {
            startOfWeek: 'monday',
            format: 'DD-MM-YYYY',
        });
        $('#select-date3').dateRangePicker(
        {
            startOfWeek: 'monday',
            format: 'DD-MM-YYYY HH:mm',
			time: {
				enabled: true
			}
        });
        $('#select-date4').dateRangePicker(
        {
            startOfWeek: 'monday',
            format: 'DD-MM-YYYY HH:mm',
			time: {
				enabled: true
			}
        });
        $('#select-date5').dateRangePicker(
        {
            startOfWeek: 'monday',
            format: 'DD-MM-YYYY HH:mm',
			time: {
				enabled: true
			}
        });
        $('#select-date6').dateRangePicker(
        {
            startOfWeek: 'monday',
            format: 'DD-MM-YYYY HH:mm',
			time: {
				enabled: true
			}
        });

    </script>
    <script>
	$(".gantt").gantt({
    source: [{
    		name: "Phubai Pattra 1 (8,706.56 m3)",
    		values: [{
    				from: Date.parse("6/30/2016 00:00"),
    				to: Date.parse("7/1/2016 23:59"),
    				label: "Domestics PX 5 KT (by SMPC)<br><span>30 Jun - 1 Jun</span>",
    				customClass: "ganttBlue"
    			}
    		]

    	}, {
    		name: "",
    		values: [{
    				from: Date.parse("6/30/2016 00:00"),
					to: Date.parse("6/30/2016 08:30"),
					label: "Activity 1<br><span>00:00 - 08:30</span>",
					customClass: "ganttTeal"
    			}
    		]
    	}, {
    		name: "",
    		values: [{
    				from: Date.parse("6/30/2016 08:30"),
					to: Date.parse("6/30/2016 12:00"),
					label: "Activity 2<br><span>08:30 - 12:00</span>",
					customClass: "ganttSkyBlue"
    			}
    		]
    	}, {
    		name: "",
    		values: [{
    				from: Date.parse("6/30/2016 12:00"),
					to: Date.parse("6/30/2016 15:30"),
					label: "Activity 3<br><span>12:00 - 15:30</span>",
					customClass: "ganttLightBlue"
    			}
    		]
    	}, {
    		name: "",
    		values: [{
    				from: Date.parse("6/30/2016 15:30"),
					to: Date.parse("6/30/2016 18:00"),
					label: "Activity 4<br><span>15:30 - 18:00</span>",
					customClass: "ganttTurquoise"
    			}
    		]
    	}
    ],
    scale: "hours",
	minScale: "hours",
	maxScale: "hours",
	navigate: "scroll",
	scrollToToday: true,
	});
    </script>
    <script>
function myFunction() {
    document.getElementById("ganttDropdown").classList.toggle("show");
}
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
function myFunction2() {
    document.getElementById("ganttDropdown2").classList.toggle("show");
}
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn2')) {

    var dropdowns = document.getElementsByClassName("dropdown-content2");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
function myFunction3() {
    document.getElementById("ganttDropdown3").classList.toggle("show");
}
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn3')) {

    var dropdowns = document.getElementsByClassName("dropdown-content3");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
function myFunction4() {
    document.getElementById("ganttDropdown4").classList.toggle("show");
}
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn4')) {

    var dropdowns = document.getElementsByClassName("dropdown-content4");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
function myFunction5() {
    document.getElementById("ganttDropdown5").classList.toggle("show");
}
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn5')) {

    var dropdowns = document.getElementsByClassName("dropdown-content5");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
function myFunction6() {
    document.getElementById("ganttDropdown6").classList.toggle("show");
}
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn6')) {

    var dropdowns = document.getElementsByClassName("dropdown-content6");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
    </script>
    <script type="text/javascript">
jQuery(document).ready(function() {
	if (navigator.appVersion.indexOf("MSIE 9.") != -1) {
    	jQuery('body').addClass('ie9');
	}
});
    </script>

<script>
jQuery(document).ready(function() {
	if(navigator.userAgent.match(/Trident.*rv:11\./)) {
		jQuery('body').addClass('ie');
	}
});
</script>
</body>
</html>
