﻿@using ProjectCPAIEngine.Utilities
@using ProjectCPAIEngine.Areas.CPAIMVC.ViewModels

<div class="modal fade" id="dgDealConfirm" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h3 class="modal-title">Confirm</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        @Html.Label("txtDealReason", "Reason", new { @class = "control-label", @id= "ReasonTitle" })
                        <span class="require">*</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        @Html.TextArea("txtDealReason", new { @class = "form-control txtExplanation" })
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-12 text-right">
                        <button type="button" class="btn btn-info" onclick="onOKConfirm()">OK</button>
                        <button type="button" class="btn btn-info" onclick="onCancelConfirm()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('#txtDealReason').change(function () {
            $('#txtDealReason').parent().removeClass("has-warning");
        });
    });

    function onOKConfirm() {
        if ($('#txtDealReason').val() == '') {
            $('#txtDealReason').parent().addClass("has-warning");
            return;
        }
        $('#dgDealConfirm').modal('hide');
    }
    function onCancelConfirm() {
        $('#dgDealConfirm').modal('hide');
    }
</script>