﻿@using ProjectCPAIEngine.Utilities
@using ProjectCPAIEngine.Areas.CPAIMVC.ViewModels

<div class="modal fade" id="dgDealHistory" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h3 class="modal-title">History</h3>
            </div>
            <div class="modal-body">
                <div class="row tab-deal-history">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a aria-controls="dealActivityLog" role="tab" data-toggle="tab" data-target=".tab-deal-history">
                                Activity Log
                            </a>
                        </li>
                        <li role="presentation">
                            <a aria-controls="dealActivityReason" role="tab" data-toggle="tab" data-target=".tab-deal-history">
                                Reason
                            </a>
                        </li>
                    </ul>                    
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="dealActivityLog">
                        </div>
                        <div role="tabpanel" class="tab-pane" id="dealActivityReason">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

