﻿
@{
    ViewBag.Title = "UploadExcel";
    //Layout = "~/Areas/CPAIMVC/Views/Shared/_Layout.cshtml";
}

<h2>UploadExcel</h2>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default" style="min-height:510px;">
            <div class="panel-body">
                <h3 style="font-weight:bold; margin-top:-10px;">Create from Excel file</h3>
                <form class="form-horizontal" action="Upload" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="file" id="inputExellFile" name="inputExcelFile" style="width:100%;" accept=".xls,.xlsx" placeholder="Please select an excel file">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-9">
                            <button type="submit" class="btn btn-default" name="createFromExellBtn" id="btnUpload" value="Y">Upload</button>
                            @Html.ActionLink("BACK", "Search", new { controller = "HedgingManagementCounterparty" }, htmlAttributes: new { @class = "btn btn-default" })
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@if (TempData["ReponseMessage"] != null)
{
    <script>
        $(document).ready(function () {
            $('#resultPopup').modal({ backdrop: 'static', keyboard: false });
            $('#resultPopup').modal('show');
        });
    </script>
}
<div class="modal fade" id="resultPopup" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <p>
                    @TempData["ReponseMessage"]
                </p>
            </div>
            <div class="modal-footer">

                @if (TempData["ReponseStatus"] != null && TempData["ReponseStatus"].ToString().ToUpper() == "FALSE")
                {
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                }
                else
                {
                    @Html.ActionLink(
                             "Close",
                             "UploadExcel",
                             "HedgingManagementCounterparty", // controllerName
                                                              //new
                                                              //{                                                     // routeValues
                                                              //    cpID = TempData["RowID"]
                                                              //},
                             htmlAttributes: new { @class = "btn btn-default" });
                }
            </div>
        </div>
    </div>
</div>
