﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.PurchaseOrderViewModel
    
@{
    if (ViewBag.ChangePOCompleted != null && ViewBag.ChangePOCompleted == true)
    {
        if (ViewBag.ChangePOResult)
        {
            <script>
                bootbox.alert("Send changed PO to SAP successfully");        
            </script>
        }
        else
        {
            <script>
                var msg = "Error - " + "@ViewBag.ChangePOResutDesc";
                bootbox.alert(msg);
            </script>
        }

        ViewBag.ChangePOCompleted = false;
        ViewBag.ChangePOResult = false;
    }
    else if (ViewBag.CancelPOCompleted != null && ViewBag.CancelPOCompleted == true)
    {
        if (ViewBag.CancelPOResult)
        {
            <script>
                bootbox.alert("Send cancelled PO to SAP successfully");
            </script>
        }
        else
        {
            <script>
                var msg = "Error - " + "@ViewBag.CancelPOResultDesc";
                bootbox.alert(msg);
            </script>
        }

        ViewBag.CancelPOCompleted = false;
        ViewBag.CancelPOResult = false;
    }

    if (ViewBag.EditPOResult != null)
    { 
        if (ViewBag.EditPOResult)
        {
            <script>
                bootbox.alert("Save changed to PO successfully.");
            </script>
        }
        else
        {
            <script>
                bootbox.alert("Save changed to PO failed.");
            </script>
        }
        ViewBag.EditPOResult = null;
    }

    ViewBag.ChangePOCompleted = false;
    string actionName = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString().ToUpper();
    if (actionName == "CREATE")
    {
        ViewBag.Title = "Add Purchase Order";
    }
    else if (actionName == "EDIT")
    {
        ViewBag.Title = "Edit Purchase Order";
    }
    else if (actionName == "VIEWDETAIL")
    {
        ViewBag.Title = "View Purchase Order";
    }

    var volumnUnitGC = ProjectCPAIEngine.DAL.DALMaster.MasterData.GetJsonMasterSetting("CIP_INTER_COM");
    var javaScriptSerializer = new System.Web.Script.Serialization.JavaScriptSerializer();
    Newtonsoft.Json.Linq.JObject json = Newtonsoft.Json.Linq.JObject.Parse(String.IsNullOrEmpty(volumnUnitGC) ? "" : volumnUnitGC);
    ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.VolumnUnits volumnUnits = (ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.VolumnUnits)Newtonsoft.Json.JsonConvert.DeserializeObject(json.ToString(), typeof(ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.VolumnUnits));

    List<SelectListItem> volumnUnitList = new List<SelectListItem>();
    if (volumnUnits != null)
    {
        foreach (var volumnUnit in volumnUnits.VOLUMN_UNIT)
        {
            volumnUnitList.Add(new SelectListItem
            {
                Text = volumnUnit.NAME,
                Value = volumnUnit.NAME
            });
        }
    }

    ViewBag.VolumnUnitList = volumnUnitList;
}

<style>
     .ui-autocomplete {
         max-height: 100px;
         overflow-y: auto;
         /* prevent horizontal scrollbar */
         overflow-x: hidden;
     }
     /* IE 6 doesn't support max-height
    * we use height instead, but this forces the menu to always be this tall
    */
     * html .ui-autocomplete {
         height: 100px;
     }
</style>

<script>
    // Count System Row Index of Dyanamic Add
    var count = 0;
</script>

@if (TempData["ReponseStatus"] != null)
{
    // if POST check Response and Disble background layout of Modal Popup
    <script>
        $(document).ready(function () {
            $('#resultPopup').modal({ backdrop: 'static', keyboard: false });
            $('#resultPopup').modal('show');
            setReBody();
        });
    </script>
}

<div class="page-header">
    <h2>@ViewBag.Title</h2>
</div>

@using (Html.BeginForm("", "", FormMethod.Post, new Dictionary<string, object>
{ { "role","form" }, { "class","form-horizontal"}, { "data-toggle", "validator" }, { "id","createForm" } }))
{
    <div class="row">
        <div class="col-md-12">            
            <div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-sm-4">PO No. :</label>
                        <div align="left" class="col-sm-8">                            
                            @Model.PurchaseOrder_Detail.PoNo
                            @Html.HiddenFor(model => model.PurchaseOrder_Detail.PoNo)
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-4">Purchased By :</label>
                        <div class="col-sm-8">
                            @Model.PurchaseOrder_Detail.CompanyName
                            @Html.HiddenFor(model => model.PurchaseOrder_Detail.CompanyName)
                        </div>
                    </div>   
                    
                    <div class="form-group">
                        <label class="control-label col-sm-4">SO No. :</label>
                        <div class="col-sm-8">
                            @Model.PurchaseOrder_Detail.SoNo
                            @Html.HiddenFor(model => model.PurchaseOrder_Detail.SoNo)
                        </div>
                    </div>  
                </div>  

                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-sm-4">PO Date :</label>
                        <div class="col-sm-8">
                            @{
                                try
                                {
                                    string poDate = Model.PurchaseOrder_Detail.PoDate;
                                    var dateToDisplay = Convert.ToDateTime(poDate).ToString("dd/MM/yyyy");
                                    var lastDay = DateTime.DaysInMonth(Convert.ToDateTime(poDate).Year, Convert.ToDateTime(poDate).Month) + "/" + Convert.ToDateTime(poDate).Month.ToString("00") + "/" + Convert.ToDateTime(poDate).Year.ToString();
                                    dateToDisplay = dateToDisplay + " - " + lastDay;
                                    @dateToDisplay
                                }
                                catch
                                {
                                    @Model.PurchaseOrder_Detail.PoDate
                                }
                            }

                            @Html.HiddenFor(model => model.PurchaseOrder_Detail.PoDate)
                        </div>
                    </div>                    

                    <div class="form-group">
                        <label class="control-label col-sm-4">Supplier :</label>
                        <div class="col-sm-8">
                            @Model.PurchaseOrder_Detail.AccVendor
                            @Html.HiddenFor(model => model.PurchaseOrder_Detail.AccVendor)
                            @Html.HiddenFor(model => model.PurchaseOrder_Detail.AccNumVendor)
                        </div>
                    </div>                         

                    <div class="form-group" id="divCreateDate">
                        <label class="control-label col-sm-4">Created Date :</label>
                        <div class="col-sm-8">
                            @Model.PurchaseOrder_Detail.CreateDate
                            @Html.HiddenFor(model => model.PurchaseOrder_Detail.CreateDate)
                        </div>
                    </div>
                </div> 

                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-sm-4">Trip No. :</label>
                        <div align="left" class="col-sm-8">
                            @if (Model.PurchaseOrder_Detail.Control.Count() > 0)
                            {
                                @Model.PurchaseOrder_Detail.Control[0].TripNo
                                @Html.HiddenFor(model => model.PurchaseOrder_Detail.Control[0].TripNo)
                            }
                        </div>

                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-4">Incoterms :</label>
                        <div class="col-sm-8">
                            @Model.PurchaseOrder_Detail.Incoterms
                            @Html.HiddenFor(model => model.PurchaseOrder_Detail.Incoterms)
                        </div>
                    </div>

                    <div class="form-group" id="divCreateBy">
                        <label class="control-label col-sm-4">Created By :</label>
                        <div class="col-sm-8">
                            @Model.PurchaseOrder_Detail.CreateBy
                            @Html.HiddenFor(model => model.PurchaseOrder_Detail.CreateBy)
                        </div>
                    </div>

                    @Html.HiddenFor(model => model.PurchaseOrder_Detail.PurchasingGroup)
                    @Html.HiddenFor(model => model.PurchaseOrder_Detail.Currency)
                    @Html.HiddenFor(model => model.PurchaseOrder_Detail.FXBot)
                    @Html.HiddenFor(model => model.PurchaseOrder_Detail.PoDate)
                    @Html.HiddenFor(model => model.PurchaseOrder_Detail.OriginCountry)
                    @Html.HiddenFor(model => model.PurchaseOrder_Detail.SoNo)
                </div>
            </div>
        </div>
    </div>

    <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>PO Item</th>
                            <th>Feedstock</th>
                            <th>Volume</th>
                            <th>Volume Unit</th>
                            <th>Unit Price</th>
                            <th>Total Amount</th>
                            <th>Currency</th>
                        </tr>
                    </thead>
                    <tbody id="systemArr">
                        @for (int i = 0; i < Model.PurchaseOrder_Detail.Control.Count; i++)
                        {
                            <tr>
                                <td>
                                    @Model.PurchaseOrder_Detail.Control[i].PoItem
                                    @Html.HiddenFor(model => model.PurchaseOrder_Detail.Control[i].PoItem)
                                </td>
                                <td>
                                    @Model.PurchaseOrder_Detail.Control[i].MetNum
                                    @Html.HiddenFor(model => model.PurchaseOrder_Detail.Control[i].MetNum)
                                </td>                             
                                <td>
                                    @if (actionName.ToUpper() == "VIEWDETAIL")
                                    { @Convert.ToDecimal(Model.PurchaseOrder_Detail.Control[i].Volume).ToString("#,##0.0000") }
                                    else
                                    { @Html.TextBoxFor(model => model.PurchaseOrder_Detail.Control[i].Volume, htmlAttributes: new { @class = "form-control tagsSystem", @required = "required", @onfocus = "getSystemJSON()", Value = Convert.ToDecimal(Model.PurchaseOrder_Detail.Control[i].Volume).ToString("#,##0.0000"), @autocomplete = "off", @maxlength = "32" }) }
                                    
                                </td>
                                <td>
                                    @if (actionName.ToUpper() == "VIEWDETAIL")
                                    { @Model.PurchaseOrder_Detail.Control[i].VolumeUnit }
                                    else
                                    { @Html.DropDownListFor(model => model.PurchaseOrder_Detail.Control[i].VolumeUnit, new SelectList((List<SelectListItem>)ViewBag.VolumnunitList, "Value", "Text", Model.PurchaseOrder_Detail.Control[i].VolumeUnit), null, new { @class = "form-control" }) }                                    
                                </td>

                                <td> 
                                    @if (actionName.ToUpper() == "VIEWDETAIL")
                                    { @(Convert.ToDecimal(Model.PurchaseOrder_Detail.Control[i].UnitPrice).ToString("#,##0.0000") + " " + Model.PurchaseOrder_Detail.Control[i].Currency + "/" + Model.PurchaseOrder_Detail.Control[i].VolumeUnit) }
                                    else
                                    {
                                        <div style="float:left; width:80%">
                                            @Html.TextBoxFor(model => model.PurchaseOrder_Detail.Control[i].UnitPrice, htmlAttributes: new { @class = "form-control tagsSystem", Value=Convert.ToDecimal(Model.PurchaseOrder_Detail.Control[i].UnitPrice).ToString("#,##0.0000") })
                                        </div>
                                        <div style="float:right; width:20%">@Model.PurchaseOrder_Detail.Control[i].Currency/@Model.PurchaseOrder_Detail.Control[i].VolumeUnit</div>
                                    }                                    
                                </td>

                                <td>
                                    @{ 
                                        var totalAmount = String.Format("{0:n}", Convert.ToDecimal(@Model.PurchaseOrder_Detail.Control[i].TotalAmount));
                                    }
                                    @totalAmount
                                    @Html.HiddenFor(model => model.PurchaseOrder_Detail.Control[i].TotalAmount)
                                </td>
                                <td>
                                    @Model.PurchaseOrder_Detail.Control[i].Currency
                                    @Html.HiddenFor(model => model.PurchaseOrder_Detail.Control[i].Currency)
                                    @Html.HiddenFor(model => model.PurchaseOrder_Detail.Control[i].ShortText)
                                    @Html.HiddenFor(model => model.PurchaseOrder_Detail.Control[i].Plant)
                                    @Html.HiddenFor(model => model.PurchaseOrder_Detail.Control[i].TripNo)
                                    @Html.HiddenFor(model => model.PurchaseOrder_Detail.Control[i].VendorNo)
                                    @Html.HiddenFor(model => model.PurchaseOrder_Detail.Control[i].CargoNo)
                                    @Html.HiddenFor(model => model.PurchaseOrder_Detail.Control[i].FKPoNo)
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="5">
                                @*<a class="btn btn-default addCF" href="javascript:void(0);" role="button">Add</a>*@
                            </td>
                        </tr>
                    </tfoot>

                    </table>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="text-center">
                                <button type="submit" value="SUBMIT" class="btn btn-primary actionButton" name="save"   onclick="OpenBoxBungerPrompt('Comment :', 'Edit');   return false;">SAVE</button>                                
                                <button type="submit" value="SUBMIT" class="btn btn-default actionButton" name="change" onclick="OpenBoxBungerPrompt('Comment :', 'Change'); return false;">Change PO to SAP</button>
                                <button type="submit" value="SUBMIT" class="btn btn-default actionButton" name="cancel" onclick="OpenBoxBungerPrompt('Comment :', 'Cancel'); return false;">CANCEL</button>
                                <button type="reset" class="btn btn-default actionButton">CLEAR</button>
                                @Html.ActionLink("BACK", "Search", new { controller = "PurchaseOrder" }, htmlAttributes: new { @class = "btn btn-default" })
                                <input type="submit" value="SAVE"   id="btnSave"   style="display: none;" name="action:Edit" />
                                <input type="submit" value="CHANGE" id="btnChange" style="display: none;" name="action:Change" />
                                <input type="submit" value="CANCEL" id="btnCancel" style="display: none;" name="action:Cancel" />
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        
}

@if (actionName.ToUpper() == "VIEWDETAIL")
{
    <script>
        $("input").attr("readonly", true);
        $("select").attr("disabled", true);
        $('textarea').attr("readonly", true);
        $('input[type="checkbox"]').attr("disabled", true);
        $('.actionButton').hide();
        $('tfoot').hide();
        $('#purchaseOrderDate').attr("disabled", true);
        $('#createdDate').attr("disabled", true);
        $('#divCreateDate').show();
        $('#divCreateBy').show();
    </script>
}
else if (actionName.ToUpper() == "EDIT")
{
    <script>
        
    </script>
}

<script>
    
    function OpenBoxBungerPrompt(MSG, Event) {
        if (Event.toUpperCase() == "change") {
            if (!ValidateBeforeSave())
                return false;
        }
        if (Event == "Edit") {
            setTimeout(function () {
                $('form').attr('target', '_self');
                $("#btnSave").click();
            }, 1000);
        }
        else if (Event == "Change") {
            OpenBoxConfirm('Do you want to send the changed PO to SAP?', 'CHANGE');
        } else if (Event == "Cancel") {
            OpenBoxConfirm('Do you want to send the cancelled PO to SAP?', 'CANCEL');
        }
    }

    function ValidateBeforeSave() {

        return true;
    }

    function OpenBoxConfirm(MSG, action) {
        bootbox.confirm(MSG, function (result) {
            if (result === null || result === "") {
                //Do nothing
            } else {
                if (result === true) {
                    if (action.toUpperCase() === 'CHANGE') {
                        setTimeout(function () {
                            $('form').attr('target', '_self');
                            $("#btnChange").click();
                        }, 1000)
                    } else if (action.toUpperCase() === 'CANCEL') {
                        setTimeout(function () {
                            $('form').attr('target', '_self');
                            $("#btnCancel").click();
                        }, 1000)
                    }
                } else {
                    //User click cancel, do nothing
                }
            }
        });
    }

    //Get System Automplete
    function getSystemJSON() {
        var availableData = JSON.parse($("#SystemJSON").val());
        $(".tagsSystem").autocomplete({
            source: function (request, response) {
                var re = $.ui.autocomplete.escapeRegex(request.term);
                var matcher = new RegExp("^" + re, "i");
                response($.grep(($.map(availableData, function (v, i) {

                    return {
                        label: v.System,
                        value: v.System
                    };
                })), function (item) {
                    return matcher.test(item.value);
                }))

            },
            minLength: 0,
        }).click(function () {
            $(this).autocomplete("search");
        });
    }// End System Autocomplete

    //Get System Automplete
    function getSystemJSON() {
        var availableData = JSON.parse($("#SystemJSON").val());
        $(".tagsSystem").autocomplete({
            source: function (request, response) {
                var re = $.ui.autocomplete.escapeRegex(request.term);
                var matcher = new RegExp("^" + re, "i");
                response($.grep(($.map(availableData, function (v, i) {

                    return {
                        label: v.System,
                        value: v.System
                    };
                })), function (item) {
                    return matcher.test(item.value);
                }))

            },
            minLength: 0,
        }).click(function () {
            $(this).autocomplete("search");
        });
    }// End Type Autocomplete

    // Dynamic Add Row
    $(".addCF").click(function () {
        $("#systemArr").append('<tr>'
            + '<td>'
            + '<input autocomplete="off" class="form-control tagsSystem" id="PurchaseOrder_Detail_Control_' + count + '__PoItem" name="purchaseOrder_Detail.Control[' + count + '].PoItem" onfocus="getSystemJSON()" type="text" value="" disabled />'
            + '</td>'
            + '<td>'
            + '<input autocomplete="off" class="form-control tagsSystem" id="PurchaseOrder_Detail_Control_' + count + '__ShortText" name="purchaseOrder_Detail.Control[' + count + '].ShortText" onfocus="getSystemJSON()" required="required" type="text" value="" />'
            + '</td>'
            + '<td>'
            + '<input autocomplete="off" class="form-control tagsSystem" id="PurchaseOrder_Detail_Control_' + count + '__MetNum" name="purchaseOrder_Detail.Control[' + count + '].MetNum" onfocus="getSystemJSON()" required="required" type="text" value="" />'
            + '</td>'
            + '<td>'
            + '<input autocomplete="off" class="form-control tagsSystem" id="PurchaseOrder_Detail_Control_' + count + '__Plant" name="purchaseOrder_Detail.Control[' + count + '].Plant" onfocus="getSystemJSON()" required="required" type="text" value="" />'
            + '</td>'
            + '<td>'
            + '<input autocomplete="off" class="form-control tagsSystem" id="PurchaseOrder_Detail_Control_' + count + '__StorageLocation" name="purchaseOrder_Detail.Control[' + count + '].StorageLocation" onfocus="getSystemJSON()" required="required" type="text" value="" />'
            + '</td>'
            + '<td>'
            + '<input autocomplete="off" class="form-control tagsSystem" id="PurchaseOrder_Detail_Control_' + count + '__TripNo" name="purchaseOrder_Detail.Control[' + count + '].TripNo" onfocus="getSystemJSON()" required="required" type="text" value="" />'
            + '</td>'
            + '<td>'
            + '<input autocomplete="off" class="form-control tagsSystem" id="PurchaseOrder_Detail_Control_' + count + '__Volume" name="purchaseOrder_Detail.Control[' + count + '].Volume" onfocus="getSystemJSON()" required="required" type="text" value="" />'
            + '</td>'
            + '<td>'
            + '<input autocomplete="off" class="form-control tagsSystem" id="PurchaseOrder_Detail_Control_' + count + '__VolumeUnit" name="purchaseOrder_Detail.Control[' + count + '].VolumeUnit" onfocus="getSystemJSON()" required="required" type="text" value="" />'
            + '</td>'
            + '<td>'
            + '<input autocomplete="off" class="form-control tagsSystem" id="PurchaseOrder_Detail_Control_' + count + '__UnitPrice" name="purchaseOrder_Detail.Control[' + count + '].UnitPrice" onfocus="getSystemJSON()" required="required" type="text" value="" />'
            + '</td>'
            + '<td>'
            + '<input autocomplete="off" class="form-control tagsSystem" id="PurchaseOrder_Detail_Control_' + count + '__Currency" name="purchaseOrder_Detail.Control[' + count + '].Currency" onfocus="getSystemJSON()" required="required" type="text" value="" />'
            + '</td>'
            + '<td>'
            + '<input autocomplete="off" class="form-control tagsSystem" id="PurchaseOrder_Detail_Control_' + count + '__Vendor" name="purchaseOrder_Detail.Control[' + count + '].Vendor" onfocus="getSystemJSON()" required="required" type="text" value="" />'
            + '</td>'
            + '<td>'
            + '<input autocomplete="off" class="form-control tagsSystem" id="PurchaseOrder_Detail_Control_' + count + '__CargoNo" name="purchaseOrder_Detail.Control[' + count + '].CargoNo" onfocus="getSystemJSON()" required="required" type="text" value="" />'
            + '</td>'
            + '<td>'
            + '<input autocomplete="off" class="form-control tagsSystem" id="PurchaseOrder_Detail_Control_' + count + '__SOUserName" name="purchaseOrder_Detail.Control[' + count + '].SOUserName" onfocus="getSystemJSON()" required="required" type="text" value="" />'
            + '</td>'
            + '<td>'
            + '<a href="javascript:void(0);" class="remCF" onclick="return confirmDeletSystemRow();"><img src="../../Web/Images/btn-delete.png" />'
            + '</td>'
            + '</tr>'
        );

        count++;

        ReindexController();

        $('#createForm').validator("update");
        $('#createForm').validator("validate");
    });

    function confirmDeletSystemRow() {
        var conf = confirm("Please confirm to Delete?");
        if (conf) {
            $("#systemArr").on('click', '.remCF', function () {
                $(this).parent().parent().remove();

                ReindexController();

                $('#createForm').validator("update");
                $('#createForm').validator("validate");
            });
        }
    }

    function ReindexController()
    {        
        var itemIndex =0;
        $('#systemArr tr').each(function(){
            var this_row = $(this);
            this_row.find('input[name$=".PoItem"]').attr('name', 'PurchaseOrder_Detail.Control[' + itemIndex + '].PoItem');
            this_row.find('input[name$=".ShortText"]').attr('name', 'PurchaseOrder_Detail.Control[' + itemIndex + '].ShortText');
            this_row.find('input[name$=".MetNum"]').attr('name', 'PurchaseOrder_Detail.Control[' + itemIndex + '].MetNum');
            this_row.find('input[name$=".Plant"]').attr('name', 'PurchaseOrder_Detail.Control[' + itemIndex + '].Plant');
            this_row.find('input[name$=".StorageLocation"]').attr('name', 'PurchaseOrder_Detail.Control[' + itemIndex + '].StorageLocation');
            this_row.find('input[name$=".TripNo"]').attr('name', 'PurchaseOrder_Detail.Control[' + itemIndex + '].TripNo');
            this_row.find('input[name$=".Volume"]').attr('name', 'PurchaseOrder_Detail.Control[' + itemIndex + '].Volume');
            this_row.find('input[name$=".VolumeUnit"]').attr('name', 'PurchaseOrder_Detail.Control[' + itemIndex + '].VolumeUnit');
            this_row.find('input[name$=".UnitPrice"]').attr('name', 'PurchaseOrder_Detail.Control[' + itemIndex + '].UnitPrice');
            this_row.find('input[name$=".Currency"]').attr('name', 'PurchaseOrder_Detail.Control[' + itemIndex + '].Currency');
            this_row.find('input[name$=".Vendor"]').attr('name', 'PurchaseOrder_Detail.Control[' + itemIndex + '].Vendor');
            this_row.find('input[name$=".CargoNo"]').attr('name', 'PurchaseOrder_Detail.Control[' + itemIndex + '].CargoNo');
            this_row.find('input[name$=".SOUserName"]').attr('name', 'PurchaseOrder_Detail.Control[' + itemIndex + '].SOUserName');
            itemIndex ++;
        });
    }

</script>
