﻿@using ProjectCPAIEngine.Utilities
@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.HedgeSteeringCommitteeChoiceViewModel
@{
    Layout = null;
}

<!-- INTIALIZATION STYLE -->
<style>
    fieldset.scheduler-border {
        border: 1px groove #ddd !important;
        padding: 0 1.4em 0 1.4em !important;
        margin: 0 0 0 0 !important;
        -webkit-box-shadow: 0px 0px 0px 0px #000;
        box-shadow: 0px 0px 0px 0px #000;
    }

    legend.scheduler-border {
        display: block;
        margin-bottom: 0 !important;
        font-size: 21px;
        line-height: inherit;
        color: #333;
        border: 0;
        width: 0 !important;
        padding-right: 50px;
        padding-left: 5px;
        border-bottom: none;
    }
</style>

<!-- INITIALIZATION SCRIPT -->
<script type="text/javascript">

    // PREPARATION DROPDOWN MODEL //
    var ddl_hedge_extend_choice_title = [];
    var ddl_hedge_extend_choice_product = [];
    var ddl_hedge_extend_choice_unit_price = [];
    var ddl_hedge_extend_choice_unit_volume = [];
    var ddl_hedge_extend_choice_min_max = [];
    @{
        // PREPARE HEDGE TITLE //
        if (Model.ddlHedgeTitle != null)
        {
            foreach (var hedgeTitle in Model.ddlHedgeTitle)
            {
                <text>
                var hedge_title = { "Value": "@hedgeTitle.Value", "Text": "@hedgeTitle.Text" };
                ddl_hedge_extend_choice_title.push(hedge_title);
                </text>
            }
        }

        // PREPARE HEDGE PRODUCT //
        if (Model.ddlHedgeProduct != null)
        {
            foreach (var hedgeProduct in Model.ddlHedgeProduct)
            {
                <text>
                var hedge_product = { "Value": "@hedgeProduct.Value", "Text": "@hedgeProduct.Text" };
                ddl_hedge_extend_choice_product.push(hedge_product);
                </text>
            }
        }

        // PREPARE HEDGE UNIT PRICE //
        if (Model.ddlHedgeUnitPrice != null)
        {
            foreach (var hedgeUnitPrice in Model.ddlHedgeUnitPrice)
            {
                <text>
                var hedge_unit_price = { "Value": "@hedgeUnitPrice.Value", "Text": "@hedgeUnitPrice.Text" };
                ddl_hedge_extend_choice_unit_price.push(hedge_unit_price);
                </text>
            }
        }
        // PREPARE HEDGE UNIT VOLUMN //
        if (Model.ddlHedgeUnitVolume != null)
        {
            foreach (var hedgeUnitVolume in Model.ddlHedgeUnitVolume)
            {
                <text>
                var hedge_unit_volume = { "Value": "@hedgeUnitVolume.Value", "Text": "@hedgeUnitVolume.Text" };
                ddl_hedge_extend_choice_unit_volume.push(hedge_unit_volume);
                </text>
            }
        }
        // PREPARE HEDGE MIN MAX //
        if (Model.ddlHedgeMinMax != null)
        {
            foreach (var hedgeMinMax in Model.ddlHedgeMinMax)
            {
                <text>
                var hedge_min_max = { "Value": "@hedgeMinMax.Value", "Text": "@hedgeMinMax.Text" };
                ddl_hedge_extend_choice_min_max.push(hedge_min_max);
                </text>
            }
        }
    }
</script>

<div class="col-md-6">
    <div class="form-group col-md-8">
        <label class="col-md-4 control-label">Extend Volume</label>
        <div class="col-md-8">
            <div class="input-group">
                @Html.TextBoxFor(model => model.main_volume, new { @class = "form-control 2-digits", @onkeypress = "return ValidateNumberDigit(event,this);", @onchange = "OnChangeHedgeSteeringCommitteeExtendChoiceMainVolume('" + Html.NameFor(model => model) + "')" })
                @Html.HiddenFor(model => model.unit_volume, Model.unit_volume)
                <span name="span.@(Html.NameFor(model => model.unit_volume))" class="input-group-addon">
                    @if (!string.IsNullOrEmpty(Model.unit_volume))
                    {
                        @Html.Raw(Model.unit_volume);
                    }
                    else
                    {
                        @Html.Raw("N/A");
                    }
                </span>  
            </div>          
        </div>
    </div>
    <div class="form-group col-md-4">
        <label class="col-md-3 col-md-offset-1 control-label">Unit</label>
        <div class="col-md-8">
            @if (!string.IsNullOrEmpty(Model.unit_price))
            {
                @Html.DropDownListFor(model => model.unit_price, new SelectList(Model.ddlHedgeUnitPrice, "Value", "Text", Model.unit_price), "-- Select --", new { @class = "form-control essential-before", @onchange = "OnChangeHedgeSteeringCommitteeExtendChoiceUnitPrice('" + Html.NameFor(model => model) + "')" })
            }
            else
            {
                @Html.DropDownListFor(model => model.unit_price, new SelectList(Model.ddlHedgeUnitPrice, "Value", "Text"), "-- Select --", new { @class = "form-control essential-before", @onchange = "OnChangeHedgeSteeringCommitteeExtendChoiceUnitPrice('" + Html.NameFor(model => model) + "')" })
            }
        </div>
    </div>
    
</div>


<!-- Add/Delete Hedge Steering Committee Extend Choice -->
<div class="form-group">
    <div class="pull-right">
        <button type="button" name="button.AddHedgeSteeringCommitteeExtendChoice" class="button-control btn btn-success" data-toggle="modal" data-target=".bs-add-modal-hegde-steering-committee-extend-choice" style="background:#e21789" onclick="return OnPrepareAddHedgeSteeringCommitteeExtendChoice()">Add Extend Choice</button>
        <button type="button" name="button.DeleteHedgeSteeringCommitteeExtendChoice" class="button-control btn btn-primary" data-toggle="modal" data-target=".bs-delete-modal-hegde-steering-committee-extend-choice" onclick="return OnPrepareDeleteHedgeSteeringCommitteeExtendChoice()">Delete Extend Choice</button>
    </div>
</div>

<!-- Model Add Hedge Steering Committee Extend Choice -->
<div class="modal fade bs-add-modal-hegde-steering-committee-extend-choice" tabindex="-1" role="dialog" aria-labelledby="hegde-steering-committee-extend-choice-label">
    <div class="modal-dialog modal-lg" role="document" style="width:600px">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add New Hedging Steering Committee Extend Choice</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-1"></div>
                            <label class="col-md-3 control-label">Choice Name<span style="color:red">*</span> :</label>
                            <div class="col-md-6">                                
                                @Html.TextBoxFor(model => model.hedge_steering_committee_choice_detail_name, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="OpenBoxBungerPromptHedgeSteeringCommitteeExtendChoice('Comment :', 'AddHedgeSteeringCommitteeExtendChoice');">Add</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <input type="submit" style="display: none;" name="action:AddHedgeSteeringCommitteeExtendChoice" />
            </div>
        </div>
    </div>
</div>

<!-- Model Delete Hedge Steering Committee Extend Choice -->
<div class="modal fade bs-delete-modal-hegde-steering-committee-extend-choice" tabindex="-1" role="dialog" aria-labelledby="hegde-steering-committee-extend-choice-label">
    <div class="modal-dialog modal-lg" role="document" style="width:600px">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title control-label">Are you sure to delete this hedge steering committee extend choice?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="OpenBoxBungerPromptHedgeSteeringCommitteeExtendChoice('Comment :', 'DeleteHedgeSteeringCommitteeExtendChoice');">Delete</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <input type="submit" style="display: none;" name="action:DeleteHedgeSteeringCommitteeExtendChoice" />
            </div>
        </div>
    </div>
</div>


<!-- Hedge Steering Committee Extend Choices -->
<div class="row">
@if (Model.hedge_steering_committee_choice_details.Any())
{
    Model.hedge_steering_committee_choice_details = Model.hedge_steering_committee_choice_details.OrderBy(o => Convert.ToDecimal(o.order)).ToList();
    <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist" style="margin-bottom:10px;">
            @for (int i = 0; i < Model.hedge_steering_committee_choice_details.Count; i++)
            {
                if (Model.hedge_steering_committee_choice_details[i].name == Model.hedge_steering_committee_choice_detail_name)
                {
                    <li role="presentation" id="nav-tab-hedge-steering-committee-extend-choice-hedge-steering-committee-choice-details-@i" class="nav-tab nav-tab-hedge-steering-committee-extend-choice-hedge-steering-committee-choice-details active" data-content="@Model.hedge_steering_committee_choice_details[i].name"><a href="#tab-content-hedge-steering-committee-extend-choice-hedge-steering-committee-choice-details-@i" aria-controls="tab-content-hedge-steering-committee-choice-details-@i" role="tab" data-toggle="tab" >@Model.hedge_steering_committee_choice_details[i].name</a></li>
                }
                else
                {
                    <li role="presentation" id="nav-tab-hedge-steering-committee-extend-choice-hedge-steering-committee-choice-details-@i" class="nav-tab nav-tab-hedge-steering-committee-extend-choice-hedge-steering-committee-choice-details" data-content="@Model.hedge_steering_committee_choice_details[i].name"><a href="#tab-content-hedge-steering-committee-extend-choice-hedge-steering-committee-choice-details-@i" aria-controls="tab-content-hedge-steering-committee-choice-details-@i" role="tab" data-toggle="tab">@Model.hedge_steering_committee_choice_details[i].name</a></li>
                }
            }
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            @for (int i = 0; i < Model.hedge_steering_committee_choice_details.Count; i++)
            {
                <input type="hidden" name="@Html.NameFor(model => model.hedge_steering_committee_choice_details[i].name)" value="@Model.hedge_steering_committee_choice_details[i].name" />
                <input type="hidden" name="@Html.NameFor(model => model.hedge_steering_committee_choice_details[i].order)" value="@Model.hedge_steering_committee_choice_details[i].order" />                        
                <div role="tabpanel" class="tab-pane @{ if (Model.hedge_steering_committee_choice_details[i].name == Model.hedge_steering_committee_choice_detail_name) { <text>active</text> } }" id="tab-content-hedge-steering-committee-extend-choice-hedge-steering-committee-choice-details-@i" name="tabpanel.@(Html.NameFor(model => model.hedge_steering_committee_choice_details[i]))" >
                    <div class="row" style="padding:10px;">
                        <div class="col-md-6">
                            <div class="form-group col-md-8">
                                <label class="col-md-4 control-label">Package Name</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.hedge_steering_committee_choice_details[i].package_name, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="col-md-3 col-md-offset-1 control-label">Type</label>
                                <div class="col-md-8">
                                    @if (!string.IsNullOrEmpty(Model.hedge_steering_committee_choice_details[i].min_max))
                                    {
                                        @Html.DropDownListFor(model => model.hedge_steering_committee_choice_details[i].min_max, new SelectList(Model.ddlHedgeMinMax, "Value", "Text", Model.hedge_steering_committee_choice_details[i].min_max), "-- Select --", new { @class = "form-control essential-before" })
                                    }
                                    else
                                    {
                                        @Html.DropDownListFor(model => model.hedge_steering_committee_choice_details[i].min_max, new SelectList(Model.ddlHedgeMinMax, "Value", "Text"), "-- Select --", new { @class = "form-control essential-before" })
                                    }
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="radio pull-right">
                                @Html.HiddenFor(model => model.hedge_steering_committee_choice_details[i].underlying_type, Model.hedge_steering_committee_choice_details[i].underlying_type)

                                <input type="radio" id="radio_@(Html.IdFor(model => model.hedge_steering_committee_choice_details[i].underlying_type))_none" name="radio.@(Html.NameFor(model => model.hedge_steering_committee_choice_details[i].underlying_type))" onchange="OnChangeHedgeSteeringCommitteeExtendChoiceHedgeSteeringCommitteeChoiceDetailsUnderlyingType('@(Html.NameFor(model => model.hedge_steering_committee_choice_details[i]))')" value="N" class="form-control" @(Model.hedge_steering_committee_choice_details[i].underlying_type == "N" ? "checked='checked'" : "")>
                                <label for="radio_@(Html.IdFor(model => model.hedge_steering_committee_choice_details[i].underlying_type))_none" style="margin-right:15px;">None</label>
                                
                                <input type="radio" id="radio_@(Html.IdFor(model => model.hedge_steering_committee_choice_details[i].underlying_type))_subtract" name="radio.@(Html.NameFor(model => model.hedge_steering_committee_choice_details[i].underlying_type))" onchange="OnChangeHedgeSteeringCommitteeExtendChoiceHedgeSteeringCommitteeChoiceDetailsUnderlyingType('@(Html.NameFor(model => model.hedge_steering_committee_choice_details[i]))')" value="S" class="form-control" @(Model.hedge_steering_committee_choice_details[i].underlying_type == "S" ? "checked='checked'" : "")>
                                <label for="radio_@(Html.IdFor(model => model.hedge_steering_committee_choice_details[i].underlying_type))_subtract" style="margin-right:15px;">Subtract</label>

                                <input type="radio" id="radio_@(Html.IdFor(model => model.hedge_steering_committee_choice_details[i].underlying_type))_devide" name="radio.@(Html.NameFor(model => model.hedge_steering_committee_choice_details[i].underlying_type))" onchange="OnChangeHedgeSteeringCommitteeExtendChoiceHedgeSteeringCommitteeChoiceDetailsUnderlyingType('@(Html.NameFor(model => model.hedge_steering_committee_choice_details[i]))')" value="D" class="form-control" @(Model.hedge_steering_committee_choice_details[i].underlying_type == "D" ? "checked='checked'" : "")>
                                <label for="radio_@(Html.IdFor(model => model.hedge_steering_committee_choice_details[i].underlying_type))_devide">Devide</label>
                            </div>
                        </div>
                    </div>

                    <!-- Primary Table -->
                    <div name="section.@(Html.NameFor(model => model.hedge_steering_committee_choice_details[i].hedge_steering_committee_choice_underlying_primaries))" class="row">
                        <div class="col-md-12" style="overflow: scroll;max-height:500px;">
                            <table class="table table-hedge-steering-committee-extend-choice-hedge-steering-committee-choice-details" style="min-width: 1000px">
                                <thead>
                                    <tr>
                                        <th rowspan="2" style="width:300px">AF Frame</th>
                                        <th colspan="2" style="width:300px">Product</th>
                                        <th rowspan="2" style="width:100px">Weight (%)</th>
                                        <th rowspan="2" style="width:100px">Weight Volume</th>
                                        <th rowspan="2" style="width:50px">Unit Volume</th>
                                        <th rowspan="2" style="width:100px">AF Price</th>
                                        <th rowspan="2" style="width:85px">Unit Price</th>
                                        <th rowspan="2" style="width:100px">Type</th>
                                        <th rowspan="2" style="width:100px">Action</th>
                                    </tr>
                                    <tr>
                                        <th style="width:150px">Front</th>
                                        <th style="width:150px">Back</th>
                                    </tr>
                                </thead>
                                <tbody name="@Html.NameFor(model => model.hedge_steering_committee_choice_details[i].hedge_steering_committee_choice_underlying_primaries)">
                                    @if (Model.hedge_steering_committee_choice_details[i].hedge_steering_committee_choice_underlying_primaries.Any())
                                    {
                                        for (int j = 0; j < Model.hedge_steering_committee_choice_details[i].hedge_steering_committee_choice_underlying_primaries.Count; j++)
                                        {
                                            <tr name="@Html.NameFor(model => model.hedge_steering_committee_choice_details[i].hedge_steering_committee_choice_underlying_primaries[j])">
                                                <!-- af_frame -->
                                                <td style="width:300px">
                                                    @if (!string.IsNullOrEmpty(Model.hedge_steering_committee_choice_details[i].hedge_steering_committee_choice_underlying_primaries[j].af_frame))
                                                    {
                                                        @Html.DropDownListFor(model => model.hedge_steering_committee_choice_details[i].hedge_steering_committee_choice_underlying_primaries[j].af_frame, selectList: new SelectList(Model.ddlHedgeTitle, "Value", "Text", Model.hedge_steering_committee_choice_details[i].hedge_steering_committee_choice_underlying_primaries[j].af_frame), optionLabel: "-- Select --", htmlAttributes: new { @class = "form-control", @onchange = "OnChangeHedgeSteeringCommitteeExtendChoiceHedgeSteeringCommitteeChoiceDetailsHedgeSteeringCommitteeChoiceUnderlyingPrimariesAFFrame('" + Html.NameFor(model => model.hedge_steering_committee_choice_details[i].hedge_steering_committee_choice_underlying_primaries[j]) + "')" })
                                                    }
                                                    else
                                                    {
                                                        @Html.DropDownListFor(model => model.hedge_steering_committee_choice_details[i].hedge_steering_committee_choice_underlying_primaries[j].af_frame, selectList: new SelectList(Model.ddlHedgeTitle, "Value", "Text"), optionLabel: "-- Select --", htmlAttributes: new { @class = "form-control", @onchange = "OnChangeHedgeSteeringCommitteeExtendChoiceHedgeSteeringCommitteeChoiceDetailsHedgeSteeringCommitteeChoiceUnderlyingPrimariesAFFrame('" + Html.NameFor(model => model.hedge_steering_committee_choice_details[i].hedge_steering_committee_choice_underlying_primaries[j]) + "')" })
                                                    }
                                                </td>
                                                <!-- product_front-->
                                                <td style="width:150px">
                                                    @if (!string.IsNullOrEmpty(Model.hedge_steering_committee_choice_details[i].hedge_steering_committee_choice_underlying_primaries[j].product_front))
                                                    {
                                                        @Html.DropDownListFor(model => model.hedge_steering_committee_choice_details[i].hedge_steering_committee_choice_underlying_primaries[j].product_front, selectList: new SelectList(Model.ddlHedgeProduct, "Value", "Text", Model.hedge_steering_committee_choice_details[i].hedge_steering_committee_choice_underlying_primaries[j].product_front), optionLabel: "-- Select --", htmlAttributes: new { @class = "form-control" })
                                                    }
                                                    else
                                                    {
                                                        @Html.DropDownListFor(model => model.hedge_steering_committee_choice_details[i].hedge_steering_committee_choice_underlying_primaries[j].product_front, selectList: new SelectList(Model.ddlHedgeProduct, "Value", "Text"), optionLabel: "-- Select --", htmlAttributes: new { @class = "form-control" })
                                                    }
                                                </td>
                                                <!-- product_back-->
                                                <td style="width:150px">
                                                    @if (!string.IsNullOrEmpty(Model.hedge_steering_committee_choice_details[i].hedge_steering_committee_choice_underlying_primaries[j].product_back))
                                                    {
                                                        @Html.DropDownListFor(model => model.hedge_steering_committee_choice_details[i].hedge_steering_committee_choice_underlying_primaries[j].product_back, selectList: new SelectList(Model.ddlHedgeProduct, "Value", "Text", Model.hedge_steering_committee_choice_details[i].hedge_steering_committee_choice_underlying_primaries[j].product_back), optionLabel: "-- Select --", htmlAttributes: new { @class = "form-control" })
                                                    }
                                                    else
                                                    {
                                                        @Html.DropDownListFor(model => model.hedge_steering_committee_choice_details[i].hedge_steering_committee_choice_underlying_primaries[j].product_back, selectList: new SelectList(Model.ddlHedgeProduct, "Value", "Text"), optionLabel: "-- Select --", htmlAttributes: new { @class = "form-control" })
                                                    }
                                                </td>
                                                <!-- weight -->
                                                <td style="width:100px">
                                                    @Html.TextBoxFor(model => model.hedge_steering_committee_choice_details[i].hedge_steering_committee_choice_underlying_primaries[j].weight, htmlAttributes: new { @class = "form-control percentage", @onkeypress = "return ValidateNumberDigit(event,this);", @onchange = "OnChangeHedgeSteeringCommitteeExtendChoiceHedgeSteeringCommitteeChoiceDetailsHedgeSteeringCommitteeChoiceUnderlyingPrimariesWeight('" + Html.NameFor(model => model.hedge_steering_committee_choice_details[i].hedge_steering_committee_choice_underlying_primaries[j]) + "')" })
                                                </td>
                                                <!-- weight_volume -->
                                                <td style="width:100px">
                                                    @Html.TextBoxFor(model => model.hedge_steering_committee_choice_details[i].hedge_steering_committee_choice_underlying_primaries[j].weight_volume, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                                                </td>
                                                <!-- unit_volume -->
                                                <td style="width:100px">
                                                    @Html.TextBoxFor(model => model.hedge_steering_committee_choice_details[i].hedge_steering_committee_choice_underlying_primaries[j].unit_volume, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                                                </td>
                                                <!-- af_price -->
                                                <td style="width:100px">
                                                    @Html.TextBoxFor(model => model.hedge_steering_committee_choice_details[i].hedge_steering_committee_choice_underlying_primaries[j].af_price, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                                                </td>
                                                <!-- unit_price -->
                                                <td style="width:100px">
                                                    @Html.TextBoxFor(model => model.hedge_steering_committee_choice_details[i].hedge_steering_committee_choice_underlying_primaries[j].unit_price, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                                                </td>
                                                <!-- min_max -->
                                                <td style="width:100px">
                                                    @Html.TextBoxFor(model => model.hedge_steering_committee_choice_details[i].hedge_steering_committee_choice_underlying_primaries[j].min_max, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                                                </td>
                                                <!-- action -->
                                                <td style="width:50px">
                                                    @Html.HiddenFor(model => model.hedge_steering_committee_choice_details[i].hedge_steering_committee_choice_underlying_primaries[j].key)
                                                    <a name="@(Html.NameFor(model => model.hedge_steering_committee_choice_details[i].hedge_steering_committee_choice_underlying_primaries[j])).action_delete" class="action_delete" href="javascript:void(0);" onclick="OnDeleteHedgeSteeringCommitteeExtendChoiceHedgeSteeringCommitteeChoiceDetailsHedgeSteeringCommitteeChoiceUnderlyingPrimaries('@(Html.NameFor(model => model.hedge_steering_committee_choice_details[i].hedge_steering_committee_choice_underlying_primaries[j]))');"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-12" style="padding:10px">

                            <div class="col-md-6">
                                <a href="javascript:void(0);" style="text-decoration:none;" onclick="OnAddHedgeSteeringCommitteeExtendChoiceHedgeSteeringCommitteeChoiceDetailsHedgeSteeringCommitteeChoiceUnderlyingPrimaries('@(Html.NameFor(model => model.hedge_steering_committee_choice_details[i].hedge_steering_committee_choice_underlying_primaries))');" data-toggle="tooltip" title="Add Hedge Product" name="button.AddHedgeSteeringCommitteeExtendChoice.HedgeSteeringCommitteeChoiceDetails.HedgeSteeringCommitteeChoiceUnderlyingPrimaries"><i class="fa fa-plus" aria-hidden="true" style="color:#0a7ab1"></i> Add Hedge Product</a>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group col-md-12">
                                    <label class="col-md-3 col-md-offset-3 control-label">Avg. AF Price</label>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            @Html.TextBoxFor(model => model.hedge_steering_committee_choice_details[i].avg_af_price_primary, new { @class = "form-control 2-digits", @readonly = "readonly" })
                                            <span name="span.@(Html.NameFor(model => model.unit_price))" class="input-group-addon">
                                                @if (!string.IsNullOrEmpty(Model.unit_price))
                                                {
                                                    @Html.Raw(Model.unit_price);
                                                }
                                                else
                                                {
                                                    @Html.Raw("N/A");
                                                }
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>       
                   
                    
                    <!-- Secondary Table -->
                    <div name="section.@(Html.NameFor(model => model.hedge_steering_committee_choice_details[i].hedge_steering_committee_choice_underlying_secondaries))" style="@(Model.hedge_steering_committee_choice_details[i].underlying_type == "N" ? "display:none;" : "")" class="row">
                        <div class="col-md-12" style="overflow: scroll;max-height:500px;">
                            <table class="table table-hedge-steering-committee-extend-choice-hedge-steering-committee-choice-details" style="min-width: 1000px">
                                <thead>
                                    <tr>
                                        <th rowspan="2" style="width:300px">AF Frame</th>
                                        <th colspan="2" style="width:300px">Product</th>
                                        <th rowspan="2" style="width:100px">Weight (%)</th>
                                        <th rowspan="2" style="width:100px">Weight Volume</th>
                                        <th rowspan="2" style="width:50px">Unit Volume</th>
                                        <th rowspan="2" style="width:100px">AF Price</th>
                                        <th rowspan="2" style="width:85px">Unit Price</th>
                                        <th rowspan="2" style="width:100px">Type</th>
                                        <th rowspan="2" style="width:100px">Action</th>
                                    </tr>
                                    <tr>
                                        <th style="width:150px">Front</th>
                                        <th style="width:150px">Back</th>
                                    </tr>
                                </thead>
                                <tbody name="@Html.NameFor(model => model.hedge_steering_committee_choice_details[i].hedge_steering_committee_choice_underlying_secondaries)">
                                    @if (Model.hedge_steering_committee_choice_details[i].hedge_steering_committee_choice_underlying_secondaries.Any())
                                    {
                                        for (int j = 0; j < Model.hedge_steering_committee_choice_details[i].hedge_steering_committee_choice_underlying_secondaries.Count; j++)
                                        {
                                            <tr name="@Html.NameFor(model => model.hedge_steering_committee_choice_details[i].hedge_steering_committee_choice_underlying_secondaries[j])">
                                                <!-- af_frame -->
                                                <td style="width:300px">
                                                    @if (!string.IsNullOrEmpty(Model.hedge_steering_committee_choice_details[i].hedge_steering_committee_choice_underlying_secondaries[j].af_frame))
                                                    {
                                                        @Html.DropDownListFor(model => model.hedge_steering_committee_choice_details[i].hedge_steering_committee_choice_underlying_secondaries[j].af_frame, selectList: new SelectList(Model.ddlHedgeTitle, "Value", "Text", Model.hedge_steering_committee_choice_details[i].hedge_steering_committee_choice_underlying_secondaries[j].af_frame), optionLabel: "-- Select --", htmlAttributes: new { @class = "form-control", @onchange = "OnChangeHedgeSteeringCommitteeExtendChoiceHedgeSteeringCommitteeChoiceDetailsHedgeSteeringCommitteeChoiceUnderlyingSecondariesAFFrame('" + Html.NameFor(model => model.hedge_steering_committee_choice_details[i].hedge_steering_committee_choice_underlying_secondaries[j]) + "')" })
                                                    }
                                                    else
                                                    {
                                                        @Html.DropDownListFor(model => model.hedge_steering_committee_choice_details[i].hedge_steering_committee_choice_underlying_secondaries[j].af_frame, selectList: new SelectList(Model.ddlHedgeTitle, "Value", "Text"), optionLabel: "-- Select --", htmlAttributes: new { @class = "form-control", @onchange = "OnChangeHedgeSteeringCommitteeExtendChoiceHedgeSteeringCommitteeChoiceDetailsHedgeSteeringCommitteeChoiceUnderlyingSecondariesAFFrame('" + Html.NameFor(model => model.hedge_steering_committee_choice_details[i].hedge_steering_committee_choice_underlying_secondaries[j]) + "')" })
                                                    }
                                                </td>
                                                <!-- product_front-->
                                                <td style="width:150px">
                                                    @if (!string.IsNullOrEmpty(Model.hedge_steering_committee_choice_details[i].hedge_steering_committee_choice_underlying_secondaries[j].product_front))
                                                    {
                                                        @Html.DropDownListFor(model => model.hedge_steering_committee_choice_details[i].hedge_steering_committee_choice_underlying_secondaries[j].product_front, selectList: new SelectList(Model.ddlHedgeProduct, "Value", "Text", Model.hedge_steering_committee_choice_details[i].hedge_steering_committee_choice_underlying_secondaries[j].product_front), optionLabel: "-- Select --", htmlAttributes: new { @class = "form-control" })
                                                    }
                                                    else
                                                    {
                                                        @Html.DropDownListFor(model => model.hedge_steering_committee_choice_details[i].hedge_steering_committee_choice_underlying_secondaries[j].product_front, selectList: new SelectList(Model.ddlHedgeProduct, "Value", "Text"), optionLabel: "-- Select --", htmlAttributes: new { @class = "form-control" })
                                                    }
                                                </td>
                                                <!-- product_back-->
                                                <td style="width:150px">
                                                    @if (!string.IsNullOrEmpty(Model.hedge_steering_committee_choice_details[i].hedge_steering_committee_choice_underlying_secondaries[j].product_back))
                                                    {
                                                        @Html.DropDownListFor(model => model.hedge_steering_committee_choice_details[i].hedge_steering_committee_choice_underlying_secondaries[j].product_back, selectList: new SelectList(Model.ddlHedgeProduct, "Value", "Text", Model.hedge_steering_committee_choice_details[i].hedge_steering_committee_choice_underlying_secondaries[j].product_back), optionLabel: "-- Select --", htmlAttributes: new { @class = "form-control" })
                                                    }
                                                    else
                                                    {
                                                        @Html.DropDownListFor(model => model.hedge_steering_committee_choice_details[i].hedge_steering_committee_choice_underlying_secondaries[j].product_back, selectList: new SelectList(Model.ddlHedgeProduct, "Value", "Text"), optionLabel: "-- Select --", htmlAttributes: new { @class = "form-control" })
                                                    }
                                                </td>
                                                <!-- weight -->
                                                <td style="width:100px">
                                                    @Html.TextBoxFor(model => model.hedge_steering_committee_choice_details[i].hedge_steering_committee_choice_underlying_secondaries[j].weight, htmlAttributes: new { @class = "form-control percentage", @onkeypress = "return ValidateNumberDigit(event,this);", @onchange = "OnChangeHedgeSteeringCommitteeExtendChoiceHedgeSteeringCommitteeChoiceDetailsHedgeSteeringCommitteeChoiceUnderlyingSecondariesWeight('" + Html.NameFor(model => model.hedge_steering_committee_choice_details[i].hedge_steering_committee_choice_underlying_secondaries[j]) + "')" })
                                                </td>
                                                <!-- weight_volume -->
                                                <td style="width:100px">
                                                    @Html.TextBoxFor(model => model.hedge_steering_committee_choice_details[i].hedge_steering_committee_choice_underlying_secondaries[j].weight_volume, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                                                </td>
                                                <!-- unit_volume -->
                                                <td style="width:100px">
                                                    @Html.TextBoxFor(model => model.hedge_steering_committee_choice_details[i].hedge_steering_committee_choice_underlying_secondaries[j].unit_volume, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                                                </td>
                                                <!-- af_price -->
                                                <td style="width:100px">
                                                    @Html.TextBoxFor(model => model.hedge_steering_committee_choice_details[i].hedge_steering_committee_choice_underlying_secondaries[j].af_price, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                                                </td>
                                                <!-- unit_price -->
                                                <td style="width:100px">
                                                    @Html.TextBoxFor(model => model.hedge_steering_committee_choice_details[i].hedge_steering_committee_choice_underlying_secondaries[j].unit_price, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                                                </td>
                                                <!-- min_max -->
                                                <td style="width:100px">
                                                    @Html.TextBoxFor(model => model.hedge_steering_committee_choice_details[i].hedge_steering_committee_choice_underlying_secondaries[j].min_max, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                                                </td>
                                                <!-- action -->
                                                <td style="width:50px">
                                                    @Html.HiddenFor(model => model.hedge_steering_committee_choice_details[i].hedge_steering_committee_choice_underlying_secondaries[j].key)
                                                    <a name="@(Html.NameFor(model => model.hedge_steering_committee_choice_details[i].hedge_steering_committee_choice_underlying_secondaries[j])).action_delete" class="action_delete" href="javascript:void(0);" onclick="OnDeleteHedgeSteeringCommitteeExtendChoiceHedgeSteeringCommitteeChoiceDetailsHedgeSteeringCommitteeChoiceUnderlyingSecondaries('@(Html.NameFor(model => model.hedge_steering_committee_choice_details[i].hedge_steering_committee_choice_underlying_secondaries[j]))');"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-12" style="padding:10px">

                            <div class="col-md-6">
                                <a href="javascript:void(0);" style="text-decoration:none;" onclick="OnAddHedgeSteeringCommitteeExtendChoiceHedgeSteeringCommitteeChoiceDetailsHedgeSteeringCommitteeChoiceUnderlyingSecondaries('@(Html.NameFor(model => model.hedge_steering_committee_choice_details[i].hedge_steering_committee_choice_underlying_secondaries))');" data-toggle="tooltip" title="Add Hedge Product" name="button.AddHedgeSteeringCommitteeExtendChoice.HedgeSteeringCommitteeChoiceDetails.HedgeSteeringCommitteeChoiceUnderlyingSecondaries"><i class="fa fa-plus" aria-hidden="true" style="color:#0a7ab1"></i> Add Hedge Product</a>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group col-md-12">
                                    <label class="col-md-3 col-md-offset-3 control-label">Avg. AF Price</label>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            @Html.TextBoxFor(model => model.hedge_steering_committee_choice_details[i].avg_af_price_secondary, new { @class = "form-control 2-digits", @readonly = "readonly" })
                                            <span name="span.@(Html.NameFor(model => model.unit_price))" class="input-group-addon">
                                                @if (!string.IsNullOrEmpty(Model.unit_price))
                                                {
                                                    @Html.Raw(Model.unit_price);
                                                }
                                                else
                                                {
                                                    @Html.Raw("N/A");
                                                }
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    
                    <!-- Net -->
                    <div class="row">
                        <div class="col-md-12" style="padding:10px;margin-top:-20px;">
                            <div class="col-md-6 col-md-offset-6">
                                <div class="form-group col-md-12">
                                    <label class="col-md-3 col-md-offset-3 control-label">Net. AF Price</label>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            @Html.TextBoxFor(model => model.hedge_steering_committee_choice_details[i].net_af_price, new { @class = "form-control 2-digits", @readonly = "readonly" })
                                            <span name="span.@(Html.NameFor(model => model.unit_price))" class="input-group-addon">
                                                @if (!string.IsNullOrEmpty(Model.unit_price))
                                                {
                                                    @Html.Raw(Model.unit_price);
                                                }
                                                else
                                                {
                                                    @Html.Raw("N/A");
                                                }
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>           
                </div>                        
            }    
        </div>
    </div>
} 
</div>

<!-- PAGE EVENT -->
<script type="text/javascript">

    // CONFIRMATION BEFORE SAVE //
    function OpenBoxBungerPromptHedgeSteeringCommitteeExtendChoice(MSG, Event) {

        // CASE: ADD HEDGE STEERING COMMITTEE //
        if (Event == "AddHedgeSteeringCommitteeExtendChoice") {
            $("[name='action:AddHedgeSteeringCommitteeExtendChoice']").click();
        }
        else if (Event == "DeleteHedgeSteeringCommitteeExtendChoice") {
            $("[name='action:DeleteHedgeSteeringCommitteeExtendChoice']").click();
        }
    }

    // PREPARE ADD HEDGE ANNUAL TYPE //
    function OnPrepareAddHedgeSteeringCommitteeExtendChoice() {
        $("[name='hedge_steering_committee_extend_choice.hedge_steering_committee_choice_detail_name']").val(null);
        return true;
    }

    // PREPARE DELETE HEDGE ANNUAL TYPE //
    function OnPrepareDeleteHedgeSteeringCommitteeExtendChoice() {
        var data = null;
        $('.nav-tab-hedge-steering-committee-extend-choice-hedge-steering-committee-choice-details.active').each(function () {
            data = $(this).data("content");
        });
        $("[name='hedge_steering_committee_extend_choice.hedge_steering_committee_choice_detail_name']").val(data);
        return true;
    }


</script>

<!-- TABLE EVENT -->
<script type="text/javascript">

    // HEDGE STEERING COMMITTEE EXTEND CHOICE //     
    function OnChangeHedgeSteeringCommitteeExtendChoiceUnitPrice(name) {
        var field_unit_price = $("[name='" + name + ".unit_price']").val();
        var field_unit_volume = SelectText(ddl_hedge_extend_choice_unit_volume, field_unit_price);

        var text_unit_price = ""
        var text_unit_volume = "";
        var html_unit_volume = "N/A";
        var html_unit_price = "N/A";

        if (field_unit_price !== "") {
            text_unit_price = SelectText(ddl_hedge_extend_choice_unit_price, field_unit_price);
            html_unit_price = SelectText(ddl_hedge_extend_choice_unit_price, field_unit_price);
        }
        if (field_unit_volume !== "") {
            text_unit_volume = field_unit_volume;
            html_unit_volume = field_unit_volume;
        }

        $("[name='" + name + ".unit_price']").each(function () {
            $(this).val(field_unit_price);
        });
        $("[name='span." + name + ".unit_price']").each(function () {
            $(this).html(html_unit_price)
        });
        $("[name='" + name + ".unit_volume']").each(function () {
            $(this).val(text_unit_volume);
        });
        $("[name='span." + name + ".unit_volume']").each(function () {
            $(this).html(html_unit_volume)
        });

    }
    
    function OnChangeHedgeSteeringCommitteeExtendChoiceMainVolume(type) { //hedge_steering_committee_extend_choice
        $("[name^='tabpanel." + type + "']").each(function () {
            var tap = $(this).attr('name').replace('tabpanel.', '');
            $("[name='section." + tap + ".hedge_steering_committee_choice_underlying_primaries']").each(function () {
                var section = $(this).attr('name').replace('section.', '');
                $("tbody[name='" + section + "']").each(function () {
                    $("tr[name^='" + section + "']").each(function () {
                        var name = $(this).attr('name');                        
                        OnChangeHedgeSteeringCommitteeExtendChoiceHedgeSteeringCommitteeChoiceDetailsHedgeSteeringCommitteeChoiceUnderlyingPrimariesWeight(name);
                    });
                });
            });
            $("[name='section." + tap + ".hedge_steering_committee_choice_underlying_secondaries']").each(function () {
                var section = $(this).attr('name').replace('section.', '');
                $("tbody[name='" + section + "']").each(function () {
                    $("tr[name^='" + section + "']").each(function () {
                        var name = $(this).attr('name');
                        OnChangeHedgeSteeringCommitteeExtendChoiceHedgeSteeringCommitteeChoiceDetailsHedgeSteeringCommitteeChoiceUnderlyingPrimariesWeight(name);
                    });
                });
            });
        });
    }

    // HEDGE STEERING COMMITTEE EXTEND CHOICE - HEDGE STEERING COMMITTEE CHOICE DETAILS
    function OnCalculateHedgeSteeringCommitteeExtendChoiceHedgeSteeringCommitteeChoiceDetailsNetAFPrice(name) {
        var underlying_type = $("[name='" + name + ".underlying_type']").val();
        var avg_af_price_primary = 0;
        var avg_af_price_secondary = 0;
        var net_af_price = 0;

        $("[name='section." + name + ".hedge_steering_committee_choice_underlying_primaries']").each(function () {
            $(this).find("tbody[name='" + name + ".hedge_steering_committee_choice_underlying_primaries']").each(function () {
                $(this).find("tr").each(function () {
                    var weight = ParseToNumber($(this).find("input[name$='.weight']").val());
                    var af_price = ParseToNumber($(this).find("input[name$='.af_price']").val());
                    avg_af_price_primary += (weight * (af_price * 0.01));
                });
            });
        });
        $("[name='section." + name + ".hedge_steering_committee_choice_underlying_secondaries']").each(function () {
            $(this).find("tbody[name='" + name + ".hedge_steering_committee_choice_underlying_secondaries']").each(function () {
                $(this).find("tr").each(function () {
                    var weight = ParseToNumber($(this).find("input[name$='.weight']").val());
                    var af_price = ParseToNumber($(this).find("input[name$='.af_price']").val());
                    avg_af_price_secondary += (weight * (af_price * 0.01));
                });
            });
        });

        if (underlying_type == 'N') {
            avg_af_price_primary = ParseToNumber(avg_af_price_primary);
            avg_af_price_secondary = ParseToNumber(0);
            net_af_price = ParseToNumber(avg_af_price_primary);
        }
        else if (underlying_type == 'S') {
            avg_af_price_primary = ParseToNumber(avg_af_price_primary);
            avg_af_price_secondary = ParseToNumber(avg_af_price_secondary);
            net_af_price = ParseToNumber(avg_af_price_primary - avg_af_price_secondary);
        }
        else if (underlying_type == 'D') {
            avg_af_price_primary = ParseToNumber(avg_af_price_primary);
            avg_af_price_secondary = ParseToNumber(avg_af_price_secondary);
            net_af_price = ParseToNumber(avg_af_price_primary / avg_af_price_secondary);
        }

        $("[name='" + name + ".avg_af_price_primary']").val(ConvertToNumber(avg_af_price_primary, 2));
        $("[name='" + name + ".avg_af_price_secondary']").val(ConvertToNumber(avg_af_price_secondary, 2));
        $("[name='" + name + ".net_af_price']").val(ConvertToNumber(net_af_price, 2));        
    }

    function OnChangeHedgeSteeringCommitteeExtendChoiceHedgeSteeringCommitteeChoiceDetailsUnderlyingType(name) {
        var underlying_type;
        $("[name='" + name + ".underlying_type']").each(function () {
            $("[name='radio." + name + ".underlying_type']:checked").each(function () {
                underlying_type = $(this).val();
            });
            $(this).val(underlying_type);
        });
        
        if (underlying_type == 'N') {
            $("[name='section." + name + ".hedge_steering_committee_choice_underlying_secondaries']").each(function () {
                $(this).find("tbody[name='" + name + ".hedge_steering_committee_choice_underlying_secondaries']").each(function () {
                    $(this).find("tr").each(function () {
                        $(this).remove();
                    });
                });
                $(this).hide();
            });
        }
        else if (underlying_type == 'S') {
            $("[name='section." + name + ".hedge_steering_committee_choice_underlying_secondaries']").each(function () {
                $(this).find("tbody[name='" + name + ".hedge_steering_committee_choice_underlying_secondaries']").each(function () {
                    var rows = $(this).find("tr").length;
                    if (rows == 0) {
                        OnAddHedgeSteeringCommitteeExtendChoiceHedgeSteeringCommitteeChoiceDetailsHedgeSteeringCommitteeChoiceUnderlyingSecondaries(name + ".hedge_steering_committee_choice_underlying_secondaries");
                    }
                });
                $(this).show();
            });
        }
        else if (underlying_type == 'D') {
            $("[name='section." + name + ".hedge_steering_committee_choice_underlying_secondaries']").each(function () {
                $(this).find("tbody[name='" + name + ".hedge_steering_committee_choice_underlying_secondaries']").each(function () {
                    var rows = $(this).find("tr").length;
                    if (rows == 0) {
                        OnAddHedgeSteeringCommitteeExtendChoiceHedgeSteeringCommitteeChoiceDetailsHedgeSteeringCommitteeChoiceUnderlyingSecondaries(name + ".hedge_steering_committee_choice_underlying_secondaries");
                    }
                }); 
                $(this).show();
            });
        }
        OnCalculateHedgeSteeringCommitteeExtendChoiceHedgeSteeringCommitteeChoiceDetailsNetAFPrice(name);
        OnChangeHedgeSteeringCommitteeExtendChoiceHedgeSteeringCommitteeChoiceDetails();
    }

    // HEDGE STEERING COMMITTEE EXTEND CHOICE - HEDGE STEERING COMMITTEE CHOICE DETAILS - HEDGE STEERING COMMITTEE CHOICE UNDERLYING PRIMARIES //     
    function OnChangeHedgeSteeringCommitteeExtendChoiceHedgeSteeringCommitteeChoiceDetailsHedgeSteeringCommitteeChoiceUnderlyingPrimariesAFFrame(name)
    {
        var type = name.substr(0, name.indexOf(".hedge_steering_committee_choice_details"));
        var sub_type = name.substr(0, name.indexOf(".hedge_steering_committee_choice_underlying_primaries"));
        var af_frame = $("[name='" + name + ".af_frame']").val();
        $.ajax({
            url: '@Url.Action("GetHedgeSteeringCommitteeChoiceDetail", "HedgeSteeringCommittee")',
            data: { "row_id": af_frame },
            cache: false,
            type: "POST",
            success: function (data) {
                var front = true;
                var back = true;
                for (var i = 0; i < ddl_hedge_extend_choice_product.length; i++) {
                    if (front && ddl_hedge_extend_choice_product[i].Value == data.product_front) {
                        front = false;
                    }
                    if (back && ddl_hedge_extend_choice_product[i].Value == data.product_back) {
                        back = false;
                    }
                }
                if (!front) {
                    $("[name='" + name + ".product_front']").val(data.product_front);
                }
                else
                {
                    $("[name='" + name + ".product_front']").val("");
                }

                if (!back) {
                    $("[name='" + name + ".product_back']").val(data.product_back);
                }
                else
                {
                    $("[name='" + name + ".product_back']").val("");
                }
                $("[name='" + name + ".unit_volume']").val(data.unit_volume);
                $("[name='" + name + ".af_price']").val(data.price_year);
                $("[name='" + name + ".unit_price']").val(data.unit_price);
                $("[name='" + name + ".min_max']").val(data.min_max);
            },
            error: function (data) {
                alert("error : " + data.error());
            },
            complete: function (data) {
                OnCalculateHedgeSteeringCommitteeExtendChoiceHedgeSteeringCommitteeChoiceDetailsNetAFPrice(sub_type);
                OnChangeHedgeSteeringCommitteeExtendChoiceHedgeSteeringCommitteeChoiceDetails();
            }
        });
    }

    function OnChangeHedgeSteeringCommitteeExtendChoiceHedgeSteeringCommitteeChoiceDetailsHedgeSteeringCommitteeChoiceUnderlyingPrimariesWeight(name)
    {
        var type = name.substr(0, name.indexOf(".hedge_steering_committee_choice_details"));
        var sub_type = name.substr(0, name.indexOf(".hedge_steering_committee_choice_underlying_primaries"));
        var field_main_volume = $("[name='" + type + ".main_volume']").val();
        var field_weight = $("[name='" + name + ".weight']").val();
        if (field_weight > 100) {
            field_weight = 100;
        }
        else if (field_weight < 0) {
            field_weight = 0;
        }        
        var field_weight_volume = "";
        if (field_main_volume != "" && field_weight != "") {
            field_weight_volume = field_main_volume * (field_weight / 100);
            field_weight_volume = ConvertToNumber(field_weight_volume, 2);
        }
        $("[name='" + name + ".weight']").val(field_weight);
        $("[name='" + name + ".weight_volume']").val(field_weight_volume);
        OnCalculateHedgeSteeringCommitteeExtendChoiceHedgeSteeringCommitteeChoiceDetailsNetAFPrice(sub_type);
        OnChangeHedgeSteeringCommitteeExtendChoiceHedgeSteeringCommitteeChoiceDetails();
    }

    function OnAddHedgeSteeringCommitteeExtendChoiceHedgeSteeringCommitteeChoiceDetailsHedgeSteeringCommitteeChoiceUnderlyingPrimaries(type) {
        
        var index = $("[name='" + type + "']").children().length;
        var name = type + '[' + index + ']';
        var sub_type = name.substr(0, name.indexOf(".hedge_steering_committee_choice_underlying_primaries"));
        OnIndexHedgeSteeringCommitteeExtendChoiceHedgeSteeringCommitteeChoiceDetailsHedgeSteeringCommitteeChoiceUnderlyingPrimaries(name);

        var field_key = "";
        var field_af_frame = "";
        var field_product_front = "";
        var field_product_back = "";
        var field_weight = "";
        var field_weight_volume = "";
        var field_unit_volume = "";
        var field_af_price = "";
        var field_unit_price = "";
        var field_min_max = "";
        var option_af_frame = OptionValue(ddl_hedge_extend_choice_title, field_af_frame);
        var option_product_front = OptionValue(ddl_hedge_extend_choice_product, field_product_front);
        var option_product_back = OptionValue(ddl_hedge_extend_choice_product, field_product_back);

        var recordSet = "<tr name='" + name + "'></tr>";
        $("[name='" + type + "']").append(recordSet);

        var fieldSet = "";
        fieldSet += "<td style='width:300px'><select class='form-control' name='" + name + ".af_frame' onchange='OnChangeHedgeSteeringCommitteeExtendChoiceHedgeSteeringCommitteeChoiceDetailsHedgeSteeringCommitteeChoiceUnderlyingPrimariesAFFrame(\"" + name + "\");' >" + option_af_frame + "</select></td>";
        fieldSet += "<td style='width:150px'><select class='form-control' name='" + name + ".product_front' >" + option_product_front + "</select></td>";
        fieldSet += "<td style='width:150px'><select class='form-control' name='" + name + ".product_back' >" + option_product_back + "</select></td>";
        fieldSet += "<td style='width:100px'><input class='form-control percentage' name='" + name + ".weight' type='text' value='" + field_weight + "' onkeypress='return ValidateNumberDigit(event,this);' onchange='OnChangeHedgeSteeringCommitteeExtendChoiceHedgeSteeringCommitteeChoiceDetailsHedgeSteeringCommitteeChoiceUnderlyingPrimariesWeight(\"" + name + "\");' ></td>";
        fieldSet += "<td style='width:100px'><input class='form-control' name='" + name + ".weight_volume' type='text' value='" + field_weight_volume + "' readonly='readonly' ></td>";
        fieldSet += "<td style='width:100px'><input class='form-control' name='" + name + ".unit_volume' type='text' value='" + field_unit_volume + "' readonly='readonly' ></td>";
        fieldSet += "<td style='width:100px'><input class='form-control' name='" + name + ".af_price' type='text' value='" + field_af_price + "' readonly='readonly' ></td>";
        fieldSet += "<td style='width:100px'><input class='form-control' name='" + name + ".unit_price' type='text' value='" + field_unit_price + "' readonly='readonly' ></td>";
        fieldSet += "<td style='width:100px'><input class='form-control' name='" + name + ".min_max' type='text' value='" + field_min_max + "' readonly='readonly' ></td>";
        fieldSet += "<td style='width:50px'><input type='hidden' name='" + name + ".key' value='" + field_key + "' />" +
                    "<a name='" + name + ".action_delete' class='action_delete' href='javascript:void(0);' onclick='OnDeleteHedgeSteeringCommitteeExtendChoiceHedgeSteeringCommitteeChoiceDetailsHedgeSteeringCommitteeChoiceUnderlyingPrimaries(\"" + name + "\");'><i class='fa fa-trash-o' aria-hidden='true'></i></a>" +
                    "</td>";
        $("[name='" + name + "']").children().remove();
        $("[name='" + name + "']").append(fieldSet);
        OnCalculateHedgeSteeringCommitteeExtendChoiceHedgeSteeringCommitteeChoiceDetailsNetAFPrice(sub_type);
        OnChangeHedgeSteeringCommitteeExtendChoiceHedgeSteeringCommitteeChoiceDetails();
    }

    function OnDeleteHedgeSteeringCommitteeExtendChoiceHedgeSteeringCommitteeChoiceDetailsHedgeSteeringCommitteeChoiceUnderlyingPrimaries(name) {
        var type = name.substr(0, name.indexOf(".hedge_steering_committee_choice_details"));
        var sub_type = name.substr(0, name.indexOf(".hedge_steering_committee_choice_underlying_primaries"));
        $("[name='" + name + "']").remove();
        OnIndexHedgeSteeringCommitteeExtendChoiceHedgeSteeringCommitteeChoiceDetailsHedgeSteeringCommitteeChoiceUnderlyingPrimaries(name);
        OnCalculateHedgeSteeringCommitteeExtendChoiceHedgeSteeringCommitteeChoiceDetailsNetAFPrice(sub_type);
        OnChangeHedgeSteeringCommitteeExtendChoiceHedgeSteeringCommitteeChoiceDetails();
    }

    function OnIndexHedgeSteeringCommitteeExtendChoiceHedgeSteeringCommitteeChoiceDetailsHedgeSteeringCommitteeChoiceUnderlyingPrimaries(name) {
        var index = 0;
        var type = name.substr(0, name.indexOf(".hedge_steering_committee_choice_underlying_primaries"));
        $("[name='" + type + ".hedge_steering_committee_choice_underlying_primaries'] tr").each(function () {
            $(this).attr("name", $(this).attr("name").replace(/.hedge_steering_committee_choice_underlying_primaries\u005b\d\u005d/, ".hedge_steering_committee_choice_underlying_primaries[" + index + "]"));
            $(this).find("[name*='" + type + ".hedge_steering_committee_choice_underlying_primaries']").each(function () {
                if ($(this).attr("name") != null) {
                    $(this).attr("name", $(this).attr("name").replace(/.hedge_steering_committee_choice_underlying_primaries\u005b\d\u005d/, ".hedge_steering_committee_choice_underlying_primaries[" + index + "]"));
                };
                if ($(this).attr("onchange") != null) {
                    $(this).attr("onchange", $(this).attr("onchange").replace(/.hedge_steering_committee_choice_underlying_primaries\u005b\d\u005d/, ".hedge_steering_committee_choice_underlying_primaries[" + index + "]"));
                };
                if ($(this).attr("onclick") != null) {
                    $(this).attr("onclick", $(this).attr("onclick").replace(/.hedge_steering_committee_choice_underlying_primaries\u005b\d\u005d/, ".hedge_steering_committee_choice_underlying_primaries[" + index + "]"));
                };
            })
            index++;
        });
    }

    // HEDGE STEERING COMMITTEE EXTEND CHOICE - HEDGE STEERING COMMITTEE CHOICE DETAILS - HEDGE STEERING COMMITTEE CHOICE UNDERLYING SECINDARIES //    
    function OnChangeHedgeSteeringCommitteeExtendChoiceHedgeSteeringCommitteeChoiceDetailsHedgeSteeringCommitteeChoiceUnderlyingSecondariesAFFrame(name) {
        var type = name.substr(0, name.indexOf(".hedge_steering_committee_choice_details"));
        var sub_type = name.substr(0, name.indexOf(".hedge_steering_committee_choice_underlying_secondaries"));
        var af_frame = $("[name='" + name + ".af_frame']").val();
        $.ajax({
            url: '@Url.Action("GetHedgeSteeringCommitteeChoiceDetail", "HedgeSteeringCommittee")',
            data: { "row_id": af_frame },
            cache: false,
            type: "POST",
            success: function (data) {
                var front = true;
                var back = true;
                for (var i = 0; i < ddl_hedge_extend_choice_product.length; i++) {
                    if (front && ddl_hedge_extend_choice_product[i].Value == data.product_front) {
                        front = false;
                    }
                    if (back && ddl_hedge_extend_choice_product[i].Value == data.product_back) {
                        back = false;
                    }
                }
                if (!front) {
                    $("[name='" + name + ".product_front']").val(data.product_front);
                }
                else {
                    $("[name='" + name + ".product_front']").val("");
                }

                if (!back) {
                    $("[name='" + name + ".product_back']").val(data.product_back);
                }
                else {
                    $("[name='" + name + ".product_back']").val("");
                }
                $("[name='" + name + ".unit_volume']").val(data.unit_volume);
                $("[name='" + name + ".af_price']").val(data.price_year);
                $("[name='" + name + ".unit_price']").val(data.unit_price);
                $("[name='" + name + ".min_max']").val(data.min_max);
            },
            error: function (data) {
                alert("error : " + data.error());
            },
            complete: function (data) {
                OnCalculateHedgeSteeringCommitteeExtendChoiceHedgeSteeringCommitteeChoiceDetailsNetAFPrice(sub_type);
                OnChangeHedgeSteeringCommitteeExtendChoiceHedgeSteeringCommitteeChoiceDetails();
            }
        });        
    }
    
    function OnChangeHedgeSteeringCommitteeExtendChoiceHedgeSteeringCommitteeChoiceDetailsHedgeSteeringCommitteeChoiceUnderlyingSecondariesWeight(name) {
        var type = name.substr(0, name.indexOf(".hedge_steering_committee_choice_details"));
        var sub_type = name.substr(0, name.indexOf(".hedge_steering_committee_choice_underlying_secondaries"));
        var field_main_volume = $("[name='" + type + ".main_volume']").val();
        var field_weight = $("[name='" + name + ".weight']").val();
        if (field_weight > 100) {
            field_weight = 100;
        }
        else if (field_weight < 0) {
            field_weight = 0;
        }
        var field_weight_volume = "";
        if (field_main_volume != "" && field_weight != "") {
            field_weight_volume = field_main_volume * (field_weight / 100);
            field_weight_volume = ConvertToNumber(field_weight_volume, 2);
        }
        $("[name='" + name + ".weight']").val(field_weight);
        $("[name='" + name + ".weight_volume']").val(field_weight_volume);
        OnCalculateHedgeSteeringCommitteeExtendChoiceHedgeSteeringCommitteeChoiceDetailsNetAFPrice(sub_type);
        OnChangeHedgeSteeringCommitteeExtendChoiceHedgeSteeringCommitteeChoiceDetails();
    }

    function OnAddHedgeSteeringCommitteeExtendChoiceHedgeSteeringCommitteeChoiceDetailsHedgeSteeringCommitteeChoiceUnderlyingSecondaries(type) {
        var index = $("[name='" + type + "']").children().length;
        var name = type + '[' + index + ']';
        var sub_type = name.substr(0, name.indexOf(".hedge_steering_committee_choice_underlying_secondaries"));
        OnIndexHedgeSteeringCommitteeExtendChoiceHedgeSteeringCommitteeChoiceDetailsHedgeSteeringCommitteeChoiceUnderlyingSecondaries(name);

        var field_key = "";
        var field_af_frame = "";
        var field_product_front = "";
        var field_product_back = "";
        var field_weight = "";
        var field_weight_volume = "";
        var field_unit_volume = "";
        var field_af_price = "";
        var field_unit_price = "";
        var field_min_max = "";
        var option_af_frame = OptionValue(ddl_hedge_extend_choice_title, field_af_frame);
        var option_product_front = OptionValue(ddl_hedge_extend_choice_product, field_product_front);
        var option_product_back = OptionValue(ddl_hedge_extend_choice_product, field_product_back);

        var recordSet = "<tr name='" + name + "'></tr>";
        $("[name='" + type + "']").append(recordSet);

        var fieldSet = "";
        fieldSet += "<td style='width:300px'><select class='form-control' name='" + name + ".af_frame' onchange='OnChangeHedgeSteeringCommitteeExtendChoiceHedgeSteeringCommitteeChoiceDetailsHedgeSteeringCommitteeChoiceUnderlyingSecondariesAFFrame(\"" + name + "\");' >" + option_af_frame + "</select></td>";
        fieldSet += "<td style='width:150px'><select class='form-control' name='" + name + ".product_front' >" + option_product_front + "</select></td>";
        fieldSet += "<td style='width:150px'><select class='form-control' name='" + name + ".product_back' >" + option_product_back + "</select></td>";
        fieldSet += "<td style='width:100px'><input class='form-control percentage' name='" + name + ".weight' type='text' value='" + field_weight + "' onkeypress='return ValidateNumberDigit(event,this);' onchange='OnChangeHedgeSteeringCommitteeExtendChoiceHedgeSteeringCommitteeChoiceDetailsHedgeSteeringCommitteeChoiceUnderlyingSecondariesWeight(\"" + name + "\");' ></td>";
        fieldSet += "<td style='width:100px'><input class='form-control' name='" + name + ".weight_volume' type='text' value='" + field_weight_volume + "' readonly='readonly' ></td>";
        fieldSet += "<td style='width:100px'><input class='form-control' name='" + name + ".unit_volume' type='text' value='" + field_unit_volume + "' readonly='readonly' ></td>";
        fieldSet += "<td style='width:100px'><input class='form-control' name='" + name + ".af_price' type='text' value='" + field_af_price + "' readonly='readonly' ></td>";
        fieldSet += "<td style='width:100px'><input class='form-control' name='" + name + ".unit_price' type='text' value='" + field_unit_price + "' readonly='readonly' ></td>";
        fieldSet += "<td style='width:100px'><input class='form-control' name='" + name + ".min_max' type='text' value='" + field_min_max + "' readonly='readonly' ></td>";
        fieldSet += "<td style='width:50px'><input type='hidden' name='" + name + ".key' value='" + field_key + "' />" +
                    "<a name='" + name + ".action_delete' class='action_delete' href='javascript:void(0);' onclick='OnDeleteHedgeSteeringCommitteeExtendChoiceHedgeSteeringCommitteeChoiceDetailsHedgeSteeringCommitteeChoiceUnderlyingSecondaries(\"" + name + "\");'><i class='fa fa-trash-o' aria-hidden='true'></i></a>" +
                    "</td>";
        $("[name='" + name + "']").children().remove();
        $("[name='" + name + "']").append(fieldSet);
        OnCalculateHedgeSteeringCommitteeExtendChoiceHedgeSteeringCommitteeChoiceDetailsNetAFPrice(sub_type);
        OnChangeHedgeSteeringCommitteeExtendChoiceHedgeSteeringCommitteeChoiceDetails();
    }

    function OnDeleteHedgeSteeringCommitteeExtendChoiceHedgeSteeringCommitteeChoiceDetailsHedgeSteeringCommitteeChoiceUnderlyingSecondaries(name) {
        var type = name.substr(0, name.indexOf(".hedge_steering_committee_choice_details"));
        var sub_type = name.substr(0, name.indexOf(".hedge_steering_committee_choice_underlying_secondaries"));
        $("[name='" + name + "']").remove();
        OnIndexHedgeSteeringCommitteeExtendChoiceHedgeSteeringCommitteeChoiceDetailsHedgeSteeringCommitteeChoiceUnderlyingSecondaries(name);
        OnCalculateHedgeSteeringCommitteeExtendChoiceHedgeSteeringCommitteeChoiceDetailsNetAFPrice(sub_type);
        OnChangeHedgeSteeringCommitteeExtendChoiceHedgeSteeringCommitteeChoiceDetails();
    }

    function OnIndexHedgeSteeringCommitteeExtendChoiceHedgeSteeringCommitteeChoiceDetailsHedgeSteeringCommitteeChoiceUnderlyingSecondaries(name) {
        var index = 0;
        var type = name.substr(0, name.indexOf(".hedge_steering_committee_choice_underlying_secondaries"));
        $("[name='" + type + ".hedge_steering_committee_choice_underlying_secondaries'] tr").each(function () {
            $(this).attr("name", $(this).attr("name").replace(/.hedge_steering_committee_choice_underlying_secondaries\u005b\d\u005d/, ".hedge_steering_committee_choice_underlying_secondaries[" + index + "]"));
            $(this).find("[name*='" + type + ".hedge_steering_committee_choice_underlying_secondaries']").each(function () {
                if ($(this).attr("name") != null) {
                    $(this).attr("name", $(this).attr("name").replace(/.hedge_steering_committee_choice_underlying_secondaries\u005b\d\u005d/, ".hedge_steering_committee_choice_underlying_secondaries[" + index + "]"));
                };
                if ($(this).attr("onchange") != null) {
                    $(this).attr("onchange", $(this).attr("onchange").replace(/.hedge_steering_committee_choice_underlying_secondaries\u005b\d\u005d/, ".hedge_steering_committee_choice_underlying_secondaries[" + index + "]"));
                };
                if ($(this).attr("onclick") != null) {
                    $(this).attr("onclick", $(this).attr("onclick").replace(/.hedge_steering_committee_choice_underlying_secondaries\u005b\d\u005d/, ".hedge_steering_committee_choice_underlying_secondaries[" + index + "]"));
                };
            })
            index++;
        });
    }

    function OnChangeHedgeSteeringCommitteeExtendChoiceHedgeSteeringCommitteeChoiceDetails() {

        $("input").each(function () {
            $(this).on('keyup keypress', function (e) {
                var keyCode = e.keyCode || e.which;
                if (keyCode === 13) {
                    e.preventDefault();
                    return false;
                }
            });
        });
        $(".percentage").each(function () {
            $(this).change(function () {
                if (!isNaN(parseFloat(this.value)))
                    if (parseInt(this.value) < 0 || isNaN(parseInt(this.value)))
                        this.value = 0;
                    else if (parseInt(this.value) > 100)
                        this.value = 100;
                this.value = ConvertToNumber(this.value, 2);
                return this;
            });
        });
        $(".4-digits").each(function () {
            $(this).change(function () {
                if (!isNaN(parseFloat(this.value)))
                    this.value = parseFloat(this.value.toString().replace(/,/g, '')).toLocaleString('en-US', { maximumFractionDigits: 4 }).replace(/,/g, '');

                return this;
            });
        });
        $(".2-digits").each(function () {
            $(this).change(function () {
                if (!isNaN(parseFloat(this.value)))
                    this.value = parseFloat(this.value.toString().replace(/,/g, '')).toLocaleString('en-US', { maximumFractionDigits: 2 }).replace(/,/g, '');

                return this;
            });
        });

    }
</script>

<!-- CLASS COMPONENT -->
<script type="text/javascript">    
    $("input").each(function () {
        $(this).on('keyup keypress', function (e) {
            var keyCode = e.keyCode || e.which;
            if (keyCode === 13) {
                e.preventDefault();
                return false;
            }
        });
    });

    $(".percentage").each(function () {
        $(this).change(function () {
            if (!isNaN(parseFloat(this.value)))
                if (parseInt(this.value) < 0 || isNaN(parseInt(this.value)))
                    this.value = 0;
                else if (parseInt(this.value) > 100)
                    this.value = 100;
            this.value = ConvertToNumber(this.value, 2);
            return this;
        });
    });

    $(".4-digits").each(function () {
        $(this).change(function () {
            if (!isNaN(parseFloat(this.value)))
                this.value = parseFloat(this.value.toString().replace(/,/g, '')).toLocaleString('en-US', { maximumFractionDigits: 4 }).replace(/,/g, '');

            return this;
        });
    });

    $(".2-digits").each(function () {
        $(this).change(function () {
            if (!isNaN(parseFloat(this.value)))
                this.value = parseFloat(this.value.toString().replace(/,/g, '')).toLocaleString('en-US', { maximumFractionDigits: 2 }).replace(/,/g, '');

            return this;
        });
    });
</script>

<!-- UTILITIES -->
<script type="text/javascript">
    function SelectText(selector, value) {
        var text = "";
        for (var i = 0; i < selector.length; i++) {
            if (selector[i].Value == value) {
                text = selector[i].Text;
            }
        }
        return text;
    }

    function OptionValue(selector, value) {
        var options = "<option value=''>-- Select --</option>";
        for (var i = 0; i < selector.length; i++) {
            if (selector[i].Value == value) {
                options += "<option value='" + selector[i].Value + "' selected='selected'>" + selector[i].Text + "</option>";
            }
            else {
                options += "<option value='" + selector[i].Value + "'>" + selector[i].Text + "</option>";
            }
        }
        return options;
    }

    function ConvertToNumber(value, digits) {
        var number = null;
        if (!isNaN(parseFloat(value))) {
            number = parseFloat(value.toString().replace(/,/g, '')).toLocaleString('en-US', { maximumFractionDigits: digits }).replace(/,/g, '');
        }
        return number;
    }

    function ParseToNumber(value) {
        if (!isNaN(parseFloat(value)))
            return value;
        else
            return 0;
    }
</script>

<!-- FILE EVENT -->
<script type="text/javascript">

</script>

<!-- MODAL EVENT-->
<script type="text/javascript">

</script>

<!-- FINALIZATION SCRIPT -->
<script type="text/javascript">
    // PREPARATION DROPDOWN MODEL //
    if (page_mode == "READ") {
        $("select.form-control").each(function () {
            $(this).attr("disabled", "disabled");
        });

        $("input.form-control").each(function () {
            $(this).attr("readonly", "readonly");
        });

        $("textarea.form-control").each(function () {
            $(this).attr("readonly", "readonly");
        });

        $(".button-control").each(function () {
            $(this).hide();
        });

        $(".section-control").each(function () {
            $(this).hide();
        });

        $(".action_edit").each(function () {
            $(this).hide();
        });

        $(".action_delete").each(function () {
            $(this).hide();
        });
    }
</script>