﻿@using ProjectCPAIEngine.Utilities
@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.HedgeSteeringCommitteeToolDetailTargetRedemptionViewModel
@{
    Layout = null;
}

<!-- INTIALIZATION STYLE -->
<style>

</style>

<!-- INITIALIZATION SCRIPT -->
<script type="text/javascript">

</script>

<!-- Hedge Steering Committee Tool Target Redemption -->
    <h3 style="padding-left:10px;">Target Redemption <i class="fa fa-info-circle" aria-hidden="true"></i> </h3>
    <hr style="margin-top:0px;" />
    <div class="row">
        <div class="col-md-8" style="padding:10px">
            <div class="col-md-12">
                <div class="form-group col-md-6">
                    <label class="col-md-3 col-md-offset-1 control-label">Gain :</label>
                    <div class="col-md-8">
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.target_redemption, new { @class = "form-control 2-digits", @onkeypress = "return ValidateNumberDigit(event,this);" })
                            <span name="span.@(Html.NameFor(model => model.target_redemption))" class="input-group-addon">
                                Per Unit
                            </span>
                        </div>                        
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="col-md-3 col-md-offset-1 control-label">Loss :</label>
                    <div class="col-md-8">
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.target_redemption_per_unit, new { @class = "form-control 2-digits", @onkeypress = "return ValidateNumberDigit(event,this);" })
                            <span name="span.@(Html.NameFor(model => model.target_redemption_per_unit))" class="input-group-addon">
                                Per Unit
                            </span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


<!-- PAGE EVENT -->
<script type="text/javascript"> 

</script>

<!-- TABLE EVENT -->
<script type="text/javascript">

</script>

<!-- CLASS COMPONENT -->
<script type="text/javascript">    
    $("input").each(function () {
        $(this).on('keyup keypress', function (e) {
            var keyCode = e.keyCode || e.which;
            if (keyCode === 13) {
                e.preventDefault();
                return false;
            }
        });
    });

    $(".percentage").each(function () {
        $(this).change(function () {
            if (!isNaN(parseFloat(this.value)))
                if (parseInt(this.value) < 0 || isNaN(parseInt(this.value)))
                    this.value = 0;
                else if (parseInt(this.value) > 100)
                    this.value = 100;
            this.value = ConvertToNumber(this.value, 2);
            return this;
        });
    });

    $(".4-digits").each(function () {
        $(this).change(function () {
            if (!isNaN(parseFloat(this.value)))
                this.value = parseFloat(this.value.toString().replace(/,/g, '')).toLocaleString('en-US', { maximumFractionDigits: 4 }).replace(/,/g, '');

            return this;
        });
    });

    $(".2-digits").each(function () {
        $(this).change(function () {
            if (!isNaN(parseFloat(this.value)))
                this.value = parseFloat(this.value.toString().replace(/,/g, '')).toLocaleString('en-US', { maximumFractionDigits: 2 }).replace(/,/g, '');

            return this;
        });
    });   
</script>

<!-- UTILITIES -->
<script type="text/javascript">
    function SelectText(selector, value) {
        var text = "";
        for (var i = 0; i < selector.length; i++) {
            if (selector[i].Value == value) {
                text = selector[i].Text;
            }
        }
        return text;
    }

    function OptionValue(selector, value) {
        var options = "<option value=''>-- Select --</option>";
        for (var i = 0; i < selector.length; i++) {
            if (selector[i].Value == value) {
                options += "<option value='" + selector[i].Value + "' selected='selected'>" + selector[i].Text + "</option>";
            }
            else {
                options += "<option value='" + selector[i].Value + "'>" + selector[i].Text + "</option>";
            }
        }
        return options;
    }

    function ConvertToNumber(value, digits) {
        var number = null;
        if (!isNaN(parseFloat(value))) {
            number = parseFloat(value.toString().replace(/,/g, '')).toLocaleString('en-US', { maximumFractionDigits: digits }).replace(/,/g, '');
        }
        return number;
    }

    function ParseToNumber(value) {
        if (!isNaN(parseFloat(value)))
            return value;
        else
            return 0;
    }
</script>

<!-- FILE EVENT -->
<script type="text/javascript">

</script>

<!-- MODAL EVENT-->
<script type="text/javascript">

</script>

<!-- FINALIZATION SCRIPT -->
<script type="text/javascript">
    // PREPARATION DROPDOWN MODEL //
    if (page_mode == "READ") {
        $("select.form-control").each(function () {
            $(this).attr("disabled", "disabled");
        });

        $("input.form-control").each(function () {
            $(this).attr("readonly", "readonly");
        });

        $("textarea.form-control").each(function () {
            $(this).attr("readonly", "readonly");
        });

        $(".button-control").each(function () {
            $(this).hide();
        });

        $(".section-control").each(function () {
            $(this).hide();
        });

        $(".action_edit").each(function () {
            $(this).hide();
        });

        $(".action_delete").each(function () {
            $(this).hide();
        });
    }
</script>