﻿@using ProjectCPAIEngine.Utilities
@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.HedgeSteeringCommitteeToolDetailExtendibleViewModel
@{
    Layout = null;
}

<!-- INTIALIZATION STYLE -->
<style>
</style>

<!-- INITIALIZATION SCRIPT -->
<script type="text/javascript">
    var model_name = '@Html.NameFor(model => model)';
    // PREPARATION DROPDOWN MODEL //
    var ddl_hedge_tool_extendible_unit_price = [];
    var ddl_hedge_tool_extendible_unit_volume = [];
    @{
        // PREPARE HEDGE UNIT PRICE //
        if (Model.ddlHedgeUnitPrice != null)
        {
            foreach (var hedgeUnitPrice in Model.ddlHedgeUnitPrice)
            {
                <text>
                var hedge_unit_price = { "Value": "@hedgeUnitPrice.Value", "Text": "@hedgeUnitPrice.Text" };
                ddl_hedge_tool_extendible_unit_price.push(hedge_unit_price);
                </text>
            }
        }
        // PREPARE HEDGE UNIT VOLUMN //
        if (Model.ddlHedgeUnitVolume != null)
        {
            foreach (var hedgeUnitVolume in Model.ddlHedgeUnitVolume)
            {
                <text>
                var hedge_unit_volume = { "Value": "@hedgeUnitVolume.Value", "Text": "@hedgeUnitVolume.Text" };
                ddl_hedge_tool_extendible_unit_volume.push(hedge_unit_volume);
                </text>
            }
        }
    }
</script>

<!-- Hedge Steering Committee Tool Extendible Details -->
<div class="row">
    <div class="col-md-12" style="overflow: scroll;max-height:500px;">
        <table class="table table-hedge-steering-committee-tool-detail-extenible-details" style="min-width: 700px">
            <thead>
                <tr>
                    <th style="width:300px">Extend Period</th>
                    <th style="width:150px">Exercise Date</th>
                    <th style="width:150px">Extend Volume</th>
                    <th style="width:100px">Action</th>
                </tr>
            </thead>
            <tbody name="@Html.NameFor(model => model.hedge_steering_committee_tool_detail_extendible_details)">
                @if (Model.hedge_steering_committee_tool_detail_extendible_details.Any())
                {
                    for (int j = 0; j < Model.hedge_steering_committee_tool_detail_extendible_details.Count; j++)
                    {
                        <tr name="@Html.NameFor(model => model.hedge_steering_committee_tool_detail_extendible_details[j])">
                            <!-- extend_period -->
                            <td style="width:300px">
                                <div class="input-group input-daterange">
                                    @Html.TextBoxFor(m => m.hedge_steering_committee_tool_detail_extendible_details[j].extend_period_from, new { @class = "form-control", @placeholder = "MM/YYYY", @maxlength = "18" })
                                    <div class="input-group-addon">to</div>
                                    @Html.TextBoxFor(m => m.hedge_steering_committee_tool_detail_extendible_details[j].extend_period_to, new { @class = "form-control", @placeholder = "MM/YYYY", @maxlength = "18" })
                                </div>
                            </td>
                            <!-- exercise_date -->
                            <td style="width:150px">
                                @Html.TextBoxFor(m => m.hedge_steering_committee_tool_detail_extendible_details[j].exercise_date, new { @class = "form-control input-date-picker", @placeholder = "DD/MM/YYYY", @maxlength = "11" })
                            </td>
                            <!-- extend_volume -->
                            <td style="width:150px">
                                <div class="input-group">
                                    @Html.TextBoxFor(model => model.hedge_steering_committee_tool_detail_extendible_details[j].extend_volume, new { @class = "form-control 2-digits", @onkeypress = "return ValidateNumberDigit(event,this);" })
                                    <span name="span.@(Html.NameFor(model => model.hedge_steering_committee_tool_detail_extendible_details[j].unit_volume))" class="input-group-addon">
                                        @if (!string.IsNullOrEmpty(Model.hedge_steering_committee_tool_detail_extendible_details[j].unit_volume))
                                        {
                                            @Html.Raw(Model.hedge_steering_committee_tool_detail_extendible_details[j].unit_volume);
                                        }
                                        else
                                        {
                                            @Html.Raw("N/A");
                                        }
                                    </span>
                                </div>

                            </td>
                            
                            <!-- action -->
                            <td style="width:50px">
                                @Html.HiddenFor(model => model.hedge_steering_committee_tool_detail_extendible_details[j].key)
                                <a name="@(Html.NameFor(model => model.hedge_steering_committee_tool_detail_extendible_details[j])).action_delete" class="action_delete" href="javascript:void(0);" onclick="OnDeleteHedgeSteeringCommitteeToolDetailExtendibleHedgeSteeringCommitteeToolDetailExtendibleDetails('@(Html.NameFor(model => model.hedge_steering_committee_tool_detail_extendible_details[j]))');"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-12" style="padding:10px">
        <div class="col-md-6">
            <a href="javascript:void(0);" style="text-decoration:none;" onclick="OnAddHedgeSteeringCommitteeToolDetailExtendibleHedgeSteeringCommitteeToolDetailExtendibleDetails('@(Html.NameFor(model => model.hedge_steering_committee_tool_detail_extendible_details))');" data-toggle="tooltip" title="Add Extend" name="button.AddHedgeSteeringCommitteeToolDetailExtendible.HedgeSteeringCommitteeToolDetailExtendibleDetails"><i class="fa fa-plus" aria-hidden="true" style="color:#0a7ab1"></i> Add Extend</a>
        </div>
    </div>
</div>

<!-- PAGE EVENT -->
<script type="text/javascript">  

</script>

<!-- TABLE EVENT -->
<script type="text/javascript">

    // HEDGE STEERING COMMITTEE TOOL - HEDGE STEERING COMMITTEE TOOL DETAILS

    function OnChangeHedgeSteeringCommitteeToolDetailExtendibleHedgeSteeringCommitteeToolDetailExtendibleDetails(name) {
        $("input").each(function () {
            $(this).on('keyup keypress', function (e) {
                var keyCode = e.keyCode || e.which;
                if (keyCode === 13) {
                    e.preventDefault();
                    return false;
                }
            });
        });
        $(".percentage").each(function () {
            $(this).change(function () {
                if (!isNaN(parseFloat(this.value)))
                    if (parseInt(this.value) < 0 || isNaN(parseInt(this.value)))
                        this.value = 0;
                    else if (parseInt(this.value) > 100)
                        this.value = 100;
                return this;
            });
        });
        $(".4-digits").each(function () {
            $(this).change(function () {
                if (!isNaN(parseFloat(this.value)))
                    this.value = parseFloat(this.value.toString().replace(/,/g, '')).toLocaleString('en-US', { maximumFractionDigits: 4 }).replace(/,/g, '');
                return this;
            });
        });
        $(".2-digits").each(function () {
            $(this).change(function () {
                if (!isNaN(parseFloat(this.value)))
                    this.value = parseFloat(this.value.toString().replace(/,/g, '')).toLocaleString('en-US', { maximumFractionDigits: 2 }).replace(/,/g, '');

                return this;
            });
        });
        OnChangeHedgeSteeringCommitteeToolHedgeSteeringCommitteeToolDetails();
    }

    function OnAddHedgeSteeringCommitteeToolDetailExtendibleHedgeSteeringCommitteeToolDetailExtendibleDetails(type) {

        var index = $("[name='" + type + "']").children().length;
        var name = type + '[' + index + ']';
        var sub_type = name.substr(0, name.indexOf(".hedge_steering_committee_tool_detail_extendible_details"));
        OnIndexHedgeSteeringCommitteeToolDetailExtendibleHedgeSteeringCommitteeToolDetailExtendibleDetails(name);

        var field_key = "";
        var field_order = "";
        var field_extend_period_from = "";
        var field_extend_period_to = "";
        var field_exercise_date = "";
        var field_extend_volume = "";
        var field_unit_volume = "N/A";
        var field_unit_price = "N/A";

        var recordSet = "<tr name='" + name + "'></tr>";
        $("[name='" + type + "']").append(recordSet);

        var fieldSet = "";
        fieldSet += "<td style='width:300px'><div class='input-group input-daterange'><input type='text' class='form-control' placeholder='MM/YYYY' maxlength='18' name='" + name + ".extend_period_from' /><div class='input-group-addon'>to</div><input type='text' class='form-control' placeholder='MM/YYYY' maxlength='18' name='" + name + ".extend_period_to' /></div></td>";
        fieldSet += "<td style='width:150px'><input type='text' class='form-control input-date-picker' placeholder='DD/MM/YYYY' maxlength='11' name='" + name + ".exercise_date' /></td>";
        fieldSet += "<td style='width:150px'><div class='input-group'><input type='text' class='form-control 2-digits' name='" + name + ".extend_volume' onkeypress='return ValidateNumberDigit(event,this);' /><span name='span." + name + ".unit_volume' class='input-group-addon'>" + field_unit_volume + "</div></td>";
        fieldSet += "<td style='width:100px'><input type='hidden' name='" + name + ".key' value='" + field_key + "' />" +
                    "<a name='" + name + ".action_delete' class='action_delete' href='javascript:void(0);' onclick='OnDeleteHedgeSteeringCommitteeToolDetailExtendibleHedgeSteeringCommitteeToolDetailExtendibleDetails(\"" + name + "\");'><i class='fa fa-trash-o' aria-hidden='true'></i></a>" +
                    "</td>";
        $("[name='" + name + "']").children().remove();
        $("[name='" + name + "']").append(fieldSet);

        if ($("[name='" + name + ".extend_period_from']")) {
            $("[name='" + name + ".extend_period_from']").dateRangePicker({
                autoClose: true,
                singleDate: true,
                showShortcuts: false,
                format: 'MM/YYYY',
                time: { enabled: false }
            }).bind("datepicker-change", function (t) {
                var days = "0";
                var date_format = 'MM/YYYY';
                var date_extend_period_from = $(this).val();
                var date_extend_period_to = moment(date_extend_period_from, date_format).add(parseInt(days), 'days').format(date_format);

                $("[name='" + name + ".extend_period_to']").val('');
                $("[name='" + name + ".extend_period_to']").data('dateRangePicker').destroy();
                $("[name='" + name + ".extend_period_to']").dateRangePicker({
                    autoClose: true,
                    singleDate: true,
                    showShortcuts: false,
                    format: "MM/YYYY",
                    time: { enabled: false },
                    startDate: date_extend_period_to
                });
            });
        }
        if ($("[name='" + name + ".extend_period_to']")) {
            var date_extend_period_from = $("[name='" + name + ".extend_period_from']").val();
            $("[name='" + name + ".extend_period_to']").dateRangePicker(
            {
                autoClose: true,
                singleDate: true,
                showShortcuts: false,
                format: "MM/YYYY",
                time: { enabled: false },
                startDate: date_extend_period_from
            });
        }
        if ($("[name='" + name + ".exercise_date']")) {
            $("[name='" + name + ".exercise_date']").dateRangePicker(
            {
                autoClose: true,
                singleDate: true,
                showShortcuts: false,
                format: "DD/MM/YYYY",
                time: { enabled: false }
            });
        }
                
        OnChangeHedgeSteeringCommitteeToolDetailExtendibleHedgeSteeringCommitteeToolDetailExtendibleDetails();
    }

    function OnDeleteHedgeSteeringCommitteeToolDetailExtendibleHedgeSteeringCommitteeToolDetailExtendibleDetails(name) {
        var type = name.substr(0, name.indexOf(".hedge_steering_committee_tool_details"));
        var sub_type = name.substr(0, name.indexOf(".hedge_steering_committee_tool_detail_extendible_details"));
        $("[name='" + name + "']").remove();
        OnIndexHedgeSteeringCommitteeToolDetailExtendibleHedgeSteeringCommitteeToolDetailExtendibleDetails(name);
        OnChangeHedgeSteeringCommitteeToolDetailExtendibleHedgeSteeringCommitteeToolDetailExtendibleDetails();
    }

    function OnIndexHedgeSteeringCommitteeToolDetailExtendibleHedgeSteeringCommitteeToolDetailExtendibleDetails(name) {
        var index = 0;
        var type = name.substr(0, name.indexOf(".hedge_steering_committee_tool_detail_extendible_details"));
        $("[name='" + type + ".hedge_steering_committee_tool_detail_extendible_details'] tr").each(function () {
            $(this).attr("name", $(this).attr("name").replace(/.hedge_steering_committee_tool_detail_extendible_details\u005b\d\u005d/, ".hedge_steering_committee_tool_detail_extendible_details[" + index + "]"));
            $(this).find("[name*='" + type + ".hedge_steering_committee_tool_detail_extendible_details']").each(function () {
                if ($(this).attr("name") != null) {
                    $(this).attr("name", $(this).attr("name").replace(/.hedge_steering_committee_tool_detail_extendible_details\u005b\d\u005d/, ".hedge_steering_committee_tool_detail_extendible_details[" + index + "]"));
                };
                if ($(this).attr("onchange") != null) {
                    $(this).attr("onchange", $(this).attr("onchange").replace(/.hedge_steering_committee_tool_detail_extendible_details\u005b\d\u005d/, ".hedge_steering_committee_tool_detail_extendible_details[" + index + "]"));
                };
                if ($(this).attr("onclick") != null) {
                    $(this).attr("onclick", $(this).attr("onclick").replace(/.hedge_steering_committee_tool_detail_extendible_details\u005b\d\u005d/, ".hedge_steering_committee_tool_detail_extendible_details[" + index + "]"));
                };
            })
            index++;
        });
    }

    function OnInitializeHedgeSteeringCommitteeToolDetailExtendibleHedgeSteeringCommitteeToolDetailExtendibleDetails() {
        $("tbody[name^='" + model_name + ".hedge_steering_committee_tool_detail_extendible_details']").each(function () {
            $(this).find("tr").each(function () {
                var name = $(this).attr('name');

                if ($("[name='" + name + ".extend_period_from']")) {
                    $("[name='" + name + ".extend_period_from']").dateRangePicker({
                        autoClose: true,
                        singleDate: true,
                        showShortcuts: false,
                        format: 'MM/YYYY',
                        time: { enabled: false }
                    }).bind("datepicker-change", function (t) {
                        var days = "0";
                        var date_format = 'MM/YYYY';
                        var date_extend_period_from = $(this).val();
                        var date_extend_period_to = moment(date_extend_period_from, date_format).add(parseInt(days), 'days').format(date_format);

                        $("[name='" + name + ".extend_period_to']").val('');
                        $("[name='" + name + ".extend_period_to']").data('dateRangePicker').destroy();
                        $("[name='" + name + ".extend_period_to']").dateRangePicker({
                            autoClose: true,
                            singleDate: true,
                            showShortcuts: false,
                            format: "MM/YYYY",
                            time: { enabled: false },
                            startDate: date_extend_period_to
                        });
                    });
                }
                if ($("[name='" + name + ".extend_period_to']")) {
                    var date_extend_period_from = $("[name='" + name + ".extend_period_from']").val();
                    $("[name='" + name + ".extend_period_to']").dateRangePicker(
                    {
                        autoClose: true,
                        singleDate: true,
                        showShortcuts: false,
                        format: "MM/YYYY",
                        time: { enabled: false },
                        startDate: date_extend_period_from
                    });
                }
                if ($("[name='" + name + ".exercise_date']")) {
                    $("[name='" + name + ".exercise_date']").dateRangePicker(
                    {
                        autoClose: true,
                        singleDate: true,
                        showShortcuts: false,
                        format: "DD/MM/YYYY",
                        time: { enabled: false }
                    });
                }


                // PREPARATION FOR DATE RANGE PICKER //
                //$(this).find("[name$='.extend_period_from']").each(function () {
                    

                //    $(this).dateRangePicker(
                //    {
                //        autoClose: true,
                //        singleDate: true,
                //        showShortcuts: false,
                //        format: 'MM/YYYY',
                //        time: { enabled: false }
                //    })
                //});

                //$(this).find("[name$='.extend_period_to']").each(function () {
                //    $(this).dateRangePicker(
                //    {
                //        autoClose: true,
                //        singleDate: true,
                //        showShortcuts: false,
                //        format: 'MM/YYYY',
                //        time: { enabled: false }
                //    });
                //});

                //$(this).find("[name$='.exercise_date']").each(function () {
                //    $(this).dateRangePicker(
                //    {
                //        autoClose: true,
                //        singleDate: true,
                //        showShortcuts: false,
                //        format: "DD/MM/YYYY",
                //        time: { enabled: false }
                //    });
                //});
            });
        });
    }
</script>

<!-- CLASS COMPONENT -->
<script type="text/javascript">    
    $("input").each(function () {
        $(this).on('keyup keypress', function (e) {
            var keyCode = e.keyCode || e.which;
            if (keyCode === 13) {
                e.preventDefault();
                return false;
            }
        });
    });

    $(".percentage").each(function () {
        $(this).change(function () {
            if (!isNaN(parseFloat(this.value)))
                if (parseInt(this.value) < 0 || isNaN(parseInt(this.value)))
                    this.value = 0;
                else if (parseInt(this.value) > 100)
                    this.value = 100;
            this.value = ConvertToNumber(this.value, 2);
            return this;
        });
    });

    $(".4-digits").each(function () {
        $(this).change(function () {
            if (!isNaN(parseFloat(this.value)))
                this.value = parseFloat(this.value.toString().replace(/,/g, '')).toLocaleString('en-US', { maximumFractionDigits: 4 }).replace(/,/g, '');

            return this;
        });
    });

    $(".2-digits").each(function () {
        $(this).change(function () {
            if (!isNaN(parseFloat(this.value)))
                this.value = parseFloat(this.value.toString().replace(/,/g, '')).toLocaleString('en-US', { maximumFractionDigits: 2 }).replace(/,/g, '');

            return this;
        });
    });   
</script>

<!-- UTILITIES -->
<script type="text/javascript">
    function SelectText(selector, value) {
        var text = "";
        for (var i = 0; i < selector.length; i++) {
            if (selector[i].Value == value) {
                text = selector[i].Text;
            }
        }
        return text;
    }

    function OptionValue(selector, value) {
        var options = "<option value=''>-- Select --</option>";
        for (var i = 0; i < selector.length; i++) {
            if (selector[i].Value == value) {
                options += "<option value='" + selector[i].Value + "' selected='selected'>" + selector[i].Text + "</option>";
            }
            else {
                options += "<option value='" + selector[i].Value + "'>" + selector[i].Text + "</option>";
            }
        }
        return options;
    }

    function ConvertToNumber(value, digits) {
        var number = null;
        if (!isNaN(parseFloat(value))) {
            number = parseFloat(value.toString().replace(/,/g, '')).toLocaleString('en-US', { maximumFractionDigits: digits }).replace(/,/g, '');
        }
        return number;
    }

    function ParseToNumber(value) {
        if (!isNaN(parseFloat(value)))
            return value;
        else
            return 0;
    }
</script>

<!-- FILE EVENT -->
<script type="text/javascript">

</script>

<!-- MODAL EVENT-->
<script type="text/javascript">

</script>

<!-- FINALIZATION SCRIPT -->
<script type="text/javascript">
    // PREPARATION DROPDOWN MODEL //
    if (page_mode == "READ") {
        $("select.form-control").each(function () {
            $(this).attr("disabled", "disabled");
        });

        $("input.form-control").each(function () {
            $(this).attr("readonly", "readonly");
        });

        $("textarea.form-control").each(function () {
            $(this).attr("readonly", "readonly");
        });

        $(".button-control").each(function () {
            $(this).hide();
        });

        $(".section-control").each(function () {
            $(this).hide();
        });

        $(".action_edit").each(function () {
            $(this).hide();
        });

        $(".action_delete").each(function () {
            $(this).hide();
        });
    }

    // DOCUMENT ONLOAD //
    window.onload = function () {
        OnInitializeHedgeSteeringCommitteeToolDetailExtendibleHedgeSteeringCommitteeToolDetailExtendibleDetails();
        OnChangeHedgeSteeringCommitteeToolHedgeSteeringCommitteeToolDetails();
    }
</script>