﻿@using ProjectCPAIEngine.Utilities
@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.HedgeSteeringCommitteeToolViewModel
@{
    Layout = null;
}

<!-- INTIALIZATION STYLE -->
<style>    
    i.fa.fa-info-circle{
        color: #808080;
        font-size: large;
        padding-left: 5px;
    }

    fieldset.scheduler-border {
        border: 1px groove #ddd !important;
        padding: 0 1.4em 0 1.4em !important;
        margin: 0 0 0 0 !important;
        -webkit-box-shadow: 0px 0px 0px 0px #000;
        box-shadow: 0px 0px 0px 0px #000;
    }

    legend.scheduler-border {
        display: block;
        margin-bottom: 0 !important;
        font-size: 21px;
        line-height: inherit;
        color: #333;
        border: 0;
        width: 0 !important;
        padding-right: 50px;
        padding-left: 5px;
        border-bottom: none;
    }

    .table > tbody > tr > td > div {
        float: left;
        padding: 5px;
        min-width: 50px;
    }

    div.tooltip-inner {
        text-wrap: normal;
        text-align: left;
        font-size: inherit;
        width: auto;
        height: auto;
        max-width: 400px;
        max-height: none;
    }

    span.approved:before {
        content: '\f111'; /*'\f058';*/
        display: inline-block;
        color: #2e8b57;
        font: normal normal normal 14px/1 FontAwesome;
        font-style: normal;
        font-variant-ligatures: normal;
        font-variant-caps: normal;
        font-variant-numeric: normal;
        font-weight: normal;
        font-stretch: normal;
        font-size: inherit;
        line-height: 1;
        font-family: FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    span.inactive:before {
        content: '\f111'; /*'\f056';*/
        display: inline-block;
        color: gray;
        font: normal normal normal 14px/1 FontAwesome;
        font-style: normal;
        font-variant-ligatures: normal;
        font-variant-caps: normal;
        font-variant-numeric: normal;
        font-weight: normal;
        font-stretch: normal;
        font-size: inherit;
        line-height: 1;
        font-family: FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

</style>

<!-- INITIALIZATION SCRIPT -->
<script type="text/javascript">

    // PREPARATION DROPDOWN MODEL //
    var ddl_hedge_tool_unit_price = [];
    var ddl_hedge_tool_unit_volume = [];
    @{
        // PREPARE HEDGE UNIT PRICE //
        if (Model.ddlHedgeUnitPrice != null)
        {
            foreach (var hedgeUnitPrice in Model.ddlHedgeUnitPrice)
            {
                <text>
                var hedge_unit_price = { "Value": "@hedgeUnitPrice.Value", "Text": "@hedgeUnitPrice.Text" };
                ddl_hedge_tool_unit_price.push(hedge_unit_price);
                </text>
            }
        }
        // PREPARE HEDGE UNIT VOLUMN //
        if (Model.ddlHedgeUnitVolume != null)
        {
            foreach (var hedgeUnitVolume in Model.ddlHedgeUnitVolume)
            {
                <text>
                var hedge_unit_volume = { "Value": "@hedgeUnitVolume.Value", "Text": "@hedgeUnitVolume.Text" };
                ddl_hedge_tool_unit_volume.push(hedge_unit_volume);
                </text>
            }
        }
    }
</script>

<div class="col-md-6">
    <div class="form-group col-md-8">
        <label class="col-md-4 control-label">Total Extend Volume</label>
        <div class="col-md-8">
            <div class="input-group">
                @Html.TextBoxFor(model => model.total_extend_volume, new { @class = "form-control 2-digits", @onkeypress = "return ValidateNumberDigit(event,this);", @onchange = "OnChangeHedgeSteeringCommitteeToolExtendVolume('" + Html.NameFor(model => model) + "')" })
                @Html.HiddenFor(model => model.unit_volume, Model.unit_volume)
                <span name="span.@(Html.NameFor(model => model.unit_volume))" class="input-group-addon">
                    @if (!string.IsNullOrEmpty(Model.unit_volume))
                    {
                        @Html.Raw(Model.unit_volume);
                    }
                    else
                    {
                        @Html.Raw("N/A");
                    }
                </span>  
            </div>          
        </div>
    </div>
    <div class="form-group col-md-4">
        <label class="col-md-3 col-md-offset-1 control-label">Unit</label>
        <div class="col-md-8">
            @if (!string.IsNullOrEmpty(Model.unit_price))
            {
                @Html.DropDownListFor(model => model.unit_price, new SelectList(Model.ddlHedgeUnitPrice, "Value", "Text", Model.unit_price), "-- Select --", new { @class = "form-control essential-before", @onchange = "OnChangeHedgeSteeringCommitteeToolUnitPrice('" + Html.NameFor(model => model) + "')" })
            }
            else
            {
                @Html.DropDownListFor(model => model.unit_price, new SelectList(Model.ddlHedgeUnitPrice, "Value", "Text"), "-- Select --", new { @class = "form-control essential-before", @onchange = "OnChangeHedgeSteeringCommitteeToolUnitPrice('" + Html.NameFor(model => model) + "')" })
            }
        </div>
    </div>
    
</div>


<!-- Add/Delete Hedge Steering Committee Tool -->
<div class="form-group">
    <div class="pull-right">
        <button type="button" name="button.AddHedgeSteeringCommitteeTool" class="button-control btn btn-success" style="background:#e21789" data-toggle="modal" data-target=".bs-tool-search-modal" onclick="SearchTool()">Add Tool</button>
        <button type="button" name="button.DeleteHedgeSteeringCommitteeTool" class="button-control btn btn-primary" data-toggle="modal" data-target=".bs-delete-modal-hegde-steering-committee-tool" onclick="return OnPrepareDeleteHedgeSteeringCommitteeTool()">Delete Tool</button>
    </div>
</div>

<!-- Model Add Hedge Steering Committee Tool -->
<div class="modal fade bs-add-modal-hegde-steering-committee-tool" tabindex="-1" role="dialog" aria-labelledby="hegde-steering-committee-tool-label">
    <div class="modal-dialog modal-lg" role="document" style="width:600px">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add New Hedging Steering Committee Tool</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-1"></div>
                            <label class="col-md-3 control-label">Tool Name<span style="color:red">*</span> :</label>
                            <div class="col-md-6">                                
                                @Html.TextBoxFor(model => model.hedge_steering_committee_tool_detail, new { @class = "form-control" })
                                @Html.TextBoxFor(model => model.hedge_steering_committee_tool_detail_code, new { @class = "form-control" })
                                @Html.TextBoxFor(model => model.hedge_steering_committee_tool_detail_name, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="OpenBoxBungerPromptHedgeSteeringCommitteeTool('Comment :', 'AddHedgeSteeringCommitteeTool');">Add</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <input type="submit" style="display: none;" name="action:AddHedgeSteeringCommitteeTool" />
            </div>
        </div>
    </div>
</div>

<!-- Model Delete Hedge Steering Committee Tool -->
<div class="modal fade bs-delete-modal-hegde-steering-committee-tool" tabindex="-1" role="dialog" aria-labelledby="hegde-steering-committee-tool-label">
    <div class="modal-dialog modal-lg" role="document" style="width:600px">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title control-label">Are you sure to delete this hedge steering committee tool?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="OpenBoxBungerPromptHedgeSteeringCommitteeTool('Comment :', 'DeleteHedgeSteeringCommitteeTool');">Delete</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <input type="submit" style="display: none;" name="action:DeleteHedgeSteeringCommitteeTool" />
            </div>
        </div>
    </div>
</div>


<!-- Hedge Steering Committee Tool Details -->
<div class="row">
@if (Model.hedge_steering_committee_tool_details.Any())
{
    Model.hedge_steering_committee_tool_details = Model.hedge_steering_committee_tool_details.OrderBy(o => Convert.ToDecimal(o.hedge_tool_detail_order)).ToList();
    <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist" style="margin-bottom:10px;">
            @for (int i = 0; i < Model.hedge_steering_committee_tool_details.Count; i++)
            {
                if (Model.hedge_steering_committee_tool_details[i].hedge_tool_detail == Model.hedge_steering_committee_tool_detail)
                {
                    <li role="presentation" id="nav-tab-hedge-steering-committee-tool-hedge-steering-committee-tool-details-@i" class="nav-tab nav-tab-hedge-steering-committee-tool-hedge-steering-committee-tool-details active" data-content="@Model.hedge_steering_committee_tool_details[i].hedge_tool_detail"><a href="#tab-content-hedge-steering-committee-tool-hedge-steering-committee-tool-details-@i" aria-controls="tab-content-hedge-steering-committee-tool-details-@i" role="tab" data-toggle="tab" >@Model.hedge_steering_committee_tool_details[i].hedge_tool_detail_code</a></li>
                }
                else
                {
                    <li role="presentation" id="nav-tab-hedge-steering-committee-tool-hedge-steering-committee-tool-details-@i" class="nav-tab nav-tab-hedge-steering-committee-tool-hedge-steering-committee-tool-details" data-content="@Model.hedge_steering_committee_tool_details[i].hedge_tool_detail"><a href="#tab-content-hedge-steering-committee-tool-hedge-steering-committee-tool-details-@i" aria-controls="tab-content-hedge-steering-committee-tool-details-@i" role="tab" data-toggle="tab">@Model.hedge_steering_committee_tool_details[i].hedge_tool_detail_code</a></li>
                }
            }
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            @for (int i = 0; i < Model.hedge_steering_committee_tool_details.Count; i++)
            {
                <input type="hidden" name="@Html.NameFor(model => model.hedge_steering_committee_tool_details[i].hedge_tool_detail)" value="@Model.hedge_steering_committee_tool_details[i].hedge_tool_detail" />
                <input type="hidden" name="@Html.NameFor(model => model.hedge_steering_committee_tool_details[i].hedge_tool_detail_code)" value="@Model.hedge_steering_committee_tool_details[i].hedge_tool_detail_code" />
                <input type="hidden" name="@Html.NameFor(model => model.hedge_steering_committee_tool_details[i].hedge_tool_detail_name)" value="@Model.hedge_steering_committee_tool_details[i].hedge_tool_detail_name" />
                <input type="hidden" name="@Html.NameFor(model => model.hedge_steering_committee_tool_details[i].hedge_tool_detail_order)" value="@Model.hedge_steering_committee_tool_details[i].hedge_tool_detail_order" />                        
                <div role="tabpanel" class="tab-pane @{ if (Model.hedge_steering_committee_tool_details[i].hedge_tool_detail == Model.hedge_steering_committee_tool_detail) { <text>active</text> } }" id="tab-content-hedge-steering-committee-tool-hedge-steering-committee-tool-details-@i" name="tabpanel.@(Html.NameFor(model => model.hedge_steering_committee_tool_details[i]))" >
                    
                    <div class="row">

                        @Html.HiddenFor(model => model.hedge_steering_committee_tool_details[i].feature_extendible, Model.hedge_steering_committee_tool_details[i].feature_extendible)
                        @Html.HiddenFor(model => model.hedge_steering_committee_tool_details[i].feature_target_redemption, Model.hedge_steering_committee_tool_details[i].feature_target_redemption)
                        @Html.HiddenFor(model => model.hedge_steering_committee_tool_details[i].feature_knock_in_out, Model.hedge_steering_committee_tool_details[i].feature_knock_in_out)
                        @Html.HiddenFor(model => model.hedge_steering_committee_tool_details[i].feature_capped, Model.hedge_steering_committee_tool_details[i].feature_capped)
                        @Html.HiddenFor(model => model.hedge_steering_committee_tool_details[i].feature_swaption, Model.hedge_steering_committee_tool_details[i].feature_swaption)
                        
                        @{
                            if (true)//(Model.hedge_steering_committee_tool_details[i].feature_target_redemption == "Y")
                            {
                                @Html.EditorFor(model => model.hedge_steering_committee_tool_details[i].hedge_steering_committee_tool_detail_target_redemption, "HedgeSteeringCommitteeToolTargetRedemption")
                            }
                            if (Model.hedge_steering_committee_tool_details[i].feature_knock_in_out == "Y")
                            {
                                @Html.EditorFor(model => model.hedge_steering_committee_tool_details[i].hedge_steering_committee_tool_detail_knock_in_out, "HedgeSteeringCommitteeToolKnockInOut")
                            }
                            if (true)//(Model.hedge_steering_committee_tool_details[i].feature_capped == "Y")
                            {
                                @Html.EditorFor(model => model.hedge_steering_committee_tool_details[i].hedge_steering_committee_tool_detail_capped, "HedgeSteeringCommitteeToolCapped")
                            }
                            if (true) //(Model.hedge_steering_committee_tool_details[i].feature_swaption == "Y")
                            {
                                @Html.EditorFor(model => model.hedge_steering_committee_tool_details[i].hedge_steering_committee_tool_detail_swaption, "HedgeSteeringCommitteeToolSwaption")
                            }
                            if (true)//(Model.hedge_steering_committee_tool_details[i].feature_extendible == "Y")
                            {
                                @Html.EditorFor(model => model.hedge_steering_committee_tool_details[i].hedge_steering_committee_tool_detail_extendible, "HedgeSteeringCommitteeToolExtendible")
                            }

                        }
                    </div>

                    <div class="row" style="padding:10px;">
                        <div class="col-md-6">
                            <div class="pull-left">
                                @Html.HiddenFor(model => model.hedge_steering_committee_tool_details[i].net_premium, Model.hedge_steering_committee_tool_details[i].net_premium)
                                <div class="checkbox">
                                    <input type="checkbox" id="checkbox_@(Html.IdFor(model => model.hedge_steering_committee_tool_details[i].net_premium))" name="checkbox.@(Html.NameFor(model => model.hedge_steering_committee_tool_details[i].net_premium))" class="checkbox" @(Model.hedge_steering_committee_tool_details[i].net_premium == "Y" ? " checked='checked'" : "") onchange="OnChangeHedgeSteeringCommitteeToolHedgeSteeringCommitteeToolDetailsNetPremium('@(Html.NameFor(model => model.hedge_steering_committee_tool_details[i]))')" />
                                    <label for="checkbox_@(Html.IdFor(model => model.hedge_steering_committee_tool_details[i].net_premium))">Net Premium</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="pull-right">
                                @Html.HiddenFor(model => model.hedge_steering_committee_tool_details[i].use_formula, Model.hedge_steering_committee_tool_details[i].use_formula)
                                <div class="checkbox">
                                    <input type="checkbox" id="checkbox_@(Html.IdFor(model => model.hedge_steering_committee_tool_details[i].use_formula))" name="checkbox.@(Html.NameFor(model => model.hedge_steering_committee_tool_details[i].use_formula))" class="checkbox" @(Model.hedge_steering_committee_tool_details[i].use_formula == "Y" ? " checked='checked'" : "") onchange="OnChangeHedgeSteeringCommitteeToolHedgeSteeringCommitteeToolDetailsUseFormula('@(Html.NameFor(model => model.hedge_steering_committee_tool_details[i]))')" />
                                    <label for="checkbox_@(Html.IdFor(model => model.hedge_steering_committee_tool_details[i].use_formula))">Use Formula</label>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>                        
            }    
        </div>
    </div>
} 

</div>


<!-- TOOL SEARCH MODAL -->
@*<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-tool-search-modal" onclick="SearchTool()">Add New Tool</button>*@

<div class="modal fade bs-tool-search-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Tool</h4>
            </div>
            <div class="modal-body">
                <!-- INPUT -->
                <div class="form-horizontal">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-6">
                                <label for="inputName" class="col-md-3 control-label">Name</label>
                                <div class="col-md-7">
                                    <div class="box-date">
                                        <input type="text" id="sToolName" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="inputDesc" class="col-md-3 control-label">Desc</label>
                                <div class="col-md-7">
                                    <div class="box-date">
                                        <input type="text" id="sDesc" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-6">
                                <label for="inputOption" class="col-md-3 control-label">Option</label>
                                <div class="col-md-7">
                                    <div class="box-date">
                                        <input type="text" id="sOption" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- BUTTON -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-3 text-center"></div>
                            <div class="col-md-3 text-center">
                                <input type="button" id="btnSearch" class="btn btn-primary" onclick="SearchHedgeTool();" value="Search" />
                            </div>
                            <div class="col-md-3 text-center">
                                <button type="button" onclick="ClearInputSearchDataTool()" class="btn btn-default">Clear All</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- RESULT TABLE -->
                <div class="page-header">
                    <h3>Search Result</h3>
                </div>
                <div class="task-box">
                    <div class="wrapper-table collapse in" id="collapseJuly">
                        <table id="searchResultTable" class="table table-hover display" cellspacing="0">
                            <thead>
                                <tr>
                                    <th style="width:65px;font-size:medium;"></th>
                                    <th style="width:150px;font-size:medium;">Code</th>
                                    <th style="width:150px;font-size:medium;">Name</th>
                                    <th style="width:150px;font-size:medium;">Desc</th>
                                    <th style="width:300px;font-size:medium;">Option</th>

                                    <th style="width:50px;font-size:medium;">Target redemption</th>
                                    <th style="width:50px;font-size:medium;">Swaption</th>
                                    <th style="width:50px;font-size:medium;">Extendible</th>
                                    <th style="width:50px;font-size:medium;">Capacity</th>
                                    <th style="width:50px;font-size:medium;">Knock In/Out</th>

                                    <th style="width:80px;font-size:medium;">Status</th>
                                    <th style="width:50px;font-size:medium;">Reversion</th>
                                    <th style="width:100px;font-size:medium;">Update Date</th>
                                    <th style="width:100px;font-size:medium;">Update by</th>
                                </tr>
                            </thead>
                            <tbody id="ToolResult"></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- PAGE EVENT -->
<script type="text/javascript">

    // CONFIRMATION BEFORE SAVE //
    function OpenBoxBungerPromptHedgeSteeringCommitteeTool(MSG, Event) {

        // CASE: ADD HEDGE STEERING COMMITTEE TOOL //
        if (Event == "AddHedgeSteeringCommitteeTool") {
            $("[name='action:AddHedgeSteeringCommitteeTool']").click();
        }
        // CASE: DELETE HEDGE STEERING COMMITTEE TOOL //
        else if (Event == "DeleteHedgeSteeringCommitteeTool") {
            $("[name='action:DeleteHedgeSteeringCommitteeTool']").click();
        }
    }

    // PREPARE ADD HEDGE STEERING COMMITTEE TOOL //
    function OnPrepareAddHedgeSteeringCommitteeTool() {
        $("[name='hedge_steering_committee_tool.hedge_steering_committee_tool_detail']").val(null);
        return true;
    }

    // PREPARE DELETE HEDGE STEERING COMMITTEE TOOL //
    function OnPrepareDeleteHedgeSteeringCommitteeTool() {
        var data = null;
        $('.nav-tab-hedge-steering-committee-tool-hedge-steering-committee-tool-details.active').each(function () {
            data = $(this).data("content");
        });
        $("[name='hedge_steering_committee_tool.hedge_steering_committee_tool_detail']").val(data);
        return true;
    }


</script>

<!-- TABLE EVENT -->
<script type="text/javascript">
    
    // HEDGE STEERING COMMITTEE TOOL //     
    function OnChangeHedgeSteeringCommitteeToolUnitPrice(name) { //hedge_steering_committee_tool
        var field_unit_price = $("[name='" + name + ".unit_price']").val();
        var field_unit_volume = SelectText(ddl_hedge_tool_unit_volume, field_unit_price);

        var text_unit_price = ""
        var text_unit_volume = "";
        var html_unit_volume = "N/A";
        var html_unit_price = "N/A";

        if (field_unit_price !== "") {
            text_unit_price = SelectText(ddl_hedge_tool_unit_price, field_unit_price);
            html_unit_price = SelectText(ddl_hedge_tool_unit_price, field_unit_price);
        }
        if (field_unit_volume !== "") {
            text_unit_volume = field_unit_volume;
            html_unit_volume = field_unit_volume;
        }

        $("[name='" + name + ".unit_price']").each(function () {
            $(this).val(field_unit_price);
        });
        $("[name='span." + name + ".unit_price']").each(function () {
            $(this).html(html_unit_price)
        });
        $("[name='" + name + ".unit_volume']").each(function () {
            $(this).val(text_unit_volume);
        });
        $("[name='span." + name + ".unit_volume']").each(function () {
            $(this).html(html_unit_volume)
        });

    }
    
    function OnChangeHedgeSteeringCommitteeToolExtendVolume(name) { //hedge_steering_committee_tool
        
    }

    // HEDGE STEERING COMMITTEE TOOL - HEDGE STEERING COMMITTEE TOOL DETAILS
    function OnChangeHedgeSteeringCommitteeToolHedgeSteeringCommitteeToolDetailsNetPremium(name) { //hedge_steering_committee_tool.hedge_steering_committee_tool_details[i]
        var net_premium;
        $("[name='" + name + ".net_premium']").each(function () {
            $("[name='checkbox." + name + ".net_premium']").each(function () {
                if ($(this).prop("checked")) { net_premium = "Y"; }
                else { net_premium = "N"; }
            });
            $(this).val(net_premium);
        });
    }

    function OnChangeHedgeSteeringCommitteeToolHedgeSteeringCommitteeToolDetailsUseFormula(name) { //hedge_steering_committee_tool.hedge_steering_committee_tool_details[i]
        var use_formula;
        $("[name='" + name + ".use_formula']").each(function () {
            $("[name='checkbox." + name + ".use_formula']").each(function () {
                if ($(this).prop("checked")) { use_formula = "Y"; }
                else { use_formula = "N"; }
            });
            $(this).val(use_formula);
        });
    }

    function OnChangeHedgeSteeringCommitteeToolHedgeSteeringCommitteeToolDetails() {

    }
</script>

<!-- CLASS COMPONENT -->
<script type="text/javascript">    
    $("input").each(function () {
        $(this).on('keyup keypress', function (e) {
            var keyCode = e.keyCode || e.which;
            if (keyCode === 13) {
                e.preventDefault();
                return false;
            }
        });
    });

    $(".percentage").each(function () {
        $(this).change(function () {
            if (!isNaN(parseFloat(this.value)))
                if (parseInt(this.value) < 0 || isNaN(parseInt(this.value)))
                    this.value = 0;
                else if (parseInt(this.value) > 100)
                    this.value = 100;
            this.value = ConvertToNumber(this.value, 2);
            return this;
        });
    });

    $(".4-digits").each(function () {
        $(this).change(function () {
            if (!isNaN(parseFloat(this.value)))
                this.value = parseFloat(this.value.toString().replace(/,/g, '')).toLocaleString('en-US', { maximumFractionDigits: 4 }).replace(/,/g, '');

            return this;
        });
    });

    $(".2-digits").each(function () {
        $(this).change(function () {
            if (!isNaN(parseFloat(this.value)))
                this.value = parseFloat(this.value.toString().replace(/,/g, '')).toLocaleString('en-US', { maximumFractionDigits: 2 }).replace(/,/g, '');

            return this;
        });
    });
</script>

<!-- UTILITIES -->
<script type="text/javascript">
    function SelectText(selector, value) {
        var text = "";
        for (var i = 0; i < selector.length; i++) {
            if (selector[i].Value == value) {
                text = selector[i].Text;
            }
        }
        return text;
    }

    function OptionValue(selector, value) {
        var options = "<option value=''>-- Select --</option>";
        for (var i = 0; i < selector.length; i++) {
            if (selector[i].Value == value) {
                options += "<option value='" + selector[i].Value + "' selected='selected'>" + selector[i].Text + "</option>";
            }
            else {
                options += "<option value='" + selector[i].Value + "'>" + selector[i].Text + "</option>";
            }
        }
        return options;
    }

    function ConvertToNumber(value, digits) {
        var number = null;
        if (!isNaN(parseFloat(value))) {
            number = parseFloat(value.toString().replace(/,/g, '')).toLocaleString('en-US', { maximumFractionDigits: digits }).replace(/,/g, '');
        }
        return number;
    }

    function ParseToNumber(value) {
        if (!isNaN(parseFloat(value)))
            return value;
        else
            return 0;
    }
</script>

<!-- FILE EVENT -->
<script type="text/javascript">

</script>

<!-- MODAL EVENT-->
<script type="text/javascript">

    //TOOL RESULT TABLE
    var table = $('#searchResultTable').DataTable({
        "scrollY": "350px",
        "scrollX": true,
        "scrollCollapse": true,
        "orderable": false,
        "bSort": false,
    });

    function SearchTool() {
        OnPrepareAddHedgeSteeringCommitteeTool();
        setTimeout(function () {
            table.columns.adjust().draw();
        }, 500);
    }

    function ClearInputSearchDataTool() {
        $('#sToolName').val("");
        $('#sDesc').val();
        $('#sOption').val();
    }

    function SearchHedgeTool() {
        var ToolName = $('#sToolName').val();
        var Desc = $('#sDesc').val();
        var Option = $('#sOption').val();
        $.ajax({
            url: '@Url.Action("SearchHedgeTool", "HedgeSteeringCommittee")',
            data: { "ToolName": ToolName, "Desc": Desc, "Option": Option },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "";

                for (var i = 0; i < data.tool_Search.sSearchData.length; i++) {
                    markup += '<tr class="drafts" style="cursor: pointer;">';

                    markup += '<td  style="width:65px;font-size:medium;" data-dismiss="modal"  onclick=\'SelectHedgeTool(\"' + data.tool_Search.sSearchData[i].dHedgeToolID + '\")\'><span>Select</span></td>';
                    markup += '<td  style="width:150px;font-size:medium;" class="clickable-row" >' + data.tool_Search.sSearchData[i].dCode + '</td>';
                    markup += '<td  style="width:150px;font-size:medium;" class="clickable-row" >' + data.tool_Search.sSearchData[i].dName + '</td>';
                    markup += '<td  style="width:150px;font-size:medium;" class="clickable-row" >' + data.tool_Search.sSearchData[i].dDesc + '</td>';
                    markup += '<td  style="width:300px;font-size:medium;" class="clickable-row" >' + data.tool_Search.sSearchData[i].dOption + '</td>';

                    //Feature
                    markup += '<td  style="width:50px;font-size:medium;" class="clickable-row" >';
                    if (data.tool_Search.sSearchData[i].dFeatureTargetFlag == "Y") {
                        markup += '<div data-toggle="tooltip" data-container="body" title="Target redemption"><span class="approved"></span></div>';
                    }
                    else {
                        markup += '<div data-toggle="tooltip" data-container="body" title="Target redemption"><span class="inactive"></span></div>';
                    }
                    markup += '</td>';
                    markup += '<td  style="width:50px;font-size:medium;" class="clickable-row" >';
                    if (data.tool_Search.sSearchData[i].dFeatureSwapFlag == "Y") {
                        markup += '<div data-toggle="tooltip" data-container="body" title="Swaption" ><span class="approved"></span></div>';
                    }
                    else {
                        markup += '<div data-toggle="tooltip" data-container="body" title="Swaption" ><span class="inactive"></span></div>';
                    }
                    markup += '</td>';
                    markup += '<td  style="width:50px;font-size:medium;" class="clickable-row" >';
                    if (data.tool_Search.sSearchData[i].dFeatureExtendFlag == "Y") {
                        markup += '<div data-toggle="tooltip" data-container="body" title="Extendible" ><span class="approved"></span></div>';
                    }
                    else {
                        markup += '<div data-toggle="tooltip" data-container="body" title="Extendible" ><span class="inactive"></span></div>';
                    }
                    markup += '</td>';
                    markup += '<td  style="width:50px;font-size:medium;" class="clickable-row" >';
                    if (data.tool_Search.sSearchData[i].dFeatureCappedFlag == "Y") {
                        markup += '<div data-toggle="tooltip" data-container="body" title="Capacity" ><span class="approved"></span></div>';
                    }
                    else {
                        markup += '<div data-toggle="tooltip" data-container="body" title="Capacity" ><span class="inactive"></span></div>';
                    }
                    markup += '</td>';
                    markup += '<td  style="width:50px;font-size:medium;" class="clickable-row" >';
                    if (data.tool_Search.sSearchData[i].dFeatureKnockInOutFlag == "Y") {
                        markup += '<div data-toggle="tooltip" data-container="body" title="Knock In/Out" ><span class="approved"></span</div>';
                    }
                    else {
                        markup += '<div data-toggle="tooltip" data-container="body" title="Knock In/Out" ><span class="inactive"></span</div>';
                    }
                    markup += '</td>';
                    //
                
                    markup += '<td  style="width:80px;font-size:medium;" class="clickable-row" >' + data.tool_Search.sSearchData[i].dStatus + '</td>';
                    markup += '<td  style="width:50px;font-size:medium;" class="clickable-row" >' + data.tool_Search.sSearchData[i].dVersion + '</td>';
                    markup += '<td  style="width:100px;font-size:medium;" class="clickable-row" >' + data.tool_Search.sSearchData[i].dUpdateDate + '</td>';
                    markup += '<td  style="width:100px;font-size:medium;" class="clickable-row" >' + data.tool_Search.sSearchData[i].dUpdateBy + '</td>';

                    markup += '</tr>';
                }

                var table = $('#searchResultTable').DataTable();
                table.rows().remove().draw();
                table.rows.add($(markup)).draw();
            },
            error: function (reponse) {
                var table = $('#searchResultTable').DataTable();
                table.rows().remove().draw();
                alert("error : " + reponse.error());
            }
        });
    }

    function SelectHedgeTool(rowid) {
        $("[name='hedge_steering_committee_tool.hedge_steering_committee_tool_detail']").val(rowid);
        OpenBoxBungerPromptHedgeSteeringCommitteeTool('Comment :', 'AddHedgeSteeringCommitteeTool');
    }
</script>

<!-- FINALIZATION SCRIPT -->
<script type="text/javascript">
    // PREPARATION DROPDOWN MODEL //
    if (page_mode == "READ") {
        $("select.form-control").each(function () {
            $(this).attr("disabled", "disabled");
        });

        $("input.form-control").each(function () {
            $(this).attr("readonly", "readonly");
        });

        $("textarea.form-control").each(function () {
            $(this).attr("readonly", "readonly");
        });

        $(".button-control").each(function () {
            $(this).hide();
        });

        $(".section-control").each(function () {
            $(this).hide();
        });

        $(".action_edit").each(function () {
            $(this).hide();
        });

        $(".action_delete").each(function () {
            $(this).hide();
        });
    }
</script>