﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.BillingInfoViewModel

@{
    ViewBag.Title = "Get Billing Information from SAP";

    if (ViewBag.Error == true)
    {
        if (String.IsNullOrEmpty(ViewBag.ErrorMessage))
        {
            <script>
                bootbox.alert("Error - Please input the valid date and try again");
            </script>
        }
        else
        {
            <script>
                bootbox.alert('@ViewBag.ErrorMessage');
            </script>
        }
    }
    else if (ViewBag.SendToSapCompleted != null && ViewBag.SendToSapCompleted == true)
    {
        <script>
            bootbox.alert("Send Billing Info to SAP successfully");
        </script>
    }

    var today = DateTime.Now.Day.ToString() + "/" + DateTime.Now.Month.ToString() + "/" + DateTime.Now.Year.ToString();
    string defaultDate = today + " to " + today;
}
<div class="wrapper-detail">
    <form id="form1" runat="server" method="post" class="form-horizontal" style="width:1200px">
        <div class="row">
            <h3 class="title">Get Billing Information from SAP</h3>
            <div class="form-group">
                <div class="col-md-6">
                    <label class="control-label col-sm-4">Billing Date:</label>
                    <div class="col-sm-8 ">
                        @Html.TextBoxFor(m => m.BillingDate, new { @id = "billingDate", @class = "form-control input-date-picker date-range-start ", @placeholder = "DD/MM/YYYY to DD/MM/YYYY", @maxlength = "24", @value = defaultDate })
                        @Html.HiddenFor(model => model.BillingDate)
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="control-label col-sm-4">Created Date:</label>
                    <div class="col-sm-8 ">
                        @Html.TextBoxFor(m => m.CreatedDate, new { @id = "createdDate", @class = "form-control input-date-picker date-range-start ", @placeholder = "DD/MM/YYYY to DD/MM/YYYY", @maxlength = "24", @value = defaultDate })
                        @Html.HiddenFor(model => model.CreatedDate)
                    </div>
                </div>
            </div>
            <div class="form-group">                
                <div class="col-md-6">
                    <label class="control-label col-sm-4">Company: </label>
                    <div class="col-sm-8">
                        @{
                            List<SelectListItem> listItems = new List<SelectListItem>();
                            listItems.Add(new SelectListItem
                            {
                                Text = "All",
                                Value = "0000",
                                Selected = true
                            });
                            listItems.Add(new SelectListItem
                            {
                                Text = "TOP",
                                Value = "1100"
                            });
                            listItems.Add(new SelectListItem
                            {
                                Text = "TLB",
                                Value = "1400"
                            });
                        }

                        @Html.DropDownListFor(model => model.Company, listItems, new { @class = "form-control", @Id = "ddlCompany" })
                        @Html.HiddenFor(model => model.Company, new { id = "company" })
                    </div>
                </div>
                <div class="col-md-6">                    
                </div>
            </div>

        </div>
        <div class="dwrapper">
            <div class="form-group">
                <div class="col-sm-12">
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">SUBMIT</button>
                        <input type="button" id="clearButton" class="btn btn-default" value="Clear" />                        
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    $(function () {
        $('#billingDate').dateRangePicker(
        {
            startOfWeek: 'sunday',
            format: 'DD/MM/YYYY',
        });
    });
    $(function () {
        $('#createdDate').dateRangePicker(
        {
            startOfWeek: 'sunday',
            format: 'DD/MM/YYYY',
        });
    });
    $(document).ready(function () {
        $('#clearButton').click(function () {
            $('#billingDate').val('');
            $('#createdDate').val('');
            $('#ddlCompany').val($("#ddlCompany option:first").val());
        });
    });
</script>

