﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.HedgeCounterpartyLimitViewModel
<div class="form-horizontal">
    <div class="row">
        <div class="form-group">
            <div class="col-md-6">
                <label class="col-sm-4 control-label">User Group:</label>
                <div class="col-sm-8">
                    <div class="box-date">
                        @Html.DropDownListFor(model => model.UserGroup, new SelectList(Model.ddlUserGroup, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <label class="col-sm-4 control-label">User System:</label>
                <div class="col-sm-8">
                    <div class="box-date">
                        @Html.DropDownListFor(model => model.UserSystem, new SelectList(Model.ddlSystem, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <label class="col-sm-4 control-label">Full Name (EN):</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.UserFullNameEN, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-6">
                <label class="col-sm-4 control-label">Full Name (TH):</label>
                <div class="col-sm-8">
                    <div class="box-date">
                        @Html.TextBoxFor(model => model.UserFullNameTH, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">

            </div>
            <div class="col-md-6">
                <input type="submit" value="SEARCH" class="button btn-default" onclick="SearchEmail();return false;" />
            </div>
        </div>
        <div class="col-sm-12">

            <table id="datatable" class="table table-bordered">
                <thead>
                    <tr>
                        <th>User Group</th>
                        <th>User System</th>
                        <th>Full Name (EN)</th>
                        <th>Full Name (TH)</th>
                        <th>User Name</th>
                        <th>Email</th>
                        <th><input name="select_box" id="checkall" class="checkbox_experts_areas_units_value" type="checkbox" value="true" onclick="selectall();" /></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.EmailList == null)
                    {
                        <tr class="waiting">
                            <td colspan="9">Waiting for search</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>

<script>
    function SearchEmail() {
        //LoadingProcess();
        var oldPro = @Html.Raw(Json.Encode((Model.oldSelectList).Select(a => new { Id = a })));
        var arr = new Array();
        for(var i=0;i<'@Model.oldSelectList.Count';i++)
        {
            arr.push(oldPro[i].Id);
        }
        var value = {
            userGroup: $('#UserGroup').val(),
            userSystem: $('#UserSystem').val(),
            fullNameEN: $('#UserFullNameEN').val(),
            fullNameTH: $('#UserFullNameTH').val(),
            oldProduct : arr,
        }
        var urlSearch = "@Html.Raw( @Url.Action("SearchEmailList", "HedgeCounterPartyLimit"))";
        HideLoadingBox();
        $.ajax({
            type: "POST",
            url: urlSearch,
            data: JSON.stringify(value),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                
                AddResult(data.EmailList,data.oldSelectList)
            }
        });
    };

    function AddResult(emaillist,oldSelect) {
        $('#datatable').DataTable({
            "destroy": true,
            "data": emaillist,
            searching: false, paging: true,
            "columns": [
                { "data": null, "className": "dt-body-center", "mRender": function (data) { return data.UserGroup } },
                { "data": null, "className": "dt-body-center", "mRender": function (data) { return data.UserSystem } },              
                { "data": null, "className": "dt-body-center", "mRender": function (data) { return data.UserFullNameEN } },
                { "data": null, "className": "dt-body-center", "mRender": function (data) { return data.UserFullNameTH } },
                { "data": null, "className": "dt-body-center", "mRender": function (data) { return data.UserName } },
                { "data": null, "className": "dt-body-center user_email", "mRender": function (data) { return data.UserEmail } },
                {
                    "data": null, "className": "dt-body-center", "bSortable": false, "mRender": function (data) {
                        var checkboxlist = "";
                        if (oldSelect.length != 0)
                        {
                            for (var j = 0; j < oldSelect.length; j++)
                            {
                                if (data.UserName == oldSelect[j]) {
                                    checkboxlist = '<input type="checkbox" id="' + data.UserName + '" name="checklist" value="' + data.UserEmail + ' " checked>';
                                    break;
                                }
                                else {
                                    checkboxlist = '<input type="checkbox" id="' + data.UserName + '" name="checklist" value="' + data.UserEmail + '">';
                                }
                            }
                        }else
                        {
                            checkboxlist = '<input type="checkbox" id="' + data.UserName + '" name="checklist" value="' + data.UserEmail + '">';
                        }
                        return checkboxlist;
                    }
                }
            ],
        });
    };

    function selectall() {
        if (document.getElementById('checkall').checked) {
            $("#checkall").checked
            $('input[name="checklist"]').prop('checked', true);
        }
        else {
            $('input[name="checklist"]').prop('checked', false);
        }
    }
</script>

