﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.HedgeCounterpartyLimitViewModel
@{
    Layout = "~/Areas/CPAIMVC/Views/Shared/_Layout.cshtml";

    string actionName = "EDIT";

    if (ViewBag.PageMode == null)
    {
        ViewBag.PageMode = "EDIT";
    }
    if (ViewBag.ButtonMode == null)
    {
        ViewBag.ButtonMode = "AUTO";
    }
}

@if (TempData["ReponseStatus"] != null)
{
    <script>
        $(document).ready(function () {
            $('#resultPopup').modal({ backdrop: 'static', keyboard: false });
            $('#resultPopup').modal('show');
        });
    </script>
}

<head>
    <title>Counterparty Limit</title>
</head>

@using (Html.BeginForm("", "", FormMethod.Post, new Dictionary<string, object>
{ { "role","form" }, { "class","form-horizontal"}, { "data-toggle", "validator" } }))
{
    <div class="row">
        <h1>Counterparty Limit</h1>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label class="col-md-3 control-label">Credit Rating Minimun Trade *</label>
                <div class="col-md-2">
                    @Html.HiddenFor(m => m.ID, Model.ID)
                    @if (Model.CreditRatingID != null)
                    {
                        @Html.DropDownListFor(model => model.CreditRatingID, new SelectList(Model.ddlCreditRating, "Value", "Text", Model.CreditRatingID), new { @class = "form-control" })
                    }
                    else
                    {
                        @Html.DropDownListFor(model => model.CreditRatingID, Model.ddlCreditRating, "-- Select --", new { @class = "form-control" })
                    }
                </div>
                <div class="col-md-1">
                </div>
                <label class="col-md-2 control-label">Description</label>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.CreditRatingDesc, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label class="col-md-3 control-label">Allows for special trades *</label>
                <div class="col-md-2">
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.SptradePercent, new { @class = "form-control text-right", type = "number", @min = "0", @max = "100" })
                        <span class="input-group-addon">%</span>
                    </div>
                </div>
                <div class="col-md-1">
                </div>
                <label class="col-md-2 control-label">Description</label>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.SptradePercentDesc, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label class="col-md-3 control-label">Credit Limit Over *</label>
                <div class="col-md-2">
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.LimitOverPercent, new { @class = "form-control text-right", type = "number", @min = "0", @max = "100" })
                        <span class="input-group-addon">%</span>
                    </div>
                </div>
                <div class="col-md-1">
                </div>
                <label class="col-md-2 control-label">Description</label>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.LimitOverPercentDesc, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <div class="col-md-6">
                </div>
                <label class="col-md-2 control-label">Email</label>
                <div class="col-md-4">
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.LimitOverPercentEmail, htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="col-md-2">
                        @*<input type="image" src="~/Web/Images/btn-add-member.png">*@
                        @*<i class="fa fa-address-book" aria-hidden="true"></i>*@

                        <a href="javascript:addEmail()">
                            <i class="fa fa-address-book-o"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="col-md-3 control-label">CDS Config</label>
                </div>
                <div class="row">
                    <table class="table table-bordered" id="CDSTable">
                        <thead>
                            <tr>
                                <th class="col-xs-1">Order</th>
                                <th class="col-xs-2">Type</th>
                                <th class="col-xs-1">Value</th>
                                <th class="col-xs-1">Day</th>
                                <th class="col-xs-2">Action</th>
                                <th class="col-xs-2">DESC</th>
                                <th class="col-xs-2">Email</th>
                                <th class="col-xs-1">Delete</th>
                            </tr>
                        </thead>
                        <tbody id="tblCounterpartyCDS">
                            @if (ViewBag.PageMode == "EDIT")
                            {
                                if (Model.CounterpartyCDS != null && Model.CounterpartyCDS.Count() > 0)
                                {
                                    for (int i = 0; i < Model.CounterpartyCDS.Count; i++)
                                    {
                                        <tr>
                                            <td style="text-align: center; vertical-align: middle;">
                                                @Html.HiddenFor(m => m.CounterpartyCDS[i].ID, Model.CounterpartyCDS[i].ID)
                                                @Html.HiddenFor(m => m.CounterpartyCDS[i].Order, Model.CounterpartyCDS[i].Order)
                                                @Html.LabelFor(m => m.CounterpartyCDS[i].Order, Model.CounterpartyCDS[i].Order)
                                            </td>
                                            <td>
                                                @Html.DropDownListFor(m => m.CounterpartyCDS[i].Type, new SelectList(Model.ddlCdsType, "Value", "Text", Model.CounterpartyCDS[i].Type), new { @class = "form-control" })
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(m => m.CounterpartyCDS[i].Value, new { @class = "form-control", @type = "number", @step = "any", @min = "0", @max = "9999999999" })
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(m => m.CounterpartyCDS[i].Day, new { @class = "form-control", @type = "number", @step = "any", @min = "0", @max = "9999999999" })
                                            </td>
                                            <td>
                                                @Html.DropDownListFor(m => m.CounterpartyCDS[i].Action, new SelectList(Model.ddlCdsAction, "Value", "Text", Model.CounterpartyCDS[i].Action), new { @class = "form-control" })
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(m => m.CounterpartyCDS[i].Desc, new { @class = "form-control" })
                                            </td>
                                            <td>
                                                <div class="col-md-12">
                                                    <div class="col-md-10">
                                                        @Html.TextBoxFor(m => m.CounterpartyCDS[i].Email, new { @class = "form-control" })
                                                    </div>
                                                    <div class="col-md-2">
                                                        <a id="CounterpartyCDS_@i" href="javascript:addEmailForTable(@i)">
                                                            <i class="fa fa-address-book-o"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <a class="remCP" onclick="delCounterpartyCDS(this); return false;">
                                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
                @if (ViewBag.PageMode == "EDIT" && Model.CreditRatingID != null)
                {
                    <div class="row">
                        <input type="button" value="Add CDS Config" class="btn btn-success" onclick="addCDSConfig(); return false;" />
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="wrapper-button" id="buttonDiv">
        @if (ViewBag.PageMode == "EDIT" && Model.CreditRatingID != null)
        {
            <button type="submit" class="btn btn-primary actionButton">SAVE</button>
        }
        <a class="btn btn-default" href="~/web/MainBoards.aspx" role="button">BACK</a>
    </div>
}
<!-- Result Popup -->
<div class="modal fade" id="resultPopup" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <p>
                    @TempData["ReponseMessage"]
                </p>
            </div>
            <div class="modal-footer">
                @Html.ActionLink("Close", "Index", new { controller = "HedgeCounterpartyLimit" }, htmlAttributes: new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="AddEmailPopup" tabindex="-1" role="dialog" data-url='@Url.Action("SearchAddMarket","HedgeProduct")'>
    <div class="modal-dialog" role="document" style="width:80%; height:550px; text-align:center">
        <div class="modal-content" style="height:550px;overflow:scroll;overflow-x:hidden;">
            <div class="modal-header">
                <h1>Search Email</h1>
            </div>
            <div class="modal-body " id="modal_detail">

            </div>
            <div class="modal-footer">
                <input type="hidden" id="indexFor" />
                <input type="button" value="OK" class="btn btn-success" id="addselectdeal" name="OK" onclick="selectEmail()" />
                <input type="button" value="Close" class="btn btn-default" id="ClosePopUp" name="ClosePopUp" onclick="closePopUp()" />
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        //prevent enter pressed
        $('.form-horizontal').on('keyup keypress', function (e) {
            var keyCode = e.keyCode || e.which;
            if (keyCode === 13) { e.preventDefault(); return false; }
        });
    });

    function addEmail() {
        $.ajax({
            url: '@Url.Action("SearchEmail", "HedgeCounterPartyLimit")',
            type: 'POST',
            success: function (data) {
                $('#modal_detail').html(data);
                $('#AddEmailPopup').modal({ backdrop: 'static', keyboard: false });
                $('#AddEmailPopup').modal('show');
            }
        });
    };


    function addEmailForTable(indexOfID) {
        $.ajax({
            url: '@Url.Action("SearchEmail", "HedgeCounterPartyLimit")',
            type: 'POST',
            success: function (data) {
                $('#modal_detail').html(data);
                $('#AddEmailPopup').modal({ backdrop: 'static', keyboard: false });
                $('#indexFor').val(indexOfID);
                $('#AddEmailPopup').modal('show');
            }
        });
    };

    function closePopUp() {
        $('#AddEmailPopup').modal('hide');
    };

    function addCDSConfig() {
        var i = $("#tblCounterpartyCDS tr").length;
        var newCounterpartyCDS = '<tr>';
        newCounterpartyCDS += '<td style="text-align: center; vertical-align: middle;">';
        newCounterpartyCDS += '<input length="' + i + '" id="CounterpartyCDS_' + i + '__ID" name="CounterpartyCDS[' + i + '].ID" type="hidden" value="' + ( i + 1 ) + '">';
        newCounterpartyCDS += '<input length="' + i + '" id="CounterpartyCDS_' + i + '__Order" name="CounterpartyCDS[' + i + '].Order" type="hidden" value="' + (i + 1) + '">';
        newCounterpartyCDS += '<label for="CounterpartyCDS_' + i + '__Order">' + (i + 1) + '</label>';
        newCounterpartyCDS += '</td>';
        newCounterpartyCDS += '<td><select class="form-control" id="CounterpartyCDS_' + i + '__Type" name="CounterpartyCDS[' + i + '].Type">' +
            @foreach (var option in Model.ddlCdsType)
            {
                @:'<option value="@option.Value">@option.Text</option>' +
            }
            '</select></td>';
        newCounterpartyCDS += '<td><input class="form-control" id="CounterpartyCDS_' + i + '__Value" name="CounterpartyCDS[' + i + '].Value" step="any" type="number" min="0" max="9999999999" value=""></td>';
        newCounterpartyCDS += '<td><input class="form-control" id="CounterpartyCDS_' + i + '__Day" name="CounterpartyCDS[' + i + '].Day"  step="any" type="number" min="0" max="9999999999" value=""></td>';
        newCounterpartyCDS += '<td><select class="form-control" id="CounterpartyCDS_' + i + '__Action" name="CounterpartyCDS[' + i + '].Action">' +
            @foreach (var option in Model.ddlCdsAction)
            {
                @:'<option value="@option.Value">@option.Text</option>' +
            }
            '</select></td>';
        newCounterpartyCDS += '<td><input class="form-control" id="CounterpartyCDS_' + i + '__Desc" name="CounterpartyCDS[' + i + '].Desc" type="text" value=""></td>';
        newCounterpartyCDS += '<td>';
        newCounterpartyCDS += '<div class="col-md-12">';
        newCounterpartyCDS += '<div class="col-md-10">';
        newCounterpartyCDS += '<input class="form-control" id="CounterpartyCDS_' + i + '__Email" name="CounterpartyCDS[' + i + '].Email" type="text" value="">';
        newCounterpartyCDS += '</div>';
        newCounterpartyCDS += '<div class="col-md-2">';
        newCounterpartyCDS += '<a id="CounterpartyCDS_' + i + '" href="javascript:addEmailForTable(' + i + ')">';
        newCounterpartyCDS += '<i class="fa fa-address-book-o"></i>';
        newCounterpartyCDS += '</a>';
        newCounterpartyCDS += '</div>';
        newCounterpartyCDS += '</div>';
        newCounterpartyCDS += '</td>';
        newCounterpartyCDS += '<td>';
        newCounterpartyCDS += '<a class="remCP" onclick="delCounterpartyCDS(this); return false;">';
        newCounterpartyCDS += '<i class="fa fa-trash-o" aria-hidden="true"></i>';
        newCounterpartyCDS += '</a>';
        newCounterpartyCDS += '</td>';


        newCounterpartyCDS += '</tr>';
        $("#tblCounterpartyCDS").append(newCounterpartyCDS);
    }

    function delCounterpartyCDS(e) {
        var conf = confirm("Please confirm to Delete?");
        if (conf) {
            $(e).parent().parent().remove();
            ReindexData();
        }
    }

    function ReindexData() {
        var itemIndex = 0;
        $('#tblCounterpartyCDS tr').each(function () {
            var this_row = $(this);
            this_row.find('input[name$=".ID"]').attr('name', 'CounterpartyCDS[' + itemIndex + '].ID');
            this_row.find('label').text(itemIndex + 1);
            this_row.find('input[name$=".Order"]').attr('name', 'CounterpartyCDS[' + itemIndex + '].Order').val(itemIndex + 1);
            this_row.find('select[name$=".Type"]').attr('name', 'CounterpartyCDS[' + itemIndex + '].Type');
            this_row.find('input[name$=".Value"]').attr('name', 'CounterpartyCDS[' + itemIndex + '].Value');
            this_row.find('input[name$=".Day"]').attr('name', 'CounterpartyCDS[' + itemIndex + '].Day');
            this_row.find('select[name$=".Action"]').attr('name', 'CounterpartyCDS[' + itemIndex + '].Action');
            this_row.find('input[name$=".Desc"]').attr('name', 'CounterpartyCDS[' + itemIndex + '].Desc');
            this_row.find('input[name$=".Email"]').attr('name', 'CounterpartyCDS[' + itemIndex + '].Email');
            itemIndex++;
        });
    }

    function selectEmail() {
        var str = $('#datatable input:checkbox:checked').val();
        if (str != undefined) {

            var arrayOfValues = [];
            arrayOfValues = $('#datatable input:checkbox:checked').map(function () {
                if ($(this).closest('tr').find('td.user_email').text() != "") {
                    return $(this).closest('tr').find('td.user_email').text();
                }
            }).get();
            if (arrayOfValues != null && arrayOfValues != undefined) {
                var mail = arrayOfValues.join(';');

                if ($('#indexFor').val() != null && $('#indexFor').val() != "") {
                    var indexEmail = $('#indexFor').val();
                    $('#CounterpartyCDS_' + indexEmail + '__Email').val(mail);
                    $('#indexFor').val("");
                } else {
                    $('#LimitOverPercentEmail').val(mail);
                }
            }
            $('#AddEmailPopup').modal('hide');
        }
    }

</script>