﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.PurchaseEntryViewModel_SearchData
@{
    ViewBag.Title = "Change Purchase Entry";
    bool showDebugPanel = false;

    string calVolumeUnit = String.IsNullOrEmpty(Model.VolumeUnit) ? "BBL" : Model.VolumeUnit;
    string calInvoiceFigure = String.IsNullOrEmpty(Model.InvoiceFigure) ? "BL" : Model.InvoiceFigure;
    string calPriceUnit = String.IsNullOrEmpty(Model.PriceUnit) ? "THB" : Model.PriceUnit;
    bool showPanel = true;
    string defaultReverseDate = "";

    decimal totalBlBbl = 0;
    decimal totalBlMt = 0;
    decimal totalBlL30 = 0;
    decimal totalGrBbl = 0;
    decimal totalGrMt = 0;
    decimal totalGrL30 = 0;
    decimal totalAmountUsd = 0;
    decimal totalAmountThb = 0;
    decimal totalVat = 0;
    decimal totalTotalAmountUsd = 0;
    decimal totalTotalAmountThb = 0;

    if (Model.sOutturn != null)
    {
        var validRecord = Model.sOutturn.Where(x => x.Valid);
        if (validRecord.Count() > 0)
        {
            System.Globalization.CultureInfo cultureinfo = new System.Globalization.CultureInfo("en-US");
            showPanel = true;
            string postingDateMonth = (DateTime.ParseExact(validRecord.ToList()[0].PostingDate, "dd/MM/yyyy", cultureinfo).Month + 1).ToString();
            string postingDateYear = DateTime.ParseExact(validRecord.ToList()[0].PostingDate, "dd/MM/yyyy", cultureinfo).Year.ToString();
            postingDateMonth = (Convert.ToInt32(postingDateMonth) < 10) ? "0" + postingDateMonth : postingDateMonth;
            defaultReverseDate = "01/" + DateTime.Now.Month.ToString("00") + "/" + DateTime.Now.Year.ToString();
        }
        else
        {
            showPanel = false;
        }
    }
    else
    {
        showPanel = false;
    }

    if (ViewBag.Debugmode == true)
    {
        showDebugPanel = true;
    }

    if (ViewBag.Error == true)
    {
        if (String.IsNullOrEmpty(ViewBag.ErrorMessage))
        {
            <script>
                bootbox.alert("Unexpected error occurred. Please contact the administrator.");
            </script>
        }
        else
        {
            <script>
                bootbox.alert('@ViewBag.ErrorMessage');
            </script>
        }
    }
}

<!-- Debug Panel-->
@if (showDebugPanel)
{
    <div>
        @ViewBag.SaveMessage <br />
        @ViewBag.SendToSapMessage
    </div>
            <br /><br />
}

<!-- Header Table -->
<div>
    <br />
    @using (Html.BeginForm("BackToSearch", "PurchaseEntry", FormMethod.Get, new { @class = "form-horizontal", SimulateROE = false }))
    {
        <table id="tblHeader" class="table">
            <thead>
                <tr>
                    <th>Trip No.</th>
                    <th>PO No.</th>
                    <th>PO Date</th>
                    <th>Product</th>
                    <th>Supplier</th>
                    <th>Incoterms</th>
                    <th>Volume</th>
                    <th>Vol. Unit</th>
                    <th>Price</th>
                    <th>Total</th>
                    <th>Currency</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Model.TripNo
                        @Html.HiddenFor(x => x.TripNo)
                    </td>
                    <td>
                        @Model.PoNo
                        @Html.HiddenFor(x => x.PoNo)
                    </td>
                    <td>
                        @Model.PoDate
                    </td>
                    <td>
                        @Model.Product
                    </td>
                    <td>
                        @Model.Supplier
                    </td>
                    <td>
                        @Model.Incoterms
                    </td>
                    <td>
                        @Model.Volume
                    </td>
                    <td>
                        @Model.VolumeUnit
                    </td>
                    <td>
                        @Model.Price
                    </td>
                    <td>
                        @Model.Total
                    </td>
                    <td>
                        @Model.Currency
                    </td>
                </tr>
            </tbody>
        </table>
    }
</div>

<!-- Change Data -->
<div>  
    <br />     
    @using (Html.BeginForm("ChangeData", "PurchaseEntry", FormMethod.Get, new { @class = "form-horizontal", SimulateROE = false }))
    {                
        if (showPanel)
        {
            <div>
            <h2>Change Data for Purchase Entry</h2>
            <div class="form-horizontal">
                <div class="row">
                    <div class="col-xs-5">
                        <div class="form-group">
                            <label class="col-xs-2 control-label">B/L Date:</label>
                            <div class="col-xs-6">
                                <input type="text" placeholder="DD/MM/YYYY" class="form-control input-date-picker" id="txtBlDate" name="txtBlDate" value="@Model.txtBlDate" />
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            @if(Model.SimulateDataName == "FOB Price" || Model.SimulateDataName == null)
                            {
                                @:Data Name: <input type="radio" id="SimulateDataName" name="SimulateDataName" value="FOB Price" checked= "checked" /> FOB Price &nbsp;
                                @:<input type="radio" id="SimulateDataName" name="SimulateDataName" value="ROE" />ROE
                            }
                            else
                            {
                                @:Data Name: <input type="radio" id="SimulateDataName" name="SimulateDataName" value="FOB Price" /> FOB Price &nbsp;
                                @:<input type="radio" id="SimulateDataName" name="SimulateDataName" value="ROE" checked="checked" />ROE
                            }
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label class="col-xs-3 control-label">Value:</label>
                            <div class="col-xs-5">
                                <input type="text" class="form-control" name="SimulateValue" id="SimulateValue" value="@Model.SimulateValue" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pull-left">
                <input type="submit" id="applyButton" class="btn btn-primary" value="APPLY" />
            </div>
            @Html.HiddenFor(model => model.TripNo)
            @Html.HiddenFor(model => model.PoNo)
            @Html.HiddenFor(model => model.PoDate)
            @Html.HiddenFor(model => model.Product)
            @Html.HiddenFor(model => model.Supplier)
            @Html.HiddenFor(model => model.Incoterms)
            @Html.HiddenFor(model => model.Volume)
            @Html.HiddenFor(model => model.VolumeUnit)
            @Html.HiddenFor(model => model.Price)
            @Html.HiddenFor(model => model.Total)
            @Html.HiddenFor(model => model.Currency)
            @*@Html.HiddenFor(model => model.txtBlDate)
            @Html.HiddenFor(model => model.SimulateDataName)
            @Html.HiddenFor(model => model.SimulateValue)*@
            @Html.Hidden("SimulateROE", false)

            @for (int idx = 0; idx < Model.sOutturn.Count(); idx++)
            {
                if (Model.sOutturn[idx].Valid)
                {
                    @Html.HiddenFor(model => model.sOutturn[idx].Price)
                }
                if (Model.sOutturn[idx].Valid)
                {
                    @Html.HiddenFor(model => model.sOutturn[idx].ROE)
                }
            }

        </div>
        }
    }
    <br /><br />
</div>        

<!-- Main Section -->
<div>
    @using (Html.BeginForm("ManagePE", "PurchaseEntry", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <!-- Calculating Purchase Entry -->
        <div>
            @if (showPanel)
            {
                <div>
                    <h2>For Calculating Purchase Entry</h2>
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    Volume Unit:
                                    @if (calVolumeUnit.ToLower() == "bbl")
                                {
                                <input type="radio" id="volumeUnit" name="volumeUnit" value="BBL" checked="checked" /><text>BBL&nbsp;</text>
                                <input type="radio" id="volumeUnit" name="volumeUnit" value="MT" /><text>MT&nbsp;</text>
                                <input type="radio" id="volumeUnit" name="volumeUnit" value="L30" /><text>L30</text>
                                }
                                else if (calVolumeUnit.ToLower() == "mt")
                                {
                                <input type="radio" id="volumeUnit" name="volumeUnit" value="BBL" /><text>BBL&nbsp;</text>
                                <input type="radio" id="volumeUnit" name="volumeUnit" value="MT" checked="checked" /><text>MT&nbsp;</text>
                                <input type="radio" id="volumeUnit" name="volumeUnit" value="L30" /><text>L30</text>
                                }
                                else
                                {
                                <input type="radio" id="volumeUnit" name="volumeUnit" value="BBL" /><text>BBL&nbsp;</text>
                                <input type="radio" id="volumeUnit" name="volumeUnit" value="MT" /><text>MT&nbsp;</text>
                                <input type="radio" id="volumeUnit" name="volumeUnit" value="L30" checked="checked" /><text>L30</text>
                                }

                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    Invoice Figure:
                                    @if (calInvoiceFigure.ToLower() == "bl")
                                {
                                <input type="radio" id="inputFigure" name="invoiceFigure" value="BL" checked="checked" /><text>B/L&nbsp;</text>
                                <input type="radio" id="inputFigure" name="invoiceFigure" value="Outturn" /><text>Outturn</text>
                                }
                                else
                                {
                                <input type="radio" id="inputFigure" name="invoiceFigure" value="BL" /><text>B/L&nbsp;</text>
                                <input type="radio" id="inputFigure" name="invoiceFigure" value="Outrun" checked="checked" /><text>Outturn</text>
                                }
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    Price Unit:
                                    @if (calPriceUnit.ToLower() == "thb")
                                {
                                <input type="radio" id="priceUnit" name="priceUnit" value="THB" checked="checked" /><text>THB&nbsp;</text>
                                <input type="radio" id="priceUnit" name="priceUnit" value="USD" /><text>USD</text>
                                }
                                else
                                {
                                <input type="radio" id="priceUnit" name="priceUnit" value="THB" /><text>THB&nbsp;</text>
                                <input type="radio" id="priceUnit" name="priceUnit" value="USD" checked="checked" /><text>USD</text>
                                }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pull-left">
                        <input type="submit" class="btn btn-primary" value="Calculate" name="command" />
                        @*<input type="submit" id="btnClculate" class="btn btn-primary" value="CALCULATE" />*@
                    </div>
                </div>
            }
        </div>

        <!-- Purchase Entry List -->
        <div>
            @if (showPanel) {<br /><br /><br />}
            <div>
                <h2>Purchase Entry</h2>
                @*<div style="overflow: auto">*@
                    <table id="priceOffer" class="table">
                        <thead>
                            <tr>
                                <th rowspan="2"><input id="chkAll" name="chkAll" type="checkbox" /></th>
                                <th rowspan="2">No.</th>
                                <th colspan="4">Bill of Lading (B/L)</th>
                                <th colspan="4">Goods Received - Outturn</th>
                                <th rowspan="2">Price</th>
                                <th rowspan="2">ROE</th>
                                <th rowspan="2">Amount USD</th>
                                <th rowspan="2">Amount THB</th>
                                <th rowspan="2">VAT 7% THB</th>
                                <th rowspan="2">Total Amount USD</th>
                                <th rowspan="2">Total Amount THB</th>
                                <th rowspan="2">SAP FI Doc.</th>
                                <th rowspan="2">SAP FI Doc. Status</th>
                                <th rowspan="2">Last Updated</th>
                                <th rowspan="2">Updated By</th>
                            </tr>
                            <tr>
                                <th>Date</th>
                                <th>Volume (BBL)</th>
                                <th>Volume (MT)</th>
                                <th>Volume (L30)</th>
                                <th>Date</th>
                                <th>Volume (BBL)</th>
                                <th>Volume (MT)</th>
                                <th>Volume (L30)</th>
                            </tr>
                        </thead>
                        <tbody>                            
                            @if (Model.sOutturn != null)
                            {
                                for (int idx = 0; idx < Model.sOutturn.Count(); idx++)
                                {
                                    <tr>
                                        <td>
                                            @if (Model.sOutturn[idx].Valid)
                                            {
                                                @Html.CheckBoxFor(x => x.sOutturn[idx].Select)
                                            }
                                            @Html.HiddenFor(model => model.sOutturn[idx].Valid)
                                        </td>
                                        <td>
                                            <!-- No. -->
                                            @Html.DisplayTextFor(model => model.sOutturn[idx].ItemNo)
                                            @Html.HiddenFor(model => model.sOutturn[idx].ItemNo)
                                        </td>
                                        <td name="txtBlDate">
                                            <!-- Date -->
                                            @Html.DisplayTextFor(model => model.sOutturn[idx].RunningDate)
                                            @Html.HiddenFor(model => model.sOutturn[idx].RunningDate)
                                            @Html.HiddenFor(model => model.sOutturn[idx].BLDate)
                                        </td>
                                        <td name="txtBlVolumeBBL">
                                            <!-- Volume BBL -->
                                            @Html.DisplayTextFor(model => model.sOutturn[idx].BlQtyBbl)
                                            @Html.HiddenFor(model => model.sOutturn[idx].BlQtyBbl)

                                            @if(ViewBag.FromCalculate == true)
                                            {
                                                if (Model.sOutturn[idx].Select)
                                                {
                                                    totalBlBbl += Convert.ToDecimal(Model.sOutturn[idx].BlQtyBbl);
                                                }
                                            }
                                        </td>
                                        <td name="txtBlVolumeMT">
                                            <!-- Volume MT -->
                                            @Html.DisplayTextFor(model => model.sOutturn[idx].BlQtyMt)
                                            @Html.HiddenFor(model => model.sOutturn[idx].BlQtyMt)

                                            @if (ViewBag.FromCalculate == true)
                                            {
                                                if (Model.sOutturn[idx].Select)
                                                {
                                                    totalBlMt += Convert.ToDecimal(Model.sOutturn[idx].BlQtyMt);
                                                }
                                            }
                                        </td>
                                        <td name="txtBlVolumeL30">
                                            <!-- Volume L30 -->
                                            @Html.DisplayTextFor(model => model.sOutturn[idx].BlQtyMl)
                                            @Html.HiddenFor(model => model.sOutturn[idx].BlQtyMl)

                                            @if (ViewBag.FromCalculate == true)
                                            {
                                                if (Model.sOutturn[idx].Select)
                                                {
                                                    totalBlL30 += Convert.ToDecimal(Model.sOutturn[idx].BlQtyMl);
                                                }
                                            }
                                        </td>
                                        <td name="txtPostingDate">
                                            <!-- Posting Date -->
                                            @Html.DisplayTextFor(model => model.sOutturn[idx].PostingDate)
                                            @Html.HiddenFor(model => model.sOutturn[idx].PostingDate)
                                        </td>
                                        <td name="txtVolumeBBL">
                                            <!-- Volume BBL -->
                                            @Html.DisplayTextFor(model => model.sOutturn[idx].QtyBbl)
                                            @Html.HiddenFor(model => model.sOutturn[idx].QtyBbl)

                                            @if (ViewBag.FromCalculate == true)
                                            {
                                                if (Model.sOutturn[idx].Select)
                                                {
                                                    totalGrBbl += Convert.ToDecimal(Model.sOutturn[idx].QtyBbl);
                                                }
                                            }
                                        </td>
                                        <td name="txtVolumeMT">
                                            <!-- Volume MT -->
                                            @Html.DisplayTextFor(model => model.sOutturn[idx].QtyMt)
                                            @Html.HiddenFor(model => model.sOutturn[idx].QtyMt)

                                            @if (ViewBag.FromCalculate == true)
                                            {
                                                if (Model.sOutturn[idx].Select)
                                                {
                                                    totalGrMt += Convert.ToDecimal(Model.sOutturn[idx].QtyMt);
                                                }
                                            }
                                        </td>
                                        <td name="txtVolumeL30">
                                            <!-- Volume L30 -->
                                            @Html.DisplayTextFor(model => model.sOutturn[idx].QtyMl)
                                            @Html.HiddenFor(model => model.sOutturn[idx].QtyMl)

                                            @if (ViewBag.FromCalculate == true)
                                            {
                                                if (Model.sOutturn[idx].Select)
                                                {
                                                    totalGrL30 += Convert.ToDecimal(Model.sOutturn[idx].QtyMl);
                                                }
                                            }
                                        </td>
                                        <td>
                                            <!-- Price -->
                                            @if (Model.sOutturn[idx].Valid)
                                            {
                                                @Html.TextBoxFor(model => model.sOutturn[idx].Price)
                                            }
                                        </td>
                                        <td>
                                            <!-- ROE -->
                                            @if (Model.sOutturn[idx].Valid)
                                            {
                                                @Html.TextBoxFor(model => model.sOutturn[idx].ROE)
                                            }
                                        </td>
                                        <td name="txtAmountUSD">
                                            <!-- Amount USD -->
                                            @Html.DisplayTextFor(model => model.sOutturn[idx].AmountUSD)
                                            @Html.HiddenFor(model => model.sOutturn[idx].AmountUSD)

                                            @if (ViewBag.FromCalculate == true)
                                            {
                                                if (Model.sOutturn[idx].Select)
                                                {
                                                    totalAmountUsd += Convert.ToDecimal(Model.sOutturn[idx].AmountUSD);
                                                }
                                            }
                                        </td>
                                        <td name="txtAmountTHB">
                                            <!-- Amount THB -->
                                            @Html.DisplayTextFor(model => model.sOutturn[idx].AmountTHB)
                                            @Html.HiddenFor(model => model.sOutturn[idx].AmountTHB)

                                            @if (ViewBag.FromCalculate == true)
                                            {
                                                if (Model.sOutturn[idx].Select)
                                                {
                                                    totalAmountThb += Convert.ToDecimal(Model.sOutturn[idx].AmountTHB);
                                                }
                                            }
                                        </td>
                                        <td name="txtVat">
                                            <!-- VAT 7% THB -->
                                            @Html.DisplayTextFor(model => model.sOutturn[idx].Vat7)
                                            @Html.HiddenFor(model => model.sOutturn[idx].Vat7)

                                            @if (ViewBag.FromCalculate == true)
                                            {
                                                if (Model.sOutturn[idx].Select)
                                                {
                                                    totalVat += Convert.ToDecimal(Model.sOutturn[idx].Vat7);
                                                }
                                            }
                                        </td>
                                        <td name="txtTotalAmountUSD">
                                            <!-- Total Amount USD -->
                                            @Html.DisplayTextFor(model => model.sOutturn[idx].TotalAmountUSD)
                                            @Html.HiddenFor(model => model.sOutturn[idx].TotalAmountUSD)

                                            @if (ViewBag.FromCalculate == true)
                                            {
                                                if (Model.sOutturn[idx].Select)
                                                {
                                                    totalTotalAmountUsd += Convert.ToDecimal(Model.sOutturn[idx].TotalAmountUSD);
                                                }
                                            }
                                        </td>
                                        <td name="txtTotalAmountTHB">
                                            <!-- Total Amount THB -->
                                            @Html.DisplayTextFor(model => model.sOutturn[idx].TotalAmountTHB)
                                            @Html.HiddenFor(model => model.sOutturn[idx].TotalAmountTHB)

                                            @if (ViewBag.FromCalculate == true)
                                            {
                                                if (Model.sOutturn[idx].Select)
                                                {
                                                    totalTotalAmountThb += Convert.ToDecimal(Model.sOutturn[idx].TotalAmountTHB);
                                                }
                                            }
                                        </td>
                                        <td>
                                            <!-- SAP FI Doc. -->
                                            @Html.DisplayTextFor(model => model.sOutturn[idx].SAPFIDoc)
                                            @Html.HiddenFor(model => model.sOutturn[idx].SAPFIDoc)
                                        </td>
                                        <td>
                                            <!-- SAP FI Doc. Status -->
                                            @Html.DisplayTextFor(model => model.sOutturn[idx].SAPFIDocStatus)
                                            @Html.HiddenFor(model => model.sOutturn[idx].SAPFIDocStatus)
                                        </td>
                                        <td nowrap>
                                            <!-- Last Updated -->
                                            @Html.DisplayTextFor(model => model.sOutturn[idx].UpdatedDate)
                                            @Html.HiddenFor(model => model.sOutturn[idx].UpdatedDate)
                                        </td>
                                        <td nowrap>
                                            <!-- Updated By -->
                                            @Html.DisplayTextFor(model => model.sOutturn[idx].UpdatedBy)
                                            @Html.HiddenFor(model => model.sOutturn[idx].UpdatedBy)
                                        </td>
                                    </tr>
                                }
                            }
                            @if (ViewBag.FromCalculate == true)
                            {
                                <tr>
                                    <td><b>Total</b></td>
                                    <td></td>
                                    <td></td>
                                    <td>@totalBlBbl.ToString("#,##0.0000")</td>
                                    <td>@totalBlMt.ToString("#,##0.0000")</td>
                                    <td>@totalBlL30.ToString("#,##0.0000")</td>
                                    <td></td>
                                    <td>@totalGrBbl.ToString("#,##0.0000")</td>
                                    <td>@totalGrMt.ToString("#,##0.0000")</td>
                                    <td>@totalGrL30.ToString("#,##0.0000")</td>
                                    <td></td>
                                    <td></td>
                                    <td>@totalAmountUsd.ToString("#,##0.0000")</td>
                                    <td>@totalAmountThb.ToString("#,##0.0000")</td>
                                    <td>@totalVat.ToString("#,##0.0000")</td>
                                    <td>@totalTotalAmountUsd.ToString("#,##0.0000")</td>
                                    <td>@totalTotalAmountThb.ToString("#,##0.0000")</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td><b>Total</b></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            }

                        </tbody>
                    </table>

                    @Html.HiddenFor(x => x.TripNo)
                    @Html.HiddenFor(x => x.PoNo)
                    @Html.HiddenFor(x => x.PoItem)
                    @Html.HiddenFor(x => x.PoDate)
                    @Html.HiddenFor(x => x.Product)
                    @Html.HiddenFor(x => x.Supplier)
                    @Html.HiddenFor(x => x.SupplierNo)
                    @Html.HiddenFor(x => x.Incoterms)
                    @Html.HiddenFor(x => x.Volume)
                    @Html.HiddenFor(x => x.VolumeUnit)
                    @Html.HiddenFor(x => x.Price)
                    @Html.HiddenFor(x => x.Total)
                    @Html.HiddenFor(x => x.Currency)
                    @Html.HiddenFor(x => x.InvoiceFigure)
                    @Html.HiddenFor(x => x.PriceUnit)
                    @Html.HiddenFor(x => x.SimulateROE)
                    @Html.HiddenFor(x => x.SimulateDataName)
                    @Html.HiddenFor(x => x.SimulateValue)
                    @Html.HiddenFor(x => x.PitPurchaseEntry.CalVolumeUnit)
                    @Html.HiddenFor(x => x.PitPurchaseEntry.CalInvoiceFigure)
                    @Html.HiddenFor(x => x.PitPurchaseEntry.CalPriceUnit)
                    @Html.HiddenFor(x => x.MetNum)
                    @Html.HiddenFor(model => model.txtBlDate)
                @*</div>*@

                @if (showPanel)
                {
                    <div class="pull-left" id="SavePanel">
                        <input type="submit" class="btn btn-primary" value="Calculate" name="command" />
                        <input type="submit" class="btn btn-primary" value="Save" name="command" />
                        <input type="button" class="btn btn-primary" value="Report" onclick="Report();" />
                        <input type="submit" class="btn btn-primary" value="Back" name="command" />
                    </div>
                }
            </div>
            <br />
        </div>

        <!-- Accrual Posting-->
        <div>
            @if (showPanel)
            {
                <div id="AccrualPanel">
                <h2>For Accrual Posting</h2>
                <div class="row">
                    <div class="col-xs-5">
                        <div class="form-group">
                            Accrual Type:
                            <input type="radio" id="AccrualTypeC" name="AccrualType" value="C" checked="checked" onclick="AccrualCClick();" />C&nbsp;&nbsp;&nbsp;<input type="radio" id="AccrualTypeA" name="AccrualType" value="A" onclick="AccrualAClick();" />A
                        </div>
                    </div>
                    <div class="col-xs-5">
                        <div class="row" id="AccrualACalendar">
                            <div class="col-xs-5">
                                Reverse date for type A:
                            </div>
                            <div class="col-xs-7">
                                <input type="text" placeholder="DD/MM/YYYY" class="form-control input-date-picker" id="txtReverseDate" name="txtReverseDate" value=@defaultReverseDate />
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
                <br />
                <input type="submit" class="btn btn-primary" value="Send to SAP" name="command" />
                @*<input type="submit" class="btn btn-primary" value="Back" name="command" />*@
            </div>
            }
            else
            {
                <input type="submit" class="btn btn-primary" value="Back" name="command" />
            }
        </div>
    }
</div>


<script>
    $(document).ready(function () {
        if('@showPanel' == 'True') {
            $("#AccrualACalendar").hide();
            $('#txtBlDate').dateRangePicker(
                {
                    format: "DD/MM/YYYY"
                });
            $('#txtReverseDate').dateRangePicker(
                {
                    autoClose: true,
                    singleDatePicker: true,
                    showDropdowns: true,
                    singleDate: true,
                    format: "DD/MM/YYYY"
                });
        
            setReBody();
        } else {
            setReBody();
        }
    });
    function AccrualCClick() {
        $("#AccrualACalendar").hide();
    }
    function AccrualAClick() {
        $("#AccrualACalendar").show();
    }
    function ChkAllClick() {
        if ($("#chkAll").is(':checked')) {
            $('input:checkbox').attr('checked', 'checked');
            //$(this).val('uncheck all');
        } else {
            $('input:checkbox').removeAttr('checked');
            //$(this).val('check all');
        }
    }
    $("#chkAll").change(function () {
        $("input:checkbox").prop('checked', $(this).prop("checked"));
    });
    function Report() {
        window.open('@Url.Action("Report", "PurchaseEntry", new
                {
                    model = Model
                })', "_blank");
    }    
</script>