﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.PurchaseEntryViewModel
@{
    ViewBag.Title = "Search Purchase Entry";
}

@using (Html.BeginForm("Search", "PurchaseEntry", FormMethod.Post, new { @class = "form-horizontal" }))
{

    <div class="page-header">
        <h1>Intercompany Purchase Entry</h1>
    </div>
    
    <div class="row">
        <div class="col-xs-4">
            <div class="form-group">
                <label class="col-xs-3 control-label">Company:</label>
                <div class="col-xs-7">
                        @Html.DropDownListFor(model => model.PurchaseEntry_Search.sCompany, new SelectList(Model.ddl_Company, "Value", "Text"), "-- Select --", new { @class = "form-control", @Id = "ddlCompany" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">Trip No.:</label>
                <div class="col-xs-7">
                    @Html.TextBoxFor(model => model.PurchaseEntry_Search.sTripNo, htmlAttributes: new { @class = "form-control", @Id = "txtTripNo" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">PO Date:</label>
                <div class="col-xs-7">
                    @Html.TextBoxFor(model => model.PurchaseEntry_Search.sPoDate, new { @class = "form-control input-date-picker", @Id = "txtPoDate", @placeholder = "DD/MM/YYYY", @maxlength = "24" })
                </div>
            </div>                    
        </div>
        <div class="col-xs-4">
            <div class="form-group">
                <label class="col-xs-3 control-label">Product:</label>
                <div class="col-xs-7">
                    @Html.DropDownListFor(model => model.PurchaseEntry_Search.sProduct, new SelectList(Model.ddl_Product, "Value", "Text"), "-- Select --", new { @class = "form-control", @Id = "ddlProduct" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">PO No.</label>
                <div class="col-xs-7">
                    @Html.TextBoxFor(model => model.PurchaseEntry_Search.sPoNo, htmlAttributes: new { @class = "form-control", @Id = "txtPoNo" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">GR Date:</label>
                <div class="col-xs-7">
                    @Html.TextBoxFor(model => model.PurchaseEntry_Search.sGrDate, new { @class = "form-control input-date-picker", @Id = "txtGrDate", @placeholder = "DD/MM/YYYY", @maxlength = "24" })
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="form-group">
                <label class="col-xs-3 control-label">Supplier:</label>
                <div class="col-xs-7">
                    @Html.DropDownListFor(model => model.PurchaseEntry_Search.sSupplier, new SelectList(Model.ddl_Supplier, "Value", "Text"), "-- Select --", new { @class = "form-control", @Id = "ddlSupplier" })
                </div>
            </div>
        </div>
    </div>
    
    <div class="pull-left">
        <input type="button" id="clearButton" class="btn btn-default" value="Clear" />
        <button type="submit" class="btn btn-primary">Search</button>
    </div>

}
<br />

@if ((Model.PurchaseEntry_Search != null) && (Model.PurchaseEntry_Search.sSearchData != null) && (Model.PurchaseEntry_Search.sSearchData.Count() != 0))
{
    <div class="page-header">
        <h1>Search Result</h1>
    </div>
    @*<div style="overflow: auto">*@
        <table id="searchResultTable" class="table table-hover display" cellspacing="0">
            <thead>
                <tr>
                    <th>Trip No.</th>
                    <th>PO No.</th>
                    <th>PO Date</th>
                    <th>Product</th>
                    <th>Supplier</th>
                    <th>Incoterms</th>
                    <th>Volume</th>
                    <th>Vol. Unit</th>
                    <th>PO Price</th>
                    <th>Total</th>
                    <th>Currency</th>
                    <th>Updated Price</th>
                    <th>Last Updated</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.PurchaseEntry_Search.sSearchData.Count > 0)
                {
                    foreach (var v in Model.PurchaseEntry_Search.sSearchData)
                    {
                        <tr>
                            <td>

                                <a href="@Url.Action("Change", "PurchaseEntry", new
                                    {
                                        TripNo = @v.TripNo,
                                        PoNo = @v.PoNo,
                                        PoItem = @v.PoItem,
                                        PoDate = @v.PoDate,
                                        Product = @v.Product,
                                        Supplier = @v.Supplier,
                                        Incoterms = @v.Incoterms,
                                        Volume = @v.Volume,
                                        VolumeUnit = @v.VolumeUnit,
                                        Price = @v.Price,
                                        Total = @v.Total,
                                        Currency = @v.Currency,
                                        SupplierNo = @v.SupplierNo,
                                        MetNum = @v.MetNum
                                    })" title="Change">
                                @v.TripNo
                                </a>
                            </td>
                            <td>@v.PoNo</td>
                            <td>@v.PoDate</td>
                            <td>@v.Product</td>
                            <td>@v.Supplier</td>
                            <td>@v.Incoterms</td>
                            <td>@v.Volume</td>
                            <td>@v.VolumeUnit</td>
                            <td>@v.Price</td>
                            <td>@v.Total</td>
                            <td>@v.Currency</td>
                            <td>@v.UpdatePrice</td>
                            <td>@v.LastUpdate</td>
                        </tr>
                    }
                }  
            </tbody>
        </table>
    @*</div>*@
}
 

<script>
    $(document).ready(function () {        
        $('#clearButton').click(function(){
            $('#ddlCompany').val($("#target option:first").val());
            $('#ddlProduct').val($("#target option:first").val());
            $('#txtTripNo').val('');
            $('#txtPoDate').val('');
            $('#txtDotDotDot').val('');
            $('#txtPoNo').val('');
            $('#txtGrDate').val('');
            $('#ddlSupplier').val($("#target option:first").val());
        });
        $('#searchResultTable').DataTable({
            "columnDefs": [
                //Disble sort on Action Colum
                {
                    "targets": [6],
                    "orderable": false
                }
            ]
        });
        $('#txtPoDate').dateRangePicker(
        {
            startOfWeek: 'monday',
            format: 'DD/MM/YYYY',
        });
        $('#txtGrDate').dateRangePicker(
        {
            startOfWeek: 'monday',
            format: 'DD/MM/YYYY',
        });
        setReBody();
    });
</script>

