﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.CompanyViewModel
@{
    ViewBag.Title = "Index";
}

<style type="text/css">
    .table > tbody > tr > td {
        vertical-align: middle;
    }

    .ui-autocomplete {
        max-height: 200px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
    }
    /* IE 6 doesn't support max-height
    * we use height instead, but this forces the menu to always be this tall
    */
    * html .ui-autocomplete {
        height: 200px;
    }
</style>

@using (Html.BeginForm("Search", "HedgeCompany", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="page-header">
        <h1>HEDGE COMPANY</h1>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label class="col-md-2 control-label">COMPANY CODE :</label>
                <div class="col-md-4">
                    @Html.HiddenFor(model => model.companyCodeJSON, htmlAttributes: new { @class = "companyCodeJsonData" })
                    @Html.TextBoxFor(model => model.cmp_Search.sCompanyCode, htmlAttributes: new { @class = "form-control company-code-json", @onfocus = "getCompanyCodeJSON()", @autocomplete = "off" })
                </div>

                <label class="col-md-2 control-label">COMPANY NAME :</label>
                <div class="col-md-4">
                    @Html.HiddenFor(model => model.companyNameJSON, htmlAttributes: new { @class = "companyNameJsonData" })
                    @Html.TextBoxFor(model => model.cmp_Search.sCompanyName, htmlAttributes: new { @class = "form-control company-name-json", @onfocus = "getCompanyNameJSON()", @autocomplete = "off" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">STATUS :</label>
                <div class="col-md-4">
                    @Html.DropDownListFor(model => model.cmp_Search.sStatus, new SelectList(Model.ddl_Status, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                </div>

                <label class="col-md-2 control-label">CREATE TYPE :</label>
                <div class="col-md-4">
                    @Html.DropDownListFor(model => model.cmp_Search.sCreatedType, new SelectList(Model.ddl_CreateType, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">UPDATE DATE :</label>
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.cmp_Search.sDateFrom, new { @id = "date-range-start", @class = "form-control input-date-picker date-range-start ", @placeholder = "DD/MM/YYYY to DD/MM/YYYY", @maxlength = "24" })
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="pull-left">
            @if (ViewBag.action_create)
            {
                @Html.ActionLink("Add", "Create", new { controller = "HedgeCompany" }, new { @class = "btn btn-success" })
            }
        </div>
        <div class="pull-right">
            @if (ViewBag.action_search)
            {
                <button type="submit" class="btn btn-primary">Search</button>
            }
        </div>
    </div>
}

<div class="page-header">
    <h1>Search Result</h1>
</div>
<table id="searchResultTable" class="table table-hover display" cellspacing="0">
    <thead>
        <tr>
            <th>COMPANY CODE</th>
            <th>COMPANY NAME</th>
            <th>STATUS</th>
            <th>CREATE TYPE</th>
            <th>UPDATE BY</th>
            <th>UPDATE DATE</th>
            <th>ACTION</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.cmp_Search == null)
        {

            <tr class="waiting">
                <td colspan="7">Waiting for search</td>
            </tr>

        }
        else
        {
            if (Model.cmp_Search.sSearchData.Count > 0)
            {
                foreach (var v in Model.cmp_Search.sSearchData)
                {
                    <tr>
                        <td>@v.dCompanyCode</td>
                        <td>@v.dCompanyName</td>
                        <td>@v.dStatus</td>
                        <td>@v.dCreatedType</td>
                        <td>@v.dUpdatedBy</td>
                        <td>@v.dUpdatedDate</td>
                        <td width="100px">
                            @if (ViewBag.action_view)
                            {
                                <a href="@Url.Action("View", "HedgeCompany", new { CompanyCode = @v.dCompanyCode  })" title="View Detail">
                                    <img alt="Widget View" src="@Url.Content("../../Content/images/1480695949_file.png")">
                                </a>
                            }
                            @if (ViewBag.action_edit)
                            {
                                <a href="@Url.Action("Edit", "HedgeCompany", new { CompanyCode = @v.dCompanyCode })" title="Edit">
                                    <img alt="Widget View" src="@Url.Content("../../Content/images/1480695860_edit.png")">
                                </a>
                            }
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>

<script>
    $(function () {
        $('#date-range-start').dateRangePicker(
        {
            startOfWeek: 'monday',
            format: 'DD/MM/YYYY',
        });
        //$('#laycanDateSelect').dateRangePicker(
        //{
        //    startOfWeek: 'monday',
        //    format: 'DD-MM-YYYY',
        //});
        //$('#example').DataTable();
    });

    $(document).ready(function () {
        $('#searchResultTable').DataTable({
            "columnDefs": [
                //Disble sort on Action Colum
                {
                    "targets": [6],
                    "orderable": false
                }
            ]
        });
    });

    //Get Type Automplete
    function getCompanyCodeJSON() {
        var availableData = JSON.parse($(".companyCodeJsonData").val());
        //alert($(".companyCodeJsonData").val());
        $(".company-code-json").autocomplete({
            source: function (request, response) {
                var re = $.ui.autocomplete.escapeRegex(request.term);
                var matcher = new RegExp("^" + re, "i");
                response($.grep(($.map(availableData, function (v, i) {
                    return {
                        label: v.System,
                        value: v.System
                    };
                })), function (item) {
                    return matcher.test(item.value);
                }))

            },
            minLength: 0,
        }).click(function () {
            $(this).autocomplete("search");
        });
    }// End Type Autocomplete

    //Get Type Automplete
    function getCompanyNameJSON() {
        var availableData = JSON.parse($(".companyNameJsonData").val());
        //alert($(".companyCodeJsonData").val());
        $(".company-name-json").autocomplete({
            source: function (request, response) {
                var re = $.ui.autocomplete.escapeRegex(request.term);
                var matcher = new RegExp("^" + re, "i");
                response($.grep(($.map(availableData, function (v, i) {
                    return {
                        label: v.System,
                        value: v.System
                    };
                })), function (item) {
                    return matcher.test(item.value);
                }))

            },
            minLength: 0,
        }).click(function () {
            $(this).autocomplete("search");
        });
    }// End Type Autocomplete


</script>