﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.CrudePurchaseSearchViewModel
@{
    ViewBag.Title = "Search";
    Layout = "~/Areas/CPAIMVC/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .clearIcon {
        cursor: pointer;
        color: red;
    }

    .createByField {
        font-family: Arial,sans-serif;
        font-size: 12px;
    }
     
    .select.input-sm {
        width: 50px;
    }

    .ui-menu .ui-menu-item {
        font-size: 13px;
    }
</style>

<div class="wrapper-detail">
    <div>
        <h1>Search Crude Purchase</h1>
    </div>
    @using (Html.BeginForm("SearchResult_New", "CrudePurchase", FormMethod.Post, new { @class = "form-horizontal", @name = "searchForm", @id = "searchForm" }))
    {
        <div class="row">
            <div class="form-group">
                <div class="col-md-4">
                    <label for="inputEmail3" class="col-md-3 control-label">Date Purchase</label>
                    <div class="col-md-7">
                        <div class="box-date">
                            @Html.TextBox("datePurchaseField", null, new { @class = "form-control input-date-picker", @id = "date-range-start" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="inputEmail3" class="col-md-3 control-label">Feedstock</label>
                    <div class="col-md-7">
                        @Html.DropDownListFor(model => model.feedstock, ViewBag.getFeedstock as List<SelectListItem>, "Select All", new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="inputEmail3" class="col-md-3 control-label">Name</label>
                    <div class="col-md-7">
                        @Html.DropDownListFor(model => model.product, ViewBag.getProduct as List<SelectListItem>, "", new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-4">
                    <label for="inputEmail3" class="col-md-3 control-label">Supplier</label>
                    <div class="col-md-7">
                        @Html.DropDownListFor(model => model.supplier, ViewBag.getSupplier as List<SelectListItem>, "", new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-12">
                    <label for="inputEmail3" class="col-md-1 control-label">Created by</label>
                    <div class="col-md-10 createByField">
                        @Html.DropDownListFor(model => model.userList, ViewBag.getUsers as List<SelectListItem>, new { @class = "form-control", @multiple = "multiple", @id = "Createby" })
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                <div class="col-md-4 pull-left">
                    <a class="btn btn-success" href="~/CPAIMVC/CrudePurchase" id="addBtn" name="addBtn" role="button" style="display:none">Add</a>
                </div>
                <div class="col-md-4 text-center">
                    <button type="submit" class="btn btn-primary">Search</button>
                    <button type="reset" value="Reset" class="btn btn-default" onclick="resetForm()">Clear All</button>
                </div>
                <div class="col-md-4 text-right">
                    <div id="dupBtn">
                        <a class="btn btn-info" href="#" id="dubCopy" name="dubCopy" role="button" onclick="chkChecked()" style="display:none">Copy</a>
                    </div>
                </div>
            </div>
        </div>

    }

    <div class="page-header">
        <h1>Search Result</h1>
    </div>
    <div class="task-box">
        <div class="wrapper-table collapse in" id="collapseJuly">
            <table id="example" class="table table-hover table-striped table-bordered" cellspacing="0">
                <thead>
                    <tr>
                        <th>Date/Status</th>
                        <th>Purchase no</th>
                        <th>Feedstock</th>
                        <th>Name</th>
                        <th>Supplier</th>
                        <th>Quantity</th>
                        <th>Margin</th>
                        <th>Created by</th>
                        @*<th>Copy</th>*@
                    </tr>
                </thead>
                <tbody>
                    @if (Model.CrudePurchaseTransaction == null)
                    {
                        <tr class="waiting" data-href="http://myspace.com">
                            <td colspan="9">Waiting for search</td>
                        </tr>
                    }
                    else
                    {
                        if (Model.CrudePurchaseTransaction.Count > 0)
                        {
                            foreach (var v in Model.CrudePurchaseTransaction)
                            {
                                var newStatus = v.status == "WAITING CERTIFIED" ? "WAITING ENDORSED" : v.status;
                                <tr class="drafts" style="cursor: pointer;">
                                    <td class="clickable-row" data-href="../CrudePurchase?TranID=@v.Transaction_id_Encrypted&Tran_Req_ID=@v.Req_transaction_id_Encrypted&PURNO=@v.Purchase_no_Encrypted&Reason=@v.reason_Encrypted">@v.date_purchase <span>@newStatus</span></td>
                                    <td class="clickable-row" data-href="../CrudePurchase?TranID=@v.Transaction_id_Encrypted&Tran_Req_ID=@v.Req_transaction_id_Encrypted&PURNO=@v.Purchase_no_Encrypted&Reason=@v.reason_Encrypted">@v.purchase_no</td>
                                    <td class="clickable-row" data-href="../CrudePurchase?TranID=@v.Transaction_id_Encrypted&Tran_Req_ID=@v.Req_transaction_id_Encrypted&PURNO=@v.Purchase_no_Encrypted&Reason=@v.reason_Encrypted">@v.feed_stock</td>
                                    <td class="clickable-row" data-href="../CrudePurchase?TranID=@v.Transaction_id_Encrypted&Tran_Req_ID=@v.Req_transaction_id_Encrypted&PURNO=@v.Purchase_no_Encrypted&Reason=@v.reason_Encrypted">@v.product_name</td>
                                    <td class="clickable-row" data-href="../CrudePurchase?TranID=@v.Transaction_id_Encrypted&Tran_Req_ID=@v.Req_transaction_id_Encrypted&PURNO=@v.Purchase_no_Encrypted&Reason=@v.reason_Encrypted">@v.supplier_name</td>
                                    <td class="clickable-row" data-href="../CrudePurchase?TranID=@v.Transaction_id_Encrypted&Tran_Req_ID=@v.Req_transaction_id_Encrypted&PURNO=@v.Purchase_no_Encrypted&Reason=@v.reason_Encrypted">@v.volumes</td>
                                    <td class="clickable-row" data-href="../CrudePurchase?TranID=@v.Transaction_id_Encrypted&Tran_Req_ID=@v.Req_transaction_id_Encrypted&PURNO=@v.Purchase_no_Encrypted&Reason=@v.reason_Encrypted">@v.margin</td>
                                    <td class="clickable-row" data-href="../CrudePurchase?TranID=@v.Transaction_id_Encrypted&Tran_Req_ID=@v.Req_transaction_id_Encrypted&PURNO=@v.Purchase_no_Encrypted&Reason=@v.reason_Encrypted">@v.create_by</td>
                                    @*<td>
                                        <input type="hidden" name="dupLinkField" class="form-control" value="../CrudePurchase?TranID=@v.Transaction_id_Encrypted&Tran_Req_ID=@v.Req_transaction_id_Encrypted&PURNO=@v.Purchase_no_Encrypted&Reason=@v.reason_Encrypted&isDup=true" hidden="hidden" />
                                        <input name="dup" type="checkbox" value="true" onclick="myFunction();" />
                                    </td>*@
                                </tr>
                            }
                        }
                        else
                        {
                            <tr class="waiting">
                                <td colspan="9">Data not found</td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $('input[type="checkbox"]').on('change', function () {
        $('input[name="' + this.name + '"]').not(this).prop('checked', false);
    });
    $(".clickable-row").click(function () {
        window.document.location = $(this).data("href");
    });
    function myFunction() {
        var dupLinkField = document.getElementsByName("dupLinkField");
        var dupChk = document.getElementsByName("dup");
        var dubCopyHref = document.getElementsByName("dubCopy");
        for (var i = 0; i < dupLinkField.length; i++) {
            if (dupChk[i].checked) {
                dubCopyHref[0].setAttribute('href', dupLinkField[i].value);
                break;
            } else {
                dubCopyHref[0].setAttribute('href', "#");
            }

        }

    }

    function chkChecked() {
        var dupChk = document.getElementsByName("dup");
        var dubCopyHref = document.getElementsByName("dubCopy");
        var status = true;
        if (dupChk.checked) {
            return true;
        }

    }

    function resetForm() {
        document.getElementById("searchForm").reset();
        $("#Createby").select2("val", "");
    }

    $(function () {
        $('#date-range-start').dateRangePicker(
        {
            startOfWeek: 'monday',
            format: 'DD-MM-YYYY',
        });

        $.widget("custom.combobox", {
            _create: function () {
                this.wrapper = $("<div>")
                .attr("id", "ddlCrudeName")
                .insertAfter(this.element);

                this.element.hide();
                this._createAutocomplete();
            },

            _createAutocomplete: function () {
                var selected = this.element.children(":selected"),
                    value = selected.val() ? selected.text() : "";
                var wasOpen = false;

                this.input = $("<input>")
                    .appendTo(this.wrapper)
                    .val(value)
                    .attr("style", "background: url(../../Content/images/bg/bg-select.png) no-repeat 98% 10px; background-color: white;")
                    .addClass("form-control")
                    .autocomplete({
                        delay: 0,
                        minLength: 0,
                        source: $.proxy(this, "_source")
                    });

                this._on(this.input, {
                    autocompleteselect: function (event, ui) {
                        ui.item.option.selected = true;
                        $(ui.item.option.parentNode).val(ui.item.value).change();
                        ui.item.value = ui.item.label;
                        this._trigger("select", event, {
                            item: ui.item.option
                        });
                    },
                    autocompletechange: "_removeIfInvalid",
                    "mousedown": function () {
                        wasOpen = this.input.autocomplete("widget").is(":visible");
                    },
                    "click": function () {
                        this.input.trigger("focus");
                        // Close if already visible
                        if (wasOpen) {
                            return;
                        }
                        // Pass empty string as value to search for, displaying all results
                        this.input.autocomplete("search", "");
                    }

                });
            },

            _source: function (request, response) {
                var matcher = new RegExp("^" + $.ui.autocomplete.escapeRegex(request.term), "i");
                response(this.element.children("option").map(function () {
                    var text = $(this).text();
                    var value = $(this).val();

                    if (this.value && (!request.term || matcher.test(text)))
                        return {
                            label: text,
                            value: value,
                            option: this
                        };
                }).slice(0, 10));
            },

            _removeIfInvalid: function (event, ui) {
                // Selected an item, nothing to do
                if (ui.item) {
                    return;
                }

                // Search for a match (case-insensitive)
                var value = this.input.val(),
                    valueLowerCase = value.toLowerCase(),
                    valid = false;
                this.element.children("option").each(function () {
                    if ($(this).text().toLowerCase() === valueLowerCase) {
                        this.selected = valid = true;
                        return false;
                    }
                });

                // Clear value
                if (value == "") {
                    this.input.val("")
                    this.element.val("");
                    this.input.autocomplete("instance").term = "";
                }

                // Found a match, nothing to do
                if (valid) {
                    return;
                }

                // Remove invalid value
                this.input.val("")
                this.element.val("");
                this.input.autocomplete("instance").term = "";
            },

            _destroy: function () {
                this.wrapper.remove();
                this.element.show();
            }
        });

        $.widget("custom.combobox3", {
            _create: function () {
                this.wrapper = $("<div>")
                .attr("id", "ddlOther")
                .insertAfter(this.element);

                this.element.hide();
                this._createAutocomplete();
            },

            _createAutocomplete: function () {
                var selected = this.element.children(":selected"),
                    value = selected.val() ? selected.text() : "";
                var wasOpen = false;

                this.input = $("<input>")
                    .appendTo(this.wrapper)
                    .val(value)
                    .attr("style", "background: url(../../Content/images/bg/bg-select.png) no-repeat 98% 10px; background-color: white;")
                    .addClass("form-control")
                    .autocomplete({
                        delay: 0,
                        minLength: 0,
                        source: $.proxy(this, "_source")
                    });

                this._on(this.input, {
                    autocompleteselect: function (event, ui) {
                        ui.item.option.selected = true;
                        $(ui.item.option.parentNode).val(ui.item.value).change();
                        ui.item.value = ui.item.label;
                        this._trigger("select", event, {
                            item: ui.item.option
                        });
                    },
                    autocompletechange: "_removeIfInvalid",
                    "mousedown": function () {
                        wasOpen = this.input.autocomplete("widget").is(":visible");
                    },
                    "click": function () {
                        this.input.trigger("focus");
                        // Close if already visible
                        if (wasOpen) {
                            return;
                        }
                        // Pass empty string as value to search for, displaying all results
                        this.input.autocomplete("search", "");
                    }

                });
            },

            _source: function (request, response) {
                var matcher = new RegExp("^" + $.ui.autocomplete.escapeRegex(request.term), "i");
                response(this.element.children("option").map(function () {
                    var text = $(this).text();
                    var value = $(this).val();

                    if (this.value && (!request.term || matcher.test(text)))
                        return {
                            label: text,
                            value: value,
                            option: this
                        };
                }).slice(0, 10));
            },

            _removeIfInvalid: function (event, ui) {

                // Selected an item, nothing to do
                if (ui.item) {
                    return;
                }

                // Search for a match (case-insensitive)
                var value = this.input.val(),
                    valueLowerCase = value.toLowerCase(),
                    valid = false;
                this.element.children("option").each(function () {
                    if ($(this).text().toLowerCase() === valueLowerCase) {
                        this.selected = valid = true;
                        return false;
                    }
                });

                // Clear value
                if (value == "") {
                    this.input.val("")
                    this.element.val("");
                    this.input.autocomplete("instance").term = "";
                }

                // Found a match, nothing to do
                if (valid) {
                    return;
                }

                // Remove invalid value
                this.input.val("")
                this.element.val("");
                this.input.autocomplete("instance").term = "";
            },

            _destroy: function () {
                this.wrapper.remove();
                this.element.show();
            }
        });

        $("#product").combobox();
        $("#supplier").combobox3();

        $('#example').DataTable({
            "ordering": false,
            "bSort": false
        });

    });
    $("#Createby").select2();
    $('#Createby').change(function () {
        $('.select2-search__field').keydown(function (e) {

            if ($(this).val() == "") {
                if (e.keyCode == 8) {
                    return false;
                }
            }
        });
    });
</script>
