﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.CrudePurchaseSearchBondViewModel
@{
    ViewBag.Title = "Search";
    Layout = "~/Areas/CPAIMVC/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .clearIcon {
        cursor: pointer;
        color: red;
    }

    .createByField {
        font-family: Arial,sans-serif;
        font-size: 12px;
    }
     
    .select.input-sm {
        width: 50px;
    }

    .ui-menu .ui-menu-item {
        font-size: 13px;
    }
</style>

<div class="wrapper-detail">
    <div>
        <h1>Search Crude Purchase</h1>
    </div>
    @using (Html.BeginForm("searchResult_Bond", "CrudePurchase", FormMethod.Post, new { @class = "form-horizontal", @name = "searchForm", @id = "searchForm" }))
    {
        <div class="row">
            <div class="form-group">
                <div class="col-md-4">
                    <label for="inputEmail3" class="col-md-3 control-label">Date Purchase</label>
                    <div class="col-md-7">
                        <div class="box-date">
                            @Html.TextBox("datePurchaseField", null, new { @class = "form-control input-date-picker", @id = "date-range-start" })
                            @*@Html.TextBoxFor(model => model.Search_datePurchase, new { @class = "form-control input-date-picker", @id= "date-range-start" })*@
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="inputEmail3" class="col-md-3 control-label">Status</label>
                    <div class="col-md-7">
                        @Html.DropDownListFor(model => model.Statuses, ViewBag.getStatuses as List<SelectListItem>, "Select All", new { @class = "form-control",@id="ddlStatus" })
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="inputEmail3" class="col-md-3 control-label">Name</label>
                    <div class="col-md-7">
                        @Html.DropDownListFor(model => model.Crudes, ViewBag.getCrudes as List<SelectListItem>, "", new { @class = "form-control",@id="ddlCrude" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-4">
                    <label for="inputEmail3" class="col-md-3 control-label">Supplier</label>
                    <div class="col-md-7">
                        @Html.DropDownListFor(model => model.Suppliers, ViewBag.getSuppliers as List<SelectListItem>, "", new { @class = "form-control",@id="ddlSupplier" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-12">
                    <label for="inputEmail3" class="col-md-1 control-label">Created by</label>
                    <div class="col-md-10 createByField">
                        @Html.DropDownListFor(model => model.userList, ViewBag.getUsers as List<SelectListItem>, new { @class = "form-control", @multiple = "multiple", @id = "Createby" })
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                <div class="col-md-4 pull-left"></div>
                <div class="col-md-4 text-center">
                    @*<button type="submit" class="btn btn-primary">Search</button>*@
                    <button type="button" onclick="loadCrudePurchases();" class="btn btn-primary">Search</button>
                    <button type="reset" value="Reset" class="btn btn-default" onclick="resetForm();">Clear All</button>
                </div>
                <div class="col-md-4 text-right"></div>
            </div>
        </div>

    }

    <div class="page-header">
        <h1>Search Result</h1>
    </div>
    <div class="task-box" style="overflow-x:scroll;">
        <div class="wrapper-table collapse in" id="collapseJuly">
            <table id="tblCrudePurchase" class="table table-hover table-striped table-bordered" cellspacing="0" style="width:100%;">
                <thead>
                    <tr>
                        <th style="width:80px;">Trip NO.</th>
                        <th style="width:80px;">Purchase date</th>
                        <th style="width:100px;">Name</th>
                        <th>Supplier</th>
                        <th style="width:50px;">Quantity</th>
                        <th style="width:250px;">Margin</th>
                        <th style="width:50px;">Created by</th>
                        <th style="width:80px;">B/L Date</th>
                        <th style="width:50px;">Status</th>
                        <th style="width:50px;">Bond</th>
                        <th style="width:150px;">File Upload</th>
                        <th style="width:50px;">Upload</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.CrudePurchases == null)
                    {
                            <tr class="waiting">
                                <td>Data not found</td>
                                <td>Data not found</td>
                                <td>Data not found</td>
                                <td>Data not found</td>
                                <td>Data not found</td>
                                <td>Data not found</td>
                                <td>Data not found</td>
                                <td>Data not found</td>
                                <td>Data not found</td>
                                <td>Data not found</td>
                                <td>Data not found</td>
                                <td>Data not found</td>
                            </tr>
                    }
                    else
                    {
                        if (Model.CrudePurchases.Count > 0)
                        {
                            foreach (var v in Model.CrudePurchases)
                            {
                                <tr class="drafts" style="cursor: pointer;">
                                    <td>@v.TripNo</td>
                                    <td>@DateTime.Parse(v.PurchaseDate).ToString("dd/MM/yyyy")</td>
                                    <td>@v.Crude</td>
                                    <td>@v.SupplierName</td>
                                    <td>@v.Quantity</td>
                                    <td>@v.Margin</td>
                                    <td>@v.CreatedBy</td>
                                    <td>@v.BlDate</td>
                                    <td>@v.Status</td>
                                    <td>@v.Bond</td>
                                    <td>@v.BondDocuments[0].FileName</td>
                                    <td name="clUpload" onclick="testEngineCall('@v.CrudePurchaseRowId','@(v.Status.Equals("APPROVED")?1:2)');"><span class="glyphicon glyphicon-circle-arrow-up" aria-hidden="true"></span></td>
                                </tr>
                            }
                        }
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
<div id="dlgModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">File upload</h3>
            </div>
            <div class="modal-body" style="text-align:center;">
                <div class="panel panel-default">
                    @*<input type="file" accept="image/*, .pdf" max-file-size=4194304 name="Explanupload_MultiFile" id="Explanupload_MultiFile" multiple="multiple" style="display:none;" />*@
                    <input type="file" accept="image/*, .pdf" max-file-size=4194304 name="Explanupload_MultiFile" id="Explanupload_MultiFile" style="display:none;" />
                    <div class="panel-body" id="ExplanfilesUploaded">
                        
                    </div>
                </div>
                <div id="pnl_Explanupload_MultiFile">
                    <button id="btn_Explanupload_MultiFile" type="button" class="btn btn-success" onclick="addExplanAttachFile('BOND','F10000023')"><span class="glyphicon glyphicon-folder-open" aria-hidden="true">&nbsp;<span style="font-family:Tahoma;">Select</span></span></button>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-sm-6">
                        <div style="width:100%;text-align:left;"><span>.jpg .png .bmp .pdf .doc .xls .xlsx .docx</span></div>
                    </div>
                    <div class="col-sm-6">
                        <button id="btnStartUpload" type="button" class="btn btn-primary">Upload</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<style>
    .glyphicon{
        font-family:'Glyphicons Halflings' !important;
    }
</style>

<script>
    var tCrudePurchaseDataTable;
    $("document").ready(
        function () {
            tCrudePurchaseDataTable = $("#tblCrudePurchase").DataTable({ "ordering": false, "searching": false, });
            tCrudePurchaseDataTable.clear();
            tCrudePurchaseDataTable.draw();
        }
    );

    function loadCrudePurchaseSearchResult() {
        $.ajax({
            method: "POST",
            url: "GetSavedData",
            data: { p: pIDs }
        }).done(function (data, status) {
            calBk(data);
        })
    }

    function testEngineCall(pId, pOption) { 
        var stateName = "";
        if (pOption == 1) {
            stateName = "CPAICDPHSetBondStatusState";
            $.ajax({
                method: "POST",
                url: "UpdateBondDocFilesUploaded",
                data: { pCrudePurchaseRowId: pId, pBondDocFiles: "", pStateName: stateName }
            }).done(function (data, status) {
                //console.log(data);
                updateUploadedFileList(data);
            })
        } else if (pOption == 2) {
            stateName = "CPAIVerifyCDPHRequireInputContinueState";
            btnUpload_click(pId);
        }
    }

    function getFileNamesInPipeSeparatedFormat() {
        var rslt = "";
        for (var i = 0; i < uploadedFileNames.length; i++) {
            var tFile = uploadedFileNames[i];
            rslt += rslt != "" ? "|" : "";
            rslt += tFile;
        }
        return rslt;
    }

    function updateBondFileUploaded(pFileNames,pFnc) {
        var stateName = "CPAIVerifyCDPHRequireInputContinueState";
         $.ajax({
            method: "POST",
            url: "UpdateBondDocFilesUploaded",
            data: { pCrudePurchaseRowId: selectedId, pBondDocFiles: pFileNames, pStateName: stateName }
        }).done(function (data, status) {
            pFnc(data);
        })
    }

    function btnUpload_click(pId) {
        selectedId = pId;
        initFileUploadModal();
        clearFileList(true);
    }

    //function showUploadIcons() {
    //    var tCells = $("td[name=clUpload]");
    //    for (var i = 0; i < tCells.length;i++){
    //        //tCells[i].html("<span class='glyphicon glyphicon-upload' aria-hidden='true'></span>");
    //        tCells[i].innerHTML = "<img src='http://findicons.com/files/icons/2222/gloss_basic/16/arrow_up1.png'>";
    //    }
    //}

    function initFileUploadModal() {
        var tContent = '<button id="btn_Explanupload_MultiFile" type="button" class="btn btn-success" onclick="addExplanAttachFile(\'BOND\',\'F10000023\')"><span class="glyphicon glyphicon-folder-open" aria-hidden="true">&nbsp;<span style="font-family:Tahoma;">Select</span></span></button>';
        $("#pnl_Explanupload_MultiFile").html(tContent);
        $('#btn_Explanupload_MultiFile').removeAttr("disabled");
        $("#btnStartUpload").removeAttr("disabled");
        $("#dlgModal").modal("show");
    }

    function loadCrudePurchases() {

        var tDates = $("#date-range-start").val();
        var tStatus = $("#ddlStatus").val();
        var tCrude = $("#ddlCrude").val();
        var tSupplier = $("#ddlSupplier").val();
        var tUsers = JSON.stringify($("#Createby").val());
        if(tUsers == "null") tUsers = "";

        $.ajax({
            method: "POST",
            url: "searchResult_BondJson",
            data: { pDates:tDates, pStatus:tStatus,  pCrude:tCrude,  pSupplier:tSupplier, pUsers:tUsers}
        }).done(function (data, status) {
            loadCrudePurchasesToDataTable(data);
        })
    }

    function loadCrudePurchasesToDataTable(pData) {
        var tData = jQuery.parseJSON(pData);  
        //var tColNames = "TripNo,PurchaseDate,Crude,SupplierName,Quantity,Margin,CreatedBy,BlDate,Status".split(",");
        var tColNames = "TripNo,PurchaseDate,Crude,SupplierName,Quantity,Margin,CreatedBy,BlDate,Status,Bond".split(",");
        if (tCrudePurchaseDataTable == null) tCrudePurchaseDataTable = $("#tblCrudePurchase").DataTable();
        tCrudePurchaseDataTable.clear();
        for (var i = 0; i < tData.length; i++) {
            var tDat = tData[i];
            var tRow = document.createElement("tr");
            var tCell;
            for (var j = 0; j < tColNames.length; j++) {
                tCell = document.createElement("td");
                if (tColNames[j].indexOf( "Date")>=0) {
                    tCell.innerHTML = tDat[tColNames[j]].split(" ")[0];
                } else {
                    tCell.innerHTML = tDat[tColNames[j]];
                }
                if(tColNames[j].indexOf("Status")>=0){
                    tCell.id = "clStatus" + tDat.CrudePurchaseRowId+tDat.TripNo;
                }                
                tRow.appendChild(tCell);
            }

            tCell = document.createElement("td");
            tCell.id = "clFile"+ tDat.CrudePurchaseRowId+tDat.TripNo;
            var tFiles = ""; 
            if(tDat.BondDocuments!=null){
                for (var j = 0; j < tDat.BondDocuments.length; j++) {
                    var tFileAry = tDat.BondDocuments[j].FileName.split("/");
                    var tFile = tFileAry[tFileAry.length-1];
                    //if(tFiles!="")tFiles+="<br>";
                    var deleteFile = tDat.CrudePurchaseRowId + "_" + j;
                    tFiles += "<div id='"+ deleteFile + "' class='uploadifyQueueItem ExplanAttach' style='width:100%;'><div class='cancel'><span class='glyphicon glyphicon-remove' style='padding-top: 0px !important;' onclick='funcDelete(\"" + tDat.CrudePurchaseRowId + "\",\"" + tDat.BondDocuments[j].FileName + "\",\""+deleteFile+"\")'></span></div><a target='_blank' href='../../" + tDat.BondDocuments[j].FileName + "'>" + tFile + "</a></div>";
                }
                tCell.innerHTML = tFiles; 
                //$("#clStatus201709080854310212651null").innerHTML ="COMPLETED";
                //alert(tDat.CrudePurchaseRowId+tDat.TripNo);
                
            }else{
                tCell.textContent = tFiles;
            }
            tRow.appendChild(tCell);

            tCell = document.createElement("td");
            
            var tColUpload = "";
            //tColUpload = "<td name='clUpload' id='clUpload" + tDat.CrudePurchaseRowId + "'>";
            tColUpload = "";
            tColUpload += "<span";
            tColUpload += " class='glyphicon ";
            if (tDat.Status == "WAITING BOND DOCS") {
                tColUpload += "glyphicon-circle-arrow-up' style='cursor:pointer;";
                tCell.onclick = function () { testEngineCall (tDat.CrudePurchaseRowId,2)};
            } else if (tDat.Status == "COMPLETED") {
                tColUpload += "glyphicon-ok-sign' style='color:green; ";
            } else if (tDat.Status == "WAIVED") {                
                tColUpload += "glyphicon-ban-circle' style='color:#808080;"; 
            } else{
                tColUpload += "glyphicon-share-alt' style='color:orange; ";
                //tCell.onclick = function () { testEngineCall(tDat.CrudePurchaseRowId, 1) };
            }
            //tColUpload += "' aria-hidden='true'></span></td>";
            tColUpload += "' aria-hidden='true'></span>";

            tCell.innerHTML = tColUpload;
            tCell.id = "clUpload" + tDat.CrudePurchaseRowId+tDat.TripNo;
            tCell.setAttribute("name","clUpload");
            if(tDat.Status=="APPROVED"){
                tCell.setAttribute("onclick","testEngineCall('" + tDat.CrudePurchaseRowId+"', 1)");
            }else if(tDat.Status == "WAIVED"){
                tCell.setAttribute("onclick","testEngineCall('" + tDat.CrudePurchaseRowId+"', 3)");
            }            
            else{
                tCell.setAttribute("onclick","testEngineCall('" + tDat.CrudePurchaseRowId+"', 2)");
            }

            tRow.appendChild(tCell);
            tCrudePurchaseDataTable.row.add(tRow); 
        }
        tCrudePurchaseDataTable.draw();
       // $("#clStatus201709080854310212651null").html("COMPLETED");
    }

    function updateUploadedFileList(pData){  
        var tData = jQuery.parseJSON(pData); 
        var tControlId = tData.Data[1]+tData.Data[2]; 
        $("#clStatus"+tControlId).html("COMPLETED");
        var tFiles = "";
        var tFilesAry = tData.Data[0];
        for(var i = 0;i<tFilesAry.length;i++){
            var tFileNameAry = tData.Data[0][i].split("/");
            var tFileName = tFileNameAry[tFileNameAry.length-1];
            //if (tFiles != "") { tFiles += "<br>" };

            var deleteFile = tData.Data[1] + "_" + i;
            tFiles += "<div id='" + deleteFile + "' class='uploadifyQueueItem ExplanAttach' style='width:100%;'><div class='cancel'><span class='glyphicon glyphicon-remove' style='padding-top: 0px !important;' onclick='funcDelete(\"" + tData.Data[1] + "\",\"" + tData.Data[0][i] + "\",\"" + deleteFile + "\")'></span></div><a target='_blank' href='" + tData.Data[0][i] + "'>" + tFileName + "</a></div>";
            //tFiles += "<a href='" + tData.Data[0][i] + "'>" + tFileName.substring(25, tFileName.length) + "</a>"
        }
        $("#clFile"+tControlId).html(tFiles);
        $("#clUpload" + tControlId).html("<span class='glyphicon glyphicon-ok-sign' style='color:Green;'></span>");
    }
</script>
<script>
    // ********** GUI control functions ***********
    function resetForm() {
        document.getElementById("searchForm").reset();
        $("#Createby").select2("val", "");
    }

    $(function () {
        $('#date-range-start').dateRangePicker(
        {
            startOfWeek: 'monday',
            format: 'DD-MMM-YYYY',
        });

        $.widget("custom.combobox", {
            _create: function () {
                this.wrapper = $("<div>")
                .attr("id", "ddlCrudeName")
                .insertAfter(this.element);

                this.element.hide();
                this._createAutocomplete();
            },

            _createAutocomplete: function () {
                var selected = this.element.children(":selected"),
                    value = selected.val() ? selected.text() : "";
                var wasOpen = false;

                this.input = $("<input>")
                    .appendTo(this.wrapper)
                    .val(value)
                    .attr("style", "background: url(../../Content/images/bg/bg-select.png) no-repeat 98% 10px; background-color: white;")
                    .addClass("form-control")
                    .autocomplete({
                        delay: 0,
                        minLength: 0,
                        source: $.proxy(this, "_source")
                    });

                this._on(this.input, {
                    autocompleteselect: function (event, ui) {
                        ui.item.option.selected = true;
                        $(ui.item.option.parentNode).val(ui.item.value).change();
                        ui.item.value = ui.item.label;
                        this._trigger("select", event, {
                            item: ui.item.option
                        });
                    },
                    autocompletechange: "_removeIfInvalid",
                    "mousedown": function () {
                        wasOpen = this.input.autocomplete("widget").is(":visible");
                    },
                    "click": function () {
                        this.input.trigger("focus");
                        // Close if already visible
                        if (wasOpen) {
                            return;
                        }
                        // Pass empty string as value to search for, displaying all results
                        this.input.autocomplete("search", "");
                    }

                });
            },

            _source: function (request, response) {
                var matcher = new RegExp("^" + $.ui.autocomplete.escapeRegex(request.term), "i");
                response(this.element.children("option").map(function () {
                    var text = $(this).text();
                    var value = $(this).val();

                    if (this.value && (!request.term || matcher.test(text)))
                        return {
                            label: text,
                            value: value,
                            option: this
                        };
                }).slice(0, 10));
            },

            _removeIfInvalid: function (event, ui) {
                // Selected an item, nothing to do
                if (ui.item) {
                    return;
                }

                // Search for a match (case-insensitive)
                var value = this.input.val(),
                    valueLowerCase = value.toLowerCase(),
                    valid = false;
                this.element.children("option").each(function () {
                    if ($(this).text().toLowerCase() === valueLowerCase) {
                        this.selected = valid = true;
                        return false;
                    }
                });

                // Clear value
                if (value == "") {
                    this.input.val("")
                    this.element.val("");
                    this.input.autocomplete("instance").term = "";
                }

                // Found a match, nothing to do
                if (valid) {
                    return;
                }

                // Remove invalid value
                this.input.val("")
                this.element.val("");
                this.input.autocomplete("instance").term = "";
            },

            _destroy: function () {
                this.wrapper.remove();
                this.element.show();
            }
        });

        $.widget("custom.combobox3", {
            _create: function () {
                this.wrapper = $("<div>")
                .attr("id", "ddlOther")
                .insertAfter(this.element);

                this.element.hide();
                this._createAutocomplete();
            },

            _createAutocomplete: function () {
                var selected = this.element.children(":selected"),
                    value = selected.val() ? selected.text() : "";
                var wasOpen = false;

                this.input = $("<input>")
                    .appendTo(this.wrapper)
                    .val(value)
                    .attr("style", "background: url(../../Content/images/bg/bg-select.png) no-repeat 98% 10px; background-color: white;")
                    .addClass("form-control")
                    .autocomplete({
                        delay: 0,
                        minLength: 0,
                        source: $.proxy(this, "_source")
                    });

                this._on(this.input, {
                    autocompleteselect: function (event, ui) {
                        ui.item.option.selected = true;
                        $(ui.item.option.parentNode).val(ui.item.value).change();
                        ui.item.value = ui.item.label;
                        this._trigger("select", event, {
                            item: ui.item.option
                        });
                    },
                    autocompletechange: "_removeIfInvalid",
                    "mousedown": function () {
                        wasOpen = this.input.autocomplete("widget").is(":visible");
                    },
                    "click": function () {
                        this.input.trigger("focus");
                        // Close if already visible
                        if (wasOpen) {
                            return;
                        }
                        // Pass empty string as value to search for, displaying all results
                        this.input.autocomplete("search", "");
                    }

                });
            },

            _source: function (request, response) {
                var matcher = new RegExp("^" + $.ui.autocomplete.escapeRegex(request.term), "i");
                response(this.element.children("option").map(function () {
                    var text = $(this).text();
                    var value = $(this).val();

                    if (this.value && (!request.term || matcher.test(text)))
                        return {
                            label: text,
                            value: value,
                            option: this
                        };
                }).slice(0, 10));
            },

            _removeIfInvalid: function (event, ui) {

                // Selected an item, nothing to do
                if (ui.item) {
                    return;
                }

                // Search for a match (case-insensitive)
                var value = this.input.val(),
                    valueLowerCase = value.toLowerCase(),
                    valid = false;
                this.element.children("option").each(function () {
                    if ($(this).text().toLowerCase() === valueLowerCase) {
                        this.selected = valid = true;
                        return false;
                    }
                });

                // Clear value
                if (value == "") {
                    this.input.val("")
                    this.element.val("");
                    this.input.autocomplete("instance").term = "";
                }

                // Found a match, nothing to do
                if (valid) {
                    return;
                }

                // Remove invalid value
                this.input.val("")
                this.element.val("");
                this.input.autocomplete("instance").term = "";
            },

            _destroy: function () {
                this.wrapper.remove();
                this.element.show();
            }
        });

        $("#ddlCrude").combobox();
        $("#ddlSupplier").combobox3();
         

    });

    $("#Createby").select2();
    $('#Createby').change(function () {
        $('.select2-search__field').keydown(function (e) {

            if ($(this).val() == "") {
                if (e.keyCode == 8) {
                    return false;
                }
            }
        });
    });
</script>

<!--File upload script-->
<script>

    //******* FILE UPLOAD *******

    var uploadedFilesCount = 0;
    var uploadCount = 0;

    function MakeUploadTag(fileName) {
        var i = 0, length = fileName.length;
        var TmpFilename = fileName;
        for (i; i < length; i++) {
            TmpFilename = TmpFilename.replace("/", "|").replace("\\", "|")
        }
        var spltVal = TmpFilename.split("|");
        //alert(spltVal[spltVal.length - 1]);
        var htmlTag = '<div id=\"' + fileName + '\" class=\"uploadifyQueue\" style width=\"100%;padding-right:15px;\">';
        htmlTag += '<div class=\"uploadifyQueueItem FileAttach\" value=\"' + fileName + '\" style="width:100%;">';
        htmlTag += '<div class="cancel">';
        htmlTag += '<span class="glyphicon glyphicon-remove removeAttach"></span>';
        htmlTag += '</div>';

        htmlTag += '<a target=\"_blank\" href=\"../' +  fileName + '\">' + spltVal[spltVal.length - 1] + '</a>';
        htmlTag += '</div>';
        htmlTag += '</div>';
        return htmlTag;
    }

    function MakeUploadTagExplan(fileName, MSG, hideRemoveBut,afterupload) {
        if (hideRemoveBut == null) hideRemoveBut = false;
        if (afterupload == null) afterupload = false;
        var i = 0, length = fileName.length;
        var TmpFilename = fileName;
        for (i; i < length; i++) {
            TmpFilename = TmpFilename.replace("/", "|").replace("\\", "|")
        }
        var spltVal = TmpFilename.split("|");
        var htmlTag = '<div id=\"' + fileName + '\" class=\"uploadifyQueue\" style width=\"100%;padding-right:15px;\">';
        htmlTag += '<table style="width:100%;"><tr><td>';
        htmlTag += '<div class=\"uploadifyQueueItem ExplanAttach\" value=\"' + fileName + '\" style="width:100%;">';
        htmlTag += '<div class="cancel">';

        //if (hideRemoveBut) {
        //    htmlTag += '<span style="visibility:hidden;" class="glyphicon glyphicon-remove removeExplanAttach"></span>';
        //} else {
        //    htmlTag += '<span class="glyphicon glyphicon-remove removeExplanAttach"></span>';
        //}

        htmlTag += '</div>';

        htmlTag += '<a target=\"_blank\" href=\"../' + fileName + '\">' + spltVal[spltVal.length - 1] + '</a>';
        htmlTag += '</div>';
        htmlTag += '</div>';
        htmlTag += '<tr><table>';

        if (afterupload) {
            uploadedFileNames[uploadedFileNames.length] = fileName;
            uploadedFilesCount++;
            if (uploadedFilesCount == file_basket.length) {
                tAfterCallEngine = function (pData) {
                    var tData = jQuery.parseJSON(pData);
                    var tMesssage = "";
                    if (tData.Status=="Success"){
                        tMesssage = '<span style="color:green;margin-top:8px;" class="glyphicon glyphicon glyphicon-ok-sign" aria-hidden="true"></span>&nbsp;';
                        tMesssage += '<span style="font-weight:bold;font-size:20px;">Files uploaded. Please wait!</span>';
                    }else{
                        tMesssage = '<span style="color:red;margin-top:8px;" class="glyphicon glyphicon glyphicon-alert" aria-hidden="true"></span>&nbsp;';
                        tMesssage += '<span style="font-weight:bold;font-size:20px;">' + tData.ErrorMessage + '</span>';
                    }
                    $("#pnl_Explanupload_MultiFile").html(tMesssage);
                    updateUploadedFileList(pData);
                    setTimeout(function () { $("#dlgModal").modal("hide"); }, 1500);
                }
                 updateBondFileUploaded(getFileNamesInPipeSeparatedFormat(),tAfterCallEngine)
            } else if (uploadedFilesCount < file_basket.length&&uploadCount==file_basket) {
                $("#pnl_Explanupload_MultiFile").append("<br>Not all files uploaded.");
                $('#btn_Explanupload_MultiFile').removeAttr("disabled");
                $("#btnStartUpload").removeAttr("disabled");
            }
        }

        return htmlTag;
    }

    function getRootWebSitePath() {
        var _location = document.location.toString();
        var applicationNameIndex = _location.indexOf('/', _location.indexOf('://') + 3);
        var applicationName = _location.substring(0, applicationNameIndex) + '/';
        var webFolderIndex = _location.indexOf('/', _location.indexOf(applicationName) + applicationName.length);
        var webFolderFullPath = _location.substring(0, webFolderIndex).toString().replace('/CPAIMVC', '');
        return webFolderFullPath;
    }

    var type_ajax = '';
    var pgname_ajax = '';
    var file_basket = [];
    var uploadedFileNames = [];
    var selectedId = "";

    function addAttachFile(type, pgname) {
        type_ajax = type;
        pgname_ajax = pgname;
        $("#upload_MultiFile").click();
    }

    function addExplanAttachFile(type, pgname) {
        $('#btn_Explanupload_MultiFile').attr("disabled", "disabled");
        type_ajax = type;
        pgname_ajax = pgname;
        $("#Explanupload_MultiFile").click();
    }

    function clearFileList(pClearFileBasket) {
        $('#ExplanfilesUploaded').html("");
        if (pClearFileBasket == null) pClearFileBasket = false;
        if (pClearFileBasket) {
            clearFileBasket();
            clearUploadFileBasket();
        }
    }

    function getFileFromBasket() {
        return file_basket;
    }

    function clearUploadFileBasket() {
        uploadedFileNames = [];
    }

    function clearFileBasket() {
        file_basket = [];
    }

    
    $('#btnStartUpload').click(function (e) {
        var files = getFileFromBasket();

        if (files.length > 0) {
            if (window.FormData !== undefined) {
                clearFileList();
                uploadedFilesCount = 0;
                uploadCount = 0;
                uploadedFileNames = [];
                $("#btnStartUpload").attr("disabled", "disabled");
                for (var x = 0; x < files.length; x++) {
                    var data = new FormData();
                    data.append("file" + x, files[x]);
                    $.ajax({
                        type: "POST",
                        url: getRootWebSitePath() + "/Web/Api/UploadFileAPI.aspx?Type=" + type_ajax + "|" + pgname_ajax,
                        contentType: false,
                        processData: false,
                        data: data,
                        success: function (response) {
                            var index = response.indexOf('<!DOCTYPE html>');
                            var json = response.substring(0, index);
                            var data = JSON.parse(json.trim());
                            $('#ExplanfilesUploaded').append(MakeUploadTagExplan(data.file_path, '',true,true));
                        },
                        error: function (event, queueID, fileObj, errorObj) {
                            alert(errorObj.type + ' Error: ' + errorObj.info);
                            if (fileObj.size > 4194304) { alert('File size too large.'); }
                            else { alert('Someting wrong.'); }
                        }
                    });
                    data = null;
                    uploadCount++;
                }
            } else {
                alert("This browser doesn't support HTML5 file uploads!");
            }
        }
        $(this).val('');
    });

    $('#Explanupload_MultiFile').change(function (e) {
        var tFiles = [$('#Explanupload_MultiFile:file')];
        console.log("asdf");
        var files = e.target.files;

        if (files.length > 0) {
            if (window.FormData !== undefined) {
                for (var x = 0; x < files.length; x++) {
                    file_basket[file_basket.length] = files[x];
                    $('#ExplanfilesUploaded').append(MakeUploadTagExplan(files[x].name, ''));
                }
                DeleteFileEventSetExplan();
            } else {
                alert("This browser doesn't support HTML5 file uploads!");
            }
        }
        $(this).val('');
    });

    function SaveFileUpload() {
        $('#hdfFileUpload').val('');
        var FileVal = "";
        $('.FileAttach').each(function () {
            FileVal += $(this).attr('value') + "|";
        });
        $('#hdfFileUpload').val(FileVal);

        $('#hdfExplanFileUpload').val('');
        var FileValExplan = "";
        $('.ExplanAttach').each(function () {
            var txtDesc = $(this).closest('tr').find('.txtUpload').val();
            FileValExplan += $(this).attr('value') + ":" + txtDesc + "|";
        });
        $('#hdfExplanFileUpload').val(FileValExplan);
    }

    function LoadFileUpload() {
        $('.removeAttach').each(function () {
            $(this).parent().parent().parent().remove();
        });
        $('.removeExplanAttach').each(function () {
            $(this).parent().parent().parent().parent().remove();
        });

        if ($('#hdfFileUpload').val()) {
            var ItemFile = $('#hdfFileUpload').val().split("|");
            for (var i = 0; i < ItemFile.length; i++) {
                if (ItemFile[i] != "") {
                    $('#filesUploaded').append(MakeUploadTag(ItemFile[i]));
                }
            }
            DeleteFileEventSet();
        }
        if ($('#hdfExplanFileUpload').val()) {
            var ItemFile = $('#hdfExplanFileUpload').val().split("|");
            for (var i = 0; i < ItemFile.length; i++) {
                if (ItemFile[i] != "") {
                    var splitVal = ItemFile[i].split(":");
                    $('#ExplanfilesUploaded').append(MakeUploadTagExplan(splitVal[0], splitVal[1]));
                }
            }
            DeleteFileEventSetExplan();
        }
    }

    function DeleteFileEventSetExplan() {
        $('.glyphicon-remove').click(function () {
            var itemRem = $(this).parent().parent().parent().parent();
            itemRem.remove();
            var tFiles = [];
            for (var i = 0; i < file_basket.length;i++) {
                tFile = file_basket[i];
                if (tFile.name != itemRem[0].innerText) {
                    tFiles[tFiles.length] = file_basket.slice(i, i + 1)[0];
                }
            }
            file_basket = tFiles;
            //console.log("Remove1");
        });
    }

    function DeleteFileEventSet() {
        $('.glyphicon-remove').click(function () {
            $(this).parent().parent().parent().remove();
            //console.log("Remove2");
        });
    }

    function funcDelete(tranId,deletefiles,fileId)
    {
        //alert(tranId);
        bootbox.confirm({
            message: "Are you sure to submit?",
            buttons: {
                confirm: {
                    label: 'Yes',
                },
                cancel: {
                    label: 'No',
                }
            },
            callback: function (result) { 
                if (result) {
                    var url = '@Url.Action("DeleteFileUploaded", "CrudePurchase")';
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: { tranId: tranId, filename: deletefiles },
                        success: function (data) {
                            $('#' + fileId).hide();
                        },
                        error: function (xhr, err) {
                            var varErrorMessage = xhr.responseText;
                            var varErrorTitle = "Script Error";
                            alert(varErrorMessage);
                            //funcThrowError(varErrorTitle, varErrorMessage);
                        }
                    });
                }
            }
        });        
    }
</script>