﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.HedgeAnnualSearchViewModel
@{
    ViewBag.Title = "Annual Hedging Framework";
}

@using (Html.BeginForm("SearchResult", "HedgeAnnual", FormMethod.Post, new { @class = "form-horizontal", @name = "searchForm", @id = "searchForm" }))
{
    <div class="page-header">
        <h1>@ViewBag.Title</h1>
    </div>

    <div class="form-horizontal">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 control-label">Trading Book</label>
                    <div class="col-md-6">
                        @Html.DropDownListFor(m => m.trading_book, new SelectList(Model.ddlTrading, "Value", "Text", Model.trading_book), "-- Select All --", new { @class = "form-control search-input" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 control-label">Approved Date</label>
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.approved_date, new { @class = "form-control input-date-picker search-input", @placeholder = "DD/MM/YYYY to DD/MM/YYYY", @maxlength = "26" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 control-label">Update Date</label>
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.update_date, new { @class = "form-control input-date-picker search-input", @placeholder = "DD/MM/YYYY to DD/MM/YYYY", @maxlength = "26" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 control-label">Update By</label>
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.update_by, new { @class = "form-control search-input" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 control-label">Status</label>
                    <div class="col-md-6">
                        @Html.DropDownListFor(m => m.status, new SelectList(Model.ddlStatus, "Value", "Text", Model.status), "-- Select All --", new { @class = "form-control search-input" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
            <div class="pull-left">
                @Html.ActionLink("New", "Create", new { controller = "HedgeAnnual" }, new { @class = "btn btn-success" })
            </div>
        <center>
            <button style="margin-left: -100px;" type="submit" class="btn btn-primary">Search</button>
            <button type="button" class="btn btn-default" onclick="clear_input()">Clear All</button>
        </center>
    </div>
}

<div class="page-header">
    <h1>Search Result</h1>
</div>

<table id="searchResultTable" class="table table-hover display" cellspacing="0">
    <thead>
        <tr>
            <th>Trading Book</th>
            <th>Approved Date</th>
            <th>Status</th>
            <th>Version</th>
            <th>Update Date</th>
            <th>Update By</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.HedgeAnnualTransaction != null && Model.HedgeAnnualTransaction.Any())
        {
            foreach (var item in Model.HedgeAnnualTransaction)
            {
                <tr>
                    <td>@item.company</td>
                    <td>@item.approved_date</td>
                    <td>@item.activation_status</td>
                    <td>@item.version</td>
                    <td>@item.updated_date</td>
                    <td>@item.updated_by</td>
                    <td>
                        @if (item.activation_status == "DRAFT")
                                        {
                            <a href="../HedgeAnnual/Edit?TranID=@item.Transaction_id_Encrypted&Tran_Req_ID=@item.Req_transaction_id_Encrypted"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                        }
                        else if (item.latest_version == "Y")
                        {
                            <a href="../HedgeAnnual/Edit?TranID=@item.Transaction_id_Encrypted&Tran_Req_ID=@item.Req_transaction_id_Encrypted"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                        }
                        @if(item.activation_status != "DRAFT")
                        {
                            <a href="javascript:void(0);" onclick="get_history('@item.Transaction_id_Encrypted');"><i class="fa fa-file-text-o" data-toggle="modal" data-target=".bs-example-modal-lg"></i></a>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<!-- Large modal -->
@*<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Large modal</button>*@

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Annual Hedging Framework History</h4>
            </div>
            <div class="modal-body">
                <table id="searchResultHistoryTable" class="table table-hover display" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Trading Book</th>
                            <th>Approved Date</th>
                            <th>Version</th>
                            <th>Reference No.</th>
                            <th>Subject</th>
                            <th>Note</th>
                            <th>Updated Date</th>
                            <th>Updated By</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<script>

    var table = $('#searchResultHistoryTable').DataTable({
        "scrollCollapse": false,
        "orderable": false,
        "bSort": false,
        "searching": false,
        "paging": false,
        "sDom": '<"top">rt<"bottom"flp><"clear">'
    });

    $(document).ready(function () {
        $('#searchResultTable').DataTable({
            "columnDefs": [
                {
                    "targets": [2],
                    "orderable": false
                }
            ],
            "scrollCollapse": true,
            "orderable": false,
            "bSort": false,
        });
    });

    $('#approved_date').dateRangePicker(
        {
            autoClose: true,
            singleDate: false,
            showShortcuts: false,
            format: 'DD/MM/YYYY',
            time: { enabled: false }
        });
    $('#update_date').dateRangePicker(
        {
            autoClose: true,
            singleDate: false,
            showShortcuts: false,
            format: 'DD/MM/YYYY',
            time: { enabled: false }
        });

    function clear_input() {
        $(".search-input").val("");
    }

    function get_history(tran_id) {
        $.ajax({
            url: '@Url.Action("GetHistory", "HedgeAnnual")',
            data: { "tranID": tran_id},
                cache: false,
                type: "GET",
                success: function (data) {
                    var markup = "";
                    for (var i = 0; i < data.length; i++) {
                        markup += '<tr class="drafts">';
                        markup += '<td>' + data[i].trading_book + '</td>';
                        markup += '<td>' + data[i].approved_date + '</td>';
                        markup += '<td><a href="../HedgeAnnual/History?TranID=' + data[i].tran_id + '&Tran_Req_ID=" target="_blank">' + data[i].version + '</a></td>';
                        markup += '<td>' + data[i].ref_no + '</td>';
                        markup += '<td>' + data[i].subject + '</td>';
                        markup += '<td>' + data[i].note + '</td>';
                        markup += '<td>' + data[i].update_date + '</td>';
                        markup += '<td>' + data[i].update_by + '</td>';
                        markup += '</tr>';
                    }
                    var table = $('#searchResultHistoryTable').DataTable();
                    table.rows().remove().draw();
                    table.rows.add($(markup)).draw();
                },
                error: function (reponse) {
                    var table = $('#searchResultHistoryTable').DataTable();
                    table.rows().remove().draw();
                    alert("error : " + reponse.error());
                }
            });
    }
</script>

