﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage/MainSite.Master" AutoEventWireup="true" CodeBehind="DirectPage.aspx.cs" Inherits="ProjectCPAIEngine.Web.DirectPage" %>

<%@ MasterType VirtualPath="~/MasterPage/MainSite.master" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <script lang="JavaScript">
        function autoResize(id) {
            //document.getElementById(id).width = "100%";
            //document.getElementById(id).height = "900px";

            //var newheight;
            //var newwidth;
            //if (document.getElementById(id)) {
            //    newheight = document.getElementById(id).contentWindow.document.body.scrollHeight;
            //    newwidth = document.getElementById(id).contentWindow.document.body.scrollWidth;
            //}
            
            //document.getElementById(id).height = (newheight) + "px";
            ////document.getElementById(id).width = (newwidth) + "px";
            //document.getElementById(id).width = "100%";
        }

		$(function () {

				$('.tabFrame').load(function () {
					var iframeContentWindow = this.contentWindow;
					var height = document.documentElement.clientHeight - 148;//iframeContentWindow.$(document).height();
					//alert(height);
					this.style.height = height + 'px';
					this.stype.margin = 0 + 'px';
				});
			});
    </script>



 <iframe id="iFrameDir" frameborder="0" runat="server" class="tabFrame" width="100%" height="1024px"  ></iframe>

</asp:Content>
