﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.PlantViewModel
@{
    ViewBag.Title = "Search PLANT";
}

<style type="text/css">
        .table > tbody > tr > td {
            vertical-align: middle;
        }

        .ui-autocomplete {
            max-height: 200px;
            overflow-y: auto;
            /* prevent horizontal scrollbar */
            overflow-x: hidden;
        }
        /* IE 6 doesn't support max-height
    * we use height instead, but this forces the menu to always be this tall
    */
        * html .ui-autocomplete {
            height: 200px;
        }
</style>


@using (Html.BeginForm("Search", "Plant", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="page-header">
        <h1>Plant</h1>
    </div>
    <div class="row">
        <div class="col-md-12">

            <div class="form-group">
                <label class="control-label col-sm-2">PLANT ID :</label>
                <div class="col-sm-4">
                    @Html.HiddenFor(model => model.plantIdJSON, htmlAttributes: new { @class = "plantIdJSON" })
                    @Html.TextBoxFor(model => model.plant_Search.sPlantID, htmlAttributes: new { @class = "form-control sPlantID", @onfocus = "getPlantIdJSON()", @autocomplete = "off" })
                </div>

                <label class="control-label col-sm-2">PLANT NAME :</label>
                <div class="col-sm-4">
                    @Html.HiddenFor(model => model.plantNameJSON, htmlAttributes: new { @class = "plantNameJSON" })
                    @Html.TextBoxFor(model => model.plant_Search.sPlantShortName, htmlAttributes: new { @class = "form-control sPlantShortName", @onfocus = "getPlantNameJSON()", @autocomplete = "off" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">COMPANY :</label>
                <div class="col-sm-4">
                    @Html.DropDownListFor(model => model.plant_Search.sCompanyCode, new SelectList(Model.ddl_PlantCompany, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                </div>

                <label class="control-label col-sm-2">CREATE TYPE :</label>
                <div class="col-sm-4">
                    @Html.DropDownListFor(model => model.plant_Search.sCreateType, new SelectList(Model.ddl_CreateType, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">SYSTEM :</label>
                <div class="col-sm-4">
                    @Html.DropDownListFor(model => model.plant_Search.sSystem, new SelectList(Model.ddl_System, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                </div>

                <label class="control-label col-sm-2">STATUS :</label>
                <div class="col-sm-4">
                    @Html.DropDownListFor(model => model.plant_Search.sStatus, new SelectList(Model.ddl_Status, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="pull-left">
                    @if (ViewBag.action_create)
                    {
                        @Html.ActionLink("Add", "Create", new { controller = "Plant" }, new { @class = "btn btn-success" })
                    }
                </div>
                <div class="pull-right">
                    @if (ViewBag.action_search)
                    {
                        <button type="submit" class="btn btn-primary">Search</button>
                    }
                </div>
            </div>
        </div>
    </div>
}

<div class="page-header">
    <h1>Search Result</h1>
</div>
<table id="searchResultTable" class="table table-hover display" cellspacing="0">
    <thead>
        <tr>
            
           
            <th>PLANT ID</th>
            <th>PLANT NAME</th>
            <th>DESC</th>
            <th>COMPANY</th>
            <th>SYSTEM</th>
            <th>CREATE TYPE</th>
            <th>STATUS</th>
            <th>ACTION</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.plant_Search == null)
        {

            <tr class="waiting">
                <td colspan="8">Waiting for search</td>
            </tr>

        }
        else
        {
            if (Model.plant_Search.sSearchData.Count > 0)
            {
                foreach (var v in Model.plant_Search.sSearchData)
                {
                    <tr>
                        
                       
                        <td>@v.dPlantID</td>
                        <td>@v.dPlantShortName</td>
                        <td>@v.dPlantDesc</td>
                        <td>@v.dCompanyName</td>
                        <td>@v.dSystem</td>
                        <td>@v.dCreateType</td>
                        <td>@v.dStatus</td>
                        <td width="100px">
                            @if (ViewBag.action_view)
                            {
                                <a href="@Url.Action("ViewDetail", "Plant", new { plantID = @v.dPlantID })" title="View Detail">
                                    <img alt="Widget View" src="@Url.Content("../../Content/images/1480695949_file.png")">
                                </a>
                            }
                            @if (ViewBag.action_edit)
                            {
                                <a href="@Url.Action("Edit", "Plant", new { plantID = @v.dPlantID })" title="Edit">
                                    <img alt="Widget View" src="@Url.Content("../../Content/images/1480695860_edit.png")">
                                </a>
                            }
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $('#searchResultTable').DataTable({
            "columnDefs": [
                //Disble sort on Action Colum
                {
                    "targets": [7],
                    "orderable": false
                }
            ]
        });
    });

    //Get Automplete
    function getPlantIdJSON() {
        var availableData = JSON.parse($(".plantIdJSON").val());
        //alert($(".companyCodeJsonData").val());
        $(".sPlantID").autocomplete({
            source: function (request, response) {
                var re = $.ui.autocomplete.escapeRegex(request.term);
                var matcher = new RegExp("^" + re, "i");
                response($.grep(($.map(availableData, function (v, i) {
                    return {
                        label: v.Value,
                        value: v.Value
                    };
                })), function (item) {
                    return matcher.test(item.value);
                }))

            },
            minLength: 0,
        }).click(function () {
            $(this).autocomplete("search");
        });
    }

    function getPlantNameJSON() {
        var availableData = JSON.parse($(".plantNameJSON").val());
        //alert($(".companyCodeJsonData").val());
        $(".sPlantShortName").autocomplete({
            source: function (request, response) {
                var re = $.ui.autocomplete.escapeRegex(request.term);
                var matcher = new RegExp("^" + re, "i");
                response($.grep(($.map(availableData, function (v, i) {
                    return {
                        label: v.Value,
                        value: v.Value
                    };
                })), function (item) {
                    return matcher.test(item.value);
                }))

            },
            minLength: 0,
        }).click(function () {
            $(this).autocomplete("search");
        });
    }

    // End Type Autocomplete
</script>