﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.AreaViewModel
@{
    ViewBag.Title = "Search";
}

@using (Html.BeginForm("Search", "Area", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="page-header">
        <h1>Area</h1>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label class="col-md-2 control-label">AREA CODE :</label>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.area_Search.sAreaCode, htmlAttributes: new { @class = "form-control area-code-json", @onfocus = "getCompanyCodeJSON()", @autocomplete = "off" })
                </div>

                <label class="col-md-2 control-label">AREA NAME :</label>
                <div class="col-md-4">
                    @*@Html.HiddenFor(model => model.companyNameJSON, htmlAttributes: new { @class = "companyNameJsonData" })*@
                    @Html.TextBoxFor(model => model.area_Search.sAreaName, htmlAttributes: new { @class = "form-control area-name-json", @onfocus = "getCompanyNameJSON()", @autocomplete = "off" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">STATUS :</label>
                <div class="col-md-4">
                   
                    @Html.DropDownListFor(model => model.area_Search.sAreaStatus, new SelectList(Model.ddl_areaStatus, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="pull-left">
            @if (ViewBag.action_create)
            {
                @Html.ActionLink("Add", "Create", new { controller = "Area" }, new { @class = "btn btn-success" })
            }
        </div>
        <div class="pull-right">
            @if (ViewBag.action_search)
            {
                <button type="submit" class="btn btn-primary">Search</button>
            }
        </div>
    </div>
}
<div class="page-header">
    <h1>Search Result</h1>
</div>
<table id="searchResultTable" class="table table-hover display" cellspacing="0">
    <thead>
        <tr>
            <th>AREA CODE</th>
            <th>AREA NAME</th>
            <th>STATUS</th>
            <th>ACTION</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.area_Search == null)
        {

            <tr class="waiting">
                <td colspan="7">Waiting for search</td>
            </tr>

        }
        else
        {
            if (Model.area_Search.sSearchData.Count > 0)
            {
                foreach (var v in Model.area_Search.sSearchData)
                {
                    <tr>
                        <td>@v.dAreaCode</td>
                        <td>@v.dAreaName</td>
                        <td>@v.dAreaStatus</td>
                        <td width="100px">
                            @if (ViewBag.action_view)
                            {
                                <a href="@Url.Action("View", "Area", new { AreaCode = @v.dAreaCode })" title="View Detail">
                                    <img alt="Widget View" src="@Url.Content("../../Content/images/1480695949_file.png")">
                                </a>
                            }
                            @if (ViewBag.action_edit)
                            {
                                <a href="@Url.Action("Edit", "Area", new { AreaCode = @v.dAreaCode })" title="Edit">
                                    <img alt="Widget View" src="@Url.Content("../../Content/images/1480695860_edit.png")">
                                </a>
                            }
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $('#searchResultTable').DataTable({
            "columnDefs": [
                //Disble sort on Action Colum
                {
                    "targets": [3],
                    "orderable": false
                }
                 
            ],
            "order": [[1, "asc"]]
        });
    });
</script>