﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.SwapViewModel
@{
    var page_title = "";

    if (Model.PageMode == ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.SwapViewModel.Mode.Create)
    {
        ViewBag.Title = "Create";
        page_title = "Create Swap Transaction";
    }
    else if (Model.PageMode == ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.SwapViewModel.Mode.Edit)
    {
        ViewBag.Title = "Edit";
        page_title = "Edit Swap Transaction";
    }
    else
    {
        ViewBag.Title = "View ";
        page_title = "View Swap Transaction";
    }
}

<style>
    .status {
        display: block;
        font-family: 'HelvethaicaMonX-65Med';
        font-size: 20px;
        color: #0a7ab1;
        padding-top: 5px;
    }

    .table > tbody > tr > td {
        vertical-align: middle;
    }

    /*container body-content*/
    .ft_container table tr th {
        background-color: #fff;
        vertical-align: middle;
        border: none;
        font-family: 'HelvethaicaMonX-65Med';
        text-align: center;
        border-radius: 5px;
        border: 1px solid #CCCCCC;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
        font-size: 20px;
        position: relative;
    }
</style>

<script>
    //<th></th>
    //<th></th>
    //<th>Trip No.</th>
    //<th>Vessel</th>
    //<th>Crude</th>
    //<th style="width:200px">Customer</th>
    //<th style="width:200px">Ship To</th>
    //<th style="width:200px">Benchmark</th>
    //<th style="width:250px">Pricing Period</th>
    //<th>Trading Premium/Discount</th>
    //<th style="width:200px">Incoterms</th>
    //<th style="width:200px">QTY (BBL)</th>
    //<th style="width:200px">QTY (MT)</th>
    //<th style="width:200px">QTY (ML)</th>
    //<th style="width:200px">Sales Unit</th>
    //<th style="width:200px">Delivery Date</th>
    //<th style="width:200px">Customer PO No.</th>
    //<th style="width:200px">Distribution Channel:</th>
    //<th style="width:200px">Sales Order</th>
    //<th style="width:100px">Price</th>

    $(function () {
        var temp = $("#SearchImportData").width() + 10;
        $('#PriceTable').fxdHdrCol({
            fixedCols: 5,
            width: temp,
            height: 450,
            colModal: [
             { width: 30, align: 'center' },
              { width: 50, align: 'center' },
              { width: 120, align: 'center' },
              { width: 120, align: 'center' },
              { width: 120, align: 'center' }, 
              { width: 200, align: 'center' },
              { width: 200, align: 'center' }, 
              { width: 200, align: 'center' }, 
              { width: 250, align: 'center' }, 
              { width: 70, align: 'center' }, 

              { width: 200, align: 'center' },
              { width: 200, align: 'center' },
              { width: 200, align: 'center' },
              { width: 200, align: 'center' },
              { width: 200, align: 'center' },
              { width: 200, align: 'center' },
              { width: 200, align: 'center' },
              { width: 200, align: 'center' },
              { width: 200, align: 'center' },
              { width: 100, align: 'center' }
            ],
            sort: false
        })
    });
</script>

<div class="page-header">
    <h1>@page_title</h1>
</div>

@using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.HiddenFor(model => model.PageMode, Model.PageMode)
    //if (Model.PageMode == ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.SwapViewModel.Mode.Create)
    //{
        <div>
            <h3>Search PCF Header</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div>
                            <label class="col-md-3 control-label">Trip No.</label>
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.Swap_Import.sTrip_no, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div>
                            <label class="col-md-3 control-label">Crude</label>
                            <div class="col-md-6">
                                @Html.DropDownListFor(model => model.Swap_Import.sCrude_type_id, new SelectList(Model.ddl_Product, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group" style="padding-top:10px">
                <div style="text-align:center">
                    <button type="submit" class="btn btn-primary" name="action:Import">Search</button>
                </div>
            </div>
            <hr />
            <div style="height:300px;overflow-y:auto;overflow-x:hidden">
                <table id="SearchImportData" class="table table-hover display " cellspacing="0">
                    <thead>
                        <tr>
                            <th style="width:160px"></th>
                            <th >Arrival Month</th>
                            <th >Trip No.</th>
                            <th >Vessel</th>
                            <th >Crude</th>
                            <th >Supplier</th>
                            <th >Formula Price</th>
                            <th >Incoterms</th>
                            <th >Qty (BBL)</th>
                            <th >Qty (MTON)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Swap_Import.ImportData.Any())
                    {
                        for (int j = 0; j < Model.Swap_Import.ImportData.Count; j++)
                        {
                            var ddlTripNo = "ddlTripNo" + j;
                            var btnAdd = "btnAdd" + j;
                                <tr style="cursor: pointer;">
                                    @*<td onclick="selectImportData(@j)">
                                            <span class="status">Select</span>
                                        </td>*@
                                    <td>
                                        <label id="lbl-@ddlTripNo"></label>
                                        <select class="ddlTripNo" id="@ddlTripNo" style="width:110px; height: 30px; vertical-align: middle;" onclick=""><option value="">New Trip No</option></select>
                                        <input type="image" src="../../Content/images/details_open.png" width="30px" id="btnAdd-@ddlTripNo" class="btnAdd" style="vertical-align: middle; " onclick="addPrice('@ddlTripNo','@Model.Swap_Import.ImportData[j].dTrip_no','@Model.Swap_Import.ImportData[j].dVessel_id','@Model.Swap_Import.ImportData[j].dVessel_name','@Model.Swap_Import.ImportData[j].dCrude_type_id','@Model.Swap_Import.ImportData[j].dCrude_name'); return false;">

                                    </td>
                                    <td>
                                        Jan/2017
                                        @Html.HiddenFor(model => model.Swap_Import.ImportData[j].dItem_no)
                                    </td>
                                    <td>
                                        @Model.Swap_Import.ImportData[j].dTrip_no
                                        @Html.HiddenFor(model => model.Swap_Import.ImportData[j].dTrip_no)
                                    </td>
                                    <td>
                                        @Model.Swap_Import.ImportData[j].dVessel_name
                                        @Html.HiddenFor(model => model.Swap_Import.ImportData[j].dVessel_id)

                                    </td>
                                    @*<td>
                                            @Model.Swap_Import.ImportData[j].dItem_no
                                            @Html.HiddenFor(model => model.Swap_Import.ImportData[j].dItem_no)
                                        </td>*@
                                    <td>
                                        @Model.Swap_Import.ImportData[j].dCrude_name
                                        @Html.HiddenFor(model => model.Swap_Import.ImportData[j].dCrude_type_id)
                                    </td>
                                    <td>
                                        @Model.Swap_Import.ImportData[j].dSupplier_name
                                        @Html.HiddenFor(model => model.Swap_Import.ImportData[j].dSupplier_id)
                                    </td>
                                    @*<td>
                                            @Model.Swap_Import.ImportData[j].dBl_date
                                            @Html.HiddenFor(model => model.Swap_Import.ImportData[j].dBl_date)
                                        </td>*@
                                    <td>
                                        OSP(SEP)+0.03
                                    </td>
                                    <td>
                                        FOB
                                    </td>
                                    <td>
                                        @Model.Swap_Import.ImportData[j].dVolumn_bbl
                                        @Html.HiddenFor(model => model.Swap_Import.ImportData[j].dVolumn_bbl)
                                    </td>
                                    <td>
                                        @Model.Swap_Import.ImportData[j].dVolumn_mt
                                        @Html.HiddenFor(model => model.Swap_Import.ImportData[j].dVolumn_mt)
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <hr />
        </div>
    

    @*<div class="form-group">
            <div>
                <label class="col-sm-4 col-md-1 control-label">New Price</label>
                <div class="col-sm-4 col-md-4">
                    @Html.DropDownListFor(model => model.Swap_Detail.price_status, new SelectList(Model.ddl_PriceStatus, "Value", "Text"), new { @id = "ddlPriceStatus", @class = "form-control" })
                </div>
                <div class="col-sm-4 col-md-4">
                    <button type="button" class="btn btn-primary" onclick="addPrice()" name="">Add</button>
                </div>
            </div>
        </div>*@
    <div style="width:3400px">
        <h3>Swap Crude</h3>
        <table id="PriceTable" class="table table-hover display " cellspacing="0" style="font-weight:normal; width:1000px ">
            <thead>
                <tr>

                    <th></th>
                    <th></th>
                    <th>Trip No.</th>
                    <th>Vessel</th>
                    <th>Crude</th>
                    <th style="width:200px">Customer</th>
                    <th style="width:200px">Ship To</th>
                    <th style="width:200px">Benchmark</th>
                    <th style="width:250px">Pricing Period</th>
                    <th>Trading Premium/Discount</th>
                    <th style="width:200px">Incoterms</th>
                    <th style="width:200px">QTY (BBL)</th>
                    <th style="width:200px">QTY (MT)</th>
                    <th style="width:200px">QTY (ML)</th>
                    <th style="width:200px">Sales Unit</th>
                    <th style="width:200px">Delivery Date</th>
                    <th style="width:200px">Customer PO No.</th>
                    <th style="width:200px">Distribution Channel:</th>
                    <th style="width:200px">Sales Order</th>
                    <th style="width:100px">Price</th>


                </tr>
            </thead>
            <tbody>
                @if (Model.Swap_Detail != null)
                {
                    for (int i = 0; i < Model.Swap_Detail.ToList().Count; i++)
                    {
                        if (Model.Swap_Detail[i].prices.Any())
                        {
                            for (int j = 0; j < Model.Swap_Detail[i].prices.Count(); j++)
                            {
                                <tr id="prices-@j">
                                    <td>
                                        <input type="checkbox" id="@j" name="chkitem">
                                    </td>
                                    <td>
                                        @*<input type="image" src="../../Content/images/details_close.png" data-toggle="tooltip" title="Delete" alt="Submit" width="15px" keyname="actionDeleteFix" id="actionDeleteFix201709121525340225199" class="btnDelete" onclick="delItem('@j')" name="actionDeleteFix">*@
                                        @*@if (Model.PageMode == ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.SwapViewModel.Mode.Create)
                                            {
                                                <input type="image" src="../../Content/images/details_close.png" alt="Submit" width="20px" keyname="actionDeleteFix" name="actionDeleteFix" class="btnDelete" onclick="return actionDeletePrice('prices-@j')">
                                            }*@
                                        <input type="image" src="../../Content/images/details_close.png" alt="Submit" width="20px" keyname="actionDeleteFix" name="actionDeleteFix" class="btnDelete" onclick="return actionDeletePrice('prices-@j')">
                                    </td>
                                    <td>
                                        @Model.Swap_Detail[i].prices[j].trip_no
                                        @Html.HiddenFor(model => model.Swap_Detail[i].prices[j].trip_no)
                                        @Html.HiddenFor(model => model.Swap_Detail[i].prices[j].item_no)
                                        @Html.HiddenFor(model => model.Swap_Detail[i].prices[j].crude_type_id)
                                        @*@Model.ddl_PriceStatus.Where(i => i.Value == Model.Swap_Detail.prices[j].type).FirstOrDefault().Text*@
                                        @Html.HiddenFor(model => model.Swap_Detail[i].prices[j].type)
                                    </td>
                                    <td>TENYO</td>
                                    <td>MURBAN</td>
                                    <td>@Html.DropDownListFor(model => model.Swap_Detail[i].prices[j].unit_id, new SelectList(Model.ddl_UnitPrice, "Value", "Text", Model.Swap_Detail[i].prices[j].unit_id), "-- Select --", new { @class = "form-control" })</td>
                                    <td>@Html.DropDownListFor(model => model.Swap_Detail[i].prices[j].unit_id, new SelectList(Model.ddl_UnitPrice, "Value", "Text", Model.Swap_Detail[i].prices[j].unit_id), "-- Select --", new { @class = "form-control" })</td>
                                    <td>@Html.DropDownListFor(model => model.Swap_Detail[i].prices[j].unit_id, new SelectList(Model.ddl_UnitPrice, "Value", "Text", Model.Swap_Detail[i].prices[j].unit_id), "-- Select --", new { @class = "form-control" })</td>
                                    <td><input class="form-control input-date-picker date-range-start " id="iExchangeRatePeriod-@j" maxlength="24" name="Throughput_Detail.ItemList[@j].iExchangeRatePeriod" placeholder="DD/MM/YYYY to DD/MM/YYYY" type="text" value=""></td>
                                    <td>@Html.TextBoxFor(model => model.Swap_Detail[i].prices[j].price, new { @class = "form-control numberOnly" })</td>
                                    <td>@Html.DropDownListFor(model => model.Swap_Detail[i].prices[j].unit_id, new SelectList(Model.ddl_UnitPrice, "Value", "Text", Model.Swap_Detail[i].prices[j].unit_id), "-- Select --", new { @class = "form-control" })</td>
                                    <td>@Html.TextBoxFor(model => model.Swap_Detail[i].prices[j].price, new { @class = "form-control numberOnly" })</td>
                                    <td>@Html.TextBoxFor(model => model.Swap_Detail[i].prices[j].price, new { @class = "form-control numberOnly" })</td>
                                    <td>@Html.TextBoxFor(model => model.Swap_Detail[i].prices[j].price, new { @class = "form-control numberOnly" })</td>
                                    <td>@Html.DropDownListFor(model => model.Swap_Detail[i].prices[j].unit_id, new SelectList(Model.ddl_UnitPrice, "Value", "Text", Model.Swap_Detail[i].prices[j].unit_id), "-- Select --", new { @class = "form-control" })</td>
                                    <td>
                                        @Html.TextBoxFor(model => model.Swap_Detail[i].prices[j].date_price, new { @id = "txtDueDateP" + @j, @class = "form-control input-date-picker", @placeholder = "DD/MM/YYYY", @maxlength = "10" })
                                        @Html.HiddenFor(model => model.Swap_Detail[i].prices[j].num, htmlAttributes: new { @id = "hItemId" + @j })
                                    </td>
                                    <td>@Html.TextBoxFor(model => model.Swap_Detail[i].prices[j].price, new { @class = "form-control numberOnly" })</td>
                                    <td>@Html.DropDownListFor(model => model.Swap_Detail[i].prices[j].unit_id, new SelectList(Model.ddl_UnitPrice, "Value", "Text", Model.Swap_Detail[i].prices[j].unit_id), "-- Select --", new { @class = "form-control" })</td>
                                    <td>@Html.TextBoxFor(model => model.Swap_Detail[i].prices[j].price, new { @class = "form-control numberOnly" })</td>
                                    <td>
                                        <input type="button" name="btnCrudePopup" id="btnCrudePopup" class="gridCtrLabelStyle" value="Detail" onclick="PriceDetail_Popup(this)" style="background: transparent; border-style: none;text-decoration: underline; color: blue; " />
                                    </td>
                                </tr>
                            }
                        }
                    }

                }

            </tbody>
        </table>
    </div>
    <div class="form-group" style="padding-top:10px">
        <div style="text-align:center">
            <button type="submit" class="btn btn-success" name="action:Save">SAVE</button>
            <a class="btn btn-success" href="/CPAIMVC/Swap/Create" style="min-width:125px">CREATE SALES ORDER</a>
            <a class="btn btn-success" href="/CPAIMVC/Swap/Create" style="min-width:125px">CHANGE SALES ORDER</a>
            <button type="button" class="btn btn-default" onclick="clearFields()" name="">CLEAR</button>
            @Html.ActionLink("BACK", "Search", new { controller = "Swap" }, htmlAttributes: new { @class = "btn btn-primary" })
        </div>
    </div>

    <!-- Price Detail Popup -->
    <div class="modal fade" id="priceDetailPopup" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document" style="width:80%; height:550px; text-align:center;">
            <div class="modal-content" style="overflow:auto;">
                <div class="modal-body ">
                    <div class="row">
                        <div class="panel-default">
                            <div class="fixH45 col-md-12 text-center">
                                <h2>Price Detail</h2>
                            </div>
                            <hr />
                            <div class="form-group">
                                <div class="fixH45 col-md-12" style="width:2000px; overflow-x:auto">
                                    <table class="table table-hover display" cellspacing="0" id="tbPriceItem">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th style="width:150px">Price Status</th>
                                                <th style="width:260px">Pricing Period</th>
                                                <th style="width:150px">Base Price</th>
                                                <th style="width:150px">OSP Premium/Discount</th>
                                                <th style="width:150px">Trading Premium/Discount</th>
                                                <th style="width:150px">Other Cost</th>
                                                <th style="width:150px">Unit Price</th>
                                                <th style="width:150px">Rounding</th>
                                                <th style="width:150px">Total Amount</th>
                                                <th style="width:150px">Currency</th>
                                                <th style="width:150px">Exchange Rate</th>
                                                <th style="width:150px">Total Amount (THB)</th>
                                                <th style="width:200px">Due Date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @*<tr id="swap0">
                                                    <td>
                                                        <input type="image" src="../../Content/images/details_close.png"  width="20px" keyname="actionDeleteFix" name="actionDeleteFix" class="btnDelete" onclick="return deleteSwapPrice('swap0')">
                                                    </td>
                                                    <td><select class="ddlTripNo" id="ddlPriceStatus0" style="width:110px; height: 30px; vertical-align: middle;" onclick=""><option value="P">Provisional</option><option value="A">Actual</option></select></td>
                                                    <td><input class="form-control input-date-picker date-range-start " id="txtPricePeriod-0" maxlength="24" name="txtPricePeriod-0" placeholder="DD/MM/YYYY to DD/MM/YYYY" type="text" value=""></td>
                                                    <td><input class="form-control numberOnly" id="BasePrice0" name="BasePrice0" type="text" value="0"></td>
                                                    <td><input class="form-control numberOnly" id="OSPPremium0" name="OSPPremium0" type="text" value="0"></td>
                                                    <td><input class="form-control numberOnly" id="TradingPremium0" name="TradingPremium0" type="text" value="0"></td>
                                                    <td><input class="form-control numberOnly" id="OtherCost0" name="OtherCost0" type="text" value="0"></td>
                                                    <td><input class="form-control numberOnly" id="UnitPrice0" name="UnitPrice0" type="text" value="0"></td>
                                                    <td><input class="form-control numberOnly" id="Rounding0" name="Rounding0" type="text" value="0"></td>
                                                    <td><input class="form-control numberOnly" id="TotalAmountUSD0" name="TotalAmountUSD0" type="text" value="0"></td>
                                                    <td><select class="form-control" id="Currency0" name="Currency0" required>
                                                            <option selected="selected" value="USD">USD</option>
                                                            <option value="THB">THB</option>
                                                        </select></td>
                                                    <td><input class="form-control numberOnly" id="ExchangeRate0" name="ExchangeRate0" type="text" value="0"></td>
                                                    <td><input class="form-control numberOnly" id="TotalAmountTHB0" name="TotalAmountTHB0" type="text" value="0"></td>
                                                    <td><input class="form-control input-date-picker" id="DueDate-0" maxlength="10" name="DueDate-0" placeholder="DD/MM/YYYY" type="text" value=""></td>
                                                </tr>*@

                                        </tbody>
                                    </table>

                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="text-align:center;">
                    <button type="button" class="btn btn-primary" onclick="addPriceItem()">Add</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">CLOSE</button>
                </div>
            </div>
        </div>

    </div><!-- /.modal -->

    if (TempData["ReponseMessage"] != null)
    {
        <script type="text/javascript">
            OpenBoxPopup(@Html.Raw(Json.Encode(TempData["ReponseMessage"])));
        </script>
    }
}


<script type="text/javascript">
    $(document).ready(function () {

        var searchImportData = $('#SearchImportData').DataTable();

        $('#txtDeliveryDate').dateRangePicker({
            startOfWeek: 'monday',
            format: "DD/MM/YYYY",
            singleDate: true,
            autoClose: true
        });

        $('#txtDueDate').dateRangePicker({
            startOfWeek: 'monday',
            format: "DD/MM/YYYY",
            singleDate: true,
            autoClose: true
        });

        $('#txtPricePeriod-0').dateRangePicker({
            startOfWeek: 'monday',
            format: "DD/MM/YYYY",
            singleDate: false,
            autoClose: true
        });
        $('#DueDate-0').dateRangePicker({
            startOfWeek: 'monday',
            format: "DD/MM/YYYY",
            singleDate: true,
            autoClose: true
        });

        @if (Model.Swap_Detail != null)
        {
            for (int i = 0; i < Model.Swap_Detail.ToList().Count; i++)
            {
                if (Model.Swap_Detail[i].prices.Any())
                {
                    for (int j = 0; j < Model.Swap_Detail[i].prices.Count; j++)
                    {
                        <text>
        var name = '#txtDueDateP' + '@j';
        $(name).dateRangePicker({
            startOfWeek: 'monday',
            format: "DD/MM/YYYY",
            singleDate: true,
            autoClose: true
        });
        </text>
                    }
                 }
             }
         }

    });

    function clearFields() {
        //$('#txtTripNo').val('');
        $('#txtDeliveryDate').val('');
        $('#txtDueDate').val('');
        $('#ddlVessel').val('').change();
        $('#ddlCustomer').val('').change();
        $('#ddlCrude').val('').change();
        $('#ddlPlant').val('').change();
        $('#txtVolumeBBL').val('');
        $('#txtOutturnBBL').val('');
        $('#txtVolumeLitres').val('');
        $('#txtOutturnLitres').val('');
        $('#txtVolumeMT').val('');
        $('#txtOutturnMT').val('');
        $('#txtPONo').val('');
        $('#txtExchangeRate').val('');
        $('#txtTotalAmount').val('');
        //$('#txtTotalUnit').val('');
        $('#ddlTotalUnit').val('').change();
        $('#txtRemark').val('');
        //$('#txtDueDateP').val('');
        $('#txtPriceP').val('');
        $('#ddlPriceUnitP').val('').change();
        $('#txtInvoiceP').val('');
        $('#ddlInvUnitP').val('').change();
        //$('#txtDueDateF').val('');
        $('#txtPriceF').val('');
        $('#ddlPriceUnitF').val('').change();
        $('#txtInvoiceF').val('');
        $('#ddlInvUnitF').val('').change();
        //$('#txtDueDateA').val('');
        $('#txtPriceA').val('');
        $('#ddlPriceUnitA').val('').change();
        $('#txtInvoiceA').val('');
        $('#ddlInvUnitA').val('').change();
    }

    function NumberWithCommas(nStr, nF) {
        nStr += '';
        x = nStr.split('.');
        x1 = x[0];
        var sTmp = '';
        for (var i = 0; i < nF; i++) { sTmp += '0'; }
        x2 = x.length > 1 ? (x[1] + sTmp).substr(0, nF) : sTmp;
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }
        return x1 + '.' + x2;
    }

    function fnDetectNumeric(controlID) {

        var xCharCode = String.fromCharCode(event.keyCode);
        if (!(/[0-9,.]/.test(xCharCode))) {
            var tmp = $('#' + controlID).val().toLowerCase().replace(xCharCode.toLowerCase(), '');
            var tmp1;
            var x = tmp.split('.');
            if (x.length > 1) { tmp1 = x[1].replace(/[^\d\.\-eE+]/g, ""); } else { tmp1 = "00"; };

            $('#' + controlID).val(NumberWithCommas(x[0].replace(/,/g, '') + '.' + tmp1, tmp1.length));

        }
    }

    $(".numberOnly").focus(function () {
        $(this).val($(this).val().replace(/,/g, ''));
    });
    $(".numberOnly").blur(function () {
        var value = parseFloat($(this).val().replace(/,/g, ''));
        if (!isNaN(value)) {
            if (value > 999999999999) {
                value = 999999999999;
            }
            //$(this).val(value.toLocaleString('en-US', { minimumFractionDigits: 4, maximumFractionDigits: 4 }));
            var tmp = $(this).val().split(".");
            var lng = tmp.length;
            var digit = 0;
            if (lng > 1) {
                digit = tmp[1].length;
            }
            $(this).val(value.toLocaleString('en-US', { minimumFractionDigits: digit, maximumFractionDigits: digit }));
        }
        else
            $(this).val("");
    });
    $(".numberOnly").each(function () {
        var value = parseFloat($(this).val().replace(/,/g, ''));
        if (!isNaN(value)) {
            if (value > 999999999999) {
                value = 999999999999;
            }
            var tmp = $(this).val().split(".");
            var lng = tmp.length;
            var digit = 0;
            if (lng > 1) {
                digit = tmp[1].length;
            }
            $(this).val(value.toLocaleString('en-US', { minimumFractionDigits: digit, maximumFractionDigits: digit }));
        }
        else
            $(this).val("");
    });

    function addPrice(ddlSelectId, tripNo, vesselId, vesselName, crudeId, crudeName) {
        
        var rowCount = $('table#PriceTable tr:last').index() + 1;
        if (($('#hItemId0').length != 0)) {
            rowCount++;
        }
        if ((rowCount) < 6) {
            var trip_no = $("[name='Swap_Detail.trip_no']").val();
            var item_no = $("[name='Swap_Detail.item_no']").val();
            var crude_type_id = $("[name='Swap_Detail.crude_type_id']").val();

            var rowStatus = $('#ddlPriceStatus').val();
            var statusName = "Provisional Price";
            if (rowStatus == 2) {
                statusName = "Final Price";
            }
            var num = rowCount;
            rowCount = rowCount - 1;
            debugger;
            var swTripNo = 'SW20171024' + rowCount;
            var defaultSelected = true;
            var nowSelected = true;
            $('#' + ddlSelectId).hide();
            $('#btnAdd-' + ddlSelectId).hide();
            $('#lbl-' + ddlSelectId).append(swTripNo);


            var row_id = createUUID();
            var row = '<tr id="prices-' + rowCount + '">' +
                                '<td>' +
                                    '<input type="checkbox" id="' + rowCount + '" name="chkitem">' +
                                '</td>' +
                                '<td>' +
                                    '<input type="image" src="../../Content/images/details_close.png" alt="Submit" width="20px" keyname="actionDeleteFix" name="actionDeleteFix" class="btnDelete" onclick="return actionDeletePrice(\'prices-' + rowCount + '\')">' +
                                '</td>' +
                                '<td>' + swTripNo +
                                    '<input id="Swap_Detail_prices_0__trip_no" name="Swap_Detail.prices[0].trip_no" type="hidden" value="' + swTripNo + '">' +
                                    '<input id="Swap_Detail_prices_0__crude_type_id" name="Swap_Detail.prices[0].crude_type_id" type="hidden" value="' + crudeId + '">' +
                                    '<input id="Swap_Detail_prices_0__type" name="Swap_Detail.prices[0].type" type="hidden" value="1">' +
                                '</td>' +
                                '<td>' + vesselName + '</td>' +
                                '<td>' + crudeName + '</td>' +
                                '<td><select class="form-control" id="Swap_Detail_prices_0__Customer" name="Swap_Detail.prices[0].Customer"><option selected="selected" value="">-- Select --</option>' +
                                    '<option value="TLB">THAILUBE</option>' +
                                    '<option  value="IRPC">IRPC Public Company Limited</option>' +
                                    '</select></td>' +
                                '<td><select class="form-control" id="Swap_Detail_prices_0__ShipTo" name="Swap_Detail.prices[0].ShipTo"><option selected="selected" value="">-- Select --</option>' +
                                    '<option value="TLB">THAILUBE</option>' +
                                    '<option value="IRPC">IRPC Public Company Limited</option>' +
                                    '</select></td>' +
                                '<td><select class="form-control" id="Swap_Detail_prices_0__unit_id" name="Swap_Detail.prices[0].unit_id"><option value="">-- Select --</option>' +
                                    '<option selected="selected" value="OSP">OSP</option>' +
                                    '<option value="DUBAI">DUBAI</option>' +
                                    '<option value="DTD">DTD</option>' +
                                    '</select></td>' +
                                '<td><input class="form-control input-date-picker date-range-start " id="txtPricingPeriod-' + rowCount + '" maxlength="24" name="Throughput_Detail.ItemList[' + rowCount + '].iExchangeRatePeriod" placeholder="DD/MM/YYYY to DD/MM/YYYY" type="text" value="01/09/2017 to 30/09/2017"></td>' +
                                '<td><input class="form-control numberOnly" id="Swap_Detail_prices_0__price" name="Swap_Detail.prices[0].price" type="text" value="1.1"></td>' +
                                '<td><select class="form-control" id="Swap_Detail_prices_0__unit_id" name="Swap_Detail.prices[0].unit_id"><option value="">-- Select --</option>' +
                                    '<option selected="selected" value="FOB">FOB</option>' +
                                    '<option value="CFR">CFR</option>' +
                                    '<option value="CIP">CIP</option>' +
                                    '</select></td>' +
                                '<td><input class="form-control numberOnly" id="Swap_Detail_prices_0__price" name="Swap_Detail.prices[0].price" type="text" value="55,738.0000"></td>' +
                                '<td><input class="form-control numberOnly" id="Swap_Detail_prices_0__price" name="Swap_Detail.prices[0].price" type="text" value="427,343.0000"></td>' +
                                '<td><input class="form-control numberOnly" id="Swap_Detail_prices_0__price" name="Swap_Detail.prices[0].price" type="text" value=""></td>' +
                                '<td><select class="form-control" id="Swap_Detail_prices_0__unit_id" name="Swap_Detail.prices[0].unit_id"><option value="">-- Select --</option>' +
                                    '<option selected="selected" value="BBL">BBL</option>' +
                                    '</select></td>' +
                                '<td><input class="form-control input-date-picker" id="txtDeliveryDate-' + rowCount + '" maxlength="10" name="Swap_Detail.prices[0].date_price" placeholder="DD/MM/YYYY" type="text" value="20/9/2017">' +
                                '<input id="hItemId0" name="Swap_Detail.prices[0].num" type="hidden" value="1"></td>' +
                                '<td><input class="form-control" id="Swap_Detail_prices_0__price" name="Swap_Detail.prices[0].price" type="text" value="IRPC17091' + rowCount + '"></td>' +
                                '<td><select class="form-control" id="Swap_Detail_prices_0__unit_id" name="Swap_Detail.prices[0].unit_id"><option value="">-- Select --</option>' +
                                    '<option selected="selected" value="Vat30">Import (Vat) - 30</option>' +
                                    '<option value="Vat31">Indirect Import (Vat) - 31</option>' +
                                    '<option value="Vat32">Import (Non Vat) - 32</option>' +
                                    '<option value="Vat33">Indirect Import (Non Vat) - 33</option>' +
                                    '</select></td>' +
                                '<td></td>' +
                                '<td>' +
                                    '<input type="button" name="btnCrudePopup" id="btnCrudePopup" class="gridCtrLabelStyle" value="Detail" onclick="PriceDetail_Popup(this)" style="background: transparent; border-style: none;text-decoration: underline; color: blue; ">' +
                                '</td>' +
                        @*'<td>' +
                        '<input type="hidden" name="Swap_Detail.prices[' + rowCount + '].trip_no" value="' + trip_no + '" />'+
                        '<input type="hidden" name="Swap_Detail.prices[' + rowCount + '].item_no" value="' + item_no + '" />'+
                        '<input type="hidden" name="Swap_Detail.prices[' + rowCount + '].crude_type_id" value="' + crude_type_id + '" />' +
                         statusName +
                        '<input name="Swap_Detail.prices[' + rowCount + '].type" type="hidden" value="' + rowStatus + '">' +
                        '<input type="image" src="../../Content/images/details_close.png" alt="Submit" width="20px" keyname="actionDeleteFix" name="actionDeleteFix" class="btnDelete" onclick="return actionDeletePrice(\'' + row_id + '\')">' +
                        '</td>' +
                        '<td>'+
                        '<input class="form-control input-date-picker " id="txtDueDateP' + rowCount + '" maxlength="10" name="Swap_Detail.prices[' + rowCount + '].date_price" placeholder="DD/MM/YYYY" type="text" value="">' +
                        '<input id="hItemId' + rowCount + '" name="Swap_Detail.prices[' + rowCount + '].num" type="hidden" value="' + num + '' + rowStatus + '">' +
                        '</td>'+
                        '<td>'+
                        '<input class="form-control numberOnly" id="Swap_Detail_prices_' + rowCount + '__price" name="Swap_Detail.prices[' + rowCount + '].price" type="text" value="">' +
                        '</td>'+
                        '<td>'+
                        '<select class="form-control" id="Swap_Detail_prices_' + rowCount + '__unit_id" name="Swap_Detail.prices[' + rowCount + '].unit_id"><option value="">-- Select --</option>' +
                        @{
                            foreach (var unitPrice in Model.ddl_UnitPrice)
                            {
                                <text>
                                    '<option value="@unitPrice.Value">@unitPrice.Text</option>' +
                                </text>
                            }
                         }
                        '</select>'+
                        '</td>'+
                        '<td>'+
                        '<input class="form-control numberOnly" id="Swap_Detail_prices_' + rowCount + '__invoice" name="Swap_Detail.prices[' + rowCount + '].invoice" type="text" value="">' +
                        '</td>'+
                        '<td>'+
                        '<select class="form-control" id="Swap_Detail_prices_' + rowCount + '__unit_inv" name="Swap_Detail.prices[' + rowCount + '].unit_inv"><option value="">-- Select --</option>' +
                        @{
                            foreach (var unitInvoice in Model.ddl_UnitInvoice)
                            {
                                <text>
                                    '<option value="@unitInvoice.Value">@unitInvoice.Text</option>' +
                                </text>
                            }
                         }
                        '</select>'+
                        '</td>' +*@
                        '</tr>';
            $('#PriceTable').append(row);

            $('#txtPricingPeriod-' + rowCount).dateRangePicker({
                startOfWeek: 'monday',
                format: "DD/MM/YYYY",
                singleDate: false,
                autoClose: true
            });

            $('#txtDeliveryDate-' + rowCount).dateRangePicker({
                startOfWeek: 'monday',
                format: "DD/MM/YYYY",
                singleDate: true,
                autoClose: true
            });

            updateNumberValidate();
            setReBody();

        }

    }

    function addPriceItem() {
        debugger;
        var rowCount = $('table#tbPriceItem tr:last').index() + 1;
        //if (($('#hItemId0').length != 0))
        //{
        //    rowCount++;
        //}
        if ((rowCount) < 6) {
            //var trip_no = $("[name='Swap_Detail.trip_no']").val();
            //var item_no = $("[name='Swap_Detail.item_no']").val();
            //var crude_type_id = $("[name='Swap_Detail.crude_type_id']").val();

            //var rowStatus = $('#ddlPriceStatus').val();
            //var statusName = "Provisional Price";
            //if (rowStatus == 2)
            //{
            //    statusName = "Final Price";
            //}
            //var num = rowCount;
            //rowCount = rowCount - 1;

            //var row_id = createUUID();
            var row = '<tr id="swap' + rowCount + '">' +
                           '<td>' +
                                '<input type="image" src="../../Content/images/details_close.png" width="20px" keyname="actionDeleteFix" name="actionDeleteFix" class="btnDelete" onclick="return deleteSwapPrice(\'swap' + rowCount + '\')">' +
                            '</td>' +
                            '<td><select class="ddlTripNo" id="ddlPriceStatus0" style="width:110px; height: 30px; vertical-align: middle;" onclick=""><option selected="selected" value="P">Provisional</option><option value="A">Actual</option></select></td>' +
                            '<td><input class="form-control input-date-picker date-range-start " id="txtPricePeriod-' + rowCount + '" maxlength="24" name="txtPricePeriod-' + rowCount + '" placeholder="DD/MM/YYYY to DD/MM/YYYY" type="text" value="01/09/2017 to 20/09/2017"></td>' +
                            '<td><input class="form-control numberOnly" id="BasePrice0" name="BasePrice0" type="text" value="0"></td>' +
                            '<td><input class="form-control numberOnly" id="OSPPremium0" name="OSPPremium0" type="text" value="0"></td>' +
                            '<td><input class="form-control numberOnly" id="TradingPremium0" name="TradingPremium0" type="text" value="0"></td>' +
                            '<td><input class="form-control numberOnly" id="OtherCost0" name="OtherCost0" type="text" value="0"></td>' +
                            '<td><input class="form-control numberOnly" id="UnitPrice0" name="UnitPrice0" type="text" value="0"></td>' +
                            '<td><select class="form-control" id="Rounding0" name="Rounding0" required="">' +
                                  '<option value="0">0 digits</option>' +
                                  '<option value="1">1 digits</option>' +
                                  '<option value="2">2 digits</option>' +
                                  '<option selected="selected" value="3">3 digits</option>' +
                                  '<option value="4">4 digits</option>' +
                                  '<option value="5">5 digits</option>' +
                                 '</select></td>' +
                            '<td><input class="form-control numberOnly" id="TotalAmountUSD0" name="TotalAmountUSD0" type="text" value="0"></td>' +
                            '<td><select class="form-control" id="Currency0" name="Currency0" required="">' +
                                  '<option selected="selected" value="USD">USD</option>' +
                                  '<option value="THB">THB</option>' +
                                 '</select></td>' +
                            '<td><input class="form-control numberOnly" id="ExchangeRate0" name="ExchangeRate0" type="text" value="0"></td>' +
                            '<td><input class="form-control numberOnly" id="TotalAmountTHB0" name="TotalAmountTHB0" type="text" value="0"></td>' +
                            '<td><input class="form-control input-date-picker" id="DueDate-' + rowCount + '" maxlength="10" name="DueDate-' + rowCount + '" placeholder="DD/MM/YYYY" type="text" value="21/9/2017"></td>' +
                        '</tr>';
            $('#tbPriceItem').append(row);

            $('#txtPricePeriod-' + rowCount).dateRangePicker({
                startOfWeek: 'monday',
                format: "DD/MM/YYYY",
                singleDate: false,
                autoClose: true
            });
            $('#DueDate-' + rowCount).dateRangePicker({
                startOfWeek: 'monday',
                format: "DD/MM/YYYY",
                singleDate: true,
                autoClose: true
            });
            updateNumberValidate();
            setReBody();

        }

    }

    function createUUID() {
        var s = [];
        var hexDigits = "0123456789abcdef";
        for (var i = 0; i < 36; i++) {
            s[i] = hexDigits.substr(Math.floor(Math.random() * 0x10), 1);
        }
        s[14] = "4";  // bits 12-15 of the time_hi_and_version field to 0010
        s[19] = hexDigits.substr((s[19] & 0x3) | 0x8, 1);  // bits 6-7 of the clock_seq_hi_and_reserved to 01
        s[8] = s[13] = s[18] = s[23] = "-";

        var uuid = s.join("");
        return uuid;
    }

    function actionDeletePrice(controlID) {
        debugger;
        $('#' + controlID).remove();
    }
    function deleteSwapPrice(controlID) {
        debugger;
        $('#' + controlID).remove();
    }
    function updateNumberValidate() {
        $(".numberOnly").focus(function () {
            $(this).val($(this).val().replace(/,/g, ''));
        });

        $(".numberOnly").blur(function () {
            var value = parseFloat($(this).val().replace(/,/g, ''));
            if (!isNaN(value)) {
                if (value > 999999999999) {
                    value = 999999999999;
                }
                //$(this).val(value.toLocaleString('en-US', { minimumFractionDigits: 4, maximumFractionDigits: 4 }));
                var tmp = $(this).val().split(".");
                var lng = tmp.length;
                var digit = 0;
                if (lng > 1) {
                    digit = tmp[1].length;
                }
                $(this).val(value.toLocaleString('en-US', { minimumFractionDigits: digit, maximumFractionDigits: digit }));
            }
            else
                $(this).val("");
        });

        $(".numberOnly").each(function () {
            var value = parseFloat($(this).val().replace(/,/g, ''));
            if (!isNaN(value)) {
                if (value > 999999999999) {
                    value = 999999999999;
                }
                var tmp = $(this).val().split(".");
                var lng = tmp.length;
                var digit = 0;
                if (lng > 1) {
                    digit = tmp[1].length;
                }
                $(this).val(value.toLocaleString('en-US', { minimumFractionDigits: digit, maximumFractionDigits: digit }));
            }
            else
                $(this).val("");
        });

    }

    function selectImportData(controlID) {
        var dTrip_no = $("[name='Swap_Import.ImportData[" + controlID + "].dTrip_no']").val();
        var dItem_no = $("[name='Swap_Import.ImportData[" + controlID + "].dItem_no']").val();
        var dVessel_id = $("[name='Swap_Import.ImportData[" + controlID + "].dVessel_id']").val();
        var dCrude_type_id = $("[name='Swap_Import.ImportData[" + controlID + "].dCrude_type_id']").val();
        var dSupplier = $("[name='Swap_Import.ImportData[" + controlID + "].dSupplier']").val();
        var dBl_date = $("[name='Swap_Import.ImportData[" + controlID + "].dBl_date']").val();
        var dVolumn_bbl = $("[name='Swap_Import.ImportData[" + controlID + "].dVolumn_bbl']").val();
        var dVolumn_mt = $("[name='Swap_Import.ImportData[" + controlID + "].dVolumn_mt']").val();

        $("[name='Swap_Detail.trip_no']").val(dTrip_no);
        $("[name='Swap_Detail.item_no']").val(dItem_no);
        $("[name='Swap_Detail.vessel_id']").val(dVessel_id);
        $("[name='Swap_Detail.crude_type_id']").val(dCrude_type_id);
        $("[name='Swap_Detail.volumn_bbl']").val(dVolumn_bbl);
        $("[name='Swap_Detail.volumn_mt']").val(dVolumn_mt);

    }

    function delItem(row) {
        $("#prices-" + row).remove();
        updateIndex();
    }

    function updateIndex() {
        var i = 0;
        debugger;
        $('#PriceTable tr').each(function () {
            debugger;
            var newObject = $(this);
            //newObject.find('select[name$=".iPriceStatus"]').attr('name', 'Throughput_Detail.ItemList[' + i + '].iPriceStatus');
            //newObject.find('select[name$=".iPriceStatus"]').attr('id', 'Throughput_Detail_ItemList_' + i + '__iPriceStatus');
            //newObject.find('input[name$=".iFixRate"]').attr('name', 'Throughput_Detail.ItemList[' + i + '].iFixRate');
            //newObject.find('input[name$=".iTotalAmount"]').attr('name', 'Throughput_Detail.ItemList[' + i + '].iTotalAmount');
            //newObject.find('input[name$=".iCurrency"]').attr('name', 'Throughput_Detail.ItemList[' + i + '].iCurrency');
            //newObject.find('input[name$=".iExchangeRate"]').attr('name', 'Throughput_Detail.ItemList[' + i + '].iExchangeRate');
            i++;
        });
    }

    function PriceDetail_Popup(obj) {
        debugger;
        $('#priceDetailPopup').modal({ backdrop: 'static', keyboard: false });
        $('#priceDetailPopup').modal('show');

        //init_CrudePopup();
    }

    $(document).ready(function () {
        setReBody();
    });
</script>



