﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.SwapViewModel
@{
    var page_title = "";

    if (Model.PageMode == ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.SwapViewModel.Mode.Create)
    {
        ViewBag.Title = "Create";
        page_title = "Create Swap Transaction";
    }
    else if (Model.PageMode == ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.SwapViewModel.Mode.Edit)
    {
        ViewBag.Title = "Edit";
        page_title = "Edit Swap Transaction";
    }
    else
    {
        ViewBag.Title = "View ";
        page_title = "View Swap Transaction";
    }
}

<style>
    .status {
        display: block;
        font-family: 'HelvethaicaMonX-65Med';
        font-size: 20px;
        color: #0a7ab1;
        padding-top: 5px;
    }

    .table > tbody > tr > td {
        vertical-align: middle;
    }
</style>

<div class="page-header">
    <h1>@page_title</h1>
</div>

@using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.HiddenFor(model => model.PageMode, Model.PageMode)
    if (Model.PageMode == ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.SwapViewModel.Mode.Create)
    {   
        <div>
            <h3>Search PCF Header</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div>
                            <label class="col-md-3 control-label">Trip No.</label>
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.Swap_Import.sTrip_no, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div>
                            <label class="col-md-3 control-label">Crude</label>
                            <div class="col-md-6">
                                @Html.DropDownListFor(model => model.Swap_Import.sCrude_type_id, new SelectList(Model.ddl_Product, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group" style="padding-top:10px">
                <div style="text-align:center">
                    <button type="submit" class="btn btn-primary" name="action:Import">Search</button>
                </div>
            </div>
            <hr/>
            <table id="SearchImportData" class="table table-hover display " cellspacing="0">
                <thead>
                    <tr>
                        <th style="width:150px"></th>
                        <th style="width:200px">Trip No.</th>
                        <th style="width:200px">Vessel</th>
                        <th style="width:200px">Item No.</th>
                        <th style="width:200px">Crude</th>
                        <th style="width:200px">Supplier</th>
                        <th style="width:200px">B/L Date</th>
                        <th style="width:200px">Qty (BBL)</th>
                        <th style="width:200px">Qty (MTON)</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Swap_Import.ImportData.Any())
                    {
                        for (int j = 0; j < Model.Swap_Import.ImportData.Count; j++)
                        {
                            <tr style="cursor: pointer;">
                                <td onclick="selectImportData(@j)">
                                    <span class="status">Select</span>
                                </td>
                                <td>
                                    @Model.Swap_Import.ImportData[j].dTrip_no
                                    @Html.HiddenFor(model => model.Swap_Import.ImportData[j].dTrip_no)
                                </td>
                                <td>
                                    @Model.Swap_Import.ImportData[j].dVessel_name
                                    @Html.HiddenFor(model => model.Swap_Import.ImportData[j].dVessel_id)
                                </td>
                                <td>
                                    @Model.Swap_Import.ImportData[j].dItem_no
                                    @Html.HiddenFor(model => model.Swap_Import.ImportData[j].dItem_no)
                                </td>
                                <td>
                                    @Model.Swap_Import.ImportData[j].dCrude_name
                                    @Html.HiddenFor(model => model.Swap_Import.ImportData[j].dCrude_type_id)
                                </td>
                                <td>
                                    @Model.Swap_Import.ImportData[j].dSupplier_name
                                    @Html.HiddenFor(model => model.Swap_Import.ImportData[j].dSupplier_id)
                                </td>
                                <td>
                                    @Model.Swap_Import.ImportData[j].dBl_date
                                    @Html.HiddenFor(model => model.Swap_Import.ImportData[j].dBl_date)
                                </td>
                                <td>
                                    @Model.Swap_Import.ImportData[j].dVolumn_bbl
                                    @Html.HiddenFor(model => model.Swap_Import.ImportData[j].dVolumn_bbl)
                                </td>
                                <td>
                                    @Model.Swap_Import.ImportData[j].dVolumn_mt
                                    @Html.HiddenFor(model => model.Swap_Import.ImportData[j].dVolumn_mt)
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <hr />
        </div>
    }
    <div class="form-group">
        <div>
            <label class="col-sm-4 col-md-1 control-label">Trip No.</label>
            <div class="col-sm-8 col-md-2">
                @Html.TextBoxFor(model => model.Swap_Detail.trip_no, new { @class = "form-control", @readonly = "readonly" })
                @if (string.IsNullOrEmpty(Model.Swap_Detail.item_no))
                {
                    @Html.HiddenFor(model => model.Swap_Detail.item_no)
                }
                else
                {
                    @Html.HiddenFor(model => model.Swap_Detail.item_no, Model.Swap_Detail.item_no)
                }

            </div>
        </div>
        <div>
            <label class="col-sm-4 col-md-1 col-md-offset-1 control-label">Sold To</label>
            <div class="col-sm-8 col-md-2">
                @if (string.IsNullOrEmpty(Model.Swap_Detail.sold_to))
                {
                    @Html.DropDownListFor(model => model.Swap_Detail.sold_to, new SelectList(Model.ddl_Customer, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                }
                else
                {
                    @Html.DropDownListFor(model => model.Swap_Detail.sold_to, new SelectList(Model.ddl_Customer, "Value", "Text", Model.Swap_Detail.sold_to), "-- Select --", new { @class = "form-control"})
                }
            </div>
        </div>
    </div>
    <div class="form-group">
        <div>
            <label class="col-sm-4 col-md-1 control-label">Vessel Name</label>
            <div class="col-sm-8 col-md-2">
                @if (string.IsNullOrEmpty(Model.Swap_Detail.vessel_id))
                {
                    @Html.DropDownListFor(model => model.Swap_Detail.vessel_id, new SelectList(Model.ddl_Vessel, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                }
                else
                {
                    @Html.DropDownListFor(model => model.Swap_Detail.vessel_id, new SelectList(Model.ddl_Vessel, "Value", "Text", Model.Swap_Detail.vessel_id), "-- Select --", new { @class = "form-control" })
                }
            </div>
        </div>
        <div>
            <label class="col-sm-4 col-md-1 col-md-offset-1 control-label">Ship To</label>
            <div class="col-sm-8 col-md-2">
                @if (string.IsNullOrEmpty(Model.Swap_Detail.ship_to))
                {
                    @Html.DropDownListFor(model => model.Swap_Detail.ship_to, new SelectList(Model.ddl_Customer, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                }
                else
                {
                    @Html.DropDownListFor(model => model.Swap_Detail.ship_to, new SelectList(Model.ddl_Customer, "Value", "Text", Model.Swap_Detail.ship_to), "-- Select --", new { @class = "form-control" })
                }                
            </div>
        </div>
    </div>

    <div class="form-group">
        <div>
            <label class="col-sm-4 col-md-1 control-label">Delivery Date</label>
            <div class="col-sm-8 col-md-2">
                @Html.TextBoxFor(model => model.Swap_Detail.delivery_date, new { @id = "txtDeliveryDate", @class = "form-control input-date-picker", @placeholder = "DD/MM/YYYY", @maxlength = "10" })
            </div>
        </div>
        <div>
            <label class="col-sm-4 col-md-1 col-md-offset-1 control-label">Crude</label>
            <div class="col-sm-8 col-md-2">
                @if (string.IsNullOrEmpty(Model.Swap_Detail.crude_type_id))
                {
                    @Html.DropDownListFor(model => model.Swap_Detail.crude_type_id, new SelectList(Model.ddl_Product, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                }
                else
                {
                    @Html.DropDownListFor(model => model.Swap_Detail.crude_type_id, new SelectList(Model.ddl_Product, "Value", "Text", Model.Swap_Detail.crude_type_id), "-- Select --", new { @class = "form-control" })
                }
            </div>
        </div>
    </div>
    <div class="form-group">
        <div>
            <label class="col-sm-4 col-md-1 control-label">Plant</label>
            <div class="col-sm-8 col-md-2">
                @if (string.IsNullOrEmpty(Model.Swap_Detail.plant))
                {
                    @Html.DropDownListFor(model => model.Swap_Detail.plant, new SelectList(Model.ddl_Plant, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                }
                else
                {
                    @Html.DropDownListFor(model => model.Swap_Detail.plant, new SelectList(Model.ddl_Plant, "Value", "Text", Model.Swap_Detail.plant), "-- Select --", new { @class = "form-control" })
                }
            </div>
        </div>
        <div>
            <label class="col-sm-4 col-md-1 col-md-offset-1 control-label"></label>
            <div class="col-sm-8 col-md-2">

            </div>
        </div>
    </div>
    <div class="form-group">
        <div>
            <label class="col-sm-4 col-md-1 control-label">Sales Unit</label>
            <div class="col-sm-8 col-md-2">
                @if (string.IsNullOrEmpty(Model.Swap_Detail.unit_id))
                {
                    @Html.DropDownListFor(model => model.Swap_Detail.unit_id, new SelectList(Model.ddl_Unit, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                }
                else
                {
                    @Html.DropDownListFor(model => model.Swap_Detail.unit_id, new SelectList(Model.ddl_Unit, "Value", "Text", Model.Swap_Detail.unit_id), "-- Select --", new { @class = "form-control" })
                }
            </div>
        </div>
        <div>
            <label class="col-sm-4 col-md-1 col-md-offset-1 control-label"></label>
            <div class="col-sm-8 col-md-2">

            </div>
        </div>
    </div>
    <div class="form-group">
        <div>
            <label class="col-sm-4 col-md-1 control-label">Volume(BBL)</label>
            <div class="col-sm-8 col-md-2">
                @Html.TextBoxFor(model => model.Swap_Detail.volumn_bbl, new { @class = "form-control numberOnly" })
            </div>
        </div>
        <div>
            <label class="col-sm-4 col-md-1 col-md-offset-1 control-label">Outturn(BBL)</label>
            <div class="col-sm-8 col-md-2">
                @Html.TextBoxFor(model => model.Swap_Detail.outturn_bbl, new { @class = "form-control numberOnly" })
            </div>
        </div>
    </div>
    <div class="form-group">
        <div>
            <label class="col-sm-4 col-md-1 control-label">Volume(Litres)</label>
            <div class="col-sm-8 col-md-2">
                @Html.TextBoxFor(model => model.Swap_Detail.volumn_lite, new { @class = "form-control numberOnly" })
            </div>
        </div>
        <div>
            <label class="col-sm-4 col-md-1 col-md-offset-1 control-label">Outturn(Litres)</label>
            <div class="col-sm-8 col-md-2">
                @Html.TextBoxFor(model => model.Swap_Detail.outturn_lite, new { @class = "form-control numberOnly" })
            </div>
        </div>
    </div>
    <div class="form-group">
        <div>
            <label class="col-sm-4 col-md-1 control-label">Volume(MT)</label>
            <div class="col-sm-8 col-md-2">
                @Html.TextBoxFor(model => model.Swap_Detail.volumn_mt, new { @class = "form-control numberOnly" })
            </div>
        </div>
        <div>
            <label class="col-sm-4 col-md-1 col-md-offset-1 control-label">Outturn(MT)</label>
            <div class="col-sm-8 col-md-2">
                @Html.TextBoxFor(model => model.Swap_Detail.outturn_mt, new { @class = "form-control numberOnly" })
            </div>
        </div>
    </div>
    <div class="form-group">
        <div>
            <label class="col-sm-4 col-md-1 control-label">PO No.</label>
            <div class="col-sm-8 col-md-2">
                @Html.TextBoxFor(model => model.Swap_Detail.po_no, new { @class = "form-control" })
            </div>
        </div>
        <div>
            <label class="col-sm-4 col-md-1 col-md-offset-1 control-label">Exchange Rate</label>
            <div class="col-sm-8 col-md-2">
                @Html.TextBoxFor(model => model.Swap_Detail.exchange_rate, new { @class = "form-control numberOnly" })
            </div>
        </div>
    </div>
    <div class="form-group">
        <div>
            <label class="col-sm-4 col-md-1 control-label">Total Amount</label>
            <div class="col-sm-8 col-md-2">
                @Html.TextBoxFor(model => model.Swap_Detail.total, new { @class = "form-control numberOnly" })
            </div>
        </div>
        <div>
            <label class="col-sm-4 col-md-1 col-md-offset-1 control-label">Total Unit</label>
            <div class="col-sm-8 col-md-2">
                @if (string.IsNullOrEmpty(Model.Swap_Detail.unit_total))
                {
                    @Html.DropDownListFor(model => model.Swap_Detail.unit_total, new SelectList(Model.ddl_UnitTotal, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                }
                else
                {
                    @Html.DropDownListFor(model => model.Swap_Detail.unit_total, new SelectList(Model.ddl_UnitTotal, "Value", "Text", Model.Swap_Detail.unit_total), "-- Select --", new { @class = "form-control" })
                }
            </div>
        </div>
    </div>
    <div class="form-group">
        <div>
            <label class="col-sm-4 col-md-1 control-label">Remark</label>
            <div class="col-sm-8 col-md-4">
                @Html.TextAreaFor(model => model.Swap_Detail.remark, new { @class = "form-control", @Style = "width:500px;height:120px;" })
            </div>
        </div>
    </div>
    <div class="form-group">
        <div>
            <label class="col-sm-4 col-md-1 control-label">New Price</label>
            <div class="col-sm-4 col-md-4">
                @Html.DropDownListFor(model => model.Swap_Detail.price_status, new SelectList(Model.ddl_PriceStatus, "Value", "Text"), new { @id = "ddlPriceStatus", @class = "form-control" })
            </div>
            <div class="col-sm-4 col-md-4">
                <button type="button" class="btn btn-primary" onclick="addPrice()" name="">Add</button>
            </div>
        </div>
    </div>
    <div>
        <table id="PriceTable" class="table table-hover display " cellspacing="0">
            <thead>
                <tr>
                    <th style="width:230px">Type</th>
                    <th style="width:200px">Price Date</th>
                    <th style="width:220px">Price</th>
                    <th style="width:160px">Unit</th>
                    <th style="width:220px">Invoice Amount</th>
                    <th style="width:160px">Unit</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Swap_Detail.prices != null)
                {
                    if (Model.Swap_Detail.prices.Any())
                    {
                        for (int j = 0; j < Model.Swap_Detail.prices.Count(); j++)
                        {
                            <tr id="prices-@j">
                                <td>
                                    @Html.HiddenFor(model => model.Swap_Detail.prices[j].trip_no)
                                    @Html.HiddenFor(model => model.Swap_Detail.prices[j].item_no)
                                    @Html.HiddenFor(model => model.Swap_Detail.prices[j].crude_type_id)
                                    @Model.ddl_PriceStatus.Where(i => i.Value == Model.Swap_Detail.prices[j].type).FirstOrDefault().Text
                                    @Html.HiddenFor(model => model.Swap_Detail.prices[j].type)
                                    @if (Model.PageMode == ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.SwapViewModel.Mode.Create)
                                    {
                                        <input type="image" src="../../Content/images/details_close.png" alt="Submit" width="20px" keyname="actionDeleteFix" name="actionDeleteFix" class="btnDelete" onclick="return actionDeletePrice('prices-@j')">
                                    }
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.Swap_Detail.prices[j].date_price, new { @id = "txtDueDateP" + @j, @class = "form-control input-date-picker", @placeholder = "DD/MM/YYYY", @maxlength = "10" })
                                    @Html.HiddenFor(model => model.Swap_Detail.prices[j].num, htmlAttributes: new { @id = "hItemId" + @j })
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.Swap_Detail.prices[j].price, new { @class = "form-control numberOnly" })
                                </td>
                                <td>
                                    @Html.DropDownListFor(model => model.Swap_Detail.prices[j].unit_id, new SelectList(Model.ddl_UnitPrice, "Value", "Text", Model.Swap_Detail.prices[j].unit_id), "-- Select --", new { @class = "form-control" })
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.Swap_Detail.prices[j].invoice, new { @class = "form-control numberOnly" })
                                </td>
                                <td>
                                    @Html.DropDownListFor(model => model.Swap_Detail.prices[j].unit_inv, new SelectList(Model.ddl_UnitInvoice, "Value", "Text", Model.Swap_Detail.prices[j].unit_inv), "-- Select --", new { @class = "form-control" })
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="form-group" style="padding-top:10px">
        <div style="text-align:center">
            <button type="submit" class="btn btn-success" name="action:Save">SAVE</button>
            <button type="button" class="btn btn-default" onclick="clearFields()" name="">CLEAR</button>
            @Html.ActionLink("BACK", "Search", new { controller = "Swap" }, htmlAttributes: new { @class = "btn btn-primary" })
        </div>
    </div>

    if (TempData["ReponseMessage"] != null)
    {
        <script type="text/javascript">
            OpenBoxPopup(@Html.Raw(Json.Encode(TempData["ReponseMessage"])));
        </script>
    }
}


<script type="text/javascript">
    $(document).ready(function () {

        var searchImportData = $('#SearchImportData').DataTable();

        $('#txtDeliveryDate').dateRangePicker({
            startOfWeek: 'monday',
            format: "DD/MM/YYYY",
            singleDate: true,
            autoClose: true
        });

        $('#txtDueDate').dateRangePicker({
            startOfWeek: 'monday',
            format: "DD/MM/YYYY",
            singleDate: true,
            autoClose: true
        });

        @if (Model.Swap_Detail.prices != null)
        { 
            if (Model.Swap_Detail.prices.Count > 0)
            {
                for (int j = 0; j < Model.Swap_Detail.prices.Count; j++)
                {
                    <text>
                    var name = '#txtDueDateP'+'@j';
                    $(name).dateRangePicker({
                        startOfWeek: 'monday',
                        format: "DD/MM/YYYY",
                        singleDate: true,
                        autoClose: true
                    });
                    </text>
                }
             }
         }
    });

    function clearFields() {
        //$('#txtTripNo').val('');
        $('#txtDeliveryDate').val('');
        $('#txtDueDate').val('');
        $('#ddlVessel').val('').change();
        $('#ddlCustomer').val('').change();
        $('#ddlCrude').val('').change();
        $('#ddlPlant').val('').change();
        $('#txtVolumeBBL').val('');
        $('#txtOutturnBBL').val('');
        $('#txtVolumeLitres').val('');
        $('#txtOutturnLitres').val('');
        $('#txtVolumeMT').val('');
        $('#txtOutturnMT').val('');
        $('#txtPONo').val('');
        $('#txtExchangeRate').val('');
        $('#txtTotalAmount').val('');
        //$('#txtTotalUnit').val('');
        $('#ddlTotalUnit').val('').change();
        $('#txtRemark').val('');
        //$('#txtDueDateP').val('');
        $('#txtPriceP').val('');
        $('#ddlPriceUnitP').val('').change();
        $('#txtInvoiceP').val('');
        $('#ddlInvUnitP').val('').change();
        //$('#txtDueDateF').val('');
        $('#txtPriceF').val('');
        $('#ddlPriceUnitF').val('').change();
        $('#txtInvoiceF').val('');
        $('#ddlInvUnitF').val('').change();
        //$('#txtDueDateA').val('');
        $('#txtPriceA').val('');
        $('#ddlPriceUnitA').val('').change();
        $('#txtInvoiceA').val('');
        $('#ddlInvUnitA').val('').change();
    }

    function NumberWithCommas(nStr, nF) {
        nStr += '';
        x = nStr.split('.');
        x1 = x[0];
        var sTmp = '';
        for (var i = 0; i < nF; i++) { sTmp += '0'; }
        x2 = x.length > 1 ? (x[1] + sTmp).substr(0, nF) : sTmp;
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }
        return x1 + '.' + x2;
    }

    function fnDetectNumeric(controlID) {

        var xCharCode = String.fromCharCode(event.keyCode);
        if (!(/[0-9,.]/.test(xCharCode))) {
            var tmp = $('#' + controlID).val().toLowerCase().replace(xCharCode.toLowerCase(), '');
            var tmp1;
            var x = tmp.split('.');
            if (x.length > 1) { tmp1 = x[1].replace(/[^\d\.\-eE+]/g, ""); } else { tmp1 = "00"; };

            $('#' + controlID).val(NumberWithCommas(x[0].replace(/,/g, '') + '.' + tmp1, tmp1.length));

        }
    }

    $(".numberOnly").focus(function () {
        $(this).val($(this).val().replace(/,/g, ''));
    });
    $(".numberOnly").blur(function () {
        var value = parseFloat($(this).val().replace(/,/g, ''));
        if (!isNaN(value)) {
            if (value > 999999999999) {
                value = 999999999999;
            }
            //$(this).val(value.toLocaleString('en-US', { minimumFractionDigits: 4, maximumFractionDigits: 4 }));
            var tmp = $(this).val().split(".");
            var lng = tmp.length;
            var digit = 0;
            if (lng > 1) {
                digit = tmp[1].length;
            }
            $(this).val(value.toLocaleString('en-US', { minimumFractionDigits: digit, maximumFractionDigits: digit }));
        }
        else
            $(this).val("");
    });
    $(".numberOnly").each(function () {
        var value = parseFloat($(this).val().replace(/,/g, ''));
        if (!isNaN(value)) {
            if (value > 999999999999) {
                value = 999999999999;
            }
            var tmp = $(this).val().split(".");
            var lng = tmp.length;
            var digit = 0;
            if (lng > 1) {
                digit = tmp[1].length;
            }
            $(this).val(value.toLocaleString('en-US', { minimumFractionDigits: digit, maximumFractionDigits: digit }));
        }
        else
            $(this).val("");
    });

    function addPrice() {
        debugger;
        var rowCount = $('table#PriceTable tr:last').index() + 1;
        if (($('#hItemId0').length != 0))
        {
            rowCount++;
        }
        if((rowCount) < 6)
        {
            var trip_no = $("[name='Swap_Detail.trip_no']").val();
            var item_no = $("[name='Swap_Detail.item_no']").val();
            var crude_type_id = $("[name='Swap_Detail.crude_type_id']").val();

            var rowStatus = $('#ddlPriceStatus').val();
            var statusName = "Provisional Price";
            if (rowStatus == 2)
            {
                statusName = "Final Price";
            }
            var num = rowCount;
            rowCount = rowCount - 1;

            var row_id = createUUID();
            var row = '<tr id="' + row_id + '">' +
                        '<td>' +
                        '<input type="hidden" name="Swap_Detail.prices[' + rowCount + '].trip_no" value="' + trip_no + '" />'+
                        '<input type="hidden" name="Swap_Detail.prices[' + rowCount + '].item_no" value="' + item_no + '" />'+
                        '<input type="hidden" name="Swap_Detail.prices[' + rowCount + '].crude_type_id" value="' + crude_type_id + '" />' +
                         statusName +
                        '<input name="Swap_Detail.prices[' + rowCount + '].type" type="hidden" value="' + rowStatus + '">' +
                        '<input type="image" src="../../Content/images/details_close.png" alt="Submit" width="20px" keyname="actionDeleteFix" name="actionDeleteFix" class="btnDelete" onclick="return actionDeletePrice(\'' + row_id + '\')">' +
                        '</td>' +
                        '<td>'+
                        '<input class="form-control input-date-picker " id="txtDueDateP' + rowCount + '" maxlength="10" name="Swap_Detail.prices[' + rowCount + '].date_price" placeholder="DD/MM/YYYY" type="text" value="">' +
                        '<input id="hItemId' + rowCount + '" name="Swap_Detail.prices[' + rowCount + '].num" type="hidden" value="' + num + '' + rowStatus + '">' +
                        '</td>'+
                        '<td>'+
                        '<input class="form-control numberOnly" id="Swap_Detail_prices_' + rowCount + '__price" name="Swap_Detail.prices[' + rowCount + '].price" type="text" value="">' +
                        '</td>'+
                        '<td>'+
                        '<select class="form-control" id="Swap_Detail_prices_' + rowCount + '__unit_id" name="Swap_Detail.prices[' + rowCount + '].unit_id"><option value="">-- Select --</option>' +
                        @{
                            foreach (var unitPrice in Model.ddl_UnitPrice)
                            {
                                <text>
                                    '<option value="@unitPrice.Value">@unitPrice.Text</option>' + 
                                </text>
                            }
                         }
                        //'<option value="US4">US4</option>'+
                        //'<option value="TH4">TH4</option>'+
                        '</select>'+
                        '</td>'+
                        '<td>'+
                        '<input class="form-control numberOnly" id="Swap_Detail_prices_' + rowCount + '__invoice" name="Swap_Detail.prices[' + rowCount + '].invoice" type="text" value="">' +
                        '</td>'+
                        '<td>'+
                        '<select class="form-control" id="Swap_Detail_prices_' + rowCount + '__unit_inv" name="Swap_Detail.prices[' + rowCount + '].unit_inv"><option value="">-- Select --</option>' +
                        @{
                            foreach (var unitInvoice in Model.ddl_UnitInvoice)
                            {
                                <text>
                                    '<option value="@unitInvoice.Value">@unitInvoice.Text</option>' + 
                                </text>
                            }
                         }
                        //'<option selected="selected" value="THB">THB</option>'+
                        '</select>'+
                        '</td>' +
                        '</tr>';
            $('#PriceTable').append(row);

            $('#txtDueDateP' + rowCount).dateRangePicker({
                startOfWeek: 'monday',
                format: "DD/MM/YYYY",
                singleDate: true,
                autoClose: true
            });

            updateNumberValidate();
        }

    }

    function createUUID() {
        var s = [];
        var hexDigits = "0123456789abcdef";
        for (var i = 0; i < 36; i++) {
            s[i] = hexDigits.substr(Math.floor(Math.random() * 0x10), 1);
        }
        s[14] = "4";  // bits 12-15 of the time_hi_and_version field to 0010
        s[19] = hexDigits.substr((s[19] & 0x3) | 0x8, 1);  // bits 6-7 of the clock_seq_hi_and_reserved to 01
        s[8] = s[13] = s[18] = s[23] = "-";

        var uuid = s.join("");
        return uuid;
    }

    function actionDeletePrice(controlID) {
        debugger;
        $('#' + controlID).remove();
        //var rowCount = $('table#PriceTable tr:last').index() + 1;
        //var num = 0;
        //for (var i = 0; i < rowCount; i++) {
        //    debugger;
        //    if ($('#txtDueDateP' + i).length == 0 )
        //    {
        //        if ($('#txtDueDateP' + (i + 1)).length > 0)
        //        {

        //            var txtRunning = $('#hItemId' + (i + 1)).attr('id', 'hItemId' + i);

        //            $("input[name*='ClearLineDetail.PriceList[" + (i + 1) + "].sPriceType']").attr("name", 'ClearLineDetail.PriceList[' + i + '].sPriceType');

        //            var txtDueDateP = $('#txtDueDateP' + (i + 1)).attr('id', 'txtDueDateP' + i);
        //            txtDueDateP.attr("name", 'ClearLineDetail.PriceList[' + i + '].sDueDate');

        //            var sNum = $("input[name*='ClearLineDetail.PriceList[" + (i + 1) + "].sNum']").val();
        //            $("input[name*='ClearLineDetail.PriceList[" + (i + 1) + "].sNum']").val((i + 1) + sNum.substr(1, 1)
        //                );
        //            $("input[name*='ClearLineDetail.PriceList[" + (i + 1) + "].sNum']").attr("name", 'ClearLineDetail.PriceList[' + i + '].sNum');


        //            var txtPrice = $('#ClearLineDetail_PriceList_' + (i + 1) + '__sPrice').attr('id', 'ClearLineDetail_PriceList_' + (i) + '__sPrice');
        //            txtPrice.attr("name", 'ClearLineDetail.PriceList[' + i + '].sPrice');

        //            var txtPriceUnit = $('#ClearLineDetail_PriceList_' + (i + 1) + '__sPriceUnit').attr('id', 'ClearLineDetail_PriceList_' + i + '__sPriceUnit');
        //            txtPriceUnit.attr("name", 'ClearLineDetail.PriceList[' + i + '].sPriceUnit');

        //            var txtInvoice = $('#ClearLineDetail_PriceList_' + (i + 1) + '__sInvoice').attr('id', 'ClearLineDetail_PriceList_' + i + '__sInvoice');
        //            txtInvoice.attr("name", 'ClearLineDetail.PriceList[' + i + '].sInvoice');

        //            var txtInvoice = $('#ClearLineDetail_PriceList_' + (i + 1) + '__sInvUnit').attr('id', 'ClearLineDetail_PriceList_' + i + '__sInvUnit');
        //            txtInvoice.attr("name", 'ClearLineDetail.PriceList[' + i + '].sInvUnit');

        //        }
        //    }
        //}
    }
    
    function updateNumberValidate() {
        $(".numberOnly").focus(function () {
            $(this).val($(this).val().replace(/,/g, ''));
        });

        $(".numberOnly").blur(function () {
            var value = parseFloat($(this).val().replace(/,/g, ''));
            if (!isNaN(value)) {
                if (value > 999999999999) {
                    value = 999999999999;
                }
                //$(this).val(value.toLocaleString('en-US', { minimumFractionDigits: 4, maximumFractionDigits: 4 }));
                var tmp = $(this).val().split(".");
                var lng = tmp.length;
                var digit = 0;
                if (lng > 1) {
                    digit = tmp[1].length;
                }
                $(this).val(value.toLocaleString('en-US', { minimumFractionDigits: digit, maximumFractionDigits: digit }));
            }
            else
                $(this).val("");
        });

        $(".numberOnly").each(function () {
            var value = parseFloat($(this).val().replace(/,/g, ''));
            if (!isNaN(value)) {
                if (value > 999999999999) {
                    value = 999999999999;
                }
                var tmp = $(this).val().split(".");
                var lng = tmp.length;
                var digit = 0;
                if (lng > 1) {
                    digit = tmp[1].length;
                }
                $(this).val(value.toLocaleString('en-US', { minimumFractionDigits: digit, maximumFractionDigits: digit }));
            }
            else
                $(this).val("");
        });

    }
        
    function selectImportData(controlID) {
        var dTrip_no = $("[name='Swap_Import.ImportData[" + controlID + "].dTrip_no']").val();
        var dItem_no = $("[name='Swap_Import.ImportData[" + controlID + "].dItem_no']").val();
        var dVessel_id = $("[name='Swap_Import.ImportData[" + controlID + "].dVessel_id']").val();
        var dCrude_type_id = $("[name='Swap_Import.ImportData[" + controlID + "].dCrude_type_id']").val();
        var dSupplier = $("[name='Swap_Import.ImportData[" + controlID + "].dSupplier']").val();
        var dBl_date = $("[name='Swap_Import.ImportData[" + controlID + "].dBl_date']").val();
        var dVolumn_bbl = $("[name='Swap_Import.ImportData[" + controlID + "].dVolumn_bbl']").val();
        var dVolumn_mt = $("[name='Swap_Import.ImportData[" + controlID + "].dVolumn_mt']").val();

        $("[name='Swap_Detail.trip_no']").val(dTrip_no);
        $("[name='Swap_Detail.item_no']").val(dItem_no);
        $("[name='Swap_Detail.vessel_id']").val(dVessel_id);
        $("[name='Swap_Detail.crude_type_id']").val(dCrude_type_id);
        $("[name='Swap_Detail.volumn_bbl']").val(dVolumn_bbl);
        $("[name='Swap_Detail.volumn_mt']").val(dVolumn_mt);
        
    }
</script>



