﻿@using System.Globalization;
@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.SwapViewModel
@{
    ViewBag.Title = "Search";

    var page_title = "Search Swap Crude";
}

<div class="page-header">
    <h3>@page_title</h3>
</div>

@using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <div>
                    <label class="col-md-3 control-label">Crude:</label>
                    <div class="col-md-6">
                        @Html.TextBoxFor(model => model.Swap_Search.sCrudeName, htmlAttributes: new { @class = "form-control", @onfocus = "getAutoCompleteJSON('txt_sCrudeName')", @placeholder = "All...", @autocomplete = "off", @id = "txt_sCrudeName" })
                        @Html.HiddenFor(model => model.json_Crude, htmlAttributes: new { @id = "hid_sCrudeName" })
                        @Html.HiddenFor(model => model.json_CrudeAuto, htmlAttributes: new { @id = "hid_sCrudeNameAuto" })


                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <div>
                    <label class="col-md-3 control-label">Customer</label>
                    <div class="col-md-6">
                        @Html.DropDownListFor(model => model.Swap_Search.sCustomer, new SelectList(Model.ddl_Customer, "Value", "Text"), "-- Select --", new { @class = "form-control", @id = "ddlCustomer" })
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <div>
                    <label class="col-md-5 control-label">Delivery Month</label>
                    <div class="col-md-3">
                        <select id="ddlDeliveryMonth" name="Swap_Search.sDeliveryMonth" class="form-control">
                            <option value="">-- Select -- </option>
                            @{
                                CultureInfo provider = new CultureInfo("en-US");
                                string format = "dd/MM/yyyy";
                                for (int i = 1; i <= 12; i++)
                                {
                                    string month = i.ToString().PadLeft(2, '0');
                                    string monthStr = "01/" + month.ToString() + "/" + DateTime.Now.ToString("yyyy", provider);
                                    string monthName = DateTime.ParseExact(monthStr, format, provider).ToString("MMM", provider);
                                    <option value="@month">@monthName</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-md-3">
                        <select id="ddlDeliveryYear" name="Swap_Search.sDeliveryYear" class="form-control">
                            <option value="">-- Select -- </option>
                            @{
                                for (int i = 0; i < 10; i++)
                                {
                                    string year = DateTime.Now.AddYears(-i).ToString("yyyy", provider);
                                    <option value="@year">@year</option>
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group" style="padding-top:10px">
        <div style="text-align:center">

            <button type="submit" class="btn btn-primary" style="min-width:125px" name="action:Search">Search</button>
            <button type="submit" class="btn btn-primary" style="min-width:125px" name="action:Create">Add</button>
            @*<button type="submit" class="btn btn-primary" style="min-width:125px" name="action:Edit">Edit</button>*@
            <button type="button" class="btn btn-default" style="min-width:125px" onclick="clearSearch()">Clear</button>
        </div>
    </div>

    <div class="row" @*style="overflow-x:scroll;overflow-y:scroll;"*@>
        <table id="searchResultTable" class="table table-hover display " cellspacing="0">
            <thead>
                <tr>
                    <th style="width:150px"></th>
                    <th style="width:250px;text-align:center">Delivery Month</th>
                    <th style="width:250px;text-align:center">Trip No.</th>
                    <th style="width:300px;text-align:center">Vessel Name</th>
                    <th style="width:300px;text-align:center">Crude</th>
                    <th style="width:300px;text-align:center">Customer</th>
                    <th style="width:300px;text-align:center">Formula Price</th>
                    <th style="width:200px;text-align:center">Incoterms</th>
                    <th style="width:200px;text-align:center">QTY (BBL)</th>
                    <th style="width:200px;text-align:center">QTY (MT)</th>
                    <th style="width:200px;text-align:center">Purchase Trip No.</th>
                    <th style="width:200px;text-align:center">Sales Order</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Swap_Search != null)
                {
                    if (Model.Swap_Search.SearchData != null && Model.Swap_Search.SearchData.Count() > 0)
                    {
                        var i = 0;
                        foreach (var item in Model.Swap_Search.SearchData)
                        {
                            var chkID = "chkitem" + i;
                            <tr>
                                <td>
                                    @*<input type="checkbox" id="@chkID" name="Swap_Search.SearchData[@i].dIsSelect">*@
                                    @Html.CheckBoxFor(model => model.Swap_Search.SearchData[i].dIsSelect)
                                    @Html.HiddenFor(m => m.Swap_Search.SearchData[i].dItemNo)
                                    @Html.HiddenFor(m => m.Swap_Search.SearchData[i].dCrudeTypeID)
                                </td>
                                <td>
                                    @item.dDeliveryDate
                                    @Html.HiddenFor(m => m.Swap_Search.SearchData[i].dDeliveryDate)
                                </td>
                                <td>
                                    @*<a href="@Url.Action("Edit", "Swap", new { pTripNo = item.dTripNo, pItemNo = item.dItemNo, pCrudeTypeID = item.dCrudeTypeID })" title=@item.dTripNo>
                                         @item.dTripNo
                                    </a>*@
                                    @item.dTripNo
                                    @Html.HiddenFor(m => m.Swap_Search.SearchData[i].dTripNo)
                                </td>
                                <td>
                                    @item.dVessel
                                    @Html.HiddenFor(m => m.Swap_Search.SearchData[i].dVessel)
                                </td>
                                <td>
                                    @item.dCrude
                                    @Html.HiddenFor(m => m.Swap_Search.SearchData[i].dCrude)
                                </td>
                                <td>
                                    @item.dCustomer
                                    @Html.HiddenFor(m => m.Swap_Search.SearchData[i].dCustomer)
                                </td>
                                <td>
                                    @item.dFormulaPrice
                                    @Html.HiddenFor(m => m.Swap_Search.SearchData[i].dFormulaPrice)
                                </td>
                                <td>
                                    @item.dIncoterm
                                    @Html.HiddenFor(m => m.Swap_Search.SearchData[i].dIncoterm)
                                </td>
                                <td>
                                    @item.dQTYBBL
                                    @Html.HiddenFor(m => m.Swap_Search.SearchData[i].dQTYBBL)
                                </td>
                                <td>
                                    @item.dQTYMT
                                    @Html.HiddenFor(m => m.Swap_Search.SearchData[i].dQTYMT)
                                </td>
                                <td>
                                    @item.dPurchaseTripNo
                                    @Html.HiddenFor(m => m.Swap_Search.SearchData[i].dPurchaseTripNo)
                                </td>
                                <td>
                                    @item.dSONo
                                    @Html.HiddenFor(m => m.Swap_Search.SearchData[i].dSONo)
                                </td>
                                
                            </tr>
                            i++;
                        }
                    }
                    else
                    {
                        <tr class="waiting"><td colspan="19">No Data found</td></tr>
                    }
                }
                else
                {
                    <tr class="waiting"><td colspan="19">No Data found</td></tr>
                }

            </tbody>
        </table>
@if (Model.Swap_Search != null)
{
    if (Model.Swap_Search.SearchData != null && Model.Swap_Search.SearchData.Count() > 0)
    {
        <div class="row" style="text-align:center;">
            <button type="submit" class="btn btn-success" style="min-width:125px" name="action:Edit">EDIT</button>
            @Html.ActionLink("CREATE SALES ORDER", "Create", new { controller = "Swap" }, htmlAttributes: new { @class = "btn btn-success", @style = "min-width:125px" })
            @Html.ActionLink("CHANGE SALES ORDER", "Create", new { controller = "Swap" }, htmlAttributes: new { @class = "btn btn-success", @style = "min-width:125px" })
            <input type="button" class="btn btn-success" name="btnGoodIssuePopup" id="btnGoodIssuePopup" value="Good Issue Details" onclick="GoodIssue_Popup(this)" style="" />
        </div>
    }
}
    </div>

                                <!-- Result Popup -->
                                <div class="modal fade" id="resultPopup" tabindex="-1" role="dialog">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-body text-center">
                                                <p id="pMsg">
                                                    @TempData["ReponseMessage"]
                                                </p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-default" id="btnCreate" name="action:Create">Yes</button>
                                                <button type="submit" class="btn btn-default" id="btnUpdate" name="action:Update">Yes</button>
                                                <button type="submit" class="btn btn-default" id="btnCancel" name="action:Cancel">Yes</button>
                                                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                                                <input id="selectedTripNo" name="SOClearLine_Search.sTripNo_Select" type="hidden" value="">
                                            </div>
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal-dialog -->
                                </div><!-- /.modal -->


                                <!-- GoodIssue Popup -->
                                <div class="modal fade" id="goodIssuePopup" tabindex="-1" role="dialog">
                                    <div class="modal-dialog" role="document" style="width:80%; height:550px; text-align:center;">
                                        <div class="modal-content" style="overflow:auto;">
                                            <div class="modal-body ">
                                                <div class="row">
                                                    <div class="panel-default">
                                                        <div class="fixH45 col-md-12 text-center">
                                                            <h2>GOODS ISSUE</h2>
                                                        </div>
                                                        <hr />
                                                        <div class="form-group">
                                                            <div class="fixH45 col-md-12">
                                                                <table class="table table-hover display" cellspacing="0">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Trip No.</th>
                                                                            <th>Vessel</th>
                                                                            <th>Crude</th>
                                                                            <th>Customer</th>
                                                                            <th>Ship To</th>
                                                                            <th>QTY (BBL)</th>
                                                                            <th>QTY (MT)</th>
                                                                            <th>QTY (ML)</th>
                                                                            <th>Sales Unit</th>
                                                                            <th>Delivery Date</th>
                                                                            <th>Customer PO No.</th>
                                                                            <th>Distribution Channel:</th>
                                                                            <th>Sales Order</th>
                                                                            <th>Storage Location</th>
                                                                            <th>Temp</th>
                                                                            <th>Density</th>
                                                                            <th>Goods Issue Status</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>
                                                                                SW11170401
                                                                            </td>
                                                                            <td>VESSEL</td>
                                                                            <td>MURBAN</td>
                                                                            <td>Customer</td>
                                                                            <td>Ship To</td>
                                                                            <td>12,446</td>
                                                                            <td>3,578</td>
                                                                            <td>2,246</td>
                                                                            <td>2,000</td>
                                                                            <td>17/09/2017</td>
                                                                            <td>4111001033</td>
                                                                            <td>Distribution Channel</td>
                                                                            <td>SO9999001000</td>
                                                                            <td>
                                                                                <select id="ddlStorage" name="ddlStorage" class="form-control" style="width:150px;">
                                                                                    <option value="">-- Select -- </option>
                                                                                    <option value="">Storage Location 1</option>
                                                                                    <option value="">Storage Location 2 </option>
                                                                                </select>
                                                                            </td>
                                                                            <td>
                                                                            <input class="form-control" type="text" name="CustomVat_Calc[0].OilFuelFund"  value="" id="txtTemp" style="width:150px;text-align:right;"></td>
                                                                            <td>
                                                                            <input class="form-control" type="text" name="CustomVat_Calc[0].OilFuelFund"  value="" id="txtDestiny" style="width:150px;text-align:right;"></td>
                                                                            <td>NO</td>
                                                                        </tr>
                                                                        @*@for (int j = 0; j < Model.data_Search.sMobDetail.Count; j++)
                {
                    <tr>
                        <td>
                            @Html.HiddenFor(m => m.data_Search.sMobDetail[j].d_Date)
                            @Model.data_Search.sMobDetail[j].d_Date.ToString().Substring(6, 2)/@Model.data_Search.sMobDetail[j].d_Date.ToString().Substring(4, 2)/@Model.data_Search.sMobDetail[j].d_Date.ToString().Substring(0, 4)
                        </td>
                        <td>
                            @Html.HiddenFor(m => m.data_Search.sMobDetail[j].d_ULG95)
                            @Html.DisplayFor(m => m.data_Search.sMobDetail[j].d_ULG95)
                        </td>
                        <td>
                            @Html.HiddenFor(m => m.data_Search.sMobDetail[j].d_KERO)
                            @Html.DisplayFor(m => m.data_Search.sMobDetail[j].d_KERO)
                        </td>
                        <td>
                            @Html.HiddenFor(m => m.data_Search.sMobDetail[j].d_GASOIL)
                            @Html.DisplayFor(m => m.data_Search.sMobDetail[j].d_GASOIL)
                        </td>
                        <td>
                            @Html.HiddenFor(m => m.data_Search.sMobDetail[j].d_LSFO)
                            @Html.DisplayFor(m => m.data_Search.sMobDetail[j].d_LSFO)
                        </td>
                        <td>
                            @Html.HiddenFor(m => m.data_Search.sMobDetail[j].d_HSFO)
                            @Html.DisplayFor(m => m.data_Search.sMobDetail[j].d_HSFO)
                        </td>
                        <td>
                            @Html.HiddenFor(m => m.data_Search.sMobDetail[j].d_PROPANE)
                            @Html.DisplayFor(m => m.data_Search.sMobDetail[j].d_PROPANE)
                        </td>
                        <td>
                            @Html.HiddenFor(m => m.data_Search.sMobDetail[j].d_BUTANE)
                            @Html.DisplayFor(m => m.data_Search.sMobDetail[j].d_BUTANE)
                        </td>
                        <td>
                            @Html.HiddenFor(m => m.data_Search.sMobDetail[j].d_ULG92)
                            @Html.DisplayFor(m => m.data_Search.sMobDetail[j].d_ULG92)
                        </td>
                        <td>
                            @Html.HiddenFor(m => m.data_Search.sMobDetail[j].d_NAPHTA)
                            @Html.DisplayFor(m => m.data_Search.sMobDetail[j].d_NAPHTA)
                        </td>
                    </tr>
                }*@
                                                                    </tbody>
                                                                </table>

                                                            </div>
                                                        </div>


                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer" style="text-align:center;">
                                                <button type="submit" class="btn btn-success" id="btnSave" name="action:SaveGoodIssue">SAVE</button>
                                                <button type="submit" class="btn btn-success" id="btnGoodIssue" name="action:GoodIssue">POST GOODS ISSUE</button>
                                                <button type="button" class="btn btn-default" data-dismiss="modal">CLOSE</button>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div><!-- /.modal -->
                                }

<script type="text/javascript">

    $(document).ready(function () {

        $('#txtDeliveryDate').dateRangePicker({
            startOfWeek: 'monday',
            format: "DD/MM/YYYY"
        });

        $('#searchResultTable').DataTable({
            "columnDefs": [
                //Disble sort on Action Colum
                {
                    //"targets": [0],
                    "orderable": false
                }
            ]
        });
    });

    $(".numberOnly").focus(function () {
        $(this).val($(this).val().replace(/,/g, ''));
    });

    $(".numberOnly").blur(function () {
        var value = parseFloat($(this).val().replace(/,/g, ''));
        if (!isNaN(value)) {
            if (value > 999999999999) {
                value = 999999999999;
            }
            //$(this).val(value.toLocaleString('en-US', { minimumFractionDigits: 4, maximumFractionDigits: 4 }));
            var tmp = $(this).val().split(".");
            var lng = tmp.length;
            var digit = 0;
            if (lng > 1) {
                digit = tmp[1].length;
            }
            $(this).val(value.toLocaleString('en-US', { minimumFractionDigits: digit, maximumFractionDigits: digit }));
        }
        else
            $(this).val("");
    });

    $(".numberOnly").each(function () {
        var value = parseFloat($(this).val().replace(/,/g, ''));
        if (!isNaN(value)) {
            if (value > 999999999999) {
                value = 999999999999;
            }
            var tmp = $(this).val().split(".");
            var lng = tmp.length;
            var digit = 0;
            if (lng > 1) {
                digit = tmp[1].length;
            }
            $(this).val(value.toLocaleString('en-US', { minimumFractionDigits: digit, maximumFractionDigits: digit }));
        }
        else
            $(this).val("");
    });

    function updateNumberValidate() {
        $(".numberOnly").focus(function () {
            $(this).val($(this).val().replace(/,/g, ''));
        });

        $(".numberOnly").blur(function () {
            var value = parseFloat($(this).val().replace(/,/g, ''));
            if (!isNaN(value)) {
                if (value > 999999999999) {
                    value = 999999999999;
                }
                //$(this).val(value.toLocaleString('en-US', { minimumFractionDigits: 4, maximumFractionDigits: 4 }));
                var tmp = $(this).val().split(".");
                var lng = tmp.length;
                var digit = 0;
                if (lng > 1) {
                    digit = tmp[1].length;
                }
                $(this).val(value.toLocaleString('en-US', { minimumFractionDigits: digit, maximumFractionDigits: digit }));
            }
            else
                $(this).val("");
        });

        $(".numberOnly").each(function () {
            var value = parseFloat($(this).val().replace(/,/g, ''));
            if (!isNaN(value)) {
                if (value > 999999999999) {
                    value = 999999999999;
                }
                var tmp = $(this).val().split(".");
                var lng = tmp.length;
                var digit = 0;
                if (lng > 1) {
                    digit = tmp[1].length;
                }
                $(this).val(value.toLocaleString('en-US', { minimumFractionDigits: digit, maximumFractionDigits: digit }));
            }
            else
                $(this).val("");
        });

    }

    function GoodIssue_Popup(obj) {

        $('#goodIssuePopup').modal({ backdrop: 'static', keyboard: false });
        $('#goodIssuePopup').modal('show');

        //init_CrudePopup();
    }

    function createSO(TripNo, i) {
        debugger;
        $('#selectedTripNo').val(TripNo);
        $('#hSelectedTripNo' + i).val(TripNo);
        $('#btnCreate').show();
        $('#btnUpdate').hide();
        $('#btnCancel').hide();
        $('#pMsg').text('Are you sure to create sale order in SAP? ');

        $('#resultPopup').modal({ backdrop: 'static', keyboard: false });
        $('#resultPopup').modal('show');
    }

    function updateSO(TripNo, i) {
        $('#selectedTripNo').val(TripNo);
        $('#hSelectedTripNo' + i).val(TripNo);
        $('#btnCreate').hide();
        $('#btnUpdate').show();
        $('#btnCancel').hide();
        $('#pMsg').text('Are you sure to update sale order in SAP? ');

        $('#resultPopup').modal({ backdrop: 'static', keyboard: false });
        $('#resultPopup').modal('show');
    }

    function cancelSO(TripNo, i) {
        $('#selectedTripNo').val(TripNo);
        $('#hSelectedTripNo' + i).val(TripNo);
        $('#btnCreate').hide();
        $('#btnUpdate').hide();
        $('#btnCancel').show();
        $('#pMsg').text('Are you sure to cancel sale order in SAP? ');

        $('#resultPopup').modal({ backdrop: 'static', keyboard: false });
        $('#resultPopup').modal('show');
    }

    function clearSearch() {
        //$('#txtTripNo').val('');
        //$('#txtTripNo').text('');
        $('#txt_sCrudeName').val('');
        $('#txt_sCrudeName').text('');
        $('#ddlCrude').val('').change();
        $('#ddlCustomer').val('').change();
        //$('#searchResultTable tbody').empty();
        $('#ddlDeliveryMonth').val('').change();
        $('#ddlDeliveryYear').val('').change();
    }

</script>


