﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.HolidayViewModel
@{
    string actionName = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString().ToUpper();
    if (actionName == "CREATE")
    {
        ViewBag.Title = "Add Holiday";
    }
    else if (actionName == "EDIT")
    {
        ViewBag.Title = "Edit Holiday";
    }
}

<script>
    // Count System Row Index of Dyanamic Add
    var count = 0;
</script>

@if (TempData["ReponseStatus"] != null)
{
    // if POST check Response and Disble background layout of Modal Popup
    <script type="text/javascript">
        $(document).ready(function () {
            $('#resultPopup').modal({ backdrop: 'static', keyboard: false });
            $('#resultPopup').modal('show');
        });
    </script>
}

<div class="page-header">
    <h2>@ViewBag.Title</h2>
</div>

@using (Html.BeginForm("", "", FormMethod.Post, new Dictionary<string, object>
{ { "role","form" }, { "class","form-horizontal"}, { "data-toggle", "validator" }, { "id","createForm" } }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label col-sm-2">HOLIDAY ID :</label>
                <div class="col-sm-4">
                     @Html.TextBoxFor(model => model.holiday_Detail.HolidayID, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">HOLIDAY TYPE :<span style="color:red">*</span></label>
                <div class="col-sm-4">
                    @if (actionName.ToUpper() == "VIEWDETAIL" || actionName.ToUpper() == "EDIT")
                    {
                        @Html.DropDownListFor(model => model.holiday_Detail.HolidayType, new SelectList(Model.ddl_HolidayType, "Value", "Text"), "-- Select --", new { @class = "form-control", @required = "required", @disabled = "disabled" })
                        @Html.HiddenFor(model => model.holiday_Detail.HolidayType)
                    }
                    else
                    {
                        @Html.DropDownListFor(model => model.holiday_Detail.HolidayType, new SelectList(Model.ddl_HolidayType, "Value", "Text"), "-- Select --", new { @class = "form-control", @required = "required" })
                    }
                    
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="email">HOLIDAY DATE :<span style="color:red">*</span></label>
                <div class="col-sm-4">
                    @if (actionName.ToUpper() == "VIEWDETAIL" || actionName.ToUpper() == "EDIT")
                    {
                        <div class="box-date">
                            @Html.TextBoxFor(model => model.holiday_Detail.HolidayDate, htmlAttributes: new { @class = "form-control", @id = "date-range-start", @readonly = "readonly" })
                        </div>
                    }
                    else
                    {
                        <div class="box-date">
                            @Html.TextBoxFor(model => model.holiday_Detail.HolidayDate, htmlAttributes: new { @class = "form-control input-date-picker", @id = "date-range-start" })
                        </div>
                        <script type="text/javascript">
                            @Html.Raw(
                                          "$('#date-range-start').dateRangePicker(" +
                                           " {" +
                                                  "autoClose: true," +
                                                  " singleDate: true," +
                                                  "startOfWeek: 'monday'," +
                                                  "format: \"DD/MM/YYYY\"" +
                                            "});");
                        </script>
                    }
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">HOLIDAY DESC :<span style="color:red">*</span></label>
                <div class="col-sm-4">
                     @Html.TextBoxFor(model => model.holiday_Detail.HolidayDesc, htmlAttributes: new { @class = "form-control", @required = "required", @maxlength = "250" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary actionButton">SAVE</button>
                        <button type="reset" class="btn btn-default actionButton">CLEAR</button>
                        @Html.ActionLink("BACK", "Search", new { controller = "Holiday" }, htmlAttributes: new { @class = "btn btn-default" })
                    </div>
                </div>
            </div>

        </div>
    </div>
}
@if (actionName.ToUpper() == "VIEWDETAIL")
{
    <script>
        $("input").attr("readonly", true);
        $("select").attr("disabled", true);
        $('textarea').attr("readonly", true);
        $('input[type="checkbox"]').attr("disabled", true);
        $('.actionButton').hide();
        $('tfoot').hide();
    </script>
}


<!-- Result Popup -->
<div class="modal fade" id="resultPopup" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <p>
                    @TempData["ReponseMessage"]
                </p>
            </div>
            <div class="modal-footer">
                @if (TempData["ReponseStatus"] != null && TempData["ReponseStatus"].ToString().ToUpper() == "FALSE")
                {
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                }
                else
                {
                    if (actionName.ToUpper() == "EDIT" || actionName.ToUpper() == "CREATE")
                    {
                        @Html.ActionLink(
                             "Close",
                             "Edit",
                             "Holiday", // controllerName
                             new
                             {                                                     // routeValues
                                 HolidayID = Model.holiday_Detail.HolidayID
                             },
                             htmlAttributes: new { @class = "btn btn-default" });
                    }
                    else
                    {
                        @Html.ActionLink("Close", "Search", new { controller = "Holiday" }, htmlAttributes: new { @class = "btn btn-default" })
                    }

                }
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script>

    function confirmDeletSystemRow() {
        var conf = confirm("Please confirm to Delete?");
        if (conf) {
            $("#systemArr").on('click', '.remCF', function () {
                $(this).parent().parent().remove();
                $('#createForm').validator("update");
                $('#createForm').validator("validate");
            });
        }
    }

</script>