﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.HedgeFormularViewModel

    <div class="form-horizontal">
        <div class="row">
            <div class="col-sm-12">

                <table id="datatable" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Name</th>
                            <th>Desc</th>
                            <th>Formular</th>
                            <th>Expression</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="BodyFormular">
                       @if (Model.Formular_Detail != null && Model.Formular_Detail.Any())
                       {
                        for (int i = 0; i < Model.Formular_Detail.Count; i++)
                        {
                            <tr>
                                <td>
                                    @Html.Label(Model.Formular_Detail[i].OrderFormular, new { @id = "Formular_Detail[" + i + "].OrderFormular" ,@name= "Formular_Detail[" + i + "].OrderFormular" })
                                    @Html.HiddenFor(m=>m.Formular_Detail[i].OrderFormular)
                                    @Html.HiddenFor(m=>m.Formular_Detail[i].Row_Id)
                                </td>
                                <td class="col-sm-2">
                                    @Html.TextBoxFor(m => m.Formular_Detail[i].Name, new { @class = "form-control" })
                                </td>
                                <td class="col-sm-2">
                                    @Html.TextAreaFor(m => m.Formular_Detail[i].Description, new { @style = "background-color: #fff;color:black;", @rows = "3" })
                                </td>
                                <td class="col-sm-4">
                                    <div class="col-sm-12" id="formular@(i)">
                                        @if (Model.Formular_Detail[i].Formular_Exp != null && Model.Formular_Detail[i].Formular_Exp.Any())
                                        {
                                            for (int item = 0; item < Model.Formular_Detail[i].Formular_Exp.Count; item++)
                                            {
                                                if (Model.Formular_Detail[i].Formular_Exp[item].TypeEX == "VAR")
                                                {
                                                    @Html.DropDownListFor(m => m.Formular_Detail[i].Formular_Exp[item].ValueEx,new SelectList(Model.ddl_Variable,"Value","Text",Model.Formular_Detail[i].Formular_Exp[item].ValueEx) , new { @class = "form-control", @style = "width: 50px; float:left;", @onchange = "getExpresssion(this);" })
                                                    @Html.HiddenFor(m=>m.Formular_Detail[i].Formular_Exp[item].TypeEX)
                                                    @Html.HiddenFor(m=>m.Formular_Detail[i].Formular_Exp[item].OrderEX)
                                                }
                                                else if (Model.Formular_Detail[i].Formular_Exp[item].TypeEX == "OPR")
                                                {
                                                    @Html.DropDownListFor(m => m.Formular_Detail[i].Formular_Exp[item].ValueEx,new SelectList(Model.ddl_Operation,"Value","Text",Model.Formular_Detail[i].Formular_Exp[item].ValueEx), new { @class = "form-control", @style = "width: 50px; float:left;", @onchange = "getExpresssion(this);" })
                                                    @Html.HiddenFor(m=>m.Formular_Detail[i].Formular_Exp[item].TypeEX)
                                                    @Html.HiddenFor(m=>m.Formular_Detail[i].Formular_Exp[item].OrderEX)
                                                }
                                                else
                                                {
                                                    @Html.TextBoxFor(m => m.Formular_Detail[i].Formular_Exp[item].ValueEx, new { @class = "form-control", @style = "width: 50px; float:left;" , @onchange = "getExpresssion(this);" })
                                                    @Html.HiddenFor(m=>m.Formular_Detail[i].Formular_Exp[item].TypeEX)
                                                    @Html.HiddenFor(m=>m.Formular_Detail[i].Formular_Exp[item].OrderEX)
                                                }
                                            }
                                        }
                                    </div>
                                    <div>
                                        <span style="background-color: ghostwhite;border-radius: 9px;">
                                            <a href="javascript:void(0);" class="btn btnVar" onclick="AddValiable(@i);">
                                                <i class="fa fa-plus" aria-hidden="true" style="font-size: 10px;"></i>
                                                Variable
                                            </a>
                                        </span>
                                        &nbsp;
                                        <span style="background-color: ghostwhite;border-radius: 9px;">
                                            <a href="javascript:void(0);" class="btn btnOper" onclick="return AddOperation(@i);">
                                                <i class="fa fa-plus" aria-hidden="true" style="font-size: 10px;"></i>
                                                Operator
                                            </a>
                                        </span>
                                        &nbsp;
                                        <span style="background-color: ghostwhite;border-radius: 9px;">
                                            <a href="javascript:void(0);" class="btn btnNumb" onclick="return AddNumber(@i);">
                                                <i class="fa fa-plus" aria-hidden="true" style="font-size: 10px;"></i>
                                                Number
                                            </a>
                                        </span>
                                        &nbsp;
                                        <span style="background-color: ghostwhite;border-radius: 9px;">
                                            <a href="javascript:void(0);" class="btn btnDel" onclick="return confirmDeletRow(@i);">
                                                <i class="fa fa-minus" aria-hidden="true" style="font-size: 10px;"></i>
                                                Delete
                                            </a>
                                        </span>
                                    </div>
                                </td>
                                <td class="col-sm-2">
                                    @Html.TextAreaFor(m => m.Formular_Detail[i].Expression, new { @style = "background-color: #fff;color:black;", @rows = "3" })
                                </td>
                                <td>
                                   @Html.DropDownListFor(m => m.Formular_Detail[i].Status,new SelectList(Model.ddl_MasterDDL,"value","Text",Model.Formular_Detail[i].Status), "--Select--", new { @class = "form-control" })
                                </td>
                                <td style="width:38px">
                                    <div class="form-group">
                                        <a href="javascript:void(0);" class="remRow" onclick="return DeleteExpression(this);return false;">
                                            <i class="fa fa-trash-o" aria-hidden="true" style="font-size: 16px;"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                       }
                    </tbody>
                </table>
                <div class="modal-footer">
                    <input type="hidden" id="indexFor" />
                    <input type="button" value="AddRow" class="btn btn-primary" onclick="AddRow();" />
                </div>
            </div>
        </div>
    </div>