﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.CrudeRoutesViewModel

@{

    Layout = "~/Areas/CPAIMVC/Views/Shared/_Layout.cshtml";
    string actionName = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString().ToUpper();
    if (actionName == "CREATE")
    {
        ViewBag.Title = "Add Crude Routes";
    }
    else if (actionName == "EDIT")
    {
        ViewBag.Title = "Edit Crude Routes";
    }
}

<style type="text/css">
    .full-spectrum .sp-palette {
        max-width: 200px;
    }
</style>

@if (TempData["ReponseStatus"] != null)
{
    <script>
        $(document).ready(function () {
            $('#resultPopup').modal({ backdrop: 'static', keyboard: false });
            $('#resultPopup').modal('show');
        });
    </script>
}

<div class="page-header">
    <h2>@ViewBag.Title</h2>

</div>

@using (Html.BeginForm("", "", FormMethod.Post, new Dictionary<string, object>
{ { "role","form" }, { "class","form-horizontal"}, { "data-toggle", "validator" } }))
{

    if (actionName.ToUpper() == "CREATE" && ViewBag.action_edit && actionName != "VIEW")
    {
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3" for="email">Import world scale</label>
                    <div class="input-group">
                        <label class="input-group-btn">
                            <span class="btn btn-primary" style="padding: 5px 18px;">
                                Browse&hellip; <input type="file" id="ExcelFile" style="display: none;">
                            </span>
                        </label>
                        <input type="text" name="fileName" class="form-control" style="height: 38px;" readonly>
                    </div>
                </div>
            </div>
            <div class="col-md-6 importFile">
                <div class="form-group">
                    <label class="control-label col-md-4" style="text-align:right;">Excel Sheet</label>
                    <div class="col-md-4">
                        <select id="SelectExcelSheet" class="form-control" style="height: 38px;background-position-y: 15px;">
                            <option value="">-- Select --</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <span class="btn btn-success" onclick="ImportExcelFile()">Import</span>
                    </div>
                </div>
            </div>
        </div>
        <hr />
    }


    <div class="row">
        <div class="col-md-12">

            <div class="form-group">
                <label class="control-label col-sm-2" for="email">DATE :<span style="color:red">*</span></label>
                <div class="col-sm-4">
                    @if (actionName.ToUpper() == "CREATE")
                    {
                        <div class="box-date">
                            @Html.TextBoxFor(model => model.crude_Detail.Date, htmlAttributes: new { @class = "form-control input-date-picker", @id = "date-range-start", @required = "required", @maxlength = "10" })
                        </div>
                        <script type="text/javascript">
                            @Html.Raw(
                                          "$('#date-range-start').dateRangePicker(" +
                                           " {" +
                                                  "autoClose: true," +
                                                  " singleDate: true," +
                                               "startOfWeek: 'monday'," +
                                                "format: \"DD/MM/YYYY\"" +
                                            "});");
                        </script>
                    }
                    else
                    {
                        <div class="box-date">
                            @Html.TextBoxFor(model => model.crude_Detail.Date, htmlAttributes: new { @class = "form-control", @id = "date-range-start", @readonly = "readonly" })
                        </div>
                    }
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="pwd">TD2 :</label>
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.crude_Detail.TD2, Model.crude_Detail.TD2, new { @class = "form-control five-digits", @placeholder = "NA", @maxlength = "20" })
                    @*, @type = "number", @min = "0", @step = "any" })*@

                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="pwd">TD3 :</label>
                <div class="col-sm-4">

                    @Html.TextBoxFor(model => model.crude_Detail.TD3, Model.crude_Detail.TD3, new { @class = "form-control five-digits", @placeholder = "NA", @maxlength = "20" })

                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="pwd">TD15 :</label>
                <div class="col-sm-4">

                    @Html.TextBoxFor(model => model.crude_Detail.TD15, Model.crude_Detail.TD15, new { @class = "form-control five-digits", @placeholder = "NA", @maxlength = "20" })

                </div>
            </div>

            @*<div class="form-group">
                    <label class="control-label col-sm-2" for="email">STATUS:<span style="color:red">*</span></label>
                    <div class="col-sm-4">
                        @Html.DropDownListFor(model => model.crude_Detail.Status, new SelectList(Model.ddl_Status, "Value", "Text"),  new { @class = "form-control" })
                    </div>
                </div>*@

            <div class="form-group">
                <label class="control-label col-sm-2" for="email">STATUS :</label>
                <div class="col-sm-4">
                    @Html.CheckBoxFor(model => model.crude_Detail.BoolStatus, new { @id = "checkboxStatus", @class = "checkboxStatus" })
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-12">
                    <div class="text-center">
                        @if (ViewBag.action_edit && actionName != "VIEW")
                        {
                            <button type="submit" class="btn btn-primary">SAVE</button>
                            <button type="reset" class="btn btn-default">CLEAR</button>
                        }
                        @Html.ActionLink("BACK", "Search", new { controller = "CrudeRoutes" }, htmlAttributes: new { @class = "btn btn-default" })
                    </div>
                </div>
            </div>


        </div>
    </div>
}


@*<!-- Result Popup -->
    <div class="modal fade" id="resultPopup" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <p>
                        @TempData["ReponseMessage"]
                    </p>
                </div>
                <div class="modal-footer">
                    @if (TempData["ReponseStatus"] != null && TempData["ReponseStatus"].ToString().ToUpper() == "FALSE")
                    {
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    }
                    else
                    {
                        @Html.ActionLink("Close", "Search", new { controller = "CrudeRoutes" }, htmlAttributes: new { @class = "btn btn-default" })
                    }

                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->*@


<!-- Result Popup -->
<div class="modal fade" id="resultPopup" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <p>
                    @TempData["ReponseMessage"]
                </p>
            </div>
            <div class="modal-footer">
                @if (TempData["ReponseStatus"] != null && TempData["ReponseStatus"].ToString().ToUpper() == "FALSE")
                {
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                }
                else
                {
                    if (actionName.ToUpper() == "EDIT" || actionName.ToUpper() == "CREATE")
                    {
                        @Html.ActionLink(
                                            "Close",
                                            "Edit",
                                            "CrudeRoutes", // controllerName
                                            new
                                            {                                                     // routeValues
                                               CrudeRoutesDate = Model.crude_Detail.Date
                                            },
                                            htmlAttributes: new { @class = "btn btn-default" });
                    }
                    else
                    {
                        @Html.ActionLink("Close", "Search", new { controller = "CrudeRoutes" }, htmlAttributes: new { @class = "btn btn-default" })
                    }

                }
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


@if (actionName == "VIEW")
{
    <script>
        $("input").attr("readonly", true);
        $("select").attr("disabled", true);
        $('textarea').attr("readonly", true);
        $('input[type="checkbox"]').attr("disabled", true);
        $('#actionButtonxxx').hide();
        $('tfoot').hide();

    </script>
}

<script>

    Number.prototype.toFixedDown = function (digits) {
        var n = this - Math.pow(10, -digits) / 2;
        n += n / Math.pow(2, 53); // added 1360765523: 17.56.toFixedDown(2) === "17.56"
        return n.toFixed(digits);
    }
    function clearNumber(n) {
        var tmpValue = "";
        var regex = /^[0-9]+$/;
        var dotCount = 0;
        for (i = 0; i < n.length; i++) {
            if (n[i] == '.') {
                if (dotCount < 1 && tmpValue.length > 0) {
                    tmpValue += '.';
                }
                dotCount += 1;
            }
            else if (n[i].match(regex)) {
                tmpValue += n[i];
            }
        }
        return tmpValue;
    }

    $(function () {
        $('.five-digits').keyup(function () {
            this.value = clearNumber($(this).val());
            if ($(this).val().indexOf('.') != -1) {
                if ($(this).val().split(".")[1].length > 5) {
                    if (isNaN(parseFloat(this.value))) return;
                    this.value = parseFloat(this.value).toFixedDown(5);
                }
            }

            return this; //for chaining
        });
    });

    $(function () {
        checkboxToogle();
    });

    function checkboxToogle() {
        $(".checkboxStatus").bootstrapToggle({
            on: 'ACTIVE',
            off: 'INACTIVE'
        });
    }

    function confirmDeletSystemRow() {
        return confirm("Please confirm to Delete?");
    }

    function checkedStatus() {
        if ($("#checkboxStatus").prop("checked")) {
            $('#checkboxStatus').val("ACTIVE");
        } else {
            $('#checkboxStatus').val("INACTIVE");
        }
    }

    //System JSON
    var substringMatcher = function (strs) {
        return function findMatches(q, cb) {
            var matches, substringRegex;

            // an array that will be populated with substring matches
            matches = [];

            // regex used to determine if a string contains the substring `q`
            substrRegex = new RegExp(q, 'i');

            // iterate through the pool of strings and for any string that
            // contains the substring `q`, add it to the `matches` array
            $.each(strs, function (i, str) {
                if (substrRegex.test(str)) {
                    matches.push(str);
                }
            });

            cb(matches);
        };
    };

</script>

<script>
    $(function () {

        // We can attach the `fileselect` event to all file inputs on the page
        $(document).on('change', ':file', function () {

            var formData = new FormData();//ExcelFile
            var FileLength = $(this).get(0).files.length;
            for (var i = 0; i < FileLength; i++) {
                var file = document.getElementById("ExcelFile").files[i];
                formData.append("ExcelFile", file);
            }

            if (FileLength > 0) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetExcelSheet", "CrudeRoutes")',
                    data: formData,
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        if (data.length > 0) {
                            var Sheet = OptionValue(data, "");
                            $("#SelectExcelSheet").children().remove();
                            $("#SelectExcelSheet").append(Sheet);
                            $(".importFile").show();
                        }
                        else {
                            $(".importFile").hide();
                        }
                    },
                    error: function (error) {
                        alert("error : cannot read file");
                    }
                });
            }
            else {
                $(".importFile").hide();
            }

            var input = $(this),
                numFiles = input.get(0).files ? input.get(0).files.length : 1,
                label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.trigger('fileselect', [numFiles, label]);

        });

        // We can watch for our custom `fileselect` event like this
        $(document).ready(function () {
            $(':file').on('fileselect', function (event, numFiles, label) {

                var input = $(this).parents('.input-group').find(':text'),
                    log = numFiles > 1 ? numFiles + ' files selected' : label;

                if (input.length) {
                    input.val(log);
                } else {
                    if (log) alert(log);
                }

            });
        });

        if ($("[name='fileName']").val() == "") {
            $(".importFile").hide();
        }
        else {
            $(".importFile").show();
        }

    });

    function ImportExcelFile() {
        if ($("#SelectExcelSheet").val() == "") {
            OpenBoxPopup("Please select worksheet");
            return;
        }
        LoadingProcess();
        var worksheet = $("#SelectExcelSheet").val();
        var formData = new FormData();
        var FileLength = document.getElementById("ExcelFile").files.length;
        for (var i = 0; i < FileLength; i++) {
            var file = document.getElementById("ExcelFile").files[i];
            formData.append("ExcelFile", file);
        }
        if (FileLength > 0) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("ImportExcelFile", "CrudeRoutes")?wooksheet=' + worksheet,
                data: formData,
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function (data) {
                    if (data.Status == true) {
                        $("#SelectExcelSheet").children().remove();
                        $("#SelectExcelSheet").append(OptionValue("", ""));
                        $(".importFile").hide();
                        $("[name='fileName']").val("");
                        $("#ExcelFile").val("");
                        HideLoadingBox();
                        OpenBoxPopup(data.Message);
                    }
                    else {
                        HideLoadingBox();
                        OpenBoxPopup(data.Message);
                    }
                },
                error: function (error) {
                    alert("error : cannot import this file");
                }
            });
        }
    }


    function OptionValue(selector, value) {
        var options = "<option value=''>-- Select --</option>";
        for (var i = 0; i < selector.length; i++) {
            if (selector[i].Value == value) {
                options += "<option value='" + selector[i].Value + "' selected='selected'>" + selector[i].Text + "</option>";
            }
            else {
                options += "<option value='" + selector[i].Value + "'>" + selector[i].Text + "</option>";
            }
        }
        return options;
    }
</script>