﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.CrudeRoutesViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/CPAIMVC/Views/Shared/_Layout.cshtml";
}


    <style type="text/css">
    .table > tbody > tr > td {
        vertical-align: middle;
    }
    </style>





@using (Html.BeginForm("Search", "CrudeRoutes", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="page-header">
        <h1>CRUDE ROUTES</h1>
    </div>

    <div class="row">
        <div class="form-group">

            <label for="inputEmail3" class="col-md-2 control-label">DATE :</label>
            <div class="col-md-4">
                @Html.TextBoxFor(m => m.crude_Search.sDateFromTo, new { @id = "date-range-start", @class = "form-control input-date-picker date-range-start ", @placeholder = "DD/MM/YYYY to DD/MM/YYYY", @maxlength = "24" })
            </div>

            <label for="inputEmail3" class="col-md-2 control-label">STATUS :</label>
            <div class="col-md-4">
                @Html.DropDownListFor(model => model.crude_Search.sStatus, new SelectList(Model.ddl_Status, "Value", "Text"), "-- Select --", new { @class = "form-control" })
            </div>
        </div>

    </div>
    <div class="form-group">
        <div class="pull-left">
            @if (ViewBag.action_create)
            {
            @Html.ActionLink("Add", "Create", new { controller = "CrudeRoutes" }, new { @class = "btn btn-success" })
            }
        </div>
        <div class="pull-right">
            @if (ViewBag.action_search)
            {
            <button type="submit" class="btn btn-primary">Search</button>
            }
        </div>
    </div>
}

<div class="page-header">
    <h1>Search Result</h1>
</div>
<table id="searchResultTable" class="table table-hover display" cellspacing="0">
    <thead>
        <tr>
            <th style="display:none"></th>
            <th>DATE</th>
            <th>TD2</th>
            <th>TD3</th>
            <th>TD15</th>
            <th>STATUS</th>
            <th>ACTION</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.crude_Search == null)
        {

            <tr class="waiting">
                <td colspan="7">Waiting for search</td>
            </tr>

        }
        else
        {
            if (Model.crude_Search.sSearchData.Count > 0)
            {
                foreach (var v in Model.crude_Search.sSearchData)
                {
                    <tr>
                        <td style="display:none">@v.dDateOrder</td>
                        <td>@v.dDate</td>
                        <td>@v.dTD2</td>
                        <td>@v.dTD3</td>
                        <td>@v.dTD15</td>
                        <td>@v.dStatus</td>
                        <td width="100px">
                            @if (ViewBag.action_view)
                            {
                                <a href="@Url.Action("View", "CrudeRoutes", new { CrudeRoutesDate = @v.dDate  })" title="View Detail">
                                    <img alt="Widget View" src="@Url.Content("../../Content/images/1480695949_file.png")">
                                </a>
                            }
                            @if (ViewBag.action_edit)
                            {
                                <a href="@Url.Action("Edit", "CrudeRoutes", new { CrudeRoutesDate = @v.dDate })" title="Edit">
                                    <img alt="Widget View" src="@Url.Content("../../Content/images/1480695860_edit.png")">
                                </a>
                            }
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>

<script>
    $(function () {
        $('#date-range-start').dateRangePicker(
        {
            startOfWeek: 'monday',
            format: 'DD/MM/YYYY',
        });
        //$('#laycanDateSelect').dateRangePicker(
        //{
        //    startOfWeek: 'monday',
        //    format: 'DD-MM-YYYY',
        //});
        //$('#example').DataTable();
    });

    $(document).ready(function () {
        $('#searchResultTable').DataTable({
            "columnDefs": [
                //Disble sort on Action Colum
                {
                    "targets": [6],
                    "orderable": false
                }
            ]
        });
    });

            
</script>