﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.CustomerViewModel
@{
    string actionName = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString().ToUpper();
    if (actionName == "CREATE")
    {
        ViewBag.Title = "Add Customer";
    }
    else if (actionName == "EDIT")
    {
        ViewBag.Title = "Edit Customer";
    }
}

<script>
    // Count System Row Index of Dyanamic Add
    var count = 0;
    var countBroker = 0;
</script>

@if (TempData["ReponseStatus"] != null)
{
    // if POST check Response and Disble background layout of Modal Popup
    <script>
        $(document).ready(function () {
            $('#resultPopup').modal({ backdrop: 'static', keyboard: false });
            $('#resultPopup').modal('show');
        });
    </script>
}

<div class="page-header">
    <h2>@ViewBag.Title</h2>
</div>

@using (Html.BeginForm("", "", FormMethod.Post, new Dictionary<string, object>
{ { "role","form" }, { "class","form-horizontal"}, { "data-toggle", "validator" }, { "id","createForm" } }))
{
    <div class="row">
        <div class="col-md-12">

            <div class="form-group">
                <label class="control-label col-sm-2">CREATE TYPE:</label>
                <div class="col-sm-4">
                    @Model.cust_Detail.CreateType
                    @Html.HiddenFor(model => model.cust_Detail.CreateType)
                    @Html.HiddenFor(model => model.cust_Detail.CustDetailID)
                    @Html.HiddenFor(model => model.cust_Detail.CustPaymentTermID)
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">CUSTOMER CODE:</label>
                <div class="col-sm-4">
                    @Html.TextBoxFor(model => model.cust_Detail.CustCode, htmlAttributes: new { @class = "form-control", @readonly = "readonly", @maxlength = "32" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">CUSTOMER NAME:<span style="color:red">*</span></label>
                <div class="col-sm-4">
                    @Html.TextBoxFor(model => model.cust_Detail.CustName, htmlAttributes: new { @class = "form-control", @required = "required", @maxlength = "100" })
                </div>

                <label class="control-label col-sm-2">COMPANY:<span style="color:red">*</span></label>
                <div class="col-sm-4">
                    @Html.DropDownListFor(model => model.cust_Detail.Company, new SelectList(Model.ddl_Company, "Value", "Text", 1), "-- Select --", htmlAttributes: new { @class = "form-control", @required = "required" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">NATION:<span style="color:red">*</span></label>
                <div class="col-sm-4">
                    @Html.DropDownListFor(model => model.cust_Detail.Nation, new SelectList(Model.ddl_Nation, "Value", "Text", 1), "-- Select --", htmlAttributes: new { @class = "form-control", @required = "required" })
                </div>

                <label class="control-label col-sm-2">COUNTRY:<span style="color:red">*</span></label>
                <div class="col-sm-4">
                    @Html.DropDownListFor(model => model.cust_Detail.CountryKey, new SelectList(Model.ddl_Country, "Value", "Text", 1), "-- Select --", new { @class = "form-control", @required = "required" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">PAYMENT TERM:</label>
                <div class="col-sm-4">
                    @Html.TextBoxFor(model => model.cust_Detail.PaymentTerm, htmlAttributes: new { @class = "form-control", @maxlength = "500" })
                </div>

                <label class="control-label col-sm-2">ADDRESS COMMISSION:</label>
                <div class="col-sm-4">
                    @Html.TextBoxFor(model => model.cust_Detail.AddressCommission, htmlAttributes: new { @class = "form-control", @maxlength = "20" })
                </div>
            </div>


            <div class="form-group">
                <label class="control-label col-sm-2">WITHOLDING TAX:</label>
                <div class="col-sm-4">
                    @Html.TextBoxFor(model => model.cust_Detail.WithodingTax, htmlAttributes: new { @class = "form-control", @maxlength = "20" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">BROKER :</label>
                <div class="col-sm-10">

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Vendor</th>
                                <th>Default</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="brokerArr">
                            @if (Model.cust_Detail.Broker != null && Model.cust_Detail.Broker.Any())
                            {
                                for (int i = 0; i < Model.cust_Detail.Broker.Count; i++)
                                {
                                    var checkboxBrokerStatus = "checkboxBrokerStatus" + @i;
                                    var checkboxBrokerDefault = "checkboxBrokerDefault" + @i;
                                    <tr>
                                        <td>
                                            @Html.HiddenFor(model => model.cust_Detail.Broker[i].RowID)
                                            @Html.HiddenFor(model => model.cust_Detail.Broker[i].Order)
                                            @Html.DropDownListFor(model => model.cust_Detail.Broker[i].Vendor, new SelectList(Model.ddl_Broker, "Value", "Text", (string.IsNullOrEmpty(Model.cust_Detail.Broker[i].Vendor) ? string.Empty : Model.cust_Detail.Broker[i].Vendor)), new { @class = "form-control" })
                                        </td>
                                        <td>
                                            @if (Model.cust_Detail.Broker[i].Default == "Y")
                                            {
                                                <input type="checkbox" class="checkboxBrokerDefault" id=@checkboxBrokerDefault checked onchange="checkedBrokerDefault(@i);" value="Y">
                                            }
                                            else {
                                                <input type="checkbox" class="checkboxBrokerDefault" id=@checkboxBrokerDefault onchange="checkedBrokerDefault(@i);" value="N">
                                            }
                                            @Html.HiddenFor(model => model.cust_Detail.Broker[i].Default)
                                        </td>
                                        <td>
                                            @if (Model.cust_Detail.Broker[i].Status == "ACTIVE")
                                            {
                                                <input type="checkbox" class="checkboxBrokerStatus" id=@checkboxBrokerStatus checked onchange="checkedBrokerStatus(@i);" value="ACTIVE">
                                            }
                                            else {
                                                <input type="checkbox" class="checkboxBrokerStatus" id=@checkboxBrokerStatus onchange="checkedBrokerStatus(@i);" value="INACTIVE">
                                            }
                                            @Html.HiddenFor(model => model.cust_Detail.Broker[i].Status)
                                        </td>
                                        <td>

                                            <script>
                                                $(function () {
                                                    setAllStatusToogleSwitch();
                                                });
                                                countBroker++
                                            </script>
                                            @if (actionName == "CREATE" || actionName == "EDIT")
                                            {
                                                <a href="javascript:void(0);" class="remBK" onclick="return confirmDeletBrokerRow();" />
                                                <img src="../../Web/Images/btn-delete.png" />
                                            }
                                        </td>
                                    </tr>
                                }
                            }

                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5">
                                    <a class="btn btn-default addBK" href="javascript:void(0);" role="button">Add</a>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>

            @*<div class="form-group">
                    <label class="control-label col-sm-2">BROKER NAME:</label>
                    <div class="col-sm-4">
                        @Html.DropDownListFor(model => model.cust_Detail.Broker, new SelectList(Model.ddl_Broker, "Value", "Text", 1), "-- Select --", new { @class = "form-control" })
                    </div>

                    <label class="control-label col-sm-2">BROKER COMMISSION:</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.cust_Detail.BrokerCommission, htmlAttributes: new { @class = "form-control", @maxlength = "20" })
                    </div>
                </div>*@

            <div class="form-group">
                <label class="control-label col-sm-2">CONTROLLER :<span style="color:red">*</span></label>
                <div class="col-sm-10">

                    <table class="table">
                        <thead>
                            <tr>
                                <th>System</th>
                                <th>Type</th>
                                <th>Color</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="systemArr">
                            @Html.HiddenFor(model => model.cust_SystemJSON, htmlAttributes: new { @id = "SystemJSON" })
                            @Html.HiddenFor(model => model.cust_TypeJSON, htmlAttributes: new { @id = "TypeJSON" })
                            @for (int i = 0; i < Model.cust_Detail.Control.Count; i++)
                            {
                                var checkboxStatus = "checkboxStatus" + @i;
                                <tr>
                                    <td>@Html.TextBoxFor(model => model.cust_Detail.Control[i].System, htmlAttributes: new { @class = "form-control tagsSystem", @required = "required", @onfocus = "getSystemJSON()", @autocomplete = "off" })</td>
                                    <td>@Html.TextBoxFor(model => model.cust_Detail.Control[i].Type, htmlAttributes: new { @class = "form-control tagsType", @required = "required", @onfocus = "getTypeJSON()", @autocomplete = "off" })</td>
                                    <td>
                                        @Html.DropDownListFor(model => model.cust_Detail.Control[i].Color, new SelectList(Model.ddl_Color, "Value", "Text", Model.cust_Detail.Control[i].Color), new { @class = "colorpicker", @required = "required" })
                                    </td>
                                    <td>
                                        @Html.HiddenFor(model => model.cust_Detail.Control[i].RowID)

                                        @if (Model.cust_Detail.Control[i].Status == "ACTIVE")
                                        {
                                            <input type="checkbox" class="checkboxStatus" id=@checkboxStatus checked onchange="checkedStatus(@i);" value="ACTIVE">
                                        }
                                        else {
                                            <input type="checkbox" class="checkboxStatus" id=@checkboxStatus onchange="checkedStatus(@i);" value="INACTIVE">
                                        }
                                        @Html.HiddenFor(model => model.cust_Detail.Control[i].Status, htmlAttributes: new { @required = "required" })
                                    </td>
                                    <td>

                                        <script>
                                            $(function () {
                                                setAllColorPicker();
                                                setAllStatusToogleSwitch();
                                            });
                                            count++
                                        </script>

                                        @if (String.IsNullOrEmpty(Model.cust_Detail.Control[i].RowID) && i > 0)
                                        {
                                            <a href="javascript:void(0);" class="remCF" onclick="return confirmDeletSystemRow();" />
                                            <img src="../../Web/Images/btn-delete.png" />
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5">
                                    <a class="btn btn-default addCF" href="javascript:void(0);" role="button">Add</a>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary actionButton">SAVE</button>
                        <button type="reset" class="btn btn-default actionButton">CLEAR</button>
                        @Html.ActionLink("BACK", "Search", new { controller = "Customer" }, htmlAttributes: new { @class = "btn btn-default" })
                    </div>
                </div>
            </div>

        </div>
    </div>
}
@if (actionName == "VIEWDETAIL")
{
    <script>
        $("input").attr("readonly", true);
        $("select").attr("disabled", true);
        $('textarea').attr("readonly", true);
        $('input[type="checkbox"]').attr("disabled", true);
        $('.actionButton').hide();
        $('tfoot').hide();
    </script>
}


<!-- Result Popup -->
<div class="modal fade" id="resultPopup" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <p>
                    @TempData["ReponseMessage"]
                </p>
            </div>
            <div class="modal-footer">
                @if (TempData["ReponseStatus"] != null && TempData["ReponseStatus"].ToString().ToUpper() == "FALSE")
                {
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                }
                else
                {
                    if (actionName.ToUpper() == "EDIT" || actionName.ToUpper() == "CREATE")
                    {
                        @Html.ActionLink(
                             "Close",
                             "Edit",
                             "Customer", // controllerName
                             new
                             {                                                     // routeValues
                                 customerCode = Model.cust_Detail.CustDetailID
                             },
                             htmlAttributes: new { @class = "btn btn-default" });
                    }
                    else
                    {
                        @Html.ActionLink("Close", "Search", new { controller = "Customer" }, htmlAttributes: new { @class = "btn btn-default" })
                    }

                }
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script>
    //Set All Color Picker
    function setAllColorPicker() {
        $('.colorpicker').simplecolorpicker({ picker: true, theme: 'glyphicons' });
    }
    setAllColorPicker();

    //Set All Status Toogle Switch
    function setAllStatusToogleSwitch() {
        $(".checkboxStatus").bootstrapToggle({
            on: 'ACTIVE',
            off: 'INACTIVE'
        });

        $(".checkboxBrokerStatus").bootstrapToggle({
            on: 'ACTIVE',
            off: 'INACTIVE'
        });

        $(".checkboxBrokerDefault").bootstrapToggle({
            on: 'YES',
            off: 'NO'
        });
    }
    setAllStatusToogleSwitch();

    function changecolorPicker(value, countID) {
        var objHidden = document.getElementById("cust_Detail_Control_" + countID + "__Color");
        objHidden.value = value;
    }

    // Change Status Toogle Switch Value
    function checkedStatus(indexOfID) {
        if ($("#checkboxStatus" + indexOfID).prop("checked")) {
            $('#cust_Detail_Control_' + indexOfID + '__Status').val("ACTIVE");
        } else {
            $('#cust_Detail_Control_' + indexOfID + '__Status').val("INACTIVE");
        }
    }// End Change Status Toogle Switch Value

    //Get System Automplete
    function getSystemJSON() {
        var availableData = JSON.parse($("#SystemJSON").val());
        $(".tagsSystem").autocomplete({
            source: function (request, response) {
                var re = $.ui.autocomplete.escapeRegex(request.term);
                var matcher = new RegExp("^" + re, "i");
                response($.grep(($.map(availableData, function (v, i) {

                    return {
                        label: v.System,
                        value: v.System
                    };
                })), function (item) {
                    return matcher.test(item.value);
                }))

            },
            minLength: 0,
        }).click(function () {
            $(this).autocomplete("search");
        });
    }// End System Autocomplete

    //Get Type Automplete
    function getTypeJSON() {
        var availableData = JSON.parse($("#TypeJSON").val());

        $(".tagsType").autocomplete({
            source: function (request, response) {
                var re = $.ui.autocomplete.escapeRegex(request.term);
                var matcher = new RegExp("^" + re, "i");
                response($.grep(($.map(availableData, function (v, i) {
                    return {
                        label: v.Type,
                        value: v.Type
                    };
                })), function (item) {
                    return matcher.test(item.value);
                }))

            },
            minLength: 0,
        }).click(function () {
            $(this).autocomplete("search");
        });
    }// End Type Autocomplete

    function ReindexController() {

        var itemIndex = 0;
        $('#systemArr tr').each(function () {
            var this_row = $(this);
            this_row.find('input[name$=".System"]').attr('name', 'cust_Detail.Control[' + itemIndex + '].System');//replace name of input that ends the name BRANCH
            this_row.find('input[name$=".Type"]').attr('name', 'cust_Detail.Control[' + itemIndex + '].Type');
            this_row.find('input[name$=".Color"]').attr('name', 'cust_Detail.Control[' + itemIndex + '].Color');
            this_row.find('input[name$=".RowID"]').attr('name', 'cust_Detail.Control[' + itemIndex + '].RowID');
            this_row.find('input[name$=".Status"]').attr('name', 'cust_Detail.Control[' + itemIndex + '].Status');
            this_row.find('select[name$=".Color"]').attr('name', 'cust_Detail.Control[' + itemIndex + '].Color');
            itemIndex++;
        });
    }

    // Dynamic Add System Row
    $(".addCF").click(function () {
        $("#systemArr").append('<tr>'
            + '<td>'
            + '<input autocomplete="off" class="form-control tagsSystem" id="cust_Detail_Control_' + count + '__System" name="cust_Detail.Control[' + count + '].System" onfocus="getSystemJSON()" required="required" type="text" value="" />'
            + '</td>'
            + '<td>'
            + '<input autocomplete="off" class="form-control tagsType" id="cust_Detail_Control_' + count + '__Type" name="cust_Detail.Control[' + count + '].Type" onfocus="getTypeJSON()" required="required" type="text" value="" />'
            + '</td>'
            + '<td>'
            + '<select class="colorpicker" id="cust_Detail_Control_' + count + '__Color" name="cust_Detail.Control[' + count + '].Color" required="required"  value="#8f8f8f" onchange="changecolorPicker(this.value, ' + count + ')">'
            + @foreach (var option in Model.ddl_Color)
                {
                    @:'<option value="@option.Value">@option.Text</option>' +
                }
            + '</select>'
            + '</td>'
            + '<td>'
            + '<input type="checkbox" class="checkboxStatus" id="checkboxStatus' + count + '" value="ACTIVE" checked onchange="checkedStatus(' + count + ');">'
            + '<input hidden="hidden" id="cust_Detail_Control_' + count + '__Status" name="cust_Detail.Control[' + count + '].Status" type="text" value="ACTIVE"/>'
            + '</td>'
            + '<td><a href="javascript:void(0);" class="remCF" onclick="return confirmDeletSystemRow();"><img src="../../Web/Images/btn-delete.png" /></a>'
            + '</td>'
            + '</tr>'
        );

        $('#createForm').validator("update");
        $('#createForm').validator("validate");

        setAllColorPicker();
        setAllStatusToogleSwitch();
        count++;

        ReindexController();
    });

    function confirmDeletSystemRow() {
        var conf = confirm("Please confirm to Delete?");
        if (conf) {
            $("#systemArr").on('click', '.remCF', function () {
                $(this).parent().parent().remove();

                ReindexController();

                $('#createForm').validator("update");
                $('#createForm').validator("validate");
            });
        }
    }

    // Remove Dynamic System Row
    //$("#systemArr").on('click', '.remCF', function () {
    //    $(this).parent().parent().remove();

    //    $('#createForm').validator("update");
    //});

    function checkedBrokerStatus(indexOfID) {
        if ($("#checkboxBrokerStatus" + indexOfID).prop("checked")) {
            $('#cust_Detail_Broker_' + indexOfID + '__Status').val("ACTIVE");
        } else {
            $('#cust_Detail_Broker_' + indexOfID + '__Status').val("INACTIVE");
        }
    }

    function checkedBrokerDefault(indexOfID) {
        if ($("#checkboxBrokerDefault" + indexOfID).prop("checked")) {
            $('#cust_Detail_Broker_' + indexOfID + '__Default').val("Y");
        } else {
            $('#cust_Detail_Broker_' + indexOfID + '__Default').val("N");
        }
    }

    function ReindexBroker() {

        var itemIndex = 0;
        $('#brokerArr tr').each(function () {
            var this_row = $(this);
            this_row.find('input[name$=".Order"]').attr('name', 'cust_Detail.Broker[' + itemIndex + '].Order');
            this_row.find('select[name$=".Vendor"]').attr('name', 'cust_Detail.Broker[' + itemIndex + '].Vendor');
            this_row.find('input[name$=".Default"]').attr('name', 'cust_Detail.Broker[' + itemIndex + '].Default');
            this_row.find('input[name$=".RowID"]').attr('name', 'cust_Detail.Broker[' + itemIndex + '].RowID');
            this_row.find('input[name$=".Status"]').attr('name', 'cust_Detail.Broker[' + itemIndex + '].Status');
            itemIndex++;
        });
    }

    // Dynamic Add Broker Row
    $(".addBK").click(function () {
        $("#brokerArr").append('<tr>'
            + '<td>'
            + '<input hidden="hidden" id="cust_Detail_Broker_' + countBroker + '__RowID" name="cust_Detail.Broker[' + countBroker + '].RowID" type="text" />'
            + '<input hidden="hidden" id="cust_Detail_Broker_' + countBroker + '__Order" name="cust_Detail.Broker[' + countBroker + '].Order" type="text" />'
            + '<select class="form-control" id="cust_Detail_Broker_' + countBroker + '__Vendor" name="cust_Detail.Broker[' + countBroker + '].Vendor" >'
            + @foreach (var option in Model.ddl_Broker)
        {
        @:'<option value="@option.Value">@option.Text</option>' +
        }
            + '</select>'
            + '</td>'
            + '<td>'
            + '<input type="checkbox" class="checkboxBrokerDefault" id="checkboxBrokerDefault' + countBroker + '" value="Y" checked onchange="checkedBrokerDefault(' + countBroker + ');">'
            + '<input hidden="hidden" id="cust_Detail_Broker_' + countBroker + '__Default" name="cust_Detail.Broker[' + countBroker + '].Default" type="text" value="Y"/>'
            + '</td>'
            + '<td>'
            + '<input type="checkbox" class="checkboxBrokerStatus" id="checkboxBrokerStatus' + countBroker + '" value="ACTIVE" checked onchange="checkedBrokerStatus(' + countBroker + ');">'
            + '<input hidden="hidden" id="cust_Detail_Broker_' + countBroker + '__Status" name="cust_Detail.Broker[' + countBroker + '].Status" type="text" value="ACTIVE"/>'
            + '</td>'
            + '<td><a href="javascript:void(0);" class="remBK" onclick="return confirmDeletBrokerRow();"><img src="../../Web/Images/btn-delete.png" /></a>'
            + '</td>'
            + '</tr>'
        );

        $('#createForm').validator("update");
        $('#createForm').validator("validate");

        setAllStatusToogleSwitch();
        countBroker++;

        ReindexBroker();
    });

    function confirmDeletBrokerRow() {
        var conf = confirm("Please confirm to Delete?");
        if (conf) {
            $("#brokerArr").on('click', '.remBK', function () {
                $(this).parent().parent().remove();

                ReindexBroker();

                $('#createForm').validator("update");
                $('#createForm').validator("validate");
            });
        }
    }
</script>
