.tab-month {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	padding: 12px 0px 2px 10px;
}
.tab-month h4 {
	display: inline-block;
	font-family: 'HelvethaicaX-45Li';
	font-size: 32px;
	color: #252525;
	margin: 0;
}
.tab-month .borderright {
	display: inline-block;
	margin: 0 20px;
    height: 18px;
	border-right: 1px solid #d5d5d5;
}
.tab-month .data-month {
	display: inline-block;
	font-family: 'HelvethaicaX75Bd';
	font-size: 34px;
	color: #0a7ab1;
	margin-right: 20px;
	line-height: 1;
}
.tab-month .btn-prevmonth, .tab-month .btn-nextmonth {
	position: relative;
	display: inline-block;
	top: 5px;
	width: 34px;
	height: 29px;
	cursor: pointer;
}
.tab-month .btn-prevmonth {
	background-image: url(../images/btn-prev-month.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.tab-month .btn-nextmonth {
	background-image: url(../images/btn-next-month.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.tab-month .btn-prevmonth:hover {
	background-image: url(../images/btn-prev-month-hover.png);
}
.tab-month .btn-nextmonth:hover {
	background-image: url(../images/btn-next-month-hover.png);
}
.tab-month #select-date {
	display: inline-block;
	float: right;
	width: 265px;
	height: 29px;
	margin-top: 10px;
	background-image: url(../images/arrow-dropdown.png);
	background-repeat: no-repeat;
	background-position: 245px center;
}
.chart {
	position: relative;
	display: block;
	width: 98.8%;
	padding-top: 0px;
	padding-left: 5px;
}
.chart h3 {
	position: absolute;
	left: 10px;
	font-family: 'HelvethaicaX75Bd';
	font-size: 34px;
	font-weight: normal;
	color: #252525;
	margin-top: 40px;
}
.ganttview-hzheader-months {
	display: block;
}
.ganttview-hzheader-days {
	margin-top: 15px;
}
.wrapper-detail {
	padding-left: 14px;
	clear: both;
}
.btn-selectdate {
	background-image: url(../images/bg/bg-date-picker.png);
	background-repeat: no-repeat;
	background-position: 222px center;
}
.days-unit {
	position: absolute;
	top: 0px;
	right: 3%;
	width: 68px;
	height: 30px;
	font-family: 'HelvethaicaX-45Li';
	font-size: 20px;
	color: #fff;
	text-align: center;
	background-color: #0971a5;
	border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}
.hours-unit {
	position: absolute;
	top: 0px;
	right: 3.5%;
	width: 48px;
	height: 30px;
	font-family: 'HelvethaicaX-45Li';
	font-size: 20px;
	color: #fff;
	text-align: center;
	background-color: #0971a5;
	border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}
.col-xs-3 {
    width: 40%;
}
.column-right .col-xs-3 {
    width: 15%;
}
.add-new-activity .column-right .col-xs-3 {
    width: 25%;
}
.add-new-activity .column-left .col-xs-3 {
    width: 29%;
}
.add-new-activity .form-group{
	margin-bottom: 19px;
}
.colortab {
	display: block;
	width: 18px;
	height: 18px;
	background-color: #c69c6d;
}
.form-control {
	/*width: 251px;*/
	width: 90%;
}
.form-horizontal{
	padding-right: 30px;
}
.inputhours {
	/*font-size: 12px;*/
	/*width: 270px;*/
}
.number-title {
	position: absolute;
	left: 0px;
	font-family: 'HelvethaicaX75Bd';
	font-size: 48px;
	font-style: italic;
	width: 74px;
	height: 74px;
	line-height: 74px;
	border-radius: 74px;
	text-align: center;
	padding-right: 5px;
	color: #333333;
	background-color: #e5e5e5;
}
.number-title.blank{
	background-color: transparent;
}
.add-new-activity .col-xs-6 {
	position: relative;
}
.add-new-activity .control-label{
	padding-left: 100px;
}
.add-new-activity .form-control{
	margin-bottom: 15px;
}
.wrapper-button .col-xs-6 {
	float: none;
	display: block;
	margin: 0 auto;
}
.main-content .main-content-area .wrapper-detail .title{
	padding: 15px 0 0;
	margin: 0 0 15px;
}
.form-control[disabled], fieldset[disabled] .form-control {
	/*font-family: 'HelvethaicaX-45Li';*/
	font-size: 13px;
}
.btn-addmore {
	float: left;
	font-family: 'HelvethaicaMonX-65Med';
	font-size: 20px;
	color: #e21789;
}
.btn-addmore a {
	color: #e21789;
	text-decoration: none;
}
.btn-addmore img {
	margin-right: 10px;
}
.tooltip {
	z-index: 899;
}
#Jul11 {
	background-color: #0a7ab1;
	color: #fff;
}
.date-picker-wrapper .time label {
	width: 100%;
}
.date-picker-wrapper .time input[type=range] {
	float: right;
	width: 120px;
	margin-left: 5px;
}
.date-picker-wrapper .footer {
	height: auto;
}
.add-new-activity .col-xs-6 {
	width: 40%;
}
.add-new-activity .input-right {
	width: 60%;
}
.form-control.input-date-picker {
	background-position: 270px 3.5px;
}
.input-right .form-control.input-date-picker {
	background-position: 278px 3.5px;
}
.date-picker-wrapper {
	margin-left: 15px;
}


.heading-sec .col-xs-4 {
	float: right;
	width: 30%;
}
.wrapper-detail .col-xs-6 {
	width: 100%;
}
.form-horizontal .form-group {
    margin-right: 0px;
    margin-left: 0px;
    width: 50%;
    float: left;
}
.add-new-activity .col-xs-6 {
    width: 40%;
}
.btn-default, .btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger {
    height: 36px;
}
#select-date2 {
    background-position: 300px 3.5px;
    width: 318px;
}
.add-new-activity .input-right {
    width: 55%;
}
.form-horizontal .control-label {
    width: 208px;
}


.ie .fn-gantt .day, .ie .fn-gantt .date {
	width: 35px;
}
.ie .fn-gantt .dataPanel {
    background-position: 35px 35px;
}
.ie select, .ie textarea, .ie input[type="text"], .ie input[type="password"], .ie input[type="datetime"], .ie input[type="datetime-local"], .ie input[type="date"], .ie input[type="month"], .ie input[type="time"], .ie input[type="week"], .ie input[type="number"], .ie input[type="email"], .ie input[type="url"], .ie input[type="search"], .ie input[type="tel"], .ie input[type="color"], .ie .uneditable-input {
	height: 31px;
}
.ie .form-horizontal .control-label {
	width: 235px;
}
.ie #select-date2 {
    background-position: 270px 3.5px;
    width: 299px;
}
.ie .fn-gantt .navigate .nav-slider-content {
	width: 895px;
}
.ie .add-new-activity .input-right {
    width: 60%;
}



.ie9 .fn-gantt .day, .ie9 .fn-gantt .date {
	width: 35px;
}
.ie9 .fn-gantt .dataPanel {
    background-position: 35px 35px;
}
.ie9 select, .ie9 textarea, .ie9 input[type="text"], .ie9 input[type="password"], .ie9 input[type="datetime"], .ie9 input[type="datetime-local"], .ie9 input[type="date"], .ie9 input[type="month"], .ie9 input[type="time"], .ie9 input[type="week"], .ie9 input[type="number"], .ie9 input[type="email"], .ie9 input[type="url"], .ie9 input[type="search"], .ie9 input[type="tel"], .ie9 input[type="color"], .ie9 .uneditable-input {
	height: 31px;
}
.ie9 .form-horizontal .control-label {
	width: 235px;
}
.ie9 #select-date2 {
    background-position: 270px 3.5px;
    width: 299px;
}
.ie9 .fn-gantt .navigate .nav-slider-content {
	width: 895px;
}
.ie9 .add-new-activity .input-right {
    width: 60%;
}
.ie9 select.form-control {
	background: none;
}
.ie9 .hour input {
	width: 120px;
	height: 20px;
}
.ie9 .minute input {
	width: 120px;
	height: 20px;
}
.box-activity {
	display: block;
	position: relative;
	float: left;
    width: 100%;
    height: auto;
    padding-left: 15px;
}
.box-activity h3 {
	display: block;
	float: left;
	font-family: 'HelvethaicaX75Bd';
	font-size: 36px;
	color: #252525;
	width: 100%;
	margin: 0;
	margin-bottom: 30px;
}
.box-form {
	display: block;
    float: left;
    padding-left: 70px;
	margin-bottom: 15px;
}
.txt-color {
	display: inline-block;
	float: left;
	width: 40px;
}
.input-color {
	display: inline-block;
	float: left;
	margin-left: 8px;
}
.input-color .box-colors {
	width: 18px;
	height: 18px !important;
	padding-left: 12px;
	margin-bottom: 3px;
	border-radius: 50%;
	border: 0;
	box-sizing: border-box;
}
.input-activity {
	display: inline-block;
	float: left;
	width: 250px;
	height: 29px;
	margin-left: 10px;
}
.input-activity .form-control {
	display: inline-block;
	float: left;
	width: 228px;
	height: 29px;
	margin: 0;
	padding-top: 0;
	padding-bottom: 0;
}
.ie .input-activity .form-control, .ie9 .input-activity .form-control {
	width: 250px;
}
.input-date {
	display: inline-block;
	float: left;
	width: 250px;
	height: 29px;
	margin-left: 10px;
}
.input-date .form-control {
    padding: 15px;
    height: 29px;
	width: 218px !important;
	background-position: 222px 3.5px !important;
	margin: 0 !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	border-radius: 7px;
}
.ie .input-date .form-control, .ie9 .input-date .form-control {
	width: 250px !important;
}
.input-time {
	display: inline-block;
	float: left;
	width: 100px;
	height: 29px;
	margin-left: 10px;
}
.input-time .form-control {
    height: 29px;
	width: 52px !important;
	background-image: url(../images/icon-time.png);
	background-position: 5px 6px !important;
	margin: 0 !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	padding-left: 40px;
	border-radius: 7px;
}
.ie .input-time .form-control, .ie9 .input-time .form-control {
	width: 100px !important;
}
.input-reference {
	display: inline-block;
	float: left;
	width: 320px;
	height: 29px;
	margin-left: 10px;
}
.input-reference .form-control {
    padding: 15px;
    height: 29px;
	width: 288px !important;
	background-position: 222px 3.5px !important;
	margin: 0 !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	border-radius: 7px;
}
.ie .input-reference .form-control, .ie9 .input-reference .form-control {
	width: 320px !important;
}
.btn-addndel {
	display: block;
    float: left;
    width: 100%;
	padding-left: 130px;
	margin-bottom: 30px;
}
.btnadd, .btndel {
	font-family: 'HelvethaicaMonX-65Med';
	font-size: 20px;
	color: #e21789;
	background-color: transparent;
    border: 0;
	margin-left: 30px;
	text-align: center;
	outline: 0;
}
.btnadd img, .btndel img {
	position: relative;
	top: -2px;
	margin-right: 8px;
}
.btn-action {
	position: absolute;
	display: block;
	top: -1px;
	right: -1px;
	width: 15px;
	height: 104.5%;
	background-image: url(../images/bg-btn-action.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 9;
}
.box-action {
	display: none;
	float: left;
	width: 100px;
	height: 100%;
	list-style: none;
	margin: 0px 0px 0px 15px;
	padding: 0;
}
.box-action li {
	float: left;
	width: auto;
	height: 100%;
}
.box-action li:hover {
	background-color: rgba(0, 0, 0, 0.3);
}
.box-action li img {
	display: block;
	margin: 17px 8px;
}
.box-action li a { cursor: pointer; }
.box-action.active {
	display: block;
}
	