﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.EstimateFreightCalculationViewModel
 
@{
    ViewBag.Title = "Freight Calculation";
    Model.mode = "INDEX";
}

@section HeadStyle {
    <style>
        .unit-other-text-unactive {
            display: none;
        }
    </style>
}

<div class="page-header">
    <h1>Create Freight</h1>
</div>
<div class="row">

    <div class="col-md-4">
        <div class="panel panel-default" style="min-height:510px;">
            <div class="panel-body">
@using (Html.BeginForm("GenExcelFile", "EstimateFreightCalculation", FormMethod.Post, new Dictionary<string, object>
{ { "name", "createForm" }, { "id", "createForm" }, { "class", "form-horizontal" }, { "enctype", "multipart/form-data" }, { "data-toggle", "validator" } }))
{                   @Html.HiddenFor(model => model.mode, "INDEX")
                    <h3 style="font-weight:bold; margin-top:-10px;">Get Excel Template</h3>
                    <div class="form-group">
                        <label for="inputPassword" class="col-sm-4 control-label">Vessel Name:</label>
                        <div class="col-sm-8">
                            @Html.DropDownListFor(model => model.fcl_vessel_particular.vessel_name, new SelectList(Model.vehicle, "Value", "Text"), "-- Select --", new { @class = "form-control", @id="inputVesselNameSelect" })
                            @Html.HiddenFor(model => model.vessel_id)
                        </div>
                    </div>
                    <div id="particular" hidden>
                        <div class="form-group">
                            <label for="inputPassword" class="col-sm-4 control-label">Type:</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(model => model.fcl_vessel_particular.type, new { @class = "form-control", @id= "inputParticularTypeField" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword" class="col-sm-4 control-label">DWT:</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(model => model.fcl_vessel_particular.dwt, new { @class = "form-control numberOnly", @id = "particularDWT" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword" class="col-sm-4 control-label">Displacement (MT):</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(model => model.fcl_vessel_particular.displacement, new { @class = "form-control numberOnly", @id = "particularDisplacement" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputPassword" class="col-sm-4 control-label">Capacity (m3):</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(model => model.fcl_vessel_particular.capacity, new { @class = "form-control numberOnly", @id= "particularCapacity" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword" class="col-sm-4 control-label">Built:</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(model => model.fcl_vessel_particular.built, new { @class = "form-control date-Coating", @id= "particularBuilt" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword" class="col-sm-4 control-label">Max Draft (M):</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(model => model.fcl_vessel_particular.max_draft, new { @class = "form-control numberOnly", @id= "particularMaxDraft" })
                            </div>
                        </div>
                        @*@Html.HiddenFor(model => model.fcl_vessel_particular.date_time, new { @id = "particularDateTime" })*@
                        @*@Html.HiddenFor(model => model.fcl_vessel_particular.dwt, new { @id = "particularDWT" })
                        @Html.HiddenFor(model => model.fcl_vessel_particular.displacement, new { @id = "particularDisplacement" })*@
                        @Html.HiddenFor(model => model.fcl_vessel_speed.fcl_eco.flag, new { @id = "particularEcoFlag" })
                        @Html.HiddenFor(model => model.fcl_vessel_speed.fcl_eco.ballast, new { @id = "particularEcoBallast" })
                        @Html.HiddenFor(model => model.fcl_vessel_speed.fcl_eco.laden, new { @id = "particularEcoLaden" })
                        @Html.HiddenFor(model => model.fcl_vessel_speed.fcl_full.flag, new { @id = "particularFullFlag" })
                        @Html.HiddenFor(model => model.fcl_vessel_speed.fcl_full.ballast, new { @id = "particularFullBallast" })
                        @Html.HiddenFor(model => model.fcl_vessel_speed.fcl_full.laden, new { @id = "particularFullLaden" })

                        @Html.HiddenFor(model => model.fcl_bunker_consumption.fcl_load.fo, new { @id = "particularFoLoad" })
                        @Html.HiddenFor(model => model.fcl_bunker_consumption.fcl_discharge.fo, new { @id = "particularFoDischarge" })
                        @Html.HiddenFor(model => model.fcl_bunker_consumption.fcl_heating.fo, new { @id = "particularFoHeating" })
                        @Html.HiddenFor(model => model.fcl_bunker_consumption.fcl_idle.fo, new { @id = "particularFoIdle" })
                        @Html.HiddenFor(model => model.fcl_bunker_consumption.fcl_tack_cleaning.fo, new { @id = "particularFoTankCleaning" })
                        @Html.HiddenFor(model => model.fcl_bunker_consumption.fcl_steaming_ballast.fo, new { @id = "particularFoSteamingBallast" })
                        @Html.HiddenFor(model => model.fcl_bunker_consumption.fcl_steaming_laden.fo, new { @id = "particularFoSteamingLaden" })

                        @Html.HiddenFor(model => model.fcl_bunker_consumption.fcl_load.mgo, new { @id = "particularMgoLoad" })
                        @Html.HiddenFor(model => model.fcl_bunker_consumption.fcl_discharge.mgo, new { @id = "particularMgoDischarge" })
                        @Html.HiddenFor(model => model.fcl_bunker_consumption.fcl_heating.mgo, new { @id = "particularMgoHeating" })
                        @Html.HiddenFor(model => model.fcl_bunker_consumption.fcl_idle.mgo, new { @id = "particularMgoIdle" })
                        @Html.HiddenFor(model => model.fcl_bunker_consumption.fcl_tack_cleaning.mgo, new { @id = "particularMgoTankCleaning" })
                        @Html.HiddenFor(model => model.fcl_bunker_consumption.fcl_steaming_ballast.mgo, new { @id = "particularMgoSteamingBallast" })
                        @Html.HiddenFor(model => model.fcl_bunker_consumption.fcl_steaming_laden.mgo, new { @id = "particularMgoSteamingLaden" })

                        @Html.HiddenFor(model => model.fcl_payment_terms.payment_term, new { @id = "payment_payment_term" })
                        @Html.HiddenFor(model => model.fcl_payment_terms.broker_comm, new { @id = "payment_broker_comm" })
                        @Html.HiddenFor(model => model.fcl_payment_terms.add_comm, new { @id = "payment_add_comm" })
                        @Html.HiddenFor(model => model.fcl_payment_terms.withold_tax, new { @id = "payment_withold_tax" })
                        
                        @*<div class="form-group">
                            <label for="inputPassword" class="col-sm-4 control-label">Age:</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(model => model.fcl_vessel_particular.age, new { @class = "form-control", @id = "particularAge" })
                            </div>
                        </div>*@
                        <div class="form-group">
                            <label for="inputPassword" class="col-sm-4 control-label">Coating:</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(model => model.fcl_vessel_particular.coating, new { @class = "form-control", @id = "particularCoating" })
                            </div>
                        </div> 
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="col-sm-4 control-label">Date:</label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.fcl_vessel_particular.date_time, new { @class = "form-control date-Coating", @id = "particularDateTime" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="col-sm-4 control-label">Charterer:</label>
                        <div class="col-sm-8">
                            @Html.DropDownListFor(model => model.fcl_payment_terms.charterer, new SelectList(Model.customer, "Value", "Text"), "-- Select --", new { @class = "form-control", @id = "inputChartererSelect" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="col-sm-4 control-label">Broker:</label>
                        <div class="col-sm-8">
                            @Html.DropDownListFor(model => model.fcl_payment_terms.broker, new SelectList(Model.broker, "Value", "Text"), "-- Select --", new { @class = "form-control", @id = "inputBrokerNameSelect" })
                        </div>
                    </div>
                    @*<div class="form-group">
                        <label for="inputPassword" class="col-sm-4 control-label">Unit:</label>
                        <div class="col-sm-8">
                            @Html.DropDownListFor(model => model.fcl_payment_terms.unit, new SelectList(Model.unit, "Value", "Text", Model.fcl_payment_terms.unit), "-- Select --", new { @class = "form-control fcl_payment_terms-unit" })
                        </div>
                    </div>*@
                    <div id="div_cargo_list" class="form-group">
                        <div id="div_sub_cargo_list_1">
                            <label for="inputPassword" class="col-sm-4 control-label">Cargo 1:</label>
                            <div class="col-sm-8" style="padding-bottom: 5px;">
                                @Html.DropDownListFor(model => model.fcl_payment_terms.Cargoes[0].cargo, new SelectList(Model.cargo, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                            </div>
                            <label for="inputPassword" class="col-sm-4 control-label">Unit 1:</label>
                            <div class="col-sm-8" style="padding-bottom: 5px;">
                                @Html.DropDownListFor(model => model.fcl_payment_terms.Cargoes[0].unit, new SelectList(Model.unit, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                                @Html.TextBoxFor(model => model.fcl_payment_terms.Cargoes[0].unit_other, new { @class = "form-control" })
                            </div>                            
                        </div>                  
                    </div>
                    <div class="form-group" style="margin-top: -15px;">
                        <div style="text-align: right; padding-right: 15px;">                           
                            <input type="image" src="~/Web/Images/btn-add-member.png" onclick="addCargo(); return false;">&nbsp;&nbsp;&nbsp;<input type="image" src="~/Web/Images/btn-delete.png" onclick="delCargo(); return false;">
                        </div>
                    </div>                        
                        <div class="form-group">
                            <label for="inputPassword" class="col-sm-4 control-label">BSS:</label>
                            <div class="col-sm-8">
                                @Html.DropDownListFor(model => model.fcl_payment_terms.bss, new SelectList(Model.bss, "Value", "Text"), "-- Select --", new { @class = "form-control", @id = "bssVal" })
                            </div>
                        </div>
                        <div class="row" id="groupPortDischarge"></div>                       
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default">Get Excel Template</button>
                            </div>
                        </div>
                        }
                    </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default" style="min-height:510px;">
            <div class="panel-body">
                <h3 style="font-weight:bold; margin-top:-10px;">Create from Excel file</h3>
                <form class="form-horizontal" action="Create" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="file" id="inputExellFile" name="inputExcelFile" style="width:100%;" accept=".xls,.xlsx" placeholder="Please select an excel file">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button type="submit" class="btn btn-default" name="createFromExellBtn" id="btnUpload" value="Y">Upload</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default" style="min-height:510px;">
            <div class="panel-body">
                <h3 style="font-weight:bold; margin-top:-10px;">Go to New Create form</h3>
                <div class="form-group">
                    <div class="col-sm-12 text-center">
                        <a class="btn btn-success" href="~/CPAIMVC/EstimateFreightCalculation/Create" role="button" name="createFromExellBtn" value="Y">Create</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $('#btnUpload').on('click', function () {
        if ($('#inputExellFile').val() == "") {
            alert("Please select an excel file");
            return false;
        }
    });

    $('#inputVesselNameSelect').on('change', function () {
        if ($('#inputVesselNameSelect').val() == "") {
            $("#particular").hide();
            $('#inputParticularTypeField').val("");
            $('#particularCapacity').val("");
            $('#particularDateTime').val("");
            $('#particularBuilt').val("");
            $('#particularMaxDraft').val("");
            $('#particularAge').val("");
            $('#particularCoating').val("");
            $('#vessel_id').val("");
        } else {
            $('#vessel_id').val($('#inputVesselNameSelect').val());
            $.post("getVehicleById/" + $('#inputVesselNameSelect').val(),
            {
                id: $('#inputVesselNameSelect').val()
            },
            function (data, status) {
                $('#inputParticularTypeField').val(data["TYPE"]);
                $('#particularCapacity').val(data["CAPACITY"]);
                $('#particularBuilt').val(data["BUILT"]);
                $('#particularMaxDraft').val(data["MAX_DRAFT"]);
                $('#particularAge').val(data["AGE"]);
                $('#particularCoating').val(data["COATING"]);

                //$('#particularDateTime').val(data["DATE"]);
                $('#particularDWT').val(data["DWT"]);
                $('#particularDisplacement').val(data["DISPLACEMENT"]);
                if (data["FULL_FLAG"] == "Y") {
                    $('#particularFullFlag').val(data["FULL_FLAG"]);
                }
                else {
                    $('#particularEcoFlag').val("Y");
                }

                $('#particularEcoBallast').val(data["ECO_BALLAST"]);
                $('#particularEcoLaden').val(data["ECO_LADEN"]);
                $('#particularFullBallast').val(data["FULL_BALLAST"]);
                $('#particularFullLaden').val(data["FULL_LADEN"]);

                $('#particularFoLoad').val(data["FO_LOAD"]);
                $('#particularFoDischarge').val(data["FO_DISCHARGE"]);
                $('#particularFoHeating').val(data["FO_HEATING"]);
                $('#particularFoIdle').val(data["FO_IDLE"]);
                $('#particularFoTankCleaning').val(data["FO_TANK_CLEANING"]);
                $('#particularFoSteamingBallast').val(data["FO_STEAMING_BALLAST"]);
                $('#particularFoSteamingLaden').val(data["FO_STEAMING_LADEN"]);

                $('#particularMgoLoad').val(data["MGO_LOAD"]);
                $('#particularMgoDischarge').val(data["MGO_DISCHARGE"]);
                $('#particularMgoHeating').val(data["MGO_HEATING"]);
                $('#particularMgoIdle').val(data["MGO_IDLE"]);
                $('#particularMgoTankCleaning').val(data["MGO_TANK_CLEANING"]);
                $('#particularMgoSteamingBallast').val(data["MGO_STEAMING_BALLAST"]);
                $('#particularMgoSteamingLaden').val(data["MGO_STEAMING_LADEN"]);
            });

            $("#particular").show();
        }
    });

    $('#inputChartererSelect').on('change', function () {

        if ($('#inputChartererSelect').val() != "") {

            if ($('#inputChartererSelect').val() != "") {
                $.post("getBrokerByCharterer/",
                {
                    id: $('#inputChartererSelect').val()
                },
                function (data, status) {
                    if (data != null && data != "") {
                        $('#inputBrokerNameSelect').val(data).change();
                        $.post("getVenderCommission/",
                        {
                            id: data
                        },
                        function (data, status) {
                            $('#payment_broker_comm').val(data);
                        });
                    }
                });
            }

            $.post("getPaymentTermDetailByCharterer/" + $('#inputChartererSelect').val(),
            {
                broker: $('#inputChartererSelect').val()
            },
            function (data, status) {
                $('#payment_payment_term').val(data["PAYMENT_TERM"]);
                $('#payment_add_comm').val(data["ADDRESS_COMMISSION"]);
                $('#payment_withold_tax').val(data["WITHHOLDING_TAX"]);
            });
        } else {
            //$('#inputBrokerNameSelect').empty();
            $('#inputBrokerNameSelect').val("");
            $('#payment_payment_term').empty();
            $('#payment_broker_comm').empty();
            $('#payment_add_comm').empty();
            $('#payment_withold_tax').empty();
        }
    });

    $("#inputBrokerNameSelect").on('change', function () {
        var data = $("#inputBrokerNameSelect").val();
        $.post("getVenderCommission/",
            {
                id: data
            },
            function (data, status) {
                $('#payment_broker_comm').val(data);
            });
    });

    function SubmitResult() {
        $(window).load(function () {
            $('#SubmitResultPopup').modal('show');
        });
    }

    $('#bssVal').on('change', function () {
        var myNode = document.getElementById("groupPortDischarge");
        while (myNode.firstChild) {
            myNode.removeChild(myNode.firstChild);
        }

       var loadDll = ''+
       @foreach (var option in Model.portTypeLoad)
        {
            @:'<option value="@option.Value">@option.Text</option>'+
            }
        +'';

        var dischargeDll = ''+
        @foreach (var option in Model.portTypeDisCharge)
        {
            @:'<option value="@option.Value">@option.Text</option>'+
            }
        +'';

        var val = $('#bssVal').val();
        if (val != "") {
            var temp = val.split(':');
            var post = temp[0];//val.charAt(0);
            var discharge = temp[1];//val.charAt(1);

            var portText = "";
            for (i = 1 ; i <= post ; i++) {
                portText += '<div class="form-group">'
                     + '<label class="col-sm-4 control-label">Load Port ' + (i) + ':</label>'
                     + '<div class="col-sm-8">'

                     + '<label class="control-label">Type:</label>'
                     + '<input type="hidden" name="fcl_payment_terms.ControlPort[' + (i - 1) + '].JettyPortKey" id="fcl_payment_terms_Load_Key_' + (i - 1) + '" class="form-control" value="" />'
                     + '<select class="form-control" id="fcl_port_load_' + (i - 1) + '_Type" name="fcl_payment_terms.ControlPort[' + (i -1) + '].PortType" style="margin-bottom: 5px" onchange="loadCountry(\'fcl_port_load_' + (i - 1) + '\' , \'l\')" required="required">'
                     + '<option value="">-- Select --</option>'
                     + loadDll
                     + '</select>'

                     + '<div id="fcl_port_load_' + (i - 1) + '_DivCountry"></div>'
                     + '<div id="fcl_port_load_' + (i - 1) + '_DivLocation"></div>'
                     + '<div id="fcl_port_load_' + (i - 1) + '_DivName"></div>'
                     + '</div>'
                     + '</div>';

            }
            $("#groupPortDischarge").append(portText);

            var dischargeText = "";
            for (j = 1 ; j <= discharge ; j++) {
                dischargeText +=  '<div class="form-group">'
                     + '<label class="col-sm-4 control-label">Discharge port ' + (j) + ':</label>'
                     + '<div class="col-sm-8">'

                     + '<label class="control-label">Type:</label>'
                     + '<input type="hidden" name="fcl_payment_terms.ControlDischarge[' + (j - 1) + '].JettyPortKey" id="fcl_payment_terms_Discharge_Key_' + (j - 1) + '" class="form-control" value="" />'
                     + '<select class="form-control" id="fcl_port_discharge_' + (j - 1) + '_Type"  name="fcl_payment_terms.ControlDischarge[' + (j - 1) + '].PortType" style="margin-bottom: 5px" onchange="loadCountry(\'fcl_port_discharge_' + (j - 1) + '\' , \'d\')" required="required">'
                     + '<option value="">-- Select --</option>'
                     + dischargeDll
                     + '</select>'

                     + '<div id="fcl_port_discharge_' + (j - 1) + '_DivCountry"></div>'
                     + '<div id="fcl_port_discharge_' + (j - 1) + '_DivLocation"></div>'
                     + '<div id="fcl_port_discharge_' + (j - 1) + '_DivName"></div>'
                     + '</div>'
                     + '</div>';

            }
            $("#groupPortDischarge").append(dischargeText);

        }
        $('#createForm').validator("update");
    });

    function loadCountry(ctrl ,type) {
        var valueType = document.getElementById(ctrl + '_Type').options[document.getElementById(ctrl + '_Type').selectedIndex].text;
        $.ajax({
            url: '@Url.Action("getPortListString", "EstimateFreightCalculation")',
            type: "GET",
            data: { fromType: type, portType: valueType },
            success: function (response) {
                var myNode = document.getElementById(ctrl + '_DivCountry');
                while (myNode.firstChild) {
                    myNode.removeChild(myNode.firstChild);
                }
                myNode = document.getElementById(ctrl + '_DivLocation');
                while (myNode.firstChild) {
                    myNode.removeChild(myNode.firstChild);
                }
                myNode = document.getElementById(ctrl + '_DivName');
                while (myNode.firstChild) {
                    myNode.removeChild(myNode.firstChild);
                }

                var obj = JSON.parse(response);
                var dll = '';
                $.each(obj, function (index, value) {
                    //console.log('My array has at position ' + index + ', this value: ' + value['Text']);
                    dll += ('<option value="' + value['Value'] + '">' + value['Text'] + '</option>');
                });

                var portText = "";
                if (ctrl.replace("fcl_port_load_", "").length < 4) {
                    portText += '<label class="control-label">Country:</label>'
                         + '<select class="form-control" id="' + ctrl + '_Country" name="fcl_payment_terms.ControlPort[' + (ctrl.replace("fcl_port_load_", "")) + '].PortCountry" style="margin-bottom: 5px" onchange="loadLocation(\'' + ctrl + '\' , \'' + type + '\')" required="required">'
                         + '<option value="">-- Select --</option>'
                         + dll
                         + '</select>';
                }
                else {
                    portText += '<label class="control-label">Country:</label>'
                         + '<select class="form-control" id="' + ctrl + '_Country" name="fcl_payment_terms.ControlDischarge[' + (ctrl.replace("fcl_port_discharge_", "")) + '].PortCountry" style="margin-bottom: 5px" onchange="loadLocation(\'' + ctrl + '\' , \'' + type + '\')" required="required">'
                         + '<option value="">-- Select --</option>'
                         + dll
                         + '</select>';
                }
                $("#" + ctrl + '_DivCountry').append(portText);
                $('#createForm').validator("update");
            },
            error: function (response) {
                console.log(response);
            }
        });
    }

    function loadLocation(ctrl, type) {
        var valueType = document.getElementById(ctrl + '_Type').options[document.getElementById(ctrl + '_Type').selectedIndex].text;
        var valueCountry = document.getElementById(ctrl + '_Country').options[document.getElementById(ctrl + '_Country').selectedIndex].text;
        $.ajax({
            url: '@Url.Action("getPortListString", "EstimateFreightCalculation")',
            type: "GET",
            data: { fromType: type, portType: valueType, country: valueCountry },
            success: function (response) {
                var myNode = document.getElementById(ctrl + '_DivLocation');
                while (myNode.firstChild) {
                    myNode.removeChild(myNode.firstChild);
                }
                myNode = document.getElementById(ctrl + '_DivName');
                while (myNode.firstChild) {
                    myNode.removeChild(myNode.firstChild);
                }

                var obj = JSON.parse(response);
                var dll = '';
                $.each(obj, function (index, value) {
                    //console.log('My array has at position ' + index + ', this value: ' + value['Text']);
                    dll += ('<option value="' + value['Value'] + '">' + value['Text'] + '</option>');
                });

                var portText = "";
                if (ctrl.replace("fcl_port_load_", "").length < 4) {
                    portText += '<label class="control-label">Location:</label>'
                         + '<select class="form-control" id="' + ctrl + '_Location" name="fcl_payment_terms.ControlPort[' + (ctrl.replace("fcl_port_load_", "")) + '].PortLocation" style="margin-bottom: 5px" onchange="loadName(\'' + ctrl + '\' , \'' + type + '\')" required="required">'
                         + '<option value="">-- Select --</option>'
                         + dll
                         + '</select>';
                }
                else
                {
                    portText += '<label class="control-label">Location:</label>'
                         + '<select class="form-control" id="' + ctrl + '_Location" name="fcl_payment_terms.ControlDischarge[' + (ctrl.replace("fcl_port_discharge_", "")) + '].PortLocation" style="margin-bottom: 5px" onchange="loadName(\'' + ctrl + '\' , \'' + type + '\')" required="required">'
                         + '<option value="">-- Select --</option>'
                         + dll
                         + '</select>';
                }
                $("#" + ctrl + '_DivLocation').append(portText);
                $('#createForm').validator("update");
            },
            error: function (response) {
                console.log(response);
            }
        });
    }

    function loadName(ctrl, type) {
        var valueType = document.getElementById(ctrl + '_Type').options[document.getElementById(ctrl + '_Type').selectedIndex].text;
        var valueCountry = document.getElementById(ctrl + '_Country').options[document.getElementById(ctrl + '_Country').selectedIndex].text;
        var valueLocation = document.getElementById(ctrl + '_Location').options[document.getElementById(ctrl + '_Location').selectedIndex].text;
        $.ajax({
                       url: '@Url.Action("getPortListString", "EstimateFreightCalculation")',
            type: "GET",
            data: { fromType: type, portType: valueType, country: valueCountry, location: valueLocation },
            success: function (response) {
                           var myNode = document.getElementById(ctrl + '_DivName');
                           while (myNode.firstChild) {
                               myNode.removeChild(myNode.firstChild);
                           }

                           var obj = JSON.parse(response);
                           var tempKey = "";
                           var dll = '';
                $.each(obj, function (index, value) {
                               //console.log('My array has at position ' + index + ', this value: ' + value['Text']);
                               dll += ('<option value="' + value['Value'] + '">' + value['Text'] + '</option>');
                               tempKey = value["Key"];
                           });
                var isRequire = '';
                if ('DOMESTIC' == valueType)
                {
                    isRequire = ' required = "required"';
                }
                           var portText = "";
                           if (ctrl.replace("fcl_port_load_", "").length < 4)
                           {
                               var jettyKey = $("#fcl_payment_terms_Load_Key_" + (ctrl.replace("fcl_port_load_", "")));
                               jettyKey.val(tempKey);
                               portText += '<label class="control-label">Jetty Name:</label>'
                                + '<select class="form-control" id="' + ctrl + '_Name" name="fcl_payment_terms.ControlPort[' + (ctrl.replace("fcl_port_load_", "")) + '].PortName" onchange="setPortKeyValue(\'' + ctrl + '\' , \'' + type + '\')" ' + isRequire + ' style="margin-bottom: 5px" >'
                                + '<option value="">-- Select --</option>'
                                + dll
                                + '</select>'
                                + '<input class="form-control" id="' + ctrl + '_NameOther" name="fcl_payment_terms.ControlPort[' + (ctrl.replace("fcl_port_load_", "")) + '].PortOtherDesc" style="display: none; margin-bottom: 5px;" type="text" value="">';
                           }
                           else
                           {
                               var jettyKey = $("#fcl_payment_terms_Discharge_Key_" + (ctrl.replace("fcl_port_discharge_", "")));
                               jettyKey.val(tempKey);
                               portText += '<label class="control-label">Jetty Name:</label>'
                                + '<select class="form-control" id="' + ctrl + '_Name" name="fcl_payment_terms.ControlDischarge[' + (ctrl.replace("fcl_port_discharge_", "")) + '].DischargeName" onchange="setPortKeyValue(\'' + ctrl + '\' , \'' + type + '\')"  style="margin-bottom: 5px"  ' + isRequire + ' >'
                                + '<option value="">-- Select --</option>'
                                + dll
                                + '</select>'
                               + '<input class="form-control" id="' + ctrl + '_NameOther" name="fcl_payment_terms.ControlDischarge[' + (ctrl.replace("fcl_port_discharge_", "")) + '].PortOtherDesc" style="display: none; margin-bottom: 5px;" type="text" value="">';
                           }


                $("#" + ctrl + '_DivName').append(portText);
                $('#createForm').validator("update");
                       },
            error: function (response) {
                           console.log(response);
                       }
                   });
    }

    function setPortKeyValue(ctrl, type) {
        var valueType = document.getElementById(ctrl + '_Type').options[document.getElementById(ctrl + '_Type').selectedIndex].text;
        var valueCountry = document.getElementById(ctrl + '_Country').options[document.getElementById(ctrl + '_Country').selectedIndex].text;
        var valueLocation = document.getElementById(ctrl + '_Location').options[document.getElementById(ctrl + '_Location').selectedIndex].text;
        var valueName = document.getElementById(ctrl + '_Name').options[document.getElementById(ctrl + '_Name').selectedIndex].text;
        $.ajax({
            url: '@Url.Action("getPortListString", "EstimateFreightCalculation")',
            type: "GET",
            data: { fromType: type, portType: valueType, country: valueCountry, location: valueLocation, name: valueName },
            success: function (response) {

                var obj = JSON.parse(response);
                var tempKey = "";
                $.each(obj, function (index, value) {
                    tempKey = value["Key"];
                });

                var isShow = "none";
                if ('OTHER' == valueName) {
                    isShow = 'block';
                }

                var portText = "";
                if (ctrl.replace("fcl_port_load_", "").length < 4) {
                    var jettyKey = $("#fcl_payment_terms_Load_Key_" + (ctrl.replace("fcl_port_load_", "")));
                    jettyKey.val(tempKey);
                    var otherDesc = $("#" + ctrl + "_NameOther");
                    otherDesc.css({ 'display': isShow });
                    otherDesc.val('');
                }
                else {
                    var jettyKey = $("#fcl_payment_terms_Discharge_Key_" + (ctrl.replace("fcl_port_discharge_", "")));
                    jettyKey.val(tempKey);
                    var otherDesc = $("#" + ctrl + "_NameOther");
                    otherDesc.css({ 'display': isShow });
                    otherDesc.val('');
                }

                $('#createForm').validator("update");
            },
            error: function (response) {
                console.log(response);
            }
        });
    }

    Number.prototype.toFixedDown = function (digits) {
        var n = this - Math.pow(10, -digits) / 2;
        n += n / Math.pow(2, 53); // added 1360765523: 17.56.toFixedDown(2) === "17.56"
        return n.toFixed(digits);
    }

    function clearNumber(n) {
        var tmpValue = "";
        var regex = /^[0-9]+$/;
        var dotCount = 0;
        for (i = 0; i < n.length; i++) {
            if (n[i] == '.') {
                if (dotCount < 1 && tmpValue.length > 0) {
                    tmpValue += '.';
                }
                dotCount += 1;
            }
            else if (n[i].match(regex)) {
                tmpValue += n[i];
            }
        }
        return tmpValue;
    }

    $(function () {
        $('.numberOnly').keyup(function () {
            this.value = clearNumber($(this).val());
            if ($(this).val().indexOf('.') != -1) {
                if ($(this).val().split(".")[1].length > 2) {
                    if (isNaN(parseFloat(this.value))) return;
                this.value = parseFloat(this.value).toFixedDown(2);
                }
            }
            return this; //for chaining
        });

        $('#particularDateTime').dateRangePicker({
            autoClose: true,
            singleDate: true,
            startOfWeek: 'monday',
            format: 'DD/MM/YYYY',
        });

        $('#particularBuilt').dateRangePicker({
            autoClose: true,
            singleDate: true,
            startOfWeek: 'monday',
            format: 'DD/MM/YYYY',
        });

        $("#fcl_payment_terms_Cargoes_0__unit_other").addClass("unit-other-text-unactive");
        $("#fcl_payment_terms_Cargoes_0__unit").change(function () {
            if ($(this).val() == "OTHER") {
                $("#fcl_payment_terms_Cargoes_0__unit_other").removeClass("unit-other-text-unactive");
            } else {
                $("#fcl_payment_terms_Cargoes_0__unit_other").addClass("unit-other-text-unactive");
            }
        });
    });

    function addCargo() {
        var length = $("#div_cargo_list label").length / 2;
        var html =  '<div id="div_sub_cargo_list_' + (length + 1) + '">';
            html +=     '<label for="inputPassword" class="col-sm-4 control-label">Cargo ' + (length + 1) + ':</label>';
            html +=     '<div class="col-sm-8" style="padding-bottom: 5px;">';
            html +=         '<select class="form-control" id="fcl_payment_terms_Cargoes_' + length + '__cargo" name="fcl_payment_terms.Cargoes[' + length + '].cargo">' +
                                '<option value="">-- Select --</option>' +
                                @if(Model.cargo != null)
                                {
                                    foreach (var v in Model.cargo)
                                    {
                                        @:'<option value="@v.Value">@v.Text</option>' +
                                    }
                                }
                            '</select>';
            html +=     '</div>';

            html +=     '<label for="inputPassword" class="col-sm-4 control-label">Unit ' + (length + 1) + ':</label>';
            html +=     '<div class="col-sm-8" style="padding-bottom: 5px;">';
            html +=         '<select class="form-control" id="fcl_payment_terms_Cargoes_' + length + '__unit" name="fcl_payment_terms.Cargoes[' + length + '].unit">' +
                                '<option value="">-- Select --</option>' +
                                @if(Model.unit != null)
                                {
                                    foreach (var v in Model.unit)
                                    {
                                        @:'<option value="@v.Value">@v.Text</option>' +
                                    }
                                }
                            '</select>' +
                            '<input class="form-control" id="fcl_payment_terms_Cargoes_' + length + '__unit_other" name="fcl_payment_terms.Cargoes[' + length + '].unit_other" type="text">';
            html +=     '</div>';
            html += '</div>';

            $("#div_cargo_list").append(html);

            $("#fcl_payment_terms_Cargoes_" + length + "__unit_other").addClass("unit-other-text-unactive");
            $("#fcl_payment_terms_Cargoes_" + length + "__unit").change(function () {
                if ($(this).val() == "OTHER") {
                    $("#fcl_payment_terms_Cargoes_" + length + "__unit_other").removeClass("unit-other-text-unactive");
                } else {
                    $("#fcl_payment_terms_Cargoes_" + length + "__unit_other").addClass("unit-other-text-unactive");
                }
            });
    }
    function delCargo() {
        var length = $("#div_cargo_list label").length / 2;
        if (length > 1) {
            $("#div_sub_cargo_list_" + length).remove();
        }
    }

</script>