﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.EstimateFreightCalculationViewModel
@{
    ViewBag.Title = "Search";
}
<div class="wrapper-detail">
    <div class="page-header">
        <h1>Search Freight</h1>
    </div>
    @using (Html.BeginForm("SearchResult", "EstimateFreightCalculation", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <div class="form-group">
            <div class="col-md-4">
                <label for="inputEmail3" class="col-sm-5 control-label">Calculation Date</label>
                <div class="col-sm-7">
                    <div class="box-date">
                        @*@Html.TextBox("datePurchaseField", null, new { @class = "form-control input-date-picker", @id = "date-range-start" })*@
                        @Html.TextBoxFor(m => m.search_date, Model.search_date, new { @class = "form-control input-date-picker clear-value" })
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <label for="inputEmail3" class="col-sm-3 control-label">Vessel</label>
                <div class="col-sm-8">
                    @*@Html.DropDownListFor(model => model.vehicle, ViewBag.getVessel as List<SelectListItem>, "Select All", new { @class = "form-control" })*@


                    @Html.DropDownListFor(m => m.search_vessel, new SelectList(ViewBag.getVessel, "Value", "Text", Model.search_vessel), "-- Select All --", new { @class = "form-control clear-value" })
                </div>
            </div>
            <div class="col-md-4">
                <label for="inputEmail3" class="col-sm-4 control-label">Charterer</label>
                <div class="col-sm-8">
                    @*@Html.DropDownListFor(model => model.customer, ViewBag.getChaterer as List<SelectListItem>, "Select All", new { @class = "form-control" })*@


                    @Html.DropDownListFor(m => m.search_customer, new SelectList(ViewBag.getChaterer, "Value", "Text", Model.search_customer), "-- Select All --", new { @class = "form-control clear-value" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <label for="inputEmail3" class="col-sm-5 control-label">Laycan</label>
                <div class="col-sm-7">
                    <div class="box-date">
                        @*@Html.TextBox("laycan", null, new { @class = "form-control input-date-picker", @id = "laycanDateSelect" })*@
                        @Html.TextBoxFor(m => m.search_laycan, Model.search_laycan, new { @class = "form-control input-date-picker clear-value" })
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <label for="inputEmail3" class="col-sm-3 control-label">Cargo</label>
                <div class="col-sm-8">
                    @*@Html.DropDownListFor(model => model.cargo, ViewBag.getCargo as List<SelectListItem>, "Select All", new { @class = "form-control" })*@

                    @Html.DropDownListFor(m => m.search_cargo, new SelectList(ViewBag.getCargo, "Value", "Text", Model.search_cargo), "-- Select All --", new { @class = "form-control clear-value" })
                </div>
            </div>
            <div class="col-md-4">
                <label for="inputEmail3" class="col-sm-4 control-label">Status</label>
                <div class="col-sm-8">
                    @*@Html.DropDownListFor(model => model.status, ViewBag.getStatus as List<SelectListItem>, "Select All", new { @class = "form-control" })*@

                    @Html.DropDownListFor(m => m.search_status, new SelectList(ViewBag.getStatus, "Value", "Text", Model.search_status), "-- Select All --", new { @class = "form-control clear-value" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <label for="inputEmail3" class="col-sm-5 control-label">Laytime</label>
                <div class="col-sm-7">
                    @*@Html.TextBox("laytime", null, new { @class = "form-control" })*@
                    @Html.TextBoxFor(m => m.search_laytime, Model.search_laytime, new { @class = "form-control clear-value" })
                </div>
            </div>
            @*<div class="col-md-4">
                    <label for="inputEmail3" class="col-sm-3 control-label">Load Port</label>
                    <div class="col-sm-8">
                        <div class="box-date">
                            @Html.DropDownListFor(model => model.loadPort, ViewBag.getPortLoad as List<SelectListItem>, "Select All", new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="inputEmail3" class="col-sm-4 control-label">Discharge Port</label>
                    <div class="col-sm-8">
                        @Html.DropDownListFor(model => model.dischargePort, ViewBag.getPortDischarge as List<SelectListItem>, "Select All", new { @class = "form-control" })
                    </div>
                </div>*@
        </div>

        <div class="form-group">
            <div class="col-md-12">
                <div class="col-md-4 pull-left">
                    @Html.ActionLink("Add", "/", new { Controller = "EstimateFreightCalculation" }, new { @class = "btn btn-success" })
                </div>
                <div class="col-md-4 text-center">
                    <button type="submit" class="btn btn-primary">Search</button>
                    <button type="button" onclick="onClearValue();" class="btn btn-default">Clear All</button>
                </div>
                <div class="col-md-4 text-right">
                    <div id="dupBtn">
                        <a class="btn btn-info" href="#" id="dubCopy" name="dubCopy" role="button" onclick="chkChecked()">Copy</a>
                    </div>
                </div>
            </div>
        </div>

    }
    <div class="page-header">
        <h1>Search Result</h1>
    </div>
    <div class="task-box">
        <div class="wrapper-table collapse in" id="collapseJuly">
            <table id="example" class="table table-hover table-striped table-bordered" cellspacing="0">
                <thead>
                    <tr>
                        <th>Date/Status</th>
                        <th>Freight No.</th>
                        <th>Vessel Name</th>
                        <th>Laycan </th>
                        <th>Charterer</th>
                        <th>Created by</th>
                        <th>Last Update</th>
                        <th>Copy</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.FreightTransaction == null)
                    {
                        <tr class="waiting" data-href="http://myspace.com">
                            <td colspan="8">Waiting for search</td>
                        </tr>
                    }
                    else
                    {
                        if (Model.FreightTransaction.Count > 0)
                        {
                            foreach (var v in Model.FreightTransaction)
                            {
                                var newStatus = v.status == "WAITING CERTIFIED" ? "WAITING ENDORSED" : v.status;
                                <tr class="drafts" style="cursor: pointer;">
                                    <td class="clickable-row" data-href="Create?TranID=@v.Transaction_id_Encrypted&Tran_Req_ID=@v.Req_transaction_id_Encrypted&PURNO=@v.Purchase_no_Encrypted&Reason=@v.reason_Encrypted">@v.date_purchase <span>@newStatus</span></td>
                                    <td class="clickable-row" data-href="Create?TranID=@v.Transaction_id_Encrypted&Tran_Req_ID=@v.Req_transaction_id_Encrypted&PURNO=@v.Purchase_no_Encrypted&Reason=@v.reason_Encrypted">@v.purchase_no</td>
                                    <td class="clickable-row" data-href="Create?TranID=@v.Transaction_id_Encrypted&Tran_Req_ID=@v.Req_transaction_id_Encrypted&PURNO=@v.Purchase_no_Encrypted&Reason=@v.reason_Encrypted">@v.vessel</td>
                                    <td class="clickable-row" data-href="Create?TranID=@v.Transaction_id_Encrypted&Tran_Req_ID=@v.Req_transaction_id_Encrypted&PURNO=@v.Purchase_no_Encrypted&Reason=@v.reason_Encrypted">@v.laycan_from to @v.laycan_to</td>
                                    <td class="clickable-row" data-href="Create?TranID=@v.Transaction_id_Encrypted&Tran_Req_ID=@v.Req_transaction_id_Encrypted&PURNO=@v.Purchase_no_Encrypted&Reason=@v.reason_Encrypted">@v.charterer_name</td>
                                    <td class="clickable-row" data-href="Create?TranID=@v.Transaction_id_Encrypted&Tran_Req_ID=@v.Req_transaction_id_Encrypted&PURNO=@v.Purchase_no_Encrypted&Reason=@v.reason_Encrypted">@v.create_by</td>
                                    <td class="clickable-row" data-href="Create?TranID=@v.Transaction_id_Encrypted&Tran_Req_ID=@v.Req_transaction_id_Encrypted&PURNO=@v.Purchase_no_Encrypted&Reason=@v.reason_Encrypted">@v.update_date</td>
                                    <td>
                                        <input type="hidden" name="dupLinkField" class="form-control" value="Create?TranID=@v.Transaction_id_Encrypted&Tran_Req_ID=@v.Req_transaction_id_Encrypted&PURNO=@v.Purchase_no_Encrypted&Reason=@v.reason_Encrypted&isDup=true" hidden="hidden" />
                                        <input name="dup" type="checkbox" value="true" onclick="myFunction();" />
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr class="waiting">
                                <td colspan="8">Data not found</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <script>
        $('input[type="checkbox"]').on('change', function () {
            $('input[name="' + this.name + '"]').not(this).prop('checked', false);
        });
        $(".clickable-row").click(function () {
            window.document.location = $(this).data("href");
        });
        function myFunction() {
            var dupLinkField = document.getElementsByName("dupLinkField");
            var dupChk = document.getElementsByName("dup");
            var dubCopyHref = document.getElementsByName("dubCopy");
            for (var i = 0; i < dupLinkField.length; i++) {
                if (dupChk[i].checked) {
                    dubCopyHref[0].setAttribute('href', dupLinkField[i].value);
                    break;
                } else {
                    dubCopyHref[0].setAttribute('href', "#");
                }

            }

        }      

        function chkChecked() {
            var dupChk = document.getElementsByName("dup");
            var dubCopyHref = document.getElementsByName("dubCopy");
            var status = true;
            if (dupChk.checked) {
                return true;
            }

        }
    </script>
</div>
<script>
    $(function () {
        $('#search_date').dateRangePicker(
        {
            startOfWeek: 'monday',
            format: 'DD/MM/YYYY',

            //autoClose: true,
            //singleDate: true,
            //showShortcuts: false,
            //format: "DD/MM/YYYY"
        });
        $('#search_laycan').dateRangePicker(
        {
            startOfWeek: 'monday',
            format: 'DD/MM/YYYY',
        });
        $('#example').DataTable({
            "ordering": false
        });
    });

    function onClearValue() {
        $('.clear-value').val("");
    }
</script>