﻿@using System.Globalization;
@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.ThroughputViewModel
@{
    ViewBag.Title = "Search";
    var page_title = "Search Throughput Fee";
}


<div class="page-header">
    <h3>@page_title</h3>
</div>

@using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="row">
        
        <div class="col-md-6">
            <div class="form-group">
                <div>
                    <label class="col-md-3 control-label">Customer:</label>
                    <div class="col-md-6">
                        @Html.DropDownListFor(model => model.Throughput_Search.sCustomer, new SelectList(Model.ddl_Customer, "Value", "Text"), "-- Select --", new { @class = "form-control", @id = "ddlCustomer" })
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div>
                    <label class="col-md-5 control-label">Completed Month:</label>
                    <div class="col-md-3">
                        <select id="ddlDeliveryMonth" name="Throughput_Search.sDeliveryMonth" class="form-control">
                            <option value="">-- Select -- </option>
                            @{
                                CultureInfo provider = new CultureInfo("en-US");
                                string format = "dd/MM/yyyy";
                                for (int i = 1; i <= 12; i++)
                                {
                                    string month = i.ToString().PadLeft(2, '0');
                                    string monthStr = "01/" + month.ToString() + "/" + DateTime.Now.ToString("yyyy", provider);
                                    string monthName = DateTime.ParseExact(monthStr, format, provider).ToString("MMM", provider);
                                    <option value="@month">@monthName</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-md-3">
                        <select id="ddlDeliveryYear" name="Throughput_Search.sDeliveryYear" class="form-control">
                            <option value="">-- Select -- </option>
                            @{
                                for (int i = 0; i < 10; i++)
                                {
                                    string year = DateTime.Now.AddYears(-i).ToString("yyyy", provider);
                                    <option value="@year">@year</option>
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group" style="padding-top:10px">
        <div style="text-align:center">

            <button type="submit" class="btn btn-primary" style="min-width:125px" name="action:Search">Search</button>
            <button type="submit" class="btn btn-primary" style="min-width:125px" name="action:Add">Add</button>
            @*<button type="submit" class="btn btn-primary" style="min-width:125px" name="action:Edit">Edit</button>*@
            <button type="button" class="btn btn-default" style="min-width:125px" onclick="clearSearch()">Clear</button>
        </div>
    </div>

    <div class="row" style="overflow-x:scroll;overflow-y:scroll;">
        <table id="searchResultTable" class="table table-hover display " cellspacing="0">
            <thead>
                <tr>
                    <th style="width:150px"></th>
                    <th style="width:250px;text-align:center">Completed Month</th>
                    <th style="width:300px;text-align:center">Trip No.</th>
                    <th style="width:300px;text-align:center">Vessel</th>
                    <th style="width:300px;text-align:center">Customer</th>
                    <th style="width:200px;text-align:center">QTY (BBL)</th>
                    <th style="width:100px;text-align:center">QTY (MT)</th>
                    <th style="width:200px;text-align:center">Sales Order</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Throughput_Search.SearchData != null)
                {
                    if (Model.Throughput_Search.SearchData != null && Model.Throughput_Search.SearchData.Count() > 0)
                    {
                        var i = 0;
                        foreach (var item in Model.Throughput_Search.SearchData)
                        {
                            <tr>
                                <td>
                                    <p><a style="background: transparent; border-style: none;text-decoration: underline; color: blue; padding-bottom: 10px;" href="@Url.Action("AddEdit", "Throughput", new { pTripNo = item.dTripNo })" title=@item.dTripNo>Edit</a></p>
                                    @if (string.IsNullOrEmpty(item.dSalesOrder))
                                    {
                                        <input type="button" id="CreateSO" @item.dTripNo value="CreateSO" onclick="createSO('@item.dTripNo','@i')" style="background: transparent; border-style: none;text-decoration: underline; color: blue; padding-bottom: 10px;">
                                    }
                                    else
                                    {
                                        <input type="button" id="ChangeSO" @item.dTripNo value="ChangeSO" onclick="changeSO('@item.dTripNo','@i')" style="background: transparent; border-style: none;text-decoration: underline; color: blue; padding-bottom: 10px;">
                                    }
                                </td>
                                <td>
                                    @item.dCompleted
                                </td>
                                <td>
                                   @item.dTripNo
                                </td>
                                <td>
                                   @item.dVessel
                                </td>
                                <td>
                                   @item.dCustomer
                                </td>
                                <td>
                                    @item.dQTYBBL
                                </td>
                                <td>
                                    @item.dQTYMT
                                </td>
                                <td>
                                    @item.dSalesOrder
                                </td>
                                
                            </tr>
                            i++;
                        }
                    }
                    else
                    {
                        <tr class="waiting"><td colspan="19">No Data found</td></tr>
                    }
                }
                else
                {
                    <tr class="waiting"><td colspan="19">No Data found</td></tr>
                }

            </tbody>
        </table>
    </div>

                                }

<!-- Result Popup -->
<div class="modal fade" id="resultPopup" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <p id="pMsg">
                    @TempData["ReponseMessage"]
                </p>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-default" id="btnCreate" name="action:Create">Yes</button>
                <button type="submit" class="btn btn-default" id="btnUpdate" name="action:Update">Yes</button>
                <button type="submit" class="btn btn-default" id="btnCancel" name="action:Cancel">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <input id="selectedTripNo" name="SOClearLine_Search.sTripNo_Select" type="hidden" value="">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">
    $(document).ready(function () {

        $('#txtDeliveryDate').dateRangePicker({
            startOfWeek: 'monday',
            format: "DD/MM/YYYY"
        });

        $('#searchResultTable').DataTable({
            searching: false,
            paging: true,
            "bSort": false
        });
        
    });

    function clearSearch() {
        $('#txtTripNo').val('');
        $('#txtTripNo').text('');        
        $('#txtDeliveryDate').val('');
        $('#txtDeliveryDate').text('');        
        $('#ddlPlant').val('').change();
        $('#ddlCustomer').val('').change();
        $('#searchResultTable tbody').empty();
    }

    function createSO(TripNo, i) {
        debugger;
        $('#selectedTripNo').val(TripNo); 
        $('#btnCreate').show();
        $('#btnUpdate').hide();
        $('#btnCancel').hide();
        $('#pMsg').text('Are you sure to create sale order in SAP? ');
        $('#resultPopup').modal({ backdrop: 'static', keyboard: false });
        $('#resultPopup').modal('show');
    }

    function updateSO(TripNo, i) {
        $('#selectedTripNo').val(TripNo); 
        $('#btnCreate').hide();
        $('#btnUpdate').show();
        $('#btnCancel').hide();
        $('#pMsg').text('Are you sure to update sale order in SAP? ');

        $('#resultPopup').modal({ backdrop: 'static', keyboard: false });
        $('#resultPopup').modal('show');
    }

    function cancelSO(TripNo, i) {
        $('#selectedTripNo').val(TripNo); 
        $('#btnCreate').hide();
        $('#btnUpdate').hide();
        $('#btnCancel').show();
        $('#pMsg').text('Are you sure to cancel sale order in SAP? ');

        $('#resultPopup').modal({ backdrop: 'static', keyboard: false });
        $('#resultPopup').modal('show');
    }

</script>

