﻿
@{
    ViewBag.Title = "Download App";
}

<div class="wrapper-detail">
    <div class="row">
        <div>
            <h1 style="font-weight: bold;">Testing upload a Hedge excel file</h1>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default" style="min-height:510px;">
                <div class="panel-body">
                    <h3 style="font-weight:bold; margin-top:-10px;">Create from Excel file</h3>
                    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="file" id="inputExcelFile" name="inputExcelFile" style="width:100%;" accept=".xls,.xlsx" placeholder="Please select an excel file">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" class="btn btn-default" name="btnExcel" id="btnExcel" value="Y">Upload</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div>
            <h1 style="font-weight: bold;">Testing upload a spiral file</h1>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default" style="min-height:510px;">
                <div class="panel-body">
                    <h3 style="font-weight:bold; margin-top:-10px;">Create from Excel file</h3>
                    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="file" id="inputExcelFile" name="inputExcelFile" style="width:100%;" accept=".xls,.xlsx" placeholder="Please select an excel file">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" class="btn btn-default" name="btnSpiral" id="btnSpiral" value="Y">Upload</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
</div>
