﻿@{
    ViewBag.Title = "Search";
    Layout = "~/Areas/CPAIMVC/Views/Shared/_Layout.cshtml";
    //string type = Request.QueryString["Type"] != null ? Request.QueryString["Type"].ToString() : Session["Charter_Type"] != null ? Session["Charter_Type"].ToString() : "";
    string typeDecrypt = ViewBag.TypeDecrypt;
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Approval Form</title>
    <base href="/CHR/CPAIMVC/ApprovalForm/">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="icon" type="image/x-icon" href="favicon.ico"> -->
    <link href="/assets/favicon.jpg" rel="shortcut icon" />
    <script>
  // See http://www.backalleycoder.com/2016/05/13/sghpa-the-single-page-app-hack-for-github-pages/
  (function(){
    var redirect = sessionStorage.redirect;
    delete sessionStorage.redirect;
    if (redirect && redirect != location.href) {
      history.replaceState(null, null, redirect);
    }
  })();
    </script>
    <script>
  var bases = document.getElementsByTagName('base');
  var base_api = (bases.length && bases[0] && bases[0].href) || '';
  base_api = "/CHR/CPAIMVC/";
    </script>
</head>
<body>
    <app-root>
        <div class="loading">
            <div class="sk-cube-grid">
                <div class="sk-cube sk-cube1"></div>
                <div class="sk-cube sk-cube2"></div>
                <div class="sk-cube sk-cube3"></div>
                <div class="sk-cube sk-cube4"></div>
                <div class="sk-cube sk-cube5"></div>
                <div class="sk-cube sk-cube6"></div>
                <div class="sk-cube sk-cube7"></div>
                <div class="sk-cube sk-cube8"></div>
                <div class="sk-cube sk-cube9"></div>
            </div>
        </div>
    </app-root>
    <script type="text/javascript" src="~/Content/paf/inline.bundle.js"></script>
    <script type="text/javascript" src="~/Content/paf/polyfills.bundle.js"></script>
    <script type="text/javascript" src="~/Content/paf/scripts.bundle.js"></script>
    <script type="text/javascript" src="~/Content/paf/styles.bundle.js"></script>
    <script type="text/javascript" src="~/Content/paf/vendor.bundle.js"></script>
    <script type="text/javascript" src="~/Content/paf/main.bundle.js"></script>
</html>

