﻿@using ProjectCPAIEngine.Utilities
@using ProjectCPAIEngine.Areas.CPAIMVC.ViewModels
@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.HedgeDealDetailViewModel
@if (!Model.HasItem)
{
    return;
}

@{
    var tabGroup = Guid.NewGuid().ToString("N");
}

<style>
    .button-colhead {
        height: 25px !important;
        padding-top: 0px;
        padding-bottom: 0px;
        width: 35px;
        font-size: 16px;
    }
    .button-otherbid {
        height: 25px !important;
        padding-top: 0px;
        padding-bottom: 0px;
        width: 60px !important;
        font-size: 16px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .text-value {
        width: 100px;
        margin: auto;
        text-align: right;
    }
</style>

<div class="row">
    <div class="col-md-8">
        <div class="form-group">
            <div class="col-md-2">
                @Html.LabelFor(model => model.DealTenorDates, "Deal Tenor", new { @class = "control-label" })
                <span class="require">*</span>
            </div>
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.DealTenorDates, new { @class = "form-control essential input-date-picker", type = "text", placeholder = "DD-MMM-YYYY to DD-MMM-YYYY", maxlength = "26" })
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-8" style="text-align: right;">
                        @Html.Label("TotalDealVol", "Total Deal Vol :", new { @class = "control-label" })
                    </div>
                    <div class="col-md-3">
                        @Html.TextBox("TotalDealVol", Model.TotalDealVolumn, new { @class = "form-control essential text-volumn", @disabled = "disabled" })
                    </div>
                    <div class="col-md-1">
                        @Html.Label("TotalDealVolUnit", Model.MainUnit, new { @class = "control-label" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <div class="col-md-4">
                @Html.LabelFor(model => model.VolumnPerMonth, "Volumn/Month", new { @class = "control-label" })
                <span class="require">*</span>
            </div>
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.VolumnPerMonth, new { @class = "form-control essential" })
            </div>
            <div class="col-md-2">
                @Html.Label("VolumnPerMonthUnit", Model.MainUnit, new { @class = "control-label" })
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <div class="col-md-4">
                @Html.LabelFor(model => model.TotalVolumn, "Total Volumn", new { @class = "control-label" })
            </div>
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.TotalVolumn, new { @class = "form-control essential" })
            </div>
            <div class="col-md-2">
                @Html.Label("TotalVolumnUnit", Model.MainUnit, new { @class = "control-label" })
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <div class="col-md-4">
                @Html.CheckBox("IsNetPremium", Model.IsNetPremium)
                @Html.LabelFor(model => model.IsNetPremium, "Net Premium", new { @class = "control-label" })
            </div>
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.NetPremiumVolumn, new { @class = "form-control essential" })
            </div>
            <div class="col-md-2">
                @Html.Label("NetPremiumVolumnUnit", Model.MainUnit, new { @class = "control-label" })
            </div>
        </div>
    </div>
</div>
<div class="row detail-box">
    <div class="wrapper-table collapse in">
        @{
            var colCount = 6;
            var options = Model.TenorItems.SelectMany(c => c.Values).Select(c => new { OptionName = c.OptionName, IsNetPremium = c.IsNetPremium }).Distinct().ToList();
        }
        <table id="hedgeDealDetailTable" class="table table-hover display" cellspacing="0" style="width: 100%;">
            <thead>
                <tr>
                    <th style="padding-top: 0px;padding-bottom: 0px;"><span class="head-subtitle">No</span></th>
                    <th style="padding-top: 0px;padding-bottom: 0px;"><span class="head-subtitle">Tenor</span></th>
                    <th style="padding-top: 0px;padding-bottom: 0px;"><span class="head-subtitle">Volumn</span></th>
                    @foreach (var option in options)
                    {
                        <th style="padding-top: 0px;padding-bottom: 0px; max-width: 80px;"><span class="head-subtitle" style="display: inline;">@option.OptionName</span><button type="button" class="btn btn-info button-small button-colhead" onclick="onAll()">All</button></th>

                        colCount++;
                        if (option.IsNetPremium)
                        {
                            <th style="padding-top: 0px;padding-bottom: 0px; max-width: 80px;"><span class="head-subtitle" style="display: inline;">Premium</span><button type="button" class="btn btn-info button-small button-colhead" onclick="onAll()">All</button></th>
                            colCount++;
                        }
                    }
                    <th style="padding-top: 0px;padding-bottom: 0px;"><span class="head-subtitle">Extend</span></th>
                    <th style="padding-top: 0px;padding-bottom: 0px;"><span class="head-subtitle">Settlement</span></th>
                    <th style="padding-top: 0px;padding-bottom: 0px;"><span class="head-subtitle">Tenor Status</span></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.TenorItems == null || Model.TenorItems.Count == 0)
                {
                    <tr class="waiting">
                        <td colspan="@colCount">Deal was not found</td>
                    </tr>
                }
                else
                {
                    foreach (var item in Model.TenorItems)
                    {
                        <tr class="drafts">
                            <td><span>@item.Order</span></td>
                            <td><span>@item.Tenor</span></td>
                            <td><span>@item.MainVolumn</span></td>
                            @foreach (var option in options)
                            {
                                var value = item.Values.FirstOrDefault(c => c.OptionName.Equals(option.OptionName));
                                <td style="max-width: 80px;">@Html.TextBox("OptionValue" + item.Order, value.OptionValue, new { @class = "form-control essential text-value" })</td>
                                if (option.IsNetPremium && value.IsNetPremium)
                                {
                                    <td style="max-width: 80px;">@Html.TextBox("PremiumValue" + item.Order, value.PremiumValue, new { @class = "form-control essential text-value" })</td>
                                }
                            }
                            <td><span>@item.Extend</span></td>
                            <td><span>@item.Settlement</span></td>
                            <td><span>@item.TenorStatus</span></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="row form-group col-md-10" style="margin-bottom: 0px;">
            <div class="col-md-3">
                @Html.Label("PreValidate", "Pre-Validate", new { @class = "control-label" })
                <span class="glyphicon glyphicon-question-sign"></span>
            </div>
            <div class="col-md-3 text-right">
                <button type="button" class="btn btn-info button-small" style="width:80px;" onclick="onCheckPreValidate()">Check</button>
            </div>
            <div class="col-md-2">
                @Html.TextBox("PreValidate", string.Empty, new { @class = "form-control essential text-volumn text-center", @disabled = "disabled" })
            </div>
        </div>
        <div class="row">
            <div class="detail-box col-md-10 trimleft">
                <div class="wrapper-table collapse in">
                    @{
                    var isNetPremium = options.Any(c => c.IsNetPremium);
                    }
                    <table id="hedgeDealPreValidateTable" class="table table-hover display" cellspacing="0" style="width: 100%;">
                        <thead>
                            <tr>
                                <th style="padding-top: 0px;padding-bottom: 0px;"><span class="head-subtitle">Option</span></th>
                                <th style="padding-top: 0px;padding-bottom: 0px;"><span class="head-subtitle">AVG Price</span></th>
                                @if (isNetPremium)
                            {
                                    <th style="padding-top: 0px;padding-bottom: 0px;"><span class="head-subtitle">Premium</span></th>
                            }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var option in options)
                        {
                                <tr class="drafts">
                                    <td><span>@option.OptionName</span></td>
                                    <td style="max-width: 80px;"><span></span></td>
                                    @if (option.IsNetPremium)
                                {
                                        <td style="max-width: 80px;"></td>
                                }
                                </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row form-group col-md-10" style="margin-bottom: 0px;">
            <div class="col-md-3">
                @Html.Label("OtherBidPrice", "Other bid price", new { @class = "control-label" })
            </div>
        </div>
        <div class="row ">
            <div class="detail-box col-md-10">
                <div class="wrapper-table collapse in">
                    <table id="hedgeDealOtherBidPriceTable" class="table table-hover display" cellspacing="0" style="width: 100%;">
                        <thead>
                            <tr>
                                <th style="padding-top: 0px;padding-bottom: 0px;"><span class="head-subtitle">No.</span></th>
                                <th style="padding-top: 0px;padding-bottom: 0px;"><span class="head-subtitle">Counterparties</span></th>
                                <th style="padding-top: 0px;padding-bottom: 0px;"><span class="head-subtitle">Price (unit price)</span></th>
                                <th style="padding-top: 0px;padding-bottom: 0px;"><span class="head-subtitle">Note</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.OtherBidPriceItems == null || Model.OtherBidPriceItems.Count == 0)
                        {
                                <tr class="waiting">
                                    <td colspan="4">There isn’t other bid price</td>
                                </tr>
                        }
                        else
                        {
                            foreach (var bidPrice in Model.OtherBidPriceItems)
                            {
                                    <tr class="drafts">
                                        <td><span>@bidPrice.Order</span></td>
                                        <td><span>@bidPrice.Counterparty</span></td>
                                        <td><span>@bidPrice.Price</span></td>
                                        <td><span>@bidPrice.Note</span></td>
                                    </tr>
                            }
                        }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-2 trimright">
                <div class="row">
                    <button type="button" class="btn btn-info button-small button-otherbid" style="width:80px;" onclick="onAddOtherBid()"><span class="glyphicon glyphicon-plus-sign" style="top: 4px;"></span></button>
                </div>
                <div class="row">
                    <button type="button" class="btn btn-info button-small button-otherbid" style="width:80px;" onclick="onDeleteOtherBid()"><span class="glyphicon glyphicon-minus-sign" style="top: 4px;"></span></button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function onAll() { }
    function onCheckPreValidate() { }
    function onAddOtherBid() { }
    function onDeleteOtherBid() { }
</script>