﻿@using ProjectCPAIEngine.Utilities
@using ProjectCPAIEngine.Areas.CPAIMVC.ViewModels

<div class="row">
    <div class="verify-box col-md-12">
        <div class="wrapper-table collapse in">
            <table id="hedgeDealVContractTable" class="table table-hover display" cellspacing="0" style="width: 100%;">
                <thead>
                    <tr>
                        <th style="padding-top: 0px;padding-bottom: 0px;"><span class="head-subtitle">No.</span></th>
                        <th style="padding-top: 0px;padding-bottom: 0px;"><span class="head-subtitle">Contract No.</span></th>
                        <th style="padding-top: 0px;padding-bottom: 0px;"><span class="head-subtitle">Contract File</span></th>
                        <th style="padding-top: 0px;padding-bottom: 0px;"><span class="head-subtitle">Remark</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="drafts">
                        <td><span>1</span></td>
                        <td><span>Credit Rating</span></td>
                        <td><span>PASS</span><input type="checkbox" value="true" style="margin-left: 10px;" /><span>By pass</span></td>
                        <td>
                            @Html.TextBox("remark", string.Empty, new { @class = "form-control essential", @style = "display: inline; width: 80%;" })
                            <button type="button" class="btn btn-info button-small" onclick="onSelectFile()">Select File</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <button type="button" class="btn btn-info button-small" onclick="onAddContract()">Add Contract</button>
    </div>
</div>