﻿@using ProjectCPAIEngine.Utilities
@using ProjectCPAIEngine.Areas.CPAIMVC.ViewModels
@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.HedgeDealToolViewModel
@if (!Model.HasTool)
{
    return;
}

@{
    var tabGroup = Guid.NewGuid().ToString("N");
}

<style>
    fieldset {
        border: 1px solid silver;
        padding: 10px;
        margin: 5px;
    }
    legend {
        width: auto;
        border-bottom: none;
        color: saddlebrown;
        margin-bottom: 0px;
    }
    .option-box {
        margin-bottom: 0px;
    }
</style>
<div class="tab-group-@tabGroup">
    @{
        var hasSelected = Model.Tools.Any(c => c.IsSelected);
    }
    <ul class="nav nav-tabs" role="tablist">
        @foreach (var tool in Model.Tools)
        {
            var activeClass = "inactive";
            if (!hasSelected || tool.IsSelected || Model.Tools.Count == 1)
            {
                activeClass = "active";
                hasSelected = true;
            }

            <li role="presentation" class="presentPackage @(activeClass)">
                <a href="#" aria-controls="@tool.ToolId" role="tab" class="radioPackage" data-toggle="tab" data-target=".tab-group-@tabGroup">
                    @if (tool.IsSelected)
                    {
                        <input type="radio" name="group-@tabGroup" value="@tool.ToolId" class="radioPackage" checked />
                    }
                    else
                    {
                        <input type="radio" name="group-@tabGroup" value="@tool.ToolId" class="radioPackage" />
                    }
                    @tool.ToolName
                </a>
            </li>
        }
    </ul>

    <div class="tab-content">
        @{
            hasSelected = Model.Tools.Any(c => c.IsSelected);
        }
        @foreach (var tool in Model.Tools)
        {
            var activeClass = string.Empty;
            if (!hasSelected || tool.IsSelected || Model.Tools.Count == 1)
            {
                activeClass = "active";
                hasSelected = true;
            }

            <div role="tabpanel" class="tab-pane @(activeClass)" id="@tool.ToolId">
                <div class="row">
                    <fieldset>
                        <legend>Option</legend>
                        <div class="col-md-7">
                            <div class="option-box">
                                <div class="wrapper-table collapse in">
                                    <table id="hedgeToolOptionTable" class="table table-hover display" cellspacing="0" style="width: 100%;">
                                        <thead>
                                            <tr>
                                                <th style="padding-top: 0px;padding-bottom: 0px;"><span class="head-subtitle">Option</span></th>
                                                <th style="padding-top: 0px;padding-bottom: 0px;"><span class="head-subtitle">Net Target Price</span></th>
                                                <th style="padding-top: 0px;padding-bottom: 0px;"><span class="head-subtitle">Return</span></th>
                                                <th style="padding-top: 0px;padding-bottom: 0px;"><span class="head-subtitle">Premium</span></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (tool.Options == null || tool.Options.Count == 0)
                                            {
                                                <tr class="waiting">
                                                    <td colspan="4">Option was not found</td>
                                                </tr>
                                            }
                                            else
                                            {
                                                foreach (var option in tool.Options)
                                                {
                                                    <tr class="drafts">
                                                        <td><span>@option.OptionName</span><a href="javascript:void(0);" style="cursor:pointer"><span class="glyphicon glyphicon-question-sign"></span></a></td>
                                                        <td>@Html.TextBox("NetTargetPrice", option.NetTargetPrice, new { @class = "form-control essential", @disabled = "disabled" })</td>
                                                        <td>@Html.TextBox("Return", option.Return, new { @class = "form-control essential", @disabled = "disabled" })</td>
                                                        <td>@Html.TextBox("Premium", option.Premium, new { @class = "form-control essential", @disabled = "disabled" })<span>$/BBL</span></td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            @Html.CheckBox("IsNetPremium", tool.IsNetPremium)
                                            @Html.Label("IsNetPremium","Net Premium", new { @class = "control-label" })
                                        </div>
                                        <div class="col-md-3">
                                            @Html.TextBox("Premium", tool.NetPremiumValue, new { @class = "form-control essential", @disabled = "disabled" })
                                        </div>
                                        <div class="col-md-1">
                                            @Html.Label("NetPremiumUnit", tool.NetPremiumUnit, new { @class = "control-label" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-3">
                                            @Html.CheckBox("IsUseFormula", tool.IsUseFormula)
                                            @Html.Label("IsUseFormula", "Use Formula", new { @class = "control-label" })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            @Html.TextArea("Formula", tool.Formula,2,5, new { @class = "form-control essential", @disabled = "disabled" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="row">
                    <fieldset>
                        <legend>Extendible</legend>
                        <div class="col-md-7">
                            <div class="option-box">
                                <div class="wrapper-table collapse in">
                                    <table id="hedgeToolExtendibleTable" class="table table-hover display" cellspacing="0" style="width: 100%;">
                                        <thead>
                                            <tr>
                                                <th style="padding-top: 0px;padding-bottom: 0px;"><span class="head-subtitle">No</span></th>
                                                <th style="padding-top: 0px;padding-bottom: 0px;"><span class="head-subtitle">Extend Period</span></th>
                                                <th style="padding-top: 0px;padding-bottom: 0px;"><span class="head-subtitle">Exercise Date</span></th>
                                                <th style="padding-top: 0px;padding-bottom: 0px;"><span class="head-subtitle">Extend Volumn</span></th>
                                                <th style="padding-top: 0px;padding-bottom: 0px;"><span class="head-subtitle"></span></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (tool.Extendibles == null || tool.Extendibles.Count == 0)
                                            {
                                                <tr class="waiting">
                                                    <td colspan="5">Extendible was not found</td>
                                                </tr>
                                            }
                                            else
                                            {
                                                foreach (var extendible in tool.Extendibles)
                                                {
                                                    <tr class="drafts">
                                                        <td><span>@extendible.Order</span></td>
                                                        <td><span>@extendible.ExtendPeriod</span></td>
                                                        <td><span>@extendible.ExerciseDate</span></td>
                                                        <td>@Html.TextBox("ExtendVolumn", extendible.ExtendVolumn, new { @class = "form-control essential" })</td>
                                                        <td><button type="button" class="btn btn-info button-small" onclick="onExercise()">Exercise</button></td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-8" style="text-align: right;">
                                            @Html.Label("TotalExtendVol", "Total Extend Vol :", new { @class = "control-label" })
                                        </div>
                                        <div class="col-md-3">
                                            @Html.TextBox("TotalExtendVol", string.Empty,new { @class = "form-control essential text-volumn", @disabled = "disabled" })
                                        </div>
                                        <div class="col-md-1">
                                            @Html.Label("NetPremiumUnit", tool.NetPremiumUnit, new { @class = "control-label" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="row">
                    <fieldset>
                        <legend>Swaption</legend>
                        <div class="col-md-8">
                            <div class="form-group">
                                <div class="col-md-2">
                                    @Html.Label("SwapExerciseDate", "Exercise Date :", new { @class = "control-label" })
                                </div>
                                <div class="col-md-6">
                                    @Html.TextBox("SwapExerciseDate", tool.SwaptionExerciseDate, new { @class = "form-control essential", @disabled = "disabled", @style= "width: 150px;text-align: center;" })
                                </div>
                                <div class="col-md-3">
                                    <button type="button" class="btn btn-info button-small" onclick="onExercise()">Exercise</button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="row">
                    <div class="col-md-6 trimleft">
                        <fieldset>
                            <legend>Target Redemption</legend>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            @Html.Label("TargetRedemptionGain", "Gain", new { @class = "control-label" })
                                        </div>
                                        <div class="col-md-6">
                                            @Html.TextBox("TargetRedemptionGain", tool.TargetRedemptionGain, new { @class = "form-control essential", @disabled = "disabled" })
                                        </div>
                                        <div class="col-md-2">
                                            @Html.Label("TargetRedemptionGainUnit", tool.MainUnit, new { @class = "control-label" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            @Html.Label("TargetRedemptionGainActual", "Gain", new { @class = "control-label" })
                                            <span class="require">*</span>
                                        </div>
                                        <div class="col-md-6">
                                            @Html.TextBox("TargetRedemptionGainActual", tool.TargetRedemptionGainActual, new { @class = "form-control essential"})
                                        </div>
                                        <div class="col-md-2">
                                            @Html.Label("TargetRedemptionGainActualUnit", tool.MainUnit, new { @class = "control-label" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            @Html.Label("TargetRedemptionLoss", "Loss", new { @class = "control-label" })
                                        </div>
                                        <div class="col-md-6">
                                            @Html.TextBox("TargetRedemptionLoss", tool.TargetRedemptionLoss, new { @class = "form-control essential", @disabled = "disabled" })
                                        </div>
                                        <div class="col-md-2">
                                            @Html.Label("TargetRedemptionLossUnit", tool.MainUnit, new { @class = "control-label" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            @Html.Label("TargetRedemptionLossActual", "Loss", new { @class = "control-label" })
                                            <span class="require">*</span>
                                        </div>
                                        <div class="col-md-6">
                                            @Html.TextBox("TargetRedemptionLossActual", tool.TargetRedemptionLossActual, new { @class = "form-control essential" })
                                        </div>
                                        <div class="col-md-2">
                                            @Html.Label("TargetRedemptionLossActualUnit", tool.MainUnit, new { @class = "control-label" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-md-6 trimright">
                        <fieldset>
                            <legend>Capped</legend>
                            <div class="row" style="height: 90px;">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            @Html.Label("CappedGain", "Gain", new { @class = "control-label" })
                                        </div>
                                        <div class="col-md-6">
                                            @Html.TextBox("CappedGain", tool.CappedGain, new { @class = "form-control essential", @disabled = "disabled" })
                                        </div>
                                        <div class="col-md-2">
                                            @Html.Label("CappedGainUnit", tool.MainUnit, new { @class = "control-label" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            @Html.Label("CappedGainActual", "Gain", new { @class = "control-label" })
                                            <span class="require">*</span>
                                        </div>
                                        <div class="col-md-6">
                                            @Html.TextBox("CappedGainActual", tool.CappedGainActual, new { @class = "form-control essential" })
                                        </div>
                                        <div class="col-md-2">
                                            @Html.Label("CappedGainActualUnit", tool.MainUnit, new { @class = "control-label" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="row">
                    <fieldset>
                        <legend>Knock In/ Knock Out</legend>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-2">
                                    @Html.RadioButton("KnockType", "ByPackage", new { @id = "KnockTypeByPackage" })
                                    @Html.Label("KnockTypeByPackage", HedgeDealViewModel.KnockType.ByPackage.ToDescription(), new { @class = "control-label" })
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            @Html.RadioButton("KnockType", "ByMarket", new { @id = "KnockTypeByMarket" })
                                            @Html.Label("KnockTypeByMarket", HedgeDealViewModel.KnockType.ByMarket.ToDescription(), new { @class = "control-label" })
                                        </div>
                                        <div class="col-md-6">
                                            @Html.TextBox("KnockProductName", tool.Knock.KnockProductName, new { @class = "form-control essential", @disabled = "disabled" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row option-box">
                            <div class="wrapper-table collapse in">
                                <table id="hedgeToolKnockTable" class="table table-hover display" cellspacing="0" style="width: 100%;">
                                    <thead>
                                        <tr>
                                            <th style="padding-top: 0px;padding-bottom: 0px;"><span class="head-subtitle">No</span></th>
                                            <th style="padding-top: 0px;padding-bottom: 0px;"><span class="head-subtitle">Option</span></th>
                                            <th style="padding-top: 0px;padding-bottom: 0px;"><span class="head-subtitle">Condition</span></th>
                                            <th style="padding-top: 0px;padding-bottom: 0px;"><span class="head-subtitle" style="display: inline-block;">Hedge Price</span><span class="require" style="display: inline-block;">*</span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (tool.Knock.KnockItems == null || tool.Knock.KnockItems.Count == 0)
                                        {
                                            <tr class="waiting">
                                                <td colspan="4">Knock In/ Knock Out was not found</td>
                                            </tr>
                                        }
                                        else
                                        {
                                            foreach (var knock in tool.Knock.KnockItems)
                                            {
                                                <tr class="drafts">
                                                    <td><span>@knock.Order</span></td>
                                                    <td><span>@knock.KnockOption</span></td>
                                                    <td><span>@knock.Condition</span></td>
                                                    <td>@Html.TextBox("KnockHedgePrice", knock.HedgePrice, new { @class = "form-control essential" })</td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        }
    </div>
</div>


<script>
    function onExercise() { }
</script>