﻿@using ProjectCPAIEngine.Areas.CPAIMVC.ViewModels
@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.HedgeUnderlyingViewModel
@if (!Model.HasPackage){
    return;
}

@{ 
    var tabGroup = Guid.NewGuid().ToString("N");
}

<style>
    .tab-content {
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        padding-bottom: 10px;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .head-subtitle {
        /*min-width: 5px;
        font-family: 'HelvethaicaMonX-65Med';
        font-size: 16px;
        font-weight: normal !important;*/
    }
    .package-box {
        margin-bottom: 0px;
    }
    .form-volumn {
        position: absolute;
        z-index: 1;
        text-align: right;
        right: 0px;
        margin-right: 110px !important;
    }
</style>
<div class="tab-group-@tabGroup">
    @{
        var hasSelected = Model.Packages.Any(c => c.IsSelected);
        var underlyType = ViewData["UnderlyType"] == null ? "Main" : ViewData["UnderlyType"].ToString();
    }
    <div class="form-group form-volumn">
        <div class="col-md-8" style="text-align: right;">
            @Html.Label("TotalVol" + underlyType, underlyType + " Volumn :", new { @class = "control-label" })
        </div>
        <div class="col-md-3">
            @Html.TextBox("TotalVol" + underlyType, string.Empty, new { @class = "form-control essential text-volumn", @disabled = "disabled" })
        </div>
        <div class="col-md-1">
            @Html.Label("MainUnit", Model.MainUnit, new { @class = "control-label" })
        </div>
    </div>
    <ul class="nav nav-tabs" role="tablist">
        @foreach (var package in Model.Packages)
            {
                var activeClass = "inactive";
                if (!hasSelected || package.IsSelected || Model.Packages.Count == 1)
                {
                    activeClass = "active";
                    hasSelected = true;
                }

                <li role="presentation" class="presentPackage @(activeClass)">
                    <a aria-controls="@package.PackageId" role="tab" class="radioPackage" data-toggle="tab" data-target=".tab-group-@tabGroup">
                        @if (package.IsSelected)
                        {
                            <input type="radio" name="choice-@tabGroup" value="@package.PackageId" class="radioPackage" checked />
                        }
                        else
                        {
                            <input type="radio" name="choice-@tabGroup" value="@package.PackageId" class="radioPackage" />
                        }
                        @package.PacketName
                    </a>
                </li>
        }
    </ul>

    <div class="tab-content">
        @{
            hasSelected = Model.Packages.Any(c => c.IsSelected);
        }
        @foreach (var package in Model.Packages)
        {
            var activeClass = string.Empty;
            if (!hasSelected || package.IsSelected || Model.Packages.Count == 1)
            {
                activeClass = " active";
                hasSelected = true;
            }
        <div role="tabpanel" class="tab-pane @(activeClass)" id="@package.PackageId">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.Label("PacketName", "Package Name", new { @class = "control-label" })
                        </div>
                        <div class="col-md-7">
                            @Html.TextBox("PacketName", package.PacketName, new { @class = "form-control essential", @disabled = "disabled" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.Label("ExternalCategory", "External Category", new { @class = "control-label" })
                        </div>
                        <div class="col-md-7">
                            @Html.TextBox("ExternalCategory", package.ExternalCategory, new { @class = "form-control essential", @disabled = "disabled" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row package-box">
                <div class="wrapper-table collapse in">
                    <table id="hedgeUnderlyingPackageTable" class="table table-hover display" cellspacing="0" style="width: 100%;">
                        <thead>
                            <tr>
                                <th style="padding-top: 0px;padding-bottom: 0px;"><span class="head-subtitle">AF Frame</span></th>
                                <th style="padding-top: 0px;padding-bottom: 0px;"><span class="head-subtitle">Product</span></th>
                                <th style="padding-top: 0px;padding-bottom: 0px;"><span class="head-subtitle">C/F</span></th>
                                <th style="padding-top: 0px;padding-bottom: 0px;"><span class="head-subtitle"></span></th>
                                <th style="padding-top: 0px;padding-bottom: 0px;"><span class="head-subtitle">Product</span></th>
                                <th style="padding-top: 0px;padding-bottom: 0px;"><span class="head-subtitle">C/F</span></th>
                                <th style="padding-top: 0px;padding-bottom: 0px;"><span class="head-subtitle">Weight (%)</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (package.Products == null || package.Products.Count == 0)
                                {
                                <tr class="waiting">
                                    <td colspan="7">Products was not found</td>
                                </tr>
                                }
                                else
                                {
                                    foreach (var product in package.Products.Where(c=>c.Type == ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.HedgeDealViewModel.ProductExtendType.Normal))
                                    {
                                <tr class="drafts">
                                    <td>@product.AFFrame</td>
                                    <td>@Html.TextBox("ProductName", product.ProductName, new { @class = "form-control essential", @disabled = "disabled" })</td>
                                    <td>@product.CFDefault</td>
                                    <td>vs</td>
                                    <td>@Html.TextBox("ProductUnit", product.ProductUnit, new { @class = "form-control essential", @disabled = "disabled" })</td>
                                    <td>@Html.TextBox("CFDiff", product.CFDiff, new { @class = "form-control essential"})</td>
                                    <td>@Html.TextBox("Weight", product.Weight, new { @class = "form-control essential", @disabled = "disabled" })</td>
                                </tr>
                                    }
                                }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row" style="padding-left: 20px;">
                <div class="col-md-2">
                    <div class="form-group">
                        <input type="radio" name="extend-@tabGroup-@package.PackageId" value="none" class="radioExtend" id="PackageExtTypeNone_@package.PackageId" groupname="package_@package.PackageId" />
                        @Html.Label("PackageExtTypeNone_" + package.PackageId, "None", new { @class = "control-label" })
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <input type="radio" name="extend-@tabGroup-@package.PackageId" value="subtract" class="radioExtend" id="PackageExtTypeSubtract_@package.PackageId" groupname="package_@package.PackageId" />
                        @Html.Label("PackageExtTypeSubtract_" + package.PackageId, "Subtract", new { @class = "control-label" })
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <input type="radio" name="extend-@tabGroup-@package.PackageId" value="divide" class="radioExtend" id="PackageExtTypeDivide_@package.PackageId" groupname="package_@package.PackageId" />
                        @Html.Label("PackageExtTypeDivide_" + package.PackageId, "Divide", new { @class = "control-label" })
                    </div>
                </div>
            </div>
            <div class="row package-box@(!package.Products.Exists(c=>c.Type != HedgeDealViewModel.ProductExtendType.Normal) ? " hidden" : "")">
                <div class="wrapper-table collapse in">
                    <table id="hedgeUnderlyingPackageExtendTable" class="table table-hover display" cellspacing="0" style="width: 100%;">
                        <thead>
                            <tr>
                                <th style="padding-top: 0px;padding-bottom: 0px;"><span class="head-subtitle">AF Frame</span></th>
                                <th style="padding-top: 0px;padding-bottom: 0px;"><span class="head-subtitle">Product</span></th>
                                <th style="padding-top: 0px;padding-bottom: 0px;"><span class="head-subtitle">C/F</span></th>
                                <th style="padding-top: 0px;padding-bottom: 0px;"><span class="head-subtitle"></span></th>
                                <th style="padding-top: 0px;padding-bottom: 0px;"><span class="head-subtitle">Product</span></th>
                                <th style="padding-top: 0px;padding-bottom: 0px;"><span class="head-subtitle">C/F</span></th>
                                <th style="padding-top: 0px;padding-bottom: 0px;"><span class="head-subtitle">Weight (%)</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (package.Products == null || package.Products.Count == 0)
                                {
                                <tr class="waiting">
                                    <td colspan="7">Products was not found</td>
                                </tr>
                                }
                                else
                                {
                                    foreach (var product in package.Products.Where(c => c.Type != HedgeDealViewModel.ProductExtendType.Normal))
                                    {
                                <tr class="drafts">
                                    <td>@product.AFFrame</td>
                                    <td>@Html.TextBox("ProductName", product.ProductName, new { @class = "form-control essential", @disabled = "disabled" })</td>
                                    <td>@product.CFDefault</td>
                                    <td>vs</td>
                                    <td>@Html.TextBox("ProductUnit", product.ProductUnit, new { @class = "form-control essential", @disabled = "disabled" })</td>
                                    <td>@Html.TextBox("CFDiff", product.CFDiff, new { @class = "form-control essential" })</td>
                                    <td>@Html.TextBox("Weight", product.Weight, new { @class = "form-control essential", @disabled = "disabled" })</td>
                                </tr>
                                    }
                                }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        }
    </div>
</div>

<script>
    $(function () {
        $('input.radioPackage').click(function (e) {
            e.stopPropagation();
            $($(this).parent().attr('data-target') + '>ul>li.presentPackage').removeClass('active').addClass('inactive');
            $(this).parent().parent().removeClass('inactive').addClass('active');

            $($(this).parent().attr('data-target') + '>div.tab-content>.tab-pane').removeClass('active');
            $('#' + $(this).val()).addClass('active');
        });
        $('a.radioPackage').click(function (e) {
            $(this).children().trigger('click');
        });
    });
</script>