﻿@using System.Globalization
@using System.Collections
@using System.Linq
@using ProjectCPAIEngine.Utilities
@using ProjectCPAIEngine.Areas.CPAIMVC.ViewModels

@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.HedgeDealSummaryViewModel
@{
    ViewBag.Title = "Summary Deal";
}

<style>
    fieldset {
        padding: .35em .625em .75em !important;
        border: 1px solid silver !important;
    }
    legend {
        width: auto !important;
        border-bottom: none !important;
    }
    .trimright {
        padding-right: 0px !important;
    }
    .trimleft {
        padding-left: 0px !important;
    }
    .head-title {
        min-width: 80px;
        font-family: 'HelvethaicaMonX-65Med';
        font-size: 19px;
        font-weight: bold !important;
    }
    .head-subtitle {
        min-width: 5px;
        font-family: 'HelvethaicaMonX-65Med';
        font-size: 16px;
        font-weight: normal !important;
    }
    h1:before {
        content: "";
        display: inline-block;
        position: relative;
        width: 17px;
        height: 17px;
        left: 0;
        background: url(/Content/images/bg/bg-collap.png) no-repeat;
        background-size: 17px 17px;
        transform: rotate(1deg);
        margin-right: 10px;
        cursor:pointer;
    }
    h1.collapsed:before {
        transform: rotate(-90deg);
    }
</style>

<div class="wrapper-detail">
    <div>
        <h1 data-toggle="collapse" aria-expanded="true" aria-controls="summaryFilter" href="#summaryFilter"><span style="cursor:pointer;">@ViewBag.Title</span></h1>
    </div>
    @using (Html.BeginForm("SummaryResult", "HedgeDeal", FormMethod.Post, new { @class = "form-horizontal", @name = "hedgeDealSummaryForm", @id = "hedgeDealSummaryForm" }))
    {
        <div class="form-horizontal wrapper-table collapse in" id="summaryFilter" aria-expanded="true">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Criteria.PreDealNo, "Pre-Deal No.", new { @class = "col-md-3 control-label" })
                        <div class="col-md-7">
                            @Html.TextBoxFor(model => model.Criteria.PreDealNo, new { @class = "form-control essential" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Criteria.Status, "Status", new { @class = "col-md-3 control-label" })
                        <div class="col-md-7">
                            @Html.DropDownListFor(model => model.Criteria.Status, new SelectList(Model.Status, "Text", "Text", Model.Criteria.Status), string.Empty, new { @class = "form-control essential" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Criteria.DealNo, "Deal No.", new { @class = "col-md-3 control-label" })
                        <div class="col-md-7">
                            @Html.TextBoxFor(model => model.Criteria.DealNo, new { @class = "form-control essential" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Criteria.RefCommittee, "Ref. Committee FW", new { @class = "col-md-3 control-label" })
                        <div class="col-md-7">
                            @Html.DropDownListFor(model => model.Criteria.RefCommittee, new SelectList(Model.RefCommittees, "Text", "Text", Model.Criteria.RefCommittee), string.Empty, new { @class = "form-control essential" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Criteria.TicketNo, "Ticket No.", new { @class = "col-md-3 control-label" })
                        <div class="col-md-7">
                            @Html.TextBoxFor(model => model.Criteria.TicketNo, new { @class = "form-control essential" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Criteria.DealTypes, "Deal Type", new { @class = "col-md-3 control-label" })
                        <div class="col-md-7">
                            @for (int i = 0; i < Model.Criteria.DealTypes.Count; i++)
                            {
                                <div class="col-md-6">
                                    @Html.CheckBoxFor(m => m.Criteria.DealTypes[i].IsSelected)
                                    @Html.Label(Model.Criteria.DealTypes[i].DealType.ToDescription(), new { @class = "control-label" })
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Criteria.ContractNo, "Contract No.", new { @class = "col-md-3 control-label" })
                        <div class="col-md-7">
                            @Html.TextBoxFor(model => model.Criteria.ContractNo, new { @class = "form-control essential" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Criteria.Underlying, "Underlying", new { @class = "col-md-3 control-label" })
                        <div class="col-md-7">
                            @Html.TextBoxFor(model => model.Criteria.Underlying, new { @class = "form-control essential" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Criteria.TradeDates, "Trade Date", new { @class = "col-md-3 control-label" })
                        <div class="col-md-7">
                            @Html.TextBoxFor(model => model.Criteria.TradeDates, new { @class = "form-control essential input-date-picker", type = "text", placeholder = "DD-MMM-YYYY to DD-MMM-YYYY", maxlength = "26" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Criteria.Tool, "Tool", new { @class = "col-md-3 control-label" })
                        <div class="col-md-7">
                            @Html.DropDownListFor(model => model.Criteria.Tool, new SelectList(Model.Tools, "Text", "Text", Model.Criteria.Tool), string.Empty, new { @class = "form-control essential" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Criteria.SubmitDates, "Submit Date", new { @class = "col-md-3 control-label" })
                        <div class="col-md-7">
                            @Html.TextBoxFor(model => model.Criteria.SubmitDates, new { @class = "form-control essential input-date-picker", type = "text", placeholder = "DD-MMM-YYYY to DD-MMM-YYYY", maxlength = "26" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Criteria.CreatedBy, "Created By", new { @class = "col-md-3 control-label" })
                        <div class="col-md-7">
                            @Html.TextBoxFor(model => model.Criteria.CreatedBy, new { @class = "form-control essential" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" style="padding-left: 10px; padding-right: 10px;">
                    <div class="row">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Criteria.Company, "Company", new { @class = "col-md-3 control-label" })
                            <div class="col-md-7">
                                @Html.DropDownListFor(model => model.Criteria.Company, new SelectList(Model.Companies, "Text", "Text", Model.Criteria.Company), string.Empty, new { @class = "form-control essential" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Criteria.TradingBook, "Trading Book", new { @class = "col-md-3 control-label" })
                            <div class="col-md-7">
                                @Html.DropDownListFor(model => model.Criteria.TradingBook, new SelectList(Model.TradingBooks, "Text", "Text", Model.Criteria.TradingBook), string.Empty, new { @class = "form-control essential" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Criteria.Counterparty, "Counterparty", new { @class = "col-md-3 control-label" })
                            <div class="col-md-7">
                                @Html.DropDownListFor(model => model.Criteria.Counterparty, new SelectList(Model.Counterparties, "Text", "Text", Model.Criteria.Counterparty), string.Empty, new { @class = "form-control essential" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Criteria.Tenors, "Tenor", new { @class = "col-md-3 control-label" })
                            <div class="col-md-7">
                                @Html.TextBoxFor(model => model.Criteria.Tenors, new { @class = "form-control essential input-date-picker", type = "text", placeholder = "DD-MMM-YYYY to DD-MMM-YYYY", maxlength = "26" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Criteria.TotalVolumnFrom, "Total Volumn", new { @class = "col-md-3 control-label" })
                            <div class="col-md-7">
                                <div class="col-md-6 trimleft">
                                    <div class="col-md-11 trimleft trimright">
                                        @Html.TextBoxFor(model => model.Criteria.TotalVolumnFrom, new { @class = "form-control essential" })
                                    </div>
                                    <div class="col-md-1" style="text-align: center;">
                                        @Html.Label("To", new { @class = "control-label" })
                                    </div>
                                </div>                                
                                <div class="col-md-6 trimright">
                                    @Html.TextBoxFor(model => model.Criteria.TotalVolumnTo, new { @class = "form-control essential" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Criteria.DealFlagTypes, "Deal Flag", new { @class = "col-md-3 control-label" })
                        <div class="col-md-7">
                            @for (int i = 0; i < Model.Criteria.DealFlagTypes.Count; i++)
                            {
                                <div class="col-md-6">
                                    @Html.CheckBoxFor(m => m.Criteria.DealFlagTypes[i].IsSelected)
                                    @Html.Label(Model.Criteria.DealFlagTypes[i].DealFlagType.ToDescription(), new { @class = "control-label" })
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                <div class="col-md-4 pull-left">
                    <button type="button" class="btn btn-success" onclick="onCopyHeadgeDeal()">Copy</button>
                </div>
                <div class="col-md-4 text-center">
                    <button type="submit" class="btn btn-primary">Search</button>
                    <button type="button" value="Reset" class="btn btn-default" onclick="resetForm()">Clear All</button>
                </div>
                <div class="col-md-4 text-right">
                    <button type="button" class="btn btn-info" onclick="onExcelConfig()">Excel Config</button>
                    <button type="button" class="btn btn-info" onclick="onExportExcel()">Export Excel</button>
                </div>
            </div>
        </div>
    }

    <div class="task-box">
        <div class="wrapper-table collapse in" style="overflow-y: scroll;">
            <table id="hedgeDealSummaryTable" class="table table-hover display" cellspacing="0" style="width: 100%;">
                <thead>
                    <tr>
                        <th rowspan="2"><span class="head-title">Submit Date</span></th>
                        <th rowspan="2"><span class="head-title">Pre-Deal No.</span></th>
                        <th rowspan="2"><span class="head-title">Deal No.</span></th>
                        <th rowspan="2"><span class="head-title">Trade Date</span></th>
                        <th colspan="7" style="padding-top: 0px;padding-bottom: 0px;"><span class="head-title">Status</span></th>
                        <th rowspan="2"><span class="head-title">Ticket No.</span></th>
                        <th rowspan="2"><span class="head-title">Contract No.</span></th>
                        <th rowspan="2"><span class="head-title">Company</span></th>
                        <th rowspan="2"><span class="head-title">Trading Book</span></th>
                        <th rowspan="2"><span class="head-title">Counterparty</span></th>
                        <th rowspan="2"><span class="head-title">Deal Type</span></th>
                        <th rowspan="2"><span class="head-title">Underlying</span></th>
                        <th rowspan="2"><span class="head-title">Tool</span></th>
                        <th rowspan="2"><span class="head-title">Total Volumn</span></th>
                        <th rowspan="2"><span class="head-title">Revision</span></th>
                        <th rowspan="2"><span class="head-title">Created By</span></th>
                        <th rowspan="2"><span class="head-title">Select</span></th>
                    </tr>
                    <tr>
                        <th style="padding-top: 0px;padding-bottom: 0px;"><span class="head-subtitle">Drf</span></th>
                        <th style="padding-top: 0px;padding-bottom: 0px;"><span class="head-subtitle">Sub</span></th>
                        <th style="padding-top: 0px;padding-bottom: 0px;"><span class="head-subtitle">Tck</span></th>
                        <th style="padding-top: 0px;padding-bottom: 0px;"><span class="head-subtitle">Vrf</span></th>
                        <th style="padding-top: 0px;padding-bottom: 0px;"><span class="head-subtitle">Edr</span></th>
                        <th style="padding-top: 0px;padding-bottom: 0px;"><span class="head-subtitle">Arp</span></th>
                        <th style="padding-top: 0px;padding-bottom: 0px;"><span class="head-subtitle">Cmp</span></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.HedgeDealSummaryResults == null)
                    {
                        <tr class="waiting">
                            <td colspan="23">Waiting for search</td>
                        </tr>
                    }
                    else
                    {
                        if (Model.HedgeDealSummaryResults.Count > 0)
                        {
                            foreach (var v in Model.HedgeDealSummaryResults)
                            {
                            }
                        }
                        else
                        {
                            <tr class="waiting">
                                <td colspan="23">Data not found</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <script type="text/javascript">
        OpenBoxPopup(@Html.Raw(Json.Encode(Model.ErrorMessage)));
    </script>
}

<script>
    $(function () {
    });
</script>