﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.UnitViewModel
@{
    string actionName = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString().ToUpper();

    if (actionName == "CREATE")
    {
        ViewBag.Title = "Add Unit";
    }
    else if (actionName == "EDIT")
    {
        ViewBag.Title = "Edit Unit";
    }

    //if (ViewBag.CanEdit == false)
    //{
    //    actionName = "VIEW";
    //}
}
<style type="text/css">
    .full-spectrum .sp-palette {
        max-width: 200px;
    }
</style>

@if (TempData["ReponseStatus"] != null)
{
    // if POST check Response and Disble background layout of Modal Popup
    <script>
        $(document).ready(function () {
            $('#resultPopup').modal({ backdrop: 'static', keyboard: false });
            $('#resultPopup').modal('show');
        });
    </script>
}
<div class="page-header">
    <h2>@ViewBag.Title</h2> 
    <div id="alertMsg" style="color:red; display:none">
        <strong>This unit is already used in @(Model.unit_Detail.AreaName). So it can't be edited.</strong>
    </div>
</div>

@using (Html.BeginForm("", "", FormMethod.Post, new Dictionary<string, object>
{ { "role","form" }, { "class","form-horizontal"}, { "data-toggle", "validator" } }))
{


    <div class="row">
        <div class="col-md-12">          
            <div class="form-group">
                <label class="control-label col-sm-2" >UNIT CODE :<span style="color:red">*</span></label>
                <div class="col-sm-4">                 
                        @Html.TextBoxFor(model => model.unit_Detail.UnitCode, htmlAttributes: new { @class = "form-control", @maxlength = "4", @readonly = "readonly" })                 
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" >ORDER :<span style="color:red">*</span></label>
                <div class="col-sm-4">
                    @if (actionName.ToUpper() == "CREATE")
                    {
                        @Html.TextBoxFor(model => model.unit_Detail.Order, htmlAttributes: new { @class = "form-control", @required = "required", @maxlength = "4", @onkeydown = "return ValidateNumber(event);" })
                    }
                    else
                    {
                        @Html.TextBoxFor(model => model.unit_Detail.Order, htmlAttributes: new { @class = "form-control", @required = "required", @maxlength = "4", @onkeydown = "return ValidateNumber(event);" })
                    }             
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" >NAME :<span style="color:red">*</span></label>
                <div class="col-sm-4">
                    @if (actionName.ToUpper() == "CREATE")
                    {
                        @Html.TextBoxFor(model => model.unit_Detail.UnitName, htmlAttributes: new { @class = "form-control", @required = "required", @maxlength = "100" })
                    }
                    else
                    {
                        @Html.TextBoxFor(model => model.unit_Detail.UnitName, htmlAttributes: new { @class = "form-control", @required = "required", @maxlength = "100" })
                    }                
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" >USER GROUP :<span style="color:red">*</span></label>
                <div class="col-sm-4">
                    @Html.DropDownListFor(model => model.unit_Detail.UserGroup, new SelectList(Model.ddl_UserGRoup, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" >STATUS :<span style="color:red">*</span></label>
                <div class="col-sm-4">
                    @Html.CheckBoxFor(model => model.unit_Detail.BoolStatus, new { @id = "checkboxStatus", @class = "checkboxStatus"})
                </div>
            </div>
          
            <div class="form-group">
                <label class="control-label col-sm-2" >PROCESSING CONFIRMATION :<span style="color:red">*</span></label>
                <div class="col-sm-4">
                    @Html.CheckBoxFor(model => model.unit_Detail.BoolProcessConfrim, new { @id = "checkboxProcessConfirm", @class = "checkboxProcessConfirm"})
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <div class="text-center">
                        @if (ViewBag.action_edit && actionName == "VIEW")
                        {
                            @Html.ActionLink("BACK", "Search", new { controller = "Unit" }, htmlAttributes: new { @class = "btn btn-default" })
                        }
                        else if (ViewBag.action_edit && actionName == "EDIT")
                        {
                            if (ViewBag.CanEdit == true)
                            {
                                <button type="submit" class="btn btn-primary">SAVE</button>
                                @Html.ActionLink("BACK", "Search", new { controller = "Unit" }, htmlAttributes: new { @class = "btn btn-default" })
                            }
                            else
                            {
                                @Html.ActionLink("BACK", "Search", new { controller = "Unit" }, htmlAttributes: new { @class = "btn btn-default" })
                            }

                        }
                        else
                        {
                            <button type="submit" class="btn btn-primary">SAVE</button>
                            <button type="reset" class="btn btn-default">CLEAR</button>
                            @Html.ActionLink("BACK", "Search", new { controller = "Unit" }, htmlAttributes: new { @class = "btn btn-default" })
                        }

                    </div>
                </div>
            </div>


        </div>
    </div>
}

<!-- Result Popup -->
<div class="modal fade" id="resultPopup" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <p>
                    @TempData["ReponseMessage"]
                </p>
            </div>
            <div class="modal-footer">
                @if (TempData["ReponseStatus"] != null && TempData["ReponseStatus"].ToString().ToUpper() == "FALSE")
                {
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                }
                else
                {
                    if (actionName.ToUpper() == "EDIT" || actionName.ToUpper() == "CREATE")
                    {
                        @Html.ActionLink(
                             "Close",
                             "Search",
                             "Unit", // controllerName
                                     //new
                                     //{                                                     // routeValues
                                     //    unitCode = Model.unit_Detail.UnitCode
                                     //},
                             htmlAttributes: new { @class = "btn btn-default" });
                    }
                    else
                    {
                        @Html.ActionLink("Close", "Search", new { controller = "Unit" }, htmlAttributes: new { @class = "btn btn-default" })
                    }

                }
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@if (actionName == "VIEW")
{
    <script>
        $("input").attr("readonly", true);
        $("select").attr("disabled", true);
        $('input[type="checkbox"]').attr("disabled", true);
        $('#actionButtonxxx').hide();
        $('tfoot').hide();
    </script>
}


@if (ViewBag.CanEdit == false)
{
    <script>
        $("input").attr("readonly", true);
        $("select").attr("disabled", true);
        $('input[type="checkbox"]').attr("disabled", true);
        $('#actionButtonxxx').hide();
        $('tfoot').hide();
        $('#alertMsg').show();
    </script>
}

<script>
    var countUser = 0;
    $(function () {
        checkboxToogle();
    });

    function checkboxToogle() {
        $(".checkboxStatus").bootstrapToggle({
            on: 'ACTIVE',
            off: 'INACTIVE'
        });

        $(".checkboxProcessConfirm").bootstrapToggle({
            on: 'YES',
            off: 'NO'
        });
    }


    function setAllStatusToogleSwitch() {
        $(".checkboxStatus").bootstrapToggle({
            on: 'ACTIVE',
            off: 'INACTIVE'
        });

        $(".checkboxUserStatus").bootstrapToggle({
            on: 'ACTIVE',
            off: 'INACTIVE'
        });

        $(".checkboxProcessConfirm").bootstrapToggle({
            on: 'YES',
            off: 'NO'
        });
    }

    function confirmDeletSystemRow() {
        return confirm("Please confirm to Delete?");
    }

    function checkedStatus() {
        if ($("#checkboxStatus").prop("checked")) {
            $('#checkboxStatus').val("ACTIVE");
        } else {
            $('#checkboxStatus').val("INACTIVE");
        }
    }
    function checkboxProcessConfirm() {
        if ($("#checkboxProcessConfirm").prop("checked")) {
            $('#checkboxProcessConfirm').val("YES");
        } else {
            $('#checkboxProcessConfirm').val("NO");
        }
    }

    
  

    function ValidateNumber(e) {
        var evt = (e) ? e : window.event;
        var charCode = (evt.keyCode) ? evt.keyCode : evt.which;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    };
</script>