﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.UnitViewModel
@{
    ViewBag.Title = "Search";
}

@using (Html.BeginForm("Search", "Unit", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="page-header">
        <h1>Unit</h1>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label class="col-md-2 control-label">UNIT CODE :</label>
                <div class="col-md-4">
                    @*@Html.HiddenFor(model => model.companyCodeJSON, htmlAttributes: new { @class = "companyCodeJsonData" })*@
                    @Html.TextBoxFor(model => model.unit_Search.sUnitCode, htmlAttributes: new { @class = "form-control unit-code-json", @onfocus = "getCompanyCodeJSON()", @autocomplete = "off" })
                </div>

                <label class="col-md-2 control-label">UNIT NAME :</label>
                <div class="col-md-4">
                    @*@Html.HiddenFor(model => model.companyNameJSON, htmlAttributes: new { @class = "companyNameJsonData" })*@
                    @Html.TextBoxFor(model => model.unit_Search.sUnitName, htmlAttributes: new { @class = "form-control unit-name-json", @onfocus = "getCompanyNameJSON()", @autocomplete = "off" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">STATUS :</label>
                <div class="col-md-4">
                    @Html.DropDownListFor(model => model.unit_Search.sUnitStatus, new SelectList(Model.ddl_UnitStatus, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                </div>            
            </div>      
        </div>
    </div>
    <div class="form-group">
        <div class="pull-left">
            @if (ViewBag.action_create)
            {
                @Html.ActionLink("Add", "Create", new { controller = "Unit" }, new { @class = "btn btn-success" })
            }
        </div>
        <div class="pull-right">
            @if (ViewBag.action_search)
            {
                <button type="submit" class="btn btn-primary">Search</button>
            }
        </div>
    </div>
}
<div class="page-header">
    <h1>Search Result</h1>
</div>
<table id="searchResultTable" class="table table-hover display" cellspacing="0">
    <thead>
        <tr>
            <th>UNIT CODE</th>
            <th>UNIT NAME</th>
            <th>STATUS</th>
            <th>ACTION</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.unit_Search == null)
        {

            <tr class="waiting">
                <td colspan="7">Waiting for search</td>
            </tr>

        }
        else
        {
            if (Model.unit_Search.sSearchData.Count > 0)
            {
                foreach (var v in Model.unit_Search.sSearchData)
                {
                    <tr>
                        <td>@v.dUnitCode</td>
                        <td>@v.dUnitName</td>
                        <td>@v.dUnitStatus</td>                      
                        <td width="100px">
                            @if (ViewBag.action_view)
                            {
                                <a href="@Url.Action("View", "Unit", new { UnitCode = @v.dUnitCode })" title="View Detail">
                                    <img alt="Widget View" src="@Url.Content("../../Content/images/1480695949_file.png")">
                                </a>
                            }
                            @if (ViewBag.action_edit)
                            {
                                <a href="@Url.Action("Edit", "Unit", new { UnitCode = @v.dUnitCode })" title="Edit">
                                    <img alt="Widget View" src="@Url.Content("../../Content/images/1480695860_edit.png")">
                                </a>
                            }
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $('#searchResultTable').DataTable({
                        "columnDefs": [
                            //Disble sort on Action Colum
                            {
                                "targets": [3],
                                "orderable": false                                
                            }
                        ],
                        "order": [[1, "asc"]]
        });
        
    });
</script>