﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.MaterialsViewModel
@{
    string actionName = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString().ToUpper();
    if (actionName == "CREATE")
    {
        ViewBag.Title = "Add Materials";
    }
    else if (actionName == "EDIT")
    {
        ViewBag.Title = "Edit Materials";
    }
}
<style type="text/css">
    .full-spectrum .sp-palette {
        max-width: 200px;
    }

    .ui-autocomplete {
        max-height: 200px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
    }
    /* IE 6 doesn't support max-height
    * we use height instead, but this forces the menu to always be this tall
    */
    * html .ui-autocomplete {
        height: 200px;
    }
</style>



@if (TempData["ReponseStatus"] != null)
{
    <script>
        $(document).ready(function () {
            $('#resultPopup').modal({ backdrop: 'static', keyboard: false });
            $('#resultPopup').modal('show');
        });
    </script>
}

<div class="page-header">
    <h2>@ViewBag.Title</h2>
</div>

@using (Html.BeginForm("", "", FormMethod.Post, new Dictionary<string, object>
{ { "role","form" }, { "class","form-horizontal"}, { "data-toggle", "validator" }, { "id","createForm" } }))
{
    
    <!-- Show -->
    <div class="row">
        <div class="form-group">
            
                <label class="col-md-2 control-label">CREATE TYPE :</label>
                <div class="col-md-4">
                    @Model.met_Detail.MET_CREATE_TYPE
                    @Html.HiddenFor(model => model.met_Detail.MET_CREATE_TYPE)
                </div>
            
                <label class="col-md-2 control-label"></label>
                <div class="col-md-4">
                   
                </div>
           
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            
                <label class="col-md-2 control-label">NUM :</label>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.met_Detail.MET_NUM, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                </div>
           
                <label  class="col-md-2 control-label">DIVISION</label>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.met_Detail.MET_DIVISION, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                </div>
            
        </div>
    </div>
    <div class="row">
        <div class="form-group">
          
                <label class="col-md-2 control-label">NAME PER CRE :</label>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.met_Detail.MET_NAME_PER_CRE, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                </div>
           
                <label  class="col-md-2 control-label">MAT TYPE :</label>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.met_Detail.MET_MAT_TYPE, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                </div>
          
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            
                <label class="col-md-2 control-label">MAT GROUP :</label>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.met_Detail.MET_MAT_GROUP, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                </div>
          
                <label  class="col-md-2 control-label">OLD MAT NUM :</label>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.met_Detail.MET_OLD_MAT_NUM, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                </div>
           
        </div>
    </div>
    <div class="row">
        <div class="form-group">
           
                <label class="col-md-2 control-label">BASE MEA :</label>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.met_Detail.MET_BASE_MEA, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                </div>
           
                <label  class="col-md-2 control-label">MAT DES THAI :</label>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.met_Detail.MET_MAT_DES_THAI, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                </div>
            
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            
                <label  class="col-md-2 control-label">MAT DES ENGLISH :</label>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.met_Detail.MET_MAT_DES_ENGLISH, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                </div>
           
                <label  class="col-md-2 control-label">CRUDE TYPE :</label>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.met_Detail.MET_CRUDE_TYPE, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                </div>
           
        </div>
    </div>
    <div class="row">
        <div class="form-group">
           
                <label  class="col-md-2 control-label">CRUDE SRC :</label>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.met_Detail.MET_CRUDE_SRC, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                </div>
           
                <label  class="col-md-2 control-label">LOAD PORT :</label>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.met_Detail.MET_LOAD_PORT, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                </div>
           
        </div>
    </div>
    <div class="row">
        <div class="form-group">
          
                <label  class="col-md-2 control-label">ORIG CRTY :</label>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.met_Detail.MET_ORIG_CRTY, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                </div>
           
                <label  class="col-md-2 control-label"></label>
                <div class="col-md-4">
                  
                </div>
            
        </div>
    </div>

     <!-- Optionnal Tab -->
    <div class="row">
        <div class="panel-group" id="accordion">
            <div class="panel-default">
                <div class="panel-heading form-group" id="headingOne">
                   
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false">
                            Optional (Click more)</a>
                    
                </div>

                <div id="collapseOne" class="collapse" role="tabpanel">
                  
                        <!-- Optionnal -->
                        <div class="row">
                            <div class="form-group">

                                <label class="col-md-2 control-label">CRE DATE :</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.met_Detail.MET_CRE_DATE, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                                </div>

                                <label class="col-md-2 control-label">DATE LAST :</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.met_Detail.MET_DATE_LAST, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">

                                <label class="col-md-2 control-label">LAB DESIGN OFFICE :</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.met_Detail.MET_LAB_DESIGN_OFFICE, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                                </div>

                                <label class="col-md-2 control-label">FLA_MAT_DELETION :</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.met_Detail.MET_FLA_MAT_DELETION, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">

                                <label class="col-md-2 control-label">GRP CODE :</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.met_Detail.MET_GRP_CODE, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                                </div>

                                <label class="col-md-2 control-label">PRD TYPE :</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.met_Detail.MET_PRD_TYPE, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">

                                <label class="col-md-2 control-label">BL SRC :</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.met_Detail.MET_BL_SRC, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                                </div>

                                <label class="col-md-2 control-label">FK PRD :</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.met_Detail.MET_FK_PRD, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">

                                <label class="col-md-2 control-label">DEN CONV :</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.met_Detail.MET_DEN_CONV, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                                </div>

                                <label class="col-md-2 control-label">VFC CONV :</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.met_Detail.MET_VFC_CONV, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">

                                <label class="col-md-2 control-label">IO :</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.met_Detail.MET_IO, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                                </div>

                                <label class="col-md-2 control-label">MAT ADD :</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.met_Detail.MET_MAT_ADD, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">

                                <label class="col-md-2 control-label">LORRY :</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.met_Detail.MET_LORRY, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                                </div>

                                <label class="col-md-2 control-label">SHIP :</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.met_Detail.MET_SHIP, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">

                                <label class="col-md-2 control-label">THAPP :</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.met_Detail.MET_THAPP, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                                </div>

                                <label class="col-md-2 control-label">PIPE :</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.met_Detail.MET_PIPE, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">

                                <label class="col-md-2 control-label">MAT GROP TYPE :</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.met_Detail.MET_MAT_GROP_TYPE, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                                </div>

                                <label class="col-md-2 control-label">ZONE :</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.met_Detail.MET_ZONE, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">

                                <label class="col-md-2 control-label">PORT :</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.met_Detail.MET_PORT, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                                </div>

                                <label class="col-md-2 control-label">IO TLB :</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.met_Detail.MET_IO_TLB, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">

                                <label class="col-md-2 control-label">IO TPX :</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.met_Detail.MET_IO_TPX, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                                </div>

                                <label class="col-md-2 control-label">DOEB CODE :</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.met_Detail.MET_DOEB_CODE, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">

                                <label class="col-md-2 control-label">IO LABIX :</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.met_Detail.MET_IO_LABIX, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                                </div>

                                <label class="col-md-2 control-label">EXCISE CODE :</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.met_Detail.MET_EXCISE_CODE, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">

                                <label class="col-md-2 control-label">EXCISE UOM :</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.met_Detail.MET_EXCISE_UOM, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                                </div>

                                <label class="col-md-2 control-label">PRODUCT DENSITY :</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.met_Detail.MET_PRODUCT_DENSITY, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">

                                <label class="col-md-2 control-label">GL ACCOUNT :</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.met_Detail.MET_GL_ACCOUNT, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                                </div>

                                <label class="col-md-2 control-label"></label>
                                <div class="col-md-4">

                                </div>

                            </div>
                        </div>
                    </div>
            </div>

        </div>

    </div>

    <div class="form-group">
                <label class="control-label col-sm-2">SYSTEM<span style="color:red">*</span></label>
                <div class="col-sm-10">
                    <script>
                        var count = 0;
                        var id = 0;
                        var rowNo = 1;
                    </script>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>System</th>
                                <th>Name</th>                                
                                <th>Unit Price</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="systemArr">
                            @Html.HiddenFor(model => model.met_CtrlSystemJSON, htmlAttributes: new { @id = "SystemJSON" })                            
                                                        

                            @for (int i = 0; i < Model.met_Detail.Control.Count; i++)
                            {
                                var s = "checkboxStatus" + i;
                                <tr>
                                    @Html.HiddenFor(model => Model.met_Detail.Control[i].Name)
                                    <td>
                                        @Html.TextBoxFor(model => model.met_Detail.Control[i].System, htmlAttributes: new { @class = "form-control tagsSystem", @required = "required", @onfocus = "getSystemJSON()", @autocomplete = "off", @maxlength = "32" })
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(model => model.met_Detail.Control[i].Name, new { @class = "form-control tagsName" })
                                    </td>                                    
                                    <td>
                                        @*@Html.TextBoxFor(model => model.met_Detail.Control[i].UnitPrice, htmlAttributes: new { @class = "form-control tagsUnitPrice", @onfocus = "getUnitPriceJSON()", @autocomplete = "off", @maxlength = "10" })*@
                                        @Html.DropDownListFor(model => Model.met_Detail.Control[i].UnitPrice, new SelectList(Model.ddl_CtrlUnitPrice, "Value", "Text", Model.met_Detail.Control[i].UnitPrice), "", new { @class = "form-control" })
                                    </td>
                                    <td>
                                        @Html.HiddenFor(model => model.met_Detail.Control[i].RowID)

                                        @if (Model.met_Detail.Control[i].Status == "ACTIVE")
                                        {

                                            <input type="checkbox" class="checkboxStatus" id="@s" checked onchange="checkedStatus(@i);">
                                        }
                                        else
                                        {
                                            <input type="checkbox" class="checkboxStatus" id="@s" onchange="checkedStatus(@i);">
                                        }
                                        @Html.TextBoxFor(model => model.met_Detail.Control[i].Status, "", htmlAttributes: new { @hidden = "hidden", @required = "required" })
                                    </td>
                                    <td>
                                        <script type="text/javascript">
                                            $(function () {
                                                checkboxToogle();
                                            });
                                            count++
                                        </script>
                                        @if (String.IsNullOrEmpty(Model.met_Detail.Control[i].RowID) && i > 0)
                                        {
                                            <a href="javascript:void(0);" class="remCF" onclick="return confirmDeletSystemRow();" />
                                            <img src="../../Web/Images/btn-delete.png" />
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3">
                                    <a class="btn btn-default addCF" href="javascript:void(0);" role="button">Add</a>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>

    <div class="row">
            <div class="form-group">
                <div class="col-sm-12">
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary actionButton">SAVE</button>
                        <button type="reset" class="btn btn-default actionButton">CLEAR</button>
                        @Html.ActionLink("BACK", "Search", new { controller = "Materials" }, htmlAttributes: new { @class = "btn btn-default" })
                    </div>
                </div>
            </div>
        </div>

        }
        @if (actionName == "VIEWDETAIL")
        {
            <script>
                $("input").attr("readonly", true);
                $("select").attr("disabled", true);
                $('textarea').attr("readonly", true);
                $('input[type="checkbox"]').attr("disabled", true);
                $('.actionButton').hide();
                $('tfoot').hide();
            </script>
        }

<!-- Result Popup -->
<div class="modal fade" id="resultPopup" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <p>
                    @TempData["ReponseMessage"]
                </p>
            </div>
            <div class="modal-footer">
                @if (TempData["ReponseStatus"] != null && TempData["ReponseStatus"].ToString().ToUpper() == "FALSE")
                {
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                }
                else
                {
                    if (actionName.ToUpper() == "EDIT" || actionName.ToUpper() == "CREATE")
                    {
                        @Html.ActionLink(
                             "Close",
                             "Edit",
                             "Materials", // controllerName
                             new
                             {                                                     // routeValues
                                 MaterialsNum = Model.met_Detail.MET_NUM
                             },
                             htmlAttributes: new { @class = "btn btn-default" });
                    }
                    else
                    {
                        @Html.ActionLink("Close", "Search", new { controller = "Materials" }, htmlAttributes: new { @class = "btn btn-default" })
                    }

                }
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

        <script>

            function checkboxToogle() {
                $(".checkboxStatus").bootstrapToggle({
                    on: 'ACTIVE',
                    off: 'INACTIVE'
                });
            }

            function confirmDeletSystemRow() {
                var conf = confirm("Please confirm to Delete?");
                if(conf) {
                    $("#systemArr").on('click', '.remCF', function () {
                        $(this).parent().parent().remove();

                        ReindexController();

                        $('#createForm').validator("update");
                        $('#createForm').validator("validate");
                    });
                }
            }
            function ReindexController()
            {
        
                var itemIndex =0;
                $('#systemArr tr').each(function(){
                    var this_row = $(this);
                    this_row.find('input[name$=".System"]').attr('name', 'met_Detail.Control[' + itemIndex + '].System');//replace name of input that ends the name BRANCH
                    this_row.find('input[name$=".RowID"]').attr('name', 'met_Detail.Control[' + itemIndex + '].RowID');
                    this_row.find('input[name$=".Status"]').attr('name', 'met_Detail.Control[' + itemIndex + '].Status');
                    itemIndex ++;
                });
            }

            function checkedStatus(count) {
                if ($("#checkboxStatus" + count).prop("checked")) {
                    $('#met_Detail_Control_' + count + '__Status').val("ACTIVE");
                } else {
                    $('#met_Detail_Control_' + count + '__Status').val("INACTIVE");
                }
            }

            $(".addCF").click(function () {
                $("#systemArr").append('<tr>'
                            + '<td><input class="form-control tagsSystem" id="met_Detail_Control_' + count + '__System" name="met_Detail.Control[' + count + '].System" required="required" type="text" value="" onfocus="getSystemJSON()" autocomplete="off" maxlength = "32" /></td>'
                            + '<td><input class="form-control tagsName" id="met_Detail_Control_' + count + '__Name" name="met_Detail.Control[' + count + '].Name" />'
                            //+ '<td><input class="form-control tagsUnitPrice" id="met_Detail_Control_' + count + '__UnitPrice" name="met_Detail.Control[' + count + '].UnitPrice" type="text" value="" onfocus="getUnitPriceJSON()" autocomplete="off" maxlength = "10" /></td>'
                            + '<td>'
                            + '<select class="form-control" id="met_Detail_Control_' + count + '__UnitPrice" name="met_Detail.Control[' + count + '].UnitPrice">'
                            + '<option value=""></option>'
                                @foreach (var option in Model.ddl_CtrlUnitPrice)
                                {
                                    @:+'<option value="@option.Value">@option.Text</option>'
                                }
                            + '</select>'
                            + '</td>'
                            + '<td>'
                            + '<input type="checkbox" class="checkboxStatus" id="checkboxStatus' + count +'" checked onchange="checkedStatus('+ count +');" >'
                            + '<input hidden="hidden" id="met_Detail_Control_' + count + '__Status" name="met_Detail.Control[' + count + '].Status" type="text" value="ACTIVE" />'
                            + '</td>'
                            + '<td><a href="javascript:void(0);" class="remCF" onclick="return confirmDeletSystemRow();"><img src="../../Web/Images/btn-delete.png" /></a>'
                            + '</td>'
                            + '</tr>');

             
                rowNo++;

                checkboxToogle();
                count++;

                ReindexController();

                $('#createForm').validator("update");
                $('#createForm').validator("validate");
            });

            function getSystemJSON() {
                var availableData = JSON.parse($("#SystemJSON").val());
                $(".tagsSystem").autocomplete({
                    source: function (request, response) {
                        var re = $.ui.autocomplete.escapeRegex(request.term);
                        var matcher = new RegExp("^" + re, "i");
                        response($.grep(($.map(availableData, function (v, i) {

                            return {
                                label: v.value,
                                value: v.value
                            };
                        })), function (item) {
                            return matcher.test(item.value);
                        }))

                    },
                    minLength: 0,
                }).click(function () {
                    $(this).autocomplete("search");
                });
            }            

            function getUnitPriceJSON() {
                var availableData = JSON.parse($("#UnitPriceJSON").val());
                $(".tagsUnitPrice").autocomplete({
                    source: function (request, response) {
                        var re = $.ui.autocomplete.escapeRegex(request.term);
                        var matcher = new RegExp("^" + re, "i");
                        response($.grep(($.map(availableData, function (v, i) {

                            return {
                                label: v.value,
                                value: v.value
                            };
                        })), function (item) {
                            return matcher.test(item.value);
                        }))

                    },
                    minLength: 0,
                }).click(function () {
                    $(this).autocomplete("search");
                });
            }

            $('#createForm').validator("update");

        </script>

