﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.MaterialsViewModel
@{
    ViewBag.Title = "Search";
}

<style type="text/css">
    .table > tbody > tr > td {
        vertical-align: middle;
    }
</style>

<style type="text/css">
    .full-spectrum .sp-palette {
        max-width: 200px;
    }
</style>


@using (Html.BeginForm("Search", "Materials", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.HiddenFor(model => model.met_DivisionJSON, htmlAttributes: new { @id = "met_DivisionJSON" })
    @Html.HiddenFor(model => model.met_FlaMatDeletionJSON, htmlAttributes: new { @id = "met_FlaMatDeletionJSON" })
    @Html.HiddenFor(model => model.met_MatTypeJSON, htmlAttributes: new { @id = "met_MatTypeJSON" })

    <div class="page-header">
        <h1>Materials</h1>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-xs-6">
                <label for="inputEmail3" class="col-sm-4 control-label">NUM :</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.met_Search.sNUM, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-xs-6">
                <label for="inputEmail3" class="col-sm-4 control-label">MAT DES ENGLISH :</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.met_Search.sDesEN, new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-xs-6">
                <label for="inputEmail3" class="col-sm-4 control-label">DIVISION :</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.met_Search.sDivision, new { @class = "form-control tagsDivision", @onfocus = "getDivisionJSON()", @autocomplete = "off" })
                </div>
            </div>
            <div class="col-xs-6">
                <label for="inputEmail3" class="col-sm-4 control-label">NAME PER CRE :</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.met_Search.sNamePerCre, new { @class = "form-control"})
                </div>
            </div>
        </div>
        </div>
    <div class="row">
        <div class="form-group">
            <div class="col-xs-6">
                <label for="inputEmail3" class="col-sm-4 control-label">MAT TYPE :</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.met_Search.sMatType, new { @class = "form-control tagsMatType", @onfocus = "getMatTypeJSON()", @autocomplete = "off" })
                </div>
            </div>
            <div class="col-xs-6">
                <label for="inputEmail3" class="col-sm-4 control-label">MAT GROUP :</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.met_Search.sMatGroup, new { @class = "form-control" })
                </div>
            </div>
        </div>
        </div>
    <div class="row">
        <div class="form-group">
            <div class="col-xs-6">
                <label for="inputEmail3" class="col-sm-4 control-label">FLA MAT DELETION :</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.met_Search.sFlaMatDeletion, new { @class = "form-control tagsFlaMatDeletion", @onfocus = "getFlaMatDeletionJSON()", @autocomplete = "off" })
                </div>
            </div>
            <div class="col-xs-6">
                <label for="inputEmail3" class="col-sm-4 control-label">UPDATE DATE :</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.met_Search.sCreateDate, new { @id = "date-range-start", @class = "form-control input-date-picker date-range-start ", @placeholder = "DD/MM/YYYY to DD/MM/YYYY", @maxlength = "24" })
                </div>
            </div>
        </div>
        </div>
    <div class="row">
        <div class="form-group">
            <div class="col-xs-6">
                <label for="inputEmail3" class="col-sm-4 control-label">SYSTEM :</label>
                <div class="col-sm-8">
                    @Html.DropDownListFor(model => model.met_Search.sSystem, new SelectList(Model.ddl_CtrlSystem, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                </div>
            </div>
            <div class="col-xs-6">
                <label for="inputEmail3" class="col-sm-4 control-label">STATUS :</label>
                <div class="col-sm-8">
                    @Html.DropDownListFor(model => model.met_Search.sStatus, new SelectList(Model.ddl_Status, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                </div>
            </div>
        </div>
        </div>
    <div class="form-group">
        <div class="pull-left">
            @*@if (ViewBag.action_create)
            {
                @Html.ActionLink("Create", "Create", new { controller = "Materials" }, new { @class = "btn btn-success" })
            }*@
        </div>
        <div class="pull-right">
            @if (ViewBag.action_search)
            {
                <button type="submit" class="btn btn-primary">Search</button>
            }
        </div>
    </div>
}


        <div class="page-header">
            <h1>Search Result</h1>
        </div>
        <table id="searchResultTable" class="table table-hover display" cellspacing="0">
            <thead>
                <tr>
                    <th>NUM</th>
                    <th>MAT DES ENGLISH</th>
                    <th>DIVISION</th>
                    <th>NAME PER CRE</th>
                    <th>MAT TYPE</th>
                    <th>MAT GROUP</th>
                    <th>FLA MAT DELETION</th>
                    <th>CREATE TYPE</th>
                    <th>SYSTEM</th>
                    <th>UPDATE DATE</th>
                    <th>STATUS</th>
                    <th>ACTION</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.met_Search == null)
                {

                    <tr class="waiting">
                        <td colspan="12">Waiting for search</td>
                    </tr>

                }
                else
                {
                    if (Model.met_Search.sSearchData.Count > 0)
                    {
                        foreach (var v in Model.met_Search.sSearchData)
                        {
                            <tr>
                                
                                <td>@v.dNUM</td>
                                <td>@v.dDesEN</td>
                                <td>@v.dDivision</td>
                                <td>@v.dNamePerCre</td>
                                <td>@v.dMatType</td>
                                <td>@v.dMatGroup</td>
                                <td>@v.dFlaMatDeletion</td>
                                <td>@v.dCreateType</td>
                                <td>@v.dSystem</td>
                                <td>@v.dCreateDate</td>
                                <td>@v.dStatus</td>
                                <td width="100px">
                                    @if (ViewBag.action_view)
                                    {
                                        <a href="@Url.Action("ViewDetail", "Materials", new { MaterialsNum = @v.dNUM })" title="View Detail">
                                            <img alt="Widget View" src="@Url.Content("../../Content/images/1480695949_file.png")">
                                        </a>
                                    }
                                    @if (ViewBag.action_edit)
                                    {
                                        <a href="@Url.Action("Edit", "Materials", new { MaterialsNum = @v.dNUM })" title="Edit">
                                            <img alt="Widget View" src="@Url.Content("../../Content/images/1480695860_edit.png")">
                                        </a>
                                    }
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>

<script type="text/javascript">

    function getDivisionJSON() {
        var availableData = JSON.parse($("#met_DivisionJSON").val());
        $(".tagsDivision").autocomplete({
            source: function (request, response) {
                var re = $.ui.autocomplete.escapeRegex(request.term);
                var matcher = new RegExp("^" + re, "i");
                response($.grep(($.map(availableData, function (v, i) {

                    return {
                        label: v.value,
                        value: v.value
                    };
                })), function (item) {
                    return matcher.test(item.value);
                }))

            },
            minLength: 0,
        }).click(function () {
            $(this).autocomplete("search");
        });
    }

    function getFlaMatDeletionJSON() {
        var availableData = JSON.parse($("#met_FlaMatDeletionJSON").val());
        $(".tagsFlaMatDeletion").autocomplete({
            source: function (request, response) {
                var re = $.ui.autocomplete.escapeRegex(request.term);
                var matcher = new RegExp("^" + re, "i");
                response($.grep(($.map(availableData, function (v, i) {

                    return {
                        label: v.value,
                        value: v.value
                    };
                })), function (item) {
                    return matcher.test(item.value);
                }))

            },
            minLength: 0,
        }).click(function () {
            $(this).autocomplete("search");
        });
    }

    function getMatTypeJSON() {
        var availableData = JSON.parse($("#met_MatTypeJSON").val());
        $(".tagsMatType").autocomplete({
            source: function (request, response) {
                var re = $.ui.autocomplete.escapeRegex(request.term);
                var matcher = new RegExp("^" + re, "i");
                response($.grep(($.map(availableData, function (v, i) {

                    return {
                        label: v.value,
                        value: v.value
                    };
                })), function (item) {
                    return matcher.test(item.value);
                }))

            },
            minLength: 0,
        }).click(function () {
            $(this).autocomplete("search");
        });
    }
</script>
    <script>
        $(function () {
            $('#date-range-start').dateRangePicker(
            {
                startOfWeek: 'monday',
                format: 'DD/MM/YYYY',
            });
            //$('#laycanDateSelect').dateRangePicker(
            //{
            //    startOfWeek: 'monday',
            //    format: 'DD-MM-YYYY',
            //});
            //$('#example').DataTable();
        });
        $(document).ready(function () {
            $('#searchResultTable').DataTable({
                "columnDefs": [
                    //Disble sort on Action Colum
                    {
                        "targets": [11],
                        "orderable": false
                    }
                ]
            });
        });
    </script>

