﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="MainSite.master.cs" Inherits="ProjectCPAIEngine.MasterPage.MainSite" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="../Content/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../Content/css/thaioil.css" />
    <link rel="stylesheet" type="text/css" href="../Content/css/daterangepicker.css" />
    <link rel="stylesheet" type="text/css" href="../Content/css/App.css" />
    <link rel="stylesheet" type="text/css" href="../Content/js/jquery.uploadify/jquery.uploadify.css"  />
    <link rel="stylesheet" type="text/css" href="../Content/js/plugins/select2/select2.css" />
    <link rel="stylesheet" type="text/css" href="../Content/js/plugins/dist/prettify.css" />
    <link rel="stylesheet" type="text/css" href="../Content/js/plugins/dist/css/bootstrap-multiselect.css"  />    
    <link rel="stylesheet" type="text/css" href="../Content/js/plugins/datatables/dataTables.bootstrap.css" />
   <%-- <script src="https://code.jquery.com/jquery-1.12.2.min.js" type="text/javascript"></script>--%>
    <script type="text/javascript" src="../Content/js/jquery-1.12.2.min.js"></script> 
    <!-- <script type="text/javascript" src="js/jquery-3.1.0.min.js"></script> -->
    <script type="text/javascript" src="../Content/js/tinymce.min.js"></script>
    <script type="text/javascript" src="../Content/js/moment.js"></script>
    <script type="text/javascript" src="../Content/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../Content/js/jquery.daterangepicker.min.js"></script>
    <script type="text/javascript" src="../Content/js/bootbox.min.js"></script>
    <script type="text/javascript" src="../Content/js/App.js"></script>
    <script type="text/javascript" src="../Content/js/jquery.uploadify/swfobject.js" ></script>
	<script type="text/javascript" src="../Content/js/jquery.uploadify/jquery.uploadify.js" ></script>
    <script type="text/javascript" src="../Content/js/plugins/select2/select2.min.js"></script>
    <script type="text/javascript" src="../Content/js/plugins/dist/prettify.js"></script>
    <script type="text/javascript" src="../Content/js/plugins/dist/js/bootstrap-multiselect.js"></script>
    <script type="text/javascript" src="../Content/js/plugins/datatables/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="../Content/js/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript">
        function CheckLength(Ctrl, lengthCtrl) {           
            $('#' + Ctrl).keypress(function () {
                if ($(this).val().length >= lengthCtrl) {                    
                    return false;
                }
                else {
                    return true;
                }
            });
            $('#' + Ctrl).focusout(function () {
                if ($(this).val().length > lengthCtrl) {
                    $(this).val($(this).val().substring(0, lengthCtrl))
                }
            });
        }

        function CheckDateFormat(Ctrl) {
            $('#' + Ctrl).focusout(function () {
                if (moment($(this).val(), 'DD/MM/YYYY', true).isValid() == false) {
                    $(this).val("");
                }
            });
        }

        function OpenBoxPopup(MSG) {
            bootbox.alert(MSG, function () {
            });
        }

        function LoadingProcess() {
            bootbox.dialog({
                message: "Processing...",
                title: "Loading"
            });
        }

        function HideLoadingBox() {
            $('.bootbox-close-button').click();
        }

        function OpenBoxPopupLink(MSG, LinkRedirect) {
            bootbox.alert(MSG, function () {
                window.location = LinkRedirect;
            });
        }

        function OpenBoxConfirm(MSG, CallBackFunction) {
            bootbox.confirm(MSG, function (result) {
                if (result) { window[CallBackFunction](); }
            });
        }
        function OpenBoxPrompt(MSG, CallBackFunction) {
            bootbox.prompt(MSG, function (result) {
                if (result === null || result === "") {
                    if (result === "") {
                        OpenBoxPopup("Please Key Note.");
                    }
                } else {
                    window[CallBackFunction](result);
                }
            });
        }

        function OpenNewTab(url) {
            window.open(url, '_blank');
        }

        function isNumber(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;
        }


    </script>    
    <style type="text/css">
        .btn-default {
            color: #fff;
            background-color: #808080;
            border-color: #cccccc;
        }

            .btn-default:hover,
            .btn-default:focus,
            .btn-default:active,
            .btn-default.active,
            .open .dropdown-toggle.btn-default {
                color: #808080;
                background-color: #ebebeb;
                border-color: #adadad;
            }

            .btn-default:active,
            .btn-default.active,
            .open .dropdown-toggle.btn-default {
                background-image: none;
            }
    </style>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <asp:ScriptManager runat="server" ID="ScriptManage"></asp:ScriptManager>
        <div class="overlay"></div>
        <div class="header">
            <div class="wrapper-main">
                <div class="logo">
                    <a href="../web/mainboards.aspx"><span>Thaioil</span></a>
                </div>
                <!--<div class="menu-options"><span class="menu-action"><i></i></span></div>-->
                <div class="admin-name">
                    <span>
                        <img runat="server" id="empImage" src="../content/images/profile.jpg" alt="" />
                    </span>
                    <h3><% =lbUserName.ToString() %> </h3>
                    <p>
                        <asp:LinkButton runat="server" ID="lnkbtnLogout" Text="Log out" OnClick="lnkbtnLogout_Click">Log out.</asp:LinkButton>
                    </p>
                </div>
            </div>
        </div>
        <!--
        <div class="side-menus">
            <div class="wrapper">
                <div class="menu-close">CLOSE</div>
                <ul class="parent-menu">
                    <% =HTMLMENU.ToString() %>
                </ul>
                <div class="bg-sub-menu2"></div>
            </div>
        </div>
        -->
        <div class="main-content" >
            <div class="heading-sec">
                <div class="row">
                    <div class="col-xs-10">
                        <ul class="nav navbar-nav">
                    <% =HTMLMENU.ToString() %>
                </ul>
                    </div>
                    <div class="col-xs-2">
                        <div class="box-date">
                            <div class="date"><% =lbHeaderDay.ToString() %></div>
                            <div class="year"><% =lbHeaderDate.ToString() %></div>
                            <div style="display: none;" class="time"><% =lbHeaderTime.ToString() %></div>
                        </div>
                    </div>
                </div>
            </div>
            <div >

                <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server" >
                </asp:ContentPlaceHolder>
            </div>
         
        </div>
        <div class="footer">
            © Copyright 2016 a company of Thai Oil Group. All rights reserved.
        </div>
        <script type="text/javascript">
            $(document).ready(function () {
                $('.menu-action').click(function () {
                    $('body').addClass('menu-show');
                    $('.side-menus').fadeIn();
                    $('.overlay').fadeIn();
                });
                $('.menu-close').click(function () {
                    $('body').removeClass('menu-show');
                    $('.side-menus').fadeOut();
                    $('.overlay').fadeOut();
                    $('.has-submenu1').removeClass('open');
                    $('.has-submenu2').removeClass('open');
                    $('.bg-sub-menu2').fadeOut("fast");
                });
                $('.has-submenu1').click(function () {
                    $('.has-submenu1').removeClass('open');
                    $(this).addClass('open');
                });
                $('.has-submenu2').click(function () {
                    $('.has-submenu2').removeClass('open');
                    $(this).addClass('open');
                    $('.bg-sub-menu2').fadeIn('fast');
                });
                $('.parent-menu>li>a').click(function () {
                    $('.bg-sub-menu2').fadeOut('fast');
                    $('.has-submenu2').removeClass('open');
                });
            });



        </script>

    </form>

</body>
</html>
