﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.HedgingDealContactViewModel
@{
    ViewBag.Title = "Search";
    string type = ViewBag.TypeDecrypt;
    string typeDecrypt = ViewBag.TypeDecrypt;
}

<style type="text/css">
    .clearIcon {
        cursor: pointer;
        color: red;
    }

    .createByField {
        font-family: Arial,sans-serif;
        font-size: 12px;
    }

    .select.input-sm {
        width: 50px;
    }

    .CGR {
        background-color: green;
    }    

    .CRD {
        background-color: red;
    }

    .CBK {
        background-color: black;
    }

    .CGY {
        background-color: gray;
    }
</style>
    
<script>
    function getStatusStrip(StatusDeal, StatusTicket, DealNo, TicketNo, ContactNo, DealDate, Company, DealType, Counterparty, Underlying, Tool, VolumeMonth, Price){
        var rslt = "";
        var circle = "CGY";
        var txtHead = "<td style=\"text-align:center;\"><div style=\"width: 15px;height: 15px;border-radius: 50px;margin:0 auto;\" class=\"{Circle}\"></div></td>";
        var Status =  StatusTicket + "," + StatusDeal;
        
        rslt += "<td>" + DealNo + "</td>";
        if (Status == ",DRAFT")
        {
            circle = "CGR,CGY,CGY,CGY,CGY,CGY,CGY".split(",");
            for (var i = 0; i < 7; i++)
                rslt += txtHead.replace('{Circle}', circle[i]);

        }
        else if (Status==",SUBMIT")
        {
            circle = "CGR,CGR,CGY,CGY,CGY,CGY,CGY".split(",");
            for (var i = 0; i < 7; i++)
                rslt += txtHead.replace('{Circle}', circle[i]);
        }
        else if (Status=="TICKETED,SUBMIT")
        {
            circle = "CGR,CGR,CGR,CGY,CGY,CGY,CGY".split(",");
            for (var i = 0; i < 7; i++)
                rslt += txtHead.replace('{Circle}', circle[i]);
        }
        else if (Status=="VERIFIED,SUBMIT")
        {
            circle = "CGR,CGR,CGR,CGR,CGY,CGY,CGY".split(",");
            for (var i = 0; i < 7; i++)
                rslt += txtHead.replace('{Circle}', circle[i]);
        }
        else if (Status=="ENDORSED,SUBMIT")
        {
            circle = "CGR,CGR,CGR,CGR,CGR,CGY,CGY".split(",");
            for (var i = 0; i < 7; i++)
                rslt += txtHead.replace('{Circle}', circle[i]);
        }
        else if (Status=="APPROVED,SUBMIT")
        {
            circle = "CGR,CGR,CGR,CGR,CGR,CGR,CGY".split(",");
            for (var i = 0; i < 7; i++)
                rslt += txtHead.replace('{Circle}', circle[i]);
        }
        else if (Status=="APPROVED,COMPLETED")
        {
            circle = "CGR,CGR,CGR,CGR,CGR,CGR,CGR".split(",");
            for (var i = 0; i < 7; i++)
                rslt += txtHead.replace('{Circle}', circle[i]);
        }
        else if (Status=="TICKETED_R,SUBMIT")
        {
            circle = "CGR,CGR,CRD,CGY,CGY,CGY,CGY".split(",");
            for (var i = 0; i < 7; i++)
                rslt += txtHead.replace('{Circle}', circle[i]);
        }
        else if (Status=="TICKETED_C,SUBMIT")
        {
            circle = "CGR,CGR,CRD,CGY,CGY,CGY,CGY".split(",");
            for (var i = 0; i < 7; i++)
                rslt += txtHead.replace('{Circle}', circle[i]);
        }
        else if (Status=="VERIFIED_R,SUBMIT")
        {
            circle = "CGR,CGR,CGR,CRD,CGY,CGY,CGY".split(",");
            for (var i = 0; i < 7; i++)
                rslt += txtHead.replace('{Circle}', circle[i]);
        }
        else if (Status=="VERIFIED_C,SUBMIT")
        {
            circle = "CGR,CGR,CGR,CRD,CGY,CGY,CGY".split(",");
            for (var i = 0; i < 7; i++)
                rslt += txtHead.replace('{Circle}', circle[i]);
        }
        else if (Status=="ENDORSED_R,SUBMIT")
        {
            circle = "CGR,CGR,CGR,CGR,CRD,CGY,CGY".split(",");
            for (var i = 0; i < 7; i++)
                rslt += txtHead.replace('{Circle}', circle[i]);
        }
        else if (Status=="ENDORSED_C,SUBMIT")
        {
            circle = "CGR,CGR,CGR,CGR,CRD,CGY,CGY".split(",");
            for (var i = 0; i < 7; i++)
                rslt += txtHead.replace('{Circle}', circle[i]);
        }
        else if (Status=="APPROVED_R,SUBMIT")
        {
            circle = "CGR,CGR,CGR,CGR,CGR,CRD,CGY".split(",");
            for (var i = 0; i < 7; i++)
                rslt += txtHead.replace('{Circle}', circle[i]);
        }
        else if (Status=="APPROVED_C,SUBMIT")
        {
            circle = "CGR,CGR,CGR,CGR,CGR,CRD,CGY".split(",");
            for (var i = 0; i < 7; i++)
                rslt += txtHead.replace('{Circle}', circle[i]);
        }
        else if (Status=="TICKETED_R,DRAFT")
        {
            circle = "CGR,CGY,CRD,CGY,CGY,CGY,CGY".split(",");
            for (var i = 0; i < 7; i++)
                rslt += txtHead.replace('{Circle}', circle[i]);
        }
        else if (Status=="TICKETED_C,DRAFT")
        {
            circle = "CGR,CGY,CRD,CGY,CGY,CGY,CGY".split(",");
            for (var i = 0; i < 7; i++)
                rslt += txtHead.replace('{Circle}', circle[i]);
        }
        else if (Status=="VERIFIED_R,DRAFT")
        {
            circle = "CGR,CGY,CGY,CRD,CGY,CGY,CGY".split(",");
            for (var i = 0; i < 7; i++)
                rslt += txtHead.replace('{Circle}', circle[i]);
        }
        else if (Status=="VERIFIED_C,DRAFT")
        {
            circle = "CGR,CGY,CGY,CRD,CGY,CGY,CGY".split(",");
            for (var i = 0; i < 7; i++)
                rslt += txtHead.replace('{Circle}', circle[i]);
        }
        else if (Status=="ENDORSED_R,DRAFT")
        {
            circle = "CGR,CGY,CGY,CGY,CRD,CGY,CGY".split(",");
            for (var i = 0; i < 7; i++)
                rslt += txtHead.replace('{Circle}', circle[i]);
        }
        else if (Status=="ENDORSED_C,DRAFT")
        {
            circle = "CGR,CGY,CGY,CGY,CRD,CGY,CGY".split(",");
            for (var i = 0; i < 7; i++)
                rslt += txtHead.replace('{Circle}', circle[i]);
        }
        else if (Status=="APPROVED_R,DRAFT")
        {
            circle = "CGR,CGY,CGY,CGY,CGY,CRD,CGY".split(",");
            for (var i = 0; i < 7; i++)
                rslt += txtHead.replace('{Circle}', circle[i]);
        }
        else if (Status=="APPROVED_C,DRAFT")
        {
            circle = "CGR,CGY,CGY,CGY,CGY,CRD,CGY".split(",");
            for (var i = 0; i < 7; i++)
                rslt += txtHead.replace('{Circle}', circle[i]);
        }
        else
        {            
            for (var i = 0; i < 7; i++)
                rslt += "<td></td>";
        }
        rslt += "<td>" + TicketNo + "</td>";
        rslt += "<td>" + ContactNo + "</td>";
        rslt += "<td>" + DealDate + "</td>";
        rslt += "<td>" + Company + "</td>";
        rslt += "<td>" + DealType + "</td>";
        rslt += "<td>" + Counterparty + "</td>";
        rslt += "<td>" + Underlying + "</td>";
        rslt += "<td>" + Tool + "</td>";
        rslt += "<td>" + VolumeMonth + "</td>";
        rslt += "<td>" + Price + "</td>";

        return rslt;
    }
</script>

@if (TempData["ReponseStatus"] != null && TempData["ReponseStatus"].ToString().ToUpper() == "FALSE")
{
    <script>
        $(document).ready(function () {
            $('#resultPopup').modal({ backdrop: 'static', keyboard: false });
            $('#resultPopup').modal('show');
        });
    </script>
}

<!-- Result Popup -->
<div class="modal fade" id="resultPopup" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <p>
                    @TempData["ReponseMessage"]
                </p>
            </div>
            <div class="modal-footer">
                @if (TempData["ReponseStatus"] != null && TempData["ReponseStatus"].ToString().ToUpper() == "FALSE")
                {
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                }
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="wrapper-detail">
    <div>
        <h1>Search Deal Status</h1>
    </div>
    @using (Html.BeginForm("Search", "HedgingDealStatus", FormMethod.Post, new { @id = "searchForm", @class = "form-horizontal" }))
    {
        @Html.HiddenFor(model => model.systemType)
        <div class="row">
            <div class="form-group">
                <div class="col-md-6">
                    <label class="col-md-3 control-label">Deal No.</label>
                    <div class="col-md-6">                        
                        @Html.TextBoxFor(m => m.Search.sDealNo, new { @class = "form-control" })                  
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="col-md-3 control-label">Status</label>
                    <div class="col-md-6 createByField">                       
                        @Html.HiddenFor(model => model.Search.sStatusSelected, htmlAttributes: new { @id = "sStatusSelected" })
                        @Html.DropDownListFor(model => model.ddlStatus, null, new { @class = "form-control", @multiple = "multiple", @id = "sStatus" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-6">
                    <label class="col-md-3 control-label">Ticket No.</label>
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.Search.sTicketNo, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="col-md-3 control-label">Contact No.</label>
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.Search.sContactNo, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-6">
                    <label class="col-md-3 control-label">Deal Date</label>
                    <div class="col-md-6">
                        <div class="box-date">
                            @Html.TextBoxFor(m => m.Search.sDealDate, new { @id = "sDate", @class = "form-control input-date-picker ", @placeholder = "DD/MM/YYYY to DD/MM/YYYY", @maxlength = "24" })
                        </div>
                    </div>  
                </div>
                <div class="col-md-6">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-6">               
                        @*@Html.RadioButtonFor(m => m.Search.sDealType, "Sell", new { id = "radioSell" })
                        <label style="display:inline" for="radioSell">Sell</label>
                        &nbsp;&nbsp;
                        @Html.RadioButtonFor(m => m.Search.sDealType, "Buy", new { id = "radioBuy" })
                        <label style="display:inline" for="radioBuy">Buy</label>*@
                        @Html.CheckBoxFor(m => m.Search.sDealType_Sell, new { id = "chkSell" })
                        <label style="display:inline" for="chkSell">Sell</label>
                        &nbsp;&nbsp;
                        @Html.CheckBoxFor(m => m.Search.sDealType_Buy, new { id = "chkBuy" })  
                        <label style="display:inline" for="chkBuy">Buy</label>                  
                    </div>                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-6">
                    <label class="col-md-3 control-label">Company</label>
                    <div class="col-md-6">
                        @Html.DropDownListFor(m => m.Search.sCompany, new SelectList(Model.ddlCompany, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="col-md-3 control-label">Counterparty</label>
                    <div class="col-md-6">
                        @Html.DropDownListFor(m => m.Search.sCounterparty, new SelectList(Model.ddlCounterParty, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-6">
                    <label class="col-md-3 control-label">Underlying</label>
                    <div class="col-md-6">
                        @Html.DropDownListFor(m => m.Search.sUnderlying, new SelectList(Model.ddlUnderlying, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="col-md-3 control-label">VS</label>
                    <div class="col-md-6">
                        @Html.DropDownListFor(m => m.Search.sVS, new SelectList(Model.ddlVS, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-6">
                    <label class="col-md-3 control-label">Tool</label>
                    <div class="col-md-6">                        
                        @Html.DropDownListFor(m => m.Search.sTool, new SelectList(Model.ddlTool, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-6">                        
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-6">
                    <label class="col-md-3 control-label">Volume/Month</label>
                    <div class="col-md-2">
                        @Html.TextBoxFor(m => m.Search.sVolumeMonth_From, new { @class = "form-control doubleVal" })
                    </div>
                    <label class="col-md-2 control-label" style="padding-left: 30px;">To</label>
                    <div class="col-md-2">
                        @Html.TextBoxFor(m => m.Search.sVolumeMonth_To, new { @class = "form-control doubleVal" })
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="col-md-3 control-label">Price</label>
                    <div class="col-md-2">
                        @Html.TextBoxFor(m => m.Search.sPrice_From, new { @class = "form-control doubleVal" })
                    </div>
                    <label class="col-md-2 control-label" style="padding-left: 30px;">To</label>
                    <div class="col-md-2">
                        @Html.TextBoxFor(m => m.Search.sPrice_To, new { @class = "form-control doubleVal" })
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <div class="col-md-4 pull-left">
                </div>
                <div class="col-md-4 text-center">
                    <button type="submit" class="btn btn-primary">Search</button>
                    <button type="reset" value="Reset" class="btn btn-default" onclick="resetForm()">Clear All</button>
                </div>
                <div class="col-md-4 text-right">
                </div>
            </div>
        </div>        
    }

    <div class="page-header">
        <h1>Search Result</h1>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <div class="col-md-4 pull-left">
            </div>
            <div class="col-md-4 text-center">
            </div>
            <div class="col-md-4 text-right">
                <a class="btn btn-info" href="#" id="btnExcel" name="btnExcel" role="button">Excel</a>
            </div>
        </div>
    </div>
    <div class="task-box">
        <div class="wrapper-table collapse in" id="collapseJuly">
            <div style="width:100%;overflow-x:scroll;">
                <table id="searchResultTable" class="table table-borderedy">
                    <thead>
                        <tr>
                            <th rowspan="2">Deal No.</th>
                            <th colspan="7">Status</th>
                            <th rowspan="2">Ticket No.</th>
                            <th rowspan="2">Contact No.</th>
                            <th rowspan="2">Deal Date</th>
                            <th rowspan="2">Company</th>
                            <th rowspan="2">Sell/Buy</th>
                            <th rowspan="2">Counterparties</th>
                            <th rowspan="2">Underlying</th>
                            <th rowspan="2">Tool</th>
                            <th rowspan="2">Vol/Month</th>
                            <th rowspan="2">Price</th>
                        </tr>
                        <tr>
                            <th>Drf</th>
                            <th>Sub</th>
                            <th>Tck</th>
                            <th>Vrf</th>
                            <th>Edr</th>
                            <th>Apr</th>
                            <th>Cmp</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Search == null || Model.Search.SearchData == null)
                        {
                            <tr class="waiting">
                                <td colspan="18">Waiting for search</td>
                            </tr>
                        }
                        else
                        {
                            if (Model.Search.SearchData.Count > 0)
                            {
                                var i = 0;
                                foreach (var v in Model.Search.SearchData)
                                {
                                    <tr id="Deal-@i"><td></td></tr>
                                    <script>$("#Deal-@i").html(getStatusStrip('@v.dStatus', '@v.dStatusTicket', '@v.dDealNo', '@v.dTicketNo', '@v.dContactNo', '@v.dDealDate', '@v.dCompany', '@v.dDealType', '@v.dCounterparty', '@v.dUnderlying', '@v.dTool', '@v.dVolumeMonth', '@v.dPrice'));</script>
                                    i++;
                                }
                            }
                            else
                            {
                                <tr class="waiting">
                                    <td colspan="18">Data not found</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        
        var strTD = @Html.Raw(Json.Encode(@Model.Search.sStatusSelected));
        if(strTD != null)
        {
            var arTD = strTD.split("|");
            $("#sStatus").val(arTD).trigger('change');
        }

        $('#sDate').dateRangePicker(
        {
            startOfWeek: 'monday',
            format: 'DD-MM-YYYY',
        });        

        $('#searchResultTable').DataTable({
            searching: false,
            paging: true,
            "bSort": false
        });   
        
    });

    $(".clickable-row").click(function () {
        window.document.location = $(this).data("href");
    });

    $(".doubleVal").bind("keypress", function(e) {
        if (e.which != 8 && e.which != 0 && e.which != 46 && (e.which < 48 || e.which > 57)) {
            return false;
        }else {
            if( e.which ==46 &&  ($(this).val().indexOf('.') >= 0)){
                return false;
            }
        }
    });

    $("#sStatus").select2();
    $('#sStatus').change(function () {

        var create = "";
        $("#sStatus option:selected").each(function () {
            create = create + $(this).val() + "|";
        });
        $("#sStatusSelected").val(create.substr(0, create.length - 1));

        $('.select2-search__field').keydown(function (e) {

            if ($(this).val() == "") {
                if (e.keyCode == 8) {
                    return false;
                }
            }
        });
    });

    function resetForm() {
        document.getElementById("searchForm").reset();
        $("#sCreateBy").select2("val", "");
    }    
</script>