﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.OperatParamViewModel
@{
    string actionName = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString().ToUpper();

    if (actionName == "CREATE")
    {
        ViewBag.Title = "Add Operational Parameter";
    }
    else if (actionName == "EDIT")
    {
        ViewBag.Title = "Edit Operational Parameter";
    }
}
<style type="text/css">
    .full-spectrum .sp-palette {
        max-width: 200px;
    }
</style>
@if (TempData["ReponseStatus"] != null)
{
    // if POST check Response and Disble background layout of Modal Popup
    <script>
        $(document).ready(function () {
            $('#resultPopup').modal({ backdrop: 'static', keyboard: false });
            $('#resultPopup').modal('show');
        });

        var countRow = 0;
    </script>
}
<div class="page-header">
    <h2>@ViewBag.Title</h2>
</div>
@using (Html.BeginForm("", "", FormMethod.Post, new Dictionary<string, object>
{ { "role","form" }, { "class","form-horizontal"}, { "data-toggle", "validator" } }))
{
    @*<input name="OperatParam_Detail.RowId" type="hidden" value="@Model.OperatParam_Detail.RowId" />*@
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <div class="col-sm-2">
                    <label class="control-label col-sm-2" for="email">CODE:<span style="color:red">*</span></label>
                </div>                    
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.OperatParam_Detail.RowId, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>

            <div class="form-group">
                <div class="col-sm-2">
                    <label class="control-label col-sm-2" for="email">UNIT:<span style="color:red">*</span></label>
                </div>                
                <div class="col-sm-4">
                    @Html.DropDownListFor(model => model.OperatParam_Detail.Unit, new SelectList(Model.ddl_Unit, "Value", "Text"), new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <div class="col-sm-2">
                    <label class="control-label col-sm-2" for="email">DETAIL:<span style="color:red">*</span></label>
                </div>
                <div class="col-sm-10">
                    @*Detail Table*@
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Order</th>
                                <th>Parameter</th>
                                <th>Factor</th>
                                <th style="width: 110px;">Score</th>
                                <th>Key</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="tbodylevel1"> 
                            @if (Model.OperatParam_Detail.Param != null && Model.OperatParam_Detail.Param.Any())
                            {
                                for (int param = 0; param < Model.OperatParam_Detail.Param.Count(); param++)
                                {
                                    <tr>
                                        <td>
                                            @Html.TextBoxFor(model => model.OperatParam_Detail.Param[param].Order, htmlAttributes: new { @class = "form-control essential", @required = "required", @onkeypress = "return ValidateNumber(event);" , @maxlength = "5" })
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(model=>model.OperatParam_Detail.Param[param].Parameter, htmlAttributes:new{ @class = "form-control essential", @required = "required", @maxlength = "100" })
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(model => model.OperatParam_Detail.Param[param].Factor, htmlAttributes: new { @class = "form-control essential", @onkeypress = "return ValidateNumberDigit(event, this);", @required = "required", @maxlength = "10" })
                                        </td>
                                        <td colspan="2">
                                            <table class="table" id="Table_@param" style="border-spacing: 0px!important; ">
                                                <tbody id="tbodylevel2">
                                                    @if (Model.OperatParam_Detail.Param[param].DataKeyValue != null && Model.OperatParam_Detail.Param[param].DataKeyValue.Any())
                                                    {
                                                        for(int k = 0; k < Model.OperatParam_Detail.Param[param].DataKeyValue.Count(); k++)
                                                        {
                                                            <tr>
                                                                <td>                   
                                                                    @Html.TextBoxFor(model=>model.OperatParam_Detail.Param[param].DataKeyValue[k].Score, htmlAttributes: new { @*@id = "Score" + k,*@ @class = "form-control essential", @onkeydown = "return ValidateNumber(event);" , @required = "required", @maxlength = "5" })
                                                                    <a href="#" id="addRowBtn" class="btn" src="~/Web/Images/btn-add-member.png" onclick="addRowlevel2(this); return false;">
                                                                        <i class="fa fa-plus"></i>
                                                                    </a>
                                                                    <a id="delRowBtn" class="btn" src="~/Web/Images/btn-dele-member.png" onclick="delRowlevel2(this); return false;">
                                                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                                                    </a>
                                                                </td>
                                                                <td>
                                                                    <table class="table" id="TableLvTree@(k)"  style="border-spacing: 0px!important; ">
                                                                        <tbody id="tbodylevel3">
                                                                            @if (Model.OperatParam_Detail.Param[param].DataKeyValue[k].KeyValue != null && Model.OperatParam_Detail.Param[param].DataKeyValue[k].KeyValue.Any())
                                                                            {
                                                                                for (int key = 0; key < Model.OperatParam_Detail.Param[param].DataKeyValue[k].KeyValue.Count(); key++)
                                                                                {
                                                                                    <tr>
                                                                                        <td>
                                                                                            @Html.TextBoxFor(model => model.OperatParam_Detail.Param[param].DataKeyValue[k].KeyValue[key].Key, htmlAttributes: new { @class = "form-control essential", @required = "required" , @maxlength = "100" })
                                                                                            <a href="#" id="addRowBtn" class="btn" src="~/Web/Images/btn-add-member.png" onclick="addRowlevel3(this); return false;">
                                                                                                <i class="fa fa-plus"></i>
                                                                                            </a>
                                                                                            <a id="delRowBtn" class="btn" src="~/Web/Images/btn-dele-member.png" onclick="delRowlevel3(this); return false;">
                                                                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                                                                            </a>
                                                                                        </td>
                                                                                    </tr>
                                                                                }
                                                                            }
                                                                            else
                                                                            {
                                                                                <tr>
                                                                                    <td>
                                                                                        <input type="text" class="form-control essential" id="OperatParam_Detail_Param_0__DataKeyValue_0__KeyValue_0__Key" name="OperatParam_Detail.Param[0].DataKeyValue[0].KeyValue[0].Key" required = "required" maxlength="100"/>
                                                                                        <a href="#" id="addRowBtn" class="btn" src="~/Web/Images/btn-add-member.png" onclick="addRowlevel3(this); return false;">
                                                                                            <i class="fa fa-plus"></i>
                                                                                        </a>
                                                                                        <a id="delRowBtn" class="btn" src="~/Web/Images/btn-dele-member.png" onclick="delRowlevel3(this); return false;">
                                                                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                                                                        </a>
                                                                                    </td>
                                                                                </tr>
                                                                            }
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <tr>
                                                            <td>
                                                                <input type="text" class="form-control essential" id="OperatParam_Detail.Param[0].DataKeyValue[0].Score" name="OperatParam_Detail.Param[0].DataKeyValue[0].Score" onkeypress = "return ValidateNumber(event);" required="required" maxlength="5"/>
                                                                <a href="#" id="addRowBtn" class="btn" src="~/Web/Images/btn-add-member.png" onclick="addRowlevel2(this); return false;">
                                                                    <i class="fa fa-plus"></i>
                                                                </a>
                                                                <a id="delRowBtn" class="btn" src="~/Web/Images/btn-dele-member.png" onclick="delRowlevel2(this); return false;">
                                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                                </a>
                                                            </td>
                                                            <td>
                                                                <table class="table" id="TableLvTree0" style="border-spacing: 0px!important; ">
                                                                    <tbody id="tbodylevel3">
                                                                        <tr>
                                                                            <td>
                                                                                <input type="text" class="form-control essential" id="OperatParam_Detail_Param_0__DataKeyValue_0__KeyValue_0__Key" name="OperatParam_Detail.Param[0].DataKeyValue[0].KeyValue[0].Key" required="required" maxlength="100"/>
                                                                                <a href="#" id="addRowBtn" class="btn" src="~/Web/Images/btn-add-member.png" onclick="addRowlevel3(this); return false;">
                                                                                    <i class="fa fa-plus"></i>
                                                                                </a>
                                                                                <a id="delRowBtn" class="btn" src="~/Web/Images/btn-dele-member.png" onclick="delRowlevel3(this); return false;">
                                                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                                                </a>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    }
                                                   
                                                </tbody>
                                            </table>
                                        </td>
                                        <td>
                                            <a id="delRowBtn" class="btn" src="~/Web/Images/btn-dele-member.png" onclick="delRowlevel1(this); return false;">
                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td><input type="text" class="form-control essential" id="OperatParam_Detail_Param_0__Order" name="OperatParam_Detail.Param[0].Order" onkeypress="return ValidateNumber(event);" required="required" maxlength="5"/></td>
                                    <td><input type="text" class="form-control essential" id="OperatParam_Detail_Param_0__Parameter" name="OperatParam_Detail.Param[0].Parameter" require="required" maxlength="100"/></td>
                                    <td><input type="text" class="form-control essential" id="OperatParam_Detail_Param_0__Factor" name="OperatParam_Detail.Param[0].Factor" onkeypress="return ValidateNumberDigit(event, this);" required="required" maxlength="10"/></td>
                                    <td colspan="2">
                                        <table class="table" id="Table_0" style="border-spacing: 0px!important; ">
                                            <tbody id="tbodylevel2">
                                                <tr>
                                                    <td>
                                                        <input type="text" class="form-control essential" id="OperatParam_Detail_Param_0__DataKeyValue_0__Score" name="OperatParam_Detail.Param[0].DataKeyValue[0].Score" onkeypress="return ValidateNumber(event);" required="required" maxlength="5"/>
                                                        <a href="#" id="addRowBtn" class="btn" src="~/Web/Images/btn-add-member.png" onclick="addRowlevel2(this); return false;">
                                                            <i class="fa fa-plus"></i>
                                                        </a>
                                                        <a id="delRowBtn" class="btn" src="~/Web/Images/btn-dele-member.png" onclick="delRowlevel2(this); return false;">
                                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <table class="table" id="TableLvTree0" style="border-spacing: 0px!important; ">
                                                            <tbody id="tbodylevel3">
                                                                <tr>
                                                                    <td>
                                                                        <input type="text" class="form-control essential" id="OperatParam_Detail_Param_0__DataKeyValue_0__KeyValue_0__Key" name="OperatParam_Detail.Param[0].DataKeyValue[0].KeyValue[0].Key" required="required" maxlength="100"/>
                                                                        <a href="#" id="addRowBtn" class="btn" src="~/Web/Images/btn-add-member.png" onclick="addRowlevel3(this); return false;">
                                                                            <i class="fa fa-plus"></i>
                                                                        </a>
                                                                        <a id="delRowBtn" class="btn" src="~/Web/Images/btn-dele-member.png" onclick="delRowlevel3(this); return false;">
                                                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td>
                                        <a id="delRowBtn" class="btn" src="~/Web/Images/btn-dele-member.png" onclick="delRowlevel1(this); return false;">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                            }                           
                        </tbody>
                    </table>

                    
                    <div class="col-md-6">
                        <button class="btn btn-default " onclick="addRowlevel1(); return false;" role="button">Add Detail</button>
                    </div>
                </div>
            </div>
            <div class="form-group">  @*Condition Table*@
                <div class="col-sm-2">
                    <label class="control-label col-sm-2" for="email">CONDITION:<span style="color:red">*</span></label>
                </div>
                <div class="col-sm-10">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Key</th>
                                <th>Row</th>
                                <th>Column</th>
                                <th>Condition</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="tbodyConditionL0">
                            @if (Model.OperatParam_Detail.DataCondition != null && Model.OperatParam_Detail.DataCondition.Any())
                            {
                                for (var condition = 0; condition < Model.OperatParam_Detail.DataCondition.Count(); condition++)
                                {
                                    <tr>
                                        <td>
                                            @Html.TextBoxFor(model => model.OperatParam_Detail.DataCondition[condition].Key, htmlAttributes: new { @*@id = "ConditionKey" + condition,*@ @class = "form-control essential",@required = "required", @maxlength = "100"})
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(model => model.OperatParam_Detail.DataCondition[condition].Row, htmlAttributes: new { @*@id = "ConditionRow" + condition,*@ @class = "form-control essential", @onkeypress = "return ValidateNumber(event);", @required = "required", @maxlength = "10"})
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(model => model.OperatParam_Detail.DataCondition[condition].Column, htmlAttributes: new
                                       { @*@id = "ConditionColumn" + condition,*@ @class = "form-control essential",
                                           @required = "required",
                                           @onkeypress = "return ValidateChar(event);",
                                           @maxlength = "10"
                                       })
                                        </td>
                                        <td>
                                            <table class="table" id="condition_@condition" style="border-spacing: 0px!important; ">
                                                <tbody id="tbodyConditionL1">
                                                    @if (Model.OperatParam_Detail.DataCondition[condition].ObjCondition.Condition != null && Model.OperatParam_Detail.DataCondition[condition].ObjCondition.Condition.Any())
                                                    {
                                                        for (int condition_value = 0; condition_value < Model.OperatParam_Detail.DataCondition[condition].ObjCondition.Condition.Count(); condition_value++)
                                                        {
                                                            <tr>
                                                                <td>
                                                                    <div class="col-sm-4">
                                                                        @if (condition_value == 0)
                                                                        {
                                                                            <select id="OperatParam_Detail_DataCondition_0__ObjCondition_Condition_0__and_or" name="OperatParam_Detail.DataCondition[0].ObjCondition.Condition[0].and_or" class="form-control" style="display:none;"></select>
                                                                        }
                                                                        else
                                                                        {
                                                                            @Html.DropDownListFor(model => model.OperatParam_Detail.DataCondition[condition].ObjCondition.Condition[condition_value].and_or, new SelectList(Model.ddl_Data_AndOr, "Value", "Text", (string.IsNullOrEmpty(Model.OperatParam_Detail.DataCondition[condition].ObjCondition.Condition[condition_value].and_or) ? string.Empty : Model.OperatParam_Detail.DataCondition[condition].ObjCondition.Condition[condition_value].and_or)),htmlAttributes: new { @*@id = "select_and" + condition_value,*@ @class = "form-control" })
                                                                        }

                                                                    </div>
                                                                    <div class="col-sm-4">
                                                                        @Html.DropDownListFor(model => model.OperatParam_Detail.DataCondition[condition].ObjCondition.Condition[condition_value].operater_value, new SelectList(Model.ddl_Data_Operation, "Value", "Text", (string.IsNullOrEmpty(Model.OperatParam_Detail.DataCondition[condition].ObjCondition.Condition[condition_value].operater_value) ? string.Empty : Model.OperatParam_Detail.DataCondition[condition].ObjCondition.Condition[condition_value].operater_value)),htmlAttributes: new { @*@id = "select_operattion" + condition_value,*@ @class = "form-control"})
                                                                    </div>
                                                                    
                                                                    <div class="col-sm-4">
                                                                        @Html.TextBoxFor(model => model.OperatParam_Detail.DataCondition[condition].ObjCondition.Condition[condition_value].value, htmlAttributes: new { @*@id = "txtCondition" + condition_value,*@ @class = "form-control essential", @required = "required" })
                                                                    </div>

                                                                    <a href="#" id="addCondTxtBtn" class="btn" onclick="addCondTxtlevel1(this); return false;">
                                                                        <i class="fa fa-plus"></i>
                                                                    </a>
                                                                    <a id="delCondTxtBtn" class="btn" onclick="delCondTxtlevel1(this); return false;">
                                                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <tr>
                                                            <td>
                                                                <div class="col-sm-4">
                                                                    @Html.DropDownListFor(model => model.OperatParam_Detail.DataCondition[condition].ObjCondition.Condition[0].operater_value, new SelectList(Model.ddl_Data_Operation, "Value", "Text"), htmlAttributes: new { @class = "form-control" })
                                                                </div>
                                                                <div class="col-sm-4">
                                                                    @Html.DropDownListFor(model => model.OperatParam_Detail.DataCondition[condition].ObjCondition.Condition[0].and_or, new SelectList(Model.ddl_Data_Operation, "Value", "Text"), htmlAttributes: new { @class = "form-control" })
                                                                </div>
                                                                <div class="col-sm-4">
                                                                    <input type="text" class="form-control essential" id="OperatParam_Detail_DataCondition_0__ObjCondition_Condition_0__value" name="OperatParam_Detail.DataCondition[condition].ObjCondition.Condition[0].value" required />
                                                                </div>

                                                                <a href="#" id="addCondTxtBtn" class="btn" onclick="addCondTxtlevel1(this); return false;">
                                                                    <i class="fa fa-plus"></i>
                                                                </a>
                                                                <a id="delCondTxtBtn" class="btn" onclick="delCondTxtlevel1(this); return false;">
                                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    }

                                                    </tbody>
                                                    </table>
                                                    </td>
                                        <td>
                                            <a id="delCondTxtBtn" class="btn" onclick="delCondTxtlevel1(this); return false;">
                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td>
                                        <input type="text" class="form-control essential" id="OperatParam_Detail_DataCondition_0__Key" name="OperatParam_Detail.DataCondition[0].Key" required="required" maxlength="100"/>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control essential" id="OperatParam_Detail_DataCondition_0__Row" name="OperatParam_Detail.DataCondition[0].Row" onkeypress="return ValidateNumber(event);" required="required" maxlength="10"/>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control essential" id="OperatParam_Detail_DataCondition_0__Column" name="OperatParam_Detail.DataCondition[0].Column" required="required" onkeypress="return ValidateChar(event)" maxlength="10"/>
                                    </td>
                                    <td>
                                        <table class="table" id="condition_0" style="border-spacing: 0px!important; ">
                                            <tbody id="tbodyConditionL1">

                                                <tr>
                                                    <td>
                                                        <div class="col-sm-4">
                                                            <select id="OperatParam_Detail_DataCondition_0__ObjCondition_Condition_0__and_or" name="OperatParam_Detail.DataCondition[0].ObjCondition.Condition[0].and_or" class="form-control" style="display:none;"></select>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <select id="OperatParam_Detail_DataCondition_0__ObjCondition_Condition_0__operater_value" name="OperatParam_Detail.DataCondition[0].ObjCondition.Condition[0].operater_value" class="form-control">
                                                                @foreach (var option in Model.ddl_Data_Operation)
                                                                {
                                                                    <option value="@option.Value"> @option.Text </option>
                                                                }
                                                            </select>
                                                        </div>                                                       
                                                        <div class="col-sm-4">
                                                            <input type="text" class="form-control essential" id="OperatParam_Detail_DataCondition_0__ObjCondition_Condition_0__value" name="OperatParam_Detail.DataCondition[0].ObjCondition.Condition[0].value" required="required"/>
                                                        </div>

                                                        <a href="#" id="addCondTxtBtn" class="btn" onclick="addCondTxtlevel1(this); return false;">
                                                            <i class="fa fa-plus"></i>
                                                        </a>
                                                        <a id="delCondTxtBtn" class="btn" onclick="delCondTxtlevel1(this); return false;">
                                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td>
                                        <a id="delCondTxtBtn" class="btn" onclick="delCondTxtlevel1(this); return false;">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                            }

                            </tbody>
                            </table>
                            <div class="col-md-6">
                                <button class="btn btn-default " onclick="addRowConditionlevel0(); return false;" role="button">Add Condition</button>
                            </div>
                        </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-12">
            <div class="text-center">
                @if (ViewBag.action_edit && actionName == "VIEW")
                {
                    @Html.ActionLink("BACK", "Search", new { controller = "OperationalParameter" }, htmlAttributes: new { @class = "btn btn-default" })
                }
                else if (ViewBag.action_edit && actionName == "EDIT")
                {
                    <button type="submit" class="btn btn-primary" onclick="return ValidateEssential();">SAVE</button>
                    @Html.ActionLink("BACK", "Search", new { controller = "OperationalParameter" }, htmlAttributes: new { @class = "btn btn-default" })
                }
                else
                {
                    <button type="submit" class="btn btn-primary" onclick="return ValidateEssential();">SAVE</button>
                    <button type="reset" class="btn btn-default">CLEAR</button>
                    @Html.ActionLink("BACK", "Search", new { controller = "OperationalParameter" }, htmlAttributes: new { @class = "btn btn-default" })
                }

            </div>
        </div>
    </div>


}
        <!-- Result Popup -->
        <div class="modal fade" id="resultPopup" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <p>
                            @TempData["ReponseMessage"]
                        </p>
                    </div>
                    <div class="modal-footer">
                        @if (TempData["ReponseStatus"] != null && TempData["ReponseStatus"].ToString().ToUpper() == "FALSE")
                {
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                }
                else
                {
                    if (actionName.ToUpper() == "EDIT" || actionName.ToUpper() == "CREATE")
                    {
                @Html.ActionLink(
                             "Close",
                             "Edit",
                             "OperationalParameter", // controllerName
                             new
                             {                                                     // routeValues
                                 rowId = Model.OperatParam_Detail.RowId
                             },
                             htmlAttributes: new { @class = "btn btn-default" });
                    }
                    else
                    {
                @Html.ActionLink("Close", "Search", new { controller = "OperationalParameter" }, htmlAttributes: new { @class = "btn btn-default" })
                    }

                }
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->

        @if (actionName == "VIEW")
        {
            <script>
                $("input").attr("readonly", true);
                $("select").attr("disabled", true);
                $('textarea').attr("readonly", true);
                $('input[type="checkbox"]').attr("disabled", true);
                $('#actionButtonxxx').hide();
                $('tfoot').hide();
            </script>
        }
  <script type="text/javascript">

      //Detail Table
      function addRowlevel1() {
          var current_row = $('[id="tbodylevel1"]').last("tr");
          var new_row='<tr>'
          new_row += '<td><input type="text" class="form-control essential" id="OperatParam_Detail_Param_0__Order" name="OperatParam_Detail.Param[0].Order" onkeypress="return ValidateNumber(event);" required="required" maxlength="5"/></td>'
          new_row += '<td><input type="text" class="form-control essential" id="OperatParam_Detail_Param_0__Parameter" name="OperatParam_Detail.Param[0].Parameter" required="required" maxlength="100"/></td>'
          new_row += '<td><input type="text" class="form-control essential" id="OperatParam_Detail_Param_0__Factor" name="OperatParam_Detail.Param[0].Factor" onkeypress="return ValidateNumberDigit(event, this);" required="required" maxlength="10"/></td>'
          new_row += '<td colspan="2">'
          new_row += '<table class="table" id="Table_0" style="border-spacing: 0px!important; ">'
          new_row+='<tbody id="tbodylevel2">'
          new_row+='<tr>'
          new_row+='<td>'
          new_row += '<input type="text" class="form-control essential" id="OperatParam_Detail_Param_0__DataKeyValue_0__Score" name="OperatParam_Detail.Param[0].DataKeyValue[0].Score" onkeypress = "return ValidateNumber(event);" required="required" maxlength="5"/>'
          new_row+='<a href="#" id="addRowBtn" class="btn" src="~/Web/Images/btn-add-member.png" onclick="addRowlevel2(this); return false;">'
          new_row+='<i class="fa fa-plus"></i>'
          new_row+='</a>'
          new_row+='<a id="delRowBtn" class="btn" src="~/Web/Images/btn-dele-member.png" onclick="delRowlevel2(this); return false;">'
          new_row+='<i class="fa fa-trash" aria-hidden="true"></i>'
          new_row+='</a>'
          new_row+='</td>'
          new_row+='<td>'
          new_row += '<table class="table" id="TableLvTree0" style="border-spacing: 0px!important; ">'
          new_row+='<tbody id="tbodylevel3">'
          new_row+='<tr>'
          new_row+='<td>'
          new_row += '<input type="text" class="form-control essential" id="OperatParam_Detail_Param_0__DataKeyValue_0__KeyValue_0__Key" name="OperatParam_Detail.Param[0].DataKeyValue[0].KeyValue[0].Key" required="required" maxlength="100"/>'
          new_row+='<a href="#" id="addRowBtn" class="btn" src="~/Web/Images/btn-add-member.png" onclick="addRowlevel3(this); return false;">'
          new_row+='<i class="fa fa-plus"></i>'
          new_row+='</a>'
          new_row+='<a id="delRowBtn" class="btn" src="~/Web/Images/btn-dele-member.png" onclick="delRowlevel3(this); return false;">'
          new_row+='<i class="fa fa-trash" aria-hidden="true"></i>'
          new_row+='</a>'
          new_row+='</td>'
          new_row+='</tr>'
          new_row+='</tbody>'
          new_row+='</table>'
          new_row+='</td>'
          new_row+='</tr>'
          new_row+='</tbody>'
          new_row+='</table>'
          new_row+='</td>'
          new_row+='<td>'
          new_row+='<a id="delRowBtn" class="btn" src="~/Web/Images/btn-dele-member.png" onclick="delRowlevel1(this); return false;">'
          new_row+='<i class="fa fa-trash" aria-hidden="true"></i>'
          new_row+='</a>'
          new_row+='</td>'
          new_row += '</tr>'
          current_row.append(new_row);
          ReIndexTbodyLevel1();
      }

      function addRowlevel2(e) {
          var current_row = $(e).closest('tr');
          var new_row = '<tr>';
          new_row+='<td>'
          new_row += '<input type="text" class="form-control essential" id="OperatParam_Detail_Param_0__DataKeyValue_0__Score" name="OperatParam_Detail.Param[0].DataKeyValue[0].Score" onkeypress = "return ValidateNumber(event);" required="required" maxlength="5"/>'
          new_row+='<a href="#" id="addRowBtn" class="btn" src="~/Web/Images/btn-add-member.png" onclick="addRowlevel2(this); return false;">'
          new_row+='<i class="fa fa-plus"></i>'
          new_row+='</a>'
          new_row+='<a id="delRowBtn" class="btn" src="~/Web/Images/btn-dele-member.png" onclick="delRowlevel2(this); return false;">'
          new_row+='<i class="fa fa-trash" aria-hidden="true"></i>'
          new_row+='</a>'
          new_row+='</td>'
          new_row+='<td>'
          new_row += '<table class="table" id="TableLvTree0" style="border-spacing: 0px!important; ">'
          new_row+='<tbody id="tbodylevel3">'
          new_row+='<tr>'
          new_row+='<td>'
          new_row += '<input type="text" class="form-control essential" id="OperatParam_Detail_Param_0__DataKeyValue_0__KeyValue_0__Key" name="OperatParam_Detail.Param[0].DataKeyValue[0].KeyValue[0].Key" required="required" maxlength="100"/>'
          new_row+='<a href="#" id="addRowBtn" class="btn" src="~/Web/Images/btn-add-member.png" onclick="addRowlevel3(this); return false;">'
          new_row+='    <i class="fa fa-plus"></i>'
          new_row+='</a>'
          new_row+='<a id="delRowBtn" class="btn" src="~/Web/Images/btn-dele-member.png" onclick="delRowlevel3(this); return false;">'
          new_row+='    <i class="fa fa-trash" aria-hidden="true"></i>'
          new_row+='</a>'
          new_row+='</td>'
          new_row+='</tr>'
          new_row+='</tbody>'
          new_row+='</table>'
          new_row+='</td>'
          new_row += '</tr>'
          current_row.after(new_row);
          ReIndexTbodyLevel2();
      }

      function addRowlevel3(e) {
          var current_row = $(e).closest('tr');
          var new_row = '<tr>';
          new_row += '<td>'
          new_row += '<input type="text" class="form-control essential" id="OperatParam_Detail_Param_0__DataKeyValue_0__KeyValue_0__Key" name="OperatParam_Detail.Param[0].DataKeyValue[0].KeyValue[0].Key" required="required" maxlength="100"/>'
          new_row += '<a href="#" id="addRowBtn" class="btn" src="~/Web/Images/btn-add-member.png" onclick="addRowlevel3(this); return false;">'
          new_row += '<i class="fa fa-plus"></i> '
          new_row += '</a>'
          new_row += '<a id="delRowBtn" class="btn" src="~/Web/Images/btn-dele-member.png" onclick="delRowlevel3(this); return false;">'
          new_row += '<i class="fa fa-trash" aria-hidden="true"></i>'
          new_row += '</a>'
          new_row += '</td>'
          new_row += '</tr>'
          current_row.after(new_row);
          ReIndexTbodyLevel3();
      }

      function delRowlevel1(e) {
          $(e).parent().parent().remove();
          ReIndexTbodyLevel1();
      }

      function delRowlevel2(e) {        
          if ($(e).parent().parent().parent().children().length > 1) {
              var conf = confirm("Please confirm to Delete?");
              if (conf) {
                  $(e).parent().parent().remove();
                  ReIndexTbodyLevel2();
              }
          }
      }

      function delRowlevel3(e) {
          if ($(e).parent().parent().parent().children().length > 1) {
              var conf = confirm("Please confirm to Delete?");
              if (conf) {
                  $(e).parent().parent().remove();
                  ReIndexTbodyLevel3();
              }
          }
      }

      function ReIndexTbodyLevel1() {
          var i = 0;
          $('#tbodylevel1').children().each(function () {
              $(this).find('[name*="Order"]').each(function () {
                  $(this).attr("id", $(this).attr("id").replace(/\d+/, i));
                  $(this).attr("name", $(this).attr("name").replace(/\d+/, i));
              });
              $(this).find('[name*="Parameter"]').each(function () {
                  $(this).attr("id", $(this).attr("id").replace(/\d+/, i));
                  $(this).attr("name", $(this).attr("name").replace(/\d+/, i));
              });
              $(this).find('[name*="Factor"]').each(function () {
                  $(this).attr("id", $(this).attr("id").replace(/\d+/, i));
                  $(this).attr("name", $(this).attr("name").replace(/\d+/, i));
              });
              $(this).find('[id*="Table_"]').each(function () {
                  $(this).attr("id", $(this).attr("id").replace(/\d+/, i));
              });
              $(this).find('[name*="Score"]').each(function () {
                  //$(this).attr("id", "OperatParam_Detail.Param[" + i + "].DataKeyValue[0].Score");
                  $(this).attr("id", "OperatParam_Detail_Param_" + i + "__DataKeyValue_0__Score");
                  $(this).attr("name", "OperatParam_Detail.Param[" + i + "].DataKeyValue[0].Score");
              });
              $(this).find('[name*=".Key"]').each(function () {
                  $(this).attr("id", "OperatParam_Detail_Param_" + i + "__DataKeyValue_0__KeyValue_0__Key");                 
                  $(this).attr("name", "OperatParam_Detail.Param[" + i + "].DataKeyValue[0].KeyValue[0].Key");
                  ReIndexTbodyLevel2();
                  //ReIndexTbodyLevel3();
              });
              i++;
          });

      }

      function ReIndexTbodyLevel2() {

          $('#tbodylevel1').find('[id*="Table_"]').each(function () {
              var pLavel = $(this).attr("id").replace("Table_", ""); //0 / 1
              var i = 0;
              $(this).find('[name*="Score"]').each(function () {
                  //$(this).attr("id", $(this).attr("id").replace(/\d+/, i));
                  //OperatParam_Detail_Param_0__DataKeyValue_0__Score
                  $(this).attr("id", "OperatParam_Detail_Param_" + pLavel + "__DataKeyValue_" + i + "__Score");
                  $(this).attr("name", "OperatParam_Detail.Param[" + pLavel + "].DataKeyValue[" + i + "].Score");                  
                  i++;                  
              });              
              var a = 0;
              $(this).find('[id*="TableLvTree"]').each(function () {
                  $(this).attr("id", $(this).attr("id").replace(/\d+/, a));

                  a++;
              });             
          });
          ReIndexTbodyLevel3();
      }

      function ReIndexTbodyLevel3() {
          $('#tbodylevel1').find('[id*="Table_"]').each(function () {
              var pLevel = $(this).attr("id").replace("Table_", ""); //0 / 1
              $(this).find('[id*="TableLvTree"]').each(function () {
                  var kLevel = $(this).attr("id").replace("TableLvTree", "");
                  var i = 0;
                  $(this).find('[name*="Key"]').each(function () {
                      $(this).attr("id", $(this).attr("id").replace(/\d+/, i));
                      //OperatParam_Detail_Param_0__DataKeyValue_0__KeyValue_0__Key

                      $(this).attr("id", "OperatParam_Detail_Param_" + pLevel + "__DataKeyValue_" + kLevel + "__KeyValue_" + i + "__Key");
                      $(this).attr("name", "OperatParam_Detail.Param[" + pLevel + "].DataKeyValue[" + kLevel + "].KeyValue[" + i + "].Key");
                      i++;
                  });
              });
          });
      }

      //Condition Table


      function addRowConditionlevel0() {
          var current_row = $('[id="tbodyConditionL0"]').last("tr");
          var new_row = '<tr>';
          new_row+='<td>'
          new_row += '<input type="text" class="form-control essential" id="OperatParam_Detail_DataCondition_0__Key" name="OperatParam_Detail.DataCondition[0].Key" required="required" maxlength="100"/>'
          new_row+='</td>'
          new_row+='<td>'
          new_row += '<input type="text" class="form-control essential" id="OperatParam_Detail_DataCondition_0__Row" name="OperatParam_Detail.DataCondition[0].Row" onkeypress = "return ValidateNumber(event);" required="required" maxlength="10"/>'
          new_row+='</td>'
          new_row+='<td>'
          new_row += '<input type="text" class="form-control essential" id="OperatParam_Detail_DataCondition_0__Column" name="OperatParam_Detail.DataCondition[0].Column" required onkeypress = "return ValidateChar(event);" required="required" maxlength="10"/>'
          new_row+='</td>'
          new_row+='<td>'
          new_row += '<table class="table" id="condition_0" style="border-spacing: 0px!important; ">'
          new_row+='<tbody id="tbodyConditionL1">'
          new_row+='<tr>'
          new_row+='<td>'
          new_row+='<div class="col-sm-4">'
          new_row += '<select id="OperatParam_Detail_DataCondition_0__ObjCondition_Condition_0__and_or" name="OperatParam_Detail.DataCondition[0].ObjCondition.Condition[0].and_or" class="form-control"  style="display:none;">' +
          @foreach (var option in Model.ddl_Data_AndOr)
            {
                @:'<option value="@option.Value"> @option.Text </option>'+
            }
          '</select>';
          new_row+='</div>'
          new_row+='<div class="col-sm-4">'
          new_row += '<select id="OperatParam_Detail_DataCondition_0__ObjCondition_Condition_0__operater_value" name="OperatParam_Detail.DataCondition[0].ObjCondition.Condition[0].operater_value" class="form-control">' +
          @foreach (var option in Model.ddl_Data_Operation)
            {
                @:'<option value="@option.Value"> @option.Text </option>'+
            }
            '</select>'
        new_row+='</div>'
        new_row+='<div class="col-sm-4">'
        new_row += '<input type="text" class="form-control essential" id="OperatParam_Detail_DataCondition_0__ObjCondition_Condition_0__value" name="OperatParam_Detail.DataCondition[0].ObjCondition.Condition[0].value required="required"/>'
        new_row+='</div>'
        new_row+='<a href="#" id="addCondTxtBtn" class="btn" onclick="addCondTxtlevel1(this); return false;">'
        new_row+='<i class="fa fa-plus"></i>'
        new_row+='</a>'
        new_row+='<a id="delCondTxtBtn" class="btn" onclick="delCondTxtlevel1(this); return false;">'
        new_row+='<i class="fa fa-trash" aria-hidden="true"></i>'
        new_row+='</a>'
        new_row+='</td>'
        new_row+='</tr>'
        new_row+='</tbody>'
        new_row+='</table>'
        new_row+='</td>'
        new_row+='<td>'
        new_row+='<a id="delCondTxtBtn" class="btn" onclick="delCondTxtlevel1(this); return false;">'
        new_row+='<i class="fa fa-trash" aria-hidden="true"></i>'
        new_row+='</a>'
        new_row+='</td>'
        new_row += '</tr>'
        current_row.append(new_row);
          ReIndexTbodyConditionLevel0();
      }

      function addCondTxtlevel1(e) {
          var current_row = $(e).closest('tr');
          var new_row = '<tr>';
          new_row+='<td>'
          new_row+='<div class="col-sm-4">'
          new_row += '<select id="OperatParam_Detail_DataCondition_0__ObjCondition_Condition_0__and_or" name="OperatParam_Detail.DataCondition[0].ObjCondition.Condition[0].and_or" class="form-control">'
          new_row+='<option value="&&"> and </option>'
          new_row+='<option value="||"> or </option>'
          new_row+='</select>'
          new_row+='</div>'
          new_row+='<div class="col-sm-4">'
          new_row += '<select id="OperatParam_Detail_DataCondition_0__ObjCondition_Condition_0__operater_value" name="OperatParam_Detail.DataCondition[0].ObjCondition.Condition[0].operater_value" class="form-control">'
          new_row+='<option value="=="> = </option>'
          new_row += '<option value="!="> ≠ </option>'
          new_row += '<option value=">"> > </option>'
          new_row += '<option value="<"> < </option>'
          new_row += '<option value="<="> <= </option>'
          new_row += '<option value="=>"> => </option>'
          new_row+='</select>'
          new_row+='</div>'
          new_row+='<div class="col-sm-4">'
          new_row += '<input type="text" class="form-control essential" id="OperatParam_Detail_DataCondition_0__ObjCondition_Condition_0__value" name="OperatParam_Detail.DataCondition[0].ObjCondition.Condition[0].value" required="required"/>'
          new_row+='</div>'
          new_row+='<a href="#" id="addCondTxtBtn" class="btn" src="~/Web/Images/btn-add-member.png" onclick="addCondTxtlevel1(this); return false;">'
          new_row+='<i class="fa fa-plus"></i>'
          new_row+='</a>'
          new_row+='<a id="delCondTxtBtn" class="btn" src="~/Web/Images/btn-dele-member.png" onclick="delCondTxtlevel1(this); return false;">'
          new_row+='<i class="fa fa-trash" aria-hidden="true"></i>'
          new_row+='</a>'
          new_row+='</td>'
          new_row += '</tr>'
          current_row.after(new_row);
          ReIndexTbodyConditionLevel1();

      }

      function delCondTxtlevel1(e) {       
          $(e).parent().parent().remove();
          ReIndexTbodyConditionLevel0();
                  //ReIndexTbodyConditionLevel1();
      }

      function ReIndexTbodyConditionLevel1() {
          $('#tbodyConditionL0').find('[id*="condition_"]').each(function () {
              var level0 = $(this).attr("id").replace("condition_", "");
              var i = 0;
              $(this).find('#tbodyConditionL1 tr').each(function () {
                  $(this).find('[name*=".value"]').each(function () {
                      //$(this).attr("id", $(this).attr("id").replace(/\d+/, i));
                      
                      $(this).attr("id", "OperatParam_Detail_DataCondition_" + level0 + "__ObjCondition_Condition_" + i + "__value");
                      $(this).attr("name", "OperatParam_Detail.DataCondition[" + level0 + "].ObjCondition.Condition[" + i + "].value");
                  });
                  $(this).find('[name*=".and_or"]').each(function () {
                      //$(this).attr("id", $(this).attr("id").replace(/\d+/, i));
                      //OperatParam_Detail.DataCondition[1].ObjCondition.Condition[1].and_or

                      $(this).attr("id", "OperatParam_Detail_DataCondition_" + level0 + "__ObjCondition_Condition_" + i + "__and_or");
                      $(this).attr("name", "OperatParam_Detail.DataCondition[" + level0 + "].ObjCondition.Condition[" + i + "].and_or");
                  });
                  $(this).find('[name*=".operater_value"]').each(function () {
                      //$(this).attr("id", $(this).attr("id").replace(/\d+/, i));
                      //OperatParam_Detail_DataCondition_0__ObjCondition_Condition_0__operater_value

                      $(this).attr("id", "OperatParam_Detail_DataCondition_" + level0 + "__ObjCondition_Condition_" + i + "__operater_value");
                      $(this).attr("name", "OperatParam_Detail.DataCondition[" + level0 + "].ObjCondition.Condition[" + i + "].operater_value");
                  });
                  i++;
              });
          });

      }

      function ReIndexTbodyConditionLevel0() {
          var i = 0;
          $('#tbodyConditionL0').children().each(function () {
              $(this).find('[name*="Key"]').each(function () {
                  $(this).attr("id", $(this).attr("id").replace(/\d+/, i));
                  $(this).attr("name", $(this).attr("name").replace(/\d+/, i));
              });
              $(this).find('[name*="Row"]').each(function () {
                  $(this).attr("id", $(this).attr("id").replace(/\d+/, i));
                  $(this).attr("name", $(this).attr("name").replace(/\d+/, i));
              });
              $(this).find('[name*="Column"]').each(function () {
                  $(this).attr("id", $(this).attr("id").replace(/\d+/, i));
                  $(this).attr("name", $(this).attr("name").replace(/\d+/, i));
              });
              $(this).find('[id*="condition_"]').each(function () {
                  $(this).attr("id", $(this).attr("id").replace(/\d+/, i));
              });
              i++;
          });

          ReIndexTbodyConditionLevel1();
      }

      function ValidateEssential() {
          RemoveValidateEssential();
          var i = 0;

          $(".essential").each(function () {
              if ($.trim($(this).val()) == "") {
                  if ($(this).attr("readonly") !== "readonly" && $(this).attr("disabled") !== "disabled") {
                      i++;
                      addValidMessageError($("#" + $(this).attr("id")), "Please input Value.");
                  }
              }
          });

          $(".essential-required").each(function () {
              if ($.trim($(this).val()) == "") {
                  i++;
                  addValidMessageError($("#" + $(this).attr("id")), "Please input Value.");
              }
          });

          $(".essential-file").each(function () {
              var fileText = $(this).val();
              var fileValue = $("#" + $(this).attr("file-for")).val();

              if ($.trim(fileText) == "" && $.trim(fileValue) == "") {
                  if ($(this).attr("readonly") !== "readonly" && $(this).attr("disabled") !== "disabled") {
                      i++;
                      addValidMessageError($("#" + $(this).attr("id")), "Please input Value.");
                  }
              }
          });

          if (i > 0)
              return false;
          return true;
      }

      function RemoveValidateEssential() {
          $(".essential").removeClass("input-error");
          $(".essential-required").removeClass("input-error");
          $(".essential-file").removeClass("input-error");
      }

        </script>


