﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.OperatParamViewModel
@{
    ViewBag.Title = "Search";
}

@using (Html.BeginForm("Search", "OperationalParameter", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="page-header">
        <h1>Operational Parameter</h1>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label class="col-md-2 control-label">UNIT :</label>
                <div class="col-md-4">
                    @Html.DropDownListFor(model => model.OperaParam_Search.sOperaParamUnit, new SelectList(Model.ddl_Unit, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                </div>          
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="pull-left">
            @if (ViewBag.action_create)
            {
                @Html.ActionLink("Add", "Create", new { controller = "OperationalParameter" }, new { @class = "btn btn-success" })
            }
        </div>
        <div class="pull-right">
            @if (ViewBag.action_search)
            {
                <button type="submit" class="btn btn-primary">Search</button>
            }
        </div>
    </div>
}
<div class="page-header">
    <h1>Search Result</h1> 
</div>
<table id="searchResultTable" class="table table-hover display" cellspacing="0">
    <thead>
        <tr>
            <th class="col-sm-3">CODE</th>
            <th>UNIT</th>
            @*<th>DATE</th>*@
            <th class="col-sm-3">ACTION</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.OperaParam_Search == null)
        {
            
            <tr class="waiting">
                <td colspan="7">Waiting for search</td>
            </tr>

        }
        else
        {
            if (Model.OperaParam_Search.sSearchData.Count > 0)
            {
                foreach (var v in Model.OperaParam_Search.sSearchData)
                {
                    <tr>
                        <td>@v.dOperaParamCode</td>
                        <td>@v.dOperaParamUnit</td>
                        @*<td>@v.dOperaParamDate</td>*@
                        <td width="100px">
                            @if (ViewBag.action_view)
                            {
                                <a href="@Url.Action("View", "OperationalParameter", new { rowId = @v.dOperaParamCode })" title="View Detail">
                                    <img alt="Widget View" src="@Url.Content("../../Content/images/1480695949_file.png")">
                                </a>
                            }
                            @if (ViewBag.action_edit)
                            {
                                <a href="@Url.Action("Edit", "OperationalParameter", new { rowId = @v.dOperaParamCode })" title="Edit">
                                    <img alt="Widget View" src="@Url.Content("../../Content/images/1480695860_edit.png")">
                                </a>
                            }
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $('#searchResultTable').DataTable({
            "columnDefs": [
                //Disble sort on Action Colum
                {
                    "targets": [2],
                    "orderable": false
                }
            ]
        });
    });
</script>