﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.SearchDocumentManagemantViewModel
@{
    ViewBag.Title = "Document Management";
    var abbr_cdu1 = Model.abbr_name.Where(x => x.unit.ToUpper().Contains("CDU-1"));
    var abbr_cdu2 = Model.abbr_name.Where(x => x.unit.ToUpper().Contains("CDU-2"));
    var abbr_cdu3 = Model.abbr_name.Where(x => x.unit.ToUpper().Contains("CDU-3"));
}

<style>
    span.file-doc:before {
        content: '\f1c2';
        display: inline-block;
        color: dodgerblue;
        font: normal normal normal 14px/1 FontAwesome;
        font-style: normal;
        font-variant-ligatures: normal;
        font-variant-caps: normal;
        font-variant-numeric: normal;
        font-weight: normal;
        font-stretch: normal;
        font-size: inherit;
        line-height: 1;
        font-family: FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    span.file-xls:before {
        content: '\f1c3';
        display: inline-block;
        color: green;
        font: normal normal normal 14px/1 FontAwesome;
        font-style: normal;
        font-variant-ligatures: normal;
        font-variant-caps: normal;
        font-variant-numeric: normal;
        font-weight: normal;
        font-stretch: normal;
        font-size: inherit;
        line-height: 1;
        font-family: FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    span.file-xlsx:before {
        content: '\f1c3';
        display: inline-block;
        color: green;
        font: normal normal normal 14px/1 FontAwesome;
        font-style: normal;
        font-variant-ligatures: normal;
        font-variant-caps: normal;
        font-variant-numeric: normal;
        font-weight: normal;
        font-stretch: normal;
        font-size: inherit;
        line-height: 1;
        font-family: FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    span.file-ppt:before {
        content: '\f1c4';
        display: inline-block;
        color: orangered;
        font: normal normal normal 14px/1 FontAwesome;
        font-style: normal;
        font-variant-ligatures: normal;
        font-variant-caps: normal;
        font-variant-numeric: normal;
        font-weight: normal;
        font-stretch: normal;
        font-size: inherit;
        line-height: 1;
        font-family: FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    span.file-pdf:before {
        content: '\f1c1';
        display: inline-block;
        color: red;
        font: normal normal normal 14px/1 FontAwesome;
        font-style: normal;
        font-variant-ligatures: normal;
        font-variant-caps: normal;
        font-variant-numeric: normal;
        font-weight: normal;
        font-stretch: normal;
        font-size: inherit;
        line-height: 1;
        font-family: FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    span.file-msg:before {
        content: '\f003';
        display: inline-block;
        color: orange;
        font: normal normal normal 14px/1 FontAwesome;
        font-style: normal;
        font-variant-ligatures: normal;
        font-variant-caps: normal;
        font-variant-numeric: normal;
        font-weight: normal;
        font-stretch: normal;
        font-size: inherit;
        line-height: 1;
        font-family: FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    span.file-other:before {
        content: '\f016';
        display: inline-block;
        color: gray;
        font: normal normal normal 14px/1 FontAwesome;
        font-style: normal;
        font-variant-ligatures: normal;
        font-variant-caps: normal;
        font-variant-numeric: normal;
        font-weight: normal;
        font-stretch: normal;
        font-size: inherit;
        line-height: 1;
        font-family: FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
</style>


<div class="wrapper-detail">
    <h1>@ViewBag.Title</h1>
</div>
<hr />

<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist" style="margin-bottom:10px;">
        <li role="presentation" id="DocumentManagement-tab" class="active"><a href="#DocumentManagement" aria-controls="DocumentManagement" role="tab" data-toggle="tab">Document Management</a></li>
        <li role="presentation" id="SupportingDocument-tab"><a href="#SupportingDocument" aria-controls="SupportingDocument" role="tab" data-toggle="tab">Supporting Document</a></li>
        <li role="presentation" id="CrudeProcessingUnit-tab"><a href="#CrudeProcessingUnit" aria-controls="CrudeProcessingUnit" role="tab" data-toggle="tab">Crude Processing Unit</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="DocumentManagement">
            @using (Html.BeginForm("SearchDocument", "DocumentManagement", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-2 control-label">Crude Name :</label>
                                <div class="col-md-10">
                                    @Html.DropDownListFor(model => model.d_crude_name, new SelectList(Model.ddlCrudeName, "Value", "Text", (Model.d_crude_name ?? "")), "--Select--", new { @class = "form-control essential", @onchange = "dGetCountry();" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-2 control-label">Country :</label>
                                <div class="col-md-10">
                                    @Html.DropDownListFor(model => model.d_country, Model.ddlFileSupportingDocumentCountry, "-- Select --", new { @class = "form-control essential" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="pull-left">
                        @Html.ActionLink("Add", "Create", new { controller = "DocumentManagement" }, new { @class = "btn btn-success" })
                    </div>
                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </div>
            }

            <div class="page-header">
                <h1>Search Result</h1>
            </div>
            <table id="searchResultTable" class="table table-hover display" cellspacing="0">
                <thead>
                    <tr>
                        <th width="45%">Crude Name</th>
                        <th width="45%">Country</th>
                        <th width="10%">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.search_doc != null)
                    {
                        foreach (var item in Model.search_doc)
                        {
                            <tr>
                                <td width="45%">@item.d_crude_name</td>
                                <td width="45%">@item.d_country</td>
                                <td width="10%">
                                    <a href="~/CPAIMVC/DocumentManagement/ViewFile?crudename=@item.d_crude_name&country=@item.d_country" title="View Detail">
                                        <img alt="Widget View" src="@Url.Content("~/Content/images/1480695860_edit.png")">
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

        <div role="tabpanel" class="tab-pane" id="SupportingDocument">
            @using (Html.BeginForm("SearchSupportingDocument", "DocumentManagement", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-2 control-label">Crude Name :</label>
                                <div class="col-md-10">
                                    @Html.DropDownListFor(model => model.s_crude_name, new SelectList(Model.ddlCrudeName, "Value", "Text", (Model.s_crude_name ?? "")), "--Select--", new { @class = "form-control essential", @onchange = "sGetCountry();" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-2 control-label">Country :</label>
                                <div class="col-md-10">
                                    @Html.DropDownListFor(model => model.s_country, Model.ddlFileSupportingDocumentCountry, "-- Select --", new { @class = "form-control essential" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </div>

                <div class="page-header">
                    <h1>Search Result</h1>
                </div>
                <table id="searchSupportResultTable" class="table table-hover display" cellspacing="0">
                    <thead>
                        <tr>
                            <th width="45%">Crude Name</th>
                            <th width="45%">Country</th>
                            <th width="10%">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.search_data != null)
                        {
                            foreach (var item in Model.search_data)
                            {
                                <tr>
                                    <td width="45%">@item.s_crude_name</td>
                                    <td width="45%">@item.s_country</td>
                                    <td width="10%">
                                        <a href="~/CPAIMVC/DocumentManagement/Edit?crudename=@item.s_crude_name&country=@item.s_country" title="Edit">
                                            <img alt="Widget View" src="@Url.Content("~/Content/images/1480695860_edit.png")">
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            }
        </div>

        <div role="tabpanel" class="tab-pane" id="CrudeProcessingUnit">
            <form action="" method="post" enctype="multipart/form-data">
                <div class="row">
                    <label class="col-md-2 control-label">Crude processing unit</label>
                    <div class="col-md-6">
                        <input type="file" id="fileCPU" name="fileCPU" accept=".xls, .xlsx" class="essential-file" file-for="CPU_Path" />
                        @Html.HiddenFor(model => model.CPU_Path)
                        <p>
                            <a href="@Url.Content("~/Web/FileUpload/COOL/CPU/TEMPLATE.xlsx")" style="color:#e21789">
                                <span class="glyphicon glyphicon-link" style="padding-left:3px; padding-top:3px;"></span>
                                Download Crude Processing Unit Template
                            </a>
                        </p>
                    </div>
                </div>
                <hr />
                    <h2>CDU-1</h2>
                    <hr />
                    <div class="row uploadifyQueue">
                        <div class="col-md-6">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="col-md-5">Crude Name</th>
                                        <th class="col-md-5">Abbreviation</th>
                                        <th class="col-md-2">Action</th>
                                    </tr>
                                </thead>
                                <tbody class="data">
                                    @if (abbr_cdu1.Any())
                                    {
                                        foreach (var abbr in abbr_cdu1)
                                        {
                                            <tr>
                                                <td>
                                                    <div>
                                                        <select class="form-control essential crudeName0" id="crudeName0" name="crudeName0">
                                                            <option value="0">-- Select --</option>
                                                            @foreach (var option in Model.ddlCrudeName)
                                                            {
                                                                if (abbr.crude == option.Text)
                                                                {
                                                                    <option value="@option.Value" selected>@option.Text</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@option.Value">@option.Text</option>
                                                                }
                                                            }
                                                        </select>
                                                    </div>
                                                </td>
                                                <td><input id="abbreviation0" name="abbreviation0" class="form-control essential" value="@abbr.abbreviation"/></td>
                                                <td class="col-md-2">
                                                    <input type="image" class="margin_top" src="~/Web/Images/btn-add-member.png" onclick="addData(this,'crudeName0'); return false;" />
                                                    <input type="image" class="margin_top" src="~/Web/Images/btn-delete.png" onclick="delData(this); return false;" />
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td>
                                                <div>
                                                    <select class="form-control essential crudeName0" id="crudeName0" name="crudeName0">
                                                        <option value="0" selected>-- Select --</option>
                                                        @foreach (var option in Model.ddlCrudeName)
                                                        {
                                                            <option value="@option.Value">@option.Text</option>
                                                        }
                                                    </select>
                                                </div>
                                            </td>
                                            <td><input id="abbreviation0" name="abbreviation0" class="form-control essential" /></td>
                                            <td class="col-md-2">
                                                <input type="image" class="margin_top" src="~/Web/Images/btn-add-member.png" onclick="addData(this,'crudeName0'); return false;" />
                                                <input type="image" class="margin_top" src="~/Web/Images/btn-delete.png" onclick="delData(this); return false;" />
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <br />
                    <h2>CDU-2</h2>
                    <hr />
                    <div class="row uploadifyQueue">
                        <div class="col-md-6">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="col-md-5">Crude Name</th>
                                        <th class="col-md-5">Abbreviation</th>
                                        <th class="col-md-2">Action</th>
                                    </tr>
                                </thead>
                                <tbody class="data">
                                    @if (abbr_cdu2.Any())
                                    {
                                        foreach (var abbr in abbr_cdu2)
                                        {
                                            <tr>
                                                <td>
                                                    <div>
                                                        <select class="form-control essential crudeName1" id="crudeName1" name="crudeName1">
                                                            <option value="0" selected>-- Select --</option>
                                                            @foreach (var option in Model.ddlCrudeName)
                                                            {
                                                                if (abbr.crude == option.Text)
                                                                {
                                                                    <option value="@option.Value" selected>@option.Text</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@option.Value">@option.Text</option>
                                                                }
                                                            }
                                                        </select>
                                                    </div>
                                                </td>
                                                <td><input id="abbreviation1" name="abbreviation1" class="form-control essential" value="@abbr.abbreviation"/></td>
                                                <td class="col-md-2">
                                                    <input type="image" class="margin_top" src="~/Web/Images/btn-add-member.png" onclick="addData(this,'crudeName1'); return false;" />
                                                    <input type="image" class="margin_top" src="~/Web/Images/btn-delete.png" onclick="delData(this); return false;" />
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td>
                                                <div>
                                                    <select class="form-control essential crudeName1" id="crudeName1" name="crudeName1">
                                                        <option value="0" selected>-- Select --</option>
                                                        @foreach (var option in Model.ddlCrudeName)
                                                        {
                                                            <option value="@option.Value">@option.Text</option>
                                                        }
                                                    </select>
                                                </div>
                                            </td>
                                            <td><input id="abbreviation1" name="abbreviation1" class="form-control essential" /></td>
                                            <td class="col-md-2">
                                                <input type="image" class="margin_top" src="~/Web/Images/btn-add-member.png" onclick="addData(this,'crudeName1'); return false;" />
                                                <input type="image" class="margin_top" src="~/Web/Images/btn-delete.png" onclick="delData(this); return false;" />
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <br />
                    <h2>CDU-3</h2>
                    <hr />
                    <div class="row uploadifyQueue">
                        <div class="col-md-6">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="col-md-5">Crude Name</th>
                                        <th class="col-md-5">Abbreviation</th>
                                        <th class="col-md-2">Action</th>
                                    </tr>
                                </thead>
                                <tbody class="data">
                                    @if (abbr_cdu3.Any())
                                    {
                                        foreach (var abbr in abbr_cdu3)
                                        {
                                            <tr>
                                                <td>
                                                    <div>
                                                        <select class="form-control essential crudeName2" id="crudeName2" name="crudeName2">
                                                            <option value="0" selected>-- Select --</option>
                                                            @foreach (var option in Model.ddlCrudeName)
                                                            {
                                                                if (abbr.crude == option.Text)
                                                                {
                                                                    <option value="@option.Value" selected>@option.Text</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@option.Value">@option.Text</option>
                                                                }
                                                            }
                                                        </select>
                                                    </div>
                                                </td>
                                                <td><input id="abbreviation2" name="abbreviation2" class="form-control essential" value="@abbr.abbreviation"/></td>
                                                <td class="col-md-2">
                                                    <input type="image" class="margin_top" src="~/Web/Images/btn-add-member.png" onclick="addData(this,'crudeName2'); return false;" />
                                                    <input type="image" class="margin_top" src="~/Web/Images/btn-delete.png" onclick="delData(this); return false;" />
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td>
                                                <div>
                                                    <select class="form-control essential crudeName2" id="crudeName2" name="crudeName2">
                                                        <option value="0" selected>-- Select --</option>
                                                        @foreach (var option in Model.ddlCrudeName)
                                                        {
                                                            <option value="@option.Value">@option.Text</option>
                                                        }
                                                    </select>
                                                </div>
                                            </td>
                                            <td><input id="abbreviation2" name="abbreviation2" class="form-control essential" /></td>
                                            <td class="col-md-2">
                                                <input type="image" class="margin_top" src="~/Web/Images/btn-add-member.png" onclick="addData(this,'crudeName2'); return false;" />
                                                <input type="image" class="margin_top" src="~/Web/Images/btn-delete.png" onclick="delData(this); return false;" />
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                <div class="wrapper-button" id="buttonDiv">
                    @Html.Hidden("Crude_abbreviation")
                    <input type="submit" value="SUBMIT" id="btnSave" class="btn btn-default" onclick="OpenBoxBungerPrompt('Comment :', 'Submit'); return false;" />
                    <input type="submit" value="SUBMIT" id="btnSubmit" class="btn btn-default" style="display:none;" name="action:SaveCPU" />
                </div>
            </form>
        </div>
    </div>
</div>


@if (TempData["res_message"] != null)
{
    if (TempData["returnPage"] != null)
    {
        <script type="text/javascript">
            OpenBoxPopupLink((@Html.Raw(Json.Encode(TempData["res_message"]))), @Html.Raw(Json.Encode(TempData["returnPage"]))).done(function() {
                $("#EventButton").val("0");
            });
        </script>
    }
    else
    {
        <script type="text/javascript">
            OpenBoxPopup(@Html.Raw(Json.Encode(TempData["res_message"])));
        </script>
    }
}

<script>
    // GET WEB SITE PATH //
    function getWebSitePath() {
        var _location = document.location.toString();
        var applicationNameIndex = _location.indexOf('/', _location.indexOf('://') + 3);
        var applicationName = _location.substring(0, applicationNameIndex) + '/';
        var webFolderIndex = _location.indexOf('/', _location.indexOf(applicationName) + applicationName.length);
        var webFolderFullPath = _location.substring(0, webFolderIndex).toString().replace('/CPAIMVC', '');
        return webFolderFullPath;
    }

    function addData(e, crude_name) {
        var current_row = $(e).closest('tr');
        var new_row = '<tr>';
        new_row += '<td class="col-md-5">';
        new_row += '<div>';
        new_row+= '<select class="form-control essential '+crude_name+'" id="crudeName0" name="crudeName0"><option value="0" selected >-- Select --</option>' +
        @foreach (var option in Model.ddlCrudeName)
        {
            @:'<option value="@option.Value">@option.Text</option>' +
            }
        + '</select>';
        new_row += '</div>';
        new_row += '</td>';
        new_row += '<td class="col-md-5">';
        new_row += '<div>';
        new_row += '<input id="abbreviation0" name="abbreviation0" class="form-control" />';
        new_row += '</div>';
        new_row += '</td>';
        new_row += '<td class="col-md-2">';
        new_row += '<input type="image" class="margin_top" src="' + getWebSitePath() + '/Web/Images/btn-add-member.png" onclick="addData(this, \'' +crude_name+ '\'); return false;" />';
        new_row += '<input type="image" class="margin_top" src="' + getWebSitePath() + '/Web/Images/btn-delete.png" onclick="delData(this); return false;" />';
        new_row += '</td>';
        new_row += '</tr>';
        current_row.after(new_row);
        DataReIndex();
    }

    function delData(e) {
        if ($(".data tr").length > 1) {
            var conf = confirm("Please confirm to Delete?");
            if (conf) {
                $(e).parent().parent().remove();
                DataReIndex();
            }
        }
    }

    function DataReIndex() {
        var i = 0;
        $('.data tr').each(function () {
            $(this).find('[id*="crudeName"]').each(function () {
                $(this).attr("id", $(this).attr("id").replace(/\d+/, i));
                $(this).attr("name", $(this).attr("name").replace(/\d+/, i));
                if ($(this).attr("onchange") != null) {
                    $(this).attr("onchange", $(this).attr("onchange").replace(/\d+/, i));
                };
            });

            $(this).find('[id*="abbreviation"]').each(function () {
                $(this).attr("id", $(this).attr("id").replace(/\d+/, i));
                $(this).attr("name", $(this).attr("name").replace(/\d+/, i));
            });
            i++;
        });
    }

    //function save() {
    //    var selects = document.getElementsByTagName('select');
    //    var values = [];
    //    for(i=0;i<selects.length;i++) {
    //        var select = selects[i];
    //        if(values.indexOf(select.value)>-1) {
    //            alert('duplicate exists'+select.value); break;
    //        }
    //        else
    //            values.push(select.value);
    //    }
    //}

    // SAVE ITEM: FILE SUPPORTING DOCUMENT //
    function SaveFileSupportingDocument() {
        $('#Crude_abbreviation').val('');
        var crudeAbbreviation = "";
        var i = 1;
        $(".uploadifyQueue").each(function () {
            crudeAbbreviation += "CDU-" + i + "#";
            $(this).find('.data tr').each(function () {
                $(this).find('[id*="crudeName"]').each(function () {
                    var crudename_id = $(this).attr("id");
                    var abbreviation_id = crudename_id.replace("crudeName","abbreviation");
                    crudeAbbreviation += $("#" + crudename_id + " :selected").text() + "&";
                    crudeAbbreviation += $("#" + abbreviation_id).val() + "!";
                });
            });
            crudeAbbreviation += "|";
            i++;
        });
        $('#Crude_abbreviation').val(crudeAbbreviation);
    }

    // FILE CPU //
    $('#fileCPU').change(function () {
        var formData = new FormData();
        var totalFiles = document.getElementById("fileCPU").files.length;
        for (var i = 0; i < totalFiles; i++) {
            var file = document.getElementById("fileCPU").files[i];
            formData.append("fileCPU", file);
        }
        if (document.getElementById("fileCPU").files.length > 0) {
            $.ajax({
            type: "POST",
            url: '@Url.Action("CheckFileFormat", "DocumentManagement")',
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false,
            success: function (response) {
                if (response == "1") {
                    $("#CPU_Path").val($("#fileCPU").val());
                }
                else {
                    $("#fileCPU").val('');
                    $("#CPU_Path").val('');
                    OpenBoxPopup('Invalid format, please check file again');
                }
            },
            error: function (error) {
                alert("error : " + reponse.error());
            }
        });
        }
    })


    $(document).ready(function () {
        $('#searchResultTable').DataTable({
            "columnDefs": [
                //Disble sort on Action Colum
                {
                    "targets": [2],
                    "orderable": false
                }
            ]
        });
        $('#searchSupportResultTable').DataTable({
            "columnDefs": [
                //Disble sort on Action Colum
                {
                    "targets": [2],
                    "orderable": false
                }
            ]
        });
        if (@Html.Raw(Json.Encode(Model.search_doc)) != null) {
            $("#DocumentManagement").addClass("active");
            $("#DocumentManagement-tab").addClass("active");
            $("#SupportingDocument").removeClass("active");
            $("#SupportingDocument-tab").removeClass("active");
        } else {
            $("#SupportingDocument").addClass("active");
            $("#SupportingDocument-tab").addClass("active");
            $("#DocumentManagement").removeClass("active");
            $("#DocumentManagement-tab").removeClass("active");
        }
        sGetCountry();
        dGetCountry();
    });

    $(".clickable-row").click(function () {
        window.document.location = $(this).data("href");
    });

    function sGetCountry(){
        var crude_name = $('#s_crude_name').find("option:selected").text();
        $.ajax({
            url: '@Url.Action("GetCountryRef", "DocumentManagement")',
            data: { "crude" : crude_name},
            cache: false,
            type: "GET",
            success: function (data) {
                var markup = "<option value='' selected >-- Select --</option>";

                $('#s_country').attr("disabled", false);
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=" + data[x].Value + " >" + data[x].Text + "</option>";
                }
                $('#s_country').html(markup).show();
            },
            error: function (reponse) {
                alert("error : " + reponse.error());
            }
        })
    }

    function dGetCountry(){
        var crude_name = $('#d_crude_name').find("option:selected").text();
        $.ajax({
            url: '@Url.Action("GetCountryRef", "DocumentManagement")',
            data: { "crude" : crude_name},
            cache: false,
            type: "GET",
            success: function (data) {
                var markup = "<option value='' selected>-- Select --</option>";
                $('#d_country').attr("disabled", false);
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=" + data[x].Value + " >" + data[x].Text + "</option>";
                }
                $('#d_country').html(markup).show();
            },
            error: function (reponse) {
                alert("error : " + reponse.error());
            }
        })
    }

    // CONFIRMATION BEFORE SAVE //
    function OpenBoxBungerPrompt(MSG, Event) {
        DataReIndex();

        if (Event != "SaveDraft" && Event != "SaveAndPreview" && Event != "Submit") {
            if ($("#hdfEventClick").length != 0) {
                $("#hdfEventClick").val(Event);
            }
        }

        if (Event.toUpperCase() == "SUBMIT") {
            var i = 0;
            i += inputsHaveDuplicateValues("crudeName0");
            i += inputsHaveDuplicateValues("crudeName1");
            i += inputsHaveDuplicateValues("crudeName2");
            //i += ValidateEssential();

            if (i==0) {
                SaveFileSupportingDocument();
                bootbox.confirm({
                    message: "Are you sure to submit?",
                    buttons: {
                        confirm: {
                            label: 'Yes',
                        },
                        cancel: {
                            label: 'No',
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $('form').attr('target', '_self');
                            if (Event == "SUBMIT") {
                                $("#btnSubmit").click();
                            } else {
                                $("#btnSubmit").click();
                            }
                            LoadingProcess();
                        }
                    }
                });
            }
        }

        // CASE: SAVE DRAFT
        else {
            $('form').attr('target', '_self');
            if (Event == "Upload") {
                $("#btnUpload").click();
            } else if (Event == "SaveDraft") {
                $("#btnSaveDraft").click();
            } else if (Event == "Submit") {
                $("#btnSubmit").click();
            } else {
                $("#btnMANUAL").click();
            }
            LoadingProcess();
        }
    }

    function inputsHaveDuplicateValues(classname) {
        var i = 0;
        $('.'+ classname).each(function () {
            var inputsWithSameValue = $(this).val();
            $('.' + classname).not(this).filter(function () {
                if ($(this).val() === inputsWithSameValue) {
                    addValidMessageError($("#" + $(this).attr("id")), "Please input Value.");
                    i++;
                } else {
                    $("#" + $(this).attr("id")).removeClass("input-error");
                }
            });
            var abbreviation_id = $(this).attr("id").replace("crudeName", "abbreviation");
            if ($(this).val() !== "0" && $("#" + abbreviation_id).val() === "") {
                addValidMessageError($("#" + abbreviation_id), "Please input Value.");
                i++;
            } else {
                $("#" + abbreviation_id).removeClass("input-error");
            }
        });
        return i;
    }

    function ValidateEssential() {
        RemoveValidateEssential();
        var i = 0;
        $(".essential").each(function () {
            if ($.trim($(this).val()) == "") {
                i++;
                addValidMessageError($("#" + $(this).attr("id")), "Please input Value.");
            }
        });
        return i;
    }

    function RemoveValidateEssential() {
        $(".essential").removeClass("input-error");
    }

</script>