﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.DocumentManagemantViewDetailModel
@{
    ViewBag.Title = "Document Management Detail";
}

<div class="wrapper-detail">
    <h1>@ViewBag.Title</h1>
</div>
<hr />
<form action="" method="post" enctype="multipart/form-data">
    @Html.HiddenFor(m => m.country, Model.country)
    @Html.HiddenFor(m => m.crudeName, Model.crudeName)
    <div class="form-horizontal">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="col-md-12">Crude Name : @Model.crudeName</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="col-md-12">Country : @Model.country</label>
                </div>
            </div>
        </div>

    </div>
    <div class="form-horizontal">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <button id="uploadSupportingDocumentFile" class="btn btn-default" type="button" onclick="UploadFileSupportingDocument()">Select Files</button>
                    <input type="file" id="fileSupportingDocumentFile" name="fileSupportingDocumentFile" multiple="multiple" style="display:none;" accept=".doc, .docx, .xls, .xlsx, .ppt, .pptx, .pdf, .msg" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div id="fileSupportingDocumentUploaded"></div>
                </div>
            </div>
        </div>
    </div>
    @*<div class="form-horizontal">
            <div id="fileSupportingDocumentUploaded"></div>
        </div>*@

    <div class="wrapper-button" id="buttonDiv">
        @if (Model.filePath != "")
        {
            @Html.Hidden("fileSupportingDocument", Model.filePath as object)
        }
        else
        {
            @Html.Hidden("fileSupportingDocument")
        }
        <input type="button" value="SAVE" id="btnSave" class="btn btn-default" name="action:Submit" onclick="OpenBoxBungerPrompt('Comment :', 'SUBMIT'); return false;" />
        <input type="submit" value="SUBMIT" id="btnSubmit" style="display: none;" name="action:UpdateDocument" />
        <input type="submit" value="BACK" id="btnBack" class="btn btn-default" name="action:Back" />
    </div>
</form>

@if (TempData["res_message"] != null)
{
    if (TempData["returnPage"] != null)
    {
        <script type="text/javascript">
            OpenBoxPopupLink((@Html.Raw(Json.Encode(TempData["res_message"]))), @Html.Raw(Json.Encode(TempData["returnPage"]))).done(function() {
                $("#EventButton").val("0");
            });
        </script>
    }
    else
    {
        <script type="text/javascript">
            OpenBoxPopup(@Html.Raw(Json.Encode(TempData["res_message"])));
        </script>
    }
}

    <script>

    // GET WEB SITE PATH //
    function getWebSitePath() {
        var _location = document.location.toString();
        var applicationNameIndex = _location.indexOf('/', _location.indexOf('://') + 3);
        var applicationName = _location.substring(0, applicationNameIndex) + '/';
        var webFolderIndex = _location.indexOf('/', _location.indexOf(applicationName) + applicationName.length);
        var webFolderFullPath = _location.substring(0, webFolderIndex).toString().replace('/CPAIMVC', '');
        return webFolderFullPath;
    }

    // DOCUMENT READY //
    $(function () {
        LoadFileSupportingDocument();
        });

        // SAVE ITEM: FILE SUPPORTING DOCUMENT //
        function SaveFileSupportingDocument() {
            $('#fileSupportingDocument').val('');
            var supportingDocument = "";
            $('.SupportingDocument').each(function () {
                var supportingDocumentType = $(this).closest('tr').find('.SupportingDocumentType').val();
                supportingDocument += $(this).attr('value') + ":" + supportingDocumentType + "|";
            });
            $('#fileSupportingDocument').val(supportingDocument);
            $('#file_path').val(supportingDocument);
        }

    // LOAD ITEM: FILE SUPPORTING DOCUMENT //
    function LoadFileSupportingDocument() {
        if ($('#fileSupportingDocument').val()) {
            var ItemFile = $('#fileSupportingDocument').val().split("|");
            for (var i = 0; i < ItemFile.length; i++) {
                if (ItemFile[i] != "") {
                    var splitVal = ItemFile[i].split(":");
                    $('#fileSupportingDocumentUploaded').append(MakeUploadFileSupportingDocument(splitVal[0], splitVal[1]));
                }
            }
            DeleteFileSupportingDocument();
        }
    }

    // DELETE ITEM: FILE SUPPORTING DOCUMENT //
    function DeleteFileSupportingDocument() {
        $('.glyphicon-remove').click(function () {
            $(this).parent().parent().parent().parent().remove();
        });
    }

    var doc_count = 0;
    // MAKE ITEM: FILE SUPPORTING DOCUMENT //
    function MakeUploadFileSupportingDocument(filePath, fileType) {
        var i = 0, length = filePath.length;
        var tmpFilePath = filePath;
        for (i; i < length; i++) {
            tmpFilePath = tmpFilePath.replace("/", "|").replace("\\", "|")
        }
        var fullFileName = tmpFilePath.split("|");
        var fileName = fullFileName[fullFileName.length - 1];
        var itemFileSupportingDocument = '<div id=\"' + filePath + '\" class=\"uploadifyQueue\" >';
        itemFileSupportingDocument += '<table><tr><td>';
        itemFileSupportingDocument += '<div class=\"uploadifyQueueItem SupportingDocument\" value=\"' + filePath + '\"  style="margin-right:20px;">';
        itemFileSupportingDocument += '<div class="cancel">';
        itemFileSupportingDocument += '<span class="glyphicon glyphicon-remove "></span>';
        itemFileSupportingDocument += '</div>';
        itemFileSupportingDocument += '<a target="_blank" href="' + getWebSitePath() + "/" + filePath + '">' + fileName + '</a>';
        itemFileSupportingDocument += '</div>';
        itemFileSupportingDocument += '</div>';
        itemFileSupportingDocument += '</td><td>';
        itemFileSupportingDocument += '<select class="form-control SupportingDocumentType" id="SupportingDocumentType_' + doc_count + '" name="SupportingDocumentType" >';
        @foreach (var option in Model.ddlFileType)
        {
            @:optionType = "@option.Value";
                    @:if (optionType == fileType) { itemFileSupportingDocument += '<option selected="selected" value="@option.Value">@option.Text</option>'; } else { itemFileSupportingDocument += '<option value="@option.Value">@option.Text</option>'; }
                }
        itemFileSupportingDocument += '</select>';
        itemFileSupportingDocument += '</td><tr><table>';
        return itemFileSupportingDocument;
        }

        $('.glyphicon-remove').click(function () {
            $(this).parent().parent().parent().parent().remove();
        });

        // DELETE ITEM: FILE SUPPORTING DOCUMENT //
        function DeleteFileSupportingDocument() {
            $('.glyphicon-remove').click(function () {
                $(this).parent().parent().parent().parent().remove();
            });
        }

        // UPLOAD FILE SUPPORTING DOCUMENT //
        function UploadFileSupportingDocument() {
            $("#fileSupportingDocumentFile").click();
        }

        $('#fileSupportingDocumentFile').change(function (e) {
            var files = e.target.files;
            if (files.length > 0) {
                if (window.FormData !== undefined) {
                    for (var x = 0; x < files.length; x++) {
                        var data = new FormData();
                        data.append("file" + x, files[x]);
                        $.ajax({
                            type: "POST",
                            url: getWebSitePath() + "/Web/Api/UploadFileAPI.aspx?Type=CRUDE|F10000040",
                            contentType: false,
                            processData: false,
                            data: data,
                            success: function (response) {
                                var index = response.indexOf('<!DOCTYPE html>');
                                var json = response.substring(0, index);
                                var data = JSON.parse(json.trim());
                                $('#fileSupportingDocumentUploaded').append(MakeUploadFileSupportingDocument(data.file_path, ''));
                                DeleteFileSupportingDocument();
                            },
                            error: function (event, queueID, fileObj, errorObj) {
                                alert(errorObj.type + ' Error: ' + errorObj.info);
                                if (fileObj.size > 4194304) { alert('File size too large.'); }
                                else { alert('Someting wrong.'); }
                            }
                        });
                        data = null;
                    }
                } else {
                    alert("This browser doesn't support HTML5 file uploads!");
                }
            }
            $(this).val('');
        });

        // CONFIRMATION BEFORE SAVE //
        function OpenBoxBungerPrompt(MSG, Event) {
            // SAVE FILE SUPPORTING DOCUMENT //
            SaveFileSupportingDocument();

            // CASE: SUBMIT
            var message = "Are you sure to save?"

            if (Event.toUpperCase() == "SUBMIT") {
                bootbox.confirm({
                    message: message,
                    buttons: {
                        confirm: {
                            label: 'Yes',
                        },
                        cancel: {
                            label: 'No',
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $('form').attr('target', '_self');
                            if (Event == "SUBMIT") {
                                $("#btnSubmit").click();
                            } else {
                                $("#btnSubmit").click();
                            }
                            LoadingProcess();
                        }
                    }
                });
            }
        }

    </script>
