﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.HedgeCDSImportViewModel
@{
    ViewBag.Title = "Index";
}

<style type="text/css">
    .table > tbody > tr > td {
        vertical-align: middle;
    }

    .ui-autocomplete {
        max-height: 200px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
    }
    /* IE 6 doesn't support max-height
        * we use height instead, but this forces the menu to always be this tall
        */
    * html .ui-autocomplete {
        height: 200px;
    }

    .divFileUpload {
        position: relative;
        overflow: hidden;
    }

    .fileUpload {
        position: absolute;
        font-size: 50px;
        opacity: 0;
        right: 0;
        top: 0;
    }

    .dt-body-left {
        text-align: left;
    }
</style>

@if (TempData["ReponseStatus"] != null)
{
    // if POST check Response and Disble background layout of Modal Popup
    <script>
        $(document).ready(function () {
            $('#resultPopup').modal({ backdrop: 'static', keyboard: false });
            $('#resultPopup').modal('show');
        });
    </script>
}

@using (Html.BeginForm("Index", "HedgeCDSImport", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    <div class="page-header">
        <h1>5-yr CDS IMPORT</h1>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label class="col-md-2 control-label">DATA FILE ON CLIENT :</label>
                <div class="col-md-4">
                    <input type="file" id="inputExellFile" name="inputExcelFile" style="width:100%;" accept=".xls,.xlsx" placeholder="Please select an excel file">
                    @*<button class="btn btn-default" type="button">Select Files</button>
                        <input type="file" id="fileSupportingDocumentFile" name="fileSupportingDocumentFile" multiple="multiple" style="display:none;" accept=".doc, .docx, .xls, .xlsx, .ppt, .pptx, .pdf, .msg" />*@
                </div>
                <div class="col-md-6">
                    <a href="~/Web/FileUpload/HedgeCDSImport/CDS-CreditRating.xlsx">CDS-CreditRating.xlsx</a>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label"></label>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-primary actionButton" name="createFromExellBtn" id="btnUpload">IMPORT</button>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">SHOW LATEST :</label>
                <div class="col-md-6">
                    <div class="col-md-2">
                        @{
                            List<SelectListItem> listItems = new List<SelectListItem>();
                            listItems.Add(new SelectListItem
                            {
                                Text = "5",
                                Value = "5"
                            });
                            listItems.Add(new SelectListItem
                            {
                                Text = "10",
                                Value = "10"
                            });
                            listItems.Add(new SelectListItem
                            {
                                Text = "25",
                                Value = "25"
                            });
                            listItems.Add(new SelectListItem
                            {
                                Text = "50",
                                Value = "50"
                            });
                        }
                        @Html.DropDownListFor(model => model.cds_search.sLimitRow, new SelectList(listItems, "Value", "Text"), new { @class = "form-control", onchange = "onChangeLimit()" })
                    </div>
                    <div class="col-md-2">
                        <p>RECORD(S)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
                            }

<div class="page-header">
    <h1>Search Result</h1>
</div>
<div class="row">
    <table id="table_search" class="table table-hover table-striped table-bordered" cellspacing="0">
        <thead>
            <tr>
                <th>Import Date</th>
                <th>Import By</th>
                <th>Import File</th>
                <th>Result</th>
                <th>Note</th>
            </tr>
        </thead>
        <tbody>
            <tr class="waiting">
                <td colspan="5">Waiting for search</td>
            </tr>
        </tbody>
    </table>
</div>
@*<table id="searchResultTable" class="table table-hover display" cellspacing="0" style="width: 100%;">
        <thead>
            <tr>
                <th>IMPORT DATE</th>
                <th>IMPORT BY</th>
                <th>IMPORT FILE</th>
                <th>RESULT</th>
                <th>NOTE</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.cds_search == null)
            {
                <tr class="waiting">
                    <td colspan="5">Waiting for search</td>
                </tr>
            }
            else
            {
                if (Model.cds_search != null && Model.cds_search.sSearchData != null && Model.cds_search.sSearchData.Count > 0)
                {
                    foreach (var v in Model.cds_search.sSearchData)
                    {
                        <tr>
                            <td>@v.dImportDate</td>
                            <td>@v.dImportBy</td>
                            <td>@v.dFileName</td>
                            <td>@v.dResult</td>
                            <td><textarea cols="70" rows="5">@v.dNote</textarea></td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>*@

<!-- Result Popup -->
<div class="modal fade" id="resultPopup" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <p>
                    @TempData["ReponseMessage"]
                </p>
            </div>
            <div class="modal-footer">
                @Html.ActionLink("Close", "Index", new { controller = "HedgeCDSImport" }, htmlAttributes: new { @class = "btn btn-default" })
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">

    $(function () {
        $('#table_search').DataTable({
            "searching": false,
            "bSort": false,
            "jQueryUI": false,
            "destroy": true,
            "autoWidth": false,
            "bPaginate": false,
            "data": [],
        });

        onChangeLimit();
    });

    function onChangeLimit() {
        var obj = {
            sLimit: $("#cds_search_sLimitRow").val()
        }
        var data = getDataAjax(obj, "getLogData");

        $('#table_search').DataTable({
            "searching": false,
            "bSort": false,
            "jQueryUI": false,
            "destroy": true,
            "autoWidth": false,
            "bPaginate": false,
            "data": data,
            "columns": [
                { "data": null, "className": "dt-body-center", "mRender": function (data) { return data.dImportDateString; } },
                { "data": null, "className": "dt-body-center", "mRender": function (data) { return data.dImportBy; } },
                { "data": null, "className": "dt-body-center", "mRender": function (data) { return data.dFileName; } },
                { "data": null, "className": "dt-body-center", "mRender": function (data) { return data.dResult; } },
                { "data": null, "className": "dt-body-left", "mRender": function (data) { return data.dNote; } },
            ]
        });
    }

    function getDataAjax(obj, fnc) {
        var data;
        $.ajax({
            url: '@Url.Action("FUNCTIONS", "HedgeCDSImport")'.replace("FUNCTIONS", fnc),
            type: 'POST',
            data: obj,
            dataType: 'json',
            async: false,
            complete: function (_data) {
                data = _data.responseJSON;
            },
            error: function (response) {
                console.log(response);
            }
        });
        return data;
    }
</script>