﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.BorrowViewModel
@{
    var page_title = "";
    var page_title_PO = "";
    try
    {
        if (!String.IsNullOrEmpty(Model.TripNoM))
        {
            ViewBag.Title = "Edit";
            page_title = "Edit Borrow Transaction (SALES)";
            page_title_PO = "Edit Borrow Transaction (PURCHASE)";
        }
        else
        {
            ViewBag.Title = "Add";
            page_title = "Add Borrow Transaction (SALES)";
            page_title_PO = "Add new Borrow Transaction (PURCHASE)";
        }
    }
    catch (System.IO.IOException e)
    {

    }
}

<style>
    .hidden {
        display: none;
    }
</style>

<div class="page-header">
    <h3>@page_title</h3>
</div>

@using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="form-group">
        <div>
            <label class="col-sm-4 col-md-1 control-label">Sale Org.<span style="color:red">*</span></label>
            <div class="col-sm-8 col-md-2">
                @Html.DropDownListFor(model => model.sBorrowDetail.dSaleOrg, new SelectList(Model.ddl_SaleOrg, "Value", "Text"), "-- Select --", new { @class = "form-control", @id = "ddlSaleOrgSale" })
            </div>
        </div>
        <div>
            <label class="col-sm-4 col-md-1 control-label">Plant<span style="color:red">*</span></label>
            <div class="col-sm-8 col-md-2">
                @Html.DropDownListFor(model => model.sBorrowDetail.dPlant, new SelectList(Model.ddl_Plant, "Value", "Text"), "-- Select --", new { @class = "form-control", @id = "ddlPlantSale" })
               @* @Html.TextBoxFor(model => model.sBorrowDetail.dPlant, new { @class = "form-control hidden", @id = "ddlPlantSaleC", Model.ddl_Plant, @readonly = "readonly" })*@
            </div>
        </div>

    </div>

    <div class="form-group">
        <div>
            <label class="col-sm-4 col-md-1 control-label">Trip No.<span style="color:red">*</span></label>
            <div class="col-sm-8 col-md-2">
                @Html.TextBoxFor(model => model.sBorrowDetail.dTripNo, new { @class = "form-control", @id = "txtTripNo", @readonly = "readonly" })
            </div>
        </div>
        <div>
            <label class="col-sm-4 col-md-1 control-label">Customer<span style="color:red">*</span></label>
            <div class="col-sm-8 col-md-2">
                @Html.DropDownListFor(model => model.sBorrowDetail.dCustomer, new SelectList(Model.ddl_Customer, "Value", "Text"), "-- Select --", new { @class = "form-control", @id = "ddlCustomerSale" })
            </div>
        </div>
        <div>
            <label class="col-sm-4 col-md-1 control-label">Delivery Date<span style="color:red">*</span></label>
            <div class="col-sm-8 col-md-2">
                @Html.TextBoxFor(model => model.sBorrowDetail.dDeliveryDate, new { @id = "txtDeliveryDateSale", @class = "form-control input-date-picker ", @placeholder = "DD/MM/YYYY", @maxlength = "10" })
            </div>
        </div>
        <div>
            <label class="col-sm-4 col-md-1 control-label">Due Date<span style="color:red">*</span></label>
            <div class="col-sm-8 col-md-2">
                @Html.TextBoxFor(model => model.sBorrowDetail.dDueDate, new { @id = "txtDueDateSale", @class = "form-control input-date-picker ", @placeholder = "DD/MM/YYYY", @maxlength = "10" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div>
            <label class="col-sm-4 col-md-1 control-label">Calculation Unit<span style="color:red">*</span></label>
            <div class="col-sm-8 col-md-2">
                @Html.DropDownListFor(model => model.sBorrowDetail.dCalcuUnit, new SelectList(Model.ddl_UnitTotal, "Value", "Text"), "-- Select --", new { @class = "form-control", @id = "ddlCalculationUnitSale" })
            </div>
        </div>
        <div>
            <label class="col-sm-4 col-md-1 control-label">Exchange Rate<span style="color:red">*</span></label>
            <div class="col-sm-8 col-md-2">
                @Html.TextBoxFor(model => model.sBorrowDetail.dExchangeRate, new { @class = "form-control numberOnly", @id = "txtExchangeRateSale" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div>
            <label class="col-sm-4 col-md-1 control-label">Crude<span style="color:red">*</span></label>
            <div class="col-sm-8 col-md-2">
                @Html.DropDownListFor(model => model.sBorrowDetail.dCrude, new SelectList(Model.ddl_Crude, "Value", "Text"), "-- Select --", new { @class = "form-control", @id = "ddlCrudeSale" })
            </div>
        </div>
        <div>
            <label class="col-sm-4 col-md-1 control-label">Volume(BBL)<span style="color:red">*</span></label>
            <div class="col-sm-8 col-md-2">
                @Html.TextBoxFor(model => model.sBorrowDetail.dVolumeBBL, new { @class = "form-control numberOnly", @id = "txtVolumeBBLASale" })
            </div>
        </div>
        <div>
            <label class="col-sm-4 col-md-1 control-label">Volume(MT)<span style="color:red">*</span></label>
            <div class="col-sm-8 col-md-2">
                @Html.TextBoxFor(model => model.sBorrowDetail.dVolumeMT, new { @class = "form-control numberOnly", @id = "txtVolumeMTSale" })
            </div>
        </div>
        <div>
            <label class="col-sm-4 col-md-1 control-label">Volume(Litres)<span style="color:red">*</span></label>
            <div class="col-sm-8 col-md-2">
                @Html.TextBoxFor(model => model.sBorrowDetail.dVolumeLitres, new { @class = "form-control numberOnly", @id = "txtVolumeLitresSale" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div>
            <label class="col-sm-4 col-md-1 control-label">PO No.</label>
            <div class="col-sm-8 col-md-2">
                @Html.TextBoxFor(model => model.sBorrowDetail.dPONo, new { @class = "form-control", @id = "txtPONoSale" })
            </div>
        </div>
        <div>
            <label class="col-sm-4 col-md-1 control-label">Tank</label>
            <div class="col-sm-8 col-md-2">
                @Html.TextBoxFor(model => model.sBorrowDetail.dTank, new { @class = "form-control", @id = "txtTankSale" })
            </div>
        </div>
    </div>

    <div>
        <table id="BorrowPriceSaleTable" class="table table-hover display " cellspacing="0">
            <thead>
                <tr>
                    <th style="width:230px"></th>
                    <th style="width:200px">Due Date</th>
                    <th style="width:220px">Price</th>
                    <th style="width:160px">Unit</th>
                    <th style="width:220px">Invoice</th>
                    <th style="width:160px">Unit</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.sBorrowDetail.BorrowPriceList != null)
                {
                    if (Model.sBorrowDetail.BorrowPriceList.Count > 0)
                    {
                        <tr>
                            @*@Model.sBorrowDetail.BorrowPriceList[0].sPriceType*@
                            @Html.HiddenFor(model => model.sBorrowDetail.BorrowPriceList[0].sPriceType)
                            <td>Provisional Price</td>
                            <td>
                                @Html.TextBoxFor(model => model.sBorrowDetail.BorrowPriceList[0].sDueDate, new { @id = "txtDueDatePSale", @class = "form-control input-date-picker ", @placeholder = "DD/MM/YYYY", @maxlength = "10" })
                            </td>
                            <td>
                                @Html.TextBoxFor(model => model.sBorrowDetail.BorrowPriceList[0].sPrice, new { @class = "form-control numberOnly", @id = "txtPricePSale" })
                             
                            </td>
                            <td>
                                @Html.DropDownListFor(model => model.sBorrowDetail.BorrowPriceList[0].sPriceUnit, new SelectList(Model.ddl_UnitPrice, "Value", "Text", Model.sBorrowDetail.BorrowPriceList[0].sPriceUnit), "-- Select --", new { @class = "form-control", @id = "ddlPriceUnitPSale" })
                            </td>
                            <td>
                                @Html.TextBoxFor(model => model.sBorrowDetail.BorrowPriceList[0].sInvoice, new { @class = "form-control", @id = "txtInvoiceP", @readonly = "readonly" })
                            </td>
                            <td>
                                @Html.DropDownListFor(model => model.sBorrowDetail.BorrowPriceList[0].sInvUnit, new SelectList(Model.ddl_UnitINV, "Value", "Text", Model.sBorrowDetail.BorrowPriceList[0].sInvUnit), "-- Select --", new { @class = "form-control", @id = "ddlInvUnitPSale" })
                            </td>
                        </tr>


                        <tr>
                            @*@Model.sBorrowDetail.BorrowPriceList[0].sPriceType*@
                            @Html.HiddenFor(model => model.sBorrowDetail.BorrowPriceList[1].sPriceType)
                            <td>Actual Price</td>
                            <td>
                                @Html.TextBoxFor(model => model.sBorrowDetail.BorrowPriceList[1].sDueDate, new { @id = "txtDueDateASale", @class = "form-control input-date-picker ", @placeholder = "DD/MM/YYYY", @maxlength = "10" })
                            </td>
                            <td>
                                @Html.TextBoxFor(model => model.sBorrowDetail.BorrowPriceList[1].sPrice, new { @class = "form-control numberOnly", @id = "txtPriceASale" })
                            </td>
                            <td>
                                @Html.DropDownListFor(model => model.sBorrowDetail.BorrowPriceList[1].sPriceUnit, new SelectList(Model.ddl_UnitPrice, "Value", "Text", Model.sBorrowDetail.BorrowPriceList[1].sPriceUnit), "-- Select --", new { @class = "form-control", @id = "ddlPriceUnitASale" })
                            </td>
                            <td>
                                @Html.TextBoxFor(model => model.sBorrowDetail.BorrowPriceList[1].sInvoice, new { @class = "form-control", @id = "txtInvoiceA", @readonly = "readonly" })
                            </td>
                            <td>
                                @Html.DropDownListFor(model => model.sBorrowDetail.BorrowPriceList[1].sInvUnit, new SelectList(Model.ddl_UnitINV, "Value", "Text", Model.sBorrowDetail.BorrowPriceList[1].sInvUnit), "-- Select --", new { @class = "form-control", @id = "ddlInvUnitASale" })
                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
    <div class="form-group" style="padding-top:10px">
        <div style="text-align:center">
            <input type="button" class="btn btn-primary" value="Copy" onClick="copy();" />
        </div>
    </div>



    @*Add Borrow Transaction (PURCHASE)*@

    <div class="page-header">
        <h3>@page_title_PO</h3>
    </div>

    <div class="form-group">
        @*<label class="col-sm-4 col-md-1 control-label">Sale Org.</label>
            <div class="col-sm-8 col-md-2">
                @Html.TextBoxFor(model => model.pBorrowDetail.dPlant, new { @class = "form-control hidden", @id = "ddlPlantPO", Model.ddl_Plant, @readonly = "readonly" })
                <p class="form-control" id="ddlPlantShow" name="ddlPlantShow" readonly="readonly"></p>

            </div>*@

        <div>
            <label class="col-sm-4 col-md-1 control-label">Sale Org.<span style="color:red">*</span></label>
            <div class="col-sm-8 col-md-2">
                @Html.TextBoxFor(model => model.pBorrowDetail.dSaleOrg, new { @class = "form-control hidden", @id = "ddlSaleOrgPO", Model.ddl_SaleOrg, @readonly = "readonly" })
                <p class="form-control" id="ddlSaleOrgShow" name="ddlSaleOrgShow" readonly="readonly"></p>
            </div>
        </div>
        <div>
            <label class="col-sm-4 col-md-1 control-label">Plant<span style="color:red">*</span></label>
            <div class="col-sm-8 col-md-2">
                @Html.TextBoxFor(model => model.pBorrowDetail.dPlant, new { @class = "form-control hidden", @id = "ddlPlantPO", Model.ddl_Plant, @readonly = "readonly" })
                @*@Html.TextBoxFor(model => model.pBorrowDetail.dPlant, new { @class = "form-control hidden", @id = "ddlPlantPOC", Model.ddl_Plant, @readonly = "readonly" })*@
                <p class="form-control" id="ddlPlantShow" name="ddlPlantShow" readonly="readonly"></p>
            </div>
        </div>

    </div>

    <div class="form-group">
        <div>
            <label class="col-sm-4 col-md-1 control-label">Trip No.<span style="color:red">*</span></label>
            <div class="col-sm-8 col-md-2">
                @Html.TextBoxFor(model => model.pBorrowDetail.dTripNo, new { @class = "form-control", @id = "txtTripNo", @readonly = "readonly" })
            </div>
        </div>
        <div>
            <label class="col-sm-4 col-md-1 control-label">Vender<span style="color:red">*</span></label>
            <div class="col-sm-8 col-md-2">
                @Html.DropDownListFor(model => model.pBorrowDetail.dCustomer, new SelectList(Model.ddl_Vender, "Value", "Text"), "-- Select --", new { @class = "form-control", @id = "ddlCustomerPO" })

            </div>
        </div>
        <div>
            <label class="col-sm-4 col-md-1 control-label">Delivery Date<span style="color:red">*</span></label>
            <div class="col-sm-8 col-md-2">
                @Html.TextBoxFor(model => model.pBorrowDetail.dDeliveryDate, new { @id = "txtDeliveryDatePO", @class = "form-control input-date-picker ", @placeholder = "DD/MM/YYYY", @maxlength = "10" })
            </div>
        </div>
        <div>
            <label class="col-sm-4 col-md-1 control-label">Due Date<span style="color:red">*</span></label>
            <div class="col-sm-8 col-md-2">
                @Html.TextBoxFor(model => model.pBorrowDetail.dDueDate, new { @id = "txtDueDatePO", @class = "form-control input-date-picker ", @placeholder = "DD/MM/YYYY", @maxlength = "10" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div>
            <label class="col-sm-4 col-md-1 control-label">Calculation Unit<span style="color:red">*</span></label>
            <div class="col-sm-8 col-md-2">
                @Html.DropDownListFor(model => model.pBorrowDetail.dCalcuUnit, new SelectList(Model.ddl_UnitTotal, "Value", "Text"), "-- Select --", new { @class = "form-control", @id = "ddlCalculationUnitPO" })
            </div>
        </div>
        <div>
            <label class="col-sm-4 col-md-1 control-label">Exchange Rate<span style="color:red">*</span></label>
            <div class="col-sm-8 col-md-2">
                @Html.TextBoxFor(model => model.pBorrowDetail.dExchangeRate, new { @class = "form-control numberOnly", @id = "txtExchangeRatePO" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div>
            <label class="col-sm-4 col-md-1 control-label">Crude<span style="color:red">*</span></label>
            <div class="col-sm-8 col-md-2">

                @Html.TextBoxFor(model => model.pBorrowDetail.dCrude, new { @class = "form-control hidden", @id = "ddlCrudePO", Model.ddl_Crude, @readonly = "readonly" })
                <p class="form-control" id="ddlCrudeShow" name="ddlCrudeShow" readonly="readonly"></p>
            </div>
        </div>
        <div>
            <label class="col-sm-4 col-md-1 control-label">Volume(BBL)<span style="color:red">*</span></label>
            <div class="col-sm-8 col-md-2">
                @Html.TextBoxFor(model => model.pBorrowDetail.dVolumeBBL, new { @class = "form-control numberOnly", @id = "txtVolumeBBLPO" })
            </div>
        </div>
        <div>
            <label class="col-sm-4 col-md-1 control-label">Volume(MT)<span style="color:red">*</span></label>
            <div class="col-sm-8 col-md-2">
                @Html.TextBoxFor(model => model.pBorrowDetail.dVolumeMT, new { @class = "form-control numberOnly", @id = "txtVolumeMTPO" })
            </div>
        </div>
        <div>
            <label class="col-sm-4 col-md-1 control-label">Volume(Litres)<span style="color:red">*</span></label>
            <div class="col-sm-8 col-md-2">
                @Html.TextBoxFor(model => model.pBorrowDetail.dVolumeLitres, new { @class = "form-control numberOnly", @id = "txtVolumeLitresPO" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div>
            <label class="col-sm-4 col-md-1 control-label">PO No.</label>
            <div class="col-sm-8 col-md-2">
                @Html.TextBoxFor(model => model.pBorrowDetail.dPONo, new { @class = "form-control", @id = "txtPONo" })
            </div>
        </div>
        <div>
            <label class="col-sm-4 col-md-1 control-label">Tank</label>
            <div class="col-sm-8 col-md-2">
                @Html.TextBoxFor(model => model.pBorrowDetail.dTank, new { @class = "form-control", @id = "txtTankPO" })
            </div>
        </div>
    </div>

    <div>
        <table id="BorrowPricePOTable" class="table table-hover display " cellspacing="0">
            <thead>
                <tr>
                    <th style="width:230px"></th>
                    <th style="width:200px">Due Date</th>
                    <th style="width:220px">Price</th>
                    <th style="width:160px">Unit</th>
                    <th style="width:220px">Invoice</th>
                    <th style="width:160px">Unit</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.pBorrowDetail.BorrowPriceList != null)
                {
                    if (Model.pBorrowDetail.BorrowPriceList.Count > 0)
                    {
                        <tr>
                            @*@Model.pBorrowDetail.BorrowPriceList[0].sPriceType*@
                            @Html.HiddenFor(model => model.pBorrowDetail.BorrowPriceList[0].sPriceType)

                            <td>Provisional Price</td>
                            <td>
                                @Html.TextBoxFor(model => model.pBorrowDetail.BorrowPriceList[0].sDueDate, new { @id = "txtDueDatePpo", @class = "form-control input-date-picker ", @placeholder = "DD/MM/YYYY", @maxlength = "10" })
                            </td>
                            <td>
                                @Html.TextBoxFor(model => model.pBorrowDetail.BorrowPriceList[0].sPrice, new { @class = "form-control numberOnly", @id = "txtPricePPO" })
                            </td>
                            <td>
                                @Html.DropDownListFor(model => model.pBorrowDetail.BorrowPriceList[0].sPriceUnit, new SelectList(Model.ddl_UnitPrice, "Value", "Text", Model.pBorrowDetail.BorrowPriceList[0].sPriceUnit), "-- Select --", new { @class = "form-control", @id = "ddlPriceUnitPPO" })
                            </td>
                            <td>

                                @Html.TextBoxFor(model => model.pBorrowDetail.BorrowPriceList[0].sInvoice, new { @class = "form-control", @id = "txtInvoicePP1", @readonly = "readonly" })
                            </td>
                            <td>
                                @Html.DropDownListFor(model => model.pBorrowDetail.BorrowPriceList[0].sInvUnit, new SelectList(Model.ddl_UnitINV, "Value", "Text", Model.pBorrowDetail.BorrowPriceList[0].sInvUnit), "-- Select --", new { @class = "form-control", @id = "ddlInvUnitPPO" })
                            </td>
                        </tr>

                        <tr>
                            @*@Model.pBorrowDetail.BorrowPriceList[0].sPriceType*@
                            @Html.HiddenFor(model => model.pBorrowDetail.BorrowPriceList[1].sPriceType)
                            <td>Actual Price</td>
                            <td>
                                @Html.TextBoxFor(model => model.pBorrowDetail.BorrowPriceList[1].sDueDate, new { @id = "txtDueDateApo", @class = "form-control input-date-picker ", @placeholder = "DD/MM/YYYY", @maxlength = "10" })
                            </td>
                            <td>
                                @Html.TextBoxFor(model => model.pBorrowDetail.BorrowPriceList[1].sPrice, new { @class = "form-control numberOnly", @id = "txtPriceAPO" })
                            </td>
                            <td>
                                @Html.DropDownListFor(model => model.pBorrowDetail.BorrowPriceList[1].sPriceUnit, new SelectList(Model.ddl_UnitPrice, "Value", "Text", Model.pBorrowDetail.BorrowPriceList[1].sPriceUnit), "-- Select --", new { @class = "form-control", @id = "ddlPriceUnitAPO" })
                            </td>
                            <td>

                                @Html.TextBoxFor(model => model.pBorrowDetail.BorrowPriceList[1].sInvoice, new { @class = "form-control", @id = "txtInvoicePA1", @readonly = "readonly" })
                            </td>
                            <td>
                                @Html.DropDownListFor(model => model.pBorrowDetail.BorrowPriceList[1].sInvUnit, new SelectList(Model.ddl_UnitINV, "Value", "Text", Model.pBorrowDetail.BorrowPriceList[1].sInvUnit), "-- Select --", new { @class = "form-control", @id = "ddlInvUnitAPO" })
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        @*@Model.pBorrowDetail.BorrowPriceList[0].sPriceType*@
                        @Html.HiddenFor(model => model.pBorrowDetail.BorrowPriceList[0].sPriceType)

                        <td>Provisional Price</td>
                        <td>
                            @Html.TextBoxFor(model => model.pBorrowDetail.BorrowPriceList[0].sDueDate, new { @id = "txtDueDatePpo", @class = "form-control input-date-picker ", @placeholder = "DD/MM/YYYY", @maxlength = "10" })
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.pBorrowDetail.BorrowPriceList[0].sPrice, new { @class = "form-control numberOnly", @id = "txtPricePPO" })
                        </td>
                        <td>
                            @Html.DropDownListFor(model => model.pBorrowDetail.BorrowPriceList[0].sPriceUnit, new SelectList(Model.ddl_UnitPrice, "Value", "Text", ""), "-- Select --", new { @class = "form-control", @id = "ddlPriceUnitPPO" })
                        </td>
                        <td>

                            @Html.TextBoxFor(model => model.pBorrowDetail.BorrowPriceList[0].sInvoice, new { @class = "form-control", @id = "txtInvoicePP2", @readonly = "readonly" })
                        </td>
                        <td>
                            @Html.DropDownListFor(model => model.pBorrowDetail.BorrowPriceList[0].sInvUnit, new SelectList(Model.ddl_UnitINV, "Value", "Text", ""), "-- Select --", new { @class = "form-control", @id = "ddlInvUnitPPO" })
                        </td>
                    </tr>


                    <tr>
                        @*@Model.pBorrowDetail.BorrowPriceList[0].sPriceType*@
                        @Html.HiddenFor(model => model.pBorrowDetail.BorrowPriceList[1].sPriceType)
                        <td>Actual Price</td>
                        <td>
                            @Html.TextBoxFor(model => model.pBorrowDetail.BorrowPriceList[1].sDueDate, new { @id = "txtDueDateApo", @class = "form-control input-date-picker ", @placeholder = "DD/MM/YYYY", @maxlength = "10" })
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.pBorrowDetail.BorrowPriceList[1].sPrice, new { @class = "form-control numberOnly", @id = "txtPriceAPO" })
                        </td>
                        <td>
                            @Html.DropDownListFor(model => model.pBorrowDetail.BorrowPriceList[1].sPriceUnit, new SelectList(Model.ddl_UnitPrice, "Value", "Text", ""), "-- Select --", new { @class = "form-control", @id = "ddlPriceUnitAPO" })
                        </td>
                        <td>

                            @Html.TextBoxFor(model => model.pBorrowDetail.BorrowPriceList[1].sInvoice, new { @class = "form-control", @id = "txtInvoicePA2", @readonly = "readonly" })
                        </td>
                        <td>
                            @Html.DropDownListFor(model => model.pBorrowDetail.BorrowPriceList[1].sInvUnit, new SelectList(Model.ddl_UnitINV, "Value", "Text", ""), "-- Select --", new { @class = "form-control", @id = "ddlInvUnitAPO" })
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
    <div class="form-group" style="padding-top:10px">
        <div style="text-align:center">
            <button type="submit" class="btn btn-primary" name="action:Save" onclick="return checkValidate();">Save</button>
            <button type="button" class="btn btn-default" onclick="clearFields()" name="">Clear</button>
            @Html.ActionLink("Black", "Search", new { controller = "Borrow" }, htmlAttributes: new { @class = "btn btn-default" })
        </div>
    </div>
}


<script type="text/javascript">

    var ddlPlantSaleC = document.getElementById("ddlPlantSale");
    var ddlPlantPOC = document.getElementById("ddlPlantPO");
    ddlPlantPOC.value = ddlPlantSaleC.value;
    document.getElementById("ddlPlantShow").innerHTML = ddlPlantSaleC.options[ddlPlantSaleC.selectedIndex].text;

    var ddlSaleOrgSaleC = document.getElementById("ddlSaleOrgSale");
    var ddlSaleOrgPOC = document.getElementById("ddlSaleOrgPO");
    ddlSaleOrgPOC.value = ddlSaleOrgSaleC.value;
    document.getElementById("ddlSaleOrgShow").innerHTML = ddlSaleOrgSaleC.options[ddlSaleOrgSaleC.selectedIndex].text;


    var ddlCrudeSaleC = document.getElementById("ddlCrudeSale");
    var ddlCrudePOC = document.getElementById("ddlCrudePO");
    ddlCrudePOC.value = ddlCrudeSaleC.value;
    document.getElementById("ddlCrudeShow").innerHTML = ddlCrudeSaleC.options[ddlCrudeSaleC.selectedIndex].text;

    $(document).ready(function () {

        $('#txtDeliveryDateSale').dateRangePicker({
            startOfWeek: 'monday',
            format: "DD/MM/YYYY",
            singleDate: true,
            autoClose: true
        });


        $('#txtDueDateSale').dateRangePicker({
            startOfWeek: 'monday',
            format: "DD/MM/YYYY",
            singleDate: true,
            autoClose: true
        });

        $('#txtDeliveryDatePO').dateRangePicker({
            startOfWeek: 'monday',
            format: "DD/MM/YYYY",
            singleDate: true,
            autoClose: true
        });


        $('#txtDueDatePO').dateRangePicker({
            startOfWeek: 'monday',
            format: "DD/MM/YYYY",
            singleDate: true,
            autoClose: true
        });

        $('#txtDueDatePSale').dateRangePicker({
            startOfWeek: 'monday',
            format: "DD/MM/YYYY",
            singleDate: true,
            autoClose: true
        });

        $('#txtDueDatePpo').dateRangePicker({
            startOfWeek: 'monday',
            format: "DD/MM/YYYY",
            singleDate: true,
            autoClose: true
        });

        $('#txtDueDateASale').dateRangePicker({
            startOfWeek: 'monday',
            format: "DD/MM/YYYY",
            singleDate: true,
            autoClose: true
        });

        $('#txtDueDateApo').dateRangePicker({
            startOfWeek: 'monday',
            format: "DD/MM/YYYY",
            singleDate: true,
            autoClose: true
        });

        $('#txtDueDateP').dateRangePicker({
            startOfWeek: 'monday',
            format: "DD/MM/YYYY",
            singleDate: true,
            autoClose: true
        });

        $('#txtDueDateA').dateRangePicker({
            startOfWeek: 'monday',
            format: "DD/MM/YYYY",
            singleDate: true,
            autoClose: true
        });

    });

    function clearFields() {
        $('#ddlSaleOrgSale').val('').change();
        $('#ddlPlantSale').val('').change();
        $('#ddlCustomerSale').val('').change();
        $('#txtDeliveryDateSale').val('');
        $('#txtDueDateSale').val('');
        $('#ddlCalculationUnitSale').val('').change();
        $('#txtExchangeRateSale').val('');
        $('#ddlCrudeSale').val('').change();
        $('#txtVolumeBBLASale').val('');
        $('#txtVolumeMTSale').val('');
        $('#txtVolumeLitresSale').val('');
        $('#txtPONoSale').val('');
        $('#txtTankSale').val('');
        $('#txtDueDatePSale').val('');
        $('#txtPricePSale').val('');
        $('#ddlPriceUnitPSale').val('').change();
        $('#ddlInvUnitPSale').val('').change();
        $('#txtDueDateASale').val('');
        $('#txtPriceASale').val('');
        $('#ddlPriceUnitASale').val('').change();
        $('#ddlInvUnitASale').val('').change();

        $('#ddlPlantShow').val('').change();
        $('#ddlSaleOrgShow').val('').change();
        $('#ddlCustomerPO').val('').change();
        $('#txtDeliveryDatePO').val('');
        $('#txtDueDatePO').val('');
        $('#ddlCalculationUnitPO').val('').change();
        $('#txtExchangeRatePO').val('');
        $('#ddlCrudePO').val('').change();
        $('#txtVolumeBBLPO').val('');
        $('#txtVolumeMTPO').val('');
        $('#txtVolumeLitresPO').val('');
        $('#txtPONo').val('');
        $('#txtTankPO').val('');
        $('#txtDueDatePpo').val('');
        $('#txtPricePPO').val('');
        $('#ddlPriceUnitPPO').val('').change();
        $('#ddlInvUnitPPO').val('').change();
        $('#txtDueDateApo').val('');
        $('#txtPriceAPO').val('');
        $('#ddlPriceUnitAPO').val('').change();
        $('#ddlInvUnitAPO').val('').change();
    }

    function copy() {
        //<----For test alert--->//
        //alert(document.getElementById("ddlPlantSale").value);
        //alert(ddlPlantSale.options[ddlPlantSale.selectedIndex].text);
        //var ddlCustomerSale = document.getElementById("ddlCustomerSale");
        //var ddlCustomerPO = document.getElementById("ddlCustomerPO");
        //ddlCustomerPO.value = ddlCustomerSale.value;
        //<----For test alert--->//

        

        ddlPlantSaleC = document.getElementById("ddlPlantSale");
        ddlPlantPOC = document.getElementById("ddlPlantPO");
        ddlPlantPOC.value = ddlPlantSaleC.value;
        document.getElementById("ddlPlantShow").innerHTML = ddlPlantSaleC.options[ddlPlantSaleC.selectedIndex].text;

        ddlSaleOrgSaleC = document.getElementById("ddlSaleOrgSale");
        ddlSaleOrgPOC = document.getElementById("ddlSaleOrgPO");
        ddlSaleOrgPOC.value = ddlSaleOrgSale.value;
        document.getElementById("ddlSaleOrgShow").innerHTML = ddlSaleOrgSaleC.options[ddlSaleOrgSaleC.selectedIndex].text;
        
        ddlCrudeSaleC = document.getElementById("ddlCrudeSale");
        ddlCrudePOC = document.getElementById("ddlCrudePO");
        ddlCrudePOC.value = ddlCrudeSaleC.value;
        document.getElementById("ddlCrudeShow").innerHTML = ddlCrudeSaleC.options[ddlCrudeSaleC.selectedIndex].text;

        var txtDeliveryDateSaleC = document.getElementById("txtDeliveryDateSale");
        var txtDeliveryDatePOC = document.getElementById("txtDeliveryDatePO");
        txtDeliveryDatePOC.value = txtDeliveryDateSaleC.value;

        var txtDueDateSaleC = document.getElementById("txtDueDateSale");
        var txtDueDatePOC = document.getElementById("txtDueDatePO");
        txtDueDatePOC.value = txtDueDateSaleC.value;

        var ddlCalculationUnitSaleC = document.getElementById("ddlCalculationUnitSale");
        var ddlCalculationUnitPOC = document.getElementById("ddlCalculationUnitPO");
        ddlCalculationUnitPOC.value = ddlCalculationUnitSaleC.value;

        var txtExchangeRateSaleC = document.getElementById("txtExchangeRateSale");
        var txtExchangeRatePOC = document.getElementById("txtExchangeRatePO");
        txtExchangeRatePOC.value = txtExchangeRateSaleC.value;
      
        var txtPONoSaleC = document.getElementById("txtPONoSale");
        var txtPONoC = document.getElementById("txtPONo");
        txtPONoC.value = txtPONoSaleC.value;

        var txtTankSaleC = document.getElementById("txtTankSale");
        var txtTankPOC = document.getElementById("txtTankPO");
        txtTankPOC.value = txtTankSaleC.value;

        var txtPricePSaleC = document.getElementById("txtPricePSale");
        var txtPricePPOC = document.getElementById("txtPricePPO");
        txtPricePPOC.value = txtPricePSaleC.value;

        var txtVolumeBBLSaleC = document.getElementById("txtVolumeBBLASale");
        var txtVolumeBBLPOC = document.getElementById("txtVolumeBBLPO");
        txtVolumeBBLPOC.value = txtVolumeBBLSaleC.value;

        var txtVolumeMTSaleC = document.getElementById("txtVolumeMTSale");
        var txtVolumeMTPOC = document.getElementById("txtVolumeMTPO");
        txtVolumeMTPOC.value = txtVolumeMTSaleC.value;

        var txtVolumeLitresSaleC = document.getElementById("txtVolumeLitresSale");
        var txtVolumeLitresPOC = document.getElementById("txtVolumeLitresPO");
        txtVolumeLitresPOC.value = txtVolumeLitresSaleC.value;

        /////Table price for add
        var txtPriceASale = document.getElementById("txtPriceASale");
        var txtPriceAPO = document.getElementById("txtPriceAPO");
        txtPriceAPO.value = txtPriceASale.value;

        var ddlPriceUnitPSale = document.getElementById("ddlPriceUnitPSale");
        var ddlPriceUnitPPO = document.getElementById("ddlPriceUnitPPO");
        ddlPriceUnitPPO.value = ddlPriceUnitPSale.value;

        var ddlPriceUnitASale = document.getElementById("ddlPriceUnitASale");
        var ddlPriceUnitAPO = document.getElementById("ddlPriceUnitAPO");
        ddlPriceUnitAPO.value = ddlPriceUnitASale.value;

        var ddlInvUnitPSale = document.getElementById("ddlInvUnitPSale");
        var ddlInvUnitPPO = document.getElementById("ddlInvUnitPPO");
        ddlInvUnitPPO.value = ddlInvUnitPSale.value;

        var ddlInvUnitASale = document.getElementById("ddlInvUnitASale");
        var ddlInvUnitAPO = document.getElementById("ddlInvUnitAPO");
        ddlInvUnitAPO.value = ddlInvUnitASale.value;

        var txtDueDatePSale = document.getElementById("txtDueDatePSale");
        var txtDueDatePpo = document.getElementById("txtDueDatePpo");
        txtDueDatePpo.value = txtDueDatePSale.value;

        var txtDueDateASale = document.getElementById("txtDueDateASale");
        var txtDueDateApo = document.getElementById("txtDueDateApo");
        txtDueDateApo.value = txtDueDateASale.value;
        
    }

    $(document).ready(function () {
        $('.AddNew').click(function () {
            $(".TargetElements:first").clone().insertAfter('.TargetElements');
        });
    });

    
    function NumberWithCommas(nStr, nF) {
        nStr += '';
        x = nStr.split('.');
        x1 = x[0];
        var sTmp = '';
        for (var i = 0; i < nF; i++) { sTmp += '0'; }
        x2 = x.length > 1 ? (x[1] + sTmp).substr(0, nF) : sTmp;
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
            //x1 = x1.replace(rgx, '$1' + '$2');
        }
        return x1 + '.' + x2;
    }

    function fnDetectNumeric(controlID) {

        var xCharCode = String.fromCharCode(event.keyCode);
        if (!(/[0-9,.]/.test(xCharCode))) {
            var tmp = $('#' + controlID).val().toLowerCase().replace(xCharCode.toLowerCase(), '');
            var tmp1;
            var x = tmp.split('.');
            if (x.length > 1) { tmp1 = x[1].replace(/[^\d\.\-eE+]/g, ""); } else { tmp1 = "00"; };

            $('#' + controlID).val(NumberWithCommas(x[0].replace(/,/g, '') + '.' + tmp1, tmp1.length));

        }
    }

    $(".numberOnly").focus(function () {
        $(this).val($(this).val().replace(/,/g, ''));
    });
    $(".numberOnly").blur(function () {
        var value = parseFloat($(this).val().replace(/,/g, ''));
        if (!isNaN(value)) {
            if (value > 999999999999) {
                value = 999999999999;
            }
            //$(this).val(value.toLocaleString('en-US', { minimumFractionDigits: 4, maximumFractionDigits: 4 }));
            var tmp = $(this).val().split(".");
            var lng = tmp.length;
            var digit = 0;
            if (lng > 1) {
                digit = tmp[1].length;
            }
            $(this).val(value.toLocaleString('en-US', { minimumFractionDigits: digit, maximumFractionDigits: digit }));
        }
        else
            $(this).val("");
    });

    $(".numberOnly").each(function () {
        var value = parseFloat($(this).val().replace(/,/g, ''));
        //var value = parseFloat($(this).val());
        if (!isNaN(value)) {
            if (value > 999999999999) {
                value = 999999999999;
            }
            var tmp = $(this).val().split(".");
            var lng = tmp.length;
            var digit = 0;
            if (lng > 1) {
                digit = tmp[1].length;
            }
            $(this).val(value.toLocaleString('en-US', { minimumFractionDigits: digit, maximumFractionDigits: digit }));
        }
        else
            $(this).val("");
    });

    function checkValidate() {
        var errorValidate = "";

        if ($('#ddlSaleOrgSale').val() == "" || $('#ddlSaleOrgSale').val() == 0) {
            errorValidate += "Sale Org(SALE) ";
        }

        if ($('#ddlPlantSale').val() == "" || $('#ddlPlantSale').val() == 0) {
            errorValidate += "Plant Sale(SALE) ";
        }

        if ($('#ddlCustomerSale').val() == "" || $('#ddlCustomerSale').val() == 0) {
            errorValidate += "Customer Sale(SALE) ";
        }

        if ($('#txtDeliveryDateSale').val() == "") {
            errorValidate += "Delivery Date Sale(SALE) ";
        }

        if ($('#txtDueDateSale').val() == "") {
            errorValidate += "Due Date(SALE) ";
        }

        if ($('#ddlCalculationUnitSale').val() == "" || $('#ddlCalculationUnitSale').val() == 0) {
            errorValidate += "Calculation Unit(SALE) ";
        }

        if ($('#txtExchangeRateSale').val() == "") {
            errorValidate += "Exchange Rate(SALE) ";
        }

        if ($('#ddlCrudeSale').val() == "" || $('#ddlCrudeSale').val() == 0) {
            errorValidate += "Crude(SALE) ";
        }

        if ($('#txtVolumeBBLSale').val() == "") {
            errorValidate += "Volume BBL(SALE) ";
        }

        if ($('#txtVolumeMTSale').val() == "") {
            errorValidate += "Volume MT(SALE) ";
        }

        if ($('#txtVolumeLitresSale').val() == "") {
            errorValidate += "Volume Litres(SALE) ";
        }

        if ($('#txtDueDatePSale').val() == "") {
            errorValidate += "Due Date of Provisional Price(SALE) ";
        }

        if ($('#txtPricePSale').val() == "") {
            errorValidate += "Price of Provisional Price(SALE) ";
        }

        if ($('#ddlPriceUnitPSale').val() == "" || $('#ddlPriceUnitPSale').val() == 0) {
            errorValidate += "Price Unit of Provisional Price(SALE) ";
        }

        if ($('#ddlInvUnitPSale').val() == "" || $('#ddlInvUnitPSale').val() == 0) {
            errorValidate += "Invoice Unit of Provisional Price(SALE) ";
        }

        ////////////////////////////////////////////////////////////////////////////////

        if ($('#ddlSaleOrgPO').val() == "" || $('#ddlSaleOrgPO').val() == 0) {
            errorValidate += "Sale Org(PURCHASE) ";
        }

        if ($('#ddlPlantPO').val() == "" || $('#ddlPlantPO').val() == 0) {
            errorValidate += "Plant(PURCHASE) ";
        }

        if ($('#ddlCustomerPO').val() == "" || $('#ddlCustomerPO').val() == 0) {
            errorValidate += "Customer(PURCHASE) ";
        }

        if ($('#txtDeliveryDatePO').val() == "") {
            errorValidate += "Delivery Date(PURCHASE) ";
        }

        if ($('#txtDueDatePO').val() == "") {
            errorValidate += "Due Date(PURCHASE) ";
        }

        if ($('#ddlCalculationUnitPO').val() == "" || $('#ddlCalculationUnitPO').val() == 0) {
            errorValidate += "Calculation Unit(PURCHASE) ";
        }

        if ($('#txtExchangeRatePO').val() == "") {
            errorValidate += "Exchange Rate(PURCHASE) ";
        }

        if ($('#ddlCrudePO').val() == "" || $('#ddlCrudePO').val() == 0) {
            errorValidate += "Crude(PURCHASE) ";
        }

        if ($('#txtVolumeBBLPO').val() == "") {
            errorValidate += "Volume BBL(PURCHASE) ";
        }

        if ($('#txtVolumeMTPO').val() == "") {
            errorValidate += "Volume MT(PURCHASE) ";
        }

        if ($('#txtVolumeLitresPO').val() == "") {
            errorValidate += "Volume Litres(PURCHASE) ";
        }

        if ($('#txtDueDatePpo').val() == "") {
            errorValidate += "Due Date of Provisional Price(PURCHASE) ";
        }

        if ($('#txtPricePPO').val() == "") {
            errorValidate += "Price of Provisional Price(PURCHASE)";
        }

        if ($('#ddlPriceUnitPPO').val() == "" || $('#ddlPriceUnitPPO').val() == 0) {
            errorValidate += "Price Unit of Provisional Price(PURCHASE) ";
        }

        if ($('#ddlInvUnitPPO').val() == "" || $('#ddlInvUnitPPO').val() == 0) {
            errorValidate += "Inv Unit of Provisional Price(PURCHASE) ";
        }

        if (errorValidate != "") {
            alert("กรุณากรอกข้อมูลต่อไปนี้ให้ครบถ้วน : " + errorValidate);
            return false;
        }

        if (errorValidate == "") {
            return true;
        }
    }
    //Sale-Provisional Price
    $('.form-control').change(function () {

        $('#txtInvoiceP').attr('value', function () {

            var resultInvoiceP;

            var PriceUnitPSale = $('#ddlPriceUnitPSale').val();// document.getElementById("ddlPriceUnitPSale");
            var InvoiceP = parseFloat($('#txtInvoiceP').val());  //document.getElementById("txtInvoiceP");
            var PricePSale = parseFloat($('#txtPricePSale').val()); //document.getElementById("txtPricePSale");
            var VolumeBBLSale = parseFloat($('#txtVolumeBBLASale').val().replace(',', '')); //document.getElementById("txtVolumeBBLSale");
            var VolumeMTSale = parseFloat($('#txtVolumeMTSale').val().replace(',', '')); //document.getElementById("txtVolumeMTSale");
            var VolumeLitresSale = parseFloat($('#txtVolumeLitresSale').val().replace(',', '')); //document.getElementById("txtVolumeLitresSale");
            var CalculationUnitSale = $('#ddlCalculationUnitSale').val();  //document.getElementById("ddlCalculationUnitSale");
            var ExchangeRateSale = parseFloat($('#txtExchangeRateSale').val());  //document.getElementById("txtExchangeRateSale");

            $('.form-control').each(function () {
                if (PriceUnitPSale == 'US4') {

                    if (CalculationUnitSale == 'BBL') {
                        resultInvoiceP = PricePSale * ExchangeRateSale * VolumeBBLSale;
                       
                
                    }
                    else if (CalculationUnitSale == 'MT') {
                        resultInvoiceP = PricePSale * ExchangeRateSale * VolumeMTSale;
                    }
                    else if (CalculationUnitSale == 'L30') {
                        resultInvoiceP = PricePSale * ExchangeRateSale * VolumeLitresSale;
                    }
                }
                else if (PriceUnitPSale == 'TH4') {
                    if (CalculationUnitSale == 'BBL') {
                        resultInvoiceP = PricePSale * VolumeBBLSale;
                    }
                    else if (CalculationUnitSale == 'MT') {
                        resultInvoiceP = PricePSale * VolumeMTSale;
                    }
                    else if (CalculationUnitSale == 'L30') {
                        resultInvoiceP = PricePSale * VolumeLitresSale;
                    }
                }

                $('#txtInvoiceP').val(resultInvoiceP.toLocaleString('en-US', {minimumFractionDigits: 4}));
                return resultInvoiceP;
            });
        });
    });

    
    //Purchase-Provisional Price

    $('.form-control').change(function () {

        $('#txtInvoicePP1').attr('value', function () {

            var resultInvoicePP1;

            var PriceUnitPSale1 = $('#ddlPriceUnitPPO').val();// document.getElementById("ddlPriceUnitPSale");
            var PricePSale1 = parseFloat($('#txtPricePPO').val()); //document.getElementById("txtPricePSale");
            var VolumeBBLSale1 = parseFloat($('#txtVolumeBBLPO').val().replace(',', '')); //document.getElementById("txtVolumeBBLSale");
            var VolumeMTSale1 = parseFloat($('#txtVolumeMTPO').val().replace(',', '')); //document.getElementById("txtVolumeMTSale");
            var VolumeLitresSale1 = parseFloat($('#txtVolumeLitresPO').val().replace(',', '')); //document.getElementById("txtVolumeLitresSale");
            var CalculationUnitSale1 = $('#ddlCalculationUnitPO').val();  //document.getElementById("ddlCalculationUnitSale");
            var ExchangeRateSale1 = parseFloat($('#txtExchangeRatePO').val());  //document.getElementById("txtExchangeRateSale");

            $('.form-control').each(function () {
                
                if (PriceUnitPSale1 == 'US4') {
                  
                    if (CalculationUnitSale1 == 'BBL') {
                        resultInvoicePP1 = PricePSale1 * ExchangeRateSale1 * VolumeBBLSale1;
                      

                    }
                    else if (CalculationUnitSale1 == 'MT') {
                        resultInvoicePP1 = PricePSale1 * ExchangeRateSale1 * VolumeBBLSale1;
                    }
                    else if (CalculationUnitSale1 == 'L30') {
                        resultInvoicePP1 = PricePSale1 * ExchangeRateSale1 * VolumeBBLSale1;
                    }
                }
                else if (PriceUnitPSale1 == 'TH4')
                {
                    
                    if (CalculationUnitSale1 == 'BBL') {
                        resultInvoicePP1 = PricePSale1 * VolumeBBLSale1;
                    }
                    else if (CalculationUnitSale1 == 'MT') {
                        resultInvoicePP1 = PricePSale1 * VolumeBBLSale1;
                    }
                    else if (CalculationUnitSale1 == 'L30') {
                        resultInvoicePP1 = PricePSale1 * VolumeBBLSale1;
                    }
                }

                $('#txtInvoicePP1').val(resultInvoicePP1.toLocaleString('en-US', { minimumFractionDigits: 4 }));
                return resultInvoicePP1;
            });
        });
    });

    //Sale - Actual Price

    $('.form-control').change(function () {

        $('#txtInvoiceA').attr('value', function () {

            var resultInvoiceA;
            var PriceUnitASale = $('#ddlPriceUnitASale').val();// document.getElementById("ddlPriceUnitASale");
            var PriceASale = parseFloat($('#txtPriceASale').val()); //document.getElementById("txtPriceASale");          
            var VolumeBBLASale = parseFloat($('#txtVolumeBBLASale').val().replace(',', '')); //document.getElementById("txtVolumeBBLSale");
            var VolumeMTSale = parseFloat($('#txtVolumeMTSale').val().replace(',', '')); //document.getElementById("txtVolumeMTSale");
            var VolumeLitresSale = parseFloat($('#txtVolumeLitresSale').val().replace(',', '')); //document.getElementById("txtVolumeLitresSale");
            var CalculationUnitSale = $('#ddlCalculationUnitSale').val();  //document.getElementById("ddlCalculationUnitSale");
            var ExchangeRateSale = parseFloat($('#txtExchangeRateSale').val());  //document.getElementById("txtExchangeRateSale");

            $('.form-control').each(function () {
                if (PriceUnitASale == 'US4') {

                    if (CalculationUnitSale == 'BBL') {
                        resultInvoiceA = PriceASale * ExchangeRateSale * VolumeBBLASale;
                        //resultInvoiceA = 999;
                    }
                    if (CalculationUnitSale == 'MT') {
                        resultInvoiceA = PriceASale * ExchangeRateSale * VolumeMTSale;
                    }
                    if (CalculationUnitSale == 'L30') {
                        resultInvoiceA = PriceASale * ExchangeRateSale * VolumeLitresSale;
                    }
                }
                else if (PriceUnitASale == 'TH4') {
                    if (CalculationUnitSale == 'BBL') {
                        resultInvoiceA = PriceASale * VolumeBBLASale;
                    }
                    else if (CalculationUnitSale == 'MT') {
                        resultInvoiceA = PriceASale * VolumeMTSale;
                    }
                    else if (CalculationUnitSale == 'L30') {
                        resultInvoiceA = PriceASale * VolumeLitresSale;
                    }
                }

                $('#txtInvoiceA').val(resultInvoiceA.toLocaleString('en-US', { minimumFractionDigits: 4 }));
            });
            return resultInvoiceA;
        });
    });

    //Purchase - Actual Price

    $('.form-control').change(function () {

        $('#txtInvoicePA1').attr('value', function () {

            var resultInvoiceAP1;
            var PriceUnitASaleP1 = $('#ddlPriceUnitAPO').val();// document.getElementById("ddlPriceUnitPSale");
            var PriceASaleP1 = parseFloat($('#txtPriceAPO').val()); //document.getElementById("txtPricePSale");
            var VolumeBBLASaleP1 = parseFloat($('#txtVolumeBBLPO').val().replace(',', '')); //document.getElementById("txtVolumeBBLSale");
            var VolumeMTSaleP1 = parseFloat($('#txtVolumeMTPO').val().replace(',', '')); //document.getElementById("txtVolumeMTSale");
            var VolumeLitresSaleP1 = parseFloat($('#txtVolumeLitresPO').val().replace(',', '')); //document.getElementById("txtVolumeLitresSale");
            var CalculationUnitSaleP1 = $('#ddlCalculationUnitPO').val();  //document.getElementById("ddlCalculationUnitSale");
            var ExchangeRateSaleP1 = parseFloat($('#txtExchangeRatePO').val());  //document.getElementById("txtExchangeRateSale");

            $('.form-control').each(function () {
                if (PriceUnitASaleP1 == 'US4') {

                    if (CalculationUnitSaleP1 == 'BBL') {
                        resultInvoiceAP1 = PriceASaleP1 * ExchangeRateSaleP1 * VolumeBBLASaleP1;
                    
                    }
                    if (CalculationUnitSaleP1 == 'MT') {
                        resultInvoiceAP1 = PriceASaleP1 * ExchangeRateSaleP1 * VolumeBBLASaleP1;
                    }
                    if (CalculationUnitSaleP1 == 'L30') {
                        resultInvoiceAP1 = PriceASaleP1 * ExchangeRateSaleP1 * VolumeBBLASaleP1;
                    }
                }
                else if (PriceUnitASaleP1 == 'TH4')
                {
                    if (CalculationUnitSaleP1 == 'BBL') {
                        resultInvoiceAP1 = PriceASaleP1 * VolumeBBLASaleP1;
                    }
                    else if (CalculationUnitSaleP1 == 'MT') {
                        resultInvoiceAP1 = PriceASaleP1 * VolumeMTSaleP1;
                    }
                    else if (CalculationUnitSaleP1 == 'L30') {
                        resultInvoiceAP1 = PriceASaleP1 * VolumeLitresSaleP1;
                    }
                }

                $('#txtInvoicePA1').val(resultInvoiceAP1.toLocaleString('en-US', { minimumFractionDigits: 4 }));
            });
            return resultInvoiceAP1;
        });
    });
    
    
</script>


