﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.BorrowViewModel
@{
    ViewBag.Title = "Search";

    var page_title = "Reverse FI Document for Borrow";

}

<div class="page-header">
    <h1>@page_title</h1>
</div>
@using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal" }))
{

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label col-sm-2">Fiscal Year:</label>
                <div class="col-sm-3">
                    @Html.TextBoxFor(model => model.Borrow_Search.sYear, new { @class = "form-control", @required = "required" })
                </div>
                <label class="control-label col-sm-2">Company:</label>
                <div class="col-sm-3">
                    @Html.DropDownListFor(model => model.Borrow_Search.sComCode, new SelectList(Model.ddl_SaleOrg, "Value", "Text"), "-- Select --", new { @class = "form-control"})
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">FI Document No:</label>
                <div class="col-sm-3">
                    @Html.TextBoxFor(model => model.Borrow_Search.sDocument, new { @class = "form-control", @required = "required" })
                </div>
            </div>

            <div class="form-group">
                <div class="pull-left">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
                <div class="pull-right">
                </div>
            </div>
        </div>
    </div>  

    <div class="row" style="overflow-x:scroll;">
        <table id="searchResultTable" class="table table-hover display " cellspacing="0">
            <thead>
                <tr>
                    <th style="width:300px;text-align:center">Trip No.</th>
                    <th style="width:180px;text-align:center">Company</th>
                    <th style="width:300px;text-align:center">Supplier</th>
                    <th style="width:200px;text-align:center">Delivery Date</th>
                    <th style="width:220px;text-align:center">Crude Type</th>
                    <th style="width:200px;text-align:center">Volume(BBL)</th>
                    <th style="width:200px;text-align:center">Volume(MT)</th>
                    <th style="width:200px;text-align:center">Volume(Litres)</th>
                    <th style="width:200px;text-align:center">Price</th>
                    <th style="width:200px;text-align:center">Currency</th>
                    <th style="width:200px;text-align:center">Invoice</th>
                    <th style="width:200px;text-align:center">Currency</th>
                    <th style="width:280px;text-align:center">Purchase Order</th>
                    @*<th style="width:150px;text-align:center">FX</th>
                    <th style="width:280px;text-align:center">Sale Order</th>
                    <th style="width:200px;text-align:center">MEMO No.</th>
                    <th style="width:160px;text-align:center">DO</th>*@

                </tr>
            </thead>
            <tbody>
                @if (Model.Borrow_Search != null)
                {
                    if (Model.Borrow_Search.SearchData != null && Model.Borrow_Search.SearchData.Count() > 0)
                    {
                        var i = 0;
                        foreach (var item in Model.Borrow_Search.SearchData)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(model => model.Borrow_Search.SearchData[i].aTripNo,item.aTripNo,new {@id = "hTripNo" + @i })
                                    @Html.HiddenFor(model => model.Borrow_Search.SearchData[i].aTripNo, new { @id = "hTripNo" + @i })
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Borrow_Search.SearchData[i].aSaleOrg, item.aSaleOrg, new { @id = "SaleOrg" + @i })
                                    @Html.HiddenFor(model => model.Borrow_Search.SearchData[i].aSaleOrg, new { @id = "hSaleOrg" + @i })
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Borrow_Search.SearchData[i].aCustomer, item.aCustomer, new { @id = "Customer" + @i })
                                    @Html.HiddenFor(model => model.Borrow_Search.SearchData[i].aCustomer, new { @id = "hCustomer" + @i })
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Borrow_Search.SearchData[i].aDeliveryDate, item.aDeliveryDate, new { @id = "DeliveryDate" + @i })
                                    @Html.HiddenFor(model => model.Borrow_Search.SearchData[i].aDeliveryDate, new { @id = "hDeliveryDate" + @i })
                                </td>
                                
                                <td>
                                    @Html.DisplayFor(model => model.Borrow_Search.SearchData[i].aCrudeType, item.aCrudeType, new { @id = "Crude" + @i })
                                    @Html.HiddenFor(model => model.Borrow_Search.SearchData[i].aCrudeType, new { @id = "hCrude" + @i })
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Borrow_Search.SearchData[i].aVolumeBBL, item.aVolumeBBL, new { @id = "VolumeBBL" + @i })
                                    @Html.HiddenFor(model => model.Borrow_Search.SearchData[i].aVolumeBBL, new { @id = "hVolumeBBL" + @i })
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Borrow_Search.SearchData[i].aVolumeMT, item.aVolumeMT, new { @id = "VolumeMT" + @i })
                                    @Html.HiddenFor(model => model.Borrow_Search.SearchData[i].aVolumeMT, new { @id = "hVolumeMT" + @i })
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Borrow_Search.SearchData[i].aVolumeLitres, item.aVolumeLitres, new { @id = "VolumeLitres" + @i })
                                    @Html.HiddenFor(model => model.Borrow_Search.SearchData[i].aVolumeLitres, new { @id = "hVolumeLitres" + @i })
                                </td>
                                <td>
                                    @*@Html.LabelFor(model => model.Borrow_Search.SearchData[i].aPrice, item.aPrice, new { @id = "Price" + @i })*@
                                    @Html.DisplayFor(model => model.Borrow_Search.SearchData[i].aPrice, item.aPrice, new { @id = "Price" + @i })
                                    @Html.HiddenFor(model => model.Borrow_Search.SearchData[i].aPrice, new { @id = "hPrice" + @i })
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Borrow_Search.SearchData[i].aUnit, item.aUnit, new { @id = "Unit" + @i })
                                    @Html.HiddenFor(model => model.Borrow_Search.SearchData[i].aUnit, new { @id = "hUnit" + @i })
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Borrow_Search.SearchData[i].aInvoice, item.aInvoice, new { @id = "Unit" + @i })
                                    @Html.HiddenFor(model => model.Borrow_Search.SearchData[i].aInvoice, new { @id = "hInvoice" + @i })
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Borrow_Search.SearchData[i].aCurrency_invoice, item.aCurrency_invoice, new { @id = "Unit" + @i })
                                    @Html.HiddenFor(model => model.Borrow_Search.SearchData[i].aCurrency_invoice, new { @id = "hCurrencyInvoice" + @i })
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Borrow_Search.SearchData[i].aPurchaseOrder, item.aPurchaseOrder, new { @id = "PurchaseOrder" + @i })
                                    @Html.HiddenFor(model => model.Borrow_Search.SearchData[i].aPurchaseOrder, new { @id = "hPurchaseOrder" + @i })
                                </td>
                                @*<td>
                                    @Html.DisplayFor(model => model.Borrow_Search.SearchData[i].aFX, item.aFX, new { @id = "FX" + @i })
                                    @Html.HiddenFor(model => model.Borrow_Search.SearchData[i].aFX, new { @id = "hFX" + @i })
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Borrow_Search.SearchData[i].aSaleOrder, item.aSaleOrder, new { @id = "SaleOrder" + @i })
                                    @Html.HiddenFor(model => model.Borrow_Search.SearchData[i].aSaleOrder, new { @id = "hSaleOrder" + @i })
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Borrow_Search.SearchData[i].aMemoNo, item.aMemoNo, new { @id = "MEMONo" + @i, @Style = "width:100px" })
                                    @Html.HiddenFor(model => model.Borrow_Search.SearchData[i].aMemoNo, new { @id = "hMEMONo" + @i })
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Borrow_Search.SearchData[i].aDONo, item.aDONo, new { @id = "DO" + @i, @Style = "width:100px" })
                                    @Html.HiddenFor(model => model.Borrow_Search.SearchData[i].aDONo, new { @id = "hDO" + @i })
                                </td>*@

                            </tr>
                            i++;
                        }
                    }
                    else
                    {
                        <tr class="waiting"><td colspan="17">No Data found</td></tr>
                    }
                }
                else
                {
                    <tr class="waiting"><td colspan="17">No Data found</td></tr>
                }

            </tbody>
        </table>
    </div>
    <div class="form-group" style="padding-top:10px">
        <div style="text-align:center">
            <button type="button" class="btn btn-default" onclick="CreateChangeSO()">Reverse Document</button>          
        </div>
    </div>
    <!-- Result Popup -->
  

}