﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.BorrowViewModel
@{
    ViewBag.Title = "Search";

    var page_title = "Search Borrow Transaction";

}

<div class="page-header">
    <h3>@page_title</h3>
</div>

@using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="form-group">
        <div class="row">
            <div>
                <label class="col-md-1 control-label">Trip No.</label>
                <div class="col-md-2">
                    @Html.TextBoxFor(model => model.Borrow_Search.sTripNo, new { @class = "form-control", @id = "txtTripNo" })
                </div>
            </div>
            <div>
                <label class="col-md-1 control-label">Delivery Date</label>
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.Borrow_Search.sDeliveryDate, new { @id = "txtDeliveryDate", @class = "form-control input-date-picker date-range-start ", @placeholder = "DD/MM/YYYY to DD/MM/YYYY", @maxlength = "24", @Style = "width:230px" })
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">           
            <div>
                <label class="col-sm-4 col-md-1 control-label">Customer</label>
                <div class="col-sm-8 col-md-2">
                 @Html.DropDownListFor(model => model.Borrow_Search.sCustomer, new SelectList(Model.ddl_Customer, "Value", "Text"), "-- Select --", new { @class = "form-control", @id = "ddlCustomer" })
                </div>
            </div>
            <div>
                <label class="col-sm-4 col-md-1 control-label">Crude</label>
                <div class="col-sm-8 col-md-2">
                    @Html.DropDownListFor(model => model.Borrow_Search.sCrude, new SelectList(Model.ddl_Crude, "Value", "Text"), "-- Select --", new { @class = "form-control", @id = "ddlCrude" })
                </div>
            </div>
        </div>
    </div>


    <div class="form-group" style="padding-top:10px">
        <div style="text-align:center">
            <button type="submit" class="btn btn-success" name="action:AddEdit">Add</button>
            <button type="submit" class="btn btn-primary" name="action:Search">Search</button>
            <button type="button" class="btn btn-default" onclick="clearSearch()" name="">Clear</button>
        </div>
    </div>

    <div class="row" style="overflow-x:scroll;overflow-y:scroll;">
        <table id="searchResultTable" class="table table-hover display " cellspacing="0">
            <thead>
                <tr>
                    <th style="width:160px"></th>
                    <th style="width:270px;text-align:center">Trip No.</th>
                    <th style="width:300px;text-align:center">Customer</th>
                    <th style="width:200px;text-align:center">Delivery Date</th>
                    <th style="width:180px;text-align:center">Sale Org.</th>
                    <th style="width:220px;text-align:center">Crude Type</th>
                    <th style="width:200px;text-align:center">Volume(BBL)</th>
                    <th style="width:200px;text-align:center">Volume(MT)</th>
                    <th style="width:200px;text-align:center">Volume(Litres)</th>
                    <th style="width:200px;text-align:center">Price</th>
                    <th style="width:200px;text-align:center">Unit</th>
                    <th style="width:280px;text-align:center">Purchase Order</th>
                    <th style="width:150px;text-align:center">FX</th>                    
                    <th style="width:280px;text-align:center">Sale Order</th>
                    <th style="width:200px;text-align:center">MEMO No.</th>
                    <th style="width:160px;text-align:center">DO</th>
                    
                </tr>
            </thead>
            <tbody>
                @if (Model.Borrow_Search != null)
                {
                    if (Model.Borrow_Search.SearchData != null && Model.Borrow_Search.SearchData.Count() > 0)
                    {
                        var i = 0;
                        foreach (var item in Model.Borrow_Search.SearchData)
                        {
                            <tr>
                                <td>
                                    @*<input type="button" id="CreateSOBorrow" @item.aTripNo value="CreateSO" onclick="createSO('@item.aTripNo','@i')" style="background: transparent; border-style: none;text-decoration: underline; color: blue; padding-bottom: 10px;">

                                    <input type="button" id="UpdateSOBorrow" @item.aTripNo value="UpdateSO" onclick="updateSO('@item.aTripNo','@i')" style="background: transparent; border-style: none;text-decoration: underline; color: blue; padding-bottom: 10px;">

                                    <input type="button" id="CancelSOBorrow" @item.aTripNo value="CancelSO" onclick="cancelSO('@item.aTripNo','@i')" style="background: transparent; border-style: none;text-decoration: underline; color: blue; padding-bottom: 10px;">*@
                                    <input name="CBselect" type="checkbox" value="@item.aTripNo" />
                                    @Html.HiddenFor(model => model.Borrow_Search.SearchData[i].aSaleUnitType)
                                    @Html.HiddenFor(model => model.Borrow_Search.SearchData[i].aInvoiceFigureType)
                                </td>
                                <td>
                                    <a href="@Url.Action("AddEdit", "Borrow", new { pTripNo = @item.aTripNo })" title=@item.aTripNo style="width:270px">
                                        @item.aTripNo
                                    </a>
                                    @Html.HiddenFor(model => model.Borrow_Search.SearchData[i].aTripNo, new { @id = "hTripNo" + @i })
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Borrow_Search.SearchData[i].aCustomer, item.aCustomer, new { @id = "Customer" + @i })
                                    @Html.HiddenFor(model => model.Borrow_Search.SearchData[i].aCustomer, new { @id = "hCustomer" + @i })
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Borrow_Search.SearchData[i].aDeliveryDate, item.aDeliveryDate, new { @id = "DeliveryDate" + @i })
                                    @Html.HiddenFor(model => model.Borrow_Search.SearchData[i].aDeliveryDate, new { @id = "hDeliveryDate" + @i })
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Borrow_Search.SearchData[i].aSaleOrg, item.aSaleOrg, new { @id = "SaleOrg" + @i })
                                    @Html.HiddenFor(model => model.Borrow_Search.SearchData[i].aSaleOrg, new { @id = "hSaleOrg" + @i })
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Borrow_Search.SearchData[i].aCrudeType, item.aCrudeType, new { @id = "Crude" + @i })
                                    @Html.HiddenFor(model => model.Borrow_Search.SearchData[i].aCrudeType, new { @id = "hCrude" + @i })
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Borrow_Search.SearchData[i].aVolumeBBL, item.aVolumeBBL, new { @id = "VolumeBBL" + @i })
                                    @Html.HiddenFor(model => model.Borrow_Search.SearchData[i].aVolumeBBL, new { @id = "hVolumeBBL" + @i })
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Borrow_Search.SearchData[i].aVolumeMT, item.aVolumeMT, new { @id = "VolumeMT" + @i })
                                    @Html.HiddenFor(model => model.Borrow_Search.SearchData[i].aVolumeMT, new { @id = "hVolumeMT" + @i })
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Borrow_Search.SearchData[i].aVolumeLitres, item.aVolumeLitres, new { @id = "VolumeLitres" + @i })
                                    @Html.HiddenFor(model => model.Borrow_Search.SearchData[i].aVolumeLitres, new { @id = "hVolumeLitres" + @i })
                                </td>
                                <td>
                                    @*@Html.LabelFor(model => model.Borrow_Search.SearchData[i].aPrice, item.aPrice, new { @id = "Price" + @i })*@
                                    @Html.DisplayFor(model => model.Borrow_Search.SearchData[i].aPrice, item.aPrice, new { @id = "Price" + @i })
                                    @Html.HiddenFor(model => model.Borrow_Search.SearchData[i].aPrice, new { @id = "hPrice" + @i })
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Borrow_Search.SearchData[i].aUnit, item.aUnit, new { @id = "Unit" + @i })
                                    @Html.HiddenFor(model => model.Borrow_Search.SearchData[i].aUnit, new { @id = "hUnit" + @i })
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Borrow_Search.SearchData[i].aPurchaseOrder, item.aPurchaseOrder, new { @id = "PurchaseOrder" + @i })
                                    @Html.HiddenFor(model => model.Borrow_Search.SearchData[i].aPurchaseOrder, new { @id = "hPurchaseOrder" + @i })
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Borrow_Search.SearchData[i].aFX, item.aFX, new { @id = "FX" + @i })
                                    @Html.HiddenFor(model => model.Borrow_Search.SearchData[i].aFX, new { @id = "hFX" + @i })
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Borrow_Search.SearchData[i].aSaleOrder, item.aSaleOrder, new { @id = "SaleOrder" + @i })
                                    @Html.HiddenFor(model => model.Borrow_Search.SearchData[i].aSaleOrder, new { @id = "hSaleOrder" + @i })
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Borrow_Search.SearchData[i].aMemoNo, item.aMemoNo, new { @id = "MEMONo" + @i, @Style = "width:100px" })
                                    @Html.HiddenFor(model => model.Borrow_Search.SearchData[i].aMemoNo, new { @id = "hMEMONo" + @i })
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Borrow_Search.SearchData[i].aDONo, item.aDONo, new { @id = "DO" + @i, @Style = "width:100px" })
                                    @Html.HiddenFor(model => model.Borrow_Search.SearchData[i].aDONo, new { @id = "hDO" + @i })
                                </td>

                            </tr>
                            i++;
                        }
                    }
                    else
                    {
                        <tr class="waiting"><td colspan="17">No Data found</td></tr>
                    }
                }
                else
                {
                    <tr class="waiting"><td colspan="17">No Data found</td></tr>
                }
                
            </tbody>
        </table>
    </div>

    <div class="form-group" style="padding-top:10px">
        <div style="text-align:center">
            <button type="button" class="btn btn-default" onclick="CreateChangeSO()">Create / Change SO</button>
            <button type="button" class="btn btn-default" onclick="CancelSO()">Cancel SO</button>
            <button type="button" class="btn btn-default" onclick="CreateChangeMEMO()">Create / Change MEMO</button>
            <button type="button" class="btn btn-default" onclick="CancelMEMO()">Cancel MEMO</button>
            <button type="button" class="btn btn-default" onclick="CreateChangePO()">Create / Change PO</button>
            <button type="button" class="btn btn-default" onclick="CancelPO()">Cancel PO</button>
        </div>
    </div>

    <!-- Result Popup -->
    <div class="modal fade" id="resultPopup" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <p id="pMsg">
                        @TempData["ReponseMessage"]
                    </p>
                </div>
                <div class="modal-footer">
                    @*<button type="submit" class="btn btn-default" id="btnCreate" name="action:Create">Yes</button>
                    <button type="submit" class="btn btn-default" id="btnUpdate" name="action:Update">Yes</button>
                    <button type="submit" class="btn btn-default" id="btnCancel" name="action:Cancel">Yes</button>*@

                    <button type="submit" class="btn btn-default" id="btnCCSO" style="display:none;" name="action:CreateChangeSO">Yes</button>
                    <button type="submit" class="btn btn-default" id="btnCCMO" style="display:none;" name="action:CreateChangeMEMO">Yes</button>
                    <button type="submit" class="btn btn-default" id="btnCCPO" style="display:none;" name="action:CreateChangePO">Yes</button>
                    <button type="submit" class="btn btn-default" id="btnCNSO" style="display:none;" name="action:CancelSO">Yes</button>
                    <button type="submit" class="btn btn-default" id="btnCNMO" style="display:none;" name="action:CancelMEMO">Yes</button>
                    <button type="submit" class="btn btn-default" id="btnCNPO" style="display:none;" name="action:CancelPO">Yes</button>
                    <button type="submit" class="btn btn-default" data-dismiss="modal">No</button>
                    <input id="selectedTripNo" name="Borrow_Search.sTripNo_Select" type="hidden" value="">
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

}


<script type="text/javascript">
    $(document).ready(function () {

        $('#txtDeliveryDate').dateRangePicker({
            startOfWeek: 'monday',
            format: "DD/MM/YYYY"
        });
        


    $(document).ready(function () {
        $('#searchResultTable').DataTable({
           // "searching": false,
            "columnDefs": [
                //Disble sort on Action Colum
                {
                    //"targets": [6],
                    "orderable": false
                }
            ]
        });
      });
    });

    $('input[type="checkbox"]').on('change', function () {
        $('input[name="' + this.name + '"]').not(this).prop('checked', false);
    });
    function SetHidden() {
        $('#btnCCSO').hide();
        $('#btnCCMO').hide();
        $('#btnCCPO').hide();
        $('#btnCNSO').hide();
        $('#btnCNMO').hide();
        $('#btnCNPO').hide();
    }
    
    function CreateChangeSO() {
        debugger;
        var Selected = $('#searchResultTable').find('input[type="checkbox"]:checked')
        if (Selected.val() != null) {
            $('#selectedTripNo').val(Selected.val());
            $('#pMsg').text('Are you sure to create sale order in SAP? ');
            SetHidden();
            $('#btnCCSO').show();
            $('#resultPopup').modal({ backdrop: 'static', keyboard: false });
            $('#resultPopup').modal('show');
        }
    }

    function CreateChangeMEMO() {
        debugger;
        var Selected = $('#searchResultTable').find('input[type="checkbox"]:checked')
        if (Selected.val() != null) {
            $('#selectedTripNo').val(Selected.val());
            $('#pMsg').text('Are you sure to create sale order in SAP? ');
            SetHidden();
            $('#btnCCMO').show();
            $('#resultPopup').modal({ backdrop: 'static', keyboard: false });
            $('#resultPopup').modal('show');
        }
    }

    function CreateChangePO() {
        debugger;
        var Selected = $('#searchResultTable').find('input[type="checkbox"]:checked')
        if (Selected.val() != null) {
            $('#selectedTripNo').val(Selected.val());
            $('#pMsg').text('Are you sure to create purchase order in SAP? ');
            SetHidden();
            $('#btnCCPO').show();
            $('#resultPopup').modal({ backdrop: 'static', keyboard: false });
            $('#resultPopup').modal('show');
        }
    }

    function CancelPO() {
        debugger;
        var Selected = $('#searchResultTable').find('input[type="checkbox"]:checked')
        if (Selected.val() != null) {
            $('#selectedTripNo').val(Selected.val());
            $('#pMsg').text('Are you sure to cancel purchase order in SAP? ');
            SetHidden();
            $('#btnCNPO').show();
            $('#resultPopup').modal({ backdrop: 'static', keyboard: false });
            $('#resultPopup').modal('show');
        }
    }

    function CancelSO() {
        debugger;
        var Selected = $('#searchResultTable').find('input[type="checkbox"]:checked')
        if (Selected.val() != null) {
            $('#selectedTripNo').val(Selected.val());
            $('#pMsg').text('Are you sure to cancel sale order in SAP? ');
            SetHidden();
            $('#btnCNSO').show();
            $('#resultPopup').modal({ backdrop: 'static', keyboard: false });
            $('#resultPopup').modal('show');
        }
    }

    function CancelMEMO() {
        debugger;
        var Selected = $('#searchResultTable').find('input[type="checkbox"]:checked')
        if (Selected.val() != null) {
            $('#selectedTripNo').val(Selected.val());
            $('#pMsg').text('Are you sure to cancel MEMO in SAP? ');
            SetHidden();
            $('#btnCNMO').show();
            $('#resultPopup').modal({ backdrop: 'static', keyboard: false });
            $('#resultPopup').modal('show');
        }
    }


    function getAutoCompleteJSON(ctrlID) {

        var dataTemp = "";
         if (ctrlID == "txt_sCrude") {
            dataTemp = $("#hid_sCrude").val();
        }
        else if (ctrlID == "txt_sCustomer") {
            dataTemp = $("#hid_sCustomer").val();
        }
        else if (ctrlID == "") {
            dataTemp = '[{"value":"Test"}]';
        }

        var availableData = JSON.parse(dataTemp);

        //alert(availableData.length);

        //alert($(".companyCodeJsonData").val());
        $("#" + ctrlID).autocomplete({

            source: function (request, response) {
                //debugger;
                var results = $.ui.autocomplete.filter(availableData, request.term);
                response(results.slice(0, 10));

                //var re = $.ui.autocomplete.escapeRegex(request.term);
                //var matcher = new RegExp("^" + re, "i");
                //response($.grep(($.map(availableData, function (v, i) {
                //    return {
                //        label: v.value,
                //        value: v.value
                //    };

                //})), function (item) {
                //    return matcher.test(item.value);
                //}))

            },
            minLength: 0,
        }).click(function () {
            $(this).autocomplete("search");
        });
    }

    function clearSearch() {
        $('#txtTripNo').val('');
        $('#txtTripNo').text('');
        $('#txtDeliveryDate').val('');
        $('#txtDeliveryDate').text('');
        //$('#txt_sCustomer').val('');
        //$('#txt_sCustomer').text('');
        $('#ddlCrude').val('').change();
        $('#ddlCustomer').val('').change();
        $('#searchResultTable tbody').empty();
    }

    function NumberWithCommas(nStr, nF) {
        nStr += '';
        x = nStr.split('.');
        x1 = x[0];
        var sTmp = '';
        for (var i = 0; i < nF; i++) { sTmp += '0'; }
        x2 = x.length > 1 ? (x[1] + sTmp).substr(0, nF) : sTmp;
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }
        return x1 + '.' + x2;
    }

    //    function createSO(TripNo, i) {
    //    debugger;
    //    $('#selectedTripNo').val(TripNo);
    //    $('#hSelectedTripNo' + i).val(TripNo);
    //    $('#btnCreate').show();
    //    $('#btnUpdate').hide();
    //    $('#btnCancel').hide();
    //    $('#pMsg').text('Are you sure to create sale order in SAP? ');

    //    $('#resultPopup').modal({ backdrop: 'static', keyboard: false });
    //    $('#resultPopup').modal('show');
    //}

    //function updateSO(TripNo, i) {
    //    $('#selectedTripNo').val(TripNo);
    //    $('#hSelectedTripNo' + i).val(TripNo);
    //    $('#btnCreate').hide();
    //    $('#btnUpdate').show();
    //    $('#btnCancel').hide();
    //    $('#pMsg').text('Are you sure to update sale order in SAP? ');

    //    $('#resultPopup').modal({ backdrop: 'static', keyboard: false });
    //    $('#resultPopup').modal('show');
    //}

    //function cancelSO(TripNo, i) {
    //    $('#selectedTripNo').val(TripNo);
    //    $('#hSelectedTripNo' + i).val(TripNo);
    //    $('#btnCreate').hide();
    //    $('#btnUpdate').hide();
    //    $('#btnCancel').show();
    //    $('#pMsg').text('Are you sure to cancel sale order in SAP? ');

    //    $('#resultPopup').modal({ backdrop: 'static', keyboard: false });
    //    $('#resultPopup').modal('show');
    //}
</script>


