﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.HedgeProductViewModel


@using (Html.BeginForm("AddMarketPrice", "HedgeProduct", FormMethod.Post, new { @class = "form-horizontal", @id = "frm_AddMarket" }))
{
    <div class="form-horizontal">
        <div class="row">
            @Html.HiddenFor(a => a.code)
            @Html.HiddenFor(a => a.status)
            @Html.HiddenFor(a => a.name)
            @Html.HiddenFor(a => a.fullName)
            @Html.HiddenFor(a => a.description)
            @Html.HiddenFor(a =>a.SelectedProduct)
            @Html.HiddenFor(a =>a.pageMode)

            @if (Model.MappingMarketPriceList != null)
            {
                for (var i = 0; i < Model.MappingMarketPriceList.Count; i++)
                {
                    @Html.HiddenFor(a => a.MappingMarketPriceList[i].CFBBL)
                    @Html.HiddenFor(a => a.MappingMarketPriceList[i].Delete)
                    @Html.HiddenFor(a => a.MappingMarketPriceList[i].FirstPrice)
                    @Html.HiddenFor(a => a.MappingMarketPriceList[i].FirstPriceUnit)
                    @Html.HiddenFor(a => a.MappingMarketPriceList[i].Number)
                    @Html.HiddenFor(a => a.MappingMarketPriceList[i].ProductDisplayName)
                    @Html.HiddenFor(a => a.MappingMarketPriceList[i].ProductId_F)
                    @Html.HiddenFor(a => a.MappingMarketPriceList[i].ProductId_S)
                    @Html.HiddenFor(a => a.MappingMarketPriceList[i].ProductUnit)
                    @Html.HiddenFor(a => a.MappingMarketPriceList[i].RowId)
                    @Html.HiddenFor(a => a.MappingMarketPriceList[i].SecondPrice)
                    @Html.HiddenFor(a => a.MappingMarketPriceList[i].SecondPriceUnit)
                    @Html.HiddenFor(a => a.MappingMarketPriceList[i].Show)
                    if (Model.MappingMarketPriceList[i].MappingForwardList != null)
                    {
                        for (var j = 0; j < Model.MappingMarketPriceList[i].MappingForwardList.Count; j++)
                        {
                            @Html.HiddenFor(a => a.MappingMarketPriceList[i].MappingForwardList[j].FKId)
                            @Html.HiddenFor(a => a.MappingMarketPriceList[i].MappingForwardList[j].Name)
                            @Html.HiddenFor(a => a.MappingMarketPriceList[i].MappingForwardList[j].Number)
                            @Html.HiddenFor(a => a.MappingMarketPriceList[i].MappingForwardList[j].ProductId)
                            @Html.HiddenFor(a => a.MappingMarketPriceList[i].MappingForwardList[j].ProductName)
                            @Html.HiddenFor(a => a.MappingMarketPriceList[i].MappingForwardList[j].RowId)
                            @Html.HiddenFor(a => a.MappingMarketPriceList[i].MappingForwardList[j].Unit)
                        }
                    }
                }
            }

            <div class="form-group">
                <div class="col-md-6">
                    <label class="col-sm-4 control-label">Market ID:</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.MarketId, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="col-sm-4 control-label">Market Name:</label>
                    <div class="col-sm-8">
                        <div class="box-date">
                            @Html.DropDownListFor(model => model.MarketName, new SelectList(Model.ddlMarketName, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <label class="col-sm-4 control-label">Product ID:</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.ProductId, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="col-sm-4 control-label">Product Name:</label>
                    <div class="col-sm-8">
                        <div class="box-date">
                            @Html.TextBoxFor(model => model.ProductName, htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">

                </div>
                <div class="col-md-6">
                    <input type="submit" value="SEARCH" class="button btn-default" onclick="SearchMarket();return false;" />
                </div>
            </div>
            <div class="col-sm-12">

                <table id="datatable" class="table table-bordered" style="width:100%;">
                    <thead>
                        <tr>
                            <th width="80px">Market ID</th>
                            <th width="150px">Market Name</th>
                            <th width="80px">Product ID</th>
                            <th width="250px">Product Name</th>
                            <th width="120px">Unit</th>
                            <th width="50px">
                                <div class="checkbox">
                                    <input name="select_box" id="checkall" class="checkbox_experts_areas_units_value" type="checkbox" value="true" onclick="selectall();" />
                                    <label for="checkall"></label>
                                </div>                            
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.SearchMarketList == null)
                        {
                            <tr class="waiting">
                                <td colspan="9">Waiting for search</td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
}
<script>

    function SearchMarket() {
        LoadingProcess();
        var oldPro = @Html.Raw(Json.Encode((Model.oldSelectList).Select(a => new { Id = a })));
        var arr = new Array();
        for(var i=0;i<'@Model.oldSelectList.Count';i++)
        {
            arr.push(oldPro[i].Id);
        }
        var value = {
            marketId: $('#MarketId').val(),
            marketName: $('#MarketName').val(),
            productId: $('#ProductId').val(),
            productName: $('#ProductName').val(),
            oldProduct : arr,
        }
        var urlSearch = "@Html.Raw( @Url.Action("SearchMarket", "HedgeProduct"))";
        HideLoadingBox();
        $.ajax({
            type: "POST",
            url: urlSearch,
            data: JSON.stringify(value),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                AddResult(data.SearchMarketList,data.oldSelectList)
            }
        });
    };

    function AddResult(marketlist,oldSelect) {
        table = $('#datatable').DataTable({
            "destroy": true,
            "data": marketlist,
            searching: false, paging: true,
            "columns": [
                { "data": null, "className": "dt-body-center", "mRender": function (data) { return data.MarketId } },
                { "data": null, "className": "dt-body-center", "mRender": function (data) { return data.MarketName } },
                { "data": null, "className": "dt-body-center product_Id", "mRender": function (data) { return data.ProductId } },
                { "data": null, "className": "dt-body-center", "mRender": function (data) { return data.ProductName } },
                { "data": null, "className": "dt-body-center", "mRender": function (data) { return data.Unit } },
                {
                    "data": null, "className": "dt-body-center", "bSortable": false, "mRender": function (data) {
                        var checkboxlist = "";
                        if (oldSelect.length != 0)
                        {
                            for (var j = 0; j < oldSelect.length; j++)
                            {
                                if (data.ProductId == oldSelect[j]) {
                                    checkboxlist = '<div class="checkbox"><input type="checkbox" id="' + data.ProductId + '" name="checklist" value="' + data.ProductId + ' " checked><label for="' + data.ProductId + '"></label></div>';
                                    break;
                                }
                                else {
                                    checkboxlist = '<div class="checkbox"><input type="checkbox" id="' + data.ProductId + '" name="checklist" value="' + data.ProductId + '"><label for="' + data.ProductId + '"></label></div>';
                                }
                            }
                        }else
                        {
                            checkboxlist = '<div class="checkbox"><input type="checkbox" id="' + data.ProductId + '" name="checklist" value="' + data.ProductId + '"><label for="' + data.ProductId + '"></label></div>';
                        }
                        return checkboxlist;
                    }
                }
            ],
            //"columnDefs": [
            //{
            //    "targets": [7],
            //    "visible": false,
            //},
            //]
        });
    };

    function selectall() {
        if (document.getElementById('checkall').checked) {
            $("#checkall").checked
            $('input[name="checklist"]').prop('checked', true);
        }
        else {
            $('input[name="checklist"]').prop('checked', false);
        }
    }

</script>