﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.HedgeProductViewModel

@{
    var k = 0;
    int sno = 1;
}

<div class="col-md-12" style="overflow-x: scroll;">
    <div id="MappingMarketPriceGrid">
        <table class="table table-bordered PriceOfferTable" id="tblMappingMarketPrice" style="width:100%;">
            <thead>
                <tr>
                    <th rowspan="2" width="50px">No.</th>
                    <th colspan="4">Mapping Actual</th>
                    @if (Model.MappingMarketPriceList.Count() != 0 && Model.MappingMarketPriceList[0].MappingForwardList.Count() != 0)
                    {
                        int count = @Model.MappingMarketPriceList[0].MappingForwardList.Count() * 2;
                        <th colspan="@count">Mapping Forward</th>
                    }
                    else
                    {
                        <th colspan="2">Mapping Forward</th>
                    }
                    <th colspan="2">Product</th>
                    <th rowspan="2" width="80px">CF($BBL)</th>
                    <th rowspan="2" width="50px">Show</th>
                    @if (Model.pageMode != "VIEW")
                    {
                        <th rowspan="2" width="50px">Delete</th>
                    }
                </tr>
                <tr>
                    <th width="500px">First price(Settle)</th>
                    <th width="80px">Unit</th>
                    <th width="500px">Second price(MTM)</th>
                    <th width="200px">Unit</th>
                    @if (Model.MappingMarketPriceList.Count() != 0 && Model.MappingMarketPriceList[0].MappingForwardList.Count() != 0)
                    {
                        var item = Model.MappingMarketPriceList.ToList()[0];
                        int j = 0;
                        if ((item.RowId != "" && item.RowId != null))
                        {
                            foreach (var z in item.MappingForwardList.Where(x => x.FKId == item.RowId))
                            {
                                <th width="500px">
                                    @if (Model.pageMode == "VIEW")
                                    {
                                        @Html.TextBoxFor(model => model.MappingMarketPriceList[0].MappingForwardList[j].Name, htmlAttributes: new { @class = "form-control", @Readonly = "true" })
                                        
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(model => model.MappingMarketPriceList[0].MappingForwardList[j].Name, htmlAttributes: new { @class = "form-control" })
                                    }
                                </th>
                                <th width="200px">Unit</th>
                                j++;
                            }
                        }
                        else
                        {
                            foreach (var z in item.MappingForwardList)
                            {
                                <th width="500px">
                                    @if (Model.pageMode == "VIEW")
                                    {
                                        @Html.TextBoxFor(model => model.MappingMarketPriceList[0].MappingForwardList[j].Name, htmlAttributes: new { @class = "form-control essential", @Readonly = "true" })
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(model => model.MappingMarketPriceList[0].MappingForwardList[j].Name, htmlAttributes: new { @class = "form-control essential" })
                                    }
                                </th>
                                <th width="200px">Unit</th>
                                j++;
                            }
                        }
                    }
                    <th width="350px">Display Name</th>
                    <th width="350px">Unit</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.MappingMarketPriceList.Count() == 0)
                {
                    <tr class="waiting">
                        <td colspan="12">Data not found</td>
                    </tr>
                }
                else
                {
                    foreach (var item in Model.MappingMarketPriceList)
                    {
                        var i = 0;

                        if (item.Delete != "TRUE")
                        {
                            <tr class="DataTable" id="tblData_@k">
                                <td>
                                   
                                    @(sno++)

                                    @Html.HiddenFor(a => a.MappingMarketPriceList[k].Number)
                                    @Html.HiddenFor(a => a.MappingMarketPriceList[k].RowId)

                                </td>
                                <td>
                                    @item.FirstPrice
                                    @Html.HiddenFor(a => a.MappingMarketPriceList[k].FirstPrice)
                                    @Html.HiddenFor(a => a.MappingMarketPriceList[k].ProductId_F)
                                </td>
                                <td>
                                    @item.FirstPriceUnit
                                    @Html.HiddenFor(a => a.MappingMarketPriceList[k].FirstPriceUnit)
                                </td>
                                <td>
                                    @if (Model.pageMode == "VIEW")
                    {
                        @Html.TextBoxFor(model => model.MappingMarketPriceList[k].SecondPrice, htmlAttributes: new { @class = "form-control", @Readonly = "true" })
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(model => model.MappingMarketPriceList[k].SecondPrice, htmlAttributes: new { @class = "form-control", @onchange = "funChangeText(" + k + ");" })
                                    }
                                    @Html.HiddenFor(a => a.MappingMarketPriceList[k].ProductId_S)
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.MappingMarketPriceList[k].SecondPriceUnit, htmlAttributes: new { @class = "form-control", @Readonly = "true" })
                                </td>

                                @if (item.MappingForwardList.Count() != 0)
                {
                    foreach (var z in item.MappingForwardList)
                    {
                                        <td>
                                            @if (Model.pageMode == "VIEW")
                                            {
                                              @Html.TextBoxFor(model => model.MappingMarketPriceList[k].MappingForwardList[i].ProductName, htmlAttributes: new { @class = "form-control", @Readonly = "true" })
                                            }
                                            else
                                            {
                                              @Html.TextBoxFor(model => model.MappingMarketPriceList[k].MappingForwardList[i].ProductName, htmlAttributes: new { @class = "form-control essential", @onchange = "funChangeTextFW(" + k + "," + i + ");" })
                                            }

                                            @Html.HiddenFor(a => a.MappingMarketPriceList[k].MappingForwardList[i].ProductId)
                                            @Html.HiddenFor(a => a.MappingMarketPriceList[k].MappingForwardList[i].RowId)
                                            @Html.HiddenFor(a => a.MappingMarketPriceList[k].MappingForwardList[i].FKId)
                                            @Html.HiddenFor(a => a.MappingMarketPriceList[k].MappingForwardList[i].Number)
                                            @Html.HiddenFor(a => a.MappingMarketPriceList[k].MappingForwardList[i].Name)
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(a => a.MappingMarketPriceList[k].MappingForwardList[i].Unit, htmlAttributes: new { @class = "form-control", @Readonly = "true" })
                                        </td>
                                        i++;
                    }
                }
                                else
                                {
                                    <td></td>
                                    <td></td>
                                }
                                <td>
                                    @if (Model.pageMode == "VIEW")
                {
                    @Html.TextBoxFor(model => model.MappingMarketPriceList[k].ProductDisplayName, htmlAttributes: new { @class = "form-control essential", @Readonly = "true" })
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(model => model.MappingMarketPriceList[k].ProductDisplayName, htmlAttributes: new { @class = "form-control essential" })
                                    }
                                </td>
                                <td>
                                    @if (Model.pageMode == "VIEW")
                {
                    @item.ProductUnit
                                    }
                                    else
                                    {
                                            @Html.DropDownListFor(model => model.MappingMarketPriceList[k].ProductUnit, new SelectList(Model.ddlProductUnit, "Value", "Text", Model.MappingMarketPriceList[k].ProductUnit), "-- Select --", new { @class = "form-control" })
                                    }
                                </td>
                                <td>
                                    @if (Model.pageMode == "VIEW")
                {
                    @Html.TextBoxFor(model => model.MappingMarketPriceList[k].CFBBL, htmlAttributes: new { @class = "form-control", @Readonly = "true" })
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(model => model.MappingMarketPriceList[k].CFBBL, htmlAttributes: new { @class = "form-control" })
                                    }
                                </td>
                                <td>
                                    @if (Model.pageMode == "VIEW")
                {
                    @Html.CheckBoxFor(model => model.MappingMarketPriceList[k].Show, new { @id = "isShow", @checked = Model.MappingMarketPriceList[k].Show, @disabled = "disabled" })
                                    }
                                    else
                                    {
                                        @Html.CheckBoxFor(model => model.MappingMarketPriceList[k].Show, new { @id = "isShow", @checked = Model.MappingMarketPriceList[k].Show })
                                    }
                                </td>
                                @if (Model.pageMode != "VIEW")
                {
                                    <td>
                                        <input type="image" src="~/Web/Images/icon-delete.gif" onclick="delRowMapping(@k); return false;">
                                        @Html.HiddenFor(a => a.MappingMarketPriceList[k].Delete)
                                    </td>
                                }
                            </tr>
                        }
                        else
                        { 
                            @Html.HiddenFor(a => a.MappingMarketPriceList[k].RowId)
                            @Html.HiddenFor(a => a.MappingMarketPriceList[k].Delete)
                            if (Model.MappingMarketPriceList[k].MappingForwardList != null)
                            {
                                for (var j = 0; j < Model.MappingMarketPriceList[k].MappingForwardList.Count(); j++)
                                {
                                    @Html.HiddenFor(a => a.MappingMarketPriceList[k].MappingForwardList[j].FKId)
                                    @Html.HiddenFor(a => a.MappingMarketPriceList[k].MappingForwardList[j].RowId)
                                    @Html.HiddenFor(a => a.MappingMarketPriceList[k].MappingForwardList[j].Name)
                                }
                            }
                        }
                        k++;
                    }
                }
            </tbody>
        </table>
    </div>
</div>



<script>
    $(function () {
            $("#MappingMarketPriceGrid").css("width", "+=200");
            loadAutocomplete();
    });

    function loadAutocomplete() {
        for (var i = 0;i < @k; i++)
        {
            $("#MappingMarketPriceList_"+i+"__SecondPrice").autocomplete({
                source: '@Url.Action("Autocomplete", "HedgeProduct")'
            });
            $("#MappingMarketPriceList_"+ i +"__MappingForwardList_"+j+"__ProductName").autocomplete({
                    source: '@Url.Action("Autocomplete", "HedgeProduct")'
            });

        }
    }

    function funChangeText(indexId)
    {
        var mmmPRODUCT = @Html.Raw(Json.Encode((Model.MMMPRODUCT_List).Select(a => new { Id = a.Id, Name = a.Name, MarketId = a.MKT_MST_MOPS_MARKET_ID, Unit = a.Unit })));
        var nameProduct = $("#MappingMarketPriceList_"+indexId+"__SecondPrice").val();
        for(var i=0;i<'@Model.MMMPRODUCT_List.Count';i++)
        {
            if(mmmPRODUCT[i].Name == nameProduct)
            {
                $("#MappingMarketPriceList_"+indexId+"__SecondPriceUnit").val(mmmPRODUCT[i].Unit);
                $("#MappingMarketPriceList_"+indexId+"__ProductId_S").val(mmmPRODUCT[i].Id);
            }
        }
    }

    function funChangeTextFW(count,roundNo)
    {
        var mmmPRODUCT = @Html.Raw(Json.Encode((Model.MMMPRODUCT_List).Select(a => new { Id = a.Id, Name = a.Name, MarketId = a.MKT_MST_MOPS_MARKET_ID, Unit = a.Unit })));
        var nameProduct = $("#MappingMarketPriceList_"+ count +"__MappingForwardList_"+roundNo+"__ProductName").val();
        for(var i=0;i<'@Model.MMMPRODUCT_List.Count';i++)
        {
            if(mmmPRODUCT[i].Name == nameProduct)
            {
                $("#MappingMarketPriceList_"+ count +"__MappingForwardList_"+roundNo+"__Unit").val(mmmPRODUCT[i].Unit);
                $("#MappingMarketPriceList_"+count+"__MappingForwardList_"+roundNo+"__ProductId").val(mmmPRODUCT[i].Id);
            }
        }
    }

</script>
