﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.HedgeProductViewModel

@{
    Layout = "~/Areas/CPAIMVC/Views/Shared/_Layout.cshtml";
}

@if (TempData["ReponseStatus"] != null && TempData["ReponseMessage"] != null)
{
    <script>
        $(document).ready(function () {
            $('#resultPopup').modal({ backdrop: 'static', keyboard: false });
            $('#resultPopup').modal('show');
        });
    </script>
}

<style type="text/css">
    .clearIcon {
        cursor: pointer;
        color: red;
    }

    .createByField {
        font-family: Arial,sans-serif;
        font-size: 12px;
    }

    .select.input-sm {
        width: 50px;
    }
</style>

<div class="wrapper-detail">
    <div>
        <h1>Product</h1>
    </div>

    @using (Html.BeginForm("Search", "HedgeProduct", FormMethod.Post, new { @class = "form-horizontal" }))
    {

        <div class="row">
            <div class="form-group">
                <div class="col-md-6">
                    <label for="inputEmail3" class="col-md-3 control-label">Code:</label>
                    <div class="col-md-7">
                        <div class="box-date">
                            @Html.TextBoxFor(model => model.sCode, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="inputEmail3" class="col-md-3 control-label">Name:</label>
                    <div class="col-md-7">
                        @Html.TextBoxFor(model => model.sName, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-6">
                    <label for="inputEmail3" class="col-md-3 control-label">Full Name:</label>
                    <div class="col-md-7">
                        <div class="box-date">
                            @Html.TextBoxFor(model => model.sFullName, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="inputEmail3" class="col-md-3 control-label">Description:</label>
                    <div class="col-md-7">
                        @Html.TextBoxFor(model => model.sDescription, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-md-6">
                    <label for="inputEmail3" class="col-md-3 control-label">Status:</label>
                    <div class="col-md-7">
                        @Html.DropDownListFor(model => model.sStatus, Model.ddlStatus, "Select All", new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="inputEmail3" class="col-md-3 control-label">Update Date:</label>
                    <div class="col-md-7">
                        @Html.TextBoxFor(model => model.sUpdateDate, new { @class = "form-control input-date-picker", @placeholder = "DD/MM/YYYY to DD/MM/YYYY" })
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="form-group">
                <div class="col-md-6">
                    <label for="inputEmail3" class="col-md-3 control-label">Update by:</label>
                    <div class="col-md-7 createByField">
                        @Html.HiddenFor(model => model.sSelectUpdateBy)
                        @Html.DropDownListFor(model => model.sUpdateBy, Model.ddlUser, new { @class = "form-control", @multiple = "multiple", @id = "UpdateBy" })
                    </div>
                </div>
                <div class="col-md-6">
                </div>
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-12">
                <div class="col-md-4 pull-left">
                    <a class="btn btn-success" href="~/CPAIMVC/HedgeProduct/Create" id="addBtn" name="addBtn" role="button">Add</a>
                </div>
                <div class="col-md-4 text-center">
                    <button type="submit" class="btn btn-primary">Search</button>
                    <button type="button" value="Reset" class="btn btn-default" onclick="resetForm()">Clear All</button>
                </div>
                <div class="col-md-4 text-right">

                </div>
            </div>
        </div>

    }
    <div class="task-box">
        <div class="wrapper-table collapse in" id="collapseJuly">
            <table id="example" class="table table-hover table-striped table-bordered" cellspacing="0">
                <thead>
                    <tr>
                        <th width="180px">Code</th>
                        <th width="150px">Name</th>
                        <th width="200px">Full Name</th>
                        <th width="250px">Description</th>
                        <th width="100px">Status</th>
                        <th width="150px">Update Date</th>
                        <th width="150px">Update By</th>
                        <th width="150px">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.SearchProductList == null)
                    {
                        <tr class="waiting">
                            <td colspan="8">Waiting for search</td>
                        </tr>
                    }
                    else
                    {
                        if (Model.SearchProductList.Count > 0)
                        {
                            foreach (var v in Model.SearchProductList)
                            {

                                <tr class="drafts">
                                    <td>@v.Code</td>
                                    <td>@v.Name</td>
                                    <td>@v.FullName</td>
                                    <td>@v.Description</td>
                                    <td>@v.Status</td>
                                    <td>@v.UpdateDate</td>
                                    <td>@v.UpdateBy</td>
                                    <td>
                                        <a href="@Url.Action("ViewData", "HedgeProduct", new { rowId = @v.CodeEncrypt })" title="View Detail">
                                            <img alt="Widget View" src="@Url.Content("../../Content/images/1480695949_file.png")">
                                        </a>
                                        <a href="@Url.Action("EditData", "HedgeProduct", new { rowId = @v.CodeEncrypt })" title="Edit">
                                            <img alt="Widget View" src="@Url.Content("../../Content/images/1480695860_edit.png")">
                                        </a>
                                        <a title="Delete" style="cursor: pointer;">
                                            <img class="clickable-delete" data-href="@v.CodeEncrypt" alt="Widget View" src="@Url.Content("../../Content/images/Delete-file-icon.png")">
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr class="waiting">
                                <td colspan="8">Data not found</td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Result Popup -->
<div class="modal fade" id="resultPopup" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <p id="pMsg">
                    @TempData["ReponseMessage"]
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


@using (Html.BeginForm("DeleteResult", "HedgeProduct", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.HiddenFor(a => a.deleteRowId)
    <button type="submit" id="btnDelete" style="display: none;" name="action:DeleteResult" />
}

<script>
    $(function () {
        var strTD = @Html.Raw(Json.Encode(@Model.sSelectUpdateBy));
        if(strTD != null)
        {
            var arTD = strTD.split("|");
            $("#UpdateBy").val(arTD).trigger('change');
        }
        $('#sUpdateDate').dateRangePicker(
        {
            startOfWeek: 'monday',
            format: 'DD-MM-YYYY',
        });

        $("#UpdateBy").select2();
        $('#UpdateBy').change(function () {
            var create = "";
            $("#UpdateBy option:selected").each(function () {
                create = create + $(this).val() + "|";
            });
            $("#sSelectUpdateBy").val(create.substr(0, create.length - 1));

            $('.select2-search__field').keydown(function (e) {

                if ($(this).val() == "") {
                    if (e.keyCode == 8) {
                        return false;
                    }
                }
            });
        });

        $(".clickable-delete").click(function () {
            var data = $(this).data("href");
            if (data.length > 0) {
                var RowId = data;
                $("#deleteRowId").val(RowId);
            }

            bootbox.confirm({
                message: "Are you sure to delete?",
                buttons: {
                    confirm: {
                        label: 'Yes',
                    },
                    cancel: {
                        label: 'No',
                    }
                },
                callback: function (result) {
                    if (result) {
                        $("#btnDelete").click();
                        LoadingProcess();
                    }
                }
            });
        });

    });

    function resetForm() {
        $("#sCode").val('');
        $('#sName').val('');
        $("#sFullName").val('');
        $('#sDescription').val('');
        $("#sStatus").val('');
        $("#sUpdateDate").val('');
        $("#sSelectUpdateBy").val('');
        $("#UpdateBy").select2("val", "");
    }

</script>