﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.HedgingDealViewModel
@{
    var i = 1;
}

<div class="modal fade" id="resultModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center"> 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@if (ViewBag.saveStatus != null)
{
    if (ViewBag.saveStatus)
    {
        <script>
            $(document).ready(function () {
                var modal = $('#resultModal');
                var containingDiv = $('.modal-body', modal);
                containingDiv.html('@ViewBag.saveMessage');
                modal.modal('show');
            });
        </script>
    }
}

@if (Model.contractPDFList != null)
{
    <div class="row">
        <div class="form-group">
            <div class="col-md-12" style="height: 300px;overflow-y: scroll;">
                <label class="control-label">PDF Files</label>
                <div>
                    <table id="example" class="table table-hover table-striped table-bordered" cellspacing="0">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Name</th>
                                <th>Create Date</th>
                                <th>Create By</th>
                                <th>Send Mail</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.contractPDFList.Count > 0)
                            {
                                foreach (var item in Model.contractPDFList)
                                {
                                    <tr>
                                        <td>@i</td>
                                        <td><a href="~/@item.fileUrl@item.fileContractPdf" target="_blank">@item.fileContractPdf</a></td>
                                        <td>@item.createDate</td>
                                        <td>@item.createBy</td>
                                        <td>
                                            <a href="#" title="Send Mail" class="glyphicon glyphicon-envelope" onclick="funcSendmail('@item.fileContractPdf','/@item.fileUrl','@Model.dealNo')"></a>
                                        </td>
                                    </tr>
                                    i++;
                                }
                            }
                            else
                            {
                                <tr class="waiting">
                                    <td colspan="5">Data not found</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}

<div id="sendmail_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title">Send Mail</h2>
            </div>
            <div class="modal-body">
                <div class="container">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnSendMail" class="btn btn-primary">Send</button>
                @*@Html.ActionLink("Send", "Search", new { controller = "HedgingDeal" }, htmlAttributes: new { @class = "btn btn-primary" })*@
                <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('#contractNo').val('@Model.contractNo');
    });

    $('#btnSendMail').click(function () {
        var newUrl = '@Url.Action("Search", "HedgingDeal")';
        var saveUrl = '@Url.Action("SendMailContract", "HedgingDeal")';
        var emailReg = new RegExp(/^([A-Z0-9.%+-]+@@[A-Z0-9.-]+.[A-Z]{2,6})*([,;][\s]*([A-Z0-9.%+-]+@@[A-Z0-9.-]+.[A-Z]{2,6}))*$/i);
        var emailCC = $('#sendMailCC').val();
        var emailTo = $('#sendMailTo').val();
        if (!emailReg.test(emailTo) || !emailReg.test(emailCC)) {
            var modal = $('#resultPopup');
            var containingDiv = $('.modal-body', modal);
            containingDiv.html("Wrong Email Address format! Please reEnter correct format");
            modal.modal('show');
            return false;
        }
        else {
            $.ajax({
                type: 'POST',
                url: saveUrl,
                data: {
                    deal_no: $('#dealNo').val(),
                    sendMailFrom: $('#sendMailFrom').val(), sendMailTo: $('#sendMailTo').val(), sendMailCC: $('#sendMailCC').val(),
                    sendMailSubject: $('#sendMailSubject').val(), sendMailFile: $('#sendMailFile').val(), sendMailFileUrl: $('#sendMailFileUrl').val(),
                    sendMailBody: tinyMCE.activeEditor.getContent()
                },
                success: function (res) {
                    window.location.href = newUrl;
                },
            });
        }
    });
</script>