﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.HedgingDealViewModel


<div class="form-horizontal">
    <div class="row">
        <div class="form-group">
            <div class="col-md-12">
                <label class="col-sm-2 control-label">From :</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(model => model.sendMailFrom, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                    @Html.HiddenFor(a =>a.sendMailFrom)
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <label class="col-sm-2 control-label">To :</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(model => model.sendMailTo, htmlAttributes: new { @class = "form-control" })
                    @Html.HiddenFor(a =>a.sendMailTo)
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <label class="col-sm-2 control-label">CC :</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(model => model.sendMailCC, htmlAttributes: new { @class = "form-control" })
                    @Html.HiddenFor(a =>a.sendMailCC)
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <label class="col-sm-2 control-label">Subject :</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(model => model.sendMailSubject, htmlAttributes: new { @class = "form-control" })
                    @Html.HiddenFor(a =>a.sendMailSubject)
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <label class="col-sm-2 control-label">File :</label>
                <div class="col-sm-10">
                    @Model.sendMailFile 
                    @Html.HiddenFor(a =>a.sendMailFile)
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <label class="col-sm-2 control-label">Body :</label>
                <div class="col-sm-10">
                    @Html.TextAreaFor(model => model.sendMailBody, new { @class = "form-control txtExplanation" })
                    @Html.HiddenFor(a =>a.sendMailBody)
                </div>
            </div>
        </div>
    </div>
    @Html.HiddenFor(a =>a.sendMailFileUrl)
    @Html.HiddenFor(a =>a.dealNo)
</div>

<script>
     
    $(function () {       
        var textArea_id = "sendMailBody";
        tinymce.init({
            selector: '#sendMailBody',
            theme: 'modern',
            plugins: ['textcolor colorpicker  '],
            height: 200,
            menubar: false,
            toolbar: " undo redo | bold italic underline | numlist | forecolor | removeformat | spellchecker",
            statusbar: true,
            image_advtab: true,
            paste_data_images: true,
            textcolor_map: [
                "000000", "Black",
                "993300", "Burnt orange",
                "333300", "Dark olive",
                "003300", "Dark green",
                "003366", "Dark azure",
                "000080", "Navy Blue",
                "333399", "Indigo",
                "333333", "Very dark gray",
                "800000", "Maroon",
                "FF6600", "Orange",
                "808000", "Olive",
                "008000", "Green",
                "008080", "Teal",
                "0000FF", "Blue",
                "666699", "Grayish blue",
                "808080", "Gray",
                "FF0000", "Red",
                "FF9900", "Amber",
                "99CC00", "Yellow green",
                "339966", "Sea green",
                "33CCCC", "Turquoise",
                "3366FF", "Royal blue",
                "800080", "Purple",
                "999999", "Medium gray",
                "FF00FF", "Magenta",
                "FFCC00", "Gold",
                "FFFF00", "Yellow",
                "00FF00", "Lime",
                "00FFFF", "Aqua",
                "00CCFF", "Sky blue",
                "993366", "Red violet",
                "FFFFFF", "White",
                "FF99CC", "Pink",
                "FFCC99", "Peach",
                "FFFF99", "Light yellow",
                "CCFFCC", "Pale green",
                "CCFFFF", "Pale cyan",
                "99CCFF", "Light sky blue",
                "CC99FF", "Plum"
            ]
        });        
        if (tinymce.editors.length > 0) {
            tinymce.execCommand('mceFocus', true, textArea_id);
            tinymce.execCommand('mceRemoveEditor', true, textArea_id);
        }
    });

</script>