﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.HedgingDealViewModel
@{
    Layout = "~/Areas/CPAIMVC/Views/Shared/_Layout.cshtml";
}


<div class="wrapper-detail">
    <div>
        <h1>Generate Contract</h1>
    </div> 
    
    @using (Html.BeginForm())
    {
        <div class="form-horizontal">
            <div class="row">
                <div class="form-group">
                    <div class="col-md-6">
                        <label class="col-md-3 control-label">Deal No.</label>
                        <div class="col-md-6">
                            @Html.TextBox(Model.dealNo, Model.dealNo, new { @class = "form-control", @readonly = "readonly" })
                            @Html.HiddenFor(a => a.dealNo)
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="col-md-3 control-label">Contract No.</label>
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.contractNo, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-horizontal">
            <div class="row">
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="control-label">Contract</label>
                        <div>
                            @Html.TextAreaFor(m => m.htmlPDF, new { @class = "form-control txtExplanation" })
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="div_PDF" class="form-horizontal">
            @Html.Partial("_PDF_List", Model)
        </div>
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-4 pull-left">                        
                    </div>
                    <div class="col-md-4 text-center">  
                        <button type="button" id="btnGenerate" class="btn btn-primary">Generate PDF</button>          
                        @Html.ActionLink("BACK", "Search", new { controller = "HedgingDeal" }, htmlAttributes: new { @class = "btn btn-default" })            
                    </div>
                    <div class="col-md-4 text-right">                        
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script>
    $(function () { 
        $('#btnGenerate').click(function () { 
            $.ajax({
                data: {
                    htmlPdf: tinyMCE.activeEditor.getContent(),
                    deal_No : $('#dealNo').val(),contract_No: $('#contractNo').val()
                },
                url: "GenerateContract/HedgingDeal",
                type: 'POST',
                success: function (data) {                    
                    $('#div_PDF').html(data);                   
                }
            });
        });
        tinymce.init({
            selector: '#htmlPDF',
            theme: 'modern',
            plugins: ['textcolor colorpicker  '],
            height: 200,
            menubar: false,
            toolbar: " undo redo | bold italic underline | numlist | forecolor | removeformat | spellchecker",
            statusbar: true,
            image_advtab: true,
            paste_data_images: true,
            textcolor_map: [
                "000000", "Black",
                "993300", "Burnt orange",
                "333300", "Dark olive",
                "003300", "Dark green",
                "003366", "Dark azure",
                "000080", "Navy Blue",
                "333399", "Indigo",
                "333333", "Very dark gray",
                "800000", "Maroon",
                "FF6600", "Orange",
                "808000", "Olive",
                "008000", "Green",
                "008080", "Teal",
                "0000FF", "Blue",
                "666699", "Grayish blue",
                "808080", "Gray",
                "FF0000", "Red",
                "FF9900", "Amber",
                "99CC00", "Yellow green",
                "339966", "Sea green",
                "33CCCC", "Turquoise",
                "3366FF", "Royal blue",
                "800080", "Purple",
                "999999", "Medium gray",
                "FF00FF", "Magenta",
                "FFCC00", "Gold",
                "FFFF00", "Yellow",
                "00FF00", "Lime",
                "00FFFF", "Aqua",
                "00CCFF", "Sky blue",
                "993366", "Red violet",
                "FFFFFF", "White",
                "FF99CC", "Pink",
                "FFCC99", "Peach",
                "FFFF99", "Light yellow",
                "CCFFCC", "Pale green",
                "CCFFFF", "Pale cyan",
                "99CCFF", "Light sky blue",
                "CC99FF", "Plum"
            ]
        });
    });
    
    function funcSendmail(fileName, pathfile,dealNo) {
        $.ajax({
            type: "POST",
            url: "GetTempMailContract/HedgingDeal",
            data: { filename: fileName, pathfile: pathfile, dealNo: dealNo },
            success: function (data) {
                var modal = $('#sendmail_modal');
                var containingDiv = $('.modal-body', modal);
                containingDiv.html(data).promise().done(function () {
                    tinymce.init({
                        selector: 'textarea',
                        theme: 'modern',
                        plugins: ['textcolor colorpicker  '],
                        height: 200,
                        menubar: false,
                        toolbar: " undo redo | bold italic underline | numlist | forecolor | removeformat | spellchecker",
                        statusbar: true,
                        image_advtab: true,
                        paste_data_images: true,
                        textcolor_map: [
                            "000000", "Black",
                            "993300", "Burnt orange",
                            "333300", "Dark olive",
                            "003300", "Dark green",
                            "003366", "Dark azure",
                            "000080", "Navy Blue",
                            "333399", "Indigo",
                            "333333", "Very dark gray",
                            "800000", "Maroon",
                            "FF6600", "Orange",
                            "808000", "Olive",
                            "008000", "Green",
                            "008080", "Teal",
                            "0000FF", "Blue",
                            "666699", "Grayish blue",
                            "808080", "Gray",
                            "FF0000", "Red",
                            "FF9900", "Amber",
                            "99CC00", "Yellow green",
                            "339966", "Sea green",
                            "33CCCC", "Turquoise",
                            "3366FF", "Royal blue",
                            "800080", "Purple",
                            "999999", "Medium gray",
                            "FF00FF", "Magenta",
                            "FFCC00", "Gold",
                            "FFFF00", "Yellow",
                            "00FF00", "Lime",
                            "00FFFF", "Aqua",
                            "00CCFF", "Sky blue",
                            "993366", "Red violet",
                            "FFFFFF", "White",
                            "FF99CC", "Pink",
                            "FFCC99", "Peach",
                            "FFFF99", "Light yellow",
                            "CCFFCC", "Pale green",
                            "CCFFFF", "Pale cyan",
                            "99CCFF", "Light sky blue",
                            "CC99FF", "Plum"
                        ]
                    });
                });
                modal.modal('show');  
            },
        });
    }
     
</script>