﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.HedgingDealViewModel
@{
    ViewBag.Title = "Search";    
    string type = ViewBag.TypeDecrypt;
    string typeDecrypt = ViewBag.TypeDecrypt;
}

<style type="text/css">
    .clearIcon {
        cursor: pointer;
        color: red;
    }

    .createByField {
        font-family: Arial,sans-serif;
        font-size: 12px;
    }

    .select.input-sm {
        width: 50px;
    }
</style>

@if (TempData["ReponseStatus"] != null && TempData["ReponseStatus"].ToString().ToUpper() == "FALSE")
{
    <script>
        $(document).ready(function () {
            $('#resultPopup').modal({ backdrop: 'static', keyboard: false });
            $('#resultPopup').modal('show');
        });
    </script>
}

<!-- Result Popup -->
<div class="modal fade" id="resultPopup" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <p>
                    @TempData["ReponseMessage"]
                </p>
            </div>
            <div class="modal-footer">
                @if (TempData["ReponseStatus"] != null && TempData["ReponseStatus"].ToString().ToUpper() == "FALSE")
                {
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                }
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="wrapper-detail">
    <div>
        <h1>Search Deal Revise</h1>
    </div>
    @using (Html.BeginForm("Search", "HedgingDeal", FormMethod.Post, new { @id = "searchForm", @class = "form-horizontal" }))
    {
        @Html.HiddenFor(model => model.systemType)
        <div class="row">
            <div class="form-group">
                <div class="col-md-6">
                    <label class="col-md-3 control-label">Deal Date</label>
                    <div class="col-md-6">
                        <div class="box-date">
                            @Html.TextBoxFor(m => m.HedgingDeal_Search.sDate, new { @id = "sDate", @class = "form-control input-date-picker ", @placeholder = "DD/MM/YYYY to DD/MM/YYYY", @maxlength = "24" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="col-md-3 control-label">Deal No.</label>
                    <div class="col-md-6">
                        @Html.TextBoxFor(model => model.HedgingDeal_Search.sDeal_no, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-6">
                    <label class="col-md-3 control-label">Status</label>
                    <div class="col-md-6 createByField">
                        @Html.HiddenFor(model => model.HedgingDeal_Search.sStatusSelected, htmlAttributes: new { @id = "sStatusSelected" })
                        @Html.DropDownListFor(model => model.ddlStatus, null, new { @class = "form-control", @multiple = "multiple", @id = "sStatus" })
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="col-md-3 control-label">Ticket No.</label>
                    <div class="col-md-6">
                        @Html.TextBoxFor(model => model.HedgingDeal_Search.sTicket_no, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-6">
                    <label class="col-md-3 control-label">Hedge Type</label>
                    <div class="col-md-6">
                        @Html.DropDownListFor(model => model.HedgingDeal_Search.strHedgedType, new SelectList(Model.ddlHedged_Type, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="col-md-3 control-label">Contact No.</label>
                    <div class="col-md-6">
                        @Html.TextBoxFor(model => model.HedgingDeal_Search.sContactNo, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-6">
                    <label class="col-md-3 control-label">Company</label>
                    <div class="col-md-6">
                        @Html.DropDownListFor(model => model.HedgingDeal_Search.strSeller, new SelectList(Model.ddlCompany, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="col-md-3 control-label">Counterparty</label>
                    <div class="col-md-6">
                        @Html.DropDownListFor(model => model.HedgingDeal_Search.strBuyer, new SelectList(Model.ddlCounterParty, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-6">
                    <label class="col-md-3 control-label">Underlying</label>
                    <div class="col-md-6">
                        @Html.DropDownListFor(model => model.HedgingDeal_Search.strUnderlying, new SelectList(Model.ddlUnderlying, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="col-md-3 control-label">VS</label>
                    <div class="col-md-6">
                        @Html.DropDownListFor(model => model.HedgingDeal_Search.strVS, new SelectList(Model.ddlUnderlying, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-6">
                    <label class="col-md-3 control-label">Trade For</label>
                    <div class="col-md-6">
                        @Html.DropDownListFor(model => model.HedgingDeal_Search.sTrade_For, new SelectList(Model.ddlTrade_For, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="col-md-3 control-label">Tool</label>
                    <div class="col-md-6">
                        @Html.DropDownListFor(model => model.HedgingDeal_Search.strTool, new SelectList(Model.ddlTool, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-6">
                    <label class="col-md-3 control-label">Created By</label>
                    <div class="col-md-6 createByField">
                        @Html.TextBoxFor(model => model.HedgingDeal_Search.sCreateBy, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-6">                       
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-6">
                    <label class="col-md-3 control-label">Volume/Month</label>
                    <div class="col-md-2">
                        @Html.TextBoxFor(m => m.HedgingDeal_Search.sVolumeMonth_From, new { @class = "form-control doubleVal" })
                    </div>
                    <label class="col-md-2 control-label" style="padding-left: 30px;">To</label>
                    <div class="col-md-2">
                        @Html.TextBoxFor(m => m.HedgingDeal_Search.sVolumeMonth_To, new { @class = "form-control doubleVal" })
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="col-md-3 control-label">Price</label>
                    <div class="col-md-2">
                        @Html.TextBoxFor(m => m.HedgingDeal_Search.sPrice_From, new { @class = "form-control doubleVal" })
                    </div>
                    <label class="col-md-2 control-label" style="padding-left: 30px;">To</label>
                    <div class="col-md-2">
                        @Html.TextBoxFor(m => m.HedgingDeal_Search.sPrice_To, new { @class = "form-control doubleVal" })
                    </div>
                </div>
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-12">
                <div class="col-md-2 pull-left">
                    @*@if (@typeDecrypt == "CRUDE")
                        {
                            <a class="btn btn-success" href="~/CPAIMVC/HedgingDeal?Type=@type" id="addBtn" name="addBtn" role="button">Add</a>
                        }
                        else
                        {
                            <a class="btn btn-success" href="~/CPAIMVC/HedgingDeal/Search?Type=@type" id="addBtn" name="addBtn" role="button">Add</a>
                        }*@

                </div>
                <div class="col-md-4 text-center">
                    @*@if (ViewBag.action_search)
                        {*@
                    <button type="submit" class="btn btn-primary">Search</button>
                    @*}*@
                    <button type="reset" value="Reset" class="btn btn-default" onclick="resetForm()">Clear All</button>
                </div>
                <div class="col-md-6 text-right">
                    <div id="dupBtn">
                        @*<a class="btn btn-info" id="btnGenContact" name="btnGenContact"  role="button" >Contract</a>*@
                        <a class="btn btn-info" href="#" id="dubCopy" name="dubCopy" role="button" onclick="funCopy()">Copy</a>
                        <button type="button" value="Unwind" class="btn btn-default">Unwind</button>
                        <button type="button" value="Refer" class="btn btn-default">Refer</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="page-header">
            <h1>Search Result</h1>
        </div>
        <div class="task-box">
            <div class="wrapper-table collapse in" id="collapseJuly">
                <div style="width:100%;overflow-x:scroll;">
                    <table id="example" class="table table-hover table-striped table-bordered" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Date/Status</th>
                                <th>Deal No.</th>
                                <th>Ticket No.</th>
                                <th>Contact No.</th>
                                <th>Hedge Type</th>
                                <th>Trade For</th>
                                <th>Tool</th>
                                <th>Underlying</th>
                                <th>Company</th>
                                <th>Counterparties</th>
                                <th>Created By</th>
                                <th>Select</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ViewBag.SearchNew == "NEW")
                            {                                
                                <tr class="waiting">
                                    <td colspan="12">Waiting for search</td>
                                </tr>
                            }
                            else
                            {
                                if (Model.HedgingDeal_Search.sSearchData != null)
                                {
                                    if (Model.HedgingDeal_Search.sSearchData.Count > 0)
                                    {
                                        foreach (var v in Model.HedgingDeal_Search.sSearchData)
                                        {
                                            <tr>
                                                <td style="cursor: pointer;" class="clickable-row" data-href="../HedgingDeal/Edit?TranID=@v.hTransactionIdEncrypted&Tran_Req_ID=@v.hTransactionRequestEncrypted&PURNO=@v.hDealEncrypted&Type=@v.hTypeEncrypted&System=@v.hSystemEncrypted&Screen_Type=@v.hScreenTypeEncrypted">@v.dDate<span>@v.dStatus</span></td>
                                                <td>@v.dDealNo</td>
                                                <td>@v.dTicketNo</td>
                                                <td>@v.dContactNo</td>
                                                <td>@v.dHedged_Type</td>
                                                <td>@v.dTrade_For</td>
                                                <td>@v.dTool</td>
                                                <td>@v.dUnderlying</td>
                                                <td>@v.dSeller</td>
                                                <td>@v.dBuyer</td>
                                                <td>@v.dCreatedBy</td>
                                                <td>
                                                    <input name="dup" type="checkbox" value="@v.hDealEncrypted" />
                                                    @if (v.dStatus == "APPROVED")
                                                    {
                                                        if (v.dTrade_For == "LABIX")
                                                        {
                                                            <a title="Contract Creator" style="cursor:pointer;" class="fa fa-file-text-o" onclick="generateContract('@v.hDealEncrypted');"></a>
                                                        }
                                                        else
                                                        {
                                                            if (v.dSeller == "LABIX")
                                                            {
                                                                <a title="Contract Creator" style="cursor:pointer;" class="fa fa-file-text-o" onclick="generateContract('@v.hDealEncrypted');"></a>
                                                            }
                                                        }

                                                    }
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                                else
                                {
                                    <tr class="waiting">
                                        <td colspan="12">Data not found</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>            
    }
</div>

<script>
    $(function () {

        var strTD = @Html.Raw(Json.Encode(@Model.HedgingDeal_Search.sStatusSelected));
        if(strTD != null)
        {
            var arTD = strTD.split("|");
            $("#sStatus").val(arTD).trigger('change');
        }

        $('#sDate').dateRangePicker(
                    {
                        startOfWeek: 'monday',
                        format: 'DD-MM-YYYY',
                    });

        $('#example').DataTable({
            searching: false,
            paging: true,
            "bSort": false
        });

    });

    @*$("#btnGenContact").click(function(){
        var dealNo = $('#example input:checkbox:checked').val();
        if(dealNo != undefined)
        {
            var searchData = @Html.Raw(Json.Encode((Model.HedgingDeal_Search.sSearchData).Select(m => new { DealNo = m.hDealEncrypted, Status = m.dStatus, Company = m.dSeller })));
            for(var  i =0;i<searchData.length; i++)
            {
                if(searchData[i].DealNo == dealNo)
                {
                    if(searchData[i].Status == "SUBMIT")
                    {
                        if(searchData[i].Company == null)
                        {
                            generateContract(dealNo);
                        }else
                        {
                            var modal = $('#resultPopup');
                            var containingDiv = $('.modal-body', modal);
                            containingDiv.html("Comapny is not Labix");
                            modal.modal('show');
                            return false;
                        }
                    }else
                    {
                        var modal = $('#resultPopup');
                        var containingDiv = $('.modal-body', modal);
                        containingDiv.html("Status is not APPROVED");
                        modal.modal('show');
                        return false;
                    }
                }
            }
        }else
        {
            var modal = $('#resultPopup');
            var containingDiv = $('.modal-body', modal);
            containingDiv.html("Please Select Deal");
            modal.modal('show');
            return false;
        }
    });*@


    $(".clickable-row").click(function () {
        window.document.location = $(this).data("href");
    });

    $('input[type="checkbox"]').on('change', function () {
        $('input[name="' + this.name + '"]').not(this).prop('checked', false);
    });

    $(".doubleVal").bind("keypress", function(e) {
        if (e.which != 8 && e.which != 0 && e.which != 46 && (e.which < 48 || e.which > 57)) {
            return false;
        }else {
            if( e.which ==46 &&  ($(this).val().indexOf('.') >= 0)){
                return false;
            }
        }
    });

    $("#sStatus").select2();
    $('#sStatus').change(function () {
        var create = "";
        $("#sStatus option:selected").each(function () {
            create = create + $(this).val() + "|";
        });

        $("#sStatusSelected").val(create.substr(0, create.length - 1));

        $('.select2-search__field').keydown(function (e) {

            if ($(this).val() == "") {
                if (e.keyCode == 8) {
                    return false;
                }
            }
        });
    });

    function resetForm() {
        document.getElementById("searchForm").reset();
    }

    function funChecked() {
        //var dupLinkField = document.getElementsByName("dupLinkField");
        //var dupChk = document.getElementsByName("dup");
        //var dubCopyHref = document.getElementsByName("dubCopy");
        //for (var i = 0; i < dupLinkField.length; i++) {
        //    if (dupChk[i].checked) {
        //        dubCopyHref[0].setAttribute('href', dupLinkField[i].value);
        //        break;
        //    } else {
        //        dubCopyHref[0].setAttribute('href', "#");
        //    }

        //}
        //alert("Test Check");
    }

    function funCopy() {
        //var dupChk = document.getElementsByName("dup");
        //var dubCopyHref = document.getElementsByName("dubCopy");
        //var status = true;
        //if (dupChk.checked) {
        //    return true;
        //}
        alert("Test Copy");
    }

    function SearchDeal() {
        $.ajax({
            type: "POST",
            url: "GraphBoardTceMK/getGraphData",
            //data: JSON.stringify(req),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {

                //SetDataToDDL("ddlVoyNo", data.lstVoyNo);
                //SetDataToTable(data.TDData);
                //GennerateGraph(data.GraphDate);

                //if (data.ActionMSG != "" && !BoolExcel) alert(data.ActionMSG);
                //else if (BoolExcel) {
                //    window.open(data.ActionMSG, '_blank');
                //}
                //HideLoadingBox();
            }
        });
    }

    function generateContract(deal_No){
        var url = '@Url.Action("GenerateContract", "HedgingDeal", new { dealNo = "sDeal_No" })';
        window.location.href = url.replace('sDeal_No',encodeURIComponent(deal_No));
    };
</script>
