﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.HedgingSteeringCommitteeViewModel
@{
    string actionName = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString().ToUpper();    
    if(Model.detailList._pageMode == "Create")
    {
        ViewBag.Title = "Add Hedged Steering Committee";
    }
    else if(Model.detailList._pageMode == "Edit")
    {
        ViewBag.Title = "Edit Hedged Steering Committee";
    }
}

<div class="page-header">
    <h2>@ViewBag.Title</h2>
</div>

@if (TempData["ReponseStatus"] != null)
{
    // if POST check Response and Disble background layout of Modal Popup
    <script>
        $(document).ready(function () {
            $('#resultPopup').modal({ backdrop: 'static', keyboard: false });
            $('#resultPopup').modal('show');
        });
    </script>
}

<!-- Result Popup -->
<div class="modal fade" id="resultPopup" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <p>
                    @TempData["ReponseMessage"]
                </p>
            </div>
            <div class="modal-footer">
                @if (TempData["ReponseStatus"] != null && TempData["ReponseStatus"].ToString().ToUpper() == "FALSE")
                {
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                }
                else
                {
                    <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                    if (actionName.ToUpper() == "EDIT" || actionName.ToUpper() == "CREATE")
                    {

                    }
                    else
                    {

                    }

                }
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@using (Html.BeginForm("Create", "HedgingSteeringCommittee", FormMethod.Post, new { @id="frmMain", @class = "form-horizontal" }))
{
    <div class="row">        
        @Html.HiddenFor(model => model.detailList._pageMode, Model.detailList._pageMode)
        @Html.HiddenFor(model => Model.detailList._funcID)
        @Html.HiddenFor(model => Model.detailList._rowID)        
        <div class="col-xs-6">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-4 control-label">Underlying</label>
                <div class="col-sm-8">    
                    @if (Model.detailList._pageMode == "Create")
                    {
                        @Html.DropDownListFor(model => Model.detailList.Underlying, new SelectList(Model.ddlUnderlying, "Value", "Text", Model.detailList.Underlying), "-- Select --", new { @class = "form-control" })
                    }
                    else if (Model.detailList._pageMode == "Edit")
                    {
                        @Html.DropDownListFor(model => Model.detailList.Underlying, new SelectList(Model.ddlUnderlying, "Value", "Text", Model.detailList.Underlying), "-- Select --", new { @class = "form-control", @disabled = "disabled" })                        
                        @Html.HiddenFor(model => Model.detailList.Underlying)
                    }
                </div>
            </div>            
        </div>

        <div class="col-xs-6">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-4 control-label">Crop Plan</label>
                <div class="col-sm-8">  
                    @if (Model.detailList._pageMode == "Create")
                    {
                        @Html.DropDownListFor(model => Model.detailList.CropPlan, new SelectList(Model.ddlCropPlan, "Value", "Text", Model.detailList.CropPlan), "-- Select --", new { @class = "form-control" })
                    }
                    else if (Model.detailList._pageMode == "Edit")
                    {
                        @Html.DropDownListFor(model => Model.detailList.CropPlan, new SelectList(Model.ddlCropPlan, "Value", "Text", Model.detailList.CropPlan), "-- Select --", new { @class = "form-control", @disabled = "disabled" })
                        @Html.HiddenFor(model => Model.detailList.CropPlan)
                    }
                </div>
            </div>            
        </div>

        <div class="form-group">
            <div class="col-sm-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Active Date</th>
                            <th>% or Production</th>
                            <th>Price @Model.detailList.UnitPrice</th>
                            <th>Volume @Model.detailList.UnitVolume</th>
                        </tr>
                    </thead>                    
                    <tbody id="tblFrameworkCommittee">     
                        @if (Model.detailList.detail != null)
                        {
                            for (int i = 0; i < Model.detailList.detail.Count; i++)
                            {                                
                                <tr>
                                    <td>                                        
                                        <div class="col-sm-2">
                                            <select class="form-control" id="detailList_detail_@(i)__ActiveDate_FromMonth" name="detailList.detail[@i].ActiveDate_FromMonth">
                                                <option value="">-- Select --</option>
                                                @foreach (var option in Model.ddlActiveDate_FromMonth)
                                                {
                                                    if (Model.detailList.detail[i].ActiveDate_FromMonth == option.Value)
                                                    {
                                                        <option selected="selected" value="@option.Value">@option.Text</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@option.Value">@option.Text</option>
                                                    }
                                                }
                                            </select>
                                            @*@Html.DropDownListFor(model => Model.detailList.detail[i].ActiveDate_FromMonth, new SelectList(Model.ddlActiveDate_FromMonth, "Value", "Text", Model.detailList.detail[i].ActiveDate_FromMonth), "-- Select --", new { @class = "form-control" })*@
                                        </div>
                                        <div class="col-sm-2">
                                            <select class="form-control" id="detailList_detail_@(i)__ActiveDate_FromYear" name="detailList.detail[@i].ActiveDate_FromYear">
                                                <option value="">-- Select --</option>
                                                @foreach (var option in Model.ddlActiveDate_FromYear)
                                                {
                                                    if (Model.detailList.detail[i].ActiveDate_FromYear == option.Value)
                                                    {
                                                        <option selected="selected" value="@option.Value">@option.Text</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@option.Value">@option.Text</option>
                                                    }
                                                }
                                            </select>
                                            @*@Html.DropDownListFor(model => Model.detailList.detail[i].ActiveDate_FromYear, new SelectList(Model.ddlActiveDate_FromYear, "Value", "Text", Model.detailList.detail[i].ActiveDate_FromYear), "-- Select --", new { @class = "form-control" })*@
                                        </div>
                                        <label for="inputEmail3" class="col-sm-1 control-label">To</label>
                                        <div class="col-sm-2">
                                            <select class="form-control" id="detailList_detail_@(i)__ActiveDate_ToMonth" name="detailList.detail[@i].ActiveDate_ToMonth">
                                                <option value="">-- Select --</option>
                                                @foreach (var option in Model.ddlActiveDate_ToMonth)
                                                {
                                                    if (Model.detailList.detail[i].ActiveDate_ToMonth == option.Value)
                                                    {
                                                        <option selected="selected" value="@option.Value">@option.Text</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@option.Value">@option.Text</option>
                                                    }
                                                }
                                            </select>
                                            @*@Html.DropDownListFor(model => Model.detailList.detail[i].ActiveDate_ToMonth, new SelectList(Model.ddlActiveDate_ToMonth, "Value", "Text", Model.detailList.detail[i].ActiveDate_ToMonth), "-- Select --", new { @class = "form-control" })*@
                                        </div>
                                        <div class="col-sm-2">
                                            <select class="form-control" id="detailList_detail_@(i)__ActiveDate_ToYear" name="detailList.detail[@i].ActiveDate_ToYear">
                                                <option value="">-- Select --</option>
                                                @foreach (var option in Model.ddlActiveDate_ToYear)
                                                {
                                                    if (Model.detailList.detail[i].ActiveDate_ToYear == option.Value)
                                                    {                                                        
                                                        <option selected="selected" value="@option.Value">@option.Text</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@option.Value">@option.Text</option>
                                                    }
                                                }
                                            </select>
                                            @*@Html.DropDownListFor(model => Model.detailList.detail[i].ActiveDate_ToYear, new SelectList(Model.ddlActiveDate_ToYear, "Value", "Text", Model.detailList.detail[i].ActiveDate_ToYear), "-- Select --", new { @class = "form-control" })*@
                                        </div>
                                    </td>
                                    <td>
                                        <input class="form-control doubleVal" id="detailList_detail_@(i)__Production" name="detailList.detail[@i].Production" type="text" value="@Model.detailList.detail[i].Production">
                                        @*@Html.TextBoxFor(model => Model.detailList.detail[i].Production, new { @class = "form-control doubleVal" })*@                                        
                                    </td>
                                    <td>
                                        <input class="form-control doubleVal" id="detailList_detail_@(i)__DetailData_0__Price" name="detailList.detail[@i].DetailData[0].Price" type="text" value="@Model.detailList.detail[i].DetailData[0].Price">
                                        @*@Html.TextBoxFor(model => Model.detailList.detail[i].DetailData[0].Price, new { @class = "form-control doubleVal" })*@
                                        @if (Model.detailList.detail[i].DetailData != null && Model.detailList.detail[i].DetailData.Count < 2)
                                        {
                                            <input type="image" src="~/Web/Images/btn-add-member.png" onclick="Draft(1, @i); return false;" />
                                            <input type="image" src="~/Web/Images/btn-delete.png" onclick="Draft(0, @i); return false;" />
                                            @*<a href="@Url.Action("DraftAdd", "HedgingSteeringCommittee", new { rowID = @i, jsonModel = @Html.Raw(Json.Encode(Model.detailList)) })" title="Add"><img alt="Widget View" src="@Url.Content("~/Web/Images/btn-add-member.png")"></a>
                                            <a href="@Url.Action("DraftDelete", "HedgingSteeringCommittee", new { rowID = @i, jsonModel = @Html.Raw(Json.Encode(Model.detailList)) })" title="Delete"><img alt="Widget View" src="@Url.Content("~/Web/Images/btn-delete.png")"></a>*@
                                        }
                                    </td>
                                    <td>
                                        <input class="form-control doubleVal" id="detailList_detail_@(i)__DetailData_0__Volume" name="detailList.detail[@i].DetailData[0].Volume" type="text" value="@Model.detailList.detail[i].DetailData[0].Volume">
                                        @*@Html.TextBoxFor(model => Model.detailList.detail[i].DetailData[0].Volume, new { @class = "form-control doubleVal" })*@
                                    </td>
                                    @Html.HiddenFor(model => Model.detailList.detail[i].OrderID)
                                    @Html.HiddenFor(model => Model.detailList.detail[i].UnitPrice)
                                    @Html.HiddenFor(model => Model.detailList.detail[i].UnitVolume)
                                    @Html.HiddenFor(model => Model.detailList.detail[i].ActiveDate)

                                    @Html.HiddenFor(model => Model.detailList.detail[i].DetailData[0].OrderID)
                                    @Html.HiddenFor(model => Model.detailList.detail[i].DetailData[0].RowID)
                                    @Html.HiddenFor(model => Model.detailList.detail[i].DetailData[0].Order)
                                </tr>
                                if (Model.detailList.detail[i].DetailData != null)
                                {
                                    for (int j = 1; j < Model.detailList.detail[i].DetailData.Count; j++)
                                    {                                        
                                        <tr>                                    
                                            <td>                                                
                                            </td>
                                            <td>
                                            </td>
                                            <td>
                                                <input class="form-control doubleVal" id="detailList_detail_@(i)__DetailData_@(j)__Price" name="detailList.detail[@i].DetailData[@j].Price" type="text" value="@Model.detailList.detail[i].DetailData[j].Price">
                                                @*@Html.TextBoxFor(model => Model.detailList.detail[i].DetailData[j].Price, new { @class = "form-control doubleVal" })*@
                                                @if (j == Model.detailList.detail[i].DetailData.Count - 1)
                                                {
                                                    <input type="image" src="~/Web/Images/btn-add-member.png" onclick="Draft(1, @i); return false;" />
                                                    <input type="image" src="~/Web/Images/btn-delete.png" onclick="Draft(0, @i); return false;" />
                                                    @*<a href="@Url.Action("DraftAdd", "HedgingSteeringCommittee", new { rowID = @i, jsonModel = @Html.Raw(Json.Encode(Model.detailList)) })" title="Add"><img alt="Widget View" src="@Url.Content("~/Web/Images/btn-add-member.png")"></a>
                                                    <a href="@Url.Action("DraftDelete", "HedgingSteeringCommittee", new { rowID = @i, jsonModel = @Html.Raw(Json.Encode(Model.detailList)) })" title="Delete"><img alt="Widget View" src="@Url.Content("~/Web/Images/btn-delete.png")"></a>*@
                                                }
                                            </td>
                                            <td>
                                                <input class="form-control doubleVal" id="detailList_detail_@(i)__DetailData_@(j)__Volume" name="detailList.detail[@i].DetailData[@j].Volume" type="text" value="@Model.detailList.detail[i].DetailData[j].Volume">
                                                @*@Html.TextBoxFor(model => Model.detailList.detail[i].DetailData[j].Volume, new { @class = "form-control doubleVal" })*@
                                            </td> 
                                            @Html.HiddenFor(model => Model.detailList.detail[i].DetailData[j].OrderID)
                                            @Html.HiddenFor(model => Model.detailList.detail[i].DetailData[j].RowID)
                                            @Html.HiddenFor(model => Model.detailList.detail[i].DetailData[j].Order)                                   
                                        </tr>
                                    }
                                }
                            }
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="5">
                                @*<a class="btn btn-default Draft" href="javascript:void(0);" role="button">Add Active Date</a>*@
                                <a class="btn btn-default Draft" onclick="Draft(1, '');" role="button">Add Active Date</a>
                                @*@Html.ActionLink("Add Active Date", "DraftAdd", "HedgingSteeringCommittee", new { rowID = "", jsonModel = @Html.Raw(Json.Encode(Model.detailList)) }, htmlAttributes: new { @class = "btn btn-default" })*@                                
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>

    </div>
    <div class="form-group">
        <div class="col-sm-12">
            <div class="text-center">
                @*<button class="btn btn-primary actionButton" onclick="Save();">SAVE</button>*@
                <a class="btn btn-primary actionButton" onclick="Draft(2, '');" role="button">SAVE</a>
                <button type="reset" class="btn btn-default actionButton">CLEAR</button>
                @Html.ActionLink("BACK", "Search", new { controller = "HedgingSteeringCommittee" }, htmlAttributes: new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}

<script>
    $(function () {
       // $("#tblFrameworkCommittee").html("");
    });

    $(".doubleVal").bind("keypress", function(e) {
        if (e.which != 8 && e.which != 0 && e.which != 46 && (e.which < 48 || e.which > 57)) {
            return false;
        }else {
            if( e.which ==46 &&  ($(this).val().indexOf('.') >= 0)){
                return false;
            }
        }
    });

    function Draft(func, row)
    {
        $('#detailList__funcID').val(func);
        $('#detailList__rowID').val(row);
        $('#frmMain').submit();
    }

    @*function TestSave()
    {
        var json = @Html.Raw(Json.Encode(Model.detailList));

        var requestData = {
            funcID: 'Save',
            jsonModel: json
        };

        $.ajax({
            data: JSON.stringify(requestData),
            url: '@Url.Action("Draft", "HedgingSteeringCommittee")',
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (resp) {
                debugger
                alert("Save success");
            },
            error: function (resp) {
                alert("error : " + resp);
            }
        });
    }

    function TestDraft(funcNumber, row){

        var funcName = "";
        if(funcNumber == 0)
            funcName = "DraftDelete";
        else
            funcName = "DraftAdd";
        var json = @Html.Raw(Json.Encode(Model.detailList));

        var requestData = {
            rowID: row,
            jsonModel: json
            };

        $.ajax({
            data: JSON.stringify(requestData),
            url: funcName,
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (resp) {
                if (resp.detailList.detail != null) {

                    var markup = "";

                    for (var i = 0; i < resp.detailList.detail.length; i++)
                    {
                        markup += '<tr>';

                        markup += '<td>';

                        markup += '</td>';

                        markup += '<td>';
                        markup += '<input class="form-control" id="detailList_detail_' + i + '__Production" name="detailList.detail[' + i + '].Production" type="text" value="' + resp.detailList.detail[i].Production + '">';
                        markup += '</td>';

                        markup += '<td>';
                        markup += '<input class="form-control" id="detailList_detail_' + i + '__DetailData_0__Price" name="detailList.detail[' + i + '].DetailData[0].Price" type="text" value="' + resp.detailList.detail[i].DetailData[0].Price + '">';
                        if (resp.detailList.detail[i].DetailData != null && resp.detailList.detail[i].DetailData.length < 2)
                        {
                            markup += '<input type="image" src="/Web/Images/btn-add-member.png" onclick="FuncDraft(1, 0); return false;">';
                            markup += '<input type="image" src="/Web/Images/btn-delete.png" onclick="FuncDraft(0, 0); return false;">';
                        }
                        markup += '</td>';

                        markup += '<td>';
                        markup += '<input class="form-control" id="detailList_detail_' + i + '__DetailData_0__Volume" name="detailList.detail[' + i + '].DetailData[0].Volume" type="text" value="' + resp.detailList.detail[i].DetailData[0].Volume + '">';
                        markup += '</td>';

                        markup += '</tr>';
                        if (resp.detailList.detail[i].DetailData != null)
                        {
                            for (var j = 1; j < resp.detailList.detail[i].DetailData.length; j++)
                            {
                                markup += '<tr>';

                                markup += '<td>';
                                markup += '</td>';

                                markup += '<td>';
                                markup += '</td>';

                                markup += '<td>';
                                markup += '<input class="form-control" id="detailList_detail_' + i + '__DetailData_' + j + '__Price" name="detailList.detail[' + i + '].DetailData[' + j + '].Price" type="text" value="' + resp.detailList.detail[i].DetailData[j].Price + '">';
                                if (j == resp.detailList.detail[i].DetailData.length - 1)
                                {
                                    markup += '<input type="image" src="/Web/Images/btn-add-member.png" onclick="FuncDraft(1, ' + i + '); return false;">';
                                    markup += '<input type="image" src="/Web/Images/btn-delete.png" onclick="FuncDraft(0, ' + i + '); return false;">';
                                }
                                markup += '</td>';

                                markup += '<td>';
                                markup += '<input class="form-control" id="detailList_detail_' + i + '__DetailData_' + j + '__Volume" name="detailList.detail[' + i + '].DetailData[' + j + '].Volume" type="text" value="' + resp.detailList.detail[i].DetailData[j].Volume + '">';
                                markup += '</td>';

                                markup += '</tr>';
                            }
                        }
                    }

                    $("#tblFrameworkCommittee").html(markup).show();
                }
            },
            error: function (resp) {
                alert("error : " + resp);
            }
        });
    };*@
</script>
