﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.HedgingSteeringCommitteeViewModel
@{
    ViewBag.Title = "Hedged Steering Committee";   
}

<div class="page-header">
    <h2>@ViewBag.Title</h2>
</div>

@using (Html.BeginForm("Search", "HedgingSteeringCommittee", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="row">
        <div class="col-xs-6">            
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-4 control-label">Underlying</label>
                <div class="col-sm-8">
                    @Html.DropDownListFor(model => model.search.sUnderlying, new SelectList(Model.ddlUnderlying, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-4 control-label">Active Date</label>
                <div class="col-sm-5">
                    @Html.DropDownListFor(model => model.search.sActiveDate_FromMonth, new SelectList(Model.ddlActiveDate_FromMonth, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                </div>               
                <div class="col-sm-3">
                    @Html.DropDownListFor(model => model.search.sActiveDate_FromYear, new SelectList(Model.ddlActiveDate_FromYear, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                </div>
            </div>                     
        </div>
        <div class="col-xs-6">            
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-4 control-label">Crop Plan</label>
                <div class="col-sm-8">
                    @Html.DropDownListFor(model => model.search.sCropPlan, new SelectList(Model.ddlCropPlan, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-4 control-label">To </label>
                <div class="col-sm-5">
                    @Html.DropDownListFor(model => model.search.sActiveDate_ToMonth, new SelectList(Model.ddlActiveDate_ToMonth, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                </div>
                <div class="col-sm-3">
                    @Html.DropDownListFor(model => model.search.sActiveDate_ToYear, new SelectList(Model.ddlActiveDate_ToYear, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                </div>
            </div>            
        </div>
    </div>
    <div class="form-group">
        <div class="pull-left">
            @if (ViewBag.action_create)
            {
                @Html.ActionLink("Add", "Create", new { controller = "HedgingSteeringCommittee" }, new { @class = "btn btn-success" })
            }
        </div>
        <div class="pull-right">
            @if (ViewBag.action_search)
            {
                <button type="submit" class="btn btn-primary">Search</button>
            }
        </div>
    </div>
}

<div class="page-header">
    <h1>Search Result</h1>
</div>
<table id="searchResultTable" class="table table-borderedy">
    <thead>
        <tr>
            <th></th>
            <th>Underlying</th>
            <th>Crop Plan</th>
            <th>Active Date</th>
            <th>% or Production</th>
            <th>Price</th>
            <th>Volume</th>            
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.search == null)
        {
            <tr class="waiting">
                <td colspan="10">Waiting for search</td>
            </tr>
        }
        else
        {
            if (Model.search.SearchData != null)
            {
                foreach (var v in Model.search.SearchData)
                {
                    <tr>
                        @if (v.DetailData.Count > 1)
                        {
                            <td><span type="button" class="glyphicon glyphicon-plus-sign" data-toggle="collapse" data-target=".@v.dOrderID" /></td>
                        }
                        else
                        {
                            <td></td>
                        }
                        <td>@v.dUnderlyingName</td>
                        <td>@v.dCropPlan</td>
                        <td>@v.dActiveDate</td>
                        <td>@v.dProduction</td>
                        <td>@v.DetailData[0].Price @v.dUnitPrice</td>
                        <td>@v.DetailData[0].Volume @v.dUnitVolume</td>                                     
                        <td width="100px">                            
                            @if (ViewBag.action_edit)
                            {
                                <a href="@Url.Action("Edit", "HedgingSteeringCommittee", new { underlying = @v.dUnderlying, cropPlan = @v.dCropPlan })" title="Edit">
                                    <img alt="Widget View" src="@Url.Content("../../Content/images/1480695860_edit.png")">
                                </a>
                            }
                        </td>
                    </tr>
                    for (int i = 1; i < v.DetailData.Count; i++)                    
                    {
                        <tr class="collapse @v.DetailData[i].OrderID">                            
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>@v.DetailData[i].Price @v.dUnitPrice</td>
                            <td>@v.DetailData[i].Volume @v.dUnitVolume</td>
                            <td></td>
                        </tr>
                    }
                }
            }
        }
    </tbody>
</table>

