﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.TCEMKViewModel
@{
    ViewBag.Title = "AddTceMK";

    List<SelectListItem> loading_month = new List<SelectListItem>();
    loading_month.Add(new SelectListItem { Text = "Jan", Value = "01" });
    loading_month.Add(new SelectListItem { Text = "Feb", Value = "02" });
    loading_month.Add(new SelectListItem { Text = "Mar", Value = "03" });
    loading_month.Add(new SelectListItem { Text = "Apr", Value = "04" });
    loading_month.Add(new SelectListItem { Text = "May", Value = "05" });
    loading_month.Add(new SelectListItem { Text = "Jun", Value = "06" });
    loading_month.Add(new SelectListItem { Text = "Jul", Value = "07" });
    loading_month.Add(new SelectListItem { Text = "Aug", Value = "08" });
    loading_month.Add(new SelectListItem { Text = "Sep", Value = "09" });
    loading_month.Add(new SelectListItem { Text = "Oct", Value = "10" });
    loading_month.Add(new SelectListItem { Text = "Nov", Value = "11" });
    loading_month.Add(new SelectListItem { Text = "Dec", Value = "12" });

    List<SelectListItem> loading_year = new List<SelectListItem>();
    int year = DateTime.Now.Year;
    int max_year = year + 5;
    int min_year = year - 5;
    for (int i = max_year; i >= min_year; i--)
    {
        loading_year.Add(new SelectListItem { Text = i + "", Value = i + "", Selected = (i == year) ? true : false });
    }
}


<div class="wrapper-detail">
    <div>
        <h1 style="font-weight: bold;">Add TCE Market</h1>
    </div>
    <div class="row">
        <form action="" method="post">
            @Html.Hidden("hdfNoteAction")
            @if (TempData["res_message"] == null)
            {
                @Html.Hidden("EventButton", "0")
            }
            else
            {
                @Html.Hidden("EventButton", "1")
            }
            <div class="form-horizontal">


                <div class="col-md-12">
                    <div class="form-group">
                        <!-- Task ID -->
                        <div class="col-md-6">
                            <label class="col-md-3 control-label">Task ID</label>
                            <div class="col-md-6">
                                @if (Model.PageMode)
                                {
                                    @Html.TextBoxFor(m => m.TceMKDetail.voy_no, new { @class = "form-control  txtvoy_no", @readonly = "true" })
                                }
                                else
                                {
                                    @Html.TextBoxFor(m => m.TceMKDetail.voy_no, new { @class = "form-control txtvoy_no", @readonly = "true" })
                                }
                            </div>

                        </div>

                        <!-- TD -->
                        <div class="col-md-6">
                            <label class="col-md-3 control-label">TD<span style="color:red">*</span></label>
                            <div class="col-md-6">
                                @if (Model.PageMode)
                                {
                                    if (Model.TceMKDetail.td != null)
                                    {
                                        @Html.DropDownListFor(m => m.TceMKDetail.td, new SelectList(Model.lstTD, "Value", "Text", Model.TceMKDetail.td), new { @class = "form-control ddltd" })
                                    }
                                    else
                                    {
                                        @Html.DropDownListFor(m => m.TceMKDetail.td, Model.lstTD, new { @class = "form-control ddltd" })
                                    }
                                }
                                else
                                {
                                    if (Model.TceMKDetail.td != null)
                                    {
                                        @Html.DropDownListFor(m => m.TceMKDetail.td, Model.lstTD, Model.TceMKDetail.td, new { @class = "form-control ddltd", @disabled = "disabled" })
                                        @Html.HiddenFor(m => m.TceMKDetail.td, Model.lstTD)
                                    }
                                    else
                                    {
                                        @Html.DropDownListFor(m => m.TceMKDetail.td, Model.lstTD, new { @class = "form-control ddltd", @disabled = "disabled" })
                                    }
                                }
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <!-- Vessel -->
                        <div class="col-md-6">
                            <label class="col-md-3 control-label">Vessel<span style="color:red">*</span></label>
                            <div class="col-md-6">
                                @if (Model.PageMode)
                                {
                                    if (Model.TceMKDetail.vessel != null)
                                    {
                                        @Html.DropDownListFor(m => m.TceMKDetail.vessel, new SelectList(Model.lstShipName, "Value", "Text", Model.TceMKDetail.vessel), new { @class = "form-control ddlvessel" })
                                    }
                                    else
                                    {
                                        @Html.DropDownListFor(m => m.TceMKDetail.vessel, Model.lstShipName, new { @class = "form-control ddlvessel" })
                                    }
                                }
                                else
                                {
                                    if (Model.TceMKDetail.vessel != null)
                                    {
                                        @Html.DropDownListFor(m => m.TceMKDetail.vessel, Model.lstShipName, Model.TceMKDetail.vessel, new { @class = "form-control ddlvessel", @disabled = "disabled" })
                                        @Html.HiddenFor(m => m.TceMKDetail.vessel, Model.lstShipName)
                                    }
                                    else
                                    {
                                        @Html.DropDownListFor(m => m.TceMKDetail.vessel, Model.lstShipName, new { @class = "form-control ddlvessel", @disabled = "disabled" })
                                    }
                                }
                            </div>
                        </div>

                        <!-- Voyage No. -->
                        <div class="col-md-6">

                            <label class="col-md-3 control-label">Voyage No.<span style="color:red">*</span></label>
                            <div class="col-md-6">
                                @if (Model.PageMode)
                                {
                                    @Html.TextBoxFor(m => m.TceMKDetail.tc_num, new { @class = "form-control  txttc_num" })
                                }
                                else
                                {
                                    @Html.TextBoxFor(m => m.TceMKDetail.tc_num, new { @class = "form-control txttc_num", @readonly = "true" })
                                }
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <!-- Month -->
                        <div class="col-md-6">
                            <label class="col-md-3 control-label">Loading Month<span style="color:red">*</span></label>
                            <div class="col-md-4">
                                @if (Model.PageMode)
                                {
                                    if (Model.TceMKDetail != null)
                                    {
                                        @Html.DropDownListFor(m => m.LoadingMonth, new SelectList(loading_month, "Value", "Text", Model.LoadingMonth), new { @class = "form-control" })
                                    }
                                    else
                                    {
                                        @Html.DropDownListFor(m => m.LoadingMonth, loading_month, new { @class = "form-control" })
                                    }
                                }
                                else
                                {
                                    if (Model.TceMKDetail != null)
                                    {
                                        @Html.DropDownListFor(m => m.LoadingMonth, loading_month, Model.LoadingMonth, new { @class = "form-control", @disabled = "disabled" })
                                        @Html.HiddenFor(m => m.LoadingMonth, Model.LoadingMonth)
                                    }
                                    else
                                    {
                                        @Html.DropDownListFor(m => m.LoadingMonth, loading_month, new { @class = "form-control", @disabled = "disabled" })
                                    }
                                }
                            </div>
                            <div class="col-md-2">
                                @if (Model.PageMode)
                                {
                                    if (Model.TceMKDetail != null)
                                    {
                                        @Html.DropDownListFor(m => m.LoadingYear, new SelectList(loading_year, "Value", "Text", Model.LoadingYear), new { @class = "form-control" })
                                    }
                                    else
                                    {
                                        @Html.DropDownListFor(m => m.LoadingYear, loading_year, new { @class = "form-control" })
                                    }
                                }
                                else
                                {
                                    if (Model.TceMKDetail != null)
                                    {
                                        @Html.DropDownListFor(m => m.LoadingYear, loading_year, Model.LoadingYear, new { @class = "form-control", @disabled = "disabled" })
                                        @Html.HiddenFor(m => m.LoadingYear, Model.LoadingYear)
                                    }
                                    else
                                    {
                                        @Html.DropDownListFor(m => m.LoadingYear, loading_year, new { @class = "form-control", @disabled = "disabled" })
                                    }
                                }
                            </div>
                        </div>
                        <!-- TC Rate -->
                        <div class="col-md-6">
                            <label class="col-md-3 control-label">TC Rate<span style="color:red">*</span></label>
                            <div class="col-md-6">
                                @if (Model.PageMode)
                                {
                                    @Html.TextBoxFor(m => m.TceMKDetail.tc_rate, new { @class = "form-control doubleVal txttc_rate" })
                                }
                                else
                                {
                                    @Html.TextBoxFor(m => m.TceMKDetail.tc_rate, new { @class = "form-control txttc_rate", @readonly = "true" })
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <!-- Date -->
                        <div class="col-md-6">
                            <label class="col-md-3 control-label">Period<span style="color:red">*</span></label>
                            <div class="col-md-6">
                                @if (Model.PageMode)
                                {
                                    @Html.TextBoxFor(m => m.TceMKDetail.date_from, new { @class = "form-control input-date-picker txtdate_from", @placeholder = "DD/MM/YYYY to DD/MM/YYYY", @maxlength = "24" })
                                }
                                else
                                {
                                    @Html.TextBoxFor(m => m.TceMKDetail.date_from, new { @class = "form-control input-date-picker txtdate_from", @readonly = "true" })
                                }
                            </div>
                        </div>
                        <!-- Operating Days -->
                        <div class="col-md-6">
                            <label class="col-md-3 control-label">Operating Days<span style="color:red">*</span></label>
                            <div class="col-md-6">
                                @if (Model.PageMode)
                                {
                                    @Html.TextBoxFor(m => m.TceMKDetail.operating_days, new { @class = "form-control doubleVal txtoperating_days", @readonly = "true" })
                                }
                                else
                                {
                                    @Html.TextBoxFor(m => m.TceMKDetail.operating_days, new { @class = "form-control txtoperating_days", @readonly = "true" })
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <!-- FO -->
                        <div class="col-md-6">
                            <label class="col-md-3 control-label">FO used<span style="color:red">*</span></label>
                            <div class="col-md-2">
                                @if (Model.PageMode)
                                {
                                    @Html.TextBoxFor(m => m.TceMKDetail.fo_mt, new { @class = "form-control doubleVal txtfo_mt" })
                                }
                                else
                                {
                                    @Html.TextBoxFor(m => m.TceMKDetail.fo_mt, new { @class = "form-control txtfo_mt", @readonly = "true" })
                                }
                            </div>
                            <div class="col-md-1">
                                mt
                            </div>
                            <div class="col-md-2">
                                @if (Model.PageMode)
                                {
                                    @Html.TextBoxFor(m => m.TceMKDetail.fo_unit_price, new { @class = "form-control doubleVal txtfo_unit_price" })
                                }
                                else
                                {
                                    @Html.TextBoxFor(m => m.TceMKDetail.fo_unit_price, new { @class = "form-control txfo_unit_price", @readonly = "true" })
                                }
                            </div>
                            <div class="col-md-1">
                                USD/mt
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="col-md-3 control-label">FO Cost</label>
                            <div class="col-md-6">
                                @if (Model.PageMode)
                                {
                                    @Html.TextBoxFor(m => m.TceMKDetail.bunker_cost_fo, new { @class = "form-control doubleVal txtbunker_cost_fo", @readonly = "true" })
                                }
                                else
                                {
                                    @Html.TextBoxFor(m => m.TceMKDetail.bunker_cost_fo, new { @class = "form-control txtbunker_cost_fo", @readonly = "true" })
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <!-- GO -->
                        <div class="col-md-6">
                            <label class="col-md-3 control-label">GO used<span style="color:red">*</span></label>
                            <div class="col-md-2">
                                @if (Model.PageMode)
                                {
                                    @Html.TextBoxFor(m => m.TceMKDetail.go_mt, new { @class = "form-control doubleVal txtgo_mt" })
                                }
                                else
                                {
                                    @Html.TextBoxFor(m => m.TceMKDetail.go_mt, new { @class = "form-control txtgo_mt", @readonly = "true" })
                                }
                            </div>
                            <div class="col-md-1">
                                mt
                            </div>
                            <div class="col-md-2">
                                @if (Model.PageMode)
                                {
                                    @Html.TextBoxFor(m => m.TceMKDetail.go_unit_price, new { @class = "form-control doubleVal txtgo_unit_price" })
                                }
                                else
                                {
                                    @Html.TextBoxFor(m => m.TceMKDetail.go_unit_price, new { @class = "form-control txtgo_unit_price", @readonly = "true" })
                                }
                            </div>
                            <div class="col-md-1">
                                USD/mt 
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="col-md-3 control-label">GO Cost</label>
                            <div class="col-md-6">
                                @if (Model.PageMode)
                                {
                                    @Html.TextBoxFor(m => m.TceMKDetail.bunker_cost_go, new { @class = "form-control doubleVal txtbunker_cost_go", @readonly = "true" })
                                }
                                else
                                {
                                    @Html.TextBoxFor(m => m.TceMKDetail.bunker_cost_go, new { @class = "form-control txtbunker_cost_go", @readonly = "true" })
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <!-- Other Cost -->
                        <div class="col-md-6">
                            <label class="col-md-3 control-label">Loading Date<span style="color:red">*</span></label>
                            <div class="col-md-6">
                                @if (Model.PageMode)
                                {
                                    @Html.TextBoxFor(m => m.TceMKDetail.loadingdate_from, new { @class = "form-control input-date-picker txtloadingdate_from", @placeholder = "DD/MM/YYYY to DD/MM/YYYY", @maxlength = "24" })
                                }
                                else
                                {
                                    @Html.TextBoxFor(m => m.TceMKDetail.loadingdate_from, new { @class = "form-control input-date-picker txtloadingdate_from", @readonly = "true" })
                                }
                            </div>
                        </div>
                        <!-- Flat Rate -->
                        <div class="col-md-6">
                            <label class="col-md-3 control-label">Flat Rate<span style="color:red">*</span></label>
                            <div class="col-md-6">
                                @if (Model.PageMode)
                                {
                                    @Html.TextBoxFor(m => m.TceMKDetail.flat_rate, new { @class = "form-control doubleVal  txtflat_rate" })
                                }
                                else
                                {
                                    @Html.TextBoxFor(m => m.TceMKDetail.flat_rate, new { @class = "form-control txtflat_rate", @readonly = "true" })
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <!-- Demurrage -->
                        <div class="col-md-6">
                            <label class="col-md-3 control-label">Demurrage</label>
                            <div class="col-md-6">
                                @if (Model.PageMode)
                                {
                                    @Html.TextBoxFor(m => m.TceMKDetail.demurrage, new { @class = "form-control doubleVal txtdemurrage" })
                                }
                                else
                                {
                                    @Html.TextBoxFor(m => m.TceMKDetail.demurrage, new { @class = "form-control txtdemurrage", @readonly = "true" })
                                }
                            </div>
                        </div>
                        <!-- Min Load -->
                        <div class="col-md-6">
                            <label class="col-md-3 control-label">Min Load<span style="color:red">*</span></label>
                            <div class="col-md-6">
                                @if (Model.PageMode)
                                {
                                    @Html.TextBoxFor(m => m.TceMKDetail.minload, new { @class = "form-control doubleVal txtminload" })
                                }
                                else
                                {
                                    @Html.TextBoxFor(m => m.TceMKDetail.minload, new { @class = "form-control txtminload", @readonly = "true" })
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <!-- Theoritical days -->
                        <div class="col-md-6">
                            <label class="col-md-3 control-label">Theoritical days<span style="color:red">*</span></label>
                            <div class="col-md-6">
                                @if (Model.PageMode)
                                {
                                    @Html.TextBoxFor(m => m.TceMKDetail.theoritical_days, new { @class = "form-control doubleVal txttheoritical_days" })
                                }
                                else
                                {
                                    @Html.TextBoxFor(m => m.TceMKDetail.theoritical_days, new { @class = "form-control txttheoritical_days", @readonly = "true" })
                                }
                            </div>
                        </div>
                        <!--  -->
                        <div class="col-md-6">
                            <label class="col-md-3 control-label">Other Cost@*<span style="color:red">*</span>*@</label>
                            <div class="col-md-6">
                                @if (Model.PageMode)
                                {
                                    @Html.TextBoxFor(m => m.TceMKDetail.other_cost, new { @class = "form-control doubleVal  txtother_cost" })
                                }
                                else
                                {
                                    @Html.TextBoxFor(m => m.TceMKDetail.other_cost, new { @class = "form-control txtother_cost", @readonly = "true" })
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Load Port -->
                <div class="row">
                    <div class="col-md-10">
                        <p>Load Port<span style="color:red">*</span></p>
                        <table class="table table-bordered LoadportTable">
                            <thead>
                                <tr>
                                    <th>Port No.</th>
                                    <th>Port Name</th>
                                    <th>Port Charge</th>
                                </tr>

                            </thead>
                            <tbody id="tblLoadPort">
                                @if (Model.PageMode)
                                {
                                    if (Model.TceMKDetail != null)
                                    {
                                        if (Model.TceMKDetail.load_ports != null)
                                        {
                                            for (int i = 0; i < Model.TceMKDetail.load_ports.Count; i++)
                                            {
                                                <tr>
                                                    <td style="text-align: center; vertical-align: middle;">
                                                        @Html.LabelFor(m => m.TceMKDetail.load_ports[i].port_order, Model.TceMKDetail.load_ports[i].port_order)
                                                    </td>
                                                    <td>
                                                        @Html.DropDownListFor(m => m.TceMKDetail.load_ports[i].port, new SelectList(Model.lstPort, "Value", "Text", Model.TceMKDetail.load_ports[i].port), new { @class = "form-control ddlloadport" })
                                                    </td>
                                                    <td>
                                                        @Html.TextBoxFor(m => m.TceMKDetail.load_ports[i].port_value, Model.TceMKDetail.load_ports[i].port_value, new { @class = "form-control txtloadport_value doubleVal", @step = "any" })
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td style="text-align: center; vertical-align: middle;">
                                                @Html.LabelFor(m => m.TceMKDetail.load_ports[0].port_order, Model.TceMKDetail.load_ports[0].port_order)
                                            </td>
                                            <td>
                                                @Html.DropDownListFor(m => m.TceMKDetail.load_ports[0].port, new SelectList(Model.lstPort, "Value", "Text", Model.TceMKDetail.load_ports[0].port), new { @class = "form-control ddlloadport" })
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(m => m.TceMKDetail.load_ports[0].port_value, Model.TceMKDetail.load_ports[0].port_value, new { @class = "form-control txtloadport_value doubleVal", @step = "any" })
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    if (Model.TceMKDetail != null)
                                    {
                                        for (int i = 0; i < Model.TceMKDetail.load_ports.Count; i++)
                                        {
                                            <tr>
                                                <td style="text-align: center; vertical-align: middle;">
                                                    @Html.LabelFor(m => m.TceMKDetail.load_ports[i].port_order, Model.TceMKDetail.load_ports[i].port_order)
                                                </td>
                                                <td>
                                                    @Html.DropDownListFor(m => m.TceMKDetail.load_ports[i].port, new SelectList(Model.lstPort, "Value", "Text", Model.TceMKDetail.load_ports[i].port), new { @class = "form-control ddlloadport", @disabled = "disabled" })
                                                    @Html.HiddenFor(m => m.TceMKDetail.load_ports[i].port, Model.TceMKDetail.load_ports[i].port)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.TceMKDetail.load_ports[i].port_value, Model.TceMKDetail.load_ports[i].port_value, new { @class = "form-control txtloadport_value doubleVal", @step = "any", @readonly = "true" })
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                @if (Model.PageMode)
                {
                    <div class="row">
                        <input type="button" value="Add Port" class="btn btn-success" onclick="addLoadPort(); return false;" />
                        <input type="button" value="Delete Port" class="btn btn-primary" onclick="delLoadPort(); return false;" />
                    </div>
                }

                <!-- Discharge Port -->
                <div class="row">
                    <div class="col-md-10">
                        <p>Discharge Port<span style="color:red">*</span></p>
                        <table class="table table-bordered DisportTable">
                            <thead>
                                <tr>
                                    <th>Port No.</th>
                                    <th>Port Name</th>
                                    <th>Port Charge</th>
                                </tr>
                            </thead>
                            <tbody id="tblDisPort">
                                @if (Model.PageMode)
                                {
                                    if (Model.TceMKDetail != null)
                                    {
                                        if (Model.TceMKDetail.dis_ports != null)
                                        {
                                            for (int i = 0; i < Model.TceMKDetail.dis_ports.Count; i++)
                                            {
                                                <tr>
                                                    <td style="text-align: center; vertical-align: middle;">
                                                        @Html.LabelFor(m => m.TceMKDetail.dis_ports[i].port_order, Model.TceMKDetail.dis_ports[i].port_order)
                                                    </td>
                                                    <td>
                                                        @Html.DropDownListFor(m => m.TceMKDetail.dis_ports[i].port, new SelectList(Model.lstPort, "Value", "Text", Model.TceMKDetail.dis_ports[i].port), new { @class = "form-control ddldisport" })
                                                    </td>
                                                    <td>
                                                        @Html.TextBoxFor(m => m.TceMKDetail.dis_ports[i].port_value, Model.TceMKDetail.dis_ports[i].port_value, new { @class = "form-control txtdisport_value doubleVal" })
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td style="text-align: center; vertical-align: middle;">
                                                @Html.LabelFor(m => m.TceMKDetail.dis_ports[0].port_order, Model.TceMKDetail.dis_ports[0].port_order)
                                            </td>
                                            <td>
                                                @Html.DropDownListFor(m => m.TceMKDetail.dis_ports[0].port, new SelectList(Model.lstPort, "Value", "Text", Model.TceMKDetail.dis_ports[0].port), new { @class = "form-control ddldisport" })
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(m => m.TceMKDetail.dis_ports[0].port_value, Model.TceMKDetail.dis_ports[0].port_value, new { @class = "form-control txtdisport_value doubleVal", @step = "any" })
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    if (Model.TceMKDetail != null && Model.TceMKDetail.dis_ports != null)
                                    {
                                        for (int i = 0; i < Model.TceMKDetail.dis_ports.Count; i++)
                                        {
                                            <tr>
                                                <td style="text-align: center; vertical-align: middle;">
                                                    @Html.LabelFor(m => m.TceMKDetail.dis_ports[i].port_order, Model.TceMKDetail.dis_ports[i].port_order)
                                                </td>
                                                <td>
                                                    @Html.DropDownListFor(m => m.TceMKDetail.dis_ports[i].port, new SelectList(Model.lstPort, "Value", "Text", Model.TceMKDetail.dis_ports[i].port), new { @class = "form-control ddldisport", @disabled = "disabled" })
                                                    @Html.HiddenFor(m => m.TceMKDetail.dis_ports[i].port, Model.TceMKDetail.dis_ports[i].port)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.TceMKDetail.dis_ports[i].port_value, Model.TceMKDetail.dis_ports[i].port_value, new { @class = "form-control txtdisport_value doubleVal", @step = "any", @readonly = "true" })
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                @if (Model.PageMode)
                {
                    <div class="row">
                        <input type="button" value="Add Dis/Port" class="btn btn-success" onclick="addDisPort(); return false;" />
                        <input type="button" value="Delete Dis/Port" class="btn btn-primary" onclick="delDisPort(); return false;" />
                    </div>
                            <div class="row">&nbsp;</div>
                }

                <!-- Button -->
                <div class="col-md-12" style="text-align:center;">
                    <div class="form-group">

                        @if (Model.PageMode && !Model.GenButton)
                        {
                            @*<input type="submit" value="SAVE DRAFT" class="btn btn-default" onclick="OpenBoxBungerPrompt('Comment :', 'SaveDraft'); return false;" />*@
                            <input type="submit" value="SUBMIT" class="btn btn-default" name="action:Submit" onclick="OpenBoxBungerPrompt('Comment :', 'Submit'); return false;" />

                            @*<input type="submit" value="SAVE DRAFT" id="btnSaveDraft" style="display: none;" name="action:SaveDraft" />*@
                            <input type="submit" value="SUBMIT" id="btnSubmit" style="display: none;" name="action:Submit" />
                        }
                        else
                        {
                            @Html.Hidden("hdfEventClick")
                            @Html.Raw(@ViewBag.ButtonCode)
                        }
                        <input type="submit" value="BACK" id="btnBack" name="action:Back" class="btn btn-default" />
                    </div>
                </div>
            </div>



</form>
    </div>
</div>
@if (TempData["res_message"] != null)
{
    if (TempData["returnPage"] != null)
    {
        <script type="text/javascript">
            OpenBoxPopupLink((@Html.Raw(Json.Encode(TempData["res_message"]))), @Html.Raw(Json.Encode(TempData["returnPage"]))).done(function() {
                $("#EventButton").val("0");
            });
        </script>
    }
    else
    {
        <script type="text/javascript">
            OpenBoxPopup(@Html.Raw(Json.Encode(TempData["res_message"]))).done(function() {
                $("#EventButton").val("0");
            });
        </script>
    }
}

<script type="text/javascript">
    $(function() {
        CheckLengthCtrl();

        onSetCommas();
        onSetCommasChange();
    });
    $(".doubleVal").bind("keypress", function(e) {
        if (e.which != 8 && e.which != 0 && e.which != 46 && (e.which < 48 || e.which > 57)) {
            return false;
        }else {
            if( e.which ==46 &&  ($(this).val().indexOf('.') >= 0)){
                return false;
            }
        }
    });

    function onSetCommas() {
        $(".doubleVal").each(function() {
            var value = parseFloat($(this).val().replace(/,/g,''));
            if (!isNaN(value)) {                
                $(this).val(value.toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}));
            }        
        });     
    }

    function onSetCommasChange() {
        $(".doubleVal").blur(function() {
            var value = parseFloat($(this).val().replace(/,/g,''));
            if (!isNaN(value)) {                
                $(this).val(value.toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}));
            }
        });
    }

    function onSetOnlyNumber() {
        $(".doubleVal").bind("keypress", function(e) {
            if (e.which != 8 && e.which != 0 && e.which != 46 && (e.which < 48 || e.which > 57)) {
                return false;
            }else {
                if( e.which ==46 &&  ($(this).val().indexOf('.') >= 0)){
                    return false;
                }
            }
        });
    }

    function addLoadPort() {
        var i = $("#tblLoadPort tr").length;
        var newPort = "<tr><td style='text-align: center; vertical-align: middle;'>" + (i + 1) + "</td>";
        newPort += '<td><select class="form-control ddlloadport" id="TceMKDetail_load_ports_0__port" name="TceMKDetail.load_ports[0].port">' +
         @foreach (var option in Model.lstPort)
         {
            @:'<option value="@option.Value">@option.Text</option>' +
            }
        '</select></td>';
        newPort += '<td><input class="form-control txtloadport_value doubleVal" id="TceMKDetail_load_ports_0__port_value" name="TceMKDetail.load_ports[0].port_value" step="any" value=""></td>';
        newPort += '</tr>';
        newPort = newPort.replace(/_0_/g, "_" + i + "_");
        newPort = newPort.replace(/\[0\]/g, "[" + i + "]");
        $("#tblLoadPort").append(newPort);
        CheckLengthCtrl();
        onSetOnlyNumber();
        onSetCommasChange();
    }

    function delLoadPort() {
        //delete last row of load port unless it has 1.
        if ($("#tblLoadPort > tr").length > 1) {
            $("#tblLoadPort > tr").last().remove();
        }
    }

    function addDisPort() {
        var i = $("#tblDisPort tr").length;
        var newPort = "<tr><td style='text-align: center; vertical-align: middle;'>" + (i + 1) + "</td>";
        //newPort += '<td><input class="form-control ddldisport" id="TceMKDetail_dis_ports_0__disport" name="Model.TceMKDetail.dis_ports[0].port" type="text" value=""></td>';
        newPort += '<td><select class="form-control ddldisport" id="TceMKDetail_dis_ports_0__port" name="TceMKDetail.dis_ports[0].port">' +
         @foreach (var option in Model.lstPort)
        {
            @:'<option value="@option.Value">@option.Text</option>' +
            }
        '</select></td>';
        newPort += '<td><input class="form-control txtdisport_value doubleVal" id="TceMKDetail_dis_ports_0__port_value" name="TceMKDetail.dis_ports[0].port_value" step="any" value=""></td>';
        newPort += '</tr>';
        newPort = newPort.replace(/0/g, i);
        $("#tblDisPort").append(newPort);
        CheckLengthCtrl();
        onSetOnlyNumber();
        onSetCommasChange();
    }

    function delDisPort() {
        //delete last row of dis port unless it has 1.
        if ($("#tblDisPort > tr").length > 1) {
            $("#tblDisPort > tr").last().remove();
        }
    }

    window.onbeforeunload = function (evt) {
        var btnclick = false;
        if ($('#EventButton').val() == "0") {
            btnclick = true;
        }
        if (btnclick) {
            return "If you leave this page, your information will not be updated.";
        }
    }

    function finalizeNumber() {
        $(".doubleVal").each(function() {    
            if (isNaN($(this).val().replace(/,/g,''))) {
                $(this).val("");
            } else {
                //$(this).val($(this).val().replace(/,/g,''));
                var values = $(this).val().replace(/,/g,'');
                if (values.split(".")[1] == "00") {
                    $(this).val(values.split(".")[0]);
                } else {
                    $(this).val(values);
                }
            }           
        });
    }

    function OpenBoxBungerPrompt(MSG, Event) {      
        finalizeNumber();
        if (Event.toUpperCase() == "SUBMIT") {
            if (!ValidateBeforeSave()) {
                return false;
            } else {
                
            }                
        }

        $('#EventButton').val("1");
        $('form').attr('target', '_self');
        
        if (Event != "SaveDraft" && Event != "Submit") {
            if ($("#hdfEventClick").length != 0) {
                $("#hdfEventClick").val(Event);
            }
        }

        bootbox.prompt("Are you sure to submit?", function (result) {
            if (result === null) {
                //Do nothing (cancel button pressed)
                $('#EventButton').val("0");
                onSetCommas();
            } else {
                $("#hdfNoteAction").val(result);
                $('form').attr('target', '_self');
                if (Event == "SaveDraft" ) {
                    //finalizeNumber();
                    //setTimeout(function() {
                        $("#btnSaveDraft").click();
                    //}, 1000);                    
                } else if (Event == "Submit") {
                    //finalizeNumber();
                    //setTimeout(function() {
                        $("#btnSubmit").click();
                    //}, 1000);            
                    
                } else {
                    $("#btnMANUAL").click();
                }
                LoadingProcess();
            }
        });
    }

    function CheckLengthCtrl() {
        CheckLength('@Html.IdFor(m => m.TceMKDetail.tc_rate)', '20');
        CheckLength('@Html.IdFor(m => m.TceMKDetail.operating_days )', '20');
        CheckLength('@Html.IdFor(m => m.TceMKDetail.fo_mt)', '20');
        CheckLength('@Html.IdFor(m => m.TceMKDetail.go_mt)', '20');
        CheckLength('@Html.IdFor(m => m.TceMKDetail.bunker_cost_fo)', '20');
        CheckLength('@Html.IdFor(m => m.TceMKDetail.bunker_cost_go)', '20');
        CheckLength('@Html.IdFor(m => m.TceMKDetail.other_cost)', '20');
        CheckLength('@Html.IdFor(m => m.TceMKDetail.flat_rate)', '20');
        CheckLength('@Html.IdFor(m => m.TceMKDetail.demurrage)', '20');
        CheckLength('@Html.IdFor(m => m.TceMKDetail.minload)', '20');
        CheckLength('@Html.IdFor(m => m.TceMKDetail.theoritical_days)', '20');

        CheckLength('@Html.IdFor(m => m.TceMKDetail.tc_num)', '50');
        CheckLength('@Html.IdFor(m => m.TceMKDetail.go_unit_price)', '20');
        CheckLength('@Html.IdFor(m => m.TceMKDetail.fo_unit_price)', '20');
        $('.txtloadport_value').each(function () {
            CheckLength(this.id, '20');
        });
        $('.txtdisport_value').each(function () {
            CheckLength(this.id, '20');
        });
        CheckDateFormatFT('@Html.IdFor(m => m.TceMKDetail.date_from)');
    }

    function ReMoveValidateClass(){
        $(".txtdate_from").removeClass("input-error");
        $(".txtloadingdate_from").removeClass("input-error");
        $(".ddltd").removeClass("input-error");
        $(".ddlvessel").removeClass("input-error");
        $(".txtvoy_no").removeClass("input-error");
        $(".txtmonth").removeClass("input-error");
        $(".txttc_rate").removeClass("input-error");
        $(".txtoperating_days").removeClass("input-error");
        $(".ddlloadport").removeClass("input-error");
        $(".txtloadport_value").removeClass("input-error");
        $(".ddldisport").removeClass("input-error");
        $(".txtdisport_value").removeClass("input-error");
        $(".txtbunker_cost_fo").removeClass("input-error");
        $(".txtbunker_cost_go").removeClass("input-error");
        $(".txtother_cost").removeClass("input-error");
        $(".txtflat_rate").removeClass("input-error");
        $(".txtminload").removeClass("input-error");
        $(".txttheoritical_days").removeClass("input-error");
        $(".txtdemurrage").removeClass("input-error");
        $(".txtfo_mt").removeClass("input-error");
        $(".txtgo_mt").removeClass("input-error");
        $(".txtdate_from").removeClass("input-error");
        $(".txtloadingdate_from").removeClass("input-error");

        $(".txttc_num").removeClass("input-error");
        $(".txtfo_unit_price").removeClass("input-error");
        $(".txtgo_unit_price").removeClass("input-error");
    }
    function ValidateBeforeSave(){
        ReMoveValidateClass();
        var FocusCtrl = "";
        var i = 0;
        var MSGError = "";
        var isValidate = false;

        if ( $(".txtdate_from").val() + "" == "") {
            i++;
            addValidMessageError($('.txtdate_from'), "Please input Value.");
            if (FocusCtrl == "") FocusCtrl = 'txtdate_from';
            isValidate = true;
        }
        if ( $(".txtloadingdate_from").val() + "" == "") {
            i++;
            addValidMessageError($('.txtloadingdate_from'), "Please input Value.");
            if (FocusCtrl == "") FocusCtrl = 'txtloadingdate_from';
            isValidate = true;
        }
        if ($(".ddltd").find("option:selected").text() + "" == "Please select") {
            i++;
            addValidMessageError($('.ddltd'), "Please input Value.");
            if (FocusCtrl == "") FocusCtrl = 'ddltd';
            isValidate = true;
        }
        if ($(".ddlvessel").find("option:selected").text() + "" == "Please select") {
            i++;
            addValidMessageError($('.ddlvessel'), "Please input Value.");
            if (FocusCtrl == "") FocusCtrl = 'ddlvessel';
            isValidate = true;
        }
        //if ( $(".txtvoy_no").val() + "" == "") {
        //    i++;
        //    addValidMessageError($('.txtvoy_no'), "Please input Value.");
        //    if (FocusCtrl == "") FocusCtrl = 'txtvoy_no';
        //}
        if ( $(".txtmonth").val() + "" == "") {
            i++;
            addValidMessageError($('.txtmonth'), "Please input Value.");
            if (FocusCtrl == "") FocusCtrl = 'txtmonth';
            isValidate = true;
        }
        if ( $(".txttc_rate").val() + "" == "") {
            i++;
            addValidMessageError($('.txttc_rate'), "Please input Value.");
            if (FocusCtrl == "") FocusCtrl = 'txttc_rate';
            isValidate = true;
        }
        if ( $(".txtoperating_days").val() + "" == "") {
            i++;
            addValidMessageError($('.txtoperating_days'), "Please input Value.");
            if (FocusCtrl == "") FocusCtrl = 'txtoperating_days';
            isValidate = true;
        }
        if ( $(".txtfo_mt").val() + "" == "") {
            i++;
            addValidMessageError($('.txtfo_mt'), "Please input Value.");
            if (FocusCtrl == "") FocusCtrl = 'txtfo_mt';
            isValidate = true;
        }
        if ( $(".txtgo_mt").val() + "" == "") {
            i++;
            addValidMessageError($('.txtgo_mt'), "Please input Value.");
            if (FocusCtrl == "") FocusCtrl = 'txtgo_mt';
            isValidate = true;
        }
        $(".ddlloadport").each(function(){
            if ($(this).find("option:selected").text() + "" == "Please select") {
                i++;
                addValidMessageError($('.ddlloadport'), "Please input Value.");
                if (FocusCtrl == "") FocusCtrl = 'ddlloadport';
                isValidate = true;
            }
        });

        if ( $(".txtloadport_value").val() + "" == "") {
            i++;
            addValidMessageError($('.txtloadport_value'), "Please input Value.");
            if (FocusCtrl == "") FocusCtrl = 'txtloadport_value';
            isValidate = true;
        }
        $(".ddldisport").each(function(){
            if ($(this).find("option:selected").text() + "" == "Please select") {
                i++;
                addValidMessageError($('.ddldisport'), "Please input Value.");
                if (FocusCtrl == "") FocusCtrl = 'ddldisport';
                isValidate = true;
            }
        });

        if ( $(".txtdisport_value").val() + "" == "") {
            i++;
            addValidMessageError($('.txtdisport_value'), "Please input Value.");
            if (FocusCtrl == "") FocusCtrl = 'txtdisport_value';
            isValidate = true;
        }

        if ( $(".txtbunker_cost_fo").val() + "" == "") {
            i++;
            addValidMessageError($('.txtbunker_cost_fo'), "Please input Value.");
            if (FocusCtrl == "") FocusCtrl = 'txtbunker_cost_fo';
            isValidate = true;
        }
        if ( $(".txtbunker_cost_go").val() + "" == "") {
            i++;
            addValidMessageError($('.txtbunker_cost_go'), "Please input Value.");
            if (FocusCtrl == "") FocusCtrl = 'txtbunker_cost_go';
            isValidate = true;
        }
        //if ( $(".txtother_cost").val() + "" == "") {
        //    i++;
        //    addValidMessageError($('.txtother_cost'), "Please input Value.");
        //    if (FocusCtrl == "") FocusCtrl = 'txtother_cost';
        //}
        if ( $(".txtflat_rate").val() + "" == "") {
            i++;
            addValidMessageError($('.txtflat_rate'), "Please input Value.");
            if (FocusCtrl == "") FocusCtrl = 'txtflat_rate';
            isValidate = true;
        }
        if ( $(".txtminload").val() + "" == "") {
            i++;
            addValidMessageError($('.txtminload'), "Please input Value.");
            if (FocusCtrl == "") FocusCtrl = 'txtminload';
            isValidate = true;
        }
        //if ( $(".txtdemurrage").val() + "" == "") {
        //    i++;
        //    addValidMessageError($('.txtdemurrage'), "Please input Value.");
        //    if (FocusCtrl == "") FocusCtrl = 'txtdemurrage';
        //}
        if ( $(".txttheoritical_days").val() + "" == "") {
            i++;
            addValidMessageError($('.txttheoritical_days'), "Please input Value.");
            if (FocusCtrl == "") FocusCtrl = 'txttheoritical_days';
            isValidate = true;
        }

        if ( $(".txttc_num").val() + "" == "") {
            i++;
            addValidMessageError($('.txttc_num'), "Please input Value.");
            if (FocusCtrl == "") FocusCtrl = 'txttc_num';
            isValidate = true;
        }
        if ( $(".txtfo_unit_price").val() + "" == "") {
            i++;
            addValidMessageError($('.txtfo_unit_price'), "Please input Value.");
            if (FocusCtrl == "") FocusCtrl = 'txtfo_unit_price';
            isValidate = true;
        }
        if ( $(".txtgo_unit_price").val() + "" == "") {
            i++;
            addValidMessageError($('.txtgo_unit_price'), "Please input Value.");
            if (FocusCtrl == "") FocusCtrl = 'txtgo_unit_price';
            isValidate = true;
        }

        var HaveDup =false;
        $('.ddlloadport').each(function () {
            var Sup = $(this).find("option:selected").text();
            count = 0;
            $('.ddlloadport').each(function () {
                if (Sup == $(this).find("option:selected").text()) {
                    count++;
                }
                if (count > 1) { HaveDup = true; }
            });
        });
        if (HaveDup) {
            i++;
            if (FocusCtrl == "") FocusCtrl = '#LoadportTable';
            if (MSGError == "") MSGError = "ไม่สามารถบันทึก Port ซ้ำกันได้";            
            isValidate = true;
        }

        if ($('.ddlloadport').length <= 0) {
            i++;
            if (FocusCtrl == "") FocusCtrl = '#LoadportTable';
            if (MSGError == "") MSGError = "ไม่สามารถบันทึกโดยไม่มี Port ได้";
            isValidate = true;
        }

        $('.ddldisport').each(function () {
            var Sup = $(this).find("option:selected").text();
            count = 0;
            $('.ddldisport').each(function () {
                if (Sup == $(this).find("option:selected").text()) {
                    count++;
                }
                if (count > 1) { 
                    HaveDup = true; 
                    isValidate = true;
                }
            });
        });
        if (HaveDup) {
            i++;
            if (FocusCtrl == "") FocusCtrl = '#DisportTable';
            if (MSGError == "") MSGError = "ไม่สามารถบันทึก Port ซ้ำกันได้";
            isValidate = true;
        }

        if ($('.ddldisport').length <= 0) {
            i++;
            if (FocusCtrl == "") FocusCtrl = '#DisportTable';
            if (MSGError == "") MSGError = "ไม่สามารถบันทึกโดยไม่มี Port ได้";
            isValidate = true;
        }

        if (isValidate) {
            onSetCommas();
        }

        if (FocusCtrl != "") $(FocusCtrl).focus();
        if (i > 0) {
            if (MSGError != "") { OpenBoxPopup(MSGError); }
            return false;
        }
        return true;
    }

   

   // $('.txtdate_from').dateRangePicker(
   //{
   //    autoClose: true,
   //    singleDate: false,
   //    showShortcuts: false,
   //    format: "DD/MM/YYYY"
   //});

</script>

<!-- Function for Date   -->
<script type="text/javascript">

    // string date format("DD/MM/YYYY")
    function convertSrtingToDate(strDate)
    {
        if(strDate != "")
        {
            var parts = strDate.split('/');
            //please put attention to the month (parts[0]), Javascript counts months from 0:
            // January - 0, February - 1, etc
            return mydate = new Date(parts[2],parts[1],parts[0]);
        }
        else
        {
            return Date.now();
        }
    }

    @if (Model.PageMode)
     {
         @Html.Raw(
            "$('.txtdate_from').dateRangePicker(" +
            " {" +
                    "autoClose: true," +
                    "singleDate: false," +
                    "showShortcuts: false," +
                    "startOfWeek: 'monday'," +
                    "format: \"DD/MM/YYYY\"" +
                "}).bind('datepicker-change', function(evt, obj) {" +
                "setDayText(\"txtoperating_days\", obj.date1, obj.date2)" +
            "});");

         @Html.Raw(
            "$('.txtloadingdate_from').dateRangePicker(" +
            " {" +
                    "autoClose: true," +
                    "singleDate: false," +
                    "showShortcuts: false," +
                    "startOfWeek: 'monday'," +
                    "format: \"DD/MM/YYYY\"" +
                "});");
     }


    $(".txtdate_from").on('change keydown paste input', function(){
        setDay("txtdate_from","txtoperating_days");
    });

    //$(".txtloadingdate_from").on('change keydown paste input', function(){
    //    setDay("txtloadingdate_from","txtoperating_days");
    //});

    // Calculate day from date between
    function getDiffDay(dateFrom, dateTo)
    {
        var plus = 1; //สำหรับนับจำนวนวัน หากเลือกวันเริ่มต้นกับสิ้นสุดวันเดียวกัน
        var DateDiff = {

            inDays: function (d1, d2) {
                var t2 = d2.getTime();
                var t1 = d1.getTime();

                return parseInt((t2 - t1) / (24 * 3600 * 1000));
            },

            inWeeks: function (d1, d2) {
                var t2 = d2.getTime();
                var t1 = d1.getTime();

                return parseInt((t2 - t1) / (24 * 3600 * 1000 * 7));
            },

            inMonths: function (d1, d2) {
                var d1Y = d1.getFullYear();
                var d2Y = d2.getFullYear();
                var d1M = d1.getMonth();
                var d2M = d2.getMonth();

                return (d2M + 12 * d2Y) - (d1M + 12 * d1Y);
            },

            inYears: function (d1, d2) {
                return d2.getFullYear() - d1.getFullYear();
            }
        }

        //var dString = "May, 20, 1984";

        var d1 = new Date(dateFrom);
        var d2 = new Date(dateTo);


        return DateDiff.inDays(d1, d2) + plus;
    }

    // Set text day to spanId
    function setDayText(txtDayID, dateFrom, dateTo)
    {
        if (dateFrom == "" || dateTo == "" || txtDayID == "")
            return;

        var day = getDiffDay(dateFrom, dateTo);
        var dayShow = "";

        dayShow = day;

        $("." + txtDayID).val(dayShow);
    }
    function setDay(txtDateID,txtDayID)
    {
        var dateVal = $("."+ txtDateID).val();
        if (!$.trim(dateVal).length) { // zero-length string AFTER a trim
            $('.'+txtDayID).val("");
        }
        else
        {
            var dateSplit = dateVal.split(" ");
            setDayText(txtDayID, convertSrtingToDate(dateSplit[0]), convertSrtingToDate(dateSplit[2]));
        }
    }

</script>

<!-- Function for Calculate FO, GO   -->
<script type="text/javascript">

    $(".txtfo_mt").on('change keydown paste input', function(){
        CalculateTotal("txtfo_mt","txtfo_unit_price","txtbunker_cost_fo");
    });

    $(".txtfo_unit_price").on('change keydown paste input', function(){
        CalculateTotal("txtfo_mt","txtfo_unit_price","txtbunker_cost_fo");
    });

    $(".txtgo_mt").on('change keydown paste input', function(){
        CalculateTotal("txtgo_mt","txtgo_unit_price","txtbunker_cost_go");
    });

    $(".txtgo_unit_price").on('change keydown paste input', function(){
        CalculateTotal("txtgo_mt","txtgo_unit_price","txtbunker_cost_go");
    });

    // Set text day to spanId
    function CalculateTotal(txtQtyID, txtPriceID, txtTotalID)
    {
        if (txtQtyID == "" || txtPriceID == "" || txtTotalID == "")
            return;
      
        try{

            if($("."+txtQtyID).val() == "" || $("."+txtPriceID).val() == "")
            {
                $("." + txtTotalID).val("");
                return;
            }
            var qty = 0;
            if($("."+txtQtyID).val() != "")
                qty = parseFloat($("."+txtQtyID).val().replace(/,/g,''));
            var price = 0;
            if($("."+txtPriceID).val() != "")
                price = parseFloat($("."+txtPriceID).val().replace(/,/g,''));

            var total = qty * price;
            $("." + txtTotalID).val(setCommas(total));
        }
        catch(ex)
        {
            $("." + txtTotalID).val("");
        }       
    }

    function setCommas(value) {
        if (!isNaN(value)) {                
            return value.toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2});
        } else {
            return "";
        }
    }

</script>


