﻿﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.GraphBoardViewModel
@{
    ViewBag.Title = "Index";
}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<style type="text/css">
    .clearIcon {
        cursor: pointer;
        color: red;
    }

    .Selectfield {
        font-family: Arial,sans-serif;
        font-size: 12px;
    }

    .select.input-sm {
        width: 50px;
    }

    .table thead > tr > th {
        font-size: 18px;
    }

    .table tr > td {
        font-size: 18px;
    }

    .DisplayNone {
        display: none;
    }
</style>
<div class="wrapper-detail">
    <div>
        <h1 style="font-weight: bold;">TCE Market</h1>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-md-3">
                <label class="col-md-3">Month</label>
                <div class="col-md-9">
                    <div class="box-date">
                        @Html.TextBox("datePurchaseField", null, new { @class = "form-control input-date-picker", @id = "date-range-start" })
                    </div>
                </div>
            </div>   
            <div class="col-md-3">
                <label class="col-md-2 ">Vessel</label>
                <div class="col-md-10 Selectfield">
                    @Html.DropDownListFor(model => model.lstVesselSearch, null, new { @class = "form-control", @id = "ddlVessel" })
                </div>                
            </div>
            <div class="col-md-6">
                <label class="col-md-2">Task ID</label>
                <div class="col-md-9 Selectfield">
                    @Html.DropDownListFor(model => model.lstVoyNo, null, new { @class = "form-control ddlVoyNo", @multiple = "multiple", @id = "ddlVoyNo" })
                </div>
                <div class="col-md-1">
                    <span class="glyphicon glyphicon-search searchIcon" onclick="SearchGraph(false);return false;"  style="cursor: pointer;"></span>
                </div>
            </div>        
           
        </div>
    </div>
    <div class="box box-primary">
        <div class="row">
            <div class="col-lg-12">
                <div class="canvas-wrapper">
                    <div id="ContentGraph" style="height:500px;"> </div>
                    <table id="TableData" class="table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th style="text-align:center; width:80px;">Status</th>
                                <th style="text-align:center; width:100px;" >Ship Name</th>
                                <th style="text-align:center; width:80px;">Month</th>
                                <th style="text-align:center; width:120px;">Task ID.</th>
                                <th style="text-align:center; width:60px;">TD</th>
                                <th style="text-align:center; width:120px;">TCE Benefit/Day<br>($/Day)</th>
                                <th style="text-align:center; width:120px;">TCE Benefit/Voy<br>($)</th>
                                <th style="text-align:center; width:90px;">TC Rate<br>($/Day)</th>
                                <th style="text-align:center; width:100px;">TCE /Day<br>($)</th>
                                <th style="text-align:center;display:none"></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 " style="text-align:right;">
                @*<input type="submit" class="button btn-default" onclick="AddTDVal();return false;" value="Add TD" />*@
                <input type="submit" class="button btn-default" onclick="AddTCEMK();return false;" value="Add TCE Market" />
                <input type="submit" class="button btn-default" onclick="SearchGraph(true);return false;" value="Export Excel" />
            </div>
        </div>
    </div>
</div>
<script>

    $('#ddlVessel').change(function () {
       // GetVoyCharterIn($('#date-range-start').val());

        SearchGraph(false);
    });
            $(function () {
                SetControlddl();
            });
            var _table
            window.onload = function () {

                _table =  $('#TableData').DataTable({
                    "ordering": false ,
                    "searching": false,
                    "info":     false,
                    "createdRow": function ( row, data, index ) {
                        console.log(row);
                        $('td', row).eq(9).addClass('DisplayNone');
                    },

                });
                var GraphDateData= @Html.Raw(Json.Encode(@Model.GraphDate));
                var TDData =  @Html.Raw(Json.Encode(@Model.TDData));
                GennerateGraph(GraphDateData);
                SetDataToTable(TDData);
            }


    function GetVoyCharterIn(DateVal){
        LoadingProcess();
                var _Vessel =$('#ddlVessel').val();
                var req= {DateSearch:DateVal,Vessel:_Vessel}
                $.ajax({
                    type: "POST",
                    url: "GraphBoardTceMK/getVoyCharterOutEvt",
                    data: JSON.stringify(req) ,
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",

                    success: function (data) {

                        SetDataToDDL("ddlVoyNo",data);
                        //$(".ddlVoyNo").empty();
                        //var optionhtml1 = '<option value="' +
                        // 0 + '">' + "--Select State--" + '</option>';
                        //$(".ddlVoyNo").append(optionhtml1);

                        //$.each(data, function (i) {

                        //    var optionhtml = '<option value="' +
                        //data[i].Value + '">' +data[i].Text + '</option>';
                        //    $(".ddlVoyNo").append(optionhtml);
                        //});

                        HideLoadingBox();
                    }
                });
               
            }
            function SearchGraph(BoolExcel){

                var VoyNO = "";
                var _Vessel =$('#ddlVessel').val();
                if (_Vessel==""){
                    OpenBoxPopup("กรุณาเลือก Vessel.");
                    return false;
                }
                $('.select2-selection__choice').each(function () {                    
                    if (VoyNO == "") {
                        VoyNO += $(this).attr("title");
                    } else {
                        VoyNO +="|"+ $(this).attr("title");
                    }
                });

                LoadingProcess();
                var req= {DateSearch:$('#date-range-start').val(),VoyCharter:VoyNO,Vessel:_Vessel,GenExcel:BoolExcel}
                //alert(JSON.stringify(req));
                $.ajax({
                    type: "POST",
                    url: "GraphBoardTceMK/getGraphData",
                    data: JSON.stringify(req),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        
                        SetDataToDDL("ddlVoyNo",data.lstVoyNo);
                        SetDataToTable(data.TDData);
                        GennerateGraph(data.GraphDate);                      

                        if(data.ActionMSG!="" && !BoolExcel)alert(data.ActionMSG);
                        else if(BoolExcel){
                            window.open(data.ActionMSG,'_blank');
                        }
                        HideLoadingBox();
                    }
                });
              
            }

            function SetDataToTable(TRData){
                _table.clear().draw();                
                $.each(TRData, function(i, item) {
                    var row = _table.row.add([
                         //item.TceDate+
                         '<a href="'+ EditFixtureURL(item.ParamVal)+'" ><span><b>'+ item.Status+'</b></span></a>'
                         ,item.VesselName
                         ,item.Month
                         ,item.VoyNo
                         ,item.TD
                         ,currencyFormat(Math.round(item.TCEBenefitDay),0)
                         ,currencyFormat(Math.round(item.TCEBenefitVoy),0)
                         ,currencyFormat(Math.round(item.TCRate),0)
                         ,currencyFormat(Math.round(item.TCEDay),0)
                         ,item.ParamVal
                    ]).draw( false );

                    $('td', row).eq(5).addClass('highlight');
                });
                
                //SetEventpopup();
                //$(".paginate_button").click(function() {SetEventpopup();});
            }

            function currencyFormat(num,digit) {
                if(num != "")
                    return format(Number(num).toFixed(digit));
                else
                    return "";
            }

            function format(x) {
                if(isNaN(x))return "";

                n= x.toString().split('.');
                return n[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",")+(n.length>1?"."+n[1]:"");
            }

            function SetEventpopup(){
                $(".table tr").click(function() {
                    EditFixture($(this).closest('tr').children('td:eq(9)').text());
                });
            }
            function GennerateGraph(DataGraph){

                Highcharts.chart('ContentGraph', {
                    chart: {
                        type: 'spline',
                        zoomType: 'xy'
                    },
                    title: {
                        text: ''
                    },
                    subtitle: {
                        text: ''
                    },
                    xAxis: {
                        type: 'datetime',
                        dateTimeLabelFormats: { // don't display the dummy year
                            //month: '%e. %b',
                            //year: '%b'
                        },
                        title: {
                            text: 'Date'
                        }
                        //categories: labelsJson
                    },
                    yAxis: {
                        title: {
                            text: ''
                        },
                        min: 0
                    },
                    tooltip: {
                        headerFormat: '<b>{series.name}</b><br>',
                        pointFormat: '{point.x:%e. %b}: {point.y:.2f} '
                    },

                    plotOptions: {
                        spline: {
                            marker: {
                                radius: 4,
                                lineColor: '#666666',
                                lineWidth: 1
                            }
                        }
                    },
                    series:DataGraph
                });

               

            }

            function SetControlddl(){
                $('#date-range-start').dateRangePicker(
                   {                      
                       format: 'MM/YYYY',
                   }).bind('datepicker-change', function (evt, obj) {
                       //GetVoyCharterIn($(this).val());
                       SearchGraph(false);
                   });

                $("#date-range-start").on('change', function(){

                    SearchGraph(false);
      
                });

                $("#ddlVoyNo").select2();
                $('#ddlVoyNo').change(function () {
                    $('.select2-search__field').keydown(function (e) {

                        if ($(this).val() == "") {
                            if (e.keyCode == 8) {
                                return false;
                            }
                        }
                    });
                });
               
            }

            //function AddTDVal(){
            //    window.location.href ="/CPAIMVC/GraphBoardTCEMK/AddTD";
            //}

            function AddTCEMK(){
                window.location.href ='@Url.Action("AddTceMK", "GraphBoardTCEMK")';//  "CPAIMVC/GraphBoardTCEMK/AddTceMK";
            }

    function EditFixture(ItemID){
        window.location.href ='@Url.Action("AddTceMK", "GraphBoardTCEMK")'+ItemID;//  "CPAIMVC/GraphBoardTCEMK/AddTceMK";
    }
    function EditFixtureURL(ItemID){
        if(ItemID!=""){
            
            return '@Url.Action("AddTceMK", "GraphBoardTceMK")'+ItemID;
        }
    }

    function SetDataToDDL(name, data)
    {
        var ddlName = "."+name;
        $(ddlName).empty();

        $.each(data, function (i) {
            var optionhtml = '<option value="' +
            data[i].Value + '">' +data[i].Text + '</option>';
            $(ddlName).append(optionhtml);
        });
    }
    
</script>
