﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.ReverseFIDocumentResult
@{
    ViewBag.Title = "Result";
}

@using (Html.BeginForm("PCF", "ReverseFIDocument", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="page-header">
        <h1>Result</h1>
    </div>
    <div class="col-md-12">
        @if (Model.Pass)
        {
            <div class="form-group">
                <label class="control-label col-sm-2">Revised Document No.:</label>
                <div class="col-sm-2">
                    @Html.DisplayTextFor(model => model.SAPReverseDocNo)
                </div>
            </div>
        }
        else
        {
            <div class="form-group">
                <label class="control-label col-sm-4">Error - @Model.ResultMessage</label>
            </div>
        }

        <div class="form-group">
            <div class="pull-left">
                <button type="submit" class="btn btn-primary">Back</button>
            </div>
            <div class="pull-right">
            </div>
        </div>
    </div>
}
