﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.PCFPurchaseEntryViewModel_SearchData
@{
    ViewBag.Title = "Data Confirmation for Reverse FI Document";
    bool foundResult = false;
    if (!String.IsNullOrEmpty(Model.TripNo))
    {
        foundResult = true;
    }
}

<div id="divDataConfirmation">
    @using (Html.BeginForm("SendPCFTrain", "ReverseFIDocument", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <div id="divPurchaseOrder">
            <h1>Data Confirmation for Reverse FI Document</h1>
            <h2>Purchase Order</h2>
            <table id="tblHeader" class="table">
                <thead>
                    <tr>
                        <th>Trip No.</th>
                        <th>Vessel</th>
                        <th>PO No.</th>
                        <th>Crude/Feedstock/Product</th>
                        <th>Supplier</th>
                        <th>QTY (KBBL)</th>
                        <th>QTY (KMT)</th>
                        <th>Purchase Type</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayTextFor(model => model.TripNo)
                            @Html.HiddenFor(x => x.TripNo)
                            @Html.HiddenFor(x => x.MatItemNo)
                        </td>
                        <td>@Model.Vessel</td>
                        <td>@Model.PoNo</td>
                        <td>@Model.Crude</td>
                        <td>@Model.Supplier</td>
                        <td>@Model.VolumeBBL</td>
                        <td>@Model.VolumeMT</td>
                        <td>@Model.PurchaseType</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="divPurchaseEntry" style="overflow:auto">
            <h2>PCF Purchase Entry - Train</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th rowspan="2">No.</th>
                        <th colspan="4">Bill of Lading (B/L)</th>
                        <th colspan="4">Goods Received - Outturn</th>
                        <th rowspan="2">FOB Price</th>
                        <th rowspan="2">Freight Price</th>
                        <th rowspan="2">C & F Price</th>
                        <th rowspan="2">ROE</th>
                        <th rowspan="2">FOB Amount USD</th>
                        <th rowspan="2">FOB Amount THB</th>
                        <th rowspan="2">Freight Amount USD</th>
                        <th rowspan="2">Freight Amount THB</th>
                        <th rowspan="2">C & F Amount USD</th>
                        <th rowspan="2">C & F Amount THB</th>
                        <th rowspan="2">C & F VAT 7% THB</th>
                        <th rowspan="2">C & F Total Amount USD</th>
                        <th rowspan="2">C & F Total Amount THB</th>
                        <th rowspan="2">SAP FI Doc.</th>
                        <th rowspan="2">SAP FI Doc. Status</th>
                        <th rowspan="2">Last Updated</th>
                        <th rowspan="2">Updated By</th>
                    </tr>
                    <tr>
                        <th>Date</th>
                        <th>Volume (BBL)</th>
                        <th>Volume (MT)</th>
                        <th>Volume (L30)</th>
                        <th>Date</th>
                        <th>Volume (BBL)</th>
                        <th>Volume (MT)</th>
                        <th>Volume (L30)</th>
                    </tr>
                </thead>
                <tbody>

                    @if (Model.sOutturn != null)
                    {
                        for (int idx = 0; idx < Model.sOutturn.Count(); idx++)
                        {
                            <tr>
                                <td>@Html.DisplayTextFor(model => model.sOutturn[idx].ItemNo)
                                @Html.HiddenFor(model => model.sOutturn[idx].ItemNo)
                                @Html.HiddenFor(model => model.sOutturn[idx].BLDate)</td>
                                <td>@Html.DisplayTextFor(model => model.sOutturn[idx].BLDate)</td>
                                <td>@Html.DisplayTextFor(model => model.sOutturn[idx].BlQtyBbl)</td>
                                <td>@Html.DisplayTextFor(model => model.sOutturn[idx].BlQtyMt)</td>
                                <td>@Html.DisplayTextFor(model => model.sOutturn[idx].BlQtyMl)</td>
                                <td>@Html.DisplayTextFor(model => model.sOutturn[idx].PostingDate)</td>
                                <td>@Html.DisplayTextFor(model => model.sOutturn[idx].QtyBbl)</td>
                                <td>@Html.DisplayTextFor(model => model.sOutturn[idx].QtyMt)</td>
                                <td>@Html.DisplayTextFor(model => model.sOutturn[idx].QtyMl)</td>
                                <td>@Html.DisplayTextFor(model => model.sOutturn[idx].FOBPrice)</td>
                                <td>@Html.DisplayTextFor(model => model.sOutturn[idx].FreightPrice)</td>
                                <td>@Html.DisplayTextFor(model => model.sOutturn[idx].CnFPrice)</td>
                                <td>@Html.DisplayTextFor(model => model.sOutturn[idx].ROE)</td>
                                <td>@Html.DisplayTextFor(model => model.sOutturn[idx].FOBAmountUSD)</td>
                                <td>@Html.DisplayTextFor(model => model.sOutturn[idx].FOBAmountTHB)</td>
                                <td>@Html.DisplayTextFor(model => model.sOutturn[idx].FreightAmountUSD)</td>
                                <td>@Html.DisplayTextFor(model => model.sOutturn[idx].FreightAmountTHB)</td>
                                <td>@Html.DisplayTextFor(model => model.sOutturn[idx].CnFAmountUSD)</td>
                                <td>@Html.DisplayTextFor(model => model.sOutturn[idx].CnFAmountTHB)</td>
                                <td>@Html.DisplayTextFor(model => model.sOutturn[idx].CnFVat7)</td>
                                <td>@Html.DisplayTextFor(model => model.sOutturn[idx].CnFTotalAmountUSD)</td>
                                <td>@Html.DisplayTextFor(model => model.sOutturn[idx].CnFTotalAmountTHB)</td>
                                <td>@Html.DisplayTextFor(model => model.sOutturn[idx].SAPFIDoc)</td>
                                <td>@Html.DisplayTextFor(model => model.sOutturn[idx].SAPFIDocStatus)</td>
                                <td nowrap>@Html.DisplayTextFor(model => model.sOutturn[idx].UpdatedDate)</td>
                                <td nowrap>@Html.DisplayTextFor(model => model.sOutturn[idx].UpdatedBy)</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <br />
        <div id="divButton">
            @if (foundResult)
            {
                <input type="submit" class="btn btn-primary" value="Reverse" />
            }
            <input type="button" class="btn btn-primary" value="Back" onclick="window.history.back()" />
        </div>
    }
</div>