﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.PurchaseEntryViewModel_SearchData
@{
    ViewBag.Title = "Data Confirmation for Reverse FI Document";
    bool foundResult = false;
    if(!String.IsNullOrEmpty(Model.PoNo))
    {
        foundResult = true;
    }
}

<div id="divDataConfirmation">
    @using (Html.BeginForm("Send", "ReverseFIDocument", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <div id="divPurchaseOrder">
            <h1>Data Confirmation for Reverse FI Document</h1>
            <h2>Purchase Order</h2>
            <table id="tblHeader" class="table">
                <thead>
                    <tr>
                        <th>Trip No.</th>
                        <th>PO No.</th>
                        <th>PO Date</th>
                        <th>Product</th>
                        <th>Supplier</th>
                        <th>Incoterms</th>
                        <th>Volume</th>
                        <th>Vol. Unit</th>
                        <th>Price</th>
                        <th>Total</th>
                        <th>Currency</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model.TripNo</td>
                        <td>
                            @Model.PoNo
                            @Html.HiddenFor(x => x.PoNo)
                            @Html.HiddenFor(x => x.PoItem)
                            @Html.HiddenFor(x => x.PoDate)
                        </td>
                        <td>@Model.PoDate</td>
                        <td>@Model.Product</td>
                        <td>@Model.Supplier</td>
                        <td>@Model.Incoterms</td>
                        <td>@Model.Volume</td>
                        <td>@Model.VolumeUnit</td>
                        <td>@Model.Price</td>
                        <td>@Model.Total</td>
                        <td>@Model.Currency</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="divPurchaseEntry" style="overflow:auto">
            <h2>Purchase Entry</h2>
            <table class="table">
                <thead>
                    <tr>                        
                        <th rowspan="2">No.</th>
                        <th colspan="4">Bill of Lading (B/L)</th>
                        <th colspan="4">Goods Received - Outturn</th>
                        <th rowspan="2">Price</th>
                        <th rowspan="2">ROE</th>
                        <th rowspan="2">Amount USD</th>
                        <th rowspan="2">Amount THB</th>
                        <th rowspan="2">VAT 7% THB</th>
                        <th rowspan="2">Total Amount USD</th>
                        <th rowspan="2">Total Amount THB</th>
                        <th rowspan="2">SAP FI Doc.</th>
                        <th rowspan="2">SAP FI Doc. Status</th>
                        <th rowspan="2">Last Updated</th>
                        <th rowspan="2">Updated By</th>
                    </tr>
                    <tr>
                        <th>Date</th>
                        <th>Volume (BBL)</th>
                        <th>Volume (MT)</th>
                        <th>Volume (L30)</th>
                        <th>Date</th>
                        <th>Volume (BBL)</th>
                        <th>Volume (MT)</th>
                        <th>Volume (L30)</th>
                    </tr>
                </thead>
                <tbody>

                    @if (Model.sOutturn != null)
                    {
                        for (int idx = 0; idx < Model.sOutturn.Count(); idx++)
                        {
                            <tr>
                                <td>@Html.DisplayTextFor(model => model.sOutturn[idx].ItemNo)</td>
                                <td>@Html.DisplayTextFor(model => model.sOutturn[idx].BLDate)</td>
                                <td>@Html.DisplayTextFor(model => model.sOutturn[idx].BlQtyBbl)</td>
                                <td>@Html.DisplayTextFor(model => model.sOutturn[idx].BlQtyMt)</td>
                                <td>@Html.DisplayTextFor(model => model.sOutturn[idx].BlQtyMl)</td>
                                <td>@Html.DisplayTextFor(model => model.sOutturn[idx].PostingDate)</td>
                                <td>@Html.DisplayTextFor(model => model.sOutturn[idx].QtyBbl)</td>
                                <td>@Html.DisplayTextFor(model => model.sOutturn[idx].QtyMt)</td>
                                <td>@Html.DisplayTextFor(model => model.sOutturn[idx].QtyMl)</td>
                                <td>@Html.DisplayTextFor(model => model.sOutturn[idx].Price)</td>
                                <td>@Html.DisplayTextFor(model => model.sOutturn[idx].ROE)</td>
                                <td>@Html.DisplayTextFor(model => model.sOutturn[idx].AmountUSD)</td>
                                <td>@Html.DisplayTextFor(model => model.sOutturn[idx].AmountTHB)</td>
                                <td>@Html.DisplayTextFor(model => model.sOutturn[idx].Vat7)</td>
                                <td>@Html.DisplayTextFor(model => model.sOutturn[idx].TotalAmountUSD)</td>
                                <td>@Html.DisplayTextFor(model => model.sOutturn[idx].TotalAmountTHB)</td>
                                <td>@Html.DisplayTextFor(model => model.sOutturn[idx].SAPFIDoc)</td>
                                <td>@Html.DisplayTextFor(model => model.sOutturn[idx].SAPFIDocStatus)</td>
                                <td nowrap>@Html.DisplayTextFor(model => model.sOutturn[idx].UpdatedDate)</td>
                                <td nowrap>
                                    @Html.DisplayTextFor(model => model.sOutturn[idx].UpdatedBy)
                                    @Html.HiddenFor(x => x.sOutturn[idx].ItemNo)
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <br />
        <div id="divButton">
            @if(foundResult)
            {
                <input type="submit" class="btn btn-primary" value="Reverse" />
            }
                <input type="button" class="btn btn-primary" value="Back" onclick="window.history.back()" />
        </div>
    }
</div>