﻿body {
}

.required {
    color: red;
}


.validate-message-alert {
    display: block;
    position: absolute;
    padding: 8px 20px;
    font-weight: bold;
    border-radius: 5px;
    font-size: 14px;
    box-shadow: 2px 2px 5px 0 #999;
}

    .validate-message-alert > i:first-child {
        display: block;
        position: absolute;
        right: 0;
        margin-right: 10px;
        bottom: -12px;
        font-size: 30px;
        color: #fe5e5e;
    }

.validate-message-error {
    background-color: #fe5e5e;
    color: #fff;
}

.popup-message-alert {
    display: block;
    position: absolute;
    padding: 8px 20px;
    font-weight: bold;
    border-radius: 5px;
    font-size: 14px;
    box-shadow: 2px 2px 5px 0 #999;
}

    .popup-message-alert > i:first-child {
        display: block;
        position: absolute;
        right: 0;
        margin-right: 210px;
        bottom: -12px;
        font-size: 30px;
        color: #fe5e5e;
    }

.popup-message-error {
    background-color: #fe5e5e;
    color: #fff;
}

.input-error {
    border: 2px solid #fe5e5e;
}

.icon-error {
    color: red;
    font-size: 20px;
    margin-right: 10px;
}

.icon-success {
    color: #2cd217;
    font-size: 20px;
    margin-right: 10px;
}


label.required {
    margin-left: 5px;
    color: red;
    font-weight: bold;
}


