.gantt, .gantt2 {
    width: 100%;
    margin: 20px auto;
    position: relative;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.gantt:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.fn-gantt {
    width: 100%;
}

.fn-gantt .fn-content {
    overflow: hidden;
    position: relative;
    width: 100%;
}




/* === LEFT PANEL === */

.fn-gantt .leftPanel {
    float: left;
    width: 225px;
    overflow: hidden;
    position: relative;
    z-index: 20;
}

.fn-gantt .row {
    float: left;
    height: 34px;
    line-height: 34px;
    margin-left: -1px;
}
.fn-gantt .row.header {
    margin-left: 0;
}

.fn-gantt .leftPanel .fn-label {
	font-family: 'HelvethaicaX-45Li';
	font-size: 22px;
	font-weight: lighter;
    display: inline-block;
    margin: 0 0 0 5px;
    color: #252525;
    width: 110px;
	line-height: 62px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.fn-gantt .leftPanel .row0 {
    border-top: 1px solid transparent;
}
.fn-gantt .leftPanel .name, .fn-gantt .leftPanel .desc {
    float: left;
    height: 60px;
    margin: 0;
    border-bottom: 1px solid transparent;
    background-color: transparent;
}

.fn-gantt .leftPanel .name {
    width: 110px;
    font-weight: bold;
}

.fn-gantt .leftPanel .desc {
    width: 115px;
}

.fn-gantt .leftPanel .fn-wide, .fn-gantt .leftPanel .fn-wide .fn-label {
    width: 225px;
}

.fn-gantt .spacer {
	height: 114px !important;
    margin: -2px 0 1px 0;
    border-bottom: none;
    background-color: transparent;
}




/* === RIGHT PANEL === */

.fn-gantt .rightPanel {
    overflow: hidden;
}

.fn-gantt .dataPanel {
    margin-left: 0px;
    border-right: 1px solid #DDD;
    background-image: url(../images/grid.png);
    background-repeat: repeat;
    background-position: 34px 34px;
    position: relative;
	padding-bottom: 15px;
    margin-bottom: 10px;    /* Add by Aekkasit : Increat spece ganttView Bottom  */
}
.fn-gantt .day, .fn-gantt .date {
    overflow: visible;
    width: 35px;        /*width: 34px; Edit by Aekkasit : Header day -> lines do not match : */
    line-height: 34px;
    text-align: center;
    border-left: 1px solid #DDD;
    border-bottom: 1px solid transparent;
    margin: -1px 0 0 -1px;
    font-size: 11px;
    color: #252525;
    text-shadow: 0 1px 0 rgba(255,255,255,0.75);
    text-align: center;
}
.ie .fn-gantt .day, .ie .fn-gantt .date {
    width: 35px;
}
.fn-gantt .day {
	background-image: url(../images/grid-day.png);
    background-repeat: repeat;
    background-position: 34px 34px;
}
.fn-gantt .holiday {
    background-color: #ffd263;
    height: 33px;
    margin: 0 0 -1px -1px;
}

.fn-gantt .today {
    background-color: #fff8da;
    height: 33px;
    margin: 0 0 -1px -1px;
    font-weight: bold;
    text-align: center;
}

.fn-gantt .sa, .fn-gantt .sn, .fn-gantt .wd {
    height: 33px;
    margin: 0 0 0 -1px;
    text-align: center;
}

.fn-gantt .sa, .fn-gantt .sn {
    color: #252525;
    background-color: #fff;
    text-align: center;
}

.fn-gantt .wd {
    background-color: #fff;
    text-align: center;
}

.fn-gantt .rightPanel .month, .fn-gantt .rightPanel .year {
    float: left;
    overflow: hidden;
    border-left: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    height: 33px;
    margin: 0 0 0 -1.5px;
    background-color: #fff;
    font-weight: bold;
    font-size: 11px;
    color: #484a4d;
    text-shadow: 0 1px 0 rgba(255,255,255,0.75);
    text-align: center;
}

.fn-gantt-hint {
    border: 5px solid #edc332;
    background-color: #fff5d4;
    padding: 10px;
    position: absolute;
    display: none;
    z-index: 11;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
}

.fn-gantt .bar {
    background-color: #8f8f8f;  /* background-color: #D0E4FD; Edit by aekkasit : set defualt color not found*/
    height: 58px;
    margin: -195px 3px 3px 0px;
    position: absolute;
    z-index: 10;
    text-align: center;
	opacity: 0.8;
        -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.25) inset;
        -moz-box-shadow: 0 0 1px rgba(0,0,0,0.25) inset;
        box-shadow: 0 0 1px rgba(0,0,0,0.25) inset;
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            border-radius: 0px;
}

.fn-gantt .bar .fn-label {
    line-height: 18px;
    font-weight: lighter;
    white-space: nowrap;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #fff !important;
    text-align: left;
	padding-left: 15px;
	padding-top: 11px;
	font-family: 'HelvethaicaX-45Li';
	letter-spacing: 1px;
    font-size: 22px;
}
.fn-gantt .bar .fn-label span {
	font-family: 'HelvethaicaX-45Li';
    font-size: 18px;
	font-style: italic;
}

.fn-gantt .ganttBlue {
    background-color: #6592c6;
}
.fn-gantt .ganttBlue .fn-label {
    color: #fff !important;
}
.fn-gantt .ganttPurple {
    background-color: #9679b0;
}
.fn-gantt .ganttPurple .fn-label {
    color: #fff !important;
}
.fn-gantt .ganttRed {
    background-color: #cd5b5d;
}
.fn-gantt .ganttRed .fn-label {
    color: #fff !important;
}
.fn-gantt .ganttBrown {
    background-color: #bc9467;
}
.fn-gantt .ganttBrown .fn-label {
    color: #fff !important;
}
.fn-gantt .ganttGreen {
	z-index: 11 !important;
    background-color: #5fb8a3;
}
.fn-gantt .ganttGreen .fn-label {
    color: #fff !important;
}
.fn-gantt .ganttC {
    background-color: #51759e;
}
.fn-gantt .ganttC .fn-label {
    color: #fff !important;
}
.fn-gantt .ganttM {
    background-color: #47668a;
}
.fn-gantt .ganttM .fn-label {
    color: #fff !important;
}
.fn-gantt .ganttO {
    background-color: #3d5877;
}
.fn-gantt .ganttO .fn-label {
    color: #fff !important;
}
.fn-gantt .ganttB {
    background-color: #324963;
}
.fn-gantt .ganttB .fn-label {
    color: #fff !important;
}
/* === CUSTOM COLOR by Aekkasit 2016-11-28 === */
/* 1 */
.fn-gantt .ganttDeepRed {
    background-color: #ab1e41;
}
.fn-gantt .ganttDeepRed .fn-label {
    color: #fff !important;
}
/* 2 */
.fn-gantt .ganttBrickRed {
    background-color: #77242e;
}
.fn-gantt .ganttBrickRed .fn-label {
    color: #fff !important;
}
/* 3 */
.fn-gantt .ganttBrightRed {
    background-color: #d11f2d;
}
.fn-gantt .ganttBrightRed .fn-label {
    color: #fff !important;
}
/* 4 */
.fn-gantt .ganttBrightPink {
    background-color: #ea417a;
}
.fn-gantt .ganttBrightPink .fn-label {
    color: #fff !important;
}
/* 5 */
.fn-gantt .ganttDustyPink {
    background-color: #dca4af;
}
.fn-gantt .ganttDustyPink .fn-label {
    color: #fff !important;
}
/* 6 */
.fn-gantt .ganttLightPink {
    background-color: #fcb4cc;
}
.fn-gantt .ganttLightPink .fn-label {
    color: #fff !important;
}
/* 7 */
.fn-gantt .ganttPeach {
    background-color: #fcbca0;
}
.fn-gantt .ganttPeach .fn-label {
    color: #fff !important;
}
/* 8 */
.fn-gantt .ganttCoral {
    background-color: #f48572;
}
.fn-gantt .ganttCoral .fn-label {
    color: #fff !important;
}
/* 9 */
.fn-gantt .ganttTangerine {
    background-color: #fc8c2a;
}
.fn-gantt .ganttTangerine .fn-label {
    color: #fff !important;
}
/* 10 */
.fn-gantt .ganttVibrantOrange {
    background-color: #f16d25;
}
.fn-gantt .ganttVibrantOrange .fn-label {
    color: #fff !important;
}
/* 11 */
.fn-gantt .ganttGinger {
    background-color: #c54134;
}
.fn-gantt .ganttGinger .fn-label {
    color: #fff !important;
}
/* 12 */
.fn-gantt .ganttTerraCotta {
    background-color: #c36655;
}
.fn-gantt .ganttTerraCotta .fn-label {
    color: #fff !important;
}
/* 13 */
.fn-gantt .ganttTan {
    background-color: #b88253;
}
.fn-gantt .ganttTan .fn-label {
    color: #fff !important;
}
/* 14 */
.fn-gantt .ganttChocolate {
    background-color: #653c2a;
}
.fn-gantt .ganttChocolate .fn-label {
    color: #fff !important;
}
/* 15 */
.fn-gantt .ganttEarthBrown {
    background-color: #594745;
}
.fn-gantt .ganttEarthBrown .fn-label {
    color: #fff !important;
}
/* 16 */
.fn-gantt .ganttGold {
    background-color: #88754b;
}
.fn-gantt .ganttGold .fn-label {
    color: #fff !important;
}
/* 17 */
.fn-gantt .ganttAmber {
    background-color: #dd7b24;
}
.fn-gantt .ganttAmber .fn-label {
    color: #fff !important;
}
/* 18 */
.fn-gantt .ganttGoldenYellow {
    background-color: #f8a81d;
}
.fn-gantt .ganttGoldenYellow .fn-label {
    color: #fff !important;
}
/* 19 */
.fn-gantt .ganttBrightYellow {
    background-color: #fdcf08;
}
.fn-gantt .ganttBrightYellow .fn-label {
    color: #fff !important;
}
/* 20 */
.fn-gantt .ganttLightYellow {
    background-color: #f6e068;
}
.fn-gantt .ganttLightYellow .fn-label {
    color: #fff !important;
}
/* 21 */
.fn-gantt .ganttChartreuse {
    background-color: #d6da4f;
}
.fn-gantt .ganttChartreuse .fn-label {
    color: #fff !important;
}
/* 22 */
.fn-gantt .ganttLightGreen {
    background-color: #add690;
}
.fn-gantt .ganttLightGreen .fn-label {
    color: #fff !important;
}
/* 23 */
.fn-gantt .ganttOliveGreen {
    background-color: #8a8b47;
}
.fn-gantt .ganttOliveGreen .fn-label {
    color: #fff !important;
}
/* 24 */
.fn-gantt .ganttLime {
    background-color: #78993e;
}
.fn-gantt .ganttLime .fn-label {
    color: #fff !important;
}
/* 25 */
.fn-gantt .ganttDarkGreen {
    background-color: #124534;
}
.fn-gantt .ganttDarkGreen .fn-label {
    color: #fff !important;
}
/* 26 */
.fn-gantt .ganttFoliageGreens {
    background-color: #136736;
}
.fn-gantt .ganttFoliageGreens .fn-label {
    color: #fff !important;
}
/* 27 */
.fn-gantt .ganttBrightGreen {
    background-color: #05994d;
}
.fn-gantt .ganttBrightGreen .fn-label {
    color: #fff !important;
}
/* 28 */
.fn-gantt .ganttEmerald {
    background-color: #009b7a;
}
.fn-gantt .ganttEmerald .fn-label {
    color: #fff !important;
}
/* 29 */
.fn-gantt .ganttAqua {
    background-color: #a1d4cb;
}
.fn-gantt .ganttAqua .fn-label {
    color: #fff !important;
}
/* 30 */
.fn-gantt .ganttTurquoise {
    background-color: #4cc1af;
}
.fn-gantt .ganttTurquoise .fn-label {
    color: #fff !important;
}
/* 31 */
.fn-gantt .ganttTeal {
    background-color: #036781;
}
.fn-gantt .ganttTeal .fn-label {
    color: #fff !important;
}
/* 32 */
.fn-gantt .ganttSkyBlue {
    background-color: #72b0c7;
}
.fn-gantt .ganttSkyBlue .fn-label {
    color: #fff !important;
}
/* 33 */
.fn-gantt .ganttLightBlue {
    background-color: #99bfe6;
}
.fn-gantt .ganttLightBlue .fn-label {
    color: #fff !important;
}
/* 34 */
.fn-gantt .ganttPeriwinkle {
    background-color: #8093cd;
}
.fn-gantt .ganttPeriwinkle .fn-label {
    color: #fff !important;
}
/* 35 */
.fn-gantt .ganttBrightBlue {
    background-color: #0172b8;
}
.fn-gantt .ganttBrightBlue .fn-label {
    color: #fff !important;
}
/* 36 */
.fn-gantt .ganttDeepBlue {
    background-color: #212d69;
}
.fn-gantt .ganttDeepBlue .fn-label {
    color: #fff !important;
}
/* 37 */
.fn-gantt .ganttLavender {
    background-color: #bb3e99;
}
.fn-gantt .ganttLavender .fn-label {
    color: #fff !important;
}
/* 38 */
.fn-gantt .ganttMauve {
    background-color: #a17691;
}
.fn-gantt .ganttMauve .fn-label {
    color: #fff !important;
}
/* 39 */
.fn-gantt .ganttAmethyst {
    background-color: #b984ba;
}
.fn-gantt .ganttAmethyst .fn-label {
    color: #fff !important;
}
/* 40 */
.fn-gantt .ganttBluePurples {
    background-color: #643293;
}
.fn-gantt .ganttBluePurples .fn-label {
    color: #fff !important;
}
/* 41 */
.fn-gantt .ganttRedPurples {
    background-color: #862c8e;
}
.fn-gantt .ganttRedPurples .fn-label {
    color: #fff !important;
}
/* 42 */
.fn-gantt .ganttDeepPurples {
    background-color: #3b1a53;
}
.fn-gantt .ganttDeepPurples .fn-label {
    color: #fff !important;
}
/* 43 */
.fn-gantt .ganttNeutralGray {
    background-color: #898d8c;
}
.fn-gantt .ganttNeutralGray .fn-label {
    color: #fff !important;
}
/* 44 */
.fn-gantt .ganttCharcoalGray {
    background-color: #57585a;
}
.fn-gantt .ganttCharcoalGray .fn-label {
    color: #fff !important;
}
/* 45 */
.fn-gantt .ganttTaupe {
    background-color: #a8a089;
}
.fn-gantt .ganttTaupe .fn-label {
    color: #fff !important;
}
/* 46 */
.fn-gantt .ganttIvory {
    background-color: #fae1a8;
}
.fn-gantt .ganttIvory .fn-label {
    color: #fff !important;
}
/* 47 */
.fn-gantt .ganttSilver {
    background-color: #8f8f8f;
}
.fn-gantt .ganttSilver .fn-label {
    color: #fff !important;
}
/* 48 */
.fn-gantt .ganttBlack {
    background-color: #000000;
}
.fn-gantt .ganttBlack .fn-label {
    color: #fff !important;
}
/* 49 */
.fn-gantt .ganttWhite {
    background-color: #ffffff;
}
.fn-gantt .ganttWhite .fn-label {
    color: #000000 !important;
}

/* === BOTTOM NAVIGATION === */

.fn-gantt .bottom {
    clear: both;
    background-color: transparent;
    width: 100%;
}
.fn-gantt .navigate {
    border-top: 1px solid transparent;
    padding: 10px 0 10px 225px;
}

.fn-gantt .navigate .nav-slider {
    height: 20px;
    display: inline-block;
}

.fn-gantt .navigate .nav-slider-left, .fn-gantt .navigate .nav-slider-right {
    text-align: center;
    height: 20px;
    display: inline-block;
}

.fn-gantt .navigate .nav-slider-left {
    float: left;
}

.fn-gantt .navigate .nav-slider-right {
    float: right;
    margin-top: -10px;  /* Add by Aekkasit : button Zoom in and Zoom out Display is not full*/
}

.fn-gantt .navigate .nav-slider-content {
    text-align: left;
    width: 800px;
    height: 20px;
    display: inline-block;
    margin: 0 10px;
}

.fn-gantt .navigate .nav-slider-bar, .fn-gantt .navigate .nav-slider-button {
    position: absolute;
    display: block;
}

.fn-gantt .navigate .nav-slider-bar {
    width: 895px;
    height: 6px;
    background-color: #e1e1e1;
    margin: 8px 0 0 0;
        -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6) inset;
        -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6) inset;
        box-shadow: 0 1px 3px rgba(0,0,0,0.6) inset;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
}

.fn-gantt .navigate .nav-slider-button {
    width: 100px;
    height: 60px;
    background: url(../images/slider_handle.png) center center no-repeat;
    left: 0px;
    top: 0px;
    margin: -26px 0 0 0;
    cursor: pointer;
}

.fn-gantt .navigate .page-number {
    display: inline-block;
    font-size: 10px;
    height: 20px;
}

.fn-gantt .navigate .page-number span {
    color: #666666;
    margin: 0 6px;
    height: 20px;
    line-height: 20px;
    display: inline-block;
}

.fn-gantt .navigate a:link, .fn-gantt .navigate a:visited, .fn-gantt .navigate a:active {
    text-decoration: none;
}

.fn-gantt .nav-link {
    margin: 0 3px 0 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 0px;
    background: #595959 url(../images/icon_sprite.png) !important;
    border: 1px solid #454546;
    cursor: pointer;
    vertical-align: top;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
            -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.1) inset, 0 1px 1px rgba(0,0,0,0.2);
            -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.1) inset, 0 1px 1px rgba(0,0,0,0.2);
            box-shadow: 0 1px 0 rgba(255,255,255,0.1) inset, 0 1px 1px rgba(0,0,0,0.2);
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
}
.fn-gantt .nav-link:active {
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.25) inset, 0 1px 0 #FFF;
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.25) inset, 0 1px 0 #FFF;
    box-shadow: 0 1px 1px rgba(0,0,0,0.25) inset, 0 1px 0 #FFF;
}

.fn-gantt .navigate .nav-page-back {
    background-position: 1px 0 !important;
    margin: 0;
}

.fn-gantt .navigate .nav-page-next {
    background-position: 1px -16px !important;
    margin-right: 15px;
}

.fn-gantt .navigate .nav-slider .nav-page-next {
    margin-right: 5px;
}

.fn-gantt .navigate .nav-begin {
    background-position: 1px -112px !important;
}

.fn-gantt .navigate .nav-prev-week {
    background-position: 1px -128px !important;
}

.fn-gantt .navigate .nav-prev-day {
    background-position: 1px -48px !important;
}

.fn-gantt .navigate .nav-next-day {
    background-position: 1px -64px !important;
}

.fn-gantt .navigate .nav-next-week {
    background-position: 1px -160px !important;
}

.fn-gantt .navigate .nav-end {
    background-position: 1px -144px !important;
}

.fn-gantt .navigate .nav-zoomOut {
    background-position: 1px -96px !important;
}

.fn-gantt .navigate .nav-zoomIn {
    background-position: 1px -80px !important;
    margin-left: 15px;
}

.fn-gantt .navigate .nav-now {
    background-position: 1px -32px !important;
}

.fn-gantt .navigate .nav-slider .nav-now {
    margin-right: 5px;
}

.fn-gantt-loader {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf000000', endColorstr='#bf000000',GradientType=0 );
    background: rgba(0,0,0,0.75);
    cursor: wait;
    z-index: 30;
}
.fn-gantt-loader-spinner span {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    height: 1em;
    line-height: 1em;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
}

.row:after {
    clear: both;
}
.day .fn-label, .date .fn-label, .month .fn-label {
	font-family: 'HelvethaicaX-45Li';
	font-size: 18px;
}
.textmark {
	position: absolute;
    right: 5px;
    bottom: -6px;
}
	
/*Button Bar*/
.dropdown {
    position: absolute;
    display: inline-block;
	top: 0px;
	right: 0px;
	outline: 0;
	height: 58px;
}
.dropbtn, .dropbtn2, .dropbtn3, .dropbtn4, .dropbtn5, .dropbtn6 {
    color: white;
	width: 15px;
	height: 100%;
    padding: 0px;
    font-size: 16px;
    border: none;
    cursor: pointer;
	outline: 0;
}
.dropdown-content, .dropdown-content2, .dropdown-content3, .dropdown-content4, .dropdown-content5, .dropdown-content6 {
    display: none;
    position: absolute;
	top: 0px;
	left: 15px;
    min-width: 120px;
	height: 58px;
    overflow: hidden;
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.2);
}
.dropdown-content a, .dropdown-content2 a, .dropdown-content3 a, .dropdown-content4 a, .dropdown-content5 a, .dropdown-content6 a  {
	float: left;
    color: black;
    padding: 21px 12px;
    text-decoration: none;
    display: block;
}
.dropdown a:hover {background-color: #666}
.show {display:block;}