@import "bootstrap-theme.css";
@font-face {
  font-family: 'HelvethaicaX75Bd';
  src: url('../fonts/DBHelvethaicaX75Bd.eot');
  src: url('../fonts/DBHelvethaicaX75Bd.eot?#iefix') format('embedded-opentype'), url('../fonts/DBHelvethaicaX75Bd.woff2') format('woff2'), url('../fonts/DBHelvethaicaX75Bd.woff') format('woff'), url('../fonts/DBHelvethaicaX75Bd.ttf') format('truetype'), url('../fonts/DBHelvethaicaX75Bd.svg#db_helvethaica_x75_bd') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelvethaicaX-45Li';
  src: url('../fonts/DBHelvethaicaX-45Li.eot');
  src: url('../fonts/DBHelvethaicaX-45Li.eot?#iefix') format('embedded-opentype'), url('../fonts/DBHelvethaicaX-45Li.woff2') format('woff2'), url('../fonts/DBHelvethaicaX-45Li.woff') format('woff'), url('../fonts/DBHelvethaicaX-45Li.ttf') format('truetype'), url('../fonts/DBHelvethaicaX-45Li.svg#DBHelvethaicaX-45Li') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelvethaicaMonX-65Med';
  src: url('../fonts/DBHelvethaicaMonX-65Med.eot');
  src: url('../fonts/DBHelvethaicaMonX-65Med.eot?#iefix') format('embedded-opentype'), url('../fonts/DBHelvethaicaMonX-65Med.woff2') format('woff2'), url('../fonts/DBHelvethaicaMonX-65Med.woff') format('woff'), url('../fonts/DBHelvethaicaMonX-65Med.ttf') format('truetype'), url('../fonts/DBHelvethaicaMonX-65Med.svg#db_helvethaica_x65_med') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  background-image: url(../images/bg/bg-body.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  font-family: 'HelvethaicaX-45Li';
  font-size: 20px;
}
.header {
  background: rgba(0, 0, 0, 0.8);
  height: 108px;
}
.header .wrapper-main {
  width: 1260px;
  margin: 0 auto;
  position: relative;
}
.header .logo {
  position: absolute;
  left: 113px;
  top: 0;
  background: #fff;
}
.header .logo a {
  display: block;
  width: 147px;
  height: 58px;
  background: url(../images/logo-thaioil.png) center 8px no-repeat;
  background-size: 62% auto;
}
.header .logo a span {
  display: none;
}
.header .menu-options {
  width: 113px;
  height: 58px;
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
}
.header .menu-options .menu-action {
  display: block;
  width: 33px;
  height: 22px;
  margin: 18px 0 0 39px;
  cursor: pointer;
  background: url(../images/bg/bg-btn-menu.png);
}
.header .admin-name {
  width: auto;
  padding-left: 100px;
  position: absolute;
  right: 12px;
  top: 0;
}
.header .admin-name span {
  position: absolute;
  width: 42px;
  height: 42px;
  border-radius: 42px;
  left: 15px;
  top: 8px;
  overflow: hidden;
}
.header .admin-name span img {
  width: 100%;
  border-radius: 100%;
}
.header .admin-name h3 {
  text-align: right;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 5px;
  padding: 12px 0 0;
}
.header .admin-name p {
  font-size: 18px;
  line-height: 80%;
}
.header .admin-name p a {
  display: block;
  text-align: right;
  color: #fff;
}
/* menu */
.overlay {
  display: none;
  background: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 900;
}
.side-menus {
  display: none;
  width: 400px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 999;
  background: #0a7ab1;
}
.side-menus .wrapper {
  float: right;
}
.side-menus .wrapper .menu-close {
  float: right;
  margin: 35px 0 45px;
  padding-left: 50px;
  font-family: 'HelvethaicaMonX-65Med';
  background: url(../images/bg/bg-btn-close.png) no-repeat;
  color: #fff;
  font-size: 18px;
  margin-right: 20px;
  cursor: pointer;
}
.side-menus .wrapper .parent-menu {
  clear: both;
  font-family: 'HelvethaicaX75Bd';
  font-size: 20px;
  padding: 0;
}
.side-menus .wrapper .parent-menu > li {
  list-style: none;
  margin-bottom: 20px;
  text-align: right;
}
.side-menus .wrapper .parent-menu > li a {
  color: #a5c4da;
  text-decoration: none;
  padding-right: 15px;
}
.side-menus .wrapper .parent-menu > li:hover > a {
  color: #fff;
}
.side-menus .wrapper .parent-menu > li.active > a {
  color: #fff;
}
.side-menus .wrapper .parent-menu > li .sub-menu1 {
  max-height: 0;
  transition: max-height 0.3s ease-out;
  overflow: hidden;
}
.side-menus .wrapper .parent-menu > li .sub-menu1 ul {
  padding: 20px 0 0;
}
.side-menus .wrapper .parent-menu > li .sub-menu1 ul li {
  list-style: none;
  font-size: 18px;
  font-family: 'HelvethaicaMonX-65Med';
  position: relative;
  margin-bottom: 10px;
  line-height: 90%;
}
.side-menus .wrapper .parent-menu > li .sub-menu1 ul li a {
  display: block;
  padding-right: 50px;
}
.side-menus .wrapper .parent-menu > li .sub-menu1 ul li:hover > a {
  color: #fff;
}
.side-menus .wrapper .parent-menu > li .sub-menu1 ul li.open > a {
  color: #fff;
  background: url(../images/bg/bg-submenu.png) no-repeat 100% 2px;
}
.side-menus .wrapper .parent-menu > li .sub-menu1 ul li.open .sub-menu2 {
  display: block;
}
.side-menus .wrapper .parent-menu > li .sub-menu1 ul li .sub-menu2 {
  display: none;
  position: absolute;
  right: -400px;
  width: 400px;
  z-index: 999;
  text-align: left;
  margin-top: -75px;
}
.side-menus .wrapper .parent-menu > li .sub-menu1 ul li .sub-menu2 .title {
  color: #e21789;
  font-size: 24px;
  padding: 0 20px;
  line-height: 100%;
}
.side-menus .wrapper .parent-menu > li .sub-menu1 ul li .sub-menu2 .title span {
  display: block;
  font-size: 38px;
  font-weight: normal;
}
.side-menus .wrapper .parent-menu > li .sub-menu1 ul li .sub-menu2 ul {
  padding: 0;
}
.side-menus .wrapper .parent-menu > li .sub-menu1 ul li .sub-menu2 ul li {
  list-style: none;
  font-size: 20px;
  padding: 0 20px;
  margin-bottom: 10px;
}
.side-menus .wrapper .parent-menu > li .sub-menu1 ul li .sub-menu2 ul li a {
  padding: 0;
  color: #797979;
  font-family: 'HelvethaicaX-45Li';
}
.side-menus .wrapper .parent-menu > li .sub-menu1 ul li .sub-menu2 ul li.active {
  font-family: 'HelvethaicaMonX-65Med';
  color: #0a7ab1;
}
.side-menus .wrapper .parent-menu > li .sub-menu1 ul li .sub-menu2 ul li:hover > a {
  color: #0a7ab1;
}
.side-menus .wrapper .parent-menu > li.open > a {
  color: #fff;
}
.side-menus .wrapper .parent-menu > li.open .sub-menu1 {
  max-height: 900px;
  transition: max-height 0.3s ease-in;
  overflow: inherit;
}
.side-menus .wrapper .bg-sub-menu2 {
  width: 400px;
  position: fixed;
  left: 400px;
  top: 0;
  bottom: 0;
  background: #fff;
  display: none;
  z-index: 998;
}
.main-content {
  width: 1260px;
  margin: 0 auto;
}
.main-content .heading-sec {
  background: #fff;
  height: 50px;
  margin: -50px auto;
}
.main-content .heading-sec .heading-profile {
  padding-left: 40px;
  padding-top: 13px;
}
.main-content .heading-sec .heading-profile h2 {
  display: inline-block;
  font-family: 'HelvethaicaX75Bd';
  font-size: 24px;
  font-weight: normal;
  color: #383838;
  line-height: 90%;
  margin: 0;
}
.main-content .heading-sec .heading-profile h2 span {
  color: #0a7ab1;
  font-family: 'HelvethaicaX-45Li';
  font-size: 50px;
  line-height: 24px;
}
.main-content .heading-sec .heading-profile > span {
  color: #27282c;
  font-family: 'HelvethaicaX-45Li';
  font-size: 18px;
  display: block;
  margin-top: -10px;
}
.main-content .heading-sec .heading-profile .breadcrumb {
  display: inline-block;
  font-family: 'HelvethaicaX-45Li';
  font-size: 21px;
  color: #27282c;
  background: no-repeat;
  border-radius: 0;
  margin-bottom: 5px;
  padding: 0;
  margin: 0;
  line-height: 90%;
}
.main-content .heading-sec .heading-profile .breadcrumb > li + li:before {
  color: #27282c;
}
.main-content .heading-sec .heading-profile .breadcrumb a {
  color: #27282c;
}
.main-content .heading-sec .box-date {
  background: #081119;
  width: 220px;
  height: 50px;
  float: right;
  border-left: 6px solid #e21789;
  margin-right: -1px;
  color: #fff;
  padding-right: 12px;
  text-align: right;
  font-family: 'HelvethaicaX-45Li';
  line-height: 100%;
}
.main-content .heading-sec .box-date .date {
  display: inline-block;
  font-size: 19px;
  padding: 15px 0 0;
  margin-bottom: 2px;
  margin-right: 5px;
}
.main-content .heading-sec .box-date .year {
  display: inline-block;
  font-family: 'HelvethaicaMonX-65Med';
  font-size: 24px;
  margin-bottom: 5px;
  margin-right: 5px;
}
.main-content .heading-sec .box-date .time {
  display: inline-block;
  font-size: 19px;
}
.main-content .main-content-area {
  background: rgba(255, 255, 255, 0.8) url(../images/bg/bg-main-content-area.png) no-repeat center top;
  padding: 0px 25px 20px;
  box-shadow: 0px 7px 13px -1px rgba(0, 0, 0, 0.75);
  clear: both;
}
.main-content .main-content-area .wrapper-detail .title {
  padding: 20px 0 0;
  font-family: 'HelvethaicaX-45Li';
  font-size: 20px;
  font-weight: normal;
  margin: 0 0 30px;
}
.main-content .main-content-area .wrapper-detail .title span.note{
  display: block;
  font-size: 36px;
  font-family: 'HelvethaicaX75Bd';
}
.main-content .main-content-area .wrapper-detail .title span.number {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 100%;
  background: #e5e5e5;
  margin-right: 7px;
}
.main-content .main-content-area .wrapper-detail .title span.sub {
  font-size: 22px;
  font-family: 'HelvethaicaMonX-65Med';
}
.footer {
  clear: both;
  height: 30px;
  line-height: 30px;
  background: #000;
  color: #fff;
  font-family: 'HelvethaicaX-45Li';
  font-size: 18px;
  text-align: center;
}
.row {
  margin-right: -5px;
  margin-left: -5px;
}
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9 {
  padding-right: 5px;
  padding-left: 5px;
}
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  padding-right: 5px;
  padding-left: 5px;
}
.form-horizontal .form-group {
  margin-right: -5px;
  margin-left: -5px;
}
.form-horizontal .control-label {
  text-align: left;
  font-family: 'HelvethaicaMonX-65Med';
  font-size: 20px;
  color: #252525;
  font-weight: normal;
  line-height: 90%;
}
.control-label {
  text-align: left;
  font-family: 'HelvethaicaMonX-65Med';
  font-size: 20px;
  color: #252525;
  font-weight: normal;
  line-height: 90%;
}
.form-control {
  border-radius: 7px;
  font-family: 'HelvethaicaX-45Li';
  font-size: 20px;
  color: #252525;
  line-height: 15px;
  padding: 3px 12px;
  height: 30px;
}
.form-control:focus {
  border: 1px solid #e21789;
  box-shadow: none;
}
.form-control.input-date-picker {
  background-image: url(../images/bg/bg-date-picker.png);
  background-position: 98% 3px;
  background-repeat: no-repeat;
}
select.form-control {
  text-indent: 1px;
  text-overflow: '';
  background: url(../images/bg/bg-select.png) no-repeat 98% 10px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
select.form-control::-ms-expand {
  display: none;
}
textarea.form-control {
  min-height: 150px;
}
.checkbox label,
.radio label {
  line-height: 95%;
}
.checkbox,
.radio {
  margin-top: 0;
  margin-bottom: 10px;
}
.form-control[disabled],
fieldset[disabled] .form-control {
  font-family: 'HelvethaicaX75Bd';
  color: #252525;
  border: 1px solid #ffffff;
}
.checkbox label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  font-size: 20px;
  margin-bottom: 6px;
  transition: border 0.2s linear 0s,color 0.2s linear 0s;
}
.checkbox label:before {
  content: "";
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 10px;
  position: absolute;
  left: 0px;
  top: 1.4px;
  background-color: #fff;
  border: 1px solid #e1e1e1;
  border-radius: 3px;
  transition: border 0.2s linear 0s,color 0.2s linear 0s;
}
.checkbox label::after {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: absolute;
  left: 3.2px;
  top: 0;
  font-size: 11px;
  transition: border 0.2s linear 0s,color 0.2s linear 0s;
}
.checkbox input[type=checkbox] {
  display: none;
}
.checkbox label {
  margin-bottom: 10px;
}
.checkbox label:after {
  border-radius: 3px;
}
.checkbox.checkbox-circle label:after {
  border-radius: 99px;
}
.checkbox.checkbox-circle label:before {
  border-radius: 99px;
}
.checkbox input[type=checkbox]:checked + label::after {
  content: "";
  width: 20px;
  height: 15px;
  background-image: url(../images/bg/bg-checkbox.png);
}
.checkbox input[type=checkbox]:checked + label {
  color: #4d5056;
}
.checkbox input[type=checkbox][disabled] + label {
  opacity: 0.65;
}
.checkbox input[type=checkbox][disabled] + label:before {
  background-color: #eceff3;
}
.radio label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  font-size: 20px;
  margin-bottom: 6px;
}
.radio input[type=radio] {
  display: none;
}
.radio label:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  position: absolute;
  left: 0;
  bottom: 2.5px;
  background-color: #fff;
  border: 2px solid #d6d6d6;
  border-radius: 99px;
}
.radio label:after {
  font-size: 13px;
  content: "";
  text-align: center;
  display: inline-block;
  width: 18px;
  height: 18px;
  position: absolute;
  -o-transform: scale(0);
  -ms-transform: scale(0);
  -moz-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  border-radius: 99px;
  left: 1px;
  top: -1px;
  background-color: #e21789;
  border: 1px solid #e21789;
}
.radio input[type=radio][disabled] + label {
  opacity: 0.65;
}
.checkbox input[type=radio][disabled] + label:after {
  background-color: #eceff3;
}
.radio input[type=radio]:checked + label {
  color: #4d5056;
}
.radio input[type=radio]:checked + label:after {
  -o-transform: scale(0.63);
  -ms-transform: scale(0.63);
  -moz-transform: scale(0.63);
  -webkit-transform: scale(0.63);
  transform: scale(0.63);
  line-height: 18px;
  -o-transition: -o-transform 0.1s 0s cubic-bezier(0.455, 0.03, 0.215, 1.33);
  -ms-transition: -ms-transform 0.1s 0s cubic-bezier(0.455, 0.03, 0.215, 1.33);
  -moz-transition: -moz-transform 0.1s 0s cubic-bezier(0.455, 0.03, 0.215, 1.33);
  -webkit-transition: -webkit-transform 0.1s 0s cubic-bezier(0.455, 0.03, 0.215, 1.33);
  -o-transition: transform 0.1s 0s cubic-bezier(0.455, 0.03, 0.215, 1.33);
  -ms-transition: transform 0.1s 0s cubic-bezier(0.455, 0.03, 0.215, 1.33);
  -moz-transition: transform 0.1s 0s cubic-bezier(0.455, 0.03, 0.215, 1.33);
  -webkit-transition: transform 0.1s 0s cubic-bezier(0.455, 0.03, 0.215, 1.33);
  transition: transform 0.1s 0s cubic-bezier(0.455, 0.03, 0.215, 1.33);
}
.wrapper-button {
  padding: 40px 0;
  text-align: center;
}
.table {
  border-spacing: 3px;
  border-collapse: separate;
}
.table > thead {
  margin-bottom: 5px;
}
.table > thead > tr > th {
  vertical-align: middle;
  border: none;
  font-family: 'HelvethaicaMonX-65Med';
  text-align: center;
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  font-size: 20px;
  position: relative;
}
.table > thead > tr > th.border-bottom {
  border-radius: 5px 5px 0 0;
}
.table > thead > tr > th.border-bottom:before {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  left: 4px;
  right: 4px;
  bottom: -2px;
  background: #bdbdbd;
}
.table > thead > tr > th.border-right:before {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  top: 4px;
  right: -2px;
  bottom: 4px;
  background: #bdbdbd;
}
.table > thead > tr > th.border-right-b:before {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  top: 7px;
  right: -2px;
  bottom: 7px;
  background: #bdbdbd;
}
.table > thead > tr > th .rotate {
  transform: rotate(-90deg);
  white-space: nowrap;
  position: absolute;
  left: 0;
  top: 40%;
}
.table > thead > tr > th .th-date input {
  width: 105px;
  font-size: 20px;
  font-weight: normal;
  border-bottom: 1px solid #bdbdbd;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  height: 22px;
  line-height: 22px;
  background: url(../images/bg/bg-b-right.png) no-repeat 100% 7px;
}
.table > thead > tr > th span {
  display: block;
  font-weight: normal;
}
.table > tbody > tr.selected td {
  background-color: rgba(10, 122, 177, 0.25);
}
.table > tbody > tr > td {
  color: #252525;
  background-color: rgba(0, 0, 0, 0.08);
  text-align: center;
  line-height: 90%;
  padding: 5px;
}
.table > tbody > tr > td.edit {
  width: 50px;
  position: relative;
}
.table > tbody > tr > td.edit .radio {
  margin-top: 10px;
  margin-bottom: 0;
}
.table > tbody > tr > td.edit .radio label {
  margin: 0;
}
.table > tbody > tr > td.edit > label {
  color: #e21789;
  font-weight: normal;
}
.table > tbody > tr > td.dropdown .dropdown {
  position: absolute;
  height: 69px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: url(../images/bg/bg-b-right.png);
  background-repeat: no-repeat;
  background-position: 98% 98%;
}
.table > tbody > tr > td.dropdown .dropdown:hover {
  background-color: #fff;
}
.table > tbody > tr > td.dropdown .dropdown > a {
  position: absolute;
  left: 0;
  right: 0;
  top: 5px;
  bottom: 0;
  color: #252525;
  text-decoration: none;
}
.table > tbody > tr > td.dropdown .dropdown > a:hover {
  text-decoration: none;
}
.table > tbody > tr > td.dropdown .dropdown .dropdown-menu {
  font-size: 20px;
  border: none;
  border-radius: 0;
}
.table > tbody > tr > td.dropdown .dropdown .dropdown-menu li a {
  color: #252525;
  padding: 2px 15px;
}
.table > tbody > tr > td.dropdown .dropdown .dropdown-menu li a:hover {
  background: #fbdced;
}
.table textarea {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  resize: none;
  line-height: 90%;
  margin: 0 -8px;
  text-align: center;
}
.wrapper-table .wrapper-button {
  overflow: hidden;
  padding: 0 0 10px;
}
.wrapper-table .wrapper-button .btn-supplier {
  float: left;
  height: 30px;
  border-radius: 8px;
  color: #fff;
  font-family: 'HelvethaicaMonX-65Med';
  font-size: 20px;
  text-align: center;
  background: #e21789;
  padding: 0 50px 0 20px;
  position: relative;
  line-height: 30px;
  border: none;
  outline: none;
}
.wrapper-table .wrapper-button .btn-supplier:hover {
  text-decoration: none;
}
.wrapper-table .wrapper-button .btn-supplier span {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 0 8px 8px 0;
  text-align: center;
  background: #ee74b8;
  right: 0;
  font-family: 'HelvethaicaX-45Li';
  font-size: 37px;
}
.wrapper-table .wrapper-button .btn-offer {
  float: right;
  height: 30px;
  border-radius: 8px;
  color: #fff;
  font-family: 'HelvethaicaMonX-65Med';
  font-size: 20px;
  text-align: center;
  background: #0a7ab1;
  padding: 0 50px 0 20px;
  position: relative;
  line-height: 30px;
  border: none;
  outline: none;
}
.wrapper-table .wrapper-button .btn-offer:hover {
  text-decoration: none;
}
.wrapper-table .wrapper-button .btn-offer span {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 0 8px 8px 0;
  text-align: center;
  background: #6cafd0;
  right: 0;
  font-family: 'HelvethaicaX-45Li';
  font-size: 37px;
}
.tabs-5 {
  margin: 0 -25px;
  position: relative;
}
.tabs-5 .nav-tabs {
  padding: 0;
   margin: 0;
  border: none;
  background: #fff;
}
.tabs-5 .nav-tabs:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 25px;
  top: -25px;
  left: 0;
  background: url(../images/bg/bg-main-content-area.png) no-repeat;
  transform: rotate(180deg);
}
.tabs-5 .nav-tabs > li {
  width: 20%;
  font-family: 'HelvethaicaX75Bd';
  font-size: 24px;
  text-align: center;
  margin-bottom: 0;
}
.tabs-5 .nav-tabs > li a {
  color: #252525;
  height: 50px;
  line-height: 44px;
  padding: 0;
  border-radius: 0;
  background: rgba(255, 255, 255, 0.8);
  border-top: 5px solid #fff;
  border-right: 1px solid #e5e5e5;
  border-left: none;
  margin-right: 0;
}
.tabs-5 .nav-tabs > li a sup {
  color: #fff;
  border-radius: 100%;
  background: #e21789;
  font-family: 'HelvethaicaX-45Li';
  font-size: 16px;
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  margin: -5px 0 0 8px;
  top: -.1em;
}
.tabs-5 .nav-tabs > li a:hover {
  background: rgba(255, 255, 255, 0.8);
  border-top: 5px solid #fff;
  border-left: none;
  border-bottom: none;
}
.tabs-5 .nav-tabs > li.active a {
  color: #e21789;
  border-top: 5px solid #e21789;
}
.tabs-5 .nav-tabs > li:last-child a {
  border-right: none;
}
.status-task {
  height: 75px;
  overflow: hidden;
  background: rgba(234, 234, 234, 0.3) url(../images/bg/bg-main-content-area.png) no-repeat center top;
  margin: 0 -25px 15px;
}
.status-task .status-box {
  float: left;
}
.status-task .status-box > div {
  float: left;
  width: 177px;
  height: 90px;
  position: relative;
  text-align: center;
  color: #fff;
}

.status-task .status-box > div:hover{
  background: #e21789 !important;
}
.status-task .status-box > div a {
  display: block;

  height: 100%;
  color: #fff;


  text-decoration: none;

}
.status-task .status-box > div b {
  display: block;
  font-family: 'HelvethaicaMonX-65Med';
  font-size: 48px;
  font-weight: normal;
  line-height: 75%;
  padding-top: 10px;
}
.status-task .status-box > div span {
  font-family: 'HelvethaicaX-45Li';
  font-size: 18px;
  position: absolute;
  bottom: 26px;
  left: 0;
  right: 0;
  line-height: 90%;
}

.status-task .status-box > div:first-child {
  /*background: #e21789;*/
   background: #0a78ad;
}
.status-task .status-box > div:first-child + div {
   background: rgba(10, 120, 173 , 0.9);
}
.status-task .status-box > div:first-child + div + div {
  background-color: rgba(31, 134, 185, 0.8);
}
.status-task .status-box > div:first-child + div + div + div {
  background-color: rgba(31, 134, 185, 0.7);
}
.status-task .status-box > div:first-child + div + div + div + div {
  background-color: rgba(31, 134, 185, 0.6);
}
.status-task .status-box > div:first-child
 + div + div + div + div + div {
  background-color: rgba(31, 134, 185, 0.5);
}
.status-task .box-date {
  float: right;
  margin-right: 25px;
  margin-top: 24px;
  text-align: right;
}
.status-task .box-date .button {
  margin-bottom: 10px;
}
.status-task .box-date .button .btn {
  padding: 0;
  height: 28px;
  line-height: 28px;
  font-size: 20px;
  width: 80px;
}
.status-task .box-date input {
  width: 250px;
  height: 28px;
  margin-right: 5px;
}
.sort-box select.form-control {
  float: right;
  width: 195px;
  position: relative;
  z-index: 1;
}
.task-box {
  margin-bottom: 20px;
}
.task-box .title {
  padding: 0 0 0 25px !important;
  position: relative;
}
.task-box .title:before {
  content: "";
  display: block;
  position: absolute;
  width: 17px;
  height: 17px;
  top: 10px;
  left: 0;
  background: url(../images/bg/bg-collap.png) no-repeat;
  background-size: 17px 17px;
  transform: rotate(1deg);
}
.task-box .title.collapsed:before {
  transform: rotate(-90deg);
}
.task-box .title span {
  font-family: 'HelvethaicaX-45Li';
  font-size: 30px;
}
.task-box .table > thead > tr > th {
  padding: 5px 8px;
}
.task-box .table > tbody > tr > td {
  padding: 5px 8px;
}
.task-box .table > tbody > tr > td span {
  display: block;
  font-family: 'HelvethaicaMonX-65Med';
  font-size: 20px;
  color: #0a7ab1;
  padding-top: 5px;
}
.task-box .table > tbody > tr.waiting > td {
  background: rgba(10, 122, 177, 0.25);
}
.input-add {
  position: absolute;
  right: 15px;
  top: 1px;
  z-index: 899;
}
.input-add-left {
  position: absolute;
  left: 15px;
  top: 1px;
  z-index: 899;
}
.input-group .input-group-addon {
  font-family: 'HelvethaicaX-45Li';
  font-size: 20px;
  line-height: 80%;
  padding: 6px 8px;
  background: #eaedee;
  color: #252525;
}
.input-group .input-group-addon.blue {
  background: #0a7ab1;
  color: #fff;
  border: 1px solid #0a7ab1;
}
.input-group-addon {
  border-radius: 7px;
}
.paddingleft60 {
  padding-left: 60px;
}
.paddingtop0 {
  padding-top: 0 !important;
}
.text-blue {
  color: #0a7ab1 !important;
}
.control-label span {
  font-size: 24px;
}
.control-label span b {
  font-family: 'HelvethaicaX75Bd';
  font-size: 36px;
  color: #0a7ab1;
}
.control-label em {
  display: block;
  font-family: 'HelvethaicaX-45Li';
  font-size: 18px;
  line-height: 80%;
}
.btn-add {
  color: #e21789;
  text-decoration: none;
  font-size: 20px;
}
.btn-add span {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #e21789;
  text-align: center;
  line-height: 80%;
  border-radius: 100%;
  margin-right: 10px;
  font-family: 'HelvethaicaX75Bd';
  font-size: 48px;
  color: #fff;
}
.btn-add:hover {
  color: #e21789;
  text-decoration: none;
}
.mobile-box {
  display: none;
}
@media (max-width: 640px) {
  .taskpage {
    overflow-x: hidden;
  }
  .taskpage .header .wrapper-main,
  .taskpage .main-content {
    width: 100%;
  }
  .taskpage .header .admin-name {
    display: none;
  }
  .taskpage .main-content .heading-sec .col-xs-8 {
    width: 100% !important;
  }
  .taskpage .main-content .heading-sec .heading-profile {
    height: 120px;
  }
  .taskpage .main-content .heading-sec .box-date {
    display: none;
  }
  .taskpage .tabs-5 .nav-tabs > li:first-child {
    width: 33.33%;
  }
  .taskpage .tabs-5 .nav-tabs > li:first-child + li {
    width: 33.33%;
  }
  .taskpage .tabs-5 .nav-tabs > li:first-child + li + li {
    width: 33.33%;
  }
  .taskpage .tabs-5 .nav-tabs > li:first-child + li + li + li {
    width: 50%;
    border-top: 1px solid #e5e5e5;
  }
  .taskpage .tabs-5 .nav-tabs > li:first-child + li + li + li + li {
    width: 50%;
    border-top: 1px solid #e5e5e5;
  }
  .taskpage .tabs-5 .nav-tabs > li a {
    border-top: none;
    border-bottom: 5px solid #fff;
  }
  .taskpage .tabs-5 .nav-tabs > li.active a {
    border-bottom: 5px solid #e21789;
  }
  .taskpage .tabs-5 .nav-tabs:before {
    width: 100%;
    background-position: center top;
  }
  .taskpage .status-task .status-box {
    width: 100%;
  }
  .taskpage .status-task .status-box > div {
    width: 20%;
  }
  .taskpage .status-task .box-date {
    width: 100%;
    margin: 0;
    padding: 20px 35px;
  }
  .taskpage .status-task .box-date input {
    margin: 0;
    width: 100%;
    height: 65px;
    line-height: 65px;
    font-size: 45px;
    text-align: center;
  }
  .taskpage .status-task .box-date input.input-date-picker {
    background-size: 45px auto;
    background-position: 98% 6px;
  }
  .taskpage .status-task .box-date .button {
    display: none;
  }
  .taskpage .sort-box {
    display: none;
  }
  .taskpage .task-box .title {
    font-size: 60px !important;
    padding: 0 0 0 45px !important;
  }
  .taskpage .task-box .title span {
    font-size: 60px;
  }
  .taskpage .task-box .title:before {
    width: 34px;
    height: 34px;
    background-size: 34px 34px;
    top: 15px;
  }
  .taskpage .task-box .table {
    display: none;
  }
  .taskpage .task-box .collapse > .wrapper-button {
    display: none;
  }
  .taskpage .task-box .collapsing > .wrapper-button {
    display: none;
  }
  .taskpage .collapse,
  .taskpage .collapsing {
    margin: 0 -25px;
  }
  .taskpage .mobile-box {
    display: block;
  }
  .taskpage .mobile-box .task-data {
    padding: 35px 0;
    position: relative;
    background: rgba(0, 0, 0, 0.15);
  }
  .taskpage .mobile-box .task-data .row {
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 20px;
  }
  .taskpage .mobile-box .task-data .row .col-xs-1,
  .taskpage .mobile-box .task-data .row .col-xs-10,
  .taskpage .mobile-box .task-data .row .col-xs-11,
  .taskpage .mobile-box .task-data .row .col-xs-12,
  .taskpage .mobile-box .task-data .row .col-xs-2,
  .taskpage .mobile-box .task-data .row .col-xs-3,
  .taskpage .mobile-box .task-data .row .col-xs-4,
  .taskpage .mobile-box .task-data .row .col-xs-5,
  .taskpage .mobile-box .task-data .row .col-xs-6,
  .taskpage .mobile-box .task-data .row .col-xs-7,
  .taskpage .mobile-box .task-data .row .col-xs-8,
  .taskpage .mobile-box .task-data .row .col-xs-9 {
    padding: 0;
  }
  .taskpage .mobile-box .task-data .row > div label {
    padding: 0 25px;
    font-family: 'HelvethaicaX-45Li';
    font-size: 32px;
    line-height: 90%;
    font-weight: normal;
    margin-bottom: 0;
  }
  .taskpage .mobile-box .task-data .row > div span {
    display: block;
    padding: 0 25px;
    font-family: 'HelvethaicaX75Bd';
    font-size: 38px;
    line-height: 90%;
  }
  .taskpage .mobile-box .task-data .row .date {
    font-size: 32px;
    padding-top: 5px;
  }
  .taskpage .mobile-box .task-data .status {
    width: 140px;
    height: 120px;
    position: absolute;
    right: 0;
    top: 0;
    font-family: 'HelvethaicaX-45Li';
    font-size: 32px;
    line-height: 90%;
    padding: 35px 0 0 18px;
    z-index: 899;
    color: #fff;
    background: #363535;
  }
  .taskpage .mobile-box .task-data .status span {
    display: block;
    font-family: 'HelvethaicaX75Bd';
    font-size: 38px;
    line-height: 90%;
  }
  .taskpage .mobile-box .task-data.draft {
    background: rgba(0, 0, 0, 0.15);
  }
  .taskpage .mobile-box .task-data.wait {
    background: #ffffff;
  }
  .taskpage .mobile-box .task-data.wait .status {
    background: #000;
  }
  .taskpage .mobile-box .task-data.wait .status span {
    color: #0a7ab1;
  }
  .taskpage .mobile-box .task-data.approve {
    background: rgba(10, 122, 177, 0.25);
  }
  .taskpage .mobile-box .task-data.approve .status {
    background: #0a7ab1;
  }
  .taskpage .mobile-box .task-data .wrapper-button {
    padding: 20px 0;
  }
  .taskpage .mobile-box .task-data .btn {
    font-size: 40px;
    height: 58px;
    line-height: 100%;
    padding-top: 0 25px;
  }
}
