﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.HedgeCreditRatingViewModel
@{
    Layout = "~/Areas/CPAIMVC/Views/Shared/_Layout.cshtml";

    string actionName = "EDIT";

    if (ViewBag.PageMode == null)
    {
        ViewBag.PageMode = "EDIT";
    }
    if (ViewBag.ButtonMode == null)
    {
        ViewBag.ButtonMode = "AUTO";
    }
}

@if (TempData["ReponseStatus"] != null)
{
    <script>
        $(document).ready(function () {
            $('#resultPopup').modal({ backdrop: 'static', keyboard: false });
            $('#resultPopup').modal('show');
        });
    </script>
}

<head>
    <title>External Credit Rating</title>
</head>

@using (Html.BeginForm("", "", FormMethod.Post, new Dictionary<string, object>
{ { "role","form" }, { "class","form-horizontal"}, { "data-toggle", "validator" } }))
{
    <div class="row">
        <h1>External Credit Rating</h1>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-md-12">
                <div class="row">
                    <table class="table table-bordered" id="ResultTable">
                        <thead>
                            <tr>
                                <th class="col-xs-1">Order</th>
                                <th class="col-xs-2">Rating</th>
                                <th class="col-xs-2">Creadit Amount (USD)</th>
                                <th class="col-xs-5">DESC</th>
                                <th class="col-xs-1">Edit</th>
                                <th class="col-xs-1">Reorder</th>
                            </tr>
                        </thead>
                        <tbody id="tblCreaditRating">
                            @if (ViewBag.PageMode == "EDIT")
                            {
                                if (Model.creditRating != null && Model.creditRating.Count() > 0)
                                {
                                    for (int i = 0; i < Model.creditRating.Count; i++)
                                    {
                                        <tr>
                                            <td style="text-align: center; vertical-align: middle;">
                                                @Html.HiddenFor(m => m.creditRating[i].ID, Model.creditRating[i].ID)
                                                @Html.HiddenFor(m => m.creditRating[i].Order, Model.creditRating[i].Order)
                                                @Html.LabelFor(m => m.creditRating[i].Order, Model.creditRating[i].Order)
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(m => m.creditRating[i].Rating, new { @class = "form-control", @maxlength = "5" })
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(m => m.creditRating[i].Amount, new { @class = "form-control", @maxlength = "10", @type = "number", @step = "any", @min = 0 })
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(m => m.creditRating[i].Desc, new { @class = "form-control", @maxlength = "500", style = "width:100%;" })
                                            </td>
                                            <td>
                                                <a class="remCP" onclick="delCreaditRating(this); return false;">
                                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                </a>
                                            </td>
                                            <td><span class="swap"><i class="up"></i><i class="down"></i></span></td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td style="text-align: center; vertical-align: middle;">
                                            @Html.HiddenFor(m => m.creditRating[0].Order, Model.creditRating[0].Order)
                                            @Html.LabelFor(m => m.creditRating[0].Order, "1")
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(m => m.creditRating[0].Rating, new { @class = "form-control", @maxlength = "5" })
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(m => m.creditRating[0].Amount, new { @class = "form-control", @maxlength = "10", @type = "number", @step = "any", @min = 0 })
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(m => m.creditRating[0].Desc, new { @class = "form-control", @maxlength = "500", style = "width:100%;" })
                                        </td>
                                        <td>
                                            <a class="remCP" onclick="delCreaditRating(this); return false;">
                                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                        <td><span class="swap"><i class="up"></i><i class="down"></i></span></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                @if (ViewBag.PageMode == "EDIT" || ViewBag.PageMode == "ADD")
                {
                    <div class="row">
                        <input type="button" value="Add Credit Rating" class="btn btn-success" onclick="addCreaditRating(); return false;" />
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="wrapper-button" id="buttonDiv">
        <button type="submit" class="btn btn-primary actionButton">SAVE</button>
        <a class="btn btn-default" href="javascript:history.back()" role="button">BACK</a>
    </div>
}
<!-- Result Popup -->
<div class="modal fade" id="resultPopup" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <p>
                    @TempData["ReponseMessage"]
                </p>
            </div>
            <div class="modal-footer">
                @Html.ActionLink("Close", "Index", new { controller = "HedgeCreditRating" }, htmlAttributes: new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var datatable = $('#ResultTable').DataTable({ "searching": false, "ordering": false, "bLengthChange": false, "bPaginate": false });

    $(document).ready(function () {
        //prevent enter pressed
        $('#ResultTable').on('keyup keypress', function (e) {
            var keyCode = e.keyCode || e.which;
            if (keyCode === 13) { e.preventDefault(); return false; }
        });

        $("#ResultTable").on('change', 'input', function () {
            datatable.destroy();
            $(this).attr("value", $(this).val());
            datatable = $('#ResultTable').DataTable({ "searching": false, "ordering": false, "bLengthChange": false, "bPaginate": false });
        });

        $('#ResultTable').on('click', 'td span.swap .up', function () {
            var previous = this.parentElement.parentElement.parentElement.previousSibling,
                parent = this.parentElement.parentElement.parentElement;
            if (previous && previous.nodeName && previous.nodeName === 'TR') {
                var rowIndex1 = parseInt(datatable.row(previous).index()),
                    rowIndex2 = parseInt(datatable.row(parent).index()),
                    rowData1 = datatable.row(previous).data(),
                    rowData2 = datatable.row(parent).data();

                rowData1.counter++;
                rowData2.counter++;

                datatable.row(rowIndex1).data(rowData2).draw;
                datatable.row(rowIndex2).data(rowData1).draw;
            }
            ReindexData();
        });
        $('#ResultTable').on('click', 'td span.swap .down', function () {
            var next = this.parentElement.parentElement.parentElement.nextSibling,
                parent = this.parentElement.parentElement.parentElement;
            if (next && next.nodeName && next.nodeName === 'TR') {
                var rowIndex1 = parseInt(datatable.row(parent).index()),
                    rowIndex2 = parseInt(datatable.row(next).index()),
                    rowData1 = datatable.row(parent).data(),
                    rowData2 = datatable.row(next).data();

                rowData1.counter++;
                rowData2.counter++;

                datatable.row(rowIndex1).data(rowData2).draw;
                datatable.row(rowIndex2).data(rowData1).draw;
            }
            ReindexData();
        });
    });

    function addCreaditRating() {
        datatable.destroy();
        var i = $("#tblCreaditRating tr").length;
        var newCreditRating = '<tr><td style="text-align: center; vertical-align: middle;">';
        newCreditRating += '<input length="1" id="creditRating_' + i + '__ID" name="creditRating[' + i + '].ID" type="hidden" value="">';
        newCreditRating += '<input length="1" id="creditRating_' + i + '__Order" name="creditRating[' + i + '].Order" type="hidden" value="' + (i + 1) + '">';
        newCreditRating += '<label for="creditRating_' + i + '__Order">' + (i + 1) + '</label></td>';
        newCreditRating += '<td><input class="form-control" id="creditRating_' + i + '__Rating" maxlength="5" name="creditRating[' + i + '].Rating" type="text" value=""></td>';
        newCreditRating += '<td><input class="form-control" id="creditRating_' + i + '__Amount" maxlength="10" min="0" name="creditRating[' + i + '].Amount" step="any" type="number" value=""></td>';
        newCreditRating += '<td><input class="form-control" id="creditRating_' + i + '__Desc" maxlength="500" name="creditRating[' + i + '].Desc" style="width:100%;" type="text" value=""></td>';
        newCreditRating += '<td><a class="remCP" onclick="delCreaditRating(this); return false;"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>';
        newCreditRating += '<td><span class="swap"><i class="up"></i><i class="down"></i></span></td></tr>';
        $("#tblCreaditRating").append(newCreditRating);
        datatable = $('#ResultTable').DataTable({ "searching": false, "ordering": false, "bLengthChange": false, "bPaginate": false });
    }

    function delCreaditRating(e) {
        var conf = confirm("Please confirm to Delete?");
        if (conf) {
            datatable.destroy();
            $(e).parent().parent().remove();
            ReindexData();
            datatable = $('#ResultTable').DataTable({ "searching": false, "ordering": false, "bLengthChange": false, "bPaginate": false });
        }
    }

    function ReindexData() {
        var itemIndex = 0;
        $('#tblCreaditRating tr').each(function () {
            var this_row = $(this);
            this_row.find('input[name$=".ID"]').attr('name', 'creditRating[' + itemIndex + '].ID');
            this_row.find('label').text(itemIndex + 1);
            this_row.find('input[name$=".Order"]').attr('name', 'creditRating[' + itemIndex + '].Order');
            this_row.find('input[name$=".Rating"]').attr('name', 'creditRating[' + itemIndex + '].Rating');
            this_row.find('input[name$=".Amount"]').attr('name', 'creditRating[' + itemIndex + '].Amount');
            this_row.find('input[name$=".Desc"]').attr('name', 'creditRating[' + itemIndex + '].Desc');
            itemIndex++;
        });
    }

</script>
<style>
    .swap i.up:before {
        content: '\25b2';
    }

    .swap i.down:before {
        content: '\25bc';
    }
</style>