﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.VesselActivityViewModel
@{
    ViewBag.Title = "Index";
}

<style type="text/css">
    .table > tbody > tr > td {
        vertical-align: middle;
    }
</style>


@using (Html.BeginForm("Search", "VesselActivity", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="page-header">
        <h1>Vessel Activity</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="col-sm-2 control-label">VESSEL ACTIVITY CODE</label>
                <div class="col-sm-4">
                    @Html.TextBoxFor(model => model.mva_Search.sVACode, new { @class = "form-control" })
                </div>
                <label class="col-sm-2 control-label">VESSEL ACTIVITY KEY</label>
                <div class="col-sm-4">
                    @Html.TextBoxFor(model => model.mva_Search.sVAKey, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">STD PHRASE EN</label>
                <div class="col-sm-4">
                    @Html.TextBoxFor(model => model.mva_Search.sVAStdPhraseEN, new { @class = "form-control" })
                </div>
                <label class="col-sm-2 control-label">STD PHRASE TH</label>
                <div class="col-sm-4">
                    @Html.TextBoxFor(model => model.mva_Search.sVAStdPhraseTH, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">SYSTEM</label>
                <div class="col-sm-4">
                    @Html.DropDownListFor(model => model.mva_Search.sVACSystem, new SelectList(Model.ddl_System, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                </div>

                <label class="col-sm-2 control-label">TYPE</label>
                <div class="col-sm-4">
                    @Html.DropDownListFor(model => model.mva_Search.sVACType, new SelectList(Model.ddl_Type, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">STATUS</label>
                <div class="col-sm-4">
                    @Html.DropDownListFor(model => model.mva_Search.sVACStatus, new SelectList(Model.ddl_Status, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="pull-left">
            @if (ViewBag.action_create)
            {
                @Html.ActionLink("Add", "Create", new { controller = "VesselActivity" }, new { @class = "btn btn-success" })
            }
        </div>
        <div class="pull-right">
            @if (ViewBag.action_search)
            {
                <button type="submit" class="btn btn-primary">Search</button>
            }
        </div>
    </div>
}
<div class="page-header">
    <h1>Search Result</h1>
</div>
<table id="searchResultTable" class="table table-hover display" cellspacing="0">
    <thead>
        <tr>
            <th>VA CODE</th>
            <th>STD PHRASE EN</th>
            <th>STD PHRASE TH</th>
            <th>VA KEY</th>
            <th>SYSTEM</th>
            <th>TYPE</th>
            <th>STATUS</th>
            <th>ACTION</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.mva_Search == null)
        {
            <tr class="waiting">
                <td colspan="8">Waiting for search</td>
            </tr>
        }
        else
        {
            if (Model.mva_Search.sSearchData.Count > 0)
            {
                foreach (var v in Model.mva_Search.sSearchData)
                {
                    <tr>
                        <td>@v.dVACode</td>
                        <td style="text-align:left">@v.dVAStdPhraseEN</td>
                        <td style="text-align:left">@v.dVAStdPhraseTH</td>
                        <td>@v.dVAKey</td>
                        <td>@v.dVACSystem</td>
                        <td>@v.dVACType</td>
                        <td>@v.dVACStatus</td>
                        <td width="100px">
                            @if (ViewBag.action_view)
                            {
                                <a href="@Url.Action("ViewDetail", "VesselActivity", new { VARowID = @v.dVARowID })" title="View Detail">
                                    <img alt="Widget View" src="@Url.Content("../../Content/images/1480695949_file.png")">
                                </a>
                            }
                            @if (ViewBag.action_edit)
                            {
                                <a href="@Url.Action("Edit", "VesselActivity", new { VARowID = @v.dVARowID })" title="Edit">
                                    <img alt="Widget View" src="@Url.Content("../../Content/images/1480695860_edit.png")">
                                </a>
                            }
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $('#searchResultTable').DataTable({
            "columnDefs": [
                //Disble sort on Action Colum
                {
                    "targets": [7],
                    "orderable": false
                }
            ]
        });
    });
</script>